<template>
    <div class="container padding-page" style="font-family: Cabin">
        <div class="row" style="padding-bottom: 16px">
            <div class="col-auto">
                <h3>Cảnh báo giờ giao vé</h3>
            </div>
            <div class="col text-right">
                <button class="btn btn-success" @click="dialogAdd=true"><i class="fa fa-plus"></i> Thêm điều kiện</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="bg-anvui text-white">
                        <tr class="font-size-16">
                            <td>Giờ xuất bến</td>
                            <td>Danh sách khu vực</td>
                            <td>Giờ đặt giao vé cho phép</td>
                            <td>Thao tác</td>
                        </tr>
                    </thead>
                    <tbody>
                    <template v-for="(listDeliveringInOneTime,timeKey) in data">
                        <tr>
                            <td class="font-size-24" style="font-weight: 600;vertical-align: top;line-height: 25px;">
                                <template v-if="updateTime&& updateTime.old == timeKey">
                                    <el-time-picker v-model="updateTime.new" format="HH:mm" value-format="HH:mm" placeholder="hh:mm"></el-time-picker>
                                </template>
                                <template v-else>
                                    {{ timeKey }}
                                </template>
                            </td>
                            <td class="font-size-18">
                                <p style="line-height: 25px">&nbsp;</p>
                                <template v-for="deliver in listDeliveringInOneTime">
                                    {{deliver.regionInfo.name}}<br>
                                </template>
                            </td>
                            <td class="font-size-18">
                                <p style="line-height: 25px">&nbsp;</p>
                                <template v-for="(deliver,d) in listDeliveringInOneTime">
                                    <template v-if="dataUpdate&&dataUpdate.timeStartTripStr == timeKey&& dataUpdate.indexRegion == d">
                                        <p>
                                            Trước <el-time-picker v-model="dataUpdate.time" format="HH:mm" value-format="HH:mm" style="width: 120px" class="font-size-14" size="mini" placeholder="hh:mm"></el-time-picker>
                                            của
                                            <el-select v-model="dataUpdate.day" placeholder="Select" size="mini" class="font-size-14">
                                                <el-option v-for="(d,indexD) in dayBeforeWarning" :key="d.value" :label="d.label" :value="d.value"></el-option>
                                            </el-select>
                                        </p>
                                    </template>
                                    <template v-else>
                                        <template v-if="deliver.time">Trước {{deliver.time}} {{ dayBeforeWarning[deliver.day].label }}<br></template>
                                        <template v-else><span class="text-danger">Chưa cài đặt</span><br></template>
                                    </template>
                                </template>
                            </td>
                            <td class="font-size-18">
                                <p style="line-height: 25px">
                                    <template v-if="updateTime&& updateTime.old == timeKey">
                                        <i class="fa fa-save icon-btn icon-btn-success" @click="saveUpdateTime()"></i> &nbsp;
                                        <i class="fa fa-times icon-btn icon-btn-danger" @click="updateTime=null"></i> &nbsp;<br>
                                    </template>
                                    <template v-else>
                                        <i class="fa fa-edit icon-btn icon-btn-warning" @click="updateTime = { old : timeKey,new : timeKey }"></i> &nbsp;
                                        <i class="fa fa-trash icon-btn icon-btn-danger" @click="removeMultiple(timeKey)"></i> &nbsp;<br>
                                    </template>
                                </p>
                                <template v-for="(deliver,d) in listDeliveringInOneTime">
                                    <template v-if="dataUpdate&&dataUpdate.timeStartTripStr == timeKey&& dataUpdate.indexRegion == d">
                                        <i class="fa fa-save icon-btn icon-btn-success" @click="saveUpdate()"></i> &nbsp;
                                        <i class="fa fa-times icon-btn icon-btn-danger" @click="cancelUpdate()"></i> &nbsp;<br>
                                    </template>
                                    <template v-else>
                                        <i class="fa fa-edit icon-btn icon-btn-warning" @click="dataUpdate = deliver"></i> &nbsp;
                                        <i class="fa fa-trash icon-btn icon-btn-danger"  v-if="deliver.id" @click="remove(deliver)"></i> &nbsp;<br>
                                    </template>
                                </template>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
        <el-dialog custom-class="modal-lg hide-header-dialog-element-ui modal-ui-custom" style="color: #000;" :visible.sync="dialogAdd" @open="refreshDataCreate()">
            <div style="width: 100%;padding:24px 24px 8px 24px">
                <h1 style="font-family: Cabin;font-weight: 500;font-size: 24px;line-height: 29px;">Thêm mới thời gian nhận đặt giao vé</h1>
                <div class="form-group" style="margin-top: 24px">
                    <label style="font-size: 16px;font-weight: 500;line-height: 19px;width: 100%">Giờ xuất bến</label>
                    <el-time-picker v-model="dataCreate.timeStartTrip" format="HH:mm" value-format="HH:mm" class="font-size-16" placeholder="hh:mm"></el-time-picker>
                </div>
                <label style="font-size: 16px;font-weight: 500;line-height: 19px;width: 100%;margin-top: 24px">Giờ đặt giao vé cho phép</label>
            </div>
            <table class="table table-striped font-size-16" v-if="dataCreate.regionsInfo">
                <tbody>
                <template v-for="(region,r) in dataCreate.regionsInfo">
                    <tr>
                        <td style="padding-left: 24px">
                            {{region.name}}
                        </td>
                        <td>
                            Trước <el-time-picker v-model="region.time" format="HH:mm" value-format="HH:mm" style="width: 120px" class="font-size-14" placeholder="hh:mm"></el-time-picker>
                            của
                            <el-select v-model="region.day" placeholder="Select" class="font-size-14">
                                <el-option v-for="(d,indexD) in dayBeforeWarning" :key="d.value" :label="d.label" :value="d.value"></el-option>
                            </el-select>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div style="width: 100%;padding:16px 24px 24px 24px" class="text-right">
                <button class="btn btn-q-danger" @click="dialogAdd=false">Hủy bỏ</button>
                <button class="btn btn-q-success" @click="saveCreate()">Thêm mới</button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import {dayToMs, formatMiliseconds, timeToMs} from "../../class/function";
    import {DayBeforeWarning} from "../../class/timeReceiveDeliveringTickets";

    export default {
        data : function(){
            return {
                time : '',
                day : 1,
                regions : [],
                delivering : [],
                edit : {
                    data : null,
                    indexData : 0,
                    indexRegion : 0,
                },
                dataUpdate : null,
                dayBeforeWarning : DayBeforeWarning.properties(),
                dialogAdd : false,
                dataCreate : {
                    timeStartTrip : '',
                    regionsInfo : null
                },
                updateTime : null
            }
        },
        mounted : function () {
            this.getCompanyRegion();
        },
        computed : {
            data : function () {
                let regions = this.regions;
                let delivering = this.delivering;
                let groupByTime = {};
                $.each(delivering,function (d,de) {
                    let timeStr = formatMiliseconds(de.timeStartTrip,'#hhhh#:#mm#');
                    if(groupByTime[timeStr]){
                        groupByTime[timeStr].push(de);
                    }else{
                        groupByTime[timeStr] = [de];
                    }
                });
                let result = {};
                $.each(groupByTime,function (d,de) {
                    $.each(regions,function (r,re) {
                        let regionInDelivering = _.find(de,function (data) {
                            return data.regionInfo.id === re.id;
                        });

                        let deli = {
                            id : null,
                            time : '',
                            day : 0,
                            timeStartTrip : timeToMs(d),
                            timeReceiveDeliveringTickets : null,
                            regionInfo : re,
                            timeStartTripStr : d,
                            indexRegion : r
                        }
                        if(regionInDelivering){
                            let totalMs = regionInDelivering.timeStartTrip+regionInDelivering.timeReceiveDeliveringTickets;
                            deli.timeReceiveDeliveringTickets = regionInDelivering.timeReceiveDeliveringTickets;
                            deli.time = formatMiliseconds(totalMs,'#hhhh#:#mm#')||'';
                            deli.day = Math.abs(Math.floor(totalMs / 86400000) || 0);// lấy giá trị tuyệt đối vì số ngày sẽ ra âm, mà dayBeforeWarning chỉ là các giá trị dương
                            deli.id = regionInDelivering.id;
                            deli.timeStartTrip = regionInDelivering.timeStartTrip;
                        }
                        if(result[d]){
                            result[d].push(deli);
                        }else{
                            result[d]=[deli];
                        }
                    });
                });
                let ordered = {};
                Object.keys(result).sort().forEach(function(key) {
                    ordered[key] = result[key];
                });
                return ordered;
            }
        },
        methods : {
            getCompanyRegion: function() {
                let self = this;
                let params = {
                    size: 100,
                    page: 0,
                    department: 0
                };

                self.load('getCompanyRegion');

                sendParam({
                    url : urlDBD(API.regionGet),
                    data: params,
                    method: "GET",
                    success : function (res) {
                        self.regions = res.results.result;
                        self.unload('getCompanyRegion');
                        self.getListWarningDeliveringTickets();
                    },
                    functionIfError : function () {
                        self.unload('getCompanyRegion');
                    }
                })
            },
            getListWarningDeliveringTickets : function () {
                let self = this;
                let params = {
                    count: 100,
                    page: 0,
                };

                self.load('getListWarningDeliveringTickets');

                sendJson({
                    url : urlDBD(API.timeReceiveDeliveringTicketsList),
                    data: params,
                    success : function (res) {
                        self.delivering = res.results.timeReceiveDeliveringTickets;
                        self.unload('getListWarningDeliveringTickets');
                    },
                    functionIfError : function () {
                        self.unload('getListWarningDeliveringTickets');
                    }
                })
            },
            update(d,r){
                this.updateData = _.cloneDeep(this.data[d][r]);
            },
            saveUpdate(){
                let self = this;
                self.load('saveUpdate');
                let data = this.dataUpdate;
                let params = {
                    timeStartTrip : data.timeStartTrip,
                    regionInfo : {
                        id : data.regionInfo.id
                    },
                    timeReceiveDeliveringTickets : null,
                }
                if(data.time){
                    params.timeReceiveDeliveringTickets = data.time ? data.day * -86400000 + func.timeToMs(data.time) - func.timeToMs(data.timeStartTripStr) : null;
                    // số ngày nhân với âm vì là tính lùi về trước
                }
                let url = API.timeReceiveDeliveringTicketsCreate;
                if(data.id){
                    params.id=data.id;
                    url = API.timeReceiveDeliveringTicketsUpdate;
                }
                sendJson({
                    url : urlDBD(url),
                    data: params,
                    success : function (res) {
                        self.getListWarningDeliveringTickets();
                        self.cancelUpdate();
                        self.unload('saveUpdate');
                    },
                    functionIfError : function () {
                        self.unload('saveUpdate');
                    }
                })
            },
            cancelUpdate(){
                this.dataUpdate = null;
            },
            remove(data){
                if(!confirm(this.$t('confirm-delete'))){
                    return false;
                }
                let self = this;
                self.load('remove');
                let params = {
                    id : data.id
                }
                sendJson({
                    url : urlDBD(API.timeReceiveDeliveringTicketsDelete),
                    data: params,
                    success : function (res) {
                        self.getListWarningDeliveringTickets();
                        self.cancelUpdate();
                        self.unload('remove');
                    },
                    functionIfError : function () {
                        self.unload('remove');
                    }
                })
            },
            refreshDataCreate : function () {
                let data = [];
                $.each(this.regions,function (i,e) {
                    let region = {
                        id : e.id,
                        name : e.name,
                        province : e.province,
                        department : e.department,
                        time : '',
                        day : 0,
                    }
                    data.push(region);
                });
                this.dataCreate = {
                    timeStartTrip: '',
                    regionsInfo :data
                }
            },
            saveCreate : function () {
                let self = this;
                if(!self.dataCreate.timeStartTrip){
                    notify("Vui lòng chọn giờ xuất bến","error");
                    return false;
                }
                let timeStartTripMs = timeToMs(self.dataCreate.timeStartTrip);
                let params = [];
                $.each(self.dataCreate.regionsInfo,function (r,region) {
                    if(region.time){
                        let deliveringTime = timeToMs(region.time)+dayToMs(region.day)-timeStartTripMs;
                        params.push({
                            timeStartTrip : timeStartTripMs,
                            regionInfo :{
                                id : region.id
                            },
                            timeReceiveDeliveringTickets : deliveringTime
                        });
                    }
                });
                if(params.length == 0){
                    notify("Vui lòng cài đặt giờ giao vé","error");
                    return false;
                }
                self.load('saveCreate');
                sendJson({
                    url : urlDBD(API.timeReceiveDeliveringTicketsCreateMultiple),
                    data: params,
                    success : function (res) {
                        self.getListWarningDeliveringTickets();
                        self.dialogAdd = false;
                        self.unload('saveCreate');
                    },
                    functionIfError : function () {
                        self.unload('saveCreate');
                    }
                })
            },
            removeMultiple : function (time) {
                if(!confirm(this.$t('confirm-delete'))){
                    return false;
                }
                let self = this;
                self.load('removeMultiple');
                let params = [];
                if(self.data[time]){
                    $.each(self.data[time],function (r,reg) {
                        if(reg.id){
                            params.push(reg.id);
                        }
                    });
                }
                sendJson({
                    url : urlDBD(API.timeReceiveDeliveringTicketsDeleteMultiple),
                    data: params,
                    success : function (res) {
                        self.getListWarningDeliveringTickets();
                        self.unload('removeMultiple');
                    },
                    functionIfError : function () {
                        self.unload('removeMultiple');
                    }
                })
            },
            saveUpdateTime : function () {
                let self = this;
                let updateTime = this.updateTime;
                if(updateTime.old === updateTime.new){
                    return false
                }
                let params = [];
                let timeStartTrip = updateTime.new ? timeToMs(updateTime.new) : null;
                if(self.data[updateTime.old]&&timeStartTrip){
                    $.each(self.data[updateTime.old],function (key,value) {
                        if(value.id){
                            params.push({
                                id : value.id,
                                timeStartTrip : timeStartTrip,
                                regionInfo : {
                                    id : value.regionInfo.id
                                },
                                timeReceiveDeliveringTickets : value.timeReceiveDeliveringTickets,
                            });
                        }
                    })
                }
                if(params.length<=0){
                    return false
                }
                self.load('saveUpdateTime');
                sendJson({
                    url : urlDBD(API.timeReceiveDeliveringTicketsUpdateMultiple),
                    data: params,
                    success : function (res) {
                        self.getListWarningDeliveringTickets();
                        self.unload('saveUpdateTime');
                    },
                    functionIfError : function () {
                        self.unload('saveUpdateTime');
                    }
                })
            }
        }
    }
</script>
<style>
    .padding-page {
        padding: 40px 80px;
    }
</style>