<template>
  <div class="w-100">
    <div class="row respon-page">
      <div class="col-12 title">
        <span>QUẢN LÝ APP AN VUI</span>
      </div>
    </div>
    <div class="grid-container">
      <el-card class="box-card">
        <div slot="header">
          <span>Đăng ký thiết bị</span>
        </div>
        <div class="form-container">
          <div class="form-input-block">
            <label class="form-label">Nhà xe</label>
            <el-input :disabled="true" placeholder="Tên nhà xe" v-model="companyName"></el-input>
          </div>
          <div class="form-input-block">
            <label class="form-label">ID máy</label>
            <el-input placeholder="Nhập ID máy" v-model="deviceId"></el-input>
          </div>
          <div class="form-input-block">
            <div></div>
            <div>
              <el-button @click="resetForm()">Làm mới</el-button>
              <el-button
                @click="saveForm()"
                type="primary"
                :loading="loadingTable"
                :disabled="!deviceId"
                >Đăng ký</el-button
              >
            </div>
          </div>
        </div>
      </el-card>
      <el-card class="box-card">
        <div slot="header">
          <span>Danh sách thiết bị đã đăng ký</span>
        </div>
        <div>
          <el-table :data="tableData" style="width: 100%" v-loading="loadingTable" height="500">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column label="Ngày tạo" width="200">
              <template slot-scope="scope">
                <span>{{
                  scope.row.createdDate | customDate("#DD#/#MM#/#YY#")
                }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="deviceId" label="ID máy"> </el-table-column>
            <el-table-column prop="address" label="Trạng thái">
              <template slot-scope="scope">
                <el-tag :type="scope.row.active ? 'success' : 'warning'">{{
                  scope.row.active ? "Đang hoạt động" : "Tạm dừng"
                }}</el-tag>
              </template>
            </el-table-column>
            <el-table-column label="T/C">
              <template slot-scope="scope">
                <el-button type="danger" @click="handleDelete(scope.row)"
                  >Xóa</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  data: function (params) {
    return {
      deviceId: null,
      loadingTable: false,
      companyName: userInfo.userInfo.companyName,
      companyId: userInfo.userInfo.companyId,
      tableData: [],
    };
  },
  mounted: function () {
    this.getListDevice();
  },
  methods: {
    handleDelete: function (item) {
        let self = this;
        self.loadingTable = true;
        const params = {
            id: item.id
        };
        sendJson({
          url: urlDBD(API.deleteDevice),
          data: params,
          success: function (data) {
            self.getListDevice();
            notify(`Đã xóa thiết bị ${item.deviceId} khỏi hệ thống`, "success");
          },
          functionError: function (err) {
              notify(`Có lỗi khi xóa thiết bị khỏi hệ thống: ${err}`, "error");
              self.loadingTable = false;
          },
        });
    },
    resetForm: function () {
        this.deviceId = null;
        this.getListDevice();
    },
    saveForm: function () {
        let self = this;
        self.loadingTable = true;
        const params = {
            companyId : this.companyId,
            deviceId : this.deviceId
        };
        sendJson({
          url: urlDBD(API.createDevice),
          data: params,
          success: function (data) {
            self.getListDevice();
            notify(`Đăng ký cho máy ${item.deviceId} thành công!`, "success");
          },
          functionError: function (err) {
            notify(`Lỗi khi đăng ký:  ${err}`, "error");
            self.loadingTable = false;
          },
        });
    },
    getListDevice: function () {
      let self = this;
      self.loadingTable = true;
      let params = {
        companyId: self.companyId,
      };
      sendParam({
        url: urlDBD(API.getDeviceList),
        data: params,
        type: "get",
        success: function (res) {
          self.tableData = res.results.data.sort((a,b) => b.createdDate - a.createdDate);
          self.loadingTable = false;
        },
        error: function () {
            self.loadingTable = false;
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  .form-input-block {
    display: grid;
    grid-template-columns: 40% 30%;
    grid-gap: 10px;
    .form-label {
      justify-self: end;
      align-self: center;
      margin: 0;
    }
  }
}
</style>