<template>
    <div class="row respon-page">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col">
                    POPUP
                </div>
                <div class="col-auto">
                    <button class="btn btn-success btn-sm" @click="openAddPopup()" v-if="$root.roles.POP_UP_CREATE"><i class="fa fa-plus-circle"></i> {{$t('button.create-popup')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                   <!--  <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Từ Ngày</label>
                            <datepicker v-model="search.startDate"></datepicker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Đến Ngày</label>
                            <datepicker v-model="search.endDate"></datepicker>
                        </div>
                    </div> -->
                    <!--<datepicker-ranger v-model="search" ></datepicker-ranger>-->
                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('from-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="startDate"
                                        format="dd-MM-yyyy"
                                        :picker-options="options"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('to-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="endDate"
                                        :picker-options="options"
                                        format="dd-MM-yyyy"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label class="w-100">&nbsp;</label>
                            <button class="btn btn-primary" @click="getPopups()"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <table class="table table-sm table-bordered">
                <tr class="bg-dark text-white">
                    <th>{{$t('No-')}}</th>
                    <th>{{$t('date-create')}}</th>
                    <th>{{$t('from-date')}}</th>
                    <th>{{$t('to-date')}}</th>
                    <th>{{$t('image')}}</th>
                    <th></th>
                </tr>
                <tr v-if="popup.length<=0">
                    <td colspan="5">{{$t('no-data-available')}}</td>
                </tr>
                <template v-for="(pu,p) in popup">
                    <tr :key="p">
                        <td>{{ p+1 }}</td>
                        <td>{{pu.createdDate|customDate('#DD#-#MM#-#YYYY#')}}</td>
                        <td>{{pu.startDate|customDate('#DD#-#MM#-#YYYY#')}}</td>
                        <td>{{pu.endDate|customDate('#DD#-#MM#-#YYYY#')}}</td>
                        <td><img :src="pu.link" class="img-thumbnail" alt=""></td>
                        <td>
                            <button class="btn btn-sm btn-primary" v-if="$root.roles.POP_UP_UPDATE" @click="openUpdatePopup(pu)"><i class="fa fa-edit" :title="$t('button.edit')"></i></button>
                            <button class="btn btn-sm btn-danger" v-if="$root.roles.POP_UP_DELETE" @click="deletePopup(pu.id)"><i class="fa fa-trash" :title="$t('button.delete')"></i></button>
                        </td>
                    </tr>
                </template>
            </table>
        </div>

        <div class="modal fade bd-example-modal-lg" id="modalAddPopup" tabindex="-1" role="dialog" aria-labelledby="modalAddPopup" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('add-new-popup')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- <div class="col-12">
                                <div class="form-group">
                                    <label>Từ Ngày</label>
                                    <datepicker v-model="dataCreatePopup.startDate"></datepicker>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Đến Ngày</label>
                                    <datepicker v-model="dataCreatePopup.endDate"></datepicker>
                                </div>
                            </div> -->
                            <datepicker-ranger v-model="dataCreatePopup" ></datepicker-ranger>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>{{$t('image')}}</label>
                                    <uploadimage v-model="dataCreatePopup.link"></uploadimage>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <div class="form-group">
                                    <label class="w-100">&nbsp;</label>
                                    <button class="btn btn-primary text-uppercase" @click="doCreatePopup()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapState} from 'vuex';

    let d = new Date()
    export default {
        data : function () {
            return {
                popup : {},
                startDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                startTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                search: {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                },
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dataCreatePopup : {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    link : null,
                    id : null
                }
            }
        },
        mounted :function () {
            this.getPopups();
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            getPopups : function () {
                let self = this;
                // let startToEnd = func.dateStartToEnd(self.search.startDate,self.search.endDate);
                let data = {
                    page : 0,
                    count : func.countMax(),
                    companyId : userInfo.userInfo.companyId,
                    startDate : self.startDate,
                    endDate : self.endDate,
                }
                self.load('getPopups');
                sendJson({
                    url : urlDBD(API.NotificationPopup),
                    data : data,
                    success : function (res) {
                        self.popup = res.results.popUps;
                        self.unload('getPopups');
                    },
                    error :function (res) {
                        self.unload('getPopups');
                    }
                })
            },
            openAddPopup : function () {
                this.dataCreatePopup = {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    link : null,
                }
                $(this.$el).find('#modalAddPopup').modal('show');
            },
            openUpdatePopup : function (popup) {
                this.dataCreatePopup = {
                    startDate : new Date(popup.startDate).customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date(popup.endDate).customFormat('#DD#-#MM#-#YYYY#'),
                    link : popup.link,
                    id : popup.id,
                }
                $(this.$el).find('#modalAddPopup').modal('show');
            },
            doCreatePopup : function () {
                let self = this;
                if(!self.dataCreatePopup.link){
                    notify("Vui lòng chọn ảnh",'error');
                    return false;
                }
                let startToEnd = func.dateStartToEnd(self.dataCreatePopup.startDate,self.dataCreatePopup.endDate);
                let data = {
                    companyId : userInfo.userInfo.companyId,
                    link : self.dataCreatePopup.link,
                    startDate : startToEnd.start,
                    endDate : startToEnd.end,
                }
                if(self.dataCreatePopup.id){
                    data.id = self.dataCreatePopup.id;
                }
                self.load('doCreatePopup');
                sendJson({
                    url : urlDBD(self.dataCreatePopup.id?API.NotificationPopupUpdate:API.NotificationPopupCreate),
                    data : data,
                    success : function (res) {
                        $(self.$el).find('#modalAddPopup').modal('hide');
                        self.getPopups();
                        self.unload('doCreatePopup');
                    },
                    error :function (res) {
                        self.unload('doCreatePopup');
                    }
                })
            },
            deletePopup : function (_id) {
                let self = this;
                if(!confirm(self.$t('confirm-delete'))){
                    return false;
                }
                self.load('deletePopup');
                sendJson({
                    url : urlDBD(API.NotificationPopupDelete),
                    data : {
                        id : _id
                    },
                    success : function (res) {
                        notify(self.$t('delete-success'));
                        self.getPopups();
                        self.unload('deletePopup');
                    },
                    error :function (res) {
                        self.unload('deletePopup');
                    }
                })
            }
        }
    }
</script>
<style type="text/css">
    #modalAddPopup .row{
        display: block !important;
    }
    #modalAddPopup .row.col-6{
        max-width: 100% !important;
    }
    #modalAddPopup .col-6.col-md{
        padding: 0;
        margin-bottom: 15px;
    }
</style>