<template>
    <div class="row">
        <div class="col-12 form-group">
            <label>{{$t('name-item')}}</label>
            <input type="text" class="form-control" v-model="itemName">
        </div>
        <div class="col-12 form-group">
            <label>{{$t('item-type')}}</label>
            <select class="form-control" v-model="itemType">
                <template v-for="(item,index) in itemTypes">
                    <option :value="index">{{item}}</option>
                </template>
            </select>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('revenue-expense')}}</label>
            <select class="form-control" v-model="itemReceiptPayment">
                <template v-for="(irp,index) in itemReceiptPayments">
                    <option :value="index">{{irp}}</option>
                </template>
            </select>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['itemTypes','itemReceiptPayments'],
        data : function () {
            return {
                itemName : '',
                itemType : 1,
                itemReceiptPayment :1
            }
        },
        methods : {
            save : function () {
                let self = this;
                self.load('createItem');
                sendJson({
                    url : urlDBD(API.itemCreate),
                    data : {
                        itemName : self.itemName,
                        itemType : self.itemType,
                        itemReceiptPayment : self.itemReceiptPayment,
                    },
                    success : function (data) {
                        self.$emit('event',{eventName : 'saveSuccess',data : data});
                        self.unload('createItem');
                    },
                    functionIfError : function (data) {
                        self.$emit('event',{eventName : 'saveError',data : data});
                        self.unload('createItem');
                    }
                })
            }
        }
    }
</script>