<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row">
                <div class="col-auto">
                    {{$t('list-revenue-expenses-note')}}
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-outline-primary" @click="openModalAddItem()"><i class="fa fa-plus"></i> {{$t('create-item')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-3 form-group">
                    <label class="font-weight-normal">{{$t('name-item')}}</label>
                    <input type="text" class="form-control" v-model="itemName">
                </div>
                <div class="col-6 col-md-3 form-group">
                    <label class="font-weight-normal">&nbsp;</label>
                    <button class="btn btn-outline-primary btn-block"><i class="fa fa-search"></i> {{$t('search-item')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>{{$t('No-')}}</th>
                        <th>{{$t('name-item')}}</th>
                        <th>{{$t('item-type')}}</th>
                        <th>{{$t('species')}}</th>
                        <th class="text-right">{{$t('option')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="items.length <= 0">
                        <td colspan="5" class="text-center">{{$t('no-data-available')}}</td>
                    </tr>
                    <template v-for="(item,i) in items">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{item.itemName}}</td>
                            <td>{{itemTypes[item.itemType]||''}}</td>
                            <td>{{itemReceiptPayments[item.itemReceiptPayment]||''}}</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary" @click="openModalUpdateItem(item)" :title="$t('button.edit')" data-toogle="tooltip"><i class="fa fa-edit"></i> </button>
                                <button class="btn btn-sm btn-danger" @click="deleteItem(item.itemId)" :title="$t('button.delete')" data-toogle="tooltip"><i class="fa fa-trash"></i> </button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="modalAddItem" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('create-item')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <add-item :itemTypes="itemTypes" :itemReceiptPayments="itemReceiptPayments" ref="AddItemComponent" @event="addItemEvent"></add-item>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddItemComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUpdateItem" tabindex="-1" role="dialog" aria-labelledby="modalUpdateItem" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('update-item')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <update-item :itemTypes="itemTypes" :itemReceiptPayments="itemReceiptPayments" ref="UpdateItemComponent" @event="updateItemEvent"></update-item>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateItemComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddItem from './AddItem';
    import UpdateItem from './UpdateItem';

    export default {
        components : {AddItem,UpdateItem},
        data : function () {
            return {
                itemTypes : {
                    1 : this.$t('asset'),
                    2 : this.$t('capital'),
                    3 : this.$t('hermaphrodite')
                },
                itemReceiptPayments : {
                    1 : this.$t('revenue'),
                    2 : this.$t('expense'),
                },
                itemName : '',
                items : [],
            }
        },
        mounted : function(){
            this.getItems();
        },
        methods : {
            getItems : function () {
                let self = this;
                self.load('getItems');
                let dataReq = {
                    page : 0,
                    count : 50,
                };
                if(self.itemName){
                    dataReq.itemName = self.itemName;
                }
                sendJson({
                    url : urlDBD(API.itemList),
                    data : dataReq,
                    success : function (data) {
                        self.items = data.results.result;
                        self.unload('getItems');
                    },
                    functionIfError : function (data) {
                        self.unload('getItems');
                    }
                });
            },
            openModalAddItem : function () {
                $(this.$el).find('#modalAddItem').modal('show');
            },
            openModalUpdateItem : function (item) {
                this.$refs.UpdateItemComponent.set(item);
                $(this.$el).find('#modalUpdateItem').modal('show');
            },
            addItemEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalAddItem').modal('hide');
                        self.getItems();
                        break;
                    default :
                        break;
                }
            },
            updateItemEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdateItem').modal('hide');
                        self.getItems();
                        break;
                    default :
                        break;
                }
            },
            deleteItem : function (id) {
                let self = this;
                if(!confirm(self.$t('confirm-delete'))){
                    return false;
                }
                self.load('deleteItem');
                sendJson({
                    url : urlDBD(API.itemDelete),
                    data : {
                        id : id,
                    },
                    success : function (data) {
                        self.unload('deleteItem');
                        notify(self.$t('notify.delete-success'),"success");
                        self.getItems();
                    },
                    functionIfError : function (data) {
                        self.unload('deleteItem');
                    }
                })
            }
        }
    }
</script>