<template>
    <el-select :value="value" @input="input" filterable placeholder="Nhập để tìm kiếm" value-key="itemId" :multiple="multiple" :clearable="clearable">
        <el-option
                v-for="item in listOption"
                :key="item.itemId"
                :label="item.itemName"
                :value="item">
        </el-option>
    </el-select>
</template>
<script>
    import {mapState} from 'vuex';
    export default {
        props : {
            value : {
                default : null,
            },
            clearable : {
                default : true
            },
            multiple : {
                default : false
            },
            itemReceiptPayment : {
                default : 1,
            }
        },
        watch : {
            itemReceiptPayment : function(newVal){
                this.get();
            }
        },
        data : function () {
            return {
                listOption : [],
                loading : false,
            }
        },
        mounted : function () {
            this.get()
        },
        methods : {
            get : function (query) {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 100,
                };
                if(self.itemReceiptPayment){
                    dataReq.itemReceiptPayment = self.itemReceiptPayment;
                }
                if(query){
                    dataReq.itemName = query;
                }
                sendJson({
                    url : urlDBD(API.itemList),
                    data : dataReq,
                    success : function (data) {
                        self.listOption = data.results.result;
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            input :function (newVal) {
                this.$emit('input',newVal);
            },
        }
    }
</script>
