<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto">
                    CHÍNH SÁCH HỦY VÉ
                </div>
                <div class="col text-right">
                    <button class="btn btn-success btn-sm" @click="openModalAdd()"  v-if="$root.roles.CANCEL_TICKET_POLICY_CREATE"><i class="fa fa-plus"></i> Tạo chính sách hủy</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-sm table-striped">
                <tbody>
                <tr>
                    <th>STT</th>
                    <th>Tên chính sách</th>
                    <th>Giá trị</th>
                    <th>Thời gian áp dụng</th>
                    <th class="text-right">Hành động</th>
                </tr>
                <tr v-if="cancelTicketPolicies.length<=0">
                    <td colspan="7">Không có dữ liệu</td>
                </tr>
                <template v-for="(cancelTicketPolicy,c) in cancelTicketPolicies">
                    <tr>
                        <td class="font-weight-bold">{{c+1}}</td>
                        <td>{{cancelTicketPolicy.name}}</td>
                        <td><template v-if="cancelTicketPolicy.feeUnit==1">{{ cancelTicketPolicy.fee|number }} VND</template><template v-else>{{cancelTicketPolicy.fee*100}} %</template></td>
                        <td>{{(cancelTicketPolicy.timeRange/60000)}} phút</td>
                        <td class="text-right">
                            <button class="btn btn-primary btn-sm" @click="openModalUpdate(cancelTicketPolicy)" v-if="$root.roles.CANCEL_TICKET_POLICY_UPDATE"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm" @click="deleteCancelTicketPolicy(cancelTicketPolicy.id)"  v-if="$root.roles.CANCEL_TICKET_POLICY_DELETE"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalAddCancelTicketPolicy" tabindex="-1" role="dialog" aria-labelledby="modalAddCancelTicketPolicy" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">TẠO CHÍNH SÁCH HỦY</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <add-cancel-ticket-policy ref="AddCancelTicketPolicyComponent" @event="AddCancelTicketPolicyEvent"></add-cancel-ticket-policy>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddCancelTicketPolicyComponent.save()"><i class="fa fa-save"></i> LƯU</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdateCancelTicketPolicy" tabindex="-1" role="dialog" aria-labelledby="modalUpdateCancelTicketPolicy" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">CẬP NHẬT CHÍNH SÁCH HỦY </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <update-cancel-ticket-policy ref="UpdateCancelTicketPolicyComponent" @event="UpdateCancelTicketPolicyEvent"></update-cancel-ticket-policy>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateCancelTicketPolicyComponent.save()"><i class="fa fa-save"></i> LƯU</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddCancelTicketPolicy from './AddCancelTicketPolicy.vue';
    import UpdateCancelTicketPolicy from './UpdateCancelTicketPolicy.vue';
    export default {
        components : {AddCancelTicketPolicy,UpdateCancelTicketPolicy},
        data : function () {
            return {
                cancelTicketPolicies : [],
            }
        },
        mounted : function(){
            this.getCancelTicketPolicies();
        },
        methods : {
            getCancelTicketPolicies : function () {
                let self = this;
                self.load('getCancelTicketPolicies');
                sendJson({
                    url : urlDBD(API.cancelTicketPolicyList),
                    data : {
                        page : 0,
                        count :30,
                    },
                    success : function (data) {
                        self.cancelTicketPolicies = data.results.CancelTicketPolicies;
                        self.unload('getCancelTicketPolicies');
                    },
                    functionIfError : function (err) {
                        self.unload('getCancelTicketPolicies');
                    }
                })
            },
            openModalAdd : function () {
                this.$refs.AddCancelTicketPolicyComponent.refresh();
                $(this.$el).find('#modalAddCancelTicketPolicy').modal('show');
            },
            AddCancelTicketPolicyEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getCancelTicketPolicies();
                        $(this.$el).find('#modalAddCancelTicketPolicy').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            openModalUpdate : function (policy) {
                this.$refs.UpdateCancelTicketPolicyComponent.refresh(policy);
                $(this.$el).find('#modalUpdateCancelTicketPolicy').modal('show');
            },
            UpdateCancelTicketPolicyEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getCancelTicketPolicies();
                        $(this.$el).find('#modalUpdateCancelTicketPolicy').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            getPromotionType : function(type){
                let str = "Chưa xác định";
                switch (type){
                    case 1 :
                        str = "Tất cả khách hàng";
                        break;
                    case 2 :
                        str = "Chưa xác định";
                        break;
                    case 3 :
                        str = "Chưa xác định";
                        break;
                    case 4 :
                        str = "Chưa xác định";
                        break;
                    default : break;
                }
                return str;
            },
            deleteCancelTicketPolicy :function (id) {
                let self = this;
                if(!confirm("Bạn có chắc chắn muốn xóa ?")){
                    return false;
                }
                self.load('deleteCancelTicketPolicy');
                sendJson({
                    url : urlDBD(API.cancelTicketPolicyDelete),
                    data : {
                        id : id
                    },
                    success : function (data) {
                        self.getCancelTicketPolicies();
                        self.unload('deleteCancelTicketPolicy');
                    },
                    functionIfError : function (err) {
                        self.unload('deleteCancelTicketPolicy');
                    }
                })
            }
        }
    }
</script>