<template>
    <div class="w-100">
        <div class="row">
            <div class="col-12 form-group">
                <label class="font-weight-normal">* Tên chương trình</label>
                <input type="text" class="form-control" placeholder="Mã khuyến mãi" v-model="name">
            </div>
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col">
                        <label class="w-100 font-weight-normal">* Phí hủy / vé</label>
                        <div class="row no-gutters">
                            <div class="col">
                                <input-number v-model="fee" class="form-control" placeholder="Giá trị"></input-number>
                            </div>
                            <div class="col-auto">
                                <select v-model="feeUnit" class="form-control">
                                    <option value="1">VND</option>
                                    <option value="2">%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <label class="font-weight-normal">* Thời gian trước giờ chạy (phút)</label>
                <input-number class="form-control" placeholder="số phút" v-model="timeRange"></input-number>
            </div>
             <div class="col-12 form-group">
                <input type="checkbox" v-model="sendSms" id="sendsms-update"><label class="font-weight-normal" for="sendsms-update"> Gửi tin nhắn </label>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                name : '',
                fee:0,
                feeUnit : 1,
                timeRange : 0,//thời gian trước giờ chạy
                id : '',
                sendSms : '',
            }
        },
        methods : {
            refresh : function (policy) {
                let self = this;
                this.id = policy.id;
                this.name = policy.name;
                this.fee = policy.feeUnit==1?policy.fee:policy.fee*100;
                this.feeUnit = policy.feeUnit;
                this.timeRange = policy.timeRange/60000;
                this.sendSms = policy.sendSms;
                // console.log(policy);
            },
            save : function () {
                let self = this;
                let param = {
                    id : self.id,
                    name : self.name,
                    feeUnit : self.feeUnit,
                    timeRange : (self.timeRange*60000),
                    sendSms : self.sendSms
                }
                // console.log(param);
                if(self.feeUnit ==1){
                    param.fee=self.fee;
                }else{
                    param.fee = self.fee/100;
                }

                self.load('updateCancelTicketPolicy');
                sendJson({
                    url : urlDBD(API.cancelTicketPolicyUpdate),
                    data: param,
                    success : function (data) {
                        self.$emit('event',{eventName : 'saveSuccess',data : data});
                        self.unload('updateCancelTicketPolicy');
                    },
                    functionIfError : function (err) {
                        self.unload('updateCancelTicketPolicy');
                        self.$emit('event',{eventName : 'saveError',data : err});
                    }
                })
            }
        }
    }
</script>