<template>
    <div class="row no-gutters">
        <label>Từ</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-auto">
                    <clock-picker v-model="startTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>
                </div>
                <div class="col">
                    <datepicker v-model="startDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <label class="top5">Đến</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-auto">
                    <clock-picker v-model="endTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>
                </div>
                <div class="col">
                    <datepicker v-model="endDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col form-group">
                    <label class="w-100 top5">Số điện thoại</label>
                    <input type="text" class="form-control" v-model="phoneNumberSearch">
                </div>
                <div class="col">
                    <label class="w-100 top5">&nbsp;</label>
                    <select v-model="searchType" class="form-control">
                        <option :value="0">Gọi vào</option>
                        <option :value="1">Gọi ra</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary btn-block" @click="getHistoryCall()"><i class="fa fa-search"></i> LỌC CUỘC GỌI</button>
        </div>
        <div v-if="loading" class="top10 text-center w-100">Đang tải dữ liệu...</div>
        <div class="col-12 top5" v-else style="max-height:250px;overflow-y:scroll">
            <table class="table table-sm table-striped">
                <tbody>
                <template v-for="(history,h) in historys">
                    <tr v-if="history.call_type==0&&history.caller.toString().indexOf(phoneNumberSearch)!==-1">
                        <template v-if="history.call_status=='miss'">
                            <td>
                                <i class="fa fa-headphones text-danger"></i> [ <span class="text-danger">{{history.caller|phoneNumber}}</span> ] -> [ {{history.agent_id }} ]<br>
                                <span>{{ history.start_time }}</span>
                            </td>
                        </template>
                        <template v-else>
                            <td>
                                <i class="fa fa-headphones text-success"></i> [ <span class="text-success">{{history.caller|phoneNumber}}</span> ] -> [ {{history.agent_id}} ]<br>
                                <span>{{ history.start_time }}</span>
                                <audio controls style="width:-webkit-fill-available;height:25px">
                                    <source :src="history.path" type="audio/ogg">
                                    <source :src="history.path" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </td>
                        </template>
                    </tr>
                    <tr v-if="history.call_type==1&&history.caller.toString().indexOf(phoneNumberSearch)!==-1">
                        <template v-if="history[18]<=0&&(searchType==0||searchType==3)">
                            <td>
                                <i class="fa fa-microphone headphones text-danger"></i> [ {{history.agent_id}} ] -> [ <span class="text-danger">{{history.caller|phoneNumber}}</span> ]<br>
                                <span>{{ history.start_time }}</span>
                            </td>
                        </template>
                        <template v-else>
                            <td>
                                <i class="fa fa-microphone text-success"></i> [ {{history.agent_id}} ] -> [ <span class="text-success">{{history.caller|phoneNumber}}</span> ]<br>
                                <span>{{ history.start_time }}</span>
                                <audio controls style="width:-webkit-fill-available;height:25px">
                                    <source :src="history.path" type="audio/ogg">
                                    <source :src="history.path" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </td>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['phoneSelected'],
        data : function () {
            return {
                startTime : '00:00',
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endTime : new Date().customFormat('#hhhh#:#mm#'),
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                phoneNumberSearch : '',
                searchType :0,
                loading : false,
                historys : [],
            }
        },
        mounted : function () {
            let self = this;
            self.importFile();
            self.setConnection();
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                switch(data.event){
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        break;
                    case 'REJECT' :
                        notify("Chức năng đang được phát triển ");
                        break;
                    case 'END_ANSWER' :
                        endCall();
                        break;
                    case 'CALL' :
                        csCallout(data.phoneNumber);
                        break;
                    case 'END_CALL' :
                        endCall();
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
        },
        methods : {
            importFile : function () {
                let self =this;
                let linkJsFile = [
                    'https://capi.caresoft.vn/js/embed/init-3.0.7.js',
                    'https://capi.caresoft.vn/js/embed/jssip-3.0.7.js',
                    '/public/javascript/careTelecom/web.push.js?v=1.0',
                    'https://capi.caresoft.vn/js/embed/cs_const.js',
                    '/public/javascript/careTelecom/cs_voice.js',
                    '/public/javascript/careTelecom/core.js',
                    '/public/javascript/careTelecom/hmac.js',
                    '/public/javascript/careTelecom/sha256.js',
                    '/public/javascript/careTelecom/enc-base64.js',
                ];
                $.each(linkJsFile,function (k,v) {
                    let f = document.createElement("script");
                    f.setAttribute("src",v);
                    f.async = true;
                    $(self.$el).append(f);
                });
            },
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            setConnection : function () {
                let self= this;
                let data = {
                    "ipphone": self.phoneSelected.number
                };
                let header = {
                    "alg": "HS256",
                    "typ": "JWT"
                };
                let stringifiedHeader = CryptoJS.enc.Utf8.parse(JSON.stringify(header));
                let encodedHeader = this.base64url(stringifiedHeader);

                let stringifiedData = CryptoJS.enc.Utf8.parse(JSON.stringify(data));
                let encodedData = this.base64url(stringifiedData);

                let token = encodedHeader + "." + encodedData;
                let secret = self.phoneSelected.telecomConfig.secret;//"7s564qDQgQtW-Eg";

                let signature = CryptoJS.HmacSHA256(token, secret);
                signature = this.base64url(signature);

                let signedToken = token + "." + signature;
                console.log("signedToken",signedToken);
                this.login(signedToken);
            },
            login : function (signedToken) {
                let self = this;
                $.ajax({
                    type: 'POST',
                    url: 'https://capi.caresoft.vn/'+self.phoneSelected.telecomConfig.companyCode+'/thirdParty/login',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    data: {
                        token : signedToken,
                    },
                    /**
                     * @param response {"status":1,"message":"成功"}
                     */
                    success: function (response) {
                        console.log('response: '+JSON.stringify(response));
                        self.initCall(signedToken);
                    },
                    error: function (error) {
                        console.log("error ",error)
                    }
                })
            },
            initCall : function (signedToken) {
                let self = this;
                window.csInit(signedToken,self.phoneSelected.telecomConfig.companyCode);//csShowDeviceType."vantai"
                //createWs(signedToken);
                window.csShowDeviceType = function(phone)
                {
                    console.log("csShowDeviceType",phone);
                }
                window.csShowEnableVoice = function(phone)
                {
                    console.log("csShowEnableVoice",phone);
                }
                window.csShowCallStatus = function(phone)
                {
                    changeDevice(4);
                    csEnableCall();
                }
                window.csCallRinging = function(phone)
                {
                    console.log("csCallRinging",phone);
                    self.sendEvent({
                        event : 'RINGING_IN',
                        phoneNumber : phone,
                    });
                }
                window.csCurrentCallId = function(phone)
                {
                    console.log("csCurrentCallId",phone);
                }
                window.csCustomerAccept = function()
                {
                    console.log("csCustomerAccept");
                    self.sendEvent({
                        event : 'LISTENING_IN',
                        phoneNumber : '',
                    });
                }
                window.csEndCall = function()
                {
                    console.log("csEndCall");
                    self.sendEvent({
                        event : 'EMPTY',
                        phoneNumber : '',
                    });
                }
                window.showCalloutInfo = function(phone)
                {
                    console.log("phone",phone);
                    self.sendEvent({
                        event : 'RINGING_OUT',
                        phoneNumber : phone,
                    });
                }
                window.csAcceptCall = function()
                {
                    console.log("Đang nghe ");
                    self.sendEvent({
                        event : 'LISTENING_OUT',
                        phoneNumber : '',
                    });
                }
            },
            base64Encoded : function (source) {
                let wordArray = CryptoJS.enc.Utf8.parse(source);
                let result = CryptoJS.enc.Base64.stringify(wordArray);
                return result;
            },
            base64Decoded : function (source) {
                let wordArray = CryptoJS.enc.Utf8.parse(source);
                let result = wordArray.toString(CryptoJS.enc.Utf8);
                return result;
            },
            base64url : function (source) {
                // Encode in classical base64
                let encodedSource = CryptoJS.enc.Base64.stringify(source);

                // Remove padding equal characters
                encodedSource = encodedSource.replace(/=+$/, '');

                // Replace characters according to base64url specifications
                encodedSource = encodedSource.replace(/\+/g, '-');
                encodedSource = encodedSource.replace(/\//g, '_');

                return encodedSource;
            },
            getHistoryCall : function () {
                let self = this;
                let start_time_since  = new Date(func.dateToMS(self.startDate)).customFormat('#YYYY#-#MM#-#DD#')+'T'+self.startTime+':00';
                let start_time_to  = new Date(func.dateToMS(self.endDate)).customFormat('#YYYY#-#MM#-#DD#')+'T'+self.endTime+':00';
                let data = {
                    page : 0,
                    count :500,
                    start_time_since : start_time_since,
                    start_time_to : start_time_to,
                    call_type : self.searchType,
                }
                self.loading= true;
                $.ajax({
                    type: 'GET',
                    url: 'https://api.caresoft.vn/'+self.phoneSelected.telecomConfig.companyCode+'/api/v1/calls',//phone number :0948710444
                    beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer '+self.phoneSelected.telecomConfig.secret); },
                    /**
                     * @param response {"status":1,"message":"成功"}
                     */
                    data : data,
                    success: function (response) {
                        self.loading= false;
                        self.historys = response.calls;
                    },
                    error: function (error) {
                        self.loading= false;
                        console.log("error ",error)
                    }
                })
            }
        },
        watch : {
            phoneSelected :function (val) {
                this.setConnection();
            }
        },
    }
</script>
