<template>
  <div>
    <!--<el-button @click="setConnect()">connect</el-button>-->
  </div>
</template>
<script>
    import PahoMQTT from 'paho-mqtt'
    import MQTT from 'paho-mqtt'
    import Paho from 'paho-mqtt'
    export default {
        props : ['phoneSelected'],
        data : function () {
            return {
                count : 0,
                connect : null,
            }
        },
        mounted : function () {
            let self = this;
            self.setConnect();
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                switch(data.event){
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'REJECT' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'END_ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'CALL' :
                        self.sendCall(data.phoneNumber);
                        break;
                    case 'END_CALL' :
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        // notify("Chức năng đang được phát triển ");
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
        },
        methods : {
            setConnection : function () {
                let self = this;
                console.log(self.phoneSelected)
                self.count=0;
                if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                    self.connect.off(); // thực ch ất là firebase .. websocket chỉ là tên biến
                }
                self.connect = firebaseDatabase.ref().child('call_log').child('SouthTelecom').child(self.phoneSelected.companyId).child(self.phoneSelected.number);
                self.connect.on('value', function (snapshot) {
                    let data = snapshot.val();
                    console.log(data);
                    if (data && data.callStatus) {
                        switch (data.callStatus){
                            case 'Dialing' :
                                if(data.direction=='outbound'){
                                    self.sendEvent({
                                        event : 'RINGING_OUT',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }else{
                                    self.sendEvent({
                                        event : 'RINGING_IN',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }
                                break;
                            case 'DialAnswer' :
                                if(data.direction=='outbound'){
                                    self.sendEvent({
                                        event : 'LISTENING_OUT',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }else{
                                    self.sendEvent({
                                        event : 'LISTENING_IN',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }

                                break;
                            case 'HangUp' :
                                self.sendEvent({
                                    event : 'EMPTY',
                                    phoneNumber : data.phoneNumber,
                                });
                                break;
                            default :
                                self.sendEvent({
                                    event : 'EMPTY',
                                    phoneNumber : '',
                                });
                                break;
                        }
                    }
                });
            },
            // called when the client connects
            onConnect : function () {
                // Once a connection has been made, make a subscription and send a message.
                // console.log(this.phoneSelected)
                this.connect.subscribe(this.phoneSelected.telecomCompanyId + '/'+ this.phoneSelected.companyId + '/' + this.phoneSelected.number);
                console.log("onConnect");

            },
            // called when the client loses its connection
            onConnectionLost: function onConnectionLost(responseObject) {
                if (responseObject.errorCode !== 0) {
                    console.log("onConnectionLost:"+responseObject.errorMessage);
                }
                // setTimeout(this.connect.connect({onSuccess:this.onConnect}),10000);
            },
            // called when a message arrives
            onMessageArrived: function (message) {
                // console.log("onMessageArrived:"+message.payloadString);
                // console.log('message')
                // console.log(message);
                // var preElement = document.getElementById("out");
                // preElement.innerHTML = preElement.innerHTML + '\n Recieved Message: ' + message.payloadString;
                let data = JSON.parse(message.payloadString)
                // console.log('data')
                // console.log(data)
                if (data && data.status) {
                    switch (data.status){
                        case 'Ringing' :
                            this.sendEvent({
                                event : 'RINGING_IN',
                                phoneNumber : data.callNumber,
                            });

                            // else{
                            //     this.sendEvent({
                            //         event : 'RINGING_OUT',
                            //         phoneNumber : data.callNumber,
                            //     });
                            // }
                            break;
                        case 'Up' :
                            this.sendEvent({
                                event : 'LISTENING_IN',
                                phoneNumber : data.phoneNumber,
                            });
                                // this.sendEvent({
                                //     event : 'LISTENING_OUT',
                                //     phoneNumber : data.phoneNumber,
                                // });

                            // else{
                            //     this.sendEvent({
                            //         event : 'LISTENING_IN',
                            //         phoneNumber : data.phoneNumber,
                            //     });
                            // }

                            break;
                        case 'Down' :
                            this.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : data.phoneNumber,
                            });
                            break;
                        default :
                            this.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : '',
                            });
                            break;
                    }
                }
            },
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            setConnect: function () {
                let client = new PahoMQTT.Client("api.anvui.vn", Number(8084),  "web-admin"+func.makeId() + new Date().getTime());
                // let client2 = new Paho.Client("api.anvui.vn", Number(8084), "web-admin"+func.makeId() + new Date().getTime());
                // let mqtt = new Paho.Client(„wss://key:secret@picockpit.local/mqtt“, „clientid“);

                this.connect = client

// set callback handlers
                client.onConnectionLost = this.onConnectionLost;
                client.onMessageArrived = this.onMessageArrived;
// connect the client
                client.connect({
                    onSuccess:this.onConnect,
                    useSSL: true,
                    cleanSession : false
                });

            },
            sendCall : function (phoneNumber) {
                let self = this;
                $.ajax({
                    url: self.phoneSelected.telecomConfig.urlCallOut + '/externalcrm/makecall2.php',
                    type : "get",
                    dataType : 'json',
                    data : {
                        secret : self.phoneSelected.telecomConfig.secret,
                        callernum : self.phoneSelected.number,
                        destnum: phoneNumber,
                        version : 3,
                    },
                    success : function (res) {
                        notify("Gọi ra","success");
                        console.log(res);
                    },
                    error : function (res) {
                        notify("gọi ra thất bại","error");
                    }
                })
            },
        },
        watch : {
            phoneSelected : {
                deep:true,
                handler : function (data) {
                    this.setConnect();
                }
            }
        },
        beforeDestroy : function () {
            let self = this;
            if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                self.connect.disconnect(); // thực ch ất là firebase .. websocket chỉ là tên biến
            }
        }
    }
</script>
