<template>
    <div class="row no-gutters">
        <label>Từ</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-auto">
                    <clock-picker v-model="startTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>
                </div>
                <div class="col">
                    <datepicker v-model="startDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <label class="top5">Đến</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-auto">
                    <clock-picker v-model="endTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>
                </div>
                <div class="col">
                    <datepicker v-model="endDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col form-group">
                    <label class="w-100 top5">Số điện thoại</label>
                    <input type="text" class="form-control" v-model="phoneNumberSearch">
                </div>
                <div class="col">
                    <label class="w-100 top5">&nbsp;</label>
                    <select v-model="searchType" class="form-control">
                        <option :value="1">Gọi vào</option>
                        <option :value="0">Gọi ra</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary btn-block" @click="getHistoryCall()"><i class="fa fa-search"></i> LỌC CUỘC GỌI</button>
        </div>
        <div v-if="loading" class="top10 text-center w-100">Đang tải dữ liệu...</div>
        <div class="col-12 top5" v-else style="max-height:250px;overflow-y:scroll">
            <table class="table table-sm table-striped">
                <tbody>
                <template v-for="(history,h) in historys">
                    <tr v-if="history.type==0&&history.number_phone.toString().indexOf(phoneNumberSearch)!==-1">
                        <template v-if="parseInt(history.talk_time)==0">
                            <td>
                                <i class="fa fa-microphone text-danger"></i><span class="text-danger">{{history.number_phone|phoneNumber}}</span><br>
                                <span>{{ history.date_time }}</span>
                            </td>
                        </template>
                        <template v-else>
                            <td>
                                <i class="fa fa-microphone text-success"></i> <span class="text-success">{{history.number_phone|phoneNumber}}</span> <br>
                                <span>{{ history.date_time }} &nbsp; <a :href="history.recordingfile" target="_blank" class="btn btn-warning btn-sm float-right" :title="'Nghe lại : '+history.talk_time + ' Giây tới số '+history.extension"><i class="fas fa-headphones"></i></a></span>
                            </td>
                        </template>
                    </tr>
                    <tr v-if="history.type==1&&history.number_phone.toString().indexOf(phoneNumberSearch)!==-1">
                        <template v-if="parseInt(history.talk_time)==0">
                            <td>
                                <i class="fa fa-headphones text-danger"></i><span class="text-danger">{{history.number_phone|phoneNumber}}</span><br>
                                <span>{{ history.date_time }}</span>
                            </td>
                        </template>
                        <template v-else>
                            <td>
                                <i class="fa fa-headphones text-success"></i> <span class="text-success">{{history.number_phone|phoneNumber}}</span> <br>
                                <span>{{ history.date_time }} &nbsp; <a :href="history.recordingfile" target="_blank" class="btn btn-warning btn-sm float-right" :title="'Nghe lại : '+history.talk_time + ' Giây tới số '+history.extension"><i class="fas fa-headphones"></i></a></span>
                            </td>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    import io from 'socket.io-client';
    export default {
        props : ['phoneSelected','status'],
        data : function () {
            return {
                connection : null,
                startTime : '00:00',
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endTime : new Date().customFormat('#hhhh#:#mm#'),
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                phoneNumberSearch : '',
                searchType :0,
                loading : false,
                historys : [],
            }
        },
        mounted : function () {
            let self = this;
            self.setConnection();
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                switch(data.event){
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        break;
                    case 'REJECT':
                        self.endCallIn();
                        break;
                    case 'END_ANSWER' :
                        self.endCallIn();
                        break;
                    case 'CALL' :
                        self.callOut(data.phoneNumber);
                        break;
                    case 'END_CALL' :
                        self.endCallOut();
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
        },
        methods : {
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            setConnection : function () {
                let self = this;
                if (typeof self.connection !== "undefined" && self.connection !== null) {
                    self.connection.emit("disconnect");
                    self.connection.disconnect();
                }
                if ("WebSocket" in window) {
                    self.connection = io.connect(self.phoneSelected.telecomConfig.urlConnectWebsocket);

                    self.connection.on('connect', function (data) {
                        var dt = {
                            organization: self.phoneSelected.telecomConfig.organization,//
                            token: self.phoneSelected.telecomConfig.token,//
                            extension: self.phoneSelected.number
                        }
                        self.connection.emit('authen', dt);
                    });

                    self.connection.on('disconnect', function (data) {
                        console.log("check connection :" + data);
                    });

                    self.connection.on("message", function (data) {
                        console.log(data);
//                      nếu đang nghe thì chỉ nhận sự kiện kết thúc
                        if(typeof self.status!=="undefined"&&(self.status ==='LISTENING_IN'||self.status ==='LISTENING_OUT')&&data.code!=='320'&&data.code!=='322'&&data.code!=='328'&&data.code!=='330'){
                            return false;
                        }
                        if (data.code === "316") {
                            self.sendEvent({
                                event : 'RINGING_IN',
                                phoneNumber : data.data['phone_number'],
                            });
                        }
                        // đang nghe
                        if (data.code === "318") {//||data.code === "326"
                            self.sendEvent({
                                event : 'LISTENING_IN',
                                phoneNumber : '',
                            });
                        }
                        //cuộc gọi đến kết thúc hoặc không được tiếp nhận
                        if (data.code === "320" || data.code === "322") {
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : data.data['phone_number'],
                            });
                        }
                        //cuộc gọi đi
                        if (data.code === "314") {
                            self.sendEvent({
                                event : 'RINGING_OUT',
                                phoneNumber : data.data['phone_number'],
                            });
                        }
//                            sự kiện khi keest thuc cuộc gọi
                        if (data.code === "330" || data.code === '328') {
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : data.data['phone_number'],
                            });
                        }
                        if(data.code==="356"&&data.data.status==="DEVICE_NOT_INUSE"&&data.data.extension === self.phoneSelected.number){
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : data.data['phone_number'],
                            });
                        }
//                        console.log("Received: "+ JSON.stringify(data));
                    });
                }else{
                    alert("WebSocket NOT supported by your Browser!");
                }
            },
            callOut : function(phoneNumber){
                if (phoneNumber.toString().length > 11 || phoneNumber.toString().length < 10) {
                    notify("Số điện thoại không đúng định dạng", "error");
                    return false;
                }
                this.connection.emit('click2call', {phone_number: phoneNumber});
            },
            endCallIn : function(){
                let self = this;
                self.connection.emit('hangup', {extension: self.phoneSelected.number, organization: self.phoneSelected.telecomConfig.organization});
            },
            endCallOut : function(){
                let self = this;
                self.connection.emit('hangup', {extension: self.phoneSelected.number});
            },
            getHistoryCall : function () {
                let self = this;
                let start_time_since  = new Date(func.dateToMS(self.startDate)).customFormat('#YYYY#-#MM#-#DD#')+' '+self.startTime+':00';
                let start_time_to  = new Date(func.dateToMS(self.endDate)).customFormat('#YYYY#-#MM#-#DD#')+' '+self.endTime+':00';
                let data = {
                    token:self.phoneSelected.telecomConfig.token,
                    organization:self.phoneSelected.telecomConfig.organization,
                    start_date : start_time_since,
                    end_date : start_time_to,
                    type : self.searchType,
                    SoMayLe : self.phoneSelected.number
                }
                self.loading= true;
                $.ajax({
                    url: self.phoneSelected.telecomConfig.urlReport,
                    type: "GET",
                    data: data,
                    dataType:"json",
                    error: function (xhr, status, error) {
                        self.loading = false;
                        console.log(status + '; ' + error);
                    },
                    success: function (data) {
                        self.loading = false;
                        if(data.result==='failed'){
                            self.historys = [];
                        }
                        if (typeof data.message === 'undefined') {
                            self.historys = data[0].data;
                        }
                    }

                });
            }
        },
        watch : {
            phoneSelected :function (val) {
                this.setConnection();
            }
        },
    }
</script>