<template>
    <div class="row no-gutters">
        <label>Từ</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col">
                    <datepicker v-model="startDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <label class="top5">Đến</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col">
                    <datepicker v-model="endDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-bottom: 20px">
            <div class="row no-gutters">
                <!--<div class="col form-group">-->
                    <!--<label class="w-100 top5">Số điện thoại</label>-->
                    <!--<input type="text" class="form-control" v-model="phoneNumberSearch">-->
                <!--</div>-->
                <div class="col">
                    <label class="w-100 top5">Loại cuộc gọi</label>
                    <el-select class="w-100" v-model="type" :multiple="true" :clearable="true" placeholder="Tất cả">
                        <el-option :key="1" label="Trả lời" value="ANSWERED"></el-option>
                        <el-option :key="2" label="Không trả lời" value="NO ANSWER"></el-option>
                        <el-option :key="3" label="Bận" value="BUSY"></el-option>
                        <el-option :key="4" label="Thất bại" value="FAILED"></el-option>
                    </el-select>
                </div>
            </div>
        </div>
        <div class="col-12" style="padding: 10px; margin-bottom: 10px">
            <button class="btn btn-primary btn-block" @click="getHistory()"><i class="fa fa-search"></i> LỌC CUỘC GỌI</button>
        </div>
        <div v-if="loading" class="top10 text-center w-100">Đang tải dữ liệu...</div>
        <div class="col-12 top5" v-else style="max-height:250px;overflow-y:scroll">
            <table class="table table-sm table-striped">
                <tbody>
                <template v-for="(history,h) in listHistory">
                    <tr>
                        <template  v-if="history.disposition == 'NO ANSWER' || history.disposition == 'BUSY' || history.disposition == 'FAILED'">
                            <td>
                                <i class="el-icon-phone text-danger"></i> [ <span class="text-danger">{{history.src}}</span> ] -> [ {{history.dst}} ]<br>
                                <span>{{ history.calldate | customDate('#DD#/#MM#/#YYYY# #hhhh#:#mm#') }}</span>
                            </td>
                        </template>
                        <template v-if="history.disposition == 'ANSWERED'">
                            <td>
                                <i class="el-icon-phone text-success"></i> [ <span class="text-success">{{history.src}}</span> ] -> [ {{history.dst}} ]<br>
                                <div style="padding: 10px;">
                                    <span>{{ history.calldate | customDate('#DD#/#MM#/#YYYY# #hhhh#:#mm#') }}</span>
                                    <!--<el-button size="mini" type="info" style="margin-left: 10px" @click="getFileCall(history)">Nghe cuộc gọi</el-button>-->
                                </div>
                                <audio controls style="width:-webkit-fill-available;height:25px" v-if="history.showAudio">
                                    <source :src = history.audio type="audio/ogg">
                                    <source :src = history.audio type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </td>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    let d = new Date()
    export default {
        props : ['phoneSelected'],
        data : function () {
            return {
                count : 0,
                connect : null,
                calluuid : '',
                token: null,
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                type: null,
                loading: false,
                listHistory: []
            }
        },
        mounted : function () {
            let self = this;
            self.setConnection();
            if (self.token) {
                self.logOut(self.phoneSelected)
            } else {
                self.getToken(self.phoneSelected)
            }
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                switch(data.event){
                    case 'LOGIN' :
                        if (self.token) {
                            self.logOut(data.phoneSelected)
                        } else {
                            self.getToken(data.phoneSelected)
                        }
                        break;
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'REJECT' :
                        // self.transferCall()
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'END_ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'CALL' :
                        self.sendCall(data.phoneNumber);
                        break;
                    case 'END_CALL' :
                        self.endCall()
                        // notify("Chức năng đang được phát triển ");
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
        },
        beforeDestroy : function () {
            this.connect.off();// dóng kết nối tới firebase
        },
        methods : {
            setConnection : function () {
                let self = this;
                self.count=0;
                if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                    self.connect.off(); // thực ch ất là firebase .. websocket chỉ là tên biến
                }
                self.connect = firebaseDatabase.ref().child('call_log').child('SouthTelecom').child(self.phoneSelected.companyId).child(self.phoneSelected.number);
                self.connect.on('value', function (snapshot) {
                    let data = snapshot.val();
                    console.log(data);
                    if (data && data.callUuid) {
                        self.calluuid = data.callUuid;
                    }
                    if (data && data.callStatus) {
                        switch (data.callStatus){
                            case 'Dialing' :
                                if(data.direction=='outbound'){
                                    self.sendEvent({
                                        event : 'RINGING_OUT',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }else{
                                    self.sendEvent({
                                        event : 'RINGING_IN',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }
                                break;
                            case 'DialAnswer' :
                                if(data.direction=='outbound'){
                                    self.sendEvent({
                                        event : 'LISTENING_OUT',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }else{
                                    self.sendEvent({
                                        event : 'LISTENING_IN',
                                        phoneNumber : data.phoneNumber,
                                    });
                                }

                                break;
                            case 'HangUp' :
                                self.sendEvent({
                                    event : 'EMPTY',
                                    phoneNumber : data.phoneNumber,
                                });
                                break;
                            default :
                                self.sendEvent({
                                    event : 'EMPTY',
                                    phoneNumber : '',
                                });
                                break;
                        }
                    }
                });
            },
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            getToken: function (phoneSelected) {
                console.log("token");
                let self = this;
                let data = {
                    secret_key : self.phoneSelected.telecomConfig.secret,
                    userextension: phoneSelected.number
                }
                console.log(data)
                $.ajax({
                    url: 'https://apps.worldfone.vn/externalcrm/softphonetoken/get.php',
                    type: "post",
                    dataType: "json",
                    data: data,
                    success : function (res) {
                        self.token = res.data.token
                        self.login(res.data.token,phoneSelected)
                    },
                    error : function (res) {
                        notify("Lỗi xác thực","error");
                    }
                })
            },
            logOut: function (phoneSelected) {
                let self = this
                console.log('logOut')
                $.ajax({
                    url: 'http://127.0.0.1:4354/logout?',
                    type: "get",
                    dataType: 'jsonp',
                    crossDomain: true,
                    jsonpCallback: 'wfappcallback',
                    data: {
                        token : this.token,
                    },
                    success : function (res) {
                        self.token = null
                        self.getToken(phoneSelected)
                        console.log(res);
                    },
                    error : function (res) {
                    }
                })
            },
            login: function (token, phoneSelected) {
                console.log('login');
                if(this.phoneSelected.telecomConfig.telecomMode === "ipphone"){
                    return false;
                }
                $.ajax({
                    url: 'http://127.0.0.1:4354/login?',
                    type: "get",
                    dataType: 'jsonp',
                    crossDomain: true,
                    jsonpCallback: 'wfappcallback',
                    data: {
                        token : token,
                        username: phoneSelected.telecomConfig.userName,
                        // password: phoneSelected.telecomConfig.pass
                    },
                    success : function (res) {
                        notify("Đăng nhập máy lẻ thành công","success");
                        console.log(res);
                    },
                    error : function (res) {
                        notify("Đăng nhập máy lẻ thất bại","error");
                    }
                })
            },
            sendCall : function (phoneNumber) {
                let self = this;
                if(self.phoneSelected.telecomConfig.telecomMode === "ipphone"){
                    $.ajax({
                        url: self.phoneSelected.telecomConfig.urlCallOut + '/externalcrm/makecall2.php',
                        type : "get",
                        dataType : 'json',
                        data : {
                            secret : self.phoneSelected.telecomConfig.secret,
                            callernum : self.phoneSelected.number,
                            destnum: phoneNumber,
                            version : 3,
                        },
                        success : function (res) {
                            notify("Gọi ra","success");
                            console.log(res);
                        },
                        error : function (res) {
                            notify("gọi ra thất bại","error");
                        }
                    });
                }else{
                    $.ajax({
                        url: 'http://127.0.0.1:4354/makecall',
                        type: "get",
                        dataType: 'jsonp',
                        crossDomain: true,
                        jsonpCallback: 'wfappcallback',
                        data: {
                            phone : phoneNumber,
                            name: 'none'
                        },
                        success : function (res) {
                            // notify("Gọi ra","success");
                            console.log(res);
                        },
                        error : function (res) {
                            notify("Gọi thất bại","error");
                        }
                    });
                }
                console.log('makecall')

            },
            endCall : function () {
                let self = this;
                console.log('makecall')
                $.ajax({
                    url: 'http://127.0.0.1:4354/hangup',
                    type: "get",
                    dataType: 'jsonp',
                    crossDomain: true,
                    jsonpCallback: 'wfappcallback',
                    data: {
                        token : self.token,
                    },
                    success : function (res) {
                        notify("Kết thúc cuộc gọi","success");
                        console.log(res);
                    },
                    error : function (res) {
                        notify("Kết thúc thất bại","error");
                    }
                })
            },
            getHistory: function () {
                let self = this
                self.loading = true
                let obj = {
                    secret: self.phoneSelected.telecomConfig.secret,
                    startdate: (new Date(func.dateToMS(self.startDate)).getTime())/1000,
                    enddate: (new Date(func.dateToMS(self.endDate)).getTime() + 86340000)/1000,
                    limit: 1000
                };
                $.ajax({
                    url: "https://apps.worldfone.vn/externalcrm/reports.php",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function(res) {
                        let a = []
                        $.each(res.reports, function (r,report) {
                            let b = {
                                disposition : report.disposition,
                                calldate: report.calldate * 1000,
                                src: report.src,
                                dst: report.dst,
                                uniqueid: report.uniqueid,
                                duration: report.duration,
                                audio: "http://apps.worldfone.vn/externalcrm/playback2.php?" + "calluuid=" + report.uniqueid + "&secrect=" + self.phoneSelected.telecomConfig.secret + "&version=3",
                                showAudio: true
                            }
                            a.push(b)
                        })
                        self.loading = false
                        self.listHistory = a
                        console.log(self.listHistory)
                        console.log("success");
                        console.log(res);
                    },
                    error: function(res) {
                        self.loading = false
                        console.log("error");
                        console.log(res);
                    }
                })
            },
            getFileCall: function (history) {
                let self = this
                history.showAudio = true
                console.log(history)
            },
        },
        watch : {
            phoneSelected : {
                deep:true,
                handler : function (data) {
                    this.setConnection();
                }
            }
        },
        beforeDestroy() {
            let self = this;
            if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                self.connect.off(); // thực ch ất là firebase .. websocket chỉ là tên biến
            }
        }
    }
</script>
