<template>
    <div class="row no-gutters">
        <label>Từ</label>
        <div class="col-12">
            <div class="row no-gutters">
                <!--<div class="col-auto">-->
                    <!--<clock-picker v-model="startTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>-->
                <!--</div>-->
                <div class="col">
                    <datepicker v-model="startDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <label class="top5">Đến</label>
        <div class="col-12">
            <div class="row no-gutters">
                <!--<div class="col-auto">-->
                    <!--<clock-picker v-model="endTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>-->
                <!--</div>-->
                <div class="col">
                    <datepicker v-model="endDate" class-input="form-control"></datepicker>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col form-group">
                    <label class="w-100 top5">Số điện thoại</label>
                    <input type="text" class="form-control" v-model="phoneNumberSearch">
                </div>
                <div class="col">
                    <label class="w-100 top5">&nbsp;</label>
                    <select v-model="searchType" class="form-control">
                        <option :value="0">Tất cả</option>
                        <option :value="1">Gọi đến nhỡ</option>
                        <option :value="2">Gọi đến thành công</option>
                        <option :value="3">Gọi đi nhỡ</option>
                        <option :value="4">Gọi đi thành công</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary btn-block" @click="getHistoryCall()"><i class="fa fa-search"></i> LỌC CUỘC GỌI</button>
        </div>
        <div v-if="loading" class="top10 text-center w-100">Đang tải dữ liệu...</div>
        <div class="col-12 top5" v-else style="max-height:250px;overflow-y:scroll">
            <table class="table table-sm table-striped">
                <tbody>
                <template v-for="(history,h) in historys">
                    <tr v-if="(history[3]=='IN'||history[3]=='IN-TRANSFER'||history[3]=='')&&history[5].toString().indexOf(phoneNumberSearch)!==-1">
                        <template v-if="history[18]<=0&&(searchType==0||searchType==1)">
                            <td>
                                <i class="fa fa-headphones text-danger"></i> [ <span class="text-danger">{{history[5]|phoneNumber}}</span> ] -> [ {{history[9]}} ]<br>
                                <span>{{ history[14] }}</span>
                            </td>
                        </template>
                        <template v-if="history[18]>0&&(searchType==0||searchType==2)">
                            <td>
                                <i class="fa fa-headphones text-success"></i> [ <span class="text-success">{{history[5]|phoneNumber}}</span> ] -> [ {{history[9]}} ]<br>
                                <span>{{ history[14] }}</span>
                                <audio controls style="width:-webkit-fill-available;height:25px">
                                    <source :src="history[20]" type="audio/ogg">
                                    <source :src="history[20]" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </td>
                        </template>
                    </tr>
                    <tr v-if="history[3]=='OUT'&&history[9].toString().indexOf(phoneNumberSearch)!==-1">
                        <template v-if="history[18]<=0&&(searchType==0||searchType==3)">
                            <td>
                                <i class="fa fa-microphone headphones text-danger"></i> [ {{history[5]}} ] -> [ <span class="text-danger">{{history[9]|phoneNumber}}</span> ]<br>
                                <span>{{ history[14] }}</span>
                            </td>
                        </template>
                        <template v-if="history[18]>0&&(searchType==0||searchType==4)">
                            <td>
                                <i class="fa fa-microphone text-success"></i> [ {{history[5]}} ] -> [ <span class="text-success">{{history[9]|phoneNumber}}</span> ]<br>
                                <span>{{ history[14] }}</span>
                                <audio controls style="width:-webkit-fill-available;height:25px">
                                    <source :src="history[20]" type="audio/ogg">
                                    <source :src="history[20]" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </td>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['phoneSelected'],
        data : function () {
            return {
                connection : null,
                token :null,
                startTime : '00:00',
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endTime : new Date().customFormat('#hhhh#:#mm#'),
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                phoneNumberSearch : '',
                searchType :0,
                loading : false,
                historys : [],
            }
        },
        mounted : function () {
            let self = this;
            this.importFile();
            this.setConnection();
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                switch(data.event){
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        break;
                    case 'REJECT' :
                        notify("Chức năng đang được phát triển ");
                        break;
                    case 'END_ANSWER' :
                        self.endCall();
                        break;
                    case 'CALL' :
                        self.sendCall(data.phoneNumber);
                        break;
                    case 'END_CALL' :
                        self.endCall();
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
        },
        methods : {
            importFile : function () {
                let self =this;
                let linkJsFile = [
                    'https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js',
                    '/public/javascript/reconnecting-websocket.js',
                ];
                $.each(linkJsFile,function (k,v) {
                    let f = document.createElement("script");
                    f.setAttribute("src",v);
                    f.async = true;
                    $(self.$el).append(f);
                });
            },
            setConnection : function () {
                let self = this;
//        telecomConfig.telecomInfo.telecomConfig = {
//            urlConnectWebsocket :"ws://14.238.82.116:2104/",
//            urlHttpService  : 'http://14.238.82.116:2101/',
//            contextName : "KHAnVui",
//        };
                    // open the connection if one does not exist
                if (self.connection !== undefined && self.connection!==null && self.connection.readyState !== self.connection.CLOSED) {
                    self.connection.close();
                }
                // Create a websocket
                self.connection = new ReconnectingWebSocket(self.phoneSelected.telecomConfig.urlConnectWebsocket);
                self.connection.timeoutInterval = 5400;

                self.connection.onopen = function(event) {
                    self.connection.send(self.phoneSelected.telecomConfig.contextName);
                };

                self.connection.onmessage = function(event) {
                    let data = {};
                    try{
                        data=JSON.parse(event.data);
                    }catch (e) {
                        console.warn(e,event.data);
                    }
                    console.log(data);
//                  nếu có sự kiện kết nối thành công thì lưu lại token
                    if(data.eventName === "ClientConnected"&&data.status === "Success"){
                        self.token = data.token;
                    }
                    if(data.eventName === "IncomingCall" && data.dst === self.phoneSelected.number){ // dst trong lắng nghe là extension tring cuộc gọi
                        self.sendEvent({
                            event : 'RINGING_IN',
                            phoneNumber : data.src,
                        });
                    }
                    if(data.eventName === "ExtensionStatus" &&data.status===2 && data.extension === self.phoneSelected.number){
                        self.sendEvent({
                            event : 'LISTENING_IN',
                            phoneNumber : '',
                        });
                    }

                    if(data.eventName === "clicktocallring" && data.src === self.phoneSelected.number){ // dst trong lắng nghe là extension tring cuộc gọi
                        //nghe cuoc goi đi
                        self.sendEvent({
                            event : 'RINGING_OUT',
                            phoneNumber : data.dst,
                        });
                    }
                    //nghe cuộc gọi đến
                    if(data.eventName==="clicktocallpickup"&&data.src === self.phoneSelected.number){
                        self.sendEvent({
                            event : 'LISTENING_OUT',
                            phoneNumber : data.dst,
                        });
                    }
                    //kết thúc cuộc goi đến
                    if((data.eventName ==="CdrLog" && data.dst===self.phoneSelected.number)||
                        (data.channelstate ==="Idle" && data.extension===self.phoneSelected.number)||
                        (data.eventName ==="ExtensionStatus"&&data.status ==="Idle" && data.extension===self.phoneSelected.number)){
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                    }
                    // kết thúc cuộc gọi đi
                    if(data.eventName === "clicktocallhangup" && data.src === self.phoneSelected.number){
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                    }
                };
            },
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            sendCall  :function (phoneNumber) {
                let self = this;
                $.ajax({
                    type: 'POST',
                    url: self.phoneSelected.telecomConfig.urlHttpService+'webservice/clickToCall',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    data: {
                        username : "tasclick",
                        passwd : "4f50d543d71566e3f6f4e744b2eeloteriaeesdfdfd",
                        srcTimeOut : 15000,
                        src : self.phoneSelected.number,
                        dst : phoneNumber,
                        token : self.token
                    },
                    /**
                     * @param response {"status":1,"message":"æˆåŠŸ"}
                     */
                    success: function (response) {
                        console.log('response: '+response.message)
                    },
                    error: function (error) {
                        console.log("error ",error)
                    }
                })
            },
            endCall : function () {
                let self = this;
                $.ajax({
                    type: 'POST',
                    url:  self.phoneSelected.telecomConfig.urlHttpService+'webservice/callHangUp',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    data: {
                        extension : self.phoneSelected.number,
                    },
                    /**
                     * @param response {"status":1,"message":"æˆåŠŸ"}
                     */
                    success: function (response) {
                        console.log('response: '+response.message)
                    },
                    error: function (error) {
                        console.log("error ",error)
                    }
                });
            },
            getHistoryCall : function () {
                let self = this;
                let dateStartSend = new Date(func.dateToMS(self.startDate)).customFormat('#YYYY#-#MM#-#DD#');
                let dateEndSend = new Date(func.dateToMS(self.endDate)).customFormat('#YYYY#-#MM#-#DD#');
                self.loading=true;
                $.ajax({
                    //http://124.158.15.41:1101/webservice/getcallslog?contextName=agentqueue&fromDate=2018-07-30&toDate=2018-08-04&expType=CSV&expmode=all
                    // url: self.$options.filters.url('cpanel/ticket/historyCalling'),
                    url : self.phoneSelected.telecomConfig.urlHttpService+'webservice/getcallslog',
                    type: "GET",
                    data: {
                        contextName : self.phoneSelected.telecomConfig.contextName,
                        fromDate: dateStartSend,
                        toDate: dateEndSend,
                        expType: "CSV",
                        expmode : "all"
                    },
                    success: function (data) {
                        self.loading=false;
                        data = (data||"").split("\n");
                        let arrKey = data[0].split(',');
                        data.splice(data.length-1,1);
                        let newData=[];
                        for(let i=data.length-1;i>0;i--){
                            newData.push(data[i].split(","));
                        }
                        self.historys = newData;
                    },
                    error : function (err) {
                        self.loading=false;
                        console.log(err);
                    }
                });
            }
        },
        watch : {
            phoneSelected :function (val) {
                this.setConnection();
            }
        },
        beforeDestroy : function () {
            this.connection.close();// dóng kết nối tới firebase
        },
    }
</script>