<template>
    <div></div>
</template>
<script>
    export default {
        props : ['phoneSelected'],
        data : function () {
            return {
                count : 0,
                connect : null,
            }
        },
        mounted : function () {
            let self = this;
            self.setConnection();
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                switch(data.event){
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'REJECT' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'END_ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'CALL' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'END_CALL' :
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        // notify("Chức năng đang được phát triển ");
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
        },
        beforeDestroy : function () {
            this.connect.off();// dóng kết nối tới firebase
        },
        methods : {
            setConnection : function () {
                let self = this;
                self.count=0;
                if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                    self.connect.off(); // thực ch ất là firebase .. websocket chỉ là tên biến
                }
                self.connect = firebaseDatabase.ref().child('call_log').child('VHT').child(self.phoneSelected.number);
                self.connect.on('value', function (snapshot) {
                    let data = snapshot.val().value;
                    console.log(data);
                    switch (data.state){
                        case 'INPROGRESS' :
                            self.sendEvent({
                                event : 'RINGING_IN',
                                phoneNumber : data.fromnumber,
                            });
                            break;
                        case 'CONNECTED' :
                            self.sendEvent({
                                event : 'LISTENING_IN',
                                phoneNumber : data.fromnumber,
                            });
                            break;
                        case 'DISCONNECTED' :
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : data.fromnumber,
                            });
                            break;
                        default :
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : '',
                            });
                            break;
                    }
                });
            },
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            sendCall : function (phoneNumber) {
                let self = this;
                $.ajax({
                    url : 'https://api-popupcontact-02.mipbx.vn:5443/api/v1/call/clicktocall',
                    type : "get",
                    dataType : 'json',
                    data : {
                        secret : self.phoneSelected.telecomConfig.secret,
                        extension : self.phoneSelected.number,
                        phone: phoneNumber,
                    },
                    success : function (res) {
                        notify("Gọi ra","success");
                        console.log(res);
                    },
                    error : function (res) {
                        notify("gọi ra thất bại","error");
                    }
                })
            },
        },
        watch : {
            phoneSelected : {
                deep:true,
                handler : function (data) {
                    this.setConnection();
                }
            }
        },
        beforeDestroy() {
            let self = this;
            if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                self.connect.off(); // thực ch ất là firebase .. websocket chỉ là tên biến
            }
        }
    }
</script>