<template>
    <div class="row no-gutters">
        <label>Từ</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col">
                    <datepicker v-model="startDate" class-input="form-control"></datepicker>
                </div>
                <div class="col-auto select-time-voice">
                    <el-time-select
                            v-model="startTime"
                            format="HH:mm"
                            value-format="timestamp"
                            :picker-options="{
                            start: '00:00',
                            step: '01:00',
                            end: '24:00'
                            }"
                            placeholder="">
                    </el-time-select>
                </div>
            </div>
        </div>
        <label class="top5">Đến</label>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col">
                    <datepicker v-model="endDate" class-input="form-control"></datepicker>
                </div>
                <div class="col-auto select-time-voice">
                    <el-time-select
                            v-model="endTime"
                            format="HH:mm"
                            value-format="timestamp"
                            :picker-options="{
                            start: '00:00',
                            step: '01:00',
                            end: '24:00'
                            }"
                            placeholder="">
                    </el-time-select>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-bottom: 20px">
            <div class="row no-gutters">
                <!--<div class="col form-group">-->
                <!--<label class="w-100 top5">Số điện thoại</label>-->
                <!--<input type="text" class="form-control" v-model="phoneNumberSearch">-->
                <!--</div>-->
                <div class="col">
                    <label class="w-100 top5">Loại cuộc gọi</label>
                    <el-select class="w-100" v-model="status" :multiple="false" :clearable="true" placeholder="Tất cả">
                        <el-option :key="1" label="Trả lời" value="ANSWER"></el-option>
                        <el-option :key="2" label="Không trả lời" value="NOANSWER"></el-option>
                        <el-option :key="3" label="Bận" value="BUSY"></el-option>
                        <el-option :key="4" label="Đang gọi" value="INPROGRESS"></el-option>
                        <el-option :key="5" label="Gữi máy" value="HANGUP"></el-option>
                        <el-option :key="6" label="Hủy" value="CANCEL"></el-option>
                    </el-select>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-bottom: 20px">
            <div class="row no-gutters">
                <div class="col">
                    <label class="w-100 top5">Số điện thoại</label>
                    <el-input v-model="searchPhone"></el-input>
                </div>
            </div>
        </div>
        <div class="col-12" style="padding: 10px; margin-bottom: 10px">
            <button class="btn btn-primary btn-block" @click="getHistory()"><i class="fa fa-search"></i> LỌC CUỘC GỌI</button>
        </div>
        <div v-if="loading" class="top10 text-center w-100">Đang tải dữ liệu...</div>
        <div class="col-12 top5" v-else style="max-height:250px;overflow-y:scroll">
            <table class="table table-sm table-striped">
                <tbody>
                <template v-for="(history,h) in listHistory">
                    <tr>
                        <template  v-if="history.status == 'NOANSWER' || history.status == 'BUSY' || history.status == 'FAILED'">
                            <td>
                                <i class="el-icon-phone text-danger"></i> [ <span class="text-danger">{{history.phone}}</span> ]<br>
                                <span>{{ history.callDate}}</span>
                            </td>
                        </template>
                        <template v-if="history.status == 'ANSWER'">
                            <td>
                                <i class="el-icon-phone text-success"></i> [ <span class="text-success">{{history.phone}}</span> ]<br>
                                <div style="padding: 10px;">
                                    <span>{{ history.callDate}}</span> <br>
                                    <!--<span v-if="history.recordingFile">-->
                                        <!--<iframe frameborder="0" style="overflow: hidden; height: 100%; width: 100%; position: absolute;" :src="history.recordingFile" ></iframe>-->
                                    <!--</span>-->
                                    <!--<span v-if="history.recordingFile"><a :href="history.recordingFile" target="_blank">{{history.recordingFile}}</a></span>-->
                                    <span v-if="history.recordingFile">
                                        <audio controls>
                                            <source :src = history.recordingFile type="audio/ogg">
                                            <source :src = history.recordingFile type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </span>
                                    <!--<el-button size="mini" type="info" style="margin-left: 10px" @click="getFileCall(history)">Nghe cuộc gọi</el-button>-->
                                </div>
                            </td>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['phoneSelected'],
        data : function () {
            return {
                count : 0,
                connect : null,
                calluuid : '',
                token: null,
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                status: null,
                loading: false,
                listHistory: [],
                startTime: '00:00',
                endTime: '24:00',
                searchPhone: null
            }
        },
        mounted : function () {
            let self = this;
            self.setConnection();
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                if(!data){
                    return false;
                }
                switch(data.event){
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'REJECT' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'END_ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        break;
                    case 'CALL' :
                        self.sendCall(data.phoneNumber);
                        break;
                    case 'END_CALL' :
                        self.sendEvent({
                            event : 'EMPTY',
                            phoneNumber : '',
                        });
                        // notify("Chức năng đang được phát triển ");
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
        },
        beforeDestroy : function () {
            this.connect.off();// dóng kết nối tới firebase
        },
        methods : {
            getHistory: function () {
                let self = this;
                if(self.startDate == null  || self.endDate == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }

                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : func.dateToMS(self.startDate) + func.timeToMs(self.startTime),
                    endDate : func.dateToMS(self.endDate) + func.timeToMs(self.endTime),
                    extension: self.phoneSelected.number,
                };
                if (self.status) {
                    params.status = self.status
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-voice-cloud-detail-report',
                    data : params,
                    success : function (data) {
                        let a = data
                        let b = []
                        if(self.searchPhone){
                            $.each(a, function (p, phone) {
                                if (phone.phone == self.searchPhone){
                                    b.push(phone)
                                }
                            })
                            self.listHistory = b
                        } else {
                            self.listHistory = a
                        }
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            },
            setConnection : function () {
                let self = this;
                self.count=0;
                if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                    self.connect.off(); // thực ch ất là firebase .. websocket chỉ là tên biến
                }
                self.connect = firebaseDatabase.ref().child('call_log').child('VoiceCloud').child(self.phoneSelected.companyId).child(self.phoneSelected.number);
                self.connect.on('value', function (snapshot) {
                    let data = snapshot.val();
                    console.log(data);
                    if (!data){
                        return false
                    }
                    switch (data.status){
                        case 'INPROGRESS' :
                            self.sendEvent({
                                event : 'RINGING_IN',
                                phoneNumber : data.phone,
                            });
                            break;
                        case 'HANGUP' :
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : data.phone,
                            });
                            break;
                        default :
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : '',
                            });
                            break;
                    }
                });
            },
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            sendCall : function (phoneNumber) {
                let self = this;
                $.ajax({
                    url : self.phoneSelected.telecomConfig.urlHttpService+'/api/CallControl/dial/from_number/'+
                        self.phoneSelected.number +
                        '/to_number/'+
                        phoneNumber+
                        '/key/'+
                        self.phoneSelected.telecomConfig.secret+
                        '/domain/'+
                        self.phoneSelected.telecomConfig.domain
                    ,
                    type : "get",
                    dataType : 'json',
                    success : function (res) {
                        notify("Gọi ra","success");
                        console.log(res);
                    }
                })
            },
        },
        watch : {
            phoneSelected : {
                deep:true,
                handler : function (data) {
                    this.setConnection();
                }
            }
        },
        beforeDestroy() {
            let self = this;
            if ( self.connect !== null && typeof self.connect.path !== 'undefined') {
                self.connect.off(); // thực ch ất là firebase .. websocket chỉ là tên biến
            }
        }
    }
</script>