<template>
    <div class="row no-gutters">
<!--        <label>Từ</label>-->
<!--        <div class="col-12">-->
<!--            <div class="row no-gutters">-->
<!--                <div class="col-auto">-->
<!--                    <clock-picker v-model="startTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <datepicker v-model="startDate" class-input="form-control"></datepicker>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <label class="top5">Đến</label>-->
<!--        <div class="col-12">-->
<!--            <div class="row no-gutters">-->
<!--                <div class="col-auto">-->
<!--                    <clock-picker v-model="endTime" input-class="form-control text-center" style="width: 70px;"></clock-picker>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <datepicker v-model="endDate" class-input="form-control"></datepicker>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-12">-->
<!--            <div class="row no-gutters">-->
<!--                <div class="col form-group">-->
<!--                    <label class="w-100 top5">Số điện thoại</label>-->
<!--                    <input type="text" class="form-control" v-model="phoneNumberSearch">-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <label class="w-100 top5">&nbsp;</label>-->
<!--                    <select v-model="searchType" class="form-control">-->
<!--                        <option :value="1">Gọi vào</option>-->
<!--                        <option :value="0">Gọi ra</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-12">-->
<!--            <button class="btn btn-primary btn-block" @click="getHistoryCall()"><i class="fa fa-search"></i> LỌC CUỘC GỌI</button>-->
<!--        </div>-->
<!--        <div v-if="loading" class="top10 text-center w-100">Đang tải dữ liệu...</div>-->
<!--        <div class="col-12 top5" v-else style="max-height:250px;overflow-y:scroll">-->
<!--            <table class="table table-sm table-striped">-->
<!--                <tbody>-->
<!--                <template v-for="(history,h) in historys">-->
<!--                    <tr v-if="history.type==0&&history.number_phone.toString().indexOf(phoneNumberSearch)!==-1">-->
<!--                        <template v-if="parseInt(history.talk_time)==0">-->
<!--                            <td>-->
<!--                                <i class="fa fa-microphone text-danger"></i><span class="text-danger">{{history.number_phone|phoneNumber}}</span><br>-->
<!--                                <span>{{ history.date_time }}</span>-->
<!--                            </td>-->
<!--                        </template>-->
<!--                        <template v-else>-->
<!--                            <td>-->
<!--                                <i class="fa fa-microphone text-success"></i> <span class="text-success">{{history.number_phone|phoneNumber}}</span> <br>-->
<!--                                <span>{{ history.date_time }} &nbsp; <a :href="history.recordingfile" target="_blank" class="btn btn-warning btn-sm float-right" :title="'Nghe lại : '+history.talk_time + ' Giây tới số '+history.extension"><i class="fas fa-headphones"></i></a></span>-->
<!--                            </td>-->
<!--                        </template>-->
<!--                    </tr>-->
<!--                    <tr v-if="history.type==1&&history.number_phone.toString().indexOf(phoneNumberSearch)!==-1">-->
<!--                        <template v-if="parseInt(history.talk_time)==0">-->
<!--                            <td>-->
<!--                                <i class="fa fa-headphones text-danger"></i><span class="text-danger">{{history.number_phone|phoneNumber}}</span><br>-->
<!--                                <span>{{ history.date_time }}</span>-->
<!--                            </td>-->
<!--                        </template>-->
<!--                        <template v-else>-->
<!--                            <td>-->
<!--                                <i class="fa fa-headphones text-success"></i> <span class="text-success">{{history.number_phone|phoneNumber}}</span> <br>-->
<!--                                <span>{{ history.date_time }} &nbsp; <a :href="history.recordingfile" target="_blank" class="btn btn-warning btn-sm float-right" :title="'Nghe lại : '+history.talk_time + ' Giây tới số '+history.extension"><i class="fas fa-headphones"></i></a></span>-->
<!--                            </td>-->
<!--                        </template>-->
<!--                    </tr>-->
<!--                </template>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
    </div>
</template>
<script>
    // import io from 'socket.io-client';
    export default {
        props : ['phoneSelected','status'],
        data : function () {
            return {
                connection : null,
                startTime : '00:00',
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endTime : new Date().customFormat('#hhhh#:#mm#'),
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                phoneNumberSearch : '',
                searchType :0,
                loading : false,
                historys : [],
            }
        },
        mounted :async function () {
            let self = this;
            await self.importFile();
            self.$root.$on('telecomCompany',function (data) {
                console.log(data);
                switch(data.event){
                    case 'ANSWER' :
                        notify("Chức năng đang được phát triển ");
                        break;
                    case 'REJECT':
                        self.endCallIn();
                        break;
                    case 'END_ANSWER' :
                        self.endCallIn();
                        break;
                    case 'CALL' :
                        self.callOut(data.phoneNumber);
                        break;
                    case 'END_CALL' :
                        self.endCallOut();
                        break;
                    default :
                        console.log(data);
                        break;
                }
            });
            let itv = setInterval(function () {
                if(window.io){
                    self.setConnection();
                    clearInterval(itv);
                }
            },200);

            window.addEventListener('beforeunload',  ()=> {
                this.connection.destroy();
                console.log('refresh');
            });
        },
        methods : {
            importFile : async function () {
                let self =this;
                let linkJsFile = [
                    'https://dial.voip24h.vn/socket.io.js',
                ];
                $.each(linkJsFile,function (k,v) {
                    let f = document.createElement("script");
                    f.setAttribute("src",v);
                    f.async = true;
                    $(self.$el).append(f);
                });
            },
            sendEvent : function (data) {
                this.$root.$emit('telecom',data);
            },
            setConnection : function () {
                let self = this;
                if (typeof self.connection !== "undefined" && self.connection !== null) {
                    self.connection.destroy();
                }
                if ("WebSocket" in window) {
                    self.connection = window.io.connect(self.phoneSelected.telecomConfig.socketUrl,{transports: ['websocket'],reconnection:true});
                    self.connection.on('connecting', function (e){
                        /* Hệ thống trạng thái ổn định cho phép kết nối*/
                        self.connection.emit("sign",self.phoneSelected.telecomConfig.key);
                    });
                    self.connection.on('signing', function (){
                        console.log("signing");
                        /* Khóa API đang trong quá trình xác thực */
                    });
                    self.connection.on('say', function (){
                        /* Hỏi vòng lợp giữ phiên kết nối say hello */
                        setInterval(function(){self.connection.emit("hello",self.connection.id);},10000);
                    });
                    self.connection.on("response",function(data){
                        /* Sự kiện Events và Một Số Syntax trả về */
                        console.log(data);
                        if (data.state === "Ring"&&self.phoneSelected.number == data.extend) {
                            self.sendEvent({
                                event : 'RINGING_IN',
                                phoneNumber : data.phone,
                            });
                        }
                        // đang nghe
                        if (data.state === "Up"&&self.phoneSelected.number == data.extend) {//||data.code === "326"
                            self.sendEvent({
                                event : 'LISTENING_IN',
                                phoneNumber : data.phone,
                            });
                        }
                        //cuộc gọi đến kết thúc hoặc không được tiếp nhận
                        if (data.state === "Hangup"&&self.phoneSelected.number == data.extend) {
                            self.sendEvent({
                                event : 'EMPTY',
                                phoneNumber : data.phone,
                            });
                        }
                    });
                    self.connection.on("Bandwidth",function(e){
                        /* Đạt ngưỡng cho phép kết nối vào tổng đài */
                        self.connection.destroy();
                    });
                    self.connection.on("error",function(e){
                        /* Lỗi sự cố hoặc lỗi kết nối, lỗi key v.v.v.v */
                        self.connection.destroy();
                    });
                    self.connection.on("connectionRefused",function(e){
                        /* API chính xác nhưng tổng đài từ chối kết nối */
                        self.connection.destroy();
                    });
                    self.connection.on("connectTimeout",function(e){
                        /* API chính xác nhưng tổng đài từ chối kết nối đang bảo trì hoặc sự cố*/
                        self.connection.destroy();
                    });
                    self.connection.on("connectEnd",function(e){
                        /* API chính xác nhưng tổng đài từ chối kết nối do vòng đời kết nối quá giới hạn hoặc sự cố Tổng đài*/
                        self.connection.destroy();
                    });
                    self.connection.on("disconnectedServer",function(e){
                        /* API chính xác nhưng tổng đài từ chối kết nối đang bảo trì hoặc sự cố*/
                        self.connection.destroy();
                    });
                    self.connection.on("disconnect",function(e){
                        /*Tín hiệu mạng Clients với tổng đài đang không kết nối với nhau. Rớt Ping, Chặn Port .v.v.v.v*/
                        self.connection.connect();
                    });
                    self.connection.on("connected",function(e){
                        /*Tín hiệu mạng Clients với tổng đài đang không kết nối với nhau. Rớt Ping, Chặn Port .v.v.v.v*/
                        console.log('connected')
                    });
                }else{
                    alert("WebSocket NOT supported by your Browser!");
                }
            },
            callOut : function(phoneNumber){
                let self = this;
                if (phoneNumber.toString().length > 11 || phoneNumber.toString().length < 10) {
                    notify("Số điện thoại không đúng định dạng", "error");
                    return false;
                }
                sendParam({
                    url : self.phoneSelected.telecomConfig.httpUrl + '/dial',
                    data : {
                        voip : self.phoneSelected.telecomConfig.key,
                        secret : self.phoneSelected.telecomConfig.secret,
                        sip : self.phoneSelected.number,
                        phone : phoneNumber
                    },
                    success : function () {
                        notify("đang thực hiện gọi ra " +phoneNumber,'success');
                    },
                    error : function () {
                        notify("Gọi ra thất bại","error");
                    }
                })
            },
            endCallIn : function(){
                let self = this;
                sendParam({
                    url : self.phoneSelected.telecomConfig.httpUrl + '/dial',
                    data : {
                        voip : self.phoneSelected.telecomConfig.key,
                        secret : self.phoneSelected.telecomConfig.secret,
                        sip : self.phoneSelected.number,
                    },
                    success : function () {

                    },
                    error : function () {
                        // notify("Gọi ra thất bại","error");
                    }
                })
            },
            endCallOut : function(){
                let self = this;
                sendParam({
                    url : self.phoneSelected.telecomConfig.httpUrl + '/dial',
                    data : {
                        voip : self.phoneSelected.telecomConfig.key,
                        secret : self.phoneSelected.telecomConfig.secret,
                        sip : self.phoneSelected.number,
                    },
                    success : function () {

                    },
                    error : function () {
                        // notify("Gọi ra thất bại","error");
                    }
                })
            },
            getHistoryCall : function () {
                let self = this;
                let start_time_since  = new Date(func.dateToMS(self.startDate)).customFormat('#YYYY#-#MM#-#DD#')+' '+self.startTime+':00';
                let start_time_to  = new Date(func.dateToMS(self.endDate)).customFormat('#YYYY#-#MM#-#DD#')+' '+self.endTime+':00';
                let data = {
                    token:self.phoneSelected.telecomConfig.token,
                    organization:self.phoneSelected.telecomConfig.organization,
                    start_date : start_time_since,
                    end_date : start_time_to,
                    type : self.searchType,
                    SoMayLe : self.phoneSelected.number
                }
                self.loading= true;
                $.ajax({
                    url: self.phoneSelected.telecomConfig.urlReport,
                    type: "GET",
                    data: data,
                    dataType:"json",
                    error: function (xhr, status, error) {
                        self.loading = false;
                        console.log(status + '; ' + error);
                    },
                    success: function (data) {
                        self.loading = false;
                        if(data.result==='failed'){
                            self.historys = [];
                        }
                        if (typeof data.message === 'undefined') {
                            self.historys = data[0].data;
                        }
                    }

                });
            }
        },
        watch : {
            phoneSelected :function (val) {
                this.setConnection();
            }
        },
        beforeDestroy() {
            this.connection.destroy();
            console.log('destroy');
        }
    }
</script>
