<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="col-12 title-ret">
        Quản lý phân quyền bán vé
      </div>
    </el-row>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col">
        <div class="form-group">
          <el-switch
                  v-model="companyConfig.CONFIG.USE_MANAGE_PERMISSION_SELL_TICKET.valueUpdate"
                  @change="updateSystemSetting"
                  active-color="#13ce66">
          </el-switch>
          <label style="margin-left: 10px;">Sử dụng chức năng phân quyền theo tuyến</label>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;" v-if="!companyConfig.CONFIG.USE_MANAGE_PERMISSION_SELL_TICKET.valueUpdate">
      <div class="col">
        <div class="form-group">
          <label style="margin-left: 55px;">Không sử dụng chức năng phân quyền theo tuyến</label>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;" v-if="companyConfig.CONFIG.USE_MANAGE_PERMISSION_SELL_TICKET.valueUpdate">
      <div class="col">
        <div class="form-group">
          <label style="margin-left: 55px;">Chức năng phân quyền theo tuyến đã được bật</label>
        </div>
      </div>
    </div>
    <div>
      <div class="header-ret">
        <div class="col-12">
          <div class="row">
            <div class="col-10">
              <div class="form-group" style="width: 200px">
                <!--<label>Tìm kiếm</label><br>-->
                <!--<el-input></el-input>-->
                <!--<el-button @click="getlist()">Get</el-button>-->
              </div>
            </div>
            <div class="col-2" style="">
              <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-search btn-block" @click="addPermission()">
                  Thêm phân quyền
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" v-loading="listPermission.loading | permission.loading" >
          <template>
            <el-table
                    :data="listPermission.list"
                    :header-cell-style="tableHeaderColor"
                    :row-style="tableRowStyle"
                    :row-class-name="getRowClass"
                    border>
              <el-table-column
                      label="Tuyến"
                      min-width="300px"
                      >
                <template slot-scope="scope">
                  {{scope.row.routeInfo.name}}
                </template>
              </el-table-column>
              <el-table-column
                      label="Đại lý"
                      min-width="200px"
                      class-name="text-center">
                <template slot-scope="scope" v-if="scope.row.agencies">
                  <span v-for="item in scope.row.agencies">
                    {{item.fullName + ','}}
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                      label="Nhân viên"
                      min-width="200px"
                      class-name="text-center">
                <template slot-scope="scope" v-if="scope.row.staffs">
                  <span v-for="item in scope.row.staffs">
                    {{item.fullName + ','}}
                  </span>
                </template>
              </el-table-column>
              <el-table-column label="Quyền bán vé" fixed="right">
                <template slot-scope="scope">
                  <div  v-loading="scope.row.loading">
                    <el-button type="primary" icon="el-icon-edit" @click="editPermission(scope.row)" size="mini" :loading="scope.row.loading" circle></el-button>
                    <el-popconfirm :title="$t('notify.confirm-delete')" confirmButtonText="Xóa" @onConfirm="deletePermission(scope.row)" cancel-button-text="Hủy">
                      <el-button type="danger" slot="reference" icon="el-icon-delete" circle size="mini"></el-button>
                    </el-popconfirm>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </template>
        </div>
      </div>
    </div>
    <el-dialog title="Thêm phân quyền" :visible.sync="dialogAddVisible" width="70%" @close="handleClose">
      <el-form :model="form">
        <div class="row">
          <div class="col">
            <label>Đơn vị phân quyền</label>
            <br>
            <el-form-item label="Đại lý " :label-width="formLabelWidth">
              <br>
              <select-agency class="w-100" :multiple="true" v-model="permission.agencies"></select-agency>
            </el-form-item>
            <el-form-item label="Cấp quản lý" :label-width="formLabelWidth">
              <br>
              <e-select-level-agency :multiple="true" class="w-100" v-model="permission.levelsOfAgency"></e-select-level-agency>
            </el-form-item>
            <el-form-item label="Phòng vé" :label-width="formLabelWidth">
              <br>
              <select-point class="w-100" :value="room" :multiple="true" v-model="permission.rooms" :pointType="8"></select-point>
            </el-form-item>
            <el-form-item label="Nhân viên" :label-width="formLabelWidth">
              <br>
              <e-select-user class="w-100" v-model="permission.staffs" :value="permission.staffs" :multiple="true" :clearable="true"></e-select-user>
            </el-form-item>
          </div>
          <div class="col">
            <label>Tuyến</label>
            <br>
            <el-form-item label="Tuyến" :label-width="formLabelWidth">
              <br>
              <select-route v-model="permission.routeInfo" placeholder="Nhập để tìm kiếm" class="w-100" :clearable="true" :multiple="true"></select-route>
            </el-form-item>
          </div>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
                <el-button @click="handleClose()">Hủy</el-button>
                <el-button type="primary" @click="confirmAddPermission()">Tạo</el-button>
            </span>
    </el-dialog>
    <el-dialog title="Sửa phân quyền " :visible.sync="dialogEditVisible" @close="handleClose">
      <el-form :model="form">
        <div class="row">
          <div class="col">
            <label>Đơn vị phân quyền</label>
            <br>
            <el-form-item label="Đại lý " :label-width="formLabelWidth">
              <br>
              <select-agency class="w-100" :multiple="true" v-model="permission.agencies"></select-agency>
            </el-form-item>
            <el-form-item label="Cấp quản lý" :label-width="formLabelWidth">
              <br>
              <e-select-level-agency class="w-100" :multiple="true" v-model="permission.levelsOfAgency"></e-select-level-agency>
            </el-form-item>
            <el-form-item label="Phòng vé" :label-width="formLabelWidth">
              <br>
              <select-point class="w-100" :value="room" :multiple="true" v-model="permission.rooms" :pointType="8"></select-point>
            </el-form-item>
            <el-form-item label="Nhân viên" :label-width="formLabelWidth">
              <br>
              <e-select-user class="w-100" v-model="permission.staffs" :value="permission.staffs" :multiple="true" :clearable="true"></e-select-user>
            </el-form-item>
          </div>
          <div class="col">
            <label>Tuyến</label>
            <br>
            <el-form-item label="Tuyến" :label-width="formLabelWidth">
              <br>
              <select-route v-model="permission.routeInfo" placeholder="Nhập để tìm kiếm" class="w-100" :clearable="true" :multiple="true"></select-route>
            </el-form-item>
          </div>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
                <el-button @click="dialogEditVisible = false">Hủy</el-button>
                <el-button type="primary" @click="confirmEditPermission()">Sửa</el-button>
            </span>
    </el-dialog>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import {Permission,ListPermission} from "../../class/permission_sell_ticket";
    import SelectPoint from '../Point/SelectPoint';
    import SelectAgency from '../Agency/SelectAgency';
    import ESelectLevelAgency from '../LevelAgency/ESelectLevelAgency'
    import {mapState} from 'vuex'
    export default {
        components : {SelectRoute, ESelectUser, SelectUser, SelectPoint,SelectAgency, ESelectLevelAgency},
        data: function(){
            return {
                permission : new Permission(),
                listPermission : new ListPermission(),
                dialogAddVisible: false,
                dialogEditVisible: false,
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: 'auto',
                isUseFunction: true,
            }
        },
        mounted: function(){
            this.getlist()
        },
        methods: {
            getlist: function () {
              this.listPermission.getList()
            },
            getRowClass(rowIndex) {
                if (rowIndex.rowIndex === 0) {
                    return 'info-row'
                } else {
                    return ''
                }
            },
            tableRowStyle({ row, rowIndex }) {
                if (rowIndex === 0) {
                    return 'background-color: #CFD3DB;font-weight: 500;color: #000000'
                }
            },
            tableHeaderColor({ row, column, rowIndex, columnIndex }) {
                if (rowIndex === 0) {
                    return 'background-color: #CFD3DB;font-weight: 500;color: #000000'
                }
            },
            addPermission : function () {
                this.dialogAddVisible = true

            },
            confirmAddPermission : function () {
                let self = this
                self.dialogAddVisible = false
                console.log(self.permission)
                self.permission.sendAddPermission(function () {
                    self.listPermission.getList()
                })
                self.permission.permittedUsers = null
            },
            editPermission : async function (data) {
                data.routeInfo.routeName = data.routeInfo.name
                data.routeInfo.routeId = data.routeInfo.id
                if (data.levelsOfAgency) {
                    $.each(data.levelsOfAgency,function (t,level) {
                        level.levelAgencyId = level.id
                    });
                }
                let a = []
                a.push(data.routeInfo)
                this.permission = await _.cloneDeep(data)
                this.permission.routeInfo = a
                this.dialogEditVisible = true
            },
            confirmEditPermission : function () {
                let self = this
                self.dialogEditVisible = false
                self.permission.sendEditPermission(function () {
                    self.listPermission.getList()
                })
            },
            deletePermission : function (report) {
                let self = this
                self.permission.sendDeletePermission(report,function () {
                    self.listPermission.getList()
                })
            },
            handleClose : function () {
                this.dialogAddVisible = false
                this.permission = new Permission()
                this.permissionEdit = {}
            },
            updateSystemSetting : function () {
                let self = this;
                self.companyConfig.update();
            },
        },
        computed: {
            ...mapState({
                room: state => state.room,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            })
        },
        watch: {
            list: function () {
            }
        }
    }
</script>
<style scoped>
  .el-table .info-row {
    background: #c9e5f5;
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    /*background: #ECEDF1;*/
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>