<template>
    <div class="container" style="margin-top: 80px">
        <div class="row">
            <div class="col-auto heading-title">
                Chính sách giá vé niêm yết
            </div>
            <div class="col text-right">
                <button class="btn btn-success float-right" @click="add()">Thêm chính sách</button>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-6 col-md form-group">
                <label>Chọn tuyến</label>
                <select-route v-model="pricePolicies.route" class="w-100"></select-route>
            </div>
            <div class="col-6 col-md form-group">
                <label>Chọn sơ đồ</label>
                <select-box-seat-map v-model="pricePolicies.seatMap" class="w-100"></select-box-seat-map>
            </div>
            <div class="col-6 col-md form-group">
                <label>Chọn ngày áp dụng</label>
                <el-date-picker type="date" format="dd-MM-yyyy" :picker-options="options" value-format="yyyyMMdd" placeholder="chọn ngày" v-model="pricePolicies.date" class="w-100"></el-date-picker>
            </div>
            <div class="col-6 col-md form-group">
                <label class="w-100">&nbsp;</label>
                <el-button type="primary" plain  @click="pricePolicies.getList()" :loading="pricePolicies.loading">Lọc kết quả</el-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" v-loading="pricePolicies.loading">
                <el-table :data="pricePolicies.list" border style="width: 100%">
                    <el-table-column type="index" :index="function($event) {return $event+1}" class-name="text-center" label="STT"></el-table-column>
                    <el-table-column label="Tuyến">
                        <template slot-scope="scope">
                            {{scope.row.route.routeName}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Sơ đồ">
                        <template slot-scope="scope">
                            {{scope.row.seatMap.name}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Ngày bắt đầu">
                        <template slot-scope="scope">
                            {{scope.row.startDate|strToDate}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Ngày kết thúc">
                        <template slot-scope="scope">
                            {{scope.row.endDate<0?'':scope.row.endDate|strToDate}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Tùy chọn" fixed="right">
                        <template slot-scope="scope">
                            <div  v-loading="scope.row.loading">
                                <el-button type="primary" icon="el-icon-edit" @click="update(scope.row)" size="mini" :loading="scope.row.loading" circle></el-button>
                                <el-popconfirm :title="$t('notify.confirm-delete')" confirmButtonText="Ok" @onConfirm="scope.row.remove({success: function() {pricePolicies.getList()}})" cancel-button-text="Cancel">
                                    <el-button type="danger" slot="reference" icon="el-icon-delete" circle size="mini"></el-button>
                                </el-popconfirm>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="col-12 top20 text-center">
                <el-link type="primary" @click="pricePolicies.getList({page : 1})" v-if="!pricePolicies.loading&&pricePolicies.loadMore">Xem thêm</el-link>
            </div>
        </div>

        <el-dialog custom-class="modal-lg padding-24" style="color: #000" :visible.sync="dialogAddVisible">
            <div class="heading-title" slot="title">Thêm mới chính sách</div>
            <div class="row">
                <div class="col-12 col-md-6 form-group" v-if="dialogAddVisible">
                    <label>Chọn tuyến</label>
                    <select-route v-model="pricePolicyActive.route" class="w-100"></select-route>
                </div>
                <div class="col-12 form-group" v-if="pricePolicyActive.route&&pricePolicyActive.route.listPoint">
                    <label>Bảng giá tuyến</label>
                    <el-table :header-cell-style="headerCellStyle" :cellStyle="cellStyle" :data="pricePolicyActive.route.listPoint" border style="width: 100%" max-height="500">
                        <el-table-column fixed prop="name"></el-table-column>
                        <template v-for="index in pricePolicyActive.route.listPoint.length">
                            <el-table-column prop="name" :index="index" :formatter="getLabel" :label="pricePolicyActive.route.listPoint[index-1].name"></el-table-column>
                        </template>
                    </el-table>
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-md-6 form-group">
                    <label>Chọn sơ đồ</label>
                    <select-box-seat-map v-model="pricePolicyActive.seatMap" class="w-100"></select-box-seat-map>
                </div>
            </div>
            <div class="row" style="background: #f1f3f5;border-radius: 8px;padding:10px 0" v-if="pricePolicyActive.seatMap">
                <div class="col form-group">
                    <label>Sơ đồ ghế</label>
                    <div class="note-seat-map-price-policy">
                        <div class="row no-gutters">
                            <div class="col-3 col-xs-6"><span class="box background-cua"></span> <span>Cửa</span></div>
                            <div class="col-3 col-xs-6"><span class="box background-ghetai"></span> Ghế tài</div>
                            <div class="col-3 col-xs-6"><span class="box background-ghephu"></span> Ghế phụ</div>
                            <div class="col-3 col-xs-6"><span class="box background-wc"></span> WC</div>
                            <div class="col-3 col-xs-6"><span class="box background-loidi"></span> Lối đi</div>
                            <div class="col-3 col-xs-6"><span class="box background-ghethuong"></span> Ghế thường</div>
                            <div class="col-3 col-xs-6"><span class="box background-giuong"></span> Giường</div>
                        </div>
                    </div>
                    <template v-for="(floor,f) in pricePolicyActive.seatMap.seatMapFake">
                        <div class="map-price-policy">
                            <div class="floor">Tầng {{f+1}}</div>
                            <div class="w-100" style="overflow: scroll;max-height: 80vh">
                                <div class="map-floor" :style="{width : pricePolicyActive.seatMap.seatMapFake[0][0].length*168+'px'}">
                                    <template v-for="(row,r) in floor">
                                        <template v-for="(col,c) in row">
                                            <div :class="['ghe',backgroundSeat(col.seatType.value)]">
                                                <div class="seat-id w-100">{{col.seatId}}</div>
                                                <template v-if="col.seatType.value==3||col.seatType.value==4">
                                                    <div class="giacongthem">
                                                        <input-number-2 v-model="col.extraPrice" :input-class="'no-property'"></input-number-2>
                                                        <!--<input type="text" class="form-control" placeholder="Giá cộng thêm" v-model="col.extraPrice">-->
                                                    </div>
                                                    <div class="hr-seat"></div>
                                                </template>
                                            </div>
                                        </template>
                                        <div class="clearfix"></div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 form-group">
                    <label class="w-100">Ngày bắt đầu</label>
                    <el-date-picker v-model="pricePolicyActive.startDate" format="dd-MM-yyyy" value-format="yyyyMMdd" type="date" placeholder="Pick a day"></el-date-picker>
                </div>
                <div class="col-12 form-group">
                    <input id="hasEndDate" type="checkbox" class="checkbox" v-model="pricePolicyActive.hasEndDate">
                    <label for="hasEndDate" style="font-size: 14px;color: #000000;font-weight:normal">Đã biết ngày dừng</label>
                </div>
                <div class="col-12 form-group" v-if="pricePolicyActive.hasEndDate">
                    <label class="w-100">Ngày kết thúc</label>
                    <el-date-picker v-model="pricePolicyActive.endDate" format="dd-MM-yyyy" value-format="yyyyMMdd" type="date" placeholder="Pick a day"></el-date-picker>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogAddVisible = false">Đóng</el-button>
                <el-button type="warning" :loading="pricePolicyActive.loading" @click="function(){pricePolicyActive.save({success : function() {dialogAddVisible = false;pricePolicies.getList({delay:200})}},true)}" v-if="pricePolicyActive.id">Lưu thành chính sách mới</el-button>
                <el-button type="success" :loading="pricePolicyActive.loading" @click="function(){pricePolicyActive.save({success : function() {dialogAddVisible = false;pricePolicies.getList({delay:200})}})}">{{pricePolicyActive.id ? 'Cập nhật' : 'Tạo'}} chính sách</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
    import SelectRoute from '../../Route/SelectRoute';
    import SelectBoxSeatMap from '../../SeatMap/SelectBoxSeatMap';
    import {PricePolicy,PricePolicies} from "../../../class/price_policy";
    import { mapState} from 'vuex';

    export default {
        components : {SelectBoxSeatMap, SelectRoute},
        data : function () {
            return {
                pricePolicyActive : new PricePolicy(),
                dialogAddVisible : false,
                seatMap : null,
                route : null,
                pricePolicies : new PricePolicies(),
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
            }
        },
        mounted : function(){
            this.pricePolicies.getList();
        },
        computed : {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            add : function(){
                this.dialogAddVisible=true;
                this.pricePolicyActive = new PricePolicy();
            },
            update : function(item){
                let self = this;
                self.pricePolicyActive = _.cloneDeep(item);
                self.pricePolicyActive.setRoute({
                    success : function () {
                        self.dialogAddVisible=true;
                    }
                });
            },
            getLabel : function (row,column) {
                return row.listPrice[column.index-1]<0?'':this.$options.filters.number(row.listPrice[column.index-1]);
            },
            headerCellStyle : function (data) {
                return {
                    background : '#cfd3db',
                    color : '#000'
                }
            },
            cellStyle : function (data) {
                return {
                    background : data.columnIndex&&data.row.listPrice[data.columnIndex-1]<0 ? '#ecedf1' :'#fff'
                }

            },
            backgroundSeat : function (type) {
                let style = 'background-loidi';
                switch (type) {
                    case 1 : style = 'background-cua';
                        break;
                    case 2 : style = 'background-ghetai';
                        break;
                    case 3 : style = 'background-ghethuong';
                        break;
                    case 4 : style = 'background-giuong';
                        break;
                    case 5 : style = 'background-wc';
                        break;
                    case 6 : style = 'background-ghephu';
                        break;
                    case 7 : style = 'background-loidi';
                        break;
                }
                return style;
            }
        }

    }
</script>
<style scoped>
    .heading-title{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
    }
    label{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    .padding-24{
        padding: 24px;
    }
    .note-seat-map-price-policy .box{
        width: 32px;
        height: 32px;
        border-radius: 2px;
        display: inline-block;
    }
    .background-cua{
        background: #ffa26b;
    }
    .background-ghetai{
        background: #ffc9cd;
    }
    .background-ghephu{
        background: #a5affb;
    }
    .background-wc{
        background: #be52f2;
    }
    .background-loidi{
        background: #646d84;
    }
    .background-ghethuong{
        background: #7ddfc3;
    }
    .background-giuong{
        background: #ff647c;
    }
    .map-price-policy .floor{
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Open Sans';
        font-size: 24px;
        font-weight: 600;
        color: #232731;
    }
    .map-floor .ghe{
        width: 160px;
        height: 120px;
        border-radius: 4px;
        margin-right: 8px;
        margin-bottom: 8px;
        display: inline-block;
        position: relative;
        float: left;
    }
    .map-floor .ghe .hr-seat{
        width: 24px;
        height: 6px;
        background-color: #464d5d;
        position: absolute;
        bottom:16px;
        left : calc(50% - 12px)
    }
    .map-floor .ghe .seat-id{
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        position: absolute;
        top : 10px;
        color: #000;
    }
    .map-floor .ghe .giacongthem{
        font-family: 'Open Sans';
        font-size: 14px;
        text-align: center;
        position: absolute;
        top : 50px;
    }
    .map-floor .ghe .giacongthem input.no-property{
        background: none;
        border:none;
        text-align: center;
        color: #000;
    }
    .map-floor .ghe .giacongthem input.no-property:focus{
        box-shadow: none;
    }
</style>