<template>
    <div id="root">
        <supperloading v-if="supperLoading.length>0"></supperloading>
        <menu-02></menu-02>
        <!-- <menu-component v-else></menu-component> -->
        <div id="main">
            <div class="container-fluid">
                <router-view></router-view>
            </div>
        </div>
        <telecom v-if="!$root.isAgency()"></telecom>
        <el-dialog width="80%" custom-class="modal-lg padding-0 hide-header-dialog-element-ui border-radius-16"
                   style="color: #000;" :visible.sync="dialogAuthorizeSellTicket">
                <div class="modal-content authorize-modal-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="https://www.anvui.vn/themes/1/imgs/img-sve.png?v=2" class="lk-img">
                        </div>
                        <div class="col-lg-8">
                            <h3 class="title-modal-s1">CƠ HỘI TĂNG DOANH THU CHO NHÀ XE VÀ<br> MỞ RỘNG HỆ THỐNG ĐẠI
                                LÝ BÁN VÉ</h3>
                            <p>
                                Hiện nay <a href="">AN VUI</a> đang hợp tác với hơn
                                <span>1500 kênh phân phối vé online</span>
                                trên toàn quốc. Đây là <span>CƠ HỘI LỚN</span> cho nhà xe của bạn
                                trên toàn quốc.
                            </p>
                            <p>
                                Đây là <span>CƠ HỘI LỚN</span> cho nhà xe của bạn
                                tăng doanh thu bán vé nếu uỷ quyền cho <a href="">AN VUI</a> giới
                                thiệu đối tác bán vé cho bạn!
                            </p>
                            <hr>
                            <p>Các đối tác tiêu biểu phân phối vé:</p>
                            <div class="row" id="show-logo-dt">
                                <div class="col-md-3 padding-7">
                                    <div class="item-lk">
                                        <img src="https://www.anvui.vn/themes/1/imgs/vinid-logo.png"
                                             class="max-100"/>
                                        <span>Vin ID</span>
                                    </div>
                                </div>
                                <div class="col-md-3 padding-7">
                                    <div class="item-lk">
                                        <img src="https://www.anvui.vn/themes/1/imgs/logo-momo.jpeg"
                                             class="max-100"/>
                                        <span>Momo</span>
                                    </div>
                                </div>
                                <div class="col-md-3 padding-7">
                                    <div class="item-lk">
                                        <img src="https://www.anvui.vn/themes/1/imgs/ZaloPay-logo.png"
                                             class="max-100"/>
                                        <span>ZaloPay</span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" @click="gotoAuthorizeSellTicket()">ĐỒNG
                                Ý
                            </button>
                            <button type="button" class="btn btn-secondary" @click="saveToStorate()"
                                    data-dismiss="modal">NHẮC TÔI SAU
                            </button>
                        </div>
                    </div>
                </div>
        </el-dialog>
        <popup-company-payment ref="PopupCompanyPaymentComponent"></popup-company-payment>
        <el-dialog custom-class="modal-lg padding-0 hide-header-dialog-element-ui border-radius-16"
                   style="color: #000;" :visible.sync="dialogTet">
            <img src="https://b-f24-zpg.zdn.vn/3755805892508666895/27b6b10ae7061f584617.jpg" alt="chúc mừng năm mới"
                 class="img-responsive" style="width: 100%;border-radius: 16px 16px 0 0;">
            <div style="font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 24px;line-height: 29px;text-align: center;color: #E62020;margin:24px 0;word-break: break-word;">
                THÔNG BÁO NGHỈ TẾT NGUYÊN ĐÁN CANH TÝ
            </div>
            <div style="font-family: 'Open Sans';font-style: normal;font-weight: 600;font-size: 14px;line-height: 24px;padding: 24px;color: #232731;word-break: break-word;">
                Kính gửi: Quý khách hàng <b class="text-anvui">{{userInfo.userInfo.fullName}}</b> <br> AN VUI xin
                gửi lời cảm ơn <b class="text-anvui">{{userInfo.userInfo.fullName}}</b> và các anh chị em trong <b
                    class="text-anvui">{{userInfo.userInfo.companyName}}</b> đã sử dụng phần mềm AN VUI trong suốt
                thời gian vừa qua.<br>
                Toàn thể cán bộ, nhân viên AN VUI biết ơn sự tin tưởng và hợp tác của các bạn!<br>
                Nhân dịp xuân Canh Tý, AN VUI kính chúc <b class="text-anvui">{{userInfo.userInfo.fullName}}</b> và
                gia đình an khang, chúc <b class="text-anvui">{{userInfo.userInfo.companyName}}</b> năm mới làm ăn
                phát đạt, thịnh vượng!<br>
                Để đảm bảo sự ổn định của phần mềm, AN VUI đã tăng cường bảo mật và dự phòng hệ thống máy chủ. Ngoài
                ra, AN VUI bố trí đội ngũ kỹ thuật trực 24/24 để khắc phục các sự cố bất ngờ xảy ra trong quá trình
                sử dụng.
                <br>Mọi thắc mắc vui lòng liên hệ tổng đài hỗ trợ kỹ thuật 24/24: <strong
                    style="color: #E62020;font-weight: 900">1900 7034</strong> <br>
                Trân Trọng!
                <div class="text-center">
                    <button @click="dialogTet=false"
                            style="font-family: 'Open Sans';font-style: normal;font-weight: 600;font-size: 16px;line-height: 35px;background: #E62020;"
                            class="btn text-white">CHÚC MỪNG NĂM MỚI!
                    </button>
                </div>
            </div>
        </el-dialog>
        <el-dialog custom-class="modal-sm padding-0 hide-header-dialog-element-ui" style="color: #000;"
                   :visible.sync="dialogPay">
            <div style=";font-style: normal;font-weight: 600;font-size: 14px;line-height: 24px;padding: 24px;color: #232731;word-break: break-word;">
                <qr-code :text="textQR"></qr-code>
                <br>
                <br>
                <br>
                <div class="text-center">Quét mã để thanh toán</div>
            </div>
        </el-dialog>
    </div>
</template>
<script>

    import menuComponent from './Template/Menu.vue';
    import Menu02 from './Template/Menu02.vue';
    import PopupCompanyPayment from './Template/PopupCompanyPayment.vue';
    import telecom from './Telecom/Telecom.vue';
    import {mapGetters, mapState} from 'vuex';
    import {AuthorizeSellTicket} from "../class/authorizeSellTicket";
    import SelectPoint from './Point/SelectPoint';

    export default {
        components: {menuComponent, Menu02, telecom, PopupCompanyPayment, SelectPoint},
        data : function(){
            return {
                authorizeSellTicket : new AuthorizeSellTicket(),
                dialogTet : false,
                dialogPay : false,
                dialogAuthorizeSellTicket: false,
                textQR : '',
                selectedRoom: null,
                roomsList: [],
            }
        },
        created : async function(){
            this.getPointRoom();
            this.$store.dispatch('INTT');
        },
        mounted : function(){
            this.checkMounted();
        },
        computed : {
            ...mapState({
                supperLoading: state => state.supperLoading,
                room: state => state.room,
                companyConfigData: state => state.CompanyConfig.companyConfigData,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ...mapGetters([
                'mapCompanyConfig'
            ]),
            showPage: function () {
                if (this.companyConfigData &&
                    this.mapCompanyConfig &&
                    this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN'] !== undefined &&
                    this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN'] !== null &&
                    this.companyConfigData[this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN']].value && this.roomsList.length !== 0 && !this.room) {
                    return false;
                }
                return true;
                // if(!this.companyConfigData){
                //     return true;
                // }
                // console.log(this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN'],this.companyConfigData[this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN']]);
                // return (!this.companyConfigData||
                //     (this.companyConfigData&&
                //         this.mapCompanyConfig&&
                //         this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN']!==undefined&&
                //         this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN']!==null&&
                //         this.companyConfigData[this.mapCompanyConfig['SELECT_ROOM_AFTER_LOGIN']].value&&
                //         this.room))?true:false;
            }
            // permission : function () {
            //     return this.$root.roles;
            // }
        },
        methods : {
            gotoAuthorizeSellTicket : function () {
                this.saveToStorate();
                this.$router.push('authorize-sell-ticket');
            },
            saveToStorate : function () {
                let today = new Date()
                let tomorrow = new Date(today)
                tomorrow.setDate(tomorrow.getDate() + 1);
                localStorage.setItem('assignSellTicket',tomorrow.getTime());
                this.dialogAuthorizeSellTicket = false;
            },
            checkMounted: function () {
                let self = this;
                this.$root.$on('payEvent', function (data) {
                    setTimeout(function () {
                        self.load('getPayVnp');
                        sendJson({
                            url: urlDBD(API.vnpQrPay),
                            data: {
                                companyId: self.userInfo.userInfo.companyId,
                                packageName: "web",
                                ticketIds: data.ids.join('-')
                            },
                            success: function (res) {
                                self.textQR = res.results.data.qrString;
                                self.dialogPay = true;
                                self.unload('getPayVnp');
                            },
                            error: function () {
                                notify('Có lỗi khi lấy mã QR', 'error');
                                self.unload('getPayVnp');
                            }
                        });
                    }, 3000);
                })
                this.$refs.PopupCompanyPaymentComponent.check();
                this.authorizeSellTicket.get({
                    beforeSend: function () {
                        // self.load('GET_AUTHORIZE');
                    },
                    success: function () {
                        let showPopupState = localStorage.getItem('assignSellTicket');
                        if (self.$root.isAdmin() && !self.authorizeSellTicket.exist && (!showPopupState || (showPopupState && !isNaN(showPopupState) && parseInt(showPopupState) < new Date().getTime()))) {
                            self.dialogAuthorizeSellTicket = true;
                        }
                        self.unload('GET_AUTHORIZE');
                    },
                    error: function () {
                        if (!self.authorizeSellTicket.exist) {
                            self.openModal();
                        }
                        self.unload('GET_AUTHORIZE');
                    }
                });

                if (window.firebaseMessage) {
                    window.firebaseMessage.onMessage(function (payload) {
                        console.log(payload);
                        notify(payload.notification.body);
                    });
                }
            },
            setRoom: function () {
                let self = this;
                this.$store.commit('SET_ROOM', self.selectedRoom)
                setTimeout(function () {
                    self.checkMounted();
                }, 500)
            },
            getPointRoom: function (query) {
                let self = this;
                self.loading = true;
                let dataSend = {
                    page: 0,
                    count: func.countSearch(),
                    pointType: 8,
                    companyId: this.companyId
                };
                sendJson({
                    url: urlDBD(API.pointList),
                    data: dataSend,
                    success: function (data) {
                        self.roomsList = data.results.result;
                        self.loading = false;
                    },
                    functionIfError: function (res) {
                        self.loading = false;
                    }
                })
            },
        }
    }
</script>
<style>
    #main {
        margin-top: 10px;
    }

    .webintro h3 {
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 49px;
        color: #084388;
        margin-bottom: 24px;
    }

    .webintro p {
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #232731;
        margin-bottom: 24px;
    }

    .webintro label {
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #464D5D;
        margin-bottom: 8px;
    }

    .webintro button {
        background: #084388;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 13px 24px;
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        border: none;
        color: #fff;
        margin-top: 42px;
    }

    .webintro button:hover {
        cursor: pointer;
    }

    .webintro p span {
        color: #084388;
    }
</style>
