<template>
    <div class="row">
        <div class="col-12 title">
            <span>CÀI ĐẶT HIỂN THỊ</span>
            <span class="pull-right">
                <!--<button class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i> Lưu</button>-->
                <!--<div class="btn-group" role="group">-->
                    <!--<button id="btnDieuHanh" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Điều Hành</button>-->
                    <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnDieuHanh">-->
                        <!--<a class="dropdown-item" href="javascript:0" @click="startTrip()" v-show="selected.trip!==null&&selected.trip.tripStatus===1">Xuất Bến</a>-->
                        <!--<a class="dropdown-item" href="javascript:0" @click="openStartTrip()" v-show="selected.trip!==null&&selected.trip.tripStatus===2">Mở Xuất Bến</a>-->
                        <!--<a class="dropdown-item" href="javascript:0" @click="coLoiDi =!coLoiDi" v-show="tab===1">{{ coLoiDi?'Không lối đi':'Có lối đi' }}</a>-->
                    <!--</div>-->
                <!--</div>-->
            </span>
        </div>
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="seat-tab" data-toggle="tab" href="#seat" role="tab" aria-controls="seat" aria-selected="false">Ghế</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ticket-tab" data-toggle="tab" href="#ticket" role="tab" aria-controls="ticket" aria-selected="true">In Vé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="listTicket-tab" data-toggle="tab" href="#listTicket" role="tab" aria-controls="listTicket" aria-selected="false">Phơi Vé</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
                    cấu hình in vé
                </div>
                <div class="tab-pane fade" id="listTicket" role="tabpanel" aria-labelledby="listTicket-tab">...</div>
                <div class="tab-pane fade" id="seat" role="tabpanel" aria-labelledby="seat-tab">...</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>