<template>
	<div class="row system-info">
		<div class="col-12 title">
			<div class="row">
                <div class="col">
                    <span style="text-transform: uppercase;">{{$t('menu.system-info')}}</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
        	<table class="table table-striped table-bordered">
				<thead>
					<tr>
					  <th colspan="2" style="text-transform: uppercase;">{{ company.companyName }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td>Tên giao dịch</td>
					  <td>{{ company.companyName }}</td>
					</tr>
					<tr>
					  <td>Mã số thuế</td>
					  <td>{{ company.taxId }}</td>
					</tr>
					<tr>
					  <td>Địa chỉ</td>
					  <td>{{ company.address }}</td>
					</tr>
					<tr>
					  <td>Website</td>
					  <td>{{ userContact.website }}</td>
					</tr>
					<tr>
					  <td>Đại diện pháp luật</td>
					  <td>{{ userContact.fullName }}</td>
					</tr>
					<tr>
					  <td>Ngày cấp giấy phép</td>
					  <td></td>
					</tr>
					<tr>
					  <td>Ngày hoạt động</td>
					  <td></td>
					</tr>
					<tr>
					  <td>Số điện thoại</td>
					  <td>{{ userContact.phoneNumber }}</td>
					</tr>
					<tr>
					  <td>Email</td>
					  <td>{{ userContact.email }}</td>
					</tr>
					<!-- <tr>
					  <td></td>
					  <td></td>
					</tr> -->
					<tr>
					  <td>Số hiệu hợp đồng</td>
					  <td>{{ company.companyId }}</td>
					</tr>
					<tr>
					  <td>TG bắt đầu hợp đồng</td>
					  <td>
					  	 <template v-if="contractStartTime !==0">
					  	 	{{ contractStartTime|customDate('#DD#-#MM#-#YYYY#') }}
					  	 </template>
					  </td>
					</tr>
					<tr>
					  <td>TG hết hạn hợp đồng</td>
					  <td>
					  	 <template v-if="contractStartTime !==0">
					  	 	 {{ contractStartTime|customDate('#DD#-#MM#-#YYYY#') }}	
					  	 </template> 
					  </td>
					</tr>
				</tbody>
			</table>
        </div>	
        <div class="col-12 col-md-3">
        	<div class="w-100 text-center img">
                <uploadimage v-model="avatar" :iconSize="100"></uploadimage>
                <!-- <i class="fa fa-edit" aria-hidden="true" v-if="edit"></i> -->
            </div>
            <div class="w-100 text-center"> ẢNH ĐẠI DIỆN</div>
        </div>	
	</div>
</template>
<script type="text/javascript">
	export default {
		data: function(){
			return {
				company: {},
				avatar : '',
				edit: false,
				userContact: {},
				contractStartTime: 0,
				contractEndTime: 0,
			}
		},
		mounted: function(){
			this.getSystemInfo();
		},
		methods: {
			getSystemInfo: function(){
				let self = this;
				sendJson({
					url : urlDBD(API.systemSettingGet),
					data: {
						id: userInfo.userInfo.companyId
					},
					success: function(data){
						if(data.results.company){
							self.company = data.results.company;
							self.avatar = self.company.companyLogo;
							self.userContact = self.company.userContact;
							self.contractStartTime = self.company.contractStartTime;
							self.contractEndTime = self.company.contractEndTime;
						}
					}
				})
			},
			saveSetting: function(){
				let self = this;
				sendJson({
					url : urlDBD(API.systemSettingUpdate),
					data: {
						companyId: userInfo.userInfo.companyId,
						companyLogo: self.avatar,
					},
					success: function(data){
						notify("Cập nhật cấu hình thành công ","success");
					}
				})

			}
		}
	}
</script>
<style type="text/css">
	.system-info tbody tr td:first-child{
		width: 300px;
		font-weight: bold;
	}
	.system-info .img{
		cursor: pointer;
	}
</style>