<template>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div style="
            margin: 20px 0;
            width: 229px;
            height: 29px;
            left: 160px;
            top: 56px;

            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #000000;">
                {{$t('menu.system-setting')}}
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <el-card class="box-card card-av">
                <div slot="header" class="clearfix">
                    <i class="el-icon-s-tools icon-AV"></i><span class="mainLabel">Cấu hình chung</span>
                </div>
                <div class="text item">
                    <div class="form-group-system">
                        <div>
                            <el-checkbox v-model="companyConfig.CONFIG.SELECT_ROOM_AFTER_LOGIN.valueUpdate">Chọn chi nhánh sau khi đăng nhập</el-checkbox>
                        </div>
                    </div>
                    <!-- <div class="form-group-system">
                        <div>
                            <el-checkbox v-model="companyConfig.CONFIG.USE_NEWEST_INTERFACE.valueUpdate">Sử dụng giao diện mới nhất</el-checkbox>
                        </div>
                    </div> -->
                    <div class="form-group-system">
                        <div>
                            <el-checkbox v-model="isUsingLoggingSecurity ">{{$t('using-login-security')}}</el-checkbox>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">{{$t('address-company')}}</label>
                        <div>
                            <el-input placeholder="Nhập địa chỉ công ty" v-model="addressCompany"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Tên doanh nghiệp đầy đủ</label>
                        <div>
                            <el-input placeholder="Nhập tên" v-model="companyConfig.CONFIG.COMPANY_NAME.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Tên doanh nghiệp viết tắt hoặc thường gọi</label>
                        <div>
                            <el-input placeholder="Nhập tên" v-model="companyConfig.CONFIG.COMPANY_CALL_NAME.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Upload đăng ký kinh doanh</label>
                        <div class="text-center img" style="width: 60% !important;">
                            <uploadimage v-model="companyConfig.CONFIG.BUSINESSREGISTRATION.valueUpdate" :iconSize="100"></uploadimage>
                             <!--<i class="fa fa-edit" aria-hidden="true"></i>-->
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">SMS brandname mong muốn .</label>
                        <div>
                            <el-input placeholder="Nhập brandname" v-model="companyConfig.CONFIG.SMSBRANDNAME.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Chữ ký mẫu(dạng ảnh)</label>
                        <div class="text-center img" style="width: 60% !important;">
                            <uploadimage v-model="companyConfig.CONFIG.SAMPLE_SIGNATURE.valueUpdate" :iconSize="100"></uploadimage>
                            <!-- <i class="fa fa-edit" aria-hidden="true" v-if="edit"></i> -->
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Tên chủ doanh nghiệp (Người đứng tên hợp đồng điện tử)</label>
                        <div>
                            <el-input placeholder="Nhập tên chủ doanh nghiệp" v-model="companyConfig.CONFIG.NAMEOWNER.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Chức vụ</label>
                        <div>
                            <el-input placeholder="Nhập chức vụ" v-model="companyConfig.CONFIG.POSITION_OWNER.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Địa chỉ (Hợp đồng)</label>
                        <div>
                            <el-input placeholder="Nhập địa chỉ " v-model="companyConfig.CONFIG.ADDRESS_CONTRACT_OWNER.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Số điện thoại (Hợp đồng)</label>
                        <div>
                            <el-input placeholder="Nhập số điện thoại" v-model="companyConfig.CONFIG.PHONENUMBER_OWNER.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Email (Hợp đồng)</label>
                        <div>
                            <el-input placeholder="Nhập email" v-model="companyConfig.CONFIG.EMAIL_OWNER.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Thông tin tài khoản (Hợp đồng)</label>
                        <div>
                            <el-input placeholder="Nhập thông tin tài khoản" v-model="companyConfig.CONFIG.ACCOUNT_BANK_INFO_OWNER.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Mã số thuế (Hợp đồng)</label>
                        <div>
                            <el-input placeholder="Nhập mã số thuế" v-model="companyConfig.CONFIG.TAX_CODE.valueUpdate"></el-input>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Khoản mục thu tiền tài xế mặc định</label>
                        <div>
                            <select-item class="w-100" :itemReceiptPayment="2" v-model="companyConfig.CONFIG.DEFAULT_ITEM.valueUpdate"></select-item>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Khoản mục gán nợ tài xế mặc định</label>
                        <div>
                            <select-item class="w-100" v-model="companyConfig.CONFIG.DEBIT_DRIVER_ITEM.valueUpdate"></select-item>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Khoản mục thu chi mặc định</label>
                        <div>
                            <select-item class="w-100":itemReceiptPayment="null"  multiple v-model="companyConfig.CONFIG.REVENUE_DRIVER_ITEM.valueUpdate"></select-item>
                        </div>
                    </div>
                </div>
            </el-card>
            <el-card class="box-card card-av" style="margin-top: 50px">
                <div slot="header" class="clearfix">
                    <i class="el-icon-message-solid icon-AV"></i><span class="mainLabel  ">{{$t('configuration-sending-notifications')}}</span>
                </div>
                <div id="configNotify" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                    <div>
                        <div class="row">
                            <div class=" col-12 form-group-system" style="margin-bottom: 20px;">
                                <el-checkbox id="sendbysms" v-model="sendSms" class="fixCheckbox"></el-checkbox>
                                <label class="label-AV"> {{$t('send-by-sms')}}</label>
                                <br>
                                <label class="label-AV">{{$t('phone-number')}}</label>
                                <el-input type="text" v-model="phoneNumber" ></el-input>
                            </div>
                            <div class="col-12 form-group-system">
                                <el-checkbox  id="sendbymail" v-model="sendMail" class="fixCheckbox"></el-checkbox>
                                <label class="label-AV"> {{$t('send-by-mail')}}</label>
                                <br>
                                <label class="label-AV">Email</label>
                                <div class="add-mail">
                                    <el-button size="mini" @click="listEmail.push('');" class="btn btn-primary" :title="$t('button.add-btn')" data-toggle="tooltip">{{$t('add-mail')}}</el-button>
                                </div>
                                <template v-for="(email,e) in listEmail">
                                    <div class="marginbot-10" :key="e">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <el-input type="email" v-model="listEmail[e]"></el-input>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="input-group-prepend" v-if="e>0">
                                                    <el-button class="btn btn-danger" :title="$t('button.delete')" :data-original-title="$t('button.delete')" data-toggle="tooltip" @click="listEmail.splice(e,1);">
                                                        <i class="fa fa-trash"></i>
                                                    </el-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>
        <div class="col-md-4 col-xs-6">
            <el-card class="box-card card-av">
                <div slot="header" class="clearfix">
                    <i class="el-icon-s-ticket icon-AV"></i><span class="mainLabel">Cấu hình bán vé</span>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{$t('time-reservation')}}</label>
                    <div>
                        <el-input placeholder="Nhập số phút" v-model="timeBookHolder"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="w-100 label-AV">Khóa thao tác sau khi xuất bến (phút). -1 là không khóa.</label>
                    <div>
                        <el-input placeholder="Nhập số phút" v-model="timeLockTripAfterStart"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="w-100 label-AV">Thời gian hiển thị chuyến cho tài xế.</label>
                    <div>
                        <el-input placeholder="Nhập số phút" v-model="showTripToDriverAhead"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{$t('allow-sell-to-future')}}</label>
                    <div>
                        <el-input placeholder="Nhập số ngày" v-model="futureDaysToSellTicket"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{$t('lock-sell-online-before-start-time')}}</label>
                    <div>
                        <el-input placeholder="Nhập số phút" v-model="lockSellOnlineBeforeStartTime"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{$t('time-ending-ticket-sale')}}</label>
                    <div>
                        <el-input placeholder="Nhập số phút" v-model="sellingTicketEndTime"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{$t('allow-past-booking')}}</label>
                    <div>
                        <el-input placeholder="Nhập số ngày" v-model="pastDaysToSellTicket"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">Thời điểm bắt đầu lọc dữ liệu</label>
                    <div>
                        <el-date-picker
                                class="w-100"
                                v-model="companyConfig.CONFIG.TIME_START_GET_DATA.valueUpdate"
                                format="dd-MM-yyyy"
                                :picker-options="options"
                                value-format="timestamp"
                                type="date"
                                placeholder="Chọn ngày">
                        </el-date-picker>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.AUTO_SENT_SMS.valueUpdate">
                            {{companyConfig.CONFIG.AUTO_SENT_SMS.label}}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="isAutoCancerTicket">
                            {{companyConfig.CONFIG.AUTO_CANCEL_TICKET.label}}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system" v-if="companyConfig.CONFIG.AUTO_CANCEL_TICKET.valueUpdate">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.CONFIRM_TRANFER.valueUpdate">
                            Xác nhận chuyển khoản
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system" v-if="companyConfig.CONFIG.CONFIRM_TRANFER.valueUpdate">
                    <label class="label-AV">{{companyConfig.CONFIG.TIME_CANCEL_TICKET_CONFIRM_TRANSFER_BEFORE_START_TRIP.label}}</label>
                    <div>
                        <el-input-number placeholder="Nhập số phút" v-model="companyConfig.CONFIG.TIME_CANCEL_TICKET_CONFIRM_TRANSFER_BEFORE_START_TRIP.valueUpdate"></el-input-number>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.TRANSHIPMENT_BY_DRIVER.valueUpdate">
                            {{companyConfig.CONFIG.TRANSHIPMENT_BY_DRIVER.label}}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox v-model="allowAutoStartTrip" class="label-AV">
                            {{$t('export-station-automatically')}}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system" v-if="allowAutoStartTrip==true">
                    <label class="label-AV"> {{$t('number-minutes')}}</label>
                    <div>
                        <el-input placeholder="Nhập số phút" v-model="timeRangeAutoStartTrip"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox v-model="isSellTicketWithoutSeat" class="label-AV">
                            {{$t('allow-reserve-extra-seats')}}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox v-model="isEditTicketPrice" class="label-AV">
                            {{$t('allow-fix-total-ticket-price')}}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox v-model="companyConfig.CONFIG.EDIT_AGENCY_AFTER_PAID.valueUpdate" class="label-AV">
                            Mở gán đại lý vé đã thanh toán
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox v-model="isAllowedDriverToSeePrice" class="label-AV">
                            {{$t('allowed-driver-to-see-price')}}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox v-model="isUsingSearchingTripByTimeRange">
                            <span>{{$t('allowed-filter-trip-by-time')}}</span>
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system" v-if="isUsingSearchingTripByTimeRange" style="margin-top: 10px">
                    <label class="label-AV">Biên độ giờ khi tìm kiếm chuyến theo thời
                        gian</label>
                    <div>
                        <el-input  type="number" v-model="tripSearchDuration" min="0" max="24"></el-input>
                    </div>
                    <label class="error" v-if="errorsbBag.tripSearchDuration">{{ errorsbBag.tripSearchDuration }}</label>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox v-model="companyConfig.CONFIG.DELIVERY_TICKET.valueUpdate">
                            <span>Cho phép nhập thông tin giao vé tận nơi</span>
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.ONLY_PRINT_TICKET_WHEN_BOUGTH.valueUpdate">
                            Chỉ cho phép in vé khi đã thanh toán
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.LOCK_ACTION_AFTER_DEPARTED.valueUpdate">
                            {{ companyConfig.CONFIG.LOCK_ACTION_AFTER_DEPARTED.label }}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.HIDE_PENDING_TICKET_WHEN_PAY.valueUpdate">
                            {{ companyConfig.CONFIG.HIDE_PENDING_TICKET_WHEN_PAY.label }}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">
                            {{ companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.label }}
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.MERGE_TICKET_PRINT.valueUpdate">
                            Gộp vé khi in
                        </el-checkbox>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV"> Số lần được phép in vé</label>
                    <div>
                        <el-input placeholder="Nhập số lần" v-model="companyConfig.CONFIG.NUMBER_OF_PRINT_TICKET.valueUpdate"></el-input>
                    </div>
                </div>
                <div class="form-group-system">
                    <div>
                        <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.valueUpdate">
                            Sử dụng cấu hình cho tất cả
                        </el-checkbox>
                    </div>
                </div>
                <div v-if="companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.valueUpdate">
                    <div class="form-group-system">
                        <label class="label-AV">{{$t('payment-method-default')}}</label>
                        <div>
                            <el-select class="w-100" v-model="companyConfig.CONFIG.DEFAULT_PAYMENT_TYPE.valueUpdate" placeholder="Chọn hình thức thanh toán">
                                <el-option
                                        v-for="item in companyConfig.CONFIG.DEFAULT_PAYMENT_TYPE.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">{{$t('chair-display-mode')}}</label>
                        <div>
                            <el-select class="w-100" v-model="companyConfig.CONFIG.DISPLAY_SEAT_MODE.valueUpdate" placeholder="Hiện thị chi tiết ghế">
                                <el-option
                                        v-for="item in companyConfig.CONFIG.DISPLAY_SEAT_MODE.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <div>
                            <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.DISPLAY_NEW_LIST_TRIP.valueUpdate">
                                Giao diện danh sách chuyến mới
                            </el-checkbox>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <div>
                            <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.DISPLAY_TRIP_DETAIL.valueUpdate">
                                Hiện thị chi tiết chuyến
                            </el-checkbox>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <div>
                            <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.DISPLAY_WAY.valueUpdate">
                                Hiện thị lối đi
                            </el-checkbox>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <div>
                            <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.DISPLAY_TRIP_CODE.valueUpdate">
                                Hiện thị tên chuyến trên chuyến
                            </el-checkbox>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <div>
                            <el-checkbox  class="label-AV" v-model="companyConfig.CONFIG.DISPLAY_TIME_AT_FIRST_POINT.valueUpdate">
                                Hiện thị giờ tại điểm xuất phát
                            </el-checkbox>
                        </div>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{companyConfig.CONFIG.HIDE_FIELD_IN_SELL_TICKET.label}}</label>
                    <div>
                        <el-select class="w-100" v-model="companyConfig.CONFIG.HIDE_FIELD_IN_SELL_TICKET.valueUpdate"
                                   :multiple="companyConfig.CONFIG.HIDE_FIELD_IN_SELL_TICKET.multiple" placeholder="Chọn trường muốn ẩn">
                            <el-option
                                    v-for="item in companyConfig.CONFIG.HIDE_FIELD_IN_SELL_TICKET.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TICKET.label}}</label>
                    <div>
                        <el-select class="w-100" v-model="companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TICKET.valueUpdate"
                                   :multiple="companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TICKET.multiple" placeholder="Chọn trường muốn ẩn">
                            <el-option
                                    v-for="item in companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TICKET.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="form-group-system">
                    <label class="label-AV">{{companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TRIP.label}}</label>
                    <div>
                        <el-select class="w-100" v-model="companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TRIP.valueUpdate"
                                   :multiple="companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TRIP.multiple" placeholder="Chọn trường muốn ẩn">
                            <el-option
                                    v-for="item in companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TRIP.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
            </el-card>
        </div>
        <div class="col-md-4 col-xs-6">
            <el-card class="box-card card-av">
                <div slot="header" class="clearfix">
                    <i class="el-icon-box icon-AV"></i><span class="mainLabel">Cấu hình hàng hóa</span>
                </div>
                <div>

                    <div class="form-group-system">
                        <div>
                            <el-checkbox v-model="companyConfig.CONFIG.USE_SHORT_GOODS_FORM.valueUpdate">{{ companyConfig.CONFIG.USE_SHORT_GOODS_FORM.label }}</el-checkbox>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <div>
                            <el-checkbox v-model="companyConfig.CONFIG.USE_GET_GOODS_BY_ROOM.valueUpdate">{{ companyConfig.CONFIG.USE_GET_GOODS_BY_ROOM.label }}</el-checkbox>
                        </div>
                    </div>
                    <div class="mb-5" v-if="companyConfig.CONFIG.USE_SHORT_GOODS_FORM.valueUpdate">
                        <div class="form-group-system">
                            <label class="label-AV">{{ companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.label }}</label>
                            <el-select class="w-100" clearable v-model="companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.valueUpdate"
                                    :multiple="companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.multiple" placeholder="Chọn phương thức">
                                <el-option
                                        v-for="item in companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>

                        <div class="form-group-system">
                            <label class="label-AV">{{ companyConfig.CONFIG.DEFAULT_TRANSPORT_TYPE.label }}</label>
                            <select-transport-type class="w-100" v-model="companyConfig.CONFIG.DEFAULT_TRANSPORT_TYPE.valueUpdate"></select-transport-type>
                        </div>

                        <div class="form-group-system">
                            <label class="label-AV">{{ companyConfig.CONFIG.DEFAULT_TABLE_PRICE.label }}</label>
                            <select-price class="w-100" :useShortValue="true" v-model="companyConfig.CONFIG.DEFAULT_TABLE_PRICE.valueUpdate"></select-price>
                        </div>

                    </div>


                    <div class="form-group-system">
                        <label class="label-AV">Công thức chuyển đổi kính thước - trọng lượng</label>
                        <div>
                            <!-- <el-input v-model="companyConfig.CONFIG.SIZE_WEIGHT_CONVERSION.valueUpdate"></el-input> -->
                            <input-mention v-model="companyConfig.CONFIG.SIZE_WEIGHT_CONVERSION.valueUpdate" :mentions="companyConfig.CONFIG.SIZE_WEIGHT_CONVERSION.options" class="w-100"/>
                        </div>
                        <i class="w-100">{{ companyConfig.CONFIG.SIZE_WEIGHT_CONVERSION.note }}</i>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Các phương thức nhận hàng</label>
                        <div>
                            <el-select class="w-100" v-model="companyConfig.CONFIG.VALID_GOODS_COLLECTION_METHODS.valueUpdate"
                                       :multiple="companyConfig.CONFIG.VALID_GOODS_COLLECTION_METHODS.multiple" placeholder="Chọn phương thức">
                                <el-option
                                        v-for="item in companyConfig.CONFIG.VALID_GOODS_COLLECTION_METHODS.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">Các phương thức giao hàng</label>
                        <div>
                            <el-select class="w-100" v-model="companyConfig.CONFIG.VALID_GOODS_DELIVERY_METHODS.valueUpdate"
                                       :multiple="companyConfig.CONFIG.VALID_GOODS_DELIVERY_METHODS.multiple" placeholder="Chọn phương thức">
                                <el-option
                                        v-for="item in companyConfig.CONFIG.VALID_GOODS_DELIVERY_METHODS.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">{{companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.label}}</label>
                        <div>
                            <el-select class="w-100" v-model="companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.valueUpdate"
                                       :multiple="companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.multiple" placeholder="Chọn trường muốn ẩn">
                                <el-option
                                        v-for="item in companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <label class="label-AV">{{companyConfig.CONFIG.HIDE_FIELD_IN_GOOD_IN_TRIP.label}}</label>
                        <div>
                            <el-select class="w-100" v-model="companyConfig.CONFIG.HIDE_FIELD_IN_GOOD_IN_TRIP.valueUpdate"
                                    :multiple="companyConfig.CONFIG.HIDE_FIELD_IN_GOOD_IN_TRIP.multiple" placeholder="Chọn trường">
                                <el-option
                                        v-for="item in companyConfig.CONFIG.HIDE_FIELD_IN_GOOD_IN_TRIP.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="form-group-system">
                        <div>
                            <el-checkbox v-model="companyConfig.CONFIG.ABLE_CHANGE_RECEIVED_DATE.valueUpdate">{{ companyConfig.CONFIG.ABLE_CHANGE_RECEIVED_DATE.label }}</el-checkbox>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="row bottom-crtl">
                <div class="col">
                    <button class="btn btn-primary" @click="updateSystemSetting" :title="$t('button.save')" data-toggle="tooltip"> {{$t('button.save')}}</button>
                    <button class="btn btn-secondary" :title="$t('button.cancel')" data-toggle="tooltip"> {{$t('button.cancel')}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapState} from 'vuex';
    import SelectItem from '../Item/SelectItem';
    import SelectTransportType from '../Goods02/TransportType/SelectTransportType';
    import SelectPrice from '../Goods02/InitPrice/SelectPrice';
    import InputMention from '../Helper/InputMention'

    export default {
        components : {SelectItem, SelectTransportType, SelectPrice, InputMention},
        data : function () {
            return {
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                addressCompany : '',
                SMSBrandname : '',
                owner : '',
                sampleSignature : '',
                shortName : '',
                businessRegistration : '',
                companyName: '',
                sellingTicketEndTime : '',
                timeBookHolder : '',
                isEditTicketPrice : false,
                allowAutoStartTrip : false,
                timeLockTripAfterStart : 0,
                showTripToDriverAhead : 0,
                phoneNumber : '',
                futureDaysToSellTicket : '',
                lockSellOnlineBeforeStartTime : '',
                timeRangeAutoStartTrip : '',
                isSellTicketWithoutSeat : false,
                isUsingSearchingTripByTimeRange: false,
                tripSearchDuration: 0,
                isAllowedDriverToSeePrice : false,
                isUsingLoggingSecurity : false,
                pastDaysToSellTicket : '',
                sendMail : false,
                sendSms : false,
                listEmail : [''],
                errorsbBag : {
                    'tripSearchDuration' : '',
                },
                checkedBranch: false,
                checkeDexportStationAutomatically: false,
                optionsPayment: [],
                optionsDisplayMode: [],
                optionsReceive: [],
                optionsDelivery: [],
                isAutoCancerTicket: false
            }
        },
        mounted : function(){
            this.getSystemSetting();
            this.isAutoCancerTicket = this.companyConfig.CONFIG.AUTO_CANCEL_TICKET.valueUpdate
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            })
        },
        watch:{
            isAutoCancerTicket : function () {
                this.companyConfig.CONFIG.AUTO_CANCEL_TICKET.valueUpdate = this.isAutoCancerTicket
                if (this.companyConfig.CONFIG.AUTO_CANCEL_TICKET.valueUpdate == false) {
                    this.companyConfig.CONFIG.CONFIRM_TRANFER.valueUpdate = false
                }
            }
        },
        methods: {
            addEmail: function(){
                this.listEmail.push('');
            },
            deleteEmail : function(){
                this.listEmail.pop();
            },
            getSystemSetting : function () {
                let self = this;
                self.load('getSystemSetting');
                sendJson({
                    url : urlDBD(API.systemSettingGet),
                    data : {
                        id : userInfo.userInfo.companyId
                    },
                    success : function (data) {
                        // console.log(data.results.company.userContact.email);
                        self.SystemSetting = data.results.company;
                        self.addressCompany = data.results.company.address;
                        self.owner = data.results.company.owner;
                        self.sampleSignature = data.results.company.sampleSignature;
                        self.SMSBrandname = data.results.company.SMSBrandname;
                        self.businessRegistration = data.results.company.businessRegistration;
                        self.shortName = data.results.company.shortName;
                        self.companyName = data.results.company.companyName;
                        self.sellingTicketEndTime = data.results.company.sellingTicketEndTime;
                        self.timeBookHolder = data.results.company.timeBookHolder;
                        self.isEditTicketPrice = data.results.company.isEditTicketPrice;
                        self.timeLockTripAfterStart = data.results.company.timeLockTripAfterStart!==null&&data.results.company.timeLockTripAfterStart>=0?Math.round(data.results.company.timeLockTripAfterStart/60000):-1;
                        self.showTripToDriverAhead = data.results.company.showTripToDriverAhead!==null&&data.results.company.showTripToDriverAhead>=0?Math.round(data.results.company.showTripToDriverAhead/60000):-1;
                        self.allowAutoStartTrip = data.results.company.allowAutoStartTrip;
                        self.futureDaysToSellTicket = data.results.company.futureDaysToSellTicket || "";
                        self.lockSellOnlineBeforeStartTime = Math.round((data.results.company.lockSellOnlineBeforeStartTime ||0)/60000);
                        self.timeRangeAutoStartTrip = Math.round((data.results.company.timeRangeAutoStartTrip ||0)/60000);
                        self.isSellTicketWithoutSeat = data.results.company.isSellTicketWithoutSeat;
                        self.isAllowedDriverToSeePrice = data.results.company.isAllowedDriverToSeePrice;
                        self.isUsingLoggingSecurity = data.results.company.isUsingLoggingSecurity||false;
                        self.pastDaysToSellTicket = data.results.company.pastDaysToSellTicket || "";
                        self.isUsingSearchingTripByTimeRange = data.results.company.isUsingSearchingTripByTimeRange || false;
                        self.tripSearchDuration = data.results.company.tripSearchDuration || 0,

                        self.sendMail = data.results.company.sendMail;
                        self.sendSms = data.results.company.sendSms;
                        self.phoneNumber = data.results.company.userContact.phoneNumber;
                        if (data.results.company.userContact.email.length > 0) {
                            self.listEmail=data.results.company.userContact.email.split(',');
                        }
                        self.unload('getSystemSetting');
                    },
                    functionIfError : function (err) {
                        self.unload('getSystemSetting');
                    }
                });
            },
            validate() {
                let status = true
                if( isNaN(this.tripSearchDuration) || this.tripSearchDuration < 0 || this.tripSearchDuration > 24  ) {
                    this.errorsbBag.tripSearchDuration = 'Biên độ giờ tìm kiếm không hợp lệ !'
                    status = false;
                } else {
                    this.errorsbBag = ''
                    status = true;
                }

                return status;
            },
            updateSystemSetting : function () {
                let self = this;
                // let emailCorp = '';

                if(!self.validate()) return false;

                if(!confirm('Toàn bộ nhân viên sẽ phải đăng nhập lại sau khi lưu cấu hình. Bạn có chắc muốn tiếp tục?')){
                    return false;
                }
                self.companyConfig.update({
                    before: function () {
                        self.load('updateCompanyConfig');
                    },
                    success: function (data) {
                        self.unload('updateCompanyConfig');
                        let param = {
                            companyId: userInfo.userInfo.companyId,
                            sellingTicketEndTime: self.sellingTicketEndTime,
                            timeBookHolder: self.timeBookHolder,
                            address: self.addressCompany,
                            owner: self.owner,
                            sampleSignature: self.sampleSignature,
                            SMSBrandname: self.SMSBrandname,
                            companyName: self.companyName,
                            shortName: self.shortName,
                            businessRegistration: self.businessRegistration,

                            pastDaysToSellTicket: self.pastDaysToSellTicket,
                            sendMail: self.sendMail == true ? true : false,
                            sendSms: self.sendSms == true ? true : false,
                            userContact : {
                                phoneNumber: self.phoneNumber.length > 0 ? self.phoneNumber : '',
                                email: self.listEmail.toString(),
                            },

                            isEditTicketPrice: self.isEditTicketPrice == true ? true : false,
                            timeLockTripAfterStart: self.timeLockTripAfterStart < 0 ? null : self.timeLockTripAfterStart * 60000,
                            showTripToDriverAhead: self.showTripToDriverAhead === '' || self.showTripToDriverAhead < 0 ? -1 : self.showTripToDriverAhead * 60000,
                            allowAutoStartTrip: self.allowAutoStartTrip == true ? true : false,
                            isSellTicketWithoutSeat: self.isSellTicketWithoutSeat == true ? true : false,
                            isAllowedDriverToSeePrice: self.isAllowedDriverToSeePrice == true ? true : false,
                            isUsingLoggingSecurity: self.isUsingLoggingSecurity == true ? true : false,
                            isUsingSearchingTripByTimeRange: self.isUsingSearchingTripByTimeRange == true ? true : false,

                            futureDaysToSellTicket: self.futureDaysToSellTicket ? self.futureDaysToSellTicket : '',
                            lockSellOnlineBeforeStartTime: parseInt(self.lockSellOnlineBeforeStartTime) ? parseInt(self.lockSellOnlineBeforeStartTime || 0) * 60000 : '',
                            timeRangeAutoStartTrip: self.timeRangeAutoStartTrip * 60000,
                            tripSearchDuration: self.tripSearchDuration || 0,
                        }
                        // console.log(self.listEmail);
                        console.log(param);
                        self.load('updateSystemSetting');
                        sendJson({
                            url: urlDBD(API.systemSettingUpdate),
                            data: self.removeItemEmptyInArray(param),
                            success: function (data) {
                                self.$emit('event', {eventName: 'saveSuccess', data: data});
                                notify("Cập nhật thành công", 'success');
                                self.unload('updateSystemSetting');
                                window.location.href = self.$options.filters.url('dang-xuat');
                            },
                            functionIfError: function (err) {
                                self.unload('updateSystemSetting');
                                self.$emit('event', {eventName: 'saveError', data: err});
                            }
                        })
                    },
                    error: function () {
                        self.unload('updateCompanyConfig');
                    }
                });
            },
            removeItemEmptyInArray: function(arr) {
                var newArr = {};
                if (typeof arr === 'object') {
                    $.each(arr, function (k, v) {
                        if (v !== '' && typeof v !== 'undefined') {
                            newArr[k] = v;
                        }
                    });
                    return newArr;
                }
                return arr;
            },
        }
    }
</script>
<style scoped>
.form-group-system{
    margin-bottom: 1em;
}
.img{
    cursor: pointer;
}
.add-mail{
    position: absolute;
    right: 15px;
    top: -10px;
}
.marginbot-10{
    margin-bottom: 10px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.15em;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .35em;
    left: .25em;
    font-size: 1.11em;
    line-height: 0.8;
    color: #084388;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9!important;
}
#main hr{
    margin: 10px 0;
}
/* custom header carditem */
.card .card-header h3.card-link {
    cursor: pointer;
    margin-bottom: 0px;
    font-size: 18px;
    color: #084388;
    padding: 8px 20px;
}
.card .card-header{
    background-color: #CCD8E6;
    padding: 0px;
}
.card .card-header .card-link i{
    float: right;
    transition:0.5s;
}
.card .card-header .card-link.collapsed i{
    transition:0.5s;
    transform:rotate(180deg);
}
.bottom-crtl{
    text-align: right;
    margin: 10px 0px;
    padding: 15px 0px;
    background-color: #ffffff;
}
.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}
.mainLabel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    /* Grayscale/Dark */

    color: #232731;
}
.card-av{
    background: #F1F3F5;
    /* Grayscale/Gray30 */

    border: 1px solid #ECEDF1;
    box-sizing: border-box;
    border-radius: 4px;
}
.icon-AV{
    margin-right: 7px;
}
.label-AV{
    font-family: Cabin !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    /* Grayscale/Dark */

    color: #232731;
}
.fixCheckbox{
    margin-right: 5px !important;
}
.el-card.is-always-shadow {
    box-shadow: none;
}
.el-card__header {
    border-bottom: 1px solid #CFD3DB;
}
.el-checkbox__inner{
    border: 1px solid #232731;
}
.el-checkbox__label,.el-checkbox__input.is-checked+.el-checkbox__label{
    font-family: Cabin !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
}
</style>

