<template>
    <el-dialog custom-class="modal-lg" title="THÊM MỚI VẬN ĐƠN" :visible.sync="dialog" @opened="autoCompletePhoneNumber">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-12">
                <h5><b>Thông Tin Vận Đơn</b></h5>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="txtGoodsCodeM">Mã vận đơn</label>
                            <input type="text" v-model="listGoods.code" id="txtGoodsCodeM" class="form-control" placeholder="Không bắt buộc">
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Ngày nhận hàng</label>
                            <el-date-picker  :disabled="!allowChangeReceivedDate" v-model="listGoods.sendDate" format="dd-MM-yyyy" value-format="dd-MM-yyyy" class="w-100"></el-date-picker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group" style="margin-bottom: 5px">
                            <label class="w-100 d-sm-none d-md-block"> &nbsp;</label>
                            <input type="checkbox" id="sendSMSGoodsSenderMultiple" v-model="listGoods.sendSMSSender">
                            <label for="sendSMSGoodsSenderMultiple">Gửi SMS người gửi</label>
                        </div>
                        <div class="form-group">
                            <!--<label class="w-100 d-sm-none d-md-block"> &nbsp;</label>-->
                            <input  @input="selectPrintChange()" type="checkbox" id="printBillAfterCreateM" v-model="listGoods.printAfterSave">
                            <label for="printBillAfterCreateM">In vận đơn</label>
                        </div>
                    </div>
                    <!--<div class="col-4 col-md-2">-->
                        <!--<div class="form-group">-->
                            <!--<label class="w-100 d-sm-none d-md-block"> &nbsp;</label>-->
                            <!--<input type="checkbox" id="sendSMSGoodsMultiple" v-model="listGoods.sendSMS">-->
                            <!--<label for="sendSMSGoodsMultiple">Gửi SMS người nhận</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-6 col-md-3">
                        <div class="form-group" style="margin-bottom: 5px">
                            <label class="w-100 d-sm-none d-md-block"> &nbsp;</label>
                            <input type="checkbox" id="sendSMSGoodsMultiple" v-model="listGoods.sendSMS">
                            <label for="sendSMSGoodsMultiple">Gửi SMS người nhận</label>
                        </div>
                        <div class="form-group">
                            <!--<label class="w-100 d-sm-none d-md-block"> &nbsp;</label>-->
                            <input @input="selectPrintTempChange()" type="checkbox" id="printTempAfterCreateM" v-model="listGoods.printTemAfterSave">
                            <label for="printTempAfterCreateM">In Temp</label>
                        </div>
                    </div>
                    <!--<div class="col-4 col-md-2">-->
                        <!---->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:50%">
                            <div class="row">
                                <div class="col-12">
                                    <h5><b>Khách Gửi</b></h5>
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="form-group">
                                        <label for="txtSenderPhoneMultiple">SDT</label>
                                        <input type="text" autocomplete="on" pattern="[0-9]{10}" id="txtSenderPhoneMultiple" v-model="listGoods.from.phoneNumber" class="form-control form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSenderM">Họ tên</label>
                                        <input type="text" autocomplete="on" id="txtSenderM" v-model="listGoods.from.fullName" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="form-group">
                                        <label>Bến Lên</label>
                                        <selectpoint :isReceivedGoods="true"  class="multiple-sm" :value="listGoods.from.point" @input="listGoods.setFromPoint($event)"></selectpoint>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtPickUpPointAddM">Điểm lên</label>
                                        <input type="text" id="txtPickUpPointAddM" v-model="listGoods.from.address" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-12">
                                    <h5><b>Khách Nhận</b></h5>
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="form-group">
                                        <label for="txtReceiverPhoneMultiple">SDT</label>
                                        <input type="text" autocomplete="on" pattern="[0-9]{10}" id="txtReceiverPhoneMultiple" v-model="listGoods.to.phoneNumber" class="form-control form-control-sm">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtReceiver">Họ tên</label>
                                        <input type="text" autocomplete="on" id="txtReceiver" v-model="listGoods.to.fullName" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="form-group">
                                        <label>Bến Xuống</label>
                                        <selectpoint :isReceivedGoods="true" class="multiple-sm" :value="listGoods.to.point" @input="listGoods.setToPoint($event)"></selectpoint>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtDropOffPointName">Điểm trả</label>
                                        <input type="text" id="txtDropOffPointName" v-model="listGoods.to.address" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5><b>Hàng Hóa</b></h5>
            </div>
            <div class="col-12">
                <template v-for="(goods,g) in listGoods.goodsList">
                    <div class="row box-goods" :class="[g%2==0?'':'bg-e']">
                        <div class="col-6 col-md-3">
                            <div class="form-group">
                                <label>Loại hàng</label>
                                <select-goods-type size="mini" class="w-100" @input="goods.setGoodsType($event)" :value="goods.goodsType"></select-goods-type>
                            </div>
                            <div class="form-group">
                                <label>Tên Hàng</label>
                                <input type="text" autocomplete="on" v-model="goods.name" class="form-control txtGoodsName form-control-sm">
                            </div>
                            <button type="button" class="btn btn-sm btn-primary" @click="listGoods.addGoods()" title="Thêm hàng"><i class="fa fa-plus-circle"></i> Thêm mặt hàng</button>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="form-group">
                                <label>Cước Phí</label>
                                <input-number class="form-control form-control-sm" :value="goods.price" @input="goods.setPrice($event)" :readonly="goods.goodsType!==null&&goods.goodsType.usePriceTable?true:false"></input-number>
                            </div>
                            <div class="form-group">
                                <label>Thu Thêm</label>
                                <input-number :value="goods.extraPrice"  @input="goods.setExtraPrice($event)" class="form-control form-control-sm"></input-number>
                            </div>
                            <div class="form-group">
                                <label>Lí do thu thêm</label>
                                <input type="text" :readonly="goods.extraPrice==0?true:false" v-model="goods.extraPriceNote" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="form-group">
                                <label>Số lượng</label>
                                <input-number :value="goods.quantity" @input="goods.setQuantity($event)" class="form-control form-control-sm"></input-number>
                            </div>
                            <div class="form-group">
                                <label>Giá trị hàng</label>
                                <input-number v-model="goods.value" class="form-control form-control-sm"></input-number>
                                <!--<input type="number"" v-model="item.goodsValue" class="form-control form-control-sm text-right">-->
                            </div>
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <input type="text" v-model="goods.notice" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="form-group">
                                <label>Tổng tiền</label>
                                <input-number readonly :value="goods.totalPrice()" class="form-control form-control-sm text-danger font-weight-bold"></input-number>
                            </div>
                            <div class="form-group">
                                <label>Đã Trả</label>
                                <input-number v-model="goods.paid" class="form-control form-control-sm text-success font-weight-bold"></input-number>
                                <!--<input type="number" id="txtPaid" v-model="item.paid" class="form-control form-control-sm text-right text-success font-weight-bold">-->
                            </div>
                            <div class="form-group">
                                <label>Còn lại</label>
                                <input-number readonly :value="goods.totalPrice()-parseInt(goods.paid)" class="form-control form-control-sm font-weight-bold"></input-number>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="form-group">
                                <label >Ảnh khi gửi</label>
                                <uploadimage v-model="goods.from.image" :iconSize="32"></uploadimage>
                            </div>
                            <button class="btn btn-sm btn-outline-danger" v-show="listGoods.goodsList.length>1" @click="listGoods.removeGoods(g)"> <i class="fa fa-trash"></i> Hủy hàng</button>
                            <!--<div class="form-group">-->
                            <!--<label >Ảnh khi nhận</label>-->
                            <!--<uploadimage v-model="item.receiverImageURL" :iconSize="32"></uploadimage>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <hr>
                </template>
            </div>
        </div>
        <div class="d-none">
            <print-goods ref="PrintGoodsComponent"></print-goods>
            <print-goods-tem ref="PrintGoodsTemComponent"></print-goods-tem>
        </div>
        <span slot="footer" class="dialog-footer">
            <div class="layout-footer-listgood">
                <div class="assign-payment">
                    <el-switch
                        @input="listGoods.setSenderPayment($event)"
                        :value="listGoods.senderPayment"
                        active-text="Người gửi thanh toán"
                    ></el-switch>
                    <div>
                        <label class="text-left">Gán đại lý</label><br>
                        <el-select-agency
                            size="mini"
                            class="w-100"
                            v-model="listGoods.agency"
                            clearable
                            :multiple="false"
                        ></el-select-agency>
                    </div>
                </div>
                <div class="total-payment">
                    <span>Tổng đơn hàng: <span class="size20">{{total.total|number }}</span> VND</span>
                    <span>Bạn đã trả : <span class="size20 text-success">{{ total.paid|number }} VND</span></span>
                    <span>Bạn phải trả : <span class="size20 text-danger">{{(total.total-total.paid)|number }}</span> VND</span>
                </div>
            </div>
            <div class="float-left"></div>
            <el-button @click="dialog = false">Đóng</el-button>
            <el-button type="primary" @click="saveGoods">Lưu đơn hàng</el-button>
        </span>
    </el-dialog>
</template>
<script>
    import {CreateListGoods} from '../../class/goods';
    import {mapState} from 'vuex';
    import printGoods from '../Print/Goods.vue';
    import printGoodsTem from '../Print/GoodsTem.vue';
    import SelectGoodsType from '../GoodsType/SelectGoodsType';
    import ElSelectAgency from "../Agency/SelectAgency";

    export default {
        props : ['trip'],
        components : {SelectGoodsType,printGoods,printGoodsTem,ElSelectAgency},
        data : function () {
            return {
                agencySelects: null,
                dialog : false,
                listGoods : new CreateListGoods(null),
            }
        },
        computed : {
            ...mapState({
                ticketSample : state => state.ticketSample,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            total : function () {
                let lg = this.listGoods.goodsList;
                let total = {
                    paid : 0,
                    total : 0
                }
                $.each(lg,function (g,goods) {
                    total.total += goods.totalPrice();
                    total.paid += goods.paid;
                });
                return total
            },
            allowChangeReceivedDate: function() {
              let result = this.companyConfig.CONFIG.ABLE_CHANGE_RECEIVED_DATE.value;
              return result;
            },
        },
        methods : {
            selectPrintChange () {
                let a = !this.listGoods.printAfterSave
                localStorage.setItem('configPrint', a);
            },
            selectPrintTempChange () {
                let a = !this.listGoods.printTemAfterSave
                localStorage.setItem('configPrintTemp', a);
            },
            saveGoods : function () {
                let self = this;
                self.listGoods.save( function (res) {
                    console.log('res',res);
                    if(self.listGoods.printAfterSave){
                        self.$refs.PrintGoodsComponent.print(res.results.goods);
                    }
                    if(self.listGoods.printTemAfterSave){
                        self.$refs.PrintGoodsTemComponent.print(res.results.goods);
                    }
                    self.$emit('event',{eventName : 'saveSuccess',data : res});
                    self.dialog = false;
                });
                if(self.listGoods.to.address == ''){
                    notify("Bạn chưa chọn bến xuống", 'warning')
                }
            },
            open : function () {
                let self = this;
                this.listGoods = new CreateListGoods();
                self.dialog = true;
                if(self.trip){
                    self.listGoods.trip.id = self.trip.tripId;
                }
                if(self.ticketSample){
                    self.listGoods.to.fullName = self.ticketSample.fullName;
                    self.listGoods.to.phoneNumber = self.ticketSample.phoneNumber;
                }
                if (userInfo.userInfo && userInfo.userInfo.room) {
                    this.listGoods.setFromPoint(userInfo.userInfo.room)
                }
                try {
                    self.listGoods.printAfterSave = JSON.parse(localStorage.getItem('configPrint')) || false;
                    self.listGoods.printTemAfterSave = JSON.parse(localStorage.getItem('configPrintTemp')) || false;
                }catch (e) {
                    self.listGoods.printTemAfterSave = false;
                    self.listGoods.printAfterSave = false;
                }
            },
            autoCompletePhoneNumber : function () {
                let self = this;
                $('#txtSenderPhoneMultiple').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.listGoods.from.phoneNumber = _.cloneDeep(ui.item.receiverPhone);
                        self.listGoods.from.fullName = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
                $('#txtReceiverPhoneMultiple').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.listGoods.to.phoneNumber = _.cloneDeep(ui.item.receiverPhone);
                        self.listGoods.to.fullName = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
            },
        }
    }
</script>
<style lang="scss" scoped>
.layout-footer-listgood {
    display: grid;
    grid-template-columns: 45% 52%;
    grid-gap: 1rem;
}
.assign-payment {
    display: grid;
    grid-template-columns: 1fr;
}
.total-payment {
    display: grid;
    grid-template-columns: 1fr;
}
.text-left {
    float: left;
}
</style>