<template>
    <div class="modal fade bd-example-modal-lg" id="modalGoods" tabindex="-1" role="dialog" aria-labelledby="modalGoods" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{goods.id?'CẬP NHẬT':'THÊM MỚI'}} VẬN ĐƠN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <h5><b>Thông Tin Vận Đơn</b></h5>
                            <div class="row">
                                <div class="col-4 col-md-2">
                                    <div class="form-group">
                                        <label for="txtGoodsCode">Mã vận đơn</label>
                                        <input type="text" v-model="goods.code" id="txtGoodsCode" class="form-control" placeholder="Không bắt buộc">
                                    </div>
                                </div>
                                <div class="col-4 col-md-2">
                                    <div class="form-group">
                                        <label>Ngày nhận hàng</label>
                                        <el-date-picker  v-model="goods.sendDate" format="dd-MM-yyyy" value-format="dd-MM-yyyy" class="w-100"  :disabled="!allowChangeReceivedDate"></el-date-picker>
<!--                                        <datepicker id="txtSendDate" dataClass="form-control" v-model="goods.sendDate"></datepicker>-->
                                    </div>
                                </div>
                                <div class="col-4 col-md-2">
                                    <!--<div class="form-group">-->
                                        <!--<label class="w-100 d-sm-none d-md-block"> &nbsp;</label>-->
                                        <!--<input type="checkbox" id="sendSMSGoods" v-model="goods.sendSMS">-->
                                        <!--<label for="sendSMSGoods">Gửi SMS</label>-->
                                    <!--</div>-->
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label class="w-100 d-sm-none d-md-block"> &nbsp;</label>
                                        <input type="checkbox" id="sendSMSGoodsSenderMultiple" v-model="goods.sendSMSSender">
                                        <label for="sendSMSGoodsSenderMultiple">Gửi SMS người gửi</label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-2">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label class="w-100 d-sm-none d-md-block"> &nbsp;</label>
                                        <input type="checkbox" id="sendSMSGoodsMultiple" v-model="goods.sendSMS">
                                        <label for="sendSMSGoodsMultiple">Gửi SMS người nhận</label>
                                    </div>
                                </div>
                                <!--<div class="col-4 col-md-2">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="w-100 d-sm-none d-md-block"> &nbsp;</label>-->
                                        <!--<input type="checkbox" id="printBillAfterCreate" v-model="goods.printAfterSave">-->
                                        <!--<label for="printBillAfterCreate">In vận đơn</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-4 col-md-2">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="w-100 d-sm-none d-md-block"> &nbsp;</label>-->
                                        <!--<input type="checkbox" id="printTempAfterCreate" v-model="goods.printTemAfterSave">-->
                                        <!--<label for="printTempAfterCreate">In Temp</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="width:50%">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5><b>Khách Gửi</b></h5>
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    <label for="txtSenderPhone">SDT</label>
                                                    <input type="text" pattern="[0-9]{10}"  autocomplete="on" id="txtSenderPhone" v-model="goods.from.phoneNumber" class="form-control form-control-sm">
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtSender">Họ tên</label>
                                                    <input type="text" autocomplete="on" id="txtSender" v-model="goods.from.fullName" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <div class="form-group">
                                                    <label>Bến Lên</label>
                                                    <selectpoint :isReceivedGoods="true" class="multiple-sm" :value="goods.from.point" @input="goods.setFromPoint($event)"></selectpoint>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtPickUpPointAdd">Điểm lên</label>
                                                    <input type="text" id="txtPickUpPointAdd" v-model="goods.from.address" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12">
                                                <h5><b>Khách Nhận</b></h5>
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    <label for="txtReceiverPhone">SDT</label>
                                                    <input type="text" pattern="[0-9]{10}" autocomplete="on" id="txtReceiverPhone" v-model="goods.to.phoneNumber" class="form-control form-control-sm">
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtReceiver">Họ tên</label>
                                                    <input type="text" autocomplete="on" id="txtReceiver" v-model="goods.to.fullName" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <div class="form-group">
                                                    <label>Bến Xuống</label>
                                                    <selectpoint :isReceivedGoods="true" class="multiple-sm" :value="goods.to.point" @input="goods.setToPoint($event)"></selectpoint>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtDropOffPointName">Điểm trả</label>
                                                    <input type="text" id="txtDropOffPointName" v-model="goods.to.address" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5><b>Hàng Hóa</b> <button type="button" class="close d-none" @click="addNewItemToGoods()" title="Thêm hàng"><i class="fa fa-plus-circle text-success"></i></button></h5>
                        </div>
                        <div class="col-12">
                            <div class="row box-goods">
                                <div class="col-6 col-md-3">
                                    <div class="form-group">
                                        <label>Loại hàng</label>
                                        <select-goods-type @input="goods.setGoodsType($event)" :value="goods.goodsType"></select-goods-type>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên Hàng</label>
                                        <input type="text" autocomplete="on" v-model="goods.name" class="form-control txtGoodsName form-control-sm">
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="form-group">
                                        <label>Cước Phí</label>
                                        <input-number class="form-control form-control-sm" :value="goods.price" @input="goods.setPrice($event)" :readonly="goods.goodsType!==null&&goods.goodsType.usePriceTable?true:false"></input-number>
                                    </div>
                                    <div class="form-group">
                                        <label>Thu Thêm</label>
                                        <input-number  :value="goods.extraPrice"  @input="goods.setExtraPrice($event)" class="form-control form-control-sm"></input-number>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtGoodsExtraPriceNote">Lí do thu thêm</label>
                                        <input type="text" :readonly="goods.extraPrice==0?true:false" id="txtGoodsExtraPriceNote" v-model="goods.extraPriceNote" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="form-group">
                                        <label for="txtGoodsQuantity">Số lượng</label>
                                        <input-number :value="goods.quantity" @input="goods.setQuantity($event)"  id="txtGoodsQuantity" class="form-control form-control-sm"></input-number>
                                    </div>
                                    <div class="form-group">
                                        <label>Giá trị hàng</label>
                                        <input-number v-model="goods.value" class="form-control form-control-sm"></input-number>
                                        <!--<input type="number" id="txtGoodsValue" v-model="item.goodsValue" class="form-control form-control-sm text-right">-->
                                    </div>
                                    <div class="form-group">
                                        <label for="txtNotice">Ghi chú</label>
                                        <input type="text" id="txtNotice" v-model="goods.notice" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="form-group">
                                        <label for="txtTotalPrice">Tổng tiền</label>
                                        <input-number id="txtTotalPrice" readonly :value="goods.totalPrice()" class="form-control form-control-sm text-danger font-weight-bold"></input-number>
                                    </div>
                                    <div class="form-group">
                                        <label>Đã Trả</label>
                                        <input-number v-model="goods.paid" class="form-control form-control-sm text-success font-weight-bold"></input-number>
                                        <!--<input type="number" id="txtPaid" v-model="item.paid" class="form-control form-control-sm text-right text-success font-weight-bold">-->
                                    </div>
                                    <div class="form-group">
                                        <label for="txtunpaid">Còn lại</label>
                                        <input-number  id="txtunpaid" readonly :value="goods.totalPrice()-goods.paid" class="form-control form-control-sm font-weight-bold"></input-number>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="form-group">
                                        <label >Ảnh khi gửi</label>
                                        <uploadimage v-model="goods.from.image" :iconSize="32"></uploadimage>
                                    </div>
                                    <!--<div class="form-group">-->
                                    <!--<label >Ảnh khi nhận</label>-->
                                    <!--<uploadimage v-model="item.receiverImageURL" :iconSize="32"></uploadimage>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-left"><el-switch @input="goods.setSenderPayment($event)" :value="goods.senderPayment" active-text="Người gửi thanh toán"></el-switch></div>
                    <div class="pull-left"> Tổng đơn hàng : <span class="size20">{{goods.totalPrice()|number }}</span> VND , Bạn đã trả : <span class="size20 text-success">{{ goods.paid|number }} VND</span> , Bạn phải trả : <span class="size20 text-danger">{{goods.totalPrice()-parseInt(goods.paid)|number }}</span> VND</div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" @click="saveGoods()">LƯU ĐƠN HÀNG</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {Goods} from '../../class/goods';
    import {mapState} from 'vuex';

    import SelectGoodsType from '../GoodsType/SelectGoodsType';
    export default {
        props : ['trip'],
        components : {SelectGoodsType},
        data : function () {
            return {
                goods : new Goods(null),
            }
        },
        mounted : function(){
            this.autoCompletePhoneNumber();
        },
        computed : {
            ...mapState({
                ticketSample : state => state.ticketSample,
                companyConfig: state => state.CompanyConfig.companyConfig
            }),
            allowChangeReceivedDate: function() {
                let result = this.companyConfig.CONFIG.ABLE_CHANGE_RECEIVED_DATE.value;
                return result;
            },
        },
        methods : {
            saveGoods : function () {
                let self = this;
                self.goods.save( function (res) {
                    $('#modalGoods').modal('hide');
                    self.$emit('event',{eventName : 'saveSuccess',data : res})
                });
            },
            open : function (goods) {
                let self = this;
                this.goods = new Goods(goods);
                $('#modalGoods').modal('show');
                if(self.trip&&!goods){
                    self.goods.trip.id = self.trip.tripId;
                    if(self.ticketSample){
                        self.goods.to.fullName = self.ticketSample.fullName;
                        self.goods.to.phoneNumber = self.ticketSample.phoneNumber
                    }
                }
            },
            autoCompletePhoneNumber : function () {
                let self = this;
                $('#txtSenderPhone').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.goods.from.phoneNumber = _.cloneDeep(ui.item.receiverPhone);
                        self.goods.from.fullName = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
                $('#txtReceiverPhone').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.goods.to.phoneNumber = _.cloneDeep(ui.item.receiverPhone);
                        self.goods.to.fullName = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
            },
        }
    }
</script>
