<template>
    <div class="form-edit-goods">
        <div class="row">
            <div class="col-md-3 col-6 form-group">
                <label for="txtGoodsCodeEdit">Mã vận đơn</label>
                <input type="text" readonly id="txtGoodsCodeEdit" v-model="goodsEdit.goodsCode" class="form-control form-control-sm" placeholder="Không bắt buộc">
            </div>
            <div class="col-md-3 col-6 form-group">
                <label for="txtSendDateEdit">Ngày tạo</label>
                <datepicker id="txtSendDateEdit" dataClass="form-control-sm" v-model="goodsEdit.sendDate"></datepicker>
            </div>
            <div class="col-4 col-md-2 form-group">
                <label class="w-100"></label>
                <input type="checkbox" id="sendSMSGoodsEdit" v-model="goodsEdit.sendSMS">
                <label for="sendSMSGoodsEdit">Gửi SMS</label>
            </div>
            <div class="col-4 col-md-2 form-group">
                <label class="w-100"></label>
                <input type="checkbox" id="printBillAfterCreateEdit" v-model="goodsEdit.printBill">
                <label for="printBillAfterCreateEdit">In vận đơn</label>
            </div>
            <div class="col-4 col-md-2 form-group">
                <label class="w-100"></label>
                <input type="checkbox" id="printTempAfterCreateEdit" v-model="goodsEdit.printTemp">
                <label for="printTempAfterCreateEdit">In Temp</label>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="txtSenderPhoneEdit">SDT Gửi</label>
                        <input type="text" autocomplete="on" id="txtSenderPhoneEdit" v-model="goodsEdit.senderPhone" class="form-control form-control-sm">
                    </div>
                    <div class="col-6 form-group">
                        <label for="txtSenderEdit">Họ tên</label>
                        <input type="text" autocomplete="on" id="txtSenderEdit" v-model="goodsEdit.sender" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-6 form-group">
                        <div class="form-group">
                            <label>Bến Lên</label>
                            <selectpoint :isReceivedGoods="true" class="multiple-sm" v-model="goodsEdit.pickPoint"></selectpoint>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <label for="txtPickUpPoint">Điểm lên</label>
                        <input type="text" id="txtPickUpPoint" v-model="goodsEdit.pickUpPoint" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="txtReceiverPhoneEdit">SDT Nhận</label>
                        <input type="text" autocomplete="on" id="txtReceiverPhoneEdit" v-model="goodsEdit.receiverPhone" class="form-control form-control-sm">
                    </div>
                    <div class="col-6 form-group">
                        <label for="txtReceiverEdit">Họ tên</label>
                        <input type="text" autocomplete="on" id="txtReceiverEdit" v-model="goodsEdit.receiver" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-6 form-group">
                        <div class="form-group">
                            <label>Bến Xuống</label>
                            <selectpoint :isReceivedGoods="true" class="multiple-sm" v-model="goodsEdit.dropPoint"></selectpoint>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <label for="txtDropPointEdit">Điểm Xuống</label>
                        <input type="text" id="txtDropPointEdit" v-model="goodsEdit.dropOffPoint" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row box-goods">
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label>Loại hàng</label>
                    <multiselect class="multiple-sm" @input="changeGoodsType" :options="goodsTypes" track-by="goodsTypeId" placeholder="Chọn loại" label="goodsTypeName" v-model="goodsEdit.goodsType"></multiselect>
                </div>
                <div class="form-group">
                    <label>Tên Hàng</label>
                    <input type="text" autocomplete="on" v-model="goodsEdit.goodsName" class="form-control txtGoodsName form-control-sm">
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="form-group">
                    <label>Cước Phí ( {{ goodsEdit.price | number }} )</label>
                    <input type="number" v-model="goodsEdit.price" class="form-control txtGoodsPrice form-control-sm text-right" :readonly="goodsEdit&&goodsEdit.goodsType&&goodsEdit.goodsType.usePriceTable?true:false">
                </div>
                <div class="form-group">
                    <label for="txtGoodsExtraPriceEdit">Thu Thêm ( {{ goodsEdit.extraPrice | number }} )</label>
                    <input type="number" id="txtGoodsExtraPriceEdit" v-model="goodsEdit.extraPrice" class="form-control form-control-sm text-right">
                </div>
                <div class="form-group">
                    <label for="txtGoodsExtraPriceNoteEdit">Lí do thu thêm</label>
                    <input type="text" :readonly="goodsEdit.extraPrice==0?true:false" id="txtGoodsExtraPriceNoteEdit" v-model="goodsEdit.extraPriceNote" class="form-control form-control-sm">
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="form-group">
                    <label for="txtGoodsQuantityEdit">Số lượng</label>
                    <input type="number" id="txtGoodsQuantityEdit" v-model="goodsEdit.quantity" class="form-control form-control-sm text-right">
                </div>
                <div class="form-group">
                    <label for="txtGoodsValueEdit">Giá trị hàng ( {{ goodsEdit.goodsValue | number }} )</label>
                    <input type="number" id="txtGoodsValueEdit" v-model="goodsEdit.goodsValue" class="form-control form-control-sm text-right">
                </div>
                <div class="form-group">
                    <label for="txtNoticeEdit">Ghi chú</label>
                    <input type="text" id="txtNoticeEdit" v-model="goodsEdit.notice" class="form-control form-control-sm">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label for="txtTotalPriceEdit">Tổng tiền ( {{ goodsEdit.totalPrice | number }} )</label>
                    <input type="number" id="txtTotalPriceEdit" readonly :value="goodsEdit.totalPrice" class="form-control form-control-sm text-right text-danger font-weight-bold">
                </div>
                <div class="form-group">
                    <label for="txtPaidEdit">Đã Trả ( {{ goodsEdit.paid | number }} )</label>
                    <input type="number" id="txtPaidEdit" v-model="goodsEdit.paid" class="form-control form-control-sm text-right text-success font-weight-bold">
                </div>
                <div class="form-group">
                    <label for="txtUnpaidEdit">Còn lại ( {{ goodsEdit.totalPrice-goodsEdit.paid | number }}  )</label>
                    <input type="number" id="txtUnpaidEdit" readonly :value="goodsEdit.totalPrice-goodsEdit.paid" class="form-control form-control-sm text-right font-weight-bold">
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="form-group">
                    <label>Ảnh khi gửi</label>
                    <uploadimage v-model="goodsEdit.imageURL" :iconSize="32"></uploadimage>
                </div>
                <!--<div class="form-group">-->
                <!--<label >Ảnh khi nhận</label>-->
                <!--<uploadimage v-model="goodsEdit.receiverImageURL" :iconSize="32"></uploadimage>-->
                <!--</div>-->
            </div>
        </div>
        <print-goods :goods="goodsAfterUpdate" v-if="goodsAfterUpdate" :id="'goodsPrintAfterUpdate'"></print-goods>
    </div>
</template>
<script>
    import printGoods from '../Print/PrintGoods.vue';
    export default {
        components : {printGoods},
        props : ['goods','goodsTypes'],
        data : function () {
            return {
                goodsEdit : {
                    extraPrice : 0,
                    price : 0,
                },
                goodsAfterUpdate : null,
            }
        },
        mounted : function(){
            this.autoCompletePhoneNumber()
        },
        methods : {
            refresh : function(){
                let self = this;
                let goods = _.cloneDeep(self.goods);
                console.log(goods);
                let data = {
                    goodsId : goods.goodsId,
                    goodsCode : goods.goodsCode,
                    sendDate : new Date(goods.sendDate).customFormat('#DD#-#MM#-#YYYY#'),
                    sendSMS : goods.sendSMS,
                    printBill : false,
                    printTemp : false,
                    senderPhone : goods.senderPhone,
                    sender : goods.sender,
                    imageURL : goods.imageURL,
                    pickUpPoint : goods.pickUpPoint,
                    receiver : goods.receiver,
                    receiverPhone : goods.receiverPhone,
                    dropOffPoint : goods.dropOffPoint,
                    goodsName : goods.goodsName,
                    price : goods.price,
                    extraPrice : goods.extraPrice,
                    extraPriceNote : goods.extraPriceNote,
                    quantity : goods.quantity,
                    goodsValue : goods.goodsValue,
                    notice : goods.notice,
                    totalPrice : goods.totalPrice,
                    paid : goods.paid,
                };
                data.pickPoint = {
                    id: goods.pickPointId,
                    name: goods.pickPointName,
                };
                data.dropPoint = {
                    id : goods.dropPointId,
                    name : goods.dropPointName,
                };
                $.each(self.goodsTypes,function (g,gt) {
                    if(goods.goodsTypeId === gt.goodsTypeId){
                        data.goodsType=_.cloneDeep(gt);
                        return false;
                    }
                });
                self.goodsEdit = _.cloneDeep(data);
            },
            saveGoods : function(){
                let self = this;
                let goods = _.cloneDeep(self.goodsEdit);
                let data = {
                    timeZone : 7,
                    goodsId : goods.goodsId,
                    goodsCode : goods.goodsCode,
                    sendDate : func.dateToMS(goods.sendDate),
                    sendSMS : goods.sendSMS,
                    senderPhone : goods.senderPhone,
                    sender : goods.sender,
                    imageURL : goods.imageURL,
                    pickUpPoint : goods.pickUpPoint,
                    receiver : goods.receiver,
                    receiverPhone : goods.receiverPhone,
                    dropOffPoint : goods.dropOffPoint,
                    goodsName : goods.goodsName,
                    price : parseFloat(goods.price),
                    extraPrice : parseFloat(goods.extraPrice),
                    extraPriceNote : goods.extraPriceNote,
                    quantity : goods.quantity,
                    goodsValue : goods.goodsValue,
                    notice : goods.notice,
                    totalPrice : parseFloat(goods.totalPrice),
                    paid : parseFloat(goods.paid),
                };
                if(goods.pickPoint){
                    data.pickPointId = goods.pickPoint.id;
                }
                if(goods.dropPoint){
                    data.dropPointId = goods.dropPoint.id;
                }
                if(goods.goodsType){
                    data.goodsTypeId = goods.goodsType.goodsTypeId;
                }
                self.load('formEditGoods');
                sendJson({
                    url : urlDBD(API.goodsUpdate),
                    data : data,
                    success : function (data) {
                        self.$emit('saveSuccess',data);
                        notify("Lưu thành công","success");
                        self.goodsAfterUpdate = data.results.goods;
                        setTimeout(function () {
                            if(goods.printTemp){
                                $('#goodsPrintAfterUpdate-temp').printThis({});
                            }
                            if(goods.printBill){
                                $('#goodsPrintAfterUpdate').printThis({});
                            }
                        },300);
                        self.unload('formEditGoods');
                    },
                    functionIfError : function (err) {
                        self.$emit('saveError',err);
                        self.unload('formEditGoods');
                    }
                })
            },
            changeGoodsType : function(goodsType){
                let self = this;
                if(goodsType){
                    let price = parseFloat(_.cloneDeep(goodsType.goodsTypePrice||0));
                    self.goodsEdit.goodsName = _.cloneDeep(goodsType.goodsTypeName||'');
                    if(goodsType.usePriceTable&&goodsType.priceTable&&self.goodsEdit.pickPoint&&self.goodsEdit.dropPoint){
                        let startIndex=-1,endIndex=-1,lengthPoint=goodsType.priceTable.pointIdList.length;
                        $.each(goodsType.priceTable.pointIdList,function (k,point) {
                            if(self.goodsEdit.pickPoint.id === point){
                                startIndex = k;
                            }
                            if(self.goodsEdit.dropPoint.id === point){
                                endIndex = k;
                            }
                        });
                        if(startIndex!==-1&&endIndex!==-1){//nếu tồn tại vị trí của điểm lên và xuống
                            if(startIndex > endIndex){ // đổi vị trí để lấy từ bé đến lớn
                                let indexMid = startIndex;
                                startIndex = endIndex;
                                endIndex = indexMid;
                            }
                            price = _.cloneDeep(goodsType.priceTable.priceList[lengthPoint*startIndex+endIndex]);
                        }
                    }
                    self.goodsEdit.price = price;
                    self.goodsEdit.totalPrice = parseFloat(price)+parseFloat(self.goodsEdit.extraPrice);
                    self.goodsEdit.paid = _.cloneDeep(self.goodsEdit.totalPrice);
                }
            },
            autoCompletePhoneNumber : function () {
                let self = this;
                $('#txtSenderPhoneEdit').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.goodsEdit.senderPhone = _.cloneDeep(ui.item.receiverPhone);
                        self.goodsEdit.sender = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
                $('#txtReceiverPhoneEdit').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.goodsEdit.receiverPhone = _.cloneDeep(ui.item.receiverPhone);
                        self.goodsEdit.receiver = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
            },
        },
        watch : {
            goods : function (newVal){
                if(newVal){
                    this.refresh();
                }
            },
            'goodsEdit.extraPrice' : function(newVal){
                let self =this;
                self.goodsEdit.totalPrice = parseFloat(self.goodsEdit.price)+parseFloat(newVal);
                self.goodsEdit.paid = parseFloat(self.goodsEdit.price)+parseFloat(newVal);
            },
            'goodsEdit.price' : function(newVal){
                let self =this;
                self.goodsEdit.totalPrice = parseFloat(self.goodsEdit.extraPrice)+parseFloat(newVal);
                self.goodsEdit.paid = parseFloat(self.goodsEdit.extraPrice)+parseFloat(newVal);
            },
            'goodsEdit.pickPoint' : {
                deep : true,
                handler : function (newVal) {
                    let self = this;
                    if(newVal&&newVal.address){
                        self.goodsEdit.pickUpPoint = newVal.address;
                    }
                    self.changeGoodsType();
                }
            },
            'goodsEdit.dropPoint' : function (newVal) {
                let self = this;
                if(newVal&&newVal.address){
                    self.goodsEdit.dropOffPoint = newVal.address;
                }
                self.changeGoodsType();
            }
        }
    }
</script>