<template>
	<div class="modal fade bd-example-modal-lg" id="modalGoodsHistory" tabindex="1" role="dialog" aria-labelledby="modalEditGoods" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">LỊCH SỬ HÀNG HÓA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Người thực hiện</th>
                                <th>Hành động</th>
                                <th>Thông tin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="item in goodsHistory">
                                <tr>
                                    <td>
                                        {{item.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}
                                    </td>
                                    <td>
                                        {{item.createdUserName}}
                                    </td>
                                    <td>
                                        {{exportTypeGoodsHistory(item.logType)}}
                                    </td>
                                    <td>
                                        <template v-for="itemAction in item.logs">
                                            <p v-if="itemAction.value!==null">- <strong>{{$t(itemAction.field)}}</strong> : {{checkData(itemAction)}}</p>
                                        </template>
                                    </td>
                                </tr>

                            </template>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</template>
<script type="text/javascript">
    import { GoodsStatus } from "../../class/goods";

    export default {
        data : function () {
            return {

                goodsHistory: {}
            }
        },

        methods : {

            exportTypeGoodsHistory : function(logType){
                var type = '';
                switch(logType) {
                    case 0:
                        type = 'Hủy'
                        break;
                    case 1:
                        type = 'Tạo Hàng'
                        break;
                    case 2:
                        type = 'Thay đổi trạng thái'
                        break;
                    case 3:
                        type = 'Thay đổi trạng thái'
                        break;
                  default:
                        type = ''
                }
                return type;
            },

            checkData : function(data){
            	var type = typeof data.value;
            	var dataRerurn = '';

            	switch(type) {
                    case 'string':
                        dataRerurn = data.value
                        break;
                    case 'number':
                        dataRerurn = data.value;
                        if(data.field === 'goodsStatus'){
                            dataRerurn = new GoodsStatus(data.value).label();
                        }
                        if(data.field === 'tripStartTime'){
                            dataRerurn = this.$options.filters.customDate(data.value,'#hhhh#:#mm# #DD#-#MM#-#YYYY#',true);
                        }
                        break;
                    case 'object':
                        dataRerurn = ''
                        switch(data.field){
                        		case 'tripInfo':
                        			if(data.value == null){
                        				dataRerurn = '';
                        			} else {
                        				dataRerurn = data.value.vehicle?data.value.vehicle.numberPlate: '';
                                        if(data.value.drivers){
                                            let arrName = data.value.drivers.map(o => o.fullName);
                                            dataRerurn+= ', Tài xế : '+arrName.join(', ')
                                        }
                                        if(data.value.assistants){
                                            let arrNameAss = data.value.assistants.map(o => o.fullName);
                                            dataRerurn+= ', Phụ xe : '+arrNameAss.join(', ')
                                        }
                        			}

		                        break;
		                        case 'routeEmbed':
		                        	if(data.value == null){
                        				dataRerurn = '';
                        			} else {
                        				dataRerurn = data.value.name
                        			}
                        		break;
                        	default:
                        	dataRerurn = ''
                        }
                        break;

                  default:
                        dataRerurn = ''
                }




            	return dataRerurn;

            },

            showGoodsHistory : function(goodsId){
                let self = this;
                sendJson({
                    url : urlDBD(API.goodsHistory)+'?id='+goodsId,
                    type: 'get',
                    success : function (data) {
                        console.log(data);
                        self.goodsHistory = data.results.data;
                        $('#modalGoodsHistory').modal('show');
                        console.log(self.goodsHistory);
                    },
                    functionIfError:function (data) {
                        self.unload('doGoodUpToTrip');
                    }
                });
            }

        }
    }
</script>
