<template>
    <div class="row respon-page">
        <div class="col-12 title">
            <span>HÀNG HÓA ĐÃ XÓA</span>
            <span class="float-right">
                <router-link class="btn btn-primary btn-sm" :to="{name : 'Goods'}">Danh sách hàng</router-link>
                <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
            </span>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <div class="col-6 col-md-4 form-group">
                        <label>Nhân viên</label>
                        <select2user :multiple="false" v-model="selectUser.user"></select2user>
                    </div>
                    <!-- <div class="col-6 col-md-4 form-group">
                        <label>Từ ngày</label>
                        <datepicker v-model="sendDate"></datepicker>
                    </div>
                    <div class="col-6 col-md-4 form-group">
                        <label>Đến  ngày</label>
                        <datepicker v-model="toDate"></datepicker>
                    </div> -->
                    <datepicker-ranger v-model="search" ></datepicker-ranger>
                    <div class="col-6 col-md-4 form-group">
                        <label>SDT Người gửi</label>
                        <input type="text" class="form-control" v-model="senderPhone">
                    </div>
                    <div class="col-6 col-md-4 form-group">
                        <label>SDT người nhận</label>
                        <input type="text" class="form-control" v-model="receiverPhone">
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                            <label>&nbsp; </label>
                            <button class="btn btn-primary btn-block" @click="getGoods()"><i class="fa fa-search"></i> LỌC</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top20 tableReport table-responsive" id="goods-cancel" v-html="configDisplay"></div>
        <div class="col-12 top20 tableReport table-responsive">
            <table class="table table-bordered-dark table-sm table-goods-cancel">
                <thead>
                    <tr class="bg-anvui text-white text-center">
                        <th>Mã hàng</th>
                        <th>Ngày gửi</th>
                        <th>Tên hàng</th>
                        <th>Người gửi</th>
                        <th>SDT người gửi</th>
                        <th>Nơi gửi</th>
                        <th>Người nhận</th>
                        <th>SDT người nhận</th>
                        <th>Nơi nhận</th>
                        <th>Lí do hủy</th>
                        <th>Người hủy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="packages.length <=0">
                        <td colspan="11" class="text-center">Không có dữ liệu</td>
                    </tr>
                    <template v-for="(pk,key) in packages">
                        <template v-for="(goods,k) in pk.goodsList">
                            <tr :class="{'bg-e':key%2==0}">
                                <td>{{ pk.goodsPackageCode }}</td>
                                <td class="text-center">{{ goods.sendDate|customDate('#DD#-#MM#') }}</td>
                                <td>{{ goods.goodsName }}</td>
                                <td>{{goods.sender}}</td>
                                <td>{{goods.senderPhone|phoneNumber}}</td>
                                <td>{{(goods.pickPointName||goods.pickUpPoint)|cutString(30) }}</td>
                                <td>{{goods.receiver}}</td>
                                <td>{{goods.receiverPhone|phoneNumber}}</td>
                                <td>{{(goods.dropPointName||goods.dropOffPoint)|cutString(30) }}</td>
                                <td>{{ goods.cancelReason }}</td>
                                <td>{{ goods.updateUserName }}</td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="col-12" style="margin-top: 10px; text-align: right;">
            <div class="row">
                <div class="col-12">
                    <span class="pull-right">
                        <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
                        <!--<button class="btn btn-success btn-sm"><i class="fa fa-save"></i> Lưu</button>-->
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                user : null,
                search: {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                },
                senderPhone :'',
                receiverPhone : '',
                selectUser : {
                    users : [],
                    user : null,
                    loading:false,
                },
                packages : [],
                configDisplay: '',
            }
        },
        mounted : function(){
            this.getGoods();
            this.getConfig();
        },
        methods : {
            getUsers : function () {
                let self = this;
                self.selectUser.loading = true;
                let dataReq = {
                    page : 0,
                    count : func.countSearch(),
                    listUserType : [2,3,4,5,6,7],
                };
                sendJson({
                    url : urlDBD(API.userListJson),
                    data : dataReq,
                    success : function (data) {
                        self.selectUser.users = data.results.result;
                        self.selectUser.loading = false;
                    },
                    functionIfError : function (data) {
                        self.selectUser.loading = false;
                    }
                });
            },
            getGoods : function () {
                let self = this;
                // let userIds = [];
                // $.each(self.selectUser.user,function (k,v) {
                //     userIds.push(v.userId);
                // });
                let data = {
                    page : 0,
                    count : func.countSearch(),
                    companyId : userInfo.userInfo.companyId,
                    senderPhone : self.senderPhone,
                    receiverPhone : self.receiverPhone,
                    goodsStatus : [0],
                    sendDate : func.dateToMS(self.search.startDate),
                    toDate : func.dateToMS(self.search.endDate,'end'),
                }
                if(self.selectUser.user){
                    data.userId = self.selectUser.user.id
                }
                self.load('getGoodsCancel');
                sendJson({
                    url  : urlDBD(API.goodsList),
                    data : data,
                    success : function (res) {
                        self.packages = res.results.Goods;
                        self.unload('getGoodsCancel');
                        self.replaceTable();
                    },
                    functionIfError : function () {
                        self.unload('getGoodsCancel');
                    }
                })
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            replaceContent: function(goods, goodsPackageCode, i){
                if(this.configDisplay !== ''){
                    let tr = $(this.configDisplay).find('tbody tr:first-child');
                    if(tr[0].innerHTML){
                        tr = tr[0].innerHTML;
                        tr = tr.replaceAll('[so_thu_tu]' , i);
                        tr = tr.replaceAll('[ma_hang]' , goodsPackageCode);
                        tr = tr.replaceAll('[ngay_gui]' , Vue.filter('customDate')(goods.sendDate, '#DD#-#MM#'));
                        tr = tr.replaceAll('[ten_hang]' , goods.goodsName);
                        tr = tr.replaceAll('[nguoi_gui]' , goods.sender);
                        tr = tr.replaceAll('[sdt_nguoi_gui]' , Vue.filter('phoneNumber')(goods.senderPhone));
                        tr = tr.replaceAll('[noi_gui]' , Vue.filter('cutString')(goods.pickPointName||goods.pickUpPoint, 30));
                        tr = tr.replaceAll('[nguoi_nhan]' , goods.receiver);
                        tr = tr.replaceAll('[sdt_nguoi_nhan]' , Vue.filter('phoneNumber')(goods.receiverPhone));
                        tr = tr.replaceAll('[noi_nhan]' , Vue.filter('cutString')(goods.dropPointName||goods.dropOffPoint, 30));
                        tr = tr.replaceAll('[ly_do_huy]' , goods.cancelReason);
                        tr = tr.replaceAll('[nguoi_huy]' , goods.updateUserName);
                    }
                    return '<tr>' + tr + '</tr>';
                }
            },
            replaceTable: function(){
                let self = this;
                if(this.configDisplay !== ''){
                    let tr = $(this.configDisplay).find('tbody tr:first-child');
                    tr = tr[0].innerHTML;
                    let tbody = '';
                    let i = 1;
                    $.each(this.packages, function(key, val){
                        $.each(val.goodsList, function(key1, val1){
                            tbody += self.replaceContent(val1, val.goodsPackageCode, i);
                            i++;
                        })
                    });
                    let length = $(this.configDisplay).find('thead th').length;
                    if(this.packages.length <= 0){
                        tbody = '<tr> <td colspan="' + length + '" class="text-center">Không có dữ liệu</td> </tr>';
                    }
                    $(self.$el).find('#goods-cancel tbody').html(tbody);
                }
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicket');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_STATISTICAL_GOODS_EMPLOYEE,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            self.configDisplay = res.results.data;
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            },
        }
    }
</script>
<style type="text/css">
    #goods-cancel tr th {
        background: #084388;
        color: white;
        padding: 0.3rem;
    }
    #goods-cancel tr td{
       padding: 0.3rem; 
    }
    #goods-cancel tbody tr:nth-child(2n){
        background: #eee;
    }
</style>