<template>
    <div class="table-responsive tableGoods">
        <div class="row">
            <div style="margin-left: 30px">
                <el-button type="primary" size="small" @click="showQR">Đưa hàng xuống xe bằng mã QR</el-button>
            </div>
        </div>
        <el-dialog title="Danh sách đơn hàng" :visible.sync="showDialogQR" width="80%" @close="closeShowQR">
            <qr-goods-list @downToTrip="setUpDoGoodsDownToTrip($event)" :status="status"></qr-goods-list>
        </el-dialog>
        <el-dialog
                title="Chọn người nhận tin"
                :visible.sync="dialogSelectSentSMS"
                width="30%"
                :before-close="handleClose">
            <div>
                <el-checkbox v-model="senderSMS" label="Người gửi hàng" border></el-checkbox>
                <el-checkbox v-model="receverSMS" label="Người nhận hàng" border></el-checkbox>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogSelectSentSMS = false">Hủy</el-button>
                <el-button type="primary" @click="sendSMS(packageChecked, event)">Gửi</el-button>
            </span>
        </el-dialog>
        <template v-for="(pk, key) in packages">
            <div class="col-12" style="padding-right: 0; padding-left: 0">
                <div class="row" style="padding: 20px 15px 5px 15px">
                    <div class="col-2">
                        <span style="font-size: 18px;font-weight: bolder">Điểm nhận: {{pk.pickPointName}} </span>
                    </div>
                    <div class="col-2">
                        <span style="font-size: 16px;font-weight: bolder">Số điểm trả: {{pk.totalPointDeliver|number}} </span>
                    </div>
                    <div class="col-2">
                        <span style="font-size: 16px;font-weight: bolder">Tổng số hàng: {{pk.totalGood|number}} </span>
                    </div>
                    <div class="col-2">
                        <span style="font-size: 16px;font-weight: bolder">Tổng tiền: {{pk.totalMoney|number}} </span>
                    </div>
                    <div class="col-2">
                        <span style="font-size: 16px;font-weight: bolder">Đã thu: {{pk.totalMoneyPaid|number}} </span>
                    </div>
                    <div class="col-2">
                        <span style="font-size: 16px; color: #e3342f;font-weight: bolder">Chưa thu: {{pk.totalMoneyUnpaid|number}} </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-sm">
            <thead class="bg-anvui text-white">
            <tr class="text-center">
                <th class="no-print-this"><input type="checkbox" :checked="checkList(pk.list)" @change="cl_checkAllPackage(pk.list, $event.target.checked)" id="goodsUpToTripCheckAll"><label for="goodsUpToTripCheckAll">&nbsp;</label></th>
                <th>Mã vận đơn</th>
                <th>N/Nhận</th>
                <th>T/Tin Hàng</th>
                <th>Cước Phí</th>
                <th>Đã thu</th>
                <th>Còn lại</th>
                <th>Người Gửi</th>
                <th>Điểm lên</th>
                <th>Người Nhận</th>
                <th>Điểm xuống</th>
                <th>Chuyến</th>
                <th>Ghi chú</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="packages.length <=0">
                <td colspan="10" class="text-center">Không có dữ liệu</td>
            </tr>
            <template v-for="(pkSun, k) in pk.listPointDeliver">
                <tr >
                    <td colspan="13" style="text-align: center;font-weight: bolder; font-size: 16px;">Điểm trả: {{pkSun.dropPointName}} </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center; font-size: 16px; font-weight: bold;">Tổng</td>
                    <td style="text-align: center;font-size: 16px; font-weight: bold;">{{pkSun.totalGood| number}}</td>
                    <td style="text-align: right;font-size: 16px; font-weight: bold;">{{pkSun.totalMoney|number}}</td>
                    <td style="text-align: right;font-size: 16px; font-weight: bold;">{{pkSun.totalMoneyPaid|number}}</td>
                    <td style="text-align: right; color: #e3342f;font-size: 16px; font-weight: bold;">{{pkSun.totalMoneyUnpaid|number}}</td>
                    <td colspan="6"></td>
                </tr>
                <template v-for="(pk,key) in pkSun.listPointDeliver">
                    <template v-for="(goods,k) in pk.goodsList">
                        <tr :class="{'bg-e':key%2==0}">
                            <td v-if="k==0" :rowspan="pk.goodsList.length" class="text-center no-print-this">
                                <input type="checkbox" :id="goods.goodsId" :value="pk" v-model="packageChecked"><label :for="goods.goodsId">&nbsp;</label>
                            </td>
                            <td v-if="k==0" :rowspan="pk.goodsList.length">
                                <label :for="goods.goodsId" class="no-margin">{{ pk.goodsPackageCode }}</label>
                            </td>
                            <td class="text-center">
                                {{ goods.sendDate|customDate('#DD#-#MM#') }}<br>
                                <span v-if="pk.goodsList.length>1" class="link" @click="removeFromPackage(pk.goodsPackageCode,goods.goodsCode)">Tách</span>
                                <span class="link text-info" @click="editGoods(goods)">Sửa </span>
                                <span class="link text-info" @click=" $emit('call',{eventName: 'callShowHistory',goodId:goods.goodsId})">Lịch sử </span>
                            </td>
                            <td>
                                <span data-toggle="tooltip" data-placement="left" title="Họ Tên"><i class="fa fa-file"></i> : {{ goods.goodsName }} </span><br>
                                <span data-toggle="tooltip" data-placement="left" title="Số lượng"><i class="fa fa-sort-numeric-asc"></i> : {{ goods.quantity }} </span><br>
                                <span data-toggle="tooltip" data-placement="left" title="Giá trị hàng"><i class="fa fa-dollar"></i> : {{ goods.goodsValue|number }}</span>
                            </td>
                            <td class="text-right">
                                <b data-toggle="tooltip" data-placement="left" :title="'cước phí :'+goods.price+', Thu thêm :'+goods.extraPrice+', lí do : '+goods.extraPriceNote">{{ goods.totalPrice|number }}</b>
                            </td>
                            <td class="text-right">
                                <b class="text-anvui" data-toggle="tooltip" data-placement="left" title="Đã trả" >{{ goods.paid|number }}</b>
                            </td>
                            <td class="text-right">
                                <b class="text-danger" data-toggle="tooltip" data-placement="left" title="Chưa trả">{{ goods.unpaid|number }}</b>
                            </td>
                            <td class="text-center">
                                <span><i class="fa fa-user"></i> : {{ goods.sender}}</span><br>
                                <span><i class="fa fa-phone"></i> : {{ goods.senderPhone | phoneNumber}}</span><br>
                                <span><img style="max-height: 20px;max-width: 100px" v-if="goods.imageURL" :src="goods.imageURL" class="img-fluid" alt=""></span>
                            </td>
                            <td>
                                <span><i class="fa fa-map-marker"></i> {{ goods.pickPointName|cutString(30) }}</span><br>
                                <span><i class="fa fa-address-book"></i> {{ goods.pickUpPoint|cutString(30) }}</span>
                            </td>
                            <td class="text-center">
                                <span><i class="fa fa-user"></i> : {{ goods.receiver}}</span><br>
                                <span><i class="fa fa-phone"></i> : {{ goods.receiverPhone | phoneNumber}}</span><br>
                                <span><img style="max-height: 20px;max-width: 100px" v-if="goods.receiverImageURL" :src="goods.receiverImageURL" class="img-fluid" alt=""></span>
                            </td>
                            <td>
                                <span><i class="fa fa-map-marker"></i> {{ goods.dropPointName|cutString(30) }}</span><br>
                                <span><i class="fa fa-address-book"></i> {{ goods.dropOffPoint|cutString(30) }}</span>
                            </td>
                            <td>
                                <span>{{ pk.routeName }}</span><br>
                                <span>{{ pk.tripNumberPlate }} - {{(goods.tripStartTime||0)|customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#',true)}}</span>
                            </td>
                            <td>{{ goods.notice }}</td>
                        </tr>
                    </template>
                </template>
            </template>
            </tbody>
        </table>
        </template>
        <!--<div class="text-center">-->
            <!--<table style="margin:auto">-->
                <!--<tr>-->
                    <!--<th class="text-right">Tổng Cước : </th>-->
                    <!--<td> <span class="font-weight-bold size20"> {{ totalMoney.total|number }}</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th class="text-right">Đã Thu : </th>-->
                    <!--<td> <span class="font-weight-bold size20 text-anvui">{{ totalMoney.paid|number }}</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th class="text-right">Chưa Thu : </th>-->
                    <!--<td> <span class="font-weight-bold size20 text-danger">{{ totalMoney.unpaid|number }}</span></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->

        <div class="action-fixed-right no-print-this" :class="{'open':packageChecked.length>0}">
            <div class="list-group">
                <button class="list-group-item list-group-item-action list-group-item-warning" data-toggle="tooltip" data-placement="left" title="Bỏ hàng xuống xe" @click="doGoodsDownToTrip()"><i class="fa fa-download"></i></button>
                <button class="list-group-item list-group-item-action list-group-item-warning" data-toggle="tooltip" data-placement="left" title="Phục hồi hàng ( trạng thái mới tạo )" @click="revertGoodsStatus()"><i class="fa fa-undo"></i></button>
                <!--<button class="list-group-item list-group-item-action list-group-item-warning" data-toggle="tooltip" data-placement="left" title="In vận đơn" @click="printListGoods()"><i class="fa fa-print"></i></button>-->
                <button class="list-group-item list-group-item-action list-group-item-warning" data-toggle="tooltip" data-placement="left" title="In vận đơn" @click="$emit('call',{eventName : 'print',data:packageChecked})"><i class="fa fa-print"></i></button>
                <button class="list-group-item list-group-item-action list-group-item-warning" data-toggle="tooltip" data-placement="left" title="In Bảng hàng" @click="printTableListGoods()"><i class="fa fa-paw"></i></button>
                <button class="list-group-item list-group-item-action list-group-item-warning" data-toggle="tooltip" data-placement="left" title="In temp" @click="$emit('call',{eventName : 'print-tem',data:packageChecked})"><i class="fa fa-ticket-alt"></i></button>
                <el-dropdown
                        @command="setSentSMS(packageChecked, $event)"
                >
                    <button class="list-group-item list-group-item-action list-group-item-warning" data-toggle="tooltip">
                        <i class="fa fa-sms"></i>
                    </button>
                    <el-dropdown-menu slot="dropdown">
                        <template v-for="(config,c) in smsGoodConfig">
                            <el-dropdown-item :command="config.id">{{c+1}}. {{config.name}}</el-dropdown-item>
                        </template>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
        <div class="col-12">
            <print-list-goods :packages="packageChecked" :id="'printListPackageGoods'"></print-list-goods>
        </div>
        <add-update-goods ref="AddUpdateGoodsComponent" @event="$emit('call',{eventName: 'getGoods'})"></add-update-goods>
    </div>
</template>
<script>
    import PrintListGoods from '../Print/PrintListGoods.vue';
    import AddUpdateGoods from './AddUpdateGoods';
    import QrGoodsList from './QrGoodslist.vue';
    import { mapState } from "vuex";
    export default {
        components : {PrintListGoods,AddUpdateGoods,QrGoodsList},
        data : function () {
            return {
                packageChecked : [],
                loading : [],
                listRoute : [],
                listTrip : [],
                goodsUpToTrip : {
                    date : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    route : null,
                    trip :null
                },
                checkAllPackage : false,
                totalMoney : {
                    total: 0,
                    paid : 0,
                    unpaid :0,
                },
                goodsEdit : {},
                camera : 'rear', // 'front'
                cameraError : '',
                showDialogQR: false,
                qrGoodsList: [],
                packageQR: [],
                status: 'upToTrip',
                dialogSelectSentSMS: false,
                senderSMS: true,
                receverSMS: true,
                event: ''
            }
        },
        props : ['packages','routes','goodsTypes'],
        updated : function () {
            this.listRoute = this.routes;
            $('[data-toggle="tooltip"]').tooltip();
        },
        computed: {
            ...mapState({
                smsGoodConfig: state => state.smsGoodConfig,
            }),
        },
        methods : {
            handleClose: function () {
                this.dialogSelectSentSMS = false
            },
            setSentSMS: function(packageChecked, event) {
                this.dialogSelectSentSMS = true
                this.event = event
            },
            showQR: function () {
                this.showDialogQR = true
            },
            closeShowQR: function () {
                this.showDialogQR = false
            },
            checkList: function (list) {
                let self = this
                let a = false
                let b = 0
                $.each(list, function (l, li) {
                    let c = false
                    $.each(self.packageChecked, function (p, pk) {
                        if (li.goodsPackageCode == pk.goodsPackageCode) {
                            c = true
                        }
                    })
                    if (c){
                        b ++
                    }
                })
                if(b == list.length){
                    a = true
                }
                return a
            },
            sendSMS : function(goods, event){
                let self = this
                $.each(goods, function (g, good) {
                    let goodsName = ''
                    let goodsTypeName = ''
                    let price = 0
                    let totalPrice = 0
                    let unpaid = 0
                    let paid = 0
                    let extraPrice = 0
                    let quantity = 0
                    let extraPriceNote = ''
                    let goodsValue = 0
                    for(let i = 0; i < good.goodsList.length; i++ ) {
                        if (good.goodsList.length == h) {
                            goodsName += (good.goodsList[i].goodsName ? good.goodsList[i].goodsName + '' : '')
                            goodsTypeName += (good.goodsList[i].goodsTypeName ? good.goodsList[i].goodsTypeName  + '': '')
                            extraPriceNote += (good.goodsList[i].extraPriceNote? good.goodsList[i].extraPriceNote + '' : '' )
                        } else {
                            goodsName += (good.goodsList[i].goodsName ? good.goodsList[i].goodsName + ',' : '')
                            goodsTypeName += (good.goodsList[i].goodsTypeName ? good.goodsList[i].goodsTypeName  + ',': '')
                            extraPriceNote += (good.goodsList[i].extraPriceNote? good.goodsList[i].extraPriceNote + ',' : '' )
                        }
                        price += good.goodsList[i].price ? parseInt(good.goodsList[i].price) : 0
                        totalPrice += good.goodsList[i].totalPrice ? parseInt(good.goodsList[i].totalPrice) : 0
                        unpaid += good.goodsList[i].unpaid ? parseInt(good.goodsList[i].unpaid) : 0
                        paid += good.goodsList[i].paid ? parseInt(good.goodsList[i].paid) : 0
                        extraPrice += good.goodsList[i].extraPrice ?  parseInt(good.goodsList[i].extraPrice)  : 0
                        quantity += good.goodsList[i].quantity ? parseInt(good.goodsList[i].quantity) : 0
                        goodsValue += good.goodsList[i].goodsValue ? parseInt(good.goodsList[i].goodsValue) : 0
                    }
                    price = price.toString()
                    totalPrice = totalPrice.toString()
                    unpaid = unpaid.toString()
                    paid = paid.toString()
                    extraPrice = extraPrice.toString()
                    quantity = quantity.toString()
                    goodsValue = goodsValue.toString()

                    let listConfig = self.getConfigGood()
                    let config = ''
                    $.each(listConfig, function (li, conf) {
                        if (conf.id == event){
                            config = conf.nativeContent
                        }
                    })
                    let a = config.replace('${goodsPackageCode}', good.goodsPackageCode ? good.goodsPackageCode + ' ' : '')
                    let b = a.replace('${goodsName}',goodsName)
                    let bb = b.replace('${goodsTypeName}', goodsTypeName)
                    let c = bb.replace('${pickPointName}', good.goodsList[0].pickPointName ? good.goodsList[0].pickPointName  + ' ': '')
                    let d = c.replace('${dropPointName}', good.goodsList[0].dropPointName ? good.goodsList[0].dropPointName  + ' ' : '')
                    let dd = d.replace('${pickUpPoint}', good.goodsList[0].pickUpPoint ? good.goodsList[0].pickUpPoint  + ' ' : '')
                    let ddd = dd.replace('${dropOffPoint}', good.goodsList[0].dropOffPoint ? good.goodsList[0].dropOffPoint  + ' ' : '')
                    let ee = ddd.replace('${sender}',good.goodsList[0].sender ? good.goodsList[0].sender  + ' ': '')
                    let eee = ee.replace('${senderPhone}', good.goodsList[0].senderPhone ? good.goodsList[0].senderPhone  + ' ' : '')
                    let gg = eee.replace('${receiver}', good.goodsList[0].receiver ? good.goodsList[0].receiver  + ' ': '')
                    let h = gg.replace('${receiverPhone}',good.goodsList[0].receiverPhone ? good.goodsList[0].receiverPhone  + ' ' : '')
                    let hh = h.replace('${driverPhonenumber}',good.trip && good.trip.drivers && good.trip.drivers.length > 0 && good.trip.drivers[0].phoneNumber ? good.trip.drivers[0].phoneNumber  + ' ' : '')
                    let hhh = hh.replace('${vehiclePhonenumber}',good.trip && good.trip.vehicle && good.trip.vehicle.phoneNumber ? good.trip.vehicle.phoneNumber  + ' ' : '')
                    let ii = hhh.replace('${price}', price)
                    let jj = ii.replace('${totalPrice}',totalPrice)
                    let kk = jj.replace('${unpaid}',unpaid)
                    let ll = kk.replace('${paid}', paid)
                    let m = ll.replace('${extraPrice}', extraPrice)
                    let l = m.replace('${extraPriceNote}',extraPriceNote)
                    let lll = l.replace('${roomAddress}', window.userInfo.userInfo.room.address)
                    let i = lll.replace('${quantity}',quantity)
                    let j = i.replace('${goodsValue}',goodsValue)
                    let messageReplace = j.replace('${sendDate}',good.goodsList[0].sendDate ? good.goodsList[0].sendDate  + ' ' : '')


                    let data = {
                        message: messageReplace,
                    }
                    if(good.goodsList[0].receiverPhone || good.goodsList[0].senderPhone){
                        data.phoneNumber = []
                        if(good.goodsList[0].receiverPhone && self.receverSMS){
                            data.phoneNumber.push(good.goodsList[0].receiverPhone)
                        }
                        if(good.goodsList[0].senderPhone && self.senderSMS){
                            data.phoneNumber.push(good.goodsList[0].senderPhone)
                        }
                    }
                    window.sendJson({
                        url : window.urlDBD(window.API.goodSendSMS),
                        data : data,
                        success : function (res) {
                            self.dialogSelectSentSMS = false
                            notify("Gửi tin nhắn thành công");
                        },
                        error : function (err) {
                            notify("Vui lòng kiểm tra số điện thoại gửi");
                            console.warn(err);
                        }
                    });
                })
            },
            getConfigGood(page = 0, count = 50) {
                let self = this;
                let param = { page, count };
                let result = [];
                sendJson({
                    url : urlDBD(API.smsConfigDisplayList),
                    data : {
                        page: 0,
                        count: 50,
                    },
                    async : false,
                    success : function (res) {
                        $.each(res.results.listMessage, function (c, config) {
                            if (config.messageType == 9 || config.messageType > 1000000000){
                                result.push(config)
                            }
                        });
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingSmsDisplay');
                    }
                });
                return result;
            },
            setGoodsSelected : function (goods) {
                if(this.goodsSelected.goodsId === goods.goodsId){
                    this.goodsSelected = {};
                }else{
                    this.goodsSelected = _.cloneDeep(goods);
                }
            },
            createPackage :function () {
                let self = this;
                let goodsIdList = [];
                self.loading.push('createPackage');
                $.each(self.packageChecked,function (k,v) {
                    goodsIdList.push(_.cloneDeep(v.goodsPackageCode));
                });
                sendJson({
                    url : urlDBD(API.createGoodsPackage),
                    data : {
                        timeZone :7,
                        goodsIdList :goodsIdList
                    },
                    success: function(data){
                        self.loading.remove('createPackage');
                        self.packageChecked=[];
                        self.$emit('call',{eventName: 'getGoods'});
                    },
                    functionIfError : function (err) {
                        self.loading.remove('createPackage');
                    }
                });
            },
            removeFromPackage : function (packageCode,goodsCode) {
                let self = this;
                self.loading.push('removeFromPackage');
                sendJson({
                    url : urlDBD(API.updateGoodsPackage),
                    data : {
                        goodsPackageCode : packageCode,
                        goodsCode :[goodsCode],
                        'delete' : true
                    },
                    success: function(data){
                        self.loading.remove('removeFromPackage');
                        self.packageChecked=[];
                        self.$emit('call',{eventName: 'getGoods'});
                    },
                    functionIfError : function (err) {
                        self.loading.remove('removeFromPackage');
                    }
                });
            },
            getListTrip : function () {
                let self = this;
                if(self.goodsUpToTrip.route===null){
                    notyMessage('Vui lòng chọn tuyến','error');
                    return false;
                }
                self.goodsUpToTrip.trip=null;
                let route = _.cloneDeep(self.goodsUpToTrip.route)
                let params = {
                    'page': 0,
                    'count': 100,
                    'timeZone': 7,
                    'routeId': route.routeId,
                    'companyId': userInfo.companyId,
                    'date': func.dateToMS(self.goodsUpToTrip.date),
                    'start': route.listPointId[0],
                    'end': route.listPointId[route.listPointId.length-1],
                };
                self.loading.push('getListTrip');
                sendJson({
                    url : urlDBD(API.tripList),
                    data : params,
                    success : function (data) {
                        self.listTrip = data.results.result;
                        if(data.results.result.length>0){ // lấy xong nếu có thì chon luôn chuyến đầu
                            self.goodsUpToTrip.trip = data.results.result[0];
                        }
                        self.loading.remove('getListTrip');
                    },
                    functionIfError:function (data) {
                        self.loading.remove('getListTrip');
                    }
                });
            },
            printListGoods :function () {
                $('#printListPackageGoods').printThis();
            },
            printTableListGoods : function () {
                $('.tableGoods').printThis();
            },
            printListTemp :function () {
                $('#printListPackageGoods-temp').printThis();
            },
            openGoodsUpToTrip : function () {
                $('#modalGoodsUpToTrip').modal('show');
            },
            chooseTrip : function (trip) {
                this.goodsUpToTrip.trip = trip;
            },
            doGoodUpToTrip :function () {
                let self = this;
                let goodsPackageCode = [];
                $.each(self.packageChecked,function(k,v){
                    goodsPackageCode.push(v.goodsPackageCode);
                });
                let params = {
                    goodsStatus: 3,
                    timeZone: 7,
                    goodsPackageCode:goodsPackageCode,
                    tripId : self.goodsUpToTrip.trip.tripId,
                    scheduleId : self.goodsUpToTrip.trip.scheduleId,
                    timeCreate : func.dateToMS(self.goodsUpToTrip.date),
                };
                self.loading.push('doGoodUpToTrip');
                sendJson({
                    url : urlDBD(API.arriveGoodsPackage),
                    data : params,
                    success : function (data) {
                        self.loading.remove('doGoodUpToTrip');
                        self.$emit('call',{eventName: 'getGoods'});
                        $('#modalGoodsUpToTrip').modal('hide');
                    },
                    functionIfError:function (data) {
                        self.loading.remove('doGoodUpToTrip');
                    }
                });
            },
            setUpDoGoodsDownToTrip : function (data) {
                this.closeShowQR()
                this.packageChecked = data.listQrGoods
                this.doGoodsDownToTrip(data)
            },
            doGoodsDownToTrip : function (data1) {
                let self = this;
                let goodsPackageCode = [];
                $.each(self.packageChecked,function(k,v){
                    goodsPackageCode.push(v.goodsPackageCode);
                });
                let params = {
                    goodsStatus: 4,
                    timeZone: 7,
                    goodsPackageCode:goodsPackageCode,
                };
                self.load('doGoodDownToTrip');
                sendJson({
                    url : urlDBD(API.arriveGoodsPackage),
                    data : params,
                    success : function (data) {
                        if(data1 && data1.sendSms) {
                            self.sendSMS(self.packageChecked, data1.smsType)
                        }
                        self.packageChecked = []
                        self.unload('doGoodDownToTrip');
                        self.$emit('call',{eventName: 'getGoods'});
                        $('#modalGoodsUpToTrip').modal('hide');
                    },
                    functionIfError:function (data) {
                        self.unload('doGoodDownToTrip');
                    }
                });
            },
            revertGoodsStatus : function () {
                let self = this;
                let goodsPackageCode = [];
                $.each(self.packageChecked,function(k,v){
                    goodsPackageCode.push(v.goodsPackageCode);
                });
                let params = {
                    timeZone: 7,
                    goodsPackageCode:goodsPackageCode,
                };
                self.load('revertGoodsStatus');
                sendJson({
                    url : urlDBD(API.revertGoodsStatus),
                    data : params,
                    success : function (data) {
                        self.unload('revertGoodsStatus');
                        self.$emit('call',{eventName: 'getGoods'});
                        $('#modalGoodsUpToTrip').modal('hide');
                    },
                    functionIfError:function (data) {
                        self.unload('revertGoodsStatus');
                    }
                });
            },
            setTotalMoney : function () {
                let self = this;
                let totalMoney = {
                    total: 0,
                    paid : 0,
                    unpaid :0,
                };
                $.each(self.packages,function (kPk,pk) {
                    $.each(pk.goodsList,function (kGoods,goods) {
                        totalMoney.total+=goods.totalPrice||0;
                        totalMoney.paid+=goods.paid||0;
                        totalMoney.unpaid+=goods.unpaid||0;
                    });
                });
                self.totalMoney=totalMoney;
            },
            cl_checkAllPackage : function (list, checked) {
                let self = this
                if(checked){
                    $.each(list, function (p, pk) {
                        let a = true
                        $.each(self.packageChecked, function (g, good) {
                            if (pk.goodsPackageCode == good.goodsPackageCode) {
                                a = false
                            }
                        })
                        if (a){
                            self.packageChecked.push(pk)
                        }
                    })
                } else {
                    let lists = []
                    $.each(self.packageChecked, function (p, pk) {
                        let a = true
                        $.each(list, function (g, good) {
                            if (pk.goodsPackageCode == good.goodsPackageCode) {
                                a = false
                            }
                        })
                        if (a){
                            lists.push(pk)
                        }
                    })
                    self.packageChecked = lists
                }
                // if(list.length == self.packageChecked.length){
                //     self.packageChecked = [];
                // }else{
                //     self.packageChecked = _.cloneDeep(list);
                // }
            },
            editGoods : function (goods) {
                let self = this;
                self.$refs.AddUpdateGoodsComponent.open(goods);
                // self.goodsEdit = goods;
                // $('#modalEditGoods').modal('show');
            },
            updateGoodsSuccess : function(data){
                let self = this;
                $('#modalEditGoods').modal('hide');
                self.$emit('call',{eventName: 'getGoods'});
            },
        },
        watch : {
            'goodsUpToTrip.route' : function(oldVal,newVal) {
                this.getListTrip();
            },
            'goodsUpToTrip.date' : function(oldVal,newVal) {
                this.getListTrip();
            },
            packages :function (newVal,oldVal) {
                this.setTotalMoney();
                this.packageChecked = [];
            }
        }
    }
</script>
