<template>
    <div class="row respon-page" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col">
                    HÀNG HÓA
                </div>
                <div class="col-auto">
                    <router-link class="btn btn-danger btn-sm" :to="{name : 'GoodsCancel'}"><i class="fa fa-trash"></i> Danh sách hàng đã hủy</router-link>
                    <button class="btn btn-primary btn-sm" @click="exportToExcel()"><i class="fa fa-plus-circle"></i> Xuất excel</button>
                    <button class="btn btn-sm btn-outline-primary" @click="$refs.AddListGoodsComponent.open()"><i class="fa fa-plus"></i> {{$t('button.send-new-items')}}</button>
                </div>
            </div>
        </div>
        <!--searchForm-->
        <div class="col-12" >
            <div class="content-row">
                <div class="row">
                    <div class="col-12 selectType text-center">
                        <ul class="list-inline">
                            <template v-for="(tab,index) in tabs">
                                <li v-bind:class="{active : index==tabSelected}">
                                    <a href="javascript:void(0)" @click="tabSelected=parseInt(index)">{{ tab }}</a>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="searchReceiverPhone">SDT người nhận</label>
                            <input type="text" class="form-control form-control-sm" v-model="dataSearch.receiverPhone" id="searchReceiverPhone">
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="searchReceiverPhone">Nơi Nhận</label>
                            <selectpoint :isReceivedGoods="true" v-model="dataSearch.dropPoint" class="multiple-sm"></selectpoint>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="searchSenderPhone">SDT người gửi</label>
                            <input type="text" class="form-control form-control-sm" v-model="dataSearch.senderPhone" id="searchSenderPhone">
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="searchReceiverPhone">Nơi Gửi</label>
                            <selectpoint :isReceivedGoods="true" v-model="dataSearch.pickPoint" class="multiple-sm"></selectpoint>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="searchGoodsCode">Mã hàng</label>
                            <input type="text" autofocus @change="searchByQR($event.target.value)" id="searchGoodsCode" v-model="dataSearch.goodsCode" class="form-control form-control-sm">
                        </div>
                    </div>
                    <!-- <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="">Từ Ngày ( Ngày tạo hàng )</label>
                            <datepicker dataClass="form-control-sm"  :readonly="false" v-model="dataSearch.sendDate"></datepicker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="">Đến Ngày ( Ngày tạo hàng )</label>
                            <datepicker dataClass="form-control-sm" :readonly="false" v-model="dataSearch.toDate"></datepicker>
                        </div>
                    </div> -->
                    <!--<datepicker-ranger v-model="dataSearch"></datepicker-ranger>-->
                    <div class="col-3">
                        <div class="form-group">
                            <label>Từ ngày (Ngày tạo hàng)</label><br>
                            <el-date-picker class="w-100" v-model="dateStart" :clearable="false" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                            placeholder="Chọn ngày"></el-date-picker>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label>Đến ngày (Ngày tạo hàng)</label><br>
                            <el-date-picker class="w-100" v-model="dateEnd" :clearable="false" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                            placeholder="Chọn ngày"></el-date-picker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="searchRoute">Tuyến</label>
                            <select name="" v-model="dataSearch.route" id="searchRoute" class="form-control form-control-sm">
                                <option value="">Tất cả</option>
                                <template v-for="route in routes">
                                    <option :value="route">{{route.routeName}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <el-popover
                                @show="camera='rear'"
                                @hide="camera='off'"
                                placement="bottom"
                                title="Quét mã"
                                width="200"
                                trigger="click">
                            <div>
                                <div class="text-danger">{{cameraError}}</div>
                                <qrcode-stream :camera="camera" @init="onInitCamera" @decode="onDecode"></qrcode-stream>
                                <div class="w-100 text-right">
                                    <el-button size="mini" @click="camera = camera === 'front'?'rear':'front'">{{camera === 'front'?'Bật camera sau':'Bật camera trước'}}</el-button>
                                </div>
                            </div>
                            <el-button size="small" slot="reference" title="Tìm theo mã Qr"><i class="fa fa-qrcode"></i></el-button>
                        </el-popover>
                        <button class="btn btn-success btn-sm" id="btnDoSearch" @click="getGoods()"><i class="fa fa-search"></i> LỌC</button>
                        <router-link class="btn btn-dark btn-sm" :to="{name : 'Ticket06',query:{tab:4}}"><i class="fa fa-search-plus"></i> LỌC HÀNG THEO CHUYẾN</router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top10 tableGoodsExportExcel">
            <div class="text-right">
                <count v-model="goodsCount"></count>
            </div>
            <goods-package :goodsTypes="goodsTypes" v-on:call="callFormChild($event)" v-if="tabSelected==1" :routes="routes" :packages="listGoods"></goods-package>
            <goods-up-to-trip :goodsTypes="goodsTypes" v-on:call="callFormChild($event)" v-if="tabSelected==2" :routes="routes" :packages="listGoods"></goods-up-to-trip>
            <goods-down-to-trip v-on:call="callFormChild($event)" v-if="tabSelected==3" :routes="routes" :packages="listGoods"></goods-down-to-trip>
            <goods-paid v-on:call="callFormChild($event)" v-if="tabSelected==4" :routes="routes" :packages="listGoods"></goods-paid>
            <goods-search v-on:call="callFormChild($event)" v-if="tabSelected==5" :routes="routes" :packages="listGoods"></goods-search>
            <div class="text-center">
                <loadmore v-model="goodsPage" :loadMore="loadMore"></loadmore>
            </div>
        </div>
        <div class="d-none">
            <print-goods-tem ref="PrintGoodsTemComponent"></print-goods-tem>
            <print-goods ref="PrintGoodsComponent"></print-goods>
            <!--<goods-setting :title="'CÀI ĐẶT GỬI ĐỒ'"></goods-setting>-->
            <print-goods :goods="dataGoodsPrintAfterCreate" v-if="dataGoodsPrintAfterCreate!==null" :id="'goodsPrintAfterCreate'"></print-goods>
        </div>
        <goods-history ref="GoodsHistoryComponent"></goods-history>
        <add-list-goods ref="AddListGoodsComponent" @event="callFormChild({eventName:'getGoods'})"></add-list-goods>
    </div>
</template>
<script>
    import GoodsSearch from './GoodsSearch.vue';
    import GoodsPackage from './GoodsPackage.vue';
    import GoodsUpToTrip from './GoodsUpToTrip.vue';
    import GoodsDownToTrip from './GoodsDownToTrip.vue';
    import GoodsPaid from './GoodsPaid.vue';
    import GoodsSetting from '../Setting/GoodsSetting.vue';
    // import printGoods from '../Print/PrintGoods.vue';
    import printGoodsTem from '../Print/GoodsTem.vue';
    import printGoods from '../Print/Goods.vue';
    import GoodsHistory from './GoodsHistory';
    import AddListGoods from '../Goods/AddListGoods';
    import { mapState} from 'vuex';

    let d = new Date()
    export default {
        components : {GoodsSearch,GoodsPackage,GoodsUpToTrip,GoodsDownToTrip,GoodsPaid,GoodsSetting,printGoods,printGoodsTem, GoodsHistory,AddListGoods},
        data : function () {
            return {
                tabs : {
                    1 : "1. Hàng mới nhận",
                    2 : "2. Hàng đã lên xe",
                    3 : "3. Hàng đã xuống xe",
                    4 : "4. Hàng đã trả",
                    5 : "5. Tìm kiếm",
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                tabSelected : null,
                goodsCount : 25,
                goodsPage : 0,
                loadMore : true,
                dataSearch : {
                    type: true,
                    goodsCode :'',
                    senderPhone : '',
                    receiverPhone :'',
                    route : '',
                    startDate : '',
                    endDate : '',
                    pickPoint: null,
                    dropPoint : null,
                },
                goods : [],//danh sách đồ
                listGoods: [],
                routes : [],//dánh sách tuyến
                loading : [],//biết xem trạng thái load khi mới vào trang, nếu độ dài >0 -> vẫn hiện thị load
                singleLoading : {
                    getGoods : func.defaultLoad(),
                    getPoint : false,
                },
                reload : '',//các single loading khi lỗi và click vào load lại sẽ thay đổi biến này,watch thấy thay đổi sẽ load lại
                goodsTypes : [],//danh sách loại hàng
                dataGoods : this.dataCreateNewGoods(),//biến lưu trữ thông tin của hàng sẽ tạo hoặc sửa
                dataGoodsOld : {},
                option : [],
                points : [],//danh sách các điểm
                dataGoodsPrintAfterCreate : null,
                camera : 'rear', // 'front'
                cameraError : '',
                firstTime: true,
            }
        },
        created : function () {
            if(typeof this.$route.query.tab!=='undefined'){
                this.tabSelected = parseInt(this.$route.query.tab);
            }else{
                this.tabSelected=1;
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        mounted :function () {
            let self=this;
            this.getGoodsType();
            this.getRoutes();
            this.searchPoint('');
            this.autoCompletePhoneNumber();
        },
        methods : {
            clearInput: function() {
                this.dataSearch.goodsCode = ''
                document.getElementById('searchGoodsCode').focus()
            },
            searchByQR: function(value) {
                let a = value.split('')
                if(a.length > 12) {
                    let self = this;
                    self.loading = true;
                    let params = {
                        page : 0,
                        count : 25,
                        companyId : window.userInfo.userInfo.companyId,
                        goodsCode : value,
                        goodsStatus : [1,2,3,4,5],
                        sendDate : 0,
                        toDate : new Date().getTime(),
                    };
                    if(window.userInfo.userInfo.room != undefined){
                        params.roomId = window.userInfo.userInfo.room.id
                    }
                    sendJson({
                        url : urlDBD(API.goodsListByUser),
                        data : func.removeItemNullInArray(params),
                        success :function (data) {
                            if(data.results.Goods.length > 0){
                                if(self.firstTime) {
                                    self.goods = []
                                    self.firstTime = false
                                }
                                let res = data.results.Goods[0];
                                self.goods.push(res)
                                self.handlerData()
                                self.clearInput()
                            }
                            self.loading = false;
                        },
                        functionIfError : function (res) {
                            self.loading = false;
                        }
                    })
                }

            },
            async onInitCamera(promise) {
                try {
                    this.cameraError = "";
                    await promise;
                } catch (error) {
                    if (error.name === "NotAllowedError") {
                        this.cameraError = "ERROR: you need to grant camera access permisson";
                    } else if (error.name === "NotFoundError") {
                        this.cameraError = "ERROR: no camera on this device";
                    } else if (error.name === "NotSupportedError") {
                        this.cameraError =
                                "ERROR: secure context required (HTTPS, localhost)";
                    } else if (error.name === "NotReadableError") {
                        this.cameraError = "ERROR: is the camera already in use?";
                    } else if (error.name === "OverconstrainedError") {
                        this.cameraError = "ERROR: installed cameras are not suitable";
                    } else if (error.name === "StreamApiNotSupportedError") {
                        this.cameraError =
                                "ERROR: Stream API is not supported in this browser";
                    }
                }
            },
            onDecode : function (result) {
                let self = this;
                self.loading = true;
                let params = {
                    page : 0,
                    count : 25,
                    companyId : window.userInfo.userInfo.companyId,
                    goodsCode : result,
                    goodsStatus : [1,2,3,4,5],
                    sendDate : 0,
                    toDate : new Date().getTime(),
                };
                if(window.userInfo.userInfo.room != undefined){
                    params.roomId = window.userInfo.userInfo.room.id
                }
                sendJson({
                    url : urlDBD(API.goodsListByUser),
                    data : func.removeItemNullInArray(params),
                    success :function (data) {
                        if(data.results.Goods.length > 0){
                            let res = data.results.Goods[0];
                            self.goods = []
                            self.goods.push(res)
                            self.handlerData()
                        }
                        self.loading = false;
                    },
                    functionIfError : function (res) {
                        self.loading = false;
                    }
                })
            },
            addGoods : function () {
                let currentDate=new Date().customFormat('#DD#-#MM#-#YYYY#');
                let self = this;
                let oldPoint = null;
                try{
                    oldPoint =JSON.parse(localStorage.getItem('pickPointIdGoods'))||null;
                }catch(e){

                }

                self.dataGoods.pickPointId = oldPoint;
                self.dataGoods.dropOffPoint = (oldPoint && oldPoint.address ? oldPoint.address:'');
                self.dataGoods.goodsCode = '';
                self.dataGoods.sendDate = currentDate;
                self.dataGoods.sender = '';
                self.dataGoods.senderPhone = '';
                self.dataGoods.receiver = '';
                self.dataGoods.receiverPhone = '';
                self.dataGoods.dropPointId = null;
                self.dataGoods.dropOffPoint = '';
                self.dataGoods.totalPrice = 0;
                self.dataGoods.paid = 0;
                self.dataGoods.unpaid = 0;
                self.dataGoods.items = [
                    self.dataNewItemsInGoods(),
                ];
                $('#modalAddGoods').modal('show');
            },
            addNewItemToGoods :function () {
                this.dataGoods.items.push(this.dataNewItemsInGoods());
            },
            callFormChild : function (ev) {
                console.log(ev)
                switch (ev.eventName){
                    case 'getGoods' :
                        this.getGoods();
                        break;
                    case 'print-tem' :
                        this.$refs.PrintGoodsTemComponent.print(ev.data);
                        break;
                    case 'print' :
                        this.$refs.PrintGoodsComponent.print(ev.data);
                        break;
                    case 'callShowHistory':
                        this.$refs.GoodsHistoryComponent.showGoodsHistory(ev.goodId);
                        break;
                    default : return;
                }
            },
            getGoodsType : function () {
                let self = this;
                self.load('loadGoodsTypes');
                sendJson({
                    url : urlDBD(API.goodsTypeList),
                    data : {page : 0,count :100,companyId : userInfo.userInfo.companyId,getPriceTable:true},
                    success :function (res) {
                        self.goodsTypes = res.results.list;
                        self.unload('loadGoodsTypes');
                    },
                    functionIfError : function (res) {
                        self.unload('loadGoodsTypes');
                    }
                })
            },
            getRoutes :function () {
                let self = this;
                self.load('loadRoute');
                sendJson({
                    url : urlDBD(API.routeList),
                    data : {page : 0,count :func.count50(),companyId : userInfo.userInfo.companyId},
                    success :function (res) {
                        self.routes = res.results.result;
                        self.unload('loadRoute');
                    },
                    functionIfError : function (res) {
                        self.unload('loadRoute');
                    }
                })
            },
            getGoods : function (page) {
                let pageSend = 0;
                this.firstTime = true;
                this.loadMore = true;
                if(page!==undefined){ // nếu không truyền page thì lấy page = 0 và set giá trị cho load Mỏe là có
                    pageSend = page;
                }else{
                    pageSend = 0;
                    this.goodsPage=0;
                }
                let self = this;
                self.load('getGoods');
                let goodsStatus;
                switch (this.tabSelected){
                    case 1 :
                        goodsStatus = [1,2];
                        break;
                    case 2 :
                        goodsStatus = [3];
                        break;
                    case 3 :
                        goodsStatus = [4];
                        break;
                    case 4 :
                        goodsStatus = [5];
                        break;
                    default :
                        goodsStatus = [1,2,3,4,5];
                        break;
                }
                let data = _.cloneDeep(self.dataSearch);
                let params = {
                    page : pageSend,
                    count : self.goodsCount,
                    companyId : userInfo.userInfo.companyId,
                    goodsCode : data.goodsCode,
                    senderPhone : data.senderPhone,
                    receiverPhone : data.receiverPhone,
                    goodsStatus : goodsStatus,
                    sendDate : self.dateStart,
                    toDate : self.dateEnd + 86340000,
                };
                if(window.userInfo.userInfo.room != undefined && self.companyConfig.CONFIG.USE_GET_GOODS_BY_ROOM.value){
                    params.roomId = window.userInfo.userInfo.room.id
                }
                if(data.dropPoint!==null&&data.dropPoint!==''){
                    params.dropPointId = data.dropPoint.id;
                }
                if(data.pickPoint!==null&&data.pickPoint!==''){
                    params.pickPointId = data.pickPoint.id;
                }
                if(data.route!==null&&data.route!==''){
                    params.routeId = data.route.routeId;
                }
                let url = urlDBD(API.goodsList)
                if(self.companyConfig.CONFIG.USE_GET_GOODS_BY_ROOM.valueUpdate){
                    url = urlDBD(API.goodsListByUser)
                }
                sendJson({
                    url : url,
                    data : func.removeItemNullInArray(params),
                    success :function (res) {
                        if(page!==undefined&&page>0){
                            self.goods = self.goods.concat(res.results.Goods);// nếu là load thêm thì gộp mảng ngược lại thì gán bằng mảng mới luôn
                        }else{
                            self.goods = res.results.Goods;
                        }
                        self.handlerData()
                        if(self.countGoodsInListPack(res.results.Goods) < self.goodsCount){
                            self.loadMore = false;
                        }
                        self.unload('getGoods');
                    },
                    functionIfError : function (res) {
                        self.unload('getGoods');
                    }
                })
            },
            handlerData : function () {
                let self = this
                let goods = self.goods
                let repairList = []
                let listPointId = []
                $.each(goods, function (g, good) {
                    let x = true
                    $.each(listPointId, function (i, id) {
                        if(good.goodsList[0].pickPointId == id){
                            x = false
                        }
                    })
                    if (listPointId == [] || x){
                        let a = {
                            pickPointId: good.goodsList[0].pickPointId,
                            pickPointName: good.goodsList[0].pickPointName ? good.goodsList[0].pickPointName :  good.goodsList[0].pickUpPoint ? good.goodsList[0].pickUpPoint : 'Không xác định',
                            totalPointDeliver: 0,
                            list: [],
                            totalGood: 0,
                            totalMoney: 0,
                            totalMoneyPaid: 0,
                            totalMoneyUnpaid: 0,
                            listPointDeliver: []
                        }
                        let listPointDownId = []
                        $.each(goods, function (g, good) {
                            let y = true
                            $.each(listPointDownId, function (i, id) {
                                if(good.goodsList[0].dropPointId == id){
                                    y = false
                                }
                            })
                            if (a.pickPointId == good.goodsList[0].pickPointId && listPointDownId == [] || a.pickPointId == good.goodsList[0].pickPointId && y){
                                let b = {
                                    dropPointId: good.goodsList[0].dropPointId,
                                    dropPointName: good.goodsList[0].dropPointName ? good.goodsList[0].dropPointName : good.goodsList[0].dropOffPoint ? good.goodsList[0].dropOffPoint: 'Không xác định',
                                    totalGood: 0,
                                    totalMoney: 0,
                                    totalMoneyPaid: 0,
                                    totalMoneyUnpaid: 0,
                                    listPointDeliver: []
                                }
                                $.each(goods, function (g, good) {
                                    if(good.goodsList[0].dropPointId == b.dropPointId && good.goodsList[0].pickPointId == a.pickPointId){
                                        b.listPointDeliver.push(good)
                                        a.list.push(good)
                                        $.each(good.goodsList, function (h, hang) {
                                            b.totalGood += hang.quantity
                                            b.totalMoney += hang.totalPrice
                                            b.totalMoneyPaid += hang.paid
                                            b.totalMoneyUnpaid += hang.unpaid

                                        })
                                    }
                                })
                                a.listPointDeliver.push(b)
                                a.totalPointDeliver ++
                                a.totalGood +=b.totalGood
                                a.totalMoney +=b.totalMoney
                                a.totalMoneyPaid +=b.totalMoneyPaid
                                a.totalMoneyUnpaid +=b.totalMoneyUnpaid
                                listPointDownId.push(good.goodsList[0].dropPointId)
                            }
                        })
                        listPointId.push(good.goodsList[0].pickPointId)
                        repairList.push(a)
                    }
                })
                self.listGoods = repairList

            },
            autoCompletePhoneNumber : function () {
                let self = this;
                $('#txtSenderPhone').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.dataGoods.senderPhone = _.cloneDeep(ui.item.receiverPhone);
                        self.dataGoods.sender = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
                $('#txtReceiverPhone').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.goodsSearchByPhone),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term
                            },
                            success : function (data) {
                                response(data.results.customers);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        self.dataGoods.receiverPhone = _.cloneDeep(ui.item.receiverPhone);
                        self.dataGoods.receiver = _.cloneDeep(ui.item.receiver);
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append("<div class='border-bottom'><strong>" + item.receiverPhone + "</strong> - "+item.receiver+"</div>")
                        .appendTo( ul );
                };
            },
            countGoodsInListPack : function (listPack) {
                let count = 0;
                $.each(listPack,function (key,pack) {
                    count+= pack.goodsList.length;
                });
                return count
            },
            dataCreateNewGoods : function () {
                let currentDate=new Date().customFormat('#DD#-#MM#-#YYYY#');
                let data = {
                    goodsCode : '',
                    sendDate : currentDate,
                    sender : '',
                    senderPhone: '',
                    pickPointId : null,
                    pickUpPoint : '',
                    receiver: '',
                    receiverPhone :'',
                    dropPointId : null,
                    dropOffPoint : '',
                    sendSMS : false,
                    printBill : false,
                    printTemp : false,
                    items : [
                        this.dataNewItemsInGoods(),
                    ],
                    totalPrice : 0,
                    paid : 0,
                    unpaid : 0,
                };
                return data;
            },
            dataNewItemsInGoods :function () {
                let item = {
                    id : func.makeId(),
                    goodsType : null,
                    goodsValue : 0,
                    goodsName : '',
                    quantity :1,
                    price : 0,
                    extraPrice : 0,
                    extraPriceNote : '',
                    totalPrice : 0,
                    paid:0,
                    unpaid:0,
                    imageURL:'',
                    receiverImageURL:'',
                    notice : '',
                };
                return item;
            },
            removeItemToGoods : function (key) {
                this.dataGoods.items.splice(key,1);
            },
            searchPoint : function (query) {
                let self = this;
                self.singleLoading.getPoint=true;
                sendJson({
                    url : urlDBD(API.pointList),
                    data : {
                        page :0,
                        count:10,
                        pointName:query
                    },
                    success: function (data) {
                        self.points = data.results.result;
                        self.singleLoading.getPoint=false;
                    },
                    functionIfError : function (res) {
                        self.singleLoading.getPoint=false;
                    }
                })
            },
            createGoods : function () {
                let self = this;
                self.load('createGoods');
                let data = _.cloneDeep(self.dataGoods);
                let params = {
                    goodsCode : data.goodsCode,
                    goodsValue : data.items[0].goodsValue,
                    goodsName : data.items[0].goodsName,
                    quantity :data.items[0].quantity,
                    price : data.items[0].price,
                    extraPrice : data.items[0].extraPrice,
                    extraPriceNote : data.items[0].extraPriceNote,
                    totalPrice : data.items[0].totalPrice,
                    paid:data.items[0].paid,
                    unpaid:data.items[0].unpaid,
                    sender : data.sender,
                    senderPhone: data.senderPhone,
                    pickUpPoint : data.pickUpPoint,
                    imageURL:data.items[0].imageURL,
                    receiver: data.receiver,
                    receiverPhone :data.receiverPhone,
                    dropOffPoint : data.dropOffPoint,
                    receiverImageURL:data.items[0].receiverImageURL,
                    sendSMS : data.sendSMS,
                    notice : data.notice,
                };
                params.sendDate = func.dateToMS(data.sendDate);
                if(data.items[0].goodsType!==null){
                    params.goodsTypeId = data.items[0].goodsType.goodsTypeId;
                }
                if(data.dropPointId!==null){
                    params.dropPointId = data.dropPointId.id;
                }
                if(data.pickPointId!==null){
                    params.pickPointId = data.pickPointId.id;
                }

                sendJson({
                    url : urlDBD(API.goodsCreate),
                    data : params,
                    success :function (result) {
                        notify('Tạo thành công!','success');
                        self.unload('createGoods');
                        $('#modalAddGoods').modal('hide');
                        if(self.tabSelected===1){//chỉ tải lại danh sách hàng khi đó là form hàng mới nhận
                            self.getGoods();
                        }
                        self.dataGoodsPrintAfterCreate = result.results.goods;
                        setTimeout(function () {
                            if(data.printTemp){
                                self.$refs.PrintGoodsTemComponent.print([{goodsList : [result.results.goods]}]);
                            }
                            if(data.printBill){
                                self.$refs.PrintGoodsComponent.print([{goodsList : [result.results.goods]}]);
                            }
                        },300);
                    },
                    functionIfError : function (err) {
                        self.unload('createGoods');
                    }
                })
            },
            setOldListItem : function () {
                this.$data.listItemOld = _.cloneDeep(this.$data.dataGoods.items);
            },
            setPriceWhenChangeAddress : function () {
                if(this.dataGoods.pickPointId!==undefined&&this.dataGoods.pickPointId!==null&&this.dataGoods.pickPointId!==''&&this.dataGoods.dropPointId!==undefined&&this.dataGoods.dropPointId!==null&&this.dataGoods.dropPointId!==''){
                    // dropPoint và pickpoint khác rỗng mới thwujc thi
                    let self = this;
                    $.each(self.dataGoods.items,function(k,item){
                        if(item.goodsType!==null&&item.goodsType!==''&&item.goodsType!=='undefined'){
                            let extraPrice = parseFloat(_.cloneDeep(self.dataGoods.items[k].extraPrice));
                            let price = parseFloat(_.cloneDeep(self.dataGoods.items[k].goodsType.goodsTypePrice));
                            if(self.dataGoods.items[k].goodsType.usePriceTable&&typeof self.dataGoods.items[k].goodsType.priceTable !=='undefined'&&self.dataGoods.pickPointId!==null&&self.dataGoods.dropPointId!==null){
                                let startIndex=-1,endIndex=-1,lengthPoint=self.dataGoods.items[k].goodsType.priceTable.pointIdList.length;
                                $.each(self.dataGoods.items[k].goodsType.priceTable.pointIdList,function (k,point) {
                                    if(self.dataGoods.pickPointId.id === point){
                                        startIndex = k;
                                    }
                                    if(self.dataGoods.dropPointId.id === point){
                                        endIndex = k;
                                    }
                                });
                                if(startIndex!==-1&&endIndex!==-1){
                                    if(startIndex > endIndex){ // đổi vị trí để lấy từ bé đến lớn
                                        let indexMid = startIndex;
                                        startIndex = endIndex;
                                        endIndex = indexMid;
                                    }
                                    price = _.cloneDeep(self.dataGoods.items[k].goodsType.priceTable.priceList[lengthPoint*startIndex+endIndex]);
                                }
                            }
                            self.dataGoods.items[k].price = price;
                            self.dataGoods.items[k].totalPrice = price+extraPrice;
                            self.dataGoods.items[k].paid = price+extraPrice;
                            self.dataGoods.items[k].unpaid = 0;
                        }
                    });
                }
            },
            exportToExcel : function () {
                $('.tableGoodsExportExcel').find('table').table2excel({
                    name: "DANH SÁCH HÀNG",
                    filename: "DANH_SACH_HANG_"+new Date().customFormat('#DD#-#MM#-#YYYY#')+'.xls'
                })
            }
        },
        watch : {
            'dataGoods.items' : {
                handler(after,before){
                    let self = this;
                    if(typeof self.$data.listItemOld!=='undefined'){
                        let totalPrice = 0,paid=0,unpaid =0;
                        $.each(after,function (k,v) {
                            $.each(self.$data.listItemOld,function (i,e) {
                                let clonev = _.cloneDeep(v);
                                if(clonev.id===e.id){
                                    if(JSON.stringify(clonev.goodsType)!==JSON.stringify(e.goodsType)){
                                        let extraPrice = parseFloat(_.cloneDeep(self.dataGoods.items[k].extraPrice));
                                        if(clonev.goodsType===null){
                                            self.dataGoods.items[k].goodsName = '';
                                            let price = 0;
                                            self.dataGoods.items[k].price = price;
                                            self.dataGoods.items[k].totalPrice = price+extraPrice;
                                            self.dataGoods.items[k].paid = price+extraPrice;
                                            self.dataGoods.items[k].unpaid = 0;
                                        }else{
                                            self.dataGoods.items[k].goodsName = _.cloneDeep(clonev.goodsType.goodsTypeName||'');
                                            let price = parseFloat(_.cloneDeep(self.dataGoods.items[k].goodsType.goodsTypePrice));
                                            if(self.dataGoods.items[k].goodsType.usePriceTable&&typeof self.dataGoods.items[k].goodsType.priceTable !=='undefined'&&self.dataGoods.pickPointId!==null&&self.dataGoods.dropPointId!==null){
                                                let startIndex=-1,endIndex=-1,lengthPoint=self.dataGoods.items[k].goodsType.priceTable.pointIdList.length;
                                                $.each(self.dataGoods.items[k].goodsType.priceTable.pointIdList,function (k,point) {
                                                    if(self.dataGoods.pickPointId.id === point){
                                                        startIndex = k;
                                                    }
                                                    if(self.dataGoods.dropPointId.id === point){
                                                        endIndex = k;
                                                    }
                                                });
                                                if(startIndex!==-1&&endIndex!==-1){
                                                    if(startIndex > endIndex){ // đổi vị trí để lấy từ bé đến lớn
                                                        let indexMid = startIndex;
                                                        startIndex = endIndex;
                                                        endIndex = indexMid;
                                                    }
                                                    price = _.cloneDeep(self.dataGoods.items[k].goodsType.priceTable.priceList[lengthPoint*startIndex+endIndex]);
                                                }
                                                console.log(startIndex,endIndex,price);
                                            }
                                            self.dataGoods.items[k].price = price;
                                            self.dataGoods.items[k].totalPrice = price+extraPrice;
                                            self.dataGoods.items[k].paid = price+extraPrice;
                                            self.dataGoods.items[k].unpaid = 0;
                                        }

                                    }
                                    if(clonev.price!==e.price||clonev.extraPrice!==e.extraPrice){
                                        let price = parseFloat(_.cloneDeep(self.dataGoods.items[k].price));
                                        let extraPrice = parseFloat(_.cloneDeep(self.dataGoods.items[k].extraPrice));
                                        self.dataGoods.items[k].totalPrice = price+extraPrice;
                                        self.dataGoods.items[k].paid = price+extraPrice;
                                        self.dataGoods.items[k].unpaid = 0;
                                    }
                                    if(clonev.paid!==e.paid){
                                        let totalPrice = parseFloat(_.cloneDeep(self.dataGoods.items[k].totalPrice));
                                        let paid = parseFloat(_.cloneDeep(self.dataGoods.items[k].paid));
                                        self.dataGoods.items[k].unpaid = totalPrice-paid;
                                    }
                                }
                            });
                            totalPrice += parseFloat(_.cloneDeep(v.totalPrice));
                            paid += parseFloat(_.cloneDeep(v.paid));
                            unpaid += parseFloat(_.cloneDeep(v.unpaid));
                        });
                        self.dataGoods.totalPrice=totalPrice;
                        self.dataGoods.paid=paid;
                        self.dataGoods.unpaid=unpaid;
                    }
                    self.setOldListItem();
                },
                deep: true
            },
            tabSelected : function () {
                this.getGoods();
            },
            goodsCount : function () {
                this.getGoods();
            },
            goodsPage : function (val) {
                this.getGoods(val);
            },
            'dataGoods.dropPointId' :function () {
                if(this.dataGoods.dropPointId!==undefined&&this.dataGoods.dropPointId!==null&&this.dataGoods.dropPointId!==''){
                    this.dataGoods.dropOffPoint = _.cloneDeep(this.dataGoods.dropPointId.address);
                }else{
                    this.dataGoods.dropOffPoint = '';
                }
                this.setPriceWhenChangeAddress();
            },
            'dataGoods.pickPointId' :function () {
                let self = this;
                if(this.dataGoods.pickPointId!==undefined&&this.dataGoods.pickPointId!==null&&this.dataGoods.pickPointId!==''){
                    this.dataGoods.pickUpPoint = _.cloneDeep(this.dataGoods.pickPointId.address);
                    let data = {
                        id : self.dataGoods.pickPointId.id,
                        name : self.dataGoods.pickPointId.name,
                        address : self.dataGoods.pickPointId.address,
                    }
                    localStorage.setItem('pickPointIdGoods',JSON.stringify(data));
                }else{
                    this.dataGoods.pickUpPoint = '';
                    localStorage.setItem('pickPointIdGoods',null);
                }
                this.setPriceWhenChangeAddress();
            },
        },
    }
</script>