<template>
  <div v-loading="loading">
    <!--<el-button @click="test()">check</el-button>-->
    <span>
      <input style="display: inline-block; width: 150px" type="text" autofocus @change="searchByQR($event.target.value)" id="searchCode" v-model="goodsCode" class="form-control form-control-sm">
    </span>
    <span style="margin-left: 15px">(Sử dụng máy quét QR để quét mã)</span>
    <el-popover
            @show="camera='rear'"
            @hide="camera='off'"
            placement="bottom"
            title="Quét mã"
            width="200"
            trigger="click">
      <div>
        <div class="text-danger">{{cameraError}}</div>
        <qrcode-stream :camera="camera" @init="onInitCamera" @decode="onDecode"></qrcode-stream>
        <div class="w-100 text-right">
          <el-button size="mini" @click="camera = camera === 'front'?'rear':'front'">{{camera === 'front'?'Bật camera sau':'Bật camera trước'}}</el-button>
        </div>
      </div>
      <el-button style="position: absolute;right: 10px;top: 75px;" slot="reference" title="Mở phần mềm trên thiết bị di động để quét mã"><i class="fa fa-qrcode"></i></el-button>
    </el-popover>
    <el-switch
            v-model="sendSms"
            active-text="Gửi tin nhắn sau khi hàng xuống xe"
            v-if="status === 'upToTrip' && packages.length > 0"
            style="margin-left: 20px">
    </el-switch>
    <el-select v-model="smsType" placeholder="Chọn cấu hình tin nhắn" style="margin-left: 20px" v-if="status === 'upToTrip' && packages.length > 0">
      <el-option
              v-for="item in smsGoodConfig"
              :key="item.id"
              :label="item.name"
              :value="item.id">
      </el-option>
    </el-select>
    <template v-for="(pk, key) in packages">
      <div class="col-12" style="padding-right: 0; padding-left: 0">
        <div class="row" style="padding: 20px 15px 5px 15px">
          <div class="col-2">
            <span style="font-size: 18px;font-weight: bolder">Điểm nhận: {{pk.pickPointName}} </span>
          </div>
          <div class="col-2">
            <span style="font-size: 16px;font-weight: bolder">Số điểm trả: {{pk.totalPointDeliver|number}} </span>
          </div>
          <div class="col-2">
            <span style="font-size: 16px;font-weight: bolder">Tổng số hàng: {{pk.totalGood|number}} </span>
          </div>
          <div class="col-2">
            <span style="font-size: 16px;font-weight: bolder">Tổng tiền: {{pk.totalMoney|number}} </span>
          </div>
          <div class="col-2">
            <span style="font-size: 16px;font-weight: bolder">Đã thu: {{pk.totalMoneyPaid|number}} </span>
          </div>
          <div class="col-2">
            <span style="font-size: 16px; color: #e3342f;font-weight: bolder">Chưa thu: {{pk.totalMoneyUnpaid|number}} </span>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-sm" style="margin-bottom: 50px">
        <thead class="bg-anvui text-white">
        <tr class="text-center">
          <th>Mã vận đơn</th>
          <th>N/Nhận</th>
          <th>T/Tin Hàng</th>
          <th>Cước Phí</th>
          <th>Đã thu</th>
          <th>Còn lại</th>
          <th>Người Gửi</th>
          <th>Điểm lên</th>
          <th>Người Nhận</th>
          <th>Điểm xuống</th>
          <th>Ghi chú</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="packages.length <=0">
          <td colspan="10" class="text-center">Không có dữ liệu</td>
        </tr>
        <template v-for="(pkSun, k) in pk.listPointDeliver">
          <tr >
            <td colspan="12" style="text-align: center;font-weight: bolder; font-size: 16px;">Điểm trả: {{pkSun.dropPointName}} </td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: center; font-size: 16px; font-weight: bold;">Tổng</td>
            <td style="text-align: center;font-size: 16px; font-weight: bold;">{{pkSun.totalGood| number}}</td>
            <td style="text-align: right;font-size: 16px; font-weight: bold;">{{pkSun.totalMoney|number}}</td>
            <td style="text-align: right;font-size: 16px; font-weight: bold;">{{pkSun.totalMoneyPaid|number}}</td>
            <td style="text-align: right; color: #e3342f;font-size: 16px; font-weight: bold;">{{pkSun.totalMoneyUnpaid|number}}</td>
            <td colspan="5"></td>
          </tr>
          <template v-for="(pk,key) in pkSun.listPointDeliver">

            <template v-for="(goods,k) in pk.goodsList">

              <tr :class="{'bg-e':key%2==0}">
                <td v-if="k==0" :rowspan="pk.goodsList.length">
                  <label :for="goods.goodsId" class="no-margin">{{ pk.goodsPackageCode }}</label>
                </td>
                <td class="text-center">
                  {{ goods.sendDate|customDate('#DD#-#MM#') }}<br>
                  <span v-if="pk.goodsList.length>1" class="link" @click="removeFromPackage(pk.goodsPackageCode,goods.goodsCode)">Tách</span>
                  <span class="link text-danger" @click="removeGoods(goods.goodsId,pk.goodsList.length,pk.goodsPackageCode,goods.goodsCode)">Xóa</span>
                  <span class="link text-info" @click="editGoods(goods)">Sửa </span>
                  <span class="link text-info" @click=" $emit('call',{eventName: 'callShowHistory',goodId:goods.goodsId})">Lịch sử </span>
                </td>
                <td>
                  <span data-toggle="tooltip" data-placement="left" title="Họ Tên"><i class="fa fa-file"></i> : {{ goods.goodsName }} </span><br>
                  <span data-toggle="tooltip" data-placement="left" title="Số lượng"><i class="fa fa-sort-numeric-asc"></i> : {{ goods.quantity }} </span><br>
                  <span data-toggle="tooltip" data-placement="left" title="Giá trị hàng"><i class="fa fa-dollar"></i> : {{ goods.goodsValue|number }}</span>
                </td>
                <td class="text-right">
                  <b data-toggle="tooltip" data-placement="left" :title="'cước phí :'+goods.price+', Thu thêm :'+goods.extraPrice+', lí do : '+goods.extraPriceNote">{{ goods.totalPrice|number }}</b>
                </td>
                <td class="text-right">
                  <b class="text-anvui" data-toggle="tooltip" data-placement="left" title="Đã trả" >{{ goods.paid|number }}</b>
                </td>
                <td class="text-right">
                  <b class="text-danger" data-toggle="tooltip" data-placement="left" title="Chưa trả">{{ goods.unpaid|number }}</b>
                </td>
                <td class="text-center">
                  <span><i class="fa fa-user"></i> : {{ goods.sender}}</span><br>
                  <span><i class="fa fa-phone"></i> : {{ goods.senderPhone | phoneNumber}}</span><br>
                  <span><img v-if="goods.imageURL" style="max-width: 100px;max-height: 20px" :src="goods.imageURL" class="img-fluid" alt=""></span>
                </td>
                <td>
                  <span v-if="goods.pickPointName !== null"><i class="fa fa-map-marker"></i> {{ goods.pickPointName|cutString(30) }}</span><br>
                  <span v-if="goods.pickUpPoint !== null"><i class="fa fa-address-book"></i> {{ goods.pickUpPoint|cutString(30) }}</span>
                </td>
                <td class="text-center">
                  <span><i class="fa fa-user"></i> : {{ goods.receiver}}</span><br>
                  <span><i class="fa fa-phone"></i> : {{ goods.receiverPhone | phoneNumber}}</span><br>
                  <span><img v-if="goods.receiverImageURL" style="max-width: 100px;max-height: 20px" :src="goods.receiverImageURL" class="img-fluid" alt=""></span>
                </td>
                <td>
                  <span v-if="goods.dropPointName !== null"><i class="fa fa-map-marker"></i> {{ goods.dropPointName|cutString(30) }}</span><br>
                  <span v-if="goods.dropOffPoint !== null"><i class="fa fa-address-book"></i> {{ goods.dropOffPoint|cutString(30) }}</span>
                </td>
                <td>{{ goods.notice }}</td>
              </tr>
            </template>
          </template>
        </template>

        </tbody>
      </table>
    </template>
    <el-button type="primary" size="small" @click="openGoodsUpToTrip()" v-if="status === 'goodsPackage' && packages.length > 0">Đưa lên xe</el-button>
    <el-button type="primary" size="small" @click="openGoodsDownToTrip()" v-if="status === 'upToTrip' && packages.length > 0">Đưa xuống xe</el-button>
    <el-button type="primary" size="small" @click="openDoGoodsPaid()" v-if="status === 'downToTrip' && packages.length > 0">Trả hàng</el-button>
  </div>
</template>
<script>
    import {mapState} from 'vuex';
    import printGoods from '../Print/Goods.vue';
    import printGoodsTem from '../Print/GoodsTem.vue';

    export default {
        props : ['status'],
        components : {printGoods,printGoodsTem},
        data : function () {
            return {
                camera : 'front', // 'front-rear'
                cameraError : '',
                packages: [],
                listQrGoods: [],
                loading: false,
                sendSms: false,
                smsType: null,
                goodsCode: ''
            }
        },
        computed : {
            ...mapState({
                smsGoodConfig: state => state.smsGoodConfig,
            }),
        },
        mounted: function () {
            this.packages = []
            document.getElementById('searchCode').focus()
        },
        methods : {
            clearInput: function() {
                this.goodsCode = ''
                document.getElementById('searchCode').focus()
            },
            searchByQR: function(value) {
                let a = value.split('')
                if(a.length > 12) {
                    let self = this;
                    self.loading = true;
                    let params = {
                        page : 0,
                        count : 25,
                        companyId : window.userInfo.userInfo.companyId,
                        goodsCode : value,
                        goodsStatus : [1,2,3,4,5],
                        sendDate : 0,
                        toDate : new Date().getTime(),
                    };
                    if(window.userInfo.userInfo.room != undefined){
                        params.roomId = window.userInfo.userInfo.room.id
                    }
                    sendJson({
                        url : urlDBD(API.goodsListByUser),
                        data : func.removeItemNullInArray(params),
                        success :function (data) {
                            if(data.results.Goods.length > 0){
                                let res = data.results.Goods[0];
                                self.listQrGoods.push(res)
                                self.handlerData()
                                self.clearInput()
                            }
                            self.loading = false;
                        },
                        functionIfError : function (res) {
                            self.loading = false;
                        }
                    })
                }

            },
            handlerData : function () {
                let self = this
                let goods = self.listQrGoods
                let repairList = []
                let listPointId = []
                $.each(goods, function (g, good) {
                    let x = true
                    $.each(listPointId, function (i, id) {
                        if(good.goodsList[0].pickPointId == id){
                            x = false
                        }
                    })
                    if (listPointId == [] || x){
                        let a = {
                            pickPointId: good.goodsList[0].pickPointId,
                            pickPointName: good.goodsList[0].pickPointName ? good.goodsList[0].pickPointName :  good.goodsList[0].pickUpPoint ? good.goodsList[0].pickUpPoint : 'Không xác định',
                            totalPointDeliver: 0,
                            list: [],
                            totalGood: 0,
                            totalMoney: 0,
                            totalMoneyPaid: 0,
                            totalMoneyUnpaid: 0,
                            listPointDeliver: []
                        }
                        let listPointDownId = []
                        $.each(goods, function (g, good) {
                            let y = true
                            $.each(listPointDownId, function (i, id) {
                                if(good.goodsList[0].dropPointId == id){
                                    y = false
                                }
                            })
                            if (a.pickPointId == good.goodsList[0].pickPointId && listPointDownId == [] || a.pickPointId == good.goodsList[0].pickPointId && y){
                                let b = {
                                    dropPointId: good.goodsList[0].dropPointId,
                                    dropPointName: good.goodsList[0].dropPointName ? good.goodsList[0].dropPointName : good.goodsList[0].dropOffPoint ? good.goodsList[0].dropOffPoint: 'Không xác định',
                                    totalGood: 0,
                                    totalMoney: 0,
                                    totalMoneyPaid: 0,
                                    totalMoneyUnpaid: 0,
                                    listPointDeliver: []
                                }
                                $.each(goods, function (g, good) {
                                    if(good.goodsList[0].dropPointId == b.dropPointId && good.goodsList[0].pickPointId == a.pickPointId){
                                        b.listPointDeliver.push(good)
                                        a.list.push(good)
                                        $.each(good.goodsList, function (h, hang) {
                                            b.totalGood += hang.quantity
                                            b.totalMoney += hang.totalPrice
                                            b.totalMoneyPaid += hang.paid
                                            b.totalMoneyUnpaid += hang.unpaid

                                        })
                                    }
                                })
                                a.listPointDeliver.push(b)
                                a.totalPointDeliver ++
                                a.totalGood +=b.totalGood
                                a.totalMoney +=b.totalMoney
                                a.totalMoneyPaid +=b.totalMoneyPaid
                                a.totalMoneyUnpaid +=b.totalMoneyUnpaid
                                listPointDownId.push(good.goodsList[0].dropPointId)
                            }
                        })
                        listPointId.push(good.goodsList[0].pickPointId)
                        repairList.push(a)
                    }
                })
                self.packages = repairList

            },
            openGoodsUpToTrip : function() {
                if(this.listQrGoods.length > 0){
                    this.$emit('upToTrip', this.listQrGoods);
                    this.packages = []
                }
            },
            openDoGoodsPaid: function() {
                if(this.listQrGoods.length > 0){
                    this.$emit('doGoodsPaid', this.listQrGoods);
                    this.packages = []
                }
            },
            openGoodsDownToTrip: function() {
                if(this.listQrGoods.length > 0){
                    if(!this.smsType && this.sendSms){
                        notify('Vui lòng chọn cấu hình tin nhắn', 'error');
                        return false;
                    }
                    let data = {
                        listQrGoods : this.listQrGoods,
                        sendSms : this.sendSms,
                        smsType : this.smsType
                    }
                    this.$emit('downToTrip', data);
                    this.packages = []
                }
            },
            async onInitCamera(promise) {
                try {
                    this.cameraError = "";
                    await promise;
                } catch (error) {
                    if (error.name === "NotAllowedError") {
                        this.cameraError = "ERROR: you need to grant camera access permisson";
                    } else if (error.name === "NotFoundError") {
                        this.cameraError = "ERROR: no camera on this device";
                    } else if (error.name === "NotSupportedError") {
                        this.cameraError =
                            "ERROR: secure context required (HTTPS, localhost)";
                    } else if (error.name === "NotReadableError") {
                        this.cameraError = "ERROR: is the camera already in use?";
                    } else if (error.name === "OverconstrainedError") {
                        this.cameraError = "ERROR: installed cameras are not suitable";
                    } else if (error.name === "StreamApiNotSupportedError") {
                        this.cameraError =
                            "ERROR: Stream API is not supported in this browser";
                    }
                }
            },
            onDecode : function (result) {
                let self = this;
                self.loading = true;
                let params = {
                    page : 0,
                    count : 25,
                    companyId : window.userInfo.userInfo.companyId,
                    goodsCode : result,
                    goodsStatus : [1,2,3,4,5],
                    sendDate : 0,
                    toDate : new Date().getTime(),
                };
                if(window.userInfo.userInfo.room != undefined){
                    params.roomId = window.userInfo.userInfo.room.id
                }
                sendJson({
                    url : urlDBD(API.goodsListByUser),
                    data : func.removeItemNullInArray(params),
                    success :function (data) {
                        if(data.results.Goods.length > 0){
                            let res = data.results.Goods[0];
                            self.listQrGoods.push(res)
                            self.handlerData()
                        }
                        self.loading = false;
                    },
                    functionIfError : function (res) {
                        self.loading = false;
                    }
                })
            },
        }
    }
</script>