<template>
  <el-dialog
    title="Gửi phản hồi"
    :visible="visible"
    width="50%"
    :before-close="handleClose"
    class="feedback-form"
  >
    <el-form
      label-position="top"
      label-width="100px"
      :model="form"
      v-loading="disabledSubmit"
    >
      <div class="grid-container">
        <p style="font-weight: bold">
          Chào mừng bạn tới hệ thống phản hồi của AN VUI, bạn muốn phản hồi điều
          gì?<br>
          <a class="guideline" href="https://www.youtube.com/watch?v=Nkt-s6PdRoM&feature=youtu.be" target="_blank">Hướng dẫn góp ý</a>
        </p>
        <!-- <el-link href="https://www.youtube.com/watch?v=Nkt-s6PdRoM&feature=youtu.be" target="_blank">Hướng dẫn</el-link> -->
        <div></div>
        <el-form-item>
          <el-radio-group v-model="form.feedbackType" @change="changeType">
            <el-radio
              v-for="item in feedBackTypeList"
              :key="item.key"
              :label="item.key"
              >{{ item.label }}</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="Người tạo" class="form-width-40">
          <el-input v-model="form.userFullName" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item class="form-width-40" v-if="displayIsCharge">
          <el-switch
            v-model="form.isCharge"
            active-text="Yêu cầu tính phí">
          </el-switch>
        </el-form-item>
        <el-form-item label="Tiêu đề" class="form-width-60">
          <el-input
            v-model="form.title"
            placeholder="Thả suy nghĩ của bạn vào đây ..."
          ></el-input>
        </el-form-item>
        <el-form-item label="Nội dung" class="form-width-60">
          <el-input
            type="textarea"
            v-model="form.content"
            placeholder="Góp ý cải thiện trải nghiệm trên phần mềm An Vui ..."
          ></el-input>
        </el-form-item>
        <el-form-item
          label="Ảnh chi tiết lỗi (nếu có)"
          v-if="displayUploadImage"
        >
          <el-upload
            :action="urlUpload"
            :data="paramUpload"
            list-type="picture-card"
            :name="nameFileUpload"
            :file-list="form.images"
            :disabled="disabledUpload"
            :on-progress="handleOnProsess"
            :on-remove="handleRemove"
            :on-success="handleSuccess"
          >
            <i slot="default" class="el-icon-plus"></i>
          </el-upload>
        </el-form-item>
      </div>
    </el-form>
    <div slot="footer" class="feedback-footer">
      <p class="footer-content">
        AN VUI biết ơn và lắng nghe những góp ý của Bạn làm cơ sở hoàn thiện sản
        phẩm để phục vụ Nhà Xe tốt hơn!
      </p>
      <span class="dialog-footer">
        <el-button class="btn-av-IT" @click="handleClose">Hủy</el-button>
        <el-button
          type="success"
          class="btn-av-access"
          :disabled="disabledSubmit"
          @click="onSubmit"
          >Gửi phản hồi</el-button
        >
      </span>
    </div>
  </el-dialog>
</template>

<script>
import UploadFiles from "../Ingredient/UploadFiles.vue";
export default {
  components: {
    UploadFiles,
  },
  props: {
    visibleDialog: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  computed: {
    visible: function () {
      return this.visibleDialog;
    },
  },
  data: function () {
    return {
      disabledSubmit: false,
      form: {
        companyId: userInfo.userInfo.companyId,
        companyName: userInfo.userInfo.companyName,
        userId: userInfo.userInfo.id,
        userName: userInfo.userInfo.userName,
        userFullName: userInfo.userInfo.fullName,
        code: `${userInfo.userInfo.companyId.slice(
          -3
        )}-${userInfo.userInfo.id.slice(-3)}-${new Date().getTime()}`,
        feedbackType: 1,
        content: null,
        images: [],
        feedbackStatus: 0,
        title: null,
        isCharge: false,
      },
      feedBackTypeList: this.renderFeedbackType(),
      displayUploadImage: false,
      displayIsCharge: false,
      // upload file
      dialogImageUrl: "",
      dialogVisible: false,
      urlUpload: "/cpanel/system/upload-image",
      paramUpload: {
        _token: laravelToken,
      },
      nameFileUpload: "img",
      disabledUpload: false,
    };
  },
  mounted: function () {},
  methods: {
    onSubmit: function () {
      if (!this.checkFormIsValid()) {
        notify("Không được để trống trường 'Tiêu đề' và 'Nội dung'");
        return;
      }
      this.disabledSubmit = true;
      let self = this;
      const form = this.form;
      const param = {
        fbCode: form.code,
        content: form.content,
        type: form.feedbackType,
        title: form.title,
        customer: {
          userIdCreated: form.userId,
          userNameCreated: form.userName,
          fullNameCreated: form.userFullName,
        },
        companyId: form.companyId,
        image: form.images.map((x) => x.url),
        isCharge: form.isCharge
      };
      console.log(param, form);
      sendJson({
        url: "https://crm-anvui.el.r.appspot.com/feedback/create",
        data: param,
        success: function (data) {
          notify(
            "An Vui đã tiếp nhận phản hồi của bạn, xin chân thành cảm ơn!"
          );
          self.disabledSubmit = false;
        },
        functionIfError: function (data) {
          self.disabledSubmit = false;
        },
      });
    },
    checkFormIsValid: function () {
      let form = this.form;
      const isValid = form.content && form.title ? true : false;
      console.log(isValid);
      return isValid;
    },
    changeType: function (value) {
      this.displayUploadImage = value === 2 ? true : false;
      this.displayIsCharge = value === 3 ? true : false;
    },
    handleClose: function (params) {
      this.$emit("closeDialog", false);
      this.changeType(1);
      this.refeshForm();
    },
    renderFeedbackType: function (params) {
      let list = [
        {
          key: 1,
          label: "Góp ý",
        },
        {
          key: 2,
          label: "Báo lỗi",
        },
        {
          key: 3,
          label: "Yêu cầu tính năng",
        },
      ];
      return list;
    },
    refeshForm: function () {
      this.form = {
        companyId: userInfo.userInfo.companyId,
        companyName: userInfo.userInfo.companyName,
        userId: userInfo.userInfo.id,
        userName: userInfo.userInfo.userName,
        userFullName: userInfo.userInfo.fullName,
        code: `${userInfo.userInfo.companyId.slice(
          -3
        )}-${userInfo.userInfo.id.slice(-3)}-${new Date().getTime()}`,
        feedbackType: 1,
        content: null,
        images: [],
        feedbackStatus: 0,
        title: null,
      };
    },
    // function upload image
    handleRemove(file, fileList) {
      let fileUrl = file.url;
      let filterValue = this.form.images.filter((x) => x.url != fileUrl);
      this.form.images = filterValue;
    },
    handleOnProsess(event, file, fileList) {
      this.disableBtn = true;
    },
    handleSuccess(response, file, fileList) {
      let url = {
        name: "Image",
        url: file.response.url,
      };
      let newfileList = [...this.form.images, url];
      this.form.images = newfileList;
      this.disableBtn = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 20px;
}
.form-width-60 {
  width: 60%;
}
.form-width-40 {
  width: 40%;
}
.feedback-footer {
  display: grid;
  grid-template-columns: 1fr 190px;
  justify-items: flex-end;
  align-items: center;
}
.footer-content {
  margin-right: 38px;
  font-size: 14px;
  color: #084388;
  font-weight: 500;
}
.guideline {
  color: #3490dc;
  font-weight: 100;
}
.guideline:hover {
  text-decoration: underline;
}
</style>