<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">Lịch sử phản hồi</span>
      </div>
    </div>
    <div>
         <el-button style="margin-bottom: 15px" @click="getReportData()" type="success">Làm mới</el-button>
    </div>
    <div class="margin-bottom">
      <el-table
        :data="reportData"
        style="width: 100%"
        stripe
        v-loading="loadingTable"
      >
        <el-table-column prop="fbCode" label="Mã" width="180"> </el-table-column>
        <el-table-column label="Người tạo">
            <template slot-scope="prop">{{prop.row.customer.fullNameCreated}}</template>
        </el-table-column>
        <el-table-column label="Thời gian tạo" width="180">
          <template slot-scope="prop">{{prop.row.createdDateFeedBack | customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
        </el-table-column>
        <el-table-column label="Loại">
          <template slot-scope="prop">{{
            feedBackTypeList.find((x) => x.key == prop.row.type).label
          }}</template>
        </el-table-column>
        <el-table-column label="Tiêu đề">
          <template slot-scope="prop"><span class="break-word">{{prop.row.title}}</span></template>
        </el-table-column>
        <el-table-column label="Nội dung">
          <template slot-scope="prop"><span class="break-word">{{prop.row.content}}</span></template>
        </el-table-column>
        <el-table-column label="Phản hồi từ AN VUI">
          <template slot-scope="prop" class="break-word">
            <span v-if="checkReplyStatus(prop.row)" @click="updateFeedback(prop.row)" title="Nhấn để đọc chi tiết">
              <el-link style="color: #66b1ff" type="primary">Bạn có tin nhắn mới <span style="color:red">*</span></el-link>
            </span>
            <span v-else class="break-word">{{getAnVuiReply(prop.row.anvuiSupport)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Ảnh đính kèm">
          <template slot-scope="prop">
            <el-image
              v-if="prop.row.image"
              style="width: 50px; height: 50px"
              :src="prop.row.image[0]"
              :preview-src-list="prop.row.image"
              alt="evidence images"
            ></el-image>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import UploadFiles from "../Ingredient/UploadFiles.vue";
export default {
  components: {
    UploadFiles,
  },
  data: function () {
    return {
      feedBackTypeList: this.renderFeedbackType(),
      loadingTable: false,
      reportData: [],
    };
  },
  mounted: function () {
    this.getReportData();
  },
  methods: {
    checkReplyStatus: function(item) {
      if(!item.isSeen && item.customer.userIdCreated == userInfo.userInfo.id && this.getAnVuiReply(item.anvuiSupport)) {
        return true;
      }
      else {
        return false;
      }
    },
    getAnVuiReply: function(timeline) {
      if (timeline.length < 2) {
        return "";
      } else {
        const arr = timeline.filter(x=> x.reply);
        const lastReply = arr.length != 0 ? arr[arr.length-1] : null;
        return lastReply ? lastReply.reply : '';
      }
    },
    updateFeedback: function (item) {
      let self = this;
      const params = {
        id: item.id,
        isSeen: true,
      }
      sendJson({
        url: "https://crm-anvui.el.r.appspot.com/feedback/update",
        data: params,
        success: function (data) {
          self.getReportData();
        },
        functionIfError: function (data) {
        },
      });
    },
    getReportData: function () {
      let self = this;
      this.loadingTable = true;
      let params = {
        page: 0,
        count: 1000,
        companyId: userInfo.userInfo.companyId,
      };
      sendJson({
        url: "https://crm-anvui.el.r.appspot.com/feedback/getList",
        data: params,
        success: function (data) {
          console.log(data);
          self.reportData = data.results.listFeedBack.sort(function (a,b) { a.createdDateFeedBack - b.createdDateFeedBack}).reverse();
          self.loadingTable = false;
        },
        functionIfError: function (data) {
          self.loadingTable = false;
        },
      });
    },
    renderFeedbackType: function () {
      let list = [
        {
          key: 1,
          label: "Góp ý",
        },
        {
          key: 2,
          label: "Báo lỗi",
        },
        {
          key: 3,
          label: "Yêu cầu",
        },
      ];
      return list;
    },
  },
};
</script>

<style lang="scss" scoped>
.break-word {
  word-break: break-word;
}
</style>