<template>
    <div class="w-100">
        <div class="dateInline" v-show="type==='inline'"></div>
        <div :class="[version,showButtonPreviousNext?'input-group':'','date']" v-show="type!=='inline'">
            <button class="btn btn-sm input-group-prepend" type="button" @click="previousDate()"
                    v-show="showButtonPreviousNext"><i class="fa fa-chevron-left"></i></button>
            <input type="text" class="form-control dateInput text-center" placeholder="dd-mm-yyyy" :class="classInput" :disabled="disabled" :readonly="readonly">
            <button class="btn btn-sm input-group-append" type="button" @click="nextDate()"
                    v-show="showButtonPreviousNext"><i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
</template>
<script>
    import { mapState} from 'vuex';
    export default {
        props : {
            value : {
                default : '',
            },
            classInput : {
                default : '',
            },
            disabled: {
                default: false,
            },
            readonly : {
                default : true,
            },
            type : {
                default : '',
                type : String
            },
            // minDate : {
            //     default : null
            // },
            maxDate : {
                default : null
            },
            showButtonPreviousNext : {
                type : Boolean,
                default : true
            },
            version: {
                default: ''
            },
            disable_mindate: {
                default: false,
            }
        },
        data: function() {
          return {
              minDate: ''
          }
        },
        mounted: function() {
            this.getMinDate()

        },
        computed : {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            getMinDate : async function () {
                let self = this
                let d = new Date()
                let day = null;
                await new Promise(function (resolve) {
                    setTimeout(function () {
                        if(self.companyConfig.CONFIG && self.companyConfig.CONFIG.TIME_START_GET_DATA.value){
                            day = ((new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime()) - self.companyConfig.CONFIG.TIME_START_GET_DATA.value)/86400000
                            resolve();
                        } else {
                            resolve();
                        }
                    }, 500);
                });
                self.minDate = day
            },
            nextDate : function () {
                let self = this;
                let e = $(this.$el).find('.dateInput');
                if(this.type ==='inline'){
                    this.type = 'inline';
                    e = $(this.$el).find('.dateInline');
                }
                if(this.value){
                    let date = $(e).datepicker( "getDate" );
                    date = new Date(date);
                    date.setDate(date.getDate()+1);
                    this.$emit('input',date.customFormat('#DD#-#MM#-#YYYY#'));
                }
            },
            previousDate : function () {
                let self = this;
                let e = $(this.$el).find('.dateInput');
                if(this.type ==='inline'){
                    this.type = 'inline';
                    e = $(this.$el).find('.dateInline');
                }
                if(this.value){
                    let date = $(e).datepicker( "getDate" );
                    date = new Date(date);
                    date.setDate(date.getDate()-1);
                    this.$emit('input',date.customFormat('#DD#-#MM#-#YYYY#'));
                }
            },
            getElement : function () {
                let e = $(this.$el).find('.dateInput');
                if(this.$attrs['typeDate'] ==='inline'){
                    this.type = 'inline';
                    e = $(this.$el).find('.dateInline');
                }
                return e;
            }
        },
        watch : {
            minDate : function () {
                let self = this;
                let e = $(this.$el).find('.dateInput');
                if(this.type ==='inline'){
                    this.type = 'inline';
                    e = $(this.$el).find('.dateInline');
                }
                let dpk = {
                    inline : true,
                    dateFormat : 'dd-mm-yy',
                    onSelect:function(selectedDate) {
                        self.$emit('input',selectedDate);
                    },
                    beforeShow: function(input, inst) {
                        $('.ui-datepicker').css('z-index', 99999);
                    },
                    onClose: function () {
                        if(!self.readonly){
                            self.$emit('input',$(self.$el).find('input').val());
                        }
                    }
                };
                if(this.minDate!==null&&this.minDate!==undefined&&typeof this.minDate!=='object'){
                    dpk.minDate = 0-this.minDate;
                }
                if(this.disable_mindate){
                    dpk.minDate = new Date().customFormat('#DD#-#MM#-#YYYY#');
                }
                if(this.maxDate!==null&&this.maxDate!==undefined&&typeof this.maxDate!=='object'){
                    dpk.maxDate = this.maxDate;
                }
                $(e).datepicker(dpk);
                $(e).datepicker('setDate', self.value);
            },
            value : function (newVal) {
                let self = this;
                let e = $(this.$el).find('.dateInput');
                if(this.type ==='inline'){
                    this.type = 'inline';
                    e = $(this.$el).find('.dateInline');
                }
                $(e).datepicker('setDate', newVal);
            }
        }
    }
</script>
<style scoped>
    .ticket07.input-group .input-group-prepend {
        height: 24px;
        line-height: 24px;
        background: #fff;
        margin-right: -26px;
        z-index: 4
    }

    .ticket07.input-group input {
        border: 0;
        height: 24px;
        line-height: 24px;
        background: #fff;
        border-radius: 4px;
        font-size: 14px;
    }

    .ticket07.input-group .input-group-append {
        height: 24px;
        line-height: 24px;;
        background: #fff;
        margin-left: -26px;
        z-index: 4
    }
</style>