<template>
	<div class="row col-6 date-ranger" style="margin-left: 0;margin-right: 0;">
	    <div class="col-6 col-md">
	    	<label>{{$t('from-date')}} <template v-if="value.type">( Ngày tạo hàng )</template></label>
			<div class="row no-gutters">
				<div class="col-auto" v-if="allowTime">
					<clock-picker v-model="value.startTime" input-class="form-control text-center bg-white" style="width: 65px;"></clock-picker>
				</div>
				<div class="col">
					<div class="input-group date start">
						<button class="btn btn-sm btn-secondary input-group-prepend" :disabled="startStatus1" style="z-index: 0" type="button" @click="previousDate('start')"> <i class="fa fa-chevron-left"></i> </button>
						<input type="text" class="form-control dateStart text-center" :value="value.startDate" placeholder="dd-mm-yyyy" :readonly="readonly">
						<button class="btn btn-sm btn-secondary input-group-append"  style="z-index: 0" type="button" @click="nextDate('start')" :disabled="startStatus"> <i class="fa fa-chevron-right"></i> </button>
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-6 col-md">
	    	<label>{{$t('to-date')}} <template v-if="value.type">( Ngày tạo hàng )</template></label>
			<div class="row no-gutters">
				<div class="col-auto" v-if="allowTime">
					<clock-picker v-model="value.endTime" input-class="form-control text-center bg-white" style="width: 65px;"></clock-picker>
				</div>
				<div class="col">
					<div class="input-group date end">
						<button class="btn btn-sm btn-secondary input-group-prepend" :disabled="endStatus" style="z-index: 0" type="button" @click="previousDate('end')"> <i class="fa fa-chevron-left"></i> </button>
						<input type="text" class="form-control dateEnd text-center" :value="value.endDate" placeholder="dd-mm-yyyy"  :readonly="readonly">
						<button class="btn btn-sm btn-secondary input-group-append" :disabled="endStatus1"  style="z-index: 0" type="button" @click="nextDate('end')"> <i class="fa fa-chevron-right"></i> </button>
					</div>
				</div>
			</div>

	    </div>
	</div>
</template>
<script>
    export default {
        props : {
            value : {
                type : Object,
            },
            readonly : {
                default : true,
            },
			allowTime : {
            	type : Boolean,
				default : false
			}
        },
        data: function(){
            return {
                startStatus: false,
                endStatus: false,
                startStatus1: false,
                endStatus1: false,
            }
        },
        mounted: function() {
            let self = this;
            let e = $(this.$el).find('.dateStart');
            let f = $(this.$el).find('.dateEnd');
            if(self.value.endDate == self.value.startDate){
                self.endStatus = true;
                self.startStatus = true;
            }else{
                self.endStatus = false;
                self.startStatus = false;
            }
            if(self.value.endDate == ''){
                this.endStatus1 = true;
            }
            if(self.value.startDate == ''){
                this.startStatus1 = true;
            }
            $(e).datepicker({
                inline : true,
                dateFormat : 'dd-mm-yy',
                maxDate: self.value.endDate,
                onSelect:function(selectedDate) {
                    self.value.startDate = selectedDate;
                    if(self.value.endDate == self.value.startDate){
                        self.startStatus = true;
                        self.endStatus = true;
                    }else{
                        self.endStatus = false;
                        self.startStatus = false;
                    }
                    $(f).datepicker( "option", "minDate", selectedDate);
                    self.startStatus1 = false;
                },
                beforeShow: function(input, inst) {
                    $('.ui-datepicker').css('z-index', 99999);
                }
            });
            $(e).datepicker('setDate', self.value.startDate);
            $(f).datepicker({
                inline : true,
                dateFormat : 'dd-mm-yy',
                minDate: self.value.startDate,
                onSelect:function(selectedDate) {
                    self.value.endDate = selectedDate;
                    if(self.value.endDate == self.value.startDate){
                        self.startStatus = true;
                        self.endStatus = true;
                    }else{
                        self.endStatus = false;
                        self.startStatus = false;
                    }
                    $(e).datepicker( "option", "maxDate", selectedDate);
                    self.endStatus1 = false;
                },
                beforeShow: function(input, inst) {
                    $('.ui-datepicker').css('z-index', 99999);
                }
            });
            $(f).datepicker('setDate', self.value.endDate);

        },
        methods : {
            nextDate : function (data) {
                let e = $(this.$el).find('.dateStart');
                let f = $(this.$el).find('.dateEnd');
                if(data == 'start'){
                    if(this.value.startDate){
                        let date = $(e).datepicker( "getDate" );
                        date = new Date(date);
                        date.setDate(date.getDate()+1);
                        $(e).datepicker('setDate', date.customFormat('#DD#-#MM#-#YYYY#'));
                        this.value.startDate = date.customFormat('#DD#-#MM#-#YYYY#');
                        $(f).datepicker( "option", "minDate", date.customFormat('#DD#-#MM#-#YYYY#'));
                        if(this.value.endDate == this.value.startDate){
                            this.startStatus = true;
                            this.endStatus = true;
                            return false;
                        }else{
                            this.startStatus = false;
                        }
                    }  
                }
                if(data == 'end'){
                    if(this.value.endDate){
                        let date = $(f).datepicker( "getDate" );
                        date = new Date(date);
                        date.setDate(date.getDate()+1);
                        $(f).datepicker('setDate', date.customFormat('#DD#-#MM#-#YYYY#'));
                        this.value.endDate = date.customFormat('#DD#-#MM#-#YYYY#');
                        $(e).datepicker( "option", "maxDate", date.customFormat('#DD#-#MM#-#YYYY#'));
                        if(this.value.endDate == this.value.startDate){
                            this.endStatus = true;
                        }else{
                            this.endStatus = false;
                            this.startStatus = false;
                        }
                    }  
                } 
            },
            previousDate : function (data) {
                let e = $(this.$el).find('.dateStart');
                let f = $(this.$el).find('.dateEnd');
                if(data == 'start'){
                    if(this.value.startDate){
                        let date = $(e).datepicker( "getDate" );
                        date = new Date(date);
                        date.setDate(date.getDate()-1);
                        $(e).datepicker('setDate', date.customFormat('#DD#-#MM#-#YYYY#'));
                        this.value.startDate = date.customFormat('#DD#-#MM#-#YYYY#');
                        $(f).datepicker( "option", "minDate", date.customFormat('#DD#-#MM#-#YYYY#'));
                        if(this.value.endDate == this.value.startDate){
                            this.endStatus = true;
                        }else{
                            this.endStatus = false;
                            this.startStatus = false;
                        }
                    }  
                }
                if(data == 'end'){
                    if(this.value.endDate == this.value.startDate){
                        this.endStatus = true;
                        this.startStatus = true;
                        return false;
                    }else{
                        this.endStatus = false;
                    }
                    if(this.value.endDate){
                        let date = $(f).datepicker( "getDate" );
                        date = new Date(date);
                        date.setDate(date.getDate()-1);
                        $(f).datepicker('setDate', date.customFormat('#DD#-#MM#-#YYYY#'));
                        this.value.endDate = date.customFormat('#DD#-#MM#-#YYYY#');
                        $(e).datepicker( "option", "maxDate", date.customFormat('#DD#-#MM#-#YYYY#'));
                        if(this.value.endDate == this.value.startDate){
                            this.startStatus = true;
                            this.endStatus = true;
                            return false;
                        }else{
                            this.startStatus = false;
                        }
                    }  
                } 
            },
        },
    }
</script>