<template>
    <el-input :class="{'invalid': invalid}" :size="size" :value="value" :placeholder="placeholder" @input="handleInput" @blur="handleBlur" />
</template>

<script>
export default {
    props: {
        value: {
            default: '',
            type: String
        },
        size: {
            type: String
        },
        placeholder: {
            default: '',
            type: String
        },
    },
    data () {
        return {
            invalid: false,
        }
    },
    methods: {
        checkValidTime (time) {
            var patt = new RegExp("^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$");
            return patt.test(time);
        },

        handleInput(e) {
            this.$emit('input', e)
            
        },

        handleBlur (e) {
            if( this.checkValidTime(this.value) ) {
                return
            }
            let value = this.value
            let dateObj = new Date()
            let hour = dateObj.getHours() < 10 ? "0" + dateObj.getHours() : dateObj.getHours().toString()
            let minute = dateObj.getMinutes() < 10 ? "0" + dateObj.getMinutes() : dateObj.getMinutes().toString()
            let timeDefaut = `${hour}:${minute}`

            if(isNaN(value) ) {
                this.handleInput(timeDefaut)
                return 
            }

            if(Number(value) > 2359) {
                this.handleInput(timeDefaut)
                return 
            }

            if( Number(value) <= 0 ) {
                this.handleInput(timeDefaut)
                return 
            }

            if(value.length == 1) { 
                this.handleInput(`0${value}:00`)
            }

            if(value.length == 2) {
                if( Number(value) > 23 ) {
                    this.invalid = true
                    this.handleInput(`23:59`)
                } else {
                    this.handleInput(`${value}:00`)
                }
            }

            if(value.length == 3) {
                this.handleInput(timeDefaut)
            }

            if(value.length >= 4) {
                this.handleInput(`${value[0]}${value[1]}:${value[2]}${value[3]}`)
            }
        }

    },
    

}
</script>
