<template>
  <el-date-picker
          class="w-100"
          :value="value"
          :format = 'format'
          :value-format= 'valueFormat'
          :type='type'
          :placeholder="placeholder"
          :picker-options="options"
          @input="$emit('input',$event)"
  >
  </el-date-picker>
</template>
<script>
    import {mapState} from 'vuex'
    export default {
        props : {
            value : {
                default : new Date().getTime(),
            },
            format : {
                default : 'dd-MM-yyyy',
            },
            valueFormat : {
                default : 'timestamp',
            },
            type : {
                default : 'date',
            },
            placeholder : {
                default : 'Chọn ngày',
            },
        },
        mounted: function() {
        },
        data: function() {
            return{
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {

        },
        watch : {

        }
    }
</script>
<style scoped>

</style>