<template>
    <div v-if="thisLoadMore" @click="thisPage++" class="btn btn-outline-dark">Tải thêm</div>
</template>
<script>
    export default {
        props : ['value','loadMore'],
        data : function () {
            return {
                thisPage : this.value,
                thisLoadMore : this.loadMore,
            }
        },
        watch : {
            thisPage : function (val) {
                this.$emit('input',val);
            },
            loadMore : function (val) {
                this.thisLoadMore = val;
            },
            value : function (val) {
                this.thisPage = val;
            }
        }
    }
</script>