<template>
    <div class="text-center" v-if="state.loading">
        <div class="lds-facebook" v-if="!state.error"><div></div><div></div><div></div></div>
        <button class="btn" v-if="state.error" title="Tải lại" v-on:click="sendError()"><i class="fa fa-frown"></i></button>
        <div v-if="!state.error">{{ text || ''}}</div>
    </div>
</template>
<script>
    export default {
        methods : {
            sendError : function () {
                this.$emit("input",this.errorCode);//nếu lỗi báo cho parrent có lỗi với thông tin là message lỗi
            }
        },
        props : {
            text : String,
            state : {
                type : Object,
                required : true,
            },
            errorCode : {
                type:String
            }
        }
    }
</script>
<style>
    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 32px;
    }
    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 3px;
        width: 5px;
        background: #19448a;
        animation: lds-facebook 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook.lds-sm {

    }
    .lds-facebook div:nth-child(1) {
        left: 3px;
        animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(2) {
        left: 13px;
        animation-delay: -0.06s;
    }
    .lds-facebook div:nth-child(3) {
        left: 22px;
        animation-delay: 0;
    }
    @keyframes lds-facebook {
        0% {
            top: 3px;
            height: 25px;
        }
        50%, 100% {
            top: 10px;
            height: 13px;
        }
    }
</style>