<template>
    <div class="w-100">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-anvui" style="padding : 0 15px">
            <router-link class="navbar-brand" style="padding-top:0;padding-bottom:0" :to="{name : 'Home'}">
                <img :src="userInfo.logo" alt="" style="max-height:35px" class="img-responsive">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown"
                        v-if="$root.roles.TICKET_GET_LIST||$root.roles.TICKET_CREATE||$root.roles.TICKET_UPDATE||
                        $root.roles.REPORT_GOODS_BY_STAFF||$root.roles.REPORT_REVENUE_DETAIL||
                        $root.roles.REPORT_ONLINE_PAYMENT||$root.roles.REPORT_RECONCILIATION_AGENCY||$root.roles.REPORT_DRIVER_REPORT||$root.roles.REPORT_REVENUE_BY_STAFF">
                        <a class="nav-link dropdown-toggle" href="#" id="banve" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-ticket-alt"></i>
                            Hành khách</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="banve">
                            <!-- <li role="presentation">
                                <router-link :key="$route.fullPath" class="dropdown-item" :to="{name : 'Ticket06'}"
                                             v-if="$root.roles.TICKET_GET_LIST||$root.roles.TICKET_CREATE||$root.roles.TICKET_UPDATE">
                                    6.1 &nbsp; {{$t('menu.customer-ticket')}}
                                </router-link>
                            </li> -->
                            <li role="presentation" v-if="mapAccessibleMenu('6.2')">
                                <router-link class="dropdown-item" :to="{name : 'Ticket07'}"
                                             v-if="$root.roles.TICKET_GET_LIST||$root.roles.TICKET_CREATE||$root.roles.TICKET_UPDATE">
                                    6.2 &nbsp; {{$t('menu.customer-ticket')}} 2.0
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <!--<li role="presentation">-->
                                <!--<router-link class="dropdown-item" :to="{name : 'ReportDetail'}"-->
                                             <!--v-if="$root.roles.REPORT_REVENUE_DETAIL">6.3-->
                                    <!--&nbsp; Tra cứu thông tin vé-->
                                <!--</router-link>-->
                            <!--</li>-->
                            <li role="presentation" v-if="mapAccessibleMenu('6.3')">
                                <router-link class="dropdown-item" :to="{name : 'ReportDetail02'}"
                                             v-if="$root.roles.REPORT_REVENUE_DETAIL">6.3
                                    &nbsp; Tra cứu thông tin vé
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('6.4')">
                                <router-link class="dropdown-item" :to="{name : 'ReportOnlinePayment'}"
                                             v-if="$root.roles.REPORT_ONLINE_PAYMENT">6.4
                                    &nbsp; Tra cứu vé theo cổng thanh toán
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('6.5')">
                                <router-link class="dropdown-item" :to="{name : 'ReportByAgency'}"
                                             v-if="$root.roles.REPORT_RECONCILIATION_AGENCY">6.5 &nbsp;
                                    {{$t('menu.report-agency-debt')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('6.6')">
                                <router-link class="dropdown-item" :to="{name : 'ReportCountTripDriver'}"
                                             v-if="$root.roles.REPORT_DRIVER_REPORT">6.6
                                    &nbsp; {{$t('menu.report-count-trip-driver')}}
                                </router-link>
                            </li>
                            <!-- <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ReportCashByUser'}"
                                             v-if="$root.roles.REPORT_REVENUE_BY_STAFF">6.7.1
                                    &nbsp; {{$t('menu.report-by-employees')}} 01
                                </router-link>
                            </li> -->
                            <li role="presentation" v-if="mapAccessibleMenu('6.7')">
                                <router-link class="dropdown-item" :to="{name : 'ReportCashByUser02'}"
                                             v-if="$root.roles.REPORT_REVENUE_BY_STAFF">6.7
                                    &nbsp; {{$t('menu.report-by-employees')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('6.8')">
                                <router-link class="dropdown-item" :to="{name : 'TripsDriverReport'}"
                                             v-if="$root.roles.REPORT_DRIVER_REPORT">
                                    6.8&nbsp; {{$t('menu.report-by-driver')}}
                                </router-link>
                            </li>
                            <!--<li role="presentation">-->
                                <!--<router-link class="dropdown-item" :to="{name : 'ReportTripPrint'}"-->
                                             <!--v-if="$root.roles.REPORT_DRIVER_REPORT">-->
                                    <!--6.8.2&nbsp; {{$t('menu.report-by-driver')}} 2.0-->
                                <!--</router-link>-->
                            <!--</li>-->
                            <li role="presentation" v-if="mapAccessibleMenu('6.9')">
                                <router-link class="dropdown-item" :to="{name : 'FormManagerConfirmTransfer'}"
                                             v-if="$root.roles.TICKET_UPDATE&&!$root.isAgency()">
                                    6.9&nbsp; Xác nhận vé chuyển khoản
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('6.10')">
                                <router-link class="dropdown-item" :to="{name : 'Ret'}"
                                             v-if="$root.roles.TICKET_UPDATE&&!$root.isAgency()">
                                    6.10&nbsp; Yêu cầu xuất vé điện tử
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('6.11')">
                                <router-link class="dropdown-item" :to="{name : 'ReportContract'}">
                                    6.11 Báo cáo hợp đồng điện tử
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('6.12')">
                                <router-link class="dropdown-item" :to="{name : 'ReportDataStudio'}">
                                    6.12 Báo cáo
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"
                        v-if="!$root.isAgency()&&($root.roles.GOODS_GET_LIST)">

                        <a class="nav-link dropdown-toggle" href="#" id="hanghoa" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-cubes"></i> {{$t('goods')}}</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="hanghoa">
                            <li role="presentation" v-if="mapAccessibleMenu('5.1')">
                                <router-link class="dropdown-item" :to="{name : 'Goods'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.1 &nbsp;
                                    {{$t('menu.goods-ticket')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.2')">
                                <router-link class="dropdown-item" :to="{name : 'CollectionRequest'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.2 &nbsp; Yêu cầu
                                    nhận hàng
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.3')">
                                <router-link class="dropdown-item" :to="{name : 'CoordinationRequest'}">
                                    5.3 &nbsp; Điều phối yêu cầu nhận hàng
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.4')">
                                <router-link class="dropdown-item" :to="{name : 'Goods02'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.4 &nbsp;
                                    Danh sách đơn hàng
                                </router-link>
                            </li>
                            <!-- <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ImportAndExportGoods'}">5.5 &nbsp;
                                    Xuất nhập hàng vào kho
                                </router-link>
                            </li> -->
                            <li role="presentation" v-if="mapAccessibleMenu('5.5')">
                                <router-link class="dropdown-item" :to="{name : 'ManageGoods'}">5.5 &nbsp;
                                    Điều phối hàng hóa
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.6')">
                                <router-link class="dropdown-item" :to="{name : 'ReceiveGoodsInHome'}">5.6 &nbsp;
                                    Trả hàng tại nhà
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.7')">
                                <router-link class="dropdown-item" :to="{name : 'InitPriceGoods'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.7 &nbsp;
                                    Bảng giá vận chuyển
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.8')">
                                <router-link class="dropdown-item" :to="{name : 'GoodsSetting'}">
                                    5.8 &nbsp; Cấu hình hàng hóa
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>


                            <li role="presentation" v-if="mapAccessibleMenu('5.9')">
                                <router-link class="dropdown-item" :to="{name : 'GoodsCancel'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.9 &nbsp;
                                    {{$t('menu.goods-canceled')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.10')">
                                <router-link class="dropdown-item" :to="{name : 'ReportGoods'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.10 &nbsp;
                                    {{$t('menu.report-goods')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.11')">
                                <router-link class="dropdown-item" :to="{name : 'GoodsByUser'}"
                                             v-if="$root.roles.REPORT_GOODS_BY_STAFF">5.11
                                    &nbsp; Báo cáo hàng hóa theo nhân viên
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.12')">
                                <router-link class="dropdown-item" :to="{name : 'ReportGoodsByEmployees'}"
                                             v-if="$root.roles.REPORT_GOODS_BY_STAFF">5.12
                                    &nbsp; Báo cáo hàng hóa theo nhân viên 2.0
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('5.13')">
                                <router-link class="dropdown-item" :to="{name : 'ReportGood02'}"
                                             v-if="$root.roles.REPORT_GOODS_BY_STAFF">5.13
                                    &nbsp; Báo cáo hàng hóa 2.0
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"
                        v-if="!$root.isAgency()&&($root.roles.TICKET_UPDATE||$root.roles.SEAT_MAP_GET_LIST||$root.roles.REPORT_DRIVER_REPORT||
                        $root.roles.REPORT_TRANSSHIPMENT_REPORT||$root.roles.ADDITION_PRICE_GET_LIST||
                        $root.roles.CANCEL_TICKET_POLICY_GET_LIST||$root.roles.PROMOTION_GET_LIST||$root.isAdmin())">
                        <a class="nav-link dropdown-toggle" href="#" id="DieuHanh" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-chart-line"></i> Điều hành</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="DieuHanh">
                            <li role="presentation" v-if="mapAccessibleMenu('4.1')">
                                <router-link class="dropdown-item" :to="{name : 'AssignTransshipmentDriverForTicket'}"
                                             v-if="$root.roles.TICKET_UPDATE">4.1 &nbsp;{{$t('menu.assign-transshipment-driver-for-ticket')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.2')">
                                <router-link class="dropdown-item" :to="{name : 'AssignStaffDeliver'}"
                                             v-if="$root.roles.TICKET_UPDATE">4.2 &nbsp;Điều phối
                                    giao vé
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.3')">
                                <router-link class="dropdown-item" :to="{name : 'OrderRoute'}"
                                             v-if="$root.roles.SEAT_MAP_GET_LIST">4.3 &nbsp;
                                    {{$t('menu.sort-trip')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.4')">
                                <router-link class="dropdown-item" :to="{name : 'TripsDriverReport'}"
                                             v-if="$root.roles.REPORT_DRIVER_REPORT">4.4
                                    &nbsp; {{$t('menu.report-by-driver')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.5')">
                                <router-link class="dropdown-item" :to="{name : 'TransshipmentReport'}"
                                             v-if="$root.roles.REPORT_TRANSSHIPMENT_REPORT">4.5 &nbsp;
                                    {{$t('menu.report-by-transshipment')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.6')">
                                <router-link class="dropdown-item" :to="{name : 'AdditionPrice'}"
                                             v-if="$root.roles.ADDITION_PRICE_GET_LIST">4.6 &nbsp;
                                    {{$t('menu.price-policy')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.7')">
                                <router-link class="dropdown-item" :to="{name : 'PricePolicy'}">4.7 &nbsp;
                                    {{$t('menu.price-policy-2')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.8')">
                                <router-link class="dropdown-item" :to="{name : 'CancelTicketPolicy'}"
                                             v-if="$root.roles.CANCEL_TICKET_POLICY_GET_LIST">4.8 &nbsp;
                                    {{$t('menu.cancel-ticket-policy')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.9')">
                                <router-link class="dropdown-item" :to="{name : 'Promotion'}"
                                             v-if="$root.roles.PROMOTION_GET_LIST">4.9 &nbsp;
                                    {{$t('menu.promotion')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.10')">
                                <router-link class="dropdown-item" :to="{name : 'NotificationPopup'}"
                                             v-if="$root.roles.POP_UP_GET_LIST">4.10 &nbsp;
                                    {{$t('menu.popup')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.11')">
                                <router-link class="dropdown-item" :to="{name : 'PolicyAgency'}" v-if="$root.roles.AGENCY_PRICE_POLICY_GET_LIST">
                                        4.11 &nbsp; {{$t('menu.agency-policy')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.12')">
                                <router-link class="dropdown-item" :to="{name : 'ScheduleOfStaff'}" v-if="$root.roles.WORK_SCHEDULE_GET_LIST">4.12 &nbsp;
                                    {{$t('menu.work-time')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('4.13')">
                                <router-link class="dropdown-item" :to="{name : 'ManageApp'}" v-if="true">4.13 &nbsp;
                                    {{$t('menu.active-app-device')}}
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"
                        v-if="$root.roles.RECEIPT_AND_PAYMENT_GET_LIST||$root.roles.RECEIPT_AND_PAYMENT_CREATE||
                        $root.roles.REPORT_CASH_REPORT||$root.roles.REPORT_FUEL_CONSUMPTION_REPORT||
                        $root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS||$root.roles.CUSTOMER_GET_LIST||$root.roles.REPORT_CUSTOMER_REPORT||$root.roles.TRIP_GET_LIST">
                        <a class="nav-link dropdown-toggle" href="#" id="phieu" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-users-cog"></i>
                            {{$t('menu.manage')}}</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="phieu">
                            <li role="presentation" v-if="mapAccessibleMenu('3.1')">
                                <router-link class="dropdown-item" :to="{name : 'Bill'}"
                                             v-if="$root.roles.RECEIPT_AND_PAYMENT_GET_LIST">3.1 &nbsp;
                                    {{$t('menu.bill')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.1.1')">
                                <router-link class="dropdown-item" :to="{name : 'BillInTrip2'}"
                                             v-if="$root.roles.RECEIPT_AND_PAYMENT_GET_LIST">3.1.1&nbsp;
                                    {{$t('menu.bill-on-the-trip')}} 2
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.2')">
                                <router-link class="dropdown-item" :to="{name : 'BillInTrip'}"
                                             v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE">3.2
                                    &nbsp; {{$t('menu.bill-on-the-trip')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.3')">
                                <router-link class="dropdown-item" :to="{name : 'CashBook'}"
                                             v-if="$root.roles.REPORT_CASH_REPORT">3.3
                                    &nbsp; {{$t('menu.report-cash-deposit')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.4')">
                                <router-link class="dropdown-item" :to="{name : 'Fuel'}"
                                             v-if="$root.roles.REPORT_FUEL_CONSUMPTION_REPORT">3.4 &nbsp;
                                    {{$t('menu.report-fuel-consumption')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.5')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigTablePayment'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    3.5 &nbsp; {{$t('menu.custom-print-bill')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.6')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigTablePaymentChi'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    3.6 &nbsp; {{$t('menu.custom-print-bill-chi')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.7')">
                                <router-link class="dropdown-item" :to="{name : 'AuthorizeSellTicket'}"
                                             v-if="$root.isAdmin()||userInfo.userInfo.userType === 4">3.7 &nbsp; Ủy quyền kết nối kênh phân phối
                                </router-link>
                            </li>
                            <!-- <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'Customer'}"
                                             v-if="$root.roles.CUSTOMER_GET_LIST">3.8 &nbsp;
                                    {{$t('menu.customer')}}
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ReportCustomer'}"
                                             v-if="$root.roles.REPORT_CUSTOMER_REPORT">3.9
                                    &nbsp; {{$t('menu.report-customer')}}
                                </router-link>
                            </li> -->
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.8')">
                                <router-link class="dropdown-item" :to="{name : 'ManageListTrip'}"
                                             v-if="$root.roles.TRIP_GET_LIST">3.8 &nbsp;
                                    {{$t('menu.list-trip')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.9')">
                                <router-link class="dropdown-item" :to="{name : 'ManageListTripTwoRoute'}"
                                             v-if="$root.roles.TRIP_GET_LIST">3.9 &nbsp;{{$t('menu.list-trip')}}
                                    2
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.10')">
                                <router-link class="dropdown-item" :to="{name : 'ManageListTripTable'}"
                                             v-if="$root.roles.TRIP_GET_LIST">3.10 &nbsp;
                                    {{$t('menu.list-trip-table')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.11')">
                                <router-link class="dropdown-item" :to="{name : 'ManageListTripNew'}"
                                            v-if="$root.roles.TRIP_GET_LIST">3.11 &nbsp;
                                    Quản lý chuyến
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.12')">
                                <router-link class="dropdown-item" :to="{name : 'CustomLimitInvoice'}"
                                            v-if="!$root.isAgency()">3.12 &nbsp;
                                    Hạn mức phòng vé
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.13')">
                                <router-link class="dropdown-item" :to="{name : 'MenuManageReport'}"
                                             v-if="$root.isAdmin()">3.13
                                    Quản lý báo cáo
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.14')">
                                <router-link class="dropdown-item" :to="{name : 'IngredientReport'}"
                                             v-if="$root.isAdmin()">3.14 Nhiên liệu
                                </router-link>
                            </li>
                          <li role="presentation" v-if="mapAccessibleMenu('3.15')">
                            <router-link class="dropdown-item" :to="{name : 'ManagePermissionSellTicket'}"
                                         v-if="$root.isAdmin() ||$root.roles.USER_BY_ROUTE_GET_LIST">3.15 Phân quyền bán vé
                            </router-link>
                          </li>
                          <li role="presentation" v-if="mapAccessibleMenu('3.16')">
                            <router-link class="dropdown-item" :to="{name : 'LockSeat'}"
                                         v-if="$root.isAdmin() ||$root.roles.SEAT_MAP_GET_LIST">3.16 Khóa bán vé theo sơ đồ
                            </router-link>
                          </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.17')">
                                <router-link class="dropdown-item" :to="{name : 'ListTripCancer'}"
                                             v-if="$root.isAdmin() ||$root.roles.SEAT_MAP_GET_LIST">3.17 Danh sách chuyến hủy
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.18')">
                                <router-link class="dropdown-item" :to="{name : 'ManageService'}"
                                             v-if="$root.isAdmin()">3.18 Quản lý dịch vụ
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('3.19')">
                                <router-link class="dropdown-item" :to="{name : 'ManageSoldService'}"
                                             v-if="$root.isAdmin()">3.19 Quản lý đơn dịch vụ
                                </router-link>
                            </li>
                            <!-- <li role="presentation"><router-link class="dropdown-item" :to="{name : 'AssignTicketShipping'}"><i class="fas fa-shipping-fast"></i> &nbsp; {{ $t('menu.delivery-ticket') }}</router-link></li> -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown"
                        v-if="$root.roles.SCHEDULE_GET_LIST||$root.roles.SEAT_MAP_GET_LIST||$root.roles.VEHICLE_GET_LIST||$root.roles.EMPLOYEE_GET_LIST||
                        $root.roles.PERMISSION_GET_LIST||$root.roles.POINT_GET_LIST||$root.roles.ROUTE_GET_LIST||
                        $root.roles.CUSTOMER_GET_LIST||$root.roles.COMPANY_REGION_GET_LIST||$root.roles.WORK_SHIFT_GET_LIST||$root.isAdmin()">
                        <a class="nav-link dropdown-toggle" href="#" id="KhaiBao" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-tasks"></i>
                            {{$t('menu.initialization')}}</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="KhaiBao">
                            <li role="presentation" v-if="mapAccessibleMenu('2.1')">
                                <router-link class="dropdown-item" :to="{name : 'GroupPermission'}"
                                             v-if="$root.roles.PERMISSION_GET_LIST">2.1
                                    &nbsp; {{$t('menu.permission')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.2')">
                                <router-link class="dropdown-item" :to="{name : 'User'}"
                                             v-if="$root.roles.EMPLOYEE_GET_LIST">2.2 &nbsp;
                                    {{$t('menu.employees')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.3')">
                                <router-link class="dropdown-item" :to="{name : 'Point'}"
                                             v-if="$root.roles.POINT_GET_LIST">2.3 &nbsp;
                                    {{$t('menu.point')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.4')">
                                <router-link class="dropdown-item" :to="{name : 'Route'}"
                                             v-if="$root.roles.ROUTE_GET_LIST">2.4 &nbsp;
                                    {{$t('menu.route')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.5')">
                                <router-link class="dropdown-item" :to="{name : 'SeatMap'}"
                                             v-if="$root.roles.SEAT_MAP_GET_LIST">2.5 &nbsp;
                                    {{$t('menu.seat-map')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.6')">
                                <router-link class="dropdown-item" :to="{name : 'Vehicle'}"
                                             v-if="$root.roles.VEHICLE_GET_LIST">2.6 &nbsp;
                                    {{$t('menu.vehicle')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.7')">
                                <router-link class="dropdown-item" :to="{name : 'PlanForTrip'}"
                                             v-if="$root.roles.SCHEDULE_GET_LIST">2.7
                                    &nbsp; {{$t('menu.schedule')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.8')">
                                <router-link class="dropdown-item" :to="{name : 'LevelAgency'}"
                                             v-if="$root.roles.LEVEL_OF_AGENCY_GET_LIST">2.8 &nbsp;
                                    {{$t('menu.level-agency')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.9')">
                                <router-link class="dropdown-item" :to="{name : 'Agency'}"
                                             v-if="$root.roles.EMPLOYEE_GET_LIST">2.9 &nbsp; Đại lý
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.10')">
                                <router-link class="dropdown-item" :to="{name : 'CustomerType'}"
                                             v-if="$root.roles.CUSTOMER_GET_LIST">2.10 &nbsp;
                                    {{$t('menu.customer-type')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.11')">
                                <router-link class="dropdown-item" :to="{name : 'SurchargeCategory'}"
                                             v-if="$root.roles.SURCHARGE_GET_LIST">2.11 &nbsp;{{$t('menu.surcharge-category')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.12')">
                                <router-link class="dropdown-item" :to="{name : 'GoodsType'}"
                                             v-if="$root.roles.GOODS_TYPE_GET_LIST">2.12 &nbsp;
                                    {{$t('menu.goods-type')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.13')">
                                <router-link class="dropdown-item" :to="{name : 'Region'}"
                                             v-if="$root.roles.COMPANY_REGION_GET_LIST">2.13 &nbsp;
                                    {{$t('menu.region')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.14')">
                                <router-link class="dropdown-item" :to="{name : 'WorkShift'}"
                                             v-if="$root.roles.WORK_SHIFT_GET_LIST">2.14
                                    &nbsp; {{$t('menu.work-shift')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.15')">
                                <router-link class="dropdown-item" :to="{name : 'WarningDeliveringTickets'}"
                                             v-if="$root.roles.TIME_RECEIVE_DELIVER_TICKET_GET_LIST">2.15 &nbsp;
                                    {{$t('menu.warning-delivering-tickets')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.16')">
                                <router-link class="dropdown-item" :to="{name : 'Item'}"
                                             v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE">2.16
                                    &nbsp;{{$t('menu.item')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('2.17')">
                                <router-link class="dropdown-item" :to="{name : 'TelecomNumber'}"
                                             v-if="$root.roles.SWITCHBOARD_GET_LIST">2.17 &nbsp;
                                    {{$t('menu.telecom-number')}}
                                </router-link>
                            </li>
                            <!-- <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'SanVeContrast'}"
                                             v-if="$root.roles.SWITCHBOARD_GET_LIST">2.18 &nbsp;
                                    Hợp đồng sàn vé
                                </router-link>
                            </li> -->
                            <li role="presentation" v-if="mapAccessibleMenu('2.18')">
                                <router-link class="dropdown-item" :to="{name : 'VehicleOwner'}"
                                             v-if="$root.roles.VEHICLE_GET_LIST">2.18 &nbsp;
                                    Chủ phương tiện
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"
                        v-if="$root.isAdmin()||$root.roles.CONFIGURATION_SYSTEM_UPDATE||$root.roles.DISPLAY_SETTINGS_CREATE||
                        $root.roles.DISPLAY_SETTINGS||$root.roles.REPORT_REVENUE_SUMMARY||$root.roles.ACCESS_CODE_ACCESS_CODE_ADMIN||
                        $root.roles.SMS_PATTERN_GET_LIST||$root.roles.REPORT_SUMMARY_SMS">
                        <a class="nav-link dropdown-toggle" href="#" id="tuyChinh" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-tools"></i> {{$t('menu.system')}}</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="tuyChinh" role="menu">
                            <li role="presentation" v-if="mapAccessibleMenu('1.1')">
                                <router-link class="dropdown-item" :to="{name : 'SystemInfoSetting'}"
                                             v-if="$root.isAdmin()">1.1 &nbsp;
                                    {{$t('menu.system-info')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.2')">
                                <router-link class="dropdown-item" :to="{name : 'SystemSetting'}"
                                             v-if="$root.roles.CONFIGURATION_SYSTEM_UPDATE">1.2
                                    &nbsp; {{$t('menu.system-setting')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.3')">
                                <router-link class="dropdown-item" :to="{name : 'UserLoginHistory'}">1.3
                                    &nbsp; {{$t('menu.user-login-history')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.4')">
                                <router-link class="dropdown-item" :to="{name : 'LoginSecurity'}"
                                             v-if="$root.roles.ACCESS_CODE_ACCESS_CODE_ADMIN">1.4
                                    &nbsp; {{$t('menu.user-login-security')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'DisplaySettingBillIn'}" v-if="$root.isAdmin()"><i class="fa fa-anchor"></i> &nbsp;  Tùy chỉnh In phiếu thu</router-link></li>-->
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'DisplaySettingBillOut'}" v-if="$root.isAdmin()"><i class="fa fa-anchor"></i> &nbsp;  Tùy chỉnh In phiếu chi</router-link></li>-->
                            <li role="presentation" v-if="mapAccessibleMenu('1.5')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigTicket'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.5 &nbsp; {{$t('menu.custom-print-ticket')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.6')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigTicketTemp'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.6 &nbsp; {{$t('menu.custom-print-tem-ticket')}}
                                </router-link>
                            </li>
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'DisplaySettingPrintHeader'}"> Tùy chỉnh Đầu trang</router-link></li>-->
                            <li role="presentation" v-if="mapAccessibleMenu('1.7')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigTableTickets'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.7 &nbsp; {{$t('menu.custom-print-list-ticket')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.8')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigSeatMap'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.8 &nbsp; {{$t('menu.custom-print-seat-map')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.9')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigReportDetail'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.9 &nbsp; {{$t('menu.custom-print-report-detail')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.10')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigTicketContract'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.10 &nbsp; {{$t('menu.custom-print-ticket-contract')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.11')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigReportTrip'}"
                                             >
                                    1.11 &nbsp;Cấu hình báo cáo chuyến
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.12')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigGoods'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.12 &nbsp; {{$t('menu.custom-print-goods')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.13')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigGoodsTem'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.13 &nbsp; {{$t('menu.custom-print-goods-tem')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.14')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigStatisticalGoodsByUser'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS">
                                    1.14 &nbsp;
                                    {{$t('menu.custom-print-report-goods')}}
                                </router-link>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.15')">
                                <router-link class="dropdown-item" :to="{name : 'SmsConfigDisplay'}"
                                             v-if="$root.roles.SMS_PATTERN_GET_LIST">1.15 &nbsp;
                                    {{$t('menu.custom-send-message')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.16')">
                                <router-link class="dropdown-item" :to="{name : 'ReportMessage'}"
                                             v-if="$root.roles.REPORT_SUMMARY_SMS">1.16 &nbsp;
                                    {{$t('menu.report-message')}}
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.17')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigMailTemplate'}"
                                             v-if="$root.roles.REPORT_SUMMARY_SMS">1.17 &nbsp;
                                    Cấu hình gửi mail
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.18')">
                                <router-link class="dropdown-item" :to="{name : 'TicketEmail'}"
                                             v-if="$root.roles.REPORT_SUMMARY_SMS">1.18 &nbsp;
                                    Cấu hình gửi mail vé
                                </router-link>
                            </li>
                            <li role="presentation" v-if="mapAccessibleMenu('1.19')">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigFreightOrder'}"
                                             v-if="$root.roles.REPORT_SUMMARY_SMS">1.19 &nbsp;
                                    Cấu hình lệnh vận chuyển
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item mr-2">
                        <span class="nav-link cursor-pointer" :class="{'text-danger': moneyEpaySmsMegaV < 250, 'text-light': moneyEpaySmsMegaV >= 250}">
                            {{ moneyEpaySmsMegaV | number }}đ
                        </span>
                    </li>
                    <li class="nav-item dropdown" v-if="!$root.isAgency()">
                        <a class="nav-link dropdown-toggle position-relative" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-light position-absolute" style="top:4px" v-if="totalTicketsOnline">{{totalTicketsOnline}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <template v-for="(route,r) in ticketsOnlineByRoute">
                                <li role="presentation" class="dropdown-item"
                                    v-if="route.tickets&&route.tickets.length>0">
                                    <el-dropdown>
                                    <span class="el-dropdown-link">
                                        {{route.routeName}} <span class="badge badge-danger">{{route.tickets?route.tickets.length:0}}</span>
                                    </span>
                                        <el-dropdown-menu slot="dropdown">
                                            <template v-for="(ticket,t) in route.tickets">
                                                <el-dropdown-item>
                                                    <a class="dropdown-item border-bottom position-relative" href="#"
                                                       @click="goToTicket(ticket)"><i>{{ticket.createdDate |
                                                        customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</i>
                                                        <span class="font-weight-bold">{{ticket.fullName}}</span>
                                                        {{ticket.phoneNumber|phoneNumber}},
                                                        ({{ticket.listSeatId.join(',')}})
                                                        <span class="badge position-absolute"
                                                              style="right : 5px;top:5px"
                                                              @click.stop="$store.dispatch('Ticket07/DELETE_TICKET_ONLINE_FIREBASE',ticket);">
                                                            <i class="fa text-danger fa-times"></i></span></a>
                                                </el-dropdown-item>
                                            </template>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </li>
                            </template>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="anvuiHoTro" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-tools"></i> Hỗ trợ</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="anvuiHoTro" role="menu">
                            <li role="presentation">
                                <a class="dropdown-item" href="#" @click="callAnVui()">Hỗ trợ kỹ thuật: <b>1900 7034</b></a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-item" target="_blank" href="https://remotedesktop.google.com/support">Điều khiển từ xa</a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-item" href="#" @click="openSendFeedback()">Gửi phản hồi cho An Vui</a>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'CustomerFeedbackHistory'}">Lịch sử phản hồi
                                </router-link>
                            </li>
                            
                        </ul>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<select-language style="height: 100%"/>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ userInfo.userInfo.fullName }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-quick-search" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" @click="openSearch()"><i class="fa fa-search"></i></a>
                        <div class="dropdown-menu quick-search-master dropdown-menu-right">
                            <div class="input-search">
                                <input type="text" v-model="txtSearch" name="quickSearch" class="form-control"
                                       :placeholder="$t('search')" style="border-radius: 0" id="inputTextSearchMaster"
                                       autocomplete="off">
                                <loading class="loading" :errorCode="'quickSearch'" :state="loadingSearch"></loading>
                            </div>
                            <div class="row no-gutters">
                                <div class="col" style="max-width:70%">
                                    <div style="line-height: 20px;padding:5px" class="bg-primary text-white">Hành khách
                                        có {{ Object.keys(unDuplicateTicket).length||0 }} kết quả
                                    </div>
                                    <div class="list-group" style="max-height: 80vh;overflow-y: scroll">

                                        <table class="table table-hover" v-if="Object.keys(unDuplicateTicket).length > 0">
                                            <thead>
                                                <th>Người đặt</th>
                                                <th>Người đi</th>
                                                <th  style="white-space: nowrap;">Tuyến & Chuyến</th>
                                                <th>Ngày đi</th>
                                                <th>Ghế</th>
                                                <th>Điểm lên</th>
                                                <th>Điểm xuống</th>
                                            </thead>
                                            <tbody>
                                                <template v-for="ticket in unDuplicateTicket">
                                                    <tr :key="ticket.ticketId" v-on:click="goToTicket(ticket)">
                                                        <td><span>{{ ticket.fullName }}</span> <br> <span style="white-space: nowrap;">{{ ticket.phoneNumber|phoneNumber }}</span></td>
                                                        <td>
                                                            <template v-if="ticket.ordererPhoneNumber">
                                                                <span>{{ ticket.orderer }}</span> <br> <span style="white-space: nowrap;">{{ ticket.ordererPhoneNumber|phoneNumber }}</span>
                                                            </template>
                                                            <template v-else>
                                                                <span>{{ ticket.fullName }}</span> <br> <span style="white-space: nowrap;">{{ ticket.phoneNumber|phoneNumber }}</span>
                                                            </template>
                                                        </td>
                                                        <td>{{ ticket.routeInfo ? ticket.routeInfo.name : 'Không có thông tin'}}</td>
                                                        <td>{{ ticket.getInTimePlan | customDate('#DD#/#MM#/#YYYY# #hhhh#:#mm#',true)}}</td>
                                                        <td>{{ (ticket.listSeatId||[]).toString() }} <br>
                                                        <span style="font-size: 13px" :class="ticketStatus(ticket).color">{{ ticketStatus(ticket).status }}</span>
                                                        </td>
                                                        <td>
                                                          <span style="white-space: nowrap;">
                                                              {{ticket.pointUp && ticket.pointUp.name ? ticket.pointUp.name : ''}}
                                                          </span>
                                                        </td>
                                                        <td>
                                                          <span style="white-space: nowrap;">
                                                              {{ticket.pointDown && ticket.pointDown.name ? ticket.pointDown.name : ''}}
                                                          </span>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                        <!-- <a href="javascript:void(0)" v-for="ticket in unDuplicateTicket"
                                           :key="ticket.ticketId" class="list-group-item list-group-item-action"
                                           v-on:click="goToTicket(ticket)">
                                            <span>{{ ticket.fullName }}</span> - <span
                                                style="font-size: 15px;font-weight:bold;color:red">{{ ticket.phoneNumber|phoneNumber }}</span><br>
                                            <span v-if="ticket.routeInfo">{{ ticket.routeInfo.name}}</span> - <span
                                                style="font-weight:bold">{{ ticket.getInTimePlan | customDate('#DD#/#MM#/#YYYY# #hhhh#:#mm#',true)}}</span><br>
                                            <span>{{(ticket.listSeatId||[]).toString()}}</span> - <span
                                                :class="ticketStatus(ticket).color">{{ ticketStatus(ticket).status }}</span>
                                        </a> -->
                                    </div>
                                </div>
                                <div class="col" style="max-width:30%" v-if="goodsSearch&&goodsSearch.list">
                                    <div style="line-height: 20px;padding:5px" class="bg-primary text-white">Hàng hóa có
                                        {{ goodsSearch.list.length||0 }} kết quả
                                    </div>
                                    <div class="list-group" style="max-height: 80vh;overflow-y: scroll">
                                        <template v-for="(goods,index) in goodsSearch.list">
                                            <a href="javascript:void(0)" :key="goods.id"
                                               class="list-group-item list-group-item-action"
                                               v-on:click="goToTicket(goods)">
                                                Gửi: <span class="font-weight-bold">{{goods.from.fullName}}</span> - <b
                                                    class="text-danger">{{goods.from.phoneNumber}}</b> - <i>{{goods.from.point?goods.from.point.name:goods.from.address}}</i><br>
                                                Nhận: <span class="font-weight-bold">{{goods.to.fullName}}</span> - <b
                                                    class="text-danger">{{goods.to.name}}</b> - <i>{{goods.to.point?goods.to.point.name:goods.to.address}}</i><br>
                                                <b>{{goods.name}}</b> - {{goods.status.label()}}
                                            </a>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu" style="left:auto;right:0">
                            <!--<a class="dropdown-item" href="javascript:void(0)" @click="openSetting();"><i-->
                                    <!--class="fa fa-cog"></i> Cài đặt</a>-->
                            <a class="dropdown-item" href="javascript:void(0)" @click.stop="openModalChangePassword();"><i
                                    class="fa fa-lock"></i> Đổi mật khẩu</a>
                            <a class="dropdown-item" :href="'dang-xuat'|url"><i class="fa fa-power-off"></i> Đăng
                                xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal fade bd-example-modal-lg" id="modalChangePassword" tabindex="-1" role="dialog"
             aria-labelledby="modalChangePassword" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ĐỔI MẬT KHẨU</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <change-password class="top20 bottom20" ref="ChangePasswordComponent"
                                         @event="changePasswordEvent"></change-password>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary"
                                @click="$refs.ChangePasswordComponent.save()"><i class="fa fa-save"></i> THAY ĐỔI
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i
                                class="fa fa-close"></i> ĐÓNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <customer-feedback-02 :visibleDialog="dialogSendFB" @closeDialog="dialogSendFB = $event"></customer-feedback-02>
    </div>
</template>
<script>
    import {ListGoods} from '../../class/goods';
    import ChangePassword from '../User/ChangePassword.vue';
    import SelectLanguage from '../Helper/SelectLanguage';
    import {mapState} from 'vuex'
    import CustomerFeedback02 from './CustomerFeedback2';
    export default {
        components: {ChangePassword, SelectLanguage, CustomerFeedback02},
        data: function () {
            return {
                loadingSearch: func.defaultLoad(),
                txtSearch: '',
                ticketsSearch: [],
                goodsSearch: null,
                ticketsOnlineByRoute: [],
                dialogSendFB: false,
                moneyEpaySmsMegaV: 0,
            }
        },
        computed: {
            mapAccessibleMenu () {
                let mapMenu = {}

                if(!this.userInfo.accessibleMenu) {
                    return function (menuId) {
                        return true
                    }
                }

                this.userInfo.accessibleMenu.forEach(value => {
                    mapMenu[value.id] = value
                })

                // console.log(mapMenu)

                return function (menuId) {
                    return mapMenu[ menuId ] ? true : false
                }
            },

            unDuplicateTicket: function () {
                // try {
                let data = this.ticketsSearch;
                if (!data) {
                    return null;
                }
                let result = {};

                $.each(data, function (i, e) {
                    let status = func.checkTicketStatus(e);
                    let key = e.tripId + '-' + e.ticketCode + '-' + status.type;
                    e.sttTk = _.cloneDeep(status);
                    if (result[key] && result[key].tripId == e.tripId && result[key].sttTk.type === e.sttTk.type) {
                        result[key].listSeatId.push(e.seat.seatId);
                        result[key].number++;
                        result[key].price += _.cloneDeep(e.price);
                        result[key].paidMoney += _.cloneDeep(e.paidMoney);
                        result[key].unPaidMoney += _.cloneDeep(e.unPaidMoney);
                        result[key].originalPrice += _.cloneDeep(e.originalPrice);
                    } else {
                        result[key] = _.cloneDeep(e);
                    }
                });
                return result;

                // }catch (e) {
                //     console.warn(e);
                //     return [];
                // }

            },
            ...mapState({
                sellForm: state => state.sellForm,
                routes: state => state.routes
            }),
            totalTicketsOnline: function () {
                let ticketsOnlineByRoute = this.ticketsOnlineByRoute;
                let total = 0;
                $.each(ticketsOnlineByRoute, function (r, route) {
                    total += route.tickets ? route.tickets.length : 0;
                })
                return total
            }
        },
        watch: {
            txtSearch: function () {
                if (this.txtSearch.length >= 2) {
                    this.getDataSearch();
                } else {
                    this.ticketsSearch = [];
                }
            },
            routes: function () {
                this.setTicketsOnlineByRoute();
            }
        },
        mounted: function () {
            this.setTicketsOnlineByRoute();
            this.setView();
            this.getMoney()
            $(window).resize( () => { this.setView() })

        },
        methods: {
            getMoney: function () {
                let self = this;
                self.load("getMoney");
                sendJson({
                    url: urlDBD(API.epaySmsMegaV),
                    success: function (data) {
                    self.moneyEpaySmsMegaV = data.results.megaVSMS.currentAmount;
                    self.unload("getMoney");
                    },
                    functionIfError: function (err) {
                    console.log(err);
                    self.unload("getMoney");
                    },
                });
            },
            setView: function(){
                let screenHeight = $(window).height();
                $.each($('.check-height'),function(i,element){
                    if($(element).height()>screenHeight-60){
                        $(element).addClass('height-80vh');
                    }else{
                        $(element).removeClass('height-80vh');
                    }
                });
            },
            getDataSearch: _.debounce(function () {
                let self = this;
                self.loadingSearch = func.beforeLoad();
                sendJson({
                    url: urlDBD(API.quickSearch),
                    data: {
                        page: 0,
                        count: 100,
                        keyword: self.txtSearch
                    },
                    success: function (response) {
                        self.loadingSearch = func.loadSuccess();
                        self.ticketsSearch = response.results.tickets;
                        self.goodsSearch = new ListGoods(response.results.goodses);
                    }, functionIfError: function (err) {
                        self.loadingSearch = func.loadError();
                    }
                });
            }, 500),
            goToTicket: function (ticket) {
                let data = {
                    tripId: ticket.tripId,
                    routeId: ticket.routeInfo.id,
                    startPointId: ticket.pointUp.id,
                    endPointId: ticket.pointDown.id,
                    ticketId: ticket.ticketId,
                    ticketStatus: ticket.ticketStatus,
                    floor: ticket.seat.floor,
                }
                data.date = this.$options.filters.customDate(ticket.getInTimePlan, '#DD#-#MM#-#YYYY#', true);
                func.setHistory(data);
                this.$store.commit(this.sellForm + '/SET_TICKET_SCROLL', ticket);
                this.$store.commit(this.sellForm + '/SET_TIME', this.$options.filters.customDate(ticket.getInTimePlan, '#hhhh#', true));
                // this.$store.dispatch(this.sellForm+'/SET_TIME',this.$options.filters.customDate(ticket.getInTimePlan,'#hhhh#',true));
                if (this.$route.name === this.sellForm) {
                    this.$store.dispatch(this.sellForm + '/INIT');
                } else {
                    this.$router.push({name: this.sellForm});
                }
            },
            openSetting: function () {
                $('#setting').modal('show');
            },
            openSearch: function () {
                let self = this;
                setTimeout(function () {
                    $(self.$el).find('#inputTextSearchMaster').focus();
                    $(self.$el).find('#inputTextSearchMaster').select();
                }, 100);
            },
            ticketStatus: function (ticket) {
                return func.checkTicketStatus(ticket);
            },
            openModalChangePassword: function () {
                this.$refs.ChangePasswordComponent.refresh();
                $(this.$el).find('#modalChangePassword').modal('show');
            },
            openSendFeedback: function(params) {
              this.dialogSendFB = true;
            },
            changePasswordEvent: function (event) {
                switch (event.eventName) {
                    case 'changeSuccess' :
                        notify("Thay đổi mât khẩu thành công", 'success');
                        $(this.$el).find('#modalChangePassword').modal('hide');
                        break;
                    default:
                        break;
                }
            },
            callAnVui: function () {
                if (confirm('Gọi cho An vui!')) {
                    this.$root.$emit('telecom', {event: 'CALL_TO_PHONE', phoneNumber: '1900 7034'});
                }
            },
            setTicketsOnlineByRoute: function () {
                let self = this;
                let routes = this.routes;
                if (!routes) {
                    return [];
                }
                let result = [];
                $.each(routes, function (r, route) {
                    let rt = {
                        routeId: route.routeId,
                        routeName: route.routeName,
                        tickets: []
                    };
                    let cnn = window.firebaseDatabase.ref().child('ticketOnlines').child(route.routeId).limitToLast(10);
                    cnn.on('value', function (snapshot) {
                        let data = snapshot.val();
                        let tks = self.mergeTicket(data);
                        if(tks) {
                            tks.sort(function(a, b){return b.createdDate - a.createdDate});
                        }
                        rt.tickets = tks
                    });
                    result.push(rt);
                });
                this.ticketsOnlineByRoute = result;
            },
            mergeTicket: function (_tickets) {
                if (!_tickets) {
                    return null;
                }
                let result = {};

                $.each(_tickets, function (i, e) {
                    let key = e.tripId + '-' + e.ticketCode + '-' + e.phoneNumber;
                    if (result[key] && result[key].tripId === e.tripId && result[key].ticketCode === e.ticketCode && result[key].phoneNumber === e.phoneNumber) {
                        result[key].listSeatId.push(e.seat.seatId);
                        result[key].listTicketId.push(e.ticketId);
                        result[key].number++;
                    } else {
                        e.listTicketId = [e.ticketId];
                        result[key] = _.cloneDeep(e);
                    }
                });
                let i = 0;
                let res = Object.keys(result).map(function (key) {
                    if (result[key].listTicketId.length > 1) {
                    }
                    i++;
                    return result[key];
                });
                return res;
            },
            sendMail: function () {
                window.open('mailto:quytuoiti101096@gmail.com?subject=subject&body=body');
            }
        }
    }
</script>
<style>
    .nav-item .overflow-auto {
        overflow-y: auto;
        max-height: 500px;
    }
    .search-form {
        margin-bottom: 10px
    }

    .quick-search-master {
        width: 70vw;
        padding: 0
    }

    @media (max-width: 768px) {
        .quick-search-master {
            width: 80vw;
            padding: 0
        }

        /*.navbar-collapse{height:80vh;overflow-y:scroll}*/
    }

    .link-quick-search::after {
        content: none !important
    }

    .input-search {
        position: relative
    }

    .input-search .loading {
        position: absolute;
        right: 10px;
        top: 0;
    }
</style>
