<template>
    <div class="w-100">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-anvui" style="padding : 0 15px">
            <a class="navbar-brand" href="javscript:0" style="padding-top:0;padding-bottom:0"><img :src="userInfo.logo"
                                                                                                   alt=""
                                                                                                   style="max-height:35px"
                                                                                                   class="img-responsive"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" :href="'cpanel/vue/home'|url"><i class="fa fa-home"></i> {{$t('menu.home')}}</a>
                    </li>
                    <li class="nav-item dropdown" v-if="$root.roles.TICKET_GET_LIST||$root.roles.TICKET_CREATE||$root.roles.TICKET_UPDATE">
                        <a class="nav-link dropdown-toggle" href="#" id="banve" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-ticket-alt"></i> Hành khách</a>
                        <ul class="dropdown-menu" aria-labelledby="banve">
                            <!--<li role="presentation"><router-link :key="$route.fullPath" class="dropdown-item" :to="{name : 'Ticket06'}" v-if="$root.roles.TICKET_GET_LIST||$root.roles.TICKET_CREATE||$root.roles.TICKET_UPDATE"><i class="fa fa-ticket-alt"></i>{{$t('menu.customer-ticket')}}</router-link></li>-->
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Ticket07'}" v-if="$root.roles.TICKET_GET_LIST||$root.roles.TICKET_CREATE||$root.roles.TICKET_UPDATE"><i class="fa fa-ticket-alt"></i>{{$t('menu.customer-ticket')}} 2.0</router-link></li>
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportDetail'}" ><i class="fa fa-ticket-alt"></i>  Tra cứu thông tin vé</router-link></li>-->
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportDetail02'}" ><i class="fa fa-ticket-alt"></i>  Tra cứu thông tin vé</router-link></li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="$root.roles.REPORT_ONLINE_PAYMENT"><router-link class="dropdown-item" :to="{name : 'ReportOnlinePayment'}" ><i class="fa fa-ticket-alt"></i>  Tra cứu vé theo cổng thanh toán</router-link></li>
                            <li role="presentation" v-if="$root.roles.REPORT_RECONCILIATION_AGENCY"><router-link class="dropdown-item" :to="{name : 'ReportByAgency'}" ><i class="fa fa-ticket-alt"></i>  {{$t('menu.report-agency-debt')}}</router-link></li>
                            <li role="presentation" v-if="$root.roles.REPORT_DRIVER_REPORT"><router-link class="dropdown-item" :to="{name : 'ReportCountTripDriver'}" ><i class="fa fa-ticket-alt"></i>  {{$t('menu.report-count-trip-driver')}}</router-link></li>
                            <li role="presentation" v-if="$root.roles.REPORT_REVENUE_BY_STAFF"><router-link class="dropdown-item" :to="{name : 'ReportCashByUser02'}" ><i class="fa fa-ticket-alt"></i>  {{$t('menu.report-by-employees')}}</router-link></li>
                            <li role="presentation" v-if="$root.roles.REPORT_DRIVER_REPORT"><router-link class="dropdown-item" :to="{name : 'TripsDriverReport'}" ><i class="fa fa-ticket-alt"></i>  {{$t('menu.report-by-driver')}}</router-link></li>
                            <li role="presentation" v-if="$root.roles.TICKET_UPDATE&&!$root.isAgency()"><router-link class="dropdown-item" :to="{name : 'FormManagerConfirmTransfer'}" ><i class="fa fa-ticket-alt"></i>  Xác nhận vé chuyển khoản</router-link></li>
                            <li role="presentation" v-if="$root.roles.TICKET_UPDATE&&!$root.isAgency()"><router-link class="dropdown-item" :to="{name : 'Ret'}" ><i class="fa fa-ticket-alt"></i>  Yêu cầu xuất vé điện tử</router-link></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" v-if="!$root.isAgency()&&($root.roles.TICKET_GET_LIST||$root.roles.TICKET_CREATE||$root.roles.TICKET_UPDATE)">
                        <a class="nav-link dropdown-toggle" href="#" id="hanghoa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cubes"></i> {{$t('goods')}}</a>
                        <ul class="dropdown-menu" aria-labelledby="hanghoa">
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Goods'}" v-if="$root.roles.GOODS_GET_LIST"><i class="fa fa-money-bill"></i>{{$t('menu.goods-ticket')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'GoodsType'}" v-if="$root.roles.GOODS_TYPE_GET_LIST"><i class="fa fa-boxes"></i>{{$t('menu.goods-type')}}</router-link></li>
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'GoodsCancel'}"  v-if="$root.roles.GOODS_GET_LIST"><i class="fa fa-trash"></i>{{$t('menu.goods-canceled')}}</router-link></li>-->
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'CollectionRequest'}"  v-if="$root.roles.GOODS_GET_LIST"><i class="fa fa-money-bill"></i>Yêu cầu nhận hàng</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'CoordinationRequest'}"><i class="fa fa-money-bill"></i>Điều phối yêu cầu nhận hàng</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'Goods02'}"  v-if="$root.roles.GOODS_GET_LIST"><i class="fa fa-money-bill"></i>Danh sách đơn hàng</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'ManageGoods'}"><i class="fa fa-money-bill"></i>Điều phối hàng hóa</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'InitPriceGoods'}"  v-if="$root.roles.GOODS_GET_LIST"><i class="fa fa-money-bill"></i>Bảng giá vận chuyển</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'GoodsSetting'}"><i class="fa fa-money-bill"></i>Cấu hình hàng hóa</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'ReportGoods'}"  v-if="$root.roles.GOODS_GET_LIST"><i class="fa fa-money-bill"></i>{{$t('menu.report-goods')}}</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'GoodsByUser'}"  v-if="$root.roles.REPORT_GOODS_BY_STAFF"><i class="fa fa-money-bill"></i>Báo cáo hàng hóa theo nhân viên</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'ReportGoodsByEmployees'}"  v-if="$root.roles.REPORT_GOODS_BY_STAFF"><i class="fa fa-money-bill"></i>Báo cáo hàng hóa theo nhân viên 2.0</router-link></li>
                            <li role="presentation" v-if="$root.roles.GOODS_GET_LIST"><router-link class="dropdown-item" :to="{name : 'ReportGood02'}"  v-if="$root.roles.REPORT_GOODS_BY_STAFF"><i class="fa fa-money-bill"></i>Báo cáo hàng hóa 2.0</router-link></li>

                            <!-- <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'CollectionRequest'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.2 &nbsp; Yêu cầu
                                    nhận hàng
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'CoordinationRequest'}">
                                    5.3 &nbsp; Điều phối yêu cầu nhận hàng
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'Goods02'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.4 &nbsp;
                                    Danh sách đơn hàng
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ImportAndExportGoods'}">5.5 &nbsp;
                                    Xuất nhập hàng vào kho
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ReceiveGoodsInHome'}">5.6 &nbsp;
                                    Trả hàng tại nhà
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'InitPriceGoods'}"
                                             v-if="$root.roles.GOODS_GET_LIST">5.7 &nbsp;
                                    Bảng giá vận chuyển
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'GoodsSetting'}">
                                    5.8 &nbsp; Cấu hình hàng hóa
                                </router-link>
                            </li> -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown" v-if="!$root.isAgency()&&($root.roles.SCHEDULE_GET_LIST||$root.roles.SEAT_MAP_GET_LIST||$root.roles.VEHICLE_GET_LIST||$root.roles.EMPLOYEE_GET_LIST||$root.roles.PERMISSION_GET_LIST)">
                        <a class="nav-link dropdown-toggle" href="#" id="KhaiBao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-tasks"></i> {{$t('menu.initialization')}}</a>
                        <ul class="dropdown-menu" aria-labelledby="KhaiBao">
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PlanForTrip'}" v-if="$root.roles.SCHEDULE_GET_LIST"> <i class="fa fa-calendar-alt"></i> &nbsp; {{$t('menu.schedule')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'SeatMap'}" v-if="$root.roles.SEAT_MAP_GET_LIST"> <i class="fa fa-chair"></i> &nbsp; {{$t('menu.seat-map')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Vehicle'}" v-if="$root.roles.VEHICLE_GET_LIST"><i class="fa fa-bus"></i> &nbsp; {{$t('menu.vehicle')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Point'}" v-if="$root.roles.POINT_GET_LIST"><i class="fa fa-map-marker"></i> &nbsp; {{$t('menu.point')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Route'}" v-if="$root.roles.ROUTE_GET_LIST"><i class="fa fa-route"></i> &nbsp; {{$t('menu.route')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'User'}" v-if="$root.roles.EMPLOYEE_GET_LIST"><i class="fa fa-user"></i> &nbsp; {{$t('menu.employees')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Agency'}" v-if="$root.roles.EMPLOYEE_GET_LIST"><i class="fa fa-american-sign-language-interpreting"></i> &nbsp; Đại lý</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'LevelAgency'}" v-if="$root.roles.EMPLOYEE_GET_LIST"><i class="fa fa-user"></i> &nbsp; {{$t('menu.level-agency')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'GroupPermission'}" v-if="$root.roles.PERMISSION_GET_LIST"><i class="fa fa-fingerprint"></i> &nbsp; {{$t('menu.permission')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Item'}" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-th-list"></i> &nbsp; {{$t('menu.item')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'TelecomNumber'}" v-if="$root.roles.SWITCHBOARD_GET_LIST"><i class="fa fa-phone"></i> &nbsp; {{$t('menu.telecom-number')}}</router-link></li>

                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Region'}" v-if="$root.roles.COMPANY_REGION_GET_LIST"><i class="fas fa-map-marked-alt"></i> &nbsp; {{$t('menu.region')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'WorkShift'}" v-if="$root.roles.WORK_SHIFT_GET_LIST"><i class="fas fa-briefcase"></i> &nbsp; {{$t('menu.work-shift')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'WarningDeliveringTickets'}" v-if="$root.roles.TIME_RECEIVE_DELIVER_TICKET_GET_LIST"><i class="fas fa-clock"></i> &nbsp; {{$t('menu.warning-delivering-tickets')}}</router-link></li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'SurchargeCategory'}"
                                             v-if="$root.roles.SURCHARGE_GET_LIST"><i class="fas fa-bars"></i> &nbsp;
                                    {{$t('menu.surcharge-category')}}
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" v-if="$root.roles.RECEIPT_AND_PAYMENT_GET_LIST||$root.roles.RECEIPT_AND_PAYMENT_CREATE||$root.roles.PROMOTION_GET_LIST||$root.roles.ADDITION_PRICE_GET_LIST||$root.roles.CUSTOMER_GET_LIST||$root.roles.TRIP_GET_LIST">
                        <a class="nav-link dropdown-toggle" href="#" id="phieu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users-cog"></i> {{$t('menu.manage')}}</a>
                        <ul class="dropdown-menu" aria-labelledby="phieu">
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Bill'}" v-if="$root.roles.RECEIPT_AND_PAYMENT_GET_LIST"><i class="fa fa-money-check-alt"></i> &nbsp; {{$t('menu.bill')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'BillInTrip'}" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-lock"></i> &nbsp; {{$t('menu.bill-on-the-trip')}}</router-link></li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Promotion'}" v-if="$root.roles.PROMOTION_GET_LIST"><i class="fa fa-ad"></i> &nbsp;  {{$t('menu.promotion')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'AdditionPrice'}" v-if="$root.roles.ADDITION_PRICE_GET_LIST"><i class="fa fa-pencil-ruler"></i> &nbsp;  {{$t('menu.price-policy')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'CancelTicketPolicy'}" v-if="$root.roles.CANCEL_TICKET_POLICY_GET_LIST"><i class="fa fa-trash"></i> &nbsp;  {{$t('menu.cancel-ticket-policy')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PricePolicy'}"><i class="fa fa-money-bill-alt"></i> &nbsp;  {{$t('menu.price-policy-2')}}</router-link></li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PolicyAgency'}" v-if="$root.roles.AGENCY_PRICE_POLICY_GET_LIST"><i class="fa fa-user-ninja"></i> &nbsp;  {{$t('menu.agency-policy')}}</router-link></li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <!-- <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Customer'}" v-if="$root.roles.CUSTOMER_GET_LIST"><i class="fa fa-users"></i> &nbsp;  {{$t('menu.customer')}}</router-link></li> -->
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'CustomerType'}" v-if="$root.roles.CUSTOMER_GET_LIST"><i class="fa fa-users"></i> &nbsp;  {{$t('menu.customer-type')}}</router-link></li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ManageListTrip'}" v-if="$root.roles.TRIP_GET_LIST"><i class="fa fa-list-ul"></i> &nbsp;  {{$t('menu.list-trip')}}</router-link></li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ManageListTripTwoRoute'}"
                                             v-if="$root.roles.TRIP_GET_LIST"><i class="fa fa-list-ul"></i> &nbsp;
                                    {{$t('menu.list-trip')}} 2
                                </router-link>
                            </li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ManageListTripTable'}" v-if="$root.roles.TRIP_GET_LIST"><i class="fa fa-list-ul"></i> &nbsp;  {{$t('menu.list-trip-table')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'OrderRoute'}" v-if="$root.roles.SEAT_MAP_GET_LIST"> <i class="fa fa-th"></i> &nbsp; {{$t('menu.sort-trip')}}</router-link></li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'AssignStaffDeliver'}"
                                             v-if="$root.roles.TICKET_UPDATE"><i class="fa fa-th"></i> &nbsp;Điều phối
                                    giao vé
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'AssignTransshipmentDriverForTicket'}"
                                             v-if="$root.roles.TICKET_UPDATE"><i class="fa fa-th"></i> &nbsp;{{$t('menu.assign-transshipment-driver-for-ticket')}}
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'FormManagerConfirmTransfer'}"
                                             v-if="$root.roles.TICKET_UPDATE&&!$root.isAgency()">
                                    6.9&nbsp; Xác nhận vé chuyển khoản
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'Ret'}"
                                             v-if="$root.roles.TICKET_UPDATE&&!$root.isAgency()">
                                    6.10&nbsp; Yêu cầu xuất vé điện tử
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'CustomLimitInvoice'}"
                                             v-if="!$root.isAgency()">3.14 &nbsp;
                                    Hạn mức phòng vé
                                </router-link>
                            </li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ScheduleOfStaff'}"><i class="far fa-clock"></i> &nbsp; {{$t('menu.work-time')}}</router-link></li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'IngredientReport'}"
                                             v-if="$root.userInfo.userInfo.userType==7">3.16 Nhiên liệu
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ManagePermissionSellTicket'}"
                                             v-if="$root.isAdmin() ||$root.roles.USER_BY_ROUTE_GET_LIST">3.17 Phân quyền bán vé
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'LockSeat'}"
                                                v-if="$root.isAdmin() ||$root.roles.SEAT_MAP_GET_LIST">3.18 Khóa bán vé theo sơ đồ
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ListTripCancer'}"
                                             v-if="$root.isAdmin() ||$root.roles.SEAT_MAP_GET_LIST">3.19 Danh sách chuyến hủy
                                </router-link>
                            </li>
                            <!-- <li role="presentation"><router-link class="dropdown-item" :to="{name : 'AssignTicketShipping'}"><i class="fas fa-shipping-fast"></i> &nbsp; {{ $t('menu.delivery-ticket') }}</router-link></li> -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown" v-if="$root.roles.REPORT_REVENUE_DETAIL||$root.roles.REPORT_ONLINE_PAYMENT||$root.roles.REPORT_RECONCILIATION_AGENCY">
                        <a class="nav-link dropdown-toggle" href="#" id="BaoCao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chart-line"></i> {{$t('menu.report')}}</a>
                        <ul class="dropdown-menu" aria-labelledby="BaoCao">
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ReportDetail'}"
                                             v-if="$root.roles.REPORT_REVENUE_DETAIL"><i class="fa fa-chart-line"></i>
                                   {{$t('menu.report-detail')}}
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ReportOnlinePayment'}"
                                             v-if="$root.roles.REPORT_ONLINE_PAYMENT"><i class="fa fa-chart-area"></i>
                                   {{$t('menu.report-online-payment')}}
                                </router-link>
                            </li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'TripsDriverReport'}" v-if="$root.roles.REPORT_DRIVER_REPORT"><i class="fa fa-user-friends"></i>{{$t('menu.report-by-driver')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportCountTripDriver'}" v-if="$root.roles.REPORT_DRIVER_REPORT"><i class="fa fa-user-friends"></i>{{$t('menu.report-count-trip-driver')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'TransshipmentReport'}" v-if="$root.roles.REPORT_TRANSSHIPMENT_REPORT"><i class="fa fa-user-friends"></i>{{$t('menu.report-by-transshipment')}}</router-link></li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ReportCashByUser'}"
                                             v-if="$root.roles.REPORT_REVENUE_BY_STAFF"><i class="fa fa-user"></i>
                                   {{$t('menu.report-by-employees')}} 01
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'ReportCashByUser02'}"
                                             v-if="$root.roles.REPORT_REVENUE_BY_STAFF"><i class="fa fa-user"></i>
                                   {{$t('menu.report-by-employees')}} 02
                                </router-link>
                            </li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'GoodsByUser'}"  v-if="$root.roles.REPORT_GOODS_BY_STAFF"><i class="fa fa-chart-line"></i>{{$t('menu.report-goods-by-user')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportGoods'}"  v-if="$root.roles.GOODS_GET_LIST"><i class="fa fa-chart-line"></i>{{$t('menu.report-goods')}}</router-link></li>
                            <!-- <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportCustomer'}" v-if="$root.roles.REPORT_CUSTOMER_REPORT"><i class="fa fa-chart-line"></i>{{$t('menu.report-customer')}}</router-link></li> -->
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'CashBook'}" v-if="$root.roles.REPORT_CASH_REPORT"><i class="fa fa-dollar-sign"></i>{{$t('menu.report-cash-deposit')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'Fuel'}" v-if="$root.roles.REPORT_FUEL_CONSUMPTION_REPORT"><i class="fa fa-oil-can"></i>{{$t('menu.report-fuel-consumption')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportByAgency'}" v-if="$root.roles.REPORT_RECONCILIATION_AGENCY"><i class="fa fa-share-alt-square"></i>{{$t('menu.report-agency-debt')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportMessage'}" v-if="$root.roles.REPORT_SUMMARY_SMS"><i class="fa fa-sms"></i>{{$t('menu.report-message')}}</router-link></li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'MenuManageReport'}" v-if="$root.isAdmin()"><i class="fa fa-chart-line"></i>Quản lý Báo cáo</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'ReportDataStudio'}"><i class="fa fa-chart-line"></i>Báo cáo</router-link></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" v-if="$root.isAdmin()||$root.roles.CONFIGURATION_SYSTEM_UPDATE||$root.roles.DISPLAY_SETTINGS">
                        <a class="nav-link dropdown-toggle" href="#" id="tuyChinh" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-tools"></i> {{$t('menu.system')}}</a>
                        <ul class="dropdown-menu" aria-labelledby="tuyChinh"  role="menu">
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'SystemInfoSetting'}" v-if="$root.isAdmin()"><i class="fa fa-anchor"></i>{{$t('menu.system-info')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'NotificationPopup'}" v-if="$root.roles.POP_UP_GET_LIST"><i class="fa fa-anchor"></i>{{$t('menu.popup')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'SystemSetting'}" v-if="$root.roles.CONFIGURATION_SYSTEM_UPDATE"><i class="fa fa-cogs"></i>{{$t('menu.system-setting')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'AuthorizeSellTicket'}" v-if="$root.isAdmin()||userInfo.userInfo.userType === 4"><i class="fa fa-cogs"></i>Ủy quyền kết nối kênh phân phối</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'UserLoginHistory'}"><i class="fa fa-user"></i>{{$t('menu.user-login-history')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'LoginSecurity'}" v-if="$root.roles.ACCESS_CODE_ACCESS_CODE_ADMIN"><i class="fa fa-user"></i>{{$t('menu.user-login-security')}}</router-link></li>
<!--                            <li role="presentation">-->
<!--                                <router-link class="dropdown-item" :to="{name : 'ReportDataStudio'}"><i-->
<!--                                        class="fa fa-chart-line"></i> Báo cáo-->
<!--                                </router-link>-->
<!--                            </li>-->
                            <li role="presentation" class="dropdown-divider"></li>
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'DisplaySettingBillIn'}" v-if="$root.isAdmin()"><i class="fa fa-anchor"></i> Tùy chỉnh In phiếu thu</router-link></li>-->
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'DisplaySettingBillOut'}" v-if="$root.isAdmin()"><i class="fa fa-anchor"></i> Tùy chỉnh In phiếu chi</router-link></li>-->
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigTicket'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-print"></i>{{$t('menu.custom-print-ticket')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigTicketTemp'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-ticket-alt"></i>{{$t('menu.custom-print-tem-ticket')}}</router-link></li>
                            <!--<li role="presentation"><router-link class="dropdown-item" :to="{name : 'DisplaySettingPrintHeader'}"> Tùy chỉnh Đầu trang</router-link></li>-->
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigTableTickets'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-list-ul"></i>{{$t('menu.custom-print-list-ticket')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigTicketContract'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-list-ul"></i>{{$t('menu.custom-print-ticket-contract')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigGoods'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-print"></i>{{$t('menu.custom-print-goods')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigGoodsTem'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-print"></i>{{$t('menu.custom-print-goods-tem')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigTablePayment'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-money-check-alt"></i>{{$t('menu.custom-print-bill')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigTablePaymentChi'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-money-check-alt"></i>{{$t('menu.custom-print-bill-chi')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigSeatMap'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-map"></i>{{$t('menu.custom-print-seat-map')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigStatisticalGoodsByUser'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-money-check-alt"></i>{{$t('menu.custom-print-report-goods')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'SmsConfigDisplay'}" v-if="$root.isAdmin()||$root.roles.SMS_PATTERN_GET_LIST"><i class="fa fa-envelope"></i>{{$t('menu.custom-send-message')}}</router-link></li>
                            <li role="presentation"><router-link class="dropdown-item" :to="{name : 'PrintConfigReportDetail'}" v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i class="fa fa-envelope"></i>{{$t('menu.custom-print-report-detail')}}</router-link></li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigMailTemplate'}"
                                             v-if="$root.roles.DISPLAY_SETTINGS_CREATE||$root.roles.DISPLAY_SETTINGS"><i
                                        class="fa fa-envelope"></i>Cấu hình gửi mail
                                </router-link>
                            </li>
                            <li role="presentation">
                                <router-link class="dropdown-item" :to="{name : 'PrintConfigReportTrip'}"
                                >
                                   <i class="fa fa-list-ul"></i>Cấu hình báo cáo chuyến
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item dropdown" v-if="!$root.isAgency()">
                        <a class="nav-link dropdown-toggle position-relative" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-light position-absolute" style="top:4px" v-if="totalTicketsOnline">{{totalTicketsOnline}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right"  role="menu">
                            <template v-for="(route,r) in ticketsOnlineByRoute">
                                <li role="presentation" class="dropdown-item" v-if="route.tickets&&route.tickets.length>0">
                                    <el-dropdown>
                                    <span class="el-dropdown-link">
                                        {{route.routeName}} <span class="badge badge-danger">{{route.tickets?route.tickets.length:0}}</span>
                                    </span>
                                        <el-dropdown-menu slot="dropdown">
                                            <template v-for="(ticket,t) in route.tickets">
                                                <el-dropdown-item>
                                                    <a class="dropdown-item border-bottom position-relative" href="#" @click="goToTicket(ticket)"><i>{{ticket.createdDate|customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</i> <span class="font-weight-bold">{{ticket.fullName}}</span> {{ticket.phoneNumber|phoneNumber}}, ({{ticket.listSeatId.join(', ')}}) <span class="badge position-absolute" style="right : 5px;top:5px" @click.stop="$store.dispatch('Ticket07/DELETE_TICKET_ONLINE_FIREBASE',ticket);"><i class="fa text-danger fa-times"></i></span></a>
                                                </el-dropdown-item>
                                            </template>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </li>
                            </template>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="anvuiHoTro" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fa fa-tools"></i> Hỗ trợ</a>
                        <ul class="dropdown-menu check-height" aria-labelledby="anvuiHoTro" role="menu">
                            <li role="presentation">
                                <a class="dropdown-item" href="#" @click="callAnVui()">Hỗ trợ kỹ thuật: <b>1900 7034</b></a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-item" target="_blank" href="https://remotedesktop.google.com/support">Điều khiển từ xa</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><select-language style="height: 100%"/></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ userInfo.userInfo.fullName }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-quick-search" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="openSearch()"><i class="fa fa-search"></i></a>
                        <div class="dropdown-menu quick-search-master dropdown-menu-right">
                            <div class="input-search">
                                <input type="text" v-model="txtSearch" name="quickSearch" class="form-control" :placeholder="$t('search')" style="border-radius: 0" id="inputTextSearchMaster" autocomplete="off">
                                <loading class="loading" :errorCode="'quickSearch'" :state="loadingSearch"></loading>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <div style="line-height: 20px;padding:5px" class="bg-primary text-white">Hành khách có {{ Object.keys(unDuplicateTicket).length||0 }} kết quả</div>
                                    <div class="list-group" style="max-height: 80vh;overflow-y: scroll">
                                        <a href="javascript:void(0)" v-for="ticket in unDuplicateTicket" :key="ticket.ticketId" class="list-group-item list-group-item-action" v-on:click="goToTicket(ticket)">
                                            <span>{{ ticket.fullName }}</span> - <span style="font-size: 15px;font-weight:bold;color:red">{{ ticket.phoneNumber|phoneNumber }}</span><br>
                                            <span v-if="ticket.routeInfo">{{ ticket.routeInfo.name}}</span> - <span style="font-weight:bold">{{ ticket.getInTimePlan | customDate('#DD#/#MM#/#YYYY# #hhhh#:#mm#',true)}}</span><br>
                                            <span>{{(ticket.listSeatId||[]).toString()}}</span> - <span :class="ticketStatus(ticket).color">{{ ticketStatus(ticket).status }}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col" v-if="goodsSearch&&goodsSearch.list">
                                    <div style="line-height: 20px;padding:5px" class="bg-primary text-white">Hàng hóa có {{ goodsSearch.list.length||0 }} kết quả</div>
                                    <div class="list-group" style="max-height: 80vh;overflow-y: scroll">
                                        <template v-for="(goods,index) in goodsSearch.list">
                                            <a href="javascript:void(0)" :key="goods.id" class="list-group-item list-group-item-action" v-on:click="goToTicket(goods)">
                                                Gửi: <span class="font-weight-bold">{{goods.from.fullName}}</span> - <b class="text-danger">{{goods.from.phoneNumber}}</b> - <i>{{goods.from.point?goods.from.point.name:goods.from.address}}</i><br>
                                                Nhận: <span class="font-weight-bold">{{goods.to.fullName}}</span> - <b class="text-danger">{{goods.to.name}}</b> - <i>{{goods.to.point?goods.to.point.name:goods.to.address}}</i><br>
                                                <b>{{goods.name}}</b> - {{goods.status.label()}}
                                            </a>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu" style="left:auto;right:0">
                            <a class="dropdown-item" href="javascript:void(0)" @click="openSetting();"><i class="fa fa-cog"></i> Cài đặt</a>
                            <a class="dropdown-item" href="javascript:void(0)" @click.stop="openModalChangePassword();"><i class="fa fa-lock"></i> Đổi mật khẩu</a>
                            <a class="dropdown-item" :href="'dang-xuat'|url"><i class="fa fa-power-off"></i> Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal fade bd-example-modal-lg" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="modalChangePassword" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ĐỔI MẬT KHẨU</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <change-password class="top20 bottom20" ref="ChangePasswordComponent" @event="changePasswordEvent"></change-password>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.ChangePasswordComponent.save()"><i class="fa fa-save"></i> THAY ĐỔI</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {ListGoods} from '../../class/goods';
    import ChangePassword from '../User/ChangePassword.vue';
    import SelectLanguage from '../Helper/SelectLanguage';
    import {mapState} from 'vuex'

    export default {
        components :{ChangePassword,SelectLanguage},
        data : function () {
            return {
                loadingSearch : func.defaultLoad(),
                txtSearch : '',
                ticketsSearch : [],
                goodsSearch : null,
                ticketsOnlineByRoute : []
            }
        },
        computed :{
            unDuplicateTicket: function() {
                // try {
                    let data = this.ticketsSearch;
                    if(!data){
                        return null;
                    }
                    let result = {};

                    $.each(data,function(i,e){
                        let status = func.checkTicketStatus(e);
                        let key = e.tripId+'-'+e.ticketCode+'-'+status.type;
                        e.sttTk = _.cloneDeep(status);
                        if(result[key]&&result[key].tripId ==e.tripId&&result[key].sttTk.type === e.sttTk.type){
                            result[key].listSeatId.push(e.seat.seatId);
                            result[key].number++;
                            result[key].price+=_.cloneDeep(e.price);
                            result[key].paidMoney+=_.cloneDeep(e.paidMoney);
                            result[key].unPaidMoney+=_.cloneDeep(e.unPaidMoney);
                            result[key].originalPrice+=_.cloneDeep(e.originalPrice);
                        }else{
                            result[key] = _.cloneDeep(e);
                        }
                    });
                    return result;

                // }catch (e) {
                //     console.warn(e);
                //     return [];
                // }

            },
            ...mapState({
                sellForm : state=> state.sellForm,
                routes: state => state.routes
            }),
            totalTicketsOnline : function () {
                let ticketsOnlineByRoute = this.ticketsOnlineByRoute;
                let total = 0;
                $.each(ticketsOnlineByRoute,function (r,route) {
                    total+=route.tickets?route.tickets.length:0;
                })
                return total
            }
        },
        watch :{
            txtSearch : function () {
                if(this.txtSearch.length>=2){
                    this.getDataSearch();
                }else{
                    this.ticketsSearch=[];
                }
            },
            routes : function () {
                this.setTicketsOnlineByRoute();
            }
        },
        mounted : function(){
            this.setTicketsOnlineByRoute();
        },
        methods : {
            getDataSearch : _.debounce(function () {
                let self = this;
                self.loadingSearch = func.beforeLoad();
                sendJson({
                    url: urlDBD(API.quickSearch),
                    data: {
                        page: 0,
                        count: 100,
                        keyword: self.txtSearch,
                    },
                    success : function(response){
                        self.loadingSearch = func.loadSuccess();
                        self.ticketsSearch = response.results.tickets;
                        self.goodsSearch = new ListGoods(response.results.goodses);
                    },functionIfError : function(err){
                        self.loadingSearch = func.loadError();
                    }
                });
            },500),
            goToTicket :function (ticket) {
                let data = {
                    tripId : ticket.tripId,
                    routeId : ticket.routeInfo.id,
                    startPointId : ticket.pointUp.id,
                    endPointId : ticket.pointDown.id,
                    ticketId : ticket.ticketId,
                    ticketStatus : ticket.ticketStatus,
                    floor : ticket.seat.floor,
                }
                data.date = this.$options.filters.customDate(ticket.getInTimePlan,'#DD#-#MM#-#YYYY#',true);
                func.setHistory(data);
                this.$store.commit(this.sellForm+'/SET_TICKET_SCROLL',ticket);
                this.$store.commit(this.sellForm + '/SET_TIME', this.$options.filters.customDate(ticket.getInTimePlan, '#hhhh#', true));
                // this.$store.dispatch(this.sellForm+'/SET_TIME',this.$options.filters.customDate(ticket.getInTimePlan,'#hhhh#',true));
                if(this.$route.name===this.sellForm){
                    this.$store.dispatch(this.sellForm+'/INIT');
                }else{
                    this.$router.push({name:this.sellForm});
                }
            },
            openSetting : function () {
                $('#setting').modal('show');
            },
            openSearch : function () {
                let self = this;
                setTimeout(function () {
                    $(self.$el).find('#inputTextSearchMaster').focus();
                    $(self.$el).find('#inputTextSearchMaster').select();
                },100);
            },
            ticketStatus : function (ticket){
                return func.checkTicketStatus(ticket);
            },
            openModalChangePassword : function () {
                this.$refs.ChangePasswordComponent.refresh();
                $(this.$el).find('#modalChangePassword').modal('show');
            },
            changePasswordEvent : function (event) {
                switch (event.eventName) {
                    case 'changeSuccess' :
                        notify("Thay đổi mât khẩu thành công",'success');
                        $(this.$el).find('#modalChangePassword').modal('hide');
                        break;
                    default:
                        break;
                }
            },
            callAnVui : function () {
                if(confirm('Gọi cho An vui!')){
                    this.$root.$emit('telecom',{event :'CALL_TO_PHONE',phoneNumber : '1900 7034'});
                }
            },
            setTicketsOnlineByRoute : function () {
                let self = this;
                let routes = this.routes;
                if(!routes){
                    return [];
                }
                let result = [];
                $.each(routes,function (r,route) {
                    let rt = {
                        routeId : route.routeId,
                        routeName : route.routeName,
                        tickets : []
                    };
                    let cnn = window.firebaseDatabase.ref().child('ticketOnlines').child(route.routeId).limitToLast(10);
                    cnn.on('value', function (snapshot) {
                        let data = snapshot.val();
                        rt.tickets = self.mergeTicket(data);
                    });
                    result.push(rt);
                });
                this.ticketsOnlineByRoute = result;
            },
            mergeTicket : function(_tickets){
                if(!_tickets){
                    return null;
                }
                let result = {};

                $.each(_tickets,function(i,e){
                    let key = e.tripId+'-'+e.ticketCode+'-'+e.phoneNumber;
                    if(result[key]&&result[key].tripId === e.tripId&&result[key].ticketCode === e.ticketCode&&result[key].phoneNumber === e.phoneNumber){
                        result[key].listSeatId.push(e.seat.seatId);
                        result[key].listTicketId.push(e.ticketId);
                        result[key].number++;
                    }else{
                        e.listTicketId = [e.ticketId];
                        result[key] = _.cloneDeep(e);
                    }
                });
                let i = 0;
                let res = Object.keys(result).map(function(key) {
                    if(result[key].listTicketId.length>1){
                    }
                    i++;
                    return result[key];
                });
                return res;
            }
        }
    }
</script>
<style>
    .search-form{margin-bottom:10px}
    .quick-search-master{width: 50vw;padding:0}
    @media (max-width: 768px){
        .quick-search-master{width: 80vw;padding:0}
        /*.navbar-collapse{height:80vh;overflow-y:scroll}*/
    }
    .link-quick-search::after{content:none!important}
    .input-search{position: relative}
    .input-search .loading{position: absolute;right: 10px;top:0;}
    .dropdown-item i {
        margin-right: 10px;
    }
</style>
