<template>
    <div class="modal fade" id="modal-company-payment" tabindex="-1" role="dialog" aria-labelledby="modalGoods" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 640px">
            <div class="modal-content">
                <div class="modal-body" style="background: #ecedf1;padding-top: 0;margin-top: 24px;">
                    <div class="row">
                        <img src="https://lh3.googleusercontent.com/vXQiIRE6C6DWGh82css-WFEoNXPvMDVv6-7M2gLB5nGxF5GPLBMQeWp5PdaqP-JfnIxP-TOXR6H7-3SIBiMbKF9FOQ" alt="" style="width: 100%">
                        <div class="col-12 expiredDate">
                            Còn tối đa <span style="color: #e62020" v-if="date">{{date.day}} ngày {{date.hour}} giờ {{date.minus}} phút {{date.seconds}} giây </span>
                            <br> để bạn hoàn thành đóng phí dịch vụ!
                        </div>
                        <div class="col-12 expiredContent">
                            Vui lòng đóng phí trong thời hạn quy định, nếu không hệ thống sẽ tự động khoá và tạm dừng hoạt động! Và chúng ta không mong muốn điều đó chút nào cả! Mọi chi tiết vui lòng liên hệ
                            <div class="row">
                                <div class="col font-weight-bold">Hotline: 1900 7034</div>
                                <div class="col font-weight-bold">Email: ketoan@anvui.vn</div>
                            </div>
                        </div>
                        <div class="col-12 text-center" style="margin-top: 24px">
                            <button type="button" class="btn btn-expired-ok" data-dismiss="modal">Đã hiểu</button>&nbsp; &nbsp;
                            <!--<button type="button" class="btn btn-expired-no" data-dismiss="modal">Nhắc tôi sau!</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                paymentsInfo : userInfo.listPaymentInfo,
                date : null,
                timer : null
            }
        },
        mounted : function(){
            let self = this;
            if(this.paymentsInfo&&this.paymentsInfo.length>0){
                self.timer = setInterval(function () {
                    self.minusDate();
                },1000);
            }
        },
        methods : {
            check : function () {
                if(this.paymentsInfo&&this.paymentsInfo.length>0){//&&(self.$root.isAdmin()||userInfo.userInfo.userType===4)
                    $('#modal-company-payment').modal('show');
                }
            },
            minusDate : function () { //async
                let result = null;
                let minExpiredDate = this.paymentsInfo&&this.paymentsInfo.length>0?this.paymentsInfo[0].expiredDate:null;
                $.each(this.paymentsInfo?this.paymentsInfo:[],function (k,v) {
                    if(minExpiredDate>v.expiredDate){
                        minExpiredDate = v.expiredDate;
                    }
                });
                let currentTime = new Date().getTime();
                let expiredTime = func.dateStrToMs(minExpiredDate)+((23*60)+59)*60*1000;
                let differentTime = expiredTime-currentTime;
                if(differentTime<0){
                    // await alert("Vui lòng đóng phí, hệ thống tự động khóa và tạm dừng hoạt động. Liên hệ Hotline: 1900 7034,Email: ketoan@anvui.vn");
                    window.location.href = window.location.origin + '/dang-xuat';
                }else{
                    result = {
                        day : Math.floor(differentTime/(24*60*60000)),
                        hour : Math.floor((differentTime%(24*60*60000))/3600000),
                        minus : Math.floor(((differentTime%(24*60*60000))%3600000)/60000),
                        seconds : Math.floor(((differentTime%(24*60*60000))%3600000)%60000/1000)
                    }
                }
                this.date = result;
            },
            alertEndTime :async function(){
                return new Promise((resolve => {
                    alert("Vui lòng đóng phí, hệ thống tự động khóa và tạm dừng hoạt động. Liên hệ Hotline: 1900 7034,Email: ketoan@anvui.vn");
                }))
            }
        }
    }
</script>
<style>
    .expiredDate{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: center;
        color: #272c39;
    }
    .expiredContent{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: center;
        color: #232731;
        margin-top: 8px;
    }
    .btn-expired-ok{
        border-radius: 8px;
        background-color: #014886;
        padding:15px 28px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .btn-expired-ok:hover{
        color: #ffffff;
        background: #095486;
    }
    .btn-expired-no{
        border-radius: 8px;
        background-color: #cfd3db;
        padding:15px 28px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #586070;
    }
    .btn-expired-no:hover{
        color: #000;
    }
</style>