<template>
    <div class="input-group">
        <input type="text" class="form-control" v-model="promotionCode" :readonly="promotionInfo!=null?true:false" :class="inputClass" placeholder="Nhập mã khuyến mãi">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" @click="checkPromotion()" :disabled="loading" type="button" :class="btnClass">{{ loading ? 'Đang kiểm tra':promotionInfo!==null?"Bỏ":"Kiểm tra" }}</button>
        </div>
    </div>
</template>
<script>
    export default {
        props : {
            inputClass :{
                default : '',
            },
            btnClass :{
                default : '',
            },
            value : {
                default : null,
            },
            scheduleId : {
                required : true,
            },
            routeId : {
                required : true,
            },
            tripId : {
                required : true,
            },
            getInTimePlan : {
                required : true,
            },
            pricePerSeat : {
                required : true,
            },
        },
        data : function () {
            return {
                promotionInfo : null,
                promotionCode : '',
                loading : false,
            }
        },
        methods : {
            checkPromotion : function () {
                let self = this;
                if(self.loading){
                    return false;
                }
                if(self.promotionInfo!==null){
                    self.promotionCode = _.cloneDeep(self.promotionInfo.promotionCode);
                    self.promotionInfo = null;
                    return false;
                }
                self.loading = true;
                sendJson({
                    url : urlDBD(API.promotionCheck),
                    data : {
                        timeZone : 7,
                        scheduleId : self.scheduleId,
                        routeId : self.routeId,
                        tripId : self.tripId,
                        getInTimePlan : self.getInTimePlan,
                        pricePerSeat : self.pricePerSeat,
                        promotionCode : self.promotionCode,
                    },
                    success : function (res) {
                        self.promotionInfo = res.results.result;
                        if(self.promotionInfo.price>=0){
                            self.promotionCode = _.cloneDeep(self.promotionInfo.promotionCode) + ' - Giảm '+$.number(self.promotionInfo.price);
                        }
                        if(self.promotionInfo.percent >=0){
                            self.promotionCode = _.cloneDeep(self.promotionInfo.promotionCode) + ' - Giảm '+(self.promotionInfo.percent*100)+'%';
                        }
                        self.loading=false;
                    },
                    functionIfError:function (err) {
                        self.loading=false;
                    }
                });
            }
        },
        watch : {
            value : function (val) {
                let self = this;
                if(val!==null && val!==undefined && val!==''){
                    this.promotionInfo = this.value;
                    if(self.promotionInfo.price>=0){
                        self.promotionCode = _.cloneDeep(self.promotionInfo.promotionCode) + ' - Giảm '+$.number(self.promotionInfo.price);
                    }
                    if(self.promotionInfo.percent >=0){
                        self.promotionCode = _.cloneDeep(self.promotionInfo.promotionCode) + ' - Giảm '+(self.promotionInfo.percent*100)+'%';
                    }
                }else{
                    this.promotionInfo = null;
                    this.promotionCode = '';
                }
            },
            promotionInfo : function (val) {
                this.$emit('input',val);
            }
        }
    }
</script>