<template>
    <multiselect @input="input" select-label="" deselect-label="" track-by="id" :allow-empty="allowEmpty" :options="points" name="id" :value="value" label="name" placeholder="Nhập để tìm điểm" :loading="loading" @open="open()" @search-change="searchPoint">
        <template slot="clear">
            <div class="multiselect__clear" v-if="value!==null" @click="clearAll()"><i class="fa fa-trash text-danger"></i></div>
        </template>
    </multiselect>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            isReceivedGoods : {
                default : null
            },
            allowEmpty : {
                default : true,
            }
        },
        data :function () {
            return {
                points : [],
                loading : false,
            }
        },
        methods :  {
            searchPoint : function (query) {
                let self = this;
                self.loading=true;
                let dataSend = {
                    page :0,
                    count:func.countSearch(),
                    pointName:query,
                };
                if(self.isReceivedGoods!==null){
                    dataSend.isReceivedGoods = self.isReceivedGoods
                }
                sendJson({
                    url : urlDBD(API.pointList),
                    data : dataSend,
                    success: function (data) {
                        self.points = data.results.result;
                        self.loading=false;
                    },
                    functionIfError : function (res) {
                        self.loading=false;
                    }
                })
            },
            open : function () {
                if(this.points.length<=0){
                    this.searchPoint('');
                }
            },
            clearAll : function () {
                this.input(null);
            },
            input : function (value) {
                this.$emit('input',value);
            }
        },
    }
</script>