<template>
    <multiselect :disabled="disabled" @input="input" :class="inputClass" select-label="" deselect-label="" track-by="id"
                 :options="options" :value="value" label="fullName" placeholder="Nhập tìm kiếm" :loading="loading"
                 @search-change="getAgency" @open="open()">
        <template slot="clear" v-if="allowClear">
            <div class="multiselect__clear" v-if="value" @click="clearAll()"><i class="fa fa-trash text-danger"></i></div>
        </template>
    </multiselect>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            routeId : {
                default : null
            },
            getInTime : {
                default : null
            },
            scheduleId : {
                default : null
            },
            inputClass : {
                default : ''
            },
            allowClear : {
                default : true
            },
            disabled: {
                default: false
            }
        },
        data : function () {
            return {
                options : [],
                loading : false,
            }
        },
        methods : {
            getAgency : function (query) {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 50,
                    keyword : query
                };
                if(self.routeId!==null){
                    dataReq.routeId =self.routeId;
                }
                if(self.getInTime!==null){
                    dataReq.getInTime =self.getInTime;
                }
                if(self.scheduleId!==null){
                    dataReq.scheduleId =self.scheduleId;
                }
                self.options =[];
                sendJson({
                    url : urlDBD(API.agencySearchByKeyword),
                    data : dataReq,
                    success : function (data) {
                        self.setListAgency(data.results.result);
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            setListAgency : function (listUser) {
                let list = [];
                $.each(listUser,function (k,v) {
                    if(v.listAgency.length > 0){
                        list.push(v);
                    }
                });
                this.options = list;
            },
            open : function(){
                if(!this.options||this.options.length<=0){
                    this.getAgency()
                }
            },
            clearAll : function () {
                this.input(null);
                return false;
            },
            input : function(option){
                this.$emit('input',option);
            }
        }
    }
</script>