<template>
    <multiselect :class="inputClass" select-label="" deselect-label="" :options="options" :allow-empty="allowEmpty" label="itemName" :loading="loading" placeholder="Nhập tìm kiếm" v-model="val"></multiselect>
</template>
<script>
    export default {
        props : {
            inputClass : {
                default :'',
            },
            value : {
                default: null,
            },
            allowEmpty : {
                default : false,
            },
            itemReceiptPayment : {
                default : null
            }
        },
        data : function () {
            return {
                loading : false,
                val : null,
                options : [],
                allItems : [],
                irp : 1,
            }
        },
        created :function () {
            this.getItems();
        },
        methods : {
            getItems : function () {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 50,
                };
                sendJson({
                    url : urlDBD(API.itemList),
                    data : dataReq,
                    success : function (data) {
                        self.allItems = data.results.result;
                        self.loading = false;
                        self.getOption();
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            getOption : function () {
                let self = this;
                let arr = [];
                $.each(self.allItems,function (i,item) {
                    if(item.itemReceiptPayment == self.itemReceiptPayment){
                        arr.push(item);
                    }
                });
                self.options = _.cloneDeep(arr);
            }
        },
        watch : {
            val : function (nVal) {
                this.$emit('input',nVal);
            },
            value : function (newVal) {
                this.val = newVal;
            },
            itemReceiptPayment : function (newVal) {
                this.getOption();
            }
        }
    }
</script>