<template>
    <li class="avtreeitem">
        <div class="avtreeitem__parent" :class="{bold: isFolder}" @click="toggle">

            {{ item.name }}
            <span v-if="isFolder">
                    <i v-if="isOpen" class="fas fa-caret-up"></i>
                    <i v-else class="fas fa-caret-down"></i>
                <!-- <i @make-folder="$emit('remove-folder', $event)" v-if="isFolder" class="avtreeitem__remove fas fa-times"></i> -->
                </span>

        </div>
        <ul v-show="isOpen" v-if="isFolder">
            <TreeItem
                    class="item"
                    v-for="(child, index) in item.children"
                    :key="index"
                    :item="child"
                    @make-folder="$emit('make-folder', $event)"
                    @add-item="$emit('add-item', $event)">
            </TreeItem>
            <!-- <li class="avtreeitem__add" @click="$emit('add-item', item)">+</li> -->
        </ul>
    </li>
</template>

<script>
    export default {
        name: "TreeItem",
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.children && this.item.children.length;
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                }
            },
            makeFolder: function () {
                // if (!this.isFolder) {
                this.$emit("make-folder", this.item);
                this.isOpen = true;
                // }
            }
        }
    };
</script>

<style lang="scss">
    .avtreeitem {

        * {
            font-size: 16px;
        }

        ul {
            margin-left: 16px;

            li {
                margin: 8px 0px;
            }
        }

        &__parent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;

            &:hover {
                cursor: pointer;
            }
        }

        &__remove {
            margin-left: 12px;
            display: inline-block;
        }

        &__add {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            height: 28px;
            border: 1px dashed #333;
            color: #333;
        }
    }
</style>