<template>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" class="file" name="img" style="display: none" @change="uploadImage()" :disabled="disabled">
        <div title="Thay đổi hình ảnh">
            <img v-if="value" :src="value" alt="" class="img-thumbnail" @click="$root.$emit('viewImageModal',value)">
            <span v-if="!value" class="fa fa-image"  @click="changeImage()" :style="{'font-size' : iconSize+'px'}"></span>
            <!--<input type="hidden" name="_token" :value="token" class="">-->
        </div>
        <div class="row" v-if="value">
            <div class="col text-center cursor-pointer"  @click="changeImage()" title="Thay đổi hình ảnh">
                <i class="fa fa-edit"></i>
            </div>
            <div class="col text-center cursor-pointer" @click="removeImage();" title="Xóa hình ảnh">
                <i class="fa fa-trash text-danger"></i>
            </div>
        </div>
    </form>
</template>
<script>
    export default {
        data : function () {
            return {
                urlImage : '',
                token : laravelToken,
                loading :false,
            }
        },
        props : {
            iconSize : {
                default : 64,
                type : Number
            },
            disabled: {
                default: false,
            },
            value : {
                type:String
            }
        },
        updated : function () {
            this.urlImage = this.value;
        },
        methods : {
            changeImage : function () {
                $(this.$el).find('input[type=file]').click();
            },
            removeImage : function () {
                this.$emit('input','');
                $(this.$el).find('input[type=file]').val('');
            },
            uploadImage : function () {
                let self = this;
                let dataurl = null;
                let filesToUpload = $(this.$el).find('input[type=file]')[0].files;
                let file = filesToUpload[0];

                let canvas = document.createElement("canvas");
                let img = document.createElement("img");
                let reader = new FileReader();
                reader.onload = function(e)
                {
                    img.src = e.target.result;

                    img.onload = function () {
                        var canvas = document.createElement("canvas");
                        // var canvas = document.getElementById("canvas");
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0);

                        // let MAX_WIDTH = 1000;
                        // let MAX_HEIGHT = 800;
                        let width = img.width;
                        let height = img.height;
                        //
                        // if (width > height) {
                        //     if (width > MAX_WIDTH) {
                        //         height *= MAX_WIDTH / width;
                        //         width = MAX_WIDTH;
                        //     }
                        // } else {
                        //     if (height > MAX_HEIGHT) {
                        //         width *= MAX_HEIGHT / height;
                        //         height = MAX_HEIGHT;
                        //     }
                        // }
                        canvas.width = 800;
                        canvas.height = 800*height/width;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                        dataurl = canvas.toDataURL("image/png");

                        let blobBin = atob(dataurl.split(',')[1]);
                        let array = [];
                        for(let i = 0; i < blobBin.length; i++) {
                            array.push(blobBin.charCodeAt(i));
                        }
                        let file=new Blob([new Uint8Array(array)], {type: 'image/png'});

                        // Post the data
                        let form = new FormData();
                        form.append('img',file);
                        form.append('_token',laravelToken);
                        self.$emit('input', '/public/images/loading/loader_blue.gif');
                        $.ajax({
                            type: 'POST',
                            url: '/cpanel/system/upload-image',
                            data: form,
                            dataType: 'json',
                            processData: false,
                            contentType: false,
                            cache: false,
                            success:function (data) {
                                self.$emit('input', data.url);
                                $(self.$el).find('input[type=file]').val('');
                            },
                            error :function (data) {
                                notify("Tải lên lỗi",'error');
                                self.$emit('input','');
                                $(self.$el).find('input[type=file]').val('');
                            }
                        })
                    } // img.onload
                }
                // Load files into file reader
                reader.readAsDataURL(file);

            }
        },
    }
</script>