<template>
  <div>
    <el-upload
            class="upload-file w-100"
            :action="urlUpload"
            :list-type="listType"
            :data="paramUpload"
            :name="nameFileUpload"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            :on-change="handleChange"
            :on-success="handleSuccess"
            :limit="5"
            :on-exceed="handleExceed"
            :file-list="fileInfo"
            :drag="ableDrag"
            :disabled="disableBtn"
            :on-progress="handleOnProsess"
    >
      <i class="el-icon-upload" v-if="ableDrag"></i>
      <div class="el-upload__text" v-if="ableDrag">
        Drop file here or <em>click to upload</em>
      </div>
      <div class="el-upload__tip" slot="tip" v-show="description">
        Vui lòng chọn file với định dạng jpg/png
      </div>
    </el-upload>
  </div>
</template>

<script>
    export default {
        props: {
            value: Array,
            description: {
                default: true,
                required: false,
                type: Boolean,
            },
            listType: {
                default: "picture",
                type: String,
                required: false,
            },
            ableDrag: {
                default: true,
                type: Boolean,
                required: false,
            }
        },
        name: "upload-files",
        data: function () {
            return {
                nameFileUpload: "img",
                urlUpload: "/cpanel/system/upload-image",
                paramUpload: {
                    _token: laravelToken,
                },
                listFile: [],
                files: null,
                disableBtn: false,
            };
        },
        computed: {
            fileInfo: {
                get: function () {
                    let value = this.value;
                    let result = [];
                    value.forEach((item) => {
                        result.push({
                            name: "Image",
                            url: item,
                        });
                    });
                    return result;
                },
            },
        },
        methods: {
            handleRemove(file, fileList) {
                let fileUrl = file.url;
                let filterValue = this.value.filter((url) => url != fileUrl);
                this.$emit("input", filterValue);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`Bạn muốn xóa ${file.name} này ?`);
            },
            handleOnProsess(event, file, fileList) {
                this.disableBtn = true;
            },
            handleChange(file, fileList) {},
            handleSuccess(response, file, fileList) {
                // console.log('file in handleSuccess', file);
                // console.log('fileList in handleSuccess', fileList);
                let url = [file.response.url];
                let newfileList = this.value.concat(url);
                this.$emit("input", newfileList);
                this.disableBtn = false;
            },
            handleRequest: async function () {
                // console.log('this.listFile in handleRequest',this.listFile);
                let newFiles = this.listFile
                    .filter((file) => file.raw)
                    .map((file) => {
                        return file.raw;
                    });
                // console.log('newFiles in handleRequest', newFiles);
                // let urls = [];
                // await new Promise(resolve => {
                //     for (let file of newFiles) {
                //         var url = this.callAPIUploadFile(file);
                //     }
                // });
                // console.log('urls in handleRequest', urls);
                // this.$emit('input', )
            },
            callAPIUploadFile: async function (file) {
                new Promise((resolve) => {
                    let param = {
                        img: file,
                        _token: laravelToken,
                    };
                    let form = new FormData();
                    form.append("img", file);
                    form.append("_token", laravelToken);
                    $.ajax({
                        type: "POST",
                        url: "/cpanel/system/upload-image",
                        data: form,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (data) {
                            // console.log('data response',data);
                            notify("upload file successfully");
                            let responseUrl = data.url;
                            return resolve(responseUrl);
                        },
                        error: function () {
                            notify("Has error when upload file");
                            return resolve("");
                        },
                    });
                });
            },
            handleExceed(files, fileList) {
                this.$message.warning(
                    `The limit is 5, you selected ${
                        files.length
                        } files this time, add up to ${files.length + fileList.length} totally`
                );
            },
        },
    };
</script>

<style scoped>
</style>
