<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN DANH SÁCH HÀNG HÓA
                </div>
                <div class="col-auto">
                    <!--<button class="btn btn-sm btn-primary" @click="help()"><i class="fa fa-question-circle"></i> Hướng dẫn</button>-->
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigGoodsTem"></textarea>
        </div>
        <div class="modal fade bd-example-modal-lg" id="help" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">HƯỚNG DẪN TÙY CHỈNH</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        Chưa
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '[bien_so_xe]',
                        value : 'Biển số xe',
                    },
                    {
                        key : '[tuyen_duong]',
                        value : 'Tuyến đường',
                    },
                    {
                        key : '[ngay_nhan_hang]',
                        value : 'Ngày nhận hàng',
                    },
                    {
                        key : '[ngay_hien_tai]',
                        value : 'Ngày hiện tại',
                    },
                    {
                        key : '[gio_hien_tai]',
                        value : 'Giờ hiện tại',
                    },
                    {
                        key : '[barcode]',
                        value : 'Barcode',
                    },
                    {
                        key : '[ten_tai_khoan_dang_nhap]',
                        value : 'Tên tài khoản đăng nhập',
                    },
                    {
                        key : '[ma_hang]',
                        value : 'Mã hàng',
                    },
                    {
                        key : '[ma_hang_rg]',
                        value : 'Mã hàng rút gọn',
                    },
                    {
                        key : '[ten_hang]',
                        value : 'Tên hàng',
                    },
                    {
                        key : '[so_luong_hang]',
                        value : 'Số lượng hàng',
                    },
                    {
                        key : '[gia_tri_mat_hang]',
                        value : 'Giá trị mặt hàng',
                    },
                    {
                        key: '[cuoc_phi]',
                        value: 'Cước phí',
                    },
                    {
                        key: '[thu_them]',
                        value: 'Thu thêm',
                    },
                    {
                        key: '[tong_cuoc_phi]',
                        value: 'Tổng cước phí',
                    },
                    {
                        key : '[da_tra]',
                        value : 'Đã trả',
                    },
                    {
                        key : '[chua_tra]',
                        value : 'Chưa trả',
                    },
                    {
                        key : '[ten_nguoi_gui]',
                        value : 'Tên người gửi',
                    },
                    {
                        key : '[so_dien_thoai_gui]',
                        value : 'Số điện thoại gửi',
                    },
                    {
                        key : '[ten_diem_gui]',
                        value : 'Tên điểm gửi',
                    },
                    {
                        key : '[dia_chi_gui]',
                        value : 'Địa chỉ gửi',
                    },
                    {
                        key : '[ten_nguoi_tra]',
                        value : 'Tên người trả',
                    },
                    {
                        key : '[so_dien_thoai_tra]',
                        value : 'Số điện thoại trả',
                    },
                    {
                        key : '[ten_diem_tra]',
                        value : 'Tên điểm trả',
                    },
                    {
                        key : '[dia_chi_tra]',
                        value : 'Địa chỉ trả',
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Ghi chú',
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : 'Tên công ty',
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : 'Địa chỉ công ty',
                    },
                    {
                        key : '<img src="'+userInfo.logo+'">',
                        value : 'Logo công ty',
                    },
                    {
                        key : '[ten_phong_ve]',
                        value: 'Tên phòng vé',
                    },
                    {
                        key : '[dia_chi_phong_ve]',
                        value: 'Địa chỉ phòng vé',
                    },
                    {
                        key : '[sdt_phong_ve]',
                        value: 'SDT phòng vé',
                    },
                    {
                        key : '[gio_xuat_ben]',
                        value: 'Giờ xuất bến',
                    },
                    {
                        key: '[so_loai_hang_trong_don]',
                        value: 'Số lượng hàng trong đơn'
                    },
                    {
                        key : '[ma_don]',
                        value : 'Mã đơn',
                    },
                    {
                        key: '[qr_code]',
                        value: 'Mã QR đơn hàng'
                    }
                ],
                dataConfig : '<div>haha</div>'

            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigGoodsTem',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    ck.add(field.key,field.value);
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigGoodsTem.getData();
                self.load('savePrintConfigGoodsTem');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.PRINT_GOODS_TEM,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('savePrintConfigGoodsTem');
                    },
                    error : function(res){
                        self.unload('savePrintConfigGoodsTem');
                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getPrintConfigGoodsTem');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_GOODS_TEM,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getPrintConfigGoodsTem');
                    },
                    functionIfError : function (res) {
                        self.unload('getPrintConfigGoodsTem');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>