<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH MẪU GỬI EMAIL
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="help()"><i class="fa fa-question-circle"></i> Hướng dẫn</button>
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu
                        hình
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="emailTemplate"></textarea>
        </div>
        <div class="modal fade bd-example-modal-lg" id="help" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">HƯỚNG DẪN TÙY CHỈNH</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        Để cấu hình lại nội dung email hãy nhập thông tin vào các ô nét dứt. Trong trường hợp bị mất các ô nét đứt hãy làm theo các bước sau :
                        <ul>
                            <li>Bước 1 : Bật chế độ HTML ở góc trên bên trái thanh công cụ</li>
                            <li>Bước 2 : Copy đoạn mã sau và dán vào khu vực nội dung dưới thanh công cụ.
                                <div v-text="dataDefault" style="padding:8px; border : 1px dashed #aaa"></div>
                            </li>
                            <li>Bước 3 : Tắt chế độ HTML và nhập cấu hình</li>
                        </ul>
                    </div>

                    <div>Để tùy chỉnh danh sách vé có yêu cầu như sau :</div>
                    <ul>
                        <li>Danh sách vé phải được đặt trong bảng.</li>
                        <li>Đặt hàng đầu tiên của bảng là tiêu đề.</li>
                        <li>
                            Bảng phải có "Lớp CSS" khi tạo.
                            <div>
                                * Để đặt "Lớp CSS" cho bảng, click vào ô tạo bảng trên thanh công cụ , tiếp theo mẫu tạo
                                bảng hiển thị hãy bấm vào "Tab mở rộng" và điền "Lớp CSS", sau đó bấm đồng ý,<br>
                                Các "Lớp CSS" sẽ được lấy để đẩy dữ liệu tương ứng vào, "Lớp CSS" có thể sử dụng là :
                                <br>
                                <ul>
                                    <li>danh-sach-ve-tuy-chinh : được dùng cho danh sách vé trên chuyến.</li>
                                    <li>danh-sach-ve-huy-tuy-chinh : được dùng cho danh sách vé hủy trên chuyến. ( Lớp
                                        CSS này chưa được áp dụng )
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                fields: [
                    {
                        key: '',
                        value: 'Thông tin chuyến',
                        type: 'group'
                    },
                    {
                        key: '[gio_xuat_ben]',
                        value: 'Giờ xuất bến',
                        type: 'field'
                    },
                    {
                        key: '[ngay_xuat_ben]',
                        value: 'Ngày xuất bến',
                        type: 'field'
                    },
                    {
                        key: '[tuyen_cua_chuyen]',
                        value: 'Tuyến chạy của chuyến',
                        type: 'field'
                    },
                    {
                        key: '[tai_xe_chuyen]',
                        value: 'Tài xế của chuyến',
                        type: 'field'
                    },
                    {
                        key: '[phu_xe_chuyen]',
                        value: 'Phụ xe của chuyến',
                        type: 'field'
                    },
                    {
                        key: '[bien_so_xe]',
                        value: 'Biển số xe',
                        type: 'field'
                    },
                    {
                        key: '[so_luong_ve]',
                        value: 'Số lượng vé',
                        type: 'field'
                    },
                    {
                        key: '[so_luong_ghe]',
                        value: 'Số lượng ghế',
                        type: 'field'
                    },
                    {
                        key: '[tong_tien_ve]',
                        value: 'Tổng tiền vé',
                        type: 'field'
                    },
                    {
                        key: '[tong_da_tra]',
                        value: 'Tổng tiền đã trả',
                        type: 'field'
                    },
                    {
                        key: '[tong_chua_tra]',
                        value: 'Tổng tiền chưa trả',
                        type: 'field'
                    },
                    {
                        key: '[ghi_chu_chuyen]',
                        value: 'Ghi chú chuyến',
                        type: 'field'
                    },
                    {
                        key: '[ds_ghe_trong]',
                        value: 'D/s ghế trống',
                        type: 'field'
                    },
                    {
                        key: '[ten_cong_ty]',
                        value: 'Tên công ty',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_cong_ty]',
                        value: 'Địa chỉ công ty',
                        type: 'field',
                    },
                    {
                        key: '<img src="' + userInfo.logo + '" height="50px">',
                        value: 'logo công ty',
                        type: 'field',
                    }, {
                        key: '',
                        value: 'Thông tin vé',
                        type: 'group'
                    },
                    {
                        key: '[so_thu_tu]',
                        value: 'Số thứ tự',
                        type: 'field'
                    },
                    {
                        key: '[trang_thai_ve]',
                        value: 'Trạng thái vé',
                        type: 'field'
                    },
                    {
                        key: '[ten_ghe]',
                        value: 'Tên ghế',
                        type: 'field',
                    },
                    {
                        key: '[so_luong_ghe]',
                        value: 'Số lượng ghế',
                        type: 'field',
                    },
                    {
                        key: '[tuyen_duong]',
                        value: 'Tuyến',
                        type: 'field',
                    },
                    {
                        key: '[ma_ve]',
                        value: 'Mã vé',
                        type: 'field',
                    },
                    {
                        key: '[gio_di]',
                        value: 'Giờ đi',
                        type: 'field',
                    },
                    {
                        key: '[ngay_di]',
                        value: 'Ngày đi',
                        type: 'field',
                    },
                    {
                        key: '[ten_hanh_khach]',
                        value: 'Tên hành khách',
                        type: 'field',
                    },
                    {
                        key: '[so_dien_thoai_khach]',
                        value: 'Số điện thoại khách',
                        type: 'field',
                    },
                    {
                        key: '[nam_sinh]',
                        value: 'Năm sinh',
                        type: 'field',
                    },
                    {
                        key: '[gia_ve]',
                        value: 'Giá vé',
                        type: 'field',
                    },
                    {
                        key: '[da_thu]',
                        value: 'Đã thu',
                        type: 'field',
                    },
                    {
                        key: '[chua_thu]',
                        value: 'Chưa thu',
                        type: 'field',
                    },
                    {
                        key: '[tai_xe_thu]',
                        value: 'Tài xế thu',
                        type: 'field',
                    },
                    {
                        key: '[nhan_vien_thu]',
                        value: 'Nhân viên thu',
                        type: 'field',
                    },
                    {
                        key: '[diem_len]',
                        value: 'Điểm lên',
                        type: 'field',
                    },
                    {
                        key: '[diem_len_rut_gon]',
                        value: 'Điểm lên viết tắt',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_diem_len]',
                        value: 'Địa chỉ điểm lên',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_len_tn]',
                        value: 'Đ/c lên TN',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_len_dd]',
                        value: 'Đ/c lên DĐ',
                        type: 'field',
                    },
                    {
                        key: '[ten_diem_len_tc]',
                        value: 'Tên điểm lên TC',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_len_tc]',
                        value: 'Đ/c lên TC',
                        type: 'field',
                    },
                    {
                        key: '[diem_xuong]',
                        value: 'Điểm xuống',
                        type: 'field',
                    },
                    {
                        key: '[diem_xuong_rut_gon]',
                        value: 'Điểm xuống rút gọn',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_diem_xuong]',
                        value: 'Địa chỉ điểm xuống',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_xuong_tn]',
                        value: 'Đ/c xuống TN',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_xuong_dd]',
                        value: 'Đ/c xuống DĐ',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_xuong_tc]',
                        value: 'Đ/c xuống TC',
                        type: 'field',
                    },
                    {
                        key: '[ten_diem_xuong_tc]',
                        value: 'Tên điểm xuống TC',
                        type: 'field',
                    },
                    {
                        key: '[xe_van_chuyen]',
                        value: 'Xe vận chuyển',
                        type: 'field',
                    },
                    {
                        key: '[ma_lien_ket]',
                        value: 'Mã liên kết',
                        type: 'field',
                    },
                    {
                        key: '[ghi_chu]',
                        value: 'Ghi chú',
                        type: 'field',
                    },
                    {
                        key: '[dai_ly]',
                        value: 'Đại lý',
                        type: 'field',
                    },
                    {
                        key: '[ten_cong_ty]',
                        value: 'Tên công ty',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_cong_ty]',
                        value: 'Địa chỉ công ty',
                        type: 'field',
                    },
                    {
                        key: '[SDT_tai_xe]',
                        value: 'SĐT Tài Xế',
                        type: 'field',
                    },
                    {
                        key: '[gio_ket_thuc_chuyen]',
                        value: 'Giờ kết thúc chuyến',
                        type: 'field',
                    },{
                        key: '[cu_ly_hanh_trinh]',
                        value: 'Cự ly hành trình',
                        type: 'field',
                    },
                    {
                        key: '[chung_loai_xe]',
                        value: 'Chủng loại xe',
                        type: 'field',
                    },
                    {
                        key: '<img src="' + userInfo.logo + '" height="50px">',
                        value: 'Logo công ty',
                        type: 'field',
                    },
                ],
                dataConfig: '<div><p><span style="color:#e74c3c">ch&uacute; &yacute; : Nhập th&ocirc;ng tin v&agrave;o v&ugrave;ng n&eacute;t đứt.</span></p><p><strong>Email Gửi</strong></p><div id="mail-send-address" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Email nhận ( danh s&aacute;ch c&aacute;ch nhau bởi dấu phảy &quot;,&quot; )</strong></p><div id="list-email" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Ti&ecirc;u đề mail</strong></p><div id="tieu-de-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Nội dung mail</strong></p><div id="noi-dung-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Nội dung file pdf</strong></p><div id="noi-dung-file-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div></div>',
                dataDefault: '<div><p><span style="color:#e74c3c">ch&uacute; &yacute; : Nhập th&ocirc;ng tin v&agrave;o v&ugrave;ng n&eacute;t đứt.</span></p><p><strong>Email Gửi</strong></p><div id="mail-send-address" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Email nhận ( danh s&aacute;ch c&aacute;ch nhau bởi dấu phảy &quot;,&quot; )</strong></p><div id="list-email" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Ti&ecirc;u đề mail</strong></p><div id="tieu-de-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Nội dung mail</strong></p><div id="noi-dung-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Nội dung file pdf</strong></p><div id="noi-dung-file-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div></div>'

            }
        },
        mounted: function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('emailTemplate', {
                height: '800px',
                on: {
                    pluginsLoaded: function () {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo('field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [CKEDITOR.skin.getPath('editor')].concat(config.contentsCss),
                                multiSelect: false,
                                attributes: {'aria-label': 'My Dropdown Title'}
                            },

                            init: function () {
                                let ck = this;
                                $.each(self.fields, function (f, field) {
                                    if (field.type == "group") {
                                        ck.startGroup(field.value);
                                    } else {
                                        ck.add(field.key, field.value);
                                    }
                                })

                            },

                            onClick: function (value) {
                                editor.focus();
                                editor.fire('saveSnapshot');

                                editor.insertHtml(value);

                                editor.fire('saveSnapshot');
                            }
                        });
                    }
                }
            });
        },
        methods: {
            saveSetting: function () {
                let self = this;
                let value = CKEDITOR.instances.emailTemplate.getData();
                self.load('saveSettingPrintListTicket');
                sendJson({
                    url: urlDBD(API.displaySettingCreate),
                    data: {
                        type: DisplaySetting.EMAIL_TEMPLATE,
                        value: value
                    },
                    success: function (res) {
                        notify("Cập nhật cấu hình thành công ", "success");
                        self.unload('saveSettingPrintListTicket');
                    },
                    functionIfError: function (res) {
                        self.unload('saveSettingPrintListTicket');

                    }
                })
            },
            getConfig: function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicket');
                sendJson({
                    url: urlDBD(API.displaySettingGet),
                    data: {
                        type: DisplaySetting.EMAIL_TEMPLATE,
                    },
                    async: false,
                    success: function (res) {
                        if (res.results.data) {
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError: function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            },
            help: function () {
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>