<template>
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="d-flex justify-content-between my-3">
                <h4>CẤU HÌNH IN SƠ ĐỒ GHẾ  - TIÊU ĐỀ</h4>
                <button class="btn btn-sm btn-primary" @click="saveSetting(0)"><i class="fa fa-save"></i> Lưu cấu hình</button>
            </div>
            <textarea :id="idSeatMapHeader"></textarea>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="d-flex justify-content-between my-3">
                <h4>CẤU HÌNH IN SƠ ĐỒ GHẾ  - SƠ ĐỒ GHẾ</h4>
                <button class="btn btn-sm btn-primary" @click="saveSetting(1)"><i class="fa fa-save"></i> Lưu cấu hình</button>
            </div>
            <textarea :id="idSeatMap"></textarea>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="d-flex justify-content-between my-3">
                <h4>CẤU HÌNH IN SƠ ĐỒ GHẾ  - CHÂN TRANG</h4>
                <button class="btn btn-sm btn-primary" @click="saveSetting(2)"><i class="fa fa-save"></i> Lưu cấu hình</button>
            </div>
            <textarea :id="idSeatMapFooter"></textarea>
        </div>

    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '[ten_tuyen]',
                        value : 'Chuyến - Tên tuyến',
                        type : 'field'
                    },
                    {
                        key : '[tai_xe]',
                        value : 'Chuyến - Tài xế',
                        type : 'field'
                    },
                    {
                        key : '[phu_xe]',
                        value : 'Chuyến - Phụ xe',
                        type : 'field'
                    },
                    // {
                    //     key : '[tong_tien_chua_thanh_toan]',
                    //     value : 'Tổng số tiền chưa thanh toán',
                    //     type : 'field'
                    // },
                    // {
                    //     key : '[tong_tien_da_thanh_toan]',
                    //     value : 'Tổng số tiền đã thanh toán',
                    //     type : 'field'
                    // },
                    {
                        key : '[gio_chay]',
                        value : 'Chuyến - Ngày giờ chạy',
                        type : 'field'
                    },
                    {
                        key : '[bien_so]',
                        value : 'Chuyến - Biển số xe',
                        type : 'field'
                    },
                    {
                        key : '[so_ghe]',
                        value : 'Chuyến - Số ghế',
                        type : 'field'
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Chuyến - Ghi chú',
                        type : 'field'
                    },
                    // {
                    //     key : '[so_ve]',
                    //     value : 'Chuyến - Số vé',
                    //     type : 'field'
                    // },
                    {
                        key : '[tong_so_ve]',
                        value : 'Chuyến - Tổng số vé',
                        type : 'field'
                    },
                    {
                        key : '[tong_tien_ve]',
                        value : 'Chuyến - Tổng tiền vé',
                        type : 'field'
                    },
                    {
                        key : '[tong_ve_chua_thanh_toan]',
                        value : 'Chuyến - Tổng số vé chưa thanh toán',
                        type : 'field'
                    },
                    {
                        key : '[tong_ve_da_thanh_toan]',
                        value : 'Chuyến - Tổng số vé đã thanh toán',
                        type : 'field'
                    },
                    {
                        key : '[so_ve_giao_theo_khu_vuc]',
                        value : 'Chuyến - Số  vé giao theo khu vực',
                        type : 'field'
                    },
                    {
                        key : '[so_ve_giao_theo_khu_vuc]',
                        value : 'Chuyến - Số  vé giao theo khu vực',
                        type : 'field'
                    },
                    {
                        key : '[so_ve_theo_diem_len]',
                        value : 'Chuyến - Số  vé theo điểm lên',
                        type : 'field'
                    },
                    {
                        key : '[vi_tri]',
                        value : 'Vé - Vị trí',
                        type : 'field'
                    },
                    {
                        key : '[sdt_dat_ve]',
                        value : 'Vé - Số điện thoại đặt vé',
                        type : 'field'
                    },
                    {
                        key : '[ten_nguoi_dat]',
                        value : 'Vé - Tên người đặt',
                        type : 'field'
                    },
                    {
                        key : '[gia_ve]',
                        value : 'Vé - Giá vé',
                        type : 'field'
                    },
                    {
                        key : '[dai_ly_da_thu_tien]',
                        value : 'Vé - Đại lý đã thu tiền',
                        type : 'field'
                    },
                    {
                        key : '[tien_da_thu]',
                        value : 'Vé - Tiền đã thu',
                        type : 'field'
                    },
                    {
                        key : '[tien_chua_thu]',
                        value : 'Vé - Tiền chưa thu',
                        type : 'field'
                    },
                    {
                        key : '[ten_dai_ly]',
                        value : 'Vé - Tên đại lý',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_ban]',
                        value : 'Vé - Người bán',
                        type : 'field'
                    },
                    {
                        key : '[thu_ngan]',
                        value : 'Vé - Thu ngân',
                        type : 'field'
                    },
                    {
                        key : '[diem_len]',
                        value : 'Vé - Điểm lên',
                        type : 'field'
                    },
                    {
                        key : '[diem_xuong]',
                        value : 'Vé - Điểm xuống',
                        type : 'field'
                    },
                    {
                        key : '[diem_don_doc_duong]',
                        value : 'Vé - Điểm đón dọc đường',
                        type : 'field'
                    },
                    {
                        key : '[ma_ve]',
                        value : 'Vé - Mã vé',
                        type : 'field'
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Vé - Ghi chú',
                        type : 'field'
                    },
                    {
                        key : '[trang_thai_tt]',
                        value : 'Vé - Trạng thái thanh toán',
                        type : 'field'
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : 'Tên tuyến rút gọn',
                        type : 'field'
                    },
                    {
                        key : '[ngay_ban_ve]',
                        value : 'Ngày bán vé',
                        type : 'field'
                    },
                    {
                        key : '[ngay_thu_tien]',
                        value : 'Ngày thu tiền',
                        type : 'field'
                    },
                    {
                        key : '[ten_nhan_vien_thu_tien]',
                        value : 'Tên nhân viên thu tiền',
                        type : 'field'
                    },
                    {
                        key : '[phong_ve]',
                        value : 'Phòng vé',
                        type : 'field'
                    },
                    {
                        key : '[sdt_tai_xe]',
                        value : 'Số điện thoại tài xế'
                    },
                    
                    {
                        key : '[dl_tong_ve_da_thanh_toan]',
                        value : 'DL - Tổng số vé đã thanh toán',
                        type : 'field'
                    },
                    {
                        key : '[dl_tong_so_ve]',
                        value : 'DL - Tổng số vé',
                        type : 'field'
                    },
                    {
                        key : '[dl_tong_tien_da_thanh_toan]',
                        value : 'DL - Tổng tiền đã thanh toán',
                        type : 'field'
                    },
                    {
                        key : '[dl_tong_tien]',
                        value : 'DL - Tổng tiền',
                        type : 'field'
                    },
                    {
                        key : '[dl_phai_thu]',
                        value : 'DL - Phải thu',
                        type : 'field'
                    },

                    {
                        key : '[room_tong_ve_da_thanh_toan]',
                        value : 'PV - Tổng số vé đã thanh toán',
                        type : 'field'
                    },
                    {
                        key : '[room_tong_so_ve]',
                        value : 'PV - Tổng số vé',
                        type : 'field'
                    },
                    {
                        key : '[room_tong_tien_da_thanh_toan]',
                        value : 'PV - Tổng tiền đã thanh toán',
                        type : 'field'
                    },
                    {
                        key : '[room_tong_tien]',
                        value : 'PV - Tổng tiền',
                        type : 'field'
                    },
                    {
                        key : '[room_phai_thu]',
                        value : 'PV - Phải thu',
                        type : 'field'
                    },

                    {
                        key : '[thong_ke_ve_theo_dl]',
                        value : 'DL - Thống kê vé theo đại lý',
                        type : 'field'
                    },
                    {
                        key : '[thong_ke_tien_theo_dl]',
                        value : 'DL - Thống kê tiền theo đại lý',
                        type : 'field'
                    },
                    {
                        key : '[thong_ke_ve_theo_pv]',
                        value : 'PV - Thống kê vé theo phòng vé',
                        type : 'field'
                    },
                    {
                        key : '[thong_ke_tien_theo_pv]',
                        value : 'PV - Thống kê tiền theo phòng vé',
                        type : 'field'
                    },
                ],
                dataConfig : '',
                idSeatMapHeader: 'PrintConfigSeatMapHeader',
                idSeatMap: 'PrintConfigSeatMap',
                idSeatMapFooter: 'PrintConfigSeatMapFooter',

            }
        },
        computed: {
            configCKEditorDefault: function() {
                let self = this;
                return {
                    height: '400px',
                    on: {
                        pluginsLoaded: function() {
                            var editor = this,
                                config = editor.config;

                            editor.ui.addRichCombo( 'field-combo', {
                                label: 'Chèn trường dữ liệu',
                                title: 'Chèn trường dữ liệu',

                                panel: {
                                    css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                    multiSelect: false,
                                    attributes: { 'aria-label': 'My Dropdown Title' }
                                },

                                init: function() {
                                    let ck = this;
                                    $.each(self.fields,function(f,field){
                                        if(field.type=="group"){
                                            ck.startGroup(field.value);
                                        }else{
                                            ck.add(field.key,field.value);
                                        }
                                    })

                                },

                                onClick: function( value ) {
                                    editor.focus();
                                    editor.fire( 'saveSnapshot' );

                                    editor.insertHtml( value );

                                    editor.fire( 'saveSnapshot' );
                                }
                            } );
                        }
                    }
                };
            }
        },
        mounted :function () {
            let self = this;
            CKEDITOR.replace(this.idSeatMapHeader,this.configCKEditorDefault);
            CKEDITOR.replace(this.idSeatMap,this.configCKEditorDefault);
            CKEDITOR.replace(this.idSeatMapFooter,this.configCKEditorDefault);

            self.getConfig(0);
            self.getConfig(1);
            self.getConfig(2);
        },
        methods : {
            saveSetting : function (element = 1) {
                let self = this;
                let params = {};
                let target = this.idSeatMap;
                params.type = DisplaySetting.PRINT_SEAT_MAP

                if(element == 0) {
                    params.type = DisplaySetting.PRINT_SEAT_MAP_HEADER
                    target = this.idSeatMapHeader
                }

                if(element == 2) {
                    params.type = DisplaySetting.PRINT_SEAT_MAP_FOOTER
                    target = this.idSeatMapFooter
                }
                
                let content = CKEDITOR.instances[target].getData();
                //Fake du lieu truyen len do khong dc truyen len rong.
                params.value = (content != "") ? content : " ";

                self.load('saveSettingPrintListTicket');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : params,
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingPrintListTicket');
                    },
                    functionIfError : function(res){
                        self.unload('saveSettingPrintListTicket');

                    }
                })
            },
            getConfig : function (element = 1) {
                let self = this;
                // $(self.$el).find('textarea').val("");
                self.load('getSettingPrintTicket');
                
                let params = {};
                let target = "#" + this.idSeatMap;
                params.type = DisplaySetting.PRINT_SEAT_MAP

                if(element == 0) {
                    params.type = DisplaySetting.PRINT_SEAT_MAP_HEADER
                    target = "#" + this.idSeatMapHeader
                }

                if(element == 2) {
                    params.type = DisplaySetting.PRINT_SEAT_MAP_FOOTER
                    target = "#" + this.idSeatMapFooter
                }

                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : params,
                    async: false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find(target).val(res.results.data);
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>