<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN BÁO CÁO DOANH THU CHI TIẾT
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="help()"><i class="fa fa-question-circle"></i> Hướng dẫn</button>
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigReportDetail"></textarea>
        </div>
        <div class="modal fade bd-example-modal-lg" id="help" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">HƯỚNG DẪN TÙY CHỈNH</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        Hãy đặt báo cáo trong bảng ( tạo bảng trên thanh công cụ ) và chọn trường tương ứng cho vào bảng , nên đặt hàng đầu tiên của bảng là tiêu đề.
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '[so_thu_tu]',
                        value : 'Số thứ tự',
                        type : 'field'
                    },
                    // {
                    //     key : '[trang_thai_ve]',
                    //     value : 'Trạng thái vé',
                    //     type : 'field'
                    // },
                    {
                        key: '[ten_ghe]',
                        value: 'Tên ghế',
                        type: 'field',
                    },
                    {
                        key : '[so_luong_ghe]',
                        value : 'Số lượng ghế',
                        type : 'field',
                    },
                    {
                        key : '[tuyen_duong]',
                        value : 'Tuyến',
                        type : 'field',
                    },
                    {
                        key : '[ma_ve]',
                        value : 'Mã vé',
                        type : 'field',
                    },
                    {
                        key : '[gio_di]',
                        value : 'Giờ đi',
                        type : 'field',
                    },
                    {
                        key : '[ngay_di]',
                        value : 'Ngày đi',
                        type : 'field',
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : 'Tên hành khách',
                        type : 'field',
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : 'Số điện thoại khách',
                        type : 'field',
                    },
                    {
                        key: '[nam_sinh]',
                        value: 'Năm sinh',
                        type: 'field',
                    },
                    {
                        key : '[gia_ve]',
                        value : 'Giá vé',
                        type : 'field',
                    },
                    {
                        key : '[da_thu]',
                        value : 'Đã thu',
                        type : 'field',
                    },
                    {
                        key : '[chua_thu]',
                        value : 'Chưa thu',
                        type : 'field',
                    },
                    {
                        key : '[diem_len]',
                        value : 'Điểm lên',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : 'Địa chỉ điểm lên',
                        type : 'field',
                    },
                    {
                        key : '[diem_xuong]',
                        value : 'Điểm xuống',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : 'Địa chỉ điểm xuống',
                        type : 'field',
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : 'Mã liên kết',
                        type : 'field',
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Ghi chú',
                        type : 'field',
                    },
                    {
                        key : '[dai_ly]',
                        value : 'Đại lý',
                        type : 'field',
                    },
                    {
                        key : '[tai_xe]',
                        value : 'Tài xế',
                        type : 'field'
                    },
                    {
                        key : '[phu_xe]',
                        value : 'Phụ xe',
                        type : 'field'
                    },
                    {
                        key : '[bien_so_xe]',
                        value : 'Biển số xe',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_ban]',
                        value : 'Người bán',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_thu]',
                        value : 'Người thu',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_huy]',
                        value : 'Người hủy',
                        type : 'field'
                    },
                    {
                        key : '[phi_huy]',
                        value : 'Phí hủy',
                        type : 'field'
                    },
                    {
                        key: '[ten_phong_ve]',
                        value: 'Tên phòng vé',
                        type: 'field'
                    },
                    {
                        key: '[sdt_phong_ve]',
                        value: 'SDT phòng vé',
                        type: 'field'
                    },
                    {
                        key : '[tong_so_luong]',
                        value : 'Tổng số lượng vé',
                        type : 'field'
                    },
                    {
                        key : '[tong_tien_ve]',
                        value : 'Tổng tiền vé',
                        type : 'field'
                    },
                    {
                        key : '[tong_da_tra]',
                        value : 'Tổng tiền đã trả',
                        type : 'field'
                    },
                    {
                        key : '[tong_chua_tra]',
                        value : 'Tổng tiền chưa trả',
                        type : 'field'
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : 'Tên công ty',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : 'Địa chỉ công ty',
                        type : 'field',
                    },
                    {
                        key : '<img src="'+userInfo.logo+'" height="50px">',
                        value : 'logo công ty',
                        type : 'field',
                    },
                    {
                        key : '[ngay_dat_ve]',
                        value : 'Ngày đặt vé',
                        type : 'field',
                    },
                    {
                        key : '[so_lan_in_ve]',
                        value : 'Số lần in vé'
                    },
                ],
                dataConfig : '<table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-sm table-striped" style="font-size:13px; width:100%"><thead><tr><th colspan="19" scope="col" style="text-align:center"><span style="font-size:24px">B&Aacute;O C&Aacute;O DOANH THU CHI TIẾT</span></th></tr><tr><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">[tong_so_luong]</th><th scope="col">[tong_tien_ve]</th><th scope="col">[tong_da_tra]</th><th scope="col">[tong_chua_tra]</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th></tr><tr><th scope="col">M&atilde;</th><th scope="col">Kh&aacute;ch h&agrave;ng</th><th scope="col">SDT</th><th scope="col">Tuyến</th><th scope="col">Xe</th><th scope="col">T&agrave;i</th><th scope="col">Khởi h&agrave;nh tại</th><th scope="col">Ng&agrave;y đi</th><th scope="col">Giờ đi</th><th scope="col">Người b&aacute;n</th><th scope="col">M&atilde; li&ecirc;n kết</th><th scope="col">Nguồn v&eacute;</th><th scope="col">SL</th><th scope="col">Th&agrave;nh tiền</th><th scope="col">Đ&atilde; thu</th><th scope="col">C&ograve;n lại</th><th scope="col">Người thu</th><th scope="col">Người hủy</th><th scope="col">Ghi ch&uacute;</th></tr></thead><tbody><tr><td>[ma_ve]</td><td>[ten_hanh_khach]</td><td>[so_dien_thoai_khach]</td><td>[tuyen_duong]</td><td>[bien_so_xe]</td><td>[tai_xe]</td><td>[diem_len]</td><td>[ngay_di]</td><td>[gio_di]</td><td>[nguoi_ban]</td><td>[ma_lien_ket]</td><td>[dai_ly]</td><td>[so_luong_ghe]</td><td>[gia_ve]</td><td>[da_thu]</td><td>[chua_thu]</td><td>[nguoi_thu]</td><td>[nguoi_huy]</td><td>[ghi_chu]</td></tr></tbody></table>'
            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigReportDetail',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    if(field.type=="group"){
                                        ck.startGroup(field.value);
                                    }else{
                                        ck.add(field.key,field.value);
                                    }
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigReportDetail.getData();
                self.load('saveSettingPrintListTicketRD');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.REPORT_DETAIL,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingPrintListTicketRD');
                    },
                    functionIfError : function(res){
                        self.unload('saveSettingPrintListTicketRD');

                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicketRD');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.REPORT_DETAIL,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingPrintTicketRD');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicketRD');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>