<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN BÁO CÁO CHUYẾN
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="help()"><i class="fa fa-question-circle"></i> Hướng dẫn</button>
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigTicketContract"></textarea>
        </div>
        <div class="modal fade bd-example-modal-lg" id="help" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">HƯỚNG DẪN TÙY CHỈNH</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <div>Tùy chỉnh in báo cáo chuyến có yêu cầu như sau : </div>
                        <ul>
                            <li>Danh sách chuyến, thu chi phải được đặt trong bảng.</li>
                            <li>Nên đặt hàng đầu tiên của bảng là tiêu đề.</li>
                            <li>
                                Bảng phải có định danh khi tạo.
                                <div>
                                    * Để đặt định danh cho bảng, click vào ô tạo bảng trên thanh công cụ , tiếp theo mẫu tạo bảng hiển thị hãy bấm vào "Tab mở rộng" và điền định danh, sau đó bấm đồng ý,<br>
                                    Các định danh sẽ được lấy để đẩy dữ liệu tương ứng vào, định danh có thể sử dụng là :
                                    <br>
                                    <ul>
                                        <li>tuy-chinh-in-danh-sach-chuyen : được dùng cho thông tin danh sách chuyến.</li>
                                        <li>tuy-chinh-in-danh-sach-thu-chi : được dùng cho danh sách thu chi trên chuyến</li>
                                        <li>tuy-chinh-in-danh-sach-tong : được dùng cho danh sách các tổng trên chuyến</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '',
                        value : 'Thông tin chuyến',
                        type : 'group'
                    },
                    {
                        key : '[gio_xuat_ben]',
                        value : 'C - Giờ xuất bến',
                        type : 'field'
                    },
                    {
                        key : '[ngay_xuat_ben]',
                        value : 'C - Ngày xuất bến',
                        type : 'field'
                    },
                    {
                        key : '[tuyen_cua_chuyen]',
                        value : 'C - Tuyến chạy của chuyến',
                        type : 'field'
                    },
                    {
                        key : '[tai_xe_chuyen]',
                        value : 'C - Tài xế của chuyến',
                        type : 'field'
                    },
                    {
                        key : '[phu_xe_chuyen]',
                        value : 'C - Phụ xe của chuyến',
                        type : 'field'
                    },
                    {
                        key : '[bien_so_xe]',
                        value : 'C - Biển số xe',
                        type : 'field'
                    },
                    {
                        key : '[so_luong_ve]',
                        value : 'C - Số lượng vé',
                        type : 'field'
                    },
                    {
                        key : '[danh_sach-ghe]',
                        value : 'C - Danh sách ghế',
                        type : 'field'
                    },
                    {
                        key : '[tong_tien_ve]',
                        value : 'C - Tổng tiền vé',
                        type : 'field'
                    },
                    {
                        key: '[tong_tien_ve_bang_chu]',
                        value: 'C - Tổng tiền vé bằng chữ',
                        type: 'field'
                    },
                    {
                        key : '[tong_tien_hang]',
                        value : 'C - Tổng tiền hàng',
                        type : 'field'
                    },
                    {
                        key : '[khach_da_tra]',
                        value : 'C - Tiền khách đã trả',
                        type : 'field'
                    },
                    {
                        key : '[hang_da_tra]',
                        value : 'C - Tiền hàng thu trước',
                        type : 'field'
                    },
                    {
                        key : '[khach_xe_thu]',
                        value : 'C - Tiền khách xe thu',
                        type : 'field'
                    },
                    {
                        key : '[hang_xe_thu]',
                        value : 'C - Tiền hàng xe thu',
                        type : 'field'
                    },
                    {
                        key : '[khach_chua_thu]',
                        value : 'C - Tiền khách chưa thu',
                        type : 'field'
                    },
                    {
                        key : '[hang_chua_thu]',
                        value : 'C - Tiền hàng chưa thu',
                        type : 'field'
                    },
                    {
                        key : 'thong_tin_thu_chi',
                        value : 'Thông tin thu chi',
                        type : 'group'
                    },
                    {
                        key : '[khoan_muc_thu_chi]',
                        value : 'TC - khoản mục thu chi',
                        type : 'field'
                    },
                    {
                        key : '[so_tien]',
                        value : 'TC - số tiền thu chi',
                        type : 'field'
                    },
                    {
                        key : '',
                        value : 'Tổng',
                        type : 'group'
                    },
                    {
                        key : '[tong_tien_phieu_thu]',
                        value : 'T - Tổng tiền phiếu thu',
                        type : 'field'
                    },
                    {
                        key : '[tong_tien_phieu_chi]',
                        value : 'T - Tổng tiền phiếu chi',
                        type : 'field'
                    },
                    {
                        key : '[thu_chi]',
                        value : 'T - (Thu - Chi)',
                        type : 'field'
                    },
                    {
                        key : '[tong_khach_xe_thu]',
                        value : 'T - Tổng tiền khách xe thu',
                        type : 'field'
                    },
                    {
                        key : '[tong_hang_xe_thu]',
                        value : 'T - Tổng tiền hàng xe thu',
                        type : 'field'
                    },
                    {
                        key : '[tong_khach_hang_xe_thu]',
                        value : 'T - Tổng tiền khách và hàng xe thu',
                        type : 'field'
                    },
                    {
                        key : '[thu_chi_xe]',
                        value : 'T - Tổng thu chi trên xe',
                        type : 'field'
                    }
                ],
                dataConfig : ''

            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigTicketContract',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    if(field.type=="group"){
                                        ck.startGroup(field.value);
                                    }else{
                                        ck.add(field.key,field.value);
                                    }
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigTicketContract.getData();
                self.load('saveSettingPrintListTicket');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.REPORT_TRIP,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingPrintListTicket');
                    },
                    functionIfError : function(res){
                        self.unload('saveSettingPrintListTicket');

                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicket');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.REPORT_TRIP,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>
