<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN BÁO CÁO HÀNG HÓA THEO NHÂN VIÊN
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigTableTickets"></textarea>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '[so_thu_tu]',
                        value : 'STT',
                        type : 'field'
                    },
                    {
                        key : '[ma_hang]',
                        value : 'Mã hàng',
                        type : 'field'
                    },
                    {
                        key : '[ngay_gui]',
                        value : 'Ngày gửi',
                        type : 'field'
                    },
                    {
                        key : '[ten_hang]',
                        value : 'Tên hàng',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_gui]',
                        value : 'Người gửi',
                        type : 'field'
                    },
                    {
                        key : '[sdt_nguoi_gui]',
                        value : 'SDT người gửi',
                        type : 'field'
                    },
                    {
                        key : '[noi_gui]',
                        value : 'Nơi gửi',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_nhan]',
                        value : 'Người nhận',
                        type : 'field'
                    },
                    {
                        key : '[sdt_nguoi_nhan]',
                        value : 'SDT người nhận',
                        type : 'field'
                    },
                    {
                        key : '[noi_nhan]',
                        value : 'Nơi nhận',
                        type : 'field'
                    },
                    {
                        key : '[ly_do_huy]',
                        value : 'Lý do hủy',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_huy]',
                        value : 'Người hủy',
                        type : 'field'
                    },
                ],
                dataConfig : ''

            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigTableTickets',{
                height: '450px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    if(field.type=="group"){
                                        ck.startGroup(field.value);
                                    }else{
                                        ck.add(field.key,field.value);
                                    }
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigTableTickets.getData();
                self.load('saveSettingPrintListTicket');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.PRINT_STATISTICAL_GOODS_EMPLOYEE,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingPrintListTicket');
                    },
                    functionIfError : function(res){
                        self.unload('saveSettingPrintListTicket');

                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicket');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_STATISTICAL_GOODS_EMPLOYEE,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>