<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN DANH SÁCH HÀNG HÓA
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="help()"><i class="fa fa-question-circle"></i> Hướng dẫn</button>
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigTableGoods"></textarea>
        </div>
        <div class="modal fade bd-example-modal-lg" id="help" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">HƯỚNG DẪN TÙY CHỈNH</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <div>Tùy chỉnh in danh sách vé có yêu cầu như sau : </div>
                        <ul>
                            <li>Danh sách vé phải được đặt trong bảng.</li>
                            <li>Nên đặt hàng đầu tiên của bảng là tiêu đề.</li>
                            <li>
                                Bảng phải có định danh khi tạo.
                                <div>
                                    * Để đặt định danh cho bảng, click vào ô tạo bảng trên thanh công cụ , tiếp theo mẫu tạo bảng hiển thị hãy bấm vào "Tab mở rộng" và điền định danh, sau đó bấm đồng ý,<br>
                                    Các định danh sẽ được lấy để đẩy dữ liệu tương ứng vào, định danh có thể sử dụng là :
                                    <br>
                                    <ul>
                                        <li>tuy-chinh-in-danh-sach-ve : được dùng cho danh sách vé trên chuyến.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-huy : được dùng cho danh sách vé hủy trên chuyến. ( định danh này chưa được áp dụng )</li>
                                        <li>tuy-chinh-in-danh-sach-ve-khong-cho-ngoi : được dùng cho danh sách vé bán thêm (không chỗ ngồi) trên chuyến. ( định danh này chưa được áp dụng )</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '[ngay_nhan_hang]',
                        value : 'Ngày nhận hàng',
                    },
                    {
                        key : '[ngay_hien_tai]',
                        value : 'Ngày hiện tại',
                    },
                    {
                        key : '[gio_hien_tai]',
                        value : 'Giờ hiện tại',
                    },
                    {
                        key : '[ten_tai_khoan_dang_nhap]',
                        value : 'Tên tài khoản đăng nhập',
                    },
                    {
                        key : '[stt]',
                        value : 'Số thứ tự',
                    },
                    {
                        key : '[ma_hang]',
                        value : 'Mã hàng',
                    },
                    {
                        key : '[ten_hang]',
                        value : 'Tên hàng',
                    },
                    {
                        key : '[so_luong_hang]',
                        value : 'Số lượng hàng',
                    },
                    {
                        key : '[gia_tri_mat_hang]',
                        value : 'Giá trị mặt hàng',
                    },
                    {
                        key : '[cuoc_phi]',
                        value : 'Cước phí',
                    },
                    {
                        key : '[da_tra]',
                        value : 'Đã trả',
                    },
                    {
                        key : '[chua_tra]',
                        value : 'Chưa trả',
                    },
                    {
                        key : '[ten_nguoi_gui]',
                        value : 'Tên người gửi',
                    },
                    {
                        key : '[so_dien_thoai_gui]',
                        value : 'Số điện thoại gửi',
                    },
                    {
                        key : '[ten_diem_gui]',
                        value : 'Tên điểm gửi',
                    },
                    {
                        key : '[dia_chi_gui]',
                        value : 'Địa chỉ gửi',
                    },
                    {
                        key : '[ten_nguoi_tra]',
                        value : 'Tên người trả',
                    },
                    {
                        key : '[so_dien_thoai_tra]',
                        value : 'Số điện thoại trả',
                    },
                    {
                        key : '[ten_diem_tra]',
                        value : 'Tên điểm trả',
                    },
                    {
                        key : '[dia_chi_tra]',
                        value : 'Địa chỉ trả',
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Ghi chú',
                    },
                    {
                        key : '[tong_so_luong]',
                        value : 'Tổng số lượng',
                    },
                    {
                        key : '[tong_da_thu]',
                        value : 'Tổng đã thu',
                    },
                    {
                        key : '[tong_chua_thu]',
                        value : 'Tổng chưa thu',
                    },
                    {
                        key : '[tong_cuoc]',
                        value : 'Tổng cước',
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : 'Tên công ty',
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : 'Địa chỉ công ty',
                    },
                    {
                        key : '<img src="'+userInfo.logo+'">',
                        value : 'Logo công ty',
                    },
                ],
                dataConfig : '<div>[ten_cong_ty]</div><div>[dia_chi_cong_ty]</div><div>Li&ecirc;n hệ : 1900 7034</div><div style="text-align:center"><span style="font-size:20px">DANH S&Aacute;CH H&Agrave;NG H&Oacute;A</span></div><div style="text-align:center"><table border="0" cellpadding="0" cellspacing="0" style="width:100%"><tbody><tr><td style="text-align:right; width:30%">Đơn vị&nbsp;&nbsp;</td><td style="text-align:left; width:20%">&nbsp; An Vui</td><td style="text-align:right; width:20%">BKS&nbsp;&nbsp;</td><td style="text-align:left; width:30%">&nbsp;&nbsp;</td></tr><tr><td style="text-align:right">&nbsp;Ng&agrave;y xuất&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[gio_hien_tai]&nbsp;[ngay_hien_tai]</td><td style="text-align:right">Đơn vị chuyển đến&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;</td></tr><tr><td style="text-align:right">Người lập&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[ten_tai_khoan_dang_nhap]</td><td style="text-align:right">&nbsp;</td><td style="text-align:left">&nbsp;</td></tr></tbody></table><p>&nbsp;</p><table border="1" cellpadding="1" cellspacing="0" id="tuy-chinh-in-danh-sach-hang-hoa" style="width:100%"><thead><tr><th scope="col" style="width:50px">STT</th><th scope="col">M&atilde; v&eacute;</th><th scope="col">T&ecirc;n h&agrave;ng&nbsp;</th><th scope="col" style="width:20px">SL</th><th scope="col">SDT nhận</th><th scope="col" style="width:200px">Điểm trả</th><th scope="col">Địa chỉ trả</th><th scope="col">Cước ph&iacute;</th><th scope="col">Đ&atilde; thu</th><th scope="col">C&ograve;n lại</th><th scope="col">Ghi ch&uacute;</th></tr></thead><tbody><tr><td>[stt]</td><td>[ma_hang]</td><td>[ten_hang]</td><td>[so_luong_hang]</td><td>[so_dien_thoai_tra]</td><td>[ten_diem_tra]</td><td>[dia_chi_tra]</td><td>[cuoc_phi]</td><td>[da_tra]</td><td>[chua_tra]</td><td>[ghi_chu]</td></tr></tbody></table><p>&nbsp;</p><table align="center" border="0" cellpadding="0" cellspacing="0" style="width:500px"><tbody><tr><td style="text-align:right">Tổng số lượng h&agrave;ng&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[tong_so_luong]</td></tr><tr><td style="text-align:right">Tổng cước ph&iacute;&nbsp;&nbsp;</td><td style="text-align:left">&nbsp; [tong_cuoc]</td></tr><tr><td style="text-align:right">Tổng tiền đ&atilde; trả&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[tong_da_thu]</td></tr><tr><td style="text-align:right">Tổng tiền chưa trả&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[tong_chua_thu]</td></tr></tbody></table><p>&nbsp;</p><table border="0" cellpadding="0" cellspacing="0" style="width:100%"><tbody><tr><td><div>Thanh tra</div><div>(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</div></td><td><div>Người nhận</div><div>(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</div></td><td><div>Người lập biểu</div><div>(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</div></td></tr></tbody></table><p>&nbsp;</p></div>'

            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigTableGoods',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    ck.add(field.key,field.value);
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigTableGoods.getData();
                self.load('savePrintConfigTableGoods');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.PRINT_LIST_GOODS,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('savePrintConfigTableGoods');
                    },
                    error : function(res){
                        self.unload('savePrintConfigTableGoods');
                    }
                })
            },
            getConfig : function () {let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getPrintConfigTableGoods');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_LIST_GOODS,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getPrintConfigTableGoods');
                    },
                    functionIfError : function (res) {
                        self.unload('getPrintConfigTableGoods');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>