<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN PHIẾU CHI
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigTablePayment"></textarea>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '',
                        value : 'Thông tin thanh toán',
                        type : 'group'
                    },
                    {
                        key : '[loai_phieu]',
                        value : 'Loại phiếu',
                        type : 'field'
                    },
                    {
                        key : '[ma_phieu]',
                        value : 'Mã phiếu',
                        type : 'field'
                    },
                    {
                        key : '[ngay]',
                        value : 'Ngày',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_duyet]',
                        value : 'Người duyệt',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_dua]',
                        value : 'Người đưa',
                        type : 'field'
                    },
                    {
                        key : '[nguoi_nhan]',
                        value : 'Người nhận',
                        type : 'field'
                    },
                    {
                        key : '[xe]',
                        value : 'Xe',
                        type : 'field'
                    },
                    {
                        key : '[khoan_muc]',
                        value : 'Khoản mục',
                        type : 'field'
                    },
                    {
                        key : '[so_luong]',
                        value : 'Số lượng',
                        type : 'field'
                    },
                    {
                        key : '[don_vi_tinh]',
                        value : 'Đơn vị tính',
                        type : 'field'
                    },
                    {
                        key : '[thanh_tien]',
                        value : 'Thành tiền',
                        type : 'field'
                    },
                    {
                        key : '[thanh_tien_bang_chu]',
                        value : 'Thành tiền bằng chữ',
                        type : 'field'
                    },
                    {
                        key : '[ly_do]',
                        value : 'Lý do',
                        type : 'field'
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Ghi chú',
                        type : 'field'
                    },
                ],
                dataConfig : ''

            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigTablePayment',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    if(field.type=="group"){
                                        ck.startGroup(field.value);
                                    }else{
                                        ck.add(field.key,field.value);
                                    }
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigTablePayment.getData();
                self.load('saveSettingPrintListTicket');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.PRINT_LIST_PAYMENT_CHI,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingPrintListTicket');
                    },
                    functionIfError : function(res){
                        self.unload('saveSettingPrintListTicket');

                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicket');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_LIST_PAYMENT_CHI,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>