<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN HỢP ĐỒNG ĐIỆN TỬ
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="help()"><i class="fa fa-question-circle"></i> Hướng dẫn</button>
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigTicketContract"></textarea>
        </div>
        <div class="modal fade bd-example-modal-lg" id="help" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">HƯỚNG DẪN TÙY CHỈNH</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <div>Tùy chỉnh in danh sách vé có yêu cầu như sau : </div>
                        <ul>
                            <li>Danh sách vé phải được đặt trong bảng.</li>
                            <li>Nên đặt hàng đầu tiên của bảng là tiêu đề.</li>
                            <li>
                                Bảng phải có định danh khi tạo.
                                <div>
                                    * Để đặt định danh cho bảng, click vào ô tạo bảng trên thanh công cụ , tiếp theo mẫu tạo bảng hiển thị hãy bấm vào "Tab mở rộng" và điền định danh, sau đó bấm đồng ý,<br>
                                    Các định danh sẽ được lấy để đẩy dữ liệu tương ứng vào, định danh có thể sử dụng là :
                                    <br>
                                    <ul>
                                        <li>tuy-chinh-in-danh-sach-ve : được dùng cho danh sách vé trên chuyến.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-huy : được dùng cho danh sách vé hủy trên chuyến. ( định danh này chưa được áp dụng )</li>
                                        <li>tuy-chinh-in-danh-sach-ve-khong-cho-ngoi : được dùng cho danh sách vé bán thêm (không chỗ ngồi) trên chuyến.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-don-tai-ben : được dùng cho danh sách vé đón tại bến.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-don-tan-nha : được dùng cho danh sách vé đón tận nhà.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-don-doc-duong : được dùng cho danh sách vé đón dọc đường.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-don-trung-chuyen : được dùng cho danh sách vé đón trung chuyển.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-tra-tai-ben : được dùng cho danh sách vé trả tại bến.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-tra-tan-nha : được dùng cho danh sách vé trả tận nhà.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-tra-doc-duong : được dùng cho danh sách vé trả dọc đường.</li>
                                        <li>tuy-chinh-in-danh-sach-ve-tra-trung-chuyen : được dùng cho danh sách vé trả  trung chuyển.</li>
                                        <li>tuy-chinh-hanh-khach-dang-tren-xe : được dùng cho danh sách hành khách đang
                                            trên xe.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '',
                        value : 'Đơn vị chủ quản',
                        type : 'group'
                    },
                    {
                        key : '[ten_don_vi_chu_quan_don_vi_chu_quan]',
                        value : 'Tên đơn vị chủ quản',
                        type : 'field'
                    },
                    {
                        key : '[ten_nguoi_dai_dien_don_vi_chu_quan]',
                        value : 'Tên người đại diện',
                        type : 'field'
                    },
                    {
                        key : '[chuc_vu_don_vi_chu_quan]',
                        value : 'Chức vụ',
                        type : 'field'
                    },
                    {
                        key : '[dia_chi_don_vi_chu_quan]',
                        value : 'Địa chỉ đơn vị chủ quản',
                        type : 'field'
                    },
                    {
                        key : '[dien_thoai_don_vi_chu_quan]',
                        value : 'Điện thoại',
                        type : 'field'
                    },
                    // {
                    //     key : '[so_fax]',
                    //     value : 'Số Fax',
                    //     type : 'field'
                    // },
                    {
                        key : '[ma_so_thue_don_vi_chu_quan]',
                        value : 'Mã số thuế',
                        type : 'field'
                    },
                    {
                        key : '[email_don_vi_chu_quan]',
                        value : 'Email',
                        type : 'field'
                    },
                    {
                        key : '[so_tai_khoan_don_vi_chu_quan]',
                        value : 'Số tài khoản',
                        type : 'field'
                    },
                    // {
                    //     key : '[chu_ky]',
                    //     value : 'Chữ ký',
                    //     type : 'field'
                    // },
                    {
                        key : '',
                        value : 'Thông tin chuyến',
                        type : 'group'
                    },
                    {
                        key : '[QR_CODE]',
                        value : 'Mã QR code',
                        type : 'field'
                    },
                    {
                        key : '[danh_sach_diem_len]',
                        value : 'Danh sách điểm lên',
                        type : 'field'
                    },
                    {
                        key : '[danh_sach_diem_xuong]',
                        value : 'Danh sách điểm xuống',
                        type : 'field'
                    },
                    {
                        key : '[ngay_ket_thuc_hop_dong]',
                        value : 'Ngày kết thúc hợp đồng',
                        type : 'field'
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : 'Tên tuyến rút gọn',
                        type : 'field'
                    },
                    {
                        key : '[gio_xuat_ben]',
                        value : 'Giờ xuất bến',
                        type : 'field'
                    },
                    {
                        key : '[ngay_xuat_ben]',
                        value : 'Ngày xuất bến',
                        type : 'field'
                    },
                    {
                        key : '[so_luong_ghe]',
                        value : 'Số lượng ghế',
                        type : 'field'
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : 'Địa chỉ điểm lên',
                        type : 'field'
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : 'Địa chỉ điểm xuống',
                        type : 'field'
                    },
                    {
                        key : '[tuyen_cua_chuyen]',
                        value : 'Tuyến chạy của chuyến',
                        type : 'field'
                    },
                    {
                        key : '[tai_xe_chuyen]',
                        value : 'Tài xế của chuyến',
                        type : 'field'
                    },
                    {
                        key : '[sdt_tai_xe]',
                        value : 'Số điện thoại tài xế',
                        type : 'field'
                    },
                    {
                        key : '[phu_xe_chuyen]',
                        value : 'Phụ xe của chuyến',
                        type : 'field'
                    },
                    {
                        key : '[bien_so_xe]',
                        value : 'Biển số xe',
                        type : 'field'
                    },
                    {
                        key: '[mau_xe]',
                        value: 'Màu xe',
                        type: 'field'
                    },
                    {
                        key: '[chung_loai_xe]',
                        value: 'Chủng loại xe',
                        type: 'field'
                    },
                    {
                        key: '[loai_xe]',
                        value: 'Loại xe',
                        type: 'field'
                    },
                    {
                        key: '[thoi_han_khau_hao]',
                        value: 'Thời hạn khấu hao',
                        type: 'field'
                    },
                    {
                        key : '[so_luong_ve]',
                        value : 'Số lượng vé',
                        type : 'field'
                    },
                    {
                        key : '[tong_tien_ve]',
                        value : 'Tổng tiền vé',
                        type : 'field'
                    },
                    {
                        key: '[tong_tien_ve_bang_chu]',
                        value: 'Tổng tiền vé bằng chữ',
                        type: 'field'
                    },
                    {
                        key : '[tong_da_tra]',
                        value : 'Tổng tiền đã trả',
                        type : 'field'
                    },
                    {
                        key : '[tong_chua_tra]',
                        value : 'Tổng tiền chưa trả',
                        type : 'field'
                    },
                    {
                        key : '[ghi_chu_chuyen]',
                        value : 'Ghi chú chuyến',
                        type : 'field'
                    },
                    {
                        key : '[ds_ghe_trong]',
                        value : 'D/s ghế trống',
                        type : 'field'
                    },
                    {
                        key : '',
                        value : 'Thông tin vé',
                        type : 'group'
                    },
                    {
                        key : '[so_thu_tu]',
                        value : 'Số thứ tự',
                        type : 'field'
                    },
                    {
                        key : '[trang_thai_ve]',
                        value : 'Trạng thái vé',
                        type : 'field'
                    },
                    {
                        key : '[ten_ghe]',
                        value : 'Tên ghế',
                        type : 'field',
                    },
                    {
                        key : '[sdt_nguoi_dat]',
                        value : 'SĐT người đặt',
                        type : 'field',
                    },
                    {
                        key : '[ten_nguoi_dat]',
                        value : 'Tên người đặt',
                        type : 'field',
                    },
                    {
                        key : '[sdt_nguoi_di]',
                        value : 'SĐT người đi',
                        type : 'field',
                    },
                    {
                        key : '[ten_nguoi_di]',
                        value : 'Tên người đi',
                        type : 'field',
                    },
                    {
                        key : '[so_luong_ghe]',
                        value : 'Số lượng ghế',
                        type : 'field',
                    },
                    {
                        key : '[tuyen_duong]',
                        value : 'Tuyến',
                        type : 'field',
                    },
                    {
                        key : '[ma_ve]',
                        value : 'Mã vé',
                        type : 'field',
                    },
                    {
                        key : '[gio_di]',
                        value : 'Giờ đi',
                        type : 'field',
                    },
                    {
                        key : '[ngay_di]',
                        value : 'Ngày đi',
                        type : 'field',
                    },
                    {
                        key: '[gio_dat_ve]',
                        value: 'Giờ đặt vé',
                        type : 'field',
                    },
                    {
                        key: '[ngay_dat_ve]',
                        value: 'Ngày đặt vé',
                        type : 'field',
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : 'Tên hành khách',
                        type : 'field',
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : 'Số điện thoại khách',
                        type : 'field',
                    },
                    {
                        key : '[nam_sinh]',
                        value : 'Năm sinh',
                        type : 'field',
                    },
                    {
                        key : '[gia_ve]',
                        value : 'Giá vé',
                        type : 'field',
                    },
                    {
                        key : '[da_thu]',
                        value : 'Đã thu',
                        type : 'field',
                    },
                    {
                        key : '[chua_thu]',
                        value : 'Chưa thu',
                        type : 'field',
                    },
                    {
                        key : '[tai_xe_thu]',
                        value : 'Tài xế thu',
                        type : 'field',
                    },
                    {
                        key : '[nhan_vien_thu]',
                        value : 'Nhân viên thu',
                        type : 'field',
                    },
                    {
                        key : '[diem_len]',
                        value : 'Điểm lên',
                        type : 'field',
                    },
                    {
                        key : '[diem_len_rut_gon]',
                        value : 'Điểm lên viết tắt',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : 'Địa chỉ điểm lên',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_len_tn]',
                        value : 'Đ/c lên TN',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_len_dd]',
                        value : 'Đ/c lên DĐ',
                        type : 'field',
                    },
                    {
                        key : '[ten_diem_len_tc]',
                        value : 'Tên điểm lên TC',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_len_tc]',
                        value : 'Đ/c lên TC',
                        type : 'field',
                    },
                    {
                        key : '[diem_xuong]',
                        value : 'Điểm xuống',
                        type : 'field',
                    },
                    {
                        key : '[diem_xuong_rut_gon]',
                        value : 'Điểm xuống rút gọn',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : 'Địa chỉ điểm xuống',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_xuong_tn]',
                        value : 'Đ/c xuống TN',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_xuong_dd]',
                        value : 'Đ/c xuống DĐ',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_xuong_tc]',
                        value : 'Đ/c xuống TC',
                        type : 'field',
                    },
                    {
                        key : '[ten_diem_xuong_tc]',
                        value : 'Tên điểm xuống TC',
                        type : 'field',
                    },
                    {
                        key : '[xe_van_chuyen]',
                        value : 'Xe vận chuyển',
                        type : 'field',
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : 'Mã liên kết',
                        type : 'field',
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Ghi chú',
                        type : 'field',
                    },
                    {
                        key : '[dai_ly]',
                        value : 'Đại lý',
                        type : 'field',
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : 'Tên công ty',
                        type : 'field',
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : 'Địa chỉ công ty',
                        type : 'field',
                    },
                    {
                        key : '<img src="'+userInfo.logo+'" height="50px">',
                        value : 'logo công ty',
                        type : 'field',
                    },
                    {
                        key: '',
                        value: 'Đại diện',
                        type: 'group'
                    },
                    {
                        key: '[ten_nguoi_dai_dien]',
                        value: 'Tên người đại diện',
                        type: 'field',
                    },
                    {
                        key: '[sdt_nguoi_dai_dien]',
                        value: 'SDT người đại diện',
                        type: 'field',
                    },
                    {
                        key: '[ngay_sinh_nguoi_dai_dien]',
                        value: 'Ngày sinh người đại diện',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_dai_dien]',
                        value: 'Địa chỉ đại diện',
                        type: 'field',
                    },
                    {
                        key: '[diem_len_dai_dien]',
                        value: 'Điểm lên đại diện',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_len_dai_dien]',
                        value: 'Địa chỉ lên đại diện',
                        type: 'field',
                    },
                    {
                        key: '[diem_tra_dai_dien]',
                        value: 'Điểm trả đại diện',
                        type: 'field',
                    },
                    {
                        key: '[dia_chi_tra_dai_dien]',
                        value: 'Địa chỉ trả đại diện',
                        type: 'field',
                    },
                    {
                        key: '[cong_ty_dai_dien]',
                        value: 'Công ty đại diện',
                        type: 'field',
                    },
                    {
                        key: '[email_dai_dien]',
                        value: 'Email đại diện',
                        type: 'field',
                    },
                    {
                        key: '[chuc_vu_dai_dien]',
                        value: 'Chức vụ người đại diện',
                        type: 'field',
                    },
                    {
                        key: '[ma_so_thue_dai_dien]',
                        value: 'Mã số thuế đại diện',
                        type: 'field',
                    },
                    {
                        key: '[cmnd_hc_nguoi_dai_dien]',
                        value: 'CMND/HC người đại diện',
                        type: 'field',
                    },
                    {
                        key: '[ngay_cap_cmnd_hc_nguoi_dai_dien]',
                        value: 'Ngày cấp CMND/HC người đại diện',
                        type: 'field',
                    },
                    {
                        key: '[noi_cap_cmnd_hc_nguoi_dai_dien]',
                        value: 'Nơi cấp CMND/HC người đại diện',
                        type: 'field',
                    },
                    {
                        key: '[stk_thanh_toan]',
                        value: 'Số tài khoản thanh toán',
                        type: 'field',
                    },
                    {
                        key: '[chu_thanh_toan]',
                        value: 'Chủ tài khoản thanh toán',
                        type: 'field',
                    },
                    {
                        key: '[chi_nhanh_thanh_toan]',
                        value: 'Chi nhánh tài khoản thanh toán',
                        type: 'field',
                    },
                    {
                        key: '[ngan_hang_thanh_toan]',
                        value: 'Tên ngân hàng thanh toán',
                        type: 'field',
                    },
                    {
                        key: '[BEN_A_KY]',
                        value: 'Chữ ký bên A',
                        type: 'field',
                    },
                    {
                        key: '[BEN_B_KY]',
                        value: 'Chữ ký bên B',
                        type: 'field',
                    },
                    {
                        key: '[tong_so_luong_ghe]',
                        value: 'Tổng số lượng ghế',
                        type: 'field',
                    },
                    {
                        key: '[diem_bat_dau]',
                        value: 'Điểm bắt đầu',
                        type: 'field',
                    },
                    {
                        key: '[diem_ket_thuc]',
                        value: 'Điểm kết thúc',
                        type: 'field',
                    },
                    {
                        key: '[so_hop_dong]',
                        value: 'Số hợp đồng',
                        type: 'field',
                    },

                ],
                dataConfig : '<div><img src="http://lh3.googleusercontent.com/w6unpSUkIkBhSSZfdYZpPA4ghSjt6zrXOcaC1JmtK5I-l7yclXCHfMYTzzNWfoVDEQ98Flz6t0_X07fczlaoUdo" style="float:left; height:50px"/>&nbsp; &nbsp;[ten_cong_ty]</div><div>&nbsp; &nbsp;[dia_chi_cong_ty]</div><div>&nbsp; &nbsp;Li&ecirc;n hệ : 1900 7034</div><div style="text-align:center"><span style="font-size:20px">DANH S&Aacute;CH H&Agrave;NH KH&Aacute;CH</span></div><div style="text-align:center"><table border="0" cellpadding="0" cellspacing="0" style="width:100%"><tbody><tr><td style="text-align:right; width:30%">Tuyến&nbsp;&nbsp;</td><td style="text-align:left; width:20%">&nbsp; [tuyen_cua_chuyen]</td><td style="text-align:right; width:20%">T&agrave;i xế&nbsp;&nbsp;</td><td style="text-align:left; width:30%">&nbsp;&nbsp;[tai_xe_chuyen]</td></tr><tr><td style="text-align:right">&nbsp;Giờ chạy&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[gio_xuat_ben]&nbsp;[ngay_xuat_ben]</td><td style="text-align:right">Phụ xe&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[phu_xe_chuyen]</td></tr><tr><td style="text-align:right">Biển số&nbsp;&nbsp;</td><td style="text-align:left">&nbsp; [bien_so_xe]</td><td style="text-align:right">Số v&eacute;&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[so_luong_ve]</td></tr></tbody></table><p>&nbsp;</p><table border="1" cellpadding="1" cellspacing="0" id="tuy-chinh-in-danh-sach-ve" style="width:100%"><thead><tr><th scope="col" style="width:50px">STT</th><th scope="col" style="width:150px">M&atilde; v&eacute;</th><th scope="col" style="width:150px">Số Điện Thoại</th><th scope="col">Vị tr&iacute;</th><th scope="col" style="width:200px">Điểm l&ecirc;n</th><th scope="col" style="width:200px">Điểm Xuống</th><th scope="col">Gi&aacute; v&eacute;</th><th scope="col">Đ&atilde; thu</th><th scope="col">C&ograve;n lại</th><th scope="col">Ghi ch&uacute;</th></tr></thead><tbody><tr><td>[so_thu_tu]</td><td>[ma_ve]</td><td>[so_dien_thoai_khach]</td><td>[ten_ghe]</td><td>[diem_len]</td><td>[diem_xuong]</td><td>[gia_ve]</td><td>[da_thu]</td><td>[chua_thu]</td><td>[ghi_chu]</td></tr></tbody></table></div>'

            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigTicketContract',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    if(field.type=="group"){
                                        ck.startGroup(field.value);
                                    }else{
                                        ck.add(field.key,field.value);
                                    }
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigTicketContract.getData();
                self.load('saveSettingPrintListTicket');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.PRINT_TICKET_CONTRACT,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingPrintListTicket');
                    },
                    functionIfError : function(res){
                        self.unload('saveSettingPrintListTicket');

                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicket');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_TICKET_CONTRACT,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            },
            help : function(){
                $(this.$el).find('#help').modal('show');
            },
        }
    }
</script>
