<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH GỬI EMAIL VÉ
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="TicketEmailTemplate"></textarea>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '[trang_thai_ve]',
                        value : 'Trạng thái vé'
                    },
                    {
                        key : '[ten_ghe]',
                        value : 'Tên ghế'
                    },
                    {
                        key : '[tuyen_duong]',
                        value : 'Tuyến'
                    },
                    {
                        key : '[bar_code]',
                        value : 'Barcode'
                    },
                    {
                        key : '[QR_code]',
                        value : 'QR_code'
                    },
                    {
                        key : '[ma_tra_cuu]',
                        value : 'Mã tra cứu'
                    },
                    {
                        key : '[ma_ve]',
                        value : 'Mã vé'
                    },
                    {
                        key : '[gio_di]',
                        value : 'Giờ đi'
                    },
                    {
                        key: '[ngay_di]',
                        value: 'Ngày đi'
                    },
                    {
                        key: '[gio_dat_ve]',
                        value: 'Giờ đặt vé'
                    },
                    {
                        key: '[ngay_dat_ve]',
                        value: 'Ngày đặt vé'
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : 'Tên hành khách'
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : 'Số điện thoại khách'
                    },
                    {
                        key : '[nam_sinh]',
                        value : 'Năm sinh'
                    },
                    {
                        key : '[danh_muc_phu_thu]',
                        value : 'Danh mục phụ thu'
                    },
                    {
                        key : '[gia_ve]',
                        value : 'Giá vé'
                    },
                    {
                        key : '[gia_ve_truoc_hoa_hong_dl]',
                        value : 'Giá vé chưa tính hoa hồng dl'
                    },
                    {
                        key : '[da_thu]',
                        value : 'Đã thu',
                    },
                    {
                        key : '[chua_thu]',
                        value : 'Chưa thu',
                    },
                    {
                        key: '[hinh_thuc_don]',
                        value: 'hình thức đón'
                    },
                    {
                        key: '[diem_len]',
                        value: 'Điểm lên'
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : 'Địa chỉ điểm lên'
                    },
                    {
                        key: '[hinh_thuc_tra]',
                        value: 'hình thức trả'
                    },
                    {
                        key : '[diem_xuong]',
                        value : 'Điểm xuống'
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : 'Địa chỉ điểm xuống'
                    },
                    {
                        key : '[xe_van_chuyen]',
                        value : 'Xe vận chuyển'
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Ghi chú'
                    },
                    {
                        key : '[nguoi_ban_ve]',
                        value : 'Người bán vé'
                    },
                    {
                        key : '[so_luong_ve]',
                        value : 'Số lượng vé'
                    },
                    {
                        key : '[dai_ly]',
                        value : 'Đại lý'
                    },
                    {
                        key: '[ten_phong_ve]',
                        value: 'Tên phòng vé'
                    },
                    {
                        key: '[sdt_phong_ve]',
                        value: 'SDT phòng vé'
                    },
                    {
                        key : '[ngay_hien_tai]',
                        value : 'Ngày hiện tại'
                    },
                    {
                        key : '[gio_hien_tai]',
                        value : 'Giờ hiện tại'
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : 'Tên công ty'
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : 'Địa chỉ công ty'
                    },
                    {
                        key : '[nguoi_in_ve]',
                        value : 'Người in vé'
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : 'Tên tuyến rút gọn'
                    },
                    {
                        key : '[so_lan_in_ve]',
                        value : 'Số lần in vé'
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : 'Mã liên kết'
                    },
                    {
                        key : '[tien_tai_xe_thu]',
                        value : 'Tiền tài xế thu'
                    },
                    {
                        key : '[ten_nguoi_di]',
                        value : 'Tên người đi'
                    },
                    {
                        key : '[sdt_nguoi_di]',
                        value : 'SĐT người đi'
                    },
                    {
                        key: '[ki_hieu_mau_so]',
                        value: 'Kí hiệu mẫu số'
                    },
                    {
                        key: '[ki_hieu]',
                        value: 'Kí hiệu'
                    },
                    {
                        key : '<img src="'+userInfo.logo+'" height="50px">',
                        value : 'logo công ty'
                    },
                ],
                dataConfig : '<table border="0" cellpadding="5" cellspacing="1" style="width:300px"><tbody><tr><td style="text-align:center"><div><span style="font-size:18px">[ten_cong_ty]</span></div><div>[barcode]</div><div><span style="font-size:18px">[ma_ve]</span></div><div style="text-align:left">Tuyến :&nbsp;[tuyen_duong]&nbsp;</div><div style="text-align:left">Giờ đi :&nbsp;[gio_di]&nbsp;[ngay_di]</div><div style="text-align:left">H&agrave;nh kh&aacute;ch :&nbsp;[ten_hanh_khach]</div><div style="text-align:left">SDT&nbsp;:&nbsp;[so_dien_thoai_khach]</div><div style="text-align:left">Ghế :&nbsp;[ten_ghe]</div><div style="text-align:left">Gi&aacute; v&eacute; :&nbsp;[gia_ve]</div><div style="text-align:left">L&ecirc;n :[diem_len]</div><div style="text-align:left">Xuống :&nbsp;[diem_xuong]</div><div style="text-align:left">Xe :&nbsp;[xe_van_chuyen]</div><div style="text-align:left">Ghi ch&uacute; :&nbsp;[ghi_chu]</div></td></tr></tbody></table>'

            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('TicketEmailTemplate',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'My Dropdown Title' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    ck.add(field.key,field.value);
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.TicketEmailTemplate.getData();
                self.load('saveSettingTicketEmailTemplate');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.TICKET_EMAIL_TEMPLATE,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingTicketEmailTemplate');
                    },
                    error : function(res){
                        self.unload('saveSettingTicketEmailTemplate');

                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingTicketEmailTemplate');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.TICKET_EMAIL_TEMPLATE,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingTicketEmailTemplate');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingTicketEmailTemplate');
                    }
                })
            }
        }
    }
</script>
