<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CẤU HÌNH IN VÉ
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <textarea id="PrintConfigTicketTemp"></textarea>
        </div>
    </div>
</template>
<script>
    export default {
        data : function(){
            return {
                fields  :[
                    {
                        key : '[trang_thai_ve]',
                        value : 'Trạng thái vé'
                    },
                    {
                        key : '[ten_ghe]',
                        value : 'Tên ghế'
                    },
                    {
                        key : '[so_luong_ve]',
                        value : 'Số lượng vé'
                    },
                    {
                        key : '[tuyen_duong]',
                        value : 'Tuyến'
                    },
                    {
                        key : '[barcode]',
                        value : 'barcode'
                    },
                    {
                        key : '[ma_ve]',
                        value : 'Mã vé'
                    },
                    {
                        key : '[ma_ve_rg]',
                        value : 'Mã vé rút gọn'
                    },
                    {
                        key : '[gio_di]',
                        value : 'Giờ đi'
                    },
                    {
                        key : '[ngay_di]',
                        value : 'Ngày đi'
                    },
                    {
                        key: '[gio_dat_ve]',
                        value: 'Giờ đặt vé'
                    },
                    {
                        key: '[ngay_dat_ve]',
                        value: 'Ngày đặt vé'
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : 'Tên hành khách'
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : 'Số điện thoại khách'
                    },
                    {
                        key : '[gia_ve]',
                        value : 'Giá vé'
                    },
                    {
                        key : '[da_thu]',
                        value : 'Đã thu',
                    },
                    {
                        key : '[chua_thu]',
                        value : 'Chưa thu',
                    },
                    {
                        key : '[diem_len]',
                        value : 'Điểm lên'
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : 'Địa chỉ điểm lên'
                    },
                    {
                        key : '[diem_xuong]',
                        value : 'Điểm xuống'
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : 'Địa chỉ điểm xuống'
                    },
                    {
                        key : '[xe_van_chuyen]',
                        value : 'Xe vận chuyển'
                    },
                    {
                        key : '[ghi_chu]',
                        value : 'Ghi chú'
                    },
                    {
                        key: '[ten_phong_ve]',
                        value: 'Tên phòng vé'
                    },
                    {
                        key: '[sdt_phong_ve]',
                        value: 'SDT phòng vé'
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : 'Tên công ty'
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : 'Địa chỉ công ty'
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : 'Tên tuyến rút gọn'
                    },
                    {
                        key : '[so_lan_in_ve]',
                        value : 'Số lần in vé'
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : 'Mã liên kết'
                    },
                    {
                        key : '[ten_nguoi_di]',
                        value : 'Tên người đi'
                    },
                    {
                        key : '[sdt_nguoi_di]',
                        value : 'SĐT người đi'
                    },
                    {
                        key : '<img src="'+userInfo.logo+'" height="50px">',
                        value : 'logo công ty'
                    },
                ],
                dataConfig : ''
            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.replace('PrintConfigTicketTemp',{
                height: '800px',
                on: {
                    pluginsLoaded: function() {
                        var editor = this,
                            config = editor.config;

                        editor.ui.addRichCombo( 'field-combo', {
                            label: 'Chèn trường dữ liệu',
                            title: 'Chèn trường dữ liệu',

                            panel: {
                                css: [ CKEDITOR.skin.getPath( 'editor' ) ].concat( config.contentsCss ),
                                multiSelect: false,
                                attributes: { 'aria-label': 'Chọn trường dữ liệu để chèn' }
                            },

                            init: function() {
                                let ck = this;
                                $.each(self.fields,function(f,field){
                                    ck.add(field.key,field.value);
                                })

                            },

                            onClick: function( value ) {
                                editor.focus();
                                editor.fire( 'saveSnapshot' );

                                editor.insertHtml( value );

                                editor.fire( 'saveSnapshot' );
                            }
                        } );
                    }
                }
            });
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let value = CKEDITOR.instances.PrintConfigTicketTemp.getData();
                self.load('saveSettingPrintTicket');
                sendJson({
                    url : urlDBD(API.displaySettingCreate),
                    data : {
                        type : DisplaySetting.PRINT_TICKET_TEMP,
                        value : value
                    },
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('saveSettingPrintTicket');
                    },
                    error : function(res){
                        self.unload('saveSettingPrintTicket');

                    }
                })
            },
            getConfig : function () {
                let self = this;
                $(self.$el).find('textarea').val(self.dataConfig);
                self.load('getSettingPrintTicket');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_TICKET_TEMP
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            $(self.$el).find('textarea').val(res.results.data);
                        }
                        self.unload('getSettingPrintTicket');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintTicket');
                    }
                })
            }
        }
    }
</script>