.tb_thongbao > tbody > tr > td > span{
	font-size: 14px;
	color: gray;
}
.header_top{
	padding: 5px 0;
    width: 100%;
    box-sizing: border-box;
    background: #19448a;
   /* position: absolute;*/
    text-align: center;
	top: 0px;
}
.__detail_login{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.__login table{
	width: 330px;
}
#uid{
	width: 315px;
	margin-bottom: 0px;
	border-radius: 0px;
	height: 30px;
}
#pass{
	width: 315px;
	border-radius: 0px;
	height: 30px;
}
#otpCode{
	width: 315px;
	border-radius: 0px;
	height: 30px;
}
#newPassword{
	width: 315px;
	border-radius: 0px;
	height: 30px;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #053162;
  -webkit-box-shadow: 0 0 6px #053162;
     -moz-box-shadow: 0 0 6px #053162;
          box-shadow: 0 0 6px #053162;
}
.btnDangNhap{
	margin-top: 15px;
	border: 0px;
    width: 100% !important;
    height: 40px;
    background: #053162;
    color: #FFF;
    font-weight: bold;
}
.btnDangNhap:hover{
	background: #375a81;
}
.forgetpass{
	color: #375a81 !important;
	margin-top: 8px;
	display: block;
	font-size: 12px !important;
}
.forgetpass:hover{
	color: #0000FF !important;
}
.site-footer {
   /* position: absolute;
    bottom: 0px;*/
	height: 20px;
    background: #363a45;
    color: #fff;
    padding: 10px 0;
    width: 100%;
	font-size: 14px;
}
.fot_right{
	position: absolute;
    right: 60px;
    bottom: 10px;
}
.fot_left{
	position: absolute;
	left: 60px;
}
.color_light{
	color: #FFF !important;
}
input[type="password"]
{
  -webkit-text-security: disc;
  color: #053162 !important;
}
.hterror{
	color: #F00;
	font-size: 14px;
	text-transform:uppercase;
	
}