<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col">
                    {{$t('group-permission')}}
                </div>
                <div class="col-auto">
                    <button class="btn btn-success btn-sm" v-if="servicePackageCompany" @click="openModalAddPermission()"><i class="fa fa-plus-circle"></i> {{$t('add-group-permission')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12" v-if="listRole">
            <table class="table table-sm table-striped">
                <tbody>
                    <tr>
                        <th>{{$t('No-')}}</th>
                        <th>{{$t('name-group-permission')}}</th>
                        <th>{{$t('date-created')}}</th>
                        <th style="width : 130px" class="text-right">{{$t('option')}}</th>
                    </tr>
                    <template v-for="(role,r) in listRole">
                        <tr>
                            <td>{{r+1}}</td>
                            <td>{{role.name}}</td>
                            <td>{{role.createdDate|customDate('#DD#-#MM#-#YYYY#')}}</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary" @click="openModalUpdatePermission(role)" :title="$t('button.edit')" data-toogle="tooltip"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-danger" @click="deleteRole(role.id)" :title="$t('button.delete')" data-toogle="tooltip"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </template>
                    <tr v-if="listRole.length<0" colspan="4">
                        <td>{{$t('no-data-available')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalAddPermission" tabindex="-1" role="dialog" aria-labelledby="modalAddPermission" aria-hidden="true" v-if="servicePackageCompany">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('create-group-permission')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <add-group-permission :servicePackageCompany="servicePackageCompany" ref="AddGroupPermissionComponent" @event="eventAddGroupPermission"></add-group-permission>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddGroupPermissionComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdatePermission" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePermission" aria-hidden="true" v-if="servicePackageCompany">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('update-group-permission')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <update-group-permission :servicePackageCompany="servicePackageCompany" ref="UpdateGroupPermissionComponent" @event="eventUpdateGroupPermission"></update-group-permission>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateGroupPermissionComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddGroupPermission from './AddGroupPermission.vue';
    import UpdateGroupPermission from './UpdateGroupPermission.vue';

    export default {
        components : {AddGroupPermission,UpdateGroupPermission},
        data : function () {
            return {
                listRole : null,
                servicePackageCompany : null,
            }
        },
        created : function(){
            this.getGroupPermission();
            this.getServicePackageFunction();
        },
        methods : {
            getGroupPermission : function () {
                let self = this;
                self.load('getGroupPermission');
                sendJson({
                    url : urlDBD(API.permissionList),
                    data : {
                        page : 0,
                        count :30
                    },
                    success : function (res) {
                        self.listRole = res.results.listRole;
                        self.unload('getGroupPermission');
                    },
                    functionIfError : function () {
                        self.unload('getGroupPermission');
                    }
                })
            },
            getServicePackageFunction : function(){
                let self = this;
                self.load('getServicePackageFunction');
                sendJson({
                    url : urlDBD(API.servicePackageGetFunction),
                    success : function (res) {
                        console.log(res);
                        self.servicePackageCompany = res.results.servicePackageCompany
                        self.unload('getServicePackageFunction');
                    },
                    functionIfError : function () {
                        self.unload('getServicePackageFunction');
                    }
                })
            },
            openModalAddPermission : function(){
                this.$refs.AddGroupPermissionComponent.refresh();
                $(this.$el).find('#modalAddPermission').modal('show');
            },
            eventAddGroupPermission : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getGroupPermission();
                        $(self.$el).find('#modalAddPermission').modal('hide');
                        break;
                }
            },
            openModalUpdatePermission : function(permission){
                this.$refs.UpdateGroupPermissionComponent.refresh(permission);
                $(this.$el).find('#modalUpdatePermission').modal('show');
            },
            eventUpdateGroupPermission : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getGroupPermission();
                        $(self.$el).find('#modalUpdatePermission').modal('hide');
                        break;
                }
            },
            deleteRole : function (roleId) {
                let self = this;
                if(!confirm(self.$t('confirm-delete'))){
                    return false;
                }
                self.load('deleteRole');
                sendJson({
                    url : urlDBD(API.permissionDelete),
                    data : {
                        id : roleId,
                    },
                    success : function (res) {
                        self.unload('deleteRole');
                        self.getGroupPermission();
                        notify(self.$t('notify.delete-success'), 'success');
                    },
                    functionIfError : function (res) {
                        self.unload('deleteRole');
                    }
                })
            }
        }
    }
</script>