<template>
    <multiselect @input="input" :multiple="multiple" select-label="" deselect-label="" track-by="id" :options="options" :value="value" label="name" placeholder="Nhập tìm kiếm" :loading="loading" @search-change="get" @open="open">
        <template slot="clear" v-if="allowClear">
            <div class="multiselect__clear" v-if="value&&value.length>0" @click="$emit('input',null)"><i class="fa fa-trash text-danger"></i></div>
        </template>
    </multiselect>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            allowClear : {
                default : true
            },
            multiple : {
                default : false,
            }
        },
        data : function () {
            return {
                options : [],
                loading : false,
            }
        },
        methods : {
            get : function (query) {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 20,
                    name : query
                };
                self.options =[];
                sendJson({
                    url : urlDBD(API.permissionList),
                    data : dataReq,
                    success : function (data) {
                        self.options=data.results.listRole;
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            input :function (newVal) {
                this.$emit('input',newVal);
            },
            open : function () {
                if(this.options||this.options.length<1){
                    this.get();
                }
            }
        }
    }
</script>