<template>
    <div class="row" v-if="roles">
        <div class="col-12 form-group">
            <label>{{$t('name-group-permission')}}</label>
            <input type="text" class="form-control" id="roleNameUpdate" v-model="roleName">
        </div>
        <template v-for="(permission , p) in servicePackageCompany.listPermission">
            <div class="col-12 col-md-4 top10">
                <div class="w-100 border">
                    <div class="w-100 font-weight-bold padding5 bg-e">{{$root.rolesName.resources[permission.resource]}}</div>
                    <div class="w-100 padding5">
                        <template v-for="operation in permission.operations">
                            <div class="w-100">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" :value="operation" :id="'check-update-'+permission.resource+'-'+operation" v-model="roles[permission.resource]">
                                    <label class="form-check-label font-weight-normal" :for="'check-update-'+permission.resource+'-'+operation">{{$root.rolesName.operations[operation]||''}}</label>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    export default {
        props : ['servicePackageCompany'],
        data : function () {
            return {
                roleId : null,
                roleName : '',
                roles : null,
            }
        },
        methods : {
            get : function () {
                console.log(this.servicePackageCompany.listPermission)
            },
            refresh : function (permissionRoles) {
                let self = this;
                let role = {};
                $.each(self.servicePackageCompany.listPermission,function(p,permission){
                    role[permission.resource] = [];
                });
                $.each(permissionRoles.listPermission,function(p,permission){
                    role[permission.resource] = permission.operations;
                });
                self.roleName = permissionRoles.name;
                self.roleId = permissionRoles.id;
                self.roles = role;
            },
            save : function () {
                let self = this;
                if(!self.roleName){
                    notify(self.$t('notify.plz-enter-name-group-permission'),"error");
                    $(this.$el).find('#roleNameUpdate').focus();
                    return false;
                }
                let data = {
                    companyId : userInfo.userInfo.companyId,
                    id : self.roleId,
                    name : self.roleName,
                    listPermission : [],
                }
                $.each(self.roles , function(r,role){
                    if(role.length>0){
                        data.listPermission.push({resource : r,operations : role});
                    }
                });
                self.load('savePermissionGroupUpdate');
                sendJson({
                    url : urlDBD(API.permissionUpdate),
                    data : data,
                    success : function (res) {
                        self.unload('savePermissionGroupUpdate');
                        self.$emit('event',{eventName : 'saveSuccess',data : res})
                    },
                    functionIfError : function (res) {
                        self.unload('savePermissionGroupUpdate');
                        self.$emit('event',{eventName : 'saveError',data : res})
                    }
                })
            }
        }
    }
</script>