<template>
<div class="mt-24px d-flex flex-wrap">
    <template v-if="goodsesSelected.length > 0">
        <template v-for="(goods, index) in goodsesSelected">
            <div :key="index" style="max-width: 350px">
                <!-- <goods-item class="m-8px" :goods="goods" :showScanNumber="true" @view-goods="handlerViewGoods($event)" @change-status="changeGoodsStatus($event)"/> -->
                <goods-item class="m-8px" :goods="goods" :showScanNumber="true"/>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="w-100">
            <h3 class="text-center">Quét Bar Code để thêm hàng vào danh sách điều hành.</h3>
        </div>
    </template>
</div>
</template>

<script>
import {mapState} from 'vuex';
import GoodsItem from './GoodsItem'
import {GoodsList, GoodsStatus, Goods} from "../../../class/goods_v2";

export default {
    components: { 
        GoodsItem 
    },
    computed: {
        ...mapState({
            goodsesSelected: state =>  state.ManageGoods.goodsesSelected,
            viewConfig: state =>  state.ManageGoods.viewConfig,
        }),
    },
}
</script>

<style>

</style>