<template>
<div>
    <div class="w-25 d-flex align-items-center mb-16px">
        <label for="" class="mr-8px white-space-nowrap">Gom hàng theo</label>
        <select class="form-control" v-model="groupOptionSelected" @change="switchGroupAction">
            <option v-for="option in groupOptions" :key="option.value" :value="option.value" >{{ option.label }}</option>
        </select>
    </div>
    <table class="table table-sm table-bordered" style="background-color: #fff">
        <thead>
            <th>Mã đơn hàng</th>
            <th>Người gửi</th>
            <th>Người nhận</th>
            <th>Bưu cục gửi</th>
            <th>Bưu cục trả</th>
            <th>Tổng tiền hàng</th>
        </thead>
        <tbody>
            <template v-if="true">
                <template v-for="(goodsContent, key) in goodsGroup">
                    <tr :key="key">
                        <td colspan="4">
                            <input :id="key" type="checkbox" class="mr-8px" v-model="goodsContent.checked" @change="handleCheckAllChange(key, goodsContent.checked)">
                            <label :for="key">
                                <b v-if="key != 'EMPTY'">{{ goodsContent.groupContent.name }} -  {{ goodsContent.groupContent.address }}</b>
                                <b v-else>Chưa chọn {{ groupOptions[groupOptionSelected].label }}</b>
                                <b> ( {{ goodsContent.data.length }} ) </b>
                            </label> 
                        </td>
                    </tr>
                    <template v-for="(goods, k) in goodsContent.data">
                        <GoodsGroupItem :goods="goods" :key="key + k" @change-group-item="handlerGoodsChange($event)" />
                    </template>
                </template>
            </template>
            <template v-else>
                <tr>
                    <td colspan="6" class="text-center">Không có đơn hàng nào !</td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
</template>

<script>
import {mapState} from 'vuex';
import GoodsGroupItem from './GoodsGroupItem'

export default {
    components: {GoodsGroupItem},
    data() {
        return {
            goodsGroup: null,
            groupOptionSelected: 0,
            groupOptions: [
                { value: "0", label: "Bưu cục gửi" },
                { value: "1", label: "Bưu cục trả" },
                { value: "2", label: "Kho" },
            ]
        }
    },
    mounted () {
    },
    computed: {
        ...mapState({
            goodsesSelected: state =>  state.ManageGoods.goodsesSelected,
            goodses: state =>  state.ManageGoods.listGoods,
        }),
    },

    methods: {
        switchGroupAction() {
            if(this.groupOptionSelected == 0 || this.groupOptionSelected == 1) {
                this.goodsGroup = this.getGoodsByPoint(this.groupOptionSelected)
            } else {
                this.goodsGroup = this.groupByWareHouse()
            }
        },

        getGoodsByPoint (groupAction = 0) {
            let goodsByPoint = {}
            let groupName = groupAction == 0 ? 'receivedPoint' : 'deliveryPoint'
            let goodses = _.cloneDeep(this.goodses)

            goodses.forEach( goods => {
                if(goods[groupName] && goods[groupName].id) {
                    if(!goodsByPoint[goods[groupName].id]) {
                        goodsByPoint[goods[groupName].id] = {}
                        goodsByPoint[goods[groupName].id]['groupContent'] = goods[groupName]
                        goodsByPoint[goods[groupName].id]['data'] = []
                        goodsByPoint[goods[groupName].id]['checked'] = false
                    }
                    goodsByPoint[goods[groupName].id]['data'].push(goods)
                } else {
                    if(!goodsByPoint['EMPTY']) {
                        goodsByPoint['EMPTY'] = {}
                        goodsByPoint['EMPTY']['checked'] = false
                        goodsByPoint['EMPTY']['data'] = []
                    }
                    goodsByPoint['EMPTY']['data'].push(goods)
                }
            })

            return goodsByPoint;
        },

        groupByWareHouse() {
            let listGoodsByWareHouse = {}
            let goodses = _.cloneDeep(this.goodses)
            let listGoods = goodses.map((value) => {
                value.warehouseInfo = null
                value.locations.forEach(val => {
                    if(val.warehouseInfo && val.warehouseInfo.id) {
                        value.warehouseInfo = val.warehouseInfo
                    } 
                })
                return value
            })

            listGoods.forEach((value) => {
                if(value.warehouseInfo){
                    if(!listGoodsByWareHouse[value.warehouseInfo.id]) {
                        listGoodsByWareHouse[value.warehouseInfo.id] = {}
                        listGoodsByWareHouse[value.warehouseInfo.id]['groupContent'] = value.warehouseInfo
                        listGoodsByWareHouse[value.warehouseInfo.id]['data'] = []
                    } 
                    listGoodsByWareHouse[value.warehouseInfo.id]['data'].push(value)
                } else {
                    if(!listGoodsByWareHouse['EMPTY']) {
                        listGoodsByWareHouse['EMPTY'] = {}
                        listGoodsByWareHouse['EMPTY']['groupContent'] = value.warehouseInfo
                        listGoodsByWareHouse['EMPTY']['data'] = []
                    } 
                    listGoodsByWareHouse['EMPTY']['data'].push(value)
                }
            })

            return listGoodsByWareHouse
        },

        handleCheckAllChange (key, toggle) {
            if(toggle) {
                this.$store.commit('SET_GOODSES_SELECTED', this.goodsGroup[key]['data'])
            } else {
                this.goodsGroup[key]['data'].forEach(goods => {
                    this.$store.commit('UNSET_GOODS_SELECTED', goods.id)
                })
            }
            
        },

        handlerGoodsChange (payload) {
            let goods = payload.goods
            let toggle = payload.selected
            const deliveryPointId = goods.deliveryPoint ? goods.deliveryPoint.id : 'EMPTY'
            
            if(toggle) {
                this.$store.commit('SET_GOODSES_SELECTED', goods)
            } else {
                this.$store.commit('UNSET_GOODS_SELECTED', goods.id)
            }

            let sameChecked = []
            
            if( deliveryPointId == 'EMPTY' ) {
                sameChecked = this.goodsesSelected.filter( _ => _.deliveryPoint == null)
            } else {
                sameChecked = this.goodsesSelected.filter( _ => _.deliveryPoint.id == goods.deliveryPoint.id)
            }
            this.goodsGroup[deliveryPointId].checked = (sameChecked.length == this.goodsGroup[deliveryPointId].data.length) && toggle 
        }
    },

    watch: {
        goodses: function (value) {
            if( typeof value != 'undefined' ) {
                this.goodsGroup = this.getGoodsByPoint()
            }
        }
    }
}
</script>

<style>

</style>