<template>
<div class="goodsv2-item card cursor-pointer mb-2 px-2 py-2" 
    :class="{'selected':isSelected, 
    'full': isScanFull && showScanNumber,
    'notFull': !isScanFull && showScanNumber}" 
    @click="toggleGoodsSelected(goods)">
    <div class="mb-2 d-flex align-items-center justify-content-between">
        <h5 class="text-warning" :title="'#' + goods.code">
            #{{goodsCode}}
            <el-button v-if="showScanNumber" size="mini" class="px-4px py-4px mr-4px"><i class="fas fa-barcode mr-8px"></i>
                {{ goods.scanNumber > goods.details.length ? goods.details.length : goods.scanNumber }} / {{ goods.details.length }}
            </el-button> 
        </h5>
        <div class="d-flex">
            <el-popover
                placement="top"
                width="300"
                trigger="hover">
                <p v-if="goods.transportTrip">Chuyến {{ tranportTripStr  }}</p>
                <el-button v-if="goods.transportTrip" size="mini" class="px-4px py-4px mr-4px" slot="reference"><i class="fas fa-car-alt"></i></el-button>
            </el-popover>

            <el-popover
                placement="top"
                width="300"
                trigger="hover">
                <template v-if="warehouseInfo.length > 0">
                    <p class="mb-8px" v-for="(warehouse, index) in warehouseInfo" :key="index">- Kho hàng {{ warehouse['name'] + ' - ' + warehouse['address']  }}</p>
                </template>    
                <el-button v-if="warehouseInfo.length > 0" size="mini" class="px-4px py-4px mr-4px" slot="reference"><i class="fas fa-warehouse"></i></el-button>
            </el-popover>
            <el-popover
                placement="top"
                width="300"
                trigger="hover">
                <div>
                    <!-- <div class="p-8px p-4px text-light cursor-pointer" @click="$emit('change-status', {goods: goods, status: 1})" :style="{'background-color': goodsStatus.getStatusByValue(1)['color']}">{{ goodsStatus.getStatusByValue(1)['label'] }}</div> -->
                    <div class="p-8px p-4px text-light cursor-pointer" @click="callGoodDeliver('SuccessGoods')" :style="{'background-color': goodsStatus.getStatusByValue(6)['color']}">{{ goodsStatus.getStatusByValue(6)['label'] }}</div>
                    <div class="p-8px p-4px text-light cursor-pointer" @click="callGoodDeliver('CancelGoods')" :style="{'background-color': goodsStatus.getStatusByValue(7)['color']}">{{ goodsStatus.getStatusByValue(7)['label'] }}</div>
                    <!-- <div class="p-8px p-4px text-light cursor-pointer" @click="$emit('change-status', {goods: goods, status: 0})" :style="{'background-color': goodsStatus.getStatusByValue(0)['color']}">{{ goodsStatus.getStatusByValue(0)['label'] }}</div> -->
                </div>
                <el-button size="mini" class="px-4px py-4px mr-4px" slot="reference"><i class="fas fa-ellipsis-h"></i></el-button>
            </el-popover>

            <el-button size="mini" class="px-4px py-4px" @click.stop="onViewGoods"  slot="reference"><i class="far fa-eye"></i></el-button>

        </div>
    </div>
    <div>
        <h6 class="mb-1"> <b class="text-primary">Ngày giờ tạo: </b>{{ goods.createdTime|customDate('#hhhh#:#mm# #DD#/#MM#/#YYYY#') }}</h6>
        <h6 class="mb-1"> <b class="text-primary">Người gửi: </b> <span>{{goods.sender.name}} - {{goods.sender.phoneNumber}}</span></h6>
        <h6 class="mb-1"> <b class="text-primary">Người nhận: </b> <span>{{goods.receiver.name}} - {{goods.receiver.phoneNumber}}</span></h6>
        <h6 class="mb-1"> 
            <b class="text-primary">Đã trả/Tổng tiền hàng: </b> 
            <span><b class="mr-4px" :class="{'text-success': goods.paid == goods.totalFee, 'text-danger': goods.paid != goods.totalFee}">
                {{goods.paid | number}}</b>/ <b class="ml-4px">{{goods.totalFee | number}}</b>đ
            </span>
        </h6>
        <!-- <h6 class="mb-1"> <b class="text-primary">Số dòng: </b> <span>{{goods.details.length}}</span></h6> -->
    </div>
    <button v-if="isSelected" @click.stop="$store.commit('UNSET_GOODS_SELECTED', goods.id)" class="bg-info goodsv2-item__close"><i class="fas fa-times"></i></button>
    <!-- <hr> -->
    <!-- <div class="flex-center-between">
        <b>{{ goods.detailContent.name }}</b>
    </div> -->
</div>
</template>

<script>
import icon from '../icon'
import {mapState} from 'vuex';
import {GoodsStatus} from "../../../class/goods_v2";

export default {
    components: {},
    props: {
        goods: {
            type: Object,
            default: null
        },
        showScanNumber: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            icon: icon,
            goodsStatus: new GoodsStatus()
        }
    },
    computed: {
        ...mapState({
            goodsesSelected: state => state.ManageGoods.goodsesSelected,
            goodsHovering: state => state.ManageGoods.goodsHovering,
        }),

        isSelected() {
            return this.goodsesSelected.filter(_ => _.code == this.goods.code)[0] ? true : false
        },

        goodsCode() {
            return this.goods.code.length <= 13 ? this.goods.code : this.goods.code.substring(0,13) + "..."
        },

        isScanFull() {
            return this.goods.scanNumber >= this.goods.details.length
        },

        warehouseInfo() {
            let warehouses = []

            if(this.goods.locations.length > 0) {
                this.goods.locations.forEach(value => {
                    if(value.warehouseInfo && value.warehouseInfo.id) {
                        warehouses.push(value.warehouseInfo)
                    } 
                })
            }

            return warehouses
        },

        tranportTripStr() {
            return this.$options.filters.customDate(this.goods.transportTrip.tripStartTime,'#hhhh#:#mm#',true) + ' ' + this.$options.filters.strToDate(this.goods.transportTrip.tripStartDate) + ' - ' + this.goods.transportTrip.route.name + ' - ' + this.goods.transportTrip.vehicle.numberPlate
        }
    },
    methods: {
        toggleGoodsSelected(goods) {
            this.$store.commit('SET_GOODSES_SELECTED', goods)
        },

        onViewGoods() {
            this.$store.commit('TOOGLE_GOODS_VIEWING', this.goods)
        },

        callGoodDeliver(action) {
            this.$store.commit('TOOGLE_MANAGE_GOODS_ACTION', action)
            this.$store.commit('SET_GOODS_DELIVERING', this.goods)
        }
    },
}
</script>

<style lang="scss" scoped>
.goodsv2-item:hover {
    background-color: #F8E7CD;
}
.goodsv2-item.selected{
    background-color: #F8E7CD;
    border-color: #014886
}
.goodsv2-item.full {
    background-color: #91eab9!important;
}
.goodsv2-item.notFull {
    background-color: #F8E7CD!important;
}

.text-success { color: #00C48C!important; }
.bg-success-200 { background-color: #D5F2EA!important; }
.bg-orange { background-color: #F8E7CD!important; }
.text-warning { color: #F39B13!important; }
.text-primary { color: #084388!important; }
.bg-secondary { background-color: #ECEDF1!important; }


.goodsv2-item:hover .goodsv2-item__close {
    display: block;
}
.goodsv2-item__close:hover {
    cursor: pointer;
}
.goodsv2-item__close {
    display: none;
    border-radius: 50%;
    color: #fff;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    outline: none;
}
</style>