<template>
<div class="d-flex">
    <div v-if="viewConfig['REQUEST']" class="av-block p-16px mx-16px" style="min-width: 350px; min-height: 80vh">
        <h5 class="mb-8px" :style="{'color': goodsStatus.getStatusByValue(1).color}">{{ goodsStatus.getStatusByValue(1).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.REQUEST">
            <template v-for="(goods, index) in listGoodsByStatus.REQUEST">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
    <div v-if="viewConfig['REQUEST_SUCCESS']" class="av-block p-16px mr-8px" style="min-width: 350px; min-height: 80vh">
        <h5 class="mb-16px" :style="{'color': goodsStatus.getStatusByValue(2).color}">{{ goodsStatus.getStatusByValue(2).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.REQUEST_SUCCESS">
            <template v-for="(goods, index) in listGoodsByStatus.REQUEST_SUCCESS">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
    <div v-if="viewConfig['ON_VEHICLE']" class="av-block p-16px mx-16px" style="min-width: 350px; min-height: 80vh;">
        <h5 class="mb-16px" :style="{'color': goodsStatus.getStatusByValue(3).color}">{{ goodsStatus.getStatusByValue(3).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.ON_VEHICLE">
            <template v-for="(goods, index) in listGoodsByStatus.ON_VEHICLE">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
    <div v-if="viewConfig['ON_ROOM_DELIVERY']" class="av-block p-16px mx-16px" style="min-width: 350px; min-height: 80vh">
        <h5 class="mb-16px" :style="{'color': goodsStatus.getStatusByValue(4).color}">{{ goodsStatus.getStatusByValue(4).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.ON_ROOM_DELIVERY">
            <template v-for="(goods, index) in listGoodsByStatus.ON_ROOM_DELIVERY">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
    <div v-if="viewConfig['DELIVERING']" class="av-block p-16px mx-16px" style="min-width: 350px; min-height: 80vh">
        <h5 class="mb-16px" :style="{'color': goodsStatus.getStatusByValue(5).color}">{{ goodsStatus.getStatusByValue(5).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.DELIVERING">
            <template  v-for="(goods, index) in listGoodsByStatus.DELIVERING">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
    <div v-if="viewConfig['DELIVERY_SUCCESS']" class="av-block p-16px mx-16px" style="min-width: 350px; min-height: 80vh">
        <h5 class="mb-16px" :style="{'color': goodsStatus.getStatusByValue(6).color}">{{ goodsStatus.getStatusByValue(6).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.DELIVERY_SUCCESS">
            <template v-for="(goods, index) in listGoodsByStatus.DELIVERY_SUCCESS">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
    <div v-if="viewConfig['DELIVERY_ERROR']" class="av-block p-16px mx-16px" style="min-width: 350px; min-height: 80vh">
        <h5 class="mb-8px" :style="{'color': goodsStatus.getStatusByValue(7).color}">{{ goodsStatus.getStatusByValue(7).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.DELIVERY_ERROR">
            <template v-for="(goods, index) in listGoodsByStatus.DELIVERY_ERROR">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
    <div v-if="viewConfig['CANCELED']" class="av-block p-16px mx-16px" style="min-width: 350px; min-height: 80vh">
        <h5 class="mb-8px" :style="{'color': goodsStatus.getStatusByValue(0).color}">{{ goodsStatus.getStatusByValue(0).label }}</h5>
        <div v-if="listGoodsByStatus && listGoodsByStatus.CANCELED">
            <template v-for="(goods, index) in listGoodsByStatus.CANCELED">
                <goods-item :key="index" :goods="goods"/>
            </template>
        </div>
    </div>
</div>
</template>

<script>
import {mapState} from 'vuex';
import GoodsItem from './GoodsItem'
import {GoodsList, GoodsStatus, Goods} from "../../../class/goods_v2";

export default {
    components: {
        GoodsItem
    },

    data() {
        let goodsStatus = new GoodsStatus();

        return {
            goodsStatus: goodsStatus,
        }
    },

    computed: {
        ...mapState({
            goodsesSelected: state =>  state.ManageGoods.goodsesSelected,
            viewConfig: state =>  state.ManageGoods.viewConfig,
            goodses: state =>  state.ManageGoods.listGoods,
            // goodsViewing: state =>  state.ManageGoods.goodsViewing,
        }),

        listGoodsByStatus () {
            let result = GoodsStatus.enum()
            
            Object.keys(result).forEach(key => {
                result[key] = []
            })

            if(this.goodses) {
                this.goodses.forEach(value => {
                    let statusName = this.goodsStatusMap[value.status.value] 
                    result[statusName].push(value)
                })
            }

            return result;
        },

        goodsStatusMap () {
            let result = {}

            GoodsStatus.properties().forEach(value => {
                result[value.value] = value.name
            });

            return result;
        }
    },

    mounted() {
        
    },

    methods: {
    }
}
</script>

<style>

</style>