<template>
<tr>
    <td>
        <input @change="handlerChange" class="ml-8px mr-8px" :id="goods.id" type="checkbox" :checked="isSelected">
        <label class="cursor-pointer" :for="goods.id">{{ goods.code }}</label>
    </td>
    <td>{{ goods.sender.name }} - {{ goods.sender.phoneNumber }}</td>
    <td>{{ goods.receiver.name }} - {{ goods.receiver.phoneNumber }}</td>
    <td> 
        <span>{{ goods.receivedPoint ? goods.receivedPoint.name : "" }}</span> <br>
        <span class="cursor-pointer" :title="goods.collection ? goods.collection.address : ''">{{ collectionAddress }}</span>
    </td>
    <td>
        <span>{{ goods.deliveryPoint ? goods.deliveryPoint.name : "" }}</span> <br>
        <span class="cursor-pointer" :title="goods.delivery ? goods.delivery.address : ''">{{ deliveryAddress }}</span>
    </td>
    <td>{{ goods.totalFee | number }}</td>
</tr>   
</template>

<script>
import {mapState} from 'vuex';

export default {
    props: ['goods'],
    computed: {
        ...mapState({
            goodsesSelected: state =>  state.ManageGoods.goodsesSelected,
        }),
        isSelected() {
            return this.goodsesSelected.filter(_ => _.id == this.goods.id)[0] ? true : false
        },
        collectionAddress() {
            if(this.goods.collection && this.goods.collection.address) {
                return this.goods.collection.address.length > 30 ? this.goods.collection.address.slice(0,30) + "..." : this.goods.collection.address
            }

            return ""
        },
        deliveryAddress() {
            if(this.goods.delivery && this.goods.delivery.address) {
                return this.goods.delivery.address.length > 30 ? this.goods.delivery.address.slice(0,30) + "..." : this.goods.delivery.address
            }

            return ""
        }
    },
    methods: {
        handlerChange() {
            this.$emit('change-group-item', {goods: this.goods, selected: !this.isSelected})
        }
    }
}
</script>

<style>

</style>