<template>
<div>
    <el-dialog width="30%" title="Nhập hàng vào kho" @closed="warehousesBreadcrumbs = null" :visible.sync="modal.wareHouse">
        <div class="d-flex mb-16px">
            <span class="goods-brc" v-for="(brc, index) in warehousesBreadcrumbs" :key="index">{{ brc }}</span>
        </div>
        <div>
            <el-tree :data="warehouseTree" @node-click="selectTreeWareHouse"></el-tree>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','IOWareHouse')">Đóng</el-button>
            <el-button type="primary" @click="updateGoods">Lưu</el-button>
        </div>
    </el-dialog>

    <el-dialog width="30%" title="Xếp hàng lên xe" :visible.sync="modal.assignTrip">
        <div>
            <el-date-picker v-model="searchTrip.date" class="mb-8px w-100" placeholder="Ngày" format="dd-MM-yyyy" value-format="yyyyMMdd" />
            <select-route v-model="searchTrip.route"  class="mb-8px w-100" filterable placeholder="Chọn tuyến" @input="getTrips()"/>
            <el-select v-model="assignTrip.trip" class="w-100 mb-8px" filterable placeholder="Chọn chuyến" @input="handerSelectTrip" value-key="tripId">
                <el-option
                        v-for="trip in listTrips"
                        :key="trip.tripId"
                        :label="$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true) + ' - ' + trip.route.name + ' - ' + trip.vehicle.numberPlate"
                        :value="trip"
                ></el-option>
            </el-select>
            <hr>
            <select-vehicle class="mb-8px w-100" placeholder="Chọn xe" v-model="assignTrip.vehicle" disabled/>
            <e-select-user class="w-100 mb-16px" :multiple="true" :value="assignTrip.drivers" placeholder="Chọn tài xế" disabled/>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignTrip')">Đóng</el-button>
            <el-button type="primary" @click="updateGoods">Lưu</el-button>
        </div>
    </el-dialog>

    <el-dialog width="30%" title="Trả hàng" :visible.sync="modal.assignDriver">
        <div>
            <e-select-user class="w-100 mb-16px" v-model="assignCourier.courier" placeholder="Chọn tài xế"/>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignDriver')">Đóng</el-button>
            <el-button type="primary" @click="updateGoods">Lưu</el-button>
        </div>
    </el-dialog>

    <el-dialog width="30%" title="Hủy hàng" :visible.sync="modal.cancelGoods">
        <div>
            <label for="" class="mb-4px">Lý do thất bại: </label>
            <el-input type="textarea" v-model="deliver.failReason"></el-input>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','CancelGoods')">Đóng</el-button>
            <el-button type="primary" @click="updateGoodsDeliver()">Lưu</el-button>
        </div>
    </el-dialog>

    <el-dialog width="30%" title="Giao hàng thành công" :visible.sync="modal.successGoods">
        <div class="form-group">
            <label for="">Tiền thanh toán</label>
            <el-input class="w-100" v-model="deliver.pay"></el-input>
        </div>
        <div class="form-group">
            <label for="">Phương thức thanh toán</label>
            <select-payment-method class="w-100"  v-model="deliver.paymentType"/>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','SuccessGoods')">Đóng</el-button>
            <el-button type="primary" @click="updateGoodsDeliver()">Lưu</el-button>
        </div>
    </el-dialog>

    <el-dialog width="70%" title="" @closed="$store.commit('TOOGLE_GOODS_VIEWING', null)" :visible.sync="modal.viewGoods">
        <form-save-goods @cancle-save-goods="$store.commit('TOOGLE_GOODS_VIEWING', null)" :goodsData="goodsViewing" />
    </el-dialog>

    <!-- <div class="d-none">
        <print-goods ref="printGoods" :listGoods="listGoods"/>
    </div>

    <div class="d-none">
        <div data-action="printGoods" v-html="printTemplate"></div>
    </div> -->
</div>
</template>

<script>
import { mapState, mapActions} from 'vuex';
import { GoodsStatus } from "../../../class/goods_v2";
import SelectRoute from '../../Route/SelectRoute';
import SelectVehicle from '../../Vehicle/SelectVehicle';
import ESelectUser from '../../User/ESelectUser'
import SelectPaymentMethod from '../SelectPaymentMethod';
import FormSaveGoods from '../FormSaveGoods'

export default {
    components: {
        SelectRoute,
        SelectVehicle,
        ESelectUser,
        SelectPaymentMethod,
        FormSaveGoods,
    },
    data() {
        return {
            warehouses: [],
            warehousesBreadcrumbs: [],
            warehousesSelected: {},

            searchTrip: {
                date: new Date().customFormat('#YYYY##MM##DD#'),
                route: {}
            },
            listTrips: [],
            assignTrip: {
                trip: null,
                drivers: [],
                vehicle: null
            },

            assignCourier: {
                courier: null
            },

            deliver: {
                failReason: "",
                fail: false,
                paymentType: 1,
                pay: 0
            },

        }
    },

    computed: {
        warehouseTree() {
            let goodsWarehouseTree = [];
            this.warehouses.forEach(function(elem) {
                let tmp = { label: elem.name, children: [], parent: "", data: elem };

                if (elem.shelves) {
                elem.shelves.forEach(function(elm) {
                    let tmp2 = {
                    label: elm.name,
                    children: [],
                    parent: elem,
                    data: elem
                    };

                    if (elm.positions) {
                    elm.positions.forEach(function(el) {
                        tmp2.children.push({ label: el, parent: elm, data: elem });
                    });

                    tmp.children.push(tmp2);
                    }
                });
                }
                tmp.data = elem;
                goodsWarehouseTree.push(tmp);
            });

            return goodsWarehouseTree;
        },

        ...mapState({
            goodsesSelected: state =>  state.ManageGoods.goodsesSelected,
            viewConfig: state =>  state.ManageGoods.viewConfig,
            modal: state =>  state.ManageGoods.modal,
            goodsViewing: state =>  state.ManageGoods.goodsViewing,
            manageAction: state =>  state.ManageGoods.manageAction,
        }),
    },

    mounted() {
        this.getListWareHouse()
    },

    methods: {
        ...mapActions({
            doUpdateGoods: 'updateGoods',
            getListGoods:  'getListGoods',
            doUpdateGoodsDeliver: 'updateGoodsDeliver'
        }),

        updateGoodsDeliver () {
            let params = {
                office: {
                    id: this.userInfo.userInfo.room.id,
                    province: this.userInfo.userInfo.room.province,
                    city: null,
                    district: this.userInfo.userInfo.room.district,
                    phoneNumber: this.userInfo.userInfo.room.phoneNumber,
                    address: this.userInfo.userInfo.room.address
                },
            }

            if (this.manageAction == 'CancelGoods') {
                params.fail = this.deliver.fail
                params.pay = 0
                params.failReason = this.deliver.failReason
            }

            if (this.manageAction == 'SuccessGoods') {
                params.pay = this.deliver.pay
                params.paymentType = this.deliver.paymentType
                params.fail = this.deliver.fail
                params.codDone = true
            }

            this.doUpdateGoodsDeliver(params)
        },
        
        updateGoods () {
            let params = {}
            if(!this.validateGoodsSelected()) {
                return 
            }
            
            if ( this.manageAction == 'IOWareHouse' ) {
                if(!this.validateIXWareHouse()) {
                    return false
                }

                params.warehouse = {
                    id: this.warehousesSelected.id,
                    name: this.warehousesSelected.name,
                    address: this.warehousesSelected.address,
                    shelf: this.warehousesSelected.shelf
                };
            }

            if(this.manageAction == 'AssignTrip') {
                if( !this.validateAssignTrip() ) {
                    return false
                }

                params.status = GoodsStatus.enum().ON_VEHICLE;
                params.assignedVehicle = {};
                params.assignedVehicle.drivers = [];
                this.assignTrip.drivers.forEach(function(value) {
                    var tmp = {
                        id: value.id,
                        userName: value.userName,
                        fullName: value.fullName,
                        phoneNumber: value.phoneNumber,
                        email: value.email,
                        avatar: value.avatar,
                        licenceLevel: value.licenceLevel,
                        licenceCode: value.licenceCode,
                        licenceExpired: value.licenceExpired,
                        birthday: value.birthDay
                    };
                    params.assignedVehicle.drivers.push(tmp);
                });

                params.assignedVehicle.vehicle = {
                    id: this.assignTrip.vehicle.id,
                    name: this.assignTrip.vehicle.name,
                    numberPlate: this.assignTrip.vehicle.numberPlate
                };

                params.transportTrip = {
                    id: this.assignTrip.trip.tripId
                };
            }

            if(this.manageAction == 'AssignDriver') {
                if(!this.validateAssignCourier()) { 
                    return false 
                }
                params = {
                    status: GoodsStatus.enum().DELIVERING,
                    courier: {
                        id: this.assignCourier.courier.id,
                        fullName: this.assignCourier.courier.fullName,
                        phoneNumber: this.assignCourier.courier.phoneNumber,
                        userName: this.assignCourier.courier.userName,
                        email: this.assignCourier.courier.email
                    }
                };
            }


            this.doUpdateGoods(params)
        },

        getListWareHouse () {
            this.load("getListWareHouse");

            sendParam({
                url: urlDBD(API.goodsWareHouseGet),
                type: "GET",
                success: (data) => {
                    this.warehouses = data.results.goodsWarehouses;
                    this.unload("getListWareHouse");
                },
                functionIfError: (res) => {
                    this.unload("getListWareHouse");
                }
            });
        },

        selectTreeWareHouse (data) {
            this.warehousesSelected = {
                id: data.data.id,
                name: data.data.name,
                address: data.data.address
            };
            this.warehousesBreadcrumbs = [];
            this.warehousesBreadcrumbs.push(data.data.name);
            if (data.parent) {
                if (data.parent.shelves) {
                    this.warehousesSelected.shelf = {
                    name: data.label,
                    position: ""
                    };
                    this.warehousesBreadcrumbs.push(data.label);
                }

                if (data.parent.positions) {
                    this.warehousesBreadcrumbs.push(data.parent.name);
                    this.warehousesBreadcrumbs.push(data.label);

                    this.warehousesSelected.shelf = {
                    name: data.parent.name,
                    position: data.label
                    };
                }
            }
        },
    
        getTrips () {
            let self = this;

            let params = {
                page: 0,
                count: 300,
                timeZone: 7,
                sortSelections: [{ fieldName: "startTime", ascDirection: true }],
                companyId: window.userInfo.userInfo.companyId,
                // routeId: context.state.route.routeId,
                date: this.searchTrip.date,
                startPoint: _.first(this.searchTrip.route.listPoint).id,
                endPoint: _.last(this.searchTrip.route.listPoint).id,
                searchPointOption: 1,
                source: 1,
                platform: 1
            };

            sendJson({
                url: urlDBD(API.planForTripSearch),
                data: params,
                success: (data) => {
                    self.listTrips = data.results.trips;
                },
                functionIfError: (data) => {}
            });
        },
    
        handerSelectTrip () {
            this.assignTrip.vehicle = this.assignTrip.trip.vehicle;
            this.assignTrip.drivers = this.assignTrip.trip.drivers;
        },
        
        validateIXWareHouse() {
            if(!this.warehousesSelected.id) {
                notify('Vui lòng chọn một kho hàng !','warning');
                return false
            }

            return true
        },

        validateAssignTrip() {
            if(!this.assignTrip.trip) {
                notify('Vui lòng chọn một chuyến !','warning');
                return false
            }

            return true
        },

        validateAssignCourier() {
            if(!this.assignCourier.courier) {
                notify('Vui lòng chọn một tài xế !','warning');
                return false
            }

            return true
        },

        validateNumberScan() {
            let status = true

            this.goodsesSelected.forEach(goods => {
                if(goods.scanNumber < goods.details.length) {
                    status = false
                }
            })

            return status
        },

        validateGoodsSelected() {
            if( this.goodsesSelected.length <= 0 ) {
                notify('Vui lòng chọn một đơn hàng !','warning');
                return false
            }

            return true
        },
    }
}
</script>

<style scoped>
.goods-brc::after {
    content: '\f054';
    font-family: 'Font Awesome 5 Free';
    margin: 0px 8px;
    font-weight: 900;
}
.goods-brc:last-child::after {
    content: '';
}

</style>