<template>
<section class="ManageGoods pt-16px" v-shortkey="{warehouse:['f1'], trip: ['f2'], driver:['f3']}" @shortkey="switchShortKeyAction">
    <section class="mb-4 av-block p-16px">
        <template>
            <div class="d-flex mb-2 align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <template v-if="!viewConfig.SHOW_BARCODE_FORM">
                        <h3 class="mr-3 white-space-nowrap">Điều phối hàng hóa</h3>
                        <el-input placeholder="Số điện thoại, Mã vận đơn" v-model="querySimpleSearch" @keyup.enter.native="simpleSearch" class="mr-3" suffix-icon="el-icon-search"></el-input>
                        <a @click.prevent="toggleAdvanceSearch = !toggleAdvanceSearch"  class="cursor-pointer text-primary white-space-nowrap">
                            {{ toggleAdvanceSearch ? 'Tắt tìm kiếm nâng cao' : 'Tìm kiếm nâng cao' }}
                        </a>
                    </template>
                    <template v-else>
                        <h3 class="mr-3 white-space-nowrap">Điều phối bằng mã vạch</h3>
                        <el-input placeholder="Mã vận đơn" ref="barCodeInput" v-model="queryBarCode" @keyup.enter.native="searchByBarCode" class="mr-3" suffix-icon="el-icon-search"></el-input>
                    </template>
                </div>
                <div>
                    <template v-if="this.goodsesSelected.length > 0">
                        <el-popover
                            placement="bottom"
                            width="300"
                            trigger="hover">
                            <div>
                                <!-- <div class="p-8px p-4px text-light cursor-pointer" @click="$emit('change-status', {goods: goods, status: 1})" :style="{'background-color': goodsStatus.getStatusByValue(1)['color']}">{{ goodsStatus.getStatusByValue(1)['label'] }}</div> -->
                                <div class="p-8px p-4px text-light cursor-pointer" @click="updateGoodsStatus(2)" :style="{'background-color': goodsStatus.getStatusByValue(2)['color']}">{{ goodsStatus.getStatusByValue(2)['label'] }}</div>
                                <div class="p-8px p-4px text-light cursor-pointer" @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignTrip')" :style="{'background-color': goodsStatus.getStatusByValue(3)['color']}">{{ goodsStatus.getStatusByValue(3)['label'] }}</div>
                                <div class="p-8px p-4px text-light cursor-pointer" @click="updateGoodsStatus(4)" :style="{'background-color': goodsStatus.getStatusByValue(4)['color']}">{{ goodsStatus.getStatusByValue(4)['label'] }}</div>
                                <div class="p-8px p-4px text-light cursor-pointer" @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignDriver')" :style="{'background-color': goodsStatus.getStatusByValue(5)['color']}">{{ goodsStatus.getStatusByValue(5)['label'] }}</div>
                                <div class="p-8px p-4px text-light cursor-pointer" @click="updateGoodsStatus(0)" :style="{'background-color': goodsStatus.getStatusByValue(0)['color']}">{{ goodsStatus.getStatusByValue(0)['label'] }}</div>
                            </div>
                            <button class="btn text-primary btn btn-outline-primary mr-8px" slot="reference"><i class="fas fa-ellipsis-h"></i></button>
                        </el-popover>
                        <button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignDriver')" class="btn text-primary btn btn-outline-primary mr-8px" title="Trả hàng (F3)"><i class="fas fa-shipping-fast mr-4px"></i><span>Trả hàng (F3)</span> </button>
                        <button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignTrip')" class="btn text-primary btn btn-outline-primary mr-8px" title="Xếp hàng lên xe (F2)"><i class="fas fa-car-alt mr-4px"></i><span>Xếp hàng lên xe (F2)</span></button>
                        <button @click="$store.commit('TOOGLE_MANAGE_GOODS_ACTION','IOWareHouse')" class="btn text-primary btn btn-outline-primary mr-8px" title="Nhập hàng vào kho (F1)"><i class="fas fa-warehouse mr-4px"></i><span>Nhập hàng vào kho (F1)</span></button>
                    </template>    
                    <!-- <button @click="printGoods" title="In danh sách hàng" class="btn mr-8px text-primary btn btn-outline-primary"><i class="fas fa-print"></i></button>   -->
                    <el-popover
                        placement="bottom"
                        trigger="click">
                        <el-switch class="mb-8px" v-model="viewConfig.REQUEST" active-text="Yêu cầu nhận hàng"></el-switch> <br>
                        <el-switch class="mb-8px" v-model="viewConfig.REQUEST_SUCCESS" active-text="Đã nhận hàng (chờ phân xe)"></el-switch> <br>
                        <el-switch class="mb-8px" v-model="viewConfig.ON_VEHICLE" active-text="Trên xe vận chuyển"></el-switch><br>
                        <el-switch class="mb-8px" v-model="viewConfig.ON_ROOM_DELIVERY" active-text="Tại điểm giao hàng"></el-switch><br>
                        <el-switch class="mb-8px" v-model="viewConfig.DELIVERING" active-text="Đang giao hàng"></el-switch><br>
                        <el-switch class="mb-8px" v-model="viewConfig.DELIVERY_SUCCESS" active-text="Đã giao hàng"></el-switch><br>
                        <el-switch class="mb-8px" v-model="viewConfig.DELIVERY_ERROR" active-text="Giao hàng thất bại"></el-switch><br>
                        <el-switch class="mb-8px" v-model="viewConfig.CANCELED" active-text="Đã hủy"></el-switch><br>
                        <button slot="reference" title="Cài đặt hiển thị" class="btn text-primary btn btn-outline-primary mr-8px "><i class="fas fa-cog"></i></button>
                    </el-popover>
                    <button :class="{'tab-active': viewConfig.SHOW_BARCODE_FORM}" class="btn mr-8px text-primary btn btn-outline-primary" title="Nhập hàng bằng mã vạch" @click="$store.commit('TOOGLE_TAB','SHOW_BARCODE_FORM')"><i class="fas fa-barcode"></i></button>
                    <button :class="{'tab-active': viewConfig.SHOW_GOODS_GROUP_FORM}" class="btn text-primary btn btn-outline-primary" title="Gom hàng" @click="$store.commit('TOOGLE_TAB','SHOW_GOODS_GROUP_FORM');"><i class="fas fa-boxes"></i></button>
                </div>
            </div>
            <transition name="fade">
            <div v-if="toggleAdvanceSearch" data-name="filterAdvance">
                <div class="d-flex">
                    <div class="form-group mr-2">
                        <label>Mã vận đơn</label>
                        <el-input size="small" v-model="filter.code"></el-input>   
                    </div>
                    <div class="form-group mr-2">
                        <label>Số điện thoại</label>
                        <el-input v-model="filter.phoneNumber" size="small"></el-input>
                    </div>
                    <div class="form-group mr-2">
                        <label>Bưu cục gửi</label>
                        <select-point class="d-block" v-model="filter.receivedPoint" size="small"></select-point>
                    </div>
                    <div class="form-group mr-2">
                        <label>Bưu cục trả</label>
                        <select-point class="d-block" v-model="filter.deliveryPoint" size="small"></select-point>
                    </div>
                    <div class="form-group mr-2">
                        <label>Ngày tạo đơn hàng</label>
                        <el-date-picker class="d-flex" size="small" v-model="filter.date" :clearable="false" 
                            format="dd-MM-yyyy"
                            value-format="yyyyMMdd" type="daterange"
                            :picker-options="options"
                            range-separator="Đến"
                            start-placeholder="Từ ngày" 
                            end-placeholder="Đến ngày"></el-date-picker>
                    </div>    
                    <div class="form-group">
                        <label class="invisible d-block">00</label>
                        <el-button type="primary" @click="getListGoods()" size="small">LỌC KẾT QUẢ</el-button>
                    </div>
                </div>
            </div>
            </transition>
        </template>
    </section>

    <section v-loading="loading">
        <div class="mb-4 av-block p-16px" v-show="viewConfig.SHOW_GOODS_GROUP_FORM">
            <GoodsGroup />
        </div>

        <div class="mb-4 av-block p-16px" v-show="viewConfig.SHOW_BARCODE_FORM">
            <BarcodeForm />
        </div>
        <div class="listGoodsByStatus">
            <GoodsGroupByStatus />
        </div>
    </section>
    <GoodsActionSupport />
</section>
</template>

<script>
import icon from '../icon'
import { mapState, mapActions } from 'vuex';
import { GoodsList, GoodsStatus, Goods } from "../../../class/goods_v2";
import SelectPoint from '../../Point/SelectPoint';
import GoodsGroup from './GoodsGroup'
import BarcodeForm from './BarCodeForm'
import GoodsGroupByStatus from './GoodsGroupByStatus'
import GoodsActionSupport from './GoodsActionSupport'

export default {
    components: {
        GoodsGroup,
        BarcodeForm,
        GoodsGroupByStatus,
        SelectPoint,
        GoodsActionSupport,
        
    },
    
    data() {
        let goodsStatus = new GoodsStatus()
        return {
            toggleAdvanceSearch: false,
            querySimpleSearch: null,
            queryBarCode: null,
            goodsStatus: goodsStatus,
            options: {
                disabledDate : (time)=>{
                    return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                }
            },
        }
    },

    computed: {
        ...mapState({
            goodsesSelected: state =>  state.ManageGoods.goodsesSelected,
            viewConfig: state =>  state.ManageGoods.viewConfig,
            filter: state => state.ManageGoods.goodsListFilter,
            listGoods: state => state.ManageGoods.listGoods,
            loading:  state => state.ManageGoods.loading,
            companyConfig: state => state.CompanyConfig.companyConfig,
        }),
    },

    mounted() {
        this.getListGoods()

        func.initDragScrolling('.listGoodsByStatus')
        this.$store.commit('SET_VIEW_CONFIG_FROM_LOCAL_STORAGE');
        this.$store.commit('SET_GOODS_FORMATER', Goods)
    },

    methods: {
        ...mapActions({
            doGetListGoods: 'getListGoods',
            doUpdateGoods: 'updateGoods'
        }),

        updateGoodsStatus (status) {
            if( !this.validateGoodsSelected() ) {
                return 
            }
            this.$store.commit('TOOGLE_MANAGE_GOODS_ACTION', 'UpdateStatus')
            let params = {}
            params.status = status
            
            this.doUpdateGoods(params)
        },

        switchShortKeyAction(event){
            switch (event.srcKey) {
                case 'warehouse':
                    this.$store.commit('TOOGLE_MANAGE_GOODS_ACTION','IOWareHouse')
                    break
                case 'trip':
                    this.$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignTrip')
                    break
                case 'driver':
                    this.$store.commit('TOOGLE_MANAGE_GOODS_ACTION','AssignDriver')
                    break
            }
        },

        getListGoods() {
            this.doGetListGoods()
        },
        
        simpleSearch() {
            this.$store.commit('SET_GOODS_FILTER', {
                phoneNumber: this.querySimpleSearch,
                code: this.querySimpleSearch
            })

            this.doGetListGoods({
                formater: Goods,
                pushGoods: false,
                success: function(context) {
                    context.commit('SET_GOODS_FILTER', {
                        phoneNumber: "",
                        code: ""
                    })

                    if(context.state.listGoods.length == 1) {
                        context.commit('SET_GOODSES_SELECTED', context.state.listGoods[0])
                    }
                }
            })
        },

        validateGoodsSelected() {
            if( this.goodsesSelected.length <= 0 ) {
                notify('Vui lòng chọn một đơn hàng !','warning');
                return false
            }

            return true
        },

        searchByBarCode() {
            this.$store.dispatch('searchAndImportGoodsBarCode', this.queryBarCode)
        },
    },

    watch: {
        viewConfig: {
            handler(config){
                localStorage.setItem('ManageGoodsv2.viewConfig', JSON.stringify(config) );
            },
            deep: true
        },
    }

}
</script>

<style lang="scss" scoped>
.ManageGoods *:not(i) {
    font-family: Cabin;
}
.text-success { color: #00C48C!important; }
.bg-success-200 { background-color: #D5F2EA!important; }
.bg-orange { background-color: #F8E7CD!important; }
.text-warning { color: #F39B13!important; }
.text-primary { color: #084388!important; }
.bg-secondary { background-color: #ECEDF1!important; }
button:hover {
    background-color: transparent!important;
}
button.tab-active {
    background-color: #3490dc!important;
    color: #ffffff!important;
}
.listGoodsByStatus {
    overflow-x: auto;
    overflow-y: hidden;
}
</style>