<template>
    <div class="row assignStaffDeliver">
        <div class="col-12">
            <div class="h1-page">
                Danh sách khách giao vé
            </div>
        </div>
        <div class="col-12" style="margin:40px auto 18px">
            <div class="row">
                <!--<div class="col-auto">-->
                <!--<div class="label">Tuyến đường</div>-->
                <!--<select-route v-model="route"></select-route>-->
                <!--</div>-->
                <div class="col-auto">
                    <div class="label">Ngày giao vé</div>
                    <el-date-picker type="daterange" :picker-options="options" v-model="date" format="dd-MM-yyyy" value-format="yyyyMMdd"
                                    placeholder="Pick a day"></el-date-picker>
                </div>
                <!--<div class="col-auto">-->
                <!--<div class="label">Đón/Trả</div>-->
                <!--<el-select v-model="type">-->
                <!--<el-option :key="null" label="Tất cả" :value="null"></el-option>-->
                <!--<el-option :key="true" label="Đón" :value="true"></el-option>-->
                <!--<el-option :key="false" label="Trả" :value="false"></el-option>-->
                <!--</el-select>-->
                <!--</div>-->
                <div class="col-auto">
                    <div class="label">Trạng thái</div>
                    <el-select placeholder="Select" multiple v-model="statuses">
                        <el-option v-for="(deliver,d) in deliverStatuses" :key="deliver.value"
                                   :value="deliver.value" :label="deliver.label"></el-option>
                    </el-select>
                </div>
                <div class="col-2">
                    <div class="label">Nhân viên giao vé</div>
                    <select-user class="w-100" :user-type="[2]" v-model="driver"></select-user>
                </div>
                <div class="col-auto">
                    <div class="label">Khu vực</div>
                    <select-region v-model="region" :department="0"></select-region>
                </div>
                <div class="col-auto">
                    <div class="label">&nbsp;</div>
                    <button class="btn btn-primary" @click="getTickets()">Lọc</button>
                </div>
                <div class="col text-right">
                    <div class="w-100 label">&nbsp;</div>
                    <button class="btn btn-orange" @click="print()">In danh sách</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-bordered" style="font-size: 16px;line-height: 19px;font-family: Cabin;"
                   v-loading="loading">
                <thead>
                <tr>
                    <th>
                        <div class="row">
                            <div class="col-auto">
                                <input type="checkbox" id="ticket-all"
                                    style="position: inherit;left: 0;height: 18px;width: 18px"
                                    :checked="ticketsUpdateDriver.length === tickets.length" @change="handerCheckAll()">
                            </div>
                            <div class="col">
                                Khách hàng
                            </div>   
                        </div>
                    </th>
                    <th>Địa chỉ giao vé</th>
                    <th>Địa chỉ đón</th>
                    <th>Khu vực giao vé</th>
                    <th>Số vé</th>
                    <th>Danh sách vé</th>
                    <th>Ca giao</th>
                    <th>Ngày giao</th>
                    <th>Trạng thái giao</th>
                    <th>Nhân viên giao</th>
                    <th>Thành tiền</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(ticketBT,t) in ticketsByTrip">
                    <tr :key="t">
                        <td colspan="4">
                            <span class="mr-1"><b>Ngày:</b> {{ ticketBT.data[0].deliveryInfo.date|strToDate }}</span>
                            <span class="mr-1"><b>Giờ:</b> {{ $options.filters.customDate(ticketBT.data[0].getInTimePlan,'#hhhh#:#mm#',true)  }}</span>
                            <span class="mr-1"><b>Xe:</b> {{ ticketBT.data[0].vehicle.numberPlate }}</span>
                        </td>
                        <td>
                            <b>{{ ticketBT['numberTicket'] }}</b>
                        </td>
                        <td colspan="5"></td>
                        <td><b>{{ ticketBT['totalPrice']|number }}</b></td>
                        <td></td>
                    </tr>
                    <template v-for="(ticket,index) in ticketBT.data">
                        <tr :key="ticket.ticketId">
                            <td>
                                <div class="row">
                                    <div class="col-auto" v-if="ticket.deliveryInfo&&ticket.deliveryInfo.status!==2">
                                        <input type="checkbox" :id="'ticket-'+ticket.ticketId" :value="index"
                                            v-model="ticketsUpdateDriver"
                                            style="position: inherit;left: 0;height: 32px;width: 18px">
                                    </div>
                                    <div class="col">
                                        <p>{{ticket.fullName}}</p>
                                        <p>{{ticket.phoneNumber}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{ticket.deliveryInfo ? ticket.deliveryInfo.address:''}}</td>
                            <td>{{ticket.pointUp.address}}</td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <select-region v-model="ticketUpdateRegion.deliveryInfo.regionInfo"
                                                :department="0"></select-region>
                                </template>
                                <template v-else>
                                    <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.regionInfo ?
                                        ticket.deliveryInfo.regionInfo.name:'' }}</p>
                                </template>
                            </td>
                            <td>{{ ticket.listSeatId.length }}</td>
                            <td class="listSeat">
                                <span v-for="seat in ticket.listSeatId">{{seat}}</span>
                            </td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <select-work-shift
                                            v-model="ticketUpdateRegion.deliveryInfo.workShiftInfo"></select-work-shift>
                                </template>
                                <template v-else>
                                    <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.workShiftInfo ?
                                        ticket.deliveryInfo.workShiftInfo.name:'' }}</p>
                                </template>
                            </td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <el-date-picker format="dd-MM-yyyy" value-format="yyyyMMdd" type="date"
                                                    v-model="ticketUpdateRegion.deliveryInfo.date"></el-date-picker>
                                </template>
                                <template v-else>
                                    <p v-if="ticket.deliveryInfo&&ticket.deliveryInfo.date">
                                        {{ticket.deliveryInfo.date|strToDate }}</p>
                                </template>
                            </td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <el-select placeholder="Select" class="sellform-select"
                                            v-model="ticketUpdateRegion.deliveryInfo.status">
                                        <el-option v-for="(deliver,d) in deliverStatuses" :key="deliver.value"
                                                :value="deliver.value" :label="deliver.label"></el-option>
                                    </el-select>
                                </template>
                                <template v-else>
                                    <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.status!==undefined ?
                                        deliverStatuses[ticket.deliveryInfo.status].label:'' }}</p>
                                </template>
                            </td>
                            <td>
                                <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.staffDeliver ?
                                    ticket.deliveryInfo.staffDeliver.fullName:'' }}</p>
                            </td>
                            <td>
                                {{ ticket.agencyPrice|number }}
                            </td>
                            <td>
                                <template v-if="ticket.deliveryInfo&&ticket.deliveryInfo.status!==2">
                                    <i class="fa fa-check text-success"
                                    v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId"
                                    @click="doUpdateRegionTicket"></i>
                                    <i class="fa fa-edit" v-else @click="updateRegionTicket(ticket,t)"></i>
                                </template>
                            </td>
                        </tr>
                    </template>
                </template>
                <tr>
                    <td colspan="7" class="text-center text-danger" v-if="tickets.length==0"><i
                            class="fa fa-times-circle"></i> Không có dữ liệu
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="text-center" v-if="loadMore">
                        <button class="btn btn-link" @click="getTickets({loadMore : true})">Tải thêm</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-none">
            <table class="table print-div table-bordered" style="font-size: 16px;line-height: 19px;font-family: Cabin;"
                   v-loading="loading">
                <thead>
                <tr>
                    <th>
                        <div class="row">
                            <div class="col">
                                Khách hàng
                            </div>   
                        </div>
                    </th>
                    <th>Địa chỉ giao vé</th>
                    <th>Địa chỉ đón</th>
                    <th>Khu vực giao vé</th>
                    <th>Số vé</th>
                    <th>Danh sách vé</th>
                    <th>Ca giao</th>
                    <th>Ngày giao</th>
                    <th>Trạng thái giao</th>
                    <th>Nhân viên giao</th>
                    <th>Thành tiền</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(ticketBT,t) in ticketsByTrip">
                    <tr :key="t">
                        <td colspan="4">
                            <span class="mr-1"><b>Ngày:</b> {{ ticketBT.data[0].deliveryInfo.date|strToDate }}</span>
                            <span class="mr-1"><b>Giờ:</b> {{ $options.filters.customDate(ticketBT.data[0].getInTimePlan,'#hhhh#:#mm#',true)  }}</span>
                            <span class="mr-1"><b>Xe:</b> {{ ticketBT.data[0].vehicle.numberPlate }}</span>
                        </td>
                        <td>
                            <b>{{ ticketBT['numberTicket'] }}</b>
                        </td>
                        <td colspan="5"></td>
                        <td><b>{{ ticketBT['totalPrice']|number }}</b></td>
                    </tr>
                    <template v-for="(ticket,index) in ticketBT.data">
                        <tr :key="ticket.ticketId">
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <p>{{ticket.fullName}}</p>
                                        <p>{{ticket.phoneNumber}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{ticket.deliveryInfo ? ticket.deliveryInfo.address:''}}</td>
                            <td>{{ticket.pointUp.address}}</td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <select-region v-model="ticketUpdateRegion.deliveryInfo.regionInfo"
                                                :department="0"></select-region>
                                </template>
                                <template v-else>
                                    <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.regionInfo ?
                                        ticket.deliveryInfo.regionInfo.name:'' }}</p>
                                </template>
                            </td>
                            <td>{{ ticket.listSeatId.length }}</td>
                            <td class="listSeat">
                                <span v-for="seat in ticket.listSeatId">{{seat}}</span>
                            </td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <select-work-shift
                                            v-model="ticketUpdateRegion.deliveryInfo.workShiftInfo"></select-work-shift>
                                </template>
                                <template v-else>
                                    <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.workShiftInfo ?
                                        ticket.deliveryInfo.workShiftInfo.name:'' }}</p>
                                </template>
                            </td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <el-date-picker format="dd-MM-yyyy" value-format="yyyyMMdd" type="date"
                                                    v-model="ticketUpdateRegion.deliveryInfo.date"></el-date-picker>
                                </template>
                                <template v-else>
                                    <p v-if="ticket.deliveryInfo&&ticket.deliveryInfo.date">
                                        {{ticket.deliveryInfo.date|strToDate }}</p>
                                </template>
                            </td>
                            <td>
                                <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                    <el-select placeholder="Select" class="sellform-select"
                                            v-model="ticketUpdateRegion.deliveryInfo.status">
                                        <el-option v-for="(deliver,d) in deliverStatuses" :key="deliver.value"
                                                :value="deliver.value" :label="deliver.label"></el-option>
                                    </el-select>
                                </template>
                                <template v-else>
                                    <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.status!==undefined ?
                                        deliverStatuses[ticket.deliveryInfo.status].label:'' }}</p>
                                </template>
                            </td>
                            <td>
                                <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.staffDeliver ?
                                    ticket.deliveryInfo.staffDeliver.fullName:'' }}</p>
                            </td>
                            <td>
                                {{ ticket.agencyPrice|number }}
                            </td>
                        </tr>
                    </template>
                </template>
                <tr>
                    <td colspan="7" class="text-center text-danger" v-if="tickets.length==0"><i
                            class="fa fa-times-circle"></i> Không có dữ liệu
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="text-center" v-if="loadMore">
                        <button class="btn btn-link" @click="getTickets({loadMore : true})">Tải thêm</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="col-12 d-none">
            <table class="table print-div table-bordered table-sm"
                   style="font-size: 16px;line-height: 19px;font-family: Cabin;">
                <thead>
                <tr>
                    <th>Khách hàng</th>
                    <th>Địa chỉ giao vé</th>
                    <th>khu vực giao vé</th>
                    <th>Ca giao</th>
                    <th>Ngày giao</th>
                    <th>Trạng thái giao</th>
                    <th>N/V giao</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(ticket,t) in tickets">
                    <tr :key="t">
                        <td><p>{{ticket.fullName}}</p>
                            <p>{{ticket.phoneNumber}}</p></td>
                        <td>{{ticket.deliveryInfo ? ticket.deliveryInfo.address:''}}</td>
                        <td>{{ ticket.deliveryInfo&&ticket.deliveryInfo.regionInfo ?
                            ticket.deliveryInfo.regionInfo.name:'' }}
                        </td>
                        <td>{{ ticket.deliveryInfo&&ticket.deliveryInfo.workShiftInfo ?
                            ticket.deliveryInfo.workShiftInfo.name:'' }}
                        </td>
                        <td><p v-if="ticket.deliveryInfo&&ticket.deliveryInfo.date">{{ticket.deliveryInfo.date|strToDate
                            }}</p></td>
                        <td>{{ ticket.deliveryInfo&&ticket.deliveryInfo.status!==undefined ?
                            deliverStatuses[ticket.deliveryInfo.status].label:'' }}
                        </td>
                        <td>
                            <p>{{ ticket.deliveryInfo&&ticket.deliveryInfo.staffDeliver ?
                                ticket.deliveryInfo.staffDeliver.fullName:'' }}</p>
                        </td>
                    </tr>
                </template>
                <tr>
                    <td colspan="7" class="text-center text-danger" v-if="tickets.length==0"><i
                            class="fa fa-times-circle"></i> Không có dữ liệu
                    </td>
                </tr>
                </tbody>
            </table>
        </div> -->
        <div class="col-12">
            <div class="w-100" style="background: #ECEDF1;border-radius: 8px;padding:24px">
                <div class="row align-items-center" v-if="ticketsUpdateDriver.length>0">
                    <div class="col-auto">
                        <h2 style="color: #232731;font-family: Cabin;font-size: 24px;line-height: 29px;">Điều phối giao
                            vé</h2>
                        <small style="font-size: 16px;color: #464D5D;line-height: 19px;font-family: Cabin;">Đang chọn
                            {{ticketsUpdateDriver.length}} hành khách
                        </small>
                    </div>
                    <div class="col-auto" style="color: #232731;font-size: 16px;line-height: 19px;font-family: Cabin;">
                        Nhân viên giao vé
                    </div>
                    <div class="col-auto">
                        <select-user v-model="staffDeliver" :user-type="[2]" style="margin-bottom:8px; min-width: 300px;"></select-user>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-anvui active" @click="doUpdateTransshipmentDriverTickets()"
                                :disabled="loading">Điều phối giao vé
                        </button>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-auto">
                        <h2 style="color: #232731;font-family: Cabin;font-size: 24px;line-height: 29px;">Điều phối giao
                            vé</h2>
                        <small style="font-size: 16px;color: #464D5D;line-height: 19px;font-family: Cabin;">Chưa chọn vé
                            để điều phối.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {DeliverStatus} from '../../class/ticket';
    import SelectRoute from '../Route/SelectRoute';
    import SelectUser from '../User/SelectUser';
    import SelectRegion from '../Region/SelectRegion';
    import SelectWorkShift from '../WorkShift/SelectWorkShift';
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import { mapState} from 'vuex';

    export default {
        components: {SelectRoute, SelectUser, SelectRegion, SelectVehicle, SelectWorkShift},
        data: function () {
            return {
                page: 0,
                count: 30,
                loadMore: false,
                loading: false,
                route: null,
                date: [new Date().customFormat('#YYYY##MM##DD#'), new Date().customFormat('#YYYY##MM##DD#')],
                type: null,
                completedTransshipment: null,
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                driver: null,
                region: null,
                workShift: null,
                statuses: [],
                tickets: [],
                driverPointUp: null,
                driverPointDown: null,
                vehiclePointUp: null,
                vehiclePointDown: null,
                staffDeliver: null,
                ticketUpdateRegion: null,
                indexTicketUpdateRegion: 0,
                ticketsUpdateDriver: [],
                deliverStatuses: DeliverStatus.properties(),
            }
        },
        mounted: function () {
            this.getTickets();
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ticketsByTrip: function() {
                let ticketsByTrip = {};

                this.tickets.forEach((elem) => {
                    if( !ticketsByTrip[elem.tripId] ) {
                        ticketsByTrip[elem.tripId] = {};
                        ticketsByTrip[elem.tripId]['numberTicket'] = 0
                        ticketsByTrip[elem.tripId]['totalPrice'] = 0
                        ticketsByTrip[elem.tripId]['data'] = []
                    }
                    ticketsByTrip[elem.tripId]['numberTicket']++;
                    ticketsByTrip[elem.tripId]['totalPrice'] += elem.agencyPrice
                    ticketsByTrip[elem.tripId]['data'].push(elem);
                    
                })

                return ticketsByTrip;
            },
        },
        methods: {
            getTickets: function (options) {
                let self = this;
                if (options && options.loadMore) {
                    self.page++;
                } else {
                    self.page = 0;
                    self.ticketsUpdateDriver = [];
                }
                let params = {
                    page: self.page,
                    count: self.count,
                    startDate: _.first(self.date),
                    endDate: _.last(self.date),
                }
                if (self.region) {
                    params.regionId = self.region.id;
                }
                if (self.workShift) {
                    params.workShiftId = self.workShift.id;
                }
                if (self.statuses) {
                    params.statuses = self.statuses;
                }
                if (self.driver) {
                    params.staffDeliverId = self.driver.id;
                }
                self.loading = true;
                sendParam({
                    url: urlDBD(API.ticketDeliveryList),
                    data: params,
                    type: 'GET',
                    success: function (result) {
                        self.loadMore = true;
                        if (result.results.ticketsForDelivery.length < self.count) {
                            self.loadMore = false;
                        }
                        if (options && options.loadMore) {
                            let tks = self.tickets;
                            $.each(result.results.ticketsForDelivery, function (t, tk) {
                                tks.push(tk);
                            })
                            self.tickets = tks;
                        } else {
                            self.tickets = result.results.ticketsForDelivery;
                        }
                        self.loading = false;
                    },
                    functionIfError: function () {
                        self.loading = false;
                    }
                })
            },
            handerCheckAll: function () {
                let checkAll = [];
                for (let i = 0; i < this.tickets.length; i++) {
                    checkAll.push(i)
                }
                this.ticketsUpdateDriver = (this.ticketsUpdateDriver.length === this.tickets.length ? [] : checkAll);
            },
            updateRegionTicket: function (ticket, index) {
                let tk = _.cloneDeep(ticket);
                this.ticketUpdateRegion = tk;
                this.indexTicketUpdateRegion = index;
            },
            doUpdateRegionTicket: function () {
                let self = this;
                let ticketUpdate = _.cloneDeep(self.ticketUpdateRegion);
                let params = [{
                    ticketId: ticketUpdate.ticketId,
                    tripId: ticketUpdate.tripId,
                    deliveryInfo: ticketUpdate.deliveryInfo
                }];
                self.ticketUpdateRegion = null;
                self.loading = true;
                sendJson({
                    url: urlDBD(API.ticketUpdate),
                    data: params,
                    success: function (res) {
                        // self.tickets[self.indexTicketUpdateRegion] = ticketUpdate;
                        self.getTickets();
                        self.loading = false;
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                    }
                })
            },
            doUpdateTransshipmentDriverTickets: function () {
                let self = this;
                let ticketsDriver = self.ticketsUpdateDriver;
                let params = [];
                let tickets = this.tickets;
                let staffDeliver = null;
                if (self.staffDeliver) {
                    staffDeliver = {
                        id: self.staffDeliver.id,
                        fullName: self.staffDeliver.fullName,
                        phoneNumber: self.staffDeliver.phoneNumber,
                    }
                }

                $.each(ticketsDriver, function (i, index) {
                    let tk = {
                        ticketId: tickets[index].ticketId,
                        tripId: tickets[index].tripId,
                        deliveryInfo: tickets[index].deliveryInfo
                    };
                    tk.deliveryInfo.staffDeliver = staffDeliver;
                    tk.deliveryInfo.status = 0;
                    params.push(tk);
                });
                self.loading = true;
                sendJson({
                    url: urlDBD(API.ticketUpdate),
                    data: params,
                    success: function (res) {
                        // $.each(ticketsDriver, function (i, index) {
                        //     self.tickets[index].deliveryInfo.staffDeliver = staffDeliver;
                        // });
                        self.getTickets();
                        self.loading = false;
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                    }
                })
            },
            print: function () {
                $(this.$el).find('.print-div').printThis();
            }
        }
    }
</script>

<style scoped>
.assignStaffDeliver .listSeat span::after {
    content: ",";
}

.assignStaffDeliver .listSeat span:last-child::after {
    display: none;
}
</style>