<template>
    <div class="row pt-16px">
        <div class="col-12 d-flex align-items-center mb-8px">
            <h3 class="mr-8px">Điều phối trung chuyển</h3>
            <a class="test-info cursor-pointer" @click.stop="showSearchAdvancle = !showSearchAdvancle">{{ !showSearchAdvancle ? 'Bật' : 'Tắt' }} tìm kiếm nâng cao</a>
        </div>
        <div class="col-12 py-8px" v-if="!showSearchAdvancle">
            <div class="row">
                <div class="col-2">
                    <el-date-picker size="small" class="w-100" v-model="date" :picker-options="options" format="dd-MM-yyyy" value-format="yyyyMMdd" type="date"
                                            placeholder="Pick a day"></el-date-picker>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="d-flex">
                        <!-- <div class="label mr-8px">Tuyến</div> -->
                        <select-route size="small"  v-model="routeSelected" class="mb-3 w-100" :clearable="false" :multiple="true" filterable placeholder="Chọn tuyến" @input="getTrips()" @remove-route="removeTripSelected"></select-route>
                    </div>

                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="d-flex">
                        <!-- <div class="label mr-8px">Chuyến</div> -->
                        <el-select class="w-100" size="small" :multiple="true" v-model="tripSelected" filterable placeholder="Chọn chuyến" value-key="tripId">
                            <el-option
                                v-for="(trip, index) in trips"
                                :key="trip.tripId + index"
                                :label="$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true) + ' - ' + trip.route.name + ' - ' + trip.vehicle.numberPlate"
                                :value="trip">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-2">
                    <el-button type="primary" size="small" @click="getTickets()">Lọc</el-button>
                </div>
            </div>
        </div>

        <div class="container-fluid mb-3 assignTDT__filter"  v-if="showSearchAdvancle">
            <div class="card__bordered" style="border-width: 1px">
                <!-- <el-tooltip class="item" effect="dark" content="Click để lọc" placement="top">
                <div class="assignTDT__filter__short"  @click="shortFilter = !shortFilter">
                    <div class="row">
                        <div class="col-auto"><p><b>Ngày khởi hành: </b>{{ date }}</p></div>
                        <div class="col-auto d-flex">
                            <b class=" mr-1">Tuyen: </b>
                            <p v-if="routeSelected&&routeSelected.length > 0"><span v-for="route in routeSelected" :key="route.id">{{ route.routeName }}<br></span></p>
                            <p v-else>--</p>
                        </div>
                        <div class="col-auto d-flex">
                            <b class=" mr-1">Chuyen: </b>
                            <p v-if="tripSelected&&tripSelected.length > 0"><span v-for="trip in tripSelected" :key="trip.id">{{ $options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true) + ' - ' + trip.route.name + ' - ' + trip.vehicle.numberPlate }}<br></span></p>
                            <p v-else>--</p>
                        </div>
                        <div class="col-auto  d-flex">
                            <b class=" mr-1">Khu vực: </b>
                            <p v-if="region&&region.length > 0"><span v-for="regi in region" :key="regi.id">{{ regi.name }}<br></span></p>
                            <p v-else>--</p>
                        </div>
                        <div class="col-auto  d-flex">
                            <b class=" mr-1">Đón/Trả: </b>
                            <p>
                                <span v-if="type == null">Tất cả</span>
                                <span v-if="type == true">Đón</span>
                                <span v-if="type == false">Trả</span>
                            </p>
                        </div>
                        <div class="col-auto  d-flex">
                            <b class=" mr-1">Trạng thái: </b>
                            <p>
                                <span v-if="completedTransshipment == null">Tất cả</span>
                                <span v-if="completedTransshipment == true">Đã hoàn thành</span>
                                <span v-if="completedTransshipment == false">Chưa hoàn thành</span>
                            </p>
                        </div>
                        <div class="col-auto"><p><b>Nhân viên trung chuyển: </b>{{ driver&&driver.fullName ? driver.fullName : "--" }}</p></div>
                    </div>
                </div>
                </el-tooltip> -->

                <div class="assignTDT__filter__fields">
                    <div class="row">
                        <div class="col-xs-6 col-md-2 mb-1">
                            <div class="label">Ngày khởi hành</div>
                            <el-date-picker size="small" class="w-100" v-model="date" format="dd-MM-yyyy" value-format="yyyyMMdd" type="date"
                                            placeholder="Pick a day"></el-date-picker>
                        </div>
                        <div class="col-xs-6 col-md-5 mb-1">
                            <div class="label">Tuyến</div>
                            <select-route size="small"  v-model="routeSelected" class="mb-3 w-100" :clearable="false" :multiple="true" filterable placeholder="Chọn tuyến" @input="getTrips()" @remove-route="removeTripSelected"></select-route>
                        </div>
                        <div class="col-xs-6 col-md-5 mb-1">
                            <div class="label">Chuyến</div>
                            <el-select class="w-100" size="small" :multiple="true" v-model="tripSelected" filterable placeholder="Chọn chuyến" value-key="tripId">
                                <el-option
                                    v-for="(trip, index) in trips"
                                    :key="trip.tripId + index"
                                    :label="$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true) + ' - ' + trip.route.name + ' - ' + trip.vehicle.numberPlate"
                                    :value="trip">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-xs-6 col-md-2 mb-1">
                            <div class="label">Khu vực</div>
                            <select-region size="small" class="w-100" :multiple="true" v-model="region" :department="1"></select-region>
                        </div>
                        <div class="col-xs-6 col-md-1 mb-1">
                            <div class="label">Đón/Trả</div>
                            <el-select size="small"  class="w-100" v-model="type">
                                <el-option :key="null" label="Tất cả" :value="null"></el-option>
                                <el-option :key="true" label="Đón" :value="true"></el-option>
                                <el-option :key="false" label="Trả" :value="false"></el-option>
                            </el-select>
                        </div>
                        <div class="col-xs-6 col-md-1 mb-1">
                            <div class="label">Trạng thái</div>
                            <el-select size="small"  class="w-100" v-model="completedTransshipment">
                                <el-option :key="null" label="Tất cả" :value="null"></el-option>
                                <el-option :key="true" label="Đã hoàn thành" :value="true"></el-option>
                                <el-option :key="false" label="Chưa hoàn thành" :value="false"></el-option>
                            </el-select>
                        </div>
                        <div class="col-xs-6 col-md-3 mb-1">
                            <div class="label">Nhân viên trung chuyển</div>
                            <e-select-user size="small"  class="w-100" :user-type="[2]" v-model="driver"></e-select-user>
                        </div>
                        <div class="col-xs-6 col-md-3 mb-1">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="label">&nbsp;</div>
                                    <el-button type="primary" size="small" @click="getTickets()">Lọc</el-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="d-flex align-items-center justify-content-center">
                    <div class="assignTDT__filter__arrow" @click="shortFilter = !shortFilter">
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-12 assignTDT__list">
            <table class="table table-bordered" style="font-size: 16px;line-height: 19px;font-family: Cabin; background-color: #fff" v-loading="loading">
                <thead>
                    <tr>
                        <th v-if="!checkHideConfig('fullName')">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" id="ticket-all" class="mr-2"
                                style="position: inherit;left: 0;height: 18px;width: 18px"
                                :checked="ticketsUpdateDriver.length === allIndexCheck.length" @change="handlerCheckAll()">
                                <span>Khách hàng</span>
                            </div>
                        </th>
                        <th v-if="!checkHideConfig('createDate')">Ngày đặt</th>
                        <th v-if="!checkHideConfig('seatId')">DS ghế</th>
                        <th v-if="!checkHideConfig('pointUpAddress')">Địa chỉ đón khách</th>
                        <th v-if="!checkHideConfig('pointUpArea')">Khu vực đón khách</th>
                        <th v-if="!checkHideConfig('pointUpDriver')">Tài xế đón khách</th>
                        <th v-if="!checkHideConfig('pointDownAddress')">Địa chỉ trả khách</th>
                        <th v-if="!checkHideConfig('pointDownArea')">Khu vực trả khách</th>
                        <th v-if="!checkHideConfig('pointDownDriver')">Tài xế trả khách</th>
                        <th v-if="!checkHideConfig('createdDateInt')">Thời gian khởi hành</th>
                        <th v-if="!checkHideConfig('numberPlate')">BKS</th>
                        <th v-if="!checkHideConfig('seller')">Nhân viên</th>
                        <th v-if="!checkHideConfig('status')">Giá/Trạng thái vé</th>
                        <th v-if="!checkHideConfig('note')">Ghi chú</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <template v-for="(ticket,t) in tickets">
                    <tr :class="[ticketStatus(ticket).bg=='bg-huy'?'bg-e':'',lastIndexClick!==null&&tickets[lastIndexClick].ticketCode === ticket.ticketCode?'bg-info' :'']">
                        <td v-if="!checkHideConfig('fullName')">
                            <div class="d-flex align-items-center">
                                <div class="mr-2" v-if="ticketStatus(ticket).bg!=='bg-huy'">
                                    <input type="checkbox" :id="'ticket-'+ticket.ticketId" :value="t"
                                        @change="setLastIndex(t)"
                                        v-model="ticketsUpdateDriver"
                                        style="position: inherit;left: 0;height: 32px;width: 18px">
                                </div>
                                <div>
                                    <p class="mb-8px">{{ticket.fullName}}</p>
                                    <template v-if="ticket.callStatus == 9">
                                        <p class="px-4px" style="border-radius: 4px" :style="{background:$root.callStatus[9].background, 'color': ticket.callStatus == 9 ? $root.callStatus[9].color : ''}">{{ticket.phoneNumber}}</p>
                                    </template>
                                    <template v-else>
                                        <p>{{ticket.phoneNumber}}</p>
                                    </template>

                                </div>
                            </div>
                        </td>
                        <td v-if="!checkHideConfig('createDate')">
                            <p>{{ticket.createdDate|customDate('#hhhh#:#mm#')}}</p>
                            <p style="white-space: nowrap">{{ticket.createdDate|customDate('#DD#-#MM#-#YYYY#')}}</p>
                        </td>
                        <td v-if="!checkHideConfig('seatId')">
                            ({{ticket.listSeatId.length}}) -
                            {{ticket.listSeatId.join(', ')}}
                        </td>
                        <td v-if="!checkHideConfig('pointUpAddress')" class="position-relative">
                            <div v-if="ticket.pointUp.completedTransshipment"
                                 style="position: absolute;font-family: Cabin;font-size: 12px;line-height: 15px;background: #FFC9CD;border: 1px solid #E62020;box-sizing: border-box;border-radius: 4px;color: #E62020;padding: 4px 8px;right:4px;top:4px">
                                Đã đón
                            </div>
                            <p>{{ ticket.pointUp.address||ticket.pointUp.name }}</p>
                            <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                <select-region v-model="ticketUpdateRegion.pointUp.regionInfo"
                                               :department="1"></select-region>
                            </template>
                            <template v-else>
                                <p>{{ ticket.pointUp.regionInfo?ticket.pointUp.regionInfo.name:'' }}</p>
                            </template>
                        </td>
                        <td v-if="!checkHideConfig('pointUpArea')" class="position-relative">
                            {{ticket.pointUp.regionInfo ? ticket.pointUp.regionInfo.name : ''}}
                        </td>
                        <td v-if="!checkHideConfig('pointUpDriver')" @click="clickToAssign('UP', t)" class="assign" title="Click để gán tài">
                            <p>{{ ticket.pointUp.transshipmentDriver?ticket.pointUp.transshipmentDriver.fullName:''
                                }}</p>
                            <p>{{ ticket.pointUp.vehicleInfo?ticket.pointUp.vehicleInfo.numberPlate:''
                                }}</p>
                        </td>
                        <td v-if="!checkHideConfig('pointDownAddress')" class="position-relative">
                            <div v-if="ticket.pointDown.completedTransshipment"
                                 style="position: absolute;font-family: Cabin;font-size: 12px;line-height: 15px;background: #FFC9CD;border: 1px solid #E62020;box-sizing: border-box;border-radius: 4px;color: #E62020;padding: 4px 8px;right:4px;top:4px">
                                Đã trả
                            </div>
                            <p>{{ ticket.pointDown.address||ticket.pointDown.name }}</p>
                            <template v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId">
                                <select-region v-model="ticketUpdateRegion.pointDown.regionInfo"
                                               :department="1"></select-region>
                            </template>
                            <template v-else>
                                <p>{{ ticket.pointDown.regionInfo?ticket.pointDown.regionInfo.name:'' }}</p>

                            </template>
                        </td>
                        <td v-if="!checkHideConfig('pointDownArea')"  class="position-relative">
                            {{ticket.pointDown.regionInfo ? ticket.pointDown.regionInfo.name : ''}}
                        </td>
                        <td v-if="!checkHideConfig('pointDownDriver')" @click="clickToAssign('DOWN', t)" class="assign" title="Click để gán tài">
                            <p>{{ ticket.pointDown.transshipmentDriver?ticket.pointDown.transshipmentDriver.fullName:''
                                }}</p>
                            <p>{{ ticket.pointDown.vehicleInfo ? ticket.pointDown.vehicleInfo.numberPlate : ''
                                }}</p>
                        </td>
                        <td v-if="!checkHideConfig('createdDateInt')">
                            <p>{{ticket.getInTimePlan|customDate('#hhhh#:#mm#',true)}}</p>
                            <p>{{ticket.createdDateInt|strToDate}}</p>
                        </td>
                        <td v-if="!checkHideConfig('numberPlate')"  class="position-relative">
                            {{ticket.tripInfo.vehicle ? ticket.tripInfo.vehicle.numberPlate : ''}}
                        </td>
                        <td v-if="!checkHideConfig('seller')">{{ticket.seller ? ticket.seller.fullName :''}}</td>
                        <td v-if="!checkHideConfig('status')">
                            {{ticket.agencyPrice|number}}<br>
                            {{ticketStatus(ticket).status}}
                        </td>
                        <td v-if="!checkHideConfig('note')">{{ticket.note}}</td>
                        <td>
                            <span v-if="ticketStatus(ticket).bg!=='bg-huy'">
                                <i class="fa fa-check text-success"
                                    v-if="ticketUpdateRegion&&ticketUpdateRegion.ticketId === ticket.ticketId"
                                    @click="doUpdateRegionTicket"></i>
                                <i class="fa fa-edit" v-else @click="updateRegionTicket(ticket,t)"></i>
                            </span>
                        </td>
                    </tr>
                </template>
                <tr>
                    <td colspan="11" class="text-center" v-if="tickets.length==0">
                        Không có dữ liệu
                    </td>
                </tr>
                <tr>
                    <td colspan="11" class="text-center" v-if="loadMore">
                        <button class="btn btn-link" @click="getTickets({loadMore : true})">Tải thêm ({{tickets.length}})</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-none">
            <table class="table print-div table-bordered table-sm"
                style="font-size: 16px;line-height: 19px;font-family: Cabin;">
                <thead>
                <tr>
                    <th v-if="!checkHideConfig('fullName')">Khách hàng</th>
                    <th v-if="!checkHideConfig('createDate')">Ngày đặt</th>
                    <th v-if="!checkHideConfig('seatId')">DS ghế</th>
                    <th v-if="!checkHideConfig('pointUpAddress')">Địa chỉ đón khách</th>
                    <th v-if="!checkHideConfig('pointUpArea')">Khu vực đón khách</th>
                    <th v-if="!checkHideConfig('pointUpDriver')">Tài xế đón khách</th>
                    <th v-if="!checkHideConfig('pointDownAddress')">Địa chỉ trả khách</th>
                    <th v-if="!checkHideConfig('pointDownArea')">Khu vực trả khách</th>
                    <th v-if="!checkHideConfig('pointDownDriver')">Tài xế trả khách</th>
                    <th v-if="!checkHideConfig('createdDateInt')">Thời gian khởi hành</th>
                    <th v-if="!checkHideConfig('numberPlate')">BKS</th>
                    <th v-if="!checkHideConfig('seller')">Nhân viên</th>
                    <th v-if="!checkHideConfig('status')">Giá/Trạng thái vé</th>
                    <th v-if="!checkHideConfig('note')">Ghi chú</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(ticket,key) in tickets">
                    <tr :key="key">
                        <td v-if="!checkHideConfig('fullName')">
                            <p>{{ticket.fullName}}</p>
                            <p>{{ticket.phoneNumber}}</p>
                        </td>
                        <td v-if="!checkHideConfig('createDate')">
                            {{ticket.createdDate|customDate('#hhhh#:#mm#')}}<br>
                            {{ticket.createdDate|customDate('#DD#-#MM#-#YYYY#')}}
                        </td>
                        <td v-if="!checkHideConfig('seatId')">
                            ({{ticket.listSeatId.length}}) -
                            {{ticket.listSeatId.join(', ')}}c
                        </td>
                        <td v-if="!checkHideConfig('pointUpAddress')">
                            <p>{{ ticket.pointUp.address||ticket.pointUp.name }}</p>
                            <p>{{ ticket.pointUp.regionInfo?ticket.pointUp.regionInfo.name:'' }}</p>
                        </td>
                        <td v-if="!checkHideConfig('pointUpArea')" class="position-relative">
                            {{ticket.pointUp.regionInfo ? ticket.pointUp.regionInfo.name : ''}}
                        </td>
                        <td v-if="!checkHideConfig('pointUpDriver')">
                            <p>
                                {{ ticket.pointUp.transshipmentDriver?ticket.pointUp.transshipmentDriver.fullName:'' }}
                            </p>
                            <p>
                                {{ ticket.pointUp.vehicleInfo?ticket.pointUp.vehicleInfo.numberPlate:'' }}
                            </p>
                        </td>
                        <td v-if="!checkHideConfig('pointDownAddress')">
                            <p>{{ ticket.pointDown.address||ticket.pointDown.name }}</p>
                            <p>{{ ticket.pointDown.regionInfo?ticket.pointDown.regionInfo.name:'' }}</p>
                        </td>
                        <td v-if="!checkHideConfig('pointDownArea')"  class="position-relative">
                            {{ticket.pointDown.regionInfo ? ticket.pointDown.regionInfo.name : ''}}
                        </td>
                        <td v-if="!checkHideConfig('pointDownDriver')">
                            <p>{{ ticket.pointDown.transshipmentDriver?ticket.pointDown.transshipmentDriver.fullName:''
                                }}</p>
                            <p>{{ ticket.pointDown.vehicleInfo?ticket.pointDown.vehicleInfo.numberPlate:''
                                }}</p>
                        </td>
                        <td v-if="!checkHideConfig('createdDateInt')">
                            <p>{{ticket.getInTimePlan|customDate('#hhhh#:#mm#',true)}}</p>
                            <p>{{ticket.createdDateInt|strToDate}}</p>
                        </td>
                        <td v-if="!checkHideConfig('numberPlate')"  class="position-relative">
                            {{ticket.tripInfo.vehicle ? ticket.tripInfo.vehicle.numberPlate : ''}}
                        </td>
                        <td v-if="!checkHideConfig('seller')">{{ticket.seller ? ticket.seller.fullName :''}}</td>
                        <td v-if="!checkHideConfig('status')">
                            {{ticket.agencyPrice|number}}<br>
                            {{ticketStatus(ticket).status}}
                        </td>
                        <td v-if="!checkHideConfig('note')">{{ticket.note}}</td>
                    </tr>
                </template>
                <tr>
                    <td colspan="10" class="text-center" v-if="tickets.length == 0">
                        Không có dữ liệu
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 assignTDT__control p-8px" style="background: #ECEDF1; padding-bottom: 52px;">
            <div class="flex-center-center">
                <div class="mr-4px">
                    <label for="" class="mb-4px">Tài xế đón</label>
                    <div class="d-flex">
                        <e-select-user size="small" v-model="driverPointUp" :clearable="true" :userType="[2]"></e-select-user>
                        <select-vehicle size="small" v-model="vehiclePointUp" placeholder="Chọn phương tiện"></select-vehicle>
                    </div>
                </div>
                <div class="mr-4px">
                    <label for="" class="mb-4px">Tài xế Trả</label>
                    <div class="d-flex">
                        <e-select-user size="small" v-model="driverPointDown" :clearable="true" :userType="[2]"></e-select-user>
                        <select-vehicle  size="small" v-model="vehiclePointDown" placeholder="Chọn phương tiện"></select-vehicle>
                    </div>
                </div>
                <div>
                    <label for="" class="mb-4px invisible">invisible</label>
                    <div class="d-flex">
                        <el-button class="mr-4px" type="primary" size="small" @click="doUpdateTransshipmentDriverTickets()" :disabled="loading">
                            Điều phối trung chuyển ({{ticketsUpdateDriver.length}}/{{tickets.length}})
                        </el-button>
                        <el-button class="my-0"  size="small" type="warning" @click="print()">In danh sách</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectRoute from '../Route/SelectRoute';
    import SelectUser from '../User/SelectUser';
    import ESelectUser from '../User/ESelectUser';
    import SelectRegion from '../Region/SelectRegion';
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import { mapGetters, mapState } from "vuex";

    export default {
        components: {SelectRoute, ESelectUser, SelectUser, SelectRegion, SelectVehicle},
        data: function () {
            return {
                page: 0,
                count: 100,
                loadMore: false,
                loading: false,
                route: null,
                routes: [],
                trips: [],
                tripsMap: {},
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                date: new Date().customFormat('#YYYY##MM##DD#'),
                type: null,
                completedTransshipment: null,
                driver: null,
                region: null,
                ticketsGet: [],
                driverPointUp: null,
                driverPointDown: null,
                vehiclePointUp: null,
                vehiclePointDown: null,
                ticketUpdateRegion: null,
                indexTicketUpdateRegion: 0,
                ticketsUpdateDriver: [],

                listRoutes: [],
                routeSelected: [],
                tripSelected: [],
                lastIndexClick: null,

                shortFilter: false,
                fixedFilter: false,

                showSearchAdvancle: false,
            }
        },
        mounted: function () {
            // this.getTickets();
            var lastScrollTop = 0;

            if( $(window).width() < 1600 ) {
                $('#main .container-fluid').css('width', '1600px')
            }
        },
        computed : {
            allIndexCheck : function () {
                let checkAll = [];
                for (let i = 0; i < this.tickets.length; i++) {
                    if (this.ticketStatus(this.tickets[i]).bg !== 'bg-huy') {
                        checkAll.push(i);
                    }
                }
                return checkAll;
            },
            tickets : function () {//unduplicate
                try{
                    let ticketsGet = this.ticketsGet;
                    if(!ticketsGet){
                        return [];
                    }
                    let result = {}

                    $.each(ticketsGet,function(i,e){

                        let status = func.checkTicketStatus(e);
                        let key = e.tripId+'-'+e.ticketCode+'-'+status.type+'-'+func.removeUnicode(e.pointUp.address)+'-'+func.removeUnicode(e.pointDown.address);
                        e.sttTk = _.cloneDeep(status);
                        if(result[key]){
                            result[key].number++;
                            result[key].ticketIds.push(e.ticketId);
                            result[key].listSeatId.push(e.seat.seatId);
                            result[key].paidMoney+=_.cloneDeep(e.paidMoney);
                            result[key].unPaidMoney+=_.cloneDeep(e.unPaidMoney);
                        }else{
                            e.number = 1;
                            e.ticketIds = [e.ticketId];
                            result[key] = _.cloneDeep(e);
                        }

                    });
                    return Object.values(result);
                }catch (e) {
                    console.warn(e);
                }

            },
            ...mapState({
                companyConfigData: (state) => state.CompanyConfig.companyConfigData,
                companyConfig: (state) => state.CompanyConfig.companyConfig,
            })
        },
        methods: {
            checkHideConfig: function (field) {
                if(this.companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TICKET.value.includes(field)) {
                    return true;
                } else {
                    return false;
                }
            },
            clickToAssign(_target, index) {
                let doAssign = () => {
                    let target = (_target == 'DOWN') ? 'Up' : 'Down'

                    this.ticketsUpdateDriver.push(index)

                    const tmpDriver = this[`driverPoint${target}`]
                    const tmpVehicle = this[`vehiclePoint${target}`]

                    this[`driverPoint${target}`] = this.tickets[index][`point${target}`].transshipmentDriver || ""
                    if(this.tickets[index][`point${target}`].vehicleInfo && this.tickets[index][`point${target}`].vehicleInfo != null) {
                        this[`vehiclePoint${target}`] = {
                            vehicleId: this.tickets[index][`point${target}`].vehicleInfo.id,
                            numberPlate: this.tickets[index][`point${target}`].vehicleInfo.numberPlate,
                            phoneNumber: this.tickets[index][`point${target}`].vehicleInfo.phoneNumber
                        }
                    } else {
                        this[`vehiclePoint${target}`] = null
                    }


                    this.doUpdateTransshipmentDriverTickets(false)

                    this[`driverPoint${target}`] = tmpDriver
                    this[`vehiclePoint${target}`] = tmpVehicle

                    this.ticketsUpdateDriver = []
                    this.lastIndexClick = null
                }

                if(_target == 'DOWN' || _target == 'UP') {
                    if(this.lastIndexClick == null) {
                        doAssign()
                    }
                }
            },
            removeTripSelected(val) {
                let tmp = [];
                delete this.tripsMap[val.routeId]
                this.trips.forEach((elem,index) => {
                    if(elem.route.id != val.routeId) {
                        tmp.push(elem);
                    }
                })

                this.trips = tmp

                let tripMap = {};
                this.trips.forEach(function(elem){
                    tripMap[elem.tripId] = elem;
                })

                let tmpTripSelected = [];
                this.tripSelected.forEach(function(elem, index){
                    if(tripMap[elem]) {
                        tmpTripSelected.push(elem)
                    }
                })
                this.tripSelected = tmpTripSelected

            },

            getTrips() {
                let self = this;

                if ( this.routeSelected.length <= 0 ) return false;

                let routeAdded = this.routeSelected[ this.routeSelected.length - 1 ];

                let params = {
                    page: 0,
                    count: 300,
                    timeZone: 7,
                    sortSelections: [
                        {fieldName: "startTime", ascDirection: true}
                    ],
                    companyId: window.userInfo.userInfo.companyId,
                    // routeId: context.state.route.routeId,
                    date: this.date,
                    startPoint: _.first(routeAdded.listPoint).id,
                    endPoint: _.last(routeAdded.listPoint).id,
                    searchPointOption: 1,
                    source: 1,
                    platform: 1
                };
                sendJson({
                    url: urlDBD(API.planForTripSearch),
                    data: params,
                    success: function (data) {
                        let res = data.results.trips;

                        if(res[0]) {
                            self.tripsMap[res[0].route.id] = res;
                        }
                        self.trips = [];
                        $.each(self.tripsMap, function(index, elem){
                            elem.forEach(function(val) {
                                self.trips.push(val);
                            })
                        })
                    },
                    functionIfError: function (data) {

                    }
                });
            },

            getTickets: function (options) {
                let self = this;
                if (options && options.loadMore) {
                    self.page++;
                } else {
                    self.page = 0;
                    self.ticketsUpdateDriver = [];
                }
                let params = {
                    page: self.page,
                    count: self.count,
                    date: self.date,
                }
                if (self.type !== null) {
                    params.type = self.type;
                }
                if (self.completedTransshipment !== null) {
                    params.completedTransshipment = self.completedTransshipment;
                }
                // if (self.route) {
                //     params.routeId = self.route.routeId;
                // }
                if (self.routes) {
                    params.routeIds = [];
                    self.routeSelected.forEach((elem) => {
                        params.routeIds.push(elem.routeId);
                    })

                }
                if (self.tripSelected) {
                    params.tripIds = self.tripSelected.map( _ => _.tripId);
                }

                if (self.driver) {
                    params.driverId = self.driver.id;
                }
                // if (self.region) {
                //     params.regionId = self.region.id;
                // }
                params.regionIds = [];
                if (self.region&&self.region.length > 0) {
                    params.regionIds = self.region.map( _ => _.id);
                }

                self.loading = true;
                sendParam({
                    url: urlDBD(API.ticketTransshipmentList),
                    data: params,
                    type: 'GET',
                    success: function (result) {
                        self.loadMore = true;
                        if (result.results.transshipments.length < self.count) {
                            self.loadMore = false;
                        }
                        if (options && options.loadMore) {
                            let tks = self.ticketsGet;
                            $.each(result.results.transshipments, function (t, tk) {
                                tks.push(tk);
                            })
                            self.ticketsGet = tks;
                        } else {
                            self.ticketsGet = result.results.transshipments;
                        }
                        let tmp = [];

                        self.ticketsGet.forEach((value) => {
                            params.regionIds.forEach(val => {
                                if( value.pointUp.regionInfo && value.pointUp.regionInfo.id == val ) {
                                    tmp.push(value)
                                }
                                if( value.pointDown.regionInfo && value.pointDown.regionInfo.id == val ) {
                                    tmp.push(value)
                                }
                            })
                        })

                        if( params.regionIds.length != 0 ) {
                            self.ticketsGet = tmp;
                        }

                        self.loading = false;
                    },
                    functionIfError: function () {
                        self.loading = false;
                    }
                })
            },
            handlerCheckAll: function () {
                this.ticketsUpdateDriver = (this.ticketsUpdateDriver.length === this.allIndexCheck.length ? [] : this.allIndexCheck);
                this.lastIndexClick = null;
            },
            updateRegionTicket: function (ticket, index) {
                let tk = _.cloneDeep(ticket);
                tk.pointUp.regionInfo = tk.pointUp.regionInfo ? ticket.pointUp.regionInfo : null;
                tk.pointDown.regionInfo = tk.pointDown.regionInfo ? ticket.pointDown.regionInfo : null;
                this.ticketUpdateRegion = tk;
                this.indexTicketUpdateRegion = index;
            },
            doUpdateRegionTicket: function () {
                let self = this;
                let ticketUpdate = _.cloneDeep(self.ticketUpdateRegion);
                let params = [];
                $.each(ticketUpdate.ticketIds,function (i,id) {
                    params.push({
                        ticketId: id,
                        tripId: ticketUpdate.tripId,
                        pointUp: ticketUpdate.pointUp,
                        pointDown: ticketUpdate.pointDown,
                    })
                })
                self.ticketUpdateRegion = null;
                self.loading = true;
                sendJson({
                    url: urlDBD(API.ticketUpdate),
                    data: params,
                    success: function (res) {
                        // self.tickets[self.indexTicketUpdateRegion] = ticketUpdate;
                        self.getTickets()
                        self.loading = false;
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                    }
                })
            },
            doUpdateTransshipmentDriverTickets: function (loading = true) {
                let self = this;
                let ticketsDriver = self.ticketsUpdateDriver;
                let params = [];
                let tickets = this.tickets;
                let transshipmentDriverUp = null;
                if (self.driverPointUp) {
                    transshipmentDriverUp = {
                        id: self.driverPointUp.id,
                        fullName: self.driverPointUp.fullName,
                        phoneNumber: self.driverPointUp.phoneNumber,
                    }
                }
                let transshipmentDriverDown = null;
                if (self.driverPointDown) {
                    transshipmentDriverDown = {
                        id: self.driverPointDown.id,
                        fullName: self.driverPointDown.fullName,
                        phoneNumber: self.driverPointDown.phoneNumber,
                    }
                }
                let vehiclePointUp = null;
                if (self.vehiclePointUp) {
                    vehiclePointUp = {
                        id: self.vehiclePointUp.vehicleId,
                        numberPlate: self.vehiclePointUp.numberPlate,
                        phoneNumber: self.vehiclePointUp.phoneNumber,
                    }
                }
                let vehiclePointDown = null;
                if (self.vehiclePointDown) {
                    vehiclePointDown = {
                        id: self.vehiclePointDown.vehicleId,
                        numberPlate: self.vehiclePointDown.numberPlate,
                        phoneNumber: self.vehiclePointDown.phoneNumber,
                    }
                }
                $.each(ticketsDriver, function (i, index) {
                    $.each(tickets[index].ticketIds,function (i,id) {
                        let tk = {
                            ticketId: id,
                            tripId: tickets[index].tripId,
                            pointUp: tickets[index].pointUp,
                            pointDown: tickets[index].pointDown,
                        };
                        tk.pointUp.transshipmentDriver = transshipmentDriverUp;
                        tk.pointDown.transshipmentDriver = transshipmentDriverDown;
                        tk.pointUp.vehicleInfo = vehiclePointUp;
                        tk.pointDown.vehicleInfo = vehiclePointDown;
                        params.push(tk);
                    });
                });

                self.loading = loading;

                sendJson({
                    url: urlDBD(API.ticketTransshipment),
                    data: params,
                    success: function (res) {
                        $.each(ticketsDriver, function (i, index) {
                            self.tickets[index].pointUp.transshipmentDriver = transshipmentDriverUp;
                            self.tickets[index].pointDown.transshipmentDriver = transshipmentDriverDown;
                        });
                        self.loading = false;
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                    }
                })
            },
            print: function () {
                $(this.$el).find('.print-div').printThis();
            },
            ticketStatus: function (status) {
                return func.checkTicketStatus(status)
            },
            setLastIndex: function (t) {
                let self = this;
                this.lastIndexClick = null;
                let ticket = this.tickets[t];
                let ticketsUpdateDriver = this.ticketsUpdateDriver;
                $.each(ticketsUpdateDriver, function (e, index) {
                    if (ticket.ticketCode === self.tickets[index].ticketCode) {
                        self.lastIndexClick = t;
                        return false;
                    }
                });
            }
        }
    }
</script>
<style scoped>
.assignTDT__control {
    position: fixed;
    bottom: 0;
}
.assignTDT__list {
    margin-bottom: 120px;
}
.assignTDT__filter {
    position: relative;
}

.assignTDT__filter__arrow {
    width: 100px;
    height: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    background-color: #084388;
}
/* .assignTDT__filter .card__bordered{
    max-height: 500px;
    transition: max-height .5s ease-in;
} */
.assignTDT__filter .assignTDT__filter__fields {  display: block; }
.assignTDT__filter .assignTDT__filter__short { display: none; }
.assignTDT__filter.fixed {
    position: fixed;
    z-index: 9;
}
.assignTDT__filter.short .card__bordered{ padding: 0px; }
.assignTDT__filter.short .assignTDT__filter__short{ padding: 24px; }
.assignTDT__filter.short .assignTDT__filter__arrow{ display: none; }
.assignTDT__filter.short .assignTDT__filter__fields { display: none; }
.assignTDT__filter.short .assignTDT__filter__short { display: block; }

.assignTDT__filter .card__bordered{
    padding: 12px;
}

.assignTDT__filter:hover{
    cursor: pointer;
}
.assignTDT__list .assign:hover {
    cursor: pointer;
}
/* .assignTDT__control:hover{
    z-index: 100;
} */
</style>
