<template>
    <div class="row respon-page">
        <div class="col-12 title">
            <span>{{$t('report-cash-deposit')}}</span>
            <span class="float-right">
                <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
            </span>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <!-- <div class="col-6 col-md-3 form-group">
                        <label>Từ Ngày</label>
                        <datepicker v-model="search.startDate"></datepicker>
                    </div>
                    <div class="col-6 col-md-3 form-group">
                        <label>Đến Ngày</label>
                        <datepicker v-model="search.endDate"></datepicker>
                    </div> -->
                    <!--<datepicker-ranger v-model="search" ></datepicker-ranger>-->
                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('from-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="startDate"
                                        format="dd-MM-yyyy"
                                        :picker-options="options"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('to-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="endDate"
                                        :picker-options="options"
                                        format="dd-MM-yyyy"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <label class="w-100"></label>
                        <button class="btn btn-block btn-primary" @click="getCashBook()"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="container top10">
                <table class="table table-sm table-bordered-dark">
                    <thead>
                        <tr>
                            <td colspan="9">
                                <h5 class="text-center top20">{{$t('cash-book-money')}}</h5>
                                <div class="text-right">
                                    Từ {{ startDate | customDate('#DD#-#MM#-#YYYY#') }} đến ngày {{ endDate | customDate('#DD#-#MM#-#YYYY#')}}
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-right">{{$t('beginning-balance')}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right tableexport-string">{{ dataCashBook.openingBalance|number }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">{{$t('total-revenue')}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right tableexport-string">{{ dataCashBook.debit|number }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">{{$t('total-expenditure')}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right tableexport-string">{{ dataCashBook.credit|number }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">{{$t('ending-balance')}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right tableexport-string">{{ dataCashBook.endingBalance|number }}</td>
                            <td></td>
                        </tr>
                        <tr class="bg-dark text-white">
                            <th>STT</th>
                            <th>SCT</th>
                            <th style="min-width: 85px">Ngày tạo</th>
                            <th>{{$t('sender')}}</th>
                            <th>{{$t('receiver')}}</th>
                            <th>Diễn giải</th>
                            <th>Số tiền thu</th>
                            <th>Số tiền chi</th>
                            <th>Ghi chú</th>
                        </tr>
                        <template v-for="(bill,b) in bills">
                            <tr :key="b">
                                <td class="tableexport-string">{{ b+1 }}</td>
                                <td class="tableexport-string">{{ bill.documentCode }}</td>
                                <td class="tableexport-string">{{ bill.createdDate|customDate('#DD#-#MM#') }}</td>
                                <td class="tableexport-string">{{ bill.spender ? bill.spender.fullName : '' }}</td>
                                <td class="tableexport-string">{{ bill.receiver ? bill.receiver.fullName : '' }}</td>
                                <td class="tableexport-string"> {{ bill.reason }}</td>
                                <td class="text-right tableexport-string"> {{ (bill.billType == 1 ? bill.amount
                                    :'')|number }}
                                </td>
                                <td class="text-right tableexport-string"> {{ (bill.billType == 2 ?
                                    '-'+bill.amount :'')|number }}
                                </td>
                                <td class="tableexport-string">{{ bill.note }}</td>
                            </tr>
                        </template>
                        <tr>
                            <td colspan="4" class="text-right">Tổng</td>
                            <td></td>
                            <td></td>
                            <td class="text-right tableexport-string"> {{ dataCashBook.totalOfReceipt|number }}</td>
                            <td class="text-right tableexport-string"> {{ dataCashBook.totalOfPayment|number }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                        <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapState} from 'vuex';

    let d = new Date()
    export default {
        data : function () {
            return {
                startDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                startTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                search: {
                    startDate :  new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                },
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dataCashBook : {},
                bills : [],
                page : 0,  // page get bills
                count : func.countSearch(), // count get bills
                loading : false,// trạng thái load bills
                loadMore : true,
            }
        },
        mounted : function () {
            let self = this;
            this.getCashBook();
            window.addEventListener('scroll', this.listedScroll);
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        destroyed: function () {
            window.removeEventListener('scroll', this.listedScroll);
        },
        methods : {
            listedScroll: function () {
                let self = this;
                let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
                if(bottomOfWindow && !self.loading && self.loadMore) {
                    console.log('End of page');
                    self.page++;
                    self.getBills();
                }
            },
            getCashBook : function () {
                let self = this;
                self.load('getCashBook-CashBook');
                sendParam({
                    url : urlDBD(API.reportCashBook),
                    data : {
                        startDate : new Date(self.startDate).customFormat('#YYYY##MM##DD#'),
                        endDate : new Date(self.endDate).customFormat('#YYYY##MM##DD#')
                    },
                    type : 'get',
                    success :function (res) {
                        self.dataCashBook = res.results.accumulatedCash;
                        self.page = 0;
                        self.loadMore=true;
                        self.getBills();
                        self.unload('getCashBook-CashBook');
                    },
                    functionIfError : function (res) {
                        self.unload('getCashBook-CashBook');
                    }
                })
            },
            getBills : function () {
                let self = this;
                self.loading = true;
                self.load("getBills-CashBook");
                let dataSend = {
                    page : self.page,
                    count :self.count,
                    startDate : new Date(self.startDate).customFormat('#YYYY##MM##DD#'),
                    endDate : new Date(self.endDate).customFormat('#YYYY##MM##DD#')
                };
                sendJson({
                    url : urlDBD(API.billList),
                    data : dataSend,
                    success : function (data) {
                        if(self.page ===0 ){
                            self.bills = data.results.listBill;
                        }else{
                            self.bills = self.bills.concat(data.results.listBill);
                        }
                        self.unload('getBills-CashBook');
                        self.loading = false;
                        if(data.results.listBill.length<self.count){
                            self.loadMore=false;
                        }
                    },
                    functionIfError : function (data) {
                        self.page--;
                        self.unload('getBills-CashBook');
                        self.loading = false;
                    }
                });
            },
            exportExcel : function () {
                this.excel($(this.$el).find('table'),"So_quy_tien_mat_");
                // let tableEP = $(this.$el).find('table').tableExport({
                //     headings: true,       // (Boolean), display table headings (th/td elements) in the <thead>
                //     footers: true,        // (Boolean), display table footers (th/td elements) in the <tfoot>
                //     formats: ["xlsx"],    // (String[]), filetypes for the export
                //     filename: "So_quy_tien_mat_"+new Date().customFormat('#hhhh#h-#mm#p-#DD#-#MM#-#YYYY#'),// (id, String), filename for the downloaded file
                //     bootstrap: false,                   // (Boolean), style buttons using bootstrap
                //     exportButtons: false,
                //     name: 'So_quy_tien_mat',
                // });
                // let exportData = tableEP.getExportData()['tableexport-1']['xlsx'];
                //
                // tableEP.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
                // tableEP.remove();
            },
        }
    }
</script>