<template>
  <div class="container" style="margin-top: 80px">
    <div class="row">
      <div class="col-auto heading-title">Báo cáo khách hàng</div>
      <div class="col text-right">
        <!--<button class="btn btn-success float-right" @click="add()">Thêm chính sách</button>-->
        <button class="btn btn-av-IT" @click="openSendMessDialog()">
          <i class="el-icon-message"></i>
          Gửi tin nhắn {{ `(${listSMfromCusList.length} KH được chọn)` }}
        </button>
        <button class="btn btn-success" @click="exportExcel()">
          <i class="fa fa-file-excel"></i> Xuất excel
        </button>
        <button class="btn btn-primary" @click="printTableReport()">
          <i class="fa fa-print"></i> In
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col-12 col-md-4 form-group">
        <label>Chọn thời gian</label>
        <el-date-picker
          v-model="timeRange"
          type="daterange"
          format="dd-MM-yyyy"
          :clearable="false"
          :picker-options="options"
          range-separator="-"
          start-placeholder="Start date"
          end-placeholder="End date"
          class="w-100"
        ></el-date-picker>
      </div>
      <div class="col-6 col-md form-group">
        <label>Chọn tuyến</label>
        <select-route v-model="route" class="w-100"></select-route>
      </div>
      <div class="col-6 col-md form-group">
        <label>SDT</label>
        <el-input
          placeholder="Số điện thoại"
          v-model="phoneNumber"
          class="w-100"
        ></el-input>
      </div>
      <div class="w-100"></div>
      <div class="col-6 col-md-3 form-group">
        <label>Loại khách hàng</label>
        <select-customer-type
          class="w-100"
          v-model="customerType"
        ></select-customer-type>
      </div>
      <div class="col-auto form-group">
        <label class="w-100">&nbsp;</label>
        <el-select v-model="isDiscounted" placeholder="lựa chọn">
          <el-option :key="null" label="Tất cả" :value="null"></el-option>
          <el-option
            :key="false"
            label="Không ưu đãi"
            :value="false"
          ></el-option>
          <el-option :key="true" label="Ưu đãi" :value="true"></el-option>
        </el-select>
      </div>
      <div class="col-6 col-md form-group">
        <label class="w-100">&nbsp;</label>
        <el-button type="primary" plain @click="getReport()" :loading="loading"
          >Lọc kết quả</el-button
        >
      </div>
    </div>
    <div class="row" style="margin-top: 40px">
      <div class="col-12">
        <table
          class="table table-bordered table-light table-export"
          v-loading="loading"
        >
          <tbody>
            <tr>
              <th>
                <el-checkbox v-model="checkAllBtn" @change="handleSelectAll">{{
                  checkAllBtn ? "Bỏ chọn tất cả" : "Chọn tất cả"
                }}</el-checkbox>
              </th>
              <th>STT</th>
              <th>Họ tên</th>
              <th>SDT</th>
              <th>Đã đặt</th>
              <th>Đã hủy</th>
              <th>Tổng tiền</th>
            </tr>
            <template>
              <tr
                colspan="6"
                class="text-center"
                v-if="!dataReport || dataReport.length <= 0"
              >
                Không có dữ liệu
              </tr>
              <template v-for="(data, i) in dataReport">
                <tr :key="i">
                  <td>
                    <el-checkbox
                      :value="
                        !!listSMfromCusList.find(
                          (x) => x.phoneNumber === data.phoneNumber
                        )
                      "
                      @change="handleChangeCheckCustomer(data)"
                    ></el-checkbox>
                  </td>
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.fullName }}</td>
                  <td>{{ data.phoneNumber }}</td>
                  <td class="text-right">{{ data.totalBooked | number }}</td>
                  <td class="text-right">{{ data.totalCanceled | number }}</td>
                  <td class="text-right">{{ data.totalMoney | number }}</td>
                </tr>
              </template>
            </template>
          </tbody>
        </table>
      </div>
    </div>
    <el-dialog
      title="Gửi tin nhắn cho KH"
      :visible.sync="sendMessageDialog"
      width="50%"
    >
      <div class>
        <el-form label-position="top" label-width="200px" :model="form">
          <el-form-item label="Hình thức:">
            <el-radio-group v-model="smsType">
              <el-radio :label="1">Tin nhắn CSKH</el-radio>
              <el-radio :label="2">Tin nhắn QC</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="Tên chiến dịch QC:" v-if="smsType == 2">
            <el-input
              placeholder="Nhập tên chiến dịch..."
              v-model="form.campaignName"
            ></el-input>
          </el-form-item>
          <el-form-item label="Ngày giờ gửi:" v-if="smsType == 2">
            <el-date-picker
              v-model="form.scheduleTime"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm"
              placeholder="Chọn ngày giờ"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="Số lần gửi:" v-if="smsType == 2">
            <el-input-number
              v-model="form.quota"
              :min="1"
            ></el-input-number>
          </el-form-item>
          <el-form-item>
            <template slot="label">
              Chọn file:
              <el-tooltip
                class="item"
                effect="dark"
                :content="contentChooseFile"
                placement="top-start"
              >
                <i class="el-icon-warning"></i>
              </el-tooltip>
            </template>
            <input type="file" class @change="importExcel" id="upload" />
          </el-form-item>
          <el-form-item
            :label="`Danh sách được chọn: ${listTotalSendMessage.length} KH`"
          >
            <el-table
              :data="listTotalSendMessage"
              border
              stripe
              max-height="250"
              style="width: 100%"
            >
              <el-table-column label="STT" type="index" width="50"></el-table-column>
              <el-table-column
                prop="fullName"
                label="Tên khách hàng"
              ></el-table-column>
              <el-table-column
                prop="phoneNumber"
                label="Số điện thoại"
              ></el-table-column>
            </el-table>
          </el-form-item>
          <el-form-item label="Nội dung:">
            <el-input type="textarea" v-model="form.content"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="sendMessageDialog = false">Hủy</el-button>
        <el-button type="primary" @click="submitSendMessage">Gửi</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import SelectRoute from "../Route/SelectRoute";
import SelectCustomerType from "../CustomerType/SelectCustomerType";
// import * as Excel from "exceljs";
// import { Stream } from 'stream';
// import * as _ from 'lodash';
import xlsx from "xlsx";
import {mapState} from 'vuex'
export default {
  components: { SelectRoute, SelectCustomerType },
  data: function () {
    return {
      smsType: 1,
      timeRange: [new Date(), new Date()],
      route: null,
      customerType: null,
      phoneNumber: "",
      loading: false,
      isDiscounted: null,
      dataReport: [],
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      // send customer message
      contentChooseFile:
        'Chọn file excel có định dạng xlsx, xls. Trong file cần có 2 cột là "Họ tên" và "SDT" để hệ thống có thể nhận diện được. Sau khi chọn xong, danh sách KH sẽ được hiển thị ở bảng bên dưới',
      listSMfromCusList: [],
      listSMfromExcel: [],
      checkAllBtn: false,
      sendMessageDialog: false,
      form: {
        campaignName: null,
        quota: null,
        scheduleTime: null,
        content: null,
      },
    };
  },
  computed: {
    ...mapState({
        companyConfig: state => state.CompanyConfig.companyConfig,
    }),
    listTotalSendMessage: function () {
      let arr = this.listSMfromCusList.concat(this.listSMfromExcel);
      return arr;
    },
    total: function () {
      let data = this.dataReport;
      let total = {
        number: 0,
        amount: 0,
      };
      $.each(data, function (k, v) {
        total.number -= -v.number;
        total.amount -= -v.amount;
      });
      return total;
    },
  },
  mounted: function () {
    this.getReport();
  },
  methods: {
    importExcel(e) {
      const files = e.target.files;
      //   const files = e;
      if (!files.length) {
        this.listSMfromExcel = [];
        return;
      } else if (!/\.(xls|xlsx)$/.test(files[0].name.toLowerCase())) {
        return alert(
          "The upload format is incorrect. Please upload xls or xlsx format"
        );
      }
      const fileReader = new FileReader();
      fileReader.onload = (ev) => {
        try {
          const data = ev.target.result;
          const XLSX = xlsx;
          const workbook = XLSX.read(data, {
            type: "binary",
          });
          const wsname = workbook.SheetNames[0]; // Take the first sheet，wb.SheetNames[0] :Take the name of the first sheet in the sheets
          const ws = XLSX.utils.sheet_to_json(workbook.Sheets[wsname]); // Generate JSON table content，wb.Sheets[Sheet名]    Get the data of the first sheet
          const excellist = []; // Clear received data
          // Edit data
          for (var i = 0; i < ws.length; i++) {
            excellist.push(ws[i]);
          }
          console.log("Read results", excellist); // At this point, you get an array containing objects that need to be processed
          this.listSMfromExcel = excellist.map((x) => {
            return {
              fullName: x["Họ tên"],
              phoneNumber: x["SDT"],
            };
          });
        } catch (e) {
          return alert("Read failure!");
        }
      };
      fileReader.readAsBinaryString(files[0]);
    },
    submitSendMessage: async function (params) {
      const smsType = this.smsType;
      if(smsType == 1) { // tin nhan CSKH
        await this.callApiSendMessage();
      }
      if(smsType == 2) { // tin nhan quang cao
        await this.callAPISendCampaign();
      }
      this.sendMessageDialog = false;
    },
    callAPISendCampaign: async function(params) {
      let self = this;
      const form = this.form;
      let param = {
        campaignName: form.campaignName,
        brandName: userInfo.userInfo.companyName,
        scheduleTime: form.scheduleTime,
        quota: (this.listTotalSendMessage.length * form.quota).toString(),
        phoneNumber: this.listTotalSendMessage.map(x => x.phoneNumber),
        message: form.content,
      }
      console.log('Campaign!@!', param);
      let result = new Promise((resolve, reject) => {
        sendJson({
          url: urlDBD(API.sendSmsCampaign),
          data: param,
          success: function (res) {
            const response = res.results.sendState;
            if(!response) {
              notify("Gửi tin nhắn thất bại!", 'error');
            }
            if(response) {
              notify("Gửi tin nhắn thành công!");
            }
            return resolve();
          },
          functionError: function () {
            notify("Gửi tin nhắn không thành công!", 'error');
            return reject();
          },
        });
      });
    },
    callApiSendMessage: async function (params) {
      let self = this;
      let param = {
        phoneNumber: this.listTotalSendMessage.map(x => x.phoneNumber),
        message: this.form.content,
      };
      console.log(param);
      let result = new Promise((resolve, reject) => {
        sendJson({
          url: urlDBD(API.sendSMSbyListPhone),
          data: param,
          success: function () {
            notify("Gửi tin nhắn thành công");
            return resolve();
          },
          functionError: function () {
            return reject();
          },
        });
      });
    },
    handleSelectAll: function () {
      const isCheck = this.checkAllBtn;
      const listCustomer = this.dataReport;
      if (isCheck) {
        const listExsitPhoneNumber = this.listSMfromCusList.map(
          (x) => x.phoneNumber
        );
        const listPush = listCustomer.filter(
          (ele) => !listExsitPhoneNumber.includes(ele.phoneNumber)
        );
        this.listSMfromCusList = this.listSMfromCusList.concat(listPush);
      } else {
        const listCustomerPhone = listCustomer.map((x) => x.phoneNumber);
        const listPush = this.listSMfromCusList.filter(
          (ele) => !listCustomerPhone.includes(ele.phoneNumber)
        );
        this.listSMfromCusList = listPush;
      }
    },
    handleChangeCheckCustomer: function (customer) {
      const exsitCustomer = !!this.listSMfromCusList.find(
        (item) => item.phoneNumber == customer.phoneNumber
      );
      if (exsitCustomer) {
        this.listSMfromCusList = this.listSMfromCusList.filter(
          (ele) => ele.phoneNumber !== customer.phoneNumber
        );
      } else {
        this.listSMfromCusList.push(customer);
      }
    },
    openSendMessDialog: function () {
      this.sendMessageDialog = true;
    },
    getReport: function () {
      let self = this;
      let params = {
        startDate: new Date(_.first(self.timeRange)).getTime(),
        endDate: new Date(_.last(self.timeRange)).getTime(),
      };
      if (self.phoneNumber) {
        params.phoneNumber = self.phoneNumber;
      }
      if (self.isDiscounted !== null) {
        params.isDiscounted = self.isDiscounted;
      }
      if (self.route) {
        params.routeId = self.route.routeId;
      }
      if (self.customerType) {
        params.customerTypeId = self.customerType.id;
      }

      self.loading = true;
      sendJson({
        url: urlRP(API.reportCustomer),
        data: params,
        success: function (res) {
          self.dataReport = res.results.summaryReport;
          self.loading = false;
        },
        functionIfError(err) {
          console.warn(err);
          self.loading = false;
        },
      });
    },
    exportExcel: function () {
      this.excel($(this.$el).find("table"), "BAO_CAO_KHACH_HANG_");
    },
    printTableReport: function () {
      $(this.$el).find("table.table-export").printThis();
    },
  },
};
</script>
<style lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
</style>