báo cáo tiêu hao nhiên liệu
<template>
    <div class="row respon-page">
        <div class="col-12 title">
            <span class="text-uppercase">{{$t('statistics-fuel-consumption')}}</span>
            <span class="float-right">
                <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
            </span>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <!-- <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Từ ngày</label>
                            <datepicker v-model="search.startDate"></datepicker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Đến ngày</label>
                            <datepicker v-model="search.endDate"></datepicker>
                        </div>
                    </div> -->
                    <!--<datepicker-ranger v-model="search" ></datepicker-ranger>-->
                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('from-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="startDate"
                                        format="dd-MM-yyyy"
                                        :picker-options="options"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('to-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="endDate"
                                        :picker-options="options"
                                        format="dd-MM-yyyy"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-6 col-md-3">-->
                        <!--<div class="form-group">-->
                            <!--<label>Lái xe</label>-->
                            <!--<selectuser :listUserType="[2]" :allowEmpty="true" v-model="driver"></selectuser>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-6 col-md-3">
                        <div class="control-group">
                            <label>{{$t('filter.vehicle')}}</label><br>
                            <select-vehicle v-model="vehicle"></select-vehicle>
                            <!--<multiselect :options="vehicles" placeholder="Chọn Xe" label="numberPlate" v-model="vehicle" :allow-empty="true"></multiselect>-->
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>&nbsp; </label>
                            <button class="btn btn-primary btn-block text-uppercase" @click="getReportFuel()"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                        </div>
                    </div>
                    <!--<div class="col-md-9"></div>-->
                    <!--<div class="col-6 col-md-3">-->
                        <!--<div class="form-group">-->
                            <!--<label>&nbsp; </label>-->
                            <!--<button class="btn btn-primary btn-block" @click="getReportTrips()"><i class="fa fa-search"></i> LỌC</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-6 col-md-3">-->
                    <!--<div class="form-group">-->
                    <!--<label>&nbsp; </label>-->
                    <!--<button class="btn btn-success btn-block" @click="createReport()"><i class="fa fa-cog"></i> CHỐT NGÀY {{ endDate }}</button>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-12 top20 tableReport">
            <div class="container">
                <ol style="padding-left : 0">
                    <table class="table table-sm top20 table-bordered-dark text-center table-respon">
                        <thead class="thead-dark">
                        <tr>
                            <td colspan="11">
                                <div class="text-center top20"><b>{{$t('report-fuel-consumption')}}</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11">
                                <div class="text-center">
                                    <small>{{ new Date().getTime()|customDate('#hhhh#:#mm# Ngày #DD# tháng #MM# năm #YYYY#') }}</small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11">
                            <div class="top10 text-right"> Ngày làm việc <strong>{{ startDate | customDate('#DD#-#MM#-#YYYY#') }}</strong> đến <strong>{{ endDate | customDate('#DD#-#MM#-#YYYY#') }}</strong> </div>
                            </td>
                        </tr>
                        <tr class="bg-dark">
                            <th>STT</th>
                            <th>Ngày</th>
                            <!--<th>Chuyến</th>-->
                            <th>Xe</th>
                            <th>Số lít</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th>Km đầu</th>
                            <th>Km cuối</th>
                            <th>Định mức</th>
                            <th style="max-width: 300px;">Nội dung</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="dataReport.length<=0">
                            <td colspan="9" class="text-center">{{$t('no-data-available')}}</td>
                        </tr>
                        <template v-for="(data,dt) in dataReport">
                            <tr :key="dt">
                                <td>{{ dt+1 }}</td>
                                <td>{{ data.createdDate|customDate('#DD#-#MM#-#YYYY#') }}</td>
                                <!--<td>{{ data.createdDate|customDate('#DD#-#MM#-#YYYY#') }}</td>-->
                                <td>{{ data.numberPlate }}</td>
                                <td>{{ data.number|number }}</td>
                                <td>{{ (data.amount/data.number)|number }}</td>
                                <td>{{ data.amount|number }}</td>
                                <td>{{ data.usage.startIndex|number }}</td>
                                <td>{{ data.usage.endIndex|number }}</td>
                                <td>{{ data.number*100/(data.usage.endIndex-data.usage.startIndex) }}</td>
                                <td>{{ data.reason }}</td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot class="font-weight-bold" v-if="dataReport">
                        <tr>
                            <td></td>
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            <td>{{total.number|number}}</td>
                            <td></td>
                            <td>{{total.amount|number}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </ol>
                <div class="row top10">
                    <div class="col-4 font-weight-bold text-center">
                        Lái xe ký
                    </div>
                    <div class="col-4 font-weight-bold text-center">
                        Điều hành ký
                    </div>
                    <div class="col-4 font-weight-bold text-center">
                        Thu ngân ký
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top20">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="pull-right">
                            <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                            <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t(('export-excel'))}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import { mapState} from 'vuex';

    let d = new Date()
    export default {
        components : {SelectVehicle},
        data : function () {
            return {
                startDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                startTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                search: {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                },
                driver : null,
                vehicle : null,
                vehicles : [],
                dataReport : []
            }
        },
        computed : {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            total : function () {
                let data = this.dataReport;
                let total = {
                    number : 0,
                    amount : 0
                }
                $.each(data,function (k,v) {
                    total.number -=- v.number;
                    total.amount -=- v.amount;
                });
                return total
            }
        },
        mounted  :function () {
            this.getVehicle();
            this.getReportFuel();
        },
        methods : {
            getVehicle : function () {
                let self = this;
                self.load('getVehicles-TripDriver');
                sendJson({
                    url : urlDBD(API.vehicleList),
                    data : {page : 0,count :func.countMax(),companyId : userInfo.userInfo.companyId},
                    success :function (res) {
                        self.vehicles = res.results.result;
                        self.unload('getVehicles-TripDriver');
                    },
                    functionIfError : function (res) {
                        self.unload('getVehicles-TripDriver');
                    }
                })
            },
            getReportFuel : function () {
                let self = this;
                self.load('getReportFuel');
                let dataReq = {};
                // let d = func.dateStartToEnd(self.search.startDate,self.search.endDate);
                dataReq.startDate = new Date(self.startDate).customFormat('#YYYY##MM##DD#');
                dataReq.endDate = new Date(self.endDate).customFormat('#YYYY##MM##DD#');
                // if(self.driver){
                //     dataReq.driverId = self.driver.userId;
                // }
                if(self.vehicle){
                    dataReq.vehicleId = self.vehicle.vehicleId;
                }
                sendJson({
                    url : urlDBD(API.reportFuel),
                    data : dataReq,
                    success : function (res) {
                        self.dataReport = res.results.data;
                        self.unload('getReportFuel');
                    },
                    functionIfError : function (err) {
                        self.unload('getReportFuel');
                    }
                });
            },
            makeData : function (rD) {//rootData
                let self = this;
            },
            exportExcel : function () {
                this.excel($(this.$el).find('table'),"BAO_CAO_TIEU_HAO_NHIEN_LIEU_");
                // let tableEP = $(this.$el).find('table').tableExport({
                //     headings: true,       // (Boolean), display table headings (th/td elements) in the <thead>
                //     footers: true,        // (Boolean), display table footers (th/td elements) in the <tfoot>
                //     formats: ["xlsx"],    // (String[]), filetypes for the export
                //     filename: "BAO_CAO_TIEU_HAO_NHIEN_LIEU_"+new Date().customFormat('#hhhh#h-#mm#p-#DD#-#MM#-#YYYY#'),// (id, String), filename for the downloaded file
                //     bootstrap: false,                   // (Boolean), style buttons using bootstrap
                //     exportButtons: false,
                //     name: 'BAO_CAO_TIEU_HAO_NHIEN_LIEU',
                // });
                // let exportData = tableEP.getExportData()['tableexport-1']['xlsx'];
                //
                // tableEP.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
                // tableEP.remove();
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            }
        },
    }
</script>