<template>
  <div class="row respon-page">
    <div class="col-12 title">
      <span>THỐNG KÊ THEO NHÂN VIÊN</span>
      <span class="float-right">
        <button class="btn btn-primary btn-sm" @click="exportExcel()">
          <i class="fa fa-file-excel"></i> Xuất excel
        </button>
        <button class="btn btn-success btn-sm" @click="printTableReport()">
          <i class="fa fa-print"></i> In
        </button>
        <!--<button class="btn btn-success btn-sm"><i class="fa fa-save"></i> Lưu</button>-->
      </span>
    </div>
    <div class="col-12">
      <div class="content-row">
        <div class="row">
          <div class="col-4 col-md-2">
            <div class="form-group">
              <label>Nhân viên</label>
              <select2user :multiple="true" v-model="selectUser.user"></select2user>
              <!--<multiselect select-label="" track-by="id" :multiple="true" deselect-label="" :options="selectUser.users" label="fullName" placeholder="Chọn nhân viên" v-model="selectUser.user" :loading="selectUser.loading" @search-change="getUsers()" @open="getUsers()"></multiselect>-->
            </div>
          </div>
          <!-- <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Từ ngày</label>
                            <datepicker v-model="search.startDate"></datepicker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Đến  ngày</label>
                            <datepicker v-model="search.endDate"></datepicker>
                        </div>
          </div>-->
          <!--<datepicker-ranger v-model="search" class="date-ranger">-->
            <div class="col-2">
              <div class="form-group">
                <label>Từ ngày</label><br>
                <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                placeholder="Chọn ngày"></el-date-picker>
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                <label>Đến ngày</label><br>
                <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                placeholder="Chọn ngày"></el-date-picker>
              </div>
            </div>
          <div class="col-4 col-md-3">
            <div class="form-group">
              <label>Thống kê theo</label>
              <div class="form-group">
                <div class="row no-gutters" style="margin-top: 8px;">
                  <div class="col">
                    <input
                      type="radio"
                      id="noByTripStart"
                      name="byTripStart"
                      value="false"
                      v-model="byTripStart"
                    />
                    <label
                      for="noByTripStart"
                      class="font-weight-normal"
                      style="position: relative; top: -2px;"
                    >Ngày nhận</label>
                  </div>
                  <div class="col">
                    <input
                      type="radio"
                      id="byTripStart"
                      name="byTripStart"
                      value="true"
                      v-model="byTripStart"
                    />
                    <label
                      for="byTripStart"
                      class="font-weight-normal"
                      style="position: relative; top: -2px;"
                    >Ngày chuyển</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-md-3 align-self-end">
            <div class="form-group">
              <label>&nbsp;</label>
              <button class="btn btn-primary btn-block" @click="getReportByUser()">
                <i class="fa fa-search"></i> LỌC
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <b>DOANH THU GỬI NHẬN HÀNG THEO NHÂN VIÊN</b>
          </div>
          <div class="col-12 text-center">
            <small>{{ new Date().getTime()|customDate('#hhhh#:#mm# Ngày #DD# tháng #MM# năm #YYYY#') }}</small>
          </div>
          <div class="col-6 top10"></div>
          <div class="col-6 top10 text-right">
            Ngày làm việc
            <strong>{{ dateStart | customDate('#DD#-#MM#-#YYYY#')}}</strong> đến
            <strong>{{ dateEnd | customDate('#DD#-#MM#-#YYYY#')}}</strong>
          </div>
        </div>
        <table class="table table-sm top20 table-bordered text-center table-respon">
          <thead class="thead-dark">
            <tr class="bg-dark">
              <th>STT</th>
              <th>Mã Vạch</th>
              <th>Ngày gửi hàng</th>
              <th>Số lượng hàng</th>
              <th>Tiền gửi hàng</th>
              <th>Đã trả</th>
              <th>Chưa trả</th>
              <th>Thu tiền gửi hàng</th>
              <th>Bến lên (văn phòng gửi)</th>
              <th>Bến xuống (văn phòng nhận)</th>
              <th>Nhân viên tạo đơn hàng</th>
              <th>Nhân viên trả hàng</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="dataReport.length<=0">
              <td colspan="12" class="text-center">Không có dữ liệu</td>
            </tr>
            <template v-for="(dt,key) in dataReport">
              <tr :key="'user'+key">
                <td colspan="3" class="text-left">
                  <strong>Nhân viên : {{ dt.userInfo.fullName }} / 0{{ dt.userInfo.phoneNumber | phoneNumber }}</strong>
                </td>
                <td>
                  <strong>{{dt.count}}</strong>
                </td>
                <td>
                  <strong>{{dt.totalIncome|number}}</strong>
                </td>
                <td>
                  <strong>{{dt.totalPaid|number}}</strong>
                </td>
                <td>
                  <strong>{{dt.totalUnpaid|number}}</strong>
                </td>
                <td>
                  <strong>{{dt.paymentMoney|number}}</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <template v-if="dt.listGoods.length !==0">
                <tr :key="'good'+key">
                  <td colspan="12" class="text-left">Doanh thu gửi hàng (tạo đơn hàng)</td>
                </tr>
                <template v-for="(lg,i) in dt.listGoods">
                  <template v-for="(g,x) in lg.goodsList">
                    <tr>
                      <td>{{ g.index }}</td>
                      <td>{{ g.goodsCode }}</td>
                      <td>{{ g.sendDate|customDate('#DD#-#MM#-#YYYY#') }}</td>
                      <td>{{ g.quantity }}</td>
                      <td>{{ g.totalPrice|number }}</td>
                      <td>{{ g.paid|number }}</td>
                      <td>{{ g.unpaid|number }}</td>
                      <td></td>
                      <td>{{ g.pickPointName }}</td>
                      <td>{{ g.dropPointName }}</td>
                      <td>{{ g.createdUserName|number }}</td>
                      <td>{{ getDeliveryUser(g.updateUserInfoTimeline) }}</td>
                    </tr>
                  </template>
                </template>
              </template>
              <template v-if="dt.payments && dt.payments.length !== 0">
                <tr :key="'payment'+key">
                  <td colspan="12" class="text-left">Thu tiền hàng (gồm cả hàng tạo mới và thu hộ)</td>
                </tr>
                <template v-for="(item,index) in dt.payments">
                  <tr>
                    <td>{{ isCollectMoneyFor(item.goodsCode, dt) ? `(${index + 1})` : index + 1 }}</td>
                    <td>{{item.goodsCode}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{item.payment}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </template>
              </template>
            </template>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 margin-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="pull-right">
              <button class="btn btn-success btn-sm" @click="printTableReport()">
                <i class="fa fa-print"></i> In
              </button>
              <!--<button class="btn btn-success btn-sm"><i class="fa fa-save"></i> Lưu</button>-->
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState} from 'vuex';

let d = new Date()
export default {
  data: function() {
    return {
      user: null,
      dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      search: {
        startDate: new Date().customFormat("#DD#-#MM#-#YYYY#"),
        endDate: new Date().customFormat("#DD#-#MM#-#YYYY#")
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      byTripStart: false,
      selectUser: {
        users: [],
        user: null,
        loading: false
      },
      dataReport: [],
      keyCount: 0
    };
  },
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getDeliveryUser: function(arr) {
      let deliveryUserName = arr && arr[4] && arr[4].fullName ? arr[4].fullName : null;
      if(!deliveryUserName) return 'Hàng chưa trả';
      return deliveryUserName;
    },
    isCollectMoneyFor: function(currentCode, arr) {
      const listGoods = arr.listGoods;
      let response = true;
      if (listGoods.length === 0) return response;

      const userId = arr.userInfo.id;

      let goodInfoList = [];
      listGoods.forEach(element => {
        let list = [];
        if(element.goodsList.length > 0) {
          list = element.goodsList.map(x => {
            let info = {
              goodsCode: x.goodsCode,
              createdUserId: x.createdUserId
            }
            return info;
          })
        }
        goodInfoList = goodInfoList.concat(list);
      });
      let isCollectMoney = goodInfoList.filter(x => x.goodsCode === currentCode && x.createdUserId === userId);
      if(isCollectMoney.length > 0 ) {
        return response = false;
      }
      return response = true;
    },
    getUsers: function() {
      let self = this;
      self.selectUser.loading = true;
      let dataReq = {
        page: 0,
        count: func.countSearch(),
        listUserType: [2, 3, 4, 5, 6, 7]
      };
      sendJson({
        url: urlDBD(API.userListJson),
        data: dataReq,
        success: function(data) {
          self.selectUser.users = data.results.result;
          self.selectUser.loading = false;
        },
        functionIfError: function(data) {
          self.selectUser.loading = false;
        }
      });
    },
    getReportByUser: function() {
      let self = this;
      let userIds = [];
      $.each(self.selectUser.user, function(k, v) {
        userIds.push(v.id);
      });
      self.load("getReportByUser");
      sendJson({
        url: urlDBD(API.goodsReportByUser),
        data: {
          sendDate: self.dateStart,
          toDate: self.dateEnd + 86340000,
          userIds: userIds,
          byTripStart: self.byTripStart
        },
        success: function(res) {
          self.dataReport = res.results.result;
          self.setIndex();
          self.unload("getReportByUser");
        },
        functionIfError: function() {
          self.unload("getReportByUser");
        }
      });
    },
    setIndex: function() {
      let self = this;
      let data = _.cloneDeep(self.dataReport);
      // console.log(data);
      $.each(data, function(key, dr) {
        let index = 1;
        $.each(dr.listGoods, function(k, lg) {
          $.each(lg.goodsList, function(i, g) {
            data[key].listGoods[k].goodsList[i].index = index;
            index++;
          });
        });
      });
      self.dataReport = data;
    },
    // setIndex : function () {
    //     let self = this;
    //     let index=0;
    //     let data = _.cloneDeep(self.dataReport);
    //     console.log(data);
    //     $.each(data,function (key , dr) {
    //         $.each(dr.listGoods , function (k , lg) {
    //             $.each(lg.goodsList,function (i,g) {
    //                 data[key].listGoods[k].goodsList[i].index=index+1;
    //                 index++;
    //             })
    //         })
    //     });
    //     self.dataReport = data;
    // },
    printTableReport: function() {
      $(this.$el)
        .find(".tableReport")
        .printThis();
    },
    exportExcel: function () {
      this.excel($(this.$el)
              .find(".tableReport"),'BAO_CAO_HANG_HOA_THEO_NHAN_VIEN');
    }
  }
};
</script>
<style scoped>
.margin-bottom {
  margin-bottom: 60px;
}
</style>
