<template>
    <div style="margin-bottom: 50px">
        <el-row>
            <div class="col-12 title-ret">
                Quản lý báo cáo
            </div>
        </el-row>
        <div class="header-ret">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button class="btn btn-search btn-block" @click="addReport()">
                            Thêm báo cáo
                        </button>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label>Lọc báo cáo theo nhân viên</label><br>
                        <e-select-user v-model="listReport.permittedUsers" :multiple="false" :clearable="true"></e-select-user>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button class="btn btn-search btn-block" @click="getList()">
                            Lấy danh sách
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row statistic-content">
            <div class="col-2">
                <div class="item-statistic">
                    <h5>Tổng số vé: <span>{{listElectronicTicket.list.length}}</span></h5>
                </div>
            </div>
            <div class="col-3">
                <div class="item-statistic">
                    <h5>Tổng số vé đã xuất: <span>{{totalTicketExport()}}</span></h5>
                    &lt;!&ndash;<h5>Tổng tiền vé đã xuất: <span>4.523.000đ</span></h5>&ndash;&gt;
                </div>
            </div>
            <div class="col-3">
                <div class="item-statistic">
                    <h5>Vé chưa xuất: <span>{{totalTicketUnExport()}}</span></h5>
                    &lt;!&ndash;<h5>Tổng tiền vé chưa xuất: <span>4.523.000đ</span></h5>&ndash;&gt;
                </div>
            </div>
                        <div class="col-3">
                            <div class="item-statistic">
                                <h5>Hạn mức của phòng vé: <span>50.000.000đ</span></h5>
                            </div>
                        </div>
        </div>-->
        <div class="row">
            <div class="col-12" v-loading="listReport.loading | report.loading" >
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="listReport.list"
                            border>
                        <el-table-column type="index" class-name="text-center" label="STT"></el-table-column>
                        <el-table-column
                                label="Tên báo cáo"
                                min-width="120px"
                                class-name="text-center">
                            <template slot-scope="scope" v-if="scope.row.name">
                                {{scope.row.name}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Mã báo cáo"
                                min-width="100px"
                                class-name="text-center">
                            <template slot-scope="scope">
                                {{scope.row.path}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Mô tả"
                                min-width="100px"
                                class-name="text-center">
                            <template slot-scope="scope" v-if="scope.row.description">
                                {{scope.row.description}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Nhân viên được xem"
                                min-width="160px"
                                class-name="text-center">
                            <template slot-scope="scope" v-if="scope.row.permittedUsers">
                                <span v-for="item in scope.row.permittedUsers">
                                    {{item.fullName + ','}}
                                </span>

                            </template>
                        </el-table-column>
                        <el-table-column label="Tùy chọn" fixed="right">
                            <template slot-scope="scope">
                                <div  v-loading="scope.row.loading">
                                    <el-button type="primary" icon="el-icon-edit" @click="editReport(scope.row)" size="mini" :loading="scope.row.loading" circle></el-button>
                                    <el-popconfirm :title="$t('notify.confirm-delete')" confirmButtonText="Xóa" @onConfirm="deleteReport(scope.row)" cancel-button-text="Hủy">
                                        <el-button type="danger" slot="reference" icon="el-icon-delete" circle size="mini"></el-button>
                                    </el-popconfirm>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </div>
        </div>
        <el-dialog title="Thêm báo cáo mới" :visible.sync="dialogAddVisible">
            <el-form :model="form">
                <el-form-item label="Tên báo cáo" :label-width="formLabelWidth">
                    <el-input v-model="report.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Mô tả" :label-width="formLabelWidth">
                    <el-input v-model="report.description" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Mã báo cáo" :label-width="formLabelWidth">
                    <el-input v-model="report.url" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Nhân viên có quyền xem" :label-width="formLabelWidth">
                    <e-select-user v-model="report.permittedUsers" :multiple="true" ></e-select-user>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="addClose()">Hủy</el-button>
                <el-button type="primary" @click="confirmAddReport()">Tạo</el-button>
            </span>
        </el-dialog>
        <el-dialog title="Sửa báo cáo " :visible.sync="dialogEditVisible">
            <el-form :model="form">
                <el-form-item label="Tên báo cáo" :label-width="formLabelWidth">
                    <el-input v-model="reportEdit.name" autocomplete="off" :value="this.reportEdit.name" ></el-input>
                </el-form-item>
                <el-form-item label="Mô tả" :label-width="formLabelWidth">
                    <el-input v-model="reportEdit.description" autocomplete="off" :value="this.reportEdit.description"></el-input>
                </el-form-item>
                <el-form-item label="Mã báo cáo" :label-width="formLabelWidth">
                    <el-input v-model="reportEdit.path" autocomplete="off" :value="this.reportEdit.path"></el-input>
                </el-form-item>
                <el-form-item label="Nhân viên có quyền xem" :label-width="formLabelWidth">
                    <e-select-user v-model="reportEdit.permittedUsers" :multiple="true" :value="this.reportEdit.permittedUsers"></e-select-user>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogEditVisible = false">Hủy</el-button>
                <el-button type="primary" @click="confirmEditReport()">Sửa</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import {Report,ListReport} from "../../class/report";
    import {mapState} from 'vuex'
    export default {
        components : {SelectRoute, ESelectUser, SelectUser},
        data: function(){
            return {
                report : new Report(),
                listReport : new ListReport(),
                dialogAddVisible: false,
                dialogEditVisible: false,
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: 'auto',
                reportEdit: {}

            }
        },
        mounted: function(){
            this.listReport.getList(window.userInfo.userInfo)
        },
        methods: {
            addReport : function () {
                this.dialogAddVisible = true

            },
            confirmAddReport : function () {
                let self = this
                self.dialogAddVisible = false
                self.report.sendAddReport(self.report.permittedUsers,function () {
                    self.listReport.getList(window.userInfo.userInfo)
                })
                self.report.name = ''
                self.report.description = ''
                self.report.url = ''
                self.report.permittedUsers = null
            },
            editReport : function (data) {
                this.dialogEditVisible = true
                this.reportEdit = data
            },
            confirmEditReport : function () {
                let self = this
                self.dialogEditVisible = false
                self.report.sendEditReport(self.reportEdit.permittedUsers,self.reportEdit)
            },
            deleteReport : function (report) {
                let self = this
                self.report.sendDeleteReport(report,function () {
                    self.listReport.getList(window.userInfo.userInfo)
                })
            },
            getList : function () {
                if (this.listReport.permittedUsers){
                    this.listReport.getListFiler(this.listReport.permittedUsers.id)
                    this.listReport.permittedUsers = null
                }
                else {this.listReport.getList(window.userInfo.userInfo)}

                /*this.list = this.listReport.list*/
            },
            addClose : function () {
                this.dialogAddVisible = false
                this.report.name = ''
                this.report.description = ''
                this.report.url = ''
                this.report.permittedUsers = null

            }
        },
        computed: {
        },
        watch: {
            list: function () {
            }
        }
    }
</script>
<style scoped>
    .btn-search{
        background: rgba(8, 67, 136, 0.89);
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        line-height: 1.6;
    }
    .btn-search:hover{
        background: #084388;
    }
    .header-ret{
        background: #ECEDF1;
        padding: 8px;
    }
    .title-ret {
        font-family: Montserrat !important;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .date-ranger{
        max-width: 33% !important;
    }
    .statistic-content{
        padding: 16px 8px;
    }
    .item-statistic h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
    }
    .item-statistic h5:first-child{
        margin-bottom: 8px;
    }
    .item-statistic h5 span{
        color: #084388;
    }
    .table thead{
        background: #CFD3DB;
    }
    .table td, .table td h5{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
    .table td h6{
        color: #9198A9;
        font-size: 12px;
        margin: 4px 0;
    }
    .table tbody tr{
        background-color: #fff;
    }
    .box-action{
        text-align: center;
    }
    .box-action button{
        padding: 6px 8px;
        border-radius: 8px;
        border: none;
        margin: 0 4px;
    }
    .box-action button i{
        color: #084388;
    }
</style>