<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase"
          >Báo cáo tiền và doanh thu của tôi (Mẫu AV16)</span
        >
        <span class="float-right"></span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item date-filter">
          <label>Thời gian</label>
          <el-date-picker
            v-model="form.dataRange"
            class="w-100"
            type="daterange"
            :picker-options="options"
            range-separator="-"
            :format="dateFormat"
            start-placeholder="Bắt đầu"
            end-placeholder="Kết thúc"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Tài khoản đăng nhập</label>
          <el-input :readonly="true" v-model="form.user.fullName"></el-input>
        </div>
        <div>
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >
            {{ $t("button.filter") }}
          </button>
        </div>
      </div>
    </div>
    <div class="margin-bottom">
      <table
        v-loading="loadingTable"
        class="table table-sm table-striped table-bordered table-respon"
      >
        <thead>
          <tr style="text-align: center">
            <th style="min-width: 90px">Chi tiêu</th>
            <th style="min-width: 100px">
              Doanh số vé
              <br />(tạo vé)
            </th>
            <th style="min-width: 100px">
              Doanh số hàng
              <br />(tạo hàng)
            </th>
            <th style="min-width: 90px">Doanh số vé và hàng</th>
            <th style="min-width: 110px">
              Sản lượng vé
              <br />(sau xuất bến)
            </th>
            <th style="min-width: 110px">
              Sản lượng hàng
              <br />(hàng lên xe)
            </th>
            <th style="min-width: 110px">
              Sản lượng vé và hàng
              <br />(XB và lên xe)
            </th>
            <th>Thu tiền vé</th>
            <th>Thu tiền hàng</th>
            <th>Thu nội bộ</th>
            <th>Hủy vé trả khách</th>
            <th>Đã nộp</th>
            <th>Còn phải nộp</th>
            <th>Xác nhận chuyển khoản vé</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="item of reportData">
            <tr :key="item.existUserId + '1'">
              <td>Số lượng</td>
              <td>
                {{
                  item.ticketSalesAmount ? item.ticketSalesAmount : 0 | number
                }}
              </td>
              <td>
                {{ item.goodsSalesAmount ? item.goodsSalesAmount : 0 | number }}
              </td>
              <td>
                {{
                  item.ticketGoodsSalesAmount
                    ? item.ticketGoodsSalesAmount
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.onTripTicketSalesAmount
                    ? item.onTripTicketSalesAmount
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.onTripGoodsSalesAmount
                    ? item.onTripGoodsSalesAmount
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.onTripTicketGoodsSalesAmount
                    ? item.onTripTicketGoodsSalesAmount
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.ticketReceiveAmount
                    ? item.ticketReceiveAmount
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.goodsReceiveAmount ? item.goodsReceiveAmount : 0 | number
                }}
              </td>
              <td>x</td>
              <td>
                {{
                  item.cancelTicketAmount ? item.cancelTicketAmount : 0 | number
                }}
              </td>
              <td>x</td>
              <td>x</td>
              <td>
                {{ item.transferTicketAmount ? item.transferTicketAmount : 0 }}
              </td>
              <td rowspan="2">
                <el-button type="primary" plain @click="getCashReportDetail()"
                  >Xem chi tiết</el-button
                >
                <el-button type="primary" plain @click="openModalAddBill(1)"
                  >Tạo phiếu thu</el-button
                >
              </td>
            </tr>
            <tr :key="item.existUserId + '2'">
              <td>Doanh thu</td>
              <td>
                {{ item.ticketSalesMoney ? item.ticketSalesMoney : 0 | number }}
              </td>
              <td>
                {{ item.goodsSalesMoney ? item.goodsSalesMoney : 0 | number }}
              </td>
              <td>
                {{
                  item.ticketGoodsSalesMoney
                    ? item.ticketGoodsSalesMoney
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.onTripTicketSalesMoney
                    ? item.onTripTicketSalesMoney
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.onTripGoodsSalesMoney
                    ? item.onTripGoodsSalesMoney
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.onTripTicketGoodsSalesMoney
                    ? item.onTripTicketGoodsSalesMoney
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.ticketReceiveMoney ? item.ticketReceiveMoney : 0 | number
                }}
              </td>
              <td>
                {{
                  item.goodsReceiveMoney ? item.goodsReceiveMoney : 0 | number
                }}
              </td>
              <td>
                {{
                  item.internalReceiveFinal
                    ? item.internalReceiveFinal
                    : 0 | number
                }}
              </td>
              <td>
                {{
                  item.cancelTicketMoney ? item.cancelTicketMoney : 0 | number
                }}
              </td>
              <td>
                {{
                  item.internalSpendFinal ? item.internalSpendFinal : 0 | number
                }}
              </td>
              <td>{{ item.remain ? item.remain : 0 | number }}</td>
              <td>
                {{
                  item.transferTicketMoney
                    ? item.transferTicketMoney
                    : 0 | number
                }}
              </td>
            </tr>
          </template>
          <template v-if="reportData.length == 0">
            <tr>
              <td>Số lượng</td>
              <td colspan="14" style="text-align: center">Không có dữ liệu</td>
            </tr>
            <tr>
              <td>Doanh thu</td>
              <td colspan="14" style="text-align: center">Không có dữ liệu</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <el-dialog
      custom-class="modal-lg"
      title="Chi tiết dòng tiền"
      :visible.sync="dialogTableVisible"
      width="85%"
      style="max-width: unset"
    >
      <el-tabs v-model="activeName">
        <el-tab-pane label="Hủy vé trả khách" name="first">
          <div class="form-group">
            <button
              class="btn btn-primary btn-sm"
              @click="exportToExcel('listCancel')"
            >
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button
              class="btn btn-primary btn-sm"
              @click="printTable('listCancel')"
            >
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <div class="form-group">
            <div class="grid-container">
              <table>
                <tr>
                  <td class="total-title">Số vé:</td>
                  <td class="total-value">
                    {{ totalCancelDetail.ticketNumberHasMoney | number }}/{{
                      totalCancelDetail.ticketNumber | number
                    }}
                  </td>
                  <td class="total-title">Giá vé:</td>
                  <td class="total-value">
                    {{ totalCancelDetail.agencyPrice | number }}
                  </td>
                  <td class="total-title"></td>
                  <td class="total-value"></td>
                </tr>
                <tr>
                  <td class="total-title">Phụ thu:</td>
                  <td class="total-value">
                    {{ totalCancelDetail.surchargePrice | number }}
                  </td>
                  <td class="total-title">Hủy trả khách:</td>
                  <td class="total-value">
                    {{ totalCancelDetail.refundMoney | number }}
                  </td>
                  <td class="total-title"></td>
                  <td class="total-value">
                    <el-popover placement="bottom" width="800" trigger="click">
                      <el-table
                        :data="userReportByRouterInListTicketCancel"
                        stripe
                        height="400"
                      >
                        <el-table-column
                          property="routerName"
                          label="Tuyến"
                        ></el-table-column>
                        <el-table-column label="Số lượng vé">
                          <template slot-scope="prop"
                            >{{ prop.row.totalTicketHasMoney }}/{{
                              prop.row.totalTicket
                            }}</template
                          >
                        </el-table-column>
                        <el-table-column label="Hủy trả khách">
                          <template slot-scope="prop">{{
                            prop.row.totalRefundMoney | number
                          }}</template>
                        </el-table-column>
                        <el-table-column label="Tiền vé">
                          <template slot-scope="prop">{{
                            prop.row.totalMoney | number
                          }}</template>
                        </el-table-column>
                      </el-table>
                      <el-button slot="reference"
                        >Thống kê theo tuyến</el-button
                      >
                    </el-popover>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <el-table
            id="listCancel"
            cell-class-name="tableexport-string"
            :data="listCancel"
            v-loading="loading"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column prop="ticketCode" label="Mã vé"></el-table-column>
            <el-table-column label="Hành khách" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span>{{ prop.row.fullName }}</span>
                  <span>{{
                    prop.row.phoneNumber ? `(${prop.row.phoneNumber})` : ""
                  }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Số vé">
              <template slot-scope="prop">{{
                prop.row.abc ? prop.row.abc : 1
              }}</template>
            </el-table-column>
            <el-table-column label="Giá vé">
              <template slot-scope="prop">{{
                prop.row.agencyPrice | number
              }}</template>
            </el-table-column>
            <el-table-column label="Phụ thu" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span
                    v-for="(surcharge, index) of prop.row.surcharges"
                    :key="index"
                    >{{
                      `${surcharge.name} ( ${surcharge.mode === 1 ? "+" : "-"}${
                        surcharge.price
                      })`
                    }}</span
                  >
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Hủy trả khách" width="150">
              <template slot-scope="prop">{{
                prop.row.refundMoney | number
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày giờ hủy" width="150">
              <template slot-scope="prop">{{
                prop.row.cancelTime | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#")
              }}</template>
            </el-table-column>
            <el-table-column
              property="cancelReason"
              label="Lí do hủy"
              width="150"
            ></el-table-column>
            <el-table-column label="Ngày tạo vé" width="150">
              <template slot-scope="prop">{{
                prop.row.createdDate
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#")
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày đi">
              <template slot-scope="prop">{{
                prop.row.getInTimePlan
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#", true)
              }}</template>
            </el-table-column>
            <el-table-column
              property="trip.routeName"
              label="Tuyến"
            ></el-table-column>
            <el-table-column
              property="trip.vehicle.numberPlate"
              label="BKS"
            ></el-table-column>
            <el-table-column label="Mã ghế">
              <template slot-scope="prop">{{ prop.row.seatId }}</template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <!-- <el-tab-pane label="Thu gửi hàng" name="second">
                <el-table :data="listGoods" height="400px" v-loading="loading">
                    <el-table-column property="ticketCode" label="Mã vé"></el-table-column>
                    <el-table-column property="fullName" label="Hành khách"></el-table-column>
                    <el-table-column property="phoneNumber" label="SDT"></el-table-column>
                    <el-table-column label="Giá vé">
                        <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày đi">
                        <template slot-scope="prop">{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày tạo vé">
                        <template slot-scope="prop">{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
                    </el-table-column>
                </el-table>
        </el-tab-pane>-->
        <el-tab-pane label="Thu bán vé" name="third">
          <div class="form-group">
            <button
              class="btn btn-primary btn-sm"
              @click="exportToExcel('listTicket')"
            >
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button
              class="btn btn-primary btn-sm"
              @click="printTable('listTicket')"
            >
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <div class="form-group">
            <div class="grid-container">
              <table>
                <tr>
                  <td class="total-title">Số vé:</td>
                  <td class="total-value">
                    {{ totalTicketDetail.ticketNumberHasMoney | number }}/{{
                      totalTicketDetail.ticketNumber | number
                    }}
                  </td>
                  <td class="total-title">Giá vé:</td>
                  <td class="total-value">
                    {{ totalTicketDetail.agencyPrice | number }}
                  </td>
                  <td class="total-title"></td>
                  <td class="total-value"></td>
                </tr>
                <tr>
                  <td class="total-title">Phụ thu:</td>
                  <td class="total-value">
                    {{ totalTicketDetail.surchargePrice | number }}
                  </td>
                  <td class="total-title">Tiền thu:</td>
                  <td class="total-value">
                    {{ totalTicketDetail.paidMoney | number }}
                  </td>
                  <td class="total-title"></td>
                  <td class="total-value">
                    <el-popover placement="bottom" width="800" trigger="click">
                      <el-table
                        :data="userReportByRouterInListTicket"
                        stripe
                        height="400"
                      >
                        <el-table-column
                          property="routerName"
                          label="Tuyến"
                        ></el-table-column>
                        <el-table-column label="Số lượng vé">
                          <template slot-scope="prop"
                            >{{ prop.row.totalTicketHasMoney }}/{{
                              prop.row.totalTicket
                            }}</template
                          >
                        </el-table-column>
                        <el-table-column label="Tiền đã thu">
                          <template slot-scope="prop">{{
                            prop.row.totalPaidMoney | number
                          }}</template>
                        </el-table-column>
                        <el-table-column label="Tiền vé">
                          <template slot-scope="prop">{{
                            prop.row.totalMoney | number
                          }}</template>
                        </el-table-column>
                      </el-table>
                      <el-button slot="reference"
                        >Thống kê theo tuyến</el-button
                      >
                    </el-popover>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <el-table
            id="listTicket"
            :data="listTicket"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column
              property="ticketCode"
              label="Mã vé"
            ></el-table-column>
            <el-table-column label="Hành khách" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span>{{ prop.row.fullName }}</span>
                  <span>{{
                    prop.row.phoneNumber ? `(${prop.row.phoneNumber})` : ""
                  }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Số vé">
              <template slot-scope="prop">{{
                prop.row.abc ? prop.row.abc : 1
              }}</template>
            </el-table-column>
            <el-table-column label="Giá vé">
              <template slot-scope="prop">{{
                prop.row.agencyPrice | number
              }}</template>
            </el-table-column>
            <el-table-column label="Phụ thu" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span
                    v-for="(surcharge, index) of prop.row.surcharges"
                    :key="index"
                    >{{
                      `${surcharge.name} ( ${surcharge.mode === 1 ? "+" : "-"}${
                        surcharge.price
                      })`
                    }}</span
                  >
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Tiền thu">
              <template slot-scope="prop">{{
                prop.row.transaction.paidMoney | number
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày giờ thu" width="200">
              <template slot-scope="prop">{{
                prop.row.transaction.time
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#")
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày tạo vé" width="150">
              <template slot-scope="prop">{{
                prop.row.createdDate
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#")
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày đi">
              <template slot-scope="prop">{{
                prop.row.getInTimePlan
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#", true)
              }}</template>
            </el-table-column>
            <el-table-column
              property="trip.routeName"
              label="Tuyến"
            ></el-table-column>
            <el-table-column
              property="trip.vehicle.numberPlate"
              label="BKS"
            ></el-table-column>
            <el-table-column label="Mã ghế">
              <template slot-scope="prop">{{ prop.row.seatId }}</template>
            </el-table-column>
            <el-table-column property="note" label="Ghi chú"></el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="Chuyển Khoản" name="fourth">
          <div class="form-group">
            <button
              class="btn btn-primary btn-sm"
              @click="exportToExcel('listTicketTransfer')"
            >
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button
              class="btn btn-primary btn-sm"
              @click="printTable('listTicketTransfer')"
            >
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <div class="form-group">
            <div class="grid-container">
              <table>
                <tr>
                  <td class="total-title">Số vé:</td>
                  <td class="total-value">
                    {{ totalTicketTransfer.ticketNumberHasMoney | number }}/{{
                      totalTicketTransfer.ticketNumber | number
                    }}
                  </td>
                  <td class="total-title">Giá vé:</td>
                  <td class="total-value">
                    {{ totalTicketTransfer.agencyPrice | number }}
                  </td>
                  <td class="total-title"></td>
                  <td class="total-value"></td>
                </tr>
                <tr>
                  <td class="total-title">Phụ thu:</td>
                  <td class="total-value">
                    {{ totalTicketTransfer.surchargePrice | number }}
                  </td>
                  <td class="total-title">Tiền chuyển khoản:</td>
                  <td class="total-value">
                    {{ totalTicketTransfer.paidMoney | number }}
                  </td>
                  <td class="total-title"></td>
                  <td class="total-value">
                    <el-popover placement="bottom" width="800" trigger="click">
                      <el-table
                        :data="userReportByRouterInListTicketTransfer"
                        stripe
                        height="400"
                      >
                        <el-table-column
                          property="routerName"
                          label="Tuyến"
                        ></el-table-column>
                        <el-table-column label="Số lượng vé">
                          <template slot-scope="prop"
                            >{{ prop.row.totalTicketHasMoney }}/{{
                              prop.row.totalTicket
                            }}</template
                          >
                        </el-table-column>
                        <el-table-column label="Tiền đã thu">
                          <template slot-scope="prop">{{
                            prop.row.totalPaidMoney | number
                          }}</template>
                        </el-table-column>
                        <el-table-column label="Tiền vé">
                          <template slot-scope="prop">{{
                            prop.row.totalMoney | number
                          }}</template>
                        </el-table-column>
                      </el-table>
                      <el-button slot="reference"
                        >Thống kê theo tuyến</el-button
                      >
                    </el-popover>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <el-table
            id="listTicketTransfer"
            :data="listTicketTransfer"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column
              property="ticketCode"
              label="Mã vé"
            ></el-table-column>
            <el-table-column label="Hành khách" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span>{{ prop.row.fullName }}</span>
                  <span>{{
                    prop.row.phoneNumber ? `(${prop.row.phoneNumber})` : ""
                  }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Số vé">
              <template slot-scope="prop">{{
                prop.row.abc ? prop.row.abc : 1
              }}</template>
            </el-table-column>
            <el-table-column label="Giá vé">
              <template slot-scope="prop">{{
                prop.row.agencyPrice | number
              }}</template>
            </el-table-column>
            <el-table-column label="Phụ thu" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span
                    v-for="(surcharge, index) of prop.row.surcharges"
                    :key="index"
                    >{{
                      `${surcharge.name} ( ${surcharge.mode === 1 ? "+" : "-"}${
                        surcharge.price
                      })`
                    }}</span
                  >
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Tiền CK">
              <template slot-scope="prop">{{
                prop.row.transaction.paidMoney | number
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày CK">
              <template slot-scope="prop">{{
                prop.row.transaction.date | strToDate()
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày tạo vé" width="150">
              <template slot-scope="prop">{{
                prop.row.createdDate
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#")
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày đi">
              <template slot-scope="prop">{{
                prop.row.getInTimePlan
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#", true)
              }}</template>
            </el-table-column>
            <el-table-column
              property="trip.routeName"
              label="Tuyến"
            ></el-table-column>
            <el-table-column
              property="trip.vehicle.numberPlate"
              label="BKS"
            ></el-table-column>
            <el-table-column label="Mã ghế">
              <template slot-scope="prop">{{ prop.row.seatId }}</template>
            </el-table-column>
            <el-table-column property="note" label="Ghi chú"></el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="Thu gửi hàng" name="second">
          <el-table
            id="listGoods"
            :data="listGoods"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column
              property="goodsCode"
              label="Mã hàng"
            ></el-table-column>
            <el-table-column
              property="createdUserName"
              label="Người tạo đơn"
            ></el-table-column>
            <el-table-column
              property="goodsName"
              label="Tên hàng"
            ></el-table-column>
            <el-table-column
              property="quantity"
              label="Số lượng"
            ></el-table-column>
            <el-table-column label="Trạng thái hàng">
              <template slot-scope="prop">{{
                goodStatusList.find((x) => x.value == prop.row.goodsStatus)
                  ? goodStatusList.find((x) => x.value == prop.row.goodsStatus)
                      .label
                  : ""
              }}</template>
            </el-table-column>
            <el-table-column label="Người thu tiền">
              <template slot-scope="prop">{{
                prop.row.flattened.paidUsersFullName | number
              }}</template>
            </el-table-column>
            <el-table-column label="Số tiền thu">
              <template slot-scope="prop">{{
                prop.row.flattened.payments | number
              }}</template>
            </el-table-column>
            <el-table-column label="Ngày giờ thu">
              <template slot-scope="prop">{{
                prop.row.paymentLastTime | customDate("#DD#-#MM#-#YYYY#")
              }}</template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="Thống kê theo chuyến" name="fifth">
          <div class="form-group">
            <button
              class="btn btn-primary btn-sm"
              @click="exportToExcel('listCheckTicket')"
            >
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button
              class="btn btn-primary btn-sm"
              @click="printTable('listCheckTicket')"
            >
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <el-table
            id="listCheckTicket"
            :data="listCheckTicket"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column label="Giờ chuyến">
              <template slot-scope="prop">{{
                prop.row.tripTimeStamp.value
                  | customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#")
              }}</template>
            </el-table-column>
            <el-table-column label="Biển số xe">
              <template slot-scope="prop">{{ prop.row.numberPlate }}</template>
            </el-table-column>
            <el-table-column label="Tài xế nhận vé">
              <template slot-scope="prop">{{
                prop.row.drivers.map((x) => x.fullName).join(", ")
              }}</template>
            </el-table-column>
            <el-table-column label="Số vé giao TX">
              <template slot-scope="prop">{{
                prop.row.ticketCounts | number
              }}</template>
            </el-table-column>
            <el-table-column label="Tổng tiền TX thu">
              <template slot-scope="prop">{{
                prop.row.paidMoney | number
              }}</template>
            </el-table-column>
            <el-table-column label="DS ghế">
              <template slot-scope="prop" class="tableexport-string">{{
                prop.row.seatIds.map((x) => x.toString()).join(", ")
              }}</template>
            </el-table-column>
            <el-table-column label="Nhân viên giao vé">
              <template slot-scope="prop">{{ prop.row.fullName }}</template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
    <div
      class="modal fade bd-example-modal-lg"
      id="modalAddBill"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalAddBill"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">
              {{
                billTypeAdd == 1
                  ? $t("button.create-revenue-note")
                  : $t("button.create-expenses-note")
              }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <bill-prepare-create
              :billType="billTypeAdd"
              ref="BillPrepareCreate"
              @event="addBillEvent"
            ></bill-prepare-create>
          </div>
          <div class="modal-footer bg-anvui" style="padding: 0.5rem 1rem">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary"
              @click="$refs.BillPrepareCreate.save()"
            >
              <i class="fa fa-save"></i> {{ $t("button.save") }}
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary"
              data-dismiss="modal"
            >
              <i class="fa fa-close"></i> {{ $t("button.close") }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import BillPrepareCreate from "../Bill/BillPrepareCreate";

export default {
  components : { BillPrepareCreate },
  data: function (params) {
    return {
      billTypeAdd: 1,
      loadingTable: false,
      form: {
        dataRange: [new Date(), new Date()],
        user: userInfo.userInfo,
      },
      options: {
        disabledDate: (time) => {
          return time.getTime() <
            this.companyConfig.CONFIG.TIME_START_GET_DATA.value
            ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value
            : 0;
        },
      },
      roomDataList: [],
      reportData: [],
      dateFormat: "dd-MM-yyyy",
      dataTotal: {
        totalTicket: 0,
        totalRevenue: 0,
      },

      dialogTableVisible: false,
      activeName: "first",
      loading: false,

      goodStatusList: this.renderGoodStatus(),
      listCancel: [],
      listGoods: [],
      listTicket: [],
      listTicketTransfer: [],
      listCheckTicket: [],
      totalCancelDetail: {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        refundMoney: 0,
      },
      totalTicketDetail: {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      },
      totalTicketTransfer: {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      },
      userReportByRouterInListTicket: [],
      userReportByRouterInListTicketTransfer: [],
      userReportByRouterInListTicketCancel: [],
    };
  },
  mounted: function () {},
  computed: {
    ...mapState({
      companyConfig: (state) => state.CompanyConfig.companyConfig,
    }),
  },
  methods: {
    addBillEvent : function (event) {
      let self = this;
      switch (event.eventName) {
        case 'saveSuccess' :
          $(this.$el).find('#modalAddBill').modal('hide');
          break;
        default :
          break;
      }
    },
    openModalAddBill: function (billType) {
      let self = this;
      self.billTypeAdd = billType;
      self.$refs.BillPrepareCreate.refresh();
      $(self.$el).find('#modalAddBill').modal('show');
    },
    getCashReportDetail: async function () {
      let self = this;
      self.loading = true;
      self.dialogTableVisible = true;
      self.cleanDetail();

      // type = 0 là tiền vé (thu trực tiếp và chuyển khoản), 1 là hủy vé, 2 là thu chi khác
      const listPaymentTicket = self
        .callAPIgetDetail(0, self.form.user.id)
        .then((value) => {
          self.listTicket = value.filter(
            (element) =>
              element.transaction && element.transaction.paymentType === 3
          );
          self.listTicketTransfer = value.filter(
            (element) =>
              element.transaction && element.transaction.paymentType === 6
          );
        });
      const listTicketCancel = self
        .callAPIgetDetail(1, self.form.user.id)
        .then((value) => {
          self.listCancel = value;
        });
      const listCheckTicket = self
        .getCheckTicket(self.form.user.id)
        .then((value) => {
          console.log(value);
          self.listCheckTicket = value;
        });
      const listGoods = self.getGoodDetail(self.form.user.id).then((value) => {
        console.log(value);
        self.listGoods = value;
      });
      Promise.all([
        listPaymentTicket,
        listTicketCancel,
        listCheckTicket,
        listGoods,
      ]).then((values) => {
        self.loading = false;
      });
    },
    getGoodDetail: async function (userId) {
      let self = this;
      let param = {
        companyId: userInfo.userInfo.companyId,
        userId: userId,
        startDate: this.form.dataRange[0].setHours(0, 0, 0, 0),
        endDate: this.form.dataRange[1].setHours(23, 59, 59, 999),
      };
      let results = await new Promise((resolve) => {
        sendJson({
          url:
            "https://asia-northeast1-dobody-anvui.cloudfunctions.net/user-detail-good-report",
          data: param,
          success: function (data) {
            return resolve(data);
          },
          functionError: function () {},
        });
      });
      return results;
    },
    getCheckTicket: async function (userId) {
      let self = this;
      let date = new Date();
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate: this.form.dataRange[0].setHours(0, 0, 0, 0),
        endDate: this.form.dataRange[1].setHours(23, 59, 59, 999),
        userId: userId,
      };
      let results = await new Promise((resolve) => {
        sendJson({
          url:
            "https://asia-northeast1-dobody-anvui.cloudfunctions.net/ticket-on-vehicle",
          data: param,
          success: function (data) {
            return resolve(data);
          },
          functionError: function () {
            return resolve([]);
          },
        });
      });
      return results;
    },
    callAPIgetDetail: async function (selectType, userId) {
      let self = this;
      let date = new Date();
      let param = {
        companyId: userInfo.userInfo.companyId,
        userId: userId,
        type: selectType,
        startDate: this.form.dataRange[0].setHours(0, 0, 0, 0),
        endDate: this.form.dataRange[1].setHours(23, 59, 59, 999),
      };
      let results = await new Promise((resolve) => {
        sendJson({
          url:
            "https://asia-northeast1-dobody-anvui.cloudfunctions.net/user-detail-report",
          data: param,
          success: function (data) {
            return resolve(data);
          },
          functionError: function () {},
        });
      });
      return results;
    },
    getReport: function () {
      let self = this;
      this.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate: this.form.dataRange[0].setHours(0, 0, 0, 0),
        endDate: this.form.dataRange[1].setHours(23, 59, 59, 999),
        userIds: [this.form.user.id],
        notQueryByUserIds: false,
      };
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/my-ticket-goods-report",
        data: param,
        success: function (data) {
          self.reportData = data;
          // console.log(self.reportData);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    exportExcel: function () {
      this.excel($(this.$el).find("table"), "THU_CHI_THEO_NHAN_VIEN_");
    },
    calSurchargePrice(arr) {
      let surchargePrice = 0;
      if (arr) {
        arr.forEach((element) => {
          if (element.mode === 1)
            surchargePrice = surchargePrice + element.price;
          if (element.mode === -1)
            surchargePrice = surchargePrice - element.price;
          return;
        });
      }
      return surchargePrice;
    },
    exportToExcel: function (tableId) {
      let fileName = "";
      if (tableId == "listTicket") fileName = "THU_BAN_VE";
      if (tableId == "listCancel") fileName = "HUY_VE_TRA_KHACH";
      if (tableId == "listGoods") fileName = "THU_GUI_HANG";
      if (tableId == "listTicketTransfer") fileName = "CHUYEN_VE";
      if (tableId == "listCheckTicket") fileName = "THONG_KE_THEO_CHUYEN";
      this.excel(`#${tableId}`, fileName);
    },
    printTable: function (tableId) {
      $(`#${tableId}`).printThis();
    },
    cleanDetail: function () {
      let self = this;
      self.userReportByRouterInListTicket = [];
      self.userReportByRouterInListTicketTransfer = [];
      self.userReportByRouterInListTicketCancel = [];
      self.listTicket = [];
      self.listTicketTransfer = [];
      self.listCancel = [];
      self.totalCancelDetail = {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        refundMoney: 0,
      };
      self.totalTicketDetail = {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      };
      self.totalTicketTransfer = {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      };
    },
    renderGoodStatus: function (params) {
      let list = [
        {
          value: 0,
          label: "Hủy",
        },
        {
          value: 1,
          label: "Đã nhận hàng",
        },
        {
          value: 2,
          label: "Đã gom hàng",
        },
        {
          value: 3,
          label: "Đang vận chuyển",
        },
        {
          value: 4,
          label: "Đã đưa hàng xuống",
        },
        {
          value: 5,
          label: "Đã trả hàng",
        },
        {
          value: 6,
          label: "Chưa nhận hàng",
        },
      ];
      return list;
    },
  },
  watch: {
    listCancel: function (val) {
      if (val.length == 0) {
        return;
      }
      let self = this;
      // tính tổng trong báo cáo chi tiết
      val.forEach((x) => {
        self.totalCancelDetail.ticketNumber++;
        if (x.refundMoney) {
          self.totalCancelDetail.ticketNumberHasMoney++;
        }
        self.totalCancelDetail.agencyPrice += x.agencyPrice;
        self.totalCancelDetail.surchargePrice += self.calSurchargePrice(
          x.surcharges
        );
        self.totalCancelDetail.refundMoney += x.refundMoney;
      });
      // tính tổng theo tuyến
      let groupListCancel = val.reduce((res, obj) => {
        // console.log(obj.trip.routeId in res && obj.refundMoney > 0);
        res[obj.trip.routeId] = {
          totalTicket:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalTicket : 0) +
            1,

          totalTicketHasMoney:
            obj.trip.routeId in res
              ? res[obj.trip.routeId].totalTicketHasMoney
              : 0,

          totalRefundMoney:
            (obj.trip.routeId in res
              ? res[obj.trip.routeId].totalRefundMoney
              : 0) + obj.refundMoney,
          totalMoney:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalMoney : 0) +
            obj.agencyPrice,
          routeName: obj.trip.routeName,
        };
        if (obj.refundMoney) {
          res[obj.trip.routeId].totalTicketHasMoney++;
        }
        return res;
      }, {});
      let arrGroupListCancel = [];
      for (const item in groupListCancel) {
        arrGroupListCancel.push({
          routerId: item,
          routerName: groupListCancel[item].routeName,
          totalTicket: groupListCancel[item].totalTicket,
          totalTicketHasMoney: groupListCancel[item].totalTicketHasMoney,
          totalRefundMoney: groupListCancel[item].totalRefundMoney,
          totalMoney: groupListCancel[item].totalMoney,
        });
      }
      self.userReportByRouterInListTicketCancel = arrGroupListCancel;
    },
    listTicket: function (val) {
      if (val.length == 0) {
        return;
      }
      let self = this;
      // tính tổng trong báo cáo chi tiết
      val.forEach((x) => {
        self.totalTicketDetail.ticketNumber++;
        if (x.transaction.paidMoney) {
          self.totalTicketDetail.ticketNumberHasMoney++;
        }
        self.totalTicketDetail.agencyPrice += x.agencyPrice;
        self.totalTicketDetail.surchargePrice += self.calSurchargePrice(
          x.surcharges
        );
        self.totalTicketDetail.paidMoney += x.transaction.paidMoney;
      });
      // tính tổng theo tuyến
      let groupListTicket = val.reduce((res, obj) => {
        res[obj.trip.routeId] = {
          totalTicket:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalTicket : 0) +
            1,

          totalTicketHasMoney:
            obj.trip.routeId in res
              ? res[obj.trip.routeId].totalTicketHasMoney
              : 0,

          totalPaidMoney:
            (obj.trip.routeId in res
              ? res[obj.trip.routeId].totalPaidMoney
              : 0) + obj.transaction.paidMoney,
          totalMoney:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalMoney : 0) +
            obj.agencyPrice,
          routeName: obj.trip.routeName,
        };
        if (obj.transaction.paidMoney) {
          res[obj.trip.routeId].totalTicketHasMoney++;
        }
        return res;
      }, {});
      let arrGroupListTicket = [];
      for (const item in groupListTicket) {
        arrGroupListTicket.push({
          routerId: item,
          routerName: groupListTicket[item].routeName,
          totalTicket: groupListTicket[item].totalTicket,
          totalTicketHasMoney: groupListTicket[item].totalTicketHasMoney,
          totalPaidMoney: groupListTicket[item].totalPaidMoney,
          totalMoney: groupListTicket[item].totalMoney,
        });
      }
      self.userReportByRouterInListTicket = arrGroupListTicket;
    },
    listTicketTransfer: function (val) {
      if (val.length == 0) {
        return;
      }
      let self = this;
      // tính tổng
      val.forEach((x) => {
        self.totalTicketTransfer.ticketNumber++;
        if (x.transaction.paidMoney) {
          self.totalTicketTransfer.ticketNumberHasMoney++;
        }
        self.totalTicketTransfer.agencyPrice += x.agencyPrice;
        self.totalTicketTransfer.surchargePrice += self.calSurchargePrice(
          x.surcharges
        );
        self.totalTicketTransfer.paidMoney += x.transaction.paidMoney;
      });
      // tính tổng theo tuyến
      let groupListTicketTranfer = val.reduce((res, obj) => {
        res[obj.trip.routeId] = {
          totalTicket:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalTicket : 0) +
            1,

          totalTicketHasMoney:
            obj.trip.routeId in res
              ? res[obj.trip.routeId].totalTicketHasMoney
              : 0,

          totalPaidMoney:
            (obj.trip.routeId in res
              ? res[obj.trip.routeId].totalPaidMoney
              : 0) + obj.transaction.paidMoney,
          totalMoney:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalMoney : 0) +
            obj.agencyPrice,
          routeName: obj.trip.routeName,
        };
        if (obj.transaction.paidMoney) {
          res[obj.trip.routeId].totalTicketHasMoney++;
        }
        return res;
      }, {});
      let arrGroupListTicketTransfer = [];
      for (const item in groupListTicketTranfer) {
        arrGroupListTicketTransfer.push({
          routerId: item,
          routerName: groupListTicketTranfer[item].routeName,
          totalTicket: groupListTicketTranfer[item].totalTicket,
          totalTicketHasMoney: groupListTicketTranfer[item].totalTicketHasMoney,
          totalPaidMoney: groupListTicketTranfer[item].totalPaidMoney,
          totalMoney: groupListTicketTranfer[item].totalMoney,
        });
      }
      self.userReportByRouterInListTicketTransfer = arrGroupListTicketTransfer;
    },
  },
};
</script>

<style lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  margin-top: 1rem;
  padding-bottom: 60px;
}
.total-title {
  font-weight: bold;
  width: 80px;
}
.total-value {
  width: 100px;
}
</style>