<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase"
          >AV 50: Báo cáo chi tiết lái phụ xe bán vé và đón trả khách bắng App LPX</span
        >
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item">
          <label>
            Từ ngày (tạo đơn)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateStart"
            format="dd-MM-yyyy"
            :picker-options="options"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>
            Đến ngày (tạo đơn)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateEnd"
            :picker-options="options"
            format="dd-MM-yyyy"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Lái xe</label>
          <e-select-user
            class="w-100"
            v-model="form.driver"
            :userType="[2]"
            :clearable="true"
            placeholder="Chọn tất cả"
          ></e-select-user>
        </div>
        <div class="filter-item">
          <label>Phụ xe</label>
          <e-select-user
            class="w-100"
            v-model="form.subDriver"
            :userType="[3]"
            :clearable="true"
            placeholder="Chọn tất cả"
          ></e-select-user>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >
            {{ $t("button.filter") }}
          </button>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeStart"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeEnd"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
        <div class="filter-item">
          <label>Biển số xe</label>
          <select-vehicle v-model="form.vehicle" :multiple="false" class="w-100"></select-vehicle>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport overflow-auto">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important; font-weight: 500 !important"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{ $t("No-") }}</th>
            <th class="rowHeader">Mã vé</th>
            <th class="rowHeader">Chuyến</th>
            <!-- <th class="rowHeader">Ngày</th> -->
            <th class="rowHeader">Mã ghế</th>
            <th class="rowHeader">Tên LPX thao tác App</th>
            <th class="rowHeader">Thời gian in vé trên App</th>
            <th class="rowHeader">Điềm lên LPX nhập trên App</th>
            <th class="rowHeader">Điểm xuống LPX nhập trên App</th>
            <th class="rowHeader">Giá vé in cho khách qua máy Pos trên xe</th>
            <th class="rowHeader">Điểm lên theo định vị GPS khi tạo/in vé</th>
            <th class="rowHeader">Điểm xuống theo định vị  GPS khi LPX thao tác trả khách trên App</th>
            <th class="rowHeader">Giá vé theo định vị GPS</th>
            <th class="rowHeader">Chênh lệch Giá vé in - Giá vé theo GPS</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td :colspan="14" class="text-center">
              {{ $t("no-data-available") }}
            </td>
          </tr>
          <template v-if="reportData.length != 0">
              <tr v-for="(item, i) of reportData" :key="`${item.id}-${i}`" class="text-center">
                <td class="rowH tableexport-string">{{i+1}}</td>
                <td class="rowH tableexport-string">{{item.ticketCode}}</td>
                <td class="rowH tableexport-string">{{item.tripStartTime|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</td>
                <!-- <td class="rowH tableexport-string">{{item.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</td> -->
                <td class="rowH tableexport-string">{{item.seat_id}}</td>
                <td class="rowH tableexport-string">{{item.subDriverName ? item.subDriverName : '(Không xác định)'}}</td>
                <td class="rowH tableexport-string">{{item.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',)}}</td>
                <td class="rowH tableexport-string">{{item.pointUpName}}</td>
                <td class="rowH tableexport-string">{{item.pointDownName}}</td>
                <td class="rowH tableexport-string">{{item.agencyPrice | number}}</td>
                <td class="rowH tableexport-string">{{item.appLocationUpName}}</td>
                <td class="rowH tableexport-string">{{item.appLocationDownName}}</td>
                <td class="rowH tableexport-string">{{item.appTicketPrice | number}}</td>
                <td class="rowH tableexport-string">{{item.differCost | number}}</td>
              </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import ESelectUser from "../User/ESelectUser";
import SelectVehicle from '../Vehicle/SelectVehicle.vue';
/**
 * @deprecated ay yo
 */
let d = new Date()
export default {
  components: { ESelectUser, SelectVehicle },
  data: function () {
    return {
      loadingTable: false,
      form: {
        dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
        driver: null,
        subDriver: null,
        vehicle: null
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      dateFormat: "dd-MM-yyyy",
    };
  },
  mounted: function () {},
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate : self.form.dateStart + self.form.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        endDate : self.form.dateEnd + self.form.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      };
      if (self.form.vehicle) {
        param.vehicleId = self.form.vehicle.id;
      }
      if (self.form.driver) {
        param.driverId = self.form.driver.id;
      }
      if (self.form.subDriver) {
        param.subDriverId = self.form.subDriver.id;
      }
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-app-location-ticket-details",
        data: param,
        success: function (data) {
            console.log('respone',data);
          self.reportData = data.sort((a,b) => b.tripStartTime - a.tripStartTime);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_CHI_TIET_LPX_BAN_VE_DON_TRA_KHACH_BANG_APP"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-weight: bold;
  font-size: 16px;
}
.rowAllTotal {
  font-weight: bold;
  font-size: 18px;
}
.rowH {
  font-weight: 500;
  font-size: 14px;
}
.table thead {
  background: #cfd3db;
}
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
</style>
