<template>
  <div>
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 34: Báo cáo chi tiết vé đã thanh toán bị chuyển chuyến khác
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-time v-model="dateStart" :value="dateStart" ></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-time v-model="dateEnd" :value="dateEnd"></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tên nhân viên</label><br>
            <e-select-user class="w-100" v-model="userSelects" clearable multiple ></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader" style="min-width: 130px;">Mã vé</th>
            <th class="rowHeader"style="min-width: 160px;">Tuyến chưa chuyển</th>
            <th class="rowHeader" style="min-width: 160px;">Loại xe chuyến chưa chuyển</th>
            <th class="rowHeader" style="min-width: 160px;">Chuyến chưa chuyển</th>
            <th class="rowHeader" style="min-width: 160px;">Mã ghế chưa chuyển</th>
            <th class="rowHeader" style="min-width: 160px;">Giá vé khi chưa chuyển (đã thu)</th>
            <th class="rowHeader" style="min-width: 160px;">Ngày giờ chuyển vé</th>
            <th class="rowHeader" style="min-width: 160px;">
              Tên nhân viên thao tác chuyển vé
            </th>
            <th class="rowHeader" style="min-width: 160px;">Tuyến vé được chuyển đến</th>
            <th class="rowHeader" style="min-width: 160px;">Loại xe chuyển được chuyển đến</th>
            <th class="rowHeader" style="min-width: 160px;">Chuyến vé được chuyển đến</th>
            <th class="rowHeader" style="min-width: 160px;">Mã ghế chuyến đến</th>
            <th class="rowHeader" style="min-width: 160px;">Giá vé vị trí chuyến được chuyển đến</th>
            <th class="rowHeader" style="min-width: 160px;">Phụ thu phát sinh vé chuyển đến</th>
            <th class="rowHeader" style="min-width: 175px;">Tổng tiền đã thu vé chuyến đến (gồm PT)</th>
            <th class="rowHeader" style="min-width: 190px;">Chênh lệch đã thu - Giá vé vị trí chuyển đến</th>
            <th class="rowHeader" style="min-width: 160px;">Trạng thái vé tại vị trí chuyển đến</th>
            <th class="rowHeader" style="min-width: 100px;">Trạng thái chuyến</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="16" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="2">Tổng cộng</td>
            <td class="rowAllTotal" ></td>
            <td class="rowAllTotal" ></td>
            <td class="rowAllTotal" ></td>
            <td class="rowAllTotal">{{previousPaid | number}}</td>
            <td class="rowAllTotal" colspan="6"></td>
            <td class="rowAllTotal">{{ticketPrice | number}}</td>
            <td class="rowAllTotal">{{surchargePrice | number}}</td>
            <td class="rowAllTotal">{{ticketPrice| number}}</td>
            <td class="rowAllTotal">{{differentCost | number}}</td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.ticketCode}}</td>
              <td class="rowH">{{vh.previousRouteName ? vh.previousRouteName : ''}}</td>
              <td class="rowH">{{vh.previousVehicleType | checkVehicleType}}</td>
              <td class="rowH">{{vh.previousStartTimeReality | customDate('#hhhh#:#mm#', true)}}-{{vh.previousStartDateReality | strToDate}}</td>
              <td class="rowH">{{vh.previousSeatId ? vh.previousSeatId: ''}}</td>
              <td class="rowH">{{(vh.previous_paid ? vh.previous_paid : 0) | number}}</td>
              <td class="rowH">{{vh.ticketTimeChange | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</td>
              <td class="rowH">{{vh.updateId ? vh.updateId: ''}}</td>
              <td class="rowH">{{vh.routeName ? vh.routeName : ''}}</td>
              <td class="rowH">{{vh.vehicleType | checkVehicleType}}</td>
              <td class="rowH">{{vh.startTimeReality | customDate('#hhhh#:#mm#',true)}}-{{vh.startDateReality | strToDate}}</td>
              <td class="rowH">{{vh.seatId ? vh.seatId: ''}}</td>
              <td class="rowH">{{(vh.ticketPrice ? vh.ticketPrice : 0) | number}}</td>
              <td class="rowH">{{(vh.surchargePrice ? vh.surchargePrice : 0)| number}}</td>
              <td class="rowH">{{(vh.ticketPrice ? vh.ticketPrice : 0) | number}}</td>
              <!--<td class="rowH">{{(vh.surchargePrice != null && vh.ticketPrice != null ? (vh.surchargePrice + vh.ticketPrice) : 0) | number}}</td>-->
              <td class="rowH">{{(vh.differentCost ? vh.differentCost : 0) | number}}</td>
              <td class="rowH">{{vh.ticketStatus | checkTicketStatus}}</td>
              <td class="rowH">{{vh.tripStatus | checkTripStatus}}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                userSelects: null,
                typeStatus: null,
                typeStatuss: [
                    {
                        value: 0,
                        label: 'Hủy'
                    },
                    {
                        value: 1,
                        label: 'Rỗng (Hết hạn giữ chỗ)'
                    },
                    {
                        value: 2,
                        label: 'Đang giữ chỗ'
                    },
                    {
                        value: 3,
                        label: 'Đã thánh toán'
                    },
                    {
                        value: 4,
                        label: 'Đã lên xe'
                    },
                    {
                        value: 5,
                        label: 'Đã hoàn thành'
                    },
                    {
                        value: 6,
                        label: 'Quá giờ giữ chỗ'
                    },
                    {
                        value: 7,
                        label: 'Siêu phụ xe đặt chỗ'
                    },
                ]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.userSelects && self.userSelects.length > 0){
                    params.userIds = []
                    $.each(self.userSelects, function (r,user) {
                        params.userIds.push(user.id)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-ticket-change-trip',
                    data : params,
                    success : function (data) {
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            previousPaid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.previous_paid ? li.previous_paid : 0
                })
                return a
            },
            totalTicketPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.ticketPrice != null && li.surchargePrice != null ? (li.ticketPrice + li.surchargePrice) : 0
                })
                return a
            },
            ticketPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.ticketPrice ? li.ticketPrice : 0
                })
                return a
            },
            surchargePrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.surchargePrice ? li.surchargePrice : 0
                })
                return a
            },
            differentCost :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.differentCost ? li.differentCost : 0
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
