<template>
    <div class="row respon-page">
        <div class="col-12 title">
            <span class="text-uppercase">{{$t('statistics-by-agency')}}</span>
            <span class="float-right">
                <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
                <!--<button class="btn btn-success btn-sm"><i class="fa fa-save"></i> Lưu</button>-->
            </span>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <div class="col-6 col-md-3" v-if="!$root.isAgency()">
                        <div class="form-group">
                            <label>{{$t('menu.agency')}}</label>
                            <select-agency v-model="agency" class="relative"></select-agency>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Từ ngày</label><br>
                            <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                            placeholder="Chọn ngày"></el-date-picker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Đến ngày</label><br>
                            <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                            placeholder="Chọn ngày"></el-date-picker>
                        </div>
                    </div>
                    <!--<datepicker-ranger v-model="search" ></datepicker-ranger>-->
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label>&nbsp; </label>
                            <button class="btn btn-primary btn-block" @click="getReportAgency()"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top20 tableReport" v-if="agency">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center"><b>{{$t('revenue-agency')}}</b></div>
                    <div class="col-12 text-center"><small>{{ new Date().getTime()|customDate('#hhhh#:#mm# Ngày #DD# tháng #MM# năm #YYYY#') }}</small></div>
                    <div class="col-6 top10">
                    </div>
                    <div class="col-6 top10 text-right"> Ngày làm việc <strong>{{ search.startDate }}</strong> đến <strong>{{ search.endDate }}</strong> </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div>Đại lý : {{ agency.fullName }}</div>
                    </div>
                    <div class="col">
                        Liên Hệ : {{ agency.phoneNumber }} <br>
                        Địa chỉ : {{ agency.address }}
                    </div>
                </div>
                <table class="table table-sm top20 table-bordered text-center">
                    <thead class="thead-dark">
                    <tr class="bg-dark">
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Ngày</th>
                        <th>Phát sinh tăng</th>
                        <th>Phát sinh giảm</th>
                        <th>Công nợ</th>
                        <th>Ghế</th>
                        <th>Tuyến</th>
                        <th>Ngày đi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="dataReport.length<=0">
                        <td colspan="6">{{$t('no-data-available')}}</td>
                    </tr>
                    <template v-for="(data,d) in dataReport">
                        <tr :key="d">
                            <td>{{ d+1 }}</td>
                            <td>{{ data.objectId }}</td>
                            <td>{{ data.createdDate|customDate("#hhhh#:#mm# #DD#-#MM#-#YYYY#") }}</td>
                            <td v-if="data.havingIncrease == 0"> {{ data.havingIncrease|number }}</td>
                            <td v-else>+ {{ data.havingIncrease|number }}</td>

                            <td v-if="data.havingDecrease == 0"> {{ data.havingDecrease|number }}</td>
                            <td v-else>- {{ data.havingDecrease|number }}</td>
                            <td>{{ data.currentDebt|number }}</td>
                            <td>{{ data.ticket&&data.ticket.seat?data.ticket.seat.seatId:'' }}</td>
                            <td>{{ data.ticket&&data.ticket.routeInfo?data.ticket.routeInfo.name:'' }}</td>
                            <td>
                                <template v-if="data.ticket">
                                    {{ data.ticket.getInTimePlan|customDate('#hhhh#:#mm#  #DD#-#MM#-#YYYY#',true) }}
                                </template>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12" v-if="agency">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="pull-right">
                            <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                            <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
                            <!--<button class="btn btn-success btn-sm"><i class="fa fa-save"></i> Lưu</button>-->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapState} from 'vuex';
    let d = new Date()
    export default {
        data : function () {
            return {
                agency : null,
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                search: {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                },
                dataReport : {},
            }
        },
        mounted : function(){
            this.agency = this.$root.isAgency()?this.$root.agencyInfo(): this.agency;
        },
        computed:{
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            getReportAgency : function () {
                let self = this;
                let params = {
                    fromDate : self.dateStart,
                    toDate : self.dateEnd + 86340000
                };
                if(self.agency){
                    params.agencyId = self.agency.id;
                }else {
                    notify("Vui lòng chọn đại lý",'error');
                    return false
                }
                self.load('getReportByAgency');
                sendJson({
                    url  : urlDBD(API.reportAgency),
                    data : params,
                    success : function (res) {
                        self.dataReport = res.results.reconciliationDetails;
                        self.unload('getReportByAgency');
                    },
                    functionIfError : function () {
                        self.unload('getReportByAgency');
                    }
                })
            },
            exportExcel : function () {
                this.excel($(this.$el).find('table'),'DOANH_THU_DAI_LY_');
                // let tableEP = $(this.$el).find('table').tableExport({
                //     headings: true,                    // (Boolean), display table headings (th/td elements) in the <thead>
                //     footers: true,                     // (Boolean), display table footers (th/td elements) in the <tfoot>
                //     formats: ["xlsx"],    // (String[]), filetypes for the export
                //     filename: "DOANH_THU_DAI_LY_"+new Date().customFormat('#hhhh#h-#mm#p-#DD#-#MM#-#YYYY#'),// (id, String), filename for the downloaded file
                //     bootstrap: false,                   // (Boolean), style buttons using bootstrap
                //     exportButtons: false,
                //     sheetname:'DOANH_THU_DAI_LY'
                // });
                // let exportData = tableEP.getExportData()['tableexport-1']['xlsx'];
                //
                // tableEP.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
                // tableEP.remove();
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            }
        }
    }
</script>
