<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV7: Báo cáo tổng hợp công nợ theo tài xế
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Năm</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="yearSelect"
                    type="year"
                    format="yyyy"
                    :picker-options="options"
                    value-format="yyyy"
                    placeholder="Chọn năm">
            </el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label> Tháng</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="monthSelect"
                    type="month"
                    :picker-options="options"
                    format="MM"
                    value-format="MM"
                    placeholder="Chọn tháng">
            </el-date-picker>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Tài xế</label><br>
            <e-select-user class="w-100" v-model="driverSelect" :clearable="true" :multiple="true" ></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%; overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue " style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader">Tên tài xế</th>
            <template v-for="i in numberOfMonths">
              <th class="rowHeader">{{i}}</th>
            </template>
            <th class="rowHeader">Tổng</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td :colspan="numberOfMonths + 2" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Tổng cộng</td>
            <template v-for="total in dataTotal">
              <td class="rowAllTotal">{{total.total|number}}</td>
            </template>
            <td class="rowAllTotal">{{allTotal|number}}</td>
          </tr>
          <template v-for="(driver,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH" >{{driver.driverName|number}}</td>
              <template v-for="(dt, dtIndex) in driver.detail">
                <td class="rowH">{{dt.totalAgencyPrice|number}}</td>
              </template>
              <td class="rowH" >{{driver.totalAgencyPrices|number}}</td>
            </tr>
          </template>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                routeSelected: null,
                yearSelect: new Date().getFullYear().toString(),
                monthSelect: new Date().getMonth() < 10 ? "0" + new Date().getMonth().toString() : new Date().getMonth().toString(),
                driverSelect: null,
                allow: false,



            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.yearSelect == null){
                    notify('Vui lòng chọn năm','error');
                    return false;
                }
                if(self.monthSelect == null){
                    notify('Vui lòng chọn tháng','error');
                    return false;
                }
                if(self.driverSelect == null){
                    notify('Vui lòng chọn tài xế','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    month: self.monthSelect,
                    year: self.yearSelect,
                };
                if (self.driverSelect != null && self.driverSelect.length > 0){
                    params.driverId = []
                    $.each(self.driverSelect, function (r,user) {
                        params.driverId.push(user.id)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-liabilities-driver',
                    data : params,
                    success : function (data) {
                        self.allow = true
                        let month = parseInt(_.cloneDeep(self.monthSelect))
                        let year = parseInt(_.cloneDeep(self.yearSelect))
                        let numberOfMonth = new Date(year, month, 0).getDate();
                        let a = []
                        let keys = []
                        $.each (data, function (t,ticket) {
                            let x = true
                            if (keys.length > 0) {
                                $.each(keys, function (k, key) {
                                    if (ticket.driverId == key){
                                        x = false
                                    }
                                })
                            }
                            if (keys == [] || x){
                                let b = {
                                    driverId: ticket.driverId,
                                    driverName: ticket.fullName,
                                    detail: [],
                                    totalAgencyPrices: 0,
                                }
                                for (let i = 1; i <= numberOfMonth; i++) {
                                    let c = {
                                        startDateReality: i,
                                        totalAgencyPrice: 0,
                                    }
                                    $.each (data, function (t,ticket) {
                                        let d = ticket.date.toString()
                                        let dd = d.split('')
                                        let ddd = d.slice(6,8)
                                        let dddd = parseInt(ddd)
                                        if (ticket.driverId == b.driverId && c.startDateReality == dddd) {
                                            c.totalAgencyPrice = parseInt(ticket.totalAgencyPrice) + parseInt(ticket.totalSpend) - parseInt(ticket.totalReceive)
                                            b.totalAgencyPrices += c.totalAgencyPrice
                                        }
                                    })
                                    b.detail.push(c)
                                }
                                a.push(b)
                            }
                            keys.push(ticket.driverId)
                        })

                        self.list = a
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            numberOfMonths: function () {
                if (this.allow) {
                    let month = parseInt(_.cloneDeep(this.monthSelect))
                    let year = parseInt(_.cloneDeep(this.yearSelect))
                    let numberOfMonth = new Date(year, month, 0).getDate();
                    this.allow = false
                    return numberOfMonth
                }
                else {
                    return this.list && this.list.length > 0 ? this.list[0].detail.length : 31
                }
            },
            dataTotal: function () {
                let a = []
                if (this.numberOfMonths) {
                    for (let i = 1; i <= this.list[0].detail.length; i++) {
                        let b = {
                            total: 0
                        }
                        $.each(this.list, function (l, li) {
                            b.total += li.detail[i-1].totalAgencyPrice
                        })
                        a.push(b)
                    }
                    return a
                } else {
                    return this.list[0].detail.length
                }

            },
            allTotal: function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalAgencyPrices
                })
                return a
            }
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
