<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">Tra cứu thông tin vé</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="print()">
            <i class="fa fa-print"></i>
            {{ $t('button.print')}}
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i>
            {{ $t('export-excel')}}
          </button>
        </span>
      </div>
    </div>
    <div class="row">
          <div class="col form-group">
            <label>{{$t('filter.date-type')}}</label><br>
            <!--<el-select v-model="search.dateType">-->
              <!--<option :value="2">Ngày đi</option>-->
              <!--<option :value="1">Ngày tạo vé</option>-->
            <!--</el-select>-->
            <el-select v-model="search.dateType" placeholder="" >
              <el-option
                      v-for="item in dateTypes"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
          <div class="col-2 form-group" v-if="!$root.isAgency()">
            <label>{{$t('filter.phone-customer')}}</label>
            <el-input type="text" v-model="search.phoneNumber" />
          </div>

          <div class="col-12 col-md-3">
            <div class="row no-gutters">
              <div class="col form-group">
                <label>{{$t('from-date')}}</label>
                <el-date-picker
                        class="w-100"
                        v-model="dateStart"
                        format="dd-MM-yyyy"
                        :picker-options="options"
                        value-format="timestamp"
                        type="date"
                        placeholder="Chọn ngày"
                ></el-date-picker>
              </div>
              <div class="col-auto form-group" style="width:120px">
                <label>&nbsp;</label>
                <el-time-picker
                        style="width: auto;"
                        type="timerange"
                        format="HH:mm"
                        value-format="timestamp"
                        v-model="timeStart"
                        placeholder="Chọn giờ"
                ></el-time-picker>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="row no-gutters">
              <div class="col form-group">
                <label>{{$t('to-date')}}</label>
                <el-date-picker
                        class="w-100"
                        v-model="dateEnd"
                        :picker-options="options"
                        format="dd-MM-yyyy"
                        value-format="timestamp"
                        type="date"
                        placeholder="Chọn ngày"
                ></el-date-picker>
              </div>
              <div class="col-auto form-group" style="width:120px">
                <label>&nbsp;</label>
                <el-time-picker
                        style="width: auto;"
                        type="timerange"
                        format="HH:mm"
                        value-format="timestamp"
                        v-model="timeEnd"
                        placeholder="Chọn giờ"
                ></el-time-picker>
              </div>
            </div>
          </div>
          <div class="col-2 control-group">
            <div>
              <el-button
                      style="padding: 0; font-size: 16px;outline: none"
                      type="text"
                      @click="handleOpenExtraFilter()"
              >{{`${showExtraFilter ? 'Ẩn' : 'Hiện'} tìm kiếm nâng cao`}}</el-button>
              <button
                      class="btn btn-block btn-primary text-uppercase"
                      style="align-self: end"
                      @click="getReport()"
              >{{$t('button.filter')}}</button>
            </div>
          </div>
          <!--<datepicker-ranger style="max-width: unset" v-model="search" :allowTime="true"></datepicker-ranger>-->
    </div>
    <transition name="collaspe">
      <div key="3" v-if="showExtraFilter">
        <div class="grid-container border-top">
          <div class="filter-extra-container">
            <div class="filter-item">
              <label>{{$t('filter.payment-type')}}</label>
              <select class="form-control" v-model="search.paymentType">
                <option :value="0">Tất cả</option>
                <option :value="1">Thanh toán trực tuyên</option>
                <option :value="2">Thanh toán trên xe</option>
                <option :value="3">Thanh toán tiền mặt</option>
                <option :value="6">Chuyển khoản</option>
              </select>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.ticket-status')}}</label>
              <multiselect
                :options="ticketStatusList"
                v-model="search.ticketStatus"
                :multiple="true"
                track-by="value"
                label="name"
                placeholder="Không chọn sẽ lấy tất"
              ></multiselect>
            </div>
            <div class="filter-item">
              <label>{{$t('menu.route')}}</label>
              <select-route v-model="search.route" :clearable="true" class="w-100"></select-route>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.vehicle')}}</label>
              <select-vehicle v-model="search.vehicle" class="w-100"></select-vehicle>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.driver')}}</label>
              <select-user class="w-100" v-model="search.driver" :userType="[2]"></select-user>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.side-driver')}}</label>
              <select-user class="w-100" v-model="search.assistant" :userType="[3]"></select-user>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.foreign-key')}}</label>
              <input type="text" class="form-control" v-model="search.foreignKey" />
            </div>
            <div class="filter-item">
              <label>{{$t('filter.ticket-source')}}</label>
              <select-user
                class="w-100"
                v-model="search.source"
                :getAgency="true"
                ref="SelectAgencyComponent"
                :allowClear="true"
                :multiple="true"
              ></select-user>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.seller')}}</label>
              <select-user class="w-100" v-model="search.creator" :allowClear="true"></select-user>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.cashier')}}</label>
              <select-user class="w-100" v-model="search.cashier" :allowClear="true"></select-user>
            </div>
            <div class="filter-item">
              <label>{{$t('filter.canceler')}}</label>
              <select-user class="w-100" v-model="search.canceler" :allowClear="true"></select-user>
            </div>
            <div class="filter-item">
              <label>Nền tảng</label>
              <multiselect
                :options="$root.platforms"
                v-model="search.platforms"
                track-by="value"
                :multiple="true"
                label="label"
                placeholder="Không chọn sẽ lấy tất"
              ></multiselect>
            </div>
            <div class="filter-item">
              <label>Phòng vé</label>
              <select-point class="w-100" v-model="search.room" :pointType="8"></select-point>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <div class="row top20 report-div" v-if="report">
      <div class="col-12" v-html="replaceHtml"></div>
    </div>
  </div>
</template>
<script>
import SelectRoute from "../Route/SelectRoute.vue";
import SelectVehicle from "../Vehicle/SelectVehicle";
import SelectAgency from "../Agency/SelectAgency";
import SelectUser from "../User/SelectUser";
import SelectPoint from "../Point/SelectPoint";
import { mapState} from 'vuex';

let d = new Date()
export default {
  components: {
    SelectRoute,
    SelectVehicle,
    SelectAgency,
    SelectUser,
    SelectPoint
  },
  data: function() {
    return {
      showExtraFilter: false,
      dateTypes:[
          {
              label: 'Ngày tạo vé',
              value: 1
          },
          {
              label: 'Ngày đi',
              value: 2
          },
          {
              label: 'Ngày thanh toán',
              value: 3
          },
      ],
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
      dataConfig:
        '<table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-sm table-striped" style="font-size:13px; width:100%"><thead><tr><th colspan="19" scope="col" style="text-align:center"><span style="font-size:24px">B&Aacute;O C&Aacute;O DOANH THU CHI TIẾT</span></th></tr><tr><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">[tong_so_luong]</th><th scope="col">[tong_tien_ve]</th><th scope="col">[tong_da_tra]</th><th scope="col">[tong_chua_tra]</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th></tr><tr><th scope="col">M&atilde;</th><th scope="col">Kh&aacute;ch h&agrave;ng</th><th scope="col">SDT</th><th scope="col">Tuyến</th><th scope="col">Xe</th><th scope="col">T&agrave;i</th><th scope="col">Khởi h&agrave;nh tại</th><th scope="col">Ng&agrave;y đi</th><th scope="col">Giờ đi</th><th scope="col">Người b&aacute;n</th><th scope="col">M&atilde; li&ecirc;n kết</th><th scope="col">Nguồn v&eacute;</th><th scope="col">SL</th><th scope="col">Th&agrave;nh tiền</th><th scope="col">Đ&atilde; thu</th><th scope="col">C&ograve;n lại</th><th scope="col">Người thu</th><th scope="col">Người hủy</th><th scope="col">Ghi ch&uacute;</th></tr></thead><tbody><tr><td>[ma_ve]</td><td>[ten_hanh_khach]</td><td>[so_dien_thoai_khach]</td><td>[tuyen_duong]</td><td>[bien_so_xe]</td><td>[tai_xe]</td><td>[diem_len]</td><td>[ngay_di]</td><td>[gio_di]</td><td>[nguoi_ban]</td><td>[ma_lien_ket]</td><td>[dai_ly]</td><td>[so_luong_ghe]</td><td>[gia_ve]</td><td>[da_thu]</td><td>[chua_thu]</td><td>[nguoi_thu]</td><td>[nguoi_huy]</td><td>[ghi_chu]</td></tr></tbody></table>',
      search: {
        dateType: 2,
        phoneNumber: "",
        foreignKey: "",
        paymentType: 0,
        startDate: new Date().customFormat("#DD#-#MM#-#YYYY#"),
        startTime: "00:00",
        endDate: new Date().customFormat("#DD#-#MM#-#YYYY#"),
        endTime: "23:59",
        ticketStatus: null,
        route: null,
        vehicle: null,
        driver: null,
        assistant: null,
        source: null,
        creator: null,
        cashier: null,
        canceler: null,
        platforms: null,
        room: null
      },
      ticketStatusList: [
        {
          value: 0,
          name: "Đã hủy"
        },
        {
            value: 1,
            name: "Hết hạn giữ chỗ"
        },
        {
          value: 2,
          name: "Giữ chỗ có thời hạn"
        },
        {
          value: 3,
          name: "Đã thanh toán"
        },
        {
            value: 4,
            name: "Đã lên xe"
        },
        {
            value: 5,
            name: "Đã hoàn thành"
        },
        {
          value: 7,
          name: "Giữ chỗ ưu tiên"
        }
      ],
      data: null,
      count: {
        number: 0,
        price: 0,
        paid: 0,
        unpaid: 0
      }
    };
  },
  mounted: function() {
    this.getConfig();
  },
  computed: {
    ...mapState({
        companyConfig: state => state.CompanyConfig.companyConfig,
    }),
    report: function() {
      let data = this.data;
      console.log('data', data);
      if (!data) {
        return null;
      }
      let result = {
        data: {}, //{}
        total: {
          number: 0,
          agencyPrice: 0,
          paidMoney: 0,
          unpaid: 0
        }
      };

      $.each(data, function(i, e) {
        result.total.number++;
        result.total.agencyPrice += e.agencyPrice;
        result.total.paidMoney += e.paidMoney;
        result.total.unpaid += _.cloneDeep(e.agencyPrice - e.paidMoney);

        let status = func.checkTicketStatus(e);
        let key =
          e.tripId +
          "-" +
          e.ticketCode +
          "-" +
          status.type +
          "-" +
          func.removeUnicode(e.pointUp.address) +
          "-" +
          func.removeUnicode(e.pointDown.address);
        e.sttTk = _.cloneDeep(status);
        if (
          result.data[key] &&
          result.data[key].tripId == e.tripId &&
          result.data[key].sttTk.type === e.sttTk.type
        ) {
          result.data[key].number++;
          result.data[key].ticketIds.push(e.ticketId);
          if (e.seatId) {
            result.data[key].seatIds.push(e.seatId);
          }
          result.data[key].agencyPrice += _.cloneDeep(e.agencyPrice);
          result.data[key].paidMoney += _.cloneDeep(e.paidMoney);
          result.data[key].unPaidMoney += _.cloneDeep(
            e.agencyPrice - e.paidMoney
          );
          result.data[key].originalPrice += _.cloneDeep(e.originalPrice);
          $.each(e.transactions,function(t,tran){
            result.data[key].transactions.push(_.cloneDeep(tran));
          })
        } else {
          let tk = e;
          tk.number = 1;
          tk.ticketIds = [tk.ticketId];
          tk.seatIds = [tk.seatId];
          result.data[key] = _.cloneDeep(tk);
        }
      });
      console.log('result',result);
      return result;
    },
    replaceHtml: function() {
      try {
        let self = this;
        let report = self.report;
        let config = this.dataConfig;
        let htmlSample = $("<div>" + config + "</div>")
          .find("tbody")
          .html();

        let htmlAllRow = "";
        let index = 0;
        $.each(report && report.data ? report.data : [], function(k, v) {
          htmlAllRow += self.replaceTicket(index, v, htmlSample || "");
          index++;
        });
        if (report && report.total) {
          config = config
            .replaceAll(
              "[tong_so_luong]",
              self.$options.filters.number(report.total.number)
            )
            .replaceAll(
              "[tong_tien_ve]",
              self.$options.filters.number(report.total.agencyPrice)
            )
            .replaceAll(
              "[tong_da_tra]",
              self.$options.filters.number(report.total.paidMoney)
            )
            .replaceAll(
              "[tong_chua_tra]",
              self.$options.filters.number(report.total.unpaid)
            );
        }
        let dom = $('<div class="col-12">' + config + "</div>");
        $("tbody", dom).replaceWith(htmlAllRow);
        $(dom)
          .find("td,th")
          .addClass("tableexport-string");
        return dom.html();
      } catch (e) {
        console.warn(e);
        return '<h3 class="w-100 text-center">Có lỗi xảy ra</h3>';
      }
    }
  },
  methods: {
    handleOpenExtraFilter: function() {
      let isAgency = this.$root.isAgency();
      if (isAgency) {
        notify("Bạn không có quyền dùng chức năng này!");
        return;
      }
      this.showExtraFilter = !this.showExtraFilter;
    },
    getConfig: function() {
      let self = this;
      sendJson({
        url: urlDBD(API.displaySettingGet),
        data: {
          type: DisplaySetting.REPORT_DETAIL
        },
        success: function(res) {
          if (res.results.data) {
            self.dataConfig = res.results.data;
          }
        }
      });
    },
    getReport: function() {
      let self = this;
      let param = {
        timeZone: 7,
        companyId: userInfo.userInfo.companyId,
        dateType: self.search.dateType,
        startDate:
            self.dateStart +
            self.timeStart -
            new Date(
                new Date(this.timeStart).getFullYear(),
                new Date(this.timeStart).getMonth(),
                new Date(this.timeStart).getDate()
            ).getTime(),
        endDate:
            self.dateEnd +
            self.timeEnd -
            new Date(
                new Date(this.timeEnd).getFullYear(),
                new Date(this.timeEnd).getMonth(),
                new Date(this.timeEnd).getDate()
            ).getTime(),
        // "departmentId": departmentId,
        phoneNumber: self.search.phoneNumber
      };
      if (self.search.vehicle) {
        param.numberPlate = self.search.vehicle.numberPlate;
      }
      if (self.search.driver) {
        param.driverId = self.search.driver.id;
      }
      if (self.search.assistant) {
        param.assistantId = self.search.assistant.id;
      }
      if(self.$root.isAgency()){
        param.sourceId = self.userInfo.userInfo.id;
      }else{
        if (self.search.source) {
          param.sourceId = self.$refs.SelectAgencyComponent.getIdString();
        }
      }

      if (self.search.creator) {
        param.creatorId = self.search.creator.id;
      }
      if (self.search.cashier) {
        param.cashierUserId = self.search.cashier.id;
      }
      if (self.search.canceler) {
        param.cancelerId = self.search.canceler.id;
      }
      if (self.search.foreignKey) {
        param.foreignKey = self.search.foreignKey;
      }
      if (self.search.route) {
        param.routeId = self.search.route.routeId;
      }
      if (self.search.paymentType) {
        param.paymentType = self.search.paymentType;
      }
      if (self.search.room) {
        param.roomId = self.search.room.id;
      }
      if (self.search.platforms) {
        let plf = [];
        $.each(self.search.platforms, function(p, pl) {
          plf.push(pl.value);
        });
        param.platforms = plf;
      }
      if (self.search.ticketStatus) {
        let tks = [];
        $.each(self.search.ticketStatus, function(s, status) {
          tks.push(status.value);
        });
        param.ticketStatus = tks;
      }
      self.load("getReportDetail");
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-ticket-details",
        data: param,
        success: function(data) {
          self.data = _.cloneDeep(data);
          self.unload("getReportDetail");
        },
        functionIfError: function(err) {
          console.log(err);
          self.unload("getReportDetail");
        }
      });
    },
    print: function() {
      $(this.$el)
        .find(".report-div")
        .printThis();
    },
    exportExcel: function() {
      this.excel(
        $(this.$el)
          .find(".report-div")
          .find("table"),
        "DANH_SACH_VE_"
      );
    },
    replaceTicket: function(index, ticket, html) {
      let htmlAfterReplace = _.cloneDeep(html);
      let self = this;
      let replaceObject = [
        {
          key: "[so_thu_tu]",
          value: function() {
            return index - -1;
          }
        },
        {
          key: "[ten_ghe]",
          value: function() {
            if (ticket.seatIds && ticket.seatIds[0] !== undefined) {
              return ticket.seatIds.join(", ");
            } else {
              return "";
            }
          }
        },
        {
          key: "[so_luong_ghe]",
          value: function() {
            return ticket.number;
          }
        },
        {
          key: "[tuyen_duong]",
          value: function() {
            return ticket.routeName;
          }
        },
        {
          key: "[ma_ve]",
          value: function() {
            return ticket.ticketCode;
          }
        },
        {
          key: "[gio_di]",
          value: function() {
            return self.$options.filters.customDate(
              ticket.getInTimePlan,
              "#hhhh#:#mm#",
              true
            );
          }
        },
        {
          key: "[ngay_di]",
          value: function() {
            return self.$options.filters.customDate(
              ticket.getInTimePlan,
              "#DD#-#MM#-#YYYY#",
              true
            );
          }
        },
        {
            key: "[ngay_dat_ve]",
            value: function() {
                return self.$options.filters.customDate(
                    ticket.createdDate,
                    "#DD#-#MM#-#YYYY#",
                );
            }
        },
        {
          key: "[ten_hanh_khach]",
          value: function() {
            return ticket.fullName;
          }
        },
        {
          key: "[so_dien_thoai_khach]",
          value: function() {
            return self.$options.filters.phoneNumber(ticket.phoneNumber);
          }
        },
        {
          key: "[nam_sinh]",
          value: function() {
            return ticket.birthday;
          }
        },
        {
          key: "[gia_ve]",
          value: function() {
            return self.$options.filters.number(ticket.agencyPrice);
          }
        },
        {
          key: "[da_thu]",
          value: function() {
            return self.$options.filters.number(ticket.paidMoney);
          }
        },
        {
          key: "[chua_thu]",
          value: function() {
            return self.$options.filters.number(
              ticket.agencyPrice - ticket.paidMoney
            );
          }
        },
        {
          key: "[diem_len]",
          value: function() {
            return ticket.pointUp.name;
          }
        },
        // {
        //     key : '[diem_len_rut_gon]',
        //     value : function () {
        //         return ticket.pointUp.pointNameAcronym;
        //     }
        // },
        {
          key: "[dia_chi_diem_len]",
          value: function() {
            return ticket.pointUp.address || "";
          }
        },
        {
          key: "[diem_xuong]",
          value: function() {
            return ticket.pointDown.name || "";
          }
        },
        // {
        //     key : '[diem_xuong_rut_gon]',
        //     value : function () {
        //         return ticket.pointDown.pointNameAcronym;
        //     }
        // },
        {
          key: "[dia_chi_diem_xuong]",
          value: function() {
            return ticket.pointDown.address || "";
          }
        },
        {
          key: "[ma_lien_ket]",
          value: function() {
            return ticket.foreignKey || "";
          }
        },
        {
          key: "[ghi_chu]",
          value: function() {
            return ticket.note || "";
          }
        },
        {
          key: "[dai_ly]",
          value: function() {
            return ticket.agencyName || "";
          }
        },
        {
          key: "[bien_so_xe]",
          value: function() {
            return ticket.vehicle ? ticket.vehicle.numberPlate : "";
          }
        },
        {
          key: "[tai_xe]",
          value: function() {
            return ticket.drivers.map(({ fullName }) => fullName).toString();
            // return ticket.listDriverName?ticket.listDriverName.join(', '):'';
          }
        },
        {
          key: "[phu_xe]",
          value: function() {
            return ticket.assistants.map(({ fullName }) => fullName).toString();
            // return ticket.listAssitantName?ticket.listAssitantName.join(', '):'';
          }
        },
        {
          key: "[nguoi_ban]",
          value: function() {
            return ticket.seller || "";
          }
        },
        {
          key: "[nguoi_thu]",
          value: function() {
            try{
              return ticket.transactions
              .map((transaction) => {return transaction.fullName+ (transaction.room ? ' - ' +transaction.room.name:'')+("-"+transaction.paidMoney)+'</br>' } )
              .toString();
            }catch(e){
              return ticket.transactions
              .map(({ fullName }) => fullName)
              .toString();
            }

            // return ticket.cashier;
          }
        },
        {
          key: "[nguoi_huy]",
          value: function() {
            return ticket.canceler || "";
          }
        },
        {
          key: "[phi_huy]",
          value: function() {
            return ticket.refundMoney !== null &&
              ticket.refundMoney !== undefined
              ? ticket.refundMoney
              : "";
          }
        },
        {
          key: "[ten_phong_ve]",
          value: function() {
            return ticket.room && ticket.room.name ? ticket.room.name : "";
          }
        },
        {
          key: "[sdt_phong_ve]",
          value: function() {
            return ticket.room && ticket.room.phoneNumber
              ? ticket.room.phoneNumber
              : "";
          }
        },
        {
          key: "[ten_cong_ty]",
          value: function() {
            return userInfo.userInfo.companyName;
          }
        },
        {
          key: "[dia_chi_cong_ty]",
          value: function() {
            return userInfo.companyAddress;
          }
        }
      ];
      $.each(replaceObject, function(k, v) {
        htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
      });
      return htmlAfterReplace;
    },
    unDuplicateTicket: function(listTickets) {
      let res = [];

      let isExist = (arr, x) => {
        for (let i = 0; i < arr.length; i++) {
          let condition =
            arr[i].pointDown.address == x.pointDown.address &&
            arr[i].pointUp.address == x.pointUp.address &&
            arr[i].ticketCode == x.ticketCode &&
            arr[i].phoneNumber == x.phoneNumber;

          if (condition) return { index: i, status: true };
        }
        return { index: i, status: false };
      };

      listTickets.forEach(elm => {
        let element = _.cloneDeep(elm);
        let checker = isExist(res, element);
        if (!checker.status) {
          res.push(element);
        } else {
          element.listSeatId.forEach(elem =>
            res[checker.index]["listSeatId"].push(elem)
          );
          let totalAgency =
            res[checker.index]["agencyPrice"] + element.agencyPrice;
          let totalPaid = res[checker.index]["paidMoney"] + element.paidMoney;

          res[checker.index]["agencyPrice"] = totalAgency;
          res[checker.index]["paidMoney"] = totalPaid;
        }
      });

      return res;
    }
  }
};
</script>
<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
  justify-content: space-around;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #B0B5C1;
  padding-top: 10px;
  margin-top: 10px;
}
</style>
