<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase"
          >AV 49: Báo cáo chi tiết đơn hàng bị sửa tiền phí</span
        >
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item">
          <label>
            Từ ngày (tạo đơn)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateStart"
            format="dd-MM-yyyy"
            :picker-options="options"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>
            Đến ngày (tạo đơn)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateEnd"
            :picker-options="options"
            format="dd-MM-yyyy"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Phòng hàng</label>
          <select-point
            class="w-100"
            pointTypes="8"
            v-model="form.room"
            :multiple="true"
            placeholder="Chọn tất cả"
            :pointType="8"
          ></select-point>
        </div>
        <div class="filter-item">
          <label>Nhân viên</label>
          <e-select-user
            class="w-100"
            v-model="form.user"
            :multiple="true"
            :clearable="true"
            placeholder="Chọn tất cả"
          ></e-select-user>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >
            {{ $t("button.filter") }}
          </button>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeStart"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeEnd"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport overflow-auto">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important; font-weight: 500 !important"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{ $t("No-") }}</th>
            <th class="rowHeader">Mã đơn hàng</th>
            <th class="rowHeader">Ngày giờ tạo đơn hàng</th>
            <th class="rowHeader">Người tạo đơn</th>
            <th class="rowHeader">Tiền phí gửi hàng phi tạo đơn</th>
            <th class="rowHeader">Người sửa</th>
            <th class="rowHeader">Ngày giờ sửa<br>(làm thay đổi tiền phí)</th>
            <th class="rowHeader">Tiền phí gửi hàng sau khi sửa</th>
            <th class="rowHeader">Chênh lệch (chưa sửa phí)</th>
            <th class="rowHeader">Ghi chú đơn hàng</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td :colspan="10" class="text-center">
              {{ $t("no-data-available") }}
            </td>
          </tr>
          <template v-if="reportData.length != 0">
              <tr v-for="(item, i) of reportData" :key="`${item.id}-${i}`" class="text-center">
                <td class="rowH tableexport-string">{{i+1}}</td>
                <td class="rowH tableexport-string">{{item.goodsCode}}</td>
                <td class="rowH tableexport-string">{{item.createdTime|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</td>
                <td class="rowH tableexport-string">{{item.createdUserName}}</td>
                <td class="rowH tableexport-string">{{item.totalPrice}}</td>
                <td class="rowH tableexport-string">{{item.updateUserName}}</td>
                <td class="rowH tableexport-string">{{item.timeEdit|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',)}}</td>
                <td class="rowH tableexport-string">{{item.totalPriceAfer | number}}</td>
                <td class="rowH tableexport-string">{{item.differCost | number}}</td>
                <td class="rowH tableexport-string">{{item.notice}}</td>
              </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SelectRoute from "../Route/SelectRoute";
import {mapState} from 'vuex'
import SelectPoint from "../Point/SelectPoint";
import ESelectUser from "../User/ESelectUser";
/**
 * @deprecated ay yo
 */
let d = new Date()
export default {
  components: { SelectRoute, SelectPoint, ESelectUser },
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
        room: [],
        user: []
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      reportTotal: {
        totalMoney: 0,
        totalNomarlTicket: 0,
        totalNomarlTicketCancel: 0,
        totalNomarlTicketExceptCancel: 0,
        totalPreferentialTicket: 0,
        totalPreferentialTicketCancel: 0,
        totalPreferentialTicketExceptCancel: 0,
      },
      dateFormat: "dd-MM-yyyy",
    };
  },
  mounted: function () {},
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate : self.form.dateStart + self.form.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        endDate : self.form.dateEnd + self.form.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      };
      if (self.form.room.length > 0) {
        param.roomIds = self.form.room.map((x) => x.id);
      }
      if (self.form.user.length > 0) {
        param.userIds = self.form.user.map((x) => x.id);
      }
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-goods-change-details",
        data: param,
        success: function (data) {
          self.reportData = data;
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_CHI_TIET_DON_HANG_BI_SUA_TIEN_PHI"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-weight: bold;
  font-size: 16px;
}
.rowAllTotal {
  font-weight: bold;
  font-size: 18px;
}
.rowH {
  font-weight: 500;
  font-size: 14px;
}
.table thead {
  background: #cfd3db;
}
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
</style>
