<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase"
          >AV 48: Báo cáo tổng hợp doanh thu theo ngày</span
        >
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item">
          <label>
            Thời gian
            <span class="super-highline-text">*</span>
          </label>
          <el-date-picker
            v-model="form.dateRange"
            class="w-100"
            type="month"
            :picker-options="optionsTime"
            :format="dateFormat"
            :value-format="dateFormat"
            :clearable="false"
            placeholder="Chọn tháng"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>
            Kiểu ngày
          </label>
          <el-select class="w-100" v-model="form.dateType" placeholder="Chọn tất cả">
            <el-option
            v-for="item in filterDateType"
            :key="item.key"
            :label="item.label"
            :value="item.key">
            </el-option>
          </el-select>
        </div>
        <div class="filter-item">
          <label>Tuyến</label>
          <select-route v-model="form.route" :clearable="true" :multiple="false" class="w-100"></select-route>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >{{$t('button.filter')}}</button>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport overflow-auto">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important; font-weight: 500 !important"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{ $t("No-") }}</th>
            <th class="rowHeader">Ngày</th>
            <th class="rowHeader">Tổng khách</th>
            <th class="rowHeader">Thành tiền</th>
            <th class="rowHeader">Đã thu</th>
            <th class="rowHeader">Còn lại</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td :colspan="6" class="text-center">
              {{ $t("no-data-available") }}
            </td>
          </tr>
          <template v-if="reportData.length != 0">
            <tr class="font-weight-bold text-center">
                <td class="rowAllTotal text-left" colspan="2">Tổng số: </td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalTicket | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalMoneyTicket | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalPaidMoney | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalUnpaidMoney | number }}</td>
            </tr>
            <template v-for="(value, index) of reportData">
              <tr class="text-center" :key="value.time+index">
                <td class="rowH tableexport-string text-center font-weight-bold">{{ index + 1 }}</td>
                <td class="rowH tableexport-string text-left">{{ value.time }}</td>
                <td class="rowH tableexport-string">{{ value.totalTicket | number }}</td>
                <td class="rowH tableexport-string">{{ value.totalMoneyTicket | number }}</td>
                <td class="rowH tableexport-string">{{ value.totalPaidMoney | number }}</td>
                <td class="rowH tableexport-string">{{ value.totalUnpaidMoney | number }}</td>
              </tr>
            </template> 
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SelectRoute from "../Route/SelectRoute";
import {mapState} from 'vuex';
import {FilterDateType} from '../../class/filterDateType';
let d = new Date()
export default {
  components: { SelectRoute },
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        dateRange: null,
        dateType: 1,
        route: null,
      },
      optionsTime: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      reportTotal: {
        totalTicket: 0,
        totalMoneyTicket: 0,
        totalPaidMoney: 0,
        totalUnpaidMoney: 0,
      },
      dateFormat: "MM-yyyy",
      filterDateType: FilterDateType.properties(),
    };
  },
  mounted: function () {
  },
  computed: {
    ...mapState({
      companyConfig: state => state.CompanyConfig.companyConfig,
    }),
  },
  methods: {
    returnDateStr: function(str) {
        if(!str) {
          return '';
        } else {
            const year = str.substring(0, 4);
            const month = str.substring(4, 6);
            const day = str.substring(6, 8);
            return `${day}-${month}-${year}`;
        }
    },
    handleDateType: function(param) {
      let self = this;
      let firstDay = new Date(param.year, Number(param.month)-1, 1).setHours(0, 0, 0, 0);
      let lastDay = new Date(param.year, Number(param.month), 0).setHours(23, 59, 59, 999);
      return [firstDay, lastDay];
    },
    checkValid: function(params) {
      if(!this.form.dateRange) {
          notify("Vui lòng chọn thời gian!");
          return false;
      }
      return true;
    },
    getReport: function () {
      let self = this;
      if(!self.checkValid()) {
          return;
      }
      self.loadingTable = true;
      const dateObj = {
        month: self.form.dateRange.split('-')[0],
        year: self.form.dateRange.split('-')[1],
        str: self.form.dateRange,
      }
      const dateArr = this.handleDateType(dateObj);
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate: dateArr[0],
        endDate: dateArr[1],
        dateType: self.form.dateType
      };
      if(!!self.form.route) {
        param.routeId = self.form.route.routeId;
      }
      sendJson({
        url:
          "https://asia-southeast2-dobody-anvui.cloudfunctions.net/get-ticket-day-detail",
        data: param,
        success: function (data) {
          self.reportData = data.map(x => {
              const item = {
                time : self.returnDateStr(x.time),
                totalTicket : Number(x.totalTicket),
                totalMoneyTicket : Number(x.totalMoneyTicket),
                totalPaidMoney : Number(x.totalPaidMoney),
                totalUnpaidMoney : Number(x.totalUnpaidMoney),
              }
              return item;
          });
          self.handleData(data);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    handleData: function (data) {
      this.clearTotal();
      let reportData = data.forEach((value, index, array) => {
          this.reportTotal.totalTicket += value.totalTicket;
          this.reportTotal.totalMoneyTicket += value.totalMoneyTicket;
          this.reportTotal.totalPaidMoney += value.totalPaidMoney;
          this.reportTotal.totalUnpaidMoney += value.totalUnpaidMoney;
      });
    },
    clearTotal: function () {
      this.reportTotal = {
        totalTicket: 0,
        totalMoneyTicket: 0,
        totalPaidMoney: 0,
        totalUnpaidMoney: 0
      };
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_HANG_TON_KHO"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-weight: bold;
  font-size: 16px;
}
.rowAllTotal {
  font-weight: bold;
  font-size: 18px;
}
.rowH {
  font-weight: 500;
  font-size: 14px;
}
.table thead {
  background: #cfd3db;
}
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
</style>
