<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">AV26: Báo cáo thống kê tháng theo xe</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item">
          <label>
            Thời gian
            <span class="super-highline-text">*</span>
          </label>
          <el-date-picker
            v-model="form.dateRange"
            class="w-100"
            type="month"
            :picker-options="optionsTime"
            :format="dateFormat"
            :value-format="dateFormat"
            :clearable="false"
            placeholder="Chọn tháng"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Tuyến</label>
          <select-route v-model="form.route" :clearable="true" :multiple="true" class="w-100"></select-route>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >{{$t('button.filter')}}</button>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport overflow-auto">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important;font-weight: 500 !important;"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th rowspan="2" class="rowHeader">{{$t('No-')}}</th>
            <th rowspan="2" class="rowHeader">Xe</th>
            <th class="rowHeader" :colspan="listDays.length">Ngày</th>
            <th rowspan="2" class="rowHeader">Tổng</th>
            <th rowspan="2" class="rowHeader">Tỷ lệ</th>
          </tr>
          <tr class="text-center">
            <th class="rowHeader" v-for="day of listDays" :key="day">{{day}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td :colspan="5 + listDays.length" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <template v-if="reportData.length != 0">
            <!-- start total row -->
            <tr class="font-weight-bold text-center">
              <td></td>
              <td class="rowAllTotal text-left">Tổng cộng (K+H)</td>
              <td
                class="rowAllTotal"
                v-for="day of listDays"
                :key="day"
              >{{reportTotal.arrDay[day] ? reportTotal.arrDay[day].day_ticketAmount + reportTotal.arrDay[day].day_goodAmount : 0 | number}}</td>
              <td class="rowAllTotal">{{reportTotal.ticketAmount + reportTotal.goodAmount | number}}</td>
              <td class="rowAllTotal">100%</td>
            </tr>
            <tr class>
              <td></td>
              <td class="text-left">Số chuyến</td>
              <td
                class
                v-for="day of listDays"
                :key="day"
              >{{reportTotal.arrDay[day] ? reportTotal.arrDay[day].day_trip : 0 | number}}</td>
              <td class>{{reportTotal.trip | number}}</td>
              <td class>100%</td>
            </tr>
            <tr class>
              <td></td>
              <td class="text-left">Số khách (vé)</td>
              <td
                class
                v-for="day of listDays"
                :key="day"
              >{{reportTotal.arrDay[day] ? reportTotal.arrDay[day].day_ticket : 0 | number}}</td>
              <td class>{{reportTotal.ticket | number}}</td>
              <td class>100%</td>
            </tr>
            <tr class>
              <td></td>
              <td class="text-left">Doanh thu vé</td>
              <td
                class
                v-for="day of listDays"
                :key="day"
              >{{reportTotal.arrDay[day] ? reportTotal.arrDay[day].day_ticketAmount : 0 | number}}</td>
              <td class>{{reportTotal.ticketAmount | number}}</td>
              <td class>100%</td>
            </tr>
            <tr class>
              <td></td>
              <td class="text-left">Doanh thu hàng</td>
              <td
                class
                v-for="day of listDays"
                :key="day"
              >{{reportTotal.arrDay[day] ? reportTotal.arrDay[day].day_goodAmount : 0 | number}}</td>
              <td class>{{reportTotal.goodAmount | number}}</td>
              <td class>100%</td>
            </tr>
            <!-- end total row -->
            <template v-for="(value, key, index) of reportData">
              <tr class="rowTotal" :key="key+'-vehicle'">
                <td>{{index+1}}</td>
                <td>{{`Xe: ${value.numberPlate}`}}</td>
                <td
                  v-for="day of listDays"
                  :key="day"
                >{{value.array[day] ? value.array[day].day_totalGood + value.array[day].day_totalTicketAmount : 0 | number}}</td>
                <td>{{value.vehicle_totalGood + value.vehicle_totalTicketAmount | number}}</td>
                <td>{{Math.round((value.vehicle_totalGood + value.vehicle_totalTicketAmount) / (reportTotal.ticketAmount + reportTotal.goodAmount) * 100)}}%</td>
              </tr>
              <tr class :key="key+'-trip'">
                <td class="rowH"></td>
                <td class="rowH">Số chuyến</td>
                <td
                  class="rowH"
                  v-for="day of listDays"
                  :key="day"
                >{{value.array[day] ? value.array[day].day_trip : 0 | number}}</td>
                <td class="rowH">{{value.vehicle_trips | number}}</td>
                <td class="rowH">{{Math.round(value.vehicle_trips / reportTotal.trip * 100)}}%</td>
              </tr>
              <tr class :key="key+'ticket'">
                <td class="rowH"></td>
                <td class="rowH">Số khách (vé)</td>
                <td
                  class="rowH"
                  v-for="day of listDays"
                  :key="day"
                >{{value.array[day] ? value.array[day].day_ticket : 0 | number}}</td>
                <td class="rowH">{{value.vehicle_ticket | number}}</td>
                <td class="rowH">{{Math.round(value.vehicle_ticket / reportTotal.ticket * 100)}}%</td>
              </tr>
              <tr class :key="key+'-totalTicket'">
                <td class="rowH"></td>
                <td class="rowH">Doanh thu vé</td>
                <td
                  class="rowH"
                  v-for="day of listDays"
                  :key="day"
                >{{value.array[day] ? value.array[day].day_totalTicketAmount : 0 | number}}</td>
                <td class="rowH">{{value.vehicle_totalTicketAmount | number}}</td>
                <td
                  class="rowH"
                >{{Math.round(value.vehicle_totalTicketAmount / reportTotal.ticketAmount * 100)}}%</td>
              </tr>
              <tr class :key="key+'-totalGood'">
                <td class="rowH"></td>
                <td class="rowH">Doanh thu hàng</td>
                <td
                  class="rowH"
                  v-for="day of listDays"
                  :key="day"
                >{{value.array[day] ? value.array[day].day_totalGood : 0 | number}}</td>
                <td class="rowH">{{value.vehicle_totalGood | number}}</td>
                <td
                  class="rowH"
                >{{Math.round(value.vehicle_totalGood / reportTotal.goodAmount * 100)}}%</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SelectRoute from "../Route/SelectRoute";
import {mapState} from 'vuex'

export default {
  components: { SelectRoute },
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        dateRange: null,
        route: [],
      },
      optionsTime: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      reportTotal: {
        trip: 0,
        ticket: 0,
        ticketAmount: 0,
        goodAmount: 0,
        arrDay: {},
      },
      dateFormat: "MM-yyyy",
      options: [],
      listDays: [],
    };
  },
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  mounted: function () {},
  methods: {
    getReport: function () {
      let self = this;
      if (!this.form.dateRange) {
        notify("Trường thời gian không được để trống!", "error");
        return;
      }
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        month: this.form.dateRange.split("-").reverse()[1],
        year: this.form.dateRange.split("-").reverse()[0],
      };
      if (self.form.route.length > 0) {
        param.routeId = self.form.route.map((x) => x.routeId);
      }
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-month-report-by-vehicle",
        data: param,
        success: function (data) {
          console.log(data);
          self.reportData = self.handleData(data);
          self.handleData(data);
          self.listDays = self.getDaysOfMonth(param.month, param.year);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    handleData: function (data) {
      let seenVehicle = new Set();
      let seenDate = new Set();
      let seenDateTotal = new Set();
      this.clearTotal();
      let reportData = data.reduce(
        (response, currentValue, currentIndex, array) => {
          const CurrentDate =
            currentValue.startDateReality.toString().slice(-2) < 10
              ? currentValue.startDateReality.toString().slice(-1)
              : currentValue.startDateReality.toString().slice(-2);

          let isDupVehicle = seenVehicle.has(currentValue.vehicleId);
          let isDupDate = seenDate.has(
            `${currentValue.vehicleId}-${CurrentDate}`
          );

          seenVehicle.add(currentValue.vehicleId);
          seenDate.add(`${currentValue.vehicleId}-${CurrentDate}`);

          if (!isDupVehicle) {
            response[currentValue.vehicleId] = {
              numberPlate: currentValue.numberPlate,
              vehicle_trips: 1,
              vehicle_ticket: currentValue.totalTicket | 0,
              vehicle_totalTicketAmount: currentValue.paidMoney | 0,
              vehicle_totalGood: currentValue.totalGoodPrice | 0,
              array: {},
            };
            response[currentValue.vehicleId].array[CurrentDate] = {
              day_trip: 1,
              day_ticket: currentValue.totalTicket | 0,
              day_totalTicketAmount: currentValue.paidMoney | 0,
              day_totalGood: currentValue.totalGoodPrice | 0,
            };
          }
          if (isDupVehicle && !isDupDate) {
            response[currentValue.vehicleId].vehicle_trips += 1;
            response[currentValue.vehicleId].vehicle_ticket +=
              currentValue.totalTicket | 0;
            response[currentValue.vehicleId].vehicle_totalTicketAmount +=
              currentValue.paidMoney | 0;
            response[currentValue.vehicleId].vehicle_totalGood +=
              currentValue.totalGoodPrice | 0;
            response[currentValue.vehicleId].array[CurrentDate] = {
              day_trip: 1,
              day_ticket: currentValue.totalTicket | 0,
              day_totalTicketAmount: currentValue.paidMoney | 0,
              day_totalGood: currentValue.totalGoodPrice | 0,
            };
          }
          if (isDupVehicle && isDupDate) {
            response[currentValue.vehicleId].vehicle_trips += 1;
            response[currentValue.vehicleId].vehicle_ticket +=
              currentValue.totalTicket | 0;
            response[currentValue.vehicleId].vehicle_totalTicketAmount +=
              currentValue.paidMoney | 0;
            response[currentValue.vehicleId].vehicle_totalGood +=
              currentValue.totalGoodPrice | 0;
            response[currentValue.vehicleId].array[CurrentDate].day_trip += 1;
            response[currentValue.vehicleId].array[CurrentDate].day_ticket +=
              currentValue.totalTicket | 0;
            response[currentValue.vehicleId].array[
              CurrentDate
            ].day_totalTicketAmount += currentValue.paidMoney | 0;
            response[currentValue.vehicleId].array[CurrentDate].day_totalGood +=
              currentValue.totalGoodPrice | 0;
          }
          //   sum total
          this.reportTotal.trip += 1;
          this.reportTotal.ticket += currentValue.totalTicket | 0;
          this.reportTotal.ticketAmount += currentValue.paidMoney | 0;
          this.reportTotal.goodAmount += currentValue.totalGoodPrice | 0;
          this.reportTotal.arrDay[CurrentDate] = {
            day_trip:
              (this.reportTotal.arrDay[CurrentDate]
                ? this.reportTotal.arrDay[CurrentDate].day_trip
                : 0) + 1,
            day_ticket:
              (this.reportTotal.arrDay[CurrentDate]
                ? this.reportTotal.arrDay[CurrentDate].day_ticket
                : 0) +
              (currentValue.totalTicket | 0),
            day_ticketAmount:
              (this.reportTotal.arrDay[CurrentDate]
                ? this.reportTotal.arrDay[CurrentDate].day_ticketAmount
                : 0) +
              (currentValue.paidMoney | 0),
            day_goodAmount:
              (this.reportTotal.arrDay[CurrentDate]
                ? this.reportTotal.arrDay[CurrentDate].day_goodAmount
                : 0) +
              (currentValue.totalGoodPrice | 0),
          };

          return response;
        },
        {}
      );
      console.log(reportData);
      return reportData;
    },
    getDaysOfMonth: function (month, year) {
      const numberDays = new Date(year, month, 0).getDate();
      let arr = [];
      for (let i = 0; i < numberDays; i++) {
        arr.push(i + 1);
      }
      return arr;
    },
    clearTotal: function (params) {
      this.reportTotal = {
        trip: 0,
        ticket: 0,
        ticketAmount: 0,
        goodAmount: 0,
        arrDay: {},
      };
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_THONG_KE_THANG_THEO_XE"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-weight: bold;
  font-size: 16px;
}
.rowAllTotal {
  font-weight: bold;
  font-size: 18px;
}
.rowH {
  font-weight: 500;
  font-size: 14px;
}
.table thead {
  background: #cfd3db;
}
// .table td,
// .table td h5 {
//   font-family: "Open Sans", sans-serif;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 19px;
// }
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
</style>
