<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">AV 14: Báo cáo tổng hợp hàng hóa theo văn phòng</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="exportToExcel('reportTable')">
            <i class="fa fa-file-excel"></i>
            {{ $t('export-excel')}}
          </button>
          <button class="btn btn-primary btn-sm" @click="printTable('reportTable')">
            <i class="fa fa-file-excel"></i>
            In
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item date-filter">
          <label>Thời gian</label>
          <el-date-picker
            v-model="form.dataRange"
            class="w-100"
            :clearable="false"
            :picker-options="optionsTime"
            type="daterange"
            range-separator="-"
            :format="dateFormat"
            start-placeholder="Bắt đầu"
            end-placeholder="Kết thúc"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Phòng vé/hàng</label>
          <select-point
            class="w-100"
            v-model="form.room"
            pointTypes="8"
            isReceivedGoods="true"
            placeholder="Chọn tất cả"
            :pointType="8"
          ></select-point>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >{{$t('button.filter')}}</button>
        </div>
      </div>
    </div>
    <div class="margin-bottom">
      <el-table
        id="reportTable"
        :data="reportData"
        v-loading="loadingTable"
        max-height="500"
        show-summary
        :summary-method="getSummaries"
        border
        style="width: 100%"
        cell-class-name="tableexport-string"
      >
        <el-table-column prop="pointName" label="Phòng vé"></el-table-column>
        <el-table-column label="Nhận hàng của khách (Tạo đơn hàng)">
          <el-table-column prop="totalOrder" label="Số đơn hàng">
            <template slot-scope="prop">{{prop.row.totalOrder|number}}</template>
          </el-table-column>
          <el-table-column prop="totalQuantity" label="Số kiện hàng">
            <template slot-scope="prop">{{prop.row.totalQuantity|number}}</template>
          </el-table-column>
          <el-table-column prop="totalPrice" label="Số tiền">
            <template slot-scope="prop">{{prop.row.totalPrice|number}}</template>
          </el-table-column>
          <el-table-column prop="totalPaid" label="Thu trước">
            <template slot-scope="prop">{{prop.row.totalPaid|number}}</template>
          </el-table-column>
          <el-table-column prop="totalUnpaid" label="Thu sau">
            <template slot-scope="prop">{{prop.row.totalUnpaid|number}}</template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="Trả hàng cho khách">
          <el-table-column prop="totalOrderReturn" label="Số đơn hàng">
            <template slot-scope="prop">{{prop.row.totalOrderReturn|number}}</template>
          </el-table-column>
          <el-table-column prop="totalQuantityReturn" label="Số kiện hàng">
            <template slot-scope="prop">{{prop.row.totalQuantityReturn|number}}</template>
          </el-table-column>
          <el-table-column prop="totalPayments" label="Thu sau">
            <template slot-scope="prop">{{prop.row.totalPayments|number}}</template>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="totalAmount" label="Tổng tiền thu">
          <template slot-scope="prop">{{prop.row.totalAmount|number}}</template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import SelectPoint from "../Point/SelectPoint";
import filter from "../../Helper/Filters";
import {mapState} from 'vuex'

export default {
  components: { SelectPoint },
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        dataRange: [new Date(), new Date()],
        room: null,
        user: null,
      },
      optionsTime: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      dateFormat: "dd-MM-yyyy",
      options: [],
    };
  },
  mounted: function () {},
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getSummaries(param) {
      const { columns, data } = param;
      let sums = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = "Tổng";
          return;
        }
        const values = data.map((item) => Number(item[column.property]));
        if (!values.every((value) => isNaN(value))) {
          sums[index] =
            "" +
            values.reduce((prev, curr) => {
              const value = Number(curr);
              if (!isNaN(value)) {
                return prev + curr;
              } else {
                return prev;
              }
            }, 0);
        } else {
          sums[index] = "";
        }
      });
      let convert = sums.map((x, index) => {
        if (index === 0 || x === "") {
          return x;
        }
        return this.$options.filters.number(x);
      });
      return convert;
    },
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate: self.form.dataRange[0].setHours(0, 0, 0, 0),
        endDate: self.form.dataRange[1].setHours(23, 59, 59, 999),
      };
      if (self.form.room) {
        param.roomId = self.form.room.id;
      }
      sendJson({
        url:
          "https://asia-southeast2-dobody-anvui.cloudfunctions.net/report-general-good-by-room",
        data: param,
        success: function (data) {
          self.reportData = data.map((x) => {
            let item = {
              companyId: x.companyId,
              pointId: x.pointId,
              pointName: x.pointName,
              totalOrder: x.totalOrder ? parseInt(x.totalOrder) : 0,
              totalOrderReturn: x.totalOrderReturn
                ? parseInt(x.totalOrderReturn)
                : 0,
              totalPaid: x.totalPaid ? parseInt(x.totalPaid) : 0,
              totalPayments: x.totalPayments ? parseInt(x.totalPayments) : 0,
              totalPrice: x.totalPrice ? parseInt(x.totalPrice) : 0,
              totalQuantity: x.totalQuantity ? parseInt(x.totalQuantity) : 0,
              totalQuantityReturn: x.totalQuantityReturn
                ? parseInt(x.totalQuantityReturn)
                : 0,
              totalUnpaid: x.totalUnpaid ? parseInt(x.totalUnpaid) : 0,
              totalUnpaidReturn: x.totalUnpaidReturn
                ? parseInt(x.totalUnpaidReturn)
                : 0,
              totalAmount:
                (x.totalPaid ? parseInt(x.totalPaid) : 0) +
                (x.totalPayments ? parseInt(x.totalPayments) : 0),
            };
            return item;
          });
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    exportToExcel: function (tableId) {
      let fileName = "TONG_HOP_HANG_THEO_VAN_PHONG";
      this.excel(`#${tableId}`, fileName);
    },
    printTable: function (tableId) {
      $(`#${tableId}`).printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
  // overflow-x: scroll;
  // max-height: 75vh;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
</style>
