<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 37: Báo cáo chi tiết vé online
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-time v-model="dateStart" :value="dateStart" ></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-time v-model="dateEnd" :value="dateEnd"></el-time>
          </div>
        </div>
        <!--<div class="col-2">-->
          <!--<div class="form-group">-->
            <!--<label>Nguồn vé</label><br>-->
            <!--<el-select v-model="sourceTicket" multiple placeholder="" >-->
              <!--<el-option-->
                      <!--v-for="item in sourceTickets"-->
                      <!--:key="item.value"-->
                      <!--:label="item.label"-->
                      <!--:value="item.value">-->
              <!--</el-option>-->
            <!--</el-select>-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-2">
          <div class="form-group">
            <label>Trạng thái giao dịch</label><br>
            <el-select v-model="transStatus" clearable placeholder="" >
              <el-option
                      v-for="item in typeStatuss"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route v-model="route" :clearable="true" />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Kênh thanh toán</label><br>
            <el-select v-model="serviceSupporter" placeholder="" >
              <el-option
                      v-for="item in serviceSupporters"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Quầy vé thanh toán</label><br>
            <select-point v-model="room" :pointType="8"></select-point>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Loại ngày</label><br>
            <el-select v-model="dateType" placeholder="" >
              <el-option
                      v-for="item in dateTypes"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <!--<div class="col-2">-->
          <!--<div class="form-group">-->
            <!--<label>Trạng thái giao dịch</label><br>-->
            <!--<el-select v-model="statusTransaction" multiple placeholder="" >-->
              <!--<el-option-->
                      <!--v-for="item in statusTransactions"-->
                      <!--:key="item.value"-->
                      <!--:label="item.label"-->
                      <!--:value="item.value">-->
              <!--</el-option>-->
            <!--</el-select>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader" style="min-width: 150px;">Mã vé <br> ({{list.length}} vé)</th>
            <th class="rowHeader" style="min-width: 130px;">Mã ghế</th>
            <th class="rowHeader" style="min-width: 100px;">Mã giao dịch online</th>
            <th class="rowHeader" style="min-width: 225px;">Tuyến</th>
            <th class="rowHeader" style="min-width: 180px;">Bến lên</th>
            <th class="rowHeader" style="min-width: 180px;">Bến xuống</th>
            <th class="rowHeader" style="min-width: 115px;">Chuyến</th>
            <th class="rowHeader" style="min-width: 80px;">Số ĐT khách</th>
            <th class="rowHeader" style="min-width: 100px;">Tên khách</th>
            <th class="rowHeader" style="min-width: 120px;">Ngày giờ đặt vé</th>
            <th class="rowHeader" style="min-width: 120px;">Ngày giờ thanh toán</th>
            <th class="rowHeader" style="min-width: 130px;">Phòng vé cho khách quét QR</th>
            <th class="rowHeader" style="min-width: 115px;">TK NV cho khách quét QR</th>
            <th class="rowHeader" style="min-width: 115px;">Kênh thanh toán</th>
            <!--<th class="rowHeader">Nguồn vé</th>-->
            <!--<th class="rowHeader" style="min-width: 145px;">Số lượng</th>-->
            <th class="rowHeader" style="min-width: 110px;">Giá vé</th>
            <th class="rowHeader" style="min-width: 160px;">Số tiền <br> ({{sumTotalMoney | number}} đ)</th>
            <th class="rowHeader" style="min-width: 160px;">Trạng thái vé</th>
            <th class="rowHeader" style="min-width: 145px">Trạng thái giao dịch</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="20" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <template v-for="(tickets,key) in mapReport">
            <template v-for="(ticket,k) in tickets">
              <tr :key="key + 'n' + k">
                <td class="tableexport-string" :rowspan="tickets.length" v-if="k == 0" > <b>{{ ticket.ticketCode }}</b></td>
                <td class="tableexport-string">{{ticket.seat_id ? ticket.seat_id : ''}}</td>
                <td class="tableexport-string">{{ticket.transactionNo ? ticket.transactionNo: ''}}</td>
                <td class="tableexport-string">{{ticket.routeName ? ticket.routeName: ''}}</td>
                <td class="tableexport-string">{{ticket.pointUpName ? ticket.pointUpName: ''}}</td>
                <td class="tableexport-string">{{ticket.pointDownName ? ticket.pointDownName: ''}}</td>
                <td class="tableexport-string">{{ticket.startTimeReality | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</td>
                <td class="tableexport-string">{{ticket.phoneNumber ? ticket.phoneNumber: '' }}</td>
                <td class="tableexport-string">{{ticket.fullName ? ticket.fullName: '' }}</td>
                <td class="tableexport-string">{{ticket.ticketCreatedDate | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#') }}</td>
                <td class="tableexport-string">{{ticket.paymentTime | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#') }}</td>
                <td class="tableexport-string">{{ticket.pointName ? ticket.pointName : '' }}</td>
                <td class="tableexport-string">{{ticket.userName ? ticket.userName : '' }}</td>
                <td class="tableexport-string">{{(ticket.serviceSupporter) | checkPaymentGate }}</td>
                <td class="tableexport-string">{{(ticket.agencyPrice ? ticket.agencyPrice : '') | number }}</td>
                
                <td class="tableexport-string" :rowspan="tickets.length"  v-if="k == 0"> <b>{{(tickets[0].totalMoney ? tickets[0].totalMoney : '') | number }}</b> </td>

                <td class="tableexport-string">{{ticket.ticketStatus | checkTicketStatus }}</td>
                <td class="tableexport-string">{{ticket.transStatus | checkTransStatus }}</td>
              </tr>
            </template>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateType: 3,
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                route: null,
                loading: false,
                getCancelTicket: true,
                selectedRoom: null,
                transStatus: null,
                sourceTicket: null,
                sourcePaid: null,
                statusTransaction: null,
                statusTransactions: [
                    {
                        value: 0,
                        label: 'VNPAID'
                    },
                    {
                        value: 1,
                        label: 'Đại lý'
                    },
                    {
                        value: 2,
                        label: 'Sàn vé'
                    },
                ],
                dateTypes : [
                    {
                        value: 1,
                        label: 'Ngày tạo',
                    },
                    {
                        value: 2,
                        label: 'Ngày đi',
                    },
                    {
                        value: 3,
                        label: 'Ngày giao dịch',
                    }
                ],
                sourcePaids: [
                    {
                        value: 0,
                        label: 'VNPAID'
                    },
                    {
                        value: 1,
                        label: 'Đại lý'
                    },
                    {
                        value: 2,
                        label: 'Sàn vé'
                    },
                ],
                sourceTickets: [
                    {
                        value: 0,
                        label: 'Nhà xe'
                    },
                    {
                        value: 1,
                        label: 'Đại lý'
                    },
                    {
                        value: 2,
                        label: 'Sàn vé'
                    },
                ],
                typeStatuss: [
                    {
                        value: 1,
                        label: 'Đang thực hiện'
                    },
                    {
                        value: 2,
                        label: 'Thành công'
                    },
                ],
                serviceSupporter: null,
                serviceSupporters : [
                    {
                        label: 'ONEPAY',
                        value: 1,
                    },
                    {
                        label: 'PAYOO',
                        value: 2,
                    },
                    {
                        label: 'VNPAY',
                        value: 3,
                    },
                    {
                        label: 'FPT_SMS',
                        value: 4,
                    },
                    {
                        label: 'VMG_SMS',
                        value: 5,
                    },
                    {
                        label: 'TRUE_MONEY',
                        value: 6,
                    },
                    {
                        label: 'MOMO',
                        value: 7,
                    },
                    {
                        label: 'INCOM',
                        value: 8,
                    },
                    {
                        label: 'MEGAPAY',
                        value: 9,
                    },
                    {
                        label: 'VIETTEL_SMS',
                        value: 10,
                    },
                    {
                        label: 'TRI_ANH',
                        value: 11,
                    },
                    {
                        label: 'ZALO_PAY',
                        value: 12,
                    },
                    {
                        label: 'VNPAY_QR',
                        value: 13,
                    },
                    {
                        label: 'ITS_SMS',
                        value: 14,
                    },
                    {
                        label: 'FPT_INVOICE',
                        value: 15,
                    },
                    {
                        label: 'VNPAY_SPOS',
                        value: 16,
                    },
                    {
                        label: 'M_INVOICE',
                        value: 17,
                    },
                    {
                        label: 'VIETTEL_PAY',
                        value: 18,
                    },
                ],
                routeSelected: null,
                sumTotalMoney: 0,

            }
        },
        mounted: function(){
        },
        methods: {
            getPaymentGate: function(id) {
              let flatId = id.split('');
              let paymentGate = [];
              flatId.forEach((value, index, array) => {
                const isLetter = isNaN(value);
                if(isLetter) {
                  paymentGate.push(value);
                }
              })
              return paymentGate.length > 2 ? paymentGate.join('') : 'Không xác định';
            },
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                };

                if( self.transStatus || self.transStatus == "" ) {
                  params.transStatus = self.transStatus
                }
                if( self.route ) {
                  params.routeId = self.route.routeId
                }
                if( self.room ) {
                  params.roomId = self.room.id
                }
                if(self.dateType) {
                    params.dateType = self.dateType
                }
                if(self.serviceSupporter) {
                    params.serviceSupporter = self.serviceSupporter
                }
                // if (self.routeSelected && self.routeSelected.length > 0) {
                //     params.routeId = []
                //     $.each(self.routeSelected, function (r,route) {
                //         params.routeId.push(route.routeId)
                //     })
                // }
                sendJson({
                    url : 'https://asia-southeast2-dobody-anvui.cloudfunctions.net/get-ticket-online-detail',
                    data : params,
                    success : function (data) {
                        self.sumTotalMoney = 0
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            mapReport() {
              let mapReport = {}
              this.list.forEach((value, key) => {
                if(value.transactionNo != null) {
                  if( !mapReport[value.ticketCode + "-" + value.transactionNo] ) {
                    mapReport[value.ticketCode + "-" + value.transactionNo] = []
                    this.sumTotalMoney += value.totalMoney
                  }
                  mapReport[value.ticketCode + "-" + value.transactionNo].push(value)
                } else {
                  if( !mapReport[value.ticketCode + "-" + key] ) {
                    mapReport[value.ticketCode + "-" + key] = []
                    this.sumTotalMoney += value.totalMoney
                  }
                  mapReport[value.ticketCode + "-" + key].push(value)
                }
              })

              return mapReport
            },

            totalAmount :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicket
                })
                return a
            },
            totalTicketCreate :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.TicketRoomCreate
                })
                return a
            },
            totalTicketRoomNotCreate :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.TicketRoomNotCreate
                })
                return a
            },
            totalTicketCancer :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.TicketRoomCancel
                })
                return a
            },
            totalMoneyCancer :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.MoneyRoomCancel ? li.MoneyRoomCancel : 0
                })
                return a
            },
            totalMoneyTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += (li.agencyPrice*li.totalTicket)
                })
                return a
            },
            totalMoneyRoomSold :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.MoneyRoomCreate
                })
                return a
            },
            totalMoneyRoomUnSold :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.MoneyRoomNotCreate
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
