<template>
    <div class="wrap-report-elec-ticket">
            <el-row>
                <div class="col-12 title-ret">
                    Danh sách yêu cầu xuất vé điện tử
                </div>
            </el-row>
            <div class="header-ret">
                <div class="row">
                    <div class="col-4">
                        <label>Chọn khoảng thời gian</label>
                        <el-date-picker class="w-100"
                                v-model="listElectronicTicket.rangeDate"
                                type="daterange"
                                format="dd-MM-yyyy"
                                value-format="yyyyMMdd"
                                :picker-options="optionsTime"
                                range-separator="đến"
                                start-placeholder="Chọn ngày"
                                end-placeholder="Chọn ngày">
                        </el-date-picker>
                    </div>
                    <div class="col-3">
                        <label>Tuyến</label><br>
                        <select-route class="w-100" v-model="listElectronicTicket.route" style="min-width: 215px" :clearable="false" :multiple="true"></select-route>
                    </div>
                    <div class="col-3">
                        <label>Trạng thái</label><br>
                        <template>
                            <el-select class="w-100" v-model="listElectronicTicket.requireInvoiceStatuses" placeholder="Chọn trạng thái" :multiple="true">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button class="btn btn-search btn-block" @click="getList()">
                                Lọc kết quả
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row statistic-content">
            <div class="col-2">
                <div class="item-statistic">
                    <h5>Tổng số vé: <span>{{listElectronicTicket.list.length}}</span></h5>
                </div>
            </div>
            <div class="col-3">
                <div class="item-statistic">
                    <h5>Tổng số vé đã xuất: <span>{{totalTicketExport()}}</span></h5>
                    <!--<h5>Tổng tiền vé đã xuất: <span>4.523.000đ</span></h5>-->
                </div>
            </div>
            <div class="col-3">
                <div class="item-statistic">
                    <h5>Vé chưa xuất: <span>{{totalTicketUnExport()}}</span></h5>
                    <!--<h5>Tổng tiền vé chưa xuất: <span>4.523.000đ</span></h5>-->
                </div>
            </div>
<!--            <div class="col-3">-->
<!--                <div class="item-statistic">-->
<!--                    <h5>Hạn mức của phòng vé: <span>50.000.000đ</span></h5>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="row">
            <div class="col-12" v-loading="listElectronicTicket.loading | electronicTicket.loading" >
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="listElectronicTicket.list"
                            border>
                        <el-table-column type="index" class-name="text-center" label="STT"></el-table-column>
                        <el-table-column
                                label="Mã vé"
                                min-width="120px"
                                class-name="text-center">
                            <template slot-scope="scope">
                                <a href="javascript:void(0)" @click="goToTicket(scope.row)">{{scope.row.ticketCode}}</a>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Tổng tiền"
                                min-width="100px"
                                class-name="text-center">
                            <template slot-scope="scope">
                                {{scope.row.agencyPrice|number}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Tuyến đường"
                                min-width="100px"
                                class-name="text-center">
                            <template slot-scope="scope">
                                {{scope.row.routeInfo.name}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Chuyến"
                                width="160px"
                                class-name="text-center">
                            <template slot-scope="scope">
                                <div>
                                    <span style="font-family: Open Sans;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 14px;
                                                    line-height: 19px;">{{scope.row.getInTimePlan|customDate('#hhhh#h-#mm#',true)}}
                                    </span><br>
                                    <span style="font-size: 12px">{{scope.row.getInTimePlan|customDate('#DD#-#MM#-#YYYY#',true)}}</span><br>
                                    <span style="font-size: 12px">{{scope.row.tripInfo.vehicle.numberPlate}}</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Phòng vé bán"
                                min-width="100px"
                                class-name="text-center">
                            <template slot-scope="scope">
                                {{scope.row.room.name}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Thông tin hành khách"
                                width="170px">
                            <template slot-scope="scope">
                                <div>
                                    <span style="font-family: Open Sans;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 14px;
                                                    line-height: 19px;">{{scope.row.fullName}}
                                    </span><br>
                                    <span style="font-size: 12px">{{scope.row.phoneNumber}}</span><br>
                                    <span style="font-size: 12px">{{scope.row.email}}</span><br>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Phòng vé xuất"
                                min-width="100px"
                                class-name="text-center">
                            <template slot-scope="scope">
                                {{scope.row.room.name}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Trạng thái xuất vé điện tử"
                                class-name="text-center">
                            <template slot-scope="scope">

                                <div v-if="scope.row.invoiceInfo.requireStatus != '3'">
                                    <span style="font-family: Open Sans;
                                                    color: #C80013;
                                                    margin-right: 10px;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 14px;
                                                    line-height: 19px;">Chưa xuất vé</span>
                                </div>
                                <div v-else>
                                    <span style="font-family: Open Sans;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 14px;
                                                    line-height: 19px;
                                                    color: #00C48C;">Đã xuất vé</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="Tùy chọn"
                                class-name="text-center">
                            <template slot-scope="scope">
                                <div>
                                    <span class="box-item" v-if="scope.row.invoiceInfo.requireStatus == '1'|| scope.row.invoiceInfo.requireStatus == '2' " @click="callSendInvoice(scope.row)"><i class="fas fa-check"></i></span>
                                    <span class="box-item-sent" v-if="scope.row.invoiceInfo.requireStatus == '3'"><i class="fas fa-check"></i></span>
                                    <span class="box-item" v-if="!scope.row.invoiceInfo || !scope.row.invoiceInfo.requireStatus  " @click="callSendInvoice(scope.row)"><i class="fas fa-file-export"></i></span>
                                    <span class="box-item"><i class="far fa-envelope"></i></span>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectRoute from '../Route/SelectRoute';
    import {ElectronicTicket,ListElectronicTicket} from "../../class/reportElectronicTicket";
    import {mapState} from 'vuex'
export default {
    components : {SelectRoute},
    data: function(){
        return {
            electronicTicket : new ElectronicTicket(),
            listElectronicTicket : new ListElectronicTicket(),
            optionsTime: {
                disabledDate : (time)=>{
                    return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                }
            },
            options: [
                {
                    value: 0,
                    label: 'Không yêu cầu'
                },
                {
                    value: 1,
                    label: 'Đã yêu cầu'
                },
                {
                    value: 2,
                    label: 'Chưa xuất vé '
                },
                {
                    value: 3,
                    label: 'Đã xuất vé'
                },
            ],
            list: []
            
        }
    },
    mounted: function(){
        
    },
    methods: {
        callSendInvoice: function(ticket) {
            let self = this;
            this.electronicTicket.sendInvoice(ticket,function () {
                self.listElectronicTicket.getList();
            })
        },
        totalTicketExport: function () {
            let a = 0
            for ( let i = 0; i < this.listElectronicTicket.list.length; i++ ){
                if (this.listElectronicTicket.list[i].requireStatus == '3') {
                    a++
                }
            }
            return a
        },
        totalTicketUnExport: function () {
            let a = 0
            for ( let i = 0; i < this.listElectronicTicket.list.length; i++ ){
                if (this.listElectronicTicket.list[i].requireStatus != '3') {
                    a++
                }
            }
            return a
        },
        totalMoneyExport: function () {
            let a = 0
            for ( let i = 0; i < this.listElectronicTicket.list.length; i++ ){
                if (this.listElectronicTicket.list[i].agencyPrice && this.listElectronicTicket.list[i].requireStatus == '3') {
                    a += this.listElectronicTicket.list[i].agencyPrice
                }
            }
            return a
        },
        totalMoneyUnExport: function () {
            let a = 0
            for ( let i = 0; i < this.listElectronicTicket.list.length; i++ ){
                if (this.listElectronicTicket.list[i].agencyPrice && this.listElectronicTicket.list[i].requireStatus != '3') {
                    a += this.listElectronicTicket.list[i].agencyPrice
                }
            }
            return a
        },
        getList : function () {
            this.listElectronicTicket.getList()
            this.list = this.listElectronicTicket.list
        },
        goToTicket :function (ticket) {
            console.log(ticket);
            let data = {
                tripId : ticket.tripId,
                routeId : ticket.routeInfo.id,
                startPointId : ticket.pointUp.id,
                endPointId : ticket.pointDown.id,
                ticketId : ticket.ticketId,
                ticketStatus : ticket.ticketStatus,
                floor : ticket.seat.floor,
            }
            data.date = this.$options.filters.customDate(ticket.getInTimePlan,'#DD#-#MM#-#YYYY#',true);
            func.setHistory(data);
            this.$store.commit(this.sellForm+'/SET_TICKET_SCROLL',ticket);
            this.$store.commit(this.sellForm + '/SET_TIME', this.$options.filters.customDate(ticket.getInTimePlan, '#hhhh#', true));
            this.$store.dispatch(this.sellForm+'/SET_TIME',this.$options.filters.customDate(ticket.getInTimePlan,'#hhhh#',true));
            if(this.$route.name===this.sellForm){
                this.$store.dispatch(this.sellForm+'/INIT');
            }else{
                this.$router.push({name:this.sellForm});
            }
        },
    },
    computed: {
        ...mapState({
            sellForm : state=> state.sellForm,
            companyConfig: state => state.CompanyConfig.companyConfig,
        }),
    },
    watch: {
        list: function () {
            this.totalTicketExport()
            this.totalTicketUnExport()
            console.log('run')
        }
    }
}
</script>
<style scoped>
.box-item-sent {
    padding: 10px;
    font-size: 20px;
}
.box-item-sent i{
    color: #22BB33
}
.box-item {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}
.box-item i{
    color: #084388
}
.btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
}
.btn-search:hover{
    background: #084388;
}
.header-ret{
    background: #ECEDF1;
    padding: 8px;
}
.title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.date-ranger{
    max-width: 33% !important;
}
.statistic-content{
    padding: 16px 8px;
}
.item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
}
.item-statistic h5:first-child{
    margin-bottom: 8px;
}
.item-statistic h5 span{
    color: #084388;
}
.table thead{
    background: #CFD3DB;
}
.table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
}
.table tbody tr{
    background-color: #fff;
}
.box-action{
    text-align: center;
}
.box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
}
.box-action button i{
    color: #084388;
}
</style>