<template>
    <div class="w-100" style="margin-top: 60px">
        <div class="w-100" style="margin-bottom: 16px">
            Mẫu báo cáo:
            <el-select v-model="option" placeholder="Chọn báo cáo" clearable value-key="id">
                <el-option
                        v-for="item in options"
                        :key="item.id"
                        :label="item.name"
                        :value="item">
                </el-option>
            </el-select>
        </div>
        <div class="w-100 report-iframe" style="min-height: 100px;background: #eeeeee;" v-if="option&&paths.includes(option.path)">
            <component :is="paths.includes(option.path) ? option.path : 'NotFound'"></component>
        </div>
        <div class="w-100 report-iframe" style="min-height: 100px;background: #ddd;height:90vh" v-html="option.path"
             v-if="option&&!paths.includes(option.path)">
        </div>
    </div>
</template>
<script>
    import NotFound from '../Template/404.vue';
    import SynthesisReport from './SynthesisReport.vue';
    import SynthesisReport2 from './SynthesisReport2.vue';
    import ReportsByVehicle from './ReportsByVehicle.vue';
    import ReportByRoute from './ReportByRoute.vue';
    import ReportTripByDate from './ReportTripByDate.vue';
    import TripStatistic from './TripStatistic.vue';
    import ReportByDriver from './ReportByDriver.vue';
    import ReportMoneyByDriver from './ReportMoneyByDriver.vue';
    import ReportTicketByDriver from './ReportTicketByDriver.vue';
    import ReportMoneyByRoom from './ReportMoneyByRoom.vue';
    import ReportIncomeByRoom from './ReportIncomeByRoom.vue';
    import ReportGoodByRoom from './ReportGoodByRoom.vue';
    import ReportIncomeGoodByRoom from './ReportIncomeGoodByRoom.vue';
    import ReportContract from './ReportContract.vue';
    import MySaleReport from './MySaleReport.vue';
    import ReportGeneralGoodByEmployee from './ReportGeneralGoodByEmployee.vue';
    import ReportSyntheticGoodByRoom from './ReportSyntheticGoodByRoom.vue';
    import ReportCustomer from './ReportCustomer.vue';
    import ReportDetailByStaff from './ReportDetailByStaff.vue';
    import ReportDetailTicketPaymentOnCar from './ReportDetailTicketPaymentOnCar.vue';
    import ReportDetailGoodByEmployee from './ReportDetailGoodByEmployee.vue';
    import ReportDetailGoodByStaff from './ReportDetailGoodByStaff.vue';
    import ReportDetailIncomeTicketByStaff from './ReportDetailIncomeTicketByStaff.vue';
    import ReportOTIP from './ReportOTIP.vue';
    import ReportDetailTicketByAgency from './ReportDetailTicketByAgency.vue';
    import ReportSyntheticByAgency from './ReportSyntheticByAgency.vue';
    import ReportTicketPaidTranfer from './ReportTicketPaidTranfer.vue';
    import ReportDetailTicketCancel from './ReportDetailTicketCancel.vue';
    import ReportDetailTicketChangeIncome from './ReportDetailTicketChangeIncome.vue';
    import ReportSynthetictTickerAndGoodByDate from './ReportSynthetictTickerAndGoodByDate.vue';
    import ReportAV18 from './ReportAV18.vue';
    import ReportAV26 from './ReportAV26.vue';
    import ReportTicketByStaffInMonth from './ReportTicketByStaffInMonth.vue';
    import ReportCustomer2 from './Customer.vue';
    import Customer from '../Customer/Customer.vue';
    import ReportSyntheticInOneDay from './ReportSyntheticInOneDay.vue';
    import ReportRoomTicketByPointType from './ReportRoomTicketByPointType.vue';
    import ReportTicketOnline from './ReportTicketOnline.vue';
    import ReportAV40 from './ReportAV40.vue';
    import ReportAV46 from './ReportAV46.vue';
    import ReportAV47 from './ReportAV47.vue';
    import ReportAV48 from './ReportAV48.vue';
    import ReportAV49 from './ReportAV49.vue';
    import ReportAV50 from './ReportAV50.vue';
    import RevenueMonthly from './RevenueMonthly.vue';
    import ReportIncomeByPhoneNumberCustomer from './ReportIncomeByPhoneNumberCustomer.vue';
    import ReportIncomeByDrivers from './ReportIncomeByDrivers.vue';
    import ReportDetailPassengerTicket from './ReportDetailPassengerTicket.vue';
    import ReportIncomeVehicleContract from './ReportIncomeVehicleContract.vue';
    import ReportTD1 from './ReportTD1.vue';
    import ReportTD2 from './ReportTD2.vue';
    const components = {
        NotFound,
        SynthesisReport,
        SynthesisReport2,
        ReportsByVehicle,
        ReportByRoute,
        ReportTripByDate,
        TripStatistic,
        ReportByDriver,
        ReportMoneyByDriver,
        ReportTicketByDriver,
        ReportMoneyByRoom,
        ReportIncomeByRoom,
        ReportGoodByRoom,
        ReportIncomeGoodByRoom,
        ReportContract,
        MySaleReport,
        ReportGeneralGoodByEmployee,
        ReportSyntheticGoodByRoom,
        ReportCustomer,
        ReportDetailByStaff,
        ReportDetailTicketPaymentOnCar,
        ReportDetailGoodByEmployee,
        ReportDetailGoodByStaff,
        ReportDetailIncomeTicketByStaff,
        ReportOTIP,
        ReportDetailTicketByAgency,
        ReportSyntheticByAgency,
        ReportTicketPaidTranfer,
        ReportDetailTicketCancel,
        ReportDetailTicketChangeIncome,
        ReportSynthetictTickerAndGoodByDate,
        ReportAV18,
        ReportAV26,
        ReportTicketByStaffInMonth,
        ReportCustomer2,
        Customer,
        ReportSyntheticInOneDay,
        ReportRoomTicketByPointType,
        ReportTicketOnline,
        ReportAV40,
        ReportAV46,
        ReportIncomeByPhoneNumberCustomer,
        ReportIncomeByDrivers,
        ReportDetailPassengerTicket,
        RevenueMonthly,
        ReportIncomeVehicleContract,
        ReportTD1,
        ReportTD2,
        ReportAV47,
        ReportAV48,
        ReportAV49,
        ReportAV50
    }

    export default {
        components : components,
        data: function () {
            return {
                options: [],
                option: null,
                paths : []
            }
        },
        mounted: function(){
            this.getOptionsReport();
            let paths = [];
            $.each(components,function (c,com) {
                paths.push(c);
            })
            this.paths = paths;
        },
        methods: {
            getOptionsReport: function () {
                let self = this;
                let params = {};
                if (window.userInfo.userInfo.userType!==7) {
                    params.permittedUserId = window.userInfo.userInfo.id
                }
                sendParam({
                    url : window.urlDBD(window.API.listManageReport),
                    type: 'get',
                    data : params,
                    success : function (data) {
                        self.options = data.results.rs;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            }
        }
    }
</script>
