<template>
    <div class="row respon-page" style="font-size: 15px;">
        <div class="col-12 title">
            <span class="text-uppercase">{{$t('statistics-trip')}}</span>
            <span class="float-right">
                <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
            </span>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-md col-xs-12 form-group">
                    <label>Tháng</label><br>
                    <!--<select class="form-control" v-model="month" @change="trips=null">-->
                        <!--<template v-for="key in 12">-->
                            <!--<option :value="key">Tháng {{key}}</option>-->
                        <!--</template>-->
                    <!--</select>-->
                    <el-date-picker
                            class="w-100"
                            v-model="monthSelect"
                            type="month"
                            :picker-options="options"
                            format="MM"
                            value-format="MM"
                            placeholder="Chọn tháng">
                    </el-date-picker>

                </div>
                <div class="col-md col-xs-12 form-group">
                    <label>Năm</label><br>
                    <!--<select class="form-control" v-model="year" @change="trips=null">-->
                        <!--<template v-for="key in numberYear-2016">-->
                            <!--<option :value="2016+key">Năm {{2016+key}}</option>-->
                        <!--</template>-->
                    <!--</select>-->
                    <el-date-picker
                            class="w-100"
                            v-model="yearSelect"
                            type="year"
                            :picker-options="options"
                            format="yyyy"
                            value-format="yyyy"
                            placeholder="Chọn năm">
                    </el-date-picker>
                </div>
                <div class="col-md col-xs-12 form-group">
                    <label>{{$t('filter.driver')}}</label>
                    <select2user ref="DriverComponent" :multiple="true" :userType="[2]" v-model="listDriver"></select2user>
                </div>
                <div class="col-md col-xs-12 form-group">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary btn-block" @click="getReport()"><i class="fa fa-search"></i> {{$t('search')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 top20" v-if="trips">
            <table class="table table-striped table-sm table-bordered text-center tableReport">
                <thead>
                    <tr>
                        <th></th>
                        <template v-for="index in maxDate">
                            <th>{{index<10?'0'+index:index}}</th>
                        </template>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="dataRp in dataReport">
                        <tr v-if="listDriver.length==0||listDriver.length>0&&dataRp.driver&&dataRp.driver.id&&hasDriver(dataRp.driver)">
                            <td class="text-left">{{dataRp.driver==null?'Chưa xếp tài':(dataRp.driver&&dataRp.driver.fullName ? dataRp.driver.fullName :'')}}</td>
                            <template v-for="dateInfo in dataRp.report">
                                <td>{{dateInfo.length}}</td>
                            </template>
                            <td class="font-weight-bold">{{dataRp.totalTrip}}</td>
                        </tr>
                    </template>
                </tbody>
                <tfoot v-if="!listDriver.length>0">
                    <tr>
                        <td class="font-weight-bold">Tổng</td>
                        <template v-for="index in maxDate">
                            <td class="font-weight-bold">{{totalInDate(index-1)}}</td>
                        </template>
                        <td class="font-weight-bold">{{trips.length}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>
<script>
    import { mapState} from 'vuex';
    export default {
        data : function () {
            return {
                numberYear : new Date().getFullYear(),
                year :new Date().getFullYear(),
                month: new Date().getMonth()+1,
                listDriver : [],
                trips : null,
                yearSelect: new Date().getFullYear().toString(),
                monthSelect: new Date().getMonth() < 10 ? "0" + new Date().getMonth().toString() : new Date().getMonth().toString(),
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
            }
        },
        computed : {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            maxDate : function () {
                var year = this.yearSelect;
                var month = this.monthSelect;
                let d = new Date(year, month, 0);
                return d.getDate();
            },
            dataReport : function () {
                let trips = this.trips;
                let maxDate = this.maxDate;
                let data = [];//chuyến trong ngày - ngày bắt đầu từ 0 VD ngày 1 -> index 0
                for(var i =0;i<maxDate;i++){
                    data.push([]);
                }
                let driverTrip = {
                    notDriver : {
                        driver : null,
                        report : _.cloneDeep(data),
                        totalTrip : 0
                    }
                };
                if(trips){
                    $.each(trips,function (t,trip) {
                        let dateIndex = parseInt(new Date(func.dateStrToMs(trip.startDateReality)).customFormat('#DD#'))-1;
                        if(trip.drivers){
                            $.each(trip.drivers,function (d,driver) {
                                if(!driverTrip[driver.id]){
                                    driverTrip[driver.id] = {driver : driver,report:_.cloneDeep(data),totalTrip : 0};
                                }
                                driverTrip[driver.id].report[dateIndex].push(trip);
                                driverTrip[driver.id].totalTrip++;
                            })
                        }else{
                            driverTrip.notDriver.report[dateIndex].push(trip);
                            driverTrip.notDriver.totalTrip++;
                        }
                    });
                }
                return driverTrip;
            }
        },
        methods : {
            getReport : function () {
                let self = this;
                self.load('getReportTrips');
                let dataReq = {
                    startDate : self.yearSelect + '' + self.monthSelect + '01',
                    endDate : self.yearSelect + '' + self.monthSelect + '' + self.maxDate
                };
                sendJson({
                    url : urlDBD(API.reportByTrips),
                    data : dataReq,
                    success : function (res) {
                        self.trips = res.results.tripsReport||[];
                        self.unload('getReportTrips');
                    },
                    functionIfError : function (err) {
                        self.unload('getReportTrips');
                    }
                });
            },
            hasDriver: function(_driver){
                let listDriver = this.listDriver;
                let hasDriver = false;
                $.each(listDriver,function (d,dt) {
                    if(dt.id ==_driver.id){
                        hasDriver = true;
                        return false;
                    }
                });
                return hasDriver;
            },
            totalInDate : function (index) {
                let dataReport = this.dataReport;
                let tripIds = {};
                $.each(dataReport,function (d,data) {
                    $.each(data.report[index],function (t,trip) {
                        if(!tripIds[trip.tripId]){
                            tripIds[trip.id] = true;
                        }
                    })
                });
                return Object.keys(tripIds).length;
            },
            printTableReport : function () {
                $(this.$el).find('table.tableReport').printThis();
            },
            exportExcel : function () {
                this.excel($(this.$el).find('table.tableReport'),"DOANH_THU_THEO_LAI_XE_")
            },
        }
    }
</script>