<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 21: Báo cáo chi tiết doanh thu hàng hóa theo nhân viên (NV tạo ĐH)
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Nhân viên tạo đơn hàng</label><br>
            <e-select-user class="w-100" v-model="userSelects" clearable multiple ></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tình trạng đơn hàng</label><br>
            <el-select v-model="typeStatus" multiple placeholder="" >
              <el-option
                      v-for="item in typeStatuss"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader">Mã đơn hàng</th>
            <th class="rowHeader">Số điện thoại người gửi</th>
            <th class="rowHeader">Tên nhân viên tạo đơn hàng</th>
            <th class="rowHeader">Văn phòng đi/gửi (Bến lên)</th>
            <th class="rowHeader">Văn phòng đến/nhận (bến xuống)</th>
            <th class="rowHeader">Số kiện hàng</th>
            <th class="rowHeader">Tên nhân viên trả hàng</th>
            <th class="rowHeader">Tình trạng</th>
            <th class="rowHeader">Hình thức thanh toán</th>
            <th class="rowHeader">Thu trước</th>
            <th class="rowHeader">Thu sau</th>
            <th class="rowHeader">Tổng tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="13" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="5">Tổng số lượng</td>
            <td class="rowAllTotal">{{countSl|number}}</td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal">{{countPaid|number}}</td>
            <td class="rowAllTotal">{{countUnpaid|number}}</td>
            <td class="rowAllTotal">{{countTotalPrice|number}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="5">Tổng cộng</td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal">{{paid|number}}</td>
            <td class="rowAllTotal">{{unpaid|number}}</td>
            <td class="rowAllTotal">{{totalPrice|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.goodsCode}}</td>
              <td class="rowH">{{vh.senderPhone ? vh.senderPhone : ''}}</td>
              <td class="rowH">{{vh.createdUserName}}</td>
              <td class="rowH">{{vh.pickPointName}}</td>
              <td class="rowH">{{vh.dropPointName}}</td>
              <td class="rowH">{{vh.quantity}}</td>
              <td class="rowH">{{vh.deliveryUserName}}</td>
              <td class="rowH">
                {{vh.goodsStatus == "CANCELLED" ? 'Hủy' :
                vh.goodsStatus == "STORED" ? 'Trong kho' :
                vh.goodsStatus == "PACKAGE" ? 'Đóng gói' :
                vh.goodsStatus == "TRANSPORT" ? 'Đang vận chuyển' :
                vh.goodsStatus == "ARRIVED" ? 'Đã nhận' :
                vh.goodsStatus == "DELIVERED" ? 'Đã giao' : ''
                }}</td>
              <td class="rowH">{{
                vh.paymentType == "postpaid" ? "Trả sau":
                vh.paymentType == "prepay" ? "Trả trước" : ''}}</td>
              <td class="rowH">{{(vh.paid ? vh.paid : '')|number}}</td>
              <td class="rowH">{{(vh.unpaid ? vh.unpaid : '')|number}}</td>
              <td class="rowH">{{(vh.totalPrice ? vh.totalPrice : '')|number}}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                userSelects: null,
                typeStatus: null,
                typeStatuss: [
                    {
                        value: 0,
                        label: 'Hủy'
                    },
                    {
                        value: 1,
                        label: 'Trong kho'
                    },
                    {
                        value: 2,
                        label: 'Đóng gói'
                    },
                    {
                        value: 3,
                        label: 'Đang vận chuyển'
                    },
                    {
                        value: 4,
                        label: 'Đã nhận'
                    },
                    {
                        value: 5,
                        label: 'Đã giao'
                    },
                ]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                // if(self.userSelects == null || self.userSelects.length == 0){
                //     notify('Vui lòng chọn nhân viên','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.userSelects && self.userSelects.length > 0){
                    params.userIds = []
                    $.each(self.userSelects, function (r,user) {
                        params.userIds.push(user.id)
                    })
                }
                if (self.typeStatus && self.typeStatus.length > 0) {
                    params.goodsStatuses = []
                    params.goodsStatuses = self.typeStatus
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/goods-sales-detail-by-employee-report',
                    data : params,
                    success : function (data) {
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            countPaid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.paymentType == "prepay"){
                        a ++
                    }
                })
                return a
            },
            countUnpaid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.paymentType == "postpaid"){
                        a ++
                    }
                })
                return a
            },
            countTotalPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.paymentType == "postpaid" || li.paymentType == "prepay"){
                        a ++
                    }
                })
                return a
            },
            countSl :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.quantity ? parseInt(li.quantity) : 0
                })
                return a
            },
            paid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.paid ? parseInt(li.paid) : 0
                })
                return a
            },
            unpaid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.unpaid ? parseInt(li.unpaid) : 0
                })
                return a
            },
            totalPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalPrice ? parseInt(li.totalPrice) : 0
                })
                return a
            },
            countMoneyTicketCreated :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.moneyTicketCreated > 0 ){
                        a++
                    }
                })
                return a
            },
            countMoneyTicketNotCreated :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.moneyTicketNotCreated > 0 ){
                        a++
                    }
                })
                return a
            },

            moneyTicketNotCreated :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.moneyTicketNotCreated ? li.moneyTicketNotCreated : 0
                })
                return a
            },
            totalTicketPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicketPrice ? li.totalTicketPrice : 0
                })
                return a
            },
            totalCancelTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalCancelTicket ? li.totalCancelTicket : 0
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
