<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 19: Báo cáo chi tiết doanh thu bán vé theo Nhân viên (Nhân viên tạo vé)
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Nhân viên tạo vé</label><br>
            <e-select-user class="w-100" v-model="userSelects" clearable multiple :user-type="[1,2,3,4,5,6,7]"></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Trạng thái</label><br>
            <el-select v-model="typeStatus" multiple placeholder="" >
              <el-option
                      v-for="item in typeStatuss"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader">Mã vé</th>
            <th class="rowHeader">Số ĐT khách đi</th>
            <th class="rowHeader">Chuyến</th>
            <th class="rowHeader">Tuyến</th>
            <th class="rowHeader">Mã ghế</th>
            <th class="rowHeader">Ngày giờ tạo vé</th>
            <th class="rowHeader">Tên nhân viên tạo vé</th>
            <th class="rowHeader">Ngày giờ thu tiền vé</th>
            <th class="rowHeader">Tên NV thu tiền vé</th>
            <th class="rowHeader">Trạng thái vé</th>
            <th class="rowHeader">Số lượng</th>
            <th class="rowHeader">Giá vé</th>
            <th class="rowHeader">Phụ thu</th>
            <th class="rowHeader">Tổng Tiền vé (thực thu)</th>
            <th class="rowHeader" style="min-width: 160px;">Tiền NV tạo vé/bán vé và thu luôn</th>
            <th class="rowHeader">Mã liên kết</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="19" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="10">Tổng cộng</td>
            <td class="rowAllTotal">{{totalTicket|number}}</td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal">{{surchargePrice|number}}</td>
            <td class="rowAllTotal">{{totalRealMoney|number}}</td>
            <td class="rowAllTotal">{{moneyUserCreate|number}}</td>
            <td class="rowAllTotal"></td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.ticketCode}}</td>
              <td class="rowH">{{vh.phoneNumber ? vh.phoneNumber : ''}}</td>
              <td class="rowH">{{vh.routeName}}</td>
              <td class="rowH">{{vh.routeName}}</td>
              <td class="rowH">{{vh.seat_id}}</td>
              <td class="rowH">{{vh.ticketCreateDate | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</td>
              <td class="rowH">{{vh.sellerName}}</td>
              <td class="rowH">{{vh.receiveMoneyTime | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</td>
              <td class="rowH">{{vh.receiverMoneyName}}</td>
              <td class="rowH">
                {{vh.ticketStatus == 0 ? 'Hủy' :
                vh.ticketStatus == 1 ? 'Rỗng' :
                vh.ticketStatus == 2 ? 'Đang giữ chỗ' :
                vh.ticketStatus == 3 ? 'Đã thanh toán' :
                vh.ticketStatus == 4 ? 'Đã lên xe' :
                vh.ticketStatus == 5 ? 'Đã hoàn thành' :
                vh.ticketStatus == 6 ? 'Quá giờ giữ chỗ' :
                vh.ticketStatus == 7 ? 'Giữ chỗ ưu tiên' : ''
                }}</td>
              <td class="rowH">{{vh.totalTicket | number}}</td>
              <td class="rowH">{{vh.agencyPrice  | number}}</td>
              <td class="rowH">{{vh.surchargePrice |number}}</td>
              <td class="rowH">{{vh.totalRealMoney | number}}</td>
              <td class="rowH">{{vh.MoneyUserCreate | number}}</td>
              <td class="rowH">{{vh.foreignKey}}</td>

            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'


    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                selectedRoom: null,
                typeStatus: null,
                userSelects: null,
                typeStatuss: [
                    {
                        value: 0,
                        label: 'Hủy'
                    },
                    {
                        value: 1,
                        label: 'Rỗng (Hết hạn giữ chỗ)'
                    },
                    {
                        value: 2,
                        label: 'Đang giữ chỗ'
                    },
                    {
                        value: 3,
                        label: 'Đã thánh toán'
                    },
                    {
                        value: 4,
                        label: 'Đã lên xe'
                    },
                    {
                        value: 5,
                        label: 'Đã hoàn thành'
                    },
                    {
                        value: 6,
                        label: 'Quá giờ giữ chỗ'
                    },
                    {
                        value: 7,
                        label: 'Siêu phụ xe đặt chỗ'
                    },
                ]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                // if(self.userSelects == null || self.userSelects.length == 0){
                //     notify('Vui lòng chọn nhân viên','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.userSelects && self.userSelects.length > 0){
                    params.userId = []
                    $.each(self.userSelects, function (r,user) {
                        params.userId.push(user.id)
                    })
                }
                if (self.typeStatus && self.typeStatus.length > 0) {
                    params.ticketStatus = self.typeStatus
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-detail-income-by-create-user',
                    data : params,
                    success : function (data) {
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            totalTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicket
                })
                return a
            },
            surchargePrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.surchargePrice
                })
                return a
            },
            moneyUserCreate :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.MoneyUserCreate
                })
                return a
            },
            totalRealMoney :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalRealMoney
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
