<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 41: Thống kê khách theo điểm đón - trả
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-time v-model="dateStart" :value="dateStart" ></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-time v-model="dateEnd" :value="dateEnd"></el-time>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Bến lên xuống</label><br>
            <select-point class="w-100" v-model="selectedRoom" multiple clearable></select-point>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Hình thức đón</label><br>
            <el-select v-model="pointUpType" multiple placeholder="" >
              <el-option
                      v-for="item in pointType"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route style="min-width: 210px;" v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Hình thức trả</label><br>
            <el-select v-model="pointDownType" multiple placeholder="" >
              <el-option
                      v-for="item in pointType"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader" style="min-width: 200px">Tên điểm đón, trả</th>
            <th class="rowHeader" style="min-width: 130px;">Đón tại nhà</th>
            <th class="rowHeader" style="min-width: 100px;">Trả tại nhà</th>
            <th class="rowHeader" style="min-width: 100px;">Tổng đón trả tại nhà</th>
            <th class="rowHeader" style="min-width: 115px;">Đón trung chuyển</th>
            <th class="rowHeader" style="min-width: 80px;">Trả Trung chuyển</th>
            <th class="rowHeader" style="min-width: 100px;">Tổng đón, trả Trung chuyển</th>
            <th class="rowHeader" style="min-width: 120px;"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="8" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Tổng cộng </td>
            <td class="rowAllTotal">{{moneyPickAtHome|number}}</td>
            <td class="rowAllTotal">{{moneyDropAtHome|number}}</td>
            <td class="rowAllTotal">{{moneyTotalAtHome|number}}</td>
            <td class="rowAllTotal">{{moneyPickTransshipment|number}}</td>
            <td class="rowAllTotal">{{moneyDropTransshipment|number}}</td>
            <td class="rowAllTotal">{{moneyTotalTransshipment|number}}</td>
            <td class="rowAllTotal">{{moneyTotal|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.pointName}}</td>
              <td class="rowH">{{vh.pickAtHome | number}}</td>
              <td class="rowH">{{vh.dropAtHome | number}}</td>
              <td class="rowH">{{vh.totalAtHome | number}}</td>
              <td class="rowH">{{vh.pickTransshipment | number}}</td>
              <td class="rowH">{{vh.dropTransshipment | number}}</td>
              <td class="rowH">{{vh.totalTransshipment | number}}</td>
              <td class="rowH">{{vh.total | number}}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                selectedRoom: null,
                typeStatus: null,
                pointUpType: null,
                pointDownType:null,
                pointType: [
                    {
                        value: 0,
                        label: 'Tại bến'
                    },
                    {
                        value: 1,
                        label: 'Tại nhà'
                    },
                    {
                        value: 2,
                        label: 'Dọc đường'
                    },
                    {
                        value: 3,
                        label: 'Trung chuyển'
                    },
                ],
                routeSelected: null,


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() ,

                };
                if(self.selectedRoom && self.selectedRoom.length > 0){
                    params.roomIds = []
                    $.each(self.selectedRoom, function (r,room) {
                        params.roomIds.push(room.id)
                    })
                }
                if (self.routeSelected && self.routeSelected.length > 0) {
                    params.routeIds = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeIds.push(route.routeId)
                    })
                }
                if (self.pointUpType && self.pointUpType.length > 0) {
                    params.pointUpType = self.pointUpType
                }
                if (self.pointDownType && self.pointDownType.length > 0) {
                    params.pointDownType = self.pointDownType
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/room-ticket-by-pointup-pointdown',
                    data : params,
                    success : function (data) {
                        let repairList = []
                        let keys = []
                        let keysDown = []
                        $.each(data, function (li, list) {
                            let checkUp = true
                            let checkDown = true
                            if(keys.length > 0){
                                $.each(keys, function (k, key) {
                                    if(key == list.pointUpId){
                                        checkUp = false
                                    }
                                })
                            }
                            if(keysDown.length > 0){
                                $.each(keysDown, function (k, key) {
                                    if(key == list.pointDownId){
                                        checkDown = false
                                    }
                                })
                            }
                            if(list.pointUpType == 1 || list.pointUpType == 3 || list.pointDownType == 1 || list.pointDownType == 3){
                                if(keys.length == 0 || checkUp ){
                                    let a = {
                                        pointUpId: list.pointUpId ? list.pointUpId : '',
                                        pointName : list.pointName ? list.pointName : 'Không xác định',
                                        pickAtHome: 0,
                                        moneyPickAtHome: 0,
                                        dropAtHome: 0,
                                        moneyDropAtHome: 0,
                                        totalAtHome: 0,
                                        moneyTotalAtHome: 0,
                                        pickTransshipment: 0,
                                        moneyPickTransshipment: 0,
                                        dropTransshipment: 0,
                                        moneyDropTransshipment: 0,
                                        totalTransshipment: 0,
                                        moneyTotalTransshipment: 0,
                                        agencyPrice: list.agencyPrice ? list.agencyPrice: 0,
                                        total: 0,
                                        moneyTotal: 0
                                    }
                                    $.each(data, function (li, list) {
                                        if (list.pointUpId == a.pointUpId){
                                            switch (list.pointUpType) {
                                                case 1:
                                                    a.pickAtHome ++;
                                                    a.moneyPickAtHome += list.agencyPrice
                                                    a.totalAtHome++;
                                                    a.moneyTotalAtHome += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                                case 3:
                                                    a.pickTransshipment ++;
                                                    a.moneyPickTransshipment += list.agencyPrice
                                                    a.totalTransshipment ++;
                                                    a.moneyTotalTransshipment += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                            }
                                        }
                                        if(list.pointDownId == a.pointUpId){
                                            switch (list.pointDownType) {
                                                case 1:
                                                    a.dropAtHome ++;
                                                    a.moneyDropAtHome += list.agencyPrice
                                                    a.totalAtHome++;
                                                    a.moneyTotalAtHome += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                                case 3:
                                                    a.dropTransshipment ++;
                                                    a.moneyDropTransshipment += list.agencyPrice
                                                    a.totalTransshipment ++;
                                                    a.moneyTotalTransshipment += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                            }
                                        }
                                    })
                                    repairList.push(a)
                                    keys.push(list.pointUpId)
                                }
                                if(keysDown.length == 0 || checkDown ){
                                    let a = {
                                        pointDownId: list.pointDownId ? list.pointDownId : '',
                                        pointName : list.pointDownName ? list.pointDownName : 'Không xác định',
                                        pickAtHome: 0,
                                        moneyPickAtHome: 0,
                                        dropAtHome: 0,
                                        moneyDropAtHome: 0,
                                        totalAtHome: 0,
                                        moneyTotalAtHome: 0,
                                        pickTransshipment: 0,
                                        moneyPickTransshipment: 0,
                                        dropTransshipment: 0,
                                        moneyDropTransshipment: 0,
                                        totalTransshipment: 0,
                                        moneyTotalTransshipment: 0,
                                        agencyPrice: list.agencyPrice ? list.agencyPrice: 0,
                                        total: 0,
                                        moneyTotal: 0
                                    }
                                    $.each(data, function (li, list) {
                                        if (list.pointUpId == a.pointDownId){
                                            switch (list.pointUpType) {
                                                case 1:
                                                    a.pickAtHome ++;
                                                    a.moneyPickAtHome += list.agencyPrice
                                                    a.totalAtHome++;
                                                    a.moneyTotalAtHome += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                                case 3:
                                                    a.pickTransshipment ++;
                                                    a.moneyPickTransshipment += list.agencyPrice
                                                    a.totalTransshipment ++;
                                                    a.moneyTotalTransshipment += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                            }
                                        }
                                        if(list.pointDownId == a.pointDownId){
                                            switch (list.pointDownType) {
                                                case 1:
                                                    a.dropAtHome ++;
                                                    a.moneyDropAtHome += list.agencyPrice
                                                    a.totalAtHome++;
                                                    a.moneyTotalAtHome += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                                case 3:
                                                    a.dropTransshipment ++;
                                                    a.moneyDropTransshipment += list.agencyPrice
                                                    a.totalTransshipment ++;
                                                    a.moneyTotalTransshipment += list.agencyPrice
                                                    a.total ++;
                                                    a.moneyTotal += list.agencyPrice
                                                    break;
                                            }
                                        }
                                    })
                                    repairList.push(a)
                                    keysDown.push(list.pointDownId)
                                }
                            }
                        })
                        let listPush = []
                        $.each(repairList, function (l,list) {
                            let a = list.pointDownId ? list.pointDownId : list.pointUpId ? list.pointUpId : ''
                            let check = true
                            if(listPush.length > 0){
                                $.each(listPush, function (k, listP) {
                                    let b = listP.pointDownId ? listP.pointDownId : listP.pointUpId ? listP.pointUpId : ''
                                    if(a == b){
                                        check = false
                                    }
                                })
                            }
                            if(check){
                                listPush.push(list)
                            }
                        })
                        self.list = listPush
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
    //         <td class="rowAllTotal">{{moneyPickAtHome|number}}</td>
    // <td class="rowAllTotal">{{moneyDropAtHome|number}}</td>
    // <td class="rowAllTotal">{{moneyTotalAtHome|number}}</td>
    // <td class="rowAllTotal">{{moneyPickTransshipment|number}}</td>
    // <td class="rowAllTotal">{{moneyDropTransshipment|number}}</td>
    // <td class="rowAllTotal">{{moneyTotalTransshipment|number}}</td>
    // <td class="rowAllTotal">{{moneyTotal|number}}</td>
            moneyPickAtHome :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.pickAtHome
                })
                return a
            },
            moneyDropAtHome :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.dropAtHome
                })
                return a
            },
            moneyTotalAtHome :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalAtHome
                })
                return a
            },
            moneyPickTransshipment :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.pickTransshipment
                })
                return a
            },
            moneyDropTransshipment :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.dropTransshipment ? li.dropTransshipment : 0
                })
                return a
            },
            moneyTotalTransshipment :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTransshipment
                })
                return a
            },
            moneyTotal :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.total
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
