<template>
  <div>
    <el-row>
      <div class="col-12 title-ret">
        Báo cáo hàng hóa theo nhân viên
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-4">
          <label>Chọn khoảng thời gian</label>
          <el-date-picker class="w-100"
                          v-model="listReport.rangeDate"
                          type="daterange"
                          :picker-options="options"
                          format="dd-MM-yyyy"
                          value-format="yyyyMMdd"
                          range-separator="đến"
                          start-placeholder="Chọn ngày"
                          end-placeholder="Chọn ngày">
          </el-date-picker>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Chọn nhân viên</label><br>
            <e-select-user v-model="listReport.userIds" :multiple="true" :clearable="true"></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lọc kết quả
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" v-loading="report.loading | listReport.loading" >
        <template>
          <el-table
                  ref="multipleTable"
                  :data="listReport.list"
                  border>
            <el-table-column type="index" class-name="text-center" label="STT" min-width="100px"></el-table-column>
            <el-table-column
                    label="Tên nhân viên"
                    min-width="120px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.user.fullName}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Số hàng đã nhận"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.noReceived|number}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Số hàng đã chuyển"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.noDelivered|number}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Tổng phí vận chuyển"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.totalFee|number}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Phí trả lại"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.returnedFee|number}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Tiền đã nhận"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.receivedMoney|number}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Tổng tiền đã vận chuyển"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.deliverMoney|number}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Số tiền trả (COD)"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.deliverCod|number}}
              </template>
            </el-table-column>
            <el-table-column
                    label="Số tiền thu (COD)"
                    min-width="100px"
                    class-name="text-center">
              <template slot-scope="scope">
                {{scope.row.receiveCod|number}}
              </template>
            </el-table-column>
            <!--<el-table-column
                    label="Tùy chọn"
                    class-name="text-center">
              <template slot-scope="scope">
                <div>
                  <span class="box-item" v-if="scope.row.invoiceInfo.requireStatus == '1'|| scope.row.invoiceInfo.requireStatus == '2' " @click="callSendInvoice(scope.row)"><i class="fas fa-check"></i></span>
                  <span class="box-item-sent" v-if="scope.row.invoiceInfo.requireStatus == '3'"><i class="fas fa-check"></i></span>
                  <span class="box-item" v-if="!scope.row.invoiceInfo || !scope.row.invoiceInfo.requireStatus  " @click="callSendInvoice(scope.row)"><i class="fas fa-file-export"></i></span>
                  <span class="box-item"><i class="far fa-envelope"></i></span>
                </div>
              </template>
            </el-table-column>-->
          </el-table>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import {Report,ListReport} from "../../class/reportByUser";
    import {mapState} from 'vuex'
    export default {
        components : {SelectRoute, ESelectUser},
        data: function(){
            return {
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                report : new Report(),
                listReport : new ListReport(),
                list: []

            }
        },
        mounted: function(){

        },
        methods: {
            getList : function () {
                this.listReport.getList()
            },
        },
        computed: {
            ...mapState({
                sellForm : state=> state.sellForm,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        watch: {
            list: function () {
            }
        }
    }
</script>
<style scoped>
  .box-item-sent {
    padding: 10px;
    font-size: 20px;
  }
  .box-item-sent i{
    color: #22BB33
  }
  .box-item {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
  }
  .box-item i{
    color: #084388
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>