<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV4: Báo cáo tổng hợp doanh thu chuyến theo ngày
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Năm</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="yearSelect"
                    type="year"
                    format="yyyy"
                    :picker-options="optionsYear"
                    value-format="yyyy"
                    placeholder="Chọn năm">
            </el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label> Tháng</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="monthSelect"
                    type="month"
                    format="MM"
                    :picker-options="optionsMonth"
                    value-format="MM"
                    placeholder="Chọn tháng">
            </el-date-picker>
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Loại xe</label><br>
            <el-select v-model="typeVehicle" multiple placeholder="" >
              <el-option
                      v-for="item in typeVehicles"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader">Ngày</th>
            <th class="rowHeader">Số xe hoạt động</th>
            <th class="rowHeader">Số chuyến đã chạy</th>
            <th class="rowHeader">Tổng công suất ghế</th>
            <th class="rowHeader">Số ghế có khách</th>
            <th class="rowHeader">Số khách bình quân/chuyến</th>
            <th class="rowHeader">Tỷ lệ lấp đầy</th>
            <th class="rowHeader">Tỷ suất xoay tua (Số chuyến/số xe HĐ)</th>
            <th class="rowHeader">Tổng thực thu theo chuyến</th>
            <th class="rowHeader">Doanh thu BQ/chuyến</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="13" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Tổng cộng</td>
            <td class="rowAllTotal">{{totalVehicle|number}}</td>
            <td class="rowAllTotal">{{totalTrip|number}}</td>
            <td class="rowAllTotal">{{totalSeats|number}}</td>
            <td class="rowAllTotal">{{totalTicket|number}}</td>
            <td class="rowAllTotal">{{totalTicketAverage|number}}</td>
            <td class="rowAllTotal">{{percent|number}}</td>
            <td class="rowAllTotal">{{rateOfRewinding|number}} %</td>
            <td class="rowAllTotal">{{revenue|number}}</td>
            <td class="rowAllTotal">{{revenueAverage|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH" >{{vh.date}}-Tháng:{{vh.month}}</td>
              <!--{{ vh.numberPlace | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}-->
              <td class="rowH">{{vh.totalVehicle|number}}</td>
              <td class="rowH">{{vh.totalTrip|number}}</td>
              <td class="rowH">{{vh.numberOfSeats|number}}</td>
              <td class="rowH">{{vh.totalTicket|number}}</td>
              <td class="rowH">{{vh.totalTicketAverage|number}}</td>
              <td class="rowH">{{vh.percent|number}}</td>
              <td class="rowH">{{vh.rateOfRewinding|number}} %</td>
              <td class="rowH">{{vh.revenue|number}}</td>
              <td class="rowH">{{vh.revenueAverage|number}}</td>
            </tr>
          </template>
          </tbody>
          <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tfoot>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                routeSelected: null,
                yearSelect: new Date().getFullYear().toString(),
                monthSelect: new Date().getMonth() < 10 ? "0" + new Date().getMonth().toString() : new Date().getMonth().toString(),
                typeVehicle: [],
                optionsYear: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                optionsMonth: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                typeVehicles: [
                    {
                        value: 0,
                        label: 'Xe giường nằm'
                    },
                    {
                        value: 1,
                        label: 'Xe ghế ngồi'
                    },
                    {
                        value: 2,
                        label: 'Xe limousine ngồi'
                    },
                    {
                        value: 3,
                        label: 'Xe limousine giường nằm'
                    }
                ],
                data : null,



            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(!self.yearSelect){
                    notify('Vui lòng chọn năm','error');
                    return false;
                }
                if(!self.monthSelect){
                    notify('Vui lòng chọn tháng','error');
                    return false;
                }
                // if(self.routeSelected == null || self.routeSelected.length == 0){
                //     notify('Vui lòng chọn tuyến','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    month: self.monthSelect,
                    year: self.yearSelect,
                };
                if (self.typeVehicle.length > 0) {
                    params.vehicleType = self.typeVehicle
                }
                if (self.routeSelected && self.routeSelected.length > 0){
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-trip-revenue',
                    data : params,
                    success : function (data) {
                        self.data = data;
                        let month = parseInt(self.monthSelect)
                        let year = parseInt(self.yearSelect)
                        let numberOfMonth = new Date(year, month, 0).getDate();
                        let a = []
                        for (let i = 0; i < numberOfMonth; i++) {
                            let x = {
                                date: i + 1,
                                month: month,
                                totalVehicle: 0,
                                totalTrip: 0,
                                numberOfSeats: 0,
                                totalTicket: 0,
                                totalTicketAverage: 0,
                                percent:0,
                                rateOfRewinding: 0,
                                revenue: 0,
                                revenueAverage: 0,

                            }
                            if (i+1 < 10) {
                                x.date = '0' + x.date
                            }
                            $.each (data, function (t,ticket) {
                                let d = ticket.startDateReality.toString()
                                let dd = d.split('')
                                let ddd = d.slice(6,8)
                                if (x.date.toString() == ddd.toString() ){
                                    x.totalVehicle = ticket.totalVehicle
                                    x.totalTrip = ticket.totalTrip
                                    x.numberOfSeats = ticket.numberOfSeats
                                    x.totalTicket = ticket.totalTicket
                                    x.totalTicketAverage = (Math.ceil(ticket.totalTicket/ticket.totalTrip)).toFixed(1)
                                    x.percent = (Math.ceil(10000 * ticket.totalTicket/ticket.numberOfSeats)/100).toFixed(1)
                                    x.rateOfRewinding = (Math.ceil(100 * ticket.totalTrip/ticket.totalVehicle)).toFixed(1)
                                    x.revenue = ticket.revenue
                                    x.revenueAverage = (Math.ceil(ticket.totalTrip/ticket.totalTrip)).toFixed(1)
                                }
                            })
                            a.push(x)
                        }
                        self.list = a
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            reportData  : function(){
                let total = {
                    totalTrip : 0,
                    totalSeats : 0,
                    totalTicket : 0,
                }
                $.each(this.list, function (l, li) {
                    total.totalTrip += li.totalTrip
                })
            },
            totalTrip :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTrip
                })
                return a
            },

            totalSeats :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.numberOfSeats
                })
                return a
            },
            totalTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicket
                })
                return a
            },
            totalVehicle :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalVehicle
                })
                return a
            },
            percent :function () {
                if (this.totalTicket == 0 || this.totalSeats == 0){
                    return 0
                } else {
                    return (Math.ceil(10000 *this.totalTicket / this.totalSeats) /100).toFixed(1)
                }
            },
            revenue :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.revenue
                })
                return a
            },
            revenueAverage :function () {
                if (this.revenue == 0 || this.totalTrip == 0) {
                    return 0
                } else {
                    return (Math.ceil(this.revenue/this.totalTrip)).toFixed(0)
                }
            },
            totalTicketAverage :function () {
                if (this.totalTicket == 0 || this.totalTrip == 0){
                    return 0
                } else {
                    return (Math.ceil(this.totalTicket/this.totalTrip)).toFixed(0)
                }
            },
            rateOfRewinding :function () {
                if (this.totalVehicle == 0 || this.totalTrip == 0){
                    return 0
                } else {
                    return (Math.ceil(100 * this.totalTrip/this.totalVehicle)).toFixed(1)
                }
            }
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
