<template>
    <div>
        <el-row>
            <div class="row col-12" style="padding-right: 0;">
                <div class="col-10 title-ret">
                    AV 38: Báo cáo tổng hợp doanh thu, chi phí theo tài xế
                </div>
                <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
                    <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
                    <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
                </div>
            </div>
        </el-row>
        <div class="header-ret">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label>Từ ngày</label><br>
                        <el-time v-model="dateStart" :value="dateStart" ></el-time>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label></label><br>
                        <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                                        placeholder="Chọn giờ"></el-time-picker>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Đến ngày</label><br>
                        <el-time v-model="dateEnd" :value="dateEnd"></el-time>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label></label><br>
                        <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                                        placeholder="Chọn giờ"></el-time-picker>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Tài xế</label><br>
                        <e-select-user class="w-100" v-model="userSelects" clearable multiple ></e-select-user>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group" >
                        <label>&nbsp;</label>
                        <button class="btn btn-search btn-block" @click="getList()">
                            Lấy danh sách
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top20 tableReport" v-loading="loading">
            <div style="max-width: 100%;overflow-x: auto;">
                <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
                    <thead>
                    <tr class="text-center">
                        <!--<th class="rowHeader">{{$t('No-')}}</th>-->
                        <th class="rowHeader" style="min-width: 130px;">Tên tài xế</th>
                        <th class="rowHeader"style="min-width: 160px;">Biển số xe</th>
                        <th class="rowHeader" colspan="4" style="min-width: 160px;">Tổng hợp doanh thu</th>
                        <th class="rowHeader" :colspan="listItems.length > 0 ? listItems.length + 1 : 1" style="min-width: 160px;">Tổng hợp chi phí (Chi trên hành trình)</th>
                        <th class="rowHeader" style="min-width: 160px;">Hiệu quả</th>
                        <th class="rowHeader" colspan="3" style="min-width: 160px;">Công nợ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class=" text-center">
                        <td class="rowHeader" ></td>
                        <td class="rowHeader" ></td>
                        <td class="rowHeader" >Khách chuyến thường</td>
                        <td class="rowHeader" >Khách chuyến tăng cường</td>
                        <td class="rowHeader" >Khách chuyến hợp đồng</td>
                        <td class="rowHeader">Tổng doanh thu</td>
                        <template v-for="item in listItems">
                            <td class="rowHeader"> {{item.name ? item.name : ''}} </td>
                        </template>
                        <td class="rowHeader">Tổng chi phí</td>
                        <td class="rowHeader">DT-CP</td>
                        <td class="rowHeader">Tổng phải nộp</td>
                        <td class="rowHeader">Tổng đã nộp</td>
                        <td class="rowHeader">Còn nợ</td>
                    </tr>
                    <tr v-if="list.length<=0">
                        <td :colspan="listItems.length + 11" class="text-center">{{$t('no-data-available')}}</td>
                    </tr>
                    <tr class="font-weight-bold text-center" v-if="list.length > 0">
                        <td class="rowAllTotal" colspan="1">Tổng cộng</td>
                        <td class="rowAllTotal" ></td>
                        <td class="rowAllTotal">{{normalTripTotal | number}}</td>
                        <td class="rowAllTotal">{{extraTripTotal | number}}</td>
                        <td class="rowAllTotal">{{contractTripTotal | number}}</td>
                        <td class="rowAllTotal">{{totalMoney| number}}</td>
                        <template v-for="item in listItems">
                            <td class="rowAllTotal">{{item.total| number}}</td>
                        </template>
                        <td class="rowAllTotal">{{totalFee | number}}</td>
                        <td class="rowAllTotal">{{effective | number}}</td>
                        <td class="rowAllTotal">{{totalMustPaid | number}}</td>
                        <td class="rowAllTotal">{{totalPaid | number}}</td>
                        <td class="rowAllTotal">{{totalUnPaid | number}}</td>
                    </tr>
                    <template v-for="(vh,key) in list">
                        <tr class="font-weight-bold text-center">
                            <td class="rowH">{{vh.driverName ? vh.driverName : ''}}</td>
                            <td class="rowH">{{vh.numberPlate ? vh.numberPlate : ''}}</td>
                            <td class="rowH">{{vh.normalTripTotal | number}}</td>
                            <td class="rowH">{{vh.extraTripTotal | number}}</td>
                            <td class="rowH">{{vh.contractTripTotal | number}}</td>
                            <td class="rowH">{{vh.totalMoney | number}}</td>
                            <template v-for="item in vh.lists">
                                <td class="rowH">{{item.amount | number}}</td>
                            </template>
                            <td class="rowH">{{vh.totalFee | number}}</td>
                            <td class="rowH">{{vh.Effective | number}}</td>
                            <td class="rowH">{{vh.totalMustPaid | number}}</td>
                            <td class="rowH">{{vh.totalPaid | number}}</td>
                            <td class="rowH">{{vh.totalUnPaid | number}}</td>

                        </tr>
                    </template>
                    </tbody>
                </table>
                <!-- del footer -->
            </div>
        </div>
    </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                userSelects: null,
                typeStatus: null,
                listItems: []
            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.userSelects && self.userSelects.length > 0){
                    params.userIds = []
                    $.each(self.userSelects, function (r,user) {
                        params.userIds.push(user.id)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-revenue-by-driver',
                    data : params,
                    success : function (data) {
                        let keysItem = []
                        $.each (data, function (t,ticket) {
                            let y = true
                            if (keysItem.length > 0) {
                                $.each(keysItem, function (k, key) {
                                    if (ticket.name == key){
                                        y = false
                                    }
                                })
                            }
                            if(keysItem == [] && ticket.billType == 2 || y && ticket.billType == 2){
                                self.listItems.push(
                                        {
                                            amount: 0,
                                            name: ticket.name ? ticket.name : 'Không xác định',
                                            total: 0
                                        }
                                )
                                keysItem.push(ticket.name)
                            }
                        })
                        let a = []
                        let keys = []
                        $.each (data, function (t,ticket) {
                            let x = true
                            if (keys.length > 0) {
                                $.each(keys, function (k, key) {
                                    if (ticket.driverId == key){
                                        x = false
                                    }
                                })
                            }
                            if (keys == [] || x){
                                let b = {
                                    driverId: ticket.driverId,
                                    driverName : ticket.driverName,
                                    numberPlate : ticket.numberPlate,
                                    normalTripTotal : ticket.normalTripTotal,
                                    extraTripTotal : ticket.extraTripTotal,
                                    contractTripTotal : ticket.contractTripTotal,
                                    totalMoney: ticket.normalTripTotal+ticket.extraTripTotal+ticket.contractTripTotal,
                                    lists: [],
                                    totalFee: 0,
                                    Effective: 0,
                                    totalMustPaid: 0,
                                    totalPaid: 0,
                                    totalUnPaid: 0
                                }
                                let listsRp = []
                                $.each (data, function (t,ticket) {
                                    if (ticket.driverId == b.driverId && ticket.billType == 2 ) {
                                        let c = {
                                            amount: ticket.amount ? ticket.amount : 0,
                                            name: ticket.name ? ticket.name : 'Không xác định',
                                            total: 0
                                        }
                                        listsRp.push(c)
                                    }
                                })
                                let listItems = _.cloneDeep(self.listItems)
                                $.each(listItems, function (l, li) {
                                    $.each(listsRp, function (k , item) {
                                        if(item.name == li.name){
                                            li.amount = item.amount
                                        }
                                    })
                                })
                                b.lists = listItems
                                $.each(b.lists, function (l,li) {
                                    b.totalFee += parseInt(li.amount)
                                })
                                b.Effective = b.totalMoney - b.totalFee
                                b.totalMustPaid = b.Effective
                                $.each (data, function (t,ticket) {
                                    if (ticket.driverId == b.driverId && ticket.billType == 1 ) {
                                        b.totalPaid += ticket.amount ? parseInt(ticket.amount) : 0
                                    }
                                })
                                b.totalUnPaid = b.totalMustPaid - b.totalPaid
                                a.push(b)
                                keys.push(ticket.driverId)
                            }
                        })
                        $.each(self.listItems, function (i,item) {
                            $.each(data, function (t,ticket) {
                                if(ticket.name == item.name){
                                    item.total += ticket.amount ? parseInt(ticket.amount) : 0
                                }
                            })
                        })
                        self.list = a;
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            totalMustPaid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalMustPaid ? li.totalMustPaid : 0
                })
                return a
            },
            totalPaid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalPaid ? li.totalPaid : 0
                })
                return a
            },
            totalUnPaid :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalUnPaid ? li.totalUnPaid : 0
                })
                return a
            },
            normalTripTotal :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.normalTripTotal ? li.normalTripTotal : 0
                })
                return a
            },
            totalFee :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalFee ? li.totalFee : 0
                })
                return a
            },
            effective :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.Effective ? li.Effective : 0
                })
                return a
            },
            totalTicketPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.ticketPrice != null && li.surchargePrice != null ? (li.ticketPrice + li.surchargePrice) : 0
                })
                return a
            },
            extraTripTotal :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.extraTripTotal ? li.extraTripTotal : 0
                })
                return a
            },
            contractTripTotal :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.contractTripTotal ? li.contractTripTotal : 0
                })
                return a
            },
            totalMoney :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalMoney ? li.totalMoney : 0
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
    .rowHeader {
        font-family: sans-serif !important;
        vertical-align: top;
    }
    .rowTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 16px !important
    }
    .rowAllTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 18px !important
    }
    .rowH {
        font-family: sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px !important
    }
    .btn-search{
        background: rgba(8, 67, 136, 0.89);
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        line-height: 1.6;
    }
    .btn-search:hover{
        background: #084388;
    }
    .header-ret{
        background: #ECEDF1;
        padding: 8px;
    }
    .title-ret {
        font-family: Montserrat !important;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .date-ranger{
        max-width: 33% !important;
    }
    .statistic-content{
        padding: 16px 8px;
    }
    .item-statistic h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
    }
    .item-statistic h5:first-child{
        margin-bottom: 8px;
    }
    .item-statistic h5 span{
        color: #084388;
    }
    .table thead{
        background: #CFD3DB;
    }
    .table td, .table td h5{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
    .table td h6{
        color: #9198A9;
        font-size: 12px;
        margin: 4px 0;
    }
    .table tbody tr{
        background-color: #fff;
    }
    .box-action{
        text-align: center;
    }
    .box-action button{
        padding: 6px 8px;
        border-radius: 8px;
        border: none;
        margin: 0 4px;
    }
    .box-action button i{
        color: #084388;
    }
</style>
