<template>
  <div class="wallet-body">
    <div class="wallet-title">
      <h2>Thông tin tài khoản</h2>
    </div>
    <div class="wallet-content">
      <div class="wallet-left">
        <div class="wallet-balance-container">
          <div class="wallet-balance">
            <div class="balance-info">
              <div class="info-icon">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 18.9984V21C0 22.6547 4.03125 24 9 24C13.9688 24 18 22.6547 18 21V18.9984C16.0641 20.3625 12.525 21 9 21C5.475 21 1.93594 20.3625 0 18.9984ZM15 6C19.9688 6 24 4.65469 24 3C24 1.34531 19.9688 0 15 0C10.0312 0 6 1.34531 6 3C6 4.65469 10.0312 6 15 6ZM0 14.0812V16.5C0 18.1547 4.03125 19.5 9 19.5C13.9688 19.5 18 18.1547 18 16.5V14.0812C16.0641 15.675 12.5203 16.5 9 16.5C5.47969 16.5 1.93594 15.675 0 14.0812ZM19.5 14.5969C22.1859 14.0766 24 13.1109 24 12V9.99844C22.9125 10.7672 21.3141 11.2922 19.5 11.6156V14.5969ZM9 7.5C4.03125 7.5 0 9.17813 0 11.25C0 13.3219 4.03125 15 9 15C13.9688 15 18 13.3219 18 11.25C18 9.17813 13.9688 7.5 9 7.5ZM19.2797 10.1391C22.0922 9.63281 24 8.63906 24 7.5V5.49844C22.3359 6.675 19.4766 7.30781 16.4672 7.45781C17.85 8.12813 18.8672 9.02813 19.2797 10.1391Z" fill="#FFD200"/>
                </svg>
              </div>
              <div class="info-detail">
                <p class="detail-label">Số dư tài khoản</p>
                <p class="detail-value">{{money?money.currentAmount:0|number}}đ</p>
              </div>
              <div class="info-tootip">
                <!-- <el-tooltip effect="dark" content="Top Left prompts info" placement="top-start"> -->
                  <svg width="25" height="25" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 0.25C4.16797 0.25 0.25 4.16797 0.25 9C0.25 13.832 4.16797 17.75 9 17.75C13.832 17.75 17.75 13.832 17.75 9C17.75 4.16797 13.832 0.25 9 0.25ZM9 14.0781C8.56836 14.0781 8.21875 13.7285 8.21875 13.2969C8.21875 12.8652 8.56836 12.5156 9 12.5156C9.43164 12.5156 9.78125 12.8652 9.78125 13.2969C9.78125 13.7285 9.43164 14.0781 9 14.0781ZM10.2285 9.79102C10.0516 9.85932 9.89944 9.97934 9.79179 10.1354C9.68413 10.2915 9.62601 10.4764 9.625 10.666V11.1094C9.625 11.1953 9.55469 11.2656 9.46875 11.2656H8.53125C8.44531 11.2656 8.375 11.1953 8.375 11.1094V10.6895C8.375 10.2383 8.50586 9.79297 8.76367 9.42188C9.01562 9.05859 9.36719 8.78125 9.78125 8.62305C10.4453 8.36719 10.875 7.81055 10.875 7.20312C10.875 6.3418 10.0332 5.64062 9 5.64062C7.9668 5.64062 7.125 6.3418 7.125 7.20312V7.35156C7.125 7.4375 7.05469 7.50781 6.96875 7.50781H6.03125C5.94531 7.50781 5.875 7.4375 5.875 7.35156V7.20312C5.875 6.43555 6.21094 5.71875 6.82031 5.18555C7.40625 4.67188 8.17969 4.39062 9 4.39062C9.82031 4.39062 10.5938 4.67383 11.1797 5.18555C11.7891 5.71875 12.125 6.43555 12.125 7.20312C12.125 8.33203 11.3809 9.34766 10.2285 9.79102Z" fill="#084388"/>
                  </svg>
                <!-- </el-tooltip> -->
              </div>
            </div>
            <div class="balance-action">
              <el-button class="w-100" type="success" plain @click="dialogDeposite = true">Nạp tiền vào tài khoản</el-button>
            </div>
          </div>
          <div class="wallet-balance-divide"></div>
          <div class="wallet-balance">
            <div class="balance-info">
              <div class="info-icon">
                <svg width="32" height="26" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.3332 6.33331H12.6665V3.66665H15.3332V6.33331ZM15.3332 12.3333H12.6665V9.66665H15.3332V12.3333ZM15.3332 18.3333H12.6665V15.6666H15.3332V18.3333ZM27.3332 8.33331V2.99998C27.3332 2.29274 27.0522 1.61446 26.5521 1.11436C26.052 0.614264 25.3737 0.333313 24.6665 0.333313H3.33317C2.62593 0.333313 1.94765 0.614264 1.44755 1.11436C0.947455 1.61446 0.666504 2.29274 0.666504 2.99998V8.33331C1.37375 8.33331 2.05203 8.61426 2.55212 9.11436C3.05222 9.61446 3.33317 10.2927 3.33317 11C3.33317 11.7072 3.05222 12.3855 2.55212 12.8856C2.05203 13.3857 1.37375 13.6666 0.666504 13.6666V19C0.666504 19.7072 0.947455 20.3855 1.44755 20.8856C1.94765 21.3857 2.62593 21.6666 3.33317 21.6666H24.6665C25.3737 21.6666 26.052 21.3857 26.5521 20.8856C27.0522 20.3855 27.3332 19.7072 27.3332 19V13.6666C26.6259 13.6666 25.9477 13.3857 25.4476 12.8856C24.9475 12.3855 24.6665 11.7072 24.6665 11C24.6665 10.2927 24.9475 9.61446 25.4476 9.11436C25.9477 8.61426 26.6259 8.33331 27.3332 8.33331Z" fill="#0091FE"/>
                </svg>
              </div>
              <div class="info-detail">
                <p class="detail-label">Số vé chưa sử dụng</p>
                <p class="detail-value" :class="chooseClass(numberTicketLeft)">{{numberTicketLeft | number}}</p>
              </div>
              <div class="info-tootip">
                <svg width="25" height="25" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 0.25C4.16797 0.25 0.25 4.16797 0.25 9C0.25 13.832 4.16797 17.75 9 17.75C13.832 17.75 17.75 13.832 17.75 9C17.75 4.16797 13.832 0.25 9 0.25ZM9 14.0781C8.56836 14.0781 8.21875 13.7285 8.21875 13.2969C8.21875 12.8652 8.56836 12.5156 9 12.5156C9.43164 12.5156 9.78125 12.8652 9.78125 13.2969C9.78125 13.7285 9.43164 14.0781 9 14.0781ZM10.2285 9.79102C10.0516 9.85932 9.89944 9.97934 9.79179 10.1354C9.68413 10.2915 9.62601 10.4764 9.625 10.666V11.1094C9.625 11.1953 9.55469 11.2656 9.46875 11.2656H8.53125C8.44531 11.2656 8.375 11.1953 8.375 11.1094V10.6895C8.375 10.2383 8.50586 9.79297 8.76367 9.42188C9.01562 9.05859 9.36719 8.78125 9.78125 8.62305C10.4453 8.36719 10.875 7.81055 10.875 7.20312C10.875 6.3418 10.0332 5.64062 9 5.64062C7.9668 5.64062 7.125 6.3418 7.125 7.20312V7.35156C7.125 7.4375 7.05469 7.50781 6.96875 7.50781H6.03125C5.94531 7.50781 5.875 7.4375 5.875 7.35156V7.20312C5.875 6.43555 6.21094 5.71875 6.82031 5.18555C7.40625 4.67188 8.17969 4.39062 9 4.39062C9.82031 4.39062 10.5938 4.67383 11.1797 5.18555C11.7891 5.71875 12.125 6.43555 12.125 7.20312C12.125 8.33203 11.3809 9.34766 10.2285 9.79102Z" fill="#084388"/>
                </svg>
              </div>
            </div>
            <div class="balance-action">
              <el-button class="w-100" type="warning" plain @click="dialogTicketPackage = true">Mua gói vé</el-button>
            </div>
          </div>
          <div class="wallet-function">
            <button disabled>Sao kê tài khoản (sắp ra mắt)</button>
            <button disabled>Đóng tiền dịch vụ (sắp ra mắt)</button>
            <button disabled>Hoàn phí (sắp ra mắt)</button>
            <button disabled>Đề nghị rút tiền (sắp ra mắt)</button>
          </div>
        </div>
      </div>
      <div class="wallet-right">
        <div class="wallet-filter-container">
          <h2 class="filter-title">Sao kê tài khoản</h2>
          <el-date-picker
            v-model="search"
            type="daterange"
            :picker-options="options"
            class="w-100"
            range-separator="-"
            :clearable="false"
            start-placeholder="Bắt đầu"
            end-placeholder="Kết thúc"
          ></el-date-picker>
          <el-button @click="getEWalletTransaction()" :loading="loadingTable" type="primary">Lấy dữ liệu</el-button>
        </div>
        <div class="wallet-table-container">
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="Tổng hợp" name="totalTab">
              <table v-loading="loadingTable" class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th class="text-left">Tên</th>
                    <th>Số lượng</th>
                    <th>Thành công</th>
                    <th>Chưa thành công</th>
                    <th>Đã thanh toán (VNĐ)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Tin nhắn</td>
                    <td>{{tableData.smsReport.totalMessage}}</td>
                    <td>{{tableData.smsReport.totalSent}}</td>
                    <td>{{tableData.smsReport.totalFailed}}</td>
                    <td>{{tableData.smsReport.totalMoney |number}}</td>
                  </tr>
                  <tr>
                    <td class="text-left">Hợp đồng điện tử</td>
                    <td>{{tableData.econtractReport.totalEcontract}}</td>
                    <td>{{tableData.econtractReport.totalCreate}}</td>
                    <td>{{tableData.econtractReport.totalEcontractFail}}</td>
                    <td>{{tableData.econtractReport.totalMoney |number}}</td>
                  </tr>
                </tbody>
              </table>
            </el-tab-pane>
            <el-tab-pane label="Chi tiết" name="detailTab">
              <div class="table-filter">
                <label class="table-filter-label">Loại dịch vụ</label>
                <el-select v-model="selectedBalanceType" size="small" clearable @change="changeBalanceType" placeholder="Chọn tất cả">
                  <el-option
                    v-for="item in ListServiceType"
                    :key="item.key"
                    :label="item.label"
                    :value="item.key">
                  </el-option>
                </el-select>
              </div>
              <el-table
                :data="balanceFluctuationsFilter"
                :height="windowInnerHeight - 324"
                v-loading="loadingTable"
                style="width: 100%">
                <el-table-column type="index" width="50"></el-table-column>
                <el-table-column label="Loại">
                  <template slot-scope="scope">
                    <span>{{ListServiceType.find(x => x.key == scope.row.balanceType).label || 'Không xác định'}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="companyName" label="Tên công ty"></el-table-column>
                <el-table-column label="Ngày">
                  <template slot-scope="scope"><span>{{scope.row.payDateInMillisec|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</span></template>
                </el-table-column>
                <el-table-column label="Số tiền">
                  <template slot-scope="scope"><span>{{scope.row.amount | number}}</span></template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
    <el-dialog title="Mua gói vé An Vui" :visible.sync="dialogTicketPackage" width="80%">
      <span>Bạn đang chọn gói: {{ selectedPackage.ticketPackageName}}</span>
      <div class="ticket-package">
        <div
          v-for="pack in ticketPackageList"
          :key="pack.ticketPackageId"
          @click="handleSelectPackage(pack)"
          v-bind:class="[selectedPackage.ticketPackageId === pack.ticketPackageId ? 'selected' : 'unSelected', 'item']"
        >
          <div style="display:grid">
            <span>Tên gói: {{pack.ticketPackageName}}</span>
            <span>Số lượng: {{pack.amountTicket | number}}</span>
            <span>
              Giá tiền:
              <span
                style="font-weight: bold;font-size: 1rem;"
              >{{pack.amountTicket * pack.price | number}}</span> vnđ
            </span>
            <span>
              <i class="el-icon-coin"></i>
              <span>{{pack.price | number}} đ</span>/vé
            </span>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTicketPackage = false">Hủy</el-button>
        <el-button type="success" @click="handleBuyTicketPackage()">Thanh toán</el-button>
      </span>
    </el-dialog>
    <el-dialog title="Nhập số tiền bạn muốn nạp" :visible.sync="dialogDeposite" width="30%">
      <input-number
        class="form-control text-right"
        style="height: 32px"
        v-model="formDeposite.amount"
        :min="formDeposite.minValue"
        :max="formDeposite.maxValue"
        :step="formDeposite.step"
      ></input-number>
      <div class="deposite-note-container">
        <span class="deposite-note">Lưu ý: số tiền nhập phải là bội số của 500.000 vnđ</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDeposite = false">Hủy</el-button>
        <el-button type="success" @click="napTien()">Tiến hành</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
    import { mapState} from 'vuex';
export default {
  data: function () {
    return {
      search: [new Date(), new Date()],
      money: null,
      numberTicketLeft: 0,
      reportSmsInfoFilter: {
        page: 0,
        count: 100,
        smsStatus: "all",
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      formDeposite: {
        amount: 5000000,
        minValue: 500000,
        step: 500000
      },
      loadingTable: false,
      loadingTableDetail: false,
      tableData: this.formTableData(),
      tableDetailData: [],
      chargeHistory: [],
      listFeeSchedule: [],
      dialogTicketPackage: false,
      ticketPackageList: [],
      reportSmsInfo: [],
      selectedPackage: {
        amountTicket: 500000,
        description: "Gói 500000 vé An Vui",
        isActive: true,
        price: 350,
        ticketPackageId: "TP0HT1tnr3m6fOqt",
        ticketPackageName: "Package500000",
      },
      // new 
      activeName: 'totalTab',
      balanceFluctuationsFilter: [],
      balanceFluctuations: [],
      ListServiceType: this.renderServiceType(),
      selectedBalanceType: 1,
      windowInnerHeight: window.innerHeight,
      dialogDeposite: false,
    };
  },
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  mounted: function () {
    this.getEWalletTransaction(this.search);
    this.getMoney();
    this.getTicketPackageList();
    // this.getListSmsInfo();
  },
  methods: {
    handleClick(tab, event) {
      // console.log(tab, event);
    },
    getEWalletTransaction: function (search = this.search) {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        fromDate: search[0].setHours(0, 0, 0, 0),
        toDate: search[1].setHours(23, 59, 59, 999),
      };
      sendJson({
        url: urlDBD(API.getEWalletReport),
        data: param,
        success: function (data) {
          self.tableData = data.results.eTransaction;
          self.balanceFluctuations = data.results.balanceFluctuations;
          self.balanceFluctuationsFilter = data.results.balanceFluctuations.filter(x => x.balanceType == self.selectedBalanceType);
          // self.chargeHistory = data.results.chargeHistory;
          self.numberTicketLeft = data.results.ticketAmount;
          // self.listFeeSchedule = data.results.listFeeSchedules;
          self.loadingTable = false;
          // self.getDetailContract();
        },
        functionIfError: function (err) {
          self.loadingTable = false;
        },
      });
    },
    handleSelectPackage: function (pack) {
      this.selectedPackage = pack;
    },
    handleBuyTicketPackage: function (params) {
      let self = this;
      let amountTicket = this.selectedPackage.amountTicket;
      if (!self.isHasEnoughMoney(this.selectedPackage)) {
        notify("Không đủ tiền, vui lòng nạp thêm tiền vào Ví An Vui!", "error");
        return;
      }
      sendJson({
        url: urlDBD(API.buyTicketPackage),
        data: { amount: amountTicket },
        success: function (response) {
          notify("Mua gói vé thành công!");
          self.getEWalletTransaction(self.search);
          self.getMoney();
        },
        functionIfError: function (response) {},
      });
      this.dialogTicketPackage = false;
    },
    isHasEnoughMoney: function (pack) {
      const totalPrice = pack.amountTicket * pack.price;
      const currentMoney = this.money.currentAmount;
      const result = totalPrice < currentMoney ? true : false;
      return result;
    },
    getTicketPackageList: function (params) {
      let self = this;
      sendJson({
        url: urlDBD(API.getTicketPackageList),
        data: {},
        success: function (data) {
          self.ticketPackageList = data.results.TicketPackageList;
        },
        functionIfError: function (err) {},
      });
    },
    isValid: function () {
      console.log('this.formDeposite.amount',this.formDeposite.amount);
      if(this.formDeposite.amount % 500000 != 0) {
        notify("Số tiền nhập phải là bội số của 500.000 vnđ", "error");
        return false;
      }
      return true;
    },
    napTien: function () {
      let self = this;
      if (!this.isValid()) {
        return;
      }
      let param = {
        amount: self.formDeposite.amount,
        packageName: "web",
      };
      self.load("napTien");
      sendParam({
        type: "get",
        data: param,
        url: urlDBD(API.epaySmsVnpay),
        success: function (res) {
          self.unload("napTien");
          window.open(res.results.data.paymentUrl, "_blank");
        },
        functionIfError: function (err) {
          self.unload("napTien");
        },
      });
    },
    getMoney: function () {
      let self = this;
      self.load("getMoney");
      sendJson({
        url: urlDBD(API.epaySmsMegaV),
        success: function (data) {
          self.money = data.results.megaVSMS;
          self.unload("getMoney");
        },
        functionIfError: function (err) {
          console.log(err);
          self.unload("getMoney");
        },
      });
    },
    formTableData: function () {
      let form = {
        econtractReport: {
          pricePerContract: 0,
          totalCreate: 0,
          totalEcontract: 0,
          totalMoney: 0,
        },
        electricTransactionId: null,
        smsReport: {
          pricePerSms: 0,
          totalFailed: 0,
          totalMessage: 0,
          totalMoney: 0,
          totalSent: 0,
        },
      };
      return form;
    },
    chooseClass: function (number) {
      if (number < 1000) return "danger";
      if (1000 <= number && number < 5000) return "warning";
      if ((number) => 5000) return "success";
    },
    changeBalanceType: function(params) {
      const type = params;
      if(!!params) {
        this.balanceFluctuationsFilter = this.balanceFluctuations.filter(x => x.balanceType === type);
      } else {
        this.balanceFluctuationsFilter = this.balanceFluctuations;
      }
    },
    renderServiceType: function () {
      const list = [
        {
          key: 1,
          label: 'Nạp tiền'
        },
        {
          key: 2,
          label: 'Tin nhắn'
        },
        {
          key: 3,
          label: 'HĐĐT theo lần xuất'
        },
        {
          key: 4,
          label: 'HĐĐT theo số chuyến'
        },
        {
          key: 5,
          label: 'Brandname hàng tháng'
        },
        {
          key: 6,
          label: 'Email'
        },
        {
          key: 7,
          label: 'Tạo vé'
        },
        {
          key: 8,
          label: 'Mua gói vé'
        },
        {
          key: 9,
          label: 'App phụ xe'
        },
        {
          key: 10,
          label: 'App bán vé'
        },
      ]
      return list;
    }
  },
};
</script>
<style lang="scss" scoped>
.wallet-body {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  .wallet-title h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding: 15px 15px 15px 0px;
    color: #383F47;
  }
  .wallet-content {
    display: grid;
    grid-template-columns: 30% 68%;
    justify-content: space-between;
    .wallet-left {
      height: calc(100vh - 115px);
      min-height: 550px;
      background: #ececec8f;
      width: 100%;
      border-radius: 12px;
      .wallet-balance-container {
        .wallet-balance {
          display: grid;
          padding: 15px;
          grid-gap: 8px;
          .balance-info {
            display: grid;
            grid-template-columns: 20% 55% 14%;
            grid-gap: 1rem;
            .info-icon {
              text-align: center;
            }
            .info-detail {
              display: grid;
              grid-gap: 5px;
              .detail-label {
                color: #9399A9;
                font-size: 16px;
                line-height: 19px;
              }
              .detail-value {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #383F47;
                letter-spacing: 2px;
              }
            }
            .info-tootip {
              text-align: end;
              cursor: pointer;
            }
          }
          .balance-action {}
        }
        .wallet-balance-divide {
          width: 80%;
          border: 1px solid #d8d8d8;
          border-radius: 12px;
          margin: auto;
        }
        .wallet-function {
          display: grid;
          button {
            border: 0;
            background: transparent;
            color: #383F47;
            font-size: 16px;
            padding: 15px 20px;
            cursor: pointer;
            text-align: left;
          }
          button:hover {
            background: #CCE9FF;
            color: #0091FE;
            outline: 0;
          }
          button:focus {
            outline: 0;
            background: #CCE9FF;
            color: #0091FE;
          }
          button:disabled {
            outline: 0;
            color: #929292;
          }
        }
      }
    }
    .wallet-right {
      border: 1px solid #ECEDF1;
      border-radius: 12px;
      min-height: 550px;
      padding: 25px;
      height: calc(100vh - 115px);
      .wallet-filter-container {
        display: grid;
        grid-template-columns: 35% 40% 20%;
        grid-gap: 1rem;
        margin-bottom: 20px;
        .filter-title {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
        }
      }
      .wallet-table-container {
        .table-filter {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          .table-filter-label {
              font-size: 16px;
              line-height: 19px;
              color: #646D84;
              margin-right: 15px;
              font-family: inherit;
              font-weight: unset;
          }
        }
      }
    }
  }
}
.deposite-note-container {
  padding-top: 20px;
  .deposite-note {
    font-size: 14px;
    color: red;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.filter-container {
  display: grid;
  grid-template-columns: 75% 20%;
  grid-gap: 1rem;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .numberTicketLeft {
    margin-left: 5px;
    font-size: 1.25rem;
  }
  .success {
    color: #49d193;
  }
  .warning {
    color: #ffd200;
  }
  .danger {
    color: #ff4868;
  }
}
.ticket-package {
  display: flex;
  flex-wrap: nowrap;

  .item {
    flex-basis: 0;
    flex-grow: 1;
    margin: 5px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.2s all ease-in-out;
  }
  .selected {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #084388;
    background: white;
  }
  .selected::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    border: 8px solid #0091fe;
    background: white;
  }
  .unSelected {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fbfbfb;
    // box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  }
  .unSelected::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    border: 1px solid #dadada;
    background: white;
  }
}
</style>
