<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase"
          >AV 46: Báo cáo tổng hợp theo Phòng vé - Nhân viên</span
        >
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item">
          <label>
            Từ ngày (thanh toán)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateStart"
            format="dd-MM-yyyy"
            :picker-options="options"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>
            Đến ngày (thanh toán)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateEnd"
            :picker-options="options"
            format="dd-MM-yyyy"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Tuyến</label>
          <select-route
            v-model="form.route"
            :clearable="true"
            :multiple="true"
            class="w-100"
          ></select-route>
        </div>
        <div class="filter-item">
          <label>Phòng vé</label>
          <select-point
            class="w-100"
            pointTypes="8"
            v-model="form.room"
            :multiple="true"
            placeholder="Chọn tất cả"
            :pointType="8"
          ></select-point>
        </div>
        <div class="filter-item">
          <label>Nhân viên</label>
          <e-select-user
            class="w-100"
            v-model="form.user"
            :multiple="true"
            :clearable="true"
            placeholder="Chọn tất cả"
          ></e-select-user>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >
            {{ $t("button.filter") }}
          </button>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeStart"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeEnd"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport overflow-auto">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important; font-weight: 500 !important"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{ $t("No-") }}</th>
            <th class="rowHeader">Tên phòng vé (bến)</th>
            <th class="rowHeader">Tên nhân viên</th>
            <th class="rowHeader">Vé thường đã TT được bán</th>
            <th class="rowHeader">Vé ưu đãi đã TT được bán</th>
            <th class="rowHeader">Vé thường đã TT sau đó bị hủy</th>
            <th class="rowHeader">Vé ưu đãi đã TT sau đó bị hủy</th>
            <th class="rowHeader">Vé thường đã TT trừ số vé đã bị hủy</th>
            <th class="rowHeader">Vé ưu đã TT trừ vé đã bị Hủy</th>
            <th class="rowHeader">Tiền thu vé đã TT trừ vé đã bị hủy</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td :colspan="10" class="text-center">
              {{ $t("no-data-available") }}
            </td>
          </tr>
          <template v-if="reportData.length != 0">
            <!-- start total row -->
            <tr class="font-weight-bold text-center">
                <td class="rowAllTotal text-left" colspan="3">Tổng số: </td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalNomarlTicket | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalPreferentialTicket | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalNomarlTicketCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalPreferentialTicketCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalNomarlTicketExceptCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalPreferentialTicketExceptCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalMoney | number }}</td>
            </tr>
            <!-- end total row -->
            <template v-for="(value, key, index) of reportData">
              <tr class="font-weight-bold text-center" :key="key">
                <td class="rowH tableexport-string text-center font-weight-bold">{{index + 1}}</td>
                <td class="rowH tableexport-string text-left font-weight-bold" colspan="2">{{value.roomName ? value.roomName : '(Không xác định: Webiste và ứng dụng)'}}</td>
                <td class="rowH tableexport-string font-weight-bold">{{ value.rowTotalNomarlTicket | number }}</td>
                <td class="rowH tableexport-string font-weight-bold">{{ value.rowTotalPreferentialTicket | number }}</td>
                <td class="rowH tableexport-string font-weight-bold">{{ value.rowTotalNomarlTicketCancel | number }}</td>
                <td class="rowH tableexport-string font-weight-bold">{{ value.rowTotalPreferentialTicketCancel | number }}</td>
                <td class="rowH tableexport-string font-weight-bold">{{ value.rowTotalNomarlTicketExceptCancel | number }}</td>
                <td class="rowH tableexport-string font-weight-bold">{{ value.rowTotalPreferentialTicketExceptCancel | number }}</td>
                <td class="rowH tableexport-string font-weight-bold">{{ value.rowTotalMoney | number }}</td>
              </tr>
              <tr v-for="(item, i) of value.arr" :key="`${item.transUserId}-${index}-${i}`" class="text-center">
                <td class="rowH tableexport-string">{{`${index+1}.${i+1}`}}</td>
                <td class="rowH tableexport-string"></td>
                <td class="rowH tableexport-string">{{item.fullName}}</td>
                <td class="rowH tableexport-string">{{item.totalNomarlTicket}}</td>
                <td class="rowH tableexport-string">{{item.totalPreferentialTicket}}</td>
                <td class="rowH tableexport-string">{{item.totalNomarlTicketCancel}}</td>
                <td class="rowH tableexport-string">{{item.totalPreferentialTicketCancel}}</td>
                <td class="rowH tableexport-string">{{item.totalNomarlTicketExceptCancel}}</td>
                <td class="rowH tableexport-string">{{item.totalPreferentialTicketExceptCancel | number}}</td>
                <td class="rowH tableexport-string">{{item.totalMoney | number}}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SelectRoute from "../Route/SelectRoute";
import {mapState} from 'vuex'
import SelectPoint from "../Point/SelectPoint";
import ESelectUser from "../User/ESelectUser";
/**
 * @deprecated ay yo
 */
let d = new Date()
export default {
  components: { SelectRoute, SelectPoint, ESelectUser },
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
        phoneNumber: null,
        route: [],
        room: [],
        user: []
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      reportTotal: {
        totalMoney: 0,
        totalNomarlTicket: 0,
        totalNomarlTicketCancel: 0,
        totalNomarlTicketExceptCancel: 0,
        totalPreferentialTicket: 0,
        totalPreferentialTicketCancel: 0,
        totalPreferentialTicketExceptCancel: 0,
      },
      dateFormat: "dd-MM-yyyy",
    };
  },
  mounted: function () {},
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate : self.form.dateStart + self.form.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        endDate : self.form.dateEnd + self.form.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      };
      if(self.form.phoneNumber) {
          param.phoneNumber = self.form.phoneNumber;    
      }
      if (self.form.route.length > 0) {
        param.routeId = self.form.route.map((x) => x.routeId);
      }
      if (self.form.room.length > 0) {
        param.roomId = self.form.room.map((x) => x.id);
      }
      if (self.form.user.length > 0) {
        param.userId = self.form.user.map((x) => x.id);
      }
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-ticket-room-revenue-wb",
        data: param,
        success: function (data) {
          self.reportData = self.handleData(data);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    handleData: function (data) {
      let seenRoom = new Set();
      let seenUser = new Set();

      this.clearTotal();
      let reportData = data.reduce(
        (response, item, index, array) => {
          let isDupRoom = seenRoom.has(item.transRoomId);
          
          seenRoom.add(item.transRoomId);

          if(!isDupRoom) {
              response[item.transRoomId] = {
                roomName: item.roomName,
                rowTotalMoney: item.totalMoney,
                rowTotalNomarlTicket: item.totalNomarlTicket,
                rowTotalNomarlTicketCancel: item.totalNomarlTicketCancel,
                rowTotalNomarlTicketExceptCancel: item.totalNomarlTicketExceptCancel,
                rowTotalPreferentialTicket: item.totalPreferentialTicket,
                rowTotalPreferentialTicketCancel: item.totalPreferentialTicketCancel,
                rowTotalPreferentialTicketExceptCancel: item.totalPreferentialTicketExceptCancel,
                arr: [item]
              }
          } else {
              response[item.transRoomId].rowTotalMoney += item.totalMoney;
              response[item.transRoomId].rowTotalNomarlTicket += item.totalNomarlTicket;
              response[item.transRoomId].rowTotalNomarlTicketCancel += item.totalNomarlTicketCancel;
              response[item.transRoomId].rowTotalNomarlTicketExceptCancel += item.totalNomarlTicketExceptCancel;
              response[item.transRoomId].rowTotalPreferentialTicket += item.totalPreferentialTicket;
              response[item.transRoomId].rowTotalPreferentialTicketCancel += item.totalPreferentialTicketCancel;
              response[item.transRoomId].rowTotalPreferentialTicketExceptCancel += item.totalPreferentialTicketExceptCancel;
              response[item.transRoomId].arr = [...response[item.transRoomId].arr, item];
          }
          // sum total
          this.reportTotal.totalMoney += item.totalMoney;
          this.reportTotal.totalNomarlTicket += item.totalNomarlTicket;
          this.reportTotal.totalNomarlTicketCancel += item.totalNomarlTicketCancel;
          this.reportTotal.totalNomarlTicketExceptCancel += item.totalNomarlTicketExceptCancel;
          this.reportTotal.totalPreferentialTicket += item.totalPreferentialTicket;
          this.reportTotal.totalPreferentialTicketCancel += item.totalPreferentialTicketCancel;
          this.reportTotal.totalPreferentialTicketExceptCancel += item.totalPreferentialTicketExceptCancel;
          return response;
        },
        {}
      );
      return reportData;
    },
    clearTotal: function () {
      this.reportTotal = {
        totalMoney: 0,
        totalNomarlTicket: 0,
        totalNomarlTicketCancel: 0,
        totalNomarlTicketExceptCancel: 0,
        totalPreferentialTicket: 0,
        totalPreferentialTicketCancel: 0,
        totalPreferentialTicketExceptCancel: 0,
      };
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_TONG_HOP_THEO_PHONG_VE_NHAN_VIEN"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-weight: bold;
  font-size: 16px;
}
.rowAllTotal {
  font-weight: bold;
  font-size: 18px;
}
.rowH {
  font-weight: 500;
  font-size: 14px;
}
.table thead {
  background: #cfd3db;
}
// .table td,
// .table td h5 {
//   font-family: "Open Sans", sans-serif;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 19px;
// }
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
</style>
