<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 39: Báo cáo doanh thu theo khách hàng
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-time v-model="dateStart" :value="dateStart" ></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-time v-model="dateEnd" :value="dateEnd"></el-time>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Số điện thoại</label><br>
            <el-input placeholder="Nhập số điện thoại" v-model="phoneNumberSelected"></el-input>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route style="min-width: 210px;" v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Trạng thái</label><br>
            <el-select v-model="typeStatus" placeholder="" >
              <el-option
                      v-for="item in typeStatuss"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <th class="rowHeader" style="min-width: 130px;">Số ĐT khách hàng</th>
            <th class="rowHeader" style="min-width: 100px;">Tên khách hàng</th>
            <th class="rowHeader" style="min-width: 100px;">Số lượt đi</th>
            <th class="rowHeader" style="min-width: 115px;">Số lượng vé</th>
            <th class="rowHeader" style="min-width: 80px;">Số tiền vé</th>
            <th class="rowHeader" style="min-width: 100px;">Số đơn hàng</th>
            <th class="rowHeader" style="min-width: 120px;">Số tiền hàng</th>
            <th class="rowHeader" style="min-width: 120px;">Tổng vé + Hàng</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="22" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="2">Tổng cộng</td>
            <td class="rowAllTotal">{{totalTrip|number}}</td>
            <td class="rowAllTotal">{{totalTicket|number}}</td>
            <td class="rowAllTotal">{{totalTicketMoney|number}}</td>
            <td class="rowAllTotal">{{totalGood|number}}</td>
            <td class="rowAllTotal">{{totalMoneyGood|number}}</td>
            <td class="rowAllTotal">{{totalMoney|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.phoneNumber ? vh.phoneNumber : vh.phoneNumberGood ? vh.phoneNumberGood : ''}}</td>
              <td class="rowH">{{vh.fullName ? vh.fullName : ''}}</td>
              <td class="rowH">{{(vh.totalTrip ? vh.totalTrip : '') | number}}</td>
              <td class="rowH">{{(vh.totalTicket ? vh.totalTicket : '') | number}}</td>
              <td class="rowH">{{(vh.totalTicketMoney ? vh.totalTicketMoney : '') | number}}</td>
              <td class="rowH">{{(vh.totalGood ? vh.totalGood : '') | number}}</td>
              <td class="rowH">{{(vh.totalMoneyGood ? vh.totalMoneyGood : '') | number}}</td>
              <td class="rowH">{{(parseInt(vh.totalMoneyGood) + parseInt(vh.totalTicketMoney)) | number}}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                phoneNumberSelected: null,
                loading: false,
                getCancelTicket: true,
                selectedRoom: null,
                typeStatus: 2,
                typeStatuss: [
                    {
                        value: 0,
                        label: 'Đã đi'
                    },
                    {
                        value: 1,
                        label: 'Chưa đi'
                    },
                    {
                        value: 2,
                        label: 'Tất cả'
                    },
                ],
                routeSelected: null,


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.phoneNumberSelected){
                    params.phoneNumber = self.phoneNumberSelected
                    // params.phoneNumberGood = self.phoneNumberSelected
                }
                if (self.routeSelected && self.routeSelected.length > 0) {
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                if(self.typeStatus == 0){
                    params.tripStatus = [2,3]
                    // params.goodStatus = [3,4,5]
                }
                if(self.typeStatus == 1){
                    params.tripStatus = [1]
                    // params.goodStatus = [1,2]
                }
                if(self.typeStatus == 2){
                    params.tripStatus = [1,2,3]
                    // params.goodStatus = [1,2,3,4,5]
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/report-income-by-phone-number-customer',
                    data : params,
                    success : function (data) {
                        $.each(data, function (t,ticket) {
                            if(ticket.totalGood == null){
                                ticket.totalGood = 0
                            }
                            if(ticket.totalMoneyGood == null){
                                ticket.totalMoneyGood = 0
                            }
                        })
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            totalTrip :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTrip
                })
                return a
            },
            totalTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicket
                })
                return a
            },
            totalTicketMoney :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicketMoney
                })
                return a
            },
            totalGood :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalGood
                })
                return a
            },
            totalMoneyGood :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalMoneyGood ? parseInt(li.totalMoneyGood) : 0
                })
                return a
            },
            totalMoney :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a +=  parseInt(li.totalMoneyGood) + parseInt(li.totalTicketMoney)
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
