<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase"
          >AV 47: Báo cáo hàng tồn kho</span
        >
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item">
          <label>
            Ngày hiện tại
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.currentDate"
            format="dd-MM-yyyy"
            :picker-options="options"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
            :disabled="true"
          ></el-date-picker>
        </div>
        <!-- <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >
            {{ $t("button.filter") }}
          </button>
        </div> -->
      </div>
    </div>
    <div class="margin-bottom tableReport overflow-auto">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important; font-weight: 500 !important"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{ $t("No-") }}</th>
            <th class="rowHeader">Mã hàng</th>
            <th class="rowHeader">Tên hàng</th>
            <th class="rowHeader">Người gửi</th>
            <th class="rowHeader">SĐT người gửi</th>
            <th class="rowHeader">Người nhận</th>
            <th class="rowHeader">SĐT người nhận</th>
            <th class="rowHeader">Điểm nhận</th>
            <th class="rowHeader">Điểm trả</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td :colspan="10" class="text-center">
              {{ $t("no-data-available") }}
            </td>
          </tr>
          <template v-if="reportData.length != 0">
            <!-- <tr class="font-weight-bold text-center">
                <td class="rowAllTotal text-left" colspan="3">Tổng số: </td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalNomarlTicket | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalPreferentialTicket | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalNomarlTicketCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalPreferentialTicketCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalNomarlTicketExceptCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalPreferentialTicketExceptCancel | number }}</td>
                <td class="rowAllTotal tableexport-string">{{ reportTotal.totalMoney | number }}</td>
            </tr> -->
            <template v-for="(value, index) of reportData">
              <tr class="text-center" :key="value.goodsId">
                <td class="rowH tableexport-string text-center font-weight-bold">{{ index + 1 }}</td>
                <td class="rowH tableexport-string text-left font-weight-bold">{{ value.goodsCode }}</td>
                <td class="rowH tableexport-string">{{ value.goodsName }}</td>
                <td class="rowH tableexport-string">{{ value.sender}}</td>
                <td class="rowH tableexport-string">{{ value.senderPhone}}</td>
                <td class="rowH tableexport-string">{{ value.receiver}}</td>
                <td class="rowH tableexport-string">{{ value.receiverPhone}}</td>
                <td class="rowH tableexport-string">{{ value.pickPointName}}</td>
                <td class="rowH tableexport-string">{{ value.dropPointName}}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
/**
 * @deprecated ay yo
 */
let d = new Date()
export default {
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        currentDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      reportTotal: {
        totalMoney: 0,
        totalNomarlTicket: 0,
        totalNomarlTicketCancel: 0,
        totalNomarlTicketExceptCancel: 0,
        totalPreferentialTicket: 0,
        totalPreferentialTicketCancel: 0,
        totalPreferentialTicketExceptCancel: 0,
      },
      dateFormat: "dd-MM-yyyy",
    };
  },
  mounted: function () {
      this.getReport();
  },
  computed: {
    ...mapState({
      companyConfig: state => state.CompanyConfig.companyConfig,
    }),
  },
  methods: {
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId
      };
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/inventory-report",
        data: param,
        success: function (data) {
          self.reportData = data;
        //   console.log(data);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    handleData: function (data) {
      let seenRoom = new Set();
      let seenUser = new Set();

      this.clearTotal();
      let reportData = data.reduce(
        (response, item, index, array) => {
          let isDupRoom = seenRoom.has(item.transRoomId);
          
          seenRoom.add(item.transRoomId);

          if(!isDupRoom) {
              response[item.transRoomId] = {
                roomName: item.roomName,
                rowTotalMoney: item.totalMoney,
                rowTotalNomarlTicket: item.totalNomarlTicket,
                rowTotalNomarlTicketCancel: item.totalNomarlTicketCancel,
                rowTotalNomarlTicketExceptCancel: item.totalNomarlTicketExceptCancel,
                rowTotalPreferentialTicket: item.totalPreferentialTicket,
                rowTotalPreferentialTicketCancel: item.totalPreferentialTicketCancel,
                rowTotalPreferentialTicketExceptCancel: item.totalPreferentialTicketExceptCancel,
                arr: [item]
              }
          } else {
              response[item.transRoomId].rowTotalMoney += item.totalMoney;
              response[item.transRoomId].rowTotalNomarlTicket += item.totalNomarlTicket;
              response[item.transRoomId].rowTotalNomarlTicketCancel += item.totalNomarlTicketCancel;
              response[item.transRoomId].rowTotalNomarlTicketExceptCancel += item.totalNomarlTicketExceptCancel;
              response[item.transRoomId].rowTotalPreferentialTicket += item.totalPreferentialTicket;
              response[item.transRoomId].rowTotalPreferentialTicketCancel += item.totalPreferentialTicketCancel;
              response[item.transRoomId].rowTotalPreferentialTicketExceptCancel += item.totalPreferentialTicketExceptCancel;
              response[item.transRoomId].arr = [...response[item.transRoomId].arr, item];
          }
          // sum total
          this.reportTotal.totalMoney += item.totalMoney;
          this.reportTotal.totalNomarlTicket += item.totalNomarlTicket;
          this.reportTotal.totalNomarlTicketCancel += item.totalNomarlTicketCancel;
          this.reportTotal.totalNomarlTicketExceptCancel += item.totalNomarlTicketExceptCancel;
          this.reportTotal.totalPreferentialTicket += item.totalPreferentialTicket;
          this.reportTotal.totalPreferentialTicketCancel += item.totalPreferentialTicketCancel;
          this.reportTotal.totalPreferentialTicketExceptCancel += item.totalPreferentialTicketExceptCancel;
          return response;
        },
        {}
      );
      return reportData;
    },
    clearTotal: function () {
      this.reportTotal = {
        totalMoney: 0,
        totalNomarlTicket: 0,
        totalNomarlTicketCancel: 0,
        totalNomarlTicketExceptCancel: 0,
        totalPreferentialTicket: 0,
        totalPreferentialTicketCancel: 0,
        totalPreferentialTicketExceptCancel: 0,
      };
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_HANG_TON_KHO"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-weight: bold;
  font-size: 16px;
}
.rowAllTotal {
  font-weight: bold;
  font-size: 18px;
}
.rowH {
  font-weight: 500;
  font-size: 14px;
}
.table thead {
  background: #cfd3db;
}
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
</style>
