<template>
    <div class="w-100 respon-page">
        <div class="row">
            <div class="col-12 title">
                <span class="text-uppercase"> {{$t('menu.report-detail')}}</span>
                <span class="float-right">
                    <button class="btn btn-success btn-sm" @click="print()"> <i class="fa fa-print"></i> {{ $t('button.print')}}</button>
                    <button class="btn btn-success btn-sm" @click="exportExcel()"> <i class="fa fa-file-excel"></i> {{ $t('export-excel')}}</button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.date-type')}}</label>
                <select class="form-control" v-model="search.dateType">
                    <option :value="2">Ngày đi</option>
                    <option :value="1">Ngày tạo vé</option>
                </select>
            </div>
            <div class="col-6 col-md" v-if="!$root.isAgency()">
                <label>{{$t('filter.payment-type')}}</label>
                <select class="form-control" v-model="search.paymentType">
                    <option :value="0">Tất cả</option>
                    <option :value="1">Thanh toán trực tuyên</option>
                    <option :value="3">Thanh toán tiền mặt</option>
                    <option :value="6">Chuyển khoản</option>
                </select>
            </div>
            <div class="col-6 col-md form-group" v-if="!$root.isAgency()">
                <label>{{$t('filter.phone-customer')}}</label>
                <input type="text" class="form-control" v-model="search.phoneNumber">
            </div>
            <datepicker-ranger v-model="search" :allowTime="true"></datepicker-ranger>
            <div class="col-6 col-md form-group" v-if="$root.isAgency()">
                <label>&nbsp;</label>
                <button class="btn btn-block btn-primary text-uppercase" @click="getReport()">{{$t('button.filter')}}</button>
            </div>
        </div>
        <div class="row" v-if="!$root.isAgency()">
            <div class="col-12 col-md form-group">
                <label>{{$t('filter.ticket-status')}}</label>
                <multiselect :options="ticketStatusList" v-model="search.ticketStatus" :multiple="true" track-by="value" label="name" placeholder="Không chọn sẽ lấy tất"></multiselect>
            </div>
            <div class="col-6 col-md form-group">
                <label>{{$t('menu.route')}}</label>
                <select-route v-model="search.route" :clearable="true"  class="w-100"></select-route>
            </div>
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.vehicle')}}</label>
                <select-vehicle v-model="search.vehicle"></select-vehicle>
            </div>
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.driver')}}</label>
                <select-user class="w-100" v-model="search.driver" :userType="[2]" :multiple="true"></select-user>
            </div>
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.side-driver')}}</label>
                <select-user class="w-100" v-model="search.assistant" :userType="[3]" :allowClear="true"></select-user>
            </div>
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.foreign-key')}}</label>
                <input type="text" class="form-control" v-model="search.foreignKey">
            </div>
        </div>
        <div class="row" v-if="!$root.isAgency()">
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.ticket-source')}}</label>
                <select-user class="w-100" v-model="search.source" :getAgency="true" ref="SelectAgencyComponent" :allowClear="true" :multiple="true"></select-user>
            </div>
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.seller')}}</label>
                <select-user class="w-100" v-model="search.creator" :allowClear="true"></select-user>
            </div>
            <div class="col-6 col-md form-group">
                <label>{{$t('filter.cashier')}}</label>
                <select-user v-model="search.cashier" :allowClear="true"></select-user>
            </div>
            <div class="col-6 col-md form-group">
                <label>Nền tảng</label>
                <multiselect :options="$root.platforms" v-model="search.platforms" track-by="value" :multiple="true" label="label" placeholder="Không chọn sẽ lấy tất"></multiselect>
            </div>
            <div class="col-6 col-md form-group">
                <label>&nbsp;</label>
                <button class="btn btn-block btn-primary text-uppercase" @click="getReport()">{{$t('button.filter')}}</button>
            </div>
        </div>
        <div class="row top20" v-if="report">
            <div class="col-12">
                <div class="report-hs">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Ẩn hiện cột dữ liệu
                        </button>
                        <div class="dropdown-menu" @click.stop>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_code">Mã</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_customer">Khách hàng</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_phone">SDT</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_route">Tuyến</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_car">Xe</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_tai">Tài</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_khoihanhtai">Khởi hành tại</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_time">Thời gian đi</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_nguoiban">Người bán</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_maLienKet">Mã liên kết</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_nguonve">Nguồn vé</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_soluong">SL</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_thanhtien">Thành tiền</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_dathu">Đã thu</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_conlai">Còn lại</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_nguoithu">Người thu</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_nguoihuy">Người hủy</label>
                            <label class="checkbox-inline"><input type="checkbox" v-model="sh_ghichu">Ghi chú</label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="max-height:90vh">
                    <table class="table table-striped table-sm report-tbl">
                        <thead>
                            <tr>
                                <th v-if="sh_code"></th>
                                <th v-if="sh_customer"></th>
                                <th v-if="sh_phone"></th>
                                <th v-if="sh_route"></th>
                                <th v-if="sh_car"></th>
                                <th v-if="sh_tai"></th>
                                <th v-if="sh_khoihanhtai"></th>
                                <th v-if="sh_time"></th>
                                <th v-if="sh_time"></th>
                                <th v-if="sh_nguoiban"></th>
                                <th v-if="sh_maLienKet"></th>
                                <th v-if="sh_nguonve"></th>
                                <th v-if="sh_soluong">{{report.total.number|number}}</th>
                                <th v-if="sh_thanhtien">{{report.total.price|number}}</th>
                                <th v-if="sh_dathu">{{report.total.paid|number}}</th>
                                <th v-if="sh_conlai">{{report.total.unpaid|number}}</th>
                                <th v-if="sh_nguoithu"></th>
                                <th v-if="sh_nguoihuy"></th>
                                <th v-if="sh_ghichu"></th>
                            </tr><tr>
                                <th v-if="sh_code">Mã</th>
                                <th v-if="sh_customer">Khách hàng</th>
                                <th v-if="sh_phone">SDT</th>
                                <th style="width:150px" v-if="sh_route">Tuyến</th>
                                <th v-if="sh_car">Xe</th>
                                <th v-if="sh_tai">Tài</th>
                                <th style="width:200px" v-if="sh_khoihanhtai">Khởi hành tại</th>
                                <th v-if="sh_time">Ngày đi</th>
                                <th v-if="sh_time">Giờ đi</th>
                                <th v-if="sh_nguoiban">Người bán</th>
                                <th v-if="sh_maLienKet">Mã liên kết</th>
                                <th v-if="sh_nguonve">Nguồn vé</th>
                                <th v-if="sh_soluong">SL</th>
                                <th v-if="sh_thanhtien">Thành tiền</th>
                                <th v-if="sh_dathu">Đã thu</th>
                                <th v-if="sh_conlai">Còn lại</th>
                                <th v-if="sh_nguoithu">Người thu</th>
                                <th v-if="sh_nguoihuy">Người hủy</th>
                                <th v-if="sh_ghichu">Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-if="data.length<=0">
                            <td class="text-center" colspan="15">Không có dữ liệu</td>
                        </tr>
                        <template v-for="(rp,r) in report.data">
                            <tr>
                                <td v-if="sh_code" class="tableexport-string">{{ rp.ticketCode }}</td>
                                <td v-if="sh_customer" class="tableexport-string">{{ rp.nameGuest }}</td>
                                <td v-if="sh_phone" class="tableexport-string">{{ rp.phoneNumber|phoneNumber }}</td>
                                <td v-if="sh_route" class="tableexport-string">{{ rp.routeName }}</td>
                                <td v-if="sh_car" class="tableexport-string">{{ rp.numberPlate }}</td>
                                <td v-if="sh_tai" class="tableexport-string">{{ rp.listDriverName?rp.listDriverName.join(', '):'' }}</td>
                                <td v-if="sh_khoihanhtai" class="tableexport-string">{{ rp.inPoint }}</td>
                                <td v-if="sh_time" class="tableexport-string">{{ rp.time|customDate('#DD#-#MM#-#YYYY#',true) }}</td>
                                <td v-if="sh_time" class="tableexport-string">{{ rp.time|customDate('#hhhh#:#mm#',true) }}</td>
                                <td v-if="sh_nguoiban" class="tableexport-string">{{ rp.sellerName }}</td>
                                <td v-if="sh_maLienKet" class="tableexport-string">{{ rp.foreignKey }}</td>
                                <td v-if="sh_nguonve" class="tableexport-string">{{ rp.sourceName }}</td>
                                <td v-if="sh_soluong" class="tableexport-string">{{ rp.number|number }}</td>
                                <td v-if="sh_thanhtien" class="text-right tableexport-string">{{ rp.price|number }}</td>
                                <td v-if="sh_dathu" class="text-right tableexport-string">{{ rp.paidMoney|number }}</td>
                                <td v-if="sh_conlai" class="text-right tableexport-string">{{ rp.unPaidMoney|number }}</td>
                                <td v-if="sh_nguoithu" class="tableexport-string">{{ rp.cashier }}</td>
                                <td v-if="sh_nguoihuy" class="tableexport-string">{{ rp.canceler }}</td>
                                <td v-if="sh_ghichu" class="tableexport-string">{{ rp.note }}</td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectRoute from '../Route/SelectRoute.vue';
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import SelectAgency from '../Agency/SelectAgency';
    import SelectUser from '../User/SelectUser';
    export default {
        components : {SelectRoute,SelectVehicle,SelectAgency,SelectUser},
        data : function () {
            return {
                startDate: 'ok',
                sh_code: true,
                sh_customer: true,
                sh_phone: true,
                sh_route: true,
                sh_car: true,
                sh_tai: true,
                sh_khoihanhtai: true,
                sh_time: true,
                sh_nguoiban: true,
                sh_maLienKet: true,
                sh_nguonve: true,
                sh_soluong: true,
                sh_thanhtien: true,
                sh_dathu: true,
                sh_conlai: true,
                sh_nguoithu: true,
                sh_nguoihuy: true,
                sh_ghichu: true,
                search : {
                    dateType : 2,
                    phoneNumber  :'',
                    foreignKey  :'',
                    paymentType : 0,
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    startTime : '00:00',
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endTime : '23:59',
                    ticketStatus : null,
                    route : null,
                    vehicle : null,
                    driver : null,
                    assistant  :null,
                    source : null,
                    creator : null,
                    cashier : null,
                    platforms : null,
                },
                ticketStatusList : [
                    {
                        value : 0,
                        name : 'Đã hủy'
                    },
                    {
                        value : 2,
                        name : 'Giữ chỗ có thời hạn'
                    },
                    {
                        value : 3,
                        name : 'Đã thanh toán'
                    },
                    {
                        value : 7,
                        name : 'Giữ chỗ ưu tiên'
                    },
                ],
                data : null,
                count : {
                    number : 0,
                    price : 0,
                    paid : 0,
                    unpaid : 0,
                }
            }
        },
        computed : {
            report : function () {
                let data = this.data;
                if(!data){
                    return null;
                }
                let result = {
                    data : {},
                    total : {
                        number : 0,
                        price : 0,
                        paid : 0,
                        unpaid : 0,
                    }
                }

                $.each(data,function(i,e){
                    result.total.number+=e.number;
                    result.total.price+=e.price;
                    result.total.paid+=e.paidMoney;
                    result.total.unpaid+=e.unPaidMoney;

                    let status = func.checkTicketStatus(e);
                    let key = e.tripId+'-'+e.ticketCode+'-'+status.type;
                    e.sttTk = _.cloneDeep(status);
                    if(result.data[key]&&result.data[key].tripId ==e.tripId&&result.data[key].sttTk.type === e.sttTk.type){
                        result.data[key].number++;
                        result.data[key].price+=_.cloneDeep(e.price);
                        result.data[key].paidMoney+=_.cloneDeep(e.paidMoney);
                        result.data[key].unPaidMoney+=_.cloneDeep(e.unPaidMoney);
                        result.data[key].originalPrice+=_.cloneDeep(e.originalPrice);
                    }else{
                        result.data[key] = _.cloneDeep(e);
                    }

                });
                return result;
            }
        },
        methods : {
            getReport : function () {
                let self = this;
                let param = {
                    timeZone: 7,
                    companyId: userInfo.userInfo.companyId,
                    dateType : self.search.dateType,
                    startDate: func.dateToMS(self.search.startDate,self.search.startTime),
                    endDate: func.dateToMS(self.search.endDate,self.search.endTime),
                    // "departmentId": departmentId,
                    phoneNumber:self.search.phoneNumber,
                }
                if(self.search.vehicle){
                    param.numberPlate = self.search.vehicle.numberPlate;
                }
                if(self.search.driver){
                    param.driverId = self.search.driver.id;
                }
                if(self.search.assistant){
                    param.assistantId = self.search.assistant.id;
                }
                if(self.search.assistant){
                    param.assistantId = self.search.assistant.id;
                }
                if(self.search.source){
                    param.sourceId = self.$refs.SelectAgencyComponent.getIdString();
                }
                if(self.search.creator){
                    param.creatorId = self.search.creator.id;
                }
                if(self.search.cashier){
                    param.cashierUserId = self.search.cashier.id;
                }
                if(self.search.foreignKey){
                    param.foreignKey = self.search.foreignKey;
                }
                if(self.search.route){
                    param.routeId = self.search.route.routeId;
                }
                if(self.search.paymentType){
                    param.paymentType = self.search.paymentType;
                }
                if(self.search.platforms){
                    let plf = [];
                    $.each(self.search.platforms,function (p,pl) {
                        plf.push(pl.value);
                    });
                    param.platforms = plf;
                }
                if(self.search.ticketStatus){
                    let tks = [];
                    $.each(self.search.ticketStatus,function (s,status) {
                        tks.push(status.value);
                    });
                    param.ticketStatus = tks.toString();
                }
                self.load('getReportDetail');
                sendJson({
                    url : urlRP(API.reportDetail),
                    data : param,
                    success : function (data) {
                        self.data=_.cloneDeep(data.results.report);
                        self.unload('getReportDetail');
                    },
                    functionIfError : function (err) {
                        console.log(err)
                        self.unload('getReportDetail');
                    }
                })
            },
            setReport : function(data){
                let self = this;
                let count = {
                    number : 0,
                    price : 0,
                    paid : 0,
                    unpaid : 0,
                };
                $.each(data,function(i,e){
                    count.number+=e.number;
                    count.price+=e.price;
                    count.paid+=e.paidMoney;
                    count.unpaid+=e.unPaidMoney;
                });
                self.count = count;
                self.data=_.cloneDeep(data);
            },
            exportExcel : function () {
                this.excel($(this.$el).find('table'),'DANH_SACH_VE_');
                // $(this.$el).find('table').table2excel({
                //     name: "DANH SÁCH VÉ",
                //     filename: "DANH_SACH_VE_"+new Date().customFormat('#hhhh#h-#mm#p-#DD#-#MM#-#YYYY#')+'.xlsx',
                // })
                // let tableEP = $(this.$el).find('table').tableExport({
                //     headings: true,                    // (Boolean), display table headings (th/td elements) in the <thead>
                //     footers: true,                     // (Boolean), display table footers (th/td elements) in the <tfoot>
                //     formats: ["xlsx"],    // (String[]), filetypes for the export
                //     filename: "DANH_SACH_VE_"+new Date().customFormat('#hhhh#h-#mm#p-#DD#-#MM#-#YYYY#'),// (id, String), filename for the downloaded file
                //     bootstrap: false,                   // (Boolean), style buttons using bootstrap
                //     exportButtons: false
                // });
                //
                // let getEp = tableEP.getExportData()
                // let exportData = getEp[Object.keys(getEp)[0]]['xlsx'];
                //
                // tableEP.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
                // tableEP.remove();
            },
            print : function () {
                $(this.$el).find('.report-tbl').printThis();
            }
        }
    }
</script>
<style type="text/css" scoped>
    .report-hs [type="checkbox"]:not(:checked),.report-hs [type="checkbox"]:checked{
        position: initial;
    }
    .report-hs label{
        font-weight: normal;
        margin-right: 25px;
        margin-bottom: 10px;
    }
    .report-hs input{
        position: relative;
        top: 2px;
        left: 0;
        margin-right: 5px;
    }
    .report-hs li{
        padding-left: 5px;
    }
</style>
