<template>
    <div style="margin-bottom: 50px">
        <el-row>
            <div class="row col-12" style="padding-right: 0;">
                <div class="col-10 title-ret">
                    AV 30 Báo cáo Tổng hợp theo đại lý
                </div>
                <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
                    <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
                    <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
                </div>
            </div>
        </el-row>
        <div class="header-ret">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label>Từ ngày</label><br>
                        <el-time v-model="dateStart" :value="dateStart" ></el-time>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Đến ngày</label><br>
                        <el-time v-model="dateEnd" :value="dateEnd"></el-time>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Đại lý</label><br>
                        <el-select-agency class="w-100" v-model="agencySelects" clearable multiple ></el-select-agency>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Tuyến</label><br>
                        <select-route v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Hình thức đặt vé</label><br>
                        <el-select v-model="typeBook" placeholder="" clearable class="w-100" >
                            <el-option
                                    v-for="item in typeBooks"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Trạng thái</label><br>
                        <el-select v-model="typeStatus" multiple placeholder="" >
                            <el-option
                                    v-for="item in typeStatuss"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label></label><br>
                        <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                                        placeholder="Chọn giờ"></el-time-picker>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label></label><br>
                        <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                                        placeholder="Chọn giờ"></el-time-picker>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group" >
                        <label>&nbsp;</label>
                        <button class="btn btn-search btn-block" @click="getList()">
                            Lấy danh sách
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top20 tableReport" v-loading="loading">
            <div style="max-width: 100%;overflow-x: auto;">
                <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
                    <thead>
                    <tr class="text-center">
                        <!--<th class="rowHeader">{{$t('No-')}}</th>-->
                        <th class="rowHeader">Chuyến/Đại lý</th>
                        <th class="rowHeader">Ngày</th>
                        <th class="rowHeader" style="min-width: 100px;">Tuyến</th>
                        <th class="rowHeader">Các mã ghế</th>
                        <th class="rowHeader" style="min-width: 120px;">Số vé ĐL Bán</th>
                        <th class="rowHeader">Tổng tiền vé</th>
                        <th class="rowHeader">Đại lý thu tiền vé</th>
                        <th class="rowHeader">Trạng thái chuyến</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="list.length<=0">
                        <td colspan="9 " class="text-center">{{$t('no-data-available')}}</td>
                    </tr>
                    <tr class="font-weight-bold text-center" v-if="list.length > 0">
                        <td class="rowAllTotal" colspan="3">Tổng cộng</td>
                        <td class="rowAllTotal"></td>
                        <td class="rowAllTotal">{{totalTicketSold| number}}</td>
                        <td class="rowAllTotal">{{totalMoneySold| number}}</td>
                        <td class="rowAllTotal"></td>
                        <td class="rowAllTotal"></td>
                    </tr>
                    <template v-for="(vh,key) in list">
                        <tr class="font-weight-bold text-center">
                            <!--<td class="text-left rowTotal">{{key+1}}</td>-->
                            <td class="rowTotal" colspan="2" style="font-style: oblique;text-align: left">Đại lý: {{vh.agencyName}}</td>
                            <!--{{ vh.numberPlace | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}-->
                            <td></td>
                            <td></td>
                            <td class="rowTotal">{{vh.totalTicketSold | number}}</td>
                            <td class="rowTotal">{{vh.totalMoneySold | number}}</td>
                            <td class="rowTotal"></td>
                            <td class="rowTotal"></td>
                        </tr>
                        <template v-for="(trip, tripIndex) in vh.trips">
                            <tr class=" font-weight-bold text-center">
                                <!--<td class="text-left"> {{ key+1}}. {{priceIndex+1}}</td>-->
                                <td class="rowH">{{trip.startTimeReality |customDate('#hhhh#:#mm#', true)}}</td>
                                <td class="rowH">{{trip.startDateReality| strToDate}}</td>
                                <td class="rowH">{{trip.routeName}}</td>
                                <td class="rowH">
                                    <template v-for="(seat_id,d) in trip.seat_ids">
                                        {{seat_id && d < (trip.seat_ids.length - 1) ? seat_id + ', ' : seat_id && d == (trip.seat_ids.length - 1) ? seat_id : ''}}
                                    </template>
                                </td>
                                <td class="rowH">{{trip.totalTicket|number}}</td>
                                <td class="rowH">{{trip.totalMoney|number}}</td>
                                <td class="rowH">{{ trip.chargeForAgency ? 'Đại lý thu' : '' }}</td>
                                <td class="rowH">{{trip.tripStatus | checkTripStatus}}</td>

                            </tr>
                        </template>
                    </template>
                    </tbody>
                </table>
                <!-- del footer -->
            </div>
        </div>
    </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import ElSelectAgency from "../Agency/SelectAgency";
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElSelectAgency,ElTime},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                agencySelects: null,
                typeStatus: null,
                typeStatuss: [
                    {
                        value: 1,
                        label: 'Chưa xuất bến'
                    },
                    {
                        value: 2,
                        label: 'Đã xuất'
                    },
                    {
                        value: 3,
                        label: 'Đã hoàn thành '
                    },
                    {
                        value: 4,
                        label: 'Hủy'
                    },
                ],
                routeSelected: null,
                typeBook: null,
                typeBooks: [
                    {
                        value: 1,
                        label: 'Đại lý đặt'
                    },
                    {
                        value: 0,
                        label: 'Nhà xe đặt'
                    },
                ],
                policyAgency: []


            }
        },
        mounted: function(){
            this.getPolicyAgency()
        },
        methods: {
            getPolicyAgency : function () {
                let self = this;
                let dataSend = {
                    page :0,
                    count:100,
                };
                sendJson({
                    url : urlDBD(API.policyAgencyList),
                    data : dataSend,
                    success: function (data) {
                        self.policyAgency = data.results.listAgencyPolicy
                        console.log(self.policyAgency)
                    },
                    functionIfError : function (res) {
                    }
                })
            },
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_TỔNG_HỢP_THEO_ĐẠI_LÝ');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                // if(self.selectedRoom == null || self.selectedRoom.length == 0){
                //     notify('Vui lòng chọn phòng vé','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.agencySelects && self.agencySelects.length > 0){
                    params.agencyIds = []
                    $.each(self.agencySelects, function (r,user) {
                        params.agencyIds.push(user.id)
                    })
                }
                if (self.routeSelected && self.routeSelected.length > 0){
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                if (self.typeStatus && self.typeStatus.length > 0) {
                    params.tripStatus = self.typeStatus
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/report-detail-ticket-by-agency ',
                    data : params,
                    success : function (data) {
                        let dataRp = data
                        let listAgencySold = []
                        let listAgencyUnSold = []
                        if (self.typeBook && self.typeBook == 1){
                            $.each(data, function (t,ticket) {
                                if (ticket.whoBook == 1){
                                    listAgencySold.push(ticket)
                                }

                            })
                            dataRp = listAgencySold
                        }
                        if (self.typeBook && self.typeBook == 0){
                            $.each(data, function (t,ticket) {
                                if (ticket.whoBook == 0){
                                    listAgencyUnSold.push(ticket)
                                }
                            })
                            dataRp = listAgencySold
                        }
                        let a = []
                        let keys = []
                        $.each (dataRp, function (t,ticket) {
                            let x = true
                            if (keys.length > 0) {
                                $.each(keys, function (k, key) {
                                    if (ticket.agencyId == key){
                                        x = false
                                    }
                                })
                            }
                            if (keys == [] || x){
                                let b = {
                                    agencyName : ticket.agencyName,
                                    totalTicketSold: 0,
                                    totalMoneySold: 0,
                                    trips: [],
                                    agencyId: ticket.agencyId
                                }
                                let tripIdkeys = []
                                let tripIdkeys2 = []
                                $.each (dataRp, function (t,ticket) {
                                    let y = true
                                    if (tripIdkeys.length > 0) {
                                        $.each(tripIdkeys, function (k, key) {
                                            if (ticket.tripId == key){
                                                y = false
                                            }
                                        })
                                    }
                                    if (ticket.agencyId == b.agencyId && tripIdkeys == [] && ticket.chargeForAgency || ticket.agencyId == b.agencyId && y && ticket.chargeForAgency) {
                                        let c = {
                                            routeId: ticket.routeId,
                                            agencyLevel: ticket.agencyLevel,
                                            tripId: ticket.tripId,
                                            tripStatus: ticket.tripStatus,
                                            routeName: ticket.routeName,
                                            startTimeReality: ticket.startTimeReality,
                                            startDateReality: ticket.startDateReality,
                                            seat_ids: [],
                                            totalTicket: 0,
                                            totalMoney: 0,
                                            commission: 0,
                                            chargeForAgency: ticket.chargeForAgency
                                        }
                                        $.each(self.policyAgency, function (p, policy) {
                                            if(policy.routeId == c.routeId){
                                                $.each(policy.commission, function (po, pinkFlower) {
                                                    if(c.agencyLevel == pinkFlower.level){
                                                        if(pinkFlower.commissionType == 2){
                                                            c.commission = (pinkFlower.commissionValue * 100) + '%'
                                                        }
                                                        if(pinkFlower.commissionType == 1){
                                                            c.commission = func.formatMoney(pinkFlower.commissionValue) + 'VND'
                                                        }
                                                    }
                                                })
                                            }
                                        })
                                        $.each(dataRp, function (t, ticket) {
                                            if (ticket.agencyId == b.agencyId && ticket.tripId == c.tripId && ticket.chargeForAgency){
                                                c.seat_ids.push(ticket.seat_id)
                                                c.totalTicket ++
                                                c.totalMoney += ticket.agencyPrice
                                            }
                                        })
                                        b.trips.push(c)
                                        b.totalTicketSold += c.totalTicket
                                        b.totalMoneySold += c.totalMoney
                                        tripIdkeys.push(ticket.tripId)
                                    }
                                })
                                $.each (dataRp, function (t,ticket) {
                                    let z = true
                                    if (tripIdkeys2.length > 0) {
                                        $.each(tripIdkeys2, function (k, key) {
                                            if (ticket.tripId == key){
                                                z = false
                                            }
                                        })
                                    }
                                    if (ticket.agencyId == b.agencyId && tripIdkeys2 == [] && !ticket.chargeForAgency || ticket.agencyId == b.agencyId && z && !ticket.chargeForAgency) {
                                        let d = {
                                            routeId: ticket.routeId,
                                            agencyLevel: ticket.agencyLevel,
                                            tripId: ticket.tripId,
                                            tripStatus: ticket.tripStatus,
                                            routeName: ticket.routeName,
                                            startTimeReality: ticket.startTimeReality,
                                            startDateReality: ticket.startDateReality,
                                            seat_ids: [],
                                            totalTicket: 0,
                                            totalMoney: 0,
                                            commission: 0,
                                            chargeForAgency: ticket.chargeForAgency
                                        }
                                        $.each(self.policyAgency, function (p, policy) {
                                            if(policy.routeId == d.routeId){
                                                $.each(policy.commission, function (po, pinkFlower) {
                                                    if(d.agencyLevel == pinkFlower.level){
                                                        if(pinkFlower.commissionType == 2){
                                                            d.commission = (pinkFlower.commissionValue * 100) + '%'
                                                        }
                                                        if(pinkFlower.commissionType == 1){
                                                            d.commission = func.formatMoney(pinkFlower.commissionValue) + 'VND'
                                                        }
                                                    }
                                                })
                                            }
                                        })
                                        $.each(dataRp, function (t, ticket) {
                                            if (ticket.agencyId == b.agencyId && ticket.tripId == d.tripId && !ticket.chargeForAgency){
                                                d.seat_ids.push(ticket.seat_id)
                                                d.totalTicket ++
                                                d.totalMoney += ticket.agencyPrice
                                            }
                                        })
                                        b.trips.push(d)
                                        b.totalTicketSold += d.totalTicket
                                        b.totalMoneySold += d.totalMoney
                                        tripIdkeys2.push(ticket.tripId)
                                    }

                                })
                                a.push(b)
                                keys.push(ticket.agencyId)
                            }
                        })
                        // Filter by who booked
                        self.list = a
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            totalTicketSold :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicketSold ? li.totalTicketSold : 0
                })
                return a
            },
            totalMoneySold :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalMoneySold ? li.totalMoneySold : 0
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
    .rowHeader {
        font-family: sans-serif !important;
        vertical-align: top;
    }
    .rowTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 16px !important
    }
    .rowAllTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 18px !important
    }
    .rowH {
        font-family: sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px !important
    }
    .btn-search{
        background: rgba(8, 67, 136, 0.89);
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        line-height: 1.6;
    }
    .btn-search:hover{
        background: #084388;
    }
    .header-ret{
        background: #ECEDF1;
        padding: 8px;
    }
    .title-ret {
        font-family: Montserrat !important;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .date-ranger{
        max-width: 33% !important;
    }
    .statistic-content{
        padding: 16px 8px;
    }
    .item-statistic h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
    }
    .item-statistic h5:first-child{
        margin-bottom: 8px;
    }
    .item-statistic h5 span{
        color: #084388;
    }
    .table thead{
        background: #CFD3DB;
    }
    .table td, .table td h5{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
    .table td h6{
        color: #9198A9;
        font-size: 12px;
        margin: 4px 0;
    }
    .table tbody tr{
        background-color: #fff;
    }
    .box-action{
        text-align: center;
    }
    .box-action button{
        padding: 6px 8px;
        border-radius: 8px;
        border: none;
        margin: 0 4px;
    }
    .box-action button i{
        color: #084388;
    }
</style>
