<template>
  <div>
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 31: Báo cáo tổng hợp theo ngày (Vé, hàng theo tuyến)
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Chon ngày (Chọn tối đa 7 ngày trong quá khứ) </label><br>
            <el-date-picker
                    type="dates"
                    class="w-100"
                    format="dd-MM-yyyy"
                    value-format="yyyyMMdd"
                    :picker-options="options"
                    v-model="dateSelected"
                    clearable
                    placeholder="Chọn tối đa 7 ngày trong quá khứ">
            </el-date-picker>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route style="min-width: 210px;" v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader">Tuyến</th>
            <template v-for="(date, index) in dateSelected2">
              <th class="rowHeader" style="min-width: 120px">{{date | strToDate}}</th>
            </template>
            <th class="rowHeader" style="min-width: 160px">Tổng (theo TG lọc)</th>
            <th class="rowHeader" style="min-width: 150px">Tỷ lệ % (TG lọc)</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="16" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Tổng cộng (DT vé + hàng)</td>
            <template v-for="(list, li) in totalTicketGood">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">% DT (theo TG lọc)</td>
            <template v-for="(list, li) in persentIncome">
              <td class="rowAllTotal">{{(list ? list : '') | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Số chuyến (đã XB)</td>
            <template v-for="(list, li) in totalTrip">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Số khách (vé)</td>
            <template v-for="(list, li) in totalPassenger">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Số khách BQ</td>
            <template v-for="(list, li) in averagePassenger">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Tổng doanh thu vé</td>
            <template v-for="(list, li) in totalIncomeTicket">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">DT vé Phòng vé</td>
            <template v-for="(list, li) in totalIncomeTicketRoom">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">DT vé Đại lý bán</td>
            <template v-for="(list, li) in totalIncomeTicketAgency">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">DT vé đón dd (GPS)</td>
            <template v-for="(list, li) in totalIncomePickUp">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal">Tổng doanh thu hàng</td>
            <template v-for="(list, li) in totalIncomeGood">
              <td class="rowAllTotal">{{(list ? list : 0) | number}}</td>
            </template>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal"></td>
            <template v-for="(list, li) in dateSelected2">
              <td class="rowAllTotal"></td>
            </template>
            <td></td>
            <td></td>
          </tr>
          <!--detail Route-->
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowTotal" style="text-align: left;min-width: 360px;">Tuyến {{vh.routeName}} (DT Ve + Hàng)</td>
              <template v-for="(list, li) in vh.totalTicketGood">
                <td class="rowTotal">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowTotal">% DT (theo TG lọc)</td>
              <template v-for="(list, li) in vh.persentIncome">
                <td class="rowTotal">{{(list ? ((list*100)/vh.totalTicketGood[vh.totalTicketGood.length -2]).toFixed(1) + '%' : '') | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">Số chuyến (đã XB)</td>
              <template v-for="(list, li) in vh.totalTrip">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">Số khách (vé)</td>
              <template v-for="(list, li) in vh.totalPassenger">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">Số khách BQ</td>
              <template v-for="(list, li) in vh.averagePassenger">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">Tổng doanh thu vé</td>
              <template v-for="(list, li) in vh.totalIncomeTicket">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">DT vé Phòng vé</td>
              <template v-for="(list, li) in vh.totalIncomeTicketRoom">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">DT vé Đại lý bán</td>
              <template v-for="(list, li) in vh.totalIncomeTicketAgency">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">DT vé đón dd (GPS)</td>
              <template v-for="(list, li) in vh.totalIncomePickUp">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowH">Tổng doanh thu hàng</td>
              <template v-for="(list, li) in vh.totalIncomeGood">
                <td class="rowH">{{(list ? list : 0) | number}}</td>
              </template>
            </tr>

          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                listRepair: [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                routeSelected: null,
                dateSelected: [this.$options.filters.customDate((new Date().getTime()- 86400000),'#YYYY##MM##DD#')],
                dateSelected2: [this.$options.filters.customDate((new Date().getTime()- 86400000),'#YYYY##MM##DD#')]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'Báo cáo tổng hợp theo ngày');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateSelected == null  || self.dateSelected.length == 0){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.dateSelected.length > 7){
                    notify('Vui lòng chọn tối đa 7 ngày','error');
                    return false;
                }
                if(self.dateSelected && self.dateSelected.length > 0){
                    let a = false
                    $.each(self.dateSelected, function (d, date) {
                        if(func.dateStrToMs(date) >= self.dateStart){
                            a = true
                        }
                    })
                    if (a) {
                        notify('Vui lòng chọn ngày trong quá khứ','error');
                        return false;
                    }
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,

                };
                if (self.dateSelected && self.dateSelected.length > 0) {
                    let a = ''
                    let b = []
                    $.each(self.dateSelected, function (d, date) {
                        a = new Date((func.dateStrToMs(date))- 31557600000).customFormat('#YYYY##MM##DD#')
                        b.push(a)
                        b.push(date)
                    })
                    self.dateSelected2 = b
                    params.dateRange = self.dateSelected2
                }
                if (self.routeSelected && self.routeSelected.length > 0){
                    params.routeIds = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeIds.push(route.routeId)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/general-route-report-by-date',
                    data : params,
                    success : function (data) {
                        let repairList = []
                        let rowTotal = {
                            totalTicketGood: [],
                            persentIncome: [],
                            totalTrip: [],
                            totalPassenger: [],
                            averagePassenger: [],
                            totalIncomeTicket: [],
                            totalIncomeTicketRoom: [],
                            totalIncomeTicketAgency: [],
                            totalIncomePickUp: [],
                            totalIncomeGood: []
                        }
                        let routeKey = []
                        $.each(data, function (r, route) {
                            let x = true
                            if (routeKey.length > 0) {
                                $.each(routeKey, function (k, key) {
                                    if (route.routeId == key){
                                        x = false
                                    }
                                })
                            }
                            if (routeKey == [] || x) {
                                let rowRoute = {
                                    routeName: route.routeName,
                                    routeId: route.routeId,
                                    totalTicketGood: [],
                                    persentIncome: [],
                                    totalTrip: [],
                                    totalPassenger: [],
                                    averagePassenger: [],
                                    totalIncomeTicket: [],
                                    totalIncomeTicketRoom: [],
                                    totalIncomeTicketAgency: [],
                                    totalIncomePickUp: [],
                                    totalIncomeGood: [],
                                //    /////////////
                                    totalTicketGoodPlus: 0,
                                    persentIncomePlus: 0,
                                    totalTripPlus: 0,
                                    totalPassengerPlus: 0,
                                    averagePassengerPlus: 0,
                                    totalIncomeTicketPlus: 0,
                                    totalIncomeTicketRoomPlus: 0,
                                    totalIncomeTicketAgencyPlus: 0,
                                    totalIncomePickUpPlus: 0,
                                    totalIncomeGoodPlus: 0
                                }
                                let repairRow = []
                                $.each(data, function (r, route) {
                                    if (rowRoute.routeId == route.routeId){
                                        repairRow.push(route)
                                    }
                                })
                                if (repairRow.length < self.dateSelected2.length){
                                    $.each(self.dateSelected2, function (d, date) {
                                        let x = true
                                        $.each(repairRow, function (r, route) {
                                            if (date == route.dateRange){
                                                x = false
                                                rowRoute.totalTicketGood.push(parseInt(route.totalSaleMoney))
                                                rowRoute.persentIncome.push(parseInt(route.totalSaleMoney))
                                                rowRoute.totalTrip.push(parseInt(route.tripAmount))
                                                rowRoute.totalPassenger.push(parseInt(route.ticketSaleAmount))
                                                rowRoute.averagePassenger.push(parseInt(route.ticketSaleAverage))
                                                rowRoute.totalIncomeTicket.push(parseInt(route.ticketSaleMoney))
                                                rowRoute.totalIncomeTicketRoom.push(parseInt(route.roomTicketSaleMoney))
                                                rowRoute.totalIncomeTicketAgency.push(parseInt(route.agencyTicketSaleMoney))
                                                rowRoute.totalIncomePickUp.push(parseInt(route.otherTicketSaleMoney))
                                                rowRoute.totalIncomeGood.push(parseInt(route.goodsSaleMoney))
                                            //    ///////////
                                                rowRoute.totalTicketGoodPlus += (parseInt(route.totalSaleMoney))
                                                rowRoute.persentIncomePlus += (parseInt(route.totalSaleMoney))
                                                rowRoute.totalTripPlus += (parseInt(route.tripAmount))
                                                rowRoute.totalPassengerPlus += (parseInt(route.ticketSaleAmount))
                                                rowRoute.averagePassengerPlus += (parseInt(route.ticketSaleAverage))
                                                rowRoute.totalIncomeTicketPlus += (parseInt(route.ticketSaleMoney))
                                                rowRoute.totalIncomeTicketRoomPlus += (parseInt(route.roomTicketSaleMoney))
                                                rowRoute.totalIncomeTicketAgencyPlus += (parseInt(route.agencyTicketSaleMoney))
                                                rowRoute.totalIncomePickUpPlus += (parseInt(route.otherTicketSaleMoney))
                                                rowRoute.totalIncomeGoodPlus += (parseInt(route.goodsSaleMoney))
                                            }
                                        })
                                        if (x){
                                            rowRoute.totalTicketGood.push(0)
                                            rowRoute.persentIncome.push(0)
                                            rowRoute.totalTrip.push(0)
                                            rowRoute.totalPassenger.push(0)
                                            rowRoute.averagePassenger.push(0)
                                            rowRoute.totalIncomeTicket.push(0)
                                            rowRoute.totalIncomeTicketRoom.push(0)
                                            rowRoute.totalIncomeTicketAgency.push(0)
                                            rowRoute.totalIncomePickUp.push(0)
                                            rowRoute.totalIncomeGood.push(0)
                                        }
                                    })

                                }
                                repairList.push(rowRoute)
                                routeKey.push(route.routeId)
                            }
                        })
                        $.each(repairList, function (l, li) {
                            li.totalTicketGood.push(li.totalTicketGoodPlus)
                            li.persentIncome.push(li.persentIncomePlus)
                            li.totalTrip.push(li.totalTripPlus)
                            li.totalPassenger.push(li.totalPassengerPlus)
                            li.averagePassenger.push(li.averagePassengerPlus)
                            li.totalIncomeTicket.push(li.totalIncomeTicketPlus)
                            li.totalIncomeTicketRoom.push(li.totalIncomeTicketRoomPlus)
                            li.totalIncomeTicketAgency.push(li.totalIncomeTicketAgencyPlus)
                            li.totalIncomePickUp.push(li.totalIncomePickUpPlus)
                            li.totalIncomeGood.push(li.totalIncomeGoodPlus)
                        })

                        self.listRepair = repairList
                        $.each(repairList, function (l, li) {
                            if (li.totalTicketGoodPlus == 0 || self.totalTicketGood[self.dateSelected2.length] == 0){
                                li.totalTicketGood.push('0 %')
                            } else {
                                li.totalTicketGood.push(((li.totalTicketGoodPlus * 100 / self.totalTicketGood[self.dateSelected2.length]).toFixed(1)) + '%')
                            }
                                li.persentIncome.push('')

                            if (li.totalTripPlus == 0 || self.totalTrip[self.dateSelected2.length] == 0){
                                li.totalTrip.push('0 %')
                            } else {
                                li.totalTrip.push(((li.totalTripPlus * 100 / self.totalTrip[self.dateSelected2.length]).toFixed(1)) + '%')
                            }
                            if (li.totalPassengerPlus == 0 || self.totalPassenger[self.dateSelected2.length] == 0){
                                li.totalPassenger.push('0 %')
                            } else {
                                li.totalPassenger.push(((li.totalPassengerPlus * 100 / self.totalPassenger[self.dateSelected2.length]).toFixed(1)) + '%')
                            }
                            if (li.averagePassengerPlus == 0 || self.averagePassenger[self.dateSelected2.length] == 0){
                                li.averagePassenger.push('0 %')
                            } else {
                                li.averagePassenger.push(((li.averagePassengerPlus* 100 / self.averagePassenger[self.dateSelected2.length]).toFixed(1)) + '%')
                            }
                            if (li.totalIncomeTicketPlus == 0 || self.totalIncomeTicket[self.dateSelected2.length] == 0){
                                li.totalIncomeTicket.push('0 %')
                            } else {
                                li.totalIncomeTicket.push(((li.totalIncomeTicketPlus * 100 / self.totalIncomeTicket[self.dateSelected2.length]).toFixed(1)) + '%')
                            }

                            if (li.totalIncomeTicketRoomPlus == 0 || self.totalIncomeTicketRoom[self.dateSelected2.length] == 0){
                                li.totalIncomeTicketRoom.push('0 %')
                            } else {
                                li.totalIncomeTicketRoom.push(((li.totalIncomeTicketRoomPlus * 100 / self.totalIncomeTicketRoom[self.dateSelected2.length]).toFixed(1)) + '%')
                            }

                            if (li.totalIncomeTicketAgencyPlus == 0 || self.totalIncomeTicketAgency[self.dateSelected2.length] == 0){
                                li.totalIncomeTicketAgency.push('0 %')
                            } else {
                                li.totalIncomeTicketAgency.push(((li.totalIncomeTicketAgencyPlus * 100 / self.totalIncomeTicketAgency[self.dateSelected2.length]).toFixed(1)) + '%')
                            }

                            if (li.totalIncomePickUpPlus == 0 || self.totalIncomePickUp[self.dateSelected2.length] == 0){
                                li.totalIncomePickUp.push('0 %')
                            } else {
                                li.totalIncomePickUp.push(((li.totalIncomePickUpPlus * 100 / self.totalIncomePickUp[self.dateSelected2.length]).toFixed(1)) + '%')
                            }

                            if (li.totalIncomeGoodPlus == 0 || self.totalIncomeGood[self.dateSelected2.length] == 0){
                                li.totalIncomeGood.push('0 %')
                            } else {
                                li.totalIncomeGood.push(((li.totalIncomeGoodPlus * 100 / self.totalIncomeGood[self.dateSelected2.length]).toFixed(1)) + '%')
                            }
                        })
                        self.list = repairList
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            totalTicketGood :function () {
                let a = []
                for(let i = 0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalTicketGood[i] ? li.totalTicketGood[i] : 0
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            persentIncome :function () {
                let self = this
                let a = []

                for(let i = 0; i < self.dateSelected2.length + 1; i++){
                    let b = 0
                    if (self.totalTicketGood[i] == 0 || self.totalTicketGood[self.dateSelected2.length] == 0) {
                        b = 0 + '%'
                    } else {
                        b = ((self.totalTicketGood[i]* 100/self.totalTicketGood[self.dateSelected2.length]).toFixed(1)) + '%'
                    }
                    a.push(b)
                }
                a.push('')
                return a
            },
            totalTrip :function () {
                let a = []

                for(let i =0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalTrip[i]
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            totalPassenger :function () {
                let a = []

                for(let i =0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalPassenger[i]
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            averagePassenger :function () {
                let a = []
                let self = this
                let length = self.dateSelected2.length
                for(let i = 0; i < length + 1; i++){
                    let b = 0
                    if (self.totalPassenger[i] == 0 || self.totalTrip[length] == 0) {
                        b = 0
                    } else {
                        b = ((self.totalPassenger[i]/self.totalTrip[length]).toFixed(0))
                    }
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            totalIncomeTicket :function () {
                let a = []

                for(let i =0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalIncomeTicket[i]
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            totalIncomeTicketRoom :function () {
                let a = []

                for(let i =0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalIncomeTicketRoom[i]
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            totalIncomeTicketAgency :function () {
                let a = []

                for(let i =0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalIncomeTicketAgency[i]
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            totalIncomePickUp :function () {
                let a = []

                for(let i =0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalIncomePickUp[i]
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },
            totalIncomeGood :function () {
                let a = []

                for(let i =0; i < this.dateSelected2.length + 1; i++){
                    let b = 0
                    $.each(this.listRepair, function (l,li) {
                        b += li.totalIncomeGood[i]
                    })
                    a.push(b)
                }
                a.push('100%')
                return a
            },

        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
