<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV3 :Báo cáo tổng hợp doanh thu theo tuyến
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-date-picker class="w-100" v-model="dateStart" format="dd-MM-yyyy" :picker-options="options" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-date-picker class="w-100" v-model="dateEnd" format="dd-MM-yyyy" :picker-options="options" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <th class="rowHeader">{{$t('No-')}}</th>
            <th class="rowHeader">Tuyến</th>
            <th class="rowHeader">Loại xe</th>
            <th class="rowHeader">Số chuyến đã chạy</th>
            <th class="rowHeader">Công suất chỗ</th>
            <th class="rowHeader">Tổng số vé</th>
            <th class="rowHeader">Số vé của Phòng vé/tổng đài</th>
            <th class="rowHeader">Số của vé Đại lý</th>
            <th class="rowHeader">Số vé online<br>(Web, AppNX)</th>
            <th class="rowHeader">Số vé lái xe bán</th>
            <th class="rowHeader">Số vé đối tác bán vé An Vui</th>
            <th class="rowHeader">Tỷ lệ lấp đầy</th>
            <th class="rowHeader">Số khách BQ/chuyến</th>
            <th class="rowHeader">Tổng doanh thu</th>
            <th class="rowHeader">Doanh thu BQ/chuyến</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="15" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="3">Tổng cộng</td>
            <td class="rowAllTotal">{{numberOfTrip|number}}</td>
            <td class="rowAllTotal">{{totalnumberOfSeats|number}}</td>
            <td class="rowAllTotal">{{allTotalTicket|number}}</td>
            <td class="rowAllTotal">{{allTotalTicketBoard|number}}</td>
            <td class="rowAllTotal">{{allTotalTicketAgency|number}}</td>
            <td class="rowAllTotal">{{allTotalTicketOnline|number}}</td>
            <td class="rowAllTotal">{{allTotalTicketDriver|number}}</td>
            <td class="rowAllTotal">{{allTotalTicketPartner|number}}</td>
            <td class="rowAllTotal">{{percent|number}} %</td>
            <td class="rowAllTotal">{{totalTicketAverage|number}}</td>
            <td class="rowAllTotal">{{totalRevenue|number}}</td>
            <td class="rowAllTotal">{{totalRevenueAverage|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="text-left rowTotal">{{key+1}}</td>
              <td class="rowTotal" colspan="2" style="font-style: oblique">Tổng cộng tuyến {{vh.routeName}}</td>
              <!--{{ vh.numberPlace | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}-->
              <td class="rowTotal">{{vh.numberOfTrip|number}}</td>
              <td class="rowTotal">{{vh.totalnumberOfSeats|number}}</td>
              <td class="rowTotal">{{vh.allTotalTicket|number}}</td>
              <td class="rowTotal">{{vh.allTotalTicketBoard|number}}</td>
              <td class="rowTotal">{{vh.allTotalTicketAgency|number}}</td>
              <td class="rowTotal">{{vh.allTotalTicketOnline|number}}</td>
              <td class="rowTotal">{{vh.allTotalTicketDriver|number}}</td>
              <td class="rowTotal">{{vh.allTotalTicketPartner|number}}</td>
              <td class="rowTotal">{{vh.percent|number}} %</td>
              <td class="rowTotal">{{vh.totalTicketAverage|number}}</td>
              <td class="rowTotal">{{vh.totalRevenue|number}}</td>
              <td class="rowTotal">{{vh.totalRevenueAverage|number}}</td>
            </tr>
            <template v-for="(route, routeIndex) in vh.routes">
              <tr class=" font-weight-bold text-center">
                <td class="text-left"> {{ key+1}}. {{routeIndex+1}}</td>
                <td class="rowH">Tuyến {{route.routeName}}</td>
                <td class="rowH">{{route.vehicleName}}</td>
                <td class="rowH">{{route.totalTrip}}</td>
                <td class="rowH">{{route.numberOfSeats|number}}</td>
                <td class="rowH">{{route.totalTicket|number}}</td>
                <td class="rowH">{{route.totalTicketBoard|number}}</td>
                <td class="rowH">{{route.totalTicketAgency|number}}</td>
                <td class="rowH">{{route.totalTicketOnline|number}}</td>
                <td class="rowH">{{route.totalTicketDriver|number}}</td>
                <td class="rowH">{{route.totalTicketPartner|number}}</td>
                <td class="rowH">{{(Math.ceil(10000*route.totalTicket/route.numberOfSeats )/100).toFixed(1)}} %</td>
                <td class="rowH">{{(Math.ceil(route.totalTicket/route.totalTrip)).toFixed(1)}}</td>
                <td class="rowH">{{route.revenue|number}}</td>
                <td class="rowH">{{(Math.ceil(route.revenue/route.totalTrip)).toFixed(0)|number}}</td>
              </tr>
            </template>
          </template>
          </tbody>
          <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- <td></td> -->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tfoot>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                routeSelected: null


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                // if(self.routeSelected == null || self.routeSelected.length == 0){
                //     notify('Vui lòng chọn tuyến','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.routeSelected && self.routeSelected.length > 0){
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-route-revenue',
                    data : params,
                    success : function (data) {
                        let a = []
                        let keys = []
                        $.each (data, function (t,ticket) {
                            let x = true
                            if (keys.length > 0) {
                                $.each(keys, function (k, key) {
                                    if (ticket.routeId == key){
                                        x = false
                                    }
                                })
                            }
                            if (keys == [] || x){
                                let b = {
                                    routeId : ticket.routeId,
                                    routeName : ticket.routeName,
                                    numberOfTrip: 0,
                                    routes: [],
                                    totalnumberOfSeats: 0,
                                    allTotalTicket: 0,
                                    allTotalTicketBoard: 0,
                                    allTotalTicketAgency: 0,
                                    allTotalTicketOnline: 0,
                                    allTotalTicketDriver: 0,
                                    allTotalTicketPartner: 0,
                                    percent: 0,
                                    totalRevenue: 0,
                                    totalRevenueAverage: 0,
                                    totalTicketAverage: 0,
                                }
                                $.each (data, function (t,ticket) {
                                    if (ticket.routeId == b.routeId) {
                                        let c = {
                                            routeName: ticket.routeName,
                                            numberOfSeats: ticket.numberOfSeats,
                                            totalTicket: ticket.totalTicket,
                                            totalTicketBoard: ticket.totalTicketBoard,
                                            totalTicketAgency: ticket.totalTicketAgency,
                                            totalTicketOnline: ticket.totalTicketOnline,
                                            totalTicketDriver: ticket.totalTicketDriver,
                                            totalTicketPartner: ticket.totalTicketPartner,
                                            revenue: ticket.revenue,
                                            totalTrip: ticket.totalTrip,
                                            vehicleName: ticket.vehicleName,
                                        }
                                        b.routes.push(c)
                                        b.numberOfTrip += ticket.totalTrip
                                        b.totalnumberOfSeats += ticket.numberOfSeats
                                        b.allTotalTicket += ticket.totalTicket
                                        b.allTotalTicketBoard += ticket.totalTicketBoard
                                        b.allTotalTicketAgency += ticket.totalTicketAgency
                                        b.allTotalTicketOnline += ticket.totalTicketOnline
                                        b.allTotalTicketDriver += ticket.totalTicketDriver
                                        b.allTotalTicketPartner += ticket.totalTicketPartner
                                        b.totalRevenue += ticket.revenue
                                    }
                                })
                                b.percent = (Math.ceil(10000*b.allTotalTicket/b.totalnumberOfSeats)/100).toFixed(1)

                                b.totalRevenueAverage = (Math.ceil(b.totalRevenue/b.numberOfTrip)).toFixed(0)
                                b.totalTicketAverage = (Math.ceil(b.allTotalTicket/b.numberOfTrip)).toFixed(0)
                                a.push(b)
                                keys.push(ticket.routeId)
                            }
                        })
                        self.list = a
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            numberOfTrip :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.numberOfTrip
                })
                return a
            },

            totalnumberOfSeats :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalnumberOfSeats
                })
                return a
            },
            allTotalTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTotalTicket
                })
                return a
            },
            allTotalTicketBoard :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTotalTicketBoard
                })
                return a
            },
            allTotalTicketAgency :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTotalTicketAgency
                })
                return a
            },
            allTotalTicketOnline :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTotalTicketOnline
                })
                return a
            },
            allTotalTicketDriver :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTotalTicketDriver
                })
                return a
            },
            allTotalTicketPartner :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTotalTicketPartner
                })
                return a
            },
            percent :function () {
                return (Math.ceil(10000 *this.allTotalTicket / this.totalnumberOfSeats) /100).toFixed(1)
            },
            totalRevenue :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalRevenue
                })
                return a
            },
            totalRevenueAverage :function () {
                return (Math.ceil(this.totalRevenue/this.numberOfTrip)).toFixed(0)
            },
            totalTicketAverage :function () {
                return (Math.ceil(this.allTotalTicket/this.numberOfTrip)).toFixed(0)
            }
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
