<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">AV 18: Báo cáo tổng hợp tiền vé gán Thanh toán trên xe</span>
        <!-- <span class="float-right">
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i>
            {{ $t('export-excel')}}
          </button>
        </span>-->
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item date-filter">
          <label>Thời gian</label>
          <el-date-picker
            v-model="form.dateRange"
            class="w-100"
            type="daterange"
            :format="dateFormat"
            :value-format="dateFormat"
            :picker-options="optionsTime"
            :clearable="false"
            range-separator="-"
            start-placeholder="Bắt đầu"
            end-placeholder="Kết thúc"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Tuyến</label>
          <select-route v-model="form.route" :clearable="true" :multiple="true" class="w-100"></select-route>
        </div>
        <div class="filter-item">
          <label>Tài xế</label>
          <e-select-user class="w-100" v-model="form.user" :clearable="true" :multiple="true"></e-select-user>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >{{$t('button.filter')}}</button>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important;font-weight: 500 !important;"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{$t('No-')}}</th>
            <th class="rowHeader">Tên tài xế/ chuyến</th>
            <th class="rowHeader">Ngày</th>
            <th class="rowHeader">Biển số xe</th>
            <th class="rowHeader">
              Tên tài xế 2
              <br />(nếu có)
            </th>
            <th class="rowHeader">
              Tên phụ xe
              <br />(nếu có)
            </th>
            <th class="rowHeader">Tuyến</th>
            <th class="rowHeader">
              Số vé gán HTTT:
              <br />Thanh toán trên xe
            </th>
            <th class="rowHeader">
              Tiền vé gán HTTT:
              <br />Thanh toán trên xe
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td colspan="14" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <template v-if="reportData.length != 0">
            <tr class="font-weight-bold text-center">
              <td></td>
              <td class="rowAllTotal text-left" colspan="6">Tổng cộng số tiền</td>
              <td class="rowAllTotal">{{reportDataTotal.totalTicket | number}}</td>
              <td class="rowAllTotal">{{reportDataTotal.totalTicket | number}}</td>
            </tr>
            <template v-for="(value, key, index) of reportData">
              <tr class="font-weight-bold text-center" :key="key+index">
                <td class="rowH">{{index+1}}</td>
                <td class="rowH">{{value.driverName ? value.driverName : '(chưa gán tài xế)'}}</td>
                <td class="rowH" colspan="5"></td>
                <td class="rowH">{{value.totalTicketDriver | number}}</td>
                <td class="rowH">{{value.totalMoneyByDriver | number}}</td>
              </tr>
              <tr v-for="(item, i) of value.array" :key="item.tripId">
                <td class="rowH">{{`${index+1}.${i+1}`}}</td>
                <td class="rowH">{{item.startTimeReality | customDate('#hhhh#:#mm#', true)}}</td>
                <td class="rowH">{{item.startDateReality | strToDate()}}</td>
                <td class="rowH">{{item.numberPlate}}</td>
                <td class="rowH">{{item.secondDriverFullName}}</td>
                <td class="rowH">{{item.assistantFullName}}</td>
                <td class="rowH">{{item.routeName}}</td>
                <td class="rowH">{{item.amount | number}}</td>
                <td class="rowH">{{item.money | number}}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SelectRoute from "../Route/SelectRoute";
import ESelectUser from "../User/ESelectUser";
import {mapState} from 'vuex'

export default {
  components: { SelectRoute, ESelectUser },
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        dateRange: [
          new Date().customFormat("#DD#-#MM#-#YYYY#"),
          new Date().customFormat("#DD#-#MM#-#YYYY#"),
        ],
        user: [],
        route: [],
      },
      reportData: [],
      reportDataTotal: {
        totalTicket: 0,
        totalMoney: 0,
      },
      dateFormat: "dd-MM-yyyy",
      options: [],
      optionsTime: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
    };
  },
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  mounted: function () {},
  methods: {
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate: parseInt(
          self.form.dateRange[0].split("-").reverse().join("")
        ),
        endDate: parseInt(self.form.dateRange[1].split("-").reverse().join("")),
      };
      if (self.form.route.length > 0) {
        param.routeIds = self.form.route.map((x) => x.routeId);
      }
      if (self.form.user.length > 0) {
        param.driverIds = self.form.user.map((x) => x.id);
      }
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/on-trip-ticket-money-report",
        data: param,
        success: function (data) {
          console.log(data);
          self.reportData = self.handleData(data);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    handleData: function (data) {
      this.reportDataTotal.totalTicket = 0;
      this.reportDataTotal.totalMoney = 0;
      const seen = new Set();
      let reportData = data.reduce((response, item, index, array) => {
        const isDuplicate = seen.has(item.firstDriverId);
        seen.add(item.firstDriverId);
        if (!isDuplicate) {
          response[item.firstDriverId] = {
            driverName: item.firstDriverFullName,
            totalTicketDriver: item.amount,
            totalMoneyByDriver: item.money,
            array: [item],
          };
        } else {
          response[item.firstDriverId].totalTicketDriver += item.amount;
          response[item.firstDriverId].totalMoneyByDriver += item.money;
          response[item.firstDriverId].array = [
            ...response[item.firstDriverId].array,
            item,
          ];
        }
        // sum total
        this.reportDataTotal.totalTicket += item.amount;
        this.reportDataTotal.totalMoney += item.money;
        return response;
      }, {});
      console.log(reportData);
      return reportData;
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-family: sans-serif !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
.rowAllTotal {
  font-family: sans-serif !important;
  font-weight: bold !important;
  font-size: 18px !important;
}
.rowH {
  font-family: sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
.table thead {
  background: #cfd3db;
}
.table td,
.table td h5 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
}
</style>
