<template>
    <div style="margin-bottom: 50px">
        <el-row>
            <div class="row col-12" style="padding-right: 0;">
                <div class="col-10 title-ret">
                    Báo cáo khách hàng
                </div>
                <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
                    <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
                    <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
                </div>
            </div>
        </el-row>
        <div class="header-ret">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label>Từ ngày</label><br>
                        <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                        placeholder="Chọn ngày"></el-date-picker>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Đến ngày</label><br>
                        <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                                        placeholder="Chọn ngày"></el-date-picker>
                    </div>
                </div>
                <!--<div class="col-2">-->
                    <!--<div class="form-group">-->
                        <!--<label>Tuyến</label><br>-->
                        <!--<select-route v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-2">
                    <div class="form-group">
                        <label>Số điện thoại</label><br>
                        <el-input v-model="phoneNumber"></el-input>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button class="btn btn-search btn-block" @click="getList()">
                            Lấy danh sách
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top20 tableReport" v-loading="loading">
            <div style="max-width: 100%;">
                <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
                    <thead>
                    <tr class="text-center">
                        <th class="rowHeader">STT</th>
                        <th class="rowHeader">Tên khách hàng</th>
                        <th class="rowHeader">Số điện thoại</th>
                        <th class="rowHeader">Số vé đã đặt</th>
                        <th class="rowHeader">Số vé đã hủy</th>
                        <th class="rowHeader">Tổng tiền vé</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="list.length<=0">
                        <td colspan="6" class="text-center">{{$t('no-data-available')}}</td>
                    </tr>
                    <template v-for="(dayRp,key) in list">
                        <tr class="font-weight-bold text-center">
                            <td class="rowH">{{key + 1}}</td>
                            <td class="rowH">{{dayRp.fullName ? dayRp.fullName : ''}}</td>
                            <td class="rowH">{{dayRp.phoneNumber ? dayRp.phoneNumber : ''}}</td>
                            <td class="rowH">{{dayRp.totalTicketBooked|number}}</td>
                            <td class="rowH">{{dayRp.totalTicketCancer|number}}</td>
                            <td class="rowH">{{(dayRp.totalMoney ? dayRp.totalMoney : '')|number}}</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <!-- del footer -->
            </div>
        </div>
    </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                loading: false,
                getCancelTicket: true,
                driver: null,
                vehicle: null,
                routeSelected: null,
                dialogVisible: false,
                loadingH: false,
                tableData: [],
                trip: null,
                dialogExport: false,
                phoneNumber: null
            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_KHÁCH_HÀNG');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                // if(self.routeSelected == null || self.routeSelected.length == 0){
                //     notify('Vui lòng chọn tuyến','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart,
                    endDate : self.dateEnd,
                };
                // if (self.routeSelected && self.routeSelected.length > 0) {
                //     params.routeId = []
                //     $.each(self.routeSelected, function (r,route) {
                //         params.routeId.push(route.routeId)
                //     })
                // }
                if(self.phoneNumber){
                    params.phoneNumber = self.phoneNumber;
                }
                sendJson({
                    url : 'https://asia-southeast2-dobody-anvui.cloudfunctions.net/report-get-customer-detail',
                    data : params,
                    success : function (data) {
                        self.loading = false
                        self.list = data
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            allTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.report.totalTicket
                })
                return a
            },

            allMoney :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.report.totalMoney
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
    .rowHeader {
        font-family: sans-serif !important;
    }
    .rowTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 16px !important
    }
    .rowAllTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 18px !important
    }
    .rowH {
        font-family: sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px !important
    }
    .btn-search{
        background: rgba(8, 67, 136, 0.89);
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        line-height: 1.6;
    }
    .btn-search:hover{
        background: #084388;
    }
    .header-ret{
        background: #ECEDF1;
        padding: 8px;
    }
    .title-ret {
        font-family: Montserrat !important;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .date-ranger{
        max-width: 33% !important;
    }
    .statistic-content{
        padding: 16px 8px;
    }
    .item-statistic h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
    }
    .item-statistic h5:first-child{
        margin-bottom: 8px;
    }
    .item-statistic h5 span{
        color: #084388;
    }
    .table thead{
        background: #CFD3DB;
    }
    .table td, .table td h5{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
    .table td h6{
        color: #9198A9;
        font-size: 12px;
        margin: 4px 0;
    }
    .table tbody tr{
        background-color: #fff;
    }
    .box-action{
        text-align: center;
    }
    .box-action button{
        padding: 6px 8px;
        border-radius: 8px;
        border: none;
        margin: 0 4px;
    }
    .box-action button i{
        color: #084388;
    }
</style>
