<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <div class="row">
          <div class="col-auto text-uppercase">{{$t('report-online-payment')}}</div>
          <div class="col text-right">
            <button class="btn btn-success btn-sm" @click="exportExcel('table')">
              <i class="fa fa-file-excel"></i>
              {{$t('export-excel')}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 form-group">
        <label>{{$t('filter.phone-customer')}}</label>
        <input type="text" class="form-control" v-model="search.phoneNumber" />
      </div>
      <div class="col-12 col-md-3 form-group">
        <label>{{$t('filter.ticket-code')}}</label>
        <input type="text" class="form-control" v-model="search.ticketCode" />
      </div>
      <div class="col-12 col-md-3 form-group">
        <label>{{$t('filter.trading-code')}}</label>
        <input type="text" class="form-control" v-model="search.transactionId" />
      </div>
      <div class="col-12 col-md-3 form-group">
        <label>{{$t('filter.transaction-status')}}</label>
        <select v-model="search.transactionStatus" class="form-control">
          <option :value="null">Tất cả</option>
          <option :value="1">Đang xử lí</option>
          <option :value="2">Thành công</option>
          <option :value="3">Thất bại</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 form-group">
        <div class="form-group">
          <label>Từ ngày</label><br>
          <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                          placeholder="Chọn ngày"></el-date-picker>
        </div>
      </div>
      <div class="col-12 col-md-3 form-group">
        <div class="form-group">
          <label>Đến ngày</label><br>
          <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                          placeholder="Chọn ngày"></el-date-picker>
        </div>
      </div>
      <!--<datepicker-ranger v-model="search"></datepicker-ranger>-->
      <div class="col-12 col-md-3 form-group">
        <label>&nbsp;</label>
        <button
          class="btn btn-block btn-primary text-uppercase"
          @click="getReport()"
        >{{$t('button.filter')}}</button>
      </div>
    </div>
    <div class="row top20" v-if="data">
      <div class="col-12">
        <div class="margin-bottom">
          <el-table
            id="table"
            cell-class-name="tableexport-string"
            :data="data"
            style="width: 100%"
            :summary-method="getSummaries"
            show-summary
            stripe
            border
          >
            <el-table-column type="index" label="STT" width="100"></el-table-column>
            <el-table-column label="Mã vé">
              <template slot-scope="prop">{{prop.row.ticketCode}}</template>
            </el-table-column>
            <el-table-column label="Mã giao dịch">
              <template slot-scope="prop">{{prop.row.transactionId}}</template>
            </el-table-column>
            <el-table-column label="Khách hàng">
              <template slot-scope="prop">{{prop.row.fullName}}</template>
            </el-table-column>
            <el-table-column label="SĐT">
              <template slot-scope="prop">{{prop.row.phoneNumber|phoneNumber}}</template>
            </el-table-column>
            <el-table-column prop="totalSeat" label="SL">
              <template slot-scope="prop">{{prop.row.totalSeat|number}}</template>
            </el-table-column>
            <el-table-column prop="totalMoney" label="Tổng tiền">
              <template slot-scope="prop">{{prop.row.totalMoney|number}}</template>
            </el-table-column>
            <el-table-column label="Trạng thái vé">
              <template slot-scope="prop">{{ ticketStatus(prop.row.ticketStatus)}}</template>
            </el-table-column>
            <el-table-column label="Trạng thái giao dịch" width="200">
              <template slot-scope="prop">
                <span
                  :class="[prop.row.transactionStatus==1?'badge badge-warning':(prop.row.transactionStatus==2?'badge badge-success':'badge badge-danger')]"
                >{{ prop.row.transactionStatus==1 ? 'Đang xử lí' : (prop.row.transactionStatus==2 ? 'Thành công': 'Thất bại') }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SelectRoute from "../Route/SelectRoute.vue";
import SelectVehicle from "../Vehicle/SelectVehicle.vue";
import { mapState} from 'vuex';
let d = new Date()
export default {
  components: { SelectRoute, SelectVehicle },
  data: function() {
    return {
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      search: {
        phoneNumber: "",
        ticketCode: "",
        transactionId: "",
        transactionStatus: null
      },
      data: null,
      count: {
        number: 0,
        price: 0,
        paid: 0,
        unpaid: 0
      }
    };
  },
  computed:{
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getSummaries(param) {
      const { columns, data } = param;
      let sums = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = "Tổng";
          return;
        }
        const values = data.map(item => Number(item[column.property]));
        if (!values.every(value => isNaN(value))) {
          sums[index] =
            "" +
            values.reduce((prev, curr) => {
              const value = Number(curr);
              if (!isNaN(value)) {
                return prev + curr;
              } else {
                return prev;
              }
            }, 0);
        } else {
          sums[index] = "";
        }
      });
      let convert = sums.map((x, index) => {
        if (index === 0 || x === "") {
          return x;
        }
        return this.$options.filters.number(x);
      });
      return convert;
    },
    getReport: function() {
      let self = this;
      let param = {
        timeZone: 7,
        getByCreatedDate: true,
        page: 0,
        count: 1000,
        companyId: userInfo.userInfo.companyId,
        startDate: self.dateStart,
        endDate: self.dateEnd
      };
      if (self.search.phoneNumber) {
        param.phoneNumber = self.search.phoneNumber;
      }
      if (self.search.ticketCode) {
        param.ticketCode = self.search.ticketCode;
      }
      if (self.search.transactionId) {
        param.transactionId = self.search.transactionId;
      }
      if (self.search.transactionStatus) {
        param.transactionStatus = self.search.transactionStatus;
      }
      self.load("getReportDetail");
      sendJson({
        url: urlRP(API.reportOnlinePayment),
        data: param,
        success: function(data) {
          self.setReport(data.results.listOnlinePaymentReport);
          self.unload("getReportDetail");
        },
        functionIfError: function(err) {
          self.unload("getReportDetail");
        }
      });
    },
    setReport: function(data) {
      let self = this;
      self.data = _.cloneDeep(data);
    },
    exportExcel: function(tableId) {
      this.excel(`#${tableId}`, "DANH_SACH_THANH_TOAN_ONLINE_");
    },
    ticketStatus: function(status) {
      return localData.ticketStatus[status] || "chưa rõ";
    }
  }
};
</script>
<style scoped>
.margin-bottom {
  margin-bottom: 60px;
}
</style>