<template>
<div class="w-100">
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col-auto">
                    BÁO CÁO DOANH THU HÀNG HÓA
                </div>
                <div class="col text-right">
                    <button class="btn btn-info btn-sm text-light" @click="printReport()"> <i class="fas fa-print"></i> In báo cáo</button>
                    <button class="btn btn-success btn-sm" @click="exportExcel()"> <i class="fa fa-plus"></i> Xuất excel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-filter-line-1">
            <div class="filter-item">
                <label>Kiểu Ngày</label>
                <el-select v-model="byTripStart" placeholder="Select">
                    <el-option v-for="item in byTripStarts" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </div>
            <div class="filter-item item-datepicker">
                <label>Thời gian</label>
                <el-date-picker v-model="dateRange" type="daterange" align="right" format="dd-MM-yyyy" unlink-panels range-separator="đến" start-placeholder="Start date" end-placeholder="End date" :picker-options="pickerOptions" style="width: 100%">
                </el-date-picker>
            </div>
            <div class="filter-item">
                <label>Xe</label>
                <select-vehicle v-model="search.vehicle" :allowClear="true"></select-vehicle>
            </div>
        </diV>
        <div class="grid-filter-line-2">
            <div class="filter-item">
                <label>Tuyến</label>
                <select-route v-model="search.route" :clearable="true"></select-route>
            </div>
            <div class="filter-item">
                <label>Văn phòng gửi</label>
                <select-point :allowEmpty="true" :isReceivedGoods="true" pointTypes="8" isReceivedGoods="true" v-model="search.pickPoint"></select-point>
            </div>
            <div class="filter-item">
                <label>Văn phòng nhận</label>
                <select-point :allowEmpty="true" :isReceivedGoods="true" pointTypes="8" isReceivedGoods="true" v-model="search.dropPoint"></select-point>
            </div>
            <div class="filter-item">
                <label>&nbsp;</label>
                <button class="btn btn-block btn-primary" @click="getReport()">LỌC</button>
            </div>
        </div>
    </div>
    <div class="row top20" v-if="data">
        <div class="col-12">
            <h5 class="text-center">
                BÁO CÁO DOANH THU HÀNG HÓA
            </h5>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col text-right">Từ ngày : </div>
                        <div class="col">{{search.sendDate}}</div>
                    </div>
                    <div class="row">
                        <div class="col text-right">Đến ngày : </div>
                        <div class="col">{{search.toDate}}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col text-right">Điểm gửi : </div>
                        <div class="col">{{search.pickPoint ?search.pickPoint.pointName:''}}</div>
                    </div>
                    <div class="row">
                        <div class="col text-right">Điểm trả : </div>
                        <div class="col">{{search.dropPoint ?search.dropPoint.pointName:''}}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col text-right">Tuyến : </div>
                        <div class="col">{{search.route ?search.route.routeName:''}}</div>
                    </div>
                    <div class="row">
                        <div class="col text-right">Xe : </div>
                        <div class="col">{{search.vehicle ?search.vehicle.numberPlate:''}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive" style="max-height:90vh">
                <table class="table table-bordered table-sm tableGoods">
                    <thead class="bg-anvui text-white">
                        <tr class="text-center">
                            <th>Mã vận đơn</th>
                            <th>N/Gửi</th>
                            <th>T/Tin Hàng</th>
                            <th>Cước Phí</th>
                            <th>Đã trả</th>
                            <th>Còn lại</th>
                            <th>Người Gửi</th>
                            <th>Điểm lên</th>
                            <th>Người Nhận</th>
                            <th>Điểm xuống</th>
                            <th>Người tạo <br>(tài khoản)</th>
                            <th>Ghi chú</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="data.length <=0">
                            <td colspan="10" class="text-center">Không có dữ liệu</td>
                        </tr>
                        <template v-for="(pk,key) in data">
                            <template v-for="(goods,k) in pk.goodsList">
                                <tr :class="{'bg-e':key%2==0}">
                                    <td class="tableexport-string" v-if="k==0" :rowspan="pk.goodsList.length">
                                        <label :for="goods.goodsId" class="no-margin">{{ pk.goodsPackageCode }}</label>
                                    </td>
                                    <td class="text-center tableexport-string">
                                        {{ goods.sendDate|customDate('#DD#-#MM#') }}<br>
                                    </td>
                                    <td class="tableexport-string">
                                        <span data-toggle="tooltip" data-placement="left" title="Họ Tên"><i class="fa fa-file"></i> : {{ goods.goodsName }} </span><br>
                                        <span data-toggle="tooltip" data-placement="left" title="Số lượng"><i class="fa fa-sort-numeric-asc"></i> : {{ goods.quantity }} </span><br>
                                        <span data-toggle="tooltip" data-placement="left" title="Giá trị hàng"><i class="fa fa-dollar"></i> : {{ goods.goodsValue|number }}</span>
                                    </td>
                                    <td class="text-right tableexport-string">
                                        <b class="text-anvui" data-toggle="tooltip" data-placement="left" title="Đã trả">{{ goods.totalPrice|number }}</b>
                                    </td>
                                    <td class="text-right tableexport-string">
                                        <b class="text-anvui" data-toggle="tooltip" data-placement="left" title="Đã trả">{{ goods.paid|number }}</b>
                                    </td>
                                    <td class="text-right tableexport-string">
                                        <b class="text-danger" data-toggle="tooltip" data-placement="left" title="Chưa trả">{{ goods.unpaid|number }}</b>
                                    </td>
                                    <!--<td class="text-right tableexport-string">-->
                                    <!--<b data-toggle="tooltip" data-placement="left" :title="'cước phí :'+goods.price+', Thu thêm :'+goods.extraPrice+', lí do : '+goods.extraPriceNote">{{ goods.totalPrice|number }}</b><br>-->
                                    <!--<b class="text-anvui" data-toggle="tooltip" data-placement="left" title="Đã trả" >{{ goods.paid|number }}</b><br>-->
                                    <!--<b class="text-danger" data-toggle="tooltip" data-placement="left" title="Chưa trả">{{ goods.unpaid|number }}</b>-->
                                    <!--</td>-->
                                    <td class="text-center tableexport-string">
                                        <span><i class="fa fa-user"></i> : {{ goods.sender}}</span><br>
                                        <span><i class="fa fa-phone"></i> : {{ goods.senderPhone | phoneNumber}}</span><br>
                                        <span><img style="max-height: 20px;max-width: 100px" v-if="goods.imageURL" :src="goods.imageURL" class="img-fluid" alt=""></span>
                                    </td>
                                    <td class="tableexport-string">
                                        <span><i class="fa fa-map-marker"></i> {{ goods.pickPointName }}</span><br>
                                        <span><i class="fa fa-address-book"></i> {{ goods.pickUpPoint }}</span>
                                    </td>
                                    <td class="text-center tableexport-string">
                                        <span><i class="fa fa-user"></i> : {{ goods.receiver}}</span><br>
                                        <span><i class="fa fa-phone"></i> : {{ goods.receiverPhone | phoneNumber}}</span><br>
                                        <span><img v-if="goods.receiverImageURL" style="max-height: 20px;max-width: 100px" :src="goods.receiverImageURL" class="img-fluid" alt=""></span>
                                    </td>
                                    <td class="tableexport-string">
                                        <span><i class="fa fa-map-marker"></i> {{ goods.dropPointName }}</span><br>
                                        <span><i class="fa fa-address-book"></i> {{ goods.dropOffPoint }}</span>
                                    </td>
                                    <td class="tableexport-string">
                                        <span>{{ goods.createdUser ? `${goods.createdUser.fullName}` : '' }}</span><br>
                                        <span>{{ goods.createdUser ? `(${goods.createdUser.userName})` : '' }}</span>
                                    </td>
                                    <td class="tableexport-string">{{ goods.notice }}</td>
                                    <td class="tableexport-string">{{ goods.goodsStatus|goodsStatus }}</td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 top10">
            <div class="row">
                <div class="col text-right">Tổng hàng</div>
                <div class="col">{{count.quantity|number}}</div>
            </div>
            <div class="row">
                <div class="col text-right">Tổng Tiền</div>
                <div class="col">{{count.totalPrice|number}}</div>
            </div>
            <div class="row">
                <div class="col text-right">Đã trả</div>
                <div class="col">{{count.paid|number}}</div>
            </div>
            <div class="row">
                <div class="col text-right">Chưa trả</div>
                <div class="col">{{count.unpaid|number}}</div>
            </div>
        </div>
    </div>

    <div class="d-none">
        <div data-content="printReport">
            <div class="row mb-1">
                <div class="col-3"><p><b>Tổng hàng:</b> {{count.quantity|number}}đ</p></div>
                <div class="col-3"><p><b>Tổng Tiền:</b> {{count.totalPrice|number}}đ</p></div>
                <div class="col-3"><p><b>Đã trả:</b> {{count.paid|number}}đ</p></div>
                <div class="col-3"><p><b>Chưa trả:</b> {{count.unpaid|number}}đ</p></div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <b> {{ tripStartsBy }} </b> từ <b>{{ dateRange[0].customFormat('#DD#-#MM#-#YYYY#') }}</b> đến <b>{{ dateRange[1].customFormat('#DD#-#MM#-#YYYY#') }}</b> 
                </div>
                <div class="col-3" v-if="search.vehicle">Xe: <b>{{ search.vehicle.numberPlate }}</b></div>
                <div class="col-3" v-if="search.route">Tuyến: <b>{{ search.route.routeName }}</b></div>
                <div class="col-3"  v-if="search.pickPoint">Văn phòng gửi: <b>{{ search.pickPoint.name }}</b></div>
                <div class="col-3"  v-if="search.dropPoint">Văn phòng nhận: <b>{{ search.dropPoint.name }}</b></div>
            </div>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Mã vận đơn</th>
                        <th>N/Gửi</th>
                        <th>T/Tin Hàng</th>
                        <th>Cước Phí</th>
                        <th>Đã trả</th>
                        <th>Còn lại</th>
                        <th>Người Gửi</th>
                        <th>Điểm lên</th>
                        <th>Người Nhận</th>
                        <th>Điểm xuống</th>
                        <th>Người tạo <br>(tài khoản)</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(pk,key) in data">
                        <template v-for="(goods,k) in pk.goodsList">
                            <tr :key="key+k" :class="{ 'bg-e': key%2==0 }">
                                <td class="tableexport-string" v-if="k==0" :rowspan="pk.goodsList.length">
                                    <label :for="goods.goodsId" class="no-margin">{{ pk.goodsPackageCode }}</label>
                                </td>
                                <td class="text-center tableexport-string">
                                    {{ goods.sendDate|customDate('#DD#-#MM#') }}<br>
                                </td>
                                <td class="tableexport-string">
                                    <p>Tên: {{ goods.goodsName }}</p>
                                    <p>SL: {{ goods.quantity }}</p>
                                    <p>Giá trị: {{ goods.goodsValue|number }}đ</p>
                                </td>
                                <td class="text-right tableexport-string">
                                    <b class="text-anvui">{{ goods.totalPrice|number }}</b>
                                </td>
                                <td class="text-right tableexport-string">
                                    <b class="text-anvui">{{ goods.paid|number }}</b>
                                </td>
                                <td class="text-right tableexport-string">
                                    <b class="text-danger">{{ goods.unpaid|number }}</b>
                                </td>
                                <td class="tableexport-string">
                                    <span><i class="fa fa-user"></i> : {{ goods.sender}}</span><br>
                                    <span><i class="fa fa-phone"></i> : {{ goods.senderPhone | phoneNumber}}</span><br>
                                    <span><img style="max-height: 20px;max-width: 100px" v-if="goods.imageURL" :src="goods.imageURL" class="img-fluid" alt=""></span>
                                </td>
                                <td class="tableexport-string">
                                    <span><i class="fa fa-map-marker"></i> {{ goods.pickPointName }}</span><br>
                                    <span><i class="fa fa-address-book"></i> {{ goods.pickUpPoint }}</span>
                                </td>
                                <td class="tableexport-string">
                                    <span><i class="fa fa-user"></i> : {{ goods.receiver}}</span><br>
                                    <span><i class="fa fa-phone"></i> : {{ goods.receiverPhone | phoneNumber}}</span><br>
                                    <span><img v-if="goods.receiverImageURL" style="max-height: 20px;max-width: 100px" :src="goods.receiverImageURL" class="img-fluid" alt=""></span>
                                </td>
                                <td class="tableexport-string">
                                    <span><i class="fa fa-map-marker"></i> {{ goods.dropPointName }}</span><br>
                                    <span><i class="fa fa-address-book"></i> {{ goods.dropOffPoint }}</span>
                                </td>
                                <td class="tableexport-string">
                                    <span>{{ goods.createdUser ? `${goods.createdUser.fullName}` : '' }}</span><br>
                                    <span>{{ goods.createdUser ? `(${goods.createdUser.userName})` : '' }}</span>
                                </td>
                                <td class="tableexport-string">{{ goods.notice }}</td>
                                <td class="tableexport-string">{{ goods.goodsStatus|goodsStatus }}</td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>

<script>
import SelectRoute from '../Route/SelectRoute.vue';
import SelectVehicle from '../Vehicle/SelectVehicle.vue';
import SelectPoint from '../Point/SelectPoint.vue';
import { mapState} from 'vuex';

export default {
    components: {
        SelectRoute,
        SelectVehicle,
        SelectPoint
    },
    data: function () {
        return {
            search: {
                sendDate: new Date().customFormat('#DD##MM##YYYY#'),
                toDate: new Date().customFormat('#DD##MM##YYYY#'),
                route: null,
                vehicle: null,
                pickPoint: null,
                dropPoint: null,
            },
            options: {
                disabledDate : (time)=>{
                    return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                }
            },
            data: null,
            count: {
                quantity: 0,
                totalPrice: 0,
                paid: 0,
                unpaid: 0,
            },
            byTripStart: false,
            byTripStarts: [
                {
                    label: 'Ngày vận chuyển',
                    value: true,
                },
                {
                    label: 'Ngày tạo hàng',
                    value: false,
                },
            ],
            pickerOptions: {
                shortcuts: [{
                    text: 'Last week',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Last month',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Last 3 months',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }],
                disabledDate : (time)=>{
                    return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                }
            },
            dateRange: [new Date(), new Date()]
        }
    },
    mounted: function () {

    },
    computed: {
        ...mapState({
            companyConfig: state => state.CompanyConfig.companyConfig,
        }),

        tripStartsBy () {
            return this.byTripStarts.filter( _ => _.value == true)[0]['label']
        }
    },
    watch: {
        /*dateRange: function (val) {
            this.search.sendDate = val[0].customFormat('#YYYY##MM##DD#');
            this.search.toDate = val[1].customFormat('#YYYY##MM##DD#');
        },*/
    },
    methods: {
        printReport () {
            $('[data-content=printReport]').printThis()
        },

        getReport: async function () {
            let self = this;
            let data = self.search;
            let params = {
                /*companyId: userInfo.userInfo.companyId,
                goodsStatus: [1, 2, 3, 4, 5],*/
            };
            /*if (data.sendDate !== '' && data.toDate !== '') {
                let d = func.dateStartToEnd(data.sendDate, data.toDate);
                params.from = d.start;
                params.to = d.end;
            }*/
            let date = new Date();
            if (self.dateRange){
                params.from = self.dateRange[0].customFormat('#YYYY##MM##DD#');
                params.to = self.dateRange[1].customFormat('#YYYY##MM##DD#');
            }
            if (!self.dateRange){
                params.from = new Date(date.getFullYear(), date.getMonth(), 1).customFormat('#YYYY##MM##DD#');
                params.to = new Date().customFormat('#YYYY##MM##DD#');
            }
            if (data.dropPoint) {
                params.dropOffPointId = data.dropPoint.id;
            }
            if (data.pickPoint) {
                params.pickUpPointId = data.pickPoint.id;
            }
            if (data.route) {
                params.routeId = data.route.routeId;
            }
            /*if (data.vehicle) {
                params.numberPlate = data.vehicle.numberPlate;
            }*/
            if (this.byTripStart !== null) {
                params.byTripStart = this.byTripStart;
            }
            self.load('goodsList');
            if (data.vehicle) {
                let paramGetTripInDateRange = {
                    fromDate: self.dateRange[0].customFormat('#YYYY##MM##DD#'),
                    toDate: self.dateRange[1].customFormat('#YYYY##MM##DD#'),
                    numberPlate: data.vehicle.numberPlate
                }
                let tripIds = await self.getTripIds(paramGetTripInDateRange);
                params.tripIds = tripIds;
            }
            self.callApiGetReport(params);
        },
        callApiGetReport: function (param) {
            let self = this;
            sendParam({
                url: urlDBD(API.getGoodsList),
                type: 'get',
                data: param,
                success: function (data) {
                    self.setReport(data.results.rs);
                    self.unload('goodsList');
                },
                functionIfError: function (err) {
                    self.unload('goodsList');
                }
            });
        },
        getTripIds: async function (paramGetTripInDateRange) {
            let self = this;
            let arrTripId = await new Promise((resolve) => {
                sendJson({
                    url: urlDBD(API.getTripInDateRange),
                    data: paramGetTripInDateRange,
                    success: function (data) {
                        return resolve(self.getTripId(data.results.trips));
                    },
                    functionIfError: function (err) {
                        console.log("Error when get trips in dateRange");
                        return [];
                    }
                });
            });
            return arrTripId;
        },
        getTripId: function (arr) {
            let tripIdArr = arr.map(x => {
                return x.tripId;
            });
            return tripIdArr;
        },
        formatDate: function (date) {
            const dateFormat = date.split('-').reverse().join('');
            return dateFormat;
        },
        setReport: function (data) {
            let self = this;
            let count = {
                quantity: 0,
                totalPrice: 0,
                paid: 0,
                unpaid: 0,
            };
            $.each(data, function (i, e) {
                $.each(e.goodsList, function (g, goods) {
                    count.quantity += goods.quantity;
                    count.totalPrice += goods.totalPrice;
                    count.paid += goods.paid;
                    count.unpaid += goods.unpaid;
                })
            });
            self.count = count;
            self.data = _.cloneDeep(data);
        },
        exportExcel: function () {
            this.excel($(this.$el).find('table'), "DANH_SACH_HANG_HOA_");
            // let tableEP = $(this.$el).find('table').tableExport({
            //     headings: true,                    // (Boolean), display table headings (th/td elements) in the <thead>
            //     footers: true,                     // (Boolean), display table footers (th/td elements) in the <tfoot>
            //     formats: ["xlsx"],    // (String[]), filetypes for the export
            //     filename: "DANH_SACH_HANG_HOA_"+new Date().customFormat('#hhhh#h-#mm#p-#DD#-#MM#-#YYYY#'),// (id, String), filename for the downloaded file
            //     bootstrap: false,                   // (Boolean), style buttons using bootstrap
            //     exportButtons: false
            // });
            // let exportData = tableEP.getExportData()['tableexport-1']['xlsx'];
            //
            // tableEP.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
            // tableEP.remove();
        }
    }
}
</script>

<style scoped>
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid-filter-line-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid-filter-line-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.item-datepicker {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: row1-start;
    grid-row-end: 1;
}

.filter-item {
    display: grid;
}
</style>
