<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV13: Báo cáo xuất hợp đồng điện tử
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-1">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="yyyyMMdd" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-1">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="yyyyMMdd" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route style="min-width: 210px;" v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tài xế</label><br>
            <e-select-user class="w-100" v-model="driver" :clearable="true" :multiple="true" ></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>{{$t('filter.vehicle')}}</label>
            <select-vehicle v-model="vehicle" :multiple="true" class="w-100"></select-vehicle>
          </div>
        </div>
        <div class="col-2" style="padding: 0;">
          <div class="form-group text-center">
            <!--<el-checkbox style="margin-top: 10px;" size="medium" border="true" v-model="tripUnExport"></el-checkbox>-->
            <el-checkbox style="margin-top: 25px" v-model="accountantCheck"><span style="font-size: 16px;color: black;">Đã kiểm tra</span></el-checkbox>
            <el-checkbox style="margin-top: 10px" v-model="tripUnExport"><span style="font-size: 16px;color: black;">Chuyến chưa xuất</span></el-checkbox>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <th class="rowHeader">Ngày</th>
            <th class="rowHeader">Giờ</th>
            <th class="rowHeader">Tuyến</th>
            <th class="rowHeader">Tài xế</th>
            <th class="rowHeader">Biển số</th>
            <th class="rowHeader">Số hành khách</th>
            <th class="rowHeader">Doanh thu</th>
            <th class="rowHeader">Số hơp đồng</th>
            <th class="rowHeader"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="9" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="3">Tổng cộng</td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal">{{allTicket|number}}</td>
            <td class="rowAllTotal">{{allMoney|number}}</td>
            <td class="rowAllTotal"></td>
            <td class="rowAllTotal"></td>
          </tr>
          <template v-for="(dayRp,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{dayRp.startDateReality}}</td>
              <td class="rowH">{{dayRp.startTimeReality | customDate('#hhhh#:#mm#', true)}}</td>
              <td class="rowH">{{dayRp.routeInfo.name ? dayRp.routeInfo.name : ''}}</td>
              <td class="rowH">
                <template v-for="(driver,d) in dayRp.drivers">
                  {{driver.fullName && dayRp.drivers.length > 1 ? driver.fullName + ', ' : driver.fullName && dayRp.drivers.length == 1 ? driver.fullName : ''}}
                </template>
              </td>
              <td class="rowH">
                {{dayRp.vehicle && dayRp.vehicle.numberPlate ? dayRp.vehicle.numberPlate : ''}}
              </td>
              <td class="rowH">{{(dayRp.totalAccountantTicket != null? dayRp.totalAccountantTicket : dayRp.report.totalTicket)|number}}</td>
              <td class="rowH">{{(dayRp.totalAccountantPriceContract != null ? dayRp.totalAccountantPriceContract : dayRp.report.totalMoney)|number}}</td>
              <td class="rowH">{{dayRp.isExported && dayRp.eContractCode ? dayRp.eContractCode : 'Chưa xuất hợp đồng'}}</td>
              <td class="rowH">
                <button v-if="dayRp.isExported" class="btn btn-sm btn-info" @click="openModalHistory(dayRp.id)"><i class="fa fa-history"></i></button>
                <button v-if="dayRp.isExported" class="btn btn-sm btn-info" @click="getTrip(dayRp.id)"><i class="el-icon-document"> Xuất lại</i></button>
                <button v-if="!dayRp.isExported" class="btn btn-sm btn-info" @click="getTrip(dayRp.id)"><i class="el-icon-document"> Xuất HĐ</i></button>
                <button v-if="dayRp.isExported" class="btn btn-sm btn-info" @click="getTrip2(dayRp.id)"><i class="el-icon-document"> Xem</i></button>
              </td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
    <el-dialog
            title="Lịch sử xuất hợp đồng"
            :visible.sync="dialogVisible"
            width="70%"
            :before-close="handleClose">
      <span v-if="tableData.length == 0">Chưa xuất hợp đồng</span>
      <el-table :data="tableData" v-loading="loadingH" v-if="tableData.length > 0">
        <el-table-column min-width="100" label="Thời gian tạo">
          <template slot-scope="prop">{{prop.row.createdDate | customDate('#DD#-#MM#-#YYYY#  #hhhh#:#mm#')}}</template>
        </el-table-column>
        <el-table-column min-width="150" label="Người tạo">
          <template slot-scope="prop">{{prop.row.userCreateInfo.fullName}}</template>
        </el-table-column>
        <el-table-column min-width="100">
          <template slot-scope="prop">
            <el-button size="small" type="primary" @click="showHD(prop.row.urlFileEcontract)">Xem hợp đồng</el-button>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Đóng</el-button>
      </span>
    </el-dialog>
    <!--TICKET CONTRACT-->
    <el-dialog
            title="Xuất hơp đồng"
            :visible.sync="dialogExport"
            width="70%"
            :before-close="handleCloseEP">
      <div>
        <div style="padding:0" v-if="trip">
          <contract-trip @event="eventContractTrip" :trip="trip" :show="show"></contract-trip>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCloseEP">Đóng</el-button>
      </span>
    </el-dialog>
    <!--<div class="modal bd-example-modal-lg" id="modalTicketContract" tabindex="-1" role="dialog"-->
         <!--aria-labelledby="modalTicketContract" aria-hidden="true">-->
      <!--<div class="modal-dialog modal-lg modal-1000">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-body" style="padding:0" v-if="trip">-->
            <!--<contract-trip ref="ContractTripComponent" @event="eventContractTrip" :trip="trip"></contract-trip>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--TICKET CONTRACT-->
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectVehicle from '../Vehicle/SelectVehicle.vue';
    import SelectPoint from '../Point/SelectPoint';
    import ContractTrip from '../Ticket/Ticket07/ContractTripForReport';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,SelectVehicle,ContractTrip},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date().customFormat('#YYYY##MM##DD#'),
                dateEnd: new Date().customFormat('#YYYY##MM##DD#'),
                room: null,
                loading: false,
                getCancelTicket: true,
                driver: null,
                vehicle: null,
                routeSelected: null,
                dialogVisible: false,
                loadingH: false,
                tableData: [],
                trip: null,
                dialogExport: false,
                show: false,
                tripUnExport: false,
                accountantCheck: false



            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_TỔNG_HỢP_THEO_PHÒNG_VÉ_');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getTrip: function (tripId){
                let self = this
                sendParam({
                    type: 'GET',
                    url : urlDBD(API.tripView),
                    data: {
                        id: tripId
                    },
                    success: function (data) {
                        let a = []
                        let b = []
                        $.each(data.results.tickets, function (t,ticket) {
                            if (func.checkTicketStatus(ticket).mode === 'book') {
                                a.push(ticket)
                            }
                            if (ticket.seat && ticket.seat.seatType == 0) {
                                b.push(ticket)
                            }
                        })
                        data.results.trip.ticketsInSeatMap = a
                        data.results.trip.ticketsInfo = a
                        data.results.trip.ticketsNotSeat = b
                        self.trip = data.results.trip
                        self.openModalExport()
                    },
                    error: function () {
                        notify('Vui lòng gán xe cho chuyến ', 'error');
                    }
                })
            },
            getTrip2: function (tripId){
                let self = this
                self.show = true
                sendParam({
                    type: 'GET',
                    url : urlDBD(API.tripView),
                    data: {
                        id: tripId
                    },
                    success: function (data) {
                        self.trip = data.results.trip
                        window.open(self.trip.contractRepresentation.searchString,'_blank');
                        self.show = false
                    },
                    error: function () {
                        notify('Vui lòng gán xe cho chuyến ', 'error');
                    }
                })
            },
            openModalExport : function () {
                this.dialogExport = true
            },
            eventContractTrip : function(event){
                this.dialogExport = false
            },
            openModalHistory: function (id) {
                this.getHistory(id)
                this.dialogVisible = true
            },
            handleClose : function () {
                this.dialogVisible = false
            },
            handleCloseEP : function () {
                this.dialogExport = false
                this.getList()
            },
            showHD: function (url) {
                window.open(url,'_blank');
            },
            getHistory: function (id) {
              let self = this
              self.loadingH = true
              sendJson({
                  type: 'POST',
                  url: 'https://ticket-dot-dobody-anvui.appspot.com/econtract/getList',
                  data: {
                      tripId: id
                  },
                  success: function (data) {
                      self.loadingH = false
                      self.tableData = data.results.Econtract
                  },
                  error: function () {
                      self.loadingH = false
                  }
              })
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                // if(self.routeSelected == null || self.routeSelected.length == 0){
                //     notify('Vui lòng chọn tuyến','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    startDate : self.dateStart,
                    endDate : self.dateEnd,
                };
                if (self.routeSelected && self.routeSelected.length > 0) {
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                if(self.driver){
                    params.driverId = self.driver.id;
                }
                if(self.vehicle){
                    params.vehicleIds = []
                    $.each(self.vehicle, function (v, vehi) {
                        params.vehicleIds.push(vehi.vehicleId)
                    })
                }
                sendJson({
                    url : urlDBD(API.reportByTrips),
                    data : params,
                    success : function (data) {
                        $.each(data.results.tripsReport, function (t, trip) {
                            trip.startDateReality = new Date(func.dateStrToMs(trip.startDateReality)).customFormat('#DD#-#MM#-#YYYY#')
                        })
                        self.list = data.results.tripsReport
                        if (self.tripUnExport || self.accountantCheck) {
                            let a = []
                            if (self.tripUnExport && self.accountantCheck){
                                $.each(self.list, function (l, li) {
                                    if (li.isExported == false || li.isAccountantCheck == true || li.isExported == null) {
                                        a.push(li)
                                    }
                                })
                            }
                            else if (self.tripUnExport) {
                                $.each(self.list, function (l, li) {
                                    if (li.isExported == false || li.isExported == null) {
                                        a.push(li)
                                    }
                                })
                            }
                            else if (self.accountantCheck) {
                                $.each(self.list, function (l, li) {
                                    if (li.isAccountantCheck == true) {
                                        a.push(li)
                                    }
                                })
                            }
                            self.list = a
                        }
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            allTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalAccountantTicket? li.totalAccountantTicket : li.report.totalTicket
                })
                return a
            },

            allMoney :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalAccountantPriceContract? li.totalAccountantPriceContract :  li.report.totalMoney
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
