<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          TĐ 1: BÁO CÁO TỔNG HỢP CUỘC GỌI
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Nhân viên tạo đơn hàng</label><br>
            <e-select-user class="w-100" v-model="userSelects" clearable multiple ></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader" style="min-width: 140px;">Tên người dùng (NV TĐ)</th>
            <th class="rowHeader" style="min-width: 100px;">Số máy  lẻ (EXT)</th>
            <th class="rowHeader" style="min-width: 100px;">Tổng cuộc gọi đi</th>
            <th class="rowHeader" style="min-width: 140px;">Tổng thời gian nói chuyện cuộc gọi đi</th>
            <th class="rowHeader" style="min-width: 140px;">Trung bình TG nói chuyện cuộc gọi đi</th>
            <th class="rowHeader" style="min-width: 140px;">Tổng cuộc gọi nhận ( cuộc gọi đến)</th>
            <th class="rowHeader" style="min-width: 140px;">Tổng thời gian cuộc gọi nhận (cuộc gọi đến)</th>
            <th class="rowHeader" style="min-width: 140px;">Trung bình TG nói chuyện cuộc gọi đến</th>
            <th class="rowHeader" style="min-width: 140px;">Tổng số vé được tạo trong thời gian lọc BC</th>
            <th class="rowHeader" style="min-width: 140px;">Thời gian  tư vấn TB bán (tạo) 1 vé</th>
            <th class="rowHeader" style="min-width: 100px;">Tổng cuộc gọi không trả lời</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="11" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="2"></td>
            <td class="rowAllTotal">{{TotalCallOut|number}}</td>
            <td class="rowAllTotal">{{totalDurationOut|number}}</td>
            <td class="rowAllTotal">{{averageOut|number}}</td>
            <td class="rowAllTotal">{{TotalCallIn|number}}</td>
            <td class="rowAllTotal">{{totalDurationIn|number}}</td>
            <td class="rowAllTotal">{{averageIn|number}}</td>
            <td class="rowAllTotal">{{totalTicket|number}}</td>
            <td class="rowAllTotal">{{averageTimePerTicket|number}}</td>
            <td class="rowAllTotal">{{TotalCallNotAnswer|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.fullName}}</td>
              <td class="rowH"></td>
              <td class="rowH">{{vh.TotalCallOut | number}}</td>
              <td class="rowH">{{vh.totalDurationOut | number}}</td>
              <td class="rowH">{{vh.averageOut | number}}</td>
              <td class="rowH">{{vh.TotalCallIn | number}}</td>
              <td class="rowH">{{vh.totalDurationIn | number}}</td>
              <td class="rowH">
                {{vh.averageIn | number}}</td>
              <td class="rowH">{{(vh.totalTicket ? vh.totalTicket : '0')|number}}</td>
              <td class="rowH">{{(vh.averageTimePerTicket ? vh.averageTimePerTicket : '0')|number}}</td>
              <td class="rowH">{{(vh.TotalCallNotAnswer ? vh.TotalCallNotAnswer : '0')|number}}</td>
            </tr>
            <template v-for="(number,key) in vh.extensions">
              <tr class="font-weight-bold text-center">
                <td class="rowH"></td>
                <td class="rowH">{{number.extension}}</td>
                <td class="rowH">{{number.TotalCallOut | number}}</td>
                <td class="rowH">{{number.totalDurationOut | number}}</td>
                <td class="rowH">{{number.averageOut | number}}</td>
                <td class="rowH">{{number.TotalCallIn | number}}</td>
                <td class="rowH">{{number.totalDurationIn | number}}</td>
                <td class="rowH">
                  {{number.averageIn | number}}</td>
                <td class="rowH"></td>
                <td class="rowH">{{(number.averageTimePerTicket ? number.averageTimePerTicket : '0')|number}}</td>
                <td class="rowH">{{(number.TotalCallNotAnswer ? number.TotalCallNotAnswer : '0')|number}}</td>
              </tr>
            </template>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                userSelects: null,
                typeStatus: null,
                typeStatuss: [
                    {
                        value: 0,
                        label: 'Hủy'
                    },
                    {
                        value: 1,
                        label: 'Trong kho'
                    },
                    {
                        value: 2,
                        label: 'Đóng gói'
                    },
                    {
                        value: 3,
                        label: 'Đang vận chuyển'
                    },
                    {
                        value: 4,
                        label: 'Đã nhận'
                    },
                    {
                        value: 5,
                        label: 'Đã giao'
                    },
                ]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                // if(self.userSelects == null || self.userSelects.length == 0){
                //     notify('Vui lòng chọn nhân viên','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.userSelects && self.userSelects.length > 0){
                    params.userIds = []
                    $.each(self.userSelects, function (r,user) {
                        params.userIds.push(user.id)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-voice-cloud-report',
                    data : params,
                    success : function (data) {
                        let a = []
                        let keys = []
                        $.each (data, function (t,ticket) {
                            let x = true
                            if (keys.length > 0) {
                                $.each(keys, function (k, key) {
                                    if (ticket.userId == key){
                                        x = false
                                    }
                                })
                            }
                            if (keys == [] || x){
                                let b = {
                                    userId : ticket.userId,
                                    fullName : ticket.fullName,
                                    extensions: [],
                                    TotalCallOut: 0,
                                    totalDurationOut: 0,
                                    averageOut: 0,
                                    TotalCallIn: 0,
                                    totalDurationIn: 0,
                                    averageIn: 0,
                                    totalTicket: 0,
                                    totalTimeTicketAverage: 0,
                                    TotalCallNotAnswer: 0,
                                    averageTimePerTicket: 0,
                                }
                                $.each (data, function (t,ticket) {
                                    if (ticket.userId == b.userId) {
                                        let c = {
                                            extension: ticket.extension,
                                            TotalCallOut: ticket.TotalCallOut,
                                            totalDurationOut: ticket.totalDurationOut,
                                            averageOut: ticket.averageOut ? ticket.averageOut.toFixed(1) : 0,
                                            TotalCallIn: ticket.TotalCallIn,
                                            totalDurationIn: ticket.totalDurationIn,
                                            averageIn: ticket.averageIn ? ticket.averageIn.toFixed(1) : 0,
                                            totalTicket: ticket.totalTicket,
                                            totalTimeTicketAverage:  ticket.totalTimeTicketAverage ? ticket.totalTimeTicketAverage.toFixed(1) : 0,
                                            TotalCallNotAnswer: ticket.TotalCallNotAnswer,
                                            averageTimePerTicket: ticket.averageTimePerTicket ? ticket.averageTimePerTicket.toFixed(1) : 0,
                                        }
                                        b.extensions.push(c)
                                    }
                                })
                                $.each(b.extensions, function (p, extension) {
                                    b.TotalCallOut += extension.TotalCallOut
                                    b.totalDurationOut += extension.totalDurationOut
                                    if(b.totalDurationOut && b.TotalCallOut){
                                        b.averageOut = (b.totalDurationOut/b.TotalCallOut).toFixed(1)
                                    } else {
                                        b.averageOut = 0
                                    }
                                    b.TotalCallIn += extension.TotalCallIn
                                    b.totalDurationIn += extension.totalDurationIn
                                    if(b.totalDurationIn && b.TotalCallIn){
                                        b.averageIn = (b.totalDurationIn/b.TotalCallIn).toFixed(1)
                                    } else {
                                        b.averageIn = 0
                                    }
                                    b.totalTicket = extension.totalTicket
                                    b.totalTimeTicketAverage += extension.totalTimeTicketAverage
                                    b.TotalCallNotAnswer += extension.TotalCallNotAnswer
                                    let check0 = b.totalDurationOut + b.totalDurationIn
                                    if(check0 && b.totalTicket){
                                        b.averageTimePerTicket = ((b.totalDurationOut + b.totalDurationIn)/b.totalTicket).toFixed(1)
                                    } else {
                                        b.averageTimePerTicket = 0
                                    }
                                })
                                b.extensions.sort(function(a, b){return b.totalTicket - a.totalTicket})
                                a.push(b)
                                keys.push(ticket.userId)
                            }
                        })
                        self.list = a
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            TotalCallOut :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.TotalCallOut ? li.TotalCallOut : 0
                })
                return a
            },
            totalDurationOut :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalDurationOut ? li.totalDurationOut : 0
                })
                return a
            },
            averageOut :function () {
                let a = 0
                if(this.totalDurationOut && this.TotalCallOut){
                    a = (this.totalDurationOut/this.TotalCallOut).toFixed(1)
                }
                return a
            },
            TotalCallIn :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.TotalCallIn ? li.TotalCallIn : 0
                })
                return a
            },
            totalDurationIn :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalDurationIn ? li.totalDurationIn : 0
                })
                return a
                },
            averageIn :function () {
                let a = 0
                if(this.totalDurationIn/this.TotalCallIn) {
                    a = (this.totalDurationIn/this.TotalCallIn).toFixed(1)
                }
                return a
            },
            totalTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicket ? li.totalTicket : 0
                })
                return a
            },
            averageTimePerTicket :function () {
                let a = 0
                let check0 = this.totalDurationIn + this.totalDurationOut
                console.log('check0',check0)
                if( check0 && this.totalTicket){
                    a = ((this.totalDurationIn + this.totalDurationOut)/this.totalTicket).toFixed(1)
                }
                return a
            },
            TotalCallNotAnswer :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.TotalCallNotAnswer ? li.TotalCallNotAnswer : 0
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
