<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">AV35: Báo cáo chi tiết vé hủy</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item date-filter">
          <label>Thời gian hủy vé</label>
          <el-date-picker
            v-model="form.dateRange"
            class="w-100"
            :clearable="false"
            type="daterange"
            :picker-options="options"
            range-separator="-"
            :format="dateFormat"
            start-placeholder="Bắt đầu"
            end-placeholder="Kết thúc"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Nhân viên</label>
          <e-select-user
            class="w-100"
            v-model="form.user"
            :clearable="true"
            placeholder="Chọn tất cả"
          ></e-select-user>
        </div>
        <div class="filter-item">
          <label>Trạng thái vé khi bị hủy</label>
          <el-select class="w-100" v-model="form.ticketStatus" clearable placeholder="Tất cả">
            <el-option
              v-for="element in ticketStatusList"
              :key="element.key"
              :label="element.label"
              :value="element.key"
            ></el-option>
          </el-select>
        </div>
        <div class="filter-item">
          <label>Trạng thái chuyến</label>
          <el-select class="w-100" v-model="form.tripStatus" clearable placeholder="Tất cả">
            <el-option
              v-for="element in tripStatusList"
              :key="element.key"
              :label="element.label"
              :value="element.key"
            ></el-option>
          </el-select>
        </div>
        <div>
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >{{$t('button.filter')}}</button>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important;font-weight: 500 !important;"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{$t('No-')}}</th>
            <th class="rowHeader">Mã vé</th>
            <th class="rowHeader">Mã ghế</th>
            <th class="rowHeader">Tuyến</th>
            <th class="rowHeader">Biển số xe</th>
            <th class="rowHeader">Chuyến</th>
            <th class="rowHeader">Ngày giờ hủy vé</th>
            <th class="rowHeader">
              Tên NV
              <br />thao tác hủy
            </th>
            <th class="rowHeader">Trạng thái chuyến</th>
            <th class="rowHeader">
              Tiền vé
              <br />(bao gồm phụ thu)
            </th>
            <th class="rowHeader">
              Tiền vé đã thanh toán
              <br />/đặt cọc
            </th>
            <th class="rowHeader">
              Số tiền hủy vé
              <br />hoàn tiền cho khách
            </th>
            <th class="rowHeader">
              Trạng thái vé
              <br />khi bị hủy
            </th>
            <th class="rowHeader">Lý do hủy</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length<=0">
            <td colspan="14" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <template v-if="reportData.length > 0">
            <tr class="font-weight-bold text-center">
              <td class="rowAllTotal text-left" colspan="9">Tổng cộng số lượng:</td>
              <td class="rowAllTotal">{{totalReportData.col11 | number}}</td>
              <td class="rowAllTotal">{{totalReportData.col12 | number}}</td>
              <td class="rowAllTotal">{{totalReportData.col13 | number}}</td>
              <td colspan="2"></td>
            </tr>
            <tr class="font-weight-bold text-center">
              <td class="rowAllTotal text-left" colspan="9">Tổng cộng số tiền:</td>
              <td class="rowAllTotal">{{totalReportData.col21 | number}}</td>
              <td class="rowAllTotal">{{totalReportData.col22 | number}}</td>
              <td class="rowAllTotal">{{totalReportData.col22 | number}}</td>
              <td colspan="2"></td>
            </tr>
            <template>
              <tr
                class="font-weight-bold text-center"
                v-for="(item, index) of reportData"
                :key="item.id"
              >
                <td class="rowH">{{index+1}}</td>
                <td class="rowH">{{item.ticketCode}}</td>
                <td class="rowH">{{item.seatId}}</td>
                <td class="rowH">{{item.routeName}}</td>
                <td class="rowH">{{item.numberPlate}}</td>
                <td class="rowH">{{item.startTimeReality | customDate('#hhhh#:#mm#', true)}} {{item.startDateReality | strToDate()}}</td>
                <td class="rowH">{{item.cancelTime|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</td>
                <td class="rowH">{{item.cancelUser}}</td>
                <td class="rowH">{{tripStatusList.find(e=> e.key === item.tripStatus) ? tripStatusList.find(e=> e.key === item.tripStatus).label : ''}}</td>
                <td class="rowH">{{item.agencyPrice |number}}</td>
                <td class="rowH">{{item.paidMoney |number}}</td>
                <td class="rowH">{{item.refundMoney |number}}</td>
                <td
                  class="rowH"
                >{{ticketStatusList.find(e => e.key === item.statusBeforCancel) ? ticketStatusList.find(e => e.key === item.statusBeforCancel).label : ''}}</td>
                <td class="rowH">{{item.cancelReason}}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import ESelectUser from "../User/ESelectUser";
import {mapState} from 'vuex'

export default {
  components: { ESelectUser },
  data: function () {
    return {
      loadingTable: false,
      form: {
        dateRange: [new Date(), new Date()],
        user: null,
        ticketStatus: null,
        tripStatus: null,
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      totalReportData: {
        col11: 0,
        col12: 0,
        col13: 0,
        col21: 0,
        col22: 0,
        col23: 0,
      },
      reportData: [],
      dateFormat: "dd-MM-yyyy",
      ticketStatusList: this.renderTicketStatus(),
      tripStatusList: this.renderTripStatus(),
    };
  },
  mounted: function () {
    // this.getReport();
  },
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate: self.form.dateRange[0].setHours(0, 0, 0, 0),
        endDate: self.form.dateRange[1].setHours(23, 59, 59, 999),
      };
      if (self.form.ticketStatus) {
        param.ticketStatus = self.form.ticketStatus;
      }
      if (self.form.user) {
        param.sellerId = self.form.user.id;
      }
      if (self.form.tripStatus) {
        param.tripStatus = self.form.tripStatus;
      }
      sendJson({
        url:
          "https://asia-southeast2-dobody-anvui.cloudfunctions.net/report-detail-ticket-cancel",
        data: param,
        success: function (data) {
          self.reportData = data.map((x) => {
            let item = {
              agencyPrice: x.agencyPrice ? x.agencyPrice : 0,
              cancelReason: x.cancelReason,
              cancelTime: x.cancelTime ? x.cancelTime : 0,
              cancelUser: x.cancelUser,
              numberPlate: x.numberPlate,
              paidMoney: x.paidMoney ? x.paidMoney : 0,
              refundMoney: x.refundMoney ? x.refundMoney : 0,
              routeName: x.routeName,
              seatId: x.seatId,
              startDateReality: x.startDateReality ? x.startDateReality : 0,
              startTimeReality: x.startTimeReality ? x.startTimeReality : 0,
              statusBeforCancel: x.statusBeforCancel ? x.statusBeforCancel : '',
              ticketCode: x.ticketCode,
              ticketId: x.ticketId,
              tripStatus: x.tripStatus ? x.tripStatus : '',
            };
            return item;
          });
          // sum total
          self.sumTotal(self.reportData);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_CHI_TIET_VE_HUY"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
    renderTicketStatus: function () {
      let list = [
        {
          label: "Đã hủy",
          key: 0,
        },
        {
          label: "Trống",
          key: 1,
        },
        {
          label: "GCCTH",
          key: 2,
        },
        {
          label: "Đã thanh toán",
          key: 3,
        },
        {
          label: "Đã Lên xe",
          key: 4,
        },
        {
          label: "Đã xuống xe",
          key: 5,
        },
        {
          label: "GCUT",
          key: 7,
        },
      ];
      return list;
    },
    renderTripStatus: function (params) {
      let list = [
        {
          label: "Không hợp lệ",
          key: -1,
        },
        {
          label: "Có kế hoạch xuất bến",
          key: 1,
        },
        {
          label: "Đang trong chuyến đi",
          key: 2,
        },
        {
          label: "Đã hoàn thành chuyến",
          key: 3,
        },
        {
          label: "Đã hủy",
          key: 4,
        },
        {
          label: "Quá thời gian chạy",
          key: 5,
        },
        {
          label: "Không chạy",
          key: 6,
        },
        {
          label: "Server lỗi",
          key: 7,
        },
      ];
      return list;
    },
    sumTotal: function (data) {
      this.totalReportData = this.clearSumTotal();
      this.totalReportData.col11 = data.filter(
        (e) => e.agencyPrice != 0
      ).length;
      this.totalReportData.col12 = data.filter((e) => e.paidMoney != 0).length;
      this.totalReportData.col13 = data.filter(
        (e) => e.refundMoney != 0
      ).length;
      data.forEach((element) => {
        this.totalReportData.col21 += element.agencyPrice;
        this.totalReportData.col22 += element.paidMoney;
        this.totalReportData.col23 += element.refundMoney;
      });
    },
    clearSumTotal: function () {
      let totalReportData = {
        col11: 0,
        col12: 0,
        col13: 0,
        col21: 0,
        col22: 0,
        col23: 0,
      };
      return totalReportData;
    },
  },
};
</script>

<style lang="scss" scoped>
.date-filter {
  grid-column: span 2;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.margin-bottom {
  padding-bottom: 60px;
  // overflow-x: scroll;
  // max-height: 75vh;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
}
.rowTotal {
  font-family: sans-serif !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
.rowAllTotal {
  font-family: sans-serif !important;
  font-weight: bold !important;
}
.rowH {
  font-family: sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
.table thead {
  background: #cfd3db;
}
.table td,
.table td h5 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
}
.text-left {
  text-align: left;
}
</style>
