<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">BÁO CÁO CHUYẾN</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="print()">
            <i class="fa fa-print"></i>
            {{ $t('button.print')}}
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i>
            {{ $t('export-excel')}}
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="content-row">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="row no-gutters">
                    <div class="col form-group">
                        <label>{{$t('from-date')}}</label>
                        <el-date-picker
                        class="w-100"
                        v-model="startDate"
                        format="dd-MM-yyyy"
                        value-format="dd-MM-yyyy"
                        type="date"
                        placeholder="Chọn ngày"
                        ></el-date-picker>
                    </div>
                    <div class="col-auto form-group" style="width:120px">
                        <label>&nbsp;</label>
                        <el-time-picker
                        style="width: auto;"
                        type="timerange"
                        format="HH:mm"
                        value-format="timestamp"
                        v-model="startTime"
                        placeholder="Chọn giờ"
                        ></el-time-picker>
                    </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="row no-gutters">
                    <div class="col form-group">
                        <label>{{$t('to-date')}}</label>
                        <el-date-picker
                        class="w-100"
                        v-model="endDate"
                        format="dd-MM-yyyy"
                        value-format="dd-MM-yyyy"
                        type="date"
                        placeholder="Chọn ngày"
                        ></el-date-picker>
                    </div>
                    <div class="col-auto form-group" style="width:120px">
                        <label>&nbsp;</label>
                        <el-time-picker
                        style="width: auto;"
                        type="timerange"
                        format="HH:mm"
                        value-format="timestamp"
                        v-model="endTime"
                        placeholder="Chọn giờ"
                        ></el-time-picker>
                    </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="form-group">
                        <label>{{$t('filter.driver-xe')}}</label>
                        <selectuser :listUserType="[2]" :allowEmpty="true" v-model="driver"></selectuser>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="control-group">
                        <label>{{$t('filter.vehicle')}}</label>
                        <select-vehicle class="w-100" v-model="vehicle" :allowEmpty="true"></select-vehicle>
                    </div>
                </div>
                <div class="col-md-9"></div>
                <div class="col-6 col-md-3">
                    <div class="form-group">
                        <label>&nbsp; </label>
                        <button class="btn btn-primary btn-block text-uppercase" @click="getReportTrips()"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row top20 report-div">
      <div class="col-12" v-html="htmlRendered"></div>
    </div>
  </div>
</template>
<script>
import SelectVehicle from "../Vehicle/SelectVehicle";
import SelectUser from "../User/SelectUser";

let date = new Date()
export default {
  components: {
    SelectVehicle,
    SelectUser,
  },
  data: function() {
    return {
        startTime : new Date(date.getFullYear(), date.getMonth(), date.getDate()).getTime(),
        endTime : new Date(date.getFullYear(), date.getMonth(), date.getDate()) + 86340000,
        startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
        endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
        driver : null,
        vehicle : null,
        data : null,
        dataConfig : ''
    };
  },
  mounted: function() {
    this.getConfig();
  },
    computed: {
        report : function(){
            let data = this.data;
            let bills = {};
            let total = {
                goodsFeeByDriver: 0,
                onlinePaymentMoney: 0,
                totalCashOnTheTrip: 0,
                totalGoods: 0,
                totalGoodsMoney: 0,
                totalGoodsPaid: 0,
                totalGoodsUnpaid: 0,
                totalMoney: 0,
                totalOnlinePayment: 0,
                totalPaidMoney: 0,
                totalSeat: 0,
                totalTicket: 0,
            };
            let totalThuChi = {
                totalReceiptsIn: 0,
                totalReceiptsOut: 0,
                thuTruChi: 0,
                totalCashOnTrip: 0,
                totalMoneyGoods: 0,
                totalMoneyTicketsAndGoods: 0,
                total:0
            }
            let tt = 0
            let tc = 0
            $.each(data,function(d,dt){
                if(dt.bills){
                    $.each(dt.bills,function(b,bill){
                        if(bill.item){
                            if(bills[bill.item.itemId]){
                                bills[bill.item.itemId].amount += bill.amount
                            }else{
                                let bl = {
                                    name : bill.item.itemName,
                                    amount : bill.amount,
                                    billType : bill.billType
                                }
                                bills[bill.item.itemId] = bl;
                            }
                        }
                        if (bill.billType == 1) {
                            tt  += bill.amount;
                        }else{
                            tc += bill.amount;
                        }
                    });
                }

                total.goodsFeeByDriver+=dt.report.goodsFeeByDriver||0;
                total.onlinePaymentMoney+=dt.report.onlinePaymentMoney||0;
                total.totalCashOnTheTrip+=dt.report.totalCashOnTheTrip||0;
                total.totalGoods+=dt.report.totalGoods||0;
                total.totalGoodsMoney+=dt.report.totalGoodsMoney||0;
                total.totalGoodsPaid+=dt.report.totalGoodsPaid||0;
                total.totalGoodsUnpaid+=dt.report.totalGoodsUnpaid||0;
                total.totalMoney+=dt.report.totalMoney||0;
                total.totalOnlinePayment+=dt.report.totalOnlinePayment||0;
                total.totalPaidMoney+=dt.report.totalPaidMoney||0;
                total.totalSeat+=dt.report.totalSeat||0;
                total.totalTicket+=dt.report.totalTicket||0;

                totalThuChi.totalCashOnTrip += dt.report.totalCashOnTheTrip || 0
                totalThuChi.totalMoneyGoods += dt.report.goodsFeeByDriver || 0
            });

            totalThuChi.totalReceiptsIn = tt
            totalThuChi.totalReceiptsOut = tc
            totalThuChi.thuTruChi = totalThuChi.totalReceiptsIn - totalThuChi.totalReceiptsOut
            totalThuChi.totalMoneyTicketsAndGoods = totalThuChi.totalCashOnTrip + totalThuChi.totalMoneyGoods
            totalThuChi.total = totalThuChi.totalMoneyTicketsAndGoods + totalThuChi.thuTruChi
            return {bills,total,totalThuChi}
        },
        htmlRendered : function (){
            let self = this;
            let report = this.report;
            let data = this.data;
            let dataConfig = this.dataConfig;

            dataConfig = self.replaceTotal(report.totalThuChi, dataConfig);

            let htmlSample = $("<div>" + dataConfig + "</div>").find("#tuy-chinh-in-danh-sach-chuyen").find("tbody").html();
            let htmlAllRow = "";
            $.each(data  ? data : [], function(k, v) {
                htmlAllRow += self.replaceTrip(v, htmlSample || "");
            });

            
            let htmlSampleBill = $("<div>" + dataConfig + "</div>").find("#tuy-chinh-in-danh-sach-thu-chi").find("tbody").html();
            let htmlAllRowBill = "";
            $.each(report.bills  ? report.bills : [], function(k, v) {
                htmlAllRowBill += self.replaceBill(v, htmlSampleBill || "");
            });

            let result = $("<div>" + dataConfig + "</div>")
            $("#tuy-chinh-in-danh-sach-chuyen tbody", result).replaceWith(htmlAllRow);
            $("#tuy-chinh-in-danh-sach-thu-chi tbody", result).replaceWith(htmlAllRowBill);

            return $(result).html();
        }
    },
  methods: {
    getConfig: function() {
      let self = this;
      sendJson({
        url: urlDBD(API.displaySettingGet),
        data: {
          type: DisplaySetting.REPORT_TRIP
        },
        success: function(res) {
          if (res.results.data) {
            self.dataConfig = res.results.data;
          }
        }
      });
    },
    getReportTrips : function () {
        let self = this;
        this.dataReport = [];
        self.load('getReportTrips');
        let dataReq = {};
        let d = func.dateStartToEnd(self.startDate,self.endDate);
        dataReq.startDate = new Date(d.start).customFormat('#YYYY##MM##DD#');
        dataReq.endDate = new Date(d.end).customFormat('#YYYY##MM##DD#');
        if(self.driver){
            dataReq.driverId = self.driver.id;
        }
        if(self.vehicle){
            dataReq.numberPlate = self.vehicle.numberPlate;
        }
        sendJson({
            url : urlDBD(API.reportByTrips),
            data : dataReq,
            success : function (res) {
                self.data = res.results.tripsReport
                self.unload('getReportTrips');
            },
            functionIfError : function (err) {
                self.unload('getReportTrips');
            }
        });
    },
    print: function() {
      $(this.$el)
        .find(".report-div")
        .printThis();
    },
    exportExcel: function() {
      this.excel(
        $(this.$el)
          .find(".report-div")
          .find("table"),
        "DANH_SACH_VE_"
      );
    },
    replaceTrip: function(trip, html) {
        let htmlAfterReplace = _.cloneDeep(html);
        let self = this;
        let replaceObject = [
            {
                key : '[gio_xuat_ben]',
                value : function(){
                    return self.$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true);
                }
            },
            {
                key : '[ngay_xuat_ben]',
                value :  function(){
                    return self.$options.filters.strToDate(trip.startDateReality);
                }
            },
            {
                key : '[tuyen_cua_chuyen]',
                value : function(){
                    return trip.routeInfo?trip.routeInfo.name:'';
                }
            },
            {
                key : '[tai_xe_chuyen]',
                value : function(){
                    let driversName =(trip.drivers||[]).map( ( {fullName} ) => fullName );
                    return driversName.toString();
                }
            },
            {
                key : '[phu_xe_chuyen]',
                value : function(){
                    let assistantsName =(trip.assistants||[]).map( ( {fullName} ) => fullName );
                    return assistantsName.toString();
                }
            },
            {
                key : '[bien_so_xe]',
                value : function(){
                    return trip.vehicle ? trip.vehicle.numberPlate : '';
                }
            },
            {
                key : '[so_luong_ve]',
                value : function(){
                    return trip.report.totalTicket;
                }
            },
            {
                key : '[danh_sach-ghe]',
                value : function(){
                    return trip.report.listSeatId ? trip.report.listSeatId.toString() : '';
                }
            },
            {
                key : '[tong_tien_ve]',
                value : function(){
                    return self.$options.filters.number(trip.report.totalMoney);
                }
            },
            {
                key: '[tong_tien_ve_bang_chu]',
                value : function(){
                    return func.DocTienBangChu(trip.report.totalMoney);
                }
            },
            {
                key : '[tong_tien_hang]',
                value : function(){
                    return self.$options.filters.number(trip.report.totalGoodsMoney);
                }
            },
            {
                key : '[khach_da_tra]',
                value : function(){
                    return self.$options.filters.number(trip.report.totalPaidMoney);
                }
            },
            {
                key : '[hang_da_tra]',
                value : function(){
                    return self.$options.filters.number(trip.report.totalGoodsPaid);
                }
            },
            {
                key : '[khach_xe_thu]',
                value : function(){
                    return self.$options.filters.number(trip.report.totalCashOnTheTrip);
                }
            },
            {
                key : '[hang_xe_thu]',
                value : function(){
                    return self.$options.filters.number(trip.report.goodsFeeByDriver);
                }
            },
            {
                key : '[khach_chua_thu]',
                value : function(){
                    return self.$options.filters.number(trip.report.totalMoney-trip.report.totalPaidMoney);
                }
            },
            {
                key : '[hang_chua_thu]',
                value : function(){
                    return self.$options.filters.number(trip.report.totalGoodsUnpaid);
                }
            },
        ];
        $.each(replaceObject, function(k, v) {
            htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
        });
        return htmlAfterReplace;
    },
    replaceBill: function(bill, html) {
          let htmlAfterReplace = _.cloneDeep(html);
          let self = this;
          let replaceObject = [
              {
                  key : '[khoan_muc_thu_chi]',
                  value : function(){
                      return bill.name
                  }
              },
              {
                  key : '[so_tien]',
                  value : function(){
                      return (bill.billType==2?'-':'+')+self.$options.filters.number(bill.amount)
                  }
              },
          ];
          $.each(replaceObject, function(k, v) {
              htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
          });
          return htmlAfterReplace;
      },
    replaceTotal: function(total, html) {
          let htmlAfterReplace = _.cloneDeep(html);
          let self = this;
          let replaceObject = [
              {
                  key : '[tong_tien_phieu_thu]',
                  value : function(){
                      if (total && total.totalReceiptsIn) {
                          return '+'+self.$options.filters.number(total.totalReceiptsIn)
                      } else {
                          return 0
                      }
                  }
              },
              {
                  key : '[tong_tien_phieu_chi]',
                  value : function(){
                      if (total && total.totalReceiptsOut) {
                          return '-'+self.$options.filters.number(total.totalReceiptsOut)
                      } else {
                          return 0
                      }

                  }
              },
              {
                  key : '[thu_chi]',
                  value : function(){
                      if (total && total.thuTruChi) {
                          return self.$options.filters.number(total.thuTruChi)
                      } else {
                          return 0
                      }

                  }
              },
              {
                  key : '[tong_khach_xe_thu]',
                  value : function(){
                      if (total && total.totalCashOnTrip) {
                          return self.$options.filters.number(total.totalCashOnTrip)
                      } else {
                          return 0
                      }

                  }
              },
              {
                  key : '[tong_hang_xe_thu]',
                  value : function(){
                      if (total && total.totalMoneyGoods) {
                          return self.$options.filters.number(total.totalMoneyGoods)
                      } else {
                          return 0
                      }

                  }
              },
              {
                  key : '[tong_khach_hang_xe_thu]',
                  value : function(){
                      if (total && total.totalMoneyTicketsAndGoods) {
                          return self.$options.filters.number(total.totalMoneyTicketsAndGoods)
                      } else {
                          return 0
                      }
                  }
              },
              {
                  key : '[thu_chi_xe]',
                  value : function(){
                      if (total && total.total) {
                          return self.$options.filters.number(total.total)
                      } else {
                          return 0
                      }

                  }
              },
          ];
          $.each(replaceObject, function(k, v) {
              htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
          });
          return htmlAfterReplace;
      }

  }
};
</script>