<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          TĐ2: BÁO CÁO CHI TIẾT CUỘC GỌI
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-1">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-1">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Nhân viên </label><br>
            <e-select-user class="w-100" v-model="userSelects" clearable multiple ></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Trạng thái </label><br>
            <el-select class="w-100" v-model="status" clearable placeholder="Tất cả">
              <el-option
                      v-for="element in statusList"
                      :key="element.value"
                      :label="element.label"
                      :value="element.value"
              ></el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader" style="min-width: 140px;">Tên nhân viên (TK đăng nhập)</th>
            <th class="rowHeader" style="min-width: 100px;">Ngày giờ  gọi</th>
            <th class="rowHeader" style="min-width: 100px;">Số máy nhánh (extension)</th>
            <th class="rowHeader" style="min-width: 140px;">Số đích</th>
            <th class="rowHeader" style="min-width: 140px;">Tên khách (số đích)</th>
            <th class="rowHeader" style="min-width: 140px;">Thời gian cuộc gọi (TG nói chuyện)</th>
            <th class="rowHeader" style="min-width: 140px;">Trạng thái</th>
            <th class="rowHeader" style="min-width: 140px;">Ghi âm</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="8" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="5"></td>
            <td class="rowAllTotal">{{(TotalCall ? TotalCall + " '" : '') | number}}</td>
            <td class="rowAllTotal" colspan="2"></td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.userName}}</td>
              <td class="rowH"></td>
              <td class="rowH"></td>
              <td class="rowH"></td>
              <td class="rowH"></td>
              <td class="rowH">{{vh.totalTime ? vh.totalTime + " '" : ''}}</td>
              <td class="rowH"></td>
              <td class="rowH"></td>
            </tr>
            <template v-for="(number,key) in vh.callDetails">
              <tr class="font-weight-bold text-center">
                <td class="rowH"></td>
                <td class="rowH">{{number.callDate}}</td>
                <td class="rowH">{{number.extension }}</td>
                <td class="rowH">{{number.phone}}</td>
                <td class="rowH">{{number.fullname}}</td>
                <td class="rowH">{{number.duration ? number.duration + " '": '' }}</td>
                <td class="rowH">{{number.status}}</td>
                <td class="rowH">
                  <a :href="number.recordingFile" target="_blank">{{number.recordingFile}}</a>
                </td>
              </tr>
            </template>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                userSelects: null,
                status: null,
                statusList: [
                    {
                        label: 'Cuộc gọi đi',
                        value: 'outbound'
                    },
                    {
                        label: 'Cuộc gọi đến',
                        value: 'inbound'
                    }
                ]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }

                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                };
                if(self.status){
                    params.direction = self.status
                }
                if (self.userSelects && self.userSelects.length > 0){
                    params.userIds = []
                    $.each(self.userSelects, function (r,user) {
                        params.userIds.push(user.id)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-voice-cloud-detail-report',
                    data : params,
                    success : function (data) {
                        let a = []
                        let keys = []
                        $.each (data, function (t,ticket) {
                            let x = true
                            if (keys.length > 0) {
                                $.each(keys, function (k, key) {
                                    if (ticket.userId == key){
                                        x = false
                                    }
                                })
                            }
                            if (keys == [] || x){
                                let b = {
                                    userId: ticket.userId,
                                    userName : ticket.userName,
                                    callDetails: [],
                                    totalTime: 0,
                                }
                                $.each (data, function (t,ticket) {
                                    if (ticket.userId == b.userId) {
                                        let c = {
                                            extension: ticket.extension,
                                            callDate: ticket.callDate,
                                            duration: ticket.duration,
                                            totalTicket: ticket.totalTicket,
                                            phone: ticket.phone,
                                            status: ticket.status,
                                            recordingFile: ticket.recordingFile,
                                            fullname: ticket.fullname ? ticket.fullname : ''
                                        }
                                        b.callDetails.push(c)
                                    }
                                })
                                $.each(b.callDetails, function (p, call) {
                                    b.totalTime += call.duration
                                })
                                b.callDetails.sort(function(a, b){return b.totalTime - a.totalTime})
                                a.push(b)
                                keys.push(ticket.userId)
                            }
                        })
                        self.list = a
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            TotalCall :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTime ? li.totalTime : 0
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
