<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV12 :Báo cáo chi tiết doanh thu hàng theo văn phòng
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-date-picker class="w-100" v-model="dateStart" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-date-picker class="w-100" v-model="dateEnd" :picker-options="options" format="dd-MM-yyyy" value-format="timestamp" type="date"
                            placeholder="Chọn ngày"></el-date-picker>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Văn phòng đi/gửi</label><br>
            <select-point class="w-100" v-model="selectedRoom" pointTypes="8" isReceivedGoods="true" multiple clearable></select-point>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tình trạng đơn hàng</label><br>
            <el-select v-model="goodsStatus " multiple placeholder="" >
              <el-option
                      v-for="item in goodsStatuss "
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <th class="rowHeader">{{$t('No-')}}</th>
            <th class="rowHeader">NGÀY TẠO ĐƠN HÀNG</th>
            <th class="rowHeader">MÃ ĐƠN HÀNG</th>
            <th class="rowHeader">BIỂN SỐ XE</th>
            <th class="rowHeader">TÀI XẾ</th>
            <th class="rowHeader">TÀI XẾ 2 (nếu có)</th>
            <th class="rowHeader">PHỤ XE/TV</th>
            <th class="rowHeader">TÊN NV TẠO ĐH</th>
            <th class="rowHeader">VP ĐI/GỬI</th>
            <th class="rowHeader">VP ĐẾN/NHẬN</th>
            <th class="rowHeader">TÌNH TRẠNG</th>
            <th class="rowHeader">HÌNH THỨC TT</th>
            <th class="rowHeader">THU TRƯỚC</th>
            <th class="rowHeader">THU SAU</th>
            <th class="rowHeader">TỔNG TIỀN</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="15" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal tableexport-string" rowspan="2" colspan="3">Tổng số đơn hàng: {{list.length | number}}</td>
            <td class="rowAllTotal tableexport-string" colspan="9">Tổng số lượng</td>
            <td class="rowAllTotal tableexport-string">{{totalQuantity.col1|number}}</td>
            <td class="rowAllTotal tableexport-string">{{totalQuantity.col2|number}}</td>
            <td class="rowAllTotal tableexport-string">{{totalQuantity.col3|number}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal tableexport-string" colspan="9">Tổng số tiền</td>
            <td class="rowAllTotal tableexport-string">{{totalThuTruoc|number}}</td>
            <td class="rowAllTotal tableexport-string">{{totalThuSau|number}}</td>
            <td class="rowAllTotal tableexport-string">{{totalPrice|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH tableexport-string">{{key + 1}}</td>
              <td class="rowH tableexport-string">{{vh.createdTime | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</td>
              <td class="rowH tableexport-string">{{vh.goodsCode ? vh.goodsCode : ''}}</td>
              <td class="rowH tableexport-string">{{vh.numberPlate ? vh.numberPlate: ''}}</td>
              <td class="rowH tableexport-string">{{vh.drivers.length > 0 ? vh.drivers[0].fullName : ''}}</td>
              <td class="rowH tableexport-string">{{vh.drivers.filter((x, index)=>index>0).map(x=>x.fullName).join(', ')}}</td>
              <td class="rowH tableexport-string">{{vh.assistants.map(x=> x.fullName).join(', ')}}</td>
              <td class="rowH tableexport-string">{{vh.createdUserName ? vh.createdUserName : ''}}</td>
              <td class="rowH tableexport-string">{{vh.pickPointName ? vh.pickPointName : ''}}</td>
              <td class="rowH tableexport-string">{{vh.dropPointName ? vh.dropPointName : ''}}</td>
              <td class="rowH tableexport-string">
                {{vh.goodsStatus == 0 ? 'Hủy' :
                vh.goodsStatus == 1 ? 'Đã nhận hàng' :
                vh.goodsStatus == 2 ? 'Đã gom hàng' :
                vh.goodsStatus == 3 ? 'Đang vận chuyển' :
                vh.goodsStatus == 4 ? 'Đã đưa hàng xuống' :
                vh.goodsStatus == 5 ? 'Đã trả hàng' :
                vh.goodsStatus == 6 ? 'Chưa nhận hàng' : ''
                }}</td>
              <td class="rowH tableexport-string">{{vh.paymentType ? vh.paymentType : ''}}</td>
              <td class="rowH tableexport-string">{{(vh.prepayment ? vh.prepayment : '')|number}}</td>
              <td class="rowH tableexport-string">{{(vh.postpaid ? vh.postpaid : '')|number}}</td>
              <td class="rowH tableexport-string">{{(vh.totalPrice ? vh.totalPrice : '0')|number }}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                totalQuantity: {
                  col1: 0,
                  col2: 0,
                  col3: 0,
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                selectedRoom: null,
                goodsStatus: null,
                goodsStatuss: [
                    {
                        value: 0,
                        label: 'Hủy'
                    },
                    {
                        value: 1,
                        label: 'Đã nhận hàng'
                    },
                    {
                        value: 2,
                        label: 'Đã gom hàng'
                    },
                    {
                        value: 3,
                        label: 'Đang vận chuyển'
                    },
                    {
                        value: 4,
                        label: 'Đã đưa hàng xuống'
                    },
                    {
                        value: 5,
                        label: 'Đã trả hàng'
                    },
                    {
                        value: 6,
                        label: 'Chưa nhận hàng'
                    },
                ]

            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                // if(self.selectedRoom == null || self.selectedRoom.length == 0){
                //     notify('Vui lòng chọn phòng vé','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),

                };
                if (self.selectedRoom && self.selectedRoom.length > 0) {
                    params.roomId = []
                    $.each(self.selectedRoom, function (r,room) {
                        params.roomId.push(room.id)
                    })
                }

                if (self.goodsStatus && self.goodsStatus.length > 0) {
                    params.goodsStatus = self.goodsStatus
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-goods-revenue-by-room',
                    data : params,
                    success : function (data) {

                        $.each (data, function (t,ticket) {
                            ticket.postpaid = parseInt(ticket.postpaid);
                            ticket.prepayment = parseInt(ticket.prepayment);
                            ticket.totalPrice = parseInt(ticket.totalPrice);
                        })
                        self.list = data;
                        self.totalQuantity.col1 = data.filter(t => t.prepayment !== 0).length;
                        self.totalQuantity.col2 = data.filter(t => t.postpaid !== 0).length;
                        self.totalQuantity.col3 = data.filter(t => t.totalPrice !== 0).length;
                        self.loading = false;
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            totalThuTruoc :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += parseInt(li.prepayment)
                })
                return a
            },
            totalThuSau :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += parseInt(li.postpaid)
                })
                return a
            },
            totalPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += parseInt(li.totalPrice)
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
