<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          BÁO CÁO CHI TIẾT CÔNG NỢ NHÀ XE VỚI OTIP (AN VUI)
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-time v-model="dateStart" :value="dateStart" ></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart"  format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-time v-model="dateEnd" :value="dateEnd"></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Trạng thái</label><br>
            <el-select v-model="typeStatus" multiple placeholder="" >
              <el-option
                      v-for="item in typeStatuss"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;height: 650px;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader">Mã vé</th>
            <th class="rowHeader" style="min-width: 100px;">Ngày, giờ khách đặt vé</th>
            <th class="rowHeader">Tuyến</th>
            <th class="rowHeader">Chuyến (giờ/ngày)</th>
            <th class="rowHeader">Mã ghế</th>
            <th class="rowHeader">SĐT khách đặt</th>
            <th class="rowHeader">Tên khách đi</th>
            <th class="rowHeader"  style="min-width: 100px;">Giá vé Nhà xe niêm yết</th>
            <th class="rowHeader"  style="min-width: 100px;">Giá vé của những vé không bị hủy</th>
            <th class="rowHeader"  style="min-width: 160px;">Tiền CK cho đối tác BV của AV (những vé không bị hủy)</th>
            <th class="rowHeader"  style="min-width: 160px;">Tiền phạt Nhà xe hủy vé của khách</th>
            <th class="rowHeader"  style="min-width: 160px;">Khách hủy trước 24h/giờ khởi hành, số tiền NX hưởng 40%</th>
            <th class="rowHeader"  style="min-width: 160px;">Khách hủy trước 12h và sau 24h khởi hành, số tiền NX hưởng 70%</th>
            <th class="rowHeader"  style="min-width: 160px;">Khách hủy sau 12h/giờ khởi hành, số tiền NX hưởng 100%</th>
            <th class="rowHeader"  style="min-width: 160px;">Tổng tiền khách hủy bị phạt (Nhà xe hưởng)</th>
            <th class="rowHeader"  style="min-width: 160px;">Tiền CK cho đối tác BV của AV (vé khách hủy)</th>
            <th class="rowHeader"  style="min-width: 160px;">Tổng tiền chiết khấu cho đối tác BV An Vui</th>
            <th class="rowHeader"  style="min-width: 160px;">Tổng tiền vé nhà xe hưởng chưa trừ CK (Vé BT, Vé NX hủy, Vé khách hủy)</th>
            <th class="rowHeader"  style="min-width: 160px;">Số tiền OTIP (AV) trả lại nhà xe (sau trừ CK)</th>
            <th class="rowHeader" style="min-width: 100px;">Trạng thái vé</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="20" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="9">Tổng số lượng</td>
            <td class="rowAllTotal">{{cCommission|number}}</td>
            <td class="rowAllTotal">{{cPenalty|number}}</td>
            <td class="rowAllTotal">{{cPennalty40|number}}</td>
            <td class="rowAllTotal">{{cPennalty70|number}}</td>
            <td class="rowAllTotal">{{cPennalty100|number}}</td>
            <td class="rowAllTotal">{{cTotalPenalty|number}}</td>
            <td class="rowAllTotal">{{cTicketCancelCost|number}}</td>
            <td class="rowAllTotal">{{cTotalCommision|number}}</td>
            <td class="rowAllTotal">{{cTotalIncome|number}}</td>
            <td class="rowAllTotal">{{cOtipRefund|number}}</td>
            <td class="rowAllTotal"></td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="7">Tổng cộng tiền</td>
            <td class="rowAllTotal">{{agencyPrice|number}}</td>
            <td class="rowAllTotal">{{ticketCost|number}}</td>
            <td class="rowAllTotal">{{commission|number}}</td>
            <td class="rowAllTotal">{{penalty|number}}</td>
            <td class="rowAllTotal">{{pennalty40|number}}</td>
            <td class="rowAllTotal">{{pennalty70|number}}</td>
            <td class="rowAllTotal">{{pennalty100|number}}</td>
            <td class="rowAllTotal">{{totalPenalty|number}}</td>
            <td class="rowAllTotal">{{ticketCancelCost|number}}</td>
            <td class="rowAllTotal">{{totalCommision|number}}</td>
            <td class="rowAllTotal">{{totalIncome|number}}</td>
            <td class="rowAllTotal">{{otipRefund|number}}</td>
            <td class="rowAllTotal"></td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.ticketCode}}</td>
              <td class="rowH">{{vh.createdDate | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</td>
              <td class="rowH">{{vh.routeName}}</td>
              <td class="rowH">{{vh.routeName}}</td>
              <td class="rowH">{{vh.seat_id}}</td>
              <td class="rowH">{{vh.phoneNumber ? vh.phoneNumber : ''}}</td>
              <td class="rowH">{{vh.ticketCustomerName ? vh.ticketCustomerName : ''}}</td>
              <td class="rowH">{{(vh.agencyPrice ? vh.agencyPrice  : 0)| number}}</td>
              <td class="rowH">{{(vh.ticketCost ? vh.ticketCost  : 0)| number}}</td>
              <td class="rowH">{{(vh.commission ? vh.commission  : 0)| number}}</td>
              <td class="rowH">{{(vh.penalty ? vh.penalty  : 0)| number}}</td>
              <td class="rowH">{{(vh.pennalty40 ? vh.pennalty40  : 0)| number}}</td>
              <td class="rowH">{{(vh.pennalty70 ? vh.pennalty70  : 0)| number}}</td>
              <td class="rowH">{{(vh.pennalty100 ? vh.pennalty100  : 0)| number}}</td>
              <td class="rowH">{{(vh.totalPenalty ? vh.totalPenalty  : 0)| number}}</td>
              <td class="rowH">{{(vh.ticketCancelCost ? vh.ticketCancelCost  : 0)| number}}</td>
              <td class="rowH">{{(vh.totalCommision ? vh.totalCommision  : 0)| number}}</td>
              <td class="rowH">{{(vh.totalIncome ? vh.totalIncome  : 0)| number}}</td>
              <td class="rowH">{{(vh.otipRefund ? vh.otipRefund  : 0)| number}}</td>
              <td class="rowH">
                {{vh.ticketStatus == 0 ? 'Hủy' :
                vh.ticketStatus == 1 ? 'Rỗng' :
                vh.ticketStatus == 2 ? 'Đang giữ chỗ' :
                vh.ticketStatus == 3 ? 'Đã thanh toán' :
                vh.ticketStatus == 4 ? 'Đã lên xe' :
                vh.ticketStatus == 5 ? 'Đã hoàn thành' :
                vh.ticketStatus == 6 ? 'Quá giờ giữ chỗ' :
                vh.ticketStatus == 7 ? 'Giữ chỗ ưu tiên' : ''
                }}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                selectedRoom: null,
                typeStatus: null,
                userSelects: null,
                typeStatuss: [
                    {
                        value: 0,
                        label: 'Hủy'
                    },
                    {
                        value: 1,
                        label: 'Rỗng (Hết hạn giữ chỗ)'
                    },
                    {
                        value: 2,
                        label: 'Đang giữ chỗ'
                    },
                    {
                        value: 3,
                        label: 'Đã thánh toán'
                    },
                    {
                        value: 4,
                        label: 'Đã lên xe'
                    },
                    {
                        value: 5,
                        label: 'Đã hoàn thành'
                    },
                    {
                        value: 6,
                        label: 'Quá giờ giữ chỗ'
                    },
                    {
                        value: 7,
                        label: 'Siêu phụ xe đặt chỗ'
                    },
                ]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                // if(self.userSelects == null || self.userSelects.length == 0){
                //     notify('Vui lòng chọn nhân viên','error');
                //     return false;
                // }
                self.loading = true
                let params = {
                    // companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    // userId: ['SVU' + window.userInfo.userInfo.companyId],

                };
                if (self.typeStatus && self.typeStatus.length > 0) {
                    params.ticketStatus = self.typeStatus
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-otip-ticket-detail',
                    data : params,
                    success : function (data) {
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            commission :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.commission
                })
                return a
            },
            agencyPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.agencyPrice
                })
                return a
            },
            ticketCost :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.ticketCost
                })
                return a
            },
            cCommission :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.commission && li.commission > 0){
                        a++
                    }
                })
                return a
            },
            penalty :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.penalty
                })
                return a
            },
            cPenalty :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.penalty && li.penalty > 0){
                        a++
                    }
                })
                return a
            },
            pennalty40 :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.pennalty40
                })
                return a
            },
            cPennalty40 :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.pennalty40 && li.pennalty40 > 0){
                        a++
                    }
                })
                return a
            },
            pennalty70 :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.pennalty70
                })
                return a
            },
            cPennalty70 :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.pennalty70 && li.pennalty70 > 0){
                        a++
                    }
                })
                return a
            },
            pennalty100 :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.pennalty100
                })
                return a
            },
            cPennalty100 :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.pennalty100 && li.pennalty100 > 0){
                        a++
                    }
                })
                return a
            },
            totalPenalty :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalPenalty
                })
                return a
            },
            cTotalPenalty :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.totalPenalty && li.totalPenalty > 0){
                        a++
                    }
                })
                return a
            },
            ticketCancelCost :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.ticketCancelCost
                })
                return a
            },
            cTicketCancelCost :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.ticketCancelCost && li.ticketCancelCost > 0){
                        a++
                    }
                })
                return a
            },
            totalCommision :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalCommision
                })
                return a
            },
            cTotalCommision :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.totalCommision && li.totalCommision > 0){
                        a++
                    }
                })
                return a
            },
            totalIncome :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalIncome
                })
                return a
            },
            cTotalIncome :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.totalIncome && li.totalIncome > 0){
                        a++
                    }
                })
                return a
            },
            otipRefund :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.otipRefund
                })
                return a
            },
            cOtipRefund :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    if (li.otipRefund && li.otipRefund > 0){
                        a++
                    }
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
