<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV24: Báo cáo thống kê vé theo nhân viên bán vé
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Năm</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="yearSelect"
                    type="year"
                    :picker-options="options"
                    format="yyyy"
                    value-format="yyyy"
                    placeholder="Chọn năm">
            </el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label> Tháng</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="monthSelect"
                    :picker-options="options"
                    type="month"
                    format="MM"
                    value-format="MM"
                    placeholder="Chọn tháng">
            </el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Nhân viên</label><br>
            <e-select-user class="w-100" v-model="driverSelect" :clearable="true" :multiple="true" ></e-select-user>
          </div>
        </div>
        <div class="col-2" style="text-align: center;max-width: 200px;">
          <div class="form-group">
            <label></label><br>
            <el-switch
                    style="display: block;margin-top: 10px;font-size: 15px"
                    v-model="isMoney"
                    active-color="#13ce66"
                    inactive-color="#409EFF"
                    active-text="Số tiền"
                    inactive-text="Số vé">
            </el-switch>
          </div>
        </div>
        <div class="col-2" style="text-align: center;max-width: 250px;">
          <div class="form-group">
            <label></label><br>
            <el-switch
                    style="display: block;margin-top: 10px;font-size: 15px"
                    v-model="isIncome"
                    active-color="#13ce66"
                    inactive-color="#409EFF"
                    active-text="Doanh thu"
                    inactive-text="Sản lượng">
            </el-switch>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader" style="min-width: 230px;">Tên Nhân viên</th>
            <template v-for="i in numberOfMonths">
              <th class="rowHeader">{{i}}</th>
            </template>
            <th class="rowHeader">Tổng</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td :colspan="numberOfMonths + 2" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" style="text-align: left">Tổng cộng</td>
            <template v-for="total in dataTotal">
              <td class="rowAllTotal">{{(isMoney ? total.totalMoney : total.totalTicket)|number}}</td>
            </template>
            <td class="rowAllTotal">{{allTotal|number}}</td>
          </tr>
          <template v-for="(user, u) in listTotalUser" v-if="listTotalUser.length > 0">
            <tr class="font-weight-bold text-center" >
              <td class="rowTotal" style="text-align: left">{{user.sellerName}}</td>
              <template v-for="total in user.detail">
                <td class="rowTotal">{{(isMoney ? total.totalMoney : total.totalTicket)|number}}</td>
              </template>
              <td class="rowTotal">{{(isMoney ? user.totalMoney : user.totalTicket)|number}}</td>
            </tr>
          </template>
          <template v-for="(route,k) in list" v-if="list.length > 0">
            <tr class="font-weight-bold text-center">
              <td class="rowTotal" style="text-align: left">Phòng vé: {{route.roomName}}</td>
              <template v-for="(dt, dtIndex) in route.listTotal">
                <td class="rowTotal">{{(isMoney ? dt.totalMoney : dt.totalTicket)|number}}</td>
              </template>
              <td class="rowTotal" >{{(isMoney ? route.totalMoney : route.totalTicket)|number}}</td>
            </tr>
            <template v-for="(driver,key) in route.listDetail">
              <tr class="font-weight-bold text-center">
                <td class="rowH" >{{driver.sellerName}}</td>
                <template v-for="(dt, dtIndex) in driver.detail">
                  <td class="rowH">{{(isMoney ? dt.totalMoney : dt.totalTicket)|number}}</td>
                </template>
                <td class="rowH" >{{(isMoney ? driver.totalMoney : driver.totalTicket)|number}}</td>
              </tr>
            </template>
          </template>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                routeSelected: null,
                yearSelect: new Date().getFullYear().toString(),
                monthSelect: new Date().getMonth() < 10 ? "0" + (new Date().getMonth()+1).toString() : (new Date().getMonth()+1).toString(),
                driverSelect: null,
                allow: false,
                isMoney: true,
                isIncome: true,
                listTotalUser: []



            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(!self.yearSelect){
                    notify('Vui lòng chọn năm','error');
                    return false;
                }
                if(!self.monthSelect){
                    notify('Vui lòng chọn tháng','error');
                    return false;
                }
                if(self.driverSelect == null){
                    notify('Vui lòng chọn tài xế','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    month: self.monthSelect,
                    year: self.yearSelect,
                };
                if (self.driverSelect != null && self.driverSelect.length > 0){
                    params.userIds = []
                    $.each(self.driverSelect, function (r,user) {
                        params.userIds.push(user.id)
                    })
                }
                if (self.isIncome){
                    params.ticketStatus = [2,3,4,5,6,7]
                } else {
                    params.ticketStatus = [4,5]
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-report-month-ticket-by-staff',
                    data : params,
                    success : function (data) {
                        self.allow = true
                        let repairData = []
                        if (self.isIncome){
                            $.each(data, function (k, list) {
                                if (list.tripStatus == 1 || list.tripStatus == 2 || list.tripStatus == 3){
                                    repairData.push(list)
                                }
                            })
                        } else {
                            $.each(data, function (k, list) {
                                if (list.tripStatus == 2 || list.tripStatus == 3){
                                    repairData.push(list)
                                }
                            })
                        }
                        console.log(repairData)
                        let month = parseInt(_.cloneDeep(self.monthSelect))
                        let year = parseInt(_.cloneDeep(self.yearSelect))
                        let numberOfMonth = new Date(year, month, 0).getDate();
                        let repairList = []
                        let keysR = []
                        $.each (repairData, function (t, ticket) {
                            let y = true
                            if (keysR.length > 0) {
                                $.each(keysR, function (k, keyy) {
                                    if (ticket.roomName == keyy){
                                        y = false
                                    }
                                })
                            }
                            if (keysR == [] || y){
                                let a = {
                                    roomName : ticket.roomName ? ticket.roomName :'Không xác định',
                                    listTotal: [],
                                    listDetail: [],
                                    totalTicket: 0,
                                    totalMoney: 0,
                                }
                                for (let i = 1; i <= numberOfMonth; i++) {
                                    let c = {
                                        startDateReality: i,
                                        totalTicket: 0,
                                        totalMoney: 0,
                                    }
                                    a.listTotal.push(c)
                                }

                                let keys = []
                                $.each (repairData, function (t,ticket2) {
                                    let x = true
                                    if (keys.length > 0) {
                                        $.each(keys, function (k, key) {
                                            if (ticket2.sellerId == key){
                                                x = false
                                            }
                                        })
                                    }
                                    let h = false
                                    if (keys == [] && ticket2.routeId == a.routeId || x && ticket2.routeId == a.routeId){
                                        h = true
                                        let b = {
                                            sellerId: ticket2.sellerId,
                                            sellerName: ticket2.sellerName,
                                            detail: [],
                                            totalTicket: 0,
                                            totalMoney: 0,
                                        }
                                        for (let i = 1; i <= numberOfMonth; i++) {
                                            let e = {
                                                startDateReality: i,
                                                totalTicket: 0,
                                                totalMoney: 0,
                                            }
                                            $.each (repairData, function (t,ticket3) {
                                                let d = ticket3.date.toString()
                                                let dd = d.split('')
                                                let ddd = d.slice(6,8)
                                                let dddd = parseInt(ddd)
                                                if (ticket3.sellerId == b.sellerId && e.startDateReality == dddd && ticket3.roomName == a.roomName || ticket3.sellerId == b.sellerId && e.startDateReality == dddd && ticket3.roomName == null && a.roomName == 'Không xác định') {
                                                    e.totalTicket = ticket3.totalTicket
                                                    e.totalMoney = ticket3.totalTicketMoney
                                                    b.totalTicket += ticket3.totalTicket
                                                    b.totalMoney += ticket3.totalTicketMoney
                                                    a.listTotal[e.startDateReality -1].totalTicket += ticket3.totalTicket
                                                    a.listTotal[e.startDateReality -1].totalMoney += ticket3.totalTicketMoney
                                                }
                                            })
                                            b.detail.push(e)
                                        }
                                        if(b.totalTicket != 0 || b.totalMoney != 0){
                                            a.listDetail.push(b)
                                        }
                                    }
                                    if (h) {
                                        keys.push(ticket2.sellerId)
                                    }
                                })
                                $.each(a.listTotal, function (t, total) {
                                    a.totalTicket += total.totalTicket
                                    a.totalMoney += total.totalMoney
                                })
                                if(a.totalTicket != 0 || a.totalMoney != 0){
                                    repairList.push(a)
                                }
                            }
                            keysR.push(ticket.roomName)
                        })
                        self.list = repairList
                        if(repairList.length > 0){
                            let totalUser = []
                            $.each(repairList[0].listDetail, function (u, user) {
                                 let a = {
                                     sellerName: user.sellerName,
                                     sellerId: user.sellerId,
                                     detail: [],
                                     totalTicket: 0,
                                     totalMoney: 0
                                 }
                                for (let i = 1; i <= numberOfMonth; i++) {
                                    let c = {
                                        startDateReality: i,
                                        totalTicket: 0,
                                        totalMoney: 0,
                                    }
                                    a.detail.push(c)
                                }
                                 $.each(repairList, function (l, li) {
                                     $.each(li.listDetail, function (d, de) {
                                         if(de.sellerId == a.sellerId){
                                             $.each(de.detail, function (k, dateDetail) {
                                                 a.detail[k].totalTicket += dateDetail.totalTicket
                                                 a.totalTicket += dateDetail.totalTicket
                                                 a.detail[k].totalMoney += dateDetail.totalMoney
                                                 a.totalMoney += dateDetail.totalMoney
                                             })
                                         }
                                     })
                                 })
                                if(a.totalTicket != 0 || a.totalMoney != 0){
                                    totalUser.push(a)
                                }
                            })
                            self.listTotalUser = totalUser
                        }
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            numberOfMonths: function () {
                if (this.allow) {
                    let month = parseInt(_.cloneDeep(this.monthSelect))
                    let year = parseInt(_.cloneDeep(this.yearSelect))
                    let numberOfMonth = new Date(year, month, 0).getDate();
                    this.allow = false
                    return numberOfMonth
                }
                else {
                    return this.list && this.list.length > 0 ? this.list[0].listDetail[0].detail.length : 31
                }
            },
            dataTotal: function () {
                let a = []
                if (this.numberOfMonths) {
                    for (let i = 1; i <= this.list[0].listDetail[0].detail.length; i++) {
                        let b = {
                            totalTicket: 0,
                            totalMoney: 0,
                        }
                        $.each(this.list, function (l, li) {
                            b.totalTicket += li.listTotal[i-1].totalTicket
                            b.totalMoney += li.listTotal[i-1].totalMoney
                        })
                        a.push(b)
                    }
                    return a
                } else {
                    return this.list[0].listDetail[0].detail.length
                }

            },
            allTotal: function () {
                let self = this
                let a = 0
                $.each(self.list, function (l, li) {
                    if(self.isMoney){
                        a += li.totalMoney
                    } else {
                        a += li.totalTicket
                    }
                })
                return a
            }
        },
        watch: {
        }
    }
</script>
<style scoped>
  .check.el-switch__label span{
    font-size: 16px !important;
  }
  .rowHeader {
    font-family: sans-serif !important;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
