<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 45: BÁO CÁO DOANH THU XE HỢP ĐỒNG (XUẤT HỢP ĐỒNG ĐIỆN TỬ)
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-time v-model="dateStart" :value="dateStart" ></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-time v-model="dateEnd" :value="dateEnd"></el-time>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route v-model="routeSelected" class="w-100" :clearable="true" :multiple="true"></select-route>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Biển số xe</label><br>
            <select-vehicle v-model="numberPlate" multiple class="w-100"></select-vehicle>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <th class="rowHeader">{{$t('No-')}}</th>
            <th class="rowHeader" style="min-width: 120px;">Biển số xe (BKS)</th>
            <th class="rowHeader" style="min-width: 200px;">Tên Lái xe</th>
            <th class="rowHeader" style="min-width: 200px">Tên Phụ xe</th>
            <th class="rowHeader" style="min-width: 230px">Số chuyến (lượt)</th>
            <th class="rowHeader" style="min-width: 150px">Số khách</th>
            <th class="rowHeader" style="min-width: 150px">Doanh thu</th>
            <th class="rowHeader" style="min-width: 150px">Số khách BQ/lượt</th>
            <th class="rowHeader" style="min-width: 150px">Doanh thu BQ/lượt</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="9" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="4">Tổng cộng</td>
            <td class="rowAllTotal" >{{totalTrip|number}}</td>
            <td class="rowAllTotal" >{{totalTicket|number}}</td>
            <td class="rowAllTotal" >{{revenue|number}}</td>
            <td class="rowAllTotal" >{{(averageTicket)|number}}</td>
            <td class="rowAllTotal" >{{(averageRevenue)|number}}</td>
          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{key + 1}}</td>
              <td class="rowH">{{vh.numberPlace ? vh.numberPlace : ''}}</td>
              <td class="rowH">{{vh.driver ? vh.driver : ''}}</td>
              <td class="rowH">{{vh.assistant ? vh.assistant : ''}}</td>
              <td class="rowH">{{(vh.totalTrip ? vh.totalTrip : '') | number}}</td>
              <td class="rowH">{{(vh.totalTicket ? vh.totalTicket : '') | number}}</td>
              <td class="rowH">{{(vh.revenue ? vh.revenue : '') | number}}</td>
              <td class="rowH">{{(vh.averageTicket ? vh.averageTicket.toFixed(0) : '') | number}}</td>
              <td class="rowH">{{(vh.averageRevenue ? vh.averageRevenue.toFixed(0) : '') | number}}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectVehicle from '../Vehicle/SelectVehicle.vue';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime,SelectVehicle},
        data: function(){
            return {
                list : [],
                numberPlate : null,
                typeOfDate: 1,
                typeOfDates: [
                    {
                        value:1,
                        label: 'Ngày đi'
                    },
                    {
                        value:2,
                        label: 'Ngày tạo vé'
                    },
                    {
                        value:3,
                        label: 'Ngày thanh toán'
                    },
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                userSelects: null,
                routeSelected: null,
            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                };
                if (self.routeSelected && self.routeSelected.length > 0){
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                if (self.numberPlate && self.numberPlate.length > 0){
                    params.vehicleId = []
                    $.each(self.numberPlate, function (r,route) {
                        params.vehicleId.push(route.vehicleId)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-vehicle-revenue-contract',
                    data : params,
                    success : function (data) {
                        // $.each(data, function (t,ticket) {
                        //     if (ticket.driver !== "nhiều lái xe"){
                        //         let drivers = JSON.parse(JSON.parse(ticket.driver))
                        //         console.log(drivers)
                        //         ticket.driver = drivers.length > 0 ? drivers[0].fullName : ''
                        //     }
                        //     if (ticket.assistant !== "nhiều phụ xe"){
                        //         let assistants = JSON.parse(JSON.parse(ticket.assistant))
                        //         ticket.assistant = assistants.length > 0 ? assistants[0].fullName : ''
                        //     }
                        // })
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
    //         <td class="rowAllTotal" >{{totalTrip|number}}</td>
    // <td class="rowAllTotal" >{{totalTicket|number}}</td>
    // <td class="rowAllTotal" >{{revenue|number}}</td>
    // <td class="rowAllTotal" >{{(averageTicket)|number}}</td>
    // <td class="rowAllTotal" >{{(averageRevenue)|number}}</td>
            totalTrip :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTrip ? li.totalTrip : 0
                })
                return a
            },
            totalTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTicket ? li.totalTicket : 0
                })
                return a
            },
            revenue :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.revenue ? li.revenue : 0
                })
                return a
            },
            averageRevenue :function () {
                let a = (this.revenue/this.totalTrip).toFixed(0)
                return a
            },
            averageTicket :function () {
                let a = (this.totalTicket/this.totalTrip).toFixed(0)
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
