<template>
<div class="w-100 respon-page">
    <div class="row">
        <div class="col-12 title">
            <span class="text-uppercase">{{ $t('revenue-report-by-employee')}}</span>
            <span class="float-right">
                <button class="btn btn-primary btn-sm" @click="print()">
                    <i class="fa fa-print"></i>
                    In
                </button>
                <button class="btn btn-success btn-sm" @click="exportExcel()">
                    <i class="fa fa-file-excel"></i>
                    {{$t('export-excel')}}
                </button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-2 form-group">
            <label>{{$t('from-date')}}</label>
            <div class="row no-gutters">
                <div class="col">
                    <datepicker v-model="startDate"></datepicker>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-2 form-group">
            <label>{{$t('to-date')}}</label>
            <div class="row no-gutters">
                <div class="col">
                    <datepicker v-model="endDate"></datepicker>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 form-group">
            <label>{{$t('menu.employees')}}</label>
            <select-user multiple class="w-100" :listUserType="[2,3,4,5,6]" v-model="user"></select-user>
        </div>
        <div class="col-6 col-md-3 form-group">
            <label>Phòng vé</label>
            <select-point multiple class="w-100" v-model="room" :pointType="8"></select-point>
        </div>
        <div class="col-6 col-md-2 control-group">
            <label>&nbsp;</label>
            <button class="btn btn-block btn-primary" @click="getReport()">{{$t('button.filter')}}</button>
        </div>
        <div class="col-12">
            <input type="checkbox" v-model="hideUser" id="hideUser" />
            <label for="hideUser" class="font-weight-normal">Ẩn người dùng không phát sinh chi phí.</label>
        </div>
    </div>
    <div class="row top10" v-if="dataReport">
        <div class="col-12">
            <table class="table table-sm table-striped table-bordered table-respon" id="table-report">
                <thead>
                    <tr class="bg-e">
                        <th colspan="2">TỔNG</th>
                        <th class="text-right">{{total.ticketPaidMoney|number}}</th>
                        <th class="text-right">{{total.goodsPaidMoney|number}}</th>
                        <th class="text-right">{{total.otherMoney|number}}</th>
                        <th class="text-right">{{total.transferMoney|number}}</th>
                        <th class="text-right">{{total.spentMoney|number}}</th>
                        <th class="text-right">{{(total.income-total.outcome)|number}}</th>
                        <th class="text-right">{{total.refundMoney|number}}</th>
                        <th class="no-print-this"></th>
                    </tr>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Nhân viên</th>
                        <th>Thu bán vé</th>
                        <th>Thu gửi hàng</th>
                        <th>Thu khác</th>
                        <th>Chuyển khoản</th>
                        <th>Nộp tiền</th>
                        <th>Còn phải nộp</th>
                        <th>Hủy vé trả khách</th>
                        <th class="text-center no-print-this" style="vertical-align: middle">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="dataReport.length<0">
                        <td colspan="9" class="text-center">Không có dữ liệu</td>
                    </tr>
                    <template v-for="(report,r) in dataReport">
                        <tr :key="r" v-show="!(hideUser&&report.ticketPaidMoney==0&&report.goodsPaidMoney==0&&report.otherMoney==0&&report.spentMoney==0&&report.income==0&&report.outcome==0)">
                            <td class="text-center">{{r+1}}</td>
                            <td>{{report.fullName}}</td>
                            <td class="text-right tableexport-string">{{(report.ticketPaidMoney||0)|number}}</td>
                            <td class="text-right tableexport-string">{{(report.goodsPaidMoney||0)|number}}</td>
                            <td class="text-right tableexport-string">{{(report.otherMoney||0)|number}}</td>
                            <td class="text-right tableexport-string">{{(report.transferMoney||0)|number}}</td>
                            <td class="text-right tableexport-string">{{(report.spentMoney||0)|number}}</td>
                            <td class="text-right tableexport-string">{{((report.income-report.outcome)||0)|number}}</td>
                            <td class="text-right tableexport-string">{{(report.refundMoney||0)|number}}</td>
                            <td class="text-right tableexport-string no-print-this">
                                <el-button type="primary" plain @click="getCashReportDetail(report)">Xem chi tiết</el-button>
                            </td>
                        </tr>
                    </template>
                    <tr>
                        <th colspan="2">TỔNG</th>
                        <th class="text-right">{{total.ticketPaidMoney|number}}</th>
                        <th class="text-right">{{total.goodsPaidMoney|number}}</th>
                        <th class="text-right">{{total.otherMoney|number}}</th>
                        <th class="text-right">{{total.transferMoney|number}}</th>
                        <th class="text-right">{{total.spentMoney|number}}</th>
                        <th class="text-right">{{(total.income-total.outcome)|number}}</th>
                        <th class="text-right">{{total.refundMoney|number}}</th>
                        <th class="no-print-this"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <el-dialog custom-class="modal-lg" title="Báo cáo chi tiết theo nhân viên" :visible.sync="dialogTableVisible" width="85%">
        <el-tabs v-model="activeName">
            <el-tab-pane label="Hủy vé trả khách" name="first">
                <button class="btn btn-primary btn-sm" @click="exportToExcel('listCancel')">
                    <i class="fa fa-plus-circle"></i> Xuất excel
                </button>
                <button class="btn btn-primary btn-sm" @click="printTable('listCancel')">
                    <i class="fa fa-plus-circle"></i> In
                </button>
                <el-table id="listCancel" cell-class-name="tableexport-string" :data="listCancel" v-loading="loading">
                    <el-table-column property="ticketCode" label="Mã vé"></el-table-column>
                    <el-table-column property="fullName" label="Hành khách"></el-table-column>
                    <el-table-column property="phoneNumber" label="SĐT"></el-table-column>
                    <el-table-column :label="sumlistCancelLength">
                        <template slot-scope="prop">{{prop.row.abc ? prop.row.abc : 1}}</template>
                    </el-table-column>
                    <el-table-column label="Giá vé">
                        <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
                    </el-table-column>
                    <el-table-column label="Phụ thu">
                        <template slot-scope="prop">{{calSurchargePrice(prop.row.surcharges)|number}}</template>
                    </el-table-column>
                    <el-table-column label="Tên phụ thu">
                        <template slot-scope="prop">{{convertArrayPropertyToString(prop.row.surcharges, 'name')}}</template>
                    </el-table-column>
                    <el-table-column label="Hủy khách hàng">
                        <template slot-scope="prop">{{prop.row.refundMoney|number}}</template>
                    </el-table-column>
                    <!-- <el-table-column label="Ngày giờ hủy">
                        <template slot-scope="prop">{{prop.row.updatedDateInt|strToDate()}}</template>
                    </el-table-column> -->
                    <el-table-column property="cancelReason" label="Lí do hủy"></el-table-column>
                    <el-table-column label="Ngày tạo vé">
                        <template slot-scope="prop">{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày đi">
                        <template slot-scope="prop">{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
                    </el-table-column>
                    <el-table-column property="routeInfo.name" label="Tuyến"></el-table-column>
                    <el-table-column property="vehicle.numberPlate" label="BKS"></el-table-column>
                    <el-table-column label="Mã ghế">
                        <template slot-scope="prop">{{prop.row.listSeatId.toString()}}</template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <!-- <el-tab-pane label="Thu gửi hàng" name="second">
                <button class="btn btn-primary btn-sm" @click="exportToExcel('listGoods')">
                    <i class="fa fa-plus-circle"></i> Xuất excel
                </button>
                <button class="btn btn-primary btn-sm" @click="printTable('listGoods')">
                    <i class="fa fa-plus-circle"></i> In
                </button>
                <el-table id="listGoods" :data="listGoods" v-loading="loading">
                    <el-table-column property="ticketCode" label="Mã vé"></el-table-column>
                    <el-table-column property="fullName" label="Hành khách"></el-table-column>
                    <el-table-column property="phoneNumber" label="SDT"></el-table-column>
                    <el-table-column label="Giá vé">
                        <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày đi">
                        <template slot-scope="prop">{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày tạo vé">
                        <template slot-scope="prop">{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
                    </el-table-column>
                </el-table>
            </el-tab-pane> -->
            <el-tab-pane label="Thu bán vé" name="third">
                <button class="btn btn-primary btn-sm" @click="exportToExcel('listTicket')">
                    <i class="fa fa-plus-circle"></i> Xuất excel
                </button>
                <button class="btn btn-primary btn-sm" @click="printTable('listTicket')">
                    <i class="fa fa-plus-circle"></i> In
                </button>
                <el-table id="listTicket" :data="listTicket" v-loading="loading">
                    <el-table-column property="ticketCode" label="Mã vé"></el-table-column>
                    <el-table-column property="fullName" label="Hành khách"></el-table-column>
                    <el-table-column property="phoneNumber" label="SĐT"></el-table-column>
                    <el-table-column :label="sumlistTicketLength">
                        <template slot-scope="prop">{{prop.row.abc ? prop.row.abc : 1}}</template>
                    </el-table-column>
                    <el-table-column label="Giá vé">
                        <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
                    </el-table-column>
                    <el-table-column label="Phụ thu">
                        <template slot-scope="prop">{{calSurchargePrice(prop.row.surcharges)|number}}</template>
                    </el-table-column>
                    <el-table-column label="Tên phụ thu">
                        <template slot-scope="prop">{{convertArrayPropertyToString(prop.row.surcharges, 'name')}}</template>
                    </el-table-column>
                    <el-table-column label="Tiền thu">
                        <template slot-scope="prop">{{convertArrayPropertyToStringWithCondition(prop.row.collectionTransactions, 'paidMoney', '', 'number')}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày giờ thu">
                        <template slot-scope="prop">{{convertArrayPropertyToStringWithCondition(prop.row.collectionTransactions, 'date', '', 'date')}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày tạo vé">
                        <template slot-scope="prop">{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày đi">
                        <template slot-scope="prop">{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
                    </el-table-column>
                    <el-table-column property="routeInfo.name" label="Tuyến"></el-table-column>
                    <el-table-column property="vehicle.numberPlate" label="BKS"></el-table-column>
                    <el-table-column label="Mã ghế">
                        <template slot-scope="prop">{{prop.row.listSeatId.toString()}}</template>
                    </el-table-column>
                    <el-table-column property="note" label="Ghi chú"></el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="Chuyển Khoản" name="fourth">
                <button class="btn btn-primary btn-sm" @click="exportToExcel('listTicketTransfer')">
                    <i class="fa fa-plus-circle"></i> Xuất excel
                </button>
                <button class="btn btn-primary btn-sm" @click="printTable('listTicketTransfer')">
                    <i class="fa fa-plus-circle"></i> In
                </button>
                <el-table id="listTicketTransfer" :data="listTicketTransfer" v-loading="loading">
                    <el-table-column property="ticketCode" label="Mã vé"></el-table-column>
                    <el-table-column property="fullName" label="Hành khách"></el-table-column>
                    <el-table-column property="phoneNumber" label="SĐT"></el-table-column>
                    <el-table-column :label="sumlistTicketTransferLength">
                        <template slot-scope="prop">{{prop.row.abc ? prop.row.abc : 1}}</template>
                    </el-table-column>
                    <el-table-column label="Giá vé">
                        <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
                    </el-table-column>
                    <el-table-column label="Phụ thu">
                        <template slot-scope="prop">{{calSurchargePrice(prop.row.surcharges)|number}}</template>
                    </el-table-column>
                    <el-table-column label="Tên phụ thu">
                        <template slot-scope="prop">{{convertArrayPropertyToString(prop.row.surcharges, 'name')}}</template>
                    </el-table-column>
                    <el-table-column label="Tiền CK">
                        <template slot-scope="prop">{{convertArrayPropertyToStringWithCondition(prop.row.collectionTransactions, 'paidMoney', 'x.paymentType === 6', 'number')}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày CK">
                        <template slot-scope="prop">{{convertArrayPropertyToStringWithCondition(prop.row.collectionTransactions, 'date', 'x.paymentType === 6', 'date')}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày tạo vé">
                        <template slot-scope="prop">{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
                    </el-table-column>
                    <el-table-column label="Ngày đi">
                        <template slot-scope="prop">{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
                    </el-table-column>
                    <el-table-column property="routeInfo.name" label="Tuyến"></el-table-column>
                    <el-table-column property="vehicle.numberPlate" label="BKS"></el-table-column>
                    <el-table-column label="Mã ghế">
                        <template slot-scope="prop">{{prop.row.listSeatId.toString()}}</template>
                    </el-table-column>
                    <el-table-column property="note" label="Ghi chú"></el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </el-dialog>
</div>
</template>

<script>
import SelectUser from "../User/SelectUser";
import SelectPoint from "../Point/SelectPoint";

export default {
    components: {
        SelectUser, SelectPoint
    },
    data: function () {
        return {
            user: null,
            room: null,
            // dateRange: [new Date(), new Date()],
            startDate: new Date().customFormat("#DD#-#MM#-#YYYY#"),
            endDate: new Date().customFormat("#DD#-#MM#-#YYYY#"),
            dataReport: null,
            total: {
                income: 0,
                outcome: 0,
                ticketPaidMoney: 0,
                otherMoney: 0,
                spentMoney: 0,
                ticketCancelMoney: 0,
                goodsPaidMoney: 0,
                transferMoney: 0,
                refundMoney: 0
            },
            hideUser: false,
            dialogTableVisible: false,
            activeName: "first",
            loading: true,
            listCancel: [],
            listGoods: [],
            listTicket: [],
            listTicketTransfer: []
            // pickerOptions: {
            //     shortcuts: [{
            //         text: 'Last week',
            //         onClick(picker) {
            //         const end = new Date();
            //         const start = new Date();
            //         start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            //         picker.$emit('pick', [start, end]);
            //         }
            //     }, {
            //         text: 'Last month',
            //         onClick(picker) {
            //         const end = new Date();
            //         const start = new Date();
            //         start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            //         picker.$emit('pick', [start, end]);
            //         }
            //     }, {
            //         text: 'Last 3 months',
            //         onClick(picker) {
            //         const end = new Date();
            //         const start = new Date();
            //         start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            //         picker.$emit('pick', [start, end]);
            //         }
            //     }]
            // },
        };
    },
    computed: {
        sumlistCancelLength: function () {
            return `SL vé (${this.listCancel.length} vé)`;
        },
        sumlistGoodsLength: function () {
            return `SL vé (${this.listGoods.length} vé)`;
        },
        sumlistTicketLength: function () {
            return `SL vé (${this.listTicket.length} vé)`;
        },
        sumlistTicketTransferLength: function () {
            return `SL vé (${this.listTicketTransfer.length} vé)`;
        },
        // startTime: function(){
        //     return new Date(dateRange[0]).getTime();
        // },
        // endTime: function(){
        //     return new Date(dateRange[1]).getTime();
        // }
    },
    mounted: function () {
        // this.getReport();
    },
    methods: {
        calSurchargePrice(arr) {
            let surchargePrice = 0;
            if (arr) {
                arr.forEach(element => {
                    if (element.mode === 1) surchargePrice = surchargePrice + element.price;
                    if (element.mode === -1) surchargePrice = surchargePrice - element.price;
                    return;
                });
            }
            // this.$options.filters.number(surchargePrice)
            return surchargePrice;
        },
        convertArrayPropertyToString(arr, propertyName) {
            if (arr) {
                var stringProperty = arr.map(x => {
                    return x[propertyName];
                });
                return stringProperty.join(", ");
            }
            return "";
        },
        convertArrayPropertyToStringWithCondition(arr, propertyName, condition = '', formatType = '') {
            if (arr) {
                var stringProperty = arr.filter(x => {
                    if (condition == '') {
                        return true
                    }
                    if (condition != '' && eval(condition)) {
                        return true
                    } else {
                        return false;
                    }
                }).map(x => {
                    if (formatType == 'number') {
                        return this.$options.filters.number(x[propertyName]);
                    }
                    if (formatType == 'date') {
                        return this.$options.filters.strToDate(x[propertyName]);
                    } else {
                        return x[propertyName];
                    }
                });
                return stringProperty.join(", ");
            }
            return "";
        },
        getCashReportDetail: function (report) {
            let self = this;
            self.loading = true;
            self.dialogTableVisible = true;
            const fomatStartDate = self.startDate
                .split("-")
                .reverse()
                .join("");
            const fomatEndDate = self.endDate
                .split("-")
                .reverse()
                .join("");
            let param = {
                userId: report.userId,
                startDate: fomatStartDate,
                endDate: fomatEndDate
            };
            sendJson({
                url: "https://report.phanmemnhaxe.com:8667/v2/report/cash-report-detail",
                data: param,
                success: function (data) {
                    self.listCancel = data.results.data.listCancel;
                    self.listGoods = data.results.data.listGoods;
                    self.listTicket = data.results.data.listTicket;
                    self.listTicketTransfer = data.results.data.listTicketTransfer;
                    self.loading = false;
                },
                functionError: function () {}
            });
        },
        getReport: function () {
            let self = this;
            let param = {
                companyId: userInfo.userInfo.companyId,
                timeZone: 7,
                startDate: func.DateYMD(self.startDate),
                endDate: func.DateYMD(self.endDate)
            };
            if (self.user && self.user != null) {
                param.userIds = self.user.map(x => x.id);
            }
            if (self.room && self.room.length > 0) {
                param.roomIds = self.room.map(x => x.id);
            }
            self.load("getReportDetail");
            sendJson({
                url: urlRP(API.reportCashByUser), //'https://asia-northeast1-dobody-anvui.cloudfunctions.net/user-cash-report'
                data: param,
                success: function (data) {
                    self.setTotal(data.results.data);
                    self.dataReport = data.results.data;
                    self.unload("getReportDetail");
                },
                functionIfError: function (err) {
                    console.log(err);
                    self.unload("getReportDetail");
                }
            });
        },
        setTotal: function (data) {
            let totalLet = {
                income: 0,
                outcome: 0,
                ticketPaidMoney: 0,
                otherMoney: 0,
                spentMoney: 0,
                ticketCancelMoney: 0,
                goodsPaidMoney: 0,
                transferMoney: 0,
                refundMoney: 0
            };
            $.each(data, function (r, report) {
                totalLet.income += parseFloat(report.income || 0);
                totalLet.outcome += parseFloat(report.outcome || 0);
                totalLet.ticketPaidMoney += parseFloat(report.ticketPaidMoney || 0);
                totalLet.otherMoney += parseFloat(report.otherMoney || 0);
                totalLet.spentMoney += parseFloat(report.spentMoney || 0);
                totalLet.ticketCancelMoney += parseFloat(report.ticketCancelMoney || 0);
                totalLet.goodsPaidMoney += parseFloat(report.goodsPaidMoney || 0);
                totalLet.transferMoney += parseFloat(report.transferMoney || 0);
                totalLet.refundMoney += parseFloat(report.refundMoney || 0);
            });
            this.total = totalLet;
        },
        exportExcel: function () {
            this.excel($('#table-report'), "THU_CHI_THEO_NHAN_VIEN_");
        },
        exportToExcel: function (tableId) {
            let fileName = "";
            if (tableId == "listTicket") fileName = "THU_BAN_VE";
            if (tableId == "listCancel") fileName = "HUY_VE_TRA_KHACH";
            if (tableId == "listGoods") fileName = "THU_GUI_HANG";
            if (tableId == "listTicketTransfer") fileName = "CHUYEN_VE";
            this.excel(`#${tableId}`, fileName);
        },
        printTable: function (tableId) {
            $(`#${tableId}`).printThis();
        },
        print: function () {
            $('#table-report').printThis();
        }
    }
};
</script>

<style scoped>
.report-hs [type="checkbox"]:not(:checked),
.report-hs [type="checkbox"]:checked {
    position: initial;
}

.report-hs label {
    font-weight: normal;
    margin-right: 25px;
    margin-bottom: 10px;
}

.report-hs input {
    position: relative;
    top: 2px;
    left: 0;
    margin-right: 5px;
}

.report-hs li {
    padding-left: 5px;
}
</style>
