<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV6: Báo cáo thống kê chuyến theo tài xế
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Năm</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="yearSelect"
                    type="year"
                    :picker-options="options"
                    format="yyyy"
                    value-format="yyyy"
                    placeholder="Chọn năm">
            </el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label> Tháng</label><br>
            <el-date-picker
                    class="w-100"
                    v-model="monthSelect"
                    type="month"
                    :picker-options="options"
                    format="MM"
                    value-format="MM"
                    placeholder="Chọn tháng">
            </el-date-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tài xế</label><br>
            <e-select-user class="w-100" v-model="driverSelect" :clearable="true" :multiple="true" ></e-select-user>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader">Tên tài xế</th>
            <template v-for="i in numberOfMonths">
              <th class="rowHeader">{{i}}</th>
            </template>
            <th class="rowHeader">Tổng</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td :colspan="numberOfMonths + 2" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" style="text-align: left">Tổng cộng</td>
            <template v-for="total in dataTotal">
              <td class="rowAllTotal">{{total.total}}</td>
            </template>
            <td class="rowAllTotal">{{allTotal}}</td>
          </tr>
          <template v-for="(route,k) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowTotal" style="text-align: left">{{route.routeName}}</td>
              <template v-for="(dt, dtIndex) in route.listTotal">
                <td class="rowTotal">{{dt.totalTrip}}</td>
              </template>
              <td class="rowTotal" >{{route.totalTotal}}</td>
            </tr>
            <template v-for="(driver,key) in route.listDetail">
              <tr class="font-weight-bold text-center">
                <td class="rowH" >{{driver.driverName}}</td>
                <template v-for="(dt, dtIndex) in driver.detail">
                  <td class="rowH">{{dt.totalTrip}}</td>
                </template>
                <td class="rowH" >{{driver.totalTrips}}</td>
              </tr>
            </template>
          </template>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                dataReport: [
                    {
                        prices: [1,2,3]
                    },
                    {
                        prices: [1,2,3]
                    }
                ],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                routeSelected: null,
                yearSelect: new Date().getFullYear().toString(),
                monthSelect: new Date().getMonth() < 10 ? "0" + new Date().getMonth().toString() : new Date().getMonth().toString(),
                driverSelect: null,
                allow: false,



            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(!self.yearSelect){
                    notify('Vui lòng chọn năm','error');
                    return false;
                }
                if(!self.monthSelect){
                    notify('Vui lòng chọn tháng','error');
                    return false;
                }
                if(self.driverSelect == null){
                    notify('Vui lòng chọn tài xế','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    month: self.monthSelect,
                    year: self.yearSelect,
                };
                if (self.driverSelect != null && self.driverSelect.length > 0){
                    params.userId = []
                    $.each(self.driverSelect, function (r,user) {
                        params.userId.push(user.id)
                    })
                }
                if (self.routeSelected != null && self.routeSelected.length > 0){
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-trip-by-driver',
                    data : params,
                    success : function (data) {
                        self.allow = true
                        let month = parseInt(_.cloneDeep(self.monthSelect))
                        let year = parseInt(_.cloneDeep(self.yearSelect))
                        let numberOfMonth = new Date(year, month, 0).getDate();
                        let repairList = []
                        let keysR = []
                        $.each (data, function (t, ticket) {
                            let y = true
                            if (keysR.length > 0) {
                                $.each(keysR, function (k, keyy) {
                                    if (ticket.routeId == keyy){
                                        y = false
                                    }
                                })
                            }
                            if (keysR == [] || y){
                                let a = {
                                    routeName : ticket.routeName,
                                    routeId : ticket.routeId,
                                    listTotal: [],
                                    listDetail: [],
                                    totalTotal: 0
                                }
                                for (let i = 1; i <= numberOfMonth; i++) {
                                    let c = {
                                        startDateReality: i,
                                        totalTrip: 0,
                                    }
                                    a.listTotal.push(c)
                                }

                                let keys = []
                                $.each (data, function (t,ticket2) {
                                    let x = true
                                    if (keys.length > 0) {
                                        $.each(keys, function (k, key) {
                                            if (ticket2.driverId == key){
                                                x = false
                                            }
                                        })
                                    }
                                    let h = false
                                    if (keys == [] && ticket2.routeId == a.routeId || x && ticket2.routeId == a.routeId){
                                        h = true
                                        let b = {
                                            driverId: ticket2.driverId,
                                            driverName: ticket2.driverName,
                                            detail: [],
                                            totalTrips: 0,
                                        }
                                        for (let i = 1; i <= numberOfMonth; i++) {
                                            let e = {
                                                startDateReality: i,
                                                totalTrip: 0,
                                            }
                                            $.each (data, function (t,ticket3) {
                                                let d = ticket3.startDateReality.toString()
                                                let dd = d.split('')
                                                let ddd = d.slice(6,8)
                                                let dddd = parseInt(ddd)
                                                if (ticket3.driverId == b.driverId && e.startDateReality == dddd && ticket3.routeId == a.routeId) {
                                                    e.totalTrip = ticket3.totalTrip
                                                    b.totalTrips += ticket3.totalTrip
                                                    a.listTotal[e.startDateReality -1].totalTrip += ticket3.totalTrip
                                                }
                                            })
                                            b.detail.push(e)
                                        }
                                        a.listDetail.push(b)
                                    }
                                    if (h) {
                                        keys.push(ticket2.driverId)
                                    }
                                })
                                $.each(a.listTotal, function (t, total) {
                                    a.totalTotal += total.totalTrip
                                })
                                repairList.push(a)
                            }
                            keysR.push(ticket.routeId)
                        })

                        self.list = repairList
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            numberOfMonths: function () {
                if (this.allow) {
                  let month = parseInt(_.cloneDeep(this.monthSelect))
                  let year = parseInt(_.cloneDeep(this.yearSelect))
                  let numberOfMonth = new Date(year, month, 0).getDate();
                  this.allow = false
                  return numberOfMonth
                }
                else {
                    return this.list && this.list.length > 0 ? this.list[0].listDetail[0].detail.length : 31
                }
            },
            dataTotal: function () {
                let a = []
                if (this.numberOfMonths) {
                    for (let i = 1; i <= this.list[0].listDetail[0].detail.length; i++) {
                        let b = {
                            total: 0
                        }
                        $.each(this.list, function (l, li) {
                            b.total += li.listTotal[i-1].totalTrip
                        })
                        a.push(b)
                    }
                    return a
                } else {
                    return this.list[0].listDetail[0].detail.length
                }

            },
            allTotal: function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.totalTotal
                })
                return a
            }
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
