<template>
  <div style="margin-bottom: 50px">
    <el-row>
      <div class="row col-12" style="padding-right: 0;">
        <div class="col-10 title-ret">
          AV 44: BÁO CÁO CHI TIẾT VÉ HÀNH KHÁCH
        </div>
        <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
          <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
          <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
        </div>
      </div>
    </el-row>
    <div class="header-ret">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Từ ngày</label><br>
            <el-time v-model="dateStart" :value="dateStart" ></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Đến ngày</label><br>
            <el-time v-model="dateEnd" :value="dateEnd"></el-time>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Kiểu ngày</label><br>
            <el-select class="w-100" v-model="typeOfDate" placeholder="" >
              <el-option
                      v-for="item in typeOfDates"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Tuyến</label><br>
            <select-route style="min-width: 210px;" v-model="routeSelected" :clearable="true" :multiple="true" class="w-100"></select-route>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Biển số xe</label><br>
            <select-vehicle v-model="numberPlate" :multiple="false" class="w-100"></select-vehicle>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Hình thức thanh toán</label><br>
            <el-select class="w-100" v-model="paymentType" multiple placeholder="" >
              <el-option
                      v-for="item in paymentTypes"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeStart" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label></label><br>
            <el-time-picker class="w-100" v-model="timeEnd" format="HH:mm" value-format="timestamp" type="date"
                            placeholder="Chọn giờ"></el-time-picker>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Phòng vé tạo vé</label><br>
            <select-point class="w-100" v-model="roomCreate" multiple clearable></select-point>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Phòng vé thu tiền</label><br>
            <select-point class="w-100" v-model="roomTrans" multiple clearable></select-point>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Trạng thái vé</label><br>
            <el-select class="w-100" v-model="typeStatus" multiple placeholder="" >
              <el-option
                      v-for="item in typeStatuss"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group" >
            <label>&nbsp;</label>
            <button class="btn btn-search btn-block" @click="getList()">
              Lấy danh sách
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 top20 tableReport" v-loading="loading">
      <div style="max-width: 100%;overflow-x: auto;">
        <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
          <thead>
          <tr class="text-center">
            <!--<th class="rowHeader">{{$t('No-')}}</th>-->
            <th class="rowHeader" style="min-width: 80px;">Mã vé</th>
            <th class="rowHeader" style="min-width: 80px;">SĐT</th>
            <th class="rowHeader" style="min-width: 230px">Ngày tạo</th>
            <th class="rowHeader" style="min-width: 230px">Ngày đi</th>
            <th class="rowHeader" style="min-width: 150px">Tuyến</th>
            <th class="rowHeader" style="min-width: 150px">Chuyến</th>
            <th class="rowHeader" style="min-width: 150px">Mã ghế</th>
            <th class="rowHeader" style="min-width: 150px">Biển số xe</th>
            <th class="rowHeader" style="min-width: 150px">Nhân viên thu tiền</th>
            <th class="rowHeader" style="min-width: 150px">Phòng vé thu tiền</th>
            <th class="rowHeader" style="min-width: 150px">Ngày thanh toán</th>
            <th class="rowHeader" style="min-width: 150px">Điểm lên</th>
            <th class="rowHeader" style="min-width: 150px">Điểm xuống</th>
            <th class="rowHeader" style="min-width: 150px">Số lượng vé</th>
            <th class="rowHeader" style="min-width: 150px">Giá vé</th>
            <th class="rowHeader" style="min-width: 150px">Phụ thu</th>
            <th class="rowHeader" style="min-width: 150px">Thực thu</th>
            <th class="rowHeader" style="min-width: 150px">HTTT</th>
            <th class="rowHeader" style="min-width: 150px">Trạng thái vé</th>
            <!--<th class="rowHeader" style="min-width: 150px">Xuât vé điện tử</th>-->
            <th class="rowHeader" style="min-width: 150px">Serri vé</th>
            <th class="rowHeader" style="min-width: 150px">Nhân viên</th>
            <th class="rowHeader" style="min-width: 150px">Phòng vé tạo vé</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="list.length<=0">
            <td colspan="22" class="text-center">{{$t('no-data-available')}}</td>
          </tr>
          <tr class="font-weight-bold text-center" v-if="list.length > 0">
            <td class="rowAllTotal" colspan="13">Tổng cộng</td>
            <td class="rowAllTotal" >{{ticketAmount|number}}</td>
            <td class="rowAllTotal" >{{originalTicketPrice|number}}</td>
            <td class="rowAllTotal" >{{surchargePrice|number}}</td>
            <td class="rowAllTotal" >{{(agencyPrice)|number}}</td>
            <td class="rowAllTotal" ></td>
            <td class="rowAllTotal" ></td>
            <td class="rowAllTotal" ></td>
            <td class="rowAllTotal" ></td>
            <td class="rowAllTotal" ></td>

          </tr>
          <template v-for="(vh,key) in list">
            <tr class="font-weight-bold text-center">
              <td class="rowH">{{vh.ticketCode}}</td>
              <td class="rowH">{{vh.phoneNumber ? vh.phoneNumber : ''}}</td>
              <td class="rowH">{{vh.createdDateString}}</td>
              <td class="rowH">{{vh.tripStartTimeString}}</td>
              <td class="rowH">{{vh.routeName ? vh.routeName : ''}}</td>
              <td class="rowH">{{vh.tripStartTime | customDate('#hhhh#:#mm#')}}</td>
              <td class="rowH">{{vh.seat_id ? vh.seat_id : ''}}</td>
              <td class="rowH">{{vh.numberPlate ? vh.numberPlate : ''}}</td>
              <td class="rowH">{{vh.casherName ? vh.casherName : ''}}</td>
              <td class="rowH">{{vh.roomTrans ? vh.roomTrans : ''}}</td>
              <td class="rowH" v-if="!vh.transTime">{{''}}</td>
              <td class="rowH" v-if="vh.transTime">{{vh.transTime | customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</td>
              <td class="rowH">{{vh.pointUpName ? vh.pointUpName : ''}}</td>
              <td class="rowH">{{vh.pointDownName ? vh.pointDownName : ''}}</td>
              <td class="rowH">{{(vh.ticketAmount ? vh.ticketAmount : '') | number}}</td>
              <td class="rowH">{{(vh.originalTicketPrice ? vh.originalTicketPrice : '') | number}}</td>
              <td class="rowH">{{(vh.surchargePrice ? vh.surchargePrice : 0) | number}}</td>
              <td class="rowH">{{(vh.agencyPrice ? vh.agencyPrice : 0) | number}}</td>
              <td class="rowH">
                {{vh.paymentType == 1 ? 'Thanh toán trực tuyến'
                : vh.paymentType == 2 ? 'Thanh toán tiền mặt cho phụ xe'
                : vh.paymentType == 3 ? 'Thanh toán tiền mặt tại quầ'
                : vh.paymentType == 6 ? 'Chuyển khoản' : ''}}</td>
              <td class="rowH">{{ vh.ticketStatus | checkTicketStatus }}</td>
              <!--<td class="rowH">{{(vh.isExport ? vh.isExport : '')|number}}</td>-->
              <td class="rowH">{{vh.foreignKey ? vh.foreignKey : ''}}</td>
              <td class="rowH">{{vh.fullName ? vh.fullName : ''}}</td>
              <td class="rowH">{{vh.roomCreate ? vh.roomCreate : ''}}</td>
            </tr>
          </template>
          </tbody>
        </table>
        <!-- del footer -->
      </div>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import SelectVehicle from '../Vehicle/SelectVehicle.vue';
    import SelectPoint from '../Point/SelectPoint';
    import ElTime from '../Template/ElTimePicker';

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint,ElTime,SelectVehicle},
        data: function(){
            return {
                list : [],
                numberPlate : null,
                typeOfDate: 1,
                typeOfDates: [
                    {
                        value:1,
                        label: 'Ngày đi'
                    },
                    {
                        value:2,
                        label: 'Ngày tạo vé'
                    },
                    {
                        value:3,
                        label: 'Ngày thanh toán'
                    },
                ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                room: null,
                loading: false,
                getCancelTicket: true,
                userSelects: null,
                routeSelected: null,
                typeStatus: [3],
                tripStatus: null,
                roomCreate: null,
                roomTrans: null,
                paymentType: null,
                paymentTypes: [
                    {
                        value: 1,
                        label: 'Thanh toán trực tuyến'
                    },
                    {
                        value: 2,
                        label: 'Thanh toán trên xe'
                    },
                    {
                        value: 3,
                        label: 'Thanh toán tiền mặt tại quầy'
                    },
                    {
                        value: 6,
                        label: 'Chuyển khoản'
                    },
                ],
                typeStatuss: [
                    {
                        value: 0,
                        label: 'Hủy'
                    },
                    {
                        value: 1,
                        label: 'Hết hạn'
                    },
                    {
                        value: 2,
                        label: 'Đang giữ chỗ'
                    },
                    {
                        value: 3,
                        label: 'Đã thánh toán'
                    },
                    // {
                    //     value: 4,
                    //     label: 'Đã lên xe'
                    // },
                    // {
                    //     value: 5,
                    //     label: 'Đã hoàn thành'
                    // },
                    // {
                    //     value: 6,
                    //     label: 'Quá giờ giữ chỗ'
                    // },
                    // {
                    //     value: 7,
                    //     label: 'Siêu phụ xe đặt chỗ'
                    // },
                ]


            }
        },
        mounted: function(){
        },
        methods: {
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_DOANH_THU_THEO_XE');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                if(self.timeStart == null  || self.timeEnd == null){
                    notify('Vui lòng chọn giờ','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart + self.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    endDate : self.dateEnd + self.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                    dateType: self.typeOfDate,
                    status: self.typeStatus,
                };
                if(self.paymentType && self.paymentType.length > 0){
                    params.paymentType = self.paymentType
                }
                if (self.roomCreate && self.roomCreate.length > 0){
                    params.roomCreate = []
                    $.each(self.roomCreate, function (r,room) {
                        params.roomCreate.push(room.id)
                    })
                }
                if (self.roomTrans && self.roomTrans.length > 0){
                    params.roomTrans = []
                    $.each(self.roomTrans, function (r,room) {
                        params.roomTrans.push(room.id)
                    })
                }
                if (self.routeSelected && self.routeSelected.length > 0){
                    params.routeId = []
                    $.each(self.routeSelected, function (r,route) {
                        params.routeId.push(route.routeId)
                    })
                }
                if(self.numberPlate){
                    params.numberPlate  = self.numberPlate.numberPlate
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-ticket-customer-detail',
                    data : params,
                    success : function (data) {
                        self.list = data
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ticketAmount :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.ticketAmount ? li.ticketAmount : 0
                })
                return a
            },
            originalTicketPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.originalTicketPrice ? li.originalTicketPrice : 0
                })
                return a
            },
            agencyPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.agencyPrice ? li.agencyPrice : 0
                })
                return a
            },
            surchargePrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.surchargePrice ? li.surchargePrice : 0
                })
                return a
            },
        },
        watch: {
        }
    }
</script>
<style scoped>
  .rowHeader {
    font-family: sans-serif !important;
    vertical-align: top;
  }
  .rowTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important
  }
  .rowAllTotal {
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important
  }
  .rowH {
    font-family: sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    background: #ECEDF1;
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>
