<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase"
          >AV 40: Thống kê lượt đi của khách theo chuyến - SĐT</span
        >
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="printTableReport()">
            <i class="fa fa-print"></i> In
          </button>
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i> Xuất excel
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item">
          <label>
            Từ ngày (lịch xe chạy)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateStart"
            format="dd-MM-yyyy"
            :picker-options="options"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>
            Đến ngày (lịch xe chạy)
          </label>
          <el-date-picker
            class="w-100"
            v-model="form.dateEnd"
            :picker-options="options"
            format="dd-MM-yyyy"
            value-format="timestamp"
            type="date"
            placeholder="Chọn ngày"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Số điện thoại</label>
          <el-input
            placeholder="Nhập sđt khách hàng ..."
            v-model="form.phoneNumber"
          ></el-input>
        </div>
        <div class="filter-item">
          <label>Tuyến</label>
          <select-route
            v-model="form.route"
            :clearable="true"
            :multiple="true"
            class="w-100"
          ></select-route>
        </div>
        <div style="max-width: 100px">
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >
            {{ $t("button.filter") }}
          </button>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeStart"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
        <div class="filter-item">
          <label></label>
          <el-time-picker
            class="w-100"
            v-model="form.timeEnd"
            format="HH:mm"
            value-format="timestamp"
            type="date"
            placeholder="Chọn giờ"
          ></el-time-picker>
        </div>
      </div>
    </div>
    <div class="margin-bottom tableReport overflow-auto">
      <table
        class="table top20 table-bordered export-revenue"
        style="font-family: sans-serif !important; font-weight: 500 !important"
        v-loading="loadingTable"
      >
        <thead>
          <tr class="text-center">
            <th class="rowHeader">{{ $t("No-") }}</th>
            <th class="rowHeader">SĐT Khách hàng</th>
            <th class="rowHeader">Tên KH</th>
            <th class="rowHeader">Tuyến</th>
            <th class="rowHeader">Ngày giờ xuất bến</th>
            <th class="rowHeader">Số vé</th>
            <th class="rowHeader">Số tiền vé</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="reportData.length == 0">
            <td :colspan="7" class="text-center">
              {{ $t("no-data-available") }}
            </td>
          </tr>
          <template v-if="reportData.length != 0">
            <!-- start total row -->
            <tr class="font-weight-bold text-center">
                <td class="rowAllTotal text-left" colspan="5">Tổng số tiền</td>
                <td class="rowAllTotal">{{reportTotal.ticket|number}}</td>
                <td class="rowAllTotal">{{reportTotal.ticketAmount|number}}</td>
            </tr>
            <!-- end total row -->
            <template v-for="(value, index) of reportData">
              <tr class="font-weight-bold text-center" :key="index">
                <td class="rowH text-center font-weight-bold">{{index + 1}}</td>
                <td class="rowH text-left font-weight-bold" colspan="2">SĐT: {{value.phoneNumber != '' ? value.phoneNumber : '(trống)'}}</td>
                <td class="rowH"></td>
                <td class="rowH"></td>
                <td class="rowH font-weight-bold">{{value.totalTicket | number}}</td>
                <td class="rowH font-weight-bold">{{value.totalMoney | number}}</td>
              </tr>
              <tr v-for="(item, i) of value.arr" :key="`${item.routeId}-${index}-${i}`" class="text-center">
                  <td class="rowH">{{`${index+1}.${i+1}`}}</td>
                  <td class="rowH">{{item.phoneNumber}}</td>
                  <td class="rowH">{{item.cusName}}</td>
                  <td class="rowH">{{item.routeName}}</td>
                  <td class="rowH">{{item.startTimeReality | customDate('#hhhh#:#mm#', true)}} {{item.startDateReality| strToDate()}}</td>
                  <td class="rowH">{{item.ticketNumber | number}}</td>
                  <td class="rowH">{{item.agencyPrice | number}}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SelectRoute from "../Route/SelectRoute";
import {mapState} from 'vuex'
/**
 * @deprecated ay yo
 */
let d = new Date()
export default {
  components: { SelectRoute },
  data: function (params) {
    return {
      loadingTable: false,
      form: {
        dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        timeEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
        phoneNumber: null,
        route: [],
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      reportData: [],
      reportTotal: {
        ticket: 0,
        ticketAmount: 0,
      },
      dateFormat: "dd-MM-yyyy",
    };
  },
  mounted: function () {},
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getReport: function () {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate : self.form.dateStart + self.form.timeStart - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
        endDate : self.form.dateEnd + self.form.timeEnd - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
      };
      if(self.form.phoneNumber) {
          param.phoneNumber = self.form.phoneNumber;
      }
      if (self.form.route.length > 0) {
        param.routeId = self.form.route.map((x) => x.routeId);
      }
      sendJson({
        url:
          "https://asia-southeast2-dobody-anvui.cloudfunctions.net/report-customer-ticket-av40",
        data: param,
        success: function (data) {
          self.reportData = self.handleData(data);
          self.loadingTable = false;
        },
        functionError: function () {
          self.loadingTable = false;
        },
      });
    },
    handleData: function (data) {
      let seenPhone = new Set();
      
      this.clearTotal();
      let reportData = data.reduce(
        (response, item, index, array) => {
          let isDupPhone = seenPhone.has(item.phoneNumber);
          
          seenPhone.add(item.phoneNumber);

          if(!isDupPhone) {
              response[item.phoneNumber] = {
                  phoneNumber: item.phoneNumber,
                  totalTicket: item.ticketNumber,
                  totalMoney: item.agencyPrice,
                  arr: [item]
              }
          } else {
              response[item.phoneNumber].totalTicket += item.ticketNumber;
              response[item.phoneNumber].totalMoney += item.agencyPrice;
              response[item.phoneNumber].arr =[...response[item.phoneNumber].arr, item];
          }
          // sum total
          this.reportTotal.ticket += item.ticketNumber;
          this.reportTotal.ticketAmount += item.agencyPrice;
          return response;
        },
        {}
      );
      const arrSort = Object.values(reportData).sort((a, b) => b.totalTicket - a.totalTicket);
      return arrSort;
    },
    clearTotal: function () {
      this.reportTotal = {
        ticket: 0,
        ticketAmount: 0,
      };
    },
    exportExcel: function () {
      this.excel(
        $(this.$el).find(".export-revenue"),
        "BAO_CAO_THONG_KE_LUOT_DI_CUA_KHACH"
      );
    },
    printTableReport: function () {
      $(this.$el).find(".tableReport").printThis();
    },
  },
};
</script>

<style lang="scss" scoped>
.el-table .info-row {
  background: #c9e5f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
.rowHeader {
  font-family: sans-serif !important;
  vertical-align: top;
}
.rowTotal {
  font-weight: bold;
  font-size: 16px;
}
.rowAllTotal {
  font-weight: bold;
  font-size: 18px;
}
.rowH {
  font-weight: 500;
  font-size: 14px;
}
.table thead {
  background: #cfd3db;
}
// .table td,
// .table td h5 {
//   font-family: "Open Sans", sans-serif;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 19px;
// }
.table td h6 {
  color: #9198a9;
  font-size: 12px;
  margin: 4px 0;
}
.table tbody tr {
  background-color: #fff;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
</style>
