<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">{{ $t('revenue-report-by-employee')}}</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i>
            {{$t('export-excel')}}
          </button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="row no-gutters">
          <div class="col form-group">
            <label>{{$t('from-date')}}</label>
            <el-date-picker
              class="w-100"
              v-model="dateStart"
              format="dd-MM-yyyy"
              :picker-options="options"
              value-format="timestamp"
              type="date"
              placeholder="Chọn ngày"
            ></el-date-picker>
          </div>
          <div class="col-auto form-group" style="width:120px">
            <label>&nbsp;</label>
            <el-time-picker
              style="width: auto;"
              type="timerange"
              format="HH:mm"
              value-format="timestamp"
              v-model="timeStart"
              placeholder="Chọn giờ"
            ></el-time-picker>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="row no-gutters">
          <div class="col form-group">
            <label>{{$t('to-date')}}</label>
            <el-date-picker
              class="w-100"
              v-model="dateEnd"
              :picker-options="options"
              format="dd-MM-yyyy"
              value-format="timestamp"
              type="date"
              placeholder="Chọn ngày"
            ></el-date-picker>
          </div>
          <div class="col-auto form-group" style="width:120px">
            <label>&nbsp;</label>
            <el-time-picker
              style="width: auto;"
              type="timerange"
              format="HH:mm"
              value-format="timestamp"
              v-model="timeEnd"
              placeholder="Chọn giờ"
            ></el-time-picker>
          </div>
        </div>
      </div>
      <div class="col-2 form-group">
        <label>{{$t('menu.employees')}}</label>
        <select-user class="w-100" :listUserType="[2,3,4,5,6]" v-model="users" :multiple="true"></select-user>
      </div>
      <div class="col-2 form-group">
        <label>Phòng vé</label>
        <select-point class="w-100" v-model="room" :point-type="8"></select-point>
      </div>
      <div class="col-2 control-group">
        <label>&nbsp;</label>
        <button class="btn btn-block btn-primary" @click="getReport()">{{$t('button.filter')}}</button>
      </div>
    </div>
    <div class="row top10" v-if="dataReport">
      <div class="col-12">
        <table class="table table-sm table-striped table-bordered table-respon">
          <thead>
            <tr class="bg-e">
              <th colspan="2">TỔNG</th>
              <th class="text-right">{{total.ticketPaidMoney|number}}</th>
              <th class="text-right">{{total.goodsReceiveMoney|number}}</th>
              <th class="text-right">{{total.otherMoney|number}}</th>
              <th class="text-right">{{total.agencyTicketMoney|number}}</th>
              <th class="text-right">{{total.refund|number}}</th>
              <th class="text-right">{{total.spentMoney|number}}</th>
              <th
                class="text-right"
              >{{(total.income-total.outcome-total.refund+total.goodsReceiveMoney)|number}}</th>
              <th class="text-right">{{total.transferMoney|number}}</th>
              <th class="text-right">{{total.vehicleTicket|number}}</th>
              <th class="text-right">{{total.onVehicleMoney|number}}</th>
              <th></th>
            </tr>
            <tr class="text-center">
              <th>STT</th>
              <th>Nhân viên</th>
              <th>Thu bán vé</th>
              <th>Thu gửi hàng</th>
              <th>Thu nội bộ</th>
              <th>Thu hộ vé đại lý</th>
              <th>Hủy vé trả khách</th>
              <th>Nộp tiền</th>
              <th>Còn phải nộp</th>
              <th>CK- QR tq</th>
              <th>Vé xuất cho tài xế</th>
              <th>Tiền vé xuất cho tài xế</th>
              <th class="text-center" style="vertical-align: middle">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="dataReport.length<0">
              <td colspan="9" class="text-center">Không có dữ liệu</td>
            </tr>
            <template v-for="(report,r) in dataReport">
              <tr
                :key="r"
                v-show="!(hideUser&&report.ticketPaidMoney==0&&report.goodsReceiveMoney==0&&report.otherMoney==0&&report.spentMoney==0&&report.income==0&&report.outcome==0)"
              >
                <td class="text-center">{{r+1}}</td>
                <td>{{report.fullName}}</td>
                <td class="text-right tableexport-string">{{(report.ticketPaidMoney||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.goodsReceiveMoney||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.otherMoney||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.agencyTicketMoney||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.refund||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.spentMoney||0)|number}}</td>
                <td
                  class="text-right tableexport-string"
                >{{((report.income-report.outcome-report.refund+report.goodsReceiveMoney)||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.transferMoney||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.vehicleTicket||0)|number}}</td>
                <td class="text-right tableexport-string">{{(report.onVehicleMoney||0)|number}}</td>
                <td class="text-right tableexport-string">
                  <el-button type="primary" plain @click="getCashReportDetail(report)">Xem chi tiết</el-button>
                </td>
              </tr>
            </template>
            <tr>
              <th colspan="2">TỔNG</th>
              <th class="text-right">{{total.ticketPaidMoney|number}}</th>
              <th class="text-right">{{total.goodsReceiveMoney|number}}</th>
              <th class="text-right">{{total.otherMoney|number}}</th>
              <th class="text-right">{{total.agencyTicketMoney|number}}</th>
              <th class="text-right">{{total.refund|number}}</th>
              <th class="text-right">{{total.spentMoney|number}}</th>
              <th
                class="text-right"
              >{{(total.income-total.outcome-total.refund+total.goodsReceiveMoney)|number}}</th>
              <th class="text-right">{{total.transferMoney|number}}</th>
              <th class="text-right">{{total.vehicleTicket|number}}</th>
              <th class="text-right">{{total.onVehicleMoney|number}}</th>
              <th></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <el-dialog
      custom-class="modal-lg"
      title="Chi tiết dòng tiền"
      :visible.sync="dialogTableVisible"
      width="85%"
      style="max-width:unset"
    >
      <el-tabs v-model="activeName">
        <el-tab-pane label="Hủy vé trả khách" name="first">
          <div class="form-group">
            <button class="btn btn-primary btn-sm" @click="exportToExcel('listCancel')">
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button class="btn btn-primary btn-sm" @click="printTable('listCancel')">
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <div class="form-group">
            <div class="grid-container">
              <table>
                <tr>
                  <td class="total-title">Số vé:</td>
                  <td
                    class="total-value"
                  >{{totalCancelDetail.ticketNumberHasMoney|number}}/{{totalCancelDetail.ticketNumber|number}}</td>
                  <td class="total-title">Giá vé:</td>
                  <td class="total-value">{{totalCancelDetail.agencyPrice|number}}</td>
                  <td class="total-title"></td>
                  <td class="total-value"></td>
                </tr>
                <tr>
                  <td class="total-title">Phụ thu:</td>
                  <td class="total-value">{{totalCancelDetail.surchargePrice|number}}</td>
                  <td class="total-title">Hủy trả khách:</td>
                  <td class="total-value">{{totalCancelDetail.refundMoney|number}}</td>
                  <td class="total-title"></td>
                  <td class="total-value">
                    <el-popover placement="bottom" width="800" trigger="click">
                      <el-table :data="userReportByRouterInListTicketCancel" stripe height="400">
                        <el-table-column property="routerName" label="Tuyến"></el-table-column>
                        <el-table-column label="Số lượng vé">
                          <template
                            slot-scope="prop"
                          >{{prop.row.totalTicketHasMoney}}/{{prop.row.totalTicket}}</template>
                        </el-table-column>
                        <el-table-column label="Hủy trả khách">
                          <template slot-scope="prop">{{prop.row.totalRefundMoney|number}}</template>
                        </el-table-column>
                        <el-table-column label="Tiền vé">
                          <template slot-scope="prop">{{prop.row.totalMoney|number}}</template>
                        </el-table-column>
                      </el-table>
                      <el-button slot="reference">Thống kê theo tuyến</el-button>
                    </el-popover>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <el-table
            id="listCancel"
            cell-class-name="tableexport-string"
            :data="listCancel"
            v-loading="loading"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column prop="ticketCode" label="Mã vé"></el-table-column>
            <el-table-column label="Hành khách" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span>{{prop.row.fullName}}</span>
                  <span>{{prop.row.phoneNumber ? `(${prop.row.phoneNumber})`: ''}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Số vé">
              <template slot-scope="prop">{{prop.row.abc ? prop.row.abc : 1}}</template>
            </el-table-column>
            <el-table-column label="Giá vé">
              <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
            </el-table-column>
            <el-table-column label="Phụ thu" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span
                    v-for="(surcharge, index) of prop.row.surcharges" :key="index"
                  >{{`${surcharge.name} ( ${surcharge.mode === 1 ? '+' : '-'}${surcharge.price})`}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Hủy trả khách" width="150">
              <template slot-scope="prop">{{prop.row.refundMoney|number}}</template>
            </el-table-column>
            <el-table-column label="Ngày giờ hủy" width="150">
              <template
                slot-scope="prop"
              >{{prop.row.cancelTime|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
            </el-table-column>
            <el-table-column property="cancelReason" label="Lí do hủy" width="150"></el-table-column>
            <el-table-column label="Ngày tạo vé" width="150">
              <template
                slot-scope="prop"
              >{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
            </el-table-column>
            <el-table-column label="Ngày đi">
              <template
                slot-scope="prop"
              >{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
            </el-table-column>
            <el-table-column property="trip.routeName" label="Tuyến"></el-table-column>
            <el-table-column property="trip.vehicle.numberPlate" label="BKS"></el-table-column>
            <el-table-column label="Mã ghế">
              <template slot-scope="prop">{{prop.row.seatId}}</template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="Thu bán vé" name="third">
          <div class="form-group">
            <button class="btn btn-primary btn-sm" @click="exportToExcel('listTicket')">
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button class="btn btn-primary btn-sm" @click="printTable('listTicket')">
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <div class="form-group">
            <div class="grid-container">
              <table>
                <tr>
                  <td class="total-title">Số vé:</td>
                  <td
                    class="total-value"
                  >{{totalTicketDetail.ticketNumberHasMoney|number}}/{{totalTicketDetail.ticketNumber|number}}</td>
                  <td class="total-title">Giá vé:</td>
                  <td class="total-value">{{totalTicketDetail.agencyPrice|number}}</td>
                  <td class="total-title"></td>
                  <td class="total-value"></td>
                </tr>
                <tr>
                  <td class="total-title">Phụ thu:</td>
                  <td class="total-value">{{totalTicketDetail.surchargePrice|number}}</td>
                  <td class="total-title">Tiền thu:</td>
                  <td class="total-value">{{totalTicketDetail.paidMoney|number}}</td>
                  <td class="total-title"></td>
                  <td class="total-value">
                    <el-popover placement="bottom" width="800" trigger="click">
                      <el-table :data="userReportByRouterInListTicket" stripe height="400">
                        <el-table-column property="routerName" label="Tuyến"></el-table-column>
                        <el-table-column label="Số lượng vé">
                          <template
                            slot-scope="prop"
                          >{{prop.row.totalTicketHasMoney}}/{{prop.row.totalTicket}}</template>
                        </el-table-column>
                        <el-table-column label="Tiền đã thu">
                          <template slot-scope="prop">{{prop.row.totalPaidMoney|number}}</template>
                        </el-table-column>
                        <el-table-column label="Tiền vé">
                          <template slot-scope="prop">{{prop.row.totalMoney|number}}</template>
                        </el-table-column>
                      </el-table>
                      <el-button slot="reference">Thống kê theo tuyến</el-button>
                    </el-popover>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <el-table
            id="listTicket"
            :data="listTicket"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column property="ticketCode" label="Mã vé"></el-table-column>
            <el-table-column label="Hành khách" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span>{{prop.row.fullName}}</span>
                  <span>{{prop.row.phoneNumber ? `(${prop.row.phoneNumber})`: ''}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Số vé">
              <template slot-scope="prop">{{prop.row.abc ? prop.row.abc : 1}}</template>
            </el-table-column>
            <el-table-column label="Giá vé">
              <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
            </el-table-column>
            <el-table-column label="Phụ thu" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span
                    v-for="(surcharge, index) of prop.row.surcharges" :key="index"
                  >{{`${surcharge.name} ( ${surcharge.mode === 1 ? '+' : '-'}${surcharge.price})`}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Tiền thu">
              <template slot-scope="prop">{{prop.row.transaction.paidMoney|number}}</template>
            </el-table-column>
            <el-table-column label="Tiền thu hộ Đại lý">
              <template slot-scope="prop">{{prop.row.chargeForAgency ? prop.row.transaction.paidMoney : 0|number}}</template>
            </el-table-column>
            <el-table-column label="Ngày giờ thu" width="200">
              <template
                slot-scope="prop"
              >{{prop.row.transaction.time| customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
            </el-table-column>
            <el-table-column label="Ngày tạo vé" width="150">
              <template
                slot-scope="prop"
              >{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
            </el-table-column>
            <el-table-column label="Ngày đi">
              <template
                slot-scope="prop"
              >{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
            </el-table-column>
            <el-table-column property="trip.routeName" label="Tuyến"></el-table-column>
            <el-table-column property="trip.vehicle.numberPlate" label="BKS"></el-table-column>
            <el-table-column label="Mã ghế">
              <template slot-scope="prop">{{prop.row.seatId}}</template>
            </el-table-column>
            <el-table-column property="note" label="Ghi chú"></el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="CK-QR tq" name="fourth">
          <div class="form-group">
            <button class="btn btn-primary btn-sm" @click="exportToExcel('listTicketTransfer')">
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button class="btn btn-primary btn-sm" @click="printTable('listTicketTransfer')">
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <div class="form-group">
            <div class="grid-container">
              <table>
                <tr>
                  <td class="total-title">Số vé:</td>
                  <td
                    class="total-value"
                  >{{totalTicketTransfer.ticketNumberHasMoney|number}}/{{totalTicketTransfer.ticketNumber|number}}</td>
                  <td class="total-title">Giá vé:</td>
                  <td class="total-value">{{totalTicketTransfer.agencyPrice|number}}</td>
                  <td class="total-title"></td>
                  <td class="total-value"></td>
                </tr>
                <tr>
                  <td class="total-title">Phụ thu:</td>
                  <td class="total-value">{{totalTicketTransfer.surchargePrice|number}}</td>
                  <td class="total-title">Tiền chuyển khoản:</td>
                  <td class="total-value">{{totalTicketTransfer.paidMoney|number}}</td>
                  <td class="total-title"></td>
                  <td class="total-value">
                    <el-popover placement="bottom" width="800" trigger="click">
                      <el-table :data="userReportByRouterInListTicketTransfer" stripe height="400">
                        <el-table-column property="routerName" label="Tuyến"></el-table-column>
                        <el-table-column label="Số lượng vé">
                          <template
                            slot-scope="prop"
                          >{{prop.row.totalTicketHasMoney}}/{{prop.row.totalTicket}}</template>
                        </el-table-column>
                        <el-table-column label="Tiền đã thu">
                          <template slot-scope="prop">{{prop.row.totalPaidMoney|number}}</template>
                        </el-table-column>
                        <el-table-column label="Tiền vé">
                          <template slot-scope="prop">{{prop.row.totalMoney|number}}</template>
                        </el-table-column>
                      </el-table>
                      <el-button slot="reference">Thống kê theo tuyến</el-button>
                    </el-popover>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <el-table
            id="listTicketTransfer"
            :data="listTicketTransfer"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column property="ticketCode" label="Mã vé"></el-table-column>
            <el-table-column label="Hành khách" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span>{{prop.row.fullName}}</span>
                  <span>{{prop.row.phoneNumber ? `(${prop.row.phoneNumber})`: ''}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Số vé">
              <template slot-scope="prop">{{prop.row.abc ? prop.row.abc : 1}}</template>
            </el-table-column>
            <el-table-column label="Giá vé">
              <template slot-scope="prop">{{prop.row.agencyPrice|number}}</template>
            </el-table-column>
            <el-table-column label="Phụ thu" width="200">
              <template slot-scope="prop">
                <div class="grid-container">
                  <span
                    v-for="(surcharge, index) of prop.row.surcharges" :key="index"
                  >{{`${surcharge.name} ( ${surcharge.mode === 1 ? '+' : '-'}${surcharge.price})`}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Tiền CK">
              <template slot-scope="prop">{{prop.row.transaction.paidMoney|number}}</template>
            </el-table-column>
            <el-table-column label="Ngày CK">
              <template slot-scope="prop">{{prop.row.transaction.date| strToDate()}}</template>
            </el-table-column>
            <el-table-column label="Ngày tạo vé" width="150">
              <template
                slot-scope="prop"
              >{{prop.row.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
            </el-table-column>
            <el-table-column label="Ngày đi">
              <template
                slot-scope="prop"
              >{{prop.row.getInTimePlan|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</template>
            </el-table-column>
            <el-table-column property="trip.routeName" label="Tuyến"></el-table-column>
            <el-table-column property="trip.vehicle.numberPlate" label="BKS"></el-table-column>
            <el-table-column label="Mã ghế">
              <template slot-scope="prop">{{prop.row.seatId}}</template>
            </el-table-column>
            <el-table-column property="note" label="Ghi chú"></el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="Thu gửi hàng" name="second">
          <el-table
            id="listGoods"
            :data="listGoods"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column property="goodsCode" label="Mã hàng"></el-table-column>
            <el-table-column property="createdUserName" label="Người tạo đơn"></el-table-column>
            <el-table-column property="goodsName" label="Tên hàng"></el-table-column>
            <el-table-column property="quantity" label="Số lượng"></el-table-column>
            <el-table-column label="Trạng thái hàng">
              <template slot-scope="prop">{{goodStatusList.find(x => x.value == prop.row.goodsStatus) ? goodStatusList.find(x => x.value == prop.row.goodsStatus).label : ''}}</template>
            </el-table-column>
            <el-table-column label="Người thu tiền">
              <template slot-scope="prop">{{prop.row.flattened.paidUsersFullName|number}}</template>
            </el-table-column>
            <el-table-column label="Số tiền thu">
              <template slot-scope="prop">{{prop.row.flattened.payments | number}}</template>
            </el-table-column>
            <el-table-column label="Ngày giờ thu">
              <template
                slot-scope="prop"
              >{{prop.row.paymentLastTime|customDate('#DD#-#MM#-#YYYY#')}}</template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="Thống kê theo chuyến" name="fifth">
          <div class="form-group">
            <button class="btn btn-primary btn-sm" @click="exportToExcel('listCheckTicket')">
              <i class="fa fa-plus-circle"></i> Xuất excel
            </button>
            <button class="btn btn-primary btn-sm" @click="printTable('listCheckTicket')">
              <i class="fa fa-plus-circle"></i> In
            </button>
          </div>
          <el-table
            id="listCheckTicket"
            :data="listCheckTicket"
            v-loading="loading"
            cell-class-name="tableexport-string"
          >
            <el-table-column type="index"></el-table-column>
            <el-table-column label="Giờ chuyến">
              <template
                slot-scope="prop"
              >{{prop.row.tripTimeStamp.value |customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</template>
            </el-table-column>
            <el-table-column label="Biển số xe">
              <template slot-scope="prop">{{prop.row.numberPlate}}</template>
            </el-table-column>
            <el-table-column label="Tài xế nhận vé">
              <template slot-scope="prop">{{prop.row.drivers.map(x => x.fullName).join(', ')}}</template>
            </el-table-column>
            <el-table-column label="Số vé giao TX">
              <template slot-scope="prop">{{prop.row.ticketCounts|number}}</template>
            </el-table-column>
            <el-table-column label="Tổng tiền TX thu">
              <template slot-scope="prop">{{prop.row.paidMoney|number}}</template>
            </el-table-column>
            <el-table-column label="DS ghế">
              <template
                slot-scope="prop"
                class="tableexport-string"
              >{{prop.row.seatIds.map(x=> x.toString()).join(', ')}}</template>
            </el-table-column>
            <el-table-column label="Nhân viên giao vé">
              <template slot-scope="prop">{{prop.row.fullName}}</template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
  </div>
</template>

<script>
import SelectUser from "../User/SelectUser";
import SelectPoint from "../Point/SelectPoint";
import { mapState} from 'vuex';


export default {
  components: {
    SelectUser,
    SelectPoint,
  },
  data: function () {
    let startDate = new Date().setHours(0, 0, 0, 0);
    let endDate = new Date().setHours(23, 59, 59, 999);
    let date = new Date();
    return {
      users: null,
      room: null,
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      dateRange: [startDate, endDate],
      dateStart: new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate()
      ).getTime(),
      dateEnd: new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate()
      ).getTime(),
      timeStart: new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate()
      ).getTime(),
      timeEnd:
        new Date(
          date.getFullYear(),
          date.getMonth(),
          date.getDate()
        ).getTime() + 86340000,
      dataReport: null,
      total: {
        income: 0,
        outcome: 0,
        ticketPaidMoney: 0,
        otherMoney: 0,
        agencyTicketMoney: 0,
        spentMoney: 0,
        ticketCancelMoney: 0,
        goodsReceiveMoney: 0,
        transferMoney: 0,
        refund: 0,
        onVehicleMoney: 0,
        vehicleTicket: 0,
      },
      hideUser: false,
      dialogTableVisible: false,
      activeName: "first",
      loading: false,

      goodStatusList: this.renderGoodStatus(),
      listCancel: [],
      listGoods: [],
      listTicket: [],
      listTicketTransfer: [],
      listCheckTicket: [],
      totalCancelDetail: {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        refundMoney: 0,
      },
      totalTicketDetail: {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      },
      totalTicketTransfer: {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      },
      userReportByRouterInListTicket: [],
      userReportByRouterInListTicketTransfer: [],
      userReportByRouterInListTicketCancel: [],
    };
  },
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  watch: {
    listCancel: function (val) {
      if (val.length == 0) {
        return;
      }
      let self = this;
      // tính tổng trong báo cáo chi tiết
      val.forEach((x) => {
        self.totalCancelDetail.ticketNumber++;
        if (x.refundMoney) {
          self.totalCancelDetail.ticketNumberHasMoney++;
        }
        self.totalCancelDetail.agencyPrice += x.agencyPrice;
        self.totalCancelDetail.surchargePrice += self.calSurchargePrice(
          x.surcharges
        );
        self.totalCancelDetail.refundMoney += x.refundMoney;
      });
      // tính tổng theo tuyến
      let groupListCancel = val.reduce((res, obj) => {
        // console.log(obj.trip.routeId in res && obj.refundMoney > 0);
        res[obj.trip.routeId] = {
          totalTicket:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalTicket : 0) +
            1,

          totalTicketHasMoney:
            obj.trip.routeId in res
              ? res[obj.trip.routeId].totalTicketHasMoney
              : 0,

          totalRefundMoney:
            (obj.trip.routeId in res
              ? res[obj.trip.routeId].totalRefundMoney
              : 0) + obj.refundMoney,
          totalMoney:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalMoney : 0) +
            obj.agencyPrice,
          routeName: obj.trip.routeName,
        };
        if (obj.refundMoney) {
          res[obj.trip.routeId].totalTicketHasMoney++;
        }
        return res;
      }, {});
      let arrGroupListCancel = [];
      for (const item in groupListCancel) {
        arrGroupListCancel.push({
          routerId: item,
          routerName: groupListCancel[item].routeName,
          totalTicket: groupListCancel[item].totalTicket,
          totalTicketHasMoney: groupListCancel[item].totalTicketHasMoney,
          totalRefundMoney: groupListCancel[item].totalRefundMoney,
          totalMoney: groupListCancel[item].totalMoney,
        });
      }
      self.userReportByRouterInListTicketCancel = arrGroupListCancel;
    },
    listTicket: function (val) {
      if (val.length == 0) {
        return;
      }
      let self = this;
      // tính tổng trong báo cáo chi tiết
      val.forEach((x) => {
        self.totalTicketDetail.ticketNumber++;
        if (x.transaction.paidMoney) {
          self.totalTicketDetail.ticketNumberHasMoney++;
        }
        self.totalTicketDetail.agencyPrice += x.agencyPrice;
        self.totalTicketDetail.surchargePrice += self.calSurchargePrice(
          x.surcharges
        );
        self.totalTicketDetail.paidMoney += x.transaction.paidMoney;
      });
      // tính tổng theo tuyến
      let groupListTicket = val.reduce((res, obj) => {
        res[obj.trip.routeId] = {
          totalTicket:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalTicket : 0) +
            1,

          totalTicketHasMoney:
            obj.trip.routeId in res
              ? res[obj.trip.routeId].totalTicketHasMoney
              : 0,

          totalPaidMoney:
            (obj.trip.routeId in res
              ? res[obj.trip.routeId].totalPaidMoney
              : 0) + obj.transaction.paidMoney,
          totalMoney:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalMoney : 0) +
            obj.agencyPrice,
          routeName: obj.trip.routeName,
        };
        if (obj.transaction.paidMoney) {
          res[obj.trip.routeId].totalTicketHasMoney++;
        }
        return res;
      }, {});
      let arrGroupListTicket = [];
      for (const item in groupListTicket) {
        arrGroupListTicket.push({
          routerId: item,
          routerName: groupListTicket[item].routeName,
          totalTicket: groupListTicket[item].totalTicket,
          totalTicketHasMoney: groupListTicket[item].totalTicketHasMoney,
          totalPaidMoney: groupListTicket[item].totalPaidMoney,
          totalMoney: groupListTicket[item].totalMoney,
        });
      }
      self.userReportByRouterInListTicket = arrGroupListTicket;
    },
    listTicketTransfer: function (val) {
      if (val.length == 0) {
        return;
      }
      let self = this;
      // tính tổng
      val.forEach((x) => {
        self.totalTicketTransfer.ticketNumber++;
        if (x.transaction.paidMoney) {
          self.totalTicketTransfer.ticketNumberHasMoney++;
        }
        self.totalTicketTransfer.agencyPrice += x.agencyPrice;
        self.totalTicketTransfer.surchargePrice += self.calSurchargePrice(
          x.surcharges
        );
        self.totalTicketTransfer.paidMoney += x.transaction.paidMoney;
      });
      // tính tổng theo tuyến
      let groupListTicketTranfer = val.reduce((res, obj) => {
        res[obj.trip.routeId] = {
          totalTicket:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalTicket : 0) +
            1,

          totalTicketHasMoney:
            obj.trip.routeId in res
              ? res[obj.trip.routeId].totalTicketHasMoney
              : 0,

          totalPaidMoney:
            (obj.trip.routeId in res
              ? res[obj.trip.routeId].totalPaidMoney
              : 0) + obj.transaction.paidMoney,
          totalMoney:
            (obj.trip.routeId in res ? res[obj.trip.routeId].totalMoney : 0) +
            obj.agencyPrice,
          routeName: obj.trip.routeName,
        };
        if (obj.transaction.paidMoney) {
          res[obj.trip.routeId].totalTicketHasMoney++;
        }
        return res;
      }, {});
      let arrGroupListTicketTransfer = [];
      for (const item in groupListTicketTranfer) {
        arrGroupListTicketTransfer.push({
          routerId: item,
          routerName: groupListTicketTranfer[item].routeName,
          totalTicket: groupListTicketTranfer[item].totalTicket,
          totalTicketHasMoney: groupListTicketTranfer[item].totalTicketHasMoney,
          totalPaidMoney: groupListTicketTranfer[item].totalPaidMoney,
          totalMoney: groupListTicketTranfer[item].totalMoney,
        });
      }
      self.userReportByRouterInListTicketTransfer = arrGroupListTicketTransfer;
    },
  },
  mounted: function () {
    // this.getReport();
  },
  methods: {
    getCashReportDetail: async function (report) {
      let self = this;
      self.loading = true;
      self.dialogTableVisible = true;
      self.cleanDetail();

      // type = 0 là tiền vé (thu trực tiếp và chuyển khoản), 1 là hủy vé, 2 là thu chi khác
      const listPaymentTicket = self
        .callAPIgetDetail(0, report.existUserId)
        .then((value) => {
          self.listTicket = value.filter(
            (element) =>
              element.transaction && element.transaction.paymentType === 3
          );
          self.listTicketTransfer = value.filter(
            (element) =>
              element.transaction &&
              (element.transaction.paymentType === 6 ||
                element.transaction.paymentType === 1)
          );
        });
      const listTicketCancel = self
        .callAPIgetDetail(1, report.existUserId)
        .then((value) => {
          self.listCancel = value;
        });
      const listCheckTicket = self
        .getCheckTicket(report.existUserId)
        .then((value) => {
          self.listCheckTicket = value;
        });
      const listGoods = self.getGoodDetail(report.existUserId).then((value) => {
        console.log(value);
        self.listGoods = value;
      });
      Promise.all([
        listPaymentTicket,
        listTicketCancel,
        listCheckTicket,
        listGoods,
      ]).then((values) => {
        self.loading = false;
      });
    },
    getGoodDetail: async function (userId) {
      let self = this;
      let param = {
        companyId: userInfo.userInfo.companyId,
        userId: userId,
        startDate:
          self.dateStart +
          self.timeStart -
          new Date(
            new Date(this.timeStart).getFullYear(),
            new Date(this.timeStart).getMonth(),
            new Date(this.timeStart).getDate()
          ).getTime(),
        endDate:
          self.dateEnd +
          self.timeEnd -
          new Date(
            new Date(this.timeEnd).getFullYear(),
            new Date(this.timeEnd).getMonth(),
            new Date(this.timeEnd).getDate()
          ).getTime(),
      };
      let results = await new Promise((resolve) => {
        sendJson({
          url:
            "https://asia-northeast1-dobody-anvui.cloudfunctions.net/user-detail-good-report",
          data: param,
          success: function (data) {
            return resolve(data);
          },
          functionError: function () {},
        });
      });
      return results;
    },
    getCheckTicket: async function (userId) {
      let self = this;
      let date = new Date();
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate:
          self.dateStart +
          self.timeStart -
          new Date(
            date.getFullYear(),
            date.getMonth(),
            date.getDate()
          ).getTime(),
        endDate:
          self.dateEnd +
          self.timeEnd -
          new Date(
            date.getFullYear(),
            date.getMonth(),
            date.getDate()
          ).getTime(),
        userId: userId,
      };
      if (self.room) {
        param.roomId = self.room.id;
      }
      let results = await new Promise((resolve) => {
        sendJson({
          url:
            "https://asia-northeast1-dobody-anvui.cloudfunctions.net/ticket-on-vehicle",
          data: param,
          success: function (data) {
            return resolve(data);
          },
          functionError: function () {
            return resolve([]);
          },
        });
      });
      return results;
    },
    callAPIgetDetail: async function (selectType, userId) {
      let self = this;
      let date = new Date();
      let param = {
        companyId: userInfo.userInfo.companyId,
        userId: userId,
        type: selectType,
        startDate:
          self.dateStart +
          self.timeStart -
          new Date(
            new Date(this.timeStart).getFullYear(),
            new Date(this.timeStart).getMonth(),
            new Date(this.timeStart).getDate()
          ).getTime(),
        endDate:
          self.dateEnd +
          self.timeEnd -
          new Date(
            new Date(this.timeEnd).getFullYear(),
            new Date(this.timeEnd).getMonth(),
            new Date(this.timeEnd).getDate()
          ).getTime(),
      };
      if (self.room) {
        param.roomId = self.room.id;
      }
      let results = await new Promise((resolve) => {
        sendJson({
          url:
            "https://asia-northeast1-dobody-anvui.cloudfunctions.net/user-detail-report",
          data: param,
          success: function (data) {
            return resolve(data);
          },
          functionError: function () {},
        });
      });
      return results;
    },
    getReport: function () {
      let self = this;
      let date = new Date();
      let param = {
        companyId: userInfo.userInfo.companyId,
        timeZone: 7,
        startDate:
          self.dateStart +
          self.timeStart -
          new Date(
            new Date(this.timeStart).getFullYear(),
            new Date(this.timeStart).getMonth(),
            new Date(this.timeStart).getDate()
          ).getTime(),
        endDate:
          self.dateEnd +
          self.timeEnd -
          new Date(
            new Date(this.timeEnd).getFullYear(),
            new Date(this.timeEnd).getMonth(),
            new Date(this.timeEnd).getDate()
          ).getTime(),
      };
      if (self.room) {
        param.roomId = self.room.id;
      }
      if (self.users && self.users != null) {
        param.userIds = self.users.map((x) => x.id);
      }
      self.load("getReportDetail");
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/user-cash-report", //urlRP(API.reportCashByUser)
        data: param,
        success: function (data) {
          let convertData = data.map((x) => {
            let item = {
              existUserId: x.existUserId,
              fullName: x.fullName,
              income: x.income ? parseInt(x.income) : 0,
              onVehicleMoney: x.onVehicleMoney ? parseInt(x.onVehicleMoney) : 0,
              otherMoney: x.otherMoney ? parseInt(x.otherMoney) : 0,
              agencyTicketMoney: x.agencyTicketMoney ? parseInt(x.agencyTicketMoney) : 0,
              outcome: x.outcome ? parseInt(x.outcome) : 0,
              receiverId: x.receiverId ? parseInt(x.receiverId) : 0,
              refund: x.refund ? parseInt(x.refund) : 0,
              spentMoney: x.spentMoney ? parseInt(x.spentMoney) : 0,
              ticketPaidMoney: x.ticketPaidMoney
                ? parseInt(x.ticketPaidMoney)
                : 0,
              transferMoney: x.transferMoney ? parseInt(x.transferMoney) : 0,
              vehicleTicket: x.vehicleTicket ? parseInt(x.vehicleTicket) : 0,
              goodsReceiveMoney: x.goodsReceiveMoney
                ? parseInt(x.goodsReceiveMoney)
                : 0,
            };
            return item;
          });
          self.setTotal(convertData);
          self.dataReport = convertData;
          self.unload("getReportDetail");
        },
        functionIfError: function (err) {
          console.log(err);
          self.unload("getReportDetail");
        },
      });
    },
    setTotal: function (data) {
      let totalLet = {
        income: 0,
        outcome: 0,
        ticketPaidMoney: 0,
        otherMoney: 0,
        agencyTicketMoney: 0,
        spentMoney: 0,
        ticketCancelMoney: 0,
        transferMoney: 0,
        refund: 0,
        onVehicleMoney: 0,
        vehicleTicket: 0,
        goodsReceiveMoney: 0,
      };
      $.each(data, function (r, report) {
        totalLet.income += parseFloat(report.income || 0);
        totalLet.outcome += parseFloat(report.outcome || 0);
        totalLet.ticketPaidMoney += parseFloat(report.ticketPaidMoney || 0);
        totalLet.otherMoney += parseFloat(report.otherMoney || 0);
        totalLet.agencyTicketMoney += parseFloat(report.agencyTicketMoney || 0);
        totalLet.spentMoney += parseFloat(report.spentMoney || 0);
        totalLet.ticketCancelMoney += parseFloat(report.ticketCancelMoney || 0);
        totalLet.transferMoney += parseFloat(report.transferMoney || 0);
        totalLet.refund += parseFloat(report.refund || 0);
        totalLet.onVehicleMoney += parseFloat(report.onVehicleMoney || 0);
        totalLet.vehicleTicket += parseFloat(report.vehicleTicket || 0);
        totalLet.goodsReceiveMoney += parseFloat(report.goodsReceiveMoney || 0);
      });
      this.total = totalLet;
    },
    exportExcel: function () {
      this.excel($(this.$el).find("table"), "THU_CHI_THEO_NHAN_VIEN_");
    },
    calSurchargePrice(arr) {
      let surchargePrice = 0;
      if (arr) {
        arr.forEach((element) => {
          if (element.mode === 1)
            surchargePrice = surchargePrice + element.price;
          if (element.mode === -1)
            surchargePrice = surchargePrice - element.price;
          return;
        });
      }
      return surchargePrice;
    },
    exportToExcel: function (tableId) {
      let fileName = "";
      if (tableId == "listTicket") fileName = "THU_BAN_VE";
      if (tableId == "listCancel") fileName = "HUY_VE_TRA_KHACH";
      if (tableId == "listGoods") fileName = "THU_GUI_HANG";
      if (tableId == "listTicketTransfer") fileName = "CHUYEN_VE";
      if (tableId == "listCheckTicket") fileName = "THONG_KE_THEO_CHUYEN";
      this.excel(`#${tableId}`, fileName);
    },
    printTable: function (tableId) {
      $(`#${tableId}`).printThis();
    },
    cleanDetail: function () {
      let self = this;
      self.userReportByRouterInListTicket = [];
      self.userReportByRouterInListTicketTransfer = [];
      self.userReportByRouterInListTicketCancel = [];
      self.listTicket = [];
      self.listTicketTransfer = [];
      self.listCancel = [];
      self.totalCancelDetail = {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        refundMoney: 0,
      };
      self.totalTicketDetail = {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      };
      self.totalTicketTransfer = {
        ticketNumber: 0,
        ticketNumberHasMoney: 0,
        agencyPrice: 0,
        surchargePrice: 0,
        paidMoney: 0,
      };
    },
    renderGoodStatus: function (params) {
      let list = [
        {
          value: 0,
          label: "Hủy",
        },
        {
          value: 1,
          label: "Đã nhận hàng",
        },
        {
          value: 2,
          label: "Đã gom hàng",
        },
        {
          value: 3,
          label: "Đang vận chuyển",
        },
        {
          value: 4,
          label: "Đã đưa hàng xuống",
        },
        {
          value: 5,
          label: "Đã trả hàng",
        },
        {
          value: 6,
          label: "Chưa nhận hàng",
        },
      ];
      return list;
    },
  },
};
</script>

<style scoped>
.grid-container {
  display: grid;
}
.total-title {
  font-weight: bold;
  width: 80px;
}
.total-value {
  width: 100px;
}
</style>
