<template>
    <div class="w-100 report-revenue-month">
        <div class="row" v-if="!home">
            <div class="col-12 title">
                <span class="text-uppercase">{{$t('report-monthly-revenue')}}</span>
            </div>
        </div>
        <div class="row" style="padding-left:25px;padding-right:25px;" v-if="!home">
            <div class="col-md-2 form-group type-revenue">
                <label class="radio-inline"><input type="radio" value="0" v-model="typeRevenue">{{$t('filter.ticket-number')}}</label>
				<label class="radio-inline"><input type="radio" value="1" v-model="typeRevenue">{{$t('filter.revenue')}}</label>
            </div>
            <div class="col-md-2">
                <select class="form-control" v-model="search.month">
					<template v-for="i in (1,12)">
						<option :value="i">Tháng {{i}}</option>
					</template>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" v-model="search.year">
					<template v-for="i in (new Date().getFullYear()-2016+5)">
						<option :value="2016+i">Năm {{i+2016}}</option>
					</template>
                </select>
            </div>
            <div class="col-md-4">
            	<select-route v-model="search.route" v-bind:multiple="true"  class="w-100"></select-route>
            </div>
            <div class="col-md-1 form-group">
                <button class="btn btn-block btn-primary text-uppercase" @click="getRevenueMonthly(typeRevenue)">{{$t('button.filter')}}</button>
            </div>
        </div>
        <div class="header-box">
        	<div class="row">
        		<div class="col-md-7">
        			<p>Báo cáo doanh thu</p>
        			<h5 class="title_revenue">Tháng {{ search.month }} năm {{ search.year }}</h5>
        			<p class="w-100"> Cập nhật lúc {{lastUpdated|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</p>
        		</div>
        		<div class="col-md-5">
        			<div class="item-tsv inline-block">
        				<p class="fz-12">Tổng số vé</p>
        				<h5 class="title_revenue">{{ totalTicket }} Vé</h5>
        			</div>
        			<div class="item-ts inline-block">
        				<p class="fz-12">Tổng số tiền</p>
        				<h5 class="title_revenue">{{ totalRevenue }} vnđ</h5>
        			</div>
        			
        		</div>
        	</div>
        	
			
        </div>

    	<div class="col-md-12">
    		<ul class="nav nav-tabs" role="tablist">
	            <li class="nav-item">
	              <a class="nav-link active" data-toggle="tab" href="#thongketheobieudo">{{$t('filter.statistics-by-chart')}}</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" data-toggle="tab" href="#thongketheobang">{{$t('filter.statistics-by-table')}}</a>
	            </li>
	        </ul>
    	</div>
        
        <div class="tab-content" v-loading="loading">
        	<div id="thongketheobieudo" class="tab-pane active">
        		<div style="padding-left:25px;padding-right:25px;margin-top: 10px;">
        			<div class="box-border-1">
			        	<highcharts class="chart" :options="chartOptions1" :updateArgs="updateArgs"></highcharts>
			        </div>
		        </div>
		        	
		        <div class="row" style="padding-left:25px;padding-right:25px;">
		        	
			        	<div class="col-md-6" style="background: white;">
			        		<highcharts class="chart" :options="chartOptions3" :updateArgs="updateArgs"></highcharts>
			        	</div>
			        	<div class="col-md-6" style="background: white;">
			        		<highcharts class="chart" :options="chartOptions2" :updateArgs="updateArgs"></highcharts>
			        	</div>
		        </div>
        	</div>	
        	<div id="thongketheobang" class="tab-pane fade">
        		<div class="content-row">
	        		<div class="table-responsive dragscroll">
	        			<button class="btn btn-success btn-sm" @click="exportExcel()" style="float: right; margin-bottom: 10px"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
	        			<button class="btn btn-success btn-sm" @click="printTableReport()" style="float: right; margin-bottom: 10px;;margin-right:15px;"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
	        			<div id="report_monthly">
	        			<div class="row">
				        	<h5 class="title_revenue" style="width:100%;text-align: center;font-weight: bold;font-size:22px;">Báo cáo doanh thu tháng <b>{{ search.month }}</b> năm <b>{{ search.year }}</b></h5>
				        </div>
	                    <table class="table table-bordered table-sm top20 text-center report-revenue-month-table">
	                    	<thead>
	                    		<tr>
		                            <th colspan="2"></th>
		                            <th colspan="5">Số vé</th>
		                            <th colspan="5">Doanh thu</th>
		                        </tr>
		                        <tr>
		                            <th colspan="2"></th>
		                            <th>{{ totalTicket|number }}</th>
		                            <th>{{ totalAdminTicket|number }}</th>
		                            <th>{{ totalWebTicket|number }}</th>
		                            <th>{{ totalIosTicket|number }}</th>
		                            <th>{{ totalAndroidTicket|number }}</th>
		                            <th>{{ totalRevenue|number }}</th>
		                            <th>{{ totalAdminRevenue|number }}</th>
		                            <th>{{ totalWebRevenue|number }}</th>
		                            <th>{{ totalIosRevenue|number }}</th>
		                            <th>{{ totalAndroidRevenue|number }}</th>
		                        </tr>
		                        <tr>
		                            <th>STT</th>
		                            <th>Ngày</th>
		                            <th>Tổng</th>
		                            <th>Admin</th>
		                            <th>Web</th>
		                            <th>ios</th>
		                            <th>Android</th>
		                            <th>Tổng</th>
		                            <th>Admin</th>
		                            <th>Web</th>
		                            <th>ios</th>
		                            <th>Android</th>
		                        </tr>
	                    	</thead>
	                    	<tbody>
	                    		<tr v-if="reportRevenue.length<=0">
	                            	<td class="text-center" colspan="12">Không có dữ liệu</td>
		                        </tr>
		                        <template v-for="(val,index) in reportRevenue">
		                            <tr>
		                                <td>{{ index+1 }}</td>
		                                <td>{{ val.date|strToDate }}</td>
		                                <td>{{ val.totalSeat|number }}</td>
		                                <td>{{ val.sourceTicket[1].totalSeat|number }}</td>
		                                <td>{{ val.sourceTicket[2].totalSeat|number }}</td>
		                                <td>{{ val.sourceTicket[3].totalSeat|number }}</td>
		                                <td>{{ val.sourceTicket[4].totalSeat|number }}</td>
		                                <td>{{ val.totalMoney|number }}</td>
		                                <td>{{ val.sourceTicket[1].totalMoney|number }}</td>
		                                <td>{{ val.sourceTicket[2].totalMoney|number }}</td>
		                                <td>{{ val.sourceTicket[3].totalMoney|number }}</td>
		                                <td>{{ val.sourceTicket[4].totalMoney|number }}</td>
		                            </tr>
		                        </template>
	                    	</tbody>
	                    </table>
	                	</div>
	                </div>
            	</div>
        	</div>
        </div>
    </div>
</template>
<script>
	import routeOftenSelect from '../Route/RouteOftenSelect.vue';
	import SelectRoute from '../Route/SelectRoute.vue';
    export default {
    	components: {routeOftenSelect, SelectRoute},
    	props: ['home'],
		computed : {
    		lastUpdated : function () {
    			let report = this.reportRevenue;
				return report&&_.last(report)?_.last(report).lastUpdated : new Date().getTime();
			}
		},
      	data () {
		    return {
		    	loading: false,
		      search: {
		      	month: moment().month() + 1,
		      	year: moment().year(),
		      	route: null,
		      },
		      reportRevenue: [],
		      totalTicket: 0,
		      totalRevenue: 0,
		      typeRevenue: 0,
		      totalTickets: [],
		      createdDate: [],
		      totalAdminTicket: 0,
	    	  totalWebTicket: 0,
	    	  totalIosTicket: 0,
	    	  totalAndroidTicket: 0,
	    	  totalAdminRevenue: 0,
	    	  totalWebRevenue: 0,
	    	  totalIosRevenue: 0,
	    	  totalAndroidRevenue: 0,
		      updateArgs: [true, true, {duration: 1000}],
		      chartOptions1: {
		        chart: {
		          type: 'column'
		        },
		        title: {
		          text: ''
		        },
		        series: [{
		          data: [],
		          color: '#6fcd98',
		          name: 'Số tiền',
		        }],
		        xAxis: {
		            categories: [],
		        },
		        yAxis: {
		        	labels: {
                        format: '{value}',
                        formatter: function() {
                            return func.formatMoney(this.value);
                        }
                    },
		            title: {
		                text: 'Đơn vị (VNĐ)'
		            }
		        },
		        tooltip: {
				    formatter: function() {
				        return 'Ngày:  <b>' + this.x + '</b> <br>' +  this.series.name + ':  <b>' + func.formatMoney(this.y) + '</b><br> admin: <b>' + this.point.admin + '</b><br> ios: <b>' + this.point.ios + '<b><br> android: <b>' + this.point.android + '</b>';
				    }
				}
		      },
		      chartOptions2: {
		        chart: {
			        plotBackgroundColor: null,
			        plotBorderWidth: null,
			        plotShadow: false,
			        type: 'pie'
			    },
			    title: {
			        text: 'Biểu đồ doanh thu'
			    },
			    tooltip: {
			        formatter: function() {
				        return this.point.name + ':' + '<b>' + func.formatMoney(this.point.y) + ' VNĐ</b>';
				    }
			    },
			    plotOptions: {
			        pie: {
			            allowPointSelect: true,
			            cursor: 'pointer',
			            dataLabels: {
			                enabled: true,
			                formatter: function () {
						        return this.point.name + ': ' +  func.formatMoney(this.y) + ' VNĐ';
						    },
			                style: {
			                    color: 'black'
			                }
			            }
			        }
			    },
			    series: [{
			        colorByPoint: true,
			        data: []
			    }]
		      },
		      chartOptions3: {
		        chart: {
			        plotBackgroundColor: null,
			        plotBorderWidth: null,
			        plotShadow: false,
			        type: 'pie'
			    },
			    title: {
			        text: 'Biểu đồ vé'
			    },
			    tooltip: {
			        formatter: function() {
				        return this.point.name + ':' + '<b>' + func.formatMoney(this.point.y) + ' vé</b>';
				    }
			    },
			    plotOptions: {
			        pie: {
			            allowPointSelect: true,
			            cursor: 'pointer',
			            dataLabels: {
			                enabled: true,
			                formatter: function () {
						        return this.point.name + ': ' +  func.formatMoney(this.y) + ' vé';
						    },
			                style: {
			                    color: 'black'
			                }
			            }
			        }
			    },
			    series: [{
			        colorByPoint: true,
			        data: []
			    }],
		      },
		    }
		},
		mounted: function(){
			this.getRevenueMonthly(0);
		},
		methods: {
			printTableReport : function () {
                $(this.$el).find('#report_monthly').printThis();
            },
			exportExcel : function () {
                this.excel($(this.$el).find('table'),'DOANH_THU_THEO_THANG_');
            },
			getRevenueMonthly: function(type){
				let self = this;
				self.loading = true;
				let params = {
					month: self.search.month,
					year: self.search.year,
				};
				if(self.search.route !== null){
					let listRouteId = [];
					$.each(self.search.route, function(key, val){
						listRouteId.push(val.routeId);
					});
					params.listRouteId = listRouteId;
				}
				if(!self.home){
					// self.load('getRevenueMonthly');
				}
				sendJson({
                    url  : urlDBD(API.revenueMonthly),
                    data : params,
                    success : function (res) {
                    	if(res.results.summaryReport){
                    		self.reportRevenue = res.results.summaryReport;
                    		self.totalTickets = [];
                    		self.createdDate = [];
                    		self.totalRevenue = 0;
                    		self.totalTicket = 0;
                    		let totalAdminTicket = 0;
                    		let totalWebTicket = 0;
                    		let totalIosTicket = 0;
                    		let totalAndroidTicket = 0;
                    		let totalAdminRevenue = 0;
                    		let totalWebRevenue = 0;
                    		let totalIosRevenue = 0;
                    		let totalAndroidRevenue = 0;
                    		$.each(res.results.summaryReport, function(key, val){
                    			if(type == 0){
                    				self.totalTickets.push({y: val.totalTicket, admin: val.sourceTicket[1].totalSeat, web: val.sourceTicket[2].totalSeat, ios: val.sourceTicket[3].totalSeat, android: val.sourceTicket[4].totalSeat});
                    			}else{
                    				self.totalTickets.push({y: val.totalMoney, admin: val.sourceTicket[1].totalMoney, web: val.sourceTicket[2].totalMoney, ios: val.sourceTicket[3].totalMoney, android: val.sourceTicket[4].totalMoney});
                    			}
                    			totalAdminTicket = totalAdminTicket + val.sourceTicket[1].totalSeat;
                				totalWebTicket = totalWebTicket + val.sourceTicket[2].totalSeat;
                				totalIosTicket = totalIosTicket + val.sourceTicket[3].totalSeat;
                				totalAndroidTicket = totalAndroidTicket + val.sourceTicket[4].totalSeat;
                				totalAdminRevenue = totalAdminRevenue + val.sourceTicket[1].totalMoney;
                				totalWebRevenue = totalWebRevenue + val.sourceTicket[2].totalMoney;
                				totalIosRevenue = totalIosRevenue + val.sourceTicket[3].totalMoney;
                				totalAndroidRevenue = totalAndroidRevenue + val.sourceTicket[4].totalMoney;

                    			self.totalRevenue = self.totalRevenue + val.totalMoney;
                    			self.totalTicket = self.totalTicket + val.totalTicket;
    							self.createdDate.push(moment(func.dateStrToMs(val.date)).format('DD/MM'));
                    		})
				            if(type == 0){
				            	self.chartOptions1.series = [{
					           		data: self.totalTickets,
					           		color: '#6fcd98',
					           		name: 'Số vé',
					            }];
					            self.chartOptions1.yAxis.title.text = 'Đơn vị (Chiếc)'
				            }else{
				            	self.chartOptions1.series = [{
					           		data: self.totalTickets,
					           		color: '#6fcd98',
					           		name: 'Số tiền',
					            }];
					            self.chartOptions1.yAxis.title.text = 'Đơn vị (VNĐ)'
				            }
			            	self.chartOptions3.series = [{
			            		colorByPoint: true,
			            		data: [{
			            			name: 'Admin',
						            y: totalAdminTicket,
						            sliced: true,
						            selected: true
							        }, {
							            name: 'Web',
							            y: totalWebTicket
							        }, {
							            name: 'ios',
							            y: totalIosTicket
							        }, {
							            name: 'Android',
							            y: totalAndroidTicket
			            		}]
						    }];
						    self.chartOptions2.series = [{
			            		colorByPoint: true,
			            		data: [{
			            			name: 'Admin',
						            y: totalAdminRevenue,
						            sliced: true,
						            selected: true
							        }, {
							            name: 'Web',
							            y: totalWebRevenue
							        }, {
							            name: 'ios',
							            y: totalIosRevenue
							        }, {
							            name: 'Android',
							            y: totalAndroidRevenue
			            		}]
						    }];

						    self.totalAdminTicket = totalAdminTicket;
                    		self.totalWebTicket = totalWebTicket;
                    		self.totalIosTicket = totalIosTicket;
                    		self.totalAndroidTicket = totalAndroidTicket;
                    		self.totalAdminRevenue = totalAdminRevenue;
                    		self.totalWebRevenue = totalWebRevenue;
                    		self.totalIosRevenue = totalIosRevenue;
                    		self.totalAndroidRevenue = totalAndroidRevenue;

                    		self.totalRevenue = func.formatMoney(self.totalRevenue);
                    		self.totalTicket = func.formatMoney(self.totalTicket);
				            self.chartOptions1.xAxis.categories = self.createdDate;
                    	}
                        // self.unload('getRevenueMonthly');
											self.loading = false;
                    },
                    functionIfError : function () {
											self.loading = false;
                        // self.unload('getRevenueMonthly');
                    }
                })
			}
		},
		watch: {
			typeRevenue: function(newVal){
				this.getRevenueMonthly(newVal);
			}
		}
    }
</script>
<style type="text/css">
	.chart,.highcharts-container,.highcharts-root{
		width: 100% !important;
	}
	.highcharts-credits{
		display: none !important;
	}
	.type-revenue{
		padding-left: 0;
	    margin-bottom: 15px;
	    margin-top: 5px;
	}
	.type-revenue label{
		padding-right: 15px;
    	font-weight: normal;
	}
	.type-revenue input{
		position: relative;
	    top: 2px;
	    margin-right: 5px;
	}
	.totalRevenue h5{
		display: inline-block;
	    margin: 0;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    background: #44a56e;
	    color: white;
	    padding: 8px;
	    border-radius: 5px;
	}
	.totalRevenue {
		text-align: center;
    	display: block;
	}
	h5.title_revenue{
	  font-family: Montserrat;
	  font-size: 24px;
	  font-weight: 600;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: -0.38px;
	  color: #464d5d;
	}
	h5.title_revenue b{ 
		color: #44a56e;
	}
	.report-revenue-month li.nav-item a.active{
        border: none;
        background: #3490dc;
        color: white;
        height: 100%;
    }
    .report-revenue-month li.nav-item a{
        padding-left: 28px;
        padding-right: 28px;
        border: 1px solid #ddd;
        margin-right: 5px;
        background: white;
    }
    table.report-revenue-month-table tr:nth-child(2n){
    	background: #EBEDEF;
    }
</style>