<template>
    <div style="margin-bottom: 50px">
        <el-row>
            <div class="row col-12" style="padding-right: 0;">
                <div class="col-10 title-ret">
                    AV1 Báo cáo tổng hợp thu tiền vé theo Phòng vé
                </div>
                <div class="col-2 text-right" style="margin-top: 20px;padding-right: 0;">
                    <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
                    <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
                </div>
            </div>
        </el-row>
        <div class="header-ret">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>Từ ngày</label><br>
                        <el-date-picker
                            class="w-100"
                            v-model="dateStart"
                            format="dd-MM-yyyy"
                            :picker-options="options"
                            value-format="timestamp"
                            type="date"
                            placeholder="Chọn ngày">
                        </el-date-picker>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Đến ngày</label><br>
                        <el-date-picker class="w-100" v-model="dateEnd" format="dd-MM-yyyy" :picker-options="options" value-format="timestamp" type="date"
                                        placeholder="Chọn ngày">
                        </el-date-picker>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Phòng vé</label><br>
                        <select-point class="w-100" :value="room" :multiple="true" v-model="room" :pointType="8"></select-point>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Hình thức thanh toán</label><br>
                        <el-select v-model="paymentType" multiple placeholder="Chọn tất cả">
                            <el-option
                            v-for="item in paymentTypeList"
                            :key="item.key"
                            :label="item.label"
                            :value="item.key">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button class="btn btn-search btn-block" @click="getList()">
                            Lấy danh sách
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top20 tableReport" v-loading="loading">
            <div style="max-width: 100%;">
                    <table class="table top20 table-bordered export-revenue" style="font-family: sans-serif !important;font-weight: 500 !important;">
                        <thead>
                        <tr class="text-center">
                            <th class="rowHeader">{{$t('No-')}}</th>
                            <th class="rowHeader">Tuyến</th>
                            <th class="rowHeader">Giá vé</th>
                            <th class="rowHeader">Số vé bán & thu tiền</th>
                            <th class="rowHeader">Số tiền thu vé bán</th>
                            <th class="rowHeader">Số vé thu hộ</th>
                            <th class="rowHeader">Số tiền vé thu hộ</th>
                            <th class="rowHeader">Tổng số vé</th>
                            <th class="rowHeader">Tổng số tiền thu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="list.length<=0">
                            <td colspan="13" class="text-center">{{$t('no-data-available')}}</td>
                        </tr>
                        <tr class="font-weight-bold text-center" v-if="list.length > 0">
                            <td></td>
                            <td class="rowAllTotal">Tổng cộng</td>
                            <td></td>
                            <td class="rowAllTotal">{{allTicketSeller|number}}</td>
                            <td class="rowAllTotal">{{allTicketSellerPrice|number}}</td>
                            <td class="rowAllTotal">{{allOrderTicket|number}}</td>
                            <td class="rowAllTotal">{{allOrderTicketPrice|number}}</td>
                            <td class="rowAllTotal">{{allTicket|number}}</td>
                            <td class="rowAllTotal">{{allPrice|number}}</td>
                        </tr>
                        <template v-for="(dayRp,key) in list">
                            <tr class="font-weight-bold text-center">
                                <td class="text-left rowTotal">{{key+1}}</td>
                                <td class="rowTotal" style="font-style: oblique">{{dayRp.routeName}}</td>
                                <td></td>
                                <td class="rowTotal">{{dayRp.allTicketSeller|number}}</td>
                                <td class="rowTotal">{{dayRp.allTicketSellerPrice|number}}</td>
                                <td class="rowTotal">{{dayRp.allOrderTicket|number}}</td>
                                <td class="rowTotal">{{dayRp.allOrderTicketPrice|number}}</td>
                                <td class="rowTotal">{{dayRp.allTicket|number}}</td>
                                <td class="rowTotal">{{dayRp.allPrice|number}}</td>
                            </tr>
                            <template v-for="(price, priceIndex) in dayRp.prices">
                                <tr class=" font-weight-bold text-center">
                                    <td class="text-left"> {{ key+1}}. {{priceIndex+1}}</td>
                                    <td>
                                    </td>
                                    <td class="rowH">{{price.originalTicketPrice|number}}</td>
                                    <td class="rowH">{{price.totalSellerTicket|number}}</td>
                                    <td class="rowH">{{price.totalMoneySellerTicket|number}}</td>
                                    <td class="rowH">{{price.totalOrderTicket|number}}</td>
                                    <td class="rowH">{{price.totalMoneyOrderTicket|number}}</td>
                                    <td class="rowH">{{(price.totalSellerTicket + price.totalOrderTicket)|number}}</td>
                                    <td class="rowH">{{(price.totalMoneySellerTicket + price.totalMoneyOrderTicket)|number}}</td>
                                </tr>
                            </template>
                        </template>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                <!-- del footer -->
            </div>
        </div>
    </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import {Report,ListReport} from "../../class/report";
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex'

    let d = new Date()
    export default {
        components : {SelectRoute, ESelectUser, SelectUser,SelectPoint},
        data: function(){
            return {
                list : [],
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                dataReport: [
                        {
                            prices: [1,2,3]
                        },
                        {
                            prices: [1,2,3]
                        }
                    ],
                dateStart: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                dateEnd: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                room: null,
                paymentType: null,
                loading: false,
                paymentTypeList: this.renderPaymentType(),
            }
        },
        mounted: function(){
        },
        methods: {
            renderPaymentType: function () {
                const list = [
                    {
                        key: 1,
                        label: 'Thanh toán trực tuyến'
                    },
                    {
                        key: 2,
                        label: 'Thanh toán tiền mặt cho phụ xe'
                    },
                    {
                        key: 3,
                        label: 'Thanh toán tiền mặt tại quầy'
                    },
                    {
                        key: 6,
                        label: 'Chuyển khoản'
                    },
                ]
                return list;
            },
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'BÁO_CÁO_TỔNG_HỢP_THEO_PHÒNG_VÉ_');
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            getList : function () {
                let self = this;
                if(self.dateStart == null  || self.dateEnd == null){
                    notify('Vui lòng chọn ngày','error');
                    return false;
                }
                self.loading = true
                let params = {
                    companyId : window.userInfo.userInfo.companyId,
                    startDate : self.dateStart,
                    endDate : self.dateEnd + 86340000,
                };
                if(self.paymentType.length != 0) {
                    params.paymentType = self.paymentType;
                }
                if (self.room != null && self.room.length > 0) {
                    params.roomId = []
                    $.each(self.room, function (r,roo) {
                        params.roomId.push(roo.id)
                    })
                }
                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-ticket-room-revenue',
                    data : params,
                    success : function (data) {
                        let a = []
                        let keys = []
                        $.each (data, function (t,ticket) {
                            let x = true
                            if (keys.length > 0) {
                                $.each(keys, function (k, key) {
                                    if (ticket.routeId == key){
                                        x = false
                                    }
                                })
                            }
                            if (keys == [] || x){
                                let b = {
                                    routeId : ticket.routeId,
                                    routeName : ticket.routeName,
                                    prices: [],
                                    allTicketSeller: 0,
                                    allOrderTicket: 0,
                                    allTicketSellerPrice: 0,
                                    allOrderTicketPrice: 0,
                                    allTicket: 0,
                                    allPrice: 0,
                                }
                                $.each (data, function (t,ticket) {
                                    if (ticket.routeId == b.routeId) {
                                        let c = {
                                            originalTicketPrice: ticket.originalTicketPrice,
                                            totalOrderTicket: ticket.totalOrderTicket,
                                            totalSellerTicket: ticket.totalSellerTicket,
                                            totalMoneyOrderTicket: ticket.totalMoneyOrderTicket ? ticket.totalMoneyOrderTicket: 0,
                                            totalMoneySellerTicket: ticket.totalMoneySellerTicket ? ticket.totalMoneySellerTicket : 0,
                                        }
                                        b.prices.push(c)
                                    }
                                })
                                $.each(b.prices, function (p, price) {
                                    b.allTicketSeller += price.totalSellerTicket
                                    b.allOrderTicket += price.totalOrderTicket
                                    b.allTicket += (price.totalSellerTicket + price.totalOrderTicket)
                                    b.allTicketSellerPrice += price.totalMoneySellerTicket
                                    b.allOrderTicketPrice += price.totalMoneyOrderTicket
                                    b.allPrice += (price.totalMoneySellerTicket + price.totalMoneyOrderTicket)

                                })
                                b.prices.sort(function(a, b){return b.originalTicketPrice - a.originalTicketPrice})
                                a.push(b)
                                keys.push(ticket.routeId)
                            }
                        })
                        self.list = a
                        self.loading = false
                    },
                    functionIfError:function (data) {
                        self.loading = false
                    }
                });
            }
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            allTicketSeller :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTicketSeller
                })
                return a
            },

            allTicketSellerPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTicketSellerPrice
                })
                return a
            },
            allOrderTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allOrderTicket
                })
                return a
            },
            allOrderTicketPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allOrderTicketPrice
                })
                return a
            },
            allTicket :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allTicket
                })
                return a
            },
            allPrice :function () {
                let a = 0
                $.each(this.list, function (l, li) {
                    a += li.allPrice
                })
                return a
            }
        },
        watch: {
        }
    }
</script>
<style scoped>
    .rowHeader {
        font-family: sans-serif !important;
    }
    .rowTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 16px !important
    }
    .rowAllTotal {
        font-family: sans-serif !important;
        font-weight: bold !important;
        font-size: 18px !important
    }
    .rowH {
        font-family: sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px !important
    }
    .btn-search{
        background: rgba(8, 67, 136, 0.89);
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        line-height: 1.6;
    }
    .btn-search:hover{
        background: #084388;
    }
    .header-ret{
        background: #ECEDF1;
        padding: 8px;
    }
    .title-ret {
        font-family: Montserrat !important;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .date-ranger{
        max-width: 33% !important;
    }
    .statistic-content{
        padding: 16px 8px;
    }
    .item-statistic h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
    }
    .item-statistic h5:first-child{
        margin-bottom: 8px;
    }
    .item-statistic h5 span{
        color: #084388;
    }
    .table thead{
        background: #CFD3DB;
    }
    .table td, .table td h5{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
    .table td h6{
        color: #9198A9;
        font-size: 12px;
        margin: 4px 0;
    }
    .table tbody tr{
        background-color: #fff;
    }
    .box-action{
        text-align: center;
    }
    .box-action button{
        padding: 6px 8px;
        border-radius: 8px;
        border: none;
        margin: 0 4px;
    }
    .box-action button i{
        color: #084388;
    }
</style>
