<template>
    <div class="row respon-page" style="font-size: 15px;">
        <div class="col-12 title">
            <span class="text-uppercase">{{$t('statistics-trip')}}</span>
            <span class="float-right">
                <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
            </span>
        </div>   
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <!--<div class="start-time">-->
                        <!--<clock-picker v-model="startTime" input-class="form-control text-center bg-white" style="width: 65px;"></clock-picker>-->
                    <!--</div>-->
                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('from-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="startDate"
                                        format="dd-MM-yyyy"
                                        :picker-options="options"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                            <div class="col-auto form-group" style="width:120px">
                                <label>&nbsp;</label>
                                <el-time-picker
                                        style="width: auto;"
                                        type="timerange"
                                        format="HH:mm"
                                        value-format="timestamp"
                                        v-model="startTime"
                                        placeholder="Chọn giờ"
                                ></el-time-picker>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('to-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="endDate"
                                        :picker-options="options"
                                        format="dd-MM-yyyy"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                            <div class="col-auto form-group" style="width:120px">
                                <label>&nbsp;</label>
                                <el-time-picker
                                        style="width: auto;"
                                        type="timerange"
                                        format="HH:mm"
                                        value-format="timestamp"
                                        v-model="endTime"
                                        placeholder="Chọn giờ"
                                ></el-time-picker>
                            </div>
                        </div>
                    </div>
                    <!--<datepicker-ranger v-model="search" ></datepicker-ranger>-->
                    <!--<div class="end-time">-->
                        <!--<clock-picker v-model="endTime" input-class="form-control text-center bg-white" style="width: 65px;"></clock-picker>-->
                    <!--</div>-->
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>{{$t('filter.driver-xe')}}</label>
                            <selectuser :listUserType="[2]" :allowEmpty="true" v-model="driver"></selectuser>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="control-group">
                            <label>{{$t('filter.vehicle')}}</label>
                            <select-vehicle class="w-100" v-model="vehicle" :allowEmpty="true"></select-vehicle>
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>&nbsp; </label>
                            <button class="btn btn-primary btn-block text-uppercase" @click="getReportTrips()"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="report-hs">
                <h2>Tùy chọn hiển thị</h2>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_detail" style="position: initial !important;"> Chi tiết</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_numberPlate" style="position: initial !important;"> Xe</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_listSeatId" style="position: initial !important;"> Danh sách vé</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_numberTickets" style="position: initial !important;"> Số vé</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_money" style="position: initial !important;"> Tổng tiền khách</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_goodsMoney" style="position: initial !important;"> Tổng tiền H</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_thuTruocKH" style="position: initial !important;"> K đã trả</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_Hthutruoc" style="position: initial !important;"> H thu trước</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_xethuKH" style="position: initial !important;"> K xe thu</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_Hxethu" style="position: initial !important;"> H xe thu</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_Kchuathu" style="position: initial !important;"> K chưa thu</label>
                <label class="checkbox-inline"> <input type="checkbox" v-model="sh_Hchuathu" style="position: initial !important;"> H chưa thu</label>
            </div>
        </div>
        <div class="col-12 top20 tableReport">
            <div class="">
                <ol style="padding-left : 0">
                    <table class="table table-sm top20 table-bordered-dark table-doanhthulaixe table-respon">
                        <thead class="table_header" style="border-color:#fff">
                            <tr>
                                <td colspan="13" class="no-padding">
                                    <print-header></print-header>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="13" class="no-padding text-center"><b>DOANH THU THEO LÁI XE</b></td>
                            </tr>
                            <tr>
                                <td colspan="13" class="no-padding text-center">
                                <small>{{ new Date().getTime()|customDate('#hhhh#:#mm# Ngày #DD# tháng #MM# năm #YYYY#') }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td class="no-padding" colspan="13">
                                <p class="top10 text-right"> Ngày làm việc <strong>{{ startDate |customDate('#DD##MM##YYYY#')}}</strong> đến <strong>{{ endDate | customDate('#DD##MM##YYYY#') }}</strong></p>
                                </td>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="text-center">
                                <th>STT</th>
                                <th>Chuyến</th>
                                <th v-if="sh_numberPlate">Xe</th>
                                <th style="width: 200px;" v-if="sh_listSeatId">Danh sách vé</th>
                                <th v-if="sh_numberTickets">Số vé</th>
                                <th v-if="sh_money">Tổng tiền K</th>
                                <th v-if="sh_goodsMoney">Tổng tiền H</th>
                                <th v-if="sh_thuTruocKH">K đã trả</th>
                                <th v-if="sh_Hthutruoc">H thu trước</th>
                                <th v-if="sh_xethuKH">K xe thu</th>
                                <th v-if="sh_Hxethu">H xe thu</th>
                                <th v-if="sh_Kchuathu">K chưa thu</th>
                                <th v-if="sh_Hchuathu">H chưa thu</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-if="dataReport.length<=0">
                            <td colspan="13" class="text-center">Không có dữ liệu</td>
                        </tr>
                        <template v-for="(dayRp,key) in dataReport">
                            <tr class="font-weight-bold text-center" @click="activeDetailItem(key)">
                                <td colspan="4" class="text-left">Ngày {{dayRp.date}}  /  {{ dayRp.numberTrips }} Chuyến</td>
                                <td v-if="sh_numberTickets">{{ dayRp.numberTickets|number }}</td>
                                <td v-if="sh_money">{{ dayRp.money|number }}</td>
                                <td v-if="sh_goodsMoney">{{ dayRp.goodsMoney|number }}</td>
                                <td v-if="sh_thuTruocKH">{{ dayRp.thuTruocKH - dayRp.xethuKH|number }}</td>
                                <td v-if="sh_Hthutruoc">{{(dayRp.totalGoodsPaid - dayRp.goodsFeeByDriver)|number}}</td>
                                <td v-if="sh_xethuKH">{{ dayRp.xethuKH|number }}</td>
                                <td v-if="sh_Hxethu">{{dayRp.goodsFeeByDriver|number}}</td>
                                <td v-if="sh_Kchuathu">{{ (dayRp.money - dayRp.thuTruocKH)|number }}</td>
                                <td v-if="sh_Hchuathu">{{dayRp.totalGoodsUnpaid|number}}</td>
                            </tr>
                            <template v-for="(dri,driverIndex) in dayRp.hasDriver"  >
                                <tr class="hidden font-weight-bold text-center" :class="key" v-if="sh_detail">
                                    <td colspan="4" class="text-left">{{dri.userInfo.fullName}}-{{dri.userInfo.phoneNumber|phoneNumber}}  /  {{ dri.trips.length }} Chuyến</td>
                                    <td v-if="sh_numberTickets">{{ dri.numberTickets|number }}</td>
                                    <td v-if="sh_money">{{ dri.money|number }}</td>
                                    <td v-if="sh_goodsMoney">{{ dri.goodsMoney|number }}</td>
                                    <td v-if="sh_thuTruocKH">{{ dri.thuTruocKH - dri.xethuKH|number }}</td>
                                    <td v-if="sh_Hthutruoc">{{ (dri.totalGoodsPaid - dri.goodsFeeByDriver)|number }}
                                    </td>
                                    <td v-if="sh_xethuKH">{{ dri.xethuKH|number }}</td>
                                    <td v-if="sh_Hxethu">{{dri.goodsFeeByDriver|number}}</td>
                                    <td v-if="sh_Kchuathu">{{ (dri.money - dri.thuTruocKH)|number }}</td>
                                    <td v-if="sh_Hchuathu">{{ dri.totalGoodsUnpaid|number }}</td>
                                </tr>
                                <template v-for="(trip,tripIndex) in dri.trips" >
                                    <tr class=" hidden text-center" :class="key" v-if="sh_detail">
                                        <td><li style="margin-left:35px;"></li></td>
                                        <td>{{ trip.routeInfo&&trip.routeInfo.name?trip.routeInfo.name:'' }} - {{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }}</td>
                                        <td v-if="sh_numberPlate">{{ trip.vehicle?trip.vehicle.numberPlate:'' }}</td>
                                        <td v-if="sh_listSeatId">{{ (trip.report.listSeatId||[]).join(', ') }}</td>
                                        <td v-if="sh_numberTickets">{{ trip.report.totalSeat|number }}</td>
                                        <td v-if="sh_money">{{ trip.report.totalMoney|number }}</td>
                                        <td v-if="sh_goodsMoney">{{ trip.report.totalGoodsMoney|number }}</td>
                                        <td v-if="sh_thuTruocKH">{{ (trip.report.totalPaidMoney -
                                            trip.report.totalCashOnTheTrip)|number }}
                                        </td>
                                        <td v-if="sh_Hthutruoc">{{ (trip.report.totalGoodsPaid -
                                            trip.report.goodsFeeByDriver)|number }}
                                        </td>
                                        <td v-if="sh_xethuKH">{{ trip.report.totalCashOnTheTrip|number }}</td>
                                        <td v-if="sh_Hxethu">{{trip.report.goodsFeeByDriver|number}}</td>
                                        <td v-if="sh_Kchuathu">{{ (trip.report.totalMoney - trip.report.totalPaidMoney)|number }}</td>
                                        <td v-if="sh_Hchuathu">{{ trip.report.totalGoodsUnpaid|number }}</td>
                                    </tr>
                                </template>
                            </template>
                            <tr class="text-center font-weight-bold" v-show="dayRp.notDriver.trips.length>0" v-if="sh_detail">
                                <td colspan="4" class="text-left">Chưa chọn tài xế  /  {{ dayRp.notDriver.trips.length }} Chuyến</td>
                                <td v-if="sh_numberTickets">{{ dayRp.notDriver.numberTickets|number }}</td>
                                <td v-if="sh_money">{{ dayRp.notDriver.money|number }}</td>
                                <td v-if="sh_goodsMoney">{{ dayRp.notDriver.goodsMoney|number }}</td>
                                <td v-if="sh_thuTruocKH">{{ dayRp.notDriver.thuTruocKH - dayRp.notDriver.xethuKH|number }}</td>
                                <td v-if="sh_Hthutruoc">{{(dayRp.notDriver.totalGoodsPaid -
                                    dayRp.notDriver.goodsFeeByDriver)|number}}
                                </td>
                                <td v-if="sh_xethuKH">{{ dayRp.notDriver.xethuKH|number }}</td>
                                <td v-if="sh_Hxethu">{{ dayRp.notDriver.goodsFeeByDriver|number }}</td>
                                <td v-if="sh_Kchuathu">{{ (dayRp.notDriver.money - dayRp.notDriver.thuTruocKH)|number }}</td>
                                <td v-if="sh_Hchuathu">{{ dayRp.notDriver.totalGoodsUnpaid|number }}</td>
                            </tr>
                            <template v-for="(trip,tripIndex) in dayRp.notDriver.trips">
                                <tr class="text-center" v-if="sh_detail">
                                    <td><li style="margin-left:35px;"></li></td>
                                    <td>{{ trip.routeInfo&&trip.routeInfo.name?trip.routeInfo.name:'' }} - {{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }}</td>
                                    <td v-if="sh_numberPlate">{{ trip.vehicle?trip.vehicle.numberPlate:'' }}</td>
                                    <td v-if="sh_listSeatId">{{ (trip.report.listSeatId||[]).join(', ') }}</td>
                                    <td v-if="sh_numberTickets">{{ trip.report.totalSeat|number }}</td>
                                    <td v-if="sh_money">{{ trip.report.totalMoney|number }}</td>
                                    <td v-if="sh_goodsMoney">{{ trip.report.totalGoodsMoney|number }}</td>
                                    <td v-if="sh_thuTruocKH">{{ trip.report.totalPaidMoney - trip.report.totalCashOnTheTrip|number }}</td>
                                    <td v-if="sh_Hthutruoc">
                                        {{trip.report.totalGoodsMoney-trip.report.goodsFeeByDriver}}
                                    </td>
                                    <td v-if="sh_xethuKH">{{ trip.report.totalCashOnTheTrip|number }}</td>
                                    <td v-if="sh_Hxethu">{{trip.report.goodsFeeByDriver}}</td>
                                    <td v-if="sh_Kchuathu">{{ (trip.report.totalMoney - trip.report.totalPaidMoney)|number }}</td>
                                    <td v-if="sh_Hchuathu">{{trip.report.totalGoodsUnpaid|number}}</td>
                                </tr>
                            </template>
                        </template>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="13" style="height: 30px"></td>
                            </tr>
                            <tr class="text-center">
                                <th colspan="4">Tổng số chuyến</th>
                                <th v-if="sh_numberTickets">Tổng số vé</th>
                                <th v-if="sh_money">Tổng tiền khách</th>
                                <th v-if="sh_goodsMoney">Tổng tiền Hàng</th>
                                <th v-if="sh_thuTruocKH">Tổng tiền K đã trả</th>
                                <th v-if="sh_Hthutruoc">Tổng tiền H đã trả</th>
                                <th v-if="sh_xethuKH">Tổng tiền K xe thu</th>
                                <th v-if="sh_Hxethu">Tổng tiền H xe thu</th>
                                <th v-if="sh_Kchuathu">Tổng tiền K chưa thu</th>
                                <th v-if="sh_Hchuathu">Tổng tiền H chưa thu</th>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4">{{totalTrips}}</td>
                                <td v-if="sh_numberTickets">{{totalNumberTickets}}</td>
                                <td v-if="sh_money">{{totalMoney.ticket|number }}</td>
                                <td v-if="sh_goodsMoney">{{totalMoney.goodsMoney|number}}</td>
                                <td v-if="sh_thuTruocKH">{{totalMoney.PaidMoney - totalMoney.cashOnTheTrip|number }}</td>
                                <td v-if="sh_Hthutruoc">{{(totalMoney.totalGoodsPaid-totalMoney.goodsFeeByDriver)|number
                                    }}
                                </td>
                                <td v-if="sh_xethuKH">{{totalMoney.cashOnTheTrip|number }}</td>
                                <td v-if="sh_Hxethu">{{totalMoney.goodsFeeByDriver|number}}</td>
                                <td v-if="sh_Kchuathu">{{totalMoney.ticket - totalMoney.PaidMoney|number }}</td>
                                <td v-if="sh_Hchuathu">{{totalMoney.totalGoodsUnpaid|number}}</td>
                            </tr>
                            
                        </tfoot>
                        <tfoot>
                            <tr>
                                <td colspan="13" style="height: 30px"></td>
                            </tr>
                            <tr class="text-center">
                                <th colspan="5">Khoản mục thu chi chốt chuyến của lái xe</th>
                                <th colspan="1">Số tiền</th>
                                <th colspan="6">Tổng kết thu chi với Tài xế</th>
                                <th colspan="1">Số tiền</th>
                            </tr>
                            <template v-if="billsByItemNew.length > 4">
                                <tr v-for="(bt , index) in billsByItemNew">
                                    <td colspan="5" class="text-right">{{ bt.itemName }}</td>
                                    <td colspan="1" class="text-right">{{ bt.itemType==1?'+':'-' }} {{ bt.totalMoney|number }}</td>
                                    <td colspan="6"><template v-if="totalThuChiVoiTaiXe[index]" class="text-right">{{ totalThuChiVoiTaiXe[index].label }}</template></td>
                                    <td colspan="1" class="text-right"><template v-if="totalThuChiVoiTaiXe[index]">{{ totalThuChiVoiTaiXe[index].value|number }}</template></td>
                                </tr>
                            </template>
                            <template v-else>
                                <tr v-for="(bt , index) in totalThuChiVoiTaiXe">
                                    <td colspan="5" class="text-right"><template v-if="billsByItemNew[index]">{{ billsByItemNew[index].itemName }}</template></td>
                                    <td colspan="1" class="text-right"><template v-if="billsByItemNew[index]">{{ billsByItemNew[index].itemType==1?'+':'-' }} {{ billsByItemNew[index].totalMoney|number }}</template></td>
                                    <td colspan="6" class="text-right">{{ bt.label }}</td>
                                    <td colspan="1" class="text-right">{{ bt.value|number }}</td>
                                </tr>
                            </template>
                            <tr class="text-center">
                                <th colspan="5">Tổng cân đối khoản mục thu chi của lái xe</th>
                                <th colspan="1" class="text-right">{{ totalTongCanDoiThuChi|number }}</th>
                                <th colspan="6">Tài xế còn phải nộp</th>
                                <th colspan="1" class="text-right">{{ totalTaiXePhaiNop|number }}</th>
                            </tr>
                            <tr>
                                <td colspan="8" style="height: 30px"></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center">LÁI XE KÝ</td>
                                <td colspan="6" class="text-center">ĐIỀU HÀNH KÝ</td>
                                <td colspan="4" class="text-center">THU NGÂN KÝ</td>
                            </tr>
                        </tfoot>
                    </table>
                </ol>
                <!-- del footer -->
            </div>
        </div>
        <div class="col-12 top20">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <span class="float-right">
                            <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                            <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> {{$t('export-excel')}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle.vue';
    import printHeader from '../Print/Header.vue';
    import { mapState} from 'vuex';

    let d = new Date()
    export default {
        components : {printHeader,SelectVehicle},
        data : function () {
            return {
                // startTime : '00:00',
                // endTime : '23:59',
                startDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                startTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                search : {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                },
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                driver : null,
                vehicle : null,
                vehicles : [],
                dataReport : [],
                billsByItem : {},
                billsByItemNew: [],
                totalTaiXePhaiNop: 0,
                totalMoney : {
                    ticket : 0,
                    billIn : 0,
                    billOut : 0,
                    totalGoods : 0,
                    goodsMoney : 0,
                    cashOnTheTrip : 0,
                    moneyK: 0,
                    PaidMoney:0,
                    totalGoodsPaid: 0,
                    totalGoodsUnpaid: 0,
                    goodsFeeByDriver: 0,
                },
                totalNumberTickets:0,
                totalTrips:0,
                totalTongCanDoiThuChi: 0,
                totalThuChiVoiTaiXe: {},
                test_text: '',
                test_text1: '',
                sh_detail: true,
                sh_numberPlate: true,
                sh_listSeatId: true,
                sh_numberTickets: true,
                sh_money: true,
                sh_goodsMoney: true,
                sh_thuTruocKH: true,
                sh_Hthutruoc: true,
                sh_xethuKH: true,
                sh_Hxethu: true,
                sh_Kchuathu: true,
                sh_Hchuathu: true,
            }
        },

        mounted  :function () {
            this.getReportTrips();
            $('.start-time').insertBefore('.date.start .input-group-prepend');
            $('.end-time').insertBefore('.date.end .input-group-prepend');
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            getReportTrips : function () {
                let self = this;
                this.dataReport = [];
                self.load('getReportTrips');
                let dataReq = {};
                // let d = func.dateStartToEnd(self.startDate,self.endDate);
                dataReq.startDate = new Date(self.startDate).customFormat('#YYYY##MM##DD#');
                dataReq.endDate = new Date(self.endDate).customFormat('#YYYY##MM##DD#');
                if(self.driver){
                    dataReq.driverId = self.driver.id;
                }
                if(self.vehicle){
                    dataReq.numberPlate = self.vehicle.numberPlate;
                }
                sendJson({
                    url : urlDBD(API.reportByTrips),
                    data : dataReq,
                    success : function (res) {
                        self.makeData(res.results.tripsReport);
                        self.unload('getReportTrips');
                    },
                    functionIfError : function (err) {
                        self.unload('getReportTrips');
                    }
                });
            },
            activeDetailItem : function(elmt){
                $("."+elmt).slideToggle();
            },
            makeData : function (rD) {//rootData
                let self = this;
                self.totalTrips = 0;
                
                let dataFake = {};
                let startMs = self.startDate + self.startTime - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime();
                let endMs = self.endDate + self.endTime - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() ;
                self.totalMoney = {
                    ticket : 0,
                    billIn : 0,// tổng thu
                    billOut : 0, // tổng chi
                    totalGoods : 0,
                    goodsMoney : 0,
                    cashOnTheTrip : 0,
                    moneyK: 0,
                    PaidMoney:0,
                    totalGoodsPaid: 0,
                    totalGoodsUnpaid: 0,
                    goodsFeeByDriver: 0,
                };
                self.totalNumberTickets = 0;
                let billsItem = {};
                for (let d = new Date(self.startDate); d <= new Date(self.endDate); d.setDate(d.getDate() + 1)) {
                    dataFake[d.customFormat('N#YYYY##MM##DD#')]= {
                        date : d.customFormat('#DD#-#MM#-#YYYY#'),
                        numberTrips : 0,
                        numberTickets : 0,
                        money : 0,
                        xethuKH: 0,
                        thuTruocKH: 0,
                        totalGoods : 0,
                        goodsFeeByDriver: 0,
                        goodsMoney : 0,
                        totalGoodsPaid: 0,
                        totalGoodsUnpaid: 0,
                        cashOnTheTrip : 0,
                        hasDriver : {},
                        notDriver : {
                            numberTickets : 0,
                            money : 0,
                            xethuKH: 0,
                            thuTruocKH: 0,
                            totalGoods : 0,
                            totalGoodsMoney: 0,
                            goodsFeeByDriver: 0,
                            goodsMoney : 0,
                            totalGoodsPaid: 0,
                            totalGoodsUnpaid: 0,
                            goodsUnpaid: 0,
                            cashOnTheTrip : 0,
                            trips : [],
                        },
                    };
                }
                $.each(rD,function (index , trip) {
                    let startMsTrip = func.dateStrToMs(trip.startDateReality)+func.timeToMs(self.$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true));
                    if(startMsTrip<startMs||startMsTrip>endMs){
                        return true;
                    }
                    self.totalTrips ++;
                    self.totalMoney.ticket += trip.report.totalMoney;
                    self.totalMoney.goodsMoney += (trip.report.totalGoodsMoney||0);
                    self.totalMoney.totalGoods += (trip.report.totalGoods||0);
                    self.totalMoney.cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                    self.totalMoney.PaidMoney += (trip.report.totalPaidMoney||0);
                    self.totalMoney.goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                    self.totalMoney.totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                    self.totalMoney.totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                    self.totalNumberTickets += (trip.report.totalTicket||0);

                    let keyId = 'N'+trip.startDateReality;
                    dataFake[keyId].numberTrips ++;
                    dataFake[keyId].numberTickets += trip.report.totalSeat;
                    dataFake[keyId].money += trip.report.totalMoney;
                    dataFake[keyId].xethuKH += trip.report.totalCashOnTheTrip;
                    dataFake[keyId].thuTruocKH += trip.report.totalPaidMoney;
                    dataFake[keyId].goodsMoney += (trip.report.totalGoodsMoney||0);
                    dataFake[keyId].totalGoods += (trip.report.totalGoods||0);
                    dataFake[keyId].cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                    dataFake[keyId].goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                    dataFake[keyId].totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                    dataFake[keyId].totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                    if(trip.drivers){//nếu tồn tại lái xe
                        $.each(trip.drivers , function (d,driverInTrip) { // lấy lần lượt lái xe ra
                            if(dataFake[keyId].hasDriver[driverInTrip.id]!==undefined){
                                dataFake[keyId].hasDriver[driverInTrip.id].numberTickets += trip.report.totalSeat;
                                dataFake[keyId].hasDriver[driverInTrip.id].money += trip.report.totalMoney;
                                dataFake[keyId].hasDriver[driverInTrip.id].xethuKH += trip.report.totalCashOnTheTrip;
                                dataFake[keyId].hasDriver[driverInTrip.id].thuTruocKH += trip.report.totalPaidMoney;
                                dataFake[keyId].hasDriver[driverInTrip.id].goodsMoney += (trip.report.totalGoodsMoney||0);
                                dataFake[keyId].hasDriver[driverInTrip.id].totalGoods += (trip.report.totalGoods||0);
                                dataFake[keyId].hasDriver[driverInTrip.id].cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                                dataFake[keyId].hasDriver[driverInTrip.id].goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                                dataFake[keyId].hasDriver[driverInTrip.id].totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                                dataFake[keyId].hasDriver[driverInTrip.id].totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                                dataFake[keyId].hasDriver[driverInTrip.id].trips.push(trip);
                            }else{
                                let p = {
                                    userInfo : driverInTrip,
                                    numberTickets : trip.report.totalSeat,
                                    money : trip.report.totalMoney,
                                    xethuKH : trip.report.totalCashOnTheTrip,
                                    thuTruocKH : trip.report.totalPaidMoney,
                                    goodsMoney : (trip.report.totalGoodsMoney||0),
                                    totalGoods : (trip.report.totalGoods||0),
                                    cashOnTheTrip : (trip.report.totalCashOnTheTrip||0),
                                    goodsFeeByDriver: (trip.report.goodsFeeByDriver || 0),
                                    totalGoodsPaid: (trip.report.totalGoodsPaid || 0),
                                    totalGoodsUnpaid: (trip.report.totalGoodsUnpaid || 0),
                                    trips : [trip]
                                };
                                dataFake[keyId].hasDriver[driverInTrip.id] = p;
                            }
                        });
                    }else { // nếu không có lái xe thì đẩy vào danh sách không có lái xe
                        dataFake[keyId].notDriver.numberTickets += trip.report.totalSeat;
                        dataFake[keyId].notDriver.money += trip.report.totalMoney;
                        dataFake[keyId].notDriver.xethuKH += trip.report.totalCashOnTheTrip;
                        dataFake[keyId].notDriver.thuTruocKH += trip.report.totalPaidMoney;
                        dataFake[keyId].notDriver.goodsMoney += (trip.report.totalGoodsMoney||0);
                        dataFake[keyId].notDriver.totalGoods += (trip.report.totalGoods||0);
                        dataFake[keyId].notDriver.cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                        dataFake[keyId].notDriver.goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                        dataFake[keyId].notDriver.totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                        dataFake[keyId].notDriver.totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                        dataFake[keyId].notDriver.trips.push(trip);
                    }
                    if(trip.bills){
                        $.each(trip.bills,function (b,bill) {
                            if(bill.billType===1){
                                self.totalMoney.billIn+=bill.amount;
                            }else{
                                self.totalMoney.billOut+=bill.amount;
                            }
                            if(billsItem[bill.item.itemId]!==undefined){
                                billsItem[bill.item.itemId].totalMoney+=bill.amount;
                            }else{
                                billsItem[bill.item.itemId] = {
                                    totalMoney : bill.amount,//1 là phiếu thu,2 là phiếu chi
                                    itemName : bill.item.itemName,
                                    itemType : bill.item.itemReceiptPayment,
                                }
                            }
                        });
                    }
                });
                self.billsByItem = billsItem;
                self.dataReport = dataFake;
                let totalTongCanDoiThuChi = 0;
                $.each(billsItem, function(key,val){
                    if(val.itemType == 1){
                        totalTongCanDoiThuChi += val.totalMoney;
                    }
                    if(val.itemType == 2){
                        totalTongCanDoiThuChi -= val.totalMoney;
                    }
                });
                self.totalTongCanDoiThuChi = totalTongCanDoiThuChi;
                let totalTienKhHanghoa = self.totalMoney.goodsFeeByDriver + self.totalMoney.cashOnTheTrip;
                self.totalThuChiVoiTaiXe = [
                    {label: 'Tiền khách tài xế thu (1)', value: self.totalMoney.cashOnTheTrip},
                    {label: 'Tiền hàng tài xế thu (2)', value: self.totalMoney.goodsFeeByDriver},
                    {label: 'Tổng tiền khách và hàng lái xe đã thu (3=2+1)', value: totalTienKhHanghoa},
                    {label: 'Tổng cân đối khoản mục thu chi của lái xe', value: totalTongCanDoiThuChi },
                ];
                let billsByItemNew = [];
                $.each(self.billsByItem, function(key, val){
                    billsByItemNew.push(val);
                });
                self.billsByItemNew = billsByItemNew;
                self.totalTaiXePhaiNop =  totalTienKhHanghoa + totalTongCanDoiThuChi;
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            exportExcel : function () {
                this.excel($(this.$el).find('table'),"DOANH_THU_THEO_LAI_XE_")
            },
        },
        watch :{
            dataReport : function (val) {
                // console.log(_.cloneDeep(val));
            },
        }
    }
</script>