<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">AV5 Tổng hợp doanh thu theo phòng vé</span>
        <span class="float-right">
          <!-- <button class="btn btn-success btn-sm" @click="print()">
            <i class="fa fa-print"></i>
            {{ $t('button.print')}}
          </button> -->
          <button class="btn btn-success btn-sm" @click="exportExcel()">
            <i class="fa fa-file-excel"></i>
            {{ $t('export-excel')}}
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container form-group">
      <div class="filter-container">
        <div class="filter-item date-filter">
          <label>Thời gian</label>
          <el-date-picker
            v-model="form.dataRange"
            class="w-100"
            type="daterange"
            :picker-options="options"
            range-separator="-"
            :format="dateFormat"
            start-placeholder="Bắt đầu"
            end-placeholder="Kết thúc"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Phòng vé</label>
          <select-point class="w-100" v-model="form.room" placeholder="Chọn tất cả" :pointType="8"></select-point>
        </div>
        <div class="filter-item">
          <label>Trạng thái vé</label><br>
          <el-select class="w-100" v-model="typeStatus" multiple placeholder="" >
            <el-option
                    v-for="item in typeStatuss"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
          </el-select>
        </div>
        <div>
          <label>&nbsp;</label>
          <button
            class="btn btn-block btn-primary text-uppercase"
            style="align-self: end"
            @click="getReport()"
            :disabled="loadingTable"
          >{{$t('button.filter')}}</button>
        </div>
      </div>
    </div>
    <!-- <transition name="collaspe">
      <div key="3" v-if="showExtraFilter">
        <div class="grid-container border-top">
          <div class="filter-extra-container">
            <div class="filter-item">
              <label>{{$t('filter.payment-type')}}</label>
              <select class="form-control" v-model="search.paymentType">
                <option :value="0">Tất cả</option>
                <option :value="1">Thanh toán trực tuyên</option>
                <option :value="3">Thanh toán tiền mặt</option>
                <option :value="6">Chuyển khoản</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </transition>-->
    <div class="margin-bottom">
      <table v-loading="loadingTable" class="table table-sm table-bordered table-respon">
        <thead>
          <tr>
            <th rowspan="2">STT</th>
            <th rowspan="2">Tuyến</th>
            <th rowspan="2">Chuyến</th>
            <th v-for="room of roomDataList" :key="room.roomId" colspan="2">{{room.roomName}}</th>
            <th colspan="2">Tổng theo tuyến</th>
          </tr>
          <tr>
            <template v-for="room of roomDataList">
              <th :key="`${room.roomId}2`">Số vé</th>
              <th :key="`${room.roomId}3`">Doanh thu</th>
            </template>
            <th>Số vé</th>
            <th>Doanh thu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" class="highline-section">Tổng theo phòng vé</td>
            <template v-for="room of roomDataList">
              <td :key="`${room.roomId}2`" class="text-right">{{room.totalTicket |number}}</td>
              <td :key="`${room.roomId}3`" class="text-right">{{room.totalRevenue |number}}</td>
            </template>
            <td class="super-highline-text text-right">{{dataTotal.totalTicket | number}}</td>
            <td class="super-highline-text text-right">{{dataTotal.totalRevenue | number}}</td>
          </tr>
          <template v-for="(route, index) of reportData">
            <tr :key="route.routeId">
              <td class="highline-section text-center">{{index + 1}}</td>
              <td
                :colspan="roomDataList.length *2 + 4"
                class="highline-section"
              >{{`Subtotal Tuyến ${route.routeName}`}}</td>
            </tr>
            <template v-for="(startTime, key, indexStartTime) of route.startTime">
              <tr :key="`${route.routeId}-${key}`">
                <td class="text-center">{{`${index + 1}.${indexStartTime + 1}`}}</td>
                <td>{{route.routeName}}</td>
                <td class="text-center">{{startTime.startTimeReality | customDate('#hhhh#:#mm#', true)}}</td>
                <template v-for="roomData of roomDataList">
                  <td
                    :key="`${roomData.roomId}2`"
                    class="text-right"
                  >{{route.startTime[startTime.startTimeReality].room[roomData.roomId] ? route.startTime[startTime.startTimeReality].room[roomData.roomId].totalTicket : 0 | number}}</td>
                  <td
                    :key="`${roomData.roomId}3`"
                    class="text-right"
                  >{{route.startTime[startTime.startTimeReality].room[roomData.roomId] ? route.startTime[startTime.startTimeReality].room[roomData.roomId].totalRevenue : 0 | number}}</td>
                </template>
                <td class="text-right">{{startTime.sumTicket |number}}</td>
                <td class="text-right">{{startTime.sumRevenue |number}}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SelectPoint from "../Point/SelectPoint";
import {mapState} from 'vuex'

export default {
  components: { SelectPoint },
  data: function(params) {
    return {
      loadingTable: false,
      form: {
        dataRange: [new Date(), new Date()],
        room: null
      },
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      roomDataList: [],
      reportData: [],
      dateFormat: "dd-MM-yyyy",
      typeStatus: null,
      typeStatuss: [
          {
              value: 0,
              label: 'Hủy'
          },
          {
              value: 1,
              label: 'Hết hạn'
          },
          {
              value: 2,
              label: 'Đang giữ chỗ'
          },
          {
              value: 3,
              label: 'Đã thánh toán'
          },
          // {
          //     value: 4,
          //     label: 'Đã lên xe'
          // },
          // {
          //     value: 5,
          //     label: 'Đã hoàn thành'
          // },
          // {
          //     value: 6,
          //     label: 'Quá giờ giữ chỗ'
          // },
          // {
          //     value: 7,
          //     label: 'Siêu phụ xe đặt chỗ'
          // },
      ],
      dataTotal: {
        totalTicket: 0,
        totalRevenue: 0
      }
    };
  },
  mounted: function() {
    // this.getReport();
  },
  computed: {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getReport: function() {
      let self = this;
      self.loadingTable = true;
      let param = {
        companyId: userInfo.userInfo.companyId,
        startDate: self.form.dataRange[0].setHours(0, 0, 0, 0),
        endDate: self.form.dataRange[1].setHours(23, 59, 59, 999)
      };
      if(self.typeStatus && self.typeStatus.length > 0){
          params.status = self.typeStatus
      }
      if (self.form.room) {
        param.roomId = self.form.room.id;
      }
      sendJson({
        url:
          "https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-ticket-room-detail",
        data: param,
        success: function(data) {
          // console.log(data);
          self.roomDataList = self.getRoomList(data);
          self.reportData = self.handleData(data);
          // console.log(self.reportData);
          self.loadingTable = false;
        },
        functionError: function() {
          self.loadingTable = false;
        }
      });
    },
    handleData: function(data) {
      let dataObj = {};
      const seenRoute = new Set();
      const seenRouteStartTime = new Set();
      const seenRoom = new Set();
      dataObj = data.reduce((response, obj, index, array) => {
        const isDupRoute = seenRoute.has(obj.routeId);
        seenRoute.add(obj.routeId);

        const isDupRouteStartTime = seenRouteStartTime.has(
          `${obj.routeId}-${obj.startTimeReality}`
        );
        seenRouteStartTime.add(`${obj.routeId}-${obj.startTimeReality}`);

        const isDupRouteTimeRoom = seenRoom.has(
          `${obj.routeId}-${obj.startTimeReality}-${obj.roomId}`
        );
        seenRoom.add(`${obj.routeId}-${obj.startTimeReality}-${obj.roomId}`);

        if (!isDupRoute) {
          // chưa có tuyến
          response[obj.routeId] = {
            routeId: obj.routeId,
            routeName: obj.routeName,
            startTime: {}
          };
          response[obj.routeId].startTime[obj.startTimeReality] = {
            startTimeReality: obj.startTimeReality,
            sumTicket: obj.totalTicket,
            sumRevenue: obj.totalRevenue,
            room: {}
          };
          response[obj.routeId].startTime[obj.startTimeReality].room[
            obj.roomId
          ] = {
            roomId: obj.roomId,
            roomName: obj.roomName,
            totalRevenue: obj.totalRevenue,
            totalTicket: obj.totalTicket
          };
        } else {
          // đã có tuyến
          if (!isDupRouteStartTime) {
            //chưa có khung giờ xuất bến
            response[obj.routeId].startTime[obj.startTimeReality] = {
              startTimeReality: obj.startTimeReality,
              sumTicket: obj.totalTicket,
              sumRevenue: obj.totalRevenue,
              room: {}
            };
            response[obj.routeId].startTime[obj.startTimeReality].room[
              obj.roomId
            ] = {
              roomId: obj.roomId,
              roomName: obj.roomName,
              totalRevenue: obj.totalRevenue,
              totalTicket: obj.totalTicket
            };
          } else {
            //đã có khung giờ xuất bến
            response[obj.routeId].startTime[obj.startTimeReality].room[
              obj.roomId
            ] = {
              roomId: obj.roomId,
              roomName: obj.roomName,
              totalRevenue: obj.totalRevenue,
              totalTicket: obj.totalTicket
            };
            response[obj.routeId].startTime[obj.startTimeReality].sumTicket += obj.totalTicket;
            response[obj.routeId].startTime[obj.startTimeReality].sumRevenue += obj.totalRevenue;
          }
        }
        return response;
      }, {});
      const tableData = Object.values(dataObj);
      return tableData;
    },
    getRoomList: function(arr) {
      // for sum total report
      this.dataTotal = {
        totalTicket: 0,
        totalRevenue: 0
      }

      const seen = new Set();
      const filterRoomObj = arr.reduce((response, obj, index, array) => {
        const isDuplicate = seen.has(obj.roomId);
        seen.add(obj.roomId);
        if (isDuplicate) {
          response[obj.roomId].totalTicket += obj.totalTicket;
          response[obj.roomId].totalRevenue += obj.totalRevenue;
        } else {
          response[obj.roomId] = {
            roomId: obj.roomId,
            roomName: obj.roomName,
            totalTicket: obj.totalTicket,
            totalRevenue: obj.totalRevenue
          };
        }
        // sum total report
        this.dataTotal.totalTicket += obj.totalTicket;
        this.dataTotal.totalRevenue += obj.totalRevenue;
        // end sum total report
        return response;
      }, {});
      const filterRoom = Object.values(filterRoomObj);
      return filterRoom;
    },
    exportExcel: function() {
      this.excel(
        $(this.$el)
          .find("table"),
        "THONG_KE_THEO_PHONG_VE"
      );
    },
  }
};
</script>

<style lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 170px;
  grid-gap: 15px;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.date-filter {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.margin-bottom {
  padding-bottom: 60px;
  // overflow-x: scroll;
  // max-height: 75vh;
}
.highline-section {
  font-weight: bolder;
  font-size: 1.25rem;
}
.table thead th {
  vertical-align: middle;
  text-align: center;
}
.super-highline-text {
  color: #e3342f;
  font-weight: bold;
  font-size: 1rem;
}
</style>