<template>
  <el-col :span="12" style="position: relative;">
    <div class="">
      <el-row type="flex" class="box-row" justify="space-between">
        <el-col :span="8" style="padding-top: 16px">
          <el-row>
            <el-col :span="12" style="width: 70px;">
              <div class="buttonTab">
                BÁN VÉ
              </div>
              <div style="text-align: -webkit-center;">
                <div class="tabActive">
                </div>
              </div>
            </el-col>
            <el-col :span="12" style="width: 100px;">
              <div class="buttonTab">
                HÀNG HÓA
              </div>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="16" style="padding-top: 7px;text-align: end;">
          <el-row type="flex" justify="end">
            <button class="btn btn-sm btn-outline-ticket9 margin-none" style="min-width: 107px;margin-right: 8px;"
            >Xem hợp đồng
            </button>
            <button style="min-width: 80px;margin-right: 8px;" class="btn btn-sm btn-outline-ticket9 margin-none"
            >Gửi email
            </button>
            <button type="button" style="background-color: white;min-width: 115px;margin-right: 8px;"
                    class="btn btn-sm btn-outline-ticket9 dropdown-toggle margin-none"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                      <span
                              class="fa fa-tasks">
                      </span> {{$t('operating')}}
            </button>
            <button type="button" style="background-color: white;"
                    class="btn btn-sm btn-outline-ticket9 dropdown-toggle margin-none"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i
                    class="fa fa-cog"></i>
            </button>
          </el-row>
        </el-col>
      </el-row>
      <el-row :gutter="8" class="box-row">
        <el-col :span="4">
          <div class="">
            <datepicker2
                    :value="date"
                    @input="$store.dispatch('Ticket09/SET_DATE',$event)">
            </datepicker2>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="select-route-ticket-09">
            <el-select :clearable="true" class="w-100" filterable placeholder="Chọn tuyến" value-key="routeId"
                       :value="route"
                       @input="$store.dispatch('Ticket09/SET_ROUTE',$event?$event.routeId:null)"
            >
              <el-option
                      v-for="item in routes"
                      :key="item.routeId"
                      :label="item.routeName"
                      :value="item">
              </el-option>
            </el-select>
          </div>
        </el-col>
        <el-col :span="6">
          <div class="select-route-ticket-09">
            <el-select filterable value-key="id" class="w-100" :placeholder="$t('filter.select-point')"
                       v-model="startPoint"
                       @input="$store.dispatch('Ticket09/SET_START_POINT',$event?$event:null)"
            >
              <el-option
                      v-for="item in pointsInRoute.points"
                      :key="item.id"
                      :label="item.name"
                      :value="item">
              </el-option>
            </el-select>
          </div>
        </el-col>
        <el-col :span="6" style="padding-right: 0">
          <div class="select-route-ticket-09">
            <el-select filterable value-key="id" class="w-100" :placeholder="$t('filter.select-point')"
                       :value="endPoint"
                       @input="$store.dispatch('Ticket09/SET_END_POINT',$event?$event:null)"
            >
              <el-option
                      v-for="item in pointsInRoute.points"
                      :key="item.id"
                      :label="item.name"
                      :value="item">
              </el-option>
            </el-select>
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="8" class="box-row" style="margin-bottom: 15px;">
        <el-col :span="4">
          <div class="select-route-ticket-09 box-inline">
            <el-select filterable value-key="tripId" class="w-100" placeholder="Chọn chuyến"
                       :value="trip"
                       @input="$store.dispatch('Ticket09/SET_TRIP',$event?$event.tripId:null)"
            >
              <el-option
                      v-for="item in trips"
                      :key="item.tripId"
                      :label="item.timeAndEmtyseat"
                      :value="item">
              </el-option>
            </el-select>
          </div>
          <div class="select-route-ticket-09">
            <el-select filterable value-key="id" class="w-100" placeholder="Chọn xe"
                       :value="endPoint"
            >
              <el-option
                      v-for="item in tests"
                      :key="item.id"
                      :label="item.name"
                      :value="item">
              </el-option>
            </el-select>
          </div>
        </el-col>
        <el-col :span="20">
          <el-row class="box-trip">
            <el-col :span="15">
              <div class="border-box-trip">
                <div>
                  <el-row type="flex" justify="space-between" class="box-inline-trip">
                    <el-col :span="12">
                      <div>
                        <el-row>
                          <el-col :span="7" style="width: 55px;">
                            <div class="trip-detail-title">
                              Biển số
                            </div>
                          </el-col>
                          <el-col :span="17">
                            <div class="trip-detail" v-if="trip">
                              <update-trip-vehicle :trip="trip"></update-trip-vehicle>
                            </div>
                          </el-col>
                        </el-row>
                      </div>
                    </el-col>
                    <el-col :span="12">
                      <div>
                        <el-row>
                          <el-col :span="18" style="text-align: end;">
                            <div class="trip-detail-title" style="padding-right: 12px;">
                              Thời gian xuất bến
                            </div>
                          </el-col>
                          <el-col :span="6">
                            <div class="trip-detail" v-if="trip && trip.startTimeReality">
                              {{((trip.startTimeReality+routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend))|customDate('#hhhh#:#mm#',true)}}
                            </div>
                          </el-col>
                        </el-row>
                      </div>
                    </el-col>
                  </el-row>
                </div>
                <div>
                  <el-row class="box-inline-trip">
                    <el-col :span="4" style="width: 55px;">
                      <div class="trip-detail-title">
                        Tài xế
                      </div>
                    </el-col>
                    <el-col :span="20">
                      <div class="trip-detail" v-if="trip">
                        <update-trip-driver :trip="trip"></update-trip-driver>
                      </div>
                    </el-col>
                  </el-row>
                </div>
                <div>
                  <el-row class="box-inline-trip">
                    <el-col :span="4" style="width: 55px;">
                      <div class="trip-detail-title">
                        Phụ xe
                      </div>
                    </el-col>
                    <el-col :span="20">
                      <div class="trip-detail" v-if="trip">
                        <update-trip-assistant :trip="trip"></update-trip-assistant>
                      </div>
                    </el-col>
                  </el-row>
                </div>
                <div>
                  <el-row class="box-inline-trip">
                    <el-col :span="4" style="width: 50px;">
                      <div class="trip-detail-title">
                        Ghi chú
                      </div>
                    </el-col>
                    <el-col :span="20" style="height: 30px;" v-if="trip">
                      <div class="trip-detail">
                        <div v-if="!edit">
                          &nbsp; <span v-html="$options.filters.stringBr(trip.note||'')" @click="editNote()" v-if="trip.note"
                                       style="font-family: Cabin;font-size: 16px;line-height: 16px;color: #0722FF;cursor: pointer">
                            </span>
                          <span v-if="!trip.note" style="cursor: pointer;" @click="editNote()">
                              Thêm ghi chú
                            </span>
                        </div>
                        <div v-if="edit">
                          <textarea class="form-control form-control-sm" style="height: 40px;!important;" rows="2" v-on:keyup.enter="doEditNote()" v-model="noteTrip"></textarea>
                        </div>
                      </div>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
            <!--<div class="col-12">-->
            <!--<trip-logs ref="TripLogsComponent" :trip="tripClass" v-if="tripClass"></trip-logs>-->
            <!--</div>-->
            <el-col :span="9">
              <div class="border-box-trip" style="border: none; margin-left: 0">
                  <span>
                    <img  src="/public/images/White.png" class="position-absolute"
                          style="top: 4px;right: 4px;width: 14px;cursor: pointer" alt="">
                  </span>
                <div>
                  <el-row class="box-inline-trip" style="padding-left: 0">
                    <el-col :span="10">
                      <div class="trip-detail-title">
                        Vé đã TT
                      </div>
                    </el-col>
                    <el-col :span="14" v-if="trip && trip.ticketsInSeatMap && trip.ticketsNotSeat">
                      <div class="trip-detail" style="width: 85px;">
                        {{totalTicketPaid|number}} / {{trip.ticketsInSeatMap||trip.ticketsNotSeat?((trip.ticketsInSeatMap.length||0)+(trip.ticketsNotSeat.length||0)):0}}
                      </div>
                    </el-col>
                  </el-row>
                </div>
                <div>
                  <el-row class="box-inline-trip" style="padding-left: 0">
                    <el-col :span="10">
                      <div class="trip-detail-title">
                        Tổng Tiền đã TT/Tổng
                      </div>
                    </el-col>
                    <el-col :span="14">
                      <div class="trip-detail">
                        {{totalMoneyTrip.totalPaidMoney|number}} / {{totalMoneyTrip.totalAgencyPrice|number}}
                      </div>
                    </el-col>
                  </el-row>
                </div>
                <div>
                  <el-row class="box-inline-trip" style="padding-left: 0">
                    <el-col :span="10">
                      <div class="trip-detail-title">
                        Số hàng hoá
                      </div>
                    </el-col>
                    <el-col :span="14" v-if="trip && trip.totalGoods">
                      <div class="trip-detail">
                        {{(trip.totalGoods?trip.totalGoods.quantity:0)|number}}
                      </div>
                    </el-col>
                  </el-row>
                </div>
                <div>
                  <el-row class="box-inline-trip" style="padding-left: 0">
                    <el-col :span="10">
                      <div class="trip-detail-title">
                        Tiền hàng
                      </div>
                    </el-col>
                    <el-col :span="14" v-if="trip && trip.totalGoods">
                      <div class="trip-detail">
                        {{(trip.totalGoods?trip.totalGoods.paid:0)|number}}/<span style="font-weight: 500">{{(trip.totalGoods?trip.totalGoods.totalPrice:0)|number}}</span>
                      </div>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
          </el-row>
        </el-col>
      </el-row >
      <el-row type="flex" class="box-row" style="margin-bottom: 15px;" justify="space-between">
        <el-col :span="19">
          <div>
            <span class="numberSeat">{{seatCouldSell ? seatCouldSell.countSeat : 0}}</span>
            <span style="margin-left: 5px;min-width: 60px;">Ghế trống</span>
            <template v-for="(seat,s) in seatCouldSell.listSeatHelpAfterOrder">
                <span
                        v-on:click.stop="clickSeat(seat)"
                        class="numberSeatDetail"
                        :class="[isSelectedSeat(seat)?'active':'']"
                        style="cursor: pointer"
                >{{seat.seatId}}</span>
            </template>
          </div>
        </el-col>
        <el-col :span="5" style="text-align: end">
          <div>
            <span @click="test()" class="buttonSpan"><i class="fas fa-phone" style="padding-right: 5px"></i>123456789</span>
            <img  src="/public/images/Vector.png"
                  style="margin-bottom: 3px;background: #CCE9FF;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);border-radius: 8px;padding: 6px 8px;" alt="">
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="tableTicket">
      <div class="flexcroll" style="position: relative;
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;">
        <div style="margin-bottom: 20px" class="scroll-floor">
          <!----------------------------DETAIL------------------------------------>
          <div class="row" style="background: #F2F2F2;margin-right: 0px;margin-left: 0px" v-if="trip !== null && trip.seatMapFake && trip.seatMapFake.length === 1">
            <div class="col-12" style="padding-right: 0px;padding-left: 0px;">
              <el-row class="box-row" style="background: #CED9E7;padding: 6px 8px 0px 8px;">
                <el-col :span="24">
                  <div class="floor">
                    Tầng 1
                  </div>
                </el-col>
              </el-row>
              <div style="border-radius: 4px;background-color: #383F47;" v-loading="loadSeatmap">
                <template v-for="(row,r) in trip.seatMapFake[0]">
                  <div class="row no-gutters">
                    <template v-for="(col,c) in row">
                      <div :class="[!showWayMode&&col.seatType==7?'d-none':'col-md','col-xs-12']">
                        <seat-detail :seat="col" @event="eventSeatMap" :isTripContract="isTripContract"></seat-detail>
                      </div>
                    </template>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="row" style="background: #F2F2F2;margin-right: 0px;margin-left: 0px" v-if="trip !== null && trip.seatMapFake && trip.seatMapFake.length === 2">
            <div class="col-12" style="padding-right: 0px;padding-left: 0px;">
              <el-row class="box-row" style="background: #CED9E7;padding: 6px 8px 0px 8px;">
                <el-col :span="24">
                  <div class="floor">
                    Tầng 1
                  </div>
                </el-col>
              </el-row>
              <div style="border-radius: 5px;background-color: rgb(56, 63, 71);" v-loading="loadSeatmap">
                <div style="border-radius: 4px;">
                  <template v-for="(row,r) in trip.seatMapFake[0]">
                    <div class="row no-gutters">
                      <template v-for="(col,c) in row">
                        <div :class="[col.seatType==7?'d-none':'col-md','col-xs-12']">
                          <seat-detail :seat="col" @event="eventSeatMap" :isTripContract="isTripContract"></seat-detail>
                        </div>
                      </template>
                    </div>
                  </template>
                </div>
              </div>
            </div>
            <div class="col-12" style="padding-top: 10px;padding-right: 0px;padding-left: 0px;">
              <el-row class="box-row" style="background: #CED9E7;padding: 6px 8px 0px 8px;">
                <el-col :span="24">
                  <div class="floor">
                    Tầng 2
                  </div>
                </el-col>
              </el-row>
              <div style="background-color: rgb(56, 63, 71);border-radius: 5px;" v-loading="loadSeatmap">
                <div style="border-radius: 4px;">
                  <template v-for="(row,r) in trip.seatMapFake[1]">
                    <div class="row no-gutters">
                      <template v-for="(col,c) in row">
                        <div :class="[col.seatType==7?'d-none':'col-md','col-xs-12']">
                          <seat-detail :seat="col" @event="eventSeatMap" :isTripContract="isTripContract"></seat-detail>
                        </div>
                      </template>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <el-row>
          <div class="tabPane">
            <el-tabs  v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="Chờ xử lý">
                <!--<template v-for="(ticket,t) in trip.ticketsNotSeat">-->
                <!--<ticket-box :ticket="ticket" @event="eventSeatMap" :find="true"></ticket-box>-->
                <!--</template>-->
              </el-tab-pane>
              <el-tab-pane label="Vé hết hạn" name="2">

              </el-tab-pane>
              <el-tab-pane label="Vé hủy" name="3">

              </el-tab-pane>
              <el-tab-pane label="Vé chuyển" name="4">

              </el-tab-pane>
              <el-tab-pane label="Phụ thu" name="5">

              </el-tab-pane>
            </el-tabs>
          </div>
        </el-row>
      </div>
    </div>
    <!--cancel ticket modal-->
    <div class="modal fade bd-example-modal-lg" id="modalCancelTicket" tabindex="-1" role="dialog"
         aria-labelledby="modalCancelTicket" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">{{$t('cancel-ticket')}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding-top:0;padding-bottom:0" v-if="trip">
            <cancel-ticket ref="CancelTicketComponent" :trip="trip" :cancelTicketSanve="cancelTicketSanve"
                           @event="cancelTicketEvent"></cancel-ticket>
          </div>
          <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
            <button class="btn btn-outline-primary btn-sm text-uppercase"
                    @click="$refs.CancelTicketComponent.cancel()"><i class="fa fa-trash"></i>
              {{$t('button.delete')}}
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                    data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <el-dialog
            title="Xác nhận hủy vé"
            :visible.sync="showDialogCancelSanve"
            width="30%"
            :before-close="handleClose">
      <span>Hủy vé từ đối tác bán vé của An Vui sẽ bị phạt 150% giá trị vé.</span><br>
      <span>Bạn có chắc chắn hủy vé này không?</span>
      <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="showDialogCancelSanve = false">Quay lại</el-button>
                <el-button type="danger" @click="showCancelTicket">Hủy</el-button>
          </span>
    </el-dialog>
    <!--end cancelticket-->
    <div class="d-none">
      <print-ticket ref="PrintTicketComponent"></print-ticket>
      <!--<print-ticket-temp ref="PrintTicketTempComponent"></print-ticket-temp>-->
      <!--<print-table-tickets ref="PrintTableTicketsComponent"></print-table-tickets>-->
      <!--<print-seat-map ref="PrintTableSeatMapComponent"></print-seat-map>-->
    </div>
  </el-col>
</template>
<script>
    import {mapActions, mapGetters, mapState} from 'vuex';
    import SeatDetail from "../Ticket09/SeatDetail";
    import CreateUpdateTicket from "../Ticket09/CreateUpdateTicket";
    import UpdateTripVehicle from '../Ticket09/UpdateTripVehicle';
    import UpdateTripDriver from '../Ticket09/UpdateTripDriver';
    import UpdateTripAssistant from '../Ticket09/UpdateTripAssistant';
    import NoteTrip from '../Ticket09/NoteTrip';
    import TripLogs from '../../Trip/TripLogs';
    import {TripLOG} from '../../../class/trip';
    import PrintTicket from '../../Print/Ticket.vue';
    import PrintTicketTemp from '../../Print/TicketTemp.vue';
    import PrintTableTickets from '../../Print/TableTickets.vue';
    import PrintSeatMap from '../../Print/PrintSeatMap.vue';
    import CancelTicket from '../../Ticket/Ticket07/CancelTicket.vue';
    import TicketBox from "../Ticket09/TicketBox";
    // import UpdateTripStartTime from "../../Trip/UpdateTripStartTime";

    export default {
        components: {
            SeatDetail,
            CreateUpdateTicket,
            UpdateTripVehicle,
            UpdateTripDriver,
            UpdateTripAssistant,
            NoteTrip,
            TripLogs,
            PrintTicket,
            PrintTicketTemp,
            PrintTableTickets,
            PrintSeatMap,
            CancelTicket,
            TicketBox,
            // UpdateTripStartTime,
        },
        data: function () {
            return {
                tab: 1,
                showFormCreateTicket: true,
                tripClass : this.trip ? new Trip(this.trip) : '',
                points: [
                    {
                        name: "Test",
                        id: 'Test'
                    }
                ],
                seatData: {},
                activeName: '1',
                radio: '1',
                isTripContract: false,
                surchargeItems: [],
                ticketWithSurcharge: [],
                countSurcharge: [],
                surchargeDialog: false,
                filterSeatId: [],
                filterSurchageName: [],
                tripTransshipmentTypes : [],
                endTimeReality: new Date().getTime(),
                dialogSelectTimeContractVisible: false,
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < new Date().getTime() - 86400000
                    }
                },
                tests: [
                    {
                        name: "Đang phát triển",
                        id: 0,
                        value: 0
                    },
                ],
                numberSeatSell: 1,
                routeOftenSelect: [],
                findRouteInTrip: [],//lọc các tuyến của  chuyến
                dialogPaymentMethodDefault: false,
                searchingTripByTimeRangeDefault: parseInt(new Date().customFormat('#hhhh#')),
                displayTripOneLine: false,
                showDialogCancelSanve: false,
                cancelTicketSanve: false,

                displayRecommendRoute: false,
                visibleRecommendRouteDialog: false,
                loadingRecommendTable: false,
                selectedRecommendRoute: [],
                edit : false,
                noteTrip : '',
                loadingNote: false,
            }

        },
        mounted: function() {
            this.$store.dispatch('Ticket09/INIT');
            this.$store.commit('SET_SELL_FORM', this.$route.name);
        },
        computed: {
            ...mapState('Ticket09', {
                date: state => state.date,
                route: state => state.route,
                startPoint: state => state.startPoint,
                endPoint: state => state.endPoint,
                listPoint: state => state.listPoint,
                routes: state => state.routes,
                trips: state => state.trips,
                trip: state => state.trip,
                loading: state => state.loading,
                indexPointInRoute: state => state.indexPointInRoute,
                ticketsSelected: state => state.ticketsSelected,
                ticketsSelectedType: state => state.ticketsSelectedType,
                ticketsMove: state => state.ticketsMove,
                showWay: state => state.showWay,
                showAllTicketInSeat: state => state.showAllTicketInSeat,
                showDetailTrips: state => state.showDetailTrips,
                showListTripsItemV2: state => state.showListTripsItemV2,
                showRouteInTripItem: state => state.showRouteInTripItem,
                useFilterTime: state => state.useFilterTime,
                time: state => state.time,
                load: state => state.load,
                loadSeatmap: state => state.loadSeatmap,
                // routes : state => state.routes,
                floorActive: state => state.floorActive,
                // indexPointInRoute : state => state.indexPointInRoute,
                ticketScroll: state => state.ticketScroll,
                scrolled: state => state.scrolled,
                addressUpTicketNotSeat: state => state.addressUpTicketNotSeat,
                addressDownTicketNotSeat: state => state.addressDownTicketNotSeat,
            }),
            ...mapState({
                ticketSample: state => state.ticketSample,
                mergeTicketsWhenPrint: state => state.mergeTicketsWhenPrint,
                showTicketsOrSeatMap: state => state.showTicketsOrSeatMap,
                showDatepicker: state => state.showDatepicker,
                config_data: state => state.config_data,
                companyConfigData: state => state.CompanyConfig.companyConfigData,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig
            }),
            ...mapGetters("Ticket09", [
                "findAddressTicketNotSeat",
                "totalMoneyTrip",
                "allowPastDaysToSellTicket",
                "lockTripAfterStart",
                'totalTicketPaid',
                'mapRoutes',
                'pointsInRoute',
                'routesInTrips',
                'allowPastDaysToSellTicket'
            ]),
            ...mapState('LockSeat',{
                lockSeatState: state => state.lockSeatState,
            }),
            listSeatLock :function(){
                let results = [];
                try{
                    let seatMapLock = this.lockSeatState[this.trip.seatMap.seatMapId];
                    if(seatMapLock&&(!this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().ADMIN)||this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().AGENCY))){
                        results = seatMapLock.seatList.map(seat=>seat.seatId);
                    }
                }catch(e){
                    console.warn(e);
                }finally{
                    return results;
                }
            },
            seatMode: function() {
                if (this.companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.value) {
                    return this.companyConfig.CONFIG.DISPLAY_SEAT_MODE.value;
                }
                return this.showAllTicketInSeat;
            },
            showWayMode: function() {
                if (this.companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.value) {
                    return this.companyConfig.CONFIG.DISPLAY_WAY.value;
                }
                return this.showWay;
            },
            indexPointInRoute: function() {
                let mapRoutes = this.mapRoutes;
                let trip = this.trip;
                return mapRoutes[trip.route.id].mapPoints;
            },
            // route: function() {
            //     if (this.trip !== null){
            //         let mapRoutes = this.mapRoutes;
            //         let trip = this.trip;
            //         return this.routes[mapRoutes[trip.route.id].index];
            //     }
            // },
            seatCouldSell: function() {
                if (this.trip !== null){
                    let self = this;
                    let seatMapFake = self.trip.seatMapFake;
                    let startPoint = self.startPoint;
                    let endPoint = self.endPoint;
                    let numberPoint = self.route.listPoint.length;
                    let listSeatHelp = {};

                    let indexPointInRoute = this.indexPointInRoute;
                    let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                    let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                    let lockedSeat = this.trip._lockedSeat;

                    $.each(seatMapFake, function(f, floor) {
                        $.each(floor, function(r, row) {
                            $.each(row, function(s, seat) {
                                let allowSell = true; /// cho phép bán vé;
                                let numberPointBefore = self.indexPointInRoute[startPoint.id].index;
                                let numberPointAfter =
                                    numberPoint - self.indexPointInRoute[endPoint.id].index - 1;
                                if (seat.seatType == 3 || seat.seatType == 4) {
                                    if (seat.tickets) {
                                        $.each(seat.tickets, function(t, ticket) {
                                            if (
                                                self.indexPointInRoute[ticket.pointUp.id].index <
                                                self.indexPointInRoute[startPoint.id].index &&
                                                self.indexPointInRoute[ticket.pointDown.id].index - 1 <
                                                self.indexPointInRoute[startPoint.id].index
                                            ) {
                                                // vé trước chặng
                                                let npb =
                                                    self.indexPointInRoute[startPoint.id].index -
                                                    (self.indexPointInRoute[ticket.pointDown.id].index - 1) -
                                                    1;
                                                numberPointBefore =
                                                    numberPointBefore > npb ? npb : numberPointBefore;
                                            } else if (
                                                self.indexPointInRoute[ticket.pointUp.id].index >
                                                self.indexPointInRoute[endPoint.id].index - 1 &&
                                                self.indexPointInRoute[ticket.pointDown.id].index - 1 >
                                                self.indexPointInRoute[endPoint.id].index - 1
                                            ) {
                                                // vé sau chặng
                                                let npa =
                                                    self.indexPointInRoute[ticket.pointUp.id].index -
                                                    self.indexPointInRoute[endPoint.id].index;
                                                numberPointAfter =
                                                    numberPointAfter > npa ? npa : numberPointAfter;
                                            } else {
                                                allowSell = false;
                                                return false;
                                            }
                                        });
                                    }
                                } else {
                                    allowSell = false;
                                }
                                try {
                                    if (lockedSeat) {
                                        $.each(lockedSeat, function(l, lock) {
                                            let inFromStartToEnd = !(
                                                indexPointInRoute[lock.startPointId].index >
                                                indexEndPoint - 1 ||
                                                indexStartPoint >
                                                indexPointInRoute[lock.endPointId].index - 1
                                            );
                                            $.each(lock.listSeat, function(sk, seatk) {
                                                if (seatk.seatId === seat.seatId && inFromStartToEnd) {
                                                    allowSell = false;
                                                    return false;
                                                }
                                            });
                                            if (!allowSell) {
                                                return false;
                                            }
                                        });
                                    }
                                } catch (e) {
                                    console.warn(e);
                                }
                                if (allowSell) {
                                    let seatPush = _.cloneDeep(seat);
                                    seatPush.numberPointBefore = numberPointBefore;
                                    seatPush.numberPointAfter = numberPointAfter;
                                    let number =
                                        numberPointBefore > numberPointAfter
                                            ? numberPointAfter
                                            : numberPointBefore;
                                    let numberTotal = numberPointBefore + numberPointAfter;
                                    if (listSeatHelp[numberTotal]) {
                                        if (listSeatHelp[numberTotal][number]) {
                                            listSeatHelp[numberTotal][number].push(seatPush);
                                        } else {
                                            listSeatHelp[numberTotal][number] = [seatPush];
                                        }
                                    } else {
                                        listSeatHelp[numberTotal] = {};
                                        listSeatHelp[numberTotal][number] = [seatPush];
                                    }
                                }
                            });
                        });
                    });
                    let countSeat = 0
                    if(listSeatHelp && listSeatHelp[0]){
                        countSeat = listSeatHelp[0][0].length
                    }
                    let listSeatHelpAfterOrder = [];
                    let numberSeatHelp = 10;
                    let breakLoop = false;
                    $.each(listSeatHelp, function(k, v) {
                        $.each(v, function(i, e) {
                            $.each(e, function(s, seat) {
                                listSeatHelpAfterOrder.push(seat);
                                if (listSeatHelpAfterOrder.length == numberSeatHelp) {
                                    breakLoop = true;
                                    return false;
                                }
                            });
                            if (breakLoop) {
                                return false;
                            }
                        });
                        if (breakLoop) {
                            return false;
                        }
                    });
                    return {listSeatHelpAfterOrder,countSeat} ;
                }
                else {
                    return false
                }
            }
        },
        methods: {
            ...mapActions('Ticket09', [
                'SET_DATE',
                'SET_ROUTE',
                'SET_START_POINT',
                'SET_END_POINT',
                'SET_TRIP',
                'SET_TICKET_MOVE',
                'SET_TICKET_MOVE'
            ]),
            handleClick: function () {
                console.log('run')
            },
            handleClose: function () {
                this.showDialogCancelSanve = false
            },
            editNote : function () {
                this.edit= true;
                console.log(this.edit)
                this.noteTrip = _.cloneDeep(this.trip?this.trip.note:'');
            },
            doEditNote : function () {
                let self = this;
                this.edit= false;
                this.loadingNote= true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data : {
                        tripId : self.trip.tripId,
                        note : self.noteTrip,
                    },
                    success: function (data) {
                        self.loadingNote= false;
                    },
                    functionIfError : function (err) {
                        self.loadingNote= false;
                    }
                })
            },
            showCancelTicket: function () {
                this.showDialogCancelSanve = false
                this.cancelTicket()
            },
            cancelTicket: function () {
                let self = this;
                self.$refs.CancelTicketComponent.refresh(self.ticketsSelected);
                $(self.$el).find('#modalCancelTicket').modal('show');
            },
            cancelTicketEvent: function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.$store.dispatch('Ticket09/UN_SELECTED');
                        $(self.$el).find('#modalCancelTicket').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            openDialogBuyAll: function() {
                let self = this;
                if (
                    self.trip.ticketsInfo.length > 0 ||
                    self.trip.ticketsNotSeat.length > 0
                ) {
                    notify("Không thể bao trọn xe do có khách đã đặt vé!");
                    return;
                }
                if(!this.userInfo.isEditTicketPrice){
                    notify("Vui lòng cho phép sửa giá tổng tiền trong cấu hình hệ thống để sử dụng chức năng này!");
                    return;
                }
                if(!self.isTripContract) {
                    notify("Vui lòng chọn xe hợp đồng để sử dụng chức năng này!");
                    return;
                }
                let seatCanBuy = self.trip.seatMap.seatList.filter(
                    x => x.seatType === 3 || x.seatType === 4
                );
                seatCanBuy.forEach(element => {
                    let ticketExample = {
                        id: func.makeId(),
                        seat: {
                            seatId: element.seatId,
                            floor: element.floor,
                            row: element.row,
                            column: element.column,
                            extraPrice: element.extraPrice,
                            seatType: element.seatType
                        },
                        fullName: "",
                        phoneNumber: "",
                        birthday: ""
                    };
                    if (!this.isSelectedSeat(ticketExample.seat)) {
                        this.$store.dispatch("Ticket09/PUSH_SELL_TICKET", ticketExample);
                    }
                });
                this.$store.commit("Ticket09/SET_BUY_ALL_TICKET", true);
            },
            showDialogSelectTimeContractVisible: function() {
                if(this.isTripContract){
                    this.dialogSelectTimeContractVisible = true
                } else {
                    this.changeTripType()
                }
            },
            changeTripType: function() {
                this.dialogSelectTimeContractVisible = false
                let isTripContract = this.isTripContract;
                if(isTripContract) {
                    this.updateTripType(TripType.Enum().CONTRACT_WITHOUT_TICKET);
                }
                else {
                    this.updateTripType(TripType.Enum().NORMAL);
                }
            },
            updateTripType: function (type) {
                let self = this;
                let param = {
                    tripId: self.trip.tripId,
                    tripType: type,
                };
                if(self.endTimeReality){
                    param.endTimeReality = self.endTimeReality
                }
                self.load("updateManageTripType");
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        self.unload("updateManageTripType");
                    },
                    functionIfError: function (err) {
                        self.unload("updateManageTripType");
                    },
                });
            },
            // METHOD for filter table
            clearFilter() {
                this.$refs.filterTable.clearFilter();
            },
            formatter(row, column) {
                return row.address;
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            filterHandler(value, row, column) {
                const property = column["property"];
                return row[property] === value;
            },
            // end method filter table
            ...mapActions("Ticket09", ["REFRESH_TRIP"]),
            seatEvent: function(event) {
                this.$emit("event", event);
            },
            isSelectedSeat: function(seat) {
                let self = this;
                if (self.ticketsSelectedType == 1) {
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected, function(t, tk) {
                    if (seat.seatId == tk.seat.seatId) {
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            clickSeat: function(seat) {
                let ticketExample = {
                    id: func.makeId(),
                    seat: {
                        seatId: seat.seatId,
                        floor: seat.floor,
                        row: seat.row,
                        column: seat.column,
                        extraPrice: seat.extraPrice,
                        seatType: seat.seatType
                    },
                    fullName: "",
                    phoneNumber: "",
                    birthday: ""
                };
                if (seat.seatType == 3 || seat.seatType == 4) {
                    if (this.isSelectedSeat(ticketExample.seat)) {
                        this.$store.dispatch("Ticket09/UN_PUSH_SELL_TICKET", ticketExample);
                    } else {
                        this.$store.dispatch("Ticket09/PUSH_SELL_TICKET", ticketExample);
                    }
                } else {
                    this.$store.dispatch("Ticket09/UN_SELECTED");
                }
            },
            eventSeatMap: function (event) {
                let self = this;
                console.log('event')
                if(event.checkSanve !== undefined && event.checkSanve){
                    self.showDialogCancelSanve = true
                    self.cancelTicketSanve = true
                }
                switch (event.eventName) {
                    case 'sell-ticket' :
                        this.$store.dispatch('Ticket09/LOCK_SEAT');
                        this.$refs.formSellTicket.refresh();
                        $('#modalSellTicket').modal('show');
                        break;
                    case 'update-ticket' :
                        this.$refs.formUpdateTicket.refresh();
                        $('#modalUpdateTicket').modal('show');
                        break;
                    case 'cancel-ticket' :
                        if(!self.showDialogCancelSanve){
                            this.cancelTicket();
                        }
                        break;
                    case 'print-ticket' :
                        // let ticketAllowPrint = [];
                        let listTicketId = [];
                        // let numberOfPrint = self.companyConfigData && self.mapCompanyConfig && self.mapCompanyConfig['ONLY_PRINT_TICKET_WHEN_BOUGTH'] !== undefined && self.companyConfigData[self.mapCompanyConfig['ONLY_PRINT_TICKET_WHEN_BOUGTH']].value ? self.companyConfigData[self.mapCompanyConfig['ONLY_PRINT_TICKET_WHEN_BOUGTH']].value : -1;
                        $.each(self.ticketsSelected, function (t, ticket) {
                            listTicketId.push(ticket.ticketId);
                        });

                        sendJson({
                            url: urlDBD(API.ticketPrintHistory),
                            type: "post",
                            dataType: 'json',
                            data: {
                                ticketIds: listTicketId
                            },
                            success: function (data) {
                                self.$refs.PrintTicketComponent.print(self.ticketsSelected);
                                self.unload('saveTicketPrintHistory');
                            },
                            error: function (err) {
                                alert("Đã hết lượt in vé");
                                self.unload('saveTicketPrintHistory');
                            }
                        });
                        break;
                    case 'print-ticket-temp' :
                        let listTicketId2 = [];
                        $.each(self.ticketsSelected, function (t, ticket) {
                            listTicketId2.push(ticket.ticketId);
                        });
                        sendJson({
                            url: urlDBD(API.ticketPrintTemHistory),
                            type: "post",
                            dataType: 'json',
                            data: {
                                ticketIds: listTicketId2
                            },
                            success: function (data) {
                                self.$refs.PrintTicketTempComponent.print(self.ticketsSelected);
                                self.unload('saveTicketPrintHistory');
                            },
                            error: function (err) {
                                alert("Đã hết lượt in vé");
                                self.unload('saveTicketPrintHistory');
                            }
                        });
                        break;
                    case 'move-to-no-seat' :
                        let ticketsMoveToNoSeat = [];
                        $.each(self.ticketsSelected, function (t, ticket) {
                            let ticketInfoNoSeat = {
                                ticketId: ticket.ticketId,
                                seat: {
                                    seatId: ticket.seat.seatId,
                                    seatType: 0
                                }
                            }
                            if (ticket.ticketStatus == 0) {
                                ticketInfoNoSeat.ticketStatus = 2;
                                ticketInfoNoSeat.overTime = 0;
                            }
                            ticketsMoveToNoSeat.push(ticketInfoNoSeat);
                        });
                        self.$store.dispatch('Ticket09/UN_SELECTED');
                        self.load('moveToNoSeat');
                        sendJson({
                            url: urlDBD(API.ticketTransfer),

                            data: ticketsMoveToNoSeat,
                            success: function (data) {
                                notify("Đang xử lý...", 'info');
                                self.unload('moveToNoSeat');
                            },
                            functionIfError: function (err) {
                                self.unload('moveToNoSeat');
                            }
                        })
                        break;
                    case 'history-ticket' :
                        this.$refs.formSeatHistory.getTicketHistory(event.data);
                        $('#modalSeatHistory').modal('show');
                        break;
                    case 'history-seat' :
                        this.$refs.formSeatHistory.getSeatHistory(event.data.tripId, event.data.seatId);
                        $('#modalSeatHistory').modal('show');
                        break;
                    case 'move-ticket' :
                        console.log('Ticket09/SET_TICKETS_MOVE')
                        self.$store.dispatch('Ticket09/SET_TICKETS_MOVE');
                        break;
                    case 'open-modal-sell-ticket-not-seat' :
                        $('#modalNumberSeatSell').modal('show');
                        break;
                    case 'show-list-ticket' :
                        $('#modalListTicketSelected').modal('show');
                        break;
                    case 'sell-ticket-success' :
                        if (event.data.print) {
                            this.printListTicket(event.data.results.listTicket)
                        }
                        if (event.data.printTemp) {
                            this.$refs.PrintTicketTempComponent.print(event.data.results.listTicket);
                        }
                        break;
                    case 'update-ticket-success' :
                        if (event.data.print) {
                            this.printListTicket(event.data.results.listTicket)
                        }
                        if (event.data.printTemp) {
                            this.$refs.PrintTicketTempComponent.print(event.data.results.listTicket);
                        }
                        break;
                }
            },
            scrollToTicket: function() {
                let self = this;
                let ticket = this.ticketScroll;
                let element = null;
                try {
                    if (ticket) {
                        element = ".ticket-" + ticket.ticketId;
                        self.$store.commit(
                            "Ticket09/SET_FLOOR_ACTIVE",
                            ticket.seat.floor - 1
                        );
                    }
                    // Scroll
                    setTimeout(function() {
                        if ($(element).length > 0) {
                            let status = func.checkTicketStatus(ticket);
                            if (status.mode == "cancel") {
                                $("#tabTicketsCanceled").click();
                            } else if (status.mode == "endTime") {
                                $("#tabTicketsEndTime").click();
                            }
                            $(element).first().click();
                            $("html,body").animate(
                                {
                                    scrollTop: $(element).offset().top - 200
                                },
                                "slow"
                            );
                        }
                    }, 500);
                    func.removeHistory("ticketId", "ticketStatus", "floor");
                    self.$store.commit("Ticket09/SET_TICKET_SCROLL", null);
                } catch (e) {
                    console.warn(e);
                }
            },
            debounceUpdateTripTransshipmentTypes : _.debounce(function () {
                let self = this;
                let param = {
                    tripId : self.trip.tripId,
                    transshipmentTypes:self.tripTransshipmentTypes
                };
                self.load('updateManageTripTransshipmentTypes');
                sendJson({
                    url: urlDBD(API.tripManage),
                    data : param,
                    success: function (data) {
                        self.unload('updateManageTripTransshipmentTypes');
                    },
                    functionIfError : function (err) {
                        self.unload('updateManageTripTransshipmentTypes');
                    }
                })

            },1000)
        },
        watch: {
            scrolled: function(newVal) {
                if (newVal && this.ticketScroll) {
                    this.scrollToTicket();
                }
            },

            // trip: {
            //     deep: true,
            //     handler: function(x) {
            //         //xap xep danh sach ve theo thoi gian tao
            //         let ticketNotSeat = x.ticketsNotSeat
            //         if(ticketNotSeat != undefined){
            //             ticketNotSeat.sort(function (a, b) {
            //                 return b.createdDate - a.createdDate ;
            //             });
            //             x.ticketsNotSeat = ticketNotSeat
            //         }
            //         //
            //         //xap xep danh sach ve theo thoi gian tao
            //         let ticketsEndTime = x.ticketsEndTime
            //         if(ticketsEndTime != undefined){
            //             ticketsEndTime.sort(function (a, b) {
            //                 return b.createdDate - a.createdDate ;
            //             });
            //             x.ticketsEndTime = ticketsEndTime
            //         }
            //         //
            //         //xap xep danh sach ve theo thoi gian tao
            //         let ticketsCanceled = x.ticketsCanceled
            //         if(ticketsCanceled != undefined){
            //             ticketsCanceled.sort(function (a, b) {
            //                 return b.cancelTime - a.cancelTime ;
            //             });
            //             x.ticketsCanceled = ticketsCanceled
            //         }
            //         //
            //         //xap xep danh sach ve theo thoi gian tao
            //         let ticketsTransfer = x._ticketsTransfer
            //         if(ticketsTransfer != undefined){
            //             ticketsTransfer.sort(function (a, b) {
            //                 return b.createdDate - a.createdDate ;
            //             });
            //             x._ticketsTransfer = ticketsTransfer
            //         }
            //         //
            //         this.tripTransshipmentTypes = x.transshipmentTypes||[];
            //         //lấy các ticket ở InSeatMap có phụ thu
            //         let itemInSeatMap = x.ticketsInSeatMap
            //             ? x.ticketsInSeatMap.filter(
            //                 i => i.surcharges && i.surcharges.length > 0
            //             )
            //             : [];
            //         //lấy các ticket ở NotSeat có phụ thu
            //         let itemNotSeat = x.ticketsNotSeat
            //             ? x.ticketsNotSeat.filter(
            //                 i => i.surcharges && i.surcharges.length > 0
            //             )
            //             : [];
            //         let allItem = itemInSeatMap.concat(itemNotSeat); //gộp lại
            //
            //         this.ticketWithSurcharge = allItem;
            //         let flatItem = [];
            //
            //         allItem.forEach(elements => {
            //             for (let element of elements.surcharges) {
            //                 flatItem.push({
            //                     seatId: elements.seat.seatType != 0 ? elements.seat.seatId : 0,
            //                     ticketCode: elements.ticketCode,
            //                     price:
            //                         element.mode == 1 ? `+ ${element.price}` : `- ${element.price}`,
            //                     name: element.name,
            //                     surchargeId: element.id
            //                 });
            //             }
            //         });
            //
            //         let sumSurcharge = {};
            //         let listSeatId = {};
            //         let listSurchargeName = {};
            //
            //         flatItem.forEach(element => {
            //             // Get
            //             if (sumSurcharge[element.surchargeId]) {
            //                 sumSurcharge[element.surchargeId].quantity++;
            //             } else {
            //                 sumSurcharge[element.surchargeId] = {
            //                     name: element.name,
            //                     quantity: 1
            //                 };
            //             }
            //             // Get list seatId that exist
            //             if (!listSeatId[element.seatId]) {
            //                 listSeatId[element.seatId] = {
            //                     text: element.seatId,
            //                     value: element.seatId
            //                 };
            //             }
            //             // Get list surchargeName that exist
            //             if (!listSurchargeName[element.name]) {
            //                 listSurchargeName[element.name] = {
            //                     text: element.name,
            //                     value: element.name
            //                 };
            //             }
            //         });
            //         this.countSurcharge = Object.values(sumSurcharge);
            //         this.filterSeatId = Object.values(listSeatId);
            //         this.filterSurchageName = Object.values(listSurchargeName);
            //         this.surchargeItems = flatItem;
            //         // kiểm tra xe hợp đồng
            //         let tripType = x.tripType;
            //         if(tripType === 4) {
            //             this.isTripContract = true;
            //         }
            //         else {
            //             this.isTripContract = false;
            //         }
            //     }
            // }
        }
    }
</script>
<style scoped>
  .cssLayout {
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: #F9FAFC;
  }
  .box-row {
    margin-bottom: 8px;
  }
  .box-inline {
    margin-bottom: 8px;
  }
  .buttonTab {
    text-align: center;
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 7px;
    color: #646D84;
    cursor: pointer;
  }

  .buttonTab:hover {
    color: #084388;
  }

  .buttonTab.active {
    color: #084388;
  }

  .btn-outline-ticket9 {
    background: #CCE9FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    font-size: 13px;
    color: #0091FE;
    height: 32px;
    padding: 6px 12px;
    margin-bottom: 4px;
  }

  .btn-outline-ticket9:hover {
    background: #b3d8ff;
    color: #0091FE;
  }

  .btn-outline-ticket9.active {
    background: #b3d8ff;
    color: #0091FE;
  }
  .tabActive {
    width: 24px;
    background: #084388;
    height: 4px;
    border-radius: 2px;
  }
  .trip-detail-title {
    font-size: 14px;
    line-height: 17px;
    color: #646D84;
    padding-right: 5px;
  }

  .trip-detail {
    font-size: 14px;
    line-height: 17px;
    color: #084388;
  }
  .box-trip {
    padding-left: 7px;
    background-color: white;
    border: 1px solid #ECEDF1;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .border-box-trip {
    border-right: 1px solid #C4C4C4;
    margin: 8px
  }
  .box-inline-trip {
    padding-left: 8px;
    padding-bottom: 5px;
  }
  .numberSeat {
    align-items: center;
    padding: 3px 8px;
    width: 35px;
    height: 25px;
    background: #084388;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    margin-left: 10px;
  }
  .numberSeatDetail {
    align-items: center;
    padding: 3px 8px;
    width: 35px;
    color: #084388;
    height: 25px;
    font-size: 12px;
    background: #CCE9FF;
    border-radius: 4px;
    margin-left: 4px;
  }
  .numberSeatDetail2 {
    align-items: center;
    padding: 7px 8px;
    width: 35px;
    color: #0091FE;
    height: 24px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 4px;
  }
  .numberSeatDetailCancel {
    align-items: center;
    padding: 7px 8px;
    width: 35px;
    color: #FF4868;
    height: 24px;
    font-size: 12px;
    background: #FFDAE1;
    border-radius: 4px;
    margin-left: 4px;
  }
  .buttonSpan {
    width: 104px;
    height: 24px;
    background: #CCE9FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #0091FE;
    padding: 5px 10px;
    cursor: pointer;
  }
  .floor {
    height: 30px;
    font-size: 18px;
    line-height: 22px;
    color: #084388;
  }
  .out-box-create {
    width: 650px !important;
    position: absolute; right: -3px; padding: 0 !important
  }

  .inline-box-create {
    margin-bottom: 8px;
  }
  .boxDetailCreate {
    margin-top: 4px;
  }
  .box-create-update-ticket {
    position: relative;
    z-index: 1000;
    height: 2285px;
    background: #FFFFFF;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px 0px 0px 12px;
    margin-bottom: 50px;
  }
  .box-label-create {
    background: #FDEBD0;
    padding: 5px 16px;
  }
  .labelFormCreate {
    font-size: 18px;
    line-height: 22px;
    color: #383F47;
  }
  .autoFill {
    font-size: 14px;
    line-height: 17px;
    color: #383F47;
    margin-left: 5px;
  }
  .box-detail-create {
    padding: 8px 16px;
  }
  .detailCreate {
    font-size: 14px;
    line-height: 17px;
    color: #646D84;
  }
  .countTicket {
    margin-left: 8px;
    font-size: 14px;
    line-height: 17px;
    color: #F39B13;
  }

  .box-icon-more {
    font-size: 18px;
    text-align: center;
    background: #CCE9FF;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    padding: 3px;
  }
  /*customCheckBox*/
  .container {
    display: block;
    position: relative;
    margin-left: 3px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    border: 2px solid #084388;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px solid #084388;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    /*background-color: #FDEBD0;*/
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    /*background-color: #FDEBD0;*/
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 0px;
    width: 5px;
    height: 13px;
    border: solid #084388;
    border-width: 0px 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .createRadio{
    margin-top: 4px;
  }
  .labelSoldDetail {
    font-size: 16px;
    color: #383F47;
  }
  .soldDetail {
    font-size: 16px;
    color: #0722FF;
    margin-left: 3px;
  }

  .boxConfirm {
    width: 378px;
    height: 185px;
    background: #C8F1DF;
    border-radius: 12px;
    position: absolute;
    bottom: 5px;
    right: 16px;
  }

  .detailConfirm{
    font-size: 16px;
    line-height: 19px;
    color: #383F47;
  }

  .detailConfirmRed{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    vertical-align: -webkit-baseline-middle;
  }

  .boxConfirmRed{
    padding: 6px 16px 6px 16px;
    height: 43px;
    background: #FF4868;
  }

  .buttonPaid {
    width: 137px;
    height: 32px;
    background: #084388;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    padding: 6px 24px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 4px;
    cursor: pointer;
  }

  .active {
    background-color: #87b9ff !important;
  }

  .buttonQR {
    width: 102px;
    height: 32px;
    align-items: center;
    padding: 6px 24px;
    background: #49D193;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 4px;
    cursor: pointer;
  }

  .buttonHold {
    align-items: center;
    padding: 6px 24px;
    width: 93px;
    height: 32px;
    background: #F39B13;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

  .scroll-floor::-webkit-scrollbar {
    width: 1em;
  }

  .scroll-floor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  .scroll-floor::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .tableTicket {
    position: absolute;
    width: -webkit-fill-available;
  }

  .flexcroll{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
  }

  /* Let's get this party started */
  .flexcroll::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  .flexcroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  /* Handle */
  .flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #CCE9FF;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
</style>