<template>
  <div class="row" v-if="trip" style="margin-bottom: 4px;padding-right:15px">
    <div class="col">
      <div v-if="!edit">
        <span style="background: #FFA26B;border-radius: 4px;font-size: 12px;line-height: 16px;color: #FFFFFF;font-weight: 600;font-family: Open Sans;padding: 3px;">Ghi chú chuyến:</span>
        &nbsp;<span v-html="$options.filters.stringBr(trip.note||'')"
                    style="font-family: Cabin;font-size: 16px;line-height: 16px;color: #0722FF"></span>
      </div>
      <textarea class="form-control form-control-sm" rows="2" v-model="noteTrip" v-if="edit"></textarea>
      <!--<input type="text" class="form-control form-control-sm">-->
      <div class="loader" v-if="loading"></div>
    </div>
    <div class="col-auto">
      <button class="btn btn-sm btn-primary" v-if="!edit" @click="editNote()"><i class="fa fa-edit"></i></button>
      <button class="btn btn-sm btn-success" v-if="edit" @click="doEditNote()"><i class="fa fa-check"></i></button>
      <button class="btn btn-sm btn-danger" v-if="edit" @click="cancelEditNote()"><i class="fa fa-times"></i></button>
      <button class="btn btn-sm btn-primary" @click="$refs.TripLogsComponent.view()"><i class="fa fa-history"></i></button>
      <button class="btn btn-sm btn-danger" @click="$emit('cancelTrip')" title="Hủy chuyến"><i
              class="fa fa-trash"></i></button>
    </div>
    <!--<div class="col-12">-->
      <!--<trip-logs ref="TripLogsComponent" :trip="tripClass" v-if="tripClass"></trip-logs>-->
    <!--</div>-->
  </div>
</template>
<script>
    // import TripLogs from './TripLogs';
    import {TripLOG} from '../../../class/trip';

    export default {
        props : ['trip'],
        components : {},
        data : function () {
            let self = this;
            return {
                edit : false,
                noteTrip : '',
                loading : false,
                tripClass : new Trip(self.trip)
            }
        },
        methods : {
            editNote : function () {
                let self = this;
                this.edit= true;
                this.noteTrip = _.cloneDeep(this.trip?this.trip.note:'');
                setTimeout(function () {
                    $(self.$el).find('input').focus();
                },200);
            },
            cancelEditNote : function () {
                this.edit= false;
            },
            doEditNote : function () {
                let self = this;
                this.edit= false;
                this.loading= true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data : {
                        tripId : self.trip.tripId,
                        note : self.noteTrip,
                    },
                    success: function (data) {
                        self.loading= false;
                    },
                    functionIfError : function (err) {
                        self.loading= false;
                    }
                })
            }
        },
        watch : {
            trip : {
                handler : function (n,o) {
                    if(n.tripId!==o.tripId){
                        this.tripClass = new Trip(n);
                    }
                },
                deep: true
            }
        }
    }
</script>