<template>
  <div v-loading="loadSeats.includes(seat.seatId)  ? true : false || listLoadOneTicket.includes(seat.seatId)  ? true : false || newSeatMap.includes(seat.seatId)  ? true : false" style="border-radius: 8px !important; margin: 2px!important;" :class="['seat__07',help.ticketInfo&&help.ticketInfo.printed?'seat-printed':'','seat__07__detail',seatClass,isSelectedSeat()||(help.ticketInfo&&isSelectedTicket(help.ticketInfo))?'selected':'',seat.seatType!==7&&ticketsMove.length>0&&allowMoveTo.allow?'move__07':'']"
       @click.stop.exact="help.ticketInfo?clickTicket(help.ticketInfo):clickSeat()"
       @click.ctrl.stop.exact="(help.ticketInfo)?selectAllByPhone(help.ticketInfo):selectAllByPhone()">
    <div class="w-100 heading-page text-center" style="font-size: 17px" v-if="seat.seatType==1||seat.seatType==2||seat.seatType==5||seat.seatType==6">{{seat.seatId}}</div>
    <div class="row">
      <div class="col">
        <div class="heading-page" style="font-size: 17px;margin-bottom: 1px;" v-if="seat.seatType==3||seat.seatType==4">
          <span class="cursor-pointer seatId" v-on:click.stop="$root.isAgency()?null:$emit('event',{eventName : 'history-seat',data : {tripId : trip.tripId,seatId: seat.seatId}})">{{seat.seatId}}</span>
        </div>
      </div>
      <div class="col-auto" v-if="help.ticketInfo&&showInfoTicket(help.ticketInfo)">
        <div style="text-align: center; margin-top: 2px; margin-bottom: 2px">
          <span class="customPhoneNumber" :style="{'font-size':'17px',background:$root.callStatus[help.ticketInfo.callStatus].background,color:$root.callStatus[help.ticketInfo.callStatus].color,border:'1px solid'}">
            {{help.ticketInfo.ordererPhoneNumber||help.ticketInfo.phoneNumber||'...'}}
          </span>
        </div>
      </div>
    </div>
    <div class="w-100" v-bind:class="[help.ticketInfo && help.ticketInfo.foreignKey ? 'mb70' : 'mb50', isSelectedTicket(help.ticketInfo) ? 'mb120': '', isSelectedSeat() ? 'mb90' : '']" v-if="seat.seatType==3||seat.seatType==4">
      <div class="w-100" v-if="help.ticketInfo&&showInfoTicket(help.ticketInfo)" style="font-weight: 500"
           :class="'ticket-'+help.ticketInfo.ticketId">
        <div class="w-100 heading-page" style="font-size: 14px !important;">{{help.ticketInfo.orderer||help.ticketInfo.fullName}}</div>
        <div class="row no-gutters"
             style="font-family: Cabin;font-size: 14px !important;line-height: 15px;color: #232731;">
          <div class="col-auto text-center" style=" width: 20px" :title="$root.pointTypeStyle[help.ticketInfo.pointUp.pointType||0].label">
            <i :class="[$root.pointTypeStyle[help.ticketInfo.pointUp.pointType||0].icon]"></i>
          </div>
          <div class="col" :title="help.ticketInfo.pointUp.address||help.ticketInfo.pointUp.name">{{help.ticketInfo.pointUp.pointType == 0 ? help.ticketInfo.pointUp.name : (help.ticketInfo.pointUp.address||help.ticketInfo.pointUp.name)|cutString(30)}}{{help.ticketInfo.pointUp.regionInfo && (help.ticketInfo.pointUp.pointType === 1||help.ticketInfo.pointUp.pointType === 2) ? ` - ${help.ticketInfo.pointUp.regionInfo.name}`: ''}}</div>
        </div>
        <div class="row no-gutters"
             style="font-family: Cabin;font-size: 14px !important;line-height: 15px;color: #232731;">
          <div class="col-auto text-center" style="width: 20px"
               :title="$root.pointTypeStyle[help.ticketInfo.pointDown.pointType||0].label"><i
                  :class="[$root.pointTypeStyle[help.ticketInfo.pointDown.pointType||0].icon]"></i>
          </div>
          <div class="col" :title="help.ticketInfo.pointDown.address||help.ticketInfo.pointDown.name">{{(help.ticketInfo.pointDown.address||help.ticketInfo.pointDown.name)|cutString(30)}}{{help.ticketInfo.pointDown.regionInfo && (help.ticketInfo.pointDown.pointType === 1||help.ticketInfo.pointDown.pointType === 2) ? ` - ${help.ticketInfo.pointDown.regionInfo.name}`: ''}}</div>
        </div>
        <div class="row no-gutters">
          <div class="col-auto">
            <i class="fa fa-check-circle" style="color: #00C48C"
               v-if="help.ticketInfo&&help.ticketInfo.ticketStatus==4"></i>
            <el-tooltip class="item" effect="dark" content="Phụ thu">
              <i class="fas fa-coins" style="color: #084388; font-size: 16px;"
                 v-if="help.ticketInfo&&help.ticketInfo.surcharges"></i>
            </el-tooltip>
            <i class="el-icon-s-ticket" style="color: red"
               v-if="help.ticketInfo&&help.ticketInfo.invoiceInfo"></i>
            <i class="fas fa-qrcode" style="color: #084388" v-if="help.ticketInfo&&help.ticketInfo.serviceSupporter&&help.ticketInfo.serviceSupporter == 13"></i>
            <i class="fa fa-print" style="color: #084388"
               v-if="help.ticketInfo&&help.ticketInfo.numberOfPrint"></i> {{ help.ticketInfo.numberOfPrint?help.ticketInfo.numberOfPrint : ''}}
            <i class="fa fa-ticket-alt" style="color: #084388"
               v-if="help.ticketInfo&&help.ticketInfo.numberOfPrintTemp"></i> {{ help.ticketInfo.numberOfPrintTemp?help.ticketInfo.numberOfPrintTemp : ''}}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col text-right"
               style="font-family: Cabin;font-weight: 600;font-size: 15px;line-height: 17px;color: #232731;">
            {{help.ticketInfo.ticketCode}}
          </div>
        </div>
        <div class="w-100" style="font-family: Cabin;font-size: 14px;line-height: 15px;color: #0722FF;" v-if="help.ticketInfo.note && help.ticketInfo.note !== '' ">
          *{{help.ticketInfo.note}}
        </div>
      </div>
      <div :style="{width: '100%',position :'absolute',bottom : '2px',display: 'contents'}"
           v-if="seat.seatType==3||seat.seatType==4">
        <div class="row no-gutters" v-if="help.ticketInfo&&showInfoTicket(help.ticketInfo)">
          <div class="col" style="margin-right: 5px;">
            <span class="paid-money">{{help.ticketInfo.paidMoney|number}}/</span><span class="agency-price">{{help.ticketInfo.agencyPrice|number}}</span>
          </div>
          <div class="col-auto text-right" v-if="help.ticketInfo.foreignKey" :title="help.ticketInfo.foreignKey" style="cursor: pointer">
            <span class="paid-money" style="color: red">{{help.ticketInfo.foreignKey|cutString(15)}}</span>
          </div>
          <div class="col text-right">
            <i class="fa fa-globe-asia" style="color: rgb(7, 44, 86);font-size: 16px;"
               v-if="help.ticketInfo&&help.ticketInfo.platform==2"></i>
            <i class="fa fa-mobile-alt" style="font-size: 22px;font-weight: 900;color: rgb(7, 44, 86);"
               v-if="help.ticketInfo&&(help.ticketInfo.platform==3||help.ticketInfo.platform==4)"></i>
            <count-down
                    style="color: #E62020;font-weight: 600;font-family: Cabin;font-size: 10px;line-height: 12px;"
                    :time="help.ticketInfo.overTime - new Date().getTime()"
                    v-if="help.ticketInfo&&help.ticketInfo.ticketStatus==2&&help.ticketInfo.overTime>0"
                    @end="$store.commit('Ticket09/UPDATE_SET_TRIPS')"></count-down>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col">
            <div class="progress" style="height:10px;">
              <template v-for="(pro,p) in help.progress">
                <div :class="['progress-barh',pro.background]" role="progressbar"
                     :style="{width:Math.round(pro.number*10000)/100/(route.listPoint.length-1)+'%'}"
                     :aria-valuenow="pro.number" aria-valuemin="0" aria-valuemax="100"
                     :title="pro.title"
                     style="margin: 1px;border-radius: 4px;"
                ></div>
              </template>
            </div>
          </div>
          <div class="col-auto text-center"
               style="width: 20px;line-height: 16px;font-weight: 600;font-family: Open Sans;font-size: 12px;top: -6px;height: 4px;">
            {{seat.tickets?seat.tickets.length:0}}
          </div>
        </div>
        <div class="row no-gutters" style="line-height: 14px;height: 14px;display: contents;">
          <div class="col" v-if="help.ticketInfo&&showInfoTicket(help.ticketInfo)">
                        <span style="font-weight: 600;font-family: Cabin;line-height: 12px;font-size: 10px;"
                              v-if="help.ticketInfo.seller">{{help.ticketInfo.seller.fullName}}</span>
            <span style="font-weight: 600;font-family: Cabin;line-height: 12px;font-size: 10px;"
            >/{{help.ticketInfo.room?help.ticketInfo.room.name:''}} - {{paymentTypeText}}</span>
          </div>
          <div class="col-auto" v-if="help.ticketInfo&&showInfoTicket(help.ticketInfo)">
                    <span style="font-weight: 600;font-family: Cabin;line-height: 12px;font-size: 10px;"
                          v-if="help.ticketInfo.agency">{{help.ticketInfo.agency.fullName}}</span>
          </div>
        </div>
        <div class="row no-gutters" style="line-height: 14px; margin-top: 4px;" v-if="isSelectedSeat() || isSelectedTicket(help.ticketInfo)">
            <span class="boxIcon"
                  v-on:click.stop="printTicket()"
                  v-if="!companyConfig.CONFIG.ONLY_PRINT_TICKET_WHEN_BOUGTH.value && isSelectedTicket(help.ticketInfo) || isSelectedTicket(help.ticketInfo) &&  companyConfig.CONFIG.ONLY_PRINT_TICKET_WHEN_BOUGTH.value && help.ticketInfo &&help.ticketInfo.ticketStatus===3"
            >
              <img  src="/public/images/IconPrint.png" alt="">
            </span>
            <!--<span class="boxIcon">-->
              <!--<img  src="/public/images/IconPhone.png" alt="">-->
            <!--</span>-->
            <span class="boxIcon"
                  v-on:click.stop="showFormSell()">
              <img  src="/public/images/IconEdit.png" alt="">
            </span>
            <!--<span class="boxIcon">-->
              <!--<img  src="/public/images/IconUnknow.png" alt="">-->
            <!--</span>-->
            <span class="boxIcon"
                  v-on:click.stop="moveTicket()"
                  v-if="isSelectedTicket(help.ticketInfo) && $root.roles.TICKET_UPDATE&&allowPastDaysToSellTicket&&lockTripAfterStart">
              <img  src="/public/images/IconMove.png" alt="">
            </span>
            <!--<span class="boxIcon">-->
              <!--<img  src="/public/images/IconList.png" alt="">-->
            <!--</span>-->
            <!--<span class="boxIcon">-->
              <!--<img  src="/public/images/IconETicket.png" alt="">-->
            <!--</span>-->
            <span class="boxIcon"
                  v-if="isSelectedTicket(help.ticketInfo) && $root.roles.TICKET_DELETE&&allowPastDaysToSellTicket&&lockTripAfterStart"
                  v-on:click.stop="$emit('event',
                  {
                    eventName :'cancel-ticket',
                    checkSanve : checkTicketFromSanVe(),
                  })"
            >
              <img  src="/public/images/IconDelete.png" alt="">
            </span>

        </div>
      </div>
      <!--<div style=";width: calc(100% + 4px);height: calc(100% + 4px);top: -2px;left: -2px;border-radius: 4px;color: #fff;z-index: 5"-->
           <!--v-if="help.ticketInfo&&isSelectedTicket(help.ticketInfo)">-->
        <!--<div style="width: 100%;height: 100%;position: relative;padding:8px 4px;text-align: center">-->
          <!--<div style="position: absolute;bottom:0;">-->
            <!--<el-dropdown class="btn-action-dropdown"-->
                         <!--@command="$store.dispatch('Ticket09/CHECK_TICKET',$event)">-->
              <!--<div class="el-dropdown-link">-->
                <!--{{$root.callStatus[help.ticketInfo.callStatus].name}} <i-->
                      <!--class="el-icon-arrow-down el-icon&#45;&#45;right"></i>-->
              <!--</div>-->
              <!--<el-dropdown-menu slot="dropdown">-->
                <!--<template v-for="(cs,c) in $root.callStatus">-->
                  <!--<el-dropdown-item :command="c"-->
                                    <!--:style="{background:$root.callStatus[c].background,color:$root.callStatus[c].color}">-->
                    <!--{{cs.name}}-->
                  <!--</el-dropdown-item>-->
                <!--</template>-->
              <!--</el-dropdown-menu>-->
            <!--</el-dropdown>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div v-if="isTripContract && (seat.seatType==3||seat.seatType==4) && !help.ticketInfo" style="text-align: center; font-weight: bold; color: #ff4868; font-size: 12px">Xe Hợp Đồng123</div>
    <div v-if="seat.seatType!==7&&ticketsMove.length>0||isLockedSeat" class="cursor-pointer">
      <div class="position-absolute" v-if="allowMoveTo.allow"
           style="width: 100%;height: 100%;z-index: 2;color: #084388;top:0;left:0;text-align: center;border-radius: 4px;background:rgba(255,255,255,0.5)"
           v-on:click.stop="$store.dispatch('Ticket09/DO_MOVE_TICKET',allowMoveTo.data)">
        <i class="fa fa-arrow-down" style="margin-top: 15px;font-size: 16px;"></i><br>
        <div style="font-weight: 500;font-size: 10px;line-height: 16px;font-family: Cabin;" :style="[help.ticketInfo ? {'color': 'red'} : {}]">
          {{help.ticketInfo ? "ĐỔI CHỖ" : "DI CHUYỂN SANG GHẾ NÀY"}}
        </div>
      </div>
      <div class="position-absolute" v-else
           style="width: 100%;height: 100%;z-index: 2;background: #fff;opacity: 0.4;top:0;left:0"
           v-on:click.stop></div>
      <div class="position-absolute" v-if="isLockedSeat"
           style="width: 100%;height: 100%;z-index: 2;background-color : rgba(35,39,49,0.7);top:0;left:0;border-radius: 4px;border: 2px solid #F39B13;"
           v-on:click.stop>
        <div class="w-100 text-center text-white" style="margin-top: 5px;font-size: 12px;font-family: Cabin">
          {{isLockedSeat.user.fullName}}
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-action" title="Mở khóa" style="width: 32px;height: 32px;"
                  @click="$store.dispatch('Ticket09/UN_LOCK_SEAT',isLockedSeat.user.id)"><i
                  class="fa fa-lock"></i></button>
        </div>
      </div>
    </div>
    <div class="position-absolute" v-if="lockInSeatMap"  style="width: 100%;height: 100%;z-index: 5;background: rgba(255, 255, 255,0.5);top:0;left:0" v-on:click.stop>
      <div class="w-100 text-center" style="margin-top: 25px;font-weight:bold">Ghế khóa</div>
    </div>
  </div>
</template>
<script>
    import {mapGetters, mapState} from 'vuex';
    import { Platform } from '../../../class/platform';

    export default {
        props: {
            seat: Object,
            isTripContract: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
                time: new Date().getTime(),
            }
        },
        mounted: function () {
            let self = this;
            setInterval(function () {
                self.time = new Date().getTime();
            }, 3000)
        },
        computed: {
            paymentTypeText: function() {
                if(this.help.ticketInfo.paymentType == 1) {
                    return "TTTT";
                }
                if(this.help.ticketInfo.paymentType == 2) {
                    return "TTTX";
                }
                if(this.help.ticketInfo.paymentType == 3) {
                    return "TTTMTQ";
                }
                if(this.help.ticketInfo.paymentType == 6) {
                    return "CK";
                }
            },
            ...mapState('Ticket09', {
                startPoint: state => state.startPoint,
                endPoint: state => state.endPoint,
                routes: state => state.routes,
                trip: state => state.trip,
                loadSeats: state => state.loadSeats,
                // indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected: state => state.ticketsSelected,
                ticketsSelectedType: state => state.ticketsSelectedType,
                lastPushTicketsSelected: state => state.lastPushTicketsSelected,
                ticketsMove: state => state.ticketsMove,
                showWay: state => state.showWay,
                showAllTicketInSeat: state => state.showAllTicketInSeat,
                listLoadOneTicket: state => state.listLoadOneTicket,
                newSeatMap: state => state.newSeatMap,
            }),
            ...mapState('Ticket09_2', {
                trip2: state => state.trip,
                ticketsSelected2: state => state.ticketsSelected,
            }),
            ...mapState({
                companyConfigData: state => state.CompanyConfig.companyConfigData,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ...mapGetters('Ticket09', [
                'mapRoutes',
                'allowPastDaysToSellTicket',
                'lockTripAfterStart'
            ]),
            ...mapGetters([
                'mapCompanyConfig'
            ]),
            ...mapState('LockSeat',{
                lockSeatState: state => state.lockSeatState,
            }),
            lockInSeatMap :function(){
                let result = false;
                try{
                    let thisSeat = this.seat;
                    let seatMapLock = this.lockSeatState[this.trip.seatMap.seatMapId];
                    if(seatMapLock){
                        let lockInSeat = seatMapLock.seatList.find( (seat) => seat.seatId == thisSeat.seatId);
                        if(lockInSeat&&(!this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().ADMIN)||this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().AGENCY))){
                            result=true;
                        }
                    }
                }catch(e){
                    console.warn(e);
                }finally{
                    return result;
                }
            },
            indexPointInRoute: function () {
                let mapRoutes = this.mapRoutes;
                let trip = this.trip;
                return mapRoutes[trip.route.id].mapPoints;
            },
            route: function () {
                return this.routes[this.mapRoutes[this.trip.route.id].index];
            },
            seatClass: function () {
                let c = 'duong__07';
                let seatType = this.seat.seatType;
                switch (seatType) {
                    case 1:
                        c = 'cua__07';
                        break;
                    case 2:
                        c = 'tai__07';
                        break;
                    case 3:
                        c = 'ghe__07';
                        break;
                    case 4:
                        c = 'ghe__07';
                        break;
                    case 5:
                        c = 'wc__07';
                        break;
                    case 6:
                        c = 'phu__07';
                        break;
                    case 7:
                        c = 'duong__07';
                        break;
                    default :
                        c = 'ghe__07';
                }
                return c;
            },
            isLockedSeat: function () {
                let data = null;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                let lockedSeat = this.trip._lockedSeat;
                let thisSeat = this.seat;
                let time = this.time;
                try {
                    if (lockedSeat) {
                        $.each(lockedSeat, function (l, lock) {
                            if(l!==userInfo.userInfo.id){
                                let inFromStartToEnd = !(indexPointInRoute[lock.startPointId].index > indexEndPoint - 1 || indexStartPoint > indexPointInRoute[lock.endPointId].index - 1);
                                $.each(lock.listSeat, function (s, seat) {
                                    if (seat.seatId === thisSeat.seatId && inFromStartToEnd && time < lock.time + 1200000) {//5phust
                                        data = lock;
                                        return false;
                                    }
                                });
                                if (data) {
                                    return false;
                                }
                            }
                        })
                    }
                } catch (e) {
                    console.warn(e)
                }

                return data;
            },
            ticketExample: function () {
                let seat = this.seat;
                return {
                    id: func.makeId(),
                    seat: {
                        seatId: seat.seatId,
                        floor: seat.floor,
                        row: seat.row,
                        column: seat.column,
                        extraPrice: seat.extraPrice,
                        seatType: seat.seatType,
                    },
                    fullName: '',
                    phoneNumber: '',
                    birthday: '',
                }
            },
            help: function () {
                let self = this;
                let allowSell = true;
                let open = false;
                let progress = [];
                let ticketInfo = null;

                let tickets = this.seat.tickets;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                let indexProgress = 0;
                let colors = ['#8E44AD', '#F1C40F', '#D35400', '#E74C3C'];
                try{
                    if (tickets && tickets.length > 0) {
                        $.each(tickets, function (t, ticket) {
                            let indexPointUp = indexPointInRoute[ticket.pointUp.id].index;
                            let indexPointDown = indexPointInRoute[ticket.pointDown.id].index;
                            if (!(indexPointUp > indexEndPoint - 1 || indexStartPoint > indexPointDown - 1)) {
                                allowSell = false;
                                if (!ticketInfo) {
                                    ticketInfo = ticket;
                                }
                            }

                            if (self.isSelectedTicket(ticket)) {
                                open = true;
                            }

                            if (indexPointInRoute[ticket.pointUp.id].index > indexProgress) {
                                progress.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: (indexPointInRoute[ticket.pointUp.id].index - indexProgress),
                                    indexStart: indexProgress,
                                    indexEnd: indexPointInRoute[ticket.pointUp.id].index
                                });
                            }
                            progress.push({
                                type: 'full',
                                background: ticket.paidMoney >= ticket.agencyPrice ? 'bg-anvui' : 'bg-giucho',
                                color: colors[(t % colors.length)],
                                number: indexPointInRoute[ticket.pointDown.id].index - indexPointInRoute[ticket.pointUp.id].index,
                                ticketId: ticket.ticketId,
                                indexStart: indexPointInRoute[ticket.pointUp.id].index,
                                indexEnd: indexPointInRoute[ticket.pointDown.id].index
                            });
                            indexProgress = indexPointInRoute[ticket.pointDown.id].index;
                            if (t == tickets.length - 1) {
                                if (indexProgress < Object.keys(indexPointInRoute).length - 1) {
                                    progress.push({
                                        type: 'empty',
                                        color: '#CACFD2',
                                        background: 'bg-e',
                                        number: (Object.keys(indexPointInRoute).length - 1 - indexProgress),
                                        indexStart: indexProgress,
                                        indexEnd: (Object.keys(indexPointInRoute).length - 1)
                                    });
                                }
                            }
                        });
                    } else {
                        progress.push({
                            type: 'empty',
                            color: '#CACFD2',
                            background: 'bg-e',
                            number: (Object.keys(indexPointInRoute).length - 1),
                            indexStart: 0,
                            indexEnd: (Object.keys(indexPointInRoute).length - 1)
                        })
                    }
                }catch(e){
                    console.warn(e,tickets,this.route)
                }

                let progressReturn = [];
                if (allowSell) {
                    $.each(progress, function (p, pro) {
                        if (pro.type == 'empty' && pro.indexStart <= indexStartPoint && pro.indexEnd >= indexEndPoint) {
                            if (pro.indexStart < indexStartPoint) {
                                progressReturn.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: indexStartPoint - pro.indexStart,
                                    indexStart: pro.indexStart,
                                    indexEnd: indexStartPoint,
                                });
                            }
                            progressReturn.push({
                                type: 'choose',
                                color: '#48C9B0',
                                background: 'bg-success',
                                number: indexEndPoint - indexStartPoint,
                                indexStart: indexStartPoint,
                                indexEnd: indexEndPoint,
                            });
                            if (indexEndPoint < pro.indexEnd) {
                                progressReturn.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: pro.indexEnd - indexEndPoint,
                                    indexStart: indexEndPoint,
                                    indexEnd: pro.indexEnd,
                                });
                            }
                        } else {
                            progressReturn.push(pro);
                        }
                    })
                } else {
                    progressReturn = progress;
                }
                return {
                    progress: progressReturn,
                    allowSell: allowSell,
                    openAction: open,
                    tickets: tickets,
                    ticketInfo: ticketInfo,
                    ticketInfoStatus: func.checkTicketStatus(ticketInfo),
                }
            },
            allowSell: function () {
                let allow = true;
                let tickets = this.seat.tickets;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                if (this.seat.seatType !== 3 && this.seat.seatType !== 4) {
                    allow = false;
                    return false;
                }
                $.each(tickets, function (t, ticket) {
                    let indexPointUp = indexPointInRoute[ticket.pointUp.id].index;
                    let indexPointDown = indexPointInRoute[ticket.pointDown.id].index;
                    if (!(indexPointUp > indexEndPoint - 1 || indexStartPoint > indexPointDown - 1)) {
                        allow = false;
                    }
                });
                return allow;
            },
            openAction: function () {
                let self = this;
                let open = false;
                let tickets = this.seat.tickets;
                $.each(tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        open = true;
                    }
                });
                return open;
            },
            openActionSell: function () {
                if (this.ticketsSelectedType == 0 && this.isSelectedSeat()) {
                    return true;
                }
                return false
            },
            allowMoveTo: function () {
                let canMove = true;
                let ticketSwap = null;
                let ticketsMove = this.ticketsMove;
                let indexPointInRoute = this.indexPointInRoute;
                if (ticketsMove.length <= 0) {
                    return false;
                }
                let seat = this.seat;
                if (seat.seatType !== 3 && seat.seatType !== 4) {
                    return false;
                }
                let ticketM = this.ticketsMove[0];
                let idUpDown = {
                    up: ticketM.pointUp.id,
                    down: ticketM.pointDown.id,
                }
                if (this.route.routeId !== ticketM.routeInfo.id) {
                    idUpDown.up = this.startPoint.id;
                    idUpDown.down = this.endPoint.id;
                }
                if (seat.tickets && seat.tickets.length > 0) {
                    $.each(seat.tickets, function (t, ticket) {
                        if (!(indexPointInRoute[ticket.pointUp.id].index > indexPointInRoute[idUpDown.down].index - 1 || indexPointInRoute[ticket.pointDown.id].index - 1 < indexPointInRoute[idUpDown.up].index)) {
                            // canMove = false;
                            ticketSwap = _.cloneDeep(ticket)
                            return false;
                        }
                    })
                }
                let data = _.cloneDeep(this.seat);
                data.ticketSwap = ticketSwap;
                return {
                    allow : canMove,
                    data : data
                };
                // if(canMove){
                //     this.doMoveSeat();
                // }else{
                //     notify(self.$t('this-position-has-ticket'));
                // }
                // return false;
            }
        },
        methods: {
            checkTicketFromSanVe: function () {
                let idSanVe = "SVU" + userInfo.userInfo.companyId;
                let result = false;
                this.ticketsSelected.forEach((element) => {
                    if (
                        element.agency &&
                        element.agency.id &&
                        element.agency.id === idSanVe
                    ) {
                        result = true;
                        return false;
                    }
                });
                return result;
            },
            showFormSell: function () {
              this.$store.dispatch('Ticket09/SHOW_FORM_SELL', true);
            },
            moveTicket: function () {
                this.$emit('event',{eventName :'move-ticket'})
            },
            printTicket: function () {
                this.$emit('event',{eventName :'print-ticket'})
            },
            showInfoTicket: function (ticketInfo) {
                let show = true;
                if (this.$root.isAgency() && ticketInfo) {
                    if (ticketInfo.agency) {
                        if (ticketInfo.agency.id !== userInfo.userInfo.id) {
                            show = false;
                        }
                    } else {
                        show = false;
                    }
                }
                return show;
            },
            isSelectedTicket: function (ticket) {
                let self = this;
                if (self.ticketsSelectedType == 0) {
                    return false;
                }
                let selected = false;
                if(ticket) {
                    $.each(self.ticketsSelected, function (t, tk) {
                        if (ticket.ticketId == tk.ticketId) {
                            selected = true;
                            return false;
                        }
                    });
                }
                return selected;
            },
            isSelectedSeat: function (ticket) {
                let self = this;
                if (self.ticketsSelectedType == 1) {
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected, function (t, tk) {
                    if (self.ticketExample.seat.seatId == tk.seat.seatId) {
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            clickTicket: function (ticket) {
                if (this.ticketsSelected2 && this.ticketsSelected2.length > 0) {
                    this.$store.dispatch('Ticket09_2/UN_SELECTED');
                    // this.$store.dispatch('Ticket09_2/SHOW_FORM_SELL', false);
                }
                if (this.showInfoTicket(ticket)) {
                    if (this.isSelectedTicket(ticket)) {
                        this.$store.dispatch('Ticket09/UN_PUSH_UPDATE_TICKET', ticket);
                    } else {
                        this.$store.dispatch('Ticket09/PUSH_UPDATE_TICKET', ticket);
                    }
                }
            },
            clickSeat: function () {
                if (this.ticketsSelected2 && this.ticketsSelected2.length > 0) {
                    let checkHaveTicket = false
                    $.each(this.ticketsSelected2, function (t, ticket) {
                        if(ticket.ticketId){
                            checkHaveTicket = true
                        }
                    })
                    if(checkHaveTicket){
                        this.$store.dispatch('Ticket09_2/UN_SELECTED');
                    }
                    // this.$store.dispatch('Ticket09/SHOW_FORM_SELL', false);
                }
                let lock_action_after_departed = this.companyConfig.CONFIG.LOCK_ACTION_AFTER_DEPARTED.value;
                console.log(lock_action_after_departed);
                if(!!lock_action_after_departed) {
                    if (this.allowSell && (this.seat.seatType == 3 || this.seat.seatType == 4) && this.allowPastDaysToSellTicket) {
                        if (this.isSelectedSeat(this.ticketExample)) {
                            console.log('UN_PUSH_SELL_TICKET')
                            this.$store.dispatch('Ticket09/UN_PUSH_SELL_TICKET', this.ticketExample);
                        } else {
                            console.log('PUSH_SELL_TICKET')
                            this.$store.dispatch('Ticket09/PUSH_SELL_TICKET', this.ticketExample);
                        }
                    } else {
                        this.$store.dispatch('Ticket09/UN_SELECTED');
                    }
                } else {
                    if (this.allowSell && (this.seat.seatType == 3 || this.seat.seatType == 4) && this.allowPastDaysToSellTicket  && this.lockTripAfterStart) {
                        if (this.isSelectedSeat(this.ticketExample)) {
                            this.$store.dispatch('Ticket09/UN_PUSH_SELL_TICKET', this.ticketExample);
                        } else {
                            this.$store.dispatch('Ticket09/PUSH_SELL_TICKET', this.ticketExample);
                        }
                    } else {
                        this.$store.dispatch('Ticket09/UN_SELECTED');
                    }
                }
                // if (this.allowSell && (this.seat.seatType == 3 || this.seat.seatType == 4) && this.allowPastDaysToSellTicket) {
                //     if (this.isSelectedSeat(this.ticketExample)) {
                //         this.$store.dispatch('Ticket09/UN_PUSH_SELL_TICKET', this.ticketExample);
                //     } else {
                //         this.$store.dispatch('Ticket09/PUSH_SELL_TICKET', this.ticketExample);
                //     }
                // } else {
                //     this.$store.dispatch('Ticket09/UN_SELECTED');
                // }
            },
            // dblClickSeat : function () {
            //     console.log(0);
            // },
            callToPhone: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$root.$emit('telecom', {event: 'CALL_TO_PHONE', phoneNumber: ticket.phoneNumber});
                        return false;
                    }
                })
            },
            copyTicket: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$store.commit('SET_TICKET_SAMPLE', ticket);
                        return false;
                    }
                })
            },
            historyTicket: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$emit('event', {eventName: 'history-ticket', data: ticket.ticketId})
                        return false;
                    }
                })
            },
            openDropdown: function (event) {
                $(this.$el).find('.dropdown-menu').toggle();
            },
            isTicketRelated: function (_ticket) {
                let tickets = this.ticketsSelected;
                let type = this.ticketsSelectedType;
                let related = false;
                if (type == 1 && tickets) {
                    $.each(tickets, function (t, ticket) {
                        if (_ticket.phoneNumber === ticket.phoneNumber) {
                            related = true;
                            return false;
                        }
                    })
                }
                return related;
            },
            selectAllByPhone: function (ticket) {
                if (!ticket) {
                    if ($('.seat-selected.seat-allow-sell').length === $('.seat-allow-sell').length) {
                        $('.seat-allow-sell').click();
                    } else {
                        $('.seat-allow-sell').not('.seat-selected').click();
                    }
                } else {
                    this.$store.dispatch('Ticket09/UN_SELECTED');
                    this.$store.commit('Ticket09/SET_TICKETS_SELECTED', [ticket]);
                }
            }
        },
    }
</script>
<style scoped>
  .boxIcon{
    background: #CCE9FF;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    margin-left: 4px;
  }
  .boxIcon:hover{
    background: #87b9ff;
  }
  .mb70{
    /*margin-bottom: 70px !important;*/
  }
  .mb50{
    margin-bottom: 8px !important;
  }
  .mb90{
    /*margin-bottom: 90px !important;*/
  }
  .mb120{
    /*margin-bottom: 110px !important;*/
  }
  .ticket-item:hover {
    background: #ddd
  }
  .progress-barh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #B0B5C1;
    transition: width 0.6s ease;
  }
  .seatNew07{
    background: #fff;
    width: 99px;
    margin: 2px;
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 8px;
    position: relative;
    min-height: 69px;
    height: calc(100% - 8px);
  }
  .customPhoneNumber {
    background: #3747A8;
    border-radius: 4px;
    padding: 3px 4px;
    text-align: center;
    line-height: 17px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    width: 95%;
    height: 22px;
  }
  .seatId {
    width: 46px;
    height: 17px;
    left: 4px;
    top: 4px;

    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */


    /* Grayscale/Dark */

    color: #232731;
  }
</style>
