<template>
    <span>
        <span class="text-edit" title="click để sửa" v-if="!editFlag" @click="edit()">
            <span v-if="!loading&&trip.drivers&&trip.drivers.length>0" style="color: #174785">
                <template v-for="driver in trip.drivers">
                    {{driver.fullName}} <span title="Gọi cho tài xế"
                                              @click.stop="$root.$emit('telecom',{event :'CALL_TO_PHONE',phoneNumber : '0'+driver.phoneNumber})"
                                              class="cursor-pointer">(0{{driver.phoneNumber}})</span>
                </template>
            </span>
            <span v-else>Đang cập nhật</span>
        </span>
        <select-user :value="dataEdit" @input="doEdit($event)" :multiple="true" v-if="editFlag" class="edit-user-trip" style="min-width: 80px;width: 138px;"
                     :user-type="[2]"></select-user>
        <button class="btn btn-danger" v-if="editFlag" @click="cancelEdit()"><i class="fa fa-times"></i></button>
    </span>
</template>
<script>
    import SelectUser from '../../User/SelectUser';

    export default {
        props: ['trip'],
        components: {SelectUser},
        data: function () {
            let self = this;
            return {
                editFlag: false,
                dataEdit: null,
                loading: false,
            }
        },
        methods: {
            edit: function () {
                let self = this;
                this.editFlag = true;
                this.dataEdit = _.cloneDeep(this.trip ? this.trip.drivers : null);
                setTimeout(function () {
                    $(self.$el).find('.edit-user-trip').find('.el-open-close').click();
                    // $(self.$el).find('.edit-vehicle-trip').find('.dropdown-q-input-search').focusout(function () {
                    //     self.cancelEdit();
                    // });
                }, 300);
            },
            cancelEdit: function () {
                this.editFlag = false;
            },
            doEdit: function (drivers) {
                let self = this;
                this.editFlag = false;
                this.loading = true;
                let params = {
                    tripId: self.trip.tripId,
                }
                let listDriver = [];
                if (drivers) {
                    $.each(drivers, function (d, driver) {
                        let drv = {
                            id: driver.id,
                            fullName: driver.fullName
                        }
                        listDriver.push(drv);
                    })
                }
                params.drivers = listDriver;

                sendJson({
                    url: urlDBD(API.tripManage),
                    data: params,
                    success: function (data) {
                        self.loading = false;
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                    }
                })
            }
        }
    }
</script>
<style>
  .text-edit {
    position: relative;
    border: 1px dotted transparent;
  }

  .text-edit:hover {
    border: 1px dotted #aaa;
  }
</style>