<template>
    <div class="row">
        <div class="col-12">
            <div class="padding5 border bg-white">
                <div class="row no-gutters">
                    <div class="col-12 col-md">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                Hãy chọn tài xế &nbsp;
                            </div>
                            <div class="col-auto">
                                <select2user :multiple="false" inputClass="multiple-sm" placeholder="Chọn tài xế" :userType="[2]" v-model="driver"></select2user>
                            </div>
                            <div class="col-auto">
                                &nbsp; và click vào ô bạn muốn gán tài xế.
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-primary" @click="save()"><i class="fa fa-save"></i> Lưu danh sách trung chuyển</button>&nbsp;
                    </div>
                    <!--<div class="col-auto">-->
                        <!--<button class="btn btn-sm btn-outline-primary" @click="print()"><i class="fa fa-print"></i> In danh sách trung chuyển</button>&nbsp;-->
                    <!--</div>-->
                    <div class="col-auto">
                        <select v-model="sortType" @change="sort()" class="form-control form-control-sm">
                            <option value="PointUp">Sắp xếp theo điểm lên</option>
                            <option value="PointDown">Sắp xếp theo diểm xuống</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <div class="content-row print">
                <print-header></print-header>
                <div style="" class="text-center size20">DANH SÁCH HÀNH KHÁCH</div>
                <div class="row">
                    <div class="col-3 text-right">Tuyến</div>
                    <div class="col-3">{{ trip.route.name }}</div>
                    <div class="col-3 text-right">Tài xế</div>
                    <div class="col-3">
                        <span class="top5" v-if="!$root.isAgency()">Tài xế :
                            <template v-for="driver in trip.drivers">
                                <strong>{{driver.fullName}} (+84{{driver.phoneNumber}})</strong>,
                            </template>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">Biển số</div>
                    <div class="col-3"><span v-if="trip.vehicle">{{ trip.vehicle.numberPlate||'&nbsp;' }}</span></div>
                    <div class="col-3 text-right">Phụ xe</div>
                    <div class="col-3">
                        <span class="top5" v-if="!$root.isAgency()">Phụ xe :
                            <template v-for="ass in trip.assistants">
                                <strong>{{ass.fullName}} (+84{{ass.phoneNumber}})</strong>,
                            </template>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">Giờ chạy</div>
                    <div class="col-3">{{ trip.startTime|customDate('#hhhh#:#mm#',true) }}</div>
                    <div class="col-3 text-right">Số ghế</div>
                    <div class="col-3" v-if="trip.ticketsInSeatMap">{{ trip.ticketsInSeatMap.length }}</div>
                </div>
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Mã vé</th>
                        <th>Hành khách</th>
                        <th>SDT</th>
                        <th>Điểm lên</th>
                        <th>Điểm trả</th>
                        <th>Tài xế đón</th>
                        <th>Tài xế trả</th>
                    </tr>
                    <tr v-if="ticketsSort&&ticketsSort.length<=0">
                        <td colspan="8" class="text-center">Không có dữ liệu</td>
                    </tr>
                    </thead>
                    <draggable :list="ticketsSort" tag="tbody">
                        <template v-for="(ticket,t) in ticketsSort">
                            <tr :key="ticket.ticketId">
                                <td class="text-center"><i class="fa fa-arrows-alt"></i> {{t+1}}</td>
                                <td>{{ticket.ticketCode}}</td>
                                <td>{{ticket.fullName}}</td>
                                <td>{{ticket.phoneNumber|phoneNumber}}</td>
                                <td>{{ticket.pointUp.address}}</td>
                                <td>{{ticket.pointDown.address}}</td>
                                <td title="click để gán tài xế đã chọn vào đây" class="hover-bg-e cursor-pointer" @click="setDriver(t,'pointUp')"><span v-if="ticket.pointUp.transshipmentDriver" :class="ticket.pointUp.completedTransshipment?'text-success':''">{{ticket.pointUp.transshipmentDriver.fullName}}</span></td>
                                <td title="click để gán tài xế đã chọn vào đây" class="hover-bg-e cursor-pointer" @click="setDriver(t,'pointDown')"><span v-if="ticket.pointDown.transshipmentDriver":class="ticket.pointDown.completedTransshipment?'text-success':''">{{ticket.pointDown.transshipmentDriver.fullName}}</span></td>
                            </tr>
                        </template>
                    </draggable>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    import printHeader from '../../Print/Header.vue';
    export default {
        components : {printHeader},
        props : {
            trip : {
                required : true,
                type : [Object],
                default : null
            },
            route : {
                required : true,
                type : [Object],
            },
        },
        data : function () {
            return {
                tickets : null,
                ticketsSort : null,
                sortType : 'PointUp',
                driver : null,
            }
        },
        mounted : function(){
            this.tickets = this.getTicketsFromTrip(this.trip);
            this.sort();
        },
        methods : {
            sort : function () {
                let self = this;
                let listTicketsByPointUp = {};
                let listTicketsByPointDown = {};
                let sortByPointUp =[];
                let sortByPointDown =[];

                $.each(self.tickets,function (t,tk) {
                    let ticket =_.cloneDeep(tk);
                    if(ticket.pointUp.pointType == 3||ticket.pointUp.pointType == 1||ticket.pointDown.pointType == 1||ticket.pointDown.pointType == 3){ // nếu là đón trung chuyển hoặc tại nhà
                        if(!ticket.pointUp.transshipmentDriver){
                            ticket.pointUp.transshipmentDriver = null;
                        }
                        if(!ticket.pointDown.transshipmentDriver){
                            ticket.pointDown.transshipmentDriver = null;
                        }

                        if(listTicketsByPointUp[ticket.pointUp.id]){
                            listTicketsByPointUp[ticket.pointUp.id].push(ticket);
                        }else{
                            listTicketsByPointUp[ticket.pointUp.id] = [ticket];
                        }

                        if(listTicketsByPointDown[ticket.pointDown.id]){
                            listTicketsByPointDown[ticket.pointDown.id].push(ticket);
                        }else{
                            listTicketsByPointDown[ticket.pointDown.id] = [ticket];
                        }
                    }
                });
                $.each(self.route.listPoint,function (p,point) {
                    if(listTicketsByPointUp[point.id]){
                        $.each(listTicketsByPointUp[point.id],function (t,ticket) {
                            sortByPointUp.push(ticket);
                        })
                    }
                    if(listTicketsByPointDown[point.id]){
                        $.each(listTicketsByPointDown[point.id],function (t,ticket) {
                            sortByPointDown.push(ticket);
                        })
                    }
                });

                self.ticketsSort = self.sortType==='PointUp'? sortByPointUp : sortByPointDown;
            },
            print : function(){
                $(this.$el).find('.print').printThis();
            },
            save : function () {
                let self = this;
                let param = [];
                $.each(self.ticketsSort,function (t, ticket) {
                    let data = {ticketId : ticket.ticketId};
                    if(!ticket.pointUp.completedTransshipment){
                        data.pointUp = ticket.pointUp
                    }
                    if(!ticket.pointDown.completedTransshipment){
                        data.pointDown = ticket.pointDown
                    }
                    if(ticket.pointUp||ticket.pointDown){
                        param.push(data);
                    }
                });
                self.load("assignTransshipmentDriver");
                sendJson({
                    url : urlDBD(API.ticketUpdate),
                    data : param,
                    success : function () {
                        self.unload("assignTransshipmentDriver");
                        notify("Lưu thành công","success");
                    },
                    functionIfError : function () {
                        self.unload("assignTransshipmentDriver");
                    }
                })
            },
            setDriver : function (index,field) {
                let self = this;
                let driver = _.cloneDeep(self.driver);
                if(self.ticketsSort[index][field].completedTransshipment){
                    notify("Tài xế này đã đón khách",'error');
                    return false;
                }
                if(driver){
                    self.ticketsSort[index][field].transshipmentDriver = {
                        id : driver.id,
                        fullName : driver.fullName,
                        phoneNumber : driver.phoneNumber
                    }
                }else{
                    self.ticketsSort[index][field].transshipmentDriver = null;
                }
            },
            getTicketsFromTrip : function (_trip) {
                let tickets = _.cloneDeep(_trip.ticketsInSeatMap)||[];
                $.each(_trip.ticketsNotSeat,function (t,ticket) {
                    tickets.push(_.cloneDeep(ticket));
                });
                return tickets;
            }
        },
        watch : {
            trip  :{
                handler : function (newVal,oldVal) {
                    this.tickets = this.getTicketsFromTrip(newVal);
                    this.sort();
                },
                deep:true
            }
        }
    }
</script>