<template>
    <!--<div :class="[!showWay&&seat.seatType!==3&&seat.seatType!==4?'d-none':'col-md','col-xs-12']" :key="'f-'+f+'r-'+r+'c'+c">-->
        <div :style="{'background':!showAllTicketInSeat&&help.ticketInfo&&help.ticketInfo.printed?'#bdbdbd':''}" :class="['seat',seatClass,isSelectedSeat()||(!showAllTicketInSeat&&help.ticketInfo&&isSelectedTicket(help.ticketInfo))?'seat-selected':(help.ticketInfo&&isTicketRelated(help.ticketInfo)&&!showAllTicketInSeat?'seat-related':''),'position-relative',(seat.seatType==3||seat.seatType==4) && help.allowSell && !isLockedSeat? 'seat-allow-sell':!showAllTicketInSeat&&help.ticketInfo?'seat-phone-'+help.ticketInfo.phoneNumber:'']" @click.stop.exact="!showAllTicketInSeat&&help.ticketInfo?clickTicket(help.ticketInfo):clickSeat()"  @click.ctrl.stop.exact="(!showAllTicketInSeat&&help.ticketInfo)?selectAllByPhone(help.ticketInfo):selectAllByPhone()">
            <template v-if="seat.seatType!==7">
                <div class="row no-gutters">
                    <div class="col">
                        <strong :class="[help.ticketInfoStatus.seatColor,'cursor-pointer']" style="font-size: 1rem" v-on:click.stop="$emit('event',{eventName : 'history-seat',data : {tripId : trip.tripId,seatId: seat.seatId}})">{{ seat.seatId }}</strong>
                    </div>
                    <div class="col-auto" v-if="seat.tickets&&!$root.isAgency()&&!showAllTicketInSeat">
                        <span class="badge badge-secondary pointer" v-on:click.stop="$emit('event',{eventName :'show-list-ticket'})" v-if="!help.ticketInfo&&seat.tickets.length>0" style="cursor:pointer">
                            {{ seat.tickets.length }}
                        </span>
                        <span class="badge badge-secondary pointer" v-on:click.stop="$emit('event',{eventName :'show-list-ticket'})" v-if="help.ticketInfo&&seat.tickets.length>1" style="cursor:pointer">
                            {{ seat.tickets.length }}
                        </span>
                    </div>
                    <div class="col-auto" v-if="(seat.seatType==3||seat.seatType==4) && help.allowSell && openActionSell">
                        &nbsp;<button :class="['btn' ,'btn-outline-primary','btn-sm']" v-if="$root.roles.TICKET_CREATE&&allowPastDaysToSellTicket&&lockTripAfterStart" v-on:click.stop="$emit('event',{eventName : 'sell-ticket'})"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="col-auto" v-if="!showAllTicketInSeat&&help.ticketInfo&&showInfoTicket(help.ticketInfo)">
                        <span :style="{background:$root.callStatus[help.ticketInfo.callStatus].background,color:$root.callStatus[help.ticketInfo.callStatus].color}" class="phoneNumber">{{help.ticketInfo.phoneNumber||'no number'}}</span>
                    </div>
                </div>
                <template v-if="showAllTicketInSeat">
                    <template v-for="(ticket,t) in seat.tickets">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <div  v-if="!showInfoTicket(ticket)">
                                    có vé
                                </div>
                                <div v-else :class="['border', 'cursor-pointer','top5',isSelectedTicket(ticket)?'border-danger ticket-selected':(isTicketRelated(ticket)?'ticket-related':''),'ticket-item',ticket.printed?'bg-a':'','seat-phone-'+ticket.phoneNumber,'ticket-'+ticket.ticketId]" :style="{padding : '0 5px','border-radius': '5px'}" @click.stop.exact="clickTicket(ticket)"  @click.ctrl.stop.exact="selectAllByPhone(ticket)">
                                    <span :style="{background:$root.callStatus[ticket.callStatus].background,color:$root.callStatus[ticket.callStatus].color}">{{ticket.phoneNumber||'no number'}}</span> - {{ticket.fullName}}<br>
                                    <span :style="{'font-weight': $root.pointTypeStyle[ticket.pointUp.pointType]['font-weight'],'color': $root.pointTypeStyle[ticket.pointUp.pointType].color }" :title="ticket.pointUp.address">{{ticket.pointUp.address|cutString(30)}}</span> <i class="fa fa-arrow-right"></i> <span  :style="{'font-weight': $root.pointTypeStyle[ticket.pointDown.pointType]['font-weight'],'color': $root.pointTypeStyle[ticket.pointDown.pointType].color }" :title="ticket.pointDown.address">{{ticket.pointDown.address|cutString(30)}}</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </template>
                <template v-else>
                    <div class="row" v-if="help.ticketInfo&&showInfoTicket(help.ticketInfo)">
                        <div class="w-100">
                            <div :class="['col-12','ticket-'+help.ticketInfo.ticketId]">
                                <b>{{ help.ticketInfo.fullName }}</b>
                                <span title="Đã trả / Tiền vé"><span class="text-anvui font-weight-bold">{{ help.ticketInfo.paidMoney|number }}</span>/{{ help.ticketInfo.agencyPrice|number }}</span>
                            </div>
                            <div class="col-12" style="line-height: 15px;font-size: 12px;">
                                <b class="text-success" v-if="help.ticketInfo.agency">{{help.ticketInfo.agency.fullName}}</b> / <span v-if="help.ticketInfo.seller">{{help.ticketInfo.seller.fullName}} / {{help.ticketInfo.cashierName}}</span>
                            </div>
                            <div class="col-12 text-right" style="line-height: 15px;font-size: 13px;">
                                <p class="no-margin" :title="help.ticketInfo.pointUp.address"  :style="{'font-weight': $root.pointTypeStyle[help.ticketInfo.pointUp.pointType]['font-weight'],'color': $root.pointTypeStyle[help.ticketInfo.pointUp.pointType].color }"><i class="fa fa-arrow-up"></i> {{ (help.ticketInfo.pointUp.address||help.ticketInfo.pointUp.name||'')|cutString(30) }}</p>
                                <p class="no-margin" :title="help.ticketInfo.pointDown.address"  :style="{'font-weight': $root.pointTypeStyle[help.ticketInfo.pointDown.pointType]['font-weight'],'color': $root.pointTypeStyle[help.ticketInfo.pointDown.pointType].color }">{{ (help.ticketInfo.pointDown.address||help.ticketInfo.pointDown.name||'')|cutString(30) }} <i class="fa fa-arrow-down"></i></p>
                            </div>
                            <div :class="['col-12', 'text-right','font-weight-bold',help.ticketInfoStatus.seatColor]"><count-down class="float-left" :time="help.ticketInfo.overTime - new Date().getTime()" v-if="help.ticketInfo&&help.ticketInfo.ticketStatus==2&&help.ticketInfo.overTime>0" @end="$store.commit('Ticket05/UPDATE_SET_TRIPS')"></count-down>
                                <!--@end="$root.$emit('mainTicket',{eventName :'orderTicket'})"-->
                                <i class="fa fa-globe-asia" v-if="help.ticketInfo&&help.ticketInfo.platform==2"></i>
                                <i class="fa fa-mobile-alt" v-if="help.ticketInfo&&(help.ticketInfo.platform==3||help.ticketInfo.platform==4)"></i> &nbsp;
                                {{ help.ticketInfo.ticketCode }}
                            </div>
                            <div class="col-12 text-center text-danger" style="line-height: 15px;" :class="'seat-ticket-id-'+help.ticketInfo.ticketId">{{ help.ticketInfo.note }}</div>
                        </div>
                    </div>
                </template>
            </template>
            <div class="action" v-if="help.openAction">
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('print-ticket')"  v-on:click.stop="$emit('event',{eventName :'print-ticket'})"><i class="fa fa-print"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('print-temp-ticket')"  v-on:click.stop="$emit('event',{eventName :'print-ticket-temp'})"><i class="fa fa-ticket-alt"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('call-to-customer')" v-on:click.stop="callToPhone()"><i class="fa fa-phone"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('edit-ticket')" v-on:click.stop="$emit('event',{eventName :'update-ticket'})"  v-if="$root.roles.TICKET_UPDATE&&allowPastDaysToSellTicket&&lockTripAfterStart"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('copy-ticket')" v-on:click.stop="copyTicket()" v-if="$root.roles.TICKET_UPDATE&&allowPastDaysToSellTicket&&lockTripAfterStart"><i class="fa fa-copy"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('tranfer-ticket')" v-if="$root.roles.TICKET_UPDATE&&allowPastDaysToSellTicket&&lockTripAfterStart" v-on:click.stop="$emit('event',{eventName :'move-ticket'})"><i class="fa fa-arrows-alt"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('history-ticket')" v-on:click.stop="historyTicket()"><i class="fa fa-history"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" :title="$t('list-ticket')" v-on:click.stop="$emit('event',{eventName :'show-list-ticket'})" v-if="allowPastDaysToSellTicket&&lockTripAfterStart"><i class="fa fa-list"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" v-if="$root.roles.TICKET_UPDATE&&allowPastDaysToSellTicket&&lockTripAfterStart" v-on:click.stop="$emit('event',{eventName :'move-to-no-seat'})" :title="$t('move-down-list-waiting')"><i class="fa fa-spinner"></i></button>
                <button class="btn btn-sm btn-outline-primary top5" v-if="$root.roles.TICKET_DELETE&&allowPastDaysToSellTicket&&lockTripAfterStart" v-on:click.stop="$emit('event',{eventName :'cancel-ticket'})" :title="$t('cancel-ticket')"><i class="fa fa-trash"></i></button>
                <span class="dropdown" v-if="allowPastDaysToSellTicket&&lockTripAfterStart">
                    <button class="btn btn-sm btn-outline-primary top5 phoneDropdown dropdown-toggle" v-on:click.stop="openDropdown()" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                    <div class="dropdown-menu cursor-pointer">
                        <template v-for="(cs,c) in $root.callStatus">
                            <button type="button" class="dropdown-item" :style="{background:$root.callStatus[c].background,color:$root.callStatus[c].color}" v-on:click="$store.dispatch('Ticket05/CHECK_TICKET',c)">{{cs.name}}</button>
                        </template>
                    </div>
                </span>
            </div>
            <div style="margin-bottom: 7px"></div>
            <div class="position-absolute" style="bottom:2px;width: calc(100% - 4px)" v-if="seat.seatType==3||seat.seatType==4">
                <div class="progress" style="height: 3px">
                    <template v-for="(pro,p) in help.progress">
                        <div :class="['progress-bar',pro.background]" role="progressbar" :style="{width:Math.round(pro.number*10000)/100/(route.listPoint.length-1)+'%'}" :aria-valuenow="pro.number" aria-valuemin="0" aria-valuemax="100" :title="pro.title"></div>
                    </template>
                </div>
            </div>
            <div v-if="seat.seatType!==7&&ticketsMove.length>0||isLockedSeat" class="cursor-pointer">
                <div class="position-absolute" v-if="allowMoveTo" style="width: 100%;height: 100%;z-index: 2;background: #000;opacity: 0.4;top:0;left:0;text-align: center" v-on:click.stop="$store.dispatch('Ticket05/DO_MOVE_TICKET',seat)">
                    <i class="fa fa-download" style="margin-top: 30px;font-size: 30px;color:#fff"></i>
                </div>
                <div class="position-absolute" v-else  style="width: 100%;height: 100%;z-index: 2;background: #fff;opacity: 0.4;top:0;left:0" v-on:click.stop></div>
                <div class="position-absolute" v-if="isLockedSeat"  style="width: 100%;height: 100%;z-index: 2;background: rgb(51,51,0);background-color : rgba(51,51,0,0.7);top:0;left:0" v-on:click.stop>
                    <div class="w-100 text-center text-white" style="margin-top: 25px">{{isLockedSeat.user.fullName}} đang sử dụng ghế này</div>
                    <div class="w-100 text-center" v-if="userInfo.userInfo.id === isLockedSeat.user.id||$root.isAdmin()"><button class="btn btn-sm btn-outline-light" title="Mở khóa" @click="$store.dispatch('Ticket05/UN_LOCK_SEAT')"><i class="fa fa-lock"></i></button></div>
                </div>
            </div>
        </div>
    <!--</div>-->
</template>
<script>
    import { mapState,mapGetters } from 'vuex';
    export default {
        props : ['seat'],
        data : function(){
            return {
                time : new Date().getTime()
            }
        },
        mounted : function(){
            let self = this;
            setInterval(function () {
                self.time = new Date().getTime();
            },3000)
        },
        computed : {
            ...mapState('Ticket05',{
                startPoint : state => state.startPoint,
                endPoint : state => state.endPoint,
                routes : state => state.routes,
                route : state => state.route,
                trip : state => state.trip,
                indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected : state => state.ticketsSelected,
                ticketsSelectedType : state => state.ticketsSelectedType,
                lastPushTicketsSelected : state => state.lastPushTicketsSelected,
                ticketsMove : state => state.ticketsMove,
                showWay : state => state.showWay,
                showAllTicketInSeat : state => state.showAllTicketInSeat,
            }),
            ...mapGetters('Ticket05',[
                'allowPastDaysToSellTicket',
                'lockTripAfterStart'
            ]),
            seatClass : function () {
                let c = 'duong';
                let seatType = this.seat.seatType;
                switch (seatType) {
                    case 1:
                        c = 'cua';
                        break;
                    case 2:
                        c = 'tai';
                        break;
                    case 3:
                        c = 'ghe';
                        break;
                    case 4:
                        c = 'ghe';
                        break;
                    case 5:
                        c = 'wc';
                        break;
                    case 6:
                        c = 'phu';
                        break;
                    case 7:
                        c = 'duong';
                        break;
                    default :
                        c = 'ghe';
                }
                return c;
            },
            isLockedSeat : function(){
                let data = null;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id];
                let indexEndPoint = indexPointInRoute[this.endPoint.id];
                let lockedSeat = this.trip._lockedSeat;
                let thisSeat = this.seat;
                let time = this.time;
                try {
                    if(lockedSeat){
                        $.each(lockedSeat,function (l,lock) {
                            let inFromStartToEnd = !(indexPointInRoute[lock.startPointId]>indexEndPoint-1||indexStartPoint>indexPointInRoute[lock.endPointId]-1);
                            $.each(lock.listSeat ,function (s,seat) {
                                if(seat.seatId === thisSeat.seatId && inFromStartToEnd && time<lock.time+1200000){//5phust
                                    data = lock;
                                    return false;
                                }
                            });
                            if(data){
                                return false;
                            }
                        })
                    }
                }catch(e){
                    console.warn(e)
                }

                return data;
            },
            ticketExample : function () {
                let seat = this.seat;
                return {
                    id : func.makeId(),
                    seat : {
                        seatId : seat.seatId,
                        floor : seat.floor,
                        row : seat.row,
                        column : seat.column,
                        extraPrice : seat.extraPrice,
                        seatType : seat.seatType,
                    },
                    fullName : '',
                    phoneNumber : '',
                    birthday : '',
                }
            },
            help : function(){
                let self = this;
                let allowSell = true;
                let open = false;
                let progress = [];
                let ticketInfo = null;

                let tickets = this.seat.tickets;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id];
                let indexEndPoint = indexPointInRoute[this.endPoint.id];
                let indexProgress = 0;
                let colors = ['#8E44AD','#F1C40F','#D35400','#E74C3C'];

                if(tickets&&tickets.length>0){
                    $.each(tickets,function (t,ticket) {
                        let indexPointUp = indexPointInRoute[ticket.pointUp.id];
                        let indexPointDown = indexPointInRoute[ticket.pointDown.id];
                        if(!(indexPointUp>indexEndPoint-1||indexStartPoint>indexPointDown-1)){
                            allowSell = false;
                            if(!ticketInfo){
                                ticketInfo = ticket;
                            }
                        }

                        if(self.isSelectedTicket(ticket)){
                            open = true;
                        }

                        if(indexPointInRoute[ticket.pointUp.id]>indexProgress){
                            progress.push({
                                type : 'empty',
                                color : '#CACFD2',
                                background : 'bg-e',
                                number : (indexPointInRoute[ticket.pointUp.id]-indexProgress),
                                indexStart : indexProgress,
                                indexEnd : indexPointInRoute[ticket.pointUp.id]
                            });
                        }
                        progress.push({
                            type : 'full',
                            background : ticket.paidMoney>=ticket.agencyPrice?'bg-anvui':'bg-giucho',
                            color : colors[(t%colors.length)],
                            number : indexPointInRoute[ticket.pointDown.id]-indexPointInRoute[ticket.pointUp.id],
                            ticketId : ticket.ticketId,
                            indexStart : indexPointInRoute[ticket.pointUp.id],
                            indexEnd : indexPointInRoute[ticket.pointDown.id]
                        });
                        indexProgress = indexPointInRoute[ticket.pointDown.id];
                        if(t==tickets.length-1){
                            if(indexProgress<Object.keys(indexPointInRoute).length-1){
                                progress.push({
                                    type : 'empty',
                                    color : '#CACFD2',
                                    background : 'bg-e',
                                    number : (Object.keys(indexPointInRoute).length-1-indexProgress),
                                    indexStart : indexProgress,
                                    indexEnd : (Object.keys(indexPointInRoute).length-1)
                                });
                            }
                        }
                    });
                }else{
                    progress.push({
                        type : 'empty',
                        color : '#CACFD2',
                        background : 'bg-e',
                        number : (Object.keys(indexPointInRoute).length-1),
                        indexStart : 0,
                        indexEnd : (Object.keys(indexPointInRoute).length-1)
                    })
                }
                let progressReturn = [];
                if(allowSell){
                    $.each(progress,function (p,pro) {
                        if(pro.type=='empty'&&pro.indexStart<=indexStartPoint&&pro.indexEnd>=indexEndPoint){
                            if(pro.indexStart<indexStartPoint){
                                progressReturn.push({
                                    type : 'empty',
                                    color : '#CACFD2',
                                    background : 'bg-e',
                                    number : indexStartPoint-pro.indexStart,
                                    indexStart : pro.indexStart,
                                    indexEnd : indexStartPoint,
                                });
                            }
                            progressReturn.push({
                                type : 'choose',
                                color : '#48C9B0',
                                background : 'bg-success',
                                number : indexEndPoint-indexStartPoint,
                                indexStart : indexStartPoint,
                                indexEnd : indexEndPoint,
                            });
                            if(indexEndPoint<pro.indexEnd){
                                progressReturn.push({
                                    type : 'empty',
                                    color : '#CACFD2',
                                    background : 'bg-e',
                                    number : pro.indexEnd-indexEndPoint,
                                    indexStart : indexEndPoint,
                                    indexEnd : pro.indexEnd,
                                });
                            }
                        }else{
                            progressReturn.push(pro);
                        }
                    })
                }else{
                    progressReturn=progress;
                }

                return {
                    progress : progressReturn,
                    allowSell : allowSell,
                    openAction : open,
                    tickets : tickets,
                    ticketInfo : ticketInfo,
                    ticketInfoStatus : func.checkTicketStatus(ticketInfo),
                }
            },
            allowSell : function () {
                let allow = true;
                let tickets = this.seat.tickets||[];
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id];
                let indexEndPoint = indexPointInRoute[this.endPoint.id];
                if(this.seat.seatType!==3&&this.seat.seatType!==4){
                    allow = false;
                    return false;
                }
                $.each(tickets,function (t,ticket) {
                    let indexPointUp = indexPointInRoute[ticket.pointUp.id];
                    let indexPointDown = indexPointInRoute[ticket.pointDown.id];
                    if(!(indexPointUp>indexEndPoint-1||indexStartPoint>indexPointDown-1)){
                        allow = false;
                    }
                });
                return allow;
            },
            openAction : function () {
                let self = this;
                let open = false;
                let tickets = this.seat.tickets;
                $.each(tickets,function (t,ticket) {
                    if(self.isSelectedTicket(ticket)){
                        open = true;
                    }
                });
                return open;
            },
            openActionSell : function () {
                if(this.ticketsSelectedType==0&&this.isSelectedSeat()){
                    return true;
                }
                return false
            },
            allowMoveTo : function () {
                let canMove = true;
                let ticketsMove = this.ticketsMove;
                let indexPointInRoute = this.indexPointInRoute;
                if(ticketsMove.length<=0){
                    return false;
                }
                let seat = this.seat;
                if(seat.seatType !==3 && seat.seatType!==4){
                    return false;
                }
                let ticketM = this.ticketsMove[0];
                let idUpDown = {
                    up : ticketM.pointUp.id,
                    down : ticketM.pointDown.id,
                }
                if(this.route.routeId!==ticketM.routeInfo.id){
                    idUpDown.up = this.startPoint.id;
                    idUpDown.down = this.endPoint.id;
                }
                if(seat.tickets&&seat.tickets.length>0){
                    $.each(seat.tickets,function (t,ticket) {
                        if(!(indexPointInRoute[ticket.pointUp.id]>indexPointInRoute[idUpDown.down]-1||indexPointInRoute[ticket.pointDown.id]-1<indexPointInRoute[idUpDown.up])){
                            canMove = false;
                            return false;
                        }
                    })
                }
                return canMove;
                // if(canMove){
                //     this.doMoveSeat();
                // }else{
                //     notify(self.$t('this-position-has-ticket'));
                // }
                // return false;
            }
        },
        methods : {
            showInfoTicket : function (ticketInfo) {
                let show = true;
                if(this.$root.isAgency()&&ticketInfo){
                    if(ticketInfo.agency){
                        if(ticketInfo.agency.id !== userInfo.userInfo.id){
                            show = false;
                        }
                    }else{
                        show = false;
                    }
                }
                return show;
            },
            isSelectedTicket : function (ticket) {
                let self = this;
                if(self.ticketsSelectedType==0){
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected,function (t,tk) {
                    if(ticket.ticketId==tk.ticketId){
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            isSelectedSeat : function (ticket) {
                let self = this;
                if(self.ticketsSelectedType==1){
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected,function (t,tk) {
                    if(self.ticketExample.seat.seatId==tk.seat.seatId){
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            clickTicket : function (ticket) {
                if(this.showInfoTicket(ticket)){
                    if(this.isSelectedTicket(ticket)){
                        this.$store.dispatch('Ticket05/UN_PUSH_UPDATE_TICKET',ticket);
                    }else{
                        this.$store.dispatch('Ticket05/PUSH_UPDATE_TICKET',ticket);
                    }
                }
            },
            clickSeat : function () {
                if(this.allowSell &&(this.seat.seatType==3||this.seat.seatType==4)){
                    if(this.isSelectedSeat(this.ticketExample)){
                        this.$store.dispatch('Ticket05/UN_PUSH_SELL_TICKET',this.ticketExample);
                    }else{
                        this.$store.dispatch('Ticket05/PUSH_SELL_TICKET',this.ticketExample);
                    }
                }else{
                    this.$store.dispatch('Ticket05/UN_SELECTED');
                }
            },
            // dblClickSeat : function () {
            //     console.log(0);
            // },
            callToPhone : function () {
                let self = this;
                $.each(this.seat.tickets,function (t,ticket) {
                    if(self.isSelectedTicket(ticket)){
                        self.$root.$emit('telecom',{event :'CALL_TO_PHONE',phoneNumber : ticket.phoneNumber});
                        return false;
                    }
                })
            },
            copyTicket : function () {
                let self = this;
                $.each(this.seat.tickets,function (t,ticket) {
                    if(self.isSelectedTicket(ticket)){
                        self.$store.commit('SET_TICKET_SAMPLE',ticket);
                        return false;
                    }
                })
            },
            historyTicket : function () {
                let self = this;
                $.each(this.seat.tickets,function (t,ticket) {
                    if(self.isSelectedTicket(ticket)){
                        self.$emit('event',{eventName : 'history-ticket',data : ticket.ticketId})
                        return false;
                    }
                })
            },
            openDropdown : function (event) {
                $(this.$el).find('.dropdown-menu').toggle();
            },
            isTicketRelated : function(_ticket){
                let tickets = this.ticketsSelected;
                let type = this.ticketsSelectedType;
                let related = false;
                if(type == 1&&tickets){
                    $.each(tickets,function (t,ticket) {
                        if(_ticket.phoneNumber === ticket.phoneNumber){
                            related = true;
                            return false;
                        }
                    })
                }
                return related;
            },
            selectAllByPhone : function (ticket) {
                if(!ticket){
                    if($('.seat-selected.seat-allow-sell').length===$('.seat-allow-sell').length){
                        $('.seat-allow-sell').click();
                    }else{
                        $('.seat-allow-sell').not('.seat-selected').click();
                    }
                }
                // else{
                //     if($('.ticket-selected.seat-phone-'+ticket.phoneNumber).length===$('.seat-phone-'+ticket.phoneNumber).length){
                //         $('.seat-phone-'+ticket.phoneNumber).click();
                //     }else{
                //         $('.seat-phone-'+ticket.phoneNumber).not('.ticket-selected').click();
                //     }
                // }
            }
        }
    }
</script>
<style>
    .ticket-item:hover{background: #ddd}
</style>