<template>
    <div id="seatMapComponent">
        <!--@click="$store.dispatch('Ticket05/UN_SELECTED')"-->
        <div class="row no-gutters">
            <div class="col-6">
                <span class="top5" v-if="trip.vehicle&&trip.vehicle.numberPlate">{{$t('number-plate')}}: <strong>{{trip.vehicle.numberPlate}}</strong></span>,
                <span class="top5" v-if="!$root.isAgency()">Tài xế:
                    <template v-for="driver in trip.drivers">
                        <strong>{{driver.fullName}} (+84{{driver.phoneNumber}})</strong>,
                    </template>
                </span>
                <span class="top5" v-if="!$root.isAgency()">Phụ xe:
                    <template v-for="ass in trip.assistants">
                        <strong>{{ass.fullName}} (+84{{ass.phoneNumber}})</strong>,
                    </template>
                </span>
                <span class="top5">{{$t('run-time')}} : <strong>{{trip.startTime|customDate('#hhhh#:#mm#',true)}}</strong></span>
            </div>
            <div class="col-6 text-right" v-if="!$root.isAgency()">
                <span class="top5">{{$t('total-ticket')}}: <strong>{{trip.ticketsInSeatMap||trip.ticketsNotSeat?((trip.ticketsInSeatMap.length||0)+(trip.ticketsNotSeat.length||0)):0}}</strong></span>
                <span class="top5">{{$t('total-empty-seat')}}: <strong>{{trip.totalEmptySeat}}</strong></span>
                <span class="top5">{{$t('total-money')}}: <strong>{{totalMoneyTrip.totalAgencyPrice|number}}</strong></span>
                <span class="top5">{{$t('paid-money')}}: <strong>{{totalMoneyTrip.totalPaidMoney|number}}</strong></span>
            </div>
            <div class="col-12" v-if="trip&&trip.note">
                <div class="badge badge-primary" style="font-size: 0.9rem;margin-bottom: 7px;white-space: normal;text-align: left">Ghi chú: {{trip.note}}</div>
            </div>
            <div class="col-12" v-if="allowPastDaysToSellTicket&&lockTripAfterStart">
                <template v-for="(seat,s) in seatCouldSell">
                    <button :class="['btn', 'btn-sm', isSelectedSeat(seat)?'btn-primary':'btn-outline-primary']" :key="s" style="margin-bottom:5px" v-on:click.stop="clickSeat(seat)">{{seat.seatId}}</button>&nbsp;
                </template>
                <button class="btn btn-outline-primary btn-sm" v-on:click.stop="$emit('event',{eventName : 'sell-ticket'})" style="margin-bottom:5px" v-if="ticketsSelectedType==0&&ticketsSelected.length>0"><i class="fa fa-plus-circle"></i> Bán vé</button>
                <button class="btn btn-sm btn-outline-danger" v-if="ticketsSelected.length>0" @click="$store.dispatch('Ticket05/UN_SELECTED')" style="margin-bottom:5px"><i class="fa fa-times"></i> Bỏ ghế đã chọn</button>
                <template v-if="trip.vehicle&&trip.vehicle.phoneNumber&&!$root.isAgency()">
                    <template v-for="(phone,p) in trip.vehicle.phoneNumber.split(',')">
                        <button class="btn btn-sm btn-outline-info" @click="$root.$emit('telecom',{event :'CALL_TO_PHONE',phoneNumber : phone});" style="margin-bottom:5px"><i class="fa fa-phone"></i> Gọi tới {{phone|phoneNumber}}</button>&nbsp;
                    </template>
                </template>
            </div>
        </div>
        <div class="row no-gutters" id="seatMapSell">
            <div class="col-12" v-if="showWay">
                <div class="row no-gutters">
                    <template v-for="(floor,f) in trip.seatMapFake">
                        <div class="col text-center border border-dark line-height-35" :id="'floor-active-'+f" @click="$store.commit('Ticket05/SET_FLOOR_ACTIVE',f)" :class="{'bg-dark text-white bold':f==floorActive}">
                            <span class="text-uppercase">{{$t('floor')}}</span> {{ f+1 }}
                        </div>
                    </template>
                </div>
                <div class="row">
                    <template v-for="(floor,f) in trip.seatMapFake">
                        <div class="col-12" :id="'floor'+f" v-show="floorActive==f">
                            <div class="row no-gutters padding5 bg-seatMap">
                                <template v-for="(row,r) in floor">
                                    <template v-for="(col,c) in row">
                                        <div :class="[!showWay&&col.seatType==7?'col-md-auto':'col-md','col-xs-12']" :key="'f-'+f+'r-'+r+'c'+c">
                                            <seat :seat="col" @event="seatEvent"></seat>
                                        </div>
                                    </template>
                                    <div class="w-100"></div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-12" v-else>
                <div class="row no-gutters">
                    <template v-for="(floor,f) in trip.seatMapFake">
                        <div class="col-12 col-md">
                            <h5 class="text-center">{{$t('floor')}} {{f+1}}</h5>
                            <div class="row no-gutters padding5 bg-seatMap">
                                <template v-for="(row,r) in floor">
                                    <template v-for="(col,c) in row">
                                        <div class="col-md col-xs-12" :key="'f-'+f+'r-'+r+'c'+c" v-if="col.seatType==3||col.seatType==4">
                                            <seat :seat="col"  @event="seatEvent"></seat>
                                        </div>
                                    </template>
                                    <div class="w-100"></div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="row top10">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tabTicketsNotSeat" data-toggle="tab" href="#tabContentTicketsNotSeat" role="tab" aria-controls="tabContentTicketsNotSeat" aria-selected="false"><span class="text-uppercase">{{$t('waiting-for-seat')}}</span> {{trip.ticketsNotSeat&&trip.ticketsNotSeat.length>0?'('+trip.ticketsNotSeat.length+'G)':''}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabTicketsEndTime" data-toggle="tab" href="#tabContentTicketsEndTime" role="tab" aria-controls="tabContentTicketsEndTime" aria-selected="true"><span class="text-uppercase">{{$t('tickets-expire')}}</span> {{trip.ticketsEndTime&&trip.ticketsEndTime.length>0?'('+trip.ticketsEndTime.length+'G)':''}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabTicketsCanceled" data-toggle="tab" href="#tabContentTicketsCanceled" role="tab" aria-controls="tabContentTicketsCanceled" aria-selected="false"><span class="text-uppercase">{{$t('tickets-cancel')}}</span> {{trip.ticketsCanceled&&trip.ticketsCanceled.length>0?'('+trip.ticketsCanceled.length+'G)':''}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show seatMapSell" id="tabContentTicketsEndTime" role="tabpanel" aria-labelledby="tabTicketsEndTime">
                        <div v-if="trip.ticketsEndTime&&trip.ticketsEndTime.length<1">{{$t('no-data-available')}}</div>
                        <div v-else class="row no-gutters padding5">
                            <template v-for="(ticket,t) in trip.ticketsEndTime">
                                <ticket-box :ticket="ticket" @event="seatEvent"></ticket-box>
                            </template>
                        </div>
                    </div>
                    <div class="tab-pane seatMapSell" id="tabContentTicketsCanceled" role="tabContentTicketsCanceled" aria-labelledby="tabTicketsCanceled">
                        <div v-if="trip.ticketsCanceled&&trip.ticketsCanceled.length<1">{{$t('no-data-available')}}</div>
                        <div v-else class="row no-gutters padding5">
                            <template v-for="(ticket,t) in trip.ticketsCanceled">
                                <ticket-box :ticket="ticket" @event="seatEvent"></ticket-box>
                            </template>
                        </div>
                    </div>
                    <div class="tab-pane seatMapSell active" id="tabContentTicketsNotSeat" role="tabContentTicketsNotSeat" aria-labelledby="tabTicketsNotSeat">
                        <div class="row no-gutters padding5">
                            <div class="col-12" style="margin-bottom : 10px">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Điểm đón</label>
                                        <multiselect select-label=""  deselect-label="" :options="findAddressTicketNotSeat.up" :placeholder="$t('filter.select-point')" :value="addressUpTicketNotSeat" @input="$store.commit('Ticket05/SET_ADDRESS_UP_TICKET_NOT_SEAT',$event)"></multiselect>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Điểm trả</label>
                                        <multiselect select-label=""  deselect-label="" :options="findAddressTicketNotSeat.down" :placeholder="$t('filter.select-point')" :value="addressDownTicketNotSeat" @input="$store.commit('Ticket05/SET_ADDRESS_DOWN_TICKET_NOT_SEAT',$event)"></multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" v-if="trip.ticketsNotSeat&&trip.ticketsNotSeat.length<1">{{$t('no-data-available')}}</div>
                            <template v-for="(ticket,t) in trip.ticketsNotSeat">
                                <ticket-box :ticket="ticket" @event="seatEvent" :find="true"></ticket-box>
                            </template>
                            <div class="col-12 col-sm-4 col-md-3" v-on:click.stop="$emit('event',{eventName : 'open-modal-sell-ticket-not-seat'})" v-if="allowPastDaysToSellTicket&&lockTripAfterStart">
                                <div class="seat position-relative cursor-pointer border-success">
                                    <span class="position-absolute" style="top:30%;left:47%;font-size:2rem;">
                                        <i class="fa fa-plus text-success"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Seat from './Seat';
    import TicketBox from './TicketBox';
    import { mapActions,mapState,mapGetters } from 'vuex';
    import Ticket from "./Ticket";

    export default {
        data : function(){
            return {

            }
        },
        components : {TicketBox, Ticket, Seat},
        computed : {
            ...mapState('Ticket05',{
                date : state => state.date,
                route : state => state.route,
                startPoint : state => state.startPoint,
                endPoint : state => state.endPoint,
                routes : state => state.routes,
                trip : state => state.trip,
                floorActive : state => state.floorActive,
                indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected : state => state.ticketsSelected,
                ticketsSelectedType : state => state.ticketsSelectedType,
                showWay : state => state.showWay,
                ticketScroll : state => state.ticketScroll,
                scrolled : state => state.scrolled,
                addressUpTicketNotSeat : state => state.addressUpTicketNotSeat,
                addressDownTicketNotSeat : state => state.addressDownTicketNotSeat,
            }),
            ...mapGetters('Ticket05',[
                'findAddressTicketNotSeat',
                'totalMoneyTrip',
                'allowPastDaysToSellTicket',
                'lockTripAfterStart'
            ]),
            seatCouldSell : function () {
                let self = this;
                let seatMapFake = self.trip.seatMapFake;
                let startPoint = self.startPoint;
                let endPoint = self.endPoint;
                let numberPoint = self.route.listPoint.length;
                let listSeatHelp = {};

                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id];
                let indexEndPoint = indexPointInRoute[this.endPoint.id];
                let lockedSeat = this.trip._lockedSeat;

                $.each(seatMapFake,function (f,floor) {
                    $.each(floor,function (r,row) {
                        $.each(row,function (s,seat) {
                            let allowSell = true; /// cho phép bán vé;
                            let numberPointBefore = self.indexPointInRoute[startPoint.id];
                            let numberPointAfter = numberPoint - self.indexPointInRoute[endPoint.id] -1;
                            if(seat.seatType==3||seat.seatType ==4){
                                if(seat.tickets){
                                    $.each(seat.tickets,function (t,ticket) {
                                        if(self.indexPointInRoute[ticket.pointUp.id]<self.indexPointInRoute[startPoint.id]&&self.indexPointInRoute[ticket.pointDown.id]-1<self.indexPointInRoute[startPoint.id]){// vé trước chặng
                                            let npb = self.indexPointInRoute[startPoint.id] - (self.indexPointInRoute[ticket.pointDown.id] -1) -1;
                                            numberPointBefore = numberPointBefore>npb ? npb : numberPointBefore;
                                        }else if(self.indexPointInRoute[ticket.pointUp.id]>(self.indexPointInRoute[endPoint.id]-1)&&self.indexPointInRoute[ticket.pointDown.id]-1>(self.indexPointInRoute[endPoint.id]-1)){ // vé sau chặng
                                            let npa = self.indexPointInRoute[ticket.pointUp.id] - self.indexPointInRoute[endPoint.id];
                                            numberPointAfter = numberPointAfter>npa ? npa : numberPointAfter;
                                        }else{
                                            allowSell = false;
                                            return false;
                                        }
                                    });
                                }
                            }else{
                                allowSell = false;
                            }
                            try {
                                if(lockedSeat){
                                    $.each(lockedSeat,function (l,lock) {
                                        let inFromStartToEnd = !(indexPointInRoute[lock.startPointId]>indexEndPoint-1||indexStartPoint>indexPointInRoute[lock.endPointId]-1);
                                        $.each(lock.listSeat ,function (sk,seatk) {
                                            if(seatk.seatId === seat.seatId && inFromStartToEnd){
                                                allowSell = false;
                                                return false;
                                            }
                                        });
                                        if(!allowSell){
                                            return false;
                                        }
                                    })
                                }
                            }catch(e){
                                console.warn(e)
                            }
                            if(allowSell){
                                let seatPush = _.cloneDeep(seat);
                                seatPush.numberPointBefore = numberPointBefore;
                                seatPush.numberPointAfter = numberPointAfter;
                                let number = numberPointBefore > numberPointAfter ? numberPointAfter : numberPointBefore;
                                let numberTotal = numberPointBefore+numberPointAfter;
                                if(listSeatHelp[numberTotal]){
                                    if(listSeatHelp[numberTotal][number]){
                                        listSeatHelp[numberTotal][number].push(seatPush);
                                    }else{
                                        listSeatHelp[numberTotal][number] = [seatPush]
                                    }
                                }else{
                                    listSeatHelp[numberTotal]= {};
                                    listSeatHelp[numberTotal][number] = [seatPush];
                                }
                            }
                        })
                    })
                });
                let listSeatHelpAfterOrder = [];
                let numberSeatHelp = 15;
                let breakLoop = false;
                $.each(listSeatHelp ,function (k,v) {
                    $.each(v,function (i,e) {
                        $.each(e,function (s,seat) {
                            listSeatHelpAfterOrder.push(seat);
                            if(listSeatHelpAfterOrder.length==numberSeatHelp){
                                breakLoop = true;
                                return false;
                            }
                        });
                        if(breakLoop){
                            return false;
                        }
                    })
                    if(breakLoop){
                        return false;
                    }
                });
                return listSeatHelpAfterOrder;
            },
        },
        methods :{
            ...mapActions('Ticket05',[

            ]),
            seatEvent : function (event) {
                this.$emit('event',event);
            },
            isSelectedSeat : function (seat) {
                let self = this;
                if(self.ticketsSelectedType==1){
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected,function (t,tk) {
                    if(seat.seatId==tk.seat.seatId){
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            clickSeat : function (seat) {
                let ticketExample = {
                    id : func.makeId(),
                    seat : {
                        seatId : seat.seatId,
                        floor : seat.floor,
                        row : seat.row,
                        column : seat.column,
                        extraPrice : seat.extraPrice,
                        seatType : seat.seatType,
                    },
                    fullName : '',
                    phoneNumber : '',
                    birthday : '',
                }
                if((seat.seatType==3||seat.seatType==4)){
                    if(this.isSelectedSeat(ticketExample.seat)){
                        this.$store.dispatch('Ticket05/UN_PUSH_SELL_TICKET',ticketExample);
                    }else{
                        this.$store.dispatch('Ticket05/PUSH_SELL_TICKET',ticketExample);
                    }
                }else{
                    this.$store.dispatch('Ticket05/UN_SELECTED');
                }
            },
            scrollToTicket : function () {
                let self = this;
                let ticket = this.ticketScroll;
                let element = null;
                try{
                    if(ticket){
                        element = '.ticket-'+ticket.ticketId;
                        self.$store.commit('Ticket05/SET_FLOOR_ACTIVE',ticket.seat.floor-1);
                    }
                    // Scroll
                    setTimeout(function () {
                        if($(element).length>0){
                            let status = func.checkTicketStatus(ticket);
                            if(status.mode=="cancel"){
                                $('#tabTicketsCanceled').click();
                            }else if(status.mode=="endTime"){
                                $('#tabTicketsEndTime').click();
                            }
                            $(element).click();
                            $('html,body').animate({
                                scrollTop: ($(element).offset().top -200)
                            }, 'slow');
                        }
                    },500);
                    func.removeHistory('ticketId','startPointId','endPointId','ticketStatus','floor');
                    self.$store.commit('Ticket05/SET_TICKET_SCROLL',null);
                }catch (e) {
                    console.warn(e);
                }
            },
        },
        watch : {
            scrolled : function (newVal) {
                if(newVal&&this.ticketScroll){
                    this.scrollToTicket();
                }
            }
        }
    }
</script>
<style scoped>
    /*.fixed-bot {*/
        /*position: fixed;*/
        /*bottom:10px;*/
    /*}*/
    .fixed-bot {position: fixed;bottom:-50px;opacity: 0;transition: bottom 0.5s ease,opacity 0.3s ease}
    .fixed-bot.open{bottom:10px;opacity:1; transition: bottom 0.5s ease,opacity 0.3s ease}
    .ticket-item:hover{background: #ddd}
</style>