<template>
    <div class="col-12 col-sm-4 col-md-3" v-if="(!find||find&&showTicket)&&showInfoTicket">
        <div class="seat position-relative" :class="[isSelectedTicket(ticket)?'seat-selected':'']">
            <template v-if="ticket&&ticket.seat.seatType!=7">
                <div :class="'ticket-'+ticket.ticketId" v-on:click.stop="clickTicket(ticket)">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <strong :class="status.seatColor" v-on:click.stop="$emit('event',{eventName : 'history-seat',data : {tripId : trip.tripId,seatId: ticket.seat.seatId}})" class="cursor-pointer">{{ ticket.seat.seatId }}</strong>
                        </div>
                        <div class="col text-right cursor-pointer">
                            <span class="phoneNumber" :class="[ticket&&ticket.isChecked ? status.seatBg+' text-white' :'']" :style="{background:$root.callStatus[ticket.callStatus].background,color:$root.callStatus[ticket.callStatus].color}">{{(ticket.phoneNumber||"NO")|phoneNumber }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-100">
                            <div class="col-12">
                                <b>{{ ticket.fullName }}</b>
                                <span>{{ ticket.agencyPrice|number }}</span>
                            </div>
                            <div class="col-12" style="line-height: 15px;font-size: 12px;">
                                <b class="text-success" v-if="ticket.agency">{{ticket.agency.fullName}}</b> / <span v-if="ticket.seller">{{ticket.seller.fullName}} / {{ticket.cashierName}}</span>
                            </div>
                            <div class="col-12 text-right" style="line-height: 15px;font-size: 13px;">
                                <p class="no-margin" :title="ticket.pointUp.address"><i class="fa fa-arrow-up"></i> {{ (ticket.pointUp.address||ticket.pointUp.name||'')|cutString(30) }}</p>
                                <p class="no-margin" :title="ticket.pointDown.address">{{ (ticket.pointDown.address||ticket.pointDown.name||'')|cutString(30) }} <i class="fa fa-arrow-down"></i></p>
                            </div>
                            <div class="col-12 text-right font-weight-bold" :class="status.seatColor">
                                <i class="fa fa-globe-asia" v-if="ticket&&ticket.platform==2"></i>
                                <i class="fa fa-mobile-alt" v-if="ticket&&(ticket.platform==3||ticket.platform==4)"></i> &nbsp;
                                {{ ticket.ticketCode }}
                            </div>
                            <div class="col-12 text-center text-danger" style="line-height: 15px;" :class="'seat-ticket-id-'+ticket.ticketId">{{ ticket.note }}</div>
                            <div class="col-12 text-center font-weight-bold" style="line-height: 15px;" v-if="ticket.cancelReason" title="Lí do hủy">{{ ticket.cancelReason }}</div>
                            <div class="col-12 text-center position-absolute displayActionTicket" style="bottom:10px">
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('print-ticket')"  v-on:click.stop="$emit('event',{eventName :'print-ticket'})"><i class="fa fa-print"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('print-temp-ticket')"  v-on:click.stop="$emit('event',{eventName :'print-ticket-temp'})"><i class="fa fa-ticket-alt"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('call-to-customer')" v-on:click.stop="$root.$emit('telecom',{event :'CALL_TO_PHONE',phoneNumber : ticket.phoneNumber})"><i class="fa fa-phone"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('edit-ticket')" v-on:click.stop="$emit('event',{eventName :'update-ticket'})"  v-if="$root.roles.TICKET_UPDATE&&status.mode!=='cancel'&&allowPastDaysToSellTicket&&lockTripAfterStart"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('copy-ticket')" v-on:click.stop="$store.commit('SET_TICKET_SAMPLE',ticket)" v-if="$root.roles.TICKET_UPDATE&&allowPastDaysToSellTicket&&lockTripAfterStart"><i class="fa fa-copy"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('tranfer-ticket')" v-if="trip.tripStatus<2&&$root.roles.TICKET_UPDATE&&allowPastDaysToSellTicket&&lockTripAfterStart" v-on:click.stop="$emit('event',{eventName :'move-ticket'})"><i class="fa fa-arrows-alt"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('history-ticket')" v-on:click.stop="$emit('event',{eventName : 'history-ticket',data : ticket.ticketId})"><i class="fa fa-history"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" :title="$t('list-ticket')" v-if="status.mode!=='cancel'&&status.mode!=='endTime'&&allowPastDaysToSellTicket&&lockTripAfterStart"" v-on:click.stop="$emit('event',{eventName :'show-list-ticket'})"><i class="fa fa-list"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" v-if="$root.roles.TICKET_DELETE&&status.mode!=='cancel'&&allowPastDaysToSellTicket&&lockTripAfterStart" v-on:click.stop="$emit('event',{eventName :'cancel-ticket'})" :title="$t('cancel-ticket')"><i class="fa fa-trash"></i></button>
                                <button class="btn btn-sm btn-outline-primary top5" v-if="$root.roles.TICKET_UPDATE&&(status.mode=='cancel'||status.mode=='endTime')&&allowPastDaysToSellTicket&&lockTripAfterStart" v-on:click.stop="$emit('event',{eventName :'move-to-no-seat'})" :title="$t('move-down-list-waiting')"><i class="fa fa-spinner"></i></button>
                                <span class="dropdown" v-if="allowPastDaysToSellTicket&&lockTripAfterStart">
                                    <button class="btn btn-sm btn-outline-primary top5 phoneDropdown dropdown-toggle" v-on:click.stop="openDropdown()" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu cursor-pointer">
                                        <template v-for="(cs,c) in $root.callStatus">
                                            <button type="button" class="dropdown-item" :style="{background:$root.callStatus[c].background,color:$root.callStatus[c].color}" v-on:click="$store.dispatch('Ticket05/CHECK_TICKET',c)">{{cs.name}}</button>
                                        </template>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>
<script>
    import { mapState,mapGetters } from 'vuex';
    export default {
        props : ['ticket','find'],
        data : function () {
            return {

            }
        },
        computed : {
            ...mapState('Ticket05',{
                startPoint : state => state.startPoint,
                endPoint : state => state.endPoint,
                routes : state => state.routes,
                trip : state => state.trip,
                indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected : state => state.ticketsSelected,
                ticketsSelectedType : state => state.ticketsSelectedType,
                lastPushTicketsSelected : state => state.lastPushTicketsSelected,
                ticketsMove : state => state.ticketsMove,
                addressUpTicketNotSeat : state => state.addressUpTicketNotSeat,
                addressDownTicketNotSeat : state => state.addressDownTicketNotSeat,
            }),
            ...mapGetters('Ticket05',[
                'allowPastDaysToSellTicket',
                'lockTripAfterStart'
            ]),
            status : function () {
                let ticket = this.ticket;
                return func.checkTicketStatus(ticket);
            },
            showTicket : function () {
                let show = true;
                let ticket = this.ticket;
                let indexPointInRoute = this.indexPointInRoute;
                let indexPointStart = this.indexPointInRoute[this.startPoint.id];
                let indexPointEnd = this.indexPointInRoute[this.endPoint.id];
                let addressUpTicketNotSeat = this.addressUpTicketNotSeat;
                let addressDownTicketNotSeat = this.addressDownTicketNotSeat;

                if(indexPointInRoute[ticket.pointUp.id]>(indexPointEnd-1)||indexPointInRoute[ticket.pointDown.id]-1<indexPointStart){
                    show = false;
                }

                let condition1 = !addressUpTicketNotSeat? true : ticket.pointUp.address===addressUpTicketNotSeat?true : false;
                let condition2 = !addressDownTicketNotSeat? true :ticket.pointDown.address===addressDownTicketNotSeat?true : false;
                show = show && condition1 &&condition2;
                return show;
            },
            showInfoTicket : function () {
                let ticketInfo = this.ticket;
                let show = true;
                if(this.$root.isAgency()&&ticketInfo){
                    if(ticketInfo.agency){
                        if(ticketInfo.agency.id !== userInfo.userInfo.id){
                            show = false;
                        }
                    }else{
                        show = false;
                    }
                }
                return show;
            },
        },
        methods :{
            isSelectedTicket : function (ticket) {
                let self = this;
                if(self.ticketsSelectedType==0){
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected,function (t,tk) {
                    if(ticket.ticketId==tk.ticketId){
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            clickTicket : function (ticket) {
                if(this.isSelectedTicket(ticket)){
                    this.$store.dispatch('Ticket05/UN_PUSH_UPDATE_TICKET',ticket);
                }else{
                    this.$store.dispatch('Ticket05/PUSH_UPDATE_TICKET',ticket);
                }
            },
            openDropdown : function (event) {
                $(this.$el).find('.dropdown-menu').toggle();
            },
        }
    }
</script>