<template>
    <div class="row">
        <div class="col-12 title sticky-lg">
            <div class="row">
                <div class="col-md-auto">
                    <div class="text-uppercase">{{$t('sell-ticket')}}</div>
                </div>
                <div class="col-md-auto sm-padding-bottom5">
                    <div class="row no-gutters">
                        <label class="col-auto d-none d-sm-block"><i class="fa fa-bus"></i>&nbsp;</label>
                        <div class="col col-md-auto">
                            <label class="d-sm-none" style="font-size: 0.9rem">{{$t('menu.route')}}</label>
                            <multiselect select-label="" class="multiple-sm" :allow-empty="false" deselect-label="" :options="routes" label="routeName" :placeholder="$t('select-route')" :value="route" @input="$store.dispatch('Ticket05/SET_ROUTE',$event.routeId)"></multiselect>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto sm-padding-bottom5" v-if="route">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-auto">
                            <label class="d-sm-none" style="font-size: 0.9rem">{{$t('point-up')}}</label>
                            <multiselect select-label="" class="multiple-sm" :allow-empty="false" deselect-label="" :options="route.listPoint" :placeholder="$t('filter.select-route')" :value="startPoint" @input="$store.dispatch('Ticket05/SET_START_POINT',$event)" label="name" track-by="id"></multiselect>
                        </div>
                        <div class="col-auto d-sm-block d-none">
                            &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;
                        </div>
                        <div class="col-12 col-md-auto">
                            <label class="d-sm-none" style="font-size: 0.9rem">{{$t('point-down')}}</label>
                            <multiselect select-label="" class="multiple-sm" :allow-empty="false" deselect-label="" :options="route.listPoint" label="name" :placeholder="$t('filter.select-route')" :value="endPoint" @input="$store.dispatch('Ticket05/SET_END_POINT',$event)" track-by="id"></multiselect>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg text-right">
                    <span v-if="trip!==null">
                        <button class="btn btn-outline-primary btn-sm margin-xs-5" v-if="$root.isAgency()">{{$store.state.agencyDebtLimit|number}}</button>
                        <button class="btn btn-outline-primary btn-sm margin-xs-5" @click="tab=1" :class="{'active':tab==1}" v-if="$root.roles.TICKET_CREATE&&!$root.isAgency()"><i class="fa fa-ticket-alt"></i> {{$t('sell-ticket')}}</button>
                        <button class="btn btn-outline-primary btn-sm margin-xs-5" @click="tab=4" :class="{'active':tab==4}" v-if="$root.roles.GOODS_GET_LIST&&!$root.isAgency()"><i class="fa fa-cubes"></i> {{$t('commodity')}} </button>
                        <button class="btn btn-outline-primary btn-sm margin-xs-5" @click="openModalManageTrip()"  v-if="$root.roles.TRIP_ARRANGE||$root.roles.TRIP_LOCK||$root.roles.TRIP_START||$root.roles.TRIP_OPEN_STARTED||$root.roles.TRIP_DELETE"><i class="fa fa-info"></i> {{$t('button.out-park')}} </button>
                        <div class="btn-group" role="group" v-if="!$root.isAgency()">
                            <button id="btnDieuHanh" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm margin-xs-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-tasks"></span> {{$t('operating')}} </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnDieuHanh">
                                <!--<a class="dropdown-item" href="javascript:void(0)" @click="$refs.SeatMapComponent.shortKey('MoveAllTickets')" v-show="selected.trip!==null&&!$root.isAgency()">{{$t('merge-trip')}}</a>-->
                                <a class="dropdown-item" href="javascript:void(0)" @click="openModalManageTrip()" v-if="$root.roles.TRIP_ARRANGE||$root.roles.TRIP_LOCK||$root.roles.TRIP_START||$root.roles.TRIP_OPEN_STARTED">{{$t('arrange-assigning-changing-time')}}</a>
                                <a class="dropdown-item" href="javascript:void(0)" @click="$refs.PrintTableTicketsComponent.print(trip)" v-show="trip!==null&&!$root.isAgency()">{{$t('print-ticket-list')}}</a>
                                <!--<a class="dropdown-item" href="javascript:void(0)" @click="$refs.PrintTableTicketsComponent.print(trip,true)" v-show="trip!==null&&!$root.isAgency()">{{$t('print-ticket-list-mini')}}</a>-->
                                <a class="dropdown-item" href="javascript:void(0)" @click="$refs.PrintTableTicketsComponent.exportTickets(trip)" v-show="trip!==null&&!$root.isAgency()">{{$t('export-excel-ticket-list')}}</a>
                                <a class="dropdown-item" href="javascript:void(0)" @click="tab=5" v-show="trip!==null" v-if="$root.roles.TICKET_UPDATE&&!$root.isAgency()">{{$t('distributing-transit-customers')}}</a>
                                <a class="dropdown-item" href="javascript:void(0)" @click="$refs.PrintTableSeatMapComponent.print(trip)" v-show="trip!==null&&!$root.isAgency()">In sơ đồ ghế</a>
                                <!--<a class="dropdown-item" href="javascript:void(0)" @click="tab=3" v-show="selected.trip!==null&&!$root.isAgency()">Chốt chuyến</a>-->
                                <a class="dropdown-item" href="javascript:void(0)" @click="cancelTrip()" v-if="$root.roles.TRIP_DELETE&&trip.tripStatus<2">{{$t('button.cancel-trip')}}</a>
                            </div>
                        </div>
                    </span>
                    <div class="btn-group" role="group">
                        <button id="btnSetting" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm margin-xs-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> {{$t('config')}} </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnSetting">
                            <a class="dropdown-item" href="javascript:void(0)" @click="$store.commit('Ticket05/SET_SHOW_WAY',!showWay)" v-show="tab===1"><i class="fa" :class="[showWay?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i> {{$t('show-aisle')}}</a>
                            <a class="dropdown-item" href="javascript:void(0)" @click="$store.commit('Ticket05/SET_SHOW_ALL_TICKET_IN_SEAT',!showAllTicketInSeat)" v-show="tab===1"><i class="fa" :class="[showAllTicketInSeat?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i> Hiển thị tất cả vé trên ghế</a>
                            <!--<a class="dropdown-item" href="javascript:void(0)" @click="setUseRealtime();" v-show="tab===1"><i class="fa" :class="[useRealtime?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i> {{$t('real-time-mode')}}</a>-->
                            <a class="dropdown-item" href="javascript:void(0)" @click="$store.commit('Ticket05/SET_SHOW_DETAIL_TRIPS',!showDetailTrips)" v-show="tab===1"><i class="fa" :class="[showDetailTrips?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i> {{$t('show-trip-details')}}</a>
                            <a class="dropdown-item" href="javascript:void(0)" @click="openModalRouteOftenSelect();"><i class="fa fa-bus"></i>{{$t('routing-settings-often-used')}}</a>
                            <a class="dropdown-item" href="javascript:void(0)" @click="$store.commit('MERGE_TICKETS_PRINT',!mergeTicketsWhenPrint)" v-show="tab===1"><i class="fa" :class="[mergeTicketsWhenPrint?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i> {{$t('merge-tickets-when-print')}}</a>
                            <a class="dropdown-item" href="javascript:void(0)" @click="$store.commit('SET_SHOW_TICKETS_OR_SEAT_MAP',!showTicketsOrSeatMap)" v-show="tab===1"><i class="fa" :class="[showTicketsOrSeatMap?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i> {{$t('show-form-tickets')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="form-group">
                        <!--<label>{{$t('date')}}</label>-->
                        <datepicker :value="date" @input="$store.dispatch('Ticket05/SET_DATE',$event)" type="inline"></datepicker>
                    </div>
                    <div class="w-100" v-if="routes.length>0&&route">
                        <label v-if="routeOftenSelect.length>0">{{$t('routing-often-used')}}</label>
                        <table class="table table-sm table-hover">
                            <template v-for="routeOT in routeOftenSelect">
                                <tr :class="[routeOT.routeId == route.routeId ?'bg-anvui text-white':'','cursor-pointer']" :key="routeOT.routeId">
                                    <td @click="$store.dispatch('Ticket05/SET_ROUTE',routeOT.routeId)">
                                        {{routeOT.routeName}}
                                    </td>
                                    <td class="text-right" v-if="!$root.isAgency()">
                                        <div class="btn-group dropright" v-if="routeOT.tickets">
                                            <span class="badge badge-danger float-right" data-toggle="dropdown">{{Object.keys(routeOT.tickets).length}}</span>
                                            <div class="dropdown-menu">
                                                <template v-for="(ticket,t) in routeOT.tickets">
                                                    <a class="dropdown-item border-bottom" href="#" @click="goToTicket(ticket)"><i>{{ticket.createdDate|customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}</i> <span class="font-weight-bold">{{ticket.fullName}}</span> {{ticket.phoneNumber|phoneNumber}}</a>
                                                </template>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </table>
                    </div>
                    <div class="w-100" v-if="trip&&trip.location">
                        <label class="w-100">{{$t('vehicle-location')}}</label>
                        <google-map :value="trip.location"></google-map>
                    </div>
                </div>
                <div class="col-12 col-md-9 col-lg-10" style="padding-left: 10px" v-if="route">
                    <div class="form-group">
                        <!--<label>{{$t('route')}}</label>-->
                        <div style="height: 100%" v-if="showDetailTrips">
                            <div class="row no-gutters">
                                <div class="col-12" v-if="trips.length<=0">{{$t('no-trip')}}</div>
                                <div class="col-12" v-if="trips.length>0&&route.listPoint[indexPointInRoute[startPoint.id]].listPrice[indexPointInRoute[endPoint.id]]<0">{{$t('this-stage-not-sell-ticket')}}</div>
                                <template v-if="trips.length>0&&route.listPoint[indexPointInRoute[startPoint.id]].listPrice[indexPointInRoute[endPoint.id]]>-1">
                                    <template v-for="(tripL,key) in trips">
                                        <div class="col-4 col-md-3 col-lg-2" :key="tripL.tripId" v-if="tripL.tripStatus!==4">
                                            <div :class="['tripOption','position-relative',tripL._printedTickets?'bg-printed':'bg-e',trip!==null &&trip.tripId == tripL.tripId?'active' : '']" @click="$store.dispatch('Ticket05/SET_TRIP',tripL.tripId)">
                                                <div class="row no-gutters">
                                                    <div class="col-auto time">
                                                        {{(tripL.startTimeReality+route.listPoint[indexPointInRoute[startPoint.id]].timeIntend)|customDate('#hhhh#:#mm#',true)}}
                                                    </div>
                                                    <div class="col text-right">
                                                        <span class="numberPlate" v-if="tripL.vehicle">{{ tripL.vehicle.numberPlate|cutString(16,'end') }}</span>
                                                    </div>
                                                </div>
                                                <div class="row no-gutters bg-white" style="line-height: 12px;padding:2px 2px 0 5px;min-height: 27px">
                                                    <div class="w-100 driver" v-if="tripL.drivers&&tripL.drivers.length>0" :title="$t('filter.driver')">
                                                        <template v-for="driver in tripL.drivers">
                                                            <span :title="driver.phoneNumber">{{driver.fullName}}</span>,
                                                        </template>
                                                    </div>
                                                    <div class="w-100 assistant text-right" v-if="tripL.assistants&&tripL.assistants.length>0" title="Phụ xe">
                                                        <template v-for="assistant in tripL.assistants">
                                                            <span style="font-size:12px" :title="assistant.phoneNumber">{{assistant.fullName}}</span>,
                                                        </template>
                                                    </div>
                                                </div>
                                                <div class="q-progress-bar">
                                                    <div class="probar" :style="{'width':Math.ceil((tripL.totalSeat-tripL.totalEmptySeat)*100/tripL.totalSeat)+'%','background':tripL.totalEmptySeat==0?'red':'#4caf50'}"></div>
                                                    <div class="textbar">{{$t('empty')}} : {{ tripL.totalEmptySeat }}</div>
                                                </div>
                                                <img v-if="tripL.tripStatus==2" src="/public/images/daxuatben.png" class="position-absolute" style="top:30%;right:0;max-width: 30%;max-height: 100%" alt="">
                                            </div>
                                        </div>
                                    </template>
                                </template>
                                <div class="col-4 col-md-3 col-lg-2" :title="$t('enhance-trip')" v-if="route.listPoint[indexPointInRoute[startPoint.id]].listPrice[indexPointInRoute[endPoint.id]]>-1&&!$root.isAgency()">
                                    <div class="tripOption position-relative tripOptionAdd" @click="openModalPlanForTripPlus()">
                                    <span class="position-absolute" style="top:30%;left:47%;font-size:2rem;">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="row no-gutters">
                                <div class="col-12" v-if="trips.length<=0">{{$t('no-trip')}}</div>
                                <div class="col-12" v-if="trips.length>0&&route.listPoint[indexPointInRoute[startPoint.id]].listPrice[indexPointInRoute[endPoint.id]]<0">{{$t('this-stage-not-sell-ticket')}}</div>
                                <div class="col-12">
                                    <template v-if="trips.length>0&&route.listPoint[indexPointInRoute[startPoint.id]].listPrice[indexPointInRoute[endPoint.id]]>-1">
                                        <template v-for="(tripL,key) in trips">
                                            <button class="btn btn-sm top5" :key="tripL.tripId" @click="$store.dispatch('Ticket05/SET_TRIP',tripL.tripId)" :class="[trip!==null &&trip.tripId == tripL.tripId?'btn-primary':'btn-outline-primary']">
                                                <strong :class="[trip!==null &&trip.tripId !== tripL.tripId?'text-danger':'']">{{(tripL.startTimeReality+route.listPoint[indexPointInRoute[startPoint.id]].timeIntend)|customDate('#hhhh#:#mm#',true)}}</strong> -
                                                <span v-if="tripL.vehicle">{{ tripL.vehicle.numberPlate|cutString(5,'end') }}</span> -
                                                {{$t('empty')}} : <strong :style="{'color':(trip!==null &&trip.tripId == tripL.tripId)?'#fff':tripL.totalEmptySeat==0?'red':'#4caf50'}">{{ tripL.totalEmptySeat }}</strong>
                                            </button>&nbsp;
                                        </template>
                                    </template>
                                    <button class="btn btn-outline-primary btn-sm top5" :title="$t('enhance-trip')" v-if="route.listPoint[indexPointInRoute[startPoint.id]].listPrice[indexPointInRoute[endPoint.id]]>-1&&$root.roles.SCHEDULE_CREATE" @click="openModalPlanForTripPlus()&&!$root.isAgency()">
                                        <i class="fa fa-plus"> </i> {{$t('enhanced')}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="trip!==null&&route.listPoint[indexPointInRoute[startPoint.id]].listPrice[indexPointInRoute[endPoint.id]]>-1">
                        <!--giá tiền lớn hơn -1 và có chuyến-->
                        <div class="content">
                            <seat-map ref="SeatMapComponent" v-if="tab==1&&trip&&!showTicketsOrSeatMap" @event="eventSeatMap"></seat-map>
                            <tickets-in-trip ref="TicketsInTripComponent" v-if="tab==1&&trip&&showTicketsOrSeatMap"></tickets-in-trip>
                            <!--<latches-trip v-if="tab==3" :trip="selected.trip" :route="selected.route"></latches-trip>-->
                            <goods-in-trip v-if="tab==4" :trip="trip" :route="route"></goods-in-trip>
                            <assign-transshipment-driver v-if="tab==5" :trip="trip" :route="route"></assign-transshipment-driver>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="seatCount" v-show="ticketsSelected.length>0">{{ticketsSelected.length}}</div>

        <div class="fixed-bottom-alert">
            <div v-if="ticketSample">
                {{$t('book-tickets-auto-fill-information')}} : <b>{{ticketSample.fullName}}</b> {{ticketSample.phoneNumber|phoneNumber}}
                <button type="button" class="close text-white" @click="$store.commit('SET_TICKET_SAMPLE',null)" :title="$t('turn-off-automatic')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div v-if="ticketsMove&&ticketsMove.length>0">
                <span v-html="$t('seat-left', {ticketsMove : ticketsMove.length })"></span>, {{$t('choose-new-seat-to-switch-seats')}} <u>{{ticketsMove[0].seat.seatId}}</u> <b>{{ticketsMove[0].fullName}}</b> {{ticketsMove[0].phoneNumber|phoneNumber}}
                <button type="button" class="btn btn-sm btn-outline-light" data-dismiss="modal" aria-label="Close" @click="doAutoFillMoveTicket()" :title="$t('automatic-sort-tickets')">
                    <i class="fa fa-fill-drip"></i>&nbsp;
                </button>
                <button type="button" class="btn btn-sm btn-outline-light" data-dismiss="modal" aria-label="Close" @click="$store.commit('Ticket05/CANCEL_FIRST_MOVE_TICKET')" :title="$t('remove-this-seat')">
                    <i class="fa fa-minus"></i>&nbsp;
                </button>
                <button type="button" class="btn btn-sm btn-outline-light" data-dismiss="modal" aria-label="Close"  @click="$store.commit('Ticket05/CANCEL_MOVE_TICKET')" :title="$t('cancel-operation')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="d-none">
            <print-ticket ref="PrintTicketComponent"></print-ticket>
            <print-ticket-temp ref="PrintTicketTempComponent"></print-ticket-temp>
            <print-table-tickets ref="PrintTableTicketsComponent"></print-table-tickets>
            <print-seat-map ref="PrintTableSeatMapComponent"></print-seat-map>
        </div>

        <!--modal manage trip-->
        <div class="modal fade bd-example-modal-lg" id="modalManageTrip" tabindex="-1" role="dialog" aria-labelledby="modalManageTrip" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" v-if="trip">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('infor-trip')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <manage-trip ref="manageTripComponent" :find="{listLockTrip:true}" @eventManageTrip="eventManageTrip"></manage-trip>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" v-if="$root.roles.TRIP_ARRANGE" @click="$refs.manageTripComponent.save()"><i class="fa fa-save"></i> {{$t('button.edit')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" v-if="trip.tripStatus<2&&$root.roles.TRIP_START" @click="$refs.manageTripComponent.save(2)"><i class="fa fa-play-circle"></i> {{$t('button.out-park')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" v-if="trip.tripStatus==2&&$root.roles.TRIP_OPEN_STARTED" @click="$refs.manageTripComponent.save(1)"><i class="fa fa-pause"></i> {{$t('button.open-out-park')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal manage trip-->

        <!--modal sell ticket-->
        <div class="modal fade bd-example-modal-lg" id="modalSellTicket" tabindex="-1" role="dialog" aria-labelledby="modalSellTicket" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('sell-ticket')}}</h5> &nbsp; &nbsp; &nbsp; <span v-if="trip" style="line-height: 2">Tuyến:  {{trip.route.name}}, Khởi hành {{trip.startTime|customDate('#hhhh#:#mm#',true)}} Ngày {{trip.date|strToDate}}</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$store.dispatch('Ticket05/UN_LOCK_SEAT')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-if="trip&&ticketsSelected.length>0" style="padding-top:0;padding-bottom:0">
                        <sell-ticket ref="formSellTicket" @event="sellTicketEvent"></sell-ticket>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-primary text-uppercase" @click="$refs.formSellTicket.doSellTicket('pay')"><i class="fa fa-shopping-cart"></i> {{$t('payment')}}</button>
                        <button type="button" class="btn btn-sm btn-warning text-uppercase" @click="$refs.formSellTicket.doSellTicket()"><i class="fa fa-pencil-alt"></i> {{$t('keep-seat')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal" @click="$store.dispatch('Ticket05/UN_LOCK_SEAT')"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal sell ticket-->

        <!--modal update ticket-->
        <div class="modal fade bd-example-modal-lg" id="modalUpdateTicket" tabindex="-1" role="dialog" aria-labelledby="modalUpdateTicket" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('update-ticket')}}</h5> &nbsp; &nbsp; &nbsp; <span v-if="trip" style="line-height: 2">Tuyến:  {{trip.route.name}}, Khởi hành {{trip.startTime|customDate('#hhhh#:#mm#',true)}} Ngày {{trip.date|strToDate}}</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-if="trip&&ticketsSelected.length>0&&ticketsSelectedType==1" style="padding-top:0;padding-bottom:0">
                        <update-ticket ref="formUpdateTicket" @event="updateTicketEvent"></update-ticket>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-primary text-uppercase" @click="$refs.formUpdateTicket.doUpdateTicket('pay')"><i class="fa fa-shopping-cart"></i> {{$t('payment')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" @click="$refs.formUpdateTicket.doUpdateTicket()"><i class="fa fa-edit"></i> {{$t('button.edit')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal update ticket-->

        <!--cancel ticket modal-->
        <div class="modal fade bd-example-modal-lg" id="modalCancelTicket" tabindex="-1" role="dialog" aria-labelledby="modalCancelTicket" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('cancel-ticket')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0" v-if="trip">
                        <cancel-ticket ref="CancelTicketComponent" :trip="trip" @event="cancelTicketEvent"></cancel-ticket>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button class="btn btn-outline-primary btn-sm text-uppercase" @click="$refs.CancelTicketComponent.cancel()"><i class="fa fa-trash"></i> {{$t('button.delete')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end cancelticket-->

        <!--history-->
        <div class="modal fade bd-example-modal-lg" id="modalSeatHistory" tabindex="-1" role="dialog" aria-labelledby="modalSeatHistory" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('history')}} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <ticket-and-seat-history ref="formSeatHistory"></ticket-and-seat-history>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end history-->

        <!--modal plus trip-->
        <div class="modal fade bd-example-modal-lg" id="modalPlanForTripPlus" tabindex="-1" role="dialog" aria-labelledby="modalPlanForTripPlus" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('enhance-trip')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0" v-if="route&&date">
                        <plan-for-trip-not-loop ref="AddPlanForTripNotLoop" :route="route" :date="date" @createSuccess="addPlanForTripSuccess"></plan-for-trip-not-loop>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddPlanForTripNotLoop.create()"><i class="fa fa-save"></i> {{$t('create-calendar')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal plus trip-->

        <!--modal sell ticket not seat-->
        <div class="modal fade bd-example-modal-lg" id="modalNumberSeatSell" tabindex="-1" role="dialog" aria-labelledby="modalNumberSeatSell" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('number-seats-sold')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <div class="form-group">
                            <label>{{$t('ticket-number-want-to-sell')}}</label>
                            <input-number class="form-control" v-model="numberSeatSell"></input-number>
                        </div>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button class="btn btn-outline-primary btn-sm text-uppercase" @click="sellTicketsNotSeat()"><i class="fa fa-save"></i> {{$t('sell')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal sell ticket not seat-->

        <!--modal often select route-->
        <div class="modal fade bd-example-modal-lg" id="modalRouteOftenSelect" tabindex="-1" role="dialog" aria-labelledby="modalRouteOftenSelect" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" v-if="routes">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('routing-often-used')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <route-often-select ref="RouteOftenSelectComponent" :routes="routes" @saveSuccess="getSettingRouteOftenSelect"></route-often-select>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.RouteOftenSelectComponent.saveSetting()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal often select route-->
        <!--modal list ticket-->
        <div class="modal fade bd-example-modal-lg" id="modalListTicketSelected" tabindex="-1" role="dialog" aria-labelledby="modalListTicketSelected" aria-hidden="true" v-if="ticketsSelected.length>0&&ticketsSelectedType==1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('list-ticket')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <table class="table table-sm text-center table-bordered" style="margin-top:1rem">
                            <template v-for="(ticket,t) in ticketsSelected">
                                <tr>
                                    <td>{{t+1}}</td>
                                    <td>{{ticket.seat.seatId}}</td>
                                    <td>{{ticket.ticketCode}}</td>
                                    <td>{{ ticket.pointUp.name }}</td>
                                    <td>{{ticket.pointDown.name}}</td>
                                    <td>{{ ticket.fullName }}</td>
                                    <td>{{ ticket.phoneNumber|phoneNumber }}</td>
                                    <td>{{ ticket.agencyPrice|number}}</td>
                                    <td>{{ ticket.note}}</td>
                                </tr>
                            </template>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal list ticket-->
    </div>
</template>
<script>
    import { mapActions,mapState,mapGetters } from 'vuex';
    import SeatMap from './SeatMap';
    import ManageTrip from '../../Trip/ManageTrip.vue';
    import SellTicket from './SellTicket';
    import UpdateTicket from './UpdateTicket';
    import CancelTicket from './CancelTicket.vue';
    import TicketAndSeatHistory from './TicketAndSeatHistory.vue';
    import AssignTransshipmentDriver from './AssignTransshipmentDriver';
    import TicketsInTrip from './TicketsInTrip';
    import GoodsInTrip from '../../Trip/GoodsInTrip.vue';
    import PlanForTripNotLoop from '../../PlanForTrip/AddPlanForTripNotLoop.vue';

    import RouteOftenSelect from '../../Route/RouteOftenSelect.vue';

    import PrintTicket from '../../Print/Ticket.vue';
    import PrintTicketTemp from '../../Print/TicketTemp.vue';
    import PrintTableTickets from '../../Print/TableTickets.vue';
    import PrintSeatMap from '../../Print/PrintSeatMap.vue';
    import GoogleMap from '../../Helper/GoogleMap/GoogleMap'
    export default {
        components : {SeatMap,ManageTrip,SellTicket,UpdateTicket,CancelTicket,TicketAndSeatHistory,PrintTicket,PrintTicketTemp,PrintTableTickets,PrintSeatMap,AssignTransshipmentDriver,GoodsInTrip,PlanForTripNotLoop,RouteOftenSelect,GoogleMap,TicketsInTrip},
        data: function(){
            return {
                tabs : {
                    1 : this.$t('sell-ticket'),
                    2 : this.$t('print-exposure'),
                    3 : this.$t('fasteners-trip'),
                    4 : this.$t('commodity'),
                    5 : this.$t('distributing-transit-customers')
                },
                tab : 1,
                numberSeatSell : 1,
                routeOftenSelect : [],
            }
        },
        mounted : function () {
            this.getSettingRouteOftenSelect();
            this.$store.dispatch('Ticket05/INIT');
            if(this.$root.isAgency()){
                this.$store.dispatch('SET_AGENCY_DEBT_LIMIT');
            }
            this.$store.commit('SET_SELL_FORM',this.$route.name);
        },
        computed : {
            ...mapState('Ticket05',{
                date : state => state.date,
                route : state => state.route,
                startPoint : state => state.startPoint,
                endPoint : state => state.endPoint,
                routes : state => state.routes,
                trips : state => state.trips,
                trip : state => state.trip,
                loading : state => state.loading,
                indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected : state => state.ticketsSelected,
                ticketsSelectedType : state => state.ticketsSelectedType,
                ticketsMove : state => state.ticketsMove,
                showWay : state => state.showWay,
                showAllTicketInSeat : state => state.showAllTicketInSeat,
                showDetailTrips : state => state.showDetailTrips,
            }),
            ...mapState({
                ticketSample : state => state.ticketSample,
                mergeTicketsWhenPrint : state => state.mergeTicketsWhenPrint,
                showTicketsOrSeatMap : state => state.showTicketsOrSeatMap,
            }),
            infoTotalTrip : function () {
                let total = {

                }
                let trip = this.trip;
            },
            ...mapGetters('Ticket05',[
                'allowPastDaysToSellTicket'
            ]),
        },
        methods :{
            ...mapActions('Ticket05',[
                'SET_ROUTE',
                'SET_DATE',
                'SET_START_POINT',
                'SET_END_POINT',
                'SET_TRIP',
                'SET_TICKET_MOVE'
            ]),
            eventSeatMap : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'sell-ticket' :
                        this.$store.dispatch('Ticket05/LOCK_SEAT');
                        this.$refs.formSellTicket.refresh();
                        $('#modalSellTicket').modal('show');
                        break;
                    case 'update-ticket' :
                        this.$refs.formUpdateTicket.refresh();
                        $('#modalUpdateTicket').modal('show');
                        break;
                    case 'cancel-ticket' :
                        this.cancelTicket();
                        break;
                    case 'print-ticket' :
                        this.$refs.PrintTicketComponent.print(this.ticketsSelected);
                        break;
                    case 'print-ticket-temp' :
                        this.$refs.PrintTicketTempComponent.print(this.ticketsSelected);
                        break;
                    case 'move-to-no-seat' :
                        let ticketsMoveToNoSeat = [];
                        $.each(self.ticketsSelected,function (t,ticket) {
                            let ticketInfoNoSeat = {
                                ticketId : ticket.ticketId,
                                seat : {
                                    seatId : ticket.seat.seatId,
                                    seatType : 0
                                }
                            }

                            let stt = func.checkTicketStatus(ticket)
                            if(stt.mode=='cancel'||stt.mode == 'endTime'){
                                ticketInfoNoSeat.ticketStatus=2;
                                ticketInfoNoSeat.overTime=0;
                            }
                            ticketsMoveToNoSeat.push(ticketInfoNoSeat);
                        });
                        self.$store.dispatch('Ticket05/UN_SELECTED');
                        self.load('moveToNoSeat');
                        sendJson({
                            url : urlDBD(API.ticketTransfer),
                            data : ticketsMoveToNoSeat,
                            success : function (data) {
                                notify("Đang xử lý...",'info');
                                self.unload('moveToNoSeat');
                            },
                            functionIfError : function (err) {
                                self.unload('moveToNoSeat');
                            }
                        })
                        break;
                    case 'history-ticket' :
                        this.$refs.formSeatHistory.getTicketHistory(event.data);
                        $('#modalSeatHistory').modal('show');
                        break;
                    case 'history-seat' :
                        if(this.$root.isAgency()){
                            return false;
                        }
                        this.$refs.formSeatHistory.getSeatHistory(event.data.tripId,event.data.seatId);
                        $('#modalSeatHistory').modal('show');
                        break;
                    case 'move-ticket' :
                        self.$store.dispatch('Ticket05/SET_TICKETS_MOVE');
                        break;
                    case 'open-modal-sell-ticket-not-seat' :
                        $('#modalNumberSeatSell').modal('show');
                        break;
                    case 'show-list-ticket' :
                        $('#modalListTicketSelected').modal('show');
                        break;
                }
            },
            sellTicketEvent : function (event) {
                let self =this;
                switch (event.eventName) {
                    case 'sell-ticket-success' :
                        $('#modalSellTicket').modal('hide');
                        if(event.data.print){
                            this.$refs.PrintTicketComponent.print(event.data.results.listTicket);
                        }
                        if(event.data.printTemp){
                            this.$refs.PrintTicketTempComponent.print(event.data.results.listTicket);
                        }
                        break;
                    case 'close-modal-sell' :
                        $('#modalSellTicket').modal('hide');
                        break;
                }
            },
            updateTicketEvent : function (event) {
                switch (event.eventName) {
                    case 'update-ticket-success' :
                        $('#modalUpdateTicket').modal('hide');
                        if(event.data.print){
                            this.$refs.PrintTicketComponent.print(event.data.results.listTicket);
                        }
                        if(event.data.printTemp){
                            this.$refs.PrintTicketTempComponent.print(event.data.results.listTicket);
                        }
                        break;
                }
            },
            openModalManageTrip : function () {
                let self = this;
                this.$refs.manageTripComponent.refresh(self.trip);
                $(this.$el).find('#modalManageTrip').modal('show');
            },
            eventManageTrip : function (data) {
                let self =this;
                switch (data.event) {
                    case 'updateSuccess':
                        notify(self.$t('notify.processing'))
                        $(self.$el).find('#modalManageTrip').modal('hide');
                        break;
                    case 'updateError':
                        break;
                    case 'cancelSuccess':
                        func.removeHistory('tripId');
                        $(self.$el).find('#modalManageTrip').modal('hide');
                        break;
                }
            },
            cancelTrip : function(){
                if(!confirm(this.$t('notify.confirm-delete'))){
                    return false;
                }
                let self = this;
                this.$refs.manageTripComponent.refresh(self.trip);
                setTimeout(function () {
                    self.$refs.manageTripComponent.save(4);
                },200);
            },
            cancelTicket : function(){
                let self = this;
                self.$refs.CancelTicketComponent.refresh(self.ticketsSelected);
                $(self.$el).find('#modalCancelTicket').modal('show');
            },
            cancelTicketEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.$store.dispatch('Ticket05/UN_SELECTED');
                        $(self.$el).find('#modalCancelTicket').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            doAutoFillMoveTicket : function(){
                let self = this;
                if(self.ticketsMove[0].routeInfo.id!==self.route.routeId){
                    notify(self.$t('notify.only-included-in-the-same-route'),'error');
                    return false;
                }
                if(self.ticketsMove[0].tripId===self.trip.tripId){
                    notify(self.$t('notify.plz-select-another-trip-to-use-this-function'),'error');
                    return false;
                }
                let seatMap = _.cloneDeep(self.trip.seatMapFake);
                let data = [];
                $.each(self.ticketsMove,function (t,ticket) {
                    let tk = {
                        ticketId : ticket.ticketId,
                        agencyPrice: ticket.agencyPrice,
                        tripId : self.trip.tripId,
                    }
                    try{
                        if(seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].seatType!==3&&seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].seatType!==4){// không phải ghế hoặc giường
                            tk.seat = {
                                seatId : ticket.seat.seatId,
                                seatType : 0,
                            }
                            data.push(tk);
                            return;
                        }
                        // đẩy vé vào trong ghế
                        if(seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].tickets){
                            if(self.checkPointTicketMove(seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].tickets,ticket)){
                                seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].tickets.push(ticket);
                                tk.seat = {
                                    seatId : (seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].seatId||ticket.seat.seatId),
                                    seatType : (seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].seatType||ticket.seat.seatType),
                                }
                            }else{
                                tk.seat = {
                                    seatId : ticket.seat.seatId,
                                    seatType : 0,
                                }
                            }

                        }else{
                            seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].tickets=[ticket];
                            tk.seat = {
                                seatId : (seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].seatId||ticket.seat.seatId),
                                seatType : (seatMap[ticket.seat.floor-1][ticket.seat.row-1][ticket.seat.column-1].seatType||ticket.seat.seatType),
                            }
                        }
                        data.push(tk);
                    }catch(e){
                        tk.seat = {
                            seatId : ticket.seat.seatId,
                            seatType : 0,
                        }
                        data.push(tk);
                    }
                });
                self.load('updateTicketMoveAll');
                self.$store.commit('Ticket05/CANCEL_MOVE_TICKET');
                sendJson({
                    url : urlDBD(API.ticketUpdate),
                    data : data,
                    success : function (res) {
                        self.$root.ticketsMove = [];
                        notify(self.$t('notify.processing'));
                        self.unload('updateTicketMoveAll');
                    },
                    functionIfError : function (err) {
                        self.unload('updateTicketMoveAll');
                    }
                })
            },
            openModalPlanForTripPlus :function () {
                $(this.$el).find('#modalPlanForTripPlus').modal('show');
            },
            addPlanForTripSuccess : function (data) {
                $(this.$el).find('#modalPlanForTripPlus').modal('hide');
                this.$store.dispatch('Ticket05/GET_TRIPS')
            },
            sellTicketsNotSeat : function(){
                let self = this;
                $('#modalNumberSeatSell').modal('hide');
                let ticketExample = {
                    id : func.makeId(),
                    seat : {
                        seatId : 'NO SEAT',
                        floor : -1,
                        row : -1,
                        column : -1,
                        extraPrice : 0,
                        seatType : 0,
                    },
                    fullName : '',
                    phoneNumber : '',
                    birthday : '',
                }
                if(self.numberSeatSell>0){
                    for(let i=0;i<self.numberSeatSell;i++){
                        this.$store.dispatch('Ticket05/PUSH_SELL_TICKET',ticketExample);
                    }
                }
                setTimeout(function () {
                    self.eventSeatMap({eventName : 'sell-ticket'})
                },500);
            },
            openModalRouteOftenSelect :function () {
                this.$refs.RouteOftenSelectComponent.getSetting();
                $(this.$el).find('#modalRouteOftenSelect').modal('show');
            },
            getSettingRouteOftenSelect : function () {
                $(this.$el).find('#modalRouteOftenSelect').modal('hide');
                let self = this;
                let str = localStorage.getItem('RouteOftenSelect')||'{}';
                let data = JSON.parse(str);
                if(self.routeOftenSelect){
                    $.each(self.routeOftenSelect,function (r,route) {
                        if(route.connectFirebase&&route.connectFirebase.path!==undefined){
                            route.connectFirebase.off();
                        }
                    });
                }
                if(data.companyId === self.userInfo.userInfo.companyId){
                    let listRoute = [];
                    $.each(data.routes, function (r, route) {
                        let routeInfo = route;
                        routeInfo.showTickets = false;
                        routeInfo.tickets = [];
                        let cnn = firebaseDatabase.ref().child('ticketOnlines').child(route.routeId);
                        cnn.on('value', function (snapshot) {
                            let data = snapshot.val();
                            routeInfo.tickets = data;
                        });
                        routeInfo.connectFirebase = cnn;
                        listRoute.push(routeInfo);
                    });
                    this.routeOftenSelect = listRoute;
                }else{
                    this.routeOftenSelect = [];
                }
            },
            goToTicket : function (ticket) {
                let data = {
                    tripId : ticket.tripId,
                    routeId : ticket.routeInfo.id,
                    startPointId : ticket.pointUp.id,
                    endPointId : ticket.pointDown.id,
                    ticketId : ticket.ticketId,
                    ticketStatus : ticket.ticketStatus,
                    floor : ticket.seat.floor,
                }
                data.date = this.$options.filters.customDate(ticket.getInTimePlan,'#DD#-#MM#-#YYYY#',true);
                func.setHistory(data);
                this.$store.commit('Ticket05/SET_TICKET_SCROLL',ticket);
                this.$store.dispatch('Ticket05/INIT');
                this.$store.dispatch('Ticket05/DELETE_TICKET_ONLINE_FIREBASE',{
                    tripId : ticket.tripId,
                    ticketCode : ticket.ticketCode,
                    phoneNumber : ticket.phoneNumber
                });
            }
        }
    }
</script>