<template>
    <div class="row" v-if="ticketActive">
        <div class="col-12 bg-e" style="padding-top:0;padding-bottom:5px">
            <template v-for="(ticket,t) in tickets">
                <button :class="[ticket.idFake == ticketActive.idFake ? 'btn btn-sm btn-primary top5' : 'btn btn-sm btn-outline-primary top5']" @click="ticketActive = ticket;autoFill=false">{{ticket.seatId}}</button>&nbsp;
            </template>
        </div>
        <div class="col-12 col-md-7 top10">
            <div class="row bottom20">
                <div class="col">
                    <multiselect @select="changeStartPoint" select-label="" class="multiple-sm" :allow-empty="false" deselect-label="" :options="route.listPoint" label="name" :placeholder="$t('filter.select-route')" v-model="ticketActive.startPoint" track-by="id"></multiselect>
                </div>
                <div class="col-auto">
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div class="col">
                    <multiselect @select="changeEndPoint" select-label="" class="multiple-sm" :allow-empty="false" deselect-label="" :options="route.listPoint" label="name" :placeholder="$t('filter.select-route')" v-model="ticketActive.endPoint" track-by="id"></multiselect>
                </div>
            </div>
            <div class="form-group row no-gutters" v-if="ticketActive.pointUp">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('to-pick-up')}}</label>
                <div class="col-10">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <select @change="changePointUpType()" class="form-control form-control-sm" v-model="ticketActive.pointUp.pointType">
                                <option :value="0">{{$t('at-dock')}}</option>
                                <option :value="1">{{$t('at-home')}}</option>
                                <option :value="2">{{$t('along-way')}}</option>
                                <option :value="3" v-if="ticketActive.listTransshipmentInPoint">{{$t('transshipment')}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <div v-if="ticketActive.pointUp.pointType==0" class="top5"> &nbsp; &nbsp;{{ticketActive.startPoint.name}}</div>
                            <div v-show="ticketActive.pointUp.pointType==2||ticketActive.pointUp.pointType==1">
                                <input type="text" class="form-control form-control-sm" id="pickUpAutoCompleteUpdate" v-model="ticketActive.pointUp.address" @input="changePointUpAddress">
                            </div>
                            <div v-if="ticketActive.pointUp.pointType==3&&ticketActive.listTransshipmentInPoint">
                                <multiselect @input="changePointUpTransshipment()" :options="ticketActive.listTransshipmentInPoint" v-model="ticketActive.transshipmentInPoint" label="name" track-by="id" class="multiple-sm" :placeholder="$t('choose-point')"></multiselect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('leave')}}</label>
                <div class="col-10">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <select @change="changePointDownType()" class="form-control form-control-sm" v-model="ticketActive.pointDown.pointType">
                                <option :value="0">{{$t('at-dock')}}</option>
                                <option :value="1">{{$t('at-home')}}</option>
                                <option :value="2">{{$t('along-way')}}</option>
                                <option :value="3" v-if="ticketActive.listTransshipmentOffPoint">{{$t('transshipment')}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <div v-if="ticketActive.pointDown.pointType==0" class="top5"> &nbsp; &nbsp;{{ticketActive.endPoint.name}}</div>
                            <div v-show="ticketActive.pointDown.pointType==1||ticketActive.pointDown.pointType==2">
                                <input type="text" class="form-control form-control-sm" id="dropOffAutoCompleteUpdate" v-model="ticketActive.pointDown.address" @input="changePointDownAddress">
                            </div>
                            <div v-if="ticketActive.pointDown.pointType==3&&ticketActive.listTransshipmentOffPoint">
                                <multiselect @input="changePointDownTransshipment()" :options="ticketActive.listTransshipmentOffPoint" label="name" class="multiple-sm"  track-by="id" v-model="ticketActive.transshipmentOffPoint" :placeholder="$t('choose-point')"></multiselect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('phone-number')}}</label>
                <div class="col-10">
                    <input type="text" class="form-control form-control-sm" pattern="[0-9]{10}" :value="ticketActive.phoneNumber" @input="updateField($event,'phoneNumber')" id="ticketPhoneNumberUpdate">
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('fullname')}}</label>
                <div class="col-10 input-group">
                    <input type="text" class="form-control form-control-sm" :value="ticketActive.fullName" @input="updateField($event,'fullName')">
                    <input type="text" :value="ticketActive.birthday" @input="updateField($event,'birthday')" class="form-control form-control-sm" :placeholder="[$t('birthday')+ '(dd-mm-yyyy)']">
                </div>
            </div>
            <!--<div class="form-group row no-gutters">-->
            <!--<label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">N/Sinh</label>-->
            <!--<div class="col">-->
            <!--<input type="text" :value="ticketActive.birthday" @input="updateField($event,'birthday')" class="form-control form-control-sm">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group row no-gutters" v-show="!userInfo.isAgency" v-if="roles.AGENCY_GET_LIST">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('menu.agency')}}</label>
                <div class="col-10">
                    <select-agency inputClass="multiple-sm" :value="ticketActive.agency" @input="updatePolicyTicket" :allowClear="true"></select-agency>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('link-code')}}</label>
                <div class="col-10">
                    <input type="text" class="form-control form-control-sm" :value="ticketActive.foreignKey" @input="updateField($event,'foreignKey')">
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('note')}}</label>
                <div class="col-10">
                    <textarea rows="3" class="form-control form-control-sm" :value="ticketActive.note" @input="updateField($event,'note')"></textarea>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">&nbsp;</label>
                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="isAdultUpdate" v-model="ticketActive.isAdult" @change="changeIsAdult()">
                                <label class="form-check-label font-weight-normal" for="isAdultUpdate">{{$t('adult-chair')}}</label>
                                <UploadImage v-model="ticketActive.image" :iconSize="32"></UploadImage>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="sendSMSUpdate" v-model="ticketActive.sendSMS" @change="changeSendSMS()">
                                <label class="form-check-label font-weight-normal" for="sendSMSUpdate">{{$t('send-message')}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">&nbsp;</label>
                <div class="col-10">
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="printTicketUpdate" v-model="printTicketAfterUpdate">
                                <label class="form-check-label font-weight-normal" for="printTicketUpdate"> {{$t('print-ticket')}} </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="printTicketTempUpdate" v-model="printTicketTempAfterUpdate">
                                <label class="form-check-label font-weight-normal" for="printTicketTempUpdate"> {{$t('print-temp-ticket')}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters" v-show="isAgency()">
                <label class="col-2 col-form-label-sm padding-right-10"></label>
                <div class="col-10">
                    {{$t('the-default-placeholder-time-is')}} <b>{{ userInfo.timeBookHolder }}</b> {{$t('minute')}}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 border-left">
            <div class="form-group row no-gutters top10">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('price-ticket')}}</label>
                <div class="col-5 text-right">{{ ticketActive.priceAfterAdult|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('discount-agency')}}</label>
                <div class="col-5 text-right">- {{ ticketActive.priceCommission|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('promotion')}}</label>
                <div class="col-5 text-right">- {{ ticketActive.pricePromotion|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('money-transshipment')}}</label>
                <div class="col-5 text-right">+ {{ ticketActive.priceTransshipmentUp+ticketActive.priceTransshipmentDown|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('policy')}}</label>
                <div class="col-5 text-right"> {{ ticketActive.priceAddition|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('total-money')}}</label>
                <div class="col-5 text-right">{{ ticketActive.totalPrice|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('real-revenue')}}</label>
                <div class="col-5 input-money">
                    <input-number class="form-control form-control-sm text-right" :readonly="!userInfo.isEditTicketPrice" :value="ticketActive.agencyPrice"  @input="changeAgencyPrice"></input-number>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('received')}}</label>
                <div class="input-money col-5">
                    <input-number class="form-control form-control-sm text-right" :value="ticketActive.paidMoney" @input="changePaidMoney"></input-number>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('remain')}}</label>
                <div class="col-5 text-right">{{ ticketActive.agencyPrice-ticketActive.paidMoney|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-6 padding-right-10 font-weight-normal">{{$t('filter.payment-type')}}</label>
                <div class="col-6 text-right">
                    <select class="form-control form-control-sm" :value="ticketActive.paymentType" @input="updateField($event,'paymentType')">
                        <template v-for="(type,t) in $root.paymentTypes">
                            <option :value="t">{{type}}</option>
                        </template>
                        <template v-if="userInfo.userInfo.companyId === 'TC1OHntfnujP'">
                            <!--inter-->
                            <option value="quocte">Thẻ Visa/Master</option>
                            <option value="noidia">Thẻ ATM nội địa</option>
                            <!--<option value="vnp">Thanh toán QR code</option>-->
                        </template>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 border-top" style="padding-top: 5px">
            <div class="row">
                <div class="col">
                    <div class="form-group row no-gutters top10 w-100">
                        <label class="col-auto padding-right-10 font-weight-normal text-right col-form-label-sm font-weight-bold" style="font-size: 15px">{{$t('real-price-for-everything')}}</label>
                        <div class="col text-right">
                            <input-number :value="agencyPriceShare" @input="shareAgencyPrice" class="form-control form-control-sm"></input-number>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row no-gutters top10 w-100">
                        <label class="col-auto padding-right-10 font-weight-normal text-right col-form-label-sm font-weight-bold" style="font-size: 15px">{{$t('deposit-for-everything')}}</label>
                        <div class="col text-right">
                            <input-number :value="paidMoneyShare" @input="sharePaidMoney" class="form-control form-control-sm"></input-number>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 font-weight-bold text-right bg-e">
            <div class="float-left top5 form-check" v-if="allowAutoFill">
                <input type="checkbox" class="form-check-input" id="autoFillUpdate" v-model="autoFill">
                <label class="form-check-label font-weight-normal" for="autoFillUpdate">{{$t('auto-fill-for-all-seats')}} </label>
            </div>
            <div class="float-left top5 font-weight-normal" v-else>
                {{$t('there-are-seats-not-on-the-same-point')}}
            </div>
            <span class="text-uppercase">{{$t('total-seat')}}</span> : <span class="size20">{{ tickets.length }}</span> ,
            <span class="text-uppercase">{{$t('total-money')}}</span> : <span class="size20">{{ totalPrice.totalPrice|number }}</span> , <span class="text-uppercase">{{$t('real-revenue')}}</span> : <span class="size20 text-anvui">{{ totalPrice.agencyPrice|number }}</span>
            , <span class="text-uppercase">{{$t('received')}}</span> : <span class="size20 text-info">{{ totalPrice.paidMoney|number }}</span> ,
            <span class="text-uppercase">{{$t('must-receive')}}</span> : <span class="size20 text-danger">{{(totalPrice.agencyPrice-totalPrice.paidMoney)|number }}</span>
        </div>
    </div>
</template>
<script>
    import UploadImage from "../../Template/UploadImage";
    import { mapState } from 'vuex';
    export default {
        components: {UploadImage},
        data : function () {
            return {
                tickets : [],
                ticketActive : null,
                totalPrice : {
                    totalPrice : 0,
                    agencyPrice : 0,
                    paidMoney : 0,
                },
                autoFill : false,
                allowAutoFill : false,
                printTicketAfterUpdate : false,
                printTicketTempAfterUpdate : false,
                paidMoneyShare : 0,
                agencyPriceShare : 0,
            }
        },
        computed : {
            ...mapState('Ticket05',{
                date : state => state.date,
                route : state => state.route,
                trip : state => state.trip,
                indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected : state => state.ticketsSelected,
                ticketsSelectedType : state => state.ticketsSelectedType,
            }),
        },
        methods : {
            changeStartPoint : function(newPoint){
                let self = this;
                let oldPoint = this.ticketActive.startPoint;
                let indexStartPoint = -1;
                let indexEndPoint = -1;
                let listTransshipmentInPoint = [];
                let listTransshipmentOffPoint = [];
                let price = -1;
                let allowChange = true;

                $.each(self.route.listPoint,function (p,point) {
                    if(point.id===newPoint.id){
                        indexStartPoint = p;
                        listTransshipmentInPoint = self.route.listTransshipmentPoint[point.id];// gán trung chuyển theo điẻm
                    }
                    if(point.id===self.ticketActive.endPoint.id){
                        indexEndPoint = p;
                        listTransshipmentOffPoint = self.route.listTransshipmentPoint[point.id];// gán trung chuyển theo điẻm
                    }
                });
                // check xem có phù hợp giá tiền không . giá phải lớn hơn -1
                if(indexStartPoint>=0&&indexEndPoint>=0){
                    // kiểm tra xem có vé trong khoảng chưa
                    allowChange = self.checkTicketInSeat(indexStartPoint,indexEndPoint);
                    // lấy ra giá tiền
                    price = self.route.listPoint[indexStartPoint].listPrice[indexEndPoint];
                    if(price<0){
                        allowChange = false;
                    }
                }else{
                    allowChange = false;
                }
                // kiểm tra đoạn này trong danh sách ghế đã có người đặt chưa;

                if(!allowChange){
                    setTimeout(function(){
                        self.ticketActive.startPoint = oldPoint;
                    },200);
                    notify(self.$t('notify.this-route-is-not-sold-or-has-ticket'),'error');
                    return false;
                }else {
                    self.ticketActive.originPrice = _.cloneDeep(price);
                    // cập nhật lại trung chuyển
                    self.ticketActive.listTransshipmentInPoint = listTransshipmentInPoint;
                    self.ticketActive.transshipmentInPoint = null;
                    if(self.ticketActive.pointUp.transshipmentId){
                        $.each(listTransshipmentInPoint,function (it,tsmip) {
                            if(tsmip.id===self.ticketActive.pointUp.transshipmentId){
                                self.ticketActive.transshipmentInPoint = _.cloneDeep(tsmip);
                            }
                        })
                    }
                    self.updatePrice();
                }
            },
            changeEndPoint : function(newPoint){
                let self = this;
                let oldPoint = this.ticketActive.endPoint;
                let indexStartPoint = -1;
                let indexEndPoint = -1;
                let listTransshipmentInPoint = [];
                let listTransshipmentOffPoint = [];
                let price = -1;
                let allowChange = true;

                $.each(self.route.listPoint,function (p,point) {
                    if(point.id===self.ticketActive.startPoint.id){
                        indexStartPoint = p;
                        listTransshipmentInPoint = self.route.listTransshipmentPoint[point.id];// gán trung chuyển theo điẻm
                    }
                    if(point.id===newPoint.id){
                        indexEndPoint = p;
                        listTransshipmentOffPoint = self.route.listTransshipmentPoint[point.id];// gán trung chuyển theo điẻm
                    }
                });
                // check xem có phù hợp giá tiền không . giá phải lớn hơn -1
                if(indexStartPoint>=0&&indexEndPoint>=0){
                    // kiểm tra xem có vé trong khoảng chưa
                    allowChange = self.checkTicketInSeat(indexStartPoint,indexEndPoint);
                    // lấy ra giá tiền
                    price = self.route.listPoint[indexStartPoint].listPrice[indexEndPoint];
                    if(price<0){
                        allowChange = false;
                    }
                }else{
                    allowChange = false;
                }
                // kiểm tra đoạn này trong danh sách ghế đã có người đặt chưa;

                if(!allowChange){
                    setTimeout(function(){
                        self.ticketActive.endPoint = oldPoint;
                    },200);
                    notify(self.$t('notify.this-route-is-not-sold-or-has-ticket'),'error');
                    return false;
                }else {
                    // cập nhật lại tiền
                    self.ticketActive.originPrice = _.cloneDeep(price);
                    // cập nhật lại trung chuyển
                    self.ticketActive.listTransshipmentOffPoint = listTransshipmentOffPoint;
                    self.ticketActive.transshipmentOffPoint = null;
                    if(self.ticketActive.pointDown.transshipmentId){
                        $.each(listTransshipmentOffPoint,function (it,tsmip) {
                            if(tsmip.id===self.ticketActive.pointDown.transshipmentId){
                                self.ticketActive.transshipmentOffPoint = _.cloneDeep(tsmip);
                            }
                        })
                    }
                    self.updatePrice();
                }
            },
            checkTicketInSeat : function(_indexStartPoint,_indexEndPoint){
                let self = this;
                let allowChange = true;
                // kiểm tra từ điểm đầu đến điểm cuối ghế này có ai đặt chưa
                let seat =self.ticketActive.seat;
                let seatSlt = null;
                if((seat.seatType == 3 ||seat.seatType== 4)){
                    try{
                        seatSlt = self.trip.seatMapFake[seat.floor-1][seat.row-1][seat.column-1];
                    }catch(e){
                        console.warn('updateTicket',e,seat);
                        allowChange = false;
                    }
                }

                // let seatSlt = _.cloneDeep(self.seatSelected[self.ticketActive.indexOfSeatSelected]);
                let hasTicket = false;
                if(seatSlt){
                    $.each(seatSlt.tickets,function (t,tk) {
                        if(tk.ticketId!==self.ticketActive.ticketId){
                            $.each(tk.indexFillRoute,function(i,index){
                                if(index>=_indexStartPoint&&index<_indexEndPoint){// tòn tại index trong khoảng từ bắt đầu đến kết thúc thì báo có và return
                                    hasTicket = true;
                                    return false;
                                }
                            });
                            if(hasTicket){// nếu có thì lấy ticket và return về luôn
                                return false;
                            }
                        }
                        if(hasTicket){
                            return false;
                        }
                    });
                    if(hasTicket){
                        allowChange = false;
                    }
                }

                return allowChange;
            },
            refresh  : function () {
                let self =this;
                self.printTicketAfterUpdate = false;
                self.printTicketTempAfterUpdate = false;
                self.paidMoneyShare = 0;
                self.agencyPriceShare = 0;
                let tickets = [];
                let childrenTicketRatio = self.route.childrenTicketRatio!==null&&self.route.childrenTicketRatio!==undefined?self.route.childrenTicketRatio:1;
                let total = {// tổng tất cả các vé được chọn
                    totalPrice : 0,
                    agencyPrice : 0,
                    paidMoney : 0,
                };
                let allowAutoFill = {
                    value : true,
                    startPointId: null,
                    endPointId : null
                }
                self.autoFill= false;

                $.each(self.ticketsSelected , function (t,tk) {
                    let ticket = {};
                    ticket.idFake = func.makeId();
                    ticket.seatId = tk.seat.seatId;
                    ticket.floor = tk.seat.floor;
                    ticket.row = tk.seat.row;
                    ticket.column = tk.seat.column;
                    ticket.extraPrice = tk.seat.extraPrice;
                    ticket.seatStatus = tk.seat.seatStatus;
                    ticket.seatType = tk.seat.seatType;
                    ticket.indexOfSeatSelected = t;
                    ticket.childrenTicketRatio = childrenTicketRatio;
                    ticket.seat = tk.seat;

                    ticket.ticketId = tk.ticketId;
                    ticket.phoneNumber = tk.phoneNumber;
                    ticket.fullName = tk.fullName;
                    ticket.image = tk.image;
                    ticket.birthday = tk.birthday||'';
                    ticket.note = tk.note;
                    ticket.foreignKey = tk.foreignKey;
                    ticket.isAdult = tk.isAdult;
                    ticket.sendSMS = false;//(ticketInfoOld.sendSMS||false)
                    ticket.paymentType = (tk.paymentType||3);

                    ticket.startPoint = self.route.listPoint[self.indexPointInRoute[tk.pointUp.id]];
                    ticket.indexStartPoint = self.indexPointInRoute[tk.pointUp.id];
                    ticket.listTransshipmentInPoint = self.route.listPoint[self.indexPointInRoute[tk.pointUp.id]].listTransshipmentPoint;// gán trung chuyển theo điẻm

                    ticket.endPoint = self.route.listPoint[self.indexPointInRoute[tk.pointDown.id]];
                    ticket.indexEndPoint = self.indexPointInRoute[tk.pointDown.id];
                    ticket.listTransshipmentOffPoint = self.route.listPoint[self.indexPointInRoute[tk.pointDown.id]].listTransshipmentPoint;// gán trung chuyển theo điẻm

                    ticket.transshipmentInPoint = null;
                    ticket.transshipmentOffPoint = null;

                    if(tk.pointUp.transshipmentId&&ticket.listTransshipmentInPoint){
                        $.each(ticket.listTransshipmentInPoint,function (p,point) {
                            console.log(tk.pointUp.transshipmentId,point.id);
                            if(tk.pointUp.transshipmentId==point.id){
                                ticket.transshipmentInPoint = _.cloneDeep(point);
                            }
                        })
                    }
                    if(tk.pointDown.transshipmentId&&ticket.listTransshipmentOffPoint){
                        $.each(ticket.listTransshipmentOffPoint,function (p,point) {
                            if(tk.pointDown.transshipmentId==point.id){
                                ticket.transshipmentOffPoint = _.cloneDeep(point);
                            }
                        })
                    }

                    ticket.pointUp = {
                        pointType :tk.pointUp.pointType,
                        id :tk.pointUp.id,
                        name :tk.pointUp.name,
                        address :tk.pointUp.address,
                        longitude :tk.pointUp.longitude,
                        latitude :tk.pointUp.latitude,
                        transshipmentId :(tk.pointUp.transshipmentId||null),
                    };
                    ticket.pointDown = {
                        pointType :tk.pointDown.pointType,
                        id :tk.pointDown.id,
                        name :tk.pointDown.name,
                        address :tk.pointDown.address,
                        longitude :tk.pointDown.longitude,
                        latitude :tk.pointDown.latitude,
                        transshipmentId :(tk.pointDown.transshipmentId||null),
                    };

                    ticket.policy = {
                        commission : null,
                        promotion : null,
                        addition : null,
                    };
                    let additionApplyForCustomer = null;
                    let additionApplyForAgency = null;
                    if(self.trip.additions){
                        $.each(self.trip.additions,function(k,addition){
                            $.each(addition.listUserType,function (t,type) {
                                if(type==2){
                                    additionApplyForCustomer = addition;
                                }
                                if(type==4){
                                    additionApplyForAgency = addition;
                                }
                            })
                        });
                    }
                    if(tk.agency){
                        ticket.agency = {
                            id : tk.agency.id,
                            fullName : tk.agency.fullName,
                            level : (tk.agency.level||1),
                        }
                        let commission = {
                            level : (tk.agency.level||1),
                            debtLimit : (tk.agency.debtLimit||0),
                            commissionType : (tk.agency.commissionType||1),
                            commissionValue : (tk.agency.commissionValue||0),
                        }
                        ticket.policy.commission = commission;
                        if(additionApplyForAgency){
                            ticket.policy.addition = _.cloneDeep(additionApplyForAgency);
                        }
                    }else{
                        ticket.agency = null;
                        if(additionApplyForCustomer){
                            ticket.policy.addition = _.cloneDeep(additionApplyForCustomer);
                        }
                    }
                    let seatPrice = self.route.listPoint[self.indexPointInRoute[tk.pointUp.id]].listPrice[self.indexPointInRoute[tk.pointDown.id]];

                    ticket.originPrice = seatPrice;
                    ticket.priceSeatAndExtra = seatPrice + (ticket.seat.extraPrice||0);// giá tiền từ đầu khi không áp dụng chính sách gì.
                    let ticketAfterCalculatePrice = self.calculatePriceTicket(ticket);
                    ticket = _.cloneDeep(ticketAfterCalculatePrice);

                    ticket.agencyPrice = tk.agencyPrice;
                    ticket.paidMoney = tk.paidMoney;
                    self.agencyPriceShare += _.cloneDeep(ticket.agencyPrice);
                    self.paidMoneyShare += _.cloneDeep(ticket.paidMoney);

                    total.totalPrice -=-ticket.totalPrice;
                    total.agencyPrice -=-ticket.agencyPrice;
                    total.paidMoney -=-ticket.paidMoney;

                    tickets.push(ticket);

                    // kiểm tra xem các vé có thông tin điểm lên xuống có giống nhau không
                    if(allowAutoFill.startPointId == null){
                        allowAutoFill.startPointId = ticket.pointUp.id;
                    }else{
                        if(allowAutoFill.startPointId!==ticket.pointUp.id){
                            allowAutoFill.value = false;
                        }
                    }
                    if(allowAutoFill.endPointId == null){
                        allowAutoFill.endPointId = ticket.pointDown.id;
                    }else{
                        if(allowAutoFill.endPointId!==ticket.pointDown.id){
                            allowAutoFill.value = false;
                        }
                    }
                });
                self.allowAutoFill = allowAutoFill.value;
                if(allowAutoFill.value){
                    self.autoFill = true;
                }
                self.totalPrice = _.cloneDeep(total);
                this.tickets = tickets;
                this.ticketActive = tickets[0]||{};
            },
            updatePolicyTicket : function (_agency) {
                let self = this;
                let levelInfo = null;
                let policy = {
                    promotion : _.cloneDeep(self.ticketActive.policy.promotion),
                    addition : null,
                    commission : null,
                };

                let additionApplyForCustomer = null;
                let additionApplyForAgency = null;
                if(self.trip.additions){
                    $.each(self.trip.additions,function(k,addition){
                        $.each(addition.listUserType,function (t,type) {
                            if(type==2){
                                additionApplyForCustomer = addition;
                            }
                            if(type==4){
                                additionApplyForAgency = addition;
                            }
                        })
                    });
                }

                if(_agency){//nếu tồn tại đại lý.
                    if(_agency.listAgency){
                        $.each(_agency.listAgency,function(a,lsa){
                            if(lsa.companyId === self.route.companyId){
                                levelInfo = lsa;
                                return false;
                            }
                        })
                    }
                    if(levelInfo&&self.trip.commissions){// cập nhật commission đại lý
                        $.each(self.trip.commissions,function(c,com){
                            if(com.level === levelInfo.level){
                                policy.commission = com;
                                return false;
                            }
                        });
                    }

                    if(additionApplyForAgency){
                        policy.addition = _.cloneDeep(additionApplyForAgency);
                    }
                }else {//nếu đại lý == null
                    //  commission thì bằng null
                    policy.commission = null;
                    //thay đổi addition ,
                    if(additionApplyForCustomer){
                        policy.addition = _.cloneDeep(additionApplyForCustomer);
                    }
                }

                if(this.autoFill){
                    $.each(self.tickets ,function (t,tk) {
                        tk.agency = _agency;
                        tk.policy.addition = policy.addition;
                        tk.policy.commission = policy.commission;
                    });
                    self.updatePriceAll();
                }else{
                    self.ticketActive.agency=_agency;
                    self.ticketActive.policy = policy;
                    self.updatePrice();
                }
            },
            updatePrice : function(){
                let self = this;
                let ticketAfterCalculatePrice = self.calculatePriceTicket(self.ticketActive);

                self.ticketActive.priceSeatAndExtra = _.cloneDeep(ticketAfterCalculatePrice.priceSeatAndExtra);
                self.ticketActive.priceAfterAdult = _.cloneDeep(ticketAfterCalculatePrice.priceAfterAdult);

                self.ticketActive.priceCommission = _.cloneDeep(ticketAfterCalculatePrice.priceCommission);

                self.ticketActive.pricePromotion = _.cloneDeep(ticketAfterCalculatePrice.pricePromotion);

                self.ticketActive.priceTransshipmentUp = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentUp);
                self.ticketActive.priceTransshipmentDown = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentDown);

                self.ticketActive.priceAddition = _.cloneDeep(ticketAfterCalculatePrice.priceAddition);

                self.ticketActive.totalPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);

                self.ticketActive.agencyPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);

                self.updatePriceTotal();
            },
            updatePriceTotal : function(){
                let self = this;
                // cập nhật tổng tiền của tất cả
                let total = {
                    totalPrice : 0,
                    agencyPrice : 0,
                    paidMoney : 0,
                };
                $.each(self.tickets,function (t,tk) {
                    total.totalPrice -=- tk.totalPrice;
                    total.agencyPrice -=- tk.agencyPrice;
                    total.paidMoney -=- tk.paidMoney;
                });
                self.totalPrice = _.cloneDeep(total);
            },
            updatePriceAll : function () {
                let self = this;
                let total = {
                    totalPrice : 0,
                    agencyPrice : 0,
                    paidMoney : 0,
                };
                $.each(self.tickets ,function (t,tk) {
                    let ticketAfterCalculatePrice = self.calculatePriceTicket(tk);

                    tk.priceSeatAndExtra = _.cloneDeep(ticketAfterCalculatePrice.priceSeatAndExtra);
                    tk.priceAfterAdult = _.cloneDeep(ticketAfterCalculatePrice.priceAfterAdult);

                    tk.priceCommission = _.cloneDeep(ticketAfterCalculatePrice.priceCommission);

                    tk.pricePromotion = _.cloneDeep(ticketAfterCalculatePrice.pricePromotion);

                    tk.priceTransshipmentUp = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentUp);
                    tk.priceTransshipmentDown = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentDown);

                    tk.priceAddition = _.cloneDeep(ticketAfterCalculatePrice.priceAddition);

                    tk.totalPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);

                    tk.agencyPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);

                    total.totalPrice -=- tk.totalPrice;
                    total.agencyPrice -=- tk.agencyPrice;
                    total.paidMoney -=- tk.paidMoney;
                });
                self.totalPrice = _.cloneDeep(total);
                // self.updatePriceTotal();
            },

            getPoint : function(_pointInfo,_pointRoute,_transshipmentPoint){
                let pointReturn ={};
                switch(_pointInfo.pointType){
                    case 0 :
                        pointReturn ={
                            pointType : 0,
                            name : _pointRoute.name,
                            id : _pointRoute.id,
                            latitude : _pointRoute.latitude,
                            longitude : _pointRoute.longitude,
                            address : _pointRoute.address,
                            pointNameAcronym : _pointRoute.pointNameAcronym,
                        };
                        break;
                    case 3 :
                        if(_transshipmentPoint){
                            pointReturn ={
                                pointType : 3,
                                name : _transshipmentPoint.name,
                                id : _pointInfo.id,
                                latitude : _transshipmentPoint.latitude,
                                longitude : _transshipmentPoint.longitude,
                                address : _transshipmentPoint.address,
                                transshipmentId : _transshipmentPoint.id,
                                transshipmentPrice : (_transshipmentPoint.transshipmentPrice||0),
                                pointNameAcronym : _pointRoute.pointNameAcronym,
                            };
                        }else{
                            pointReturn ={
                                pointType : 3,
                                name : _pointRoute.name,
                                id : _pointRoute.id,
                                latitude : _pointRoute.latitude,
                                longitude : _pointRoute.longitude,
                                address : _pointRoute.address,
                                pointNameAcronym : _pointRoute.pointNameAcronym,
                            };
                        }
                        break;
                    default :
                        pointReturn ={
                            pointType : _pointInfo.pointType,
                            name : _pointRoute.name,
                            id : _pointRoute.id,
                            latitude : _pointInfo.latitude,
                            longitude : _pointInfo.longitude,
                            address : _pointInfo.address,
                            pointNameAcronym : _pointRoute.pointNameAcronym,
                        };
                        break;
                }
                return pointReturn;
            },
            doUpdateTicket : function (option) {
                // check quyền
                let self = this;
                let tks = [];// tickets

                let keysNoiDia = [];
                let keysQuocTe = [];
                $.each(self.tickets ,function(t,ticket){
                    let tk = {
                        ticketId : ticket.ticketId,
                        tripId : self.trip.tripId,
                        listSeatId : [ticket.seatId],
                        isAdult : ticket.isAdult,
                        fullName : ticket.fullName,
                        birthday : ticket.birthday,
                        image : ticket.image,
                        phoneNumber : ticket.phoneNumber,
                        note : ticket.note,
                        foreignKey : ticket.foreignKey,
                        agencyPrice : ticket.agencyPrice,
                        paidMoney : ticket.paidMoney,
                        sendSMS : ticket.sendSMS,
                        pointUp : self.getPoint(ticket.pointUp,ticket.startPoint,ticket.transshipmentInPoint),
                        pointDown : self.getPoint(ticket.pointDown,ticket.endPoint,ticket.transshipmentOffPoint),
                    }
                    if(ticket.paymentType == 'quocte' ||ticket.paymentType == 'noidia' ||ticket.paymentType == 'vnp'){
                        tk.paymentType = 6;
                    }else{
                        tk.paymentType = parseInt(ticket.paymentType);
                    }
                    if(ticket.paymentType == 'quocte'){
                        keysQuocTe.push(t);
                    }
                    if(ticket.paymentType == 'noidia'){
                        keysNoiDia.push(t);
                    }
                    if(ticket.agency){
                        tk.agency = {
                            id : ticket.agency.id,
                        };
                    }else{
                        tk.agency = {};
                    }
                    if(option&&option=="pay"){
                        if(self.$root.isAgency()){
                            tk.timeBookHolder = userInfo.timeBookHolder;
                        }else{
                            tk.paidMoney = ticket.agencyPrice;
                            tk.ticketStatus = 3;
                        }
                    }
                    tks.push(tk);
                });
                self.load('updateTicket');
                sendJson({
                    url : urlDBD(API.ticketUpdate),
                    data : tks,
                    success : function (res) {
                        res['print'] = self.printTicketAfterUpdate;
                        res['printTemp'] = self.printTicketTempAfterUpdate;
                        self.$emit('event',{eventName : 'update-ticket-success',data:res});
                        self.unload('updateTicket');
                        self.$store.dispatch('Ticket05/UN_SELECTED');
                        if(self.$root.isAgency()){
                            self.$store.dispatch('SET_AGENCY_DEBT_LIMIT');
                        }
                        if(self.$root.isAgency()&&option&&option=='pay'&&userInfo.userInfo.companyId === 'TC1OHntfnujP'){
                            let tickets = res.results.listTicket;
                            let idsQuocTe = [];
                            let idsNoiDia = [];
                            let agencyPriceNoiDia = 0;
                            let agencyPriceQuocTe = 0;
                            $.each(tickets,function (t,tk) {
                                if(keysQuocTe.includes(t)){
                                    idsQuocTe.push(tk.ticketId);
                                    agencyPriceQuocTe+=tk.agencyPrice;
                                }
                                if(keysNoiDia.includes(t)){
                                    idsNoiDia.push(tk.ticketId);
                                    agencyPriceNoiDia+=tk.agencyPrice;
                                }
                            })
                            if(idsQuocTe.length>0){
                                window.open(urlDBD('inter-payment/dopay?vpc_OrderInfo='+idsQuocTe.join('-')+'&vpc_Amount='+agencyPriceQuocTe+'&packageName='+window.location.href), '_blank');
                            }
                            if(idsNoiDia.length>0){
                                if(idsQuocTe.length>0){
                                    setTimeout(function () {

                                        window.open(urlDBD('interbuslines/dopay?vpc_OrderInfo='+idsNoiDia.join('-')+'&vpc_Amount='+agencyPriceNoiDia+'&packageName='+window.location.href), '_blank');
                                    },500);
                                }else{
                                    window.open(urlDBD('interbuslines/dopay?vpc_OrderInfo='+idsNoiDia.join('-')+'&vpc_Amount='+agencyPriceNoiDia+'&packageName='+window.location.href), '_blank');
                                }
                            }
                            // else if(self.paymentType==='vnp'){
                            //     window.open('{{ url("cpanel/ticket/payVnp") }}'+'/'+ids.toString());
                            // }
                        }
                    },
                    functionIfError : function (err) {
                        self.$emit('event',{eventName : 'update-ticket-error',data:err});
                        self.unload('updateTicket');
                    }
                })
            },
            autoCompletePhoneNumber : function () {
                let self = this;
                $('#ticketPhoneNumberUpdate').autocomplete({
                    source : function (request,response){
                        sendJson({
                            url : urlDBD(API.searchByPhoneNumber),
                            data : {
                                page : 0,
                                count : 5,
                                phoneNumber : request.term,
                                routeId : self.route.routeId
                            },
                            success : function (data) {
                                response(data.results.customer);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select : function(event,ui){
                        if(self.autoFill){
                            $.each(self.tickets,function(t,ticket){
                                ticket.phoneNumber=_.cloneDeep(ui.item.companyCustomer.phoneNumber);
                                ticket.fullName=_.cloneDeep(ui.item.companyCustomer.fullName);
                            });
                        }else{
                            self.ticketActive.phoneNumber = _.cloneDeep(ui.item.companyCustomer.phoneNumber);
                            self.ticketActive.fullName = _.cloneDeep(ui.item.companyCustomer.fullName);
                        }
                        return false;
                    }
                }).focus(function(){
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul,item) {
                    let innerHtml = '';
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<div class='border-bottom "+(item.companyCustomer.distrust?'bg-e':'')+"'><strong>" + item.companyCustomer.phoneNumber + "</strong> - "+item.companyCustomer.fullName+" , "+self.$t('booked')+" : <span class='text-success'>"+item.companyCustomer.numberOfTickets+"</span> , "+ self.$t('canceled')+" <span class='text-danger'>"+item.companyCustomer.numberCancelTicket+"</span></div>" )
                        .appendTo( ul );
                };
            },
            autoCompletePlace: function() {
                let self = this;
                let pickUpInput = document.getElementById('pickUpAutoCompleteUpdate');
                $(pickUpInput).on('keypress',function(){
                    self.ticketActive.pointUp.lat = null;
                    self.ticketActive.pointUp.lng = null;
                });
                let autocompletePick = new google.maps.places.Autocomplete(pickUpInput);
                autocompletePick.setComponentRestrictions(
                    {'country': ['vn']});
                autocompletePick.addListener('place_changed', function () {
                    let placePick = autocompletePick.getPlace();
                    if (!placePick.place_id) {
                        return;
                    }
                    let latPick = placePick.geometry.location.lat(),
                        lngPick = placePick.geometry.location.lng();
                    if(self.autoFill){
                        $.each(self.tickets,function(t,ticket){
                            ticket.pointUp.address = placePick.formatted_address;
                            ticket.pointUp.latitude = latPick;
                            ticket.pointUp.longitude = lngPick;
                        });
                    }else{
                        self.ticketActive.pointUp.address = placePick.formatted_address;
                        self.ticketActive.pointUp.latitude = latPick;
                        self.ticketActive.pointUp.longitude = lngPick;
                    }
                });
                let dropOffInput = document.getElementById('dropOffAutoCompleteUpdate');
                let autocompleteDropOff = new google.maps.places.Autocomplete(dropOffInput);
                $(dropOffInput).on('keypress',function(){
                    self.ticketActive.pointDown.lat = null;
                    self.ticketActive.pointDown.lng = null;
                });
                autocompleteDropOff.setComponentRestrictions(
                    {'country': ['vn']});
                autocompleteDropOff.addListener('place_changed', function () {
                    let placeDropOff = autocompleteDropOff.getPlace();
                    if (!placeDropOff.place_id) {
                        return;
                    }
                    let latDropOff = placeDropOff.geometry.location.lat(),
                        lngDropOff = placeDropOff.geometry.location.lng();

                    if(self.autoFill){
                        $.each(self.tickets,function(t,ticket){
                            ticket.pointDown.address = placeDropOff.formatted_address;
                            ticket.pointDown.latitude = latDropOff;
                            ticket.pointDown.longitude = lngDropOff;
                        });
                    }else{
                        self.ticketActive.pointDown.address = placeDropOff.formatted_address;
                        self.ticketActive.pointDown.latitude = latDropOff;
                        self.ticketActive.pointDown.longitude = lngDropOff;
                    }
                });
            },
            changeAgencyPrice : function (value) {
                let self = this;
                self.ticketActive.agencyPrice = value;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.agencyPrice=value;
                    });
                }
                self.updatePriceTotal();
            },
            changePaidMoney : function (value) {
                let self = this;
                self.ticketActive.paidMoney = value;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.paidMoney=value;
                    });
                }
                self.updatePriceTotal();
            },
            updateField : function (event,field,callback) {
                let self = this;
                let value = event.target.value;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket[field]=_.cloneDeep(value);
                    });
                }else{
                    self.ticketActive[field] = _.cloneDeep(value);
                }
                if(typeof callback==='function'){
                    callback();
                }
            },
            changeIsAdult : function () {
                let self = this;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.isAdult=_.cloneDeep(self.ticketActive.isAdult);
                    });
                    self.updatePriceAll();
                }else{
                    self.updatePrice();
                }
            },
            changeSendSMS : function () {
                let self = this;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.sendSMS=_.cloneDeep(self.ticketActive.sendSMS);
                    });
                }
            },
            changePointUpType : function () {
                let self = this;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.pointUp.pointType=_.cloneDeep(self.ticketActive.pointUp.pointType);
                    });
                    self.updatePriceAll();
                }else{
                    self.updatePrice();
                }
            },
            changePointUpTransshipment : function () {
                let self = this;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.transshipmentInPoint=_.cloneDeep(self.ticketActive.transshipmentInPoint);
                    });
                    self.updatePriceAll();
                }else{
                    self.updatePrice();
                }
            },
            changePointUpAddress : function(event){
                let self = this;
                let value = event.target.value;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.pointUp.address=_.cloneDeep(value);
                        ticket.pointUp.latitude=_.cloneDeep(self.ticketActive.latitude);
                        ticket.pointUp.longitude=_.cloneDeep(self.ticketActive.longitude);
                    });
                }else{
                    self.ticketActive.pointUp.address = _.cloneDeep(value);
                }
            },
            changePointDownAddress : function(event){
                let self = this;
                let value = event.target.value;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.pointDown.address=_.cloneDeep(value);
                        ticket.pointDown.latitude=_.cloneDeep(self.ticketActive.latitude);
                        ticket.pointDown.longitude=_.cloneDeep(self.ticketActive.longitude);
                    });
                }else{
                    self.ticketActive.pointDown.address = _.cloneDeep(value);
                }
            },
            changePointDownType : function () {
                let self = this;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.pointDown.pointType=_.cloneDeep(self.ticketActive.pointDown.pointType);
                    });
                    self.updatePriceAll();
                }else{
                    self.updatePrice();
                }
            },
            changePointDownTransshipment : function () {
                let self = this;
                if(self.autoFill){
                    $.each(self.tickets,function(t,ticket){
                        ticket.transshipmentOffPoint=_.cloneDeep(self.ticketActive.transshipmentOffPoint);
                    });
                    self.updatePriceAll();
                }else{
                    self.updatePrice();
                }
            },
            sharePaidMoney : function (value) {
                let self = this;
                let numberTicket = self.tickets.length;
                let valueVnd = Math.floor(value/numberTicket/1000)*1000;
                let total = 0;
                $.each(self.tickets,function(t,ticket){
                    if(t==numberTicket-1){
                        ticket.paidMoney = (value - total);
                    }else{
                        ticket.paidMoney=valueVnd;
                        total += valueVnd;
                    }
                });
                this.paidMoneyShare = value;
                this.updatePriceTotal();
            },
            shareAgencyPrice : function (value) {
                let self = this;
                let numberTicket = self.tickets.length;
                let valueVnd = Math.floor(value/numberTicket/1000)*1000;
                let total = 0;
                $.each(self.tickets,function(t,ticket){
                    if(t==numberTicket-1){
                        ticket.agencyPrice = (value - total);
                    }else{
                        ticket.agencyPrice=valueVnd;
                        total += valueVnd;
                    }
                });
                this.agencyPriceShare = value;
                this.updatePriceTotal();
            }
        },
        watch :{
            ticketActive : function(newVal){
                let self = this;
                if(newVal){
                    setTimeout(function(){
                        self.autoCompletePhoneNumber();
                        self.autoCompletePlace();
                    },200)
                }
            },
        }
    }
</script>