<template>
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('code-ballot')}}</label>
        <div class="col-9">
          <input
            type="text"
            v-model="documentCode"
            placeholder="VD : PT0001"
            class="form-control"
            id="txtDocumentCode"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('date')}}</label>
        <div class="col-7">
          <datepicker v-model="date"></datepicker>
        </div>
        <div class="col-2">
          <el-time-picker class="w-100" v-model="timeSelect" format="HH:mm" value-format="timestamp" type="date"
                          placeholder="Mặc định thời gian tạo"></el-time-picker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('approver')}} <span class="text-danger">*</span></label>
        <div class="col-9">
          <selectuser v-model="approver"></selectuser>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">
          {{$t('sender')}}
          <span class="text-danger">*</span>
        </label>
        <div class="col-9">
          <selectuser v-model="spender"></selectuser>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">
          {{$t('receiver')}}
          <span class="text-danger">*</span>
        </label>
        <div class="col-9">
          <selectuser v-model="receiver" @keyup.enter.native="addReceiver" v-on:setname="getReceiver"></selectuser>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('menu.vehicle')}}</label>
        <div class="col-9">
          <select-vehicle v-model="vehicle"></select-vehicle>
          <!--<multiselect :options="vehicles" placeholder="Chọn Xe" label="numberPlate" :allow-empty="true"></multiselect>-->
        </div>
      </div>
      <div class="form-group row" v-if="billType==2">
        <label class="col-2 col-form-label text-right"></label>
        <div class="col-9">
          <div class="row">
            <div class="col">
              <div class="input-money">
                <input
                  type="text"
                  placeholder="Km đầu "
                  class="form-control text-right"
                  id="startIndex"
                  v-model="usage.startIndex"
                />
                <!-- <label for="startIndex">{{ usage.startIndex|number }}</label> -->
              </div>
            </div>
            <div class="col">
              <div class="input-money">
                <input
                  type="text"
                  placeholder="Km cuối"
                  class="form-control text-right"
                  id="endIndex"
                  v-model="usage.endIndex"
                />
                <!-- <label for="endIndex">{{ usage.endIndex|number }}</label> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('items')}}<span class="text-danger">*</span></label>
        <div class="col-9">
          <select-item v-model="item" class="w-100" :itemReceiptPayment="billType"></select-item>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('quantity')}}</label>
        <div class="col-5">
          <input-number type="text" v-model="number" class="form-control"></input-number>
        </div>
        <div class="col-4">
          <select v-model="unit" class="form-control">
            <option value="KG">KG</option>
            <option value="L">Lít</option>
            <option value="PIECE">Chiếc (PIECE)</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">
          {{$t('don_gia')}}
          <span class="text-danger">*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input-number type="text" v-model="don_gia" class="form-control"></input-number>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">
          {{$t('amount')}}
        </label>
        <div class="col-9">
          <div class="input-group">
            <input-number type="text" readonly :value="amount" class="form-control"></input-number>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">
          Chuyển tiền giữa nhân viên
        </label>
        <div class="col-9" style="padding-top: 10px;">
          <el-checkbox size="medium " v-model="staffTransfer"></el-checkbox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('reason')}}</label>
        <div class="col-9">
          <textarea class="form-control" v-model="reason" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">{{$t('note')}}</label>
        <div class="col-9">
          <textarea class="form-control" v-model="note" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SelectItem from "../Item/SelectItem";
import SelectVehicle from "../Vehicle/SelectVehicle";

export default {
  components: { SelectItem, SelectVehicle },
  props: {
    billType: {
      require: true,
      type: Number,
      default: 1,
    },
    tripId: null,
  },
  data: function() {
    return {
      item: null,
      documentCode: "",
      approver: null, //người duyệt,
      spender: null, //Người đưa,
      receiver: null, //Người nhận
      number: 1,
      unit: "KG",
      don_gia: 1000,
      // amount : 1000,
      reason: "",
      note: "",
      vehicle: null,
      usage: {
        unit: "KM",
        type: "OIL",
        startIndex: "",
        endIndex: ""
      },
      date: new Date().customFormat("#DD#-#MM#-#YYYY#"),
      receiverName: '',
      staffTransfer: false,
      timeSelect: null,
    };
  },
  computed: {
    amount: function() {
      try {
        let number = this.number;
        let don_gia = this.don_gia;
        return number * don_gia;
      } catch (e) {
        return 0;
      }
    }
  },
  methods: {
    getReceiver : function(name){
        this.receiverName = name
    },
    addReceiver : function(){
        let self = this
        let param = {
            userName: self.receiverName,
            password: '123456',
            userType: 11,
            fullName: self.receiverName,
            phoneNumber: '0911111111' + Math.floor(Math.random() * 1000),
            sex: 1,
            avatar: "",
            homeTown: '',
            education: "",
            identityCardNumber: "",
            personalCode: '',
            joinDate: 0,
            listWhiteMAC: "",
            //
            companyPosition: '123',
            roles: [],
            departments: [0, 1],
            regionsInfo: [],
            stateCode: '+84',
        }
        self.load('createUser');
        sendJson({
            url: urlDBD(API.userStaffRegister),
            // url : urlDBD(API.userV2StaffCreate),
            data: param,
            success: function (res) {
                // notify("Thực thi thành công");
                // self.unload('createUser');
                console.log(res)
                self.receiver = res.results.userInfo
                console.log(self.receiver)
                self.unload('createUser');
                // self.$emit('event',{eventName : 'saveSuccess',data : res});
            },
            functionIfError : function (err) {
                self.unload('createUser');
                self.$emit('event',{eventName : 'saveError',data : err});
            }
        })

    },
    refresh: function() {
      this.item = null;
      this.documentCode = "";
      this.approver = null; //người duyệt,
      this.spender = null; //Người đưa,
      this.receiver = null; //Người nhận
      this.number = 1;
      this.unit = "KG";
      this.don_gia = 1000;
      this.reason = "";
      this.note = "";
      this.vehicle = null;
      this.usage = {
        unit: "KM",
        type: "OIL",
        startIndex: null,
        endIndex: null
      };
      this.staffTransfer = false
      this.date = new Date().customFormat("#DD#-#MM#-#YYYY#");
      this.timeSelect = null
    },
    checkValidForm: function() {
        let self = this;
        if(!self.approver) {
            notify('Trường Người Duyệt còn trống!');
            return false
        }
        if(!self.spender) {
            notify('Trường Người Đưa còn trống!');
            return false
        }
        if(!self.receiver) {
            notify('Trường Người Nhận còn trống!');
            return false
        }
        if(!self.item) {
            notify('Trường Khoản Mục còn trống!');
            return false
        }
        if(parseInt(self.usage.startIndex) > parseInt(self.usage.endIndex)) {
            notify('KM đầu phải nhỏ hơn KM cuối')
            return false;
        }
        return true;
    },
    setHistory(bill) {
          let self = this;
          let log = []
          let d = new Date()
          let dataSend = {
              status: 'Tạo mới',
              billType: bill.billType,
              documentCode: bill.documentCode,
              number: bill.number,
              unit: bill.unit,
              amount: bill.amount,
              note: bill.note,
              reason: bill.reason,
              date: self.date,
              paymentTime: self.timeSelect,
              dateUpdate:  d.getDate().toString() + '-' +(d.getMonth() + 1).toString() + '-' + d.getFullYear().toString(),
              item: bill.item || null ,
              approve: bill.approver || null ,
              spender: bill.spender || null ,
              receiver: bill.receiver || null ,
              vehicle: bill.vehicle || null ,
              staffTransfer: bill.staffTransfer
          };
          if (bill.usage && bill.usage.startIndex && bill.usage.endIndex) {
              dataSend.usage = bill.usage;
          }
          console.log(dataSend)

          let params = {
              billId: bill.id,
              logs: dataSend
          }

          sendJson({
              url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/avq_api/bill_logs',
              data: params,
              type: "POST",
              success : function (res) {
              },
              error : function () {
              }
          })
      },
    save: function() {
      let self = this;
      let d = new Date()
      if(!self.checkValidForm()) {
          return;
      }
      if(self.timeSelect == null){
          self.timeSelect = new Date().getTime()
      }
      let dataSend = {
        billType: self.billType,
        documentCode: self.documentCode,
        number: self.number,
        unit: self.unit,
        amount: self.amount,
        note: self.note,
        reason: self.reason,
        date: func.dateStr(self.date),
        paymentTime: func.dateToMS(self.date) + self.timeSelect - new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() ,
        item: { itemId: self.item ? self.item.itemId : null },
        approve: { id: self.approver ? self.approver.id : null },
        spender: { id: self.spender ? self.spender.id : null },
        receiver: { id: self.receiver ? self.receiver.id : null },
        vehicle: { id: self.vehicle ? self.vehicle.vehicleId : null },
        staffTransfer: self.staffTransfer
      };
      if (self.usage.startIndex && self.usage.endIndex) {
        dataSend.usage = self.usage;
      }
      if (self.tripId){
          dataSend.tripId = self.tripId
      }
      this.load("saveBill");
      sendJson({
        url: urlDBD(API.billCreate),
        data: dataSend,
        success: function(data) {
          self.setHistory(data.results.bill)
          self.unload("saveBill");
          self.$emit("event", { eventName: "saveSuccess", data: data });
        },
        functionIfError: function(data) {
          self.unload("saveBill");
          self.$emit("event", { eventName: "saveError", data: data });
        }
      });
    }
  }
};
</script>
