<template>
    <div class="row respon-page" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row">
                <div class="col-auto">
                    {{$t('list-revenue-expenses-note')}}
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-primary" @click="exportExcel()">Xuất excel</button>
                    <button class="btn btn-orange-bill" @click="print()">In danh sách</button>
                    <button class="btn btn-orange-bill" @click="openMyBillRequest()">{{`Phiếu chờ duyệt (${countMyBillRes})`}}</button>
                    <button class="btn btn-sm btn-outline-primary text-uppercase" @click="openModalAddBill(1)" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-plus"></i> {{$t('button.create-revenue-note')}}</button>
                    <button class="btn btn-sm btn-outline-primary text-uppercase" @click="openModalAddBill(2)" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-minus"></i> {{$t('button.create-expenses-note')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label for="billType">{{$t('filter.type-ballot')}}</label>
                            <select v-model="billType" id="billType" class="form-control">
                                <option :value="null">{{$t('all')}}</option>
                                <option :value="1">{{$t('revenue-note')}}</option>
                                <option :value="2">{{$t('expenses-note')}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 form-group">
                        <label>{{$t('filter.vehicle')}}</label>
                        <select-vehicle v-model="vehicle" class="w-100"></select-vehicle>
                    </div>
                    <!-- <div class="col-6 col-md-3 form-group">
                        <label>Từ Ngày</label>
                        <datepicker :readonly="false" v-model="search.startDate"></datepicker>
                    </div>
                    <div class="col-6 col-md-3 form-group">
                        <label>Đến Ngày</label>
                        <datepicker :readonly="false" v-model="search.endDate"></datepicker>
                    </div> -->
                    <!--<datepicker-ranger v-model="search" ></datepicker-ranger>-->
                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('from-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="startDate"
                                        format="dd-MM-yyyy"
                                        :picker-options="options"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="row no-gutters">
                            <div class="col form-group">
                                <label>{{$t('to-date')}}</label>
                                <el-date-picker
                                        class="w-100"
                                        v-model="endDate"
                                        :picker-options="options"
                                        format="dd-MM-yyyy"
                                        value-format="timestamp"
                                        type="date"
                                        placeholder="Chọn ngày"
                                ></el-date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2 form-group">
                        <label>{{$t('items')}}</label>
                        <select-item v-model="item" class="w-100" :clearable="true" :itemReceiptPayment="billType"></select-item>
                    </div>
                    <div class="col-6 col-md-3 form-group">
                        <label>{{$t('approver')}}</label>
                        <selectuser v-model="approver" :allowEmpty="true"></selectuser>
                    </div>
                    <div class="col-6 col-md-3 form-group">
                        <label>{{$t('sender')}}</label>
                        <selectuser v-model="spender" :allowEmpty="true"></selectuser>
                    </div>
                    <div class="col-6 col-md-3 form-group">
                        <label>{{$t('receiver')}}</label>
                        <selectuser v-model="receiver" :allowEmpty="true"></selectuser>
                    </div>
                    <div class="col-6 col-md-1">
                        <div class="form-group">
                            <label> &nbsp;</label>
                            <button @click="getBills(0)" class="btn btn-success btn-block text-uppercase" style="padding: 7px;"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                        </div>
                    </div>
                </div>
                <div style="display: none;"><div v-html="template" class="tableReport"></div></div>
                <div style="display: none;"><div v-html="templateMulti" class="tableReportMulti"></div></div>
                <div class="table-responsive dragscroll">
                    <table class="table print-div table-bordered table-sm top20 text-center bill-table" id="table-export-bill">
                        <tbody>
                            <tr class="no-print-this">
                                <th style="text-align: left;" colspan="11" class=tableexport-ignore><button class="btn btn-success btn-sm" @click="printTableReportMulti()"><i class="fa fa-print"></i> {{$t('button.print-more')}}</button></th>
                                <th>{{ TotalBill(bills, 1, 'length') }} | {{ TotalBill(bills, 0, 'length') }}</th>
                                <th></th>
                                <th>{{ TotalBill(bills, 1, 'amount')|number }} | {{ TotalBill(bills, 0, 'amount')|number }}</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th class="no-print-this tableexport-ignore"><input type="checkbox" @change="selectAll" v-model="allSelected"></th>
                                <th>{{$t('No-')}}</th>
                                <th>{{$t('date')}}</th>
                                <th>{{$t('datePaid')}}</th>
                                <th>{{$t('filter.type-ballot')}}</th>
                                <th>{{$t('code-ballot')}}</th>
                                <th>{{$t('items')}}</th>
                                <th>BKS</th>
                                <th>{{$t('sender')}}</th>
                                <th>{{$t('receiver')}}</th>
                                <th>{{$t('reason')}}</th>
                                <th>{{$t('quantity')}}</th>
                                <th>{{$t('unit')}}</th>
                                <th>{{$t('amount')}}</th>
                                <th>{{$t('note')}}</th>
                                <th class="no-print-this tableexport-ignore">{{$t('option')}}</th>
                            </tr>
                            <tr v-if="bills.length<=0">
                                <td class="text-center" colspan="16">{{$t('no-data-available')}}</td>
                            </tr>
                            <template v-for="(bill,index) in bills">
                                <tr :key="'bill'+index">
                                    <td class="no-print-this tableexport-ignore"><input type="checkbox" @click="select" v-model="billDetails" :value="bill"></td>
                                    <td>{{ page*count + index+1 }}</td>
                                    <td>{{ bill.createdDate|customDate('#DD#-#MM#-#YYYY#') }}</td>
                                    <td>{{ bill.date| strToDate}}</td>
                                    <td>{{ bill.billType==1? $t('revenue-note') : $t('expenses-note') }}</td>
                                    <td>{{ bill.documentCode }}</td>
                                    <td>{{ bill.item!=undefined ? bill.item.itemName:'' }}</td>
                                    <td>{{ bill.vehicle!=undefined ? bill.vehicle.numberPlate:'' }}</td>
                                    <td>{{ bill.spender ? bill.spender.fullName : '' }}</td>
                                    <td>{{ bill.receiver ? bill.receiver.fullName : '' }}</td>
                                    <td>{{ bill.reason }}</td>
                                    <td>{{ bill.number }}</td>
                                    <td>{{ bill.unit }}</td>
                                    <td>{{ bill.amount|number }}</td>
                                    <td>{{ bill.note }}</td>
                                    <td class="no-print-this tableexport-ignore">
                                        <button class="btn btn-success btn-sm" @click="printTableReport(bill)"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
                                        <button class="btn btn-sm btn-primary" @click="openModalUpdateBill(bill)"><i class="fa fa-edit"></i>Sửa</button>
                                        <button class="btn btn-sm btn-primary" @click="openModalHistoryBill(bill)"><i class="fa fa-history"></i></button>
                                        <button class="btn btn-outline-danger btn-sm" @click="deleteBill(bill.id)" v-if="$root.roles.RECEIPT_AND_PAYMENT_DELETE"><i class="fa fa-remove"></i> {{$t('button.delete')}}</button>
                                        <!--<button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Sửa</button>-->
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col">-->
                        <!--<button class="btn btn-outline-dark btn-sm" :disabled="page<=0" @click="getBills(-1)"><< {{$t('page')}} {{ page<=0?1:page }}</button>-->
                    <!--</div>-->
                    <!--<div class="col text-right">    -->
                        <!--<button class="btn btn-outline-dark btn-sm pull-right" :disabled="bills.length<count" @click="getBills(1)"> {{$t('page')}} {{ page+2 }} >></button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!-- create -->
        <div class="modal fade bd-example-modal-lg" id="modalAddBill" tabindex="-1" role="dialog" aria-labelledby="modalAddBill" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"> {{billTypeAdd==1 ? $t('button.create-revenue-note') : $t('button.create-expenses-note')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <add-bill :billType="billTypeAdd" ref="AddBillComponent" @event="addBillEvent"></add-bill>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddBillComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- edit -->
        <div class="modal fade bd-example-modal-lg" id="modalUpdateBill" tabindex="-1" role="dialog" aria-labelledby="modalAddBill" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"> {{billTypeEdit==1 ? $t('update-revenue-note') : $t('update-expenses-note')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <update-bill ref="UpdateBillComponent" @event="updateBillEvent"></update-bill>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateBillComponent.save()"><i class="fa fa-save"></i>  {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--history-->
        <div class="modal fade bd-example-modal-lg" id="modalHistoryBill" tabindex="-1" role="dialog" aria-labelledby="modalAddBill" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">LỊCH SỬ PHIẾU THU CHI</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <bill-history ref="HistoryBillComponent"></bill-history>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <my-bill-request
          :visible="visibleMyBillRequest"
          @close="visibleMyBillRequest = $event"
          @countMyBillRequest="countMyBillRes = $event"
        ></my-bill-request>
    </div>
</template>
<script>
    import AddBill from './AddBill';
    import UpdateBill from './UpdateBill';
    import BillHistory from './BillHistory';
    import SelectVehicle from '../Vehicle/SelectVehicle.vue';
    import SelectItem from '../Item/SelectItem';
    import MyBillRequest from './MyBillRequest';
    import { mapState} from 'vuex';

    let d = new Date()
    export default  {
        components : {SelectVehicle,AddBill, UpdateBill, SelectItem,BillHistory, MyBillRequest},
        data : function () {
            return {
                count : func.countSearch(),
                bills : [],
                page : 0,
                billType : null,
                approver : null,
                spender : null,
                item : null,
                receiver : null,
                vehicles : [],
                vehicle : null,
                search: {
                    startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                },
                startDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endDate: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                startTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime(),
                endTime: new Date(d.getFullYear(), d.getMonth(), d.getDate()).getTime() + 86340000,
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                billTypeAdd : 1,
                billTypeEdit : 1,
                template: '',
                billDetails: [],
                allSelected: false,
                selected: [],
                templateMulti: '',
                all: 5,
                count : 100,
                visibleMyBillRequest: false,
                countMyBillRes: 0
            }
        },
        mounted : function () {
            this.getBills(0);
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            openMyBillRequest: function() {
              this.visibleMyBillRequest = true;
            },
            // Hàm tính tổng
            TotalBill : function (bills,type,category) {

                if(type == 1){
                    var bills = bills.filter((bill) => {
                        return bill.billType === 1;
                    });
                }else{
                    var bills = bills.filter((bill) => {
                        return bill.billType != 1;
                    });
                }
                var sum = 0;
                if(category == 'amount'){
                   sum = bills.reduce((acc, item) => acc + item.amount, 0);
                }
                if(category == 'number'){
                   sum = bills.reduce((acc, item) => acc + item.number, 0);
                }
                if(category == 'length'){
                   sum = bills.length;
                }
                return sum;
            },
            selectAll: function() {
                if (this.allSelected) {
                    this.bills.map((bill) => {
                        this.billDetails.push(bill);
                    });
                }else{
                    this.billDetails = [];
                }
            },
            select: function() {
                this.allSelected = false;
            },
            printTableReportMulti: function(){
                let self = this;
                self.templateMulti = '';
                if(self.billDetails.length < 1){
                    alert(this.$t('plz-select-print-note'));
                    return;
                }
                $.each(self.billDetails, function(key, val){
                    self.getConfig(val.billType);
                    self.template = self.template.replaceAll('[ngay]' ,new Date(val.createdDate).customFormat('#DD#-#MM#-#YYYY#'));
                    self.template = self.template.replaceAll('[loai_phieu]' , val.billType==1?"Phiếu thu":"Phiếu chi");
                    self.template = self.template.replaceAll('[ma_phieu]' , val.documentCode);
                    self.template = self.template.replaceAll('[nguoi_duyet]' , val.approve!=undefined ?val.approve.fullName:'');
                    self.template = self.template.replaceAll('[nguoi_dua]' , val.spender!=undefined ?val.spender.fullName:'');
                    self.template = self.template.replaceAll('[nguoi_nhan]' , val.receiver!=undefined ?val.receiver.fullName:'');
                    self.template = self.template.replaceAll('[xe]' , val.vehicle!=undefined ?val.vehicle.numberPlate:'');
                    self.template = self.template.replaceAll('[khoan_muc]' , val.item!=undefined ? val.item.itemName:'');
                    self.template = self.template.replaceAll('[so_luong]' , val.number);
                    self.template = self.template.replaceAll('[don_vi_tinh]' , val.unit);
                    self.template = self.template.replaceAll('[thanh_tien]' , self.$options.filters.number(val.amount));
                    self.template = self.template.replaceAll('[thanh_tien_bang_chu]' , func.DocTienBangChu(val.amount));
                    self.template = self.template.replaceAll('[ly_do]' , val.reason);
                    self.template = self.template.replaceAll('[ghi_chu]' , val.note);
                    self.templateMulti += '<div class="page-break"></div>' + self.template;
                });
                setTimeout(function () {
                    $(self.$el).find('.tableReportMulti').printThis();
                },300);
            },
            getBills : function (number) {
                let self = this;
                if(number<0&& self.page>0){
                    self.page--;
                }
                if(number>0){
                    self.page++;
                }
                if(number === 0){
                    self.page = 0;
                }
                this.load("getBills");
                let dataSend = {
                    page : self.page,
                    count :self.count,
                };
                if(self.billType!==''){
                    dataSend.billType=self.billType;
                }

                if(self.item!=null){
                    dataSend.itemId=self.item.itemId;
                }
                if(self.vehicle){
                    dataSend.numberPlate=self.vehicle.numberPlate;
                }
                if(self.approver){
                    dataSend.approverId=self.approver.id;
                }
                if(self.spender){
                    dataSend.spenderId=self.spender.id;
                }
                if(self.receiver){
                    dataSend.receiverId=self.receiver.id;
                }
                if(self.startDate!=='' && self.endDate !==''){
                    // dataSend.startDate = func.dateStr(self.search.startDate);
                    // dataSend.endDate = func.dateStr(self.search.endDate);
                    dataSend.startDate = new Date(self.startDate).customFormat('#YYYY##MM##DD#');
                    dataSend.endDate = new Date(self.endDate).customFormat('#YYYY##MM##DD#');
                }
                sendJson({
                    url : urlDBD(API.billList),
                    data : dataSend,
                    success : function (data) {
                        self.pushBill(data.results.listBill);
                        self.unload('getBills');
                        if(data.results.listBill.length==self.count){
                            self.getBills(1);
                        }
                    },
                    functionIfError : function (data) {
                        self.unload('getBills');
                    }
                });
            },
            pushBill : function(datas){
                let self = this;
                if(self.page==0){
                    self.bills = [];
                }
                $.each(datas,function (k,v) {
                    self.bills.push(v);
                })
            },
            deleteBill : function (id) {
                let self = this;
                if(!confirm(this.$t('confirm-delete'))){
                    return false;
                }
                self.load('deleteBill');
                sendJson({
                    url : urlDBD(API.billDelete),
                    data : {
                        id :id
                    },
                    success : function (data) {
                        self.getBills(0);
                        self.unload('deleteBill');
                    },
                    functionIfError : function (data) {
                        self.unload('deleteBill');
                    }
                });
            },
            openModalAddBill: function (billType) {
                let self = this;
                self.billTypeAdd = billType;
                self.$refs.AddBillComponent.refresh();
                $(self.$el).find('#modalAddBill').modal('show');
            },
            openModalUpdateBill: function (bill) {
                let self = this;
                self.billTypeEdit = bill.billType;
                self.$refs.UpdateBillComponent.refresh(bill);
                $(self.$el).find('#modalUpdateBill').modal('show');
            },
            openModalHistoryBill: function (bill) {
                let self = this;
                self.$refs.HistoryBillComponent.refresh(bill);
                self.$refs.HistoryBillComponent.getHistory(bill);
                $(self.$el).find('#modalHistoryBill').modal('show');
            },
            addBillEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalAddBill').modal('hide');
                        self.getBills();
                        break;
                    default :
                        break;
                }
            },
            updateBillEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdateBill').modal('hide');
                        self.getBills();
                        notify("Cập nhật thành công",'success');
                        break;
                    default :
                        break;
                }
            },
            printTableReport : function (bill) {

                this.getConfig(bill.billType);
                this.template = this.template.replaceAll('[ngay]' ,new Date(bill.createdDate).customFormat('#DD#-#MM#-#YYYY#'));
                this.template = this.template.replaceAll('[loai_phieu]' , bill.billType==1?"Phiếu thu":"Phiếu chi");
                this.template = this.template.replaceAll('[ma_phieu]' , bill.documentCode);
                this.template = this.template.replaceAll('[nguoi_duyet]' , bill.approve!=undefined ?bill.approve.fullName:'');
                this.template = this.template.replaceAll('[nguoi_dua]' , bill.spender!=undefined ?bill.spender.fullName:'');
                this.template = this.template.replaceAll('[nguoi_nhan]' , bill.receiver!=undefined ?bill.receiver.fullName:'');
                this.template = this.template.replaceAll('[xe]' , bill.vehicle!=undefined ?bill.vehicle.numberPlate:'');
                this.template = this.template.replaceAll('[khoan_muc]' , bill.item!=undefined ? bill.item.itemName:'');
                this.template = this.template.replaceAll('[so_luong]' , bill.number);
                this.template = this.template.replaceAll('[don_vi_tinh]' , bill.unit);
                this.template = this.template.replaceAll('[thanh_tien]' , this.$options.filters.number(bill.amount));
                this.template = this.template.replaceAll('[thanh_tien_bang_chu]' , func.DocTienBangChu(bill.amount));
                this.template = this.template.replaceAll('[ly_do]' , bill.reason);
                this.template = this.template.replaceAll('[ghi_chu]' , bill.note);

                $(this.$el).find('.tableReport').printThis();

            },
            getConfig : function (type) {
                let self = this;
                if(type == 1){
                    var typeData = DisplaySetting.PRINT_LIST_PAYMENT;
                }else{
                    var typeData = DisplaySetting.PRINT_LIST_PAYMENT_CHI;
                }
                self.load('getSettingPrintthuchi');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : typeData,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
                            self.template = res.results.data;
                        }
                        self.unload('getSettingPrintthuchi');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingPrintthuchi');
                    }
                })
            },
            print: function () {
                $(this.$el).find('.print-div').printThis();
            },
            exportExcel : function(){
                console.log($('#table-export-bill'));
                this.excel('#table-export-bill','DANH_SACH_PHIEU_THU_CHI-');
            }
        },
    }
</script>
<style type="text/css">
    table.bill-table tr:nth-child(2n){
        background: #EBEDEF;
    }
    .bill-table [type="checkbox"]:not(:checked),.bill-table [type="checkbox"]:checked{
        position: initial;
    }
</style>
<style scoped>
.btn-orange-bill {
    background: #F39B13;
    border-radius: 4px;
    color: #fff;
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* padding: 10px 16px; */
    margin: 5px;
}
</style>
