<template>
  <div class="w-100" v-loading="loading">
    <div class="text-center" style="line-height: 50px" v-if="historyLogs.length<1">
      {{$t('no-data-available')}}.
    </div>
    <table class="w-100 table-sm table-striped top20" v-else >
      <thead>
      <tr>
        <th>{{$t('time')}}</th>
        <th>{{$t('implementer')}} - (Phòng vé)</th>
        <th>{{$t('action')}}</th>
        <th>{{$t('information')}}</th>
      </tr>
      </thead>
      <tbody>
      <template v-for="(log,l) in historyLogs">
        <tr :key="log.id">
          <td>{{ log.logs.dateUpdate }}</td>
          <td>{{ log.user && log.user.fullName ? log.user.fullName : ''}} {{log.user && log.user.room && log.user.room.name ? "- " + log.user.room.name : ''}}</td>
          <td>{{log.logs.status}}</td>
          <td>
            <template>
               <p v-if="log.logs.documentCode">- Mã phiếu  : {{log.logs.documentCode? log.logs.documentCode: ''}}</p>
               <p v-if="log.logs.date">- Ngày tạo : {{log.logs.date? log.logs.date: ''}}</p>
               <p v-if="log.logs.paymentTime">- Giờ tạo : {{parseInt(log.logs.paymentTime) |customDate('#hhhh#:#mm#')}}</p>
               <p v-if="log.logs.approver && log.logs.approver.fullName">- Người duyệt : {{log.logs.approver? log.logs.approver.fullName : ''}}</p>
               <p v-if="log.logs.spender && log.logs.spender.fullName">- Người đưa : {{log.logs.spender ? log.logs.spender.fullName: ''}}</p>
               <p v-if="log.logs.receiver && log.logs.receiver.fullName">- Người nhận : {{log.logs.receiver ? log.logs.receiver.fullName: ''}}</p>
               <p v-if="log.logs.vehicle && log.logs.vehicle.numberPlate">- Xe : {{log.logs.vehicle ? log.logs.vehicle.numberPlate: ''}}</p>
               <p v-if="log.logs.usage && log.logs.usage.startIndex">- Km đầu : {{log.logs.usage ? log.logs.usage.startIndex: ''}}</p>
               <p v-if="log.logs.usage && log.logs.usage.endIndex">- Km cuối : {{log.logs.usage ? log.logs.usage.endIndex: ''}}</p>
               <p v-if="log.logs.item && log.logs.item.itemName">- Khoản mục : {{log.logs.item ? log.logs.item.itemName: ''}}</p>
               <p v-if="log.logs.number">- Số lượng : {{log.logs.number ? log.logs.number: ''}}</p>
               <p v-if="log.logs.unit">- Đơn vị : {{log.logs.unit ? log.logs.unit: ''}}</p>
               <p v-if="log.logs.amount">- Thành tiền :{{log.logs.amount|number}}</p>
               <p v-if="log.logs.reason">- Lý do : {{log.logs.reason ? log.logs.reason: ''}}</p>
               <p v-if="log.logs.note">- Ghi chú : {{log.logs.note ? log.logs.note : ''}}</p>
            </template>
          </td>
        </tr>
      </template>
      </tbody>
    </table>
  </div>
</template>
<script>
    import SelectItem from "../Item/SelectItem";
    import SelectVehicle from "../Vehicle/SelectVehicle";
    export default {
        components: { SelectItem, SelectVehicle },
        props: {
            // billType : {
            //     require : true,
            //     type : Number,
            //     default : 1
            // }
        },
        data: function() {
            return {
                item: null,
                documentCode: "",
                approver: null, //người duyệt,
                spender: null, //Người đưa,
                receiver: null, //Người nhận
                number: 1,
                unit: "KG",
                amount: 1000,
                reason: "",
                note: "",
                vehicle: null,
                id: null,
                usage: {
                    unit: "KM",
                    type: "OIL",
                    startIndex: null,
                    endIndex: null
                },
                billType: null,
                staffTransfer: false,
                date: new Date().customFormat("#DD#-#MM#-#YYYY#"),
                historyLogs: [],
                loading: false
            };
        },
        methods: {
            refresh: function(bill) {
                this.historyLogs = []
            },

            getHistory(bill) {
                let self = this;
                self.loading = true
                let params = {
                    billId: bill.id
                }

                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/avq_api/bill_logs?billId='+bill.id,
                    // data: params,
                    type: "GET",
                    success : function (res) {
                        self.historyLogs = res.data
                        console.log('historyLogs')
                        console.log(self.historyLogs)
                        self.loading = false
                    },
                    error : function () {
                        self.loading = false
                    }
                })
            },
        }
    };
</script>
<style scoped>
  .required {
    color: #e3342f;
    margin-left: 5px;
  }
</style>