<template>
<div class="billInTrip2 py-3">
    <template v-if="companyConfig.CONFIG.DEFAULT_ITEM.value == null">
        <div class="py-5">
            <h2 class="text-center">Khoản mục mặc định chưa được thiết lập !</h2>
        </div>
    </template>
    <el-card class="box-card mb-3" v-else>
        <div class="row">
            <div class="col-auto">
                <el-date-picker
                    v-model="filter.date"
                    type="date"
                    value-format="yyyyMMdd"
                    format="dd-MM-yyyy"
                    placeholder="Chọn ngày" />
            </div>
            <div class="col-auto">
                <e-select-user v-model="filter.driver"  placeholder="Chọn nhân viên" />
            </div>
            <div class="col-auto">
                <select-vehicle v-model="filter.vehicle" placeholder="Chọn xe" />
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" @click="getTripAndBillOfTrip()">Lọc</button>
            </div>
        </div>
    </el-card>

    <template v-if="filter.driver">
        <div class="card" v-if="trips.length > 0">
            <div class="card-body">
                <div class="d-flex mb-3 align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 white-space-nowrap">{{ companyConfig.CONFIG.DEFAULT_ITEM.value.itemName }}</div>
                        <input type="number" v-model="moneyPaying" @keyup="calcPaidMoneyEachBill" class="form-control w-100"/> 
                        <p class="ml-2" v-if="moneyPaying != ''">{{ moneyFormatter.format(moneyPaying) }}</p>
                    </div>
                    <div class="d-flex align-items-center w-25">
                        <div class="mr-2 white-space-nowrap">Danh sách phiếu thu chi chuyến</div>
                        <select class="w-100 form-control" v-model="billSelected">
                            <option value="none">Chọn</option>
                            <option v-for="bill in listBills" :key="bill.id" :value="bill">
                                {{ bill.documentCode + ' - ' + bill.item.itemName + ' - ' + moneyFormatter.format(bill.amount) }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-warning" @click="printBill">In</button>
                        <button class="btn btn-primary" @click="saveBillOfDefaultItem">Lưu</button>
                    </div>
                </div>
                
                <table class="table mb-3 table-bordered table-striped table-hover">
                    <thead>
                        <th width="8%">Giờ xuất phát</th>
                        <th>Tuyến</th>
                        <th>Phương tiện</th>
                        <th>Số vé</th>
                        <th>Tiền vé tài thu</th>
                        <th>Đặt cọc</th>
                    </thead>
                    <tbody>
                        <template v-for="(trip, key) in trips" >    
                            <tr :key="key" 
                                title="Click để xem thu chi các khoản mục của chuyến"
                                :class="{'bg-info': tripViewTarget == trip.tripId}"
                                @click="tripViewTarget == 'ALLTRIP' ? tripViewTarget = trip.tripId : tripViewTarget = 'ALLTRIP'" 
                                class="cursor-pointer">
                                    <td><b>{{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }}</b></td>
                                    <td>{{ trip.routeInfo.name }}</td>
                                    <td>{{ trip.vehicle.numberPlate }}</td>
                                    <td>{{ trip.totalTicket }}</td>
                                    <td>{{ moneyFormatter.format(trip.totalTicketMoney) }}</td>
                                    <td>{{ moneyFormatter.format(trip.totalPaidMoney) }}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                
                <h3 class="text-center mb-4">Thu chi các khoản mục của {{ tripViewTargetText }}</h3>

                <div class="row mb-3 px-2 py-2" @click="editor.itemId = ''" :class="{'border rounded border-primary': this.tripViewTarget != 'ALLTRIP'}">
                    <div class="col-6 mb-2">
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4"><b>Phải đóng/Đã chi</b></div>
                            <div class="col-4"><b>Đã đóng</b></div>
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4"><b>Phải đóng/Đã chi</b></div>
                            <div class="col-4"><b>Đã đóng</b></div>
                        </div>
                    </div>
                    <div class="col-6 hover-muted cursor-pointer" v-for="item in items" :key="item.itemId">
                        <div class="row mb-1" v-if="!companyConfig.CONFIG.DEFAULT_ITEM.value || companyConfig.CONFIG.DEFAULT_ITEM.value.itemId!==item.itemId">
                            <div class="col-4"><p class="">{{ item.itemName }}</p></div>
                            <div class="col-4">
                                <template v-if="tripViewTarget == 'ALLTRIP'">
                                    <span class="cursor-pointer" title="Chọn chuyến để sửa khoản mục này">
                                        {{ item.itemReceiptPayment == 1 ? "+" : '-' }} {{ totalEachBillInTrip[tripViewTarget] && totalEachBillInTrip[tripViewTarget][item.itemId] ? moneyFormatter.format(totalEachBillInTrip[tripViewTarget][item.itemId].total) : moneyFormatter.format(0)   }}
                                    </span>
                                </template>
                                <template v-else>
                                    <span class="cursor-pointer" title="Click để sửa" 
                                        @click.stop="setDattaForEditBillItem(item)" 
                                        v-if="editor.itemId != item.itemId">
                                        {{ item.itemReceiptPayment == 1 ? "+" : '-' }} {{ totalEachBillInTrip[tripViewTarget] && totalEachBillInTrip[tripViewTarget][item.itemId] ? moneyFormatter.format(totalEachBillInTrip[tripViewTarget][item.itemId].total) : moneyFormatter.format(0)   }}
                                    </span>
                                    <div v-else @click.stop="" class="d-flex">
                                        <el-input size="mini" v-model="editor.amount" class="mr-1"></el-input>
                                        <button @click="setDattaForEditBillItem(item); showModalEditBill = true" title="Chỉnh sửa chi tiết" class="btn btn-sm btn-info mr-1 text-light"><i class="fas fa-ellipsis-h"></i></button>
                                        <template v-if="totalEachBillInTrip[tripViewTarget][item.itemId]">
                                            <button @click="setDattaForEditBillItem(item); removeBillOfItem()" title="Xóa thu chi khoản mục này" class="btn btn-sm btn-danger mr-1"><i class="fas fa-times"></i></button>
                                        </template>
                                        <button @click="saveBillOfItem" title="Lưu chỉnh sửa" class="btn btn-sm btn-success"><i class="fas fa-check"></i></button>
                                    </div>
                                </template>    
                            </div>
                            <div class="col-4">
                                <p class="" v-if="item.itemReceiptPayment == 1">
                                    {{ (totalEachBillInTrip[tripViewTarget] && totalEachBillInTrip[tripViewTarget][item.itemId]) ? moneyFormatter.format(totalEachBillInTrip[tripViewTarget][item.itemId].paid) : moneyFormatter.format(0) }}
                                </p>
                                <p v-else> -- </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" v-if="billSelected == 'none'">
                    <div class="col-6">
                        <div class="mb-2">
                            <h4>Tổng tiền vé:</h4>
                        </div>
                        <div class="mb-2">
                            <h4>Tổng tiền khoản mục chi:</h4>
                        </div>
                        <div class="mb-2">
                            <h4>Tổng tiền khoản mục thu:</h4>
                        </div>
                        <div class="mb-2">
                            <h4>Đã thu trước đó:</h4>
                        </div>
                        <br>
                        <div class="mb-2">
                            <h4>Phải nộp:</h4>
                        </div>
                        <div class="mb-2">
                            <h4>Số tiền đã nộp:</h4>
                        </div>
                        <div class="mb-2">
                            <h4 v-if="totalBills >= moneyPaying">Còn lại:</h4>
                            <h4 v-else class="text-danger">Trả lại</h4>
                        </div>
                    </div>
                    <div class="col-3">
                        <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(totalTicketMoneyAllTrip) }}</h4>
                        <h4 class="mb-2 text-right white-space-nowrap">(-) {{ moneyFormatter.format(totalMoneyPay) }}</h4>
                        <h4 class="mb-2 text-right white-space-nowrap">(+) {{ moneyFormatter.format(totalMoneyReceive) }}</h4>
                        <h4 class="mb-2 text-right white-space-nowrap">(-) {{ moneyFormatter.format(totalBillMoneyBefore) }}</h4>
                        <hr>
                        <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(totalBills >= 0 ? totalBills : 0) }}</h4>
                        <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(moneyPaying) }}</h4>
                        <h4 class="mb-2 text-right white-space-nowrap" v-if="totalBills >= moneyPaying">{{ moneyFormatter.format(totalBills - moneyPaying) }}</h4>
                        <h4 class="mb-2 text-right text-danger white-space-nowrap" v-else>{{ moneyFormatter.format(moneyPaying - totalBills) }}</h4>
                    </div>
                </div>

                <div class="row mb-3" v-if="billSelected != 'none'">
                        <h4 class="col-6 mb-2">Đã nộp:</h4>
                        <h4 class="col-6 mb-2">{{ moneyFormatter.format(billSelected.amount) }}</h4>
                        <h4 class="col-6 mb-2">Ngày giờ nộp:</h4>
                        <h4 class="col-6 mb-2">{{ billSelected.createdDate | customDate('#DD#/#MM#/#YYYY# #hhhh#h:#mm#') }}</h4>
                </div>
                
                <div class="row">
                    <div class="col-6 text-center">
                        <p class="mb-3">Người nộp tiền</p>
                        <br class="bt-3">
                        <h4>{{ filter.driver.fullName  }}</h4>
                    </div>
                    <div class="col-6 text-center">
                        <p class="mb-3">Người nhận tiền</p>
                        <br class="bt-3">
                        <h4>{{ userInfo.userInfo.fullName  }}</h4>
                    </div>
                </div>
            </div>
            
            <div class="d-none">
                <div v-if="trips.length > 0" data-action="print">
                    <h2 class="mb-3 text-center">PHIẾU THANH TOÁN</h2>
                    <div v-if="billSelected == 'none'" class=" mb-3 d-flex justify-content-between">
                        <p v-if="this.filter.vehicle != null && this.filter.vehicle.numberPlate">BKS: {{ this.filter.vehicle.numberPlate }}</p>
                        <p v-if="this.filter.driver.fullName">Lái xe: {{ this.filter.driver.fullName }}</p>
                        <p v-if="this.filter.date">Ngày: {{ this.filter.date|strToDate }}</p>
                    </div>
                    <div v-else class=" mb-3 d-flex justify-content-between">
                        <p v-if="billSelected.vehicle != null && billSelected.vehicle.numberPlate">BKS: {{ billSelected.vehicle.numberPlate }}</p>
                        <p v-if="this.filter.driver.fullName">Lái xe: {{ this.filter.driver.fullName }}</p>
                        <p>Ngày, giờ: {{ billSelected.createdDate | customDate('#DD#/#MM#/#YYYY# #hhhh#h:#mm#')  }}</p>
                    </div>

                    <table class="table mb-3 table-bordered table-striped table-hover">
                        <thead>
                            <th width="8%">Giờ xuất phát</th>
                            <th>Tuyến</th>
                            <th>Phương tiện</th>
                            <th>Số vé</th>
                            <th>Tiền vé tài thu</th>
                            <th>Đặt cọc</th>
                        </thead>
                        <tbody>
                            <template v-for="(trip, key) in trips" >    
                                <tr :key="key" 
                                    title="Click để xem thu chi các khoản mục của chuyến"
                                    :class="{'bg-info': tripViewTarget == trip.tripId}"
                                    @click="tripViewTarget == 'ALLTRIP' ? tripViewTarget = trip.tripId : tripViewTarget = 'ALLTRIP'" 
                                    class="cursor-pointer">
                                        <td><b>{{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }}</b></td>
                                        <td>{{ trip.routeInfo.name }}</td>
                                        <td>{{ trip.vehicle.numberPlate }}</td>
                                        <td>{{ trip.totalTicket }}</td>
                                        <td>{{ moneyFormatter.format(trip.totalTicketMoney) }}</td>
                                        <td>{{ moneyFormatter.format(trip.totalPaidMoney) }}</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>

                    <div class="row mb-3 px-2 py-2">
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4"><b>Phải đóng/Đã chi</b></div>
                                <div class="col-4"><b>Đã đóng</b></div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4"><b>Phải đóng/Đã chi</b></div>
                                <div class="col-4"><b>Đã đóng</b></div>
                            </div>
                        </div>
                        <div class="col-6 hover-muted cursor-pointer" v-for="item in items" :key="item.itemId">
                            <div class="row mb-1">
                                <div class="col-4"><p class="">{{ item.itemName }}</p></div>
                                <div class="col-4">
                                    <span class="cursor-pointer" title="Chọn chuyến để sửa khoản mục này">
                                        {{ item.itemReceiptPayment == 1 ? "+" : '-' }} {{ totalEachBillInTrip['ALLTRIP'] && totalEachBillInTrip['ALLTRIP'][item.itemId] ? moneyFormatter.format(totalEachBillInTrip['ALLTRIP'][item.itemId].total) : moneyFormatter.format(0)   }}
                                    </span>
                                </div>
                                <div class="col-4">
                                    <p class="" v-if="item.itemReceiptPayment == 1">
                                        {{ (totalEachBillInTrip['ALLTRIP'] && totalEachBillInTrip['ALLTRIP'][item.itemId]) ? moneyFormatter.format(totalEachBillInTrip['ALLTRIP'][item.itemId].paid) : moneyFormatter.format(0) }}
                                    </p>
                                    <p v-else> -- </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" v-if="billSelected == 'none'">
                        <div class="col-6">
                            <div class="mb-2">
                                <h4>Tổng tiền vé:</h4>
                            </div>
                            <div class="mb-2">
                                <h4>Tổng tiền khoản mục chi:</h4>
                            </div>
                            <div class="mb-2">
                                <h4>Tổng tiền khoản mục thu:</h4>
                            </div>
                            <div class="mb-2">
                                <h4>Đã thu trước đó:</h4>
                            </div>
                            <br>
                            <div class="mb-2">
                                <h4>Phải nộp:</h4>
                            </div>
                            <div class="mb-2">
                                <h4>Số tiền đã nộp:</h4>
                            </div>
                            <div class="mb-2">
                                <h4 v-if="totalBills >= moneyPaying">Còn lại:</h4>
                                <h4 v-else class="text-danger">Trả lại</h4>
                            </div>
                        </div>
                        <div class="col-3">
                            <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(totalTicketMoneyAllTrip) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap">(-) {{ moneyFormatter.format(totalMoneyPay) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap">(+) {{ moneyFormatter.format(totalMoneyReceive) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap">(-) {{ moneyFormatter.format(totalBillMoneyBefore) }}</h4>
                            <hr>
                            <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(totalBills >= 0 ? totalBills : 0) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(moneyPaying) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap" v-if="totalBills >= moneyPaying">{{ moneyFormatter.format(totalBills - moneyPaying) }}</h4>
                            <h4 class="mb-2 text-right text-danger white-space-nowrap" v-else>{{ moneyFormatter.format(moneyPaying - totalBills) }}</h4>
                        </div>
                    </div>

                    <div class="row mb-3" v-if="billSelected != 'none'">
                        <div class="col-6">
                            <div class="mb-2">
                                <h4>Tổng tiền vé:</h4>
                            </div>
                            <div class="mb-2">
                                <h4>Tổng tiền khoản mục chi:</h4>
                            </div>
                            <div class="mb-2">
                                <h4>Tổng tiền khoản mục thu:</h4>
                            </div>
                            <div class="mb-2">
                                <h4>Đã nộp</h4>
                            </div>
                        </div>
                        <div class="col-3">
                            <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(totalTicketMoneyAllTrip) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap">(-) {{ moneyFormatter.format(totalMoneyPay) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap">(+) {{ moneyFormatter.format(totalMoneyReceive) }}</h4>
                            <h4 class="mb-2 text-right white-space-nowrap">{{ moneyFormatter.format(billSelected.amount) }}</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-6 text-center">
                            <p class="mb-5">Người nộp tiền</p>
                            <br class="bt-3">
                            <h4>{{ filter.driver.fullName  }}</h4>
                        </div>
                        <div class="col-6 text-center">
                            <p class="mb-5">Người nhận tiền</p>
                            <br class="bt-3">
                            <h4>{{ userInfo.userInfo.fullName  }}</h4>
                        </div>
                    </div>
                    

                </div>
            </div>

            <el-dialog title="Thông tin phiếu" @close="setDefaultEdtior()" :visible.sync="showModalEditBill" width="450px">
                <div>
                    <div class="row">
                        <div class="col-6 mb-2">
                            <label for="">Mã phiếu</label>
                            <el-input v-model="editor.documentCode"></el-input>
                        </div>
                        <div class="col-6">
                            <label for="">Thành tiền</label>
                            <el-input v-model="editor.amount"></el-input>
                        </div>
                        <div class="col-6">
                            <label for="">Số Lượng</label>
                            <el-input v-model="editor.number"></el-input>
                        </div>
                        <div class="col-6">
                            <label for="">Đơn vị</label>
                            <select class="form-control" v-model="editor.unit">
                                <option value="KG">KG</option>
                                <option value="L">Lít</option>
                                <option value="PIECE">Chiếc</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="">Lý do</label>
                            <el-input  v-model="editor.reason" type="textarea"></el-input>
                        </div>
                        <div class="col-12">
                            <label for="">Ghi chú</label>
                            <el-input  v-model="editor.note" type="textarea"></el-input>
                        </div>
                    </div>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="showModalEditBill = false">Đóng</el-button>
                    <el-button type="primary" @click="saveBillOfItem">Lưu</el-button>
                </span>
            </el-dialog>
        </div>
    </template>

    <template v-else>
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Chọn tài xế để tìm chuyến !</h3>
            </div>
        </div>
    </template>
</div>
</template>

<script>
import SelectVehicle from '../Vehicle/SelectVehicle';
import ESelectUser from '../User/ESelectUser';
import {mapState} from 'vuex'

export default {
    components: { SelectVehicle, ESelectUser },
    data () {
        return {
            filter: {
                date: new Date().customFormat('#YYYY##MM##DD#'),
                driver: null,
                vehicle: null
            },
            editor: {
                id: null,
                amount: 0,
                billType: 2,
                documentCode: null,
                itemId: null,
                note: null,
                number: 1,
                reason: null,
                unit: "KG",
                vehicleId: null,
            },
            tripViewTarget: 'ALLTRIP',
            showModalEditBill: false,
            moneyFormatter: null,

            billSelected: 'none',
            moneyPaying: 0,
            trips: [],
            items: [],
            billInTrips: {},
            listBills: [],
        }
    },
    async created (){
        await this.getItems();
    },
    mounted() {
        this.moneyFormatter = new Intl.NumberFormat('vi-vn', {
            style: 'currency',
            currency: 'VND',
            minimumFractionDigits: 0
        })
    },
    computed: {
        totalBills: function() {
            return this.totalTicketMoneyAllTrip + this.totalMoneyReceive - this.totalMoneyPay - this.totalBillMoneyBefore
        },

        totalMoneyPay: function() {
            let total = 0
            
            if(this.totalEachBillInTrip['ALLTRIP']) {
                Object.keys(this.totalEachBillInTrip['ALLTRIP']).forEach((key) => {
                    let value = this.totalEachBillInTrip['ALLTRIP'][key]
                    if( value.mode < 0 ) {
                        total += value.total
                    }
                })
            }

            return total;
        },

        totalBillMoneyBefore: function() {
            let total = 0
            this.listBills.forEach((_bill) => {
                total += _bill.amount
            })

            return total
        },

        totalMoneyReceive: function() {
            let total = 0

            if(this.totalEachBillInTrip['ALLTRIP']) {
                Object.keys(this.totalEachBillInTrip['ALLTRIP']).forEach((key) => {
                    let value = this.totalEachBillInTrip['ALLTRIP'][key]
                    if( value.mode > 0 ) {
                        total += value.total
                    }
                })
            }

            return total;
        },

        totalTicketMoneyAllTrip: function() {
            let total = 0

            // if(this.tripViewTarget == 'ALLTRIP') {
                this.trips.forEach((_trip) => {
                    total += _trip.totalTicketMoney
                })
            // } else {
            //     total = this.tripsMap[this.tripViewTarget]['totalTicketMoney']
            // }
            

            return total;
        },

        itemsMap: function() {
            let map = {}
            this.items.forEach((_item) => {
                map[_item.itemId] = _item
            })

            return map
        },

        tripsMap: function() {
            let map = {}

            this.trips.forEach((_trip) => {
                map[_trip.tripId] = _trip
            })

            return map;
        },

        tripViewTargetText: function() {
            if(this.tripViewTarget == 'ALLTRIP') {
                return 'tất cả các chuyến'
            } 
            let trip = this.tripsMap[this.tripViewTarget]
            return trip.routeInfo.name + ' - ' + this.$options.filters.customDate(trip.startTimeReality, '#hhhh#:#mm#', true) + ' - ' + trip.vehicle.numberPlate    
        },
        
        totalEachBillInTrip: function() {
            let _totalEachBillInTrip = {}
            let billInTrips = _.cloneDeep(this.billInTrips)

            _totalEachBillInTrip['ALLTRIP'] = {}

            Object.keys(billInTrips).forEach((key) => {
                _totalEachBillInTrip[key] = {}      
                billInTrips[key].forEach((val) => {
                    _totalEachBillInTrip[key][val.item.itemId] = {}
                    _totalEachBillInTrip[key][val.item.itemId]['total'] = val.amount
                    _totalEachBillInTrip[key][val.item.itemId]['paid'] = 0
                    _totalEachBillInTrip[key][val.item.itemId]['items'] = []
                    _totalEachBillInTrip[key][val.item.itemId]['items'][0] = val
                    _totalEachBillInTrip[key][val.item.itemId]['mode'] = (val.item.itemReceiptPayment == 1) ? 1 : -1

                    if(!_totalEachBillInTrip['ALLTRIP'][val.item.itemId]) {
                        _totalEachBillInTrip['ALLTRIP'][val.item.itemId] = {}
                        _totalEachBillInTrip['ALLTRIP'][val.item.itemId]['total'] = 0
                        _totalEachBillInTrip['ALLTRIP'][val.item.itemId]['paid'] = 0
                        _totalEachBillInTrip['ALLTRIP'][val.item.itemId]['items'] = []
                        _totalEachBillInTrip['ALLTRIP'][val.item.itemId]['mode'] = (val.item.itemReceiptPayment == 1) ? 1 : -1
                    }
                    _totalEachBillInTrip['ALLTRIP'][val.item.itemId]['items'].push(val)
                })
            })

            Object.keys(_totalEachBillInTrip).forEach((key) => {
                Object.keys(_totalEachBillInTrip[key]).forEach((k) => {
                    let val = _totalEachBillInTrip[key][k]
                    _totalEachBillInTrip['ALLTRIP'][k]['total'] += val.total
                })
            })

            return _totalEachBillInTrip
        },

        ...mapState({
            companyConfig: state => state.CompanyConfig.companyConfig,
        })
    },
    methods: {
        setDefaultEdtior() {
            this.editor.id = null;
            this.editor.amount = 0;
            this.editor.billType = 2;
            this.editor.documentCode = null;
            this.editor.itemId = null;
            this.editor.note = null;
            this.editor.number = 1;
            this.editor.reason = null;
            this.editor.unit = "KG";
            this.editor.vehicleId = null;
        },
        
        setDattaForEditBillItem(item){
            this.editor.itemId = item.itemId; 
            this.editor.amount = this.totalEachBillInTrip[this.tripViewTarget][item.itemId] ? this.totalEachBillInTrip[this.tripViewTarget][item.itemId].total : 0
            
            if(this.tripViewTarget != 'ALLTRIP' && this.totalEachBillInTrip[this.tripViewTarget][item.itemId] ) {
                let itemBillInTrip = this.totalEachBillInTrip[this.tripViewTarget][item.itemId]['items'][0]

                this.editor.id = itemBillInTrip.id
                this.editor.reason = itemBillInTrip.reason
                this.editor.note = itemBillInTrip.note
                this.editor.number = itemBillInTrip.number
                this.editor.unit = itemBillInTrip.unit
                this.editor.documentCode = itemBillInTrip.documentCode
                this.editor.vehicleId = itemBillInTrip.vehicleId
            }
        },
        
        saveBillOfItem() {

            if(this.tripViewTarget == 'ALLTRIP') {
                notify('Vui lòng chọn 1 chuyến để sửa !', 'warning')
                return false
            }
            let self = this;
            let params = {
                // billType : self.billType,
                documentCode : this.editor.documentCode,
                number : this.editor.number,
                unit : this.editor.unit,
                amount : this.editor.amount,
                note : this.editor.note,
                reason : this.editor.reason,
                date : this.filter.date,
                // itemId: this.editor.itemId,
                // receiverId: this.userInfo.userInfo.id,
                // spenderId: this.filter.driver.id,
                tripId:  this.tripViewTarget,
                approve: { id: this.approver ? this.approver.id : null },
                item: { itemId: this.editor ? this.editor.itemId : null },
                spender: { id: this.userInfo.userInfo ? this.userInfo.userInfo.id : null },
                receiver: { id: this.filter.driver ? this.filter.driver.id : null },
            };

            if( this.editor.id != "" ) {
                params.id = this.editor.id
            }
            
            if(this.filter.vehicle != null) {
                params.vehicle = { id: this.filter.vehicle ? this.filter.vehicle.vehicleId : null }
            }

            params = [ params ]

            this.load("billCreateMultiple");
            sendJson({
                url : urlDBD(API.billCreateMultiple),
                data : params,
                success : (data) => {
                    this.getTrips();
                    this.unload('billCreateMultiple');
                    this.setDefaultEdtior()
                    this.showModalEditBill = false
                    notify("Tạo phiếu thu chi thành công","success");
                },
                functionIfError : (data) => {
                    this.unload('billCreateMultiple');
                }
            });
        },

        removeBillOfItem() {
            if(!confirm("Bạn có chắc chắn muốn xóa?")){
                return false;
            }

            this.load('deleteBill-billInTrip');
            sendJson({
                url : urlDBD(API.billDelete),
                data : {
                    id :this.editor.id
                },
                success: (data) => {
                    this.getTrips();
                    this.setDefaultEdtior()
                    
                    this.unload('deleteBill-billInTrip');
                    notify("Xóa thu chi khoản mục này thành công !","success");
                },
                functionIfError: (data) => {
                    this.unload('deleteBill-billInTrip');
                }
            });
        },

        getTripAndBillOfTrip() {
            if(!this.filter.driver){
                notify("Vui lòng chọn tài xế","warning");
                return false;
            }
            this.billInTrips = {}
            this.trips = []

            this.getTrips()
            this.getBills()
        },

        getTrips  :function () {
            let self = this

            let params = {
                date : this.filter.date,
                driverId: this.filter.driver.id
            };

            if(this.filter.vehicle) {
                params.numberPlate = this.filter.vehicle.numberPlate
            }

            this.load('getTrips-BillInTrip');
            sendJson({
                url : urlDBD(API.tripGetInDate),
                data : params,
                success : function (res) {
                    let trips =  [];
                    
                    if(res.results.trips.length == 0) {
                        notify('Không có chuyến nào !','info')
                    }
                    res.results.trips.forEach((trip) => {
                        trip.totalTicketMoney = 0;
                        trip.initFireBase = false;
                        self.getBillsItemOfTrip(trip.tripId)
                        trips.push(trip);
                    })

                    self.trips = trips;
                    self.initTripRealTime()    
                    
                    self.unload('getTrips-BillInTrip');
                },
                functionIfError : function (res) {
                    self.unload('getTrips-BillInTrip');
                }
            })
        },

        getItems : function () {
            let self = this;

            let params = {
                page : 0,
                count : func.count50(),
            };
            self.load('getItems-BillInTrip');
            return new Promise((resolve , reject) => {
                sendJson({
                    url : urlDBD(API.itemList),
                    data : params,
                    success : function (data) {
                        // let items = []

                        // if(self.companyConfig.CONFIG.DEFAULT_ITEM.value && self.companyConfig.CONFIG.DEFAULT_ITEM.value.itemId) {
                        //     data.results.result.forEach((_item) => {
                        //         if( _item.itemId != self.companyConfig.CONFIG.DEFAULT_ITEM.value.itemId ) {
                        //             items.push(_item)
                        //         }
                        //     })
                        // }

                        // self.items = items   
                        self.items =  data.results.result;            
                        
                        self.unload('getItems-BillInTrip');
                        resolve()
                    },
                    functionIfError : function (data) {
                        self.unload('getItems-BillInTrip');
                        reject()
                    }
                });
            })
            
        },

        getBillsItemOfTrip : function (tripId) {
            let self = this;
            this.load("getBills"+tripId);
            sendJson({
                url : urlDBD(API.billList),
                data : {
                    page : 0,
                    count :func.countMax(),
                    tripId : tripId,
                },
                success : (data) => {
                    let billInTrip = _.cloneDeep(this.billInTrips)
                    billInTrip[tripId] = data.results.listBill;
                    
                    this.billInTrips = billInTrip
                    this.unload('getBills'+tripId);
                },
                functionIfError : function (data) {
                    self.unload('getBills'+tripId);
                }
            })
        },

        getBills() {
            let self = this;
            this.load("getBills");
            let params = {
                page : 0,
                count :100,
                itemId: this.companyConfig.CONFIG.DEFAULT_ITEM.value.itemId,
                receiverId: this.filter.driver.id,
                spenderId: this.userInfo.userInfo.id,
                startDate: this.filter.date,
                endDate: this.filter.date,
            };
            
            if(this.filter.vehicle) {
                params.numberPlate = this.filter.vehicle.numberPlate;
            }
                
            sendJson({
                url : urlDBD(API.billList),
                data : params,
                success : function (data) {
                    self.listBills = data.results.listBill
                    self.unload('getBills');
                },
                functionIfError : function (data) {
                    self.unload('getBills');
                }
            });
        },

        calcPaidMoneyEachBill() {
            let _moneyPaying = this.moneyPaying
            let _moneyPayingAfter = 0

            Object.keys(this.totalEachBillInTrip['ALLTRIP']).forEach((key) => {
                let value = this.totalEachBillInTrip['ALLTRIP'][key]
                if(value.mode > 0) {
                    if(value.total > _moneyPaying) {
                        value.paid = _moneyPaying
                        _moneyPaying = 0;
                    } else {
                        _moneyPayingAfter = _moneyPaying +  value.total

                        if(_moneyPayingAfter >= 0) {
                            value.paid = value.total
                        } else {
                            value.paid = 0
                        }

                        _moneyPaying = _moneyPayingAfter
                    }
                }
            })
        },

        initTripRealTime() {

            let setDataFromFireBase = (trip) => {
                let cnn = firebaseDatabase.ref().child('trips').child(trip.tripId);
                cnn.on('value', function (snapshot) {
                    let data = snapshot.val();
                    if (data) {
                        // trip.startTimeReality = data.tripInfo.startTimeReality;
                        // trip.totalEmptySeat = data.tripInfo.totalEmptySeat;
                        // trip.tripStatus = data.tripInfo.tripStatus;
                        // trip.code = data.tripInfo.code;
                        // trip.note = data.tripInfo.note;
                        // trip.listLockTrip = data.tripInfo.listLockTrip;
                        
                        // if(data.tripInfo.vehicle){
                        //     trip.vehicle = data.tripInfo.vehicle;
                        // }

                        // trip.drivers = data.tripInfo.drivers;
                        // trip.assistants = data.tripInfo.assistants;
                        // trip.startTime = data.tripInfo.startTimeReality;//múi giờ + 0

                        if(data.tripDetail) {
                            trip.totalTicketMoney = 0
                            trip.totalTicket = 0
                            trip.totalPaidMoney = 0
                            trip.ticketsInfo = data.tripDetail.ticketsInfo || [];//múi giờ + 0
                            if(data.tripDetail.ticketsInfo) {
                                trip.totalTicket = _.size(data.tripDetail.ticketsInfo)
                                Object.keys(data.tripDetail.ticketsInfo).forEach((key) => {
                                    let _ticket = data.tripDetail.ticketsInfo[key]
                                    if(func.checkTicketStatus(_ticket).type !== 'empty' && parseInt( (_ticket.cashOnTheTrip||0) + _ticket.paidMoney) < _ticket.agencyPrice){
                                        trip.totalTicketMoney += (_ticket.agencyPrice -  _ticket.paidMoney)
                                    }
                                    trip.totalPaidMoney += _ticket.paidMoney
                                })
                            }
                        }
                    }
                });
            }

            this.trips.forEach((trip) => {
                if(!trip.initFireBase) {
                    setDataFromFireBase(trip)
                }
                trip.initFireBase = true;
            })

        },
        
        printBill() {
            $(this.$el).find('[data-action=print]').printThis();
        },
        
        saveBillOfDefaultItem(){
            let self = this;
            let params = {
                billType : null,
                documentCode : null,
                number : null,
                unit : null,
                amount : this.moneyPaying,
                note : null,
                reason : null,
                approve: {id: null},
                date : this.filter.date,
                item: { itemId: this.companyConfig.CONFIG.DEFAULT_ITEM.value.itemId },
                receiver: { id: this.filter.driver.id },
                spender: { id: this.userInfo.userInfo.id },
                // vehicle: { id: null }
            };
            
            if(this.filter.vehicle != null) {
                params.vehicle = {}
                params.vehicle.id = this.filter.vehicle.vehicleId;
            }

            this.load("saveBill");
            sendJson({
                url : urlDBD(API.billCreate),
                data : params,
                success : (data) => {
                    this.getBills()
                    this.setDefaultEdtior()
                    
                    this.moneyPaying = "";

                    this.unload('saveBill')
                    notify("Tạo phiếu thu chi thành công","success");
                },
                functionIfError : (data) => {
                    this.unload('saveBill')
                }
            });
        }
    },
    destroyed:function () {
        this.trips.forEach((trip) => {
            trip.off();
        })
    }
}
</script>

<style>

</style>