<template>
    <div class="row">
        <div class="col-12 title">
            <span>TẠO {{ createBill.billType==1?"PHIẾU THU":(createBill.billType==2?"PHIẾU CHI":"PHIẾU") }}</span>
            <span class="pull-right">
                <router-link class="btn btn-outline-danger btn-sm" :to="{name : 'Bill'}"> Hủy</router-link>
                <button class="btn btn-success btn-sm" @click="saveBill();" type="button"><i class="fa fa-save"></i> Lưu Phiếu</button>
            </span>
        </div>
        <div class="col-12">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-6 col-sm-8">
                    <div class="content-row padding-row" style="padding-top:40px">
                        <div class="form-group row" v-show="createBill.billType!=1&&createBill.billType!=2">
                            <label class="col-2 col-form-label text-right">Loại Phiếu</label>
                            <div class="col-9">
                                <select v-model="createBill.billType" class="form-control" id="txtBillType">
                                    <option value="2">Phiếu Chi</option>
                                    <option value="1">Phiếu Thu</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Mã Phiếu</label>
                            <div class="col-9">
                                <input type="text" v-model="createBill.documentCode" placeholder="VD : PT0001" class="form-control" id="txtDocumentCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Ngày</label>
                            <div class="col-9">
                                <datepicker v-model="createBill.date"></datepicker>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Người Duyệt</label>
                            <div class="col-9">
                                <selectuser v-model="createBill.approver"></selectuser>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Người Đưa (*)</label>
                            <div class="col-9">
                                <selectuser v-model="createBill.spender"></selectuser>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Người Nhận (*)</label>
                            <div class="col-9">
                                <selectuser v-model="createBill.receiver"></selectuser>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Xe</label>
                            <div class="col-9">
                                <select-vehicle  v-model="createBill.vehicle"></select-vehicle>
                                <!--<multiselect :options="vehicles" placeholder="Chọn Xe" label="numberPlate" :allow-empty="true"></multiselect>-->
                            </div>
                        </div>
                        <div class="form-group row" v-if="createBill.billType==2">
                            <label class="col-2 col-form-label text-right"></label>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-money">
                                            <input type="text" placeholder="Km đầu " class="form-control text-right" id="startIndex" v-model="createBill.usage.startIndex">
                                            <label for="startIndex">{{ createBill.usage.startIndex|number }}</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-money">
                                            <input type="text" placeholder="Km cuối" class="form-control text-right" id="endIndex" v-model="createBill.usage.endIndex">
                                            <label for="endIndex">{{ createBill.usage.endIndex|number }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Khoản Mục</label>
                            <div class="col-9">
                                <selectitem v-model="createBill.item" :itemReceiptPayment="createBill.billType"></selectitem>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Số Lượng</label>
                            <div class="col-5">
                                <input type="text" v-model="createBill.number" class="form-control">
                            </div>
                            <div class="col-4">
                                <select v-model="createBill.unit" class="form-control">
                                    <option value="KG">KG</option>
                                    <option value="L">Lít</option>
                                    <option value="PIECE">Chiếc (PIECE)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Thành Tiền (*)</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <input type="text" v-model="createBill.amount" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{ createBill.amount|number }} VND</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Lí Do</label>
                            <div class="col-9">
                                <textarea class="form-control" v-model="createBill.reason" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">Ghi Chú</label>
                            <div class="col-9">
                                <textarea class="form-control" v-model="createBill.note" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <span class="pull-right top10">
                                    <router-link class="btn btn-outline-danger" :to="{name : 'Bill'}"> Hủy</router-link>
                                    <button class="btn btn-success" @click="saveBill();" type="button"><i class="fa fa-save"></i> Lưu Phiếu</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle.vue';
    export default {
        components : {SelectVehicle},
        props : ['billType'],
        data : function () {
            return {
                createBill : {
                    billType : '2',
                    item :null,
                    documentCode : '',
                    approver : null,//người duyệt,
                    spender : null,//Người đưa,
                    receiver : null,//Người nhận
                    number : 1,
                    unit : 'KG',
                    amount : 1000,
                    reason: '',
                    note : '',
                    vehicle : null,
                    usage : {
                        unit : 'KM',
                        type : 'OIL',
                        startIndex : '',
                        endIndex : ''
                    },
                    date : new Date().customFormat('#DD#-#MM#-#YYYY#')
                },
            }
        },
        created : function () {
            this.setBillType(this.billType);
            this.setBillType(this.$route.query.billType);
        },
        methods : {
            setBillType : function (type) {
                let self = this;
                if(type !== undefined &&type!==null){
                    self.createBill.billType = type;
                }
            },
            getVehicles : function () {
                let self = this;
                self.load('getVehicles-CreateBill');
                sendJson({
                    url : urlDBD(API.vehicleList),
                    data : {page : 0,count :func.countMax(),companyId : userInfo.userInfo.companyId},
                    success :function (res) {
                        self.vehicles = res.results.result;
                        self.unload('getVehicles-CreateBill');
                    },
                    functionIfError : function (res) {
                        self.unload('getVehicles-CreateBill');
                    }
                })
            },
            saveBill : function () {
                let self = this;
                let dt =_.cloneDeep(self.createBill);
                let dataSend = {
                    billType : dt.billType,
                    documentCode : dt.documentCode,
                    number : dt.number,
                    unit : dt.unit,
                    amount : dt.amount,
                    note : dt.note,
                    reason : dt.reason,
                    date : func.dateStr(dt.date)
                };
                if(dt.item!==null){
                    dataSend.item = {
                        itemId: dt.item.itemId
                    };
                }
                if(dt.approver!==null){
                    dataSend.approve = {
                        id: dt.approver.id
                    };
                }
                if(dt.spender!==null){
                    dataSend.spender = {
                        id: dt.spender.id
                    };
                }
                if(dt.receiver!==null){
                    dataSend.receiver = {
                        id: dt.receiver.id
                    };
                }
                if(dt.vehicle!==null) {
                    dataSend.vehicle = {
                        id: dt.vehicle.vehicleId
                    };
                }
                if(dt.usage.startIndex && dt.usage.endIndex){
                    dataSend.usage = dt.usage;
                }
                notify('asdasd');
                this.load("saveBill");
                sendJson({
                    url : urlDBD(API.billCreate),
                    data : dataSend,
                    success : function (data) {
                        self.unload('saveBill');
                        self.$router.push({name:'Bill'});
                    },
                    functionIfError : function (data) {
                        self.unload('saveBill');
                    }
                });
            },
        },
        watch :{
            '$route.query.billType' : function (newVal,oldVal) {
                this.setBillType(newVal);
            },
            'billType' : function (newVal,oldVal) {
                this.setBillType(newVal);
            },
        }
    }
</script>