<template>
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Mã Phiếu</label>
            <div class="col-9">
                <input type="text" v-model="createBill.documentCode" placeholder="VD : PT0001" class="form-control" id="txtDocumentCode">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Ngày</label>
            <div class="col-9">
                <datepicker v-model="createBill.date"></datepicker>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Người Duyệt</label>
            <div class="col-9">
                <selectuser v-model="createBill.approver"></selectuser>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Người Đưa (*)</label>
            <div class="col-9">
                <selectuser v-model="createBill.spender"></selectuser>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Người Nhận (*)</label>
            <div class="col-9">
                <selectuser v-model="createBill.receiver"></selectuser>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Xe</label>
            <div class="col-9">
                <multiselect :options="vehicles" placeholder="Chọn Xe" label="numberPlate" v-model="createBill.vehicle" :allow-empty="true"></multiselect>
            </div>
        </div>
        <div class="form-group row" v-if="createBill.billType==2">
            <label class="col-2 col-form-label text-right"></label>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="input-money">
                            <input type="text" placeholder="Km đầu " class="form-control text-right" id="startIndex" v-model="createBill.usage.startIndex">
                            <label for="startIndex">{{ createBill.usage.startIndex|number }}</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-money">
                            <input type="text" placeholder="Km cuối" class="form-control text-right" id="endIndex" v-model="createBill.usage.endIndex">
                            <label for="endIndex">{{ createBill.usage.endIndex|number }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Khoản Mục</label>
            <div class="col-9">
                <selectitem v-model="createBill.item" :itemReceiptPayment="createBill.billType"></selectitem>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Số Lượng</label>
            <div class="col-5">
                <input type="text" v-model="createBill.number" class="form-control">
            </div>
            <div class="col-4">
                <select v-model="createBill.unit" class="form-control">
                    <option value="KG">KG</option>
                    <option value="L">Lít</option>
                    <option value="PIECE">Chiếc (PIECE)</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Thành Tiền (*)</label>
            <div class="col-9">
                <div class="input-group">
                    <input type="text" v-model="createBill.amount" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">{{ createBill.amount|number }} VND</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Lí Do</label>
            <div class="col-9">
                <textarea class="form-control" v-model="createBill.reason" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right">Ghi Chú</label>
            <div class="col-9">
                <textarea class="form-control" v-model="createBill.note" rows="3"></textarea>
            </div>
        </div>
        <div class="row" v-show="showAction">
            <div class="col-11">
                <span class="pull-right top10">
                    <router-link class="btn btn-outline-danger" :to="{name : 'Bill'}"> Hủy</router-link>
                    <button class="btn btn-success" @click="saveBill();" type="button"><i class="fa fa-save"></i> Lưu phiếu {{ createBill.billType==1 ? 'thu' : 'chi' }}</button>
                </span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props : {
            billType : {
                type : Number,
                default : 1,
            },
            showAction : {
                type : Boolean,
                default : true,
            },
            tripId : {
                type : String,
                default : '',
            },
        },
        created : function () {
            this.setBillType(this.billType);
            this.getVehicles();
            if(this.vehicle){
                this.vehicle = _.cloneDeep(this.vehicle);
            }
        },
        data : function () {
            return {
                createBill : {
                    billType : 1,
                    item :null,
                    documentCode : '',
                    approver : null,//người duyệt,
                    spender : null,//Người đưa,
                    receiver : null,//Người nhận
                    number : 1,
                    unit : 'KG',
                    amount : 1000,
                    reason: '',
                    note : '',
                    vehicle : null,
                    usage : {
                        unit : 'KM',
                        type : 'OIL',
                        startIndex : '',
                        endIndex : ''
                    },
                    date : new Date().customFormat('#DD#-#MM#-#YYYY#')
                },
                vehicles :[],
            }
        },
        methods : {
            setBillType : function (type) {
                let self = this;
                if(type){
                    self.createBill.billType = type;
                }
            },
            getVehicles : function () {
                let self = this;
                self.load('getVehicles-CreateBill');
                sendJson({
                    url : urlDBD(API.vehicleList),
                    data : {page : 0,count :func.countMax(),companyId : userInfo.userInfo.companyId},
                    success :function (res) {
                        self.vehicles = res.results.result;
                        self.unload('getVehicles-CreateBill');
                    },
                    functionIfError : function (res) {
                        self.unload('getVehicles-CreateBill');
                    }
                })
            },
            saveBill : function () {
                let self = this;
                console.log(_.cloneDeep(self.createBill));
                let dt =_.cloneDeep(self.createBill);
                let dataSend = {
                    billType : dt.billType,
                    documentCode : dt.documentCode,
                    number : dt.number,
                    unit : dt.unit,
                    amount : dt.amount,
                    note : dt.note,
                    reason : dt.reason,
                    date : func.dateStr(dt.date)
                };
                if(dt.item!==null){
                    dataSend.itemId = dt.item.itemId;
                }
                if(dt.approver!==null){
                    dataSend.approverId = dt.approver.id;
                }
                if(dt.spender!==null){
                    dataSend.spenderId = dt.spender.id;
                }
                if(dt.receiver!==null){
                    dataSend.receiverId = dt.receiver.id;
                }
                if(dt.vehicle!==null){
                    dataSend.vehicleId = dt.vehicle.vehicleId;
                }
                if(self.tripId){
                    dataSend.tripId=self.tripId;
                }
                if(dt.usage.startIndex && dt.usage.endIndex){
                    dataSend.usage = dt.usage;
                }
                this.load("saveBill");
                sendJson({
                    url : urlDBD(API.billCreate),
                    data : dataSend,
                    success : function (data) {
                        self.unload('saveBill');
                        self.saveSuccess(data);
                    },
                    functionIfError : function (data) {
                        self.unload('saveBill');
                        self.saveError(data);
                    }
                });
            },
            saveSuccess : function (data) {
                this.$emit('success',data);
            },
            saveError : function (data) {
                this.$emit('error',data);
            },
            refresh : function () {
                this.createBill = {
                    billType : 1,
                    item :null,
                    documentCode : '',
                    approver : null,//người duyệt,
                    spender : null,//Người đưa,
                    receiver : null,//Người nhận
                    number : 1,
                    unit : 'KG',
                    amount : 1000,
                    reason: '',
                    note : '',
                    vehicle : null,
                    usage : {
                        unit : 'KM',
                        type : 'OIL',
                        startIndex : '',
                        endIndex : ''
                    }
                };
            }
        },
        watch :{
            'billType' : function (newVal) {
                this.setBillType(newVal);
            },
        }
    }
</script>