<template>
    <div class="row respon-page" style="margin-bottom: 50px">
        <div class="col-12 title">
            <span class="text-uppercase">{{$t('peg-revenue-expenses-trip')}}</span>
            <span class="float-right">
                <!--<router-link class="btn btn-success btn-sm" :to="{name : 'BillCreate',query : {billType:2}}"> <i class="fa fa-plus"></i> TẠO PHIẾU CHI</router-link>-->
                <!--<router-link class="btn btn-primary btn-sm" :to="{name : 'BillCreate',query : {billType:1}}"> <i class="fa fa-plus"></i> TẠO PHIẾU THU</router-link>-->
            </span>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>{{$t('date')}}</label>
                            <datepicker  v-model="date"></datepicker>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>{{$t('filter.driver')}}</label>
                            <select-user :listUserType="[2]" :userStatus="[1,3,4]" @input="clearData()" v-model="driver" :allowEmpty="true"
                                         class="w-100"></select-user>
                        </div>
                    </div>
<!--                    <div class="col-6 col-md-3">-->
<!--                        <div class="control-group">-->
<!--                            <label>{{$t('filter.vehicle')}}</label>-->
<!--                            <select-vehicle v-model="vehicle" class="w-100"></select-vehicle>-->
<!--                            &lt;!&ndash;<multiselect :options="vehicles" placeholder="Chọn Xe" label="numberPlate" v-model="vehicle" :allow-empty="true"></multiselect>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label> &nbsp;</label>
                            <button @click="getTrips()" class="btn btn-primary btn-block"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>&nbsp; </label>
                            <button class="btn btn-success btn-block text-uppercase" @click="createReport()"><i class="fa fa-cog"></i> {{$t('peg-date')}} {{ date }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 top10" v-if="trips&&trips.length>0">
            <div class="content-row">
                <label class="w-100">{{$t('filter.select-route')}} : {{driver?driver.fullName:''}}</label>
                <template v-for="trip in trips">
                    <button class="btn" v-if="trip.tripStatus!==4" :class="[isTripSelected(trip.tripId)?'btn-success':'btn-outline-primary']" @click="isTripSelected(trip.tripId)?removeToTripsSelected(trip.tripId):pushToTripsSelected(trip)">{{(trip.routeInfo ? trip.routeInfo.name:(trip.routeName?trip.routeName : ''))}} {{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }}</button>&nbsp;
                </template>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive" v-show="tripsSelected.length>0">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="min-width: 100px;"></th>
                            <template v-for="(trip,tripIndex) in tripsSelected">
                                <th style="min-width: 150px;" class="text-center">
                                    <template v-for="driver in trip.drivers">
                                        {{driver.fullName}},
                                    </template>
                                    <br>
                                    {{trip.routeInfo?trip.routeInfo.name:''}} <br>
                                    {{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }} &nbsp; <i class="fa fa-times text-danger" title="loại bỏ" @click="removeToTripsSelected(trip.tripId)"></i>
                                </th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item,itemIndex) in items">
                                <tr>
                                    <th class="text-center">{{ item.itemName }}</th>
                                    <template v-for="(trip,tripIndex) in tripsSelected">
                                        <td style="padding:0" class="bill">
                                            <div class="row no-gutters">
                                                <!--<div class="col border-right">-->
                                                    <!--<input type="text" class="form-control form-control-sm border-0 text-center" v-model="bills[item.itemId][trip.tripId].documentCode" placeholder="Mã phiếu">-->
                                                <!--</div>-->
                                                <div class="col">
                                                    <div class="input-money">
                                                        <input type="text" placeholder="Giá trị" class="form-control form-control-sm text-right border-0" :id="item.itemId+'-'+trip.tripId" v-model="bills[item.itemId][trip.tripId].amount">
                                                        <label :for="item.itemId+'-'+trip.tripId">{{ bills[item.itemId][trip.tripId].amount|number }}</label>
                                                    </div>
                                                </div>
                                                <div class="col-auto action" style="padding: 0 5px;">
                                                    <i class="fa fa-plus-circle" @click="changeBill(bills[item.itemId][trip.tripId])"></i>
                                                </div>
                                                <div class="col-auto action" style="padding: 0 5px;" v-if="bills[item.itemId][trip.tripId]['id']">
                                                    <i class="fa fa-times" @click="removeBill(bills[item.itemId][trip.tripId]['id'])"></i>
                                                </div>
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div v-if="tripsSelected&&tripsSelected.length>0">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalListTicketInfo">
                    Chốt tiền vé cho tài xế
                </button>
                <button class="btn btn-success" @click="saveListBill()"><i class="fa fa-save"></i> {{$t('peg-data')}}</button>
                <button class="btn btn-warning" @click="getReportTrip()"><i class="fa fa-save"></i> Xem báo cáo</button>
                <el-switch
                        style="display: block; float: right;"
                        v-model="selectReport"
                        active-color="#13ce66"
                        inactive-color="#409EFF"
                        active-text="Hiện thị báo cáo tự cấu hình"
                        inactive-text="Hiện thị báo cáo mặc định"
                        @change="selectReportChange($event)">
                </el-switch>
            </div>
        </div>
        <div class="col-12" v-if="dataReport && !selectReport">
            <div class="col-12 top20">
                <template v-for="(name,field) in sh_fields">
                    <label class="checkbox-inline">
                        <input type="checkbox" :value="field" :id="field" v-model="show_fields"><label :for="field" class="font-weight-normal">{{name}}</label> &nbsp; &nbsp; &nbsp;
                    </label>
                </template>
            </div>
            <div class="col-12 top20 tableReport">
                <div class="container">
                    <ol style="padding-left : 0">
                        <table class="table table-sm top20 table-bordered-dark export-revenue">
                            <thead>
                                <tr>
                                    <td :colspan="show_fields.length+1" class="no-padding">
                                        <print-header></print-header>
                                    </td>
                                </tr>
                                <tr>
                                    <td :colspan="show_fields.length+1" class="no-padding text-center"><b>{{$t('revenue-by-driver')}}</b></td>
                                </tr>
                                <tr>
                                    <td :colspan="show_fields.length+1" class="no-padding text-center">
                                        <small>{{ new Date().getTime()|customDate('#hhhh#:#mm# Ngày #DD# tháng #MM# năm #YYYY#') }}</small>
                                    </td>
                                </tr>
                            </thead>
                            <thead>
                            <tr class="text-center">
                                <th>{{$t('No-')}}</th>
                                <th v-if="show_fields.includes('trip')">{{$t('route')}}</th>
                                <th v-if="show_fields.includes('vehicle')">{{$t('filter.vehicle')}}</th>
                                <th v-if="show_fields.includes('list_ticket')" style="width: 200px;">{{$t('list-ticket')}}</th>
                                <th v-if="show_fields.includes('number_ticket')">{{$t('filter.ticket-number')}}</th>
                                <th  style="width: 100px;" v-if="show_fields.includes('total_money_tickets')">Tổng tiền K</th>
                                <th v-if="show_fields.includes('total_money_goods')">Tổng tiền H</th>
                                <th v-if="show_fields.includes('paid_money_tickets')">K đã trả</th>
                                <th v-if="show_fields.includes('paid_money_goods')">H đã trả</th>
                                <th v-if="show_fields.includes('driver_money_tickets')">K xe thu</th>
                                <th v-if="show_fields.includes('driver_money_goods')">H xe thu</th>
                                <th v-if="show_fields.includes('unpaid_money_tickets')">K chưa thu</th>
                                <th v-if="show_fields.includes('unpaid_money_goods')">H chưa thu</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="dataReport.length<=0">
                                <td colspan="13" class="text-center">{{$t('no-data-available')}}</td>
                            </tr>
                            <template v-for="(dayRp,key) in dataReport">
                                <tr class="font-weight-bold text-center">
                                    <td :colspan="numberColspan" class="text-left">Ngày {{dayRp.date}}  /  {{ dayRp.numberTrips }} Chuyến</td>
                                    <td v-if="show_fields.includes('number_ticket')">{{ dayRp.numberTickets|number }}</td>
                                    <td v-if="show_fields.includes('total_money_tickets')">{{ dayRp.money|number }}</td>
                                    <td v-if="show_fields.includes('total_money_goods')">{{ dayRp.goodsMoney|number }}</td>
                                    <td v-if="show_fields.includes('paid_money_tickets')">{{ dayRp.thuTruocKH - dayRp.xethuKH|number }}</td>
                                    <td v-if="show_fields.includes('paid_money_goods')">
                                        {{(dayRp.totalGoodsPaid-dayRp.goodsFeeByDriver)|number}}
                                    </td>
                                    <td v-if="show_fields.includes('driver_money_tickets')">{{ dayRp.xethuKH|number }}</td>
                                    <td v-if="show_fields.includes('driver_money_goods')">
                                        {{dayRp.goodsFeeByDriver|number}}
                                    </td>
                                    <td v-if="show_fields.includes('unpaid_money_tickets')">{{ (dayRp.money - dayRp.thuTruocKH)|number }}</td>
                                    <td v-if="show_fields.includes('unpaid_money_goods')">
                                        {{dayRp.totalGoodsUnpaid|number}}
                                    </td>
                                </tr>
                                <template v-for="(dri,driverIndex) in dayRp.hasDriver">
                                    <tr class=" font-weight-bold text-center">
                                        <td :colspan="numberColspan" class="text-left">{{dri.userInfo.fullName}}-{{dri.userInfo.phoneNumber|phoneNumber}}  /  {{ dri.trips.length }} Chuyến</td>
                                        <td v-if="show_fields.includes('number_ticket')">{{ dri.numberTickets|number }}</td>
                                        <td v-if="show_fields.includes('total_money_tickets')">{{ dri.money|number }}</td>
                                        <td v-if="show_fields.includes('total_money_goods')">{{ dri.goodsMoney|number }}</td>
                                        <td v-if="show_fields.includes('paid_money_tickets')">{{ dri.thuTruocKH - dri.xethuKH|number }}</td>
                                        <td v-if="show_fields.includes('paid_money_goods')">
                                            {{(dri.totalGoodsPaid-dri.goodsFeeByDriver)|number}}
                                        </td>
                                        <td v-if="show_fields.includes('driver_money_tickets')">{{ dri.xethuKH|number }}</td>
                                        <td v-if="show_fields.includes('driver_money_goods')">
                                            {{dri.goodsFeeByDriver|number}}
                                        </td>
                                        <td v-if="show_fields.includes('unpaid_money_tickets')">{{ (dri.money - dri.thuTruocKH)|number }}</td>
                                        <td v-if="show_fields.includes('unpaid_money_goods')">
                                            {{dri.totalGoodsUnpaid|number}}
                                        </td>
                                    </tr>
                                    <template v-for="(trip,tripIndex) in dri.trips">
                                        <tr class="text-center">
                                            <td><li style="margin-left:35px;"></li></td>
                                            <td v-if="show_fields.includes('trip')">{{ trip.routeInfo.name }} - {{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }}</td>
                                            <td v-if="show_fields.includes('vehicle')">{{ trip.vehicle?trip.vehicle.numberPlate:'' }}</td>
                                            <td v-if="show_fields.includes('list_ticket')">{{ (trip.report.listSeatId||[]).join(', ') }} </td>
                                            <td v-if="show_fields.includes('number_ticket')">{{ trip.report.totalSeat|number }}</td>
                                            <td v-if="show_fields.includes('total_money_tickets')">{{ trip.report.totalMoney|number }}</td>
                                            <td v-if="show_fields.includes('total_money_goods')">{{ trip.report.totalGoodsMoney|number }}</td>
                                            <td v-if="show_fields.includes('paid_money_tickets')">{{ trip.report.totalPaidMoney - trip.report.totalCashOnTheTrip|number }}</td>
                                            <td v-if="show_fields.includes('paid_money_goods')">
                                                {{(trip.report.totalGoodsPaid-trip.report.goodsFeeByDriver)|number}}
                                            </td>
                                            <td v-if="show_fields.includes('driver_money_tickets')">{{ trip.report.totalCashOnTheTrip|number }}</td>
                                            <td v-if="show_fields.includes('driver_money_goods')">
                                                {{trip.report.goodsFeeByDriver|number}}
                                            </td>
                                            <td v-if="show_fields.includes('unpaid_money_tickets')">{{ (trip.report.totalMoney - trip.report.totalPaidMoney)|number }}</td>
                                            <td v-if="show_fields.includes('unpaid_money_goods')">
                                                {{trip.report.totalGoodsUnpaid|number}}
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                                <tr class="text-center font-weight-bold" v-show="dayRp.notDriver.trips.length>0">
                                    <td :colspan="numberColspan" class="text-left">Chưa chọn tài xế  /  {{ dayRp.notDriver.trips.length }} Chuyến</td>
                                    <td v-if="show_fields.includes('number_ticket')">{{ dayRp.notDriver.numberTickets|number }}</td>
                                    <td v-if="show_fields.includes('total_money_tickets')">{{ dayRp.notDriver.money|number }}</td>
                                    <td v-if="show_fields.includes('total_money_goods')">{{ dayRp.notDriver.goodsMoney|number }}</td>
                                    <td v-if="show_fields.includes('paid_money_tickets')">{{ dayRp.notDriver.thuTruocKH|number }}</td>
                                    <td v-if="show_fields.includes('paid_money_goods')">
                                        {{(dayRp.totalGoodsPaid-dayRp.goodsFeeByDriver)|number}}
                                    </td>
                                    <td v-if="show_fields.includes('driver_money_tickets')">{{ dayRp.notDriver.xethuKH|number }}</td>
                                    <td v-if="show_fields.includes('driver_money_goods')">
                                        {{dayRp.goodsFeeByDriver|number}}
                                    </td>
                                    <td v-if="show_fields.includes('unpaid_money_tickets')">{{ (dayRp.notDriver.money - dayRp.notDriver.thuTruocKH)|number }}</td>
                                    <td v-if="show_fields.includes('unpaid_money_goods')">
                                        {{dayRp.totalGoodsUnpaid|number}}
                                    </td>
                                </tr>
                                <template v-for="(trip,tripIndex) in dayRp.notDriver.trips">
                                    <tr class="text-center">
                                        <td><li style="margin-left:35px;"></li></td>
                                        <td v-if="show_fields.includes('trip')">{{ trip.routeInfo.name }} - {{ trip.startTimeReality|customDate('#hhhh#:#mm#',true) }}</td>
                                        <td v-if="show_fields.includes('vehicle')">{{ trip.vehicle?trip.vehicle.numberPlate:'' }}</td>
                                        <td v-if="show_fields.includes('list_ticket')">{{ (trip.report.listSeatId||[]).join(', ') }}</td>
                                        <td v-if="show_fields.includes('number_ticket')">{{ trip.report.totalSeat|number }}</td>
                                        <td v-if="show_fields.includes('total_money_tickets')">{{ trip.report.totalMoney|number }}</td>
                                        <td v-if="show_fields.includes('total_money_goods')">{{ trip.report.totalGoodsMoney|number }}</td>
                                        <td v-if="show_fields.includes('paid_money_tickets')">{{ trip.report.totalPaidMoney|number }}</td>
                                        <td v-if="show_fields.includes('paid_money_goods')">
                                            {{(trip.report.totalGoodsPaid-trip.report.goodsFeeByDriver)|number}}
                                        </td>
                                        <td v-if="show_fields.includes('driver_money_tickets')">{{ trip.report.totalCashOnTheTrip|number }}</td>
                                        <td v-if="show_fields.includes('driver_money_goods')">
                                            {{trip.report.goodsFeeByDriver|number}}
                                        </td>
                                        <td v-if="show_fields.includes('unpaid_money_tickets')">{{ (trip.report.totalMoney - trip.report.totalPaidMoney)|number }}</td>
                                        <td v-if="show_fields.includes('unpaid_money_goods')">
                                            {{trip.report.totalGoodsUnpaid|number}}
                                        </td>
                                    </tr>
                                </template>
                            </template>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td :colspan="show_fields.length+1" style="height: 30px"></td>
                                </tr>
                                <tr class="text-center">
                                    <th :colspan="Math.floor((show_fields.length+1 -2)/2)">Khoản mục thu chi chốt chuyến của lái xe</th>
                                    <th colspan="1">Số tiền</th>
                                    <th :colspan="(show_fields.length+1 -2)-Math.floor((show_fields.length+1 -2)/2)">Tổng kết thu chi với Tài xế</th>
                                    <th colspan="1">Số tiền</th>
                                </tr>
                                <template v-if="billsByItemNew.length > 4">
                                    <tr v-for="(bt , index) in billsByItemNew">
                                        <td :colspan="Math.floor((show_fields.length+1 -2)/2)" class="text-right">{{ bt.itemName }}</td>
                                        <td colspan="1" class="text-right">{{ bt.itemType==1?'+':'-' }} {{ bt.totalMoney|number }}</td>
                                        <td :colspan="(show_fields.length+1 -2)-Math.floor((show_fields.length+1 -2)/2)"><template v-if="totalThuChiVoiTaiXe[index]" class="text-right">{{ totalThuChiVoiTaiXe[index].label }}</template></td>
                                        <td colspan="1" class="text-right"><template v-if="totalThuChiVoiTaiXe[index]">{{ totalThuChiVoiTaiXe[index].value|number }}</template></td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr v-for="(bt , index) in totalThuChiVoiTaiXe">
                                        <td :colspan="Math.floor((show_fields.length+1 -2)/2)" class="text-right"><template v-if="billsByItemNew[index]">{{ billsByItemNew[index].itemName }}</template></td>
                                        <td colspan="1" class="text-right"><template v-if="billsByItemNew[index]">{{ billsByItemNew[index].itemType==1?'+':'-' }} {{ billsByItemNew[index].totalMoney|number }}</template></td>
                                        <td :colspan="(show_fields.length+1 -2)-Math.floor((show_fields.length+1 -2)/2)" class="text-right">{{ bt.label }}</td>
                                        <td colspan="1" class="text-right">{{ bt.value|number }}</td>
                                    </tr>
                                </template>
                                <tr class="text-center">
                                    <th :colspan="Math.floor((show_fields.length+1 -2)/2)">Tổng cân đối khoản mục thu chi của lái xe</th>
                                    <th colspan="1" class="text-right">{{ totalTongCanDoiThuChi|number }}</th>
                                    <th :colspan="(show_fields.length+1 -2)-Math.floor((show_fields.length+1 -2)/2)">Tài xế còn phải nộp</th>
                                    <th colspan="1" class="text-right">{{ totalTaiXePhaiNop|number }}</th>
                                </tr>
                                <tr>
                                    <td :colspan="show_fields.length+1" style="height: 30px"></td>
                                </tr>
                                <tr>
                                    <td :colspan="Math.floor((show_fields.length+1)/3)" class="text-center">LÁI XE KÝ</td>
                                    <td :colspan="(show_fields.length+1)-(Math.floor((show_fields.length+1)/3)*2)" class="text-center">ĐIỀU HÀNH KÝ</td>
                                    <td :colspan="Math.floor((show_fields.length+1)/3)" class="text-center">THU NGÂN KÝ</td>
                                </tr>
                            </tfoot>
                        </table>
                    </ol>
                    <!-- del footer -->
                    <div class="col-12 text-right">
                        <div style="display: inline">
                            <label>Số tiền thu</label>
                            <input-number
                                class="text-right"
                                v-model="amountMoney"
                            ></input-number>
                        </div>
                        <button class="btn btn-success btn-sm" @click="handleAmountMoney()"><i class="el-icon-money"></i> Thu tiền</button>
                        <button class="btn btn-success btn-sm" @click="printTableReport()"><i class="fa fa-print"></i> In</button>
                        <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" v-if="dataReport && selectReport">
            <div class="row top20 report-div">
                <div class="col-12" v-html="htmlRendered"></div>
            </div>
            <div class="col-12 text-right">
                <button class="btn btn-success btn-sm" @click="print()">
                    <i class="fa fa-print"></i>
                    {{ $t('button.print')}}
                </button>
                <button class="btn btn-success btn-sm" @click="exportExcel2()">
                    <i class="fa fa-file-excel"></i>
                    {{ $t('export-excel')}}
                </button>
            </div>
        </div>
        <div class="modal fade" id="editBill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">THÔNG TIN PHIẾU</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-if="billEdit.item">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label>Mã phiếu</label>
                                <input type="text" class="form-control" v-model="billEdit.documentCode">
                            </div>
                            <div class="col-6 form-group">
                                <label>Thành Tiền</label>
                                <div class="input-money">
                                    <input type="text" placeholder="Giá trị" class="form-control text-right" :id="billEdit.item.itemId+'-'+billEdit.tripInfo.tripId" v-model="billEdit.amount">
                                    <label :for="billEdit.item.itemId+'-'+billEdit.tripInfo.tripId">{{ billEdit.amount|number }}</label>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <label>Số Lượng</label>
                                <input type="text" class="form-control" v-model="billEdit.number">
                            </div>
                            <div class="col-6 form-group">
                                <label>Đơn vị</label>
                                <select v-model="billEdit.unit" class="form-control">
                                    <option value="KG">KG</option>
                                    <option value="L">Lít</option>
                                    <option value="PIECE">Chiếc (PIECE)</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label>Lý do</label>
                                <textarea rows="3" class="form-control" v-model="billEdit.reason"></textarea>
                            </div>
                            <div class="col-12">
                                <label>Ghi chú</label>
                                <textarea rows="3" class="form-control" v-model="billEdit.note"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('button.close')}}</button>
                        <button type="button" class="btn btn-primary" @click="doEditBill()"> {{$t('button.save')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="modalListTicketInfo" tabindex="-1" role="dialog" aria-labelledby="modalListTicketInfo" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">Danh sách vé</h5> <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
                        <table class="table table-sm text-center table-bordered" style="margin-top: 1rem;">

                            <template v-for="(trip,tripIndex) in tripsSelected">
                                <tr>
                                    <td colspan="8">
                                        {{trip.routeInfo.name}}
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <th></th>
                                    <th colspan="">Ghế</th>
                                    <th colspan="">Xe</th>
                                    <th colspan="">Điểm Lên</th>
                                    <th colspan="">Điểm xuống</th>
                                    <th colspan="">Giá vé</th>
                                    <th colspan="">Đã thu</th>
                                    <th colspan="">Tài xế thu</th>
                                </tr>
                                <template v-for="(ticket,key) in trip.listTicketInfo">
                                    <tr>
                                        <th>
                                            <div>
                                                <input type="checkbox" style="position: inherit;left:auto" :id="ticket.ticketId" v-model="ticketsUpdate" :value="ticket">
                                            </div>
                                        </th>
                                        <td>{{ticket.seat.seatId}}</td>
                                        <td>{{ticket.vehicle.numberPlate}}</td>
                                        <td>{{ticket.pointUp.name}}</td>
                                        <td>{{ticket.pointDown.name}}</td>
                                        <td>{{ticket.agencyPrice|number}}</td>
                                        <td>{{ticket.paidMoney|number}}</td>
                                        <td>{{ticket.cashOnTheTrip|number}}</td>
                                    </tr>
                                </template>
                            </template>
                        </table>
                    </div>
                    <div class="modal-footer bg-anvui">
                        <!--<button class="btn btn-success btn-sm" @click="doUpdateTicket(true)"><i class="fa fa-save"></i> Gán thu chi và chốt dữ liệu</button>-->
                        <button class="btn btn-success btn-sm" @click="doUpdateTicket()"><i class="fa fa-edit"></i> Chốt tiền vé</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import SelectUser from '../User/SelectUser';
    import PrintHeader from '../Print/Header';
    import {mapState} from 'vuex';

    export default {
        components: {SelectVehicle, PrintHeader, SelectUser},
//        billtype : 1 laf thu , 2 laf chi
        data : function () {
            return {
                date : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                driver : null,
                vehicle : null,
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                items : [],
                trips : {},
                bills : [],
                billsByItemNew: [],
                totalTaiXePhaiNop: 0,
                billEdit : {
                    approver : null,//người duyệt,
                    spender : null,//Người đưa,
                    receiver : null,
                    vehicle : null,
                },
                tripsSelected :[],

                dataReport : null,
                billsByItem : {},
                totalMoney : {
                    ticket : 0,
                    billIn : 0,
                    billOut : 0,
                    totalGoods : 0,
                    goodsMoney : 0,
                    cashOnTheTrip: 0,
                    totalGoodsPaid: 0,
                    totalGoodsUnpaid: 0,
                    goodsFeeByDriver: 0,
                },
                ticketsUpdate : [],
                sh_fields : {
                    trip : 'Chuyến',
                    vehicle : 'Xe',
                    list_ticket : 'Danh sách vé',
                    number_ticket : 'Số vé',
                    total_money_tickets : 'Tổng tiền K',
                    total_money_goods : 'Tổng tiền H',
                    paid_money_tickets : 'Khách đã trả',
                    paid_money_goods : 'H trả trước',
                    driver_money_tickets : 'K xe thu',
                    driver_money_goods : 'H xe thu',
                    unpaid_money_tickets : 'K chưa thu',
                    unpaid_money_goods : 'H chưa thu',
                },
                showNewReport: true,
                data : null,
                dataConfig : '',
                selectReport: true,
                show_fields : ['trip','number_ticket','list_ticket','vehicle','total_money_tickets','total_money_goods','paid_money_tickets','paid_money_goods','driver_money_tickets','driver_money_goods','unpaid_money_tickets','unpaid_money_goods'],
                amountMoney: 0,
            }
        },
        mounted : function () {
            this.setShowField();
            this.getItems();
            this.getConfig();
        },
        computed : {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            numberColspan : function () {
                let number = 1;
                let show_fields = this.show_fields;
                if(show_fields.includes('trip')){
                    number++;
                }
                if(show_fields.includes('list_ticket')){
                    number++;
                }
                if(show_fields.includes('vehicle')){
                    number++;
                }
                return number;
            },
            report : function(){
                let data = this.data;
                let bills = {};
                let total = {
                    goodsFeeByDriver: 0,
                    onlinePaymentMoney: 0,
                    totalCashOnTheTrip: 0,
                    totalGoods: 0,
                    totalGoodsMoney: 0,
                    totalGoodsPaid: 0,
                    totalGoodsUnpaid: 0,
                    totalMoney: 0,
                    totalOnlinePayment: 0,
                    totalPaidMoney: 0,
                    totalSeat: 0,
                    totalTicket: 0,
                };
                let totalThuChi = {
                    totalReceiptsIn: 0,
                    totalReceiptsOut: 0,
                    thuTruChi: 0,
                    totalCashOnTrip: 0,
                    totalMoneyGoods: 0,
                    totalMoneyTicketsAndGoods: 0,
                    total:0
                }
                let tt = 0
                let tc = 0
                $.each(data,function(d,dt){
                    if(dt.bills){
                        $.each(dt.bills,function(b,bill){
                            if(bill.item){
                                if(bills[bill.item.itemId]){
                                    bills[bill.item.itemId].amount += bill.amount
                                }else{
                                    let bl = {
                                        name : bill.item.itemName,
                                        amount : bill.amount,
                                        billType : bill.billType
                                    }
                                    bills[bill.item.itemId] = bl;
                                }
                            }
                            if (bill.billType == 1) {
                                tt  += bill.amount;
                            }else{
                                tc += bill.amount;
                            }
                        });
                    }

                    total.goodsFeeByDriver+=dt.report.goodsFeeByDriver||0;
                    total.onlinePaymentMoney+=dt.report.onlinePaymentMoney||0;
                    total.totalCashOnTheTrip+=dt.report.totalCashOnTheTrip||0;
                    total.totalGoods+=dt.report.totalGoods||0;
                    total.totalGoodsMoney+=dt.report.totalGoodsMoney||0;
                    total.totalGoodsPaid+=dt.report.totalGoodsPaid||0;
                    total.totalGoodsUnpaid+=dt.report.totalGoodsUnpaid||0;
                    total.totalMoney+=dt.report.totalMoney||0;
                    total.totalOnlinePayment+=dt.report.totalOnlinePayment||0;
                    total.totalPaidMoney+=dt.report.totalPaidMoney||0;
                    total.totalSeat+=dt.report.totalSeat||0;
                    total.totalTicket+=dt.report.totalTicket||0;

                    totalThuChi.totalCashOnTrip += dt.report.totalCashOnTheTrip || 0
                    totalThuChi.totalMoneyGoods += dt.report.goodsFeeByDriver || 0
                });

                totalThuChi.totalReceiptsIn = tt
                totalThuChi.totalReceiptsOut = tc
                totalThuChi.thuTruChi = totalThuChi.totalReceiptsIn - totalThuChi.totalReceiptsOut
                totalThuChi.totalMoneyTicketsAndGoods = totalThuChi.totalCashOnTrip + totalThuChi.totalMoneyGoods
                totalThuChi.total = totalThuChi.totalMoneyTicketsAndGoods + totalThuChi.thuTruChi
                return {bills,total,totalThuChi}
            },
            htmlRendered : function (){
                let self = this;
                let report = this.report;
                let data = this.data;
                let dataConfig = this.dataConfig;

                dataConfig = self.replaceTotal(report.totalThuChi, dataConfig);

                let htmlSample = $("<div>" + dataConfig + "</div>").find("#tuy-chinh-in-danh-sach-chuyen").find("tbody").html();
                let htmlAllRow = "";
                $.each(data  ? data : [], function(k, v) {
                    htmlAllRow += self.replaceTrip(v, htmlSample || "");
                });


                let htmlSampleBill = $("<div>" + dataConfig + "</div>").find("#tuy-chinh-in-danh-sach-thu-chi").find("tbody").html();
                let htmlAllRowBill = "";
                $.each(report.bills  ? report.bills : [], function(k, v) {
                    htmlAllRowBill += self.replaceBill(v, htmlSampleBill || "");
                });

                let result = $("<div>" + dataConfig + "</div>")
                $("#tuy-chinh-in-danh-sach-chuyen tbody", result).replaceWith(htmlAllRow);
                $("#tuy-chinh-in-danh-sach-thu-chi tbody", result).replaceWith(htmlAllRowBill);

                return $(result).html();
            },
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            })
        },
        methods : {
            // mindate: async function() {
            //     let self = this
            //     let day = 0;
            //     await new Promise(function (resolve) {
            //         setTimeout(function () {
            //             console.log(self.companyConfig.CONFIG,self.companyConfig.CONFIG.TIME_START_GET_DATA.value)
            //             if(self.companyConfig.CONFIG && self.companyConfig.CONFIG.TIME_START_GET_DATA.value){
            //                 day = 10;
            //                 resolve();
            //             }
            //         }, 3000);
            //     });
            //     console.log('aaaaaa',day);
            //     return day
            // },
            handleAmountMoney: function(params) {
              let driverId = this.driver.id;
              let currentUserId = userInfo.userInfo.id;
              let itemId = this.companyConfig.CONFIG.DEFAULT_ITEM.value ? this.companyConfig.CONFIG.DEFAULT_ITEM.value.itemId : null;
              let amountMoney = this.amountMoney;
              if(!driverId) {
                  notify('Lỗi Tài xế không xác định!');
                  return;
              }
              if(!currentUserId) {
                  notify('Lỗi Nguời dùng không xác định!');
                  return;
              }
              if(!itemId) {
                  notify('Lỗi Khoản mục không xác định, kiểm tra cấu hình hệ thống để thiết lập "Khoản Mục Mặc Định"!');
                  return;
              }
              if(!amountMoney || amountMoney === 0) {
                  notify('Vui lòng không để trống trường Số tiền thu !');
                  return;
              }
              this.createBill(driverId, currentUserId, itemId, amountMoney);
            },
            createBill: function(driverId, currentUserId, itemId, amountMoney) {
                let param = {
                    billType : 1,
                    documentCode : '',
                    number : 1,
                    unit : 'KG',
                    amount : amountMoney,
                    note : '',
                    reason : '',
                    date : func.dateStr(new Date().customFormat('#DD#-#MM#-#YYYY#')),
                    item : {itemId: itemId},
                    approve: {id : currentUserId},
                    spender: {id: driverId},
                    receiver: {id: currentUserId},
                    vehicle: {id: null}
                };
                sendJson({
                    url : urlDBD(API.billCreate),
                    data : param,
                    success : function (data) {
                        notify('Tạo phiếu thu thành công');
                    },
                    functionIfError : function (err) {
                        notify('Có lỗi khi tạo phiếu thu: ', err);
                    }
                });
            },
            clearData : function(){
                this.trips = {};
                this.dataReport = null;
                this.tripsSelected = [];
            },
            setShowField : function(){
                let history = localStorage.getItem('show_fields');
                if(history){
                    history = JSON.parse(history);
                    this.show_fields = history;
                }
            },
            getItems : function () {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : func.count50(),
                };
                self.load('getItems-BillInTrip');
                sendJson({
                    url : urlDBD(API.itemList),
                    data : dataReq,
                    success : function (data) {
                        self.items = data.results.result;
                        self.unload('getItems-BillInTrip');
                    },
                    functionIfError : function (data) {
                        self.unload('getItems-BillInTrip');
                    }
                });
            },
            getBillsInTrip : function (tripId) {
                let self = this;
                this.load("getBills"+tripId);
                sendJson({
                    url : urlDBD(API.billList),
                    data : {
                        page : 0,
                        count :func.countMax(),
                        tripId : tripId,
                    },
                    success : function (data) {
                        self.bindBillToDataReport(data.results.listBill);
                        self.unload('getBills'+tripId);
                    },
                    functionIfError : function (data) {
                        self.unload('getBills'+tripId);
                    }
                });
            },
            getTrips  :function () {
                let self = this;
                if(!self.driver){
                    notify("Vui lòng chọn tài xế","error");
                    return false;
                }
                let dataReq = {
                    date : func.dateStr(self.date)
                };
                if(self.driver){
                    dataReq.driverId = self.driver.id;
                }
                if(self.vehicle){
                    dataReq.numberPlate = self.vehicle.numberPlate;
                }
                self.load('getTrips-BillInTrip');
                sendJson({
                    url : urlDBD(API.tripGetInDate),
                    data : dataReq,
                    success :function (res) {
                        self.trips = res.results.trips;
                        self.unload('getTrips-BillInTrip');
                    },
                    functionIfError : function (res) {
                        self.unload('getTrips-BillInTrip');
                    }
                })
            },
            getListTicket : function(_tripId){
                let self = this;
                let listTicketInfo = [];
                sendJson({
                    url : urlDBD(API.ticketGetForTrip),
                    data : {
                        tripId : _tripId,
                        listStatus : [1,2,3,4,5,6,7],
                    },
                    async: false,
                    success: function (data) {
                        let tickets = self.findTicketForDriver(data.results.tickets)
                        listTicketInfo =  tickets;
                    },
                    functionIfError : function (err) {
                    }
                })
                return listTicketInfo;

            },
            findTicketForDriver : function(listTicket){
                let tickets = [];
                $.each(listTicket,function (t,ticket) {
                    if(func.checkTicketStatus(ticket).type !== 'empty'&&parseInt((ticket.cashOnTheTrip||0)+ticket.paidMoney)<ticket.agencyPrice){
                        tickets.push(ticket);
                    }
                });
                return tickets;
            },
            isTripSelected : function(_tripId){
                let self = this;
                let selected = false;
                $.each(self.tripsSelected , function (t,trip){
                    if(_tripId==trip.tripId){
                        selected=true;
                        return false;
                    }
                });
                return selected;
            },
            pushToTripsSelected : function(_trip){
                let self = this;
                this.tripsSelected.push(_trip);
                self.dataReport = null;
                this.setListTicket();

                this.makeBills();
            },
            setListTicket : function(){
                let self = this;
                let ticketsUpdate = [];
                $.each(self.tripsSelected , function (t,trip){
                    let tickets = self.getListTicket(trip.tripId);
                    self.tripsSelected[t].listTicketInfo = [];
                    self.tripsSelected[t].listTicketInfo = tickets;
                    ticketsUpdate = ticketsUpdate.concat(tickets);
                });
                self.ticketsUpdate = ticketsUpdate;
            },

            doUpdateTicket : function (option) { // option true là chốt dữ liệu
                // check quyền
                let self = this;
                let tks = [];// tickets
                let tksUpdate = [];
                $.each(self.ticketsUpdate ,function(t,ticket){
                    let tk = {
                        ticketId : ticket.ticketId,
                        tripId : ticket.tripId,
                        cashOnTheTrip : ticket.agencyPrice-ticket.paidMoney,
                        paidMoney : ticket.agencyPrice,
                        staffCashier: {
                                id: self.driver ? self.driver.id : null
                            }
                    }
                    tks.push(tk);
                });
                self.load('updateTicketMove');
                sendJson({
                    url : urlDBD(API.ticketUpdate),
                    data : tks,
                    success : function (res) {
                        $('#modalListTicketInfo').modal('hide');
                        setTimeout(function(){
                            self.setListTicket();
                        },1000);
                        if(option){
                            self.saveListBill();
                        }
                        self.unload('updateTicketMove');
                    },
                    functionIfError : function (err) {
                        self.unload('updateTicketMove');
                    }
                })
            },
            removeToTripsSelected : function(_tripId){
                let self = this;
                let ts = [];
                $.each(self.tripsSelected,function (t,trip) {
                    if(trip.tripId!==_tripId){
                        ts.push(trip);
                    }
                });
                self.tripsSelected = ts;
                self.dataReport = null;
                this.makeBills();
            },
            makeBills : function () {
                let self = this;
                let b = {};
                let getBill = true;// laays danh sasch bill laafn đầu lặp trip
                $.each(self.items , function (i,item) {
                    b[item.itemId] = {};
                    $.each(self.tripsSelected,function (t,trip) {
                        b[item.itemId][trip.tripId]={
                            billType : item.itemReceiptPayment,
                            item :item,
                            documentCode : '',
                            approver : {
                                id : userInfo.userInfo.id,
                                fullName : userInfo.userInfo.fullName,
                            },//người duyệt,
                            spender : null,//Người đưa,
                            receiver : {
                                id : userInfo.userInfo.id,
                                fullName : userInfo.userInfo.fullName,
                            },//Người nhận
                            number : 1,
                            unit : 'KG',
                            amount : '',
                            reason: '',
                            note : '',
                            tripInfo : trip,
                            vehicleId : (trip.vehicleId||''),
                        }

                        if(item.itemReceiptPayment ==1 ){
                            b[item.itemId][trip.tripId].receiver = _.cloneDeep(self.driver);
                            b[item.itemId][trip.tripId].spender = { id : null, fullName : 'Một người nào đó'}
                        }else{
                            b[item.itemId][trip.tripId].spender = _.cloneDeep(self.driver);
                            b[item.itemId][trip.tripId].receiver = { id : null, fullName : 'Một người nào đó'}
                        }
                        if(getBill){
                            self.getBillsInTrip(trip.tripId);
                        }
                    });
                    getBill = false;
                });
                self.bills = b;
            },
            bindBillToDataReport : function (listBill) {
                let self = this;
                $.each(listBill , function (b,bill) {
                    let billInTrip = _.cloneDeep(self.bills[bill.item.itemId][bill.tripId]);
                    billInTrip.amount = bill.amount;
                    billInTrip.documentCode = bill.documentCode;
                    billInTrip.number = bill.number;
                    billInTrip.unit = bill.unit;
                    billInTrip.reason = bill.reason;
                    billInTrip.note = bill.note;
                    billInTrip.id = bill.id;
                    self.bills[bill.item.itemId][bill.tripId] = _.cloneDeep(billInTrip);
                });
            },
            changeBill : function (bill) {
                this.billEdit = _.cloneDeep(bill);
                $('#editBill').modal('show');
            },
            doEditBill : function () {
                this.bills[this.billEdit.item.itemId][this.billEdit.tripInfo.tripId]=_.cloneDeep(this.billEdit);
                $('#editBill').modal('hide');
            },
            removeBill : function(id){
                let self = this;
                if(!confirm("Bạn có chắc chắn muốn xóa?")){
                    return false;
                }
                self.load('deleteBill-billInTrip');
                sendJson({
                    url : urlDBD(API.billDelete),
                    data : {
                        id :id
                    },
                    success : function (data) {
                        self.getTrips();
                        self.unload('deleteBill-billInTrip');
                    },
                    functionIfError : function (data) {
                        self.unload('deleteBill-billInTrip');
                    }
                });
            },
            saveListBill : function () {
                let self = this;
                let listBill = [];
                let dataSuccess = true;
                $.each(self.bills, function(i,item){
                    $.each(item,function(b,bill){
                        if(bill.amount){
                            if(func.isNumber(bill.amount)){
                                let b = {
                                    billType : bill.billType,
                                    documentCode : bill.documentCode,
                                    number : bill.number,
                                    unit : bill.unit,
                                    amount : bill.amount,
                                    note : bill.note,
                                    reason : bill.reason,
                                    // itemId : bill.item.itemId,
                                    tripId : bill.tripInfo.tripId,
                                    // vehicleId : bill.tripInfo.tripId,

                                    item: { itemId: bill.item ? bill.item.itemId : null },
                                };
                                if(bill.approver!==null){
                                    b.approve ={ id: bill.approver ? bill.approver.id : null }
                                }
                                if(bill.spender!==null){
                                    b.spender = { id: bill.spender ? bill.spender.id : null }
                                }
                                if(bill.receiver!==null){
                                    b.receiver = { id: bill.receiver ? bill.receiver.id : null }
                                }
                                if(bill.vehicle!==null){
                                    b.vehicle = { id: bill.vehicle ? bill.vehicle.vehicleId : null }
                                }
                                if(bill.id){
                                    b.id = bill.id;
                                }
                                listBill.push(b);
                            }else {
                                dataSuccess= false;
                                notify("Giá trị sai định dạng",'error');
                                $('#'+bill.item.itemId+'-'+bill.tripInfo.tripId).focus();
                            }
                        }
                    })
                });
                if(dataSuccess && listBill.length>0){
                    self.load('createListBill-BillInTrip');
                    sendJson({
                        url : urlDBD(API.billCreateMultiple),
                        data : listBill,
                        success : function (res) {
                            self.bindBillToDataReport(res.results.bills);
                            self.unload('createListBill-BillInTrip');
                            self.createReportListTrip();
                        },
                        functionIfError : function () {
                            self.unload('createListBill-BillInTrip');
                        }
                    })
                }else{
                    self.createReportListTrip();
                }
            },
            updateBillsToTrips : function(listBill){
                let trips = {};
                $.each(listBill,function (b,bill) {
                    if(trips[bill.tripId]){
                        trips[bill.tripId].push(bill);
                    }else{
                        trips[bill.tripId] = [bill];
                    }
                });
            },

            createReport : function () {
                let self = this;
                self.load('createReportTrips');
                sendJson({
                    url : urlDBD(API.reportByTripsCreate),
                    data : {
                        date : func.dateStr(self.date),
                    },
                    success : function (data) {
                        self.unload('createReportTrips');
                    },
                    functionIfError : function (data) {
                        self.unload('createReportTrips');
                    }
                });
            },
            createReportListTrip : function () {
                let self = this;
                let tripIds = [];
                $.each(self.tripsSelected,function (t,trip) {
                    tripIds.push(trip.tripId);
                })
                self.load('createReportListTrip');
                sendJson({
                    url : urlDBD(API.reportByListTripsCreate),
                    data : tripIds,
                    success : function (data) {
                        self.data = data.results.reportByTrips
                        self.makeData(data.results.reportByTrips);
                        notify("Chốt thành công",'success');
                        self.unload('createReportListTrip');
                    },
                    functionIfError : function (data) {
                        self.unload('createReportListTrip');
                    }
                });
            },
            getReportTrip: function () {
                let self = this;
                let tripIds = [];
                $.each(self.tripsSelected,function (t,trip) {
                    tripIds.push(trip.tripId);
                })
                self.load('getReportTrip');
                sendJson({
                    url : urlDBD(API.reportByListTripsGet),
                    data : tripIds,
                    success : function (data) {
                        self.data = data.results.reportByTrips
                        self.makeData(data.results.reportByTrips);
                        self.unload('getReportTrip');
                    },
                    functionIfError : function (data) {
                        self.unload('getReportTrip');
                    }
                });
            },
            makeData : function (rD) {//rootData
                let self = this;
                let dataFake = {};
                // let startMs = func.dateToMS(self.startDate)+func.timeToMs(self.startTime);
                // let endMs = func.dateToMS(self.endDate)+func.timeToMs(self.endTime);
                self.totalMoney = {
                    ticket : 0,
                    billIn : 0,// tổng thu
                    billOut : 0, // tổng chi
                    totalGoods : 0,
                    goodsMoney : 0,
                    cashOnTheTrip : 0,
                    totalGoodsPaid: 0,
                    totalGoodsUnpaid: 0,
                    goodsFeeByDriver: 0,
                };
                let billsItem = {};
                $.each(rD,function (index , trip) {
                    self.totalMoney.ticket += trip.report.totalMoney;
                    self.totalMoney.goodsMoney += (trip.report.totalGoodsMoney||0);
                    self.totalMoney.totalGoods += (trip.report.totalGoods||0);
                    self.totalMoney.cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                    self.totalMoney.totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                    self.totalMoney.totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                    self.totalMoney.goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                    let keyId = 'N'+trip.startDateReality;
                    if(!dataFake[keyId]){
                        dataFake[keyId]= {
                            date : new Date(func.dateStrToMs(trip.startDateReality)).customFormat('#DD#-#MM#-#YYYY#'),
                            numberTrips : 0,
                            numberTickets : 0,
                            money : 0,
                            xethuKH: 0,
                            thuTruocKH: 0,
                            totalGoods : 0,
                            goodsMoney : 0,
                            cashOnTheTrip : 0,
                            totalGoodsPaid: 0,
                            totalGoodsUnpaid: 0,
                            goodsFeeByDriver: 0,
                            hasDriver : {},
                            notDriver : {
                                numberTickets : 0,
                                money : 0,
                                xethuKH: 0,
                                thuTruocKH: 0,
                                totalGoods : 0,
                                goodsMoney : 0,
                                cashOnTheTrip : 0,
                                totalGoodsPaid: 0,
                                totalGoodsUnpaid: 0,
                                goodsFeeByDriver: 0,
                                trips : [],
                            },
                        };
                    }
                    dataFake[keyId].numberTrips ++;
                    dataFake[keyId].numberTickets += trip.report.totalSeat;
                    dataFake[keyId].money += trip.report.totalMoney;
                    dataFake[keyId].xethuKH += trip.report.totalCashOnTheTrip;
                    dataFake[keyId].thuTruocKH += trip.report.totalPaidMoney;
                    dataFake[keyId].goodsMoney += (trip.report.totalGoodsMoney||0);
                    dataFake[keyId].totalGoods += (trip.report.totalGoods||0);
                    dataFake[keyId].cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                    dataFake[keyId].totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                    dataFake[keyId].totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                    dataFake[keyId].goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                    if(trip.drivers){//nếu tồn tại lái xe
                        $.each(trip.drivers , function (d,driverInTrip) { // lấy lần lượt lái xe ra
                            if(dataFake[keyId].hasDriver[driverInTrip.id]!==undefined){
                                dataFake[keyId].hasDriver[driverInTrip.id].numberTickets += trip.report.totalSeat;
                                dataFake[keyId].hasDriver[driverInTrip.id].money += trip.report.totalMoney;
                                dataFake[keyId].hasDriver[driverInTrip.id].xethuKH += trip.report.totalCashOnTheTrip;
                                dataFake[keyId].hasDriver[driverInTrip.id].thuTruocKH += trip.report.totalPaidMoney;
                                dataFake[keyId].hasDriver[driverInTrip.id].goodsMoney += (trip.report.totalGoodsMoney||0);
                                dataFake[keyId].hasDriver[driverInTrip.id].totalGoods += (trip.report.totalGoods||0);
                                dataFake[keyId].hasDriver[driverInTrip.id].cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                                dataFake[keyId].hasDriver[driverInTrip.id].totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                                dataFake[keyId].hasDriver[driverInTrip.id].totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                                dataFake[keyId].hasDriver[driverInTrip.id].goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                                dataFake[keyId].hasDriver[driverInTrip.id].trips.push(trip);
                            }else{
                                let p = {
                                    userInfo : driverInTrip,
                                    numberTickets : trip.report.totalSeat,
                                    money : trip.report.totalMoney,
                                    xethuKH : trip.report.totalCashOnTheTrip,
                                    thuTruocKH : trip.report.totalPaidMoney,
                                    goodsMoney : (trip.report.totalGoodsMoney||0),
                                    totalGoods : (trip.report.totalGoods||0),
                                    cashOnTheTrip : (trip.report.totalCashOnTheTrip||0),
                                    totalGoodsPaid: (trip.report.totalGoodsPaid || 0),
                                    totalGoodsUnpaid: (trip.report.totalGoodsUnpaid || 0),
                                    goodsFeeByDriver: (trip.report.goodsFeeByDriver || 0),
                                    trips : [trip]
                                };
                                dataFake[keyId].hasDriver[driverInTrip.id] = p;
                            }
                        });
                    }else { // nếu không có lái xe thì đẩy vào danh sách không có lái xe
                        dataFake[keyId].notDriver.numberTickets += trip.report.totalSeat;
                        dataFake[keyId].notDriver.money += trip.report.totalMoney;
                        dataFake[keyId].notDriver.xethuKH += trip.report.totalCashOnTheTrip;
                        dataFake[keyId].notDriver.thuTruocKH += trip.report.totalPaidMoney;
                        dataFake[keyId].notDriver.goodsMoney += (trip.report.totalGoodsMoney||0);
                        dataFake[keyId].notDriver.totalGoods += (trip.report.totalGoods||0);
                        dataFake[keyId].notDriver.cashOnTheTrip += (trip.report.totalCashOnTheTrip||0);
                        dataFake[keyId].notDriver.totalGoodsPaid += (trip.report.totalGoodsPaid || 0);
                        dataFake[keyId].notDriver.totalGoodsUnpaid += (trip.report.totalGoodsUnpaid || 0);
                        dataFake[keyId].notDriver.goodsFeeByDriver += (trip.report.goodsFeeByDriver || 0);
                        dataFake[keyId].notDriver.trips.push(trip);
                    }
                    if(trip.bills){
                        $.each(trip.bills,function (b,bill) {
                            if(bill.billType===1){
                                self.totalMoney.billIn+=bill.amount;
                            }else{
                                self.totalMoney.billOut+=bill.amount;
                            }
                            if(billsItem[bill.item.itemId]!==undefined){
                                billsItem[bill.item.itemId].totalMoney+=bill.amount;
                            }else{
                                billsItem[bill.item.itemId] = {
                                    totalMoney : bill.amount,//1 là phiếu thu,2 là phiếu chi
                                    itemName : bill.item.itemName,
                                    itemType : bill.item.itemReceiptPayment,
                                }
                            }
                        });
                    }
                });
                self.billsByItem = billsItem;
                self.dataReport = dataFake;
                let totalTongCanDoiThuChi = 0;
                $.each(billsItem, function(key,val){
                    if(val.itemType == 1){
                        totalTongCanDoiThuChi += val.totalMoney;
                    }
                    if(val.itemType == 2){
                        totalTongCanDoiThuChi -= val.totalMoney;
                    }
                });
                self.totalTongCanDoiThuChi = totalTongCanDoiThuChi;
                let totalTienKhHanghoa = self.totalMoney.goodsFeeByDriver + self.totalMoney.cashOnTheTrip;
                self.totalThuChiVoiTaiXe = [
                    {label: 'Tiền khách tài xế thu (1)', value: self.totalMoney.cashOnTheTrip},
                    {label: 'Tiền hàng tài xế thu (2)', value: self.totalMoney.goodsFeeByDriver},
                    {label: 'Tổng tiền khách và hàng lái xe đã thu (3=2+1)', value: totalTienKhHanghoa},
                    {label: 'Tổng cân đối khoản mục thu chi của lái xe', value: totalTongCanDoiThuChi },
                ];
                let billsByItemNew = [];
                $.each(self.billsByItem, function(key, val){
                    billsByItemNew.push(val);
                });
                self.billsByItemNew = billsByItemNew;
                self.totalTaiXePhaiNop =  totalTienKhHanghoa + totalTongCanDoiThuChi;
            },
            printTableReport : function () {
                $(this.$el).find('.tableReport').printThis();
            },
            exportExcel : function () {
                this.excel($(this.$el).find('.export-revenue'),'DOANH_THU_THEO_LAI_XE_');
                // let tableEP = $(this.$el).find('table').tableExport({
                //     headings: true,       // (Boolean), display table headings (th/td elements) in the <thead>
                //     footers: true,        // (Boolean), display table footers (th/td elements) in the <tfoot>
                //     formats: ["xlsx"],    // (String[]), filetypes for the export
                //     filename: "DOANH_THU_THEO_LAI_XE_"+new Date().customFormat('#hhhh#h-#mm#p-#DD#-#MM#-#YYYY#'),// (id, String), filename for the downloaded file
                //     bootstrap: false,                   // (Boolean), style buttons using bootstrap
                //     exportButtons: false,
                //     sheetname: 'DOANH_THU_THEO_LAI_XE'
                // });
                // let exportData = tableEP.getExportData()['tableexport-1']['xlsx'];
                //
                // tableEP.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
                // tableEP.remove();
            },

            //method for new table
            selectReportChange (value) {
                localStorage.setItem('selectReport', value);
            },
            getConfig: function() {
                let self = this;
                try {
                    self.selectReport = JSON.parse(localStorage.getItem('selectReport')) || false;
                }catch (e) {
                    self.selectReport = false;
                }
                sendJson({
                    url: urlDBD(API.displaySettingGet),
                    data: {
                        type: DisplaySetting.REPORT_TRIP
                    },
                    success: function(res) {
                        if (res.results.data) {
                            self.dataConfig = res.results.data;
                        }
                    }
                });
            },
            // getReportTrips : function () {
            //     let self = this;
            //     this.dataReport = [];
            //     self.load('getReportTrips');
            //     let dataReq = {};
            //     let d = func.dateStartToEnd(self.startDate,self.endDate);
            //     dataReq.startDate = new Date(d.start).customFormat('#YYYY##MM##DD#');
            //     dataReq.endDate = new Date(d.end).customFormat('#YYYY##MM##DD#');
            //     if(self.driver){
            //         dataReq.driverId = self.driver.id;
            //     }
            //     if(self.vehicle){
            //         dataReq.numberPlate = self.vehicle.numberPlate;
            //     }
            //     sendJson({
            //         url : urlDBD(API.reportByTrips),
            //         data : dataReq,
            //         success : function (res) {
            //             self.data = res.results.tripsReport
            //             self.unload('getReportTrips');
            //         },
            //         functionIfError : function (err) {
            //             self.unload('getReportTrips');
            //         }
            //     });
            // },
            print: function() {
                $(this.$el)
                        .find(".report-div")
                        .printThis();
            },
            exportExcel2: function() {
                this.excel(
                        $(this.$el)
                                .find(".report-div")
                                .find("table"),
                        "DANH_SACH_VE_"
                );
            },
            replaceTrip: function(trip, html) {
                let htmlAfterReplace = _.cloneDeep(html);
                let self = this;
                let replaceObject = [
                    {
                        key : '[gio_xuat_ben]',
                        value : function(){
                            return self.$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true);
                        }
                    },
                    {
                        key : '[ngay_xuat_ben]',
                        value :  function(){
                            return self.$options.filters.strToDate(trip.startDateReality);
                        }
                    },
                    {
                        key : '[tuyen_cua_chuyen]',
                        value : function(){
                            return trip.routeInfo?trip.routeInfo.name:'';
                        }
                    },
                    {
                        key : '[tai_xe_chuyen]',
                        value : function(){
                            let driversName =(trip.drivers||[]).map( ( {fullName} ) => fullName );
                            return driversName.toString();
                        }
                    },
                    {
                        key : '[phu_xe_chuyen]',
                        value : function(){
                            let assistantsName =(trip.assistants||[]).map( ( {fullName} ) => fullName );
                            return assistantsName.toString();
                        }
                    },
                    {
                        key : '[bien_so_xe]',
                        value : function(){
                            return trip.vehicle ? trip.vehicle.numberPlate : '';
                        }
                    },
                    {
                        key : '[so_luong_ve]',
                        value : function(){
                            return trip.report.totalTicket;
                        }
                    },
                    {
                        key : '[danh_sach-ghe]',
                        value : function(){
                            return trip.report.listSeatId ? trip.report.listSeatId.toString() : '';
                        }
                    },
                    {
                        key : '[tong_tien_ve]',
                        value : function(){
                            return self.$options.filters.number(trip.report.totalMoney);
                        }
                    },
                    {
                        key: '[tong_tien_ve_bang_chu]',
                        value : function(){
                            return func.DocTienBangChu(trip.report.totalMoney);
                        }
                    },
                    {
                        key : '[tong_tien_hang]',
                        value : function(){
                            return self.$options.filters.number(trip.report.totalGoodsMoney);
                        }
                    },
                    {
                        key : '[khach_da_tra]',
                        value : function(){
                            return self.$options.filters.number(trip.report.totalPaidMoney);
                        }
                    },
                    {
                        key : '[hang_da_tra]',
                        value : function(){
                            return self.$options.filters.number(trip.report.totalGoodsPaid);
                        }
                    },
                    {
                        key : '[khach_xe_thu]',
                        value : function(){
                            return self.$options.filters.number(trip.report.totalCashOnTheTrip);
                        }
                    },
                    {
                        key : '[hang_xe_thu]',
                        value : function(){
                            return self.$options.filters.number(trip.report.goodsFeeByDriver);
                        }
                    },
                    {
                        key : '[khach_chua_thu]',
                        value : function(){
                            return self.$options.filters.number(trip.report.totalMoney-trip.report.totalPaidMoney);
                        }
                    },
                    {
                        key : '[hang_chua_thu]',
                        value : function(){
                            return self.$options.filters.number(trip.report.totalGoodsUnpaid);
                        }
                    },
                ];
                $.each(replaceObject, function(k, v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
                });
                return htmlAfterReplace;
            },
            replaceBill: function(bill, html) {
                let htmlAfterReplace = _.cloneDeep(html);
                let self = this;
                let replaceObject = [
                    {
                        key : '[khoan_muc_thu_chi]',
                        value : function(){
                            return bill.name
                        }
                    },
                    {
                        key : '[so_tien]',
                        value : function(){
                            return (bill.billType==2?'-':'+')+self.$options.filters.number(bill.amount)
                        }
                    },
                ];
                $.each(replaceObject, function(k, v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
                });
                return htmlAfterReplace;
            },
            replaceTotal: function(total, html) {
                let htmlAfterReplace = _.cloneDeep(html);
                let self = this;
                let replaceObject = [
                    {
                        key : '[tong_tien_phieu_thu]',
                        value : function(){
                            if (total && total.totalReceiptsIn) {
                                return '+'+self.$options.filters.number(total.totalReceiptsIn)
                            } else {
                                return 0
                            }
                        }
                    },
                    {
                        key : '[tong_tien_phieu_chi]',
                        value : function(){
                            if (total && total.totalReceiptsOut) {
                                return '-'+self.$options.filters.number(total.totalReceiptsOut)
                            } else {
                                return 0
                            }

                        }
                    },
                    {
                        key : '[thu_chi]',
                        value : function(){
                            if (total && total.thuTruChi) {
                                return self.$options.filters.number(total.thuTruChi)
                            } else {
                                return 0
                            }

                        }
                    },
                    {
                        key : '[tong_khach_xe_thu]',
                        value : function(){
                            if (total && total.totalCashOnTrip) {
                                return self.$options.filters.number(total.totalCashOnTrip)
                            } else {
                                return 0
                            }

                        }
                    },
                    {
                        key : '[tong_hang_xe_thu]',
                        value : function(){
                            if (total && total.totalMoneyGoods) {
                                return self.$options.filters.number(total.totalMoneyGoods)
                            } else {
                                return 0
                            }

                        }
                    },
                    {
                        key : '[tong_khach_hang_xe_thu]',
                        value : function(){
                            if (total && total.totalMoneyTicketsAndGoods) {
                                return self.$options.filters.number(total.totalMoneyTicketsAndGoods)
                            } else {
                                return 0
                            }
                        }
                    },
                    {
                        key : '[thu_chi_xe]',
                        value : function(){
                            if (total && total.total) {
                                return self.$options.filters.number(total.total)
                            } else {
                                return 0
                            }

                        }
                    },
                ];
                $.each(replaceObject, function(k, v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
                });
                return htmlAfterReplace;
            }
        },
        watch  : {
            show_fields : function (newVal,oldVal) {
                localStorage.setItem('show_fields',JSON.stringify(newVal));
            },

        },
    }
</script>
<style scoped>
    input::-webkit-input-placeholder {
        color: #fff;
    }
    input:focus::-webkit-input-placeholder {
        color: #999;
    }
    .bill .action{opacity: 0.5}
    .bill:hover .action{opacity: 1}
</style>
