<template>
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Mã Phiếu</label>
        <div class="col-9">
          <input
            type="text"
            v-model="documentCode"
            placeholder="VD : PT0001"
            class="form-control"
            id="txtDocumentCodeUpdate"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Ngày</label>
        <div class="col-7">
          <datepicker v-model="date"></datepicker>
        </div>
        <div class="col-2">
          <el-time-picker class="w-100" v-model="timeSelect" format="HH:mm" value-format="timestamp" type="date"
                          placeholder="Mặc định giờ lúc tạo"></el-time-picker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Người Duyệt<span class="required">*</span>
        </label>
        <div class="col-9">
          <selectuser v-model="approver"></selectuser>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Người Đưa<span class="required">*</span>
        </label>
        <div class="col-9">
          <selectuser v-model="spender"></selectuser>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Người Nhận<span class="required">*</span>
        </label>
        <div class="col-9">
          <selectuser v-model="receiver"></selectuser>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Xe</label>
        <div class="col-9">
          <select-vehicle v-model="vehicle"></select-vehicle>
          <!--<multiselect :options="vehicles" placeholder="Chọn Xe" label="numberPlate" :allow-empty="true"></multiselect>-->
        </div>
      </div>
      <div class="form-group row" v-if="billType==2">
        <label class="col-2 col-form-label text-right"></label>
        <div class="col-9">
          <div class="row">
            <div class="col">
              <div class="input-money">
                <input
                  type="text"
                  placeholder="Km đầu "
                  class="form-control text-right"
                  id="startIndex"
                  v-model="usage.startIndex"
                />
              </div>
            </div>
            <div class="col">
              <div class="input-money">
                <input
                  type="text"
                  placeholder="Km cuối"
                  class="form-control text-right"
                  id="endIndex"
                  v-model="usage.endIndex"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Khoản Mục<span class="required">*</span>
        </label>
        <div class="col-9">
          <select-item v-model="item" class="w-100" :itemReceiptPayment="billType"></select-item>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Số Lượng</label>
        <div class="col-5">
          <input-number type="text" v-model="number" class="form-control"></input-number>
        </div>
        <div class="col-4">
          <select v-model="unit" class="form-control">
            <option value="KG">KG</option>
            <option value="L">Lít</option>
            <option value="PIECE">Chiếc (PIECE)</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Thành Tiền<span class="required">*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input-number type="text" v-model="amount" class="form-control"></input-number>
          </div>
        </div>
      </div>
      <!--<div class="form-group row">-->
        <!--<label class="col-2 col-form-label text-right">-->
          <!--Chuyển tiền giữa nhân viên-->
        <!--</label>-->
        <!--<div class="col-9" style="padding-top: 10px;">-->
          <!--<el-checkbox size="medium " v-model="staffTransfer"></el-checkbox>-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Lí Do</label>
        <div class="col-9">
          <textarea class="form-control" v-model="reason" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Ghi Chú</label>
        <div class="col-9">
          <textarea class="form-control" v-model="note" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SelectItem from "../Item/SelectItem";
import SelectVehicle from "../Vehicle/SelectVehicle";
export default {
  components: { SelectItem, SelectVehicle },
  props: {
    // billType : {
    //     require : true,
    //     type : Number,
    //     default : 1
    // }
  },
  data: function() {
    return {
      item: null,
      documentCode: "",
      approver: null, //người duyệt,
      spender: null, //Người đưa,
      receiver: null, //Người nhận
      number: 1,
      unit: "KG",
      amount: 1000,
      reason: "",
      note: "",
      vehicle: null,
      id: null,
      usage: {
        unit: "KM",
        type: "OIL",
        startIndex: null,
        endIndex: null
      },
      billType: null,
      staffTransfer: false,
      bill2: null,
      date: new Date().customFormat("#DD#-#MM#-#YYYY#"),
      timeSelect: null
    };
  },
  methods: {
    refresh: function(bill) {
      this.bill2 = bill
      this.documentCode = bill.documentCode;
      this.date = new Date(bill.createdDate).customFormat("#DD#-#MM#-#YYYY#");
      this.timeSelect = bill.paymentTime;
      this.number = bill.number;
      this.unit = bill.unit;
      this.amount = bill.amount;
      this.reason = bill.reason;
      this.note = bill.note;
      this.vehicle = bill.vehicle;
      // this.staffTransfer = bill.staffTransfer
      this.usage = {
        unit: bill.usage ? bill.usage.unit : null,
        type: bill.usage ? bill.usage.type : null,
        startIndex: bill.usage ? bill.usage.startIndex : null,
        endIndex: bill.usage ? bill.usage.endIndex : null
      };
      this.billType = bill.billType;
      this.id = bill.id;
      if (bill.item !== null) {
        this.item = bill.item;
      }
      if (bill.approve !== null) {
        this.approver = bill.approve; //người duyệt,
      }
      if (bill.spender !== null) {
        this.spender = bill.spender; //Người đưa,
      }
      if (bill.receiver !== null) {
        this.receiver = bill.receiver; //Người nhận
      }
      if (bill.vehicle !== null) {
        this.vehicle = bill.vehicle;
      }
      if (bill.usage && bill.usage.startIndex && bill.usage.endIndex) {
        this.usage = bill.usage;
      }
    },
    checkValidForm: function() {
        let self = this;
        if(!self.approver) {
            notify('Trường Người Duyệt còn trống!');
            return false
        }
        if(!self.spender) {
            notify('Trường Người Đưa còn trống!');
            return false
        }
        if(!self.receiver) {
            notify('Trường Người Nhận còn trống!');
            return false
        }
        if(!self.item) {
            notify('Trường Khoản Mục còn trống!');
            return false
        }
        if(parseInt(self.usage.startIndex) > parseInt(self.usage.endIndex)) {
            notify('KM đầu phải nhỏ hơn KM cuối')
            return false;
        }
        return true;
    },
    setHistory() {
        let self = this;
        let log = []
        let d = new Date()
        let dataSend = {
            status: 'Cập nhập',
            id: self.id,
            billType: self.billType,
            dateUpdate:  d.getDate().toString() + '-' + (d.getMonth() + 1).toString() + '-' + d.getFullYear().toString(),
        };
        if (self.documentCode && self.documentCode != self.bill2.documentCode) {
            dataSend.documentCode = self.documentCode;
        }
        if (self.number && self.number != self.bill2.number) {
            dataSend.number = self.number;
        }
        if (self.unit && self.unit != self.bill2.unit) {
            if (self.unit == 'L'){
                dataSend.unit = 'Lít'
            }
            if (self.unit == 'PIECE'){
                dataSend.unit = 'Chiếc'
            } else {
                dataSend.unit = self.unit;
            }
        }
        if (self.amount && self.amount != self.bill2.amount) {
            dataSend.amount = self.amount;
        }
        if (self.note && self.note != self.bill2.note) {
            dataSend.note = self.note;
        }
        if (self.reason && self.reason.toString() !== self.bill2.reason.toString()) {
            dataSend.reason = self.reason;
        }
        if (self.date && self.date != self.bill2.date) {
            dataSend.date = self.date;
        }
        if (self.timeSelect && self.timeSelect != self.bill2.timeSelect) {
            dataSend.paymentTime = self.timeSelect;
        }
        if (self.item && self.item.itemName != self.bill2.item.itemName) {
            dataSend.item = self.item;
        }
        if (self.approver && self.approver.fullName != self.bill2.approve.fullName) {
            dataSend.approver = self.approver;
        }
        if (self.spender && self.spender.fullName != self.bill2.spender.fullName) {
            dataSend.spender = self.spender;
        }
        if (self.receiver && self.receiver.fullName != self.bill2.receiver.fullName) {
            dataSend.receiver = self.receiver;
        }
        if (self.vehicle && self.vehicle.numberPlate != self.bill2.vehicle.numberPlate) {
            dataSend.vehicle = self.vehicle;
        }
        if (self.usage.startIndex && self.usage.endIndex) {
            dataSend.usage = self.usage;
        }
        console.log(dataSend)

        let params = {
            billId: self.id,
            logs: dataSend
        }

        sendParam({
            url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/avq_api/bill_logs',
            data: params,
            type: "POST",
            success : function (res) {
            },
            error : function () {
            }
        })
    },
    save: function() {
      let self = this;
      if(!self.checkValidForm()){
        return;
      }
      let dataSend = {
        id: self.id,
        billType: self.billType,
        documentCode: self.documentCode,
        number: self.number,
        unit: self.unit,
        amount: self.amount,
        note: self.note,
        reason: self.reason,
        date: func.dateStr(self.date),
        item: { itemId:self.item ? self.item.itemId : null },
        approve: { id: self.approver?self.approver.id:null },
        spender: { id: self.spender?self.spender.id :null },
        receiver: { id: self.receiver?self.receiver.id : null },
        vehicle: { id: self.vehicle ? self.vehicle.vehicleId : null },
      };
      if (self.usage.startIndex && self.usage.endIndex) {
        dataSend.usage = self.usage;
      }
      if (self.timeSelect) {
          dataSend.paymentTime = self.timeSelect;
      }
      this.load("updateBill");
      sendJson({
        url: urlDBD(API.billUpdate),
        data: dataSend,
        success: function(data) {
          self.setHistory()
          self.unload("updateBill");
          self.$emit("event", { eventName: "saveSuccess", data: data });
        },
        functionIfError: function(data) {
          self.unload("updateBill");
          self.$emit("event", { eventName: "saveError", data: data });
        }
      });
    }
  }
};
</script>
<style scoped>
.required {
  color: #e3342f;
  margin-left: 5px;
}
</style>
