<template>
	<div id="google-map" :style="{width:width, height:height}"></div>
</template>
<script type="text/javascript">

	export default {
		props: {
			value: {
				default: function(){
					return {
						lat : 20.9975507,
						lng : 105.7943513,
					}
				},
				type: [Object]
			},
			width: {
				default: '100%'
			},
			height: {
				default: '300px'
			}
		},
		data : function(){
			return {
				map : null,
				marker : null,
				geocoder : null,
				infowindow : null,
			}
		},
		mounted : function(){
			let self = this;
            this.getGoogleMap();
        },
		methods : {
            initMap : function () {
				let myLatLng = this.getLatLng();
			    this.map = new google.maps.Map(document.getElementById('google-map'), {
				    zoom: 12,
				    center: myLatLng
				});
				this.marker = new google.maps.Marker({
				    position: myLatLng,
				    map: this.map,
				    icon: this.$options.filters.url('/public/images/MARKER-BUS-V2.png')
				});
				// get address
                this.geocoder = new google.maps.Geocoder;
                this.infowindow = new google.maps.InfoWindow;
                // finish
            },
            getGoogleMap: function(){
            	let self = this;
	            let itv = setInterval(function () {
	                try{
	                    self.initMap();
	                    clearInterval(itv);
	                }catch(e){
	                    console.warn(e);
	                }
	            },1000);
            },
			setPosition : function () {
				if(!this.map&&!this.marker){
					return false
				}
				let self = this;
				let myLatLng = self.getLatLng();
				self.marker.setPosition(myLatLng);
				// if(!$(self.$el).is(':hover')){
				// 	self.map.setCenter(myLatLng);
				// }
				// get address
				self.geocoder.geocode({'location': myLatLng}, function(results, status) {
					if (status === 'OK') {
						if (results[0]) {
							self.infowindow.setContent(results[0].formatted_address);
						} else {
							self.infowindow.setContent("Không rõ địa chỉ");
							console.log('Địa chỉ không tồn tại');
						}
						self.infowindow.open(self.map, self.marker);
					} else {
						console.log('Không xác định vị trí' + status);
					}
				});
			},
			getLatLng : function () {
				if(this.value&&this.value.lat&&this.value.lng){
					return {
						lat: parseFloat(this.value.lat),
						lng: parseFloat(this.value.lng)
					}
				}else{
					return {
						lat : 20.9975507,
						lng : 105.7943513,
					}
				}
			}
        },
        watch: {
        	'value': {
		        handler: function () {
		            this.setPosition();
		        },
		        deep: true
		    }
        }
	}

</script>