<template>
  <div class="w-100">
    <div class="col-12">
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('name-route')}}</div>
        <div class="col-5">
          <input type="text" class="form-control" v-model="routeName" :pattern="pattern" />
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('short-name-route')}}</div>
        <div class="col-4">
          <input type="text" class="form-control" v-model="routeNameShort" />
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('basic-price')}}</div>
        <div class="col-3">
          <input-number class="form-control" v-model="displayPrice"></input-number>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('child-ticket-rate')}}</div>
        <div class="col-3">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <input-number class="form-control" v-model="childrenTicketRatio"></input-number>
                <div class="input-group-append">
                  <div class="input-group-text">%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right"></div>
        <div class="col-3">
          <el-checkbox v-model="isNew">Tuyến mới</el-checkbox>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right"></div>
        <div class="col-3">
          <el-checkbox v-model="isPopular">Tuyến phổ biến</el-checkbox>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">Quãng đường (km)</div>
        <div class="col-3">
          <input-number class="form-control" v-model="distance"></input-number>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">Ký hiệu mẫu số</div>
        <div class="col-3">
          <input class="form-control" v-model="formInvoice"></input>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">Ký hiệu</div>
        <div class="col-3">
          <input class="form-control" v-model="serialInvoice"></input>
        </div>
      </div>
    </div>
    <div class="col-12 top20">
      <label
        class="font-weight-normal w-100 text-center"
      >*** {{$t('dont-allow-ticket-sale-by')}} ***</label>
      <div class="row">
        <template v-for="(platform,p) in platforms">
          <div class="col-6 col-md form-check text-center">
            <input
              type="checkbox"
              :id="'allowSell'+p"
              class="form-check-input"
              :value="platform.value"
              v-model="listLockRoute"
            />
            <label
              :for="'allowSell'+p"
              class="form-check-label font-weight-normal"
            >{{platform.label}}</label>
          </div>
        </template>
      </div>
    </div>
    <div class="col-12 top20">
      <h6 class="text-center">
        *** {{$t('list-stop-point')}}
        <small>( {{ pointsRoute.length}} {{$t('point')}} ) ***</small>
      </h6>
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 50px" class="text-center">{{$t('No-')}}</th>
            <th style="width: 250px" class="text-capitalize">{{$t('point')}}</th>
            <th style="width: 250px">{{$t('estimated-time-(from-time-departure)')}}</th>
            <th>{{$t('transshipment')}}</th>
            <th style="width: 250px">Cho phép đưa đón tận nhà</th>
            <th style="width: 250px">Cho phép đưa đón dọc đường</th>
          </tr>
        </thead>
        <draggable :list="pointsRoute" handle=".handler" tag="tbody">
          <template v-for="(pr,p) in pointsRoute">
            <tr>
              <td class="text-center">
                <i class="fa fa-arrows-alt handler"></i>
                {{p+1}}
              </td>
              <td style="width: 250px">
                <div class="w-100">
                  <select-point
                    size="mini"
                    v-model="pr.point"
                    class="multiple-sm"
                    :allowEmpty="false"
                  ></select-point>
                </div>
              </td>
              <td>
                <div class="row no-gutters">
                  <div class="col">
                    <input-number
                      class="form-control form-control-sm"
                      v-model="pr.hour"
                      :readonly="p==0"
                    ></input-number>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-sm" disabled>{{$t('hour')}}</button>
                  </div>
                  <div class="col">
                    <input-number
                      class="form-control form-control-sm"
                      v-model="pr.minute"
                      :readonly="p==0"
                    ></input-number>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-sm" disabled>{{$t('minute')}}</button>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-12">
                    <template v-if="pr.transshipment.length>0">
                      <template v-for="(tran,t) in pr.transshipment">
                        <div class="w-100">
                          {{tran.point ? tran.point.name:''}} -
                          {{tran.money|number}} - đón trước {{tran.pickUpTime|number}} phút
                          &nbsp;
                          <i
                            class="fa fa-times text-danger"
                            @click="deleteTransshipmentToPoint(p,t)"
                            :title="$t('delete')"
                          ></i>
                        </div>
                      </template>
                    </template>
                    <template v-else>
                      <div class="w-100 text-danger">{{$t('not-point-transshipment')}}</div>
                    </template>
                  </div>
                  <div class="col-12">
                    <el-popover placement="left" width="400" trigger="click">
                      <div class="w-100">
                        <el-form label-width="140px">
                          <el-form-item label="Điêm" style="margin-bottom: 8px">
                            <select-point
                              v-model="pr.transshipmentAdd.point"
                              class="w-100"
                              :allowEmpty="false"
                              :pointType="7"
                            ></select-point>
                          </el-form-item>
                          <el-form-item label="Phí" style="margin-bottom: 8px">
                            <input-number class="form-control" v-model="pr.transshipmentAdd.money"></input-number>
                          </el-form-item>
                          <el-form-item label="Đón trước (phút)" style="margin-bottom: 8px">
                            <input-number
                              class="form-control"
                              v-model="pr.transshipmentAdd.pickUpTime"
                            ></input-number>
                          </el-form-item>
                        </el-form>
                        <div class="w-100 text-right">
                          <button class="btn btn-primary" @click="addTransshipmentToPoint(p)">
                            <i class="fa fa-plus-circle"></i>
                            {{$t('button.add-btn')}}
                          </button>
                        </div>
                      </div>
                      <el-button slot="reference" type="text">{{$t('add-point-transshipment')}}</el-button>
                    </el-popover>
                  </div>
                </div>
              </td>
              <td>
                <el-select v-model="pr.allowPickingAnddropingAtHomeByPlatform" multiple placeholder="Chọn">
                  <el-option
                    v-for="platformValue in platforms"
                    :key="platformValue.value"
                    :label="platformValue.label"
                    :value="platformValue.value"
                  ></el-option>
                </el-select>
              </td>
              <td>
                <el-select v-model="pr.allowPickingAndDroppingAtWayByPlatform" multiple placeholder="Chọn">
                  <el-option
                          v-for="platformValue in platforms"
                          :key="platformValue.value"
                          :label="platformValue.label"
                          :value="platformValue.value"
                  ></el-option>
                </el-select>
              </td>
              <td class="text-right">
                <i
                  class="fa fa-trash text-danger"
                  :title="$t('delete-point')"
                  @click="deletePointToRoute(p)"
                  v-if="pointsRoute.length>2"
                ></i>
              </td>
            </tr>
          </template>
        </draggable>
        <tfoot>
          <tr>
            <td colspan="3">
              <button class="btn btn-sm" @click="numberPointAdd>1?numberPointAdd--:numberPointAdd">
                <i class="fa fa-minus"></i>
              </button>
              <button
                class="btn btn-sm btn-outline-dark"
                @click="addPointToRoute()"
              >{{$t('button.add-btn')}} {{numberPointAdd}} {{$t('point')}}</button>
              <button class="btn btn-sm" @click="numberPointAdd++">
                <i class="fa fa-plus"></i>
              </button> &nbsp; &nbsp;
            </td>
            <td colspan="2" class="text-right">
              <button class="btn btn-primary btn-sm" @click="createTablePrice()">
                <i class="fa fa-edit"></i>
                {{$t('edit-price-list')}}
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div v-if="openTablePrice&&tablePrice">
      <div
        style="position: fixed;width: 100vw;height: 100vh;top:0;left: 0;background: #fff;z-index: 1;"
      >
        <div class="w-100">
          <div class="title" style="margin:0">
            <div class="row no-gutters">
              <div class="col-auto">{{$t('list-route-price')}} --- {{cellPlaceholder}}</div>
              <div class="col text-right">
                <button class="btn btn-primary btn-sm" @click="openTablePrice=false">
                  {{$t('save-price-list')}}
                  <i class="fa fa-save" :title="$t('save-price-list')"></i>&nbsp;
                </button>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 100vw;height: calc(100vh - 40px);position: relative;overflow: scroll">
          <table class="table-sm table-bordered">
            <thead>
              <tr>
                <td style="min-width: 250px;width: 250px;">{{$t('note-price-not-sell')}}</td>
                <template v-for="(point,p) in pointsRoute">
                  <td style="min-width: 150px;width: 150px;">{{point.point.name}}</td>
                </template>
              </tr>
            </thead>
            <tbody>
              <template v-for="(point,p) in pointsRoute">
                <tr>
                  <td>{{point.point.name|cutString(30)}}</td>
                  <template v-for="(pointR,pr) in pointsRoute">
                    <td
                      :class="[pr>p?'':'bg-e']"
                      @click="cellPlaceholder = point.point.name+' -> '+pointR.point.name"
                    >
                      <input-number class="w-100 border-0" v-model="tablePrice[p][pr]" v-if="pr>p"></input-number>
                    </td>
                  </template>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Platform } from "../../class/platform";
import SelectPoint from "../Point/SelectPoint";

export default {
  components: { SelectPoint },
  data: function() {
    return {
      pattern: "[^<>'\\\\\\/;`%,.]*$",
      pointsRoute: [this.pointDefault(), this.pointDefault()],
      routeName: "",
      isPopular: false,
      isNew: false,
      distance: 0,
      routeNameShort: "",
      displayPrice: 0,
      childrenTicketRatio: 100,
      numberPointAdd: 1,
      listLockRoute: [],
      openTablePrice: false,
      tablePrice: null,
      cellPlaceholder: "",
      formInvoice: "",
      serialInvoice: "",
      platforms: Platform.properties()
    };
  },
  methods: {
    pointDefault: function() {
      let data = {
        point: null,
        hour: 0,
        minute: 0,
        transshipment: [],
        transshipmentAdd: {
          point: null,
          money: 0,
          pickUpTime: 0
        },
        allowPickingAndDroppingAtWayByPlatform: [1,2,3,4,5],
        allowPickingAnddropingAtHomeByPlatform: []
      };
      return data;
    },
    transshipmentDefault: function() {
      let data = {
        point: null,
        money: 0,
        pickUpTime: 0
      };
      return data;
    },
    addPointToRoute: function(index) {
      if (index) {
        this.pointsRoute.splice(index + 1, 0, this.pointDefault());
      } else {
        for (var i = 0; i < this.numberPointAdd; i++) {
          this.pointsRoute.push(this.pointDefault());
        }
        this.numberPointAdd = 1;
      }
      return false;
    },
    deletePointToRoute: function(index) {
      if (confirm(this.$t("confirm-delete"))) {
        this.pointsRoute.splice(index, 1);
      }
      return false;
    },
    addTransshipmentToPoint: function(keyPoint) {
      let self = this;
      let p = _.cloneDeep(self.pointsRoute[keyPoint].transshipmentAdd);
      if (!p.point) {
        return false;
      }
      let has = false;
      $.each(self.pointsRoute[keyPoint].transshipment, function(t, tran) {
        if (p.point.id == tran.point.id) {
          has = true;
          return false;
        }
      });
      if (has) {
        notify("Đã tồn tại điểm trung chuyển này", "error");
        return false;
      }
      self.pointsRoute[keyPoint].transshipment.push(p);
      return false;
    },
    deleteTransshipmentToPoint: function(keyPoint, keytsm) {
      this.pointsRoute[keyPoint].transshipment.splice(keytsm, 1);
      return false;
    },
    createTablePrice: function() {
      let self = this;
      let tablePriceClone = [];
      let hasPointNull = false;
      $.each(self.pointsRoute, function(p1, point1) {
        if (!point1.point) {
          hasPointNull = true;
          return false;
        }
        let tablePricePoint = [];
        $.each(self.pointsRoute, function(p2, point2) {
          let value = -1;
          if (p2 > p1) {
            try {
              if (self.tablePrice[p1][p2] !== undefined) {
                value = self.tablePrice[p1][p2];
              } else {
                value = self.displayPrice;
              }
            } catch (e) {
              value = self.displayPrice;
            }
          }
          tablePricePoint.push(value);
        });
        tablePriceClone.push(tablePricePoint);
      });
      if (hasPointNull) {
        notify(
          this.$t("notify.empty-stop-point-plz-select-full-stop-point"),
          "error"
        );
        return false;
      }

      self.tablePrice = _.cloneDeep(tablePriceClone);

      self.openTablePrice = true;
    },
    save: function() {
      let self = this;
      if (!self.routeName) {
        notify(this.$t("notify.dont-empty-name-route"), "error");
        return false;
      }
      if (
        !self.tablePrice ||
        self.tablePrice.length !== self.pointsRoute.length
      ) {
        alert(this.$t("notify.invalid-price-list"));
        self.createTablePrice();
        return false;
      }
      let param = {
        route: {
          routeName: self.routeName,
          routeNameShort: self.routeNameShort,
          displayPrice: self.displayPrice,
          childrenTicketRatio: self.childrenTicketRatio / 100,
          listLockRoute: self.listLockRoute,
          newRoute: self.isNew,
          distance: self.distance,
          popular: self.isPopular,
          formInvoice: self.formInvoice, 
          serialInvoice: self.serialInvoice, 
          
        }
      };
      let points = [];
      let hasPointNull = false;
      $.each(self.pointsRoute, function(p, point) {
        if (!point.point) {
          hasPointNull = true;
          return false;
        } else {
          let onePoint = {
            id: point.point.id,
            timeIntend: (point.hour * 60 + point.minute) * 60000,
            listPrice: self.tablePrice[p],
            listTransshipmentPoint: [],
            defaultDisplay: false,
            allowPickingAndDroppingAtWayByPlatform: point.allowPickingAndDroppingAtWayByPlatform.length > 0 ? point.allowPickingAndDroppingAtWayByPlatform : [-1],
            allowPickingAnddropingAtHomeByPlatform: point.allowPickingAnddropingAtHomeByPlatform
          };
          $.each(point.transshipment, function(t, tran) {
            let pointT = _.cloneDeep(tran.point);
            pointT.transshipmentPrice = tran.money;
            pointT.pickUpTime = parseInt(tran.pickUpTime) * 60000;
            onePoint.listTransshipmentPoint.push(pointT);
          });
          points.push(onePoint);
        }
      });
      points[0].defaultDisplay = true;
      points[points.length - 1].defaultDisplay = true;
      param.points = points;
      if (hasPointNull) {
        notify(
          this.$t("notify.empty-stop-point-plz-select-full-stop-point"),
          "error"
        );
        return false;
      }

      self.load("saveRoute");
      sendJson({
        url: urlDBD(API.routeCreate),
        data: param,
        success: function(data) {
          notify(self.$t("notify.execute-success"));
          self.unload("saveRoute");
          self.$emit("event", { eventName: "saveSuccess", data: data });
        },
        functionIfError: function() {
          self.unload("saveRoute");
        }
      });
    }
  }
};
</script>