<template>
  <div id="order-route" class="row">
    <div class="col-12 title">
        <div class="row">
            <div class="col">
                <span class="text-uppercase">{{$t('menu.sort-trip')}}</span> <span style="font-size: 15px;color:red;">{{$t('guide-sort-route')}}</span>
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
      <draggable class="list-group" tag="ul" v-model="listRoutes" v-bind="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false">
        <transition-group type="transition" :name="'flip-list'">
          <li class="list-group-item" v-for="(val, index) in listRoutes" :key="val.routeId" :data-route="val.routeId">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            <span class="order">{{val.orderDisplay}}.</span>
            {{val.routeName}}
          </li>
        </transition-group>
      </draggable>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";

export default {
  components: {
    draggable
  },
  data() {
    return {
      editable: true,
      isDragging: false,
      delayedDragging: false,
      listRoutes : [],
    };
  },
  mounted: function(){
    this.getRoutes();
  },
  methods: {
    orderList() {
      this.list = this.list.sort((one, two) => {
        return one.order - two.order;
      });
    },
    onMove({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element;
      const draggedElement = draggedContext.element;
      return (
        (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
      );
    },
    getRoutes: function () {
        let self = this;
        let dataSend = {page : 0,count:100,companyId : userInfo.userInfo.companyId};
        self.load('getRoutes');
        sendJson({
            url : urlDBD(API.routeList),
            data : dataSend,
            success: function (data) {
                let listRoute = data.results.result;
                // listRoute.sort(func.dynamicSort('orderDisplay'));
                self.listRoutes = listRoute;
                self.unload('getRoutes');
            },
            functionIfError : function (res) {
                self.unload('getRoutes');
            }
        })
    },
    saveSetting: function(){
        let self = this;
        let dataSend = [];
        $.each($('#order-route .list-group-item'), function(key, val){
          let route = $(val).data('route');
          dataSend.push({orderDisplay : parseInt(key+1),routeId : route});
        })
        self.load('saveRoutes');
        sendJson({
            url : urlDBD(API.routeOrder),
            data : dataSend,
            success: function (data) {
                self.getRoutes()
                self.unload('saveRoutes');
                notify(self.$t('notify.update-success'),"success");
            },
            functionIfError : function (res) {
                self.unload('saveRoutes');
                notify(self.$t('has-error-try-again'),"error");
            }
        })
    }
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: !this.editable,
        ghostClass: "ghost"
      };
    },
    listString() {
      return JSON.stringify(this.list, null, 2);
    },
  },
  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    }
  }
};
</script>

<style>
#order-route .flip-list-move {
  transition: transform 0.5s;
}

#order-route .no-move {
  transition: transform 0s;
}

#order-route .ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

#order-route .list-group {
  min-height: 20px;
}

#order-route .list-group-item {
  cursor: move;
  width: 25%;
  display: inline-block;
  padding-left: 15px;
}

#order-route .list-group-item i {
  cursor: pointer;
  color: #444;
}
#order-route .list-group-item span.order{
    padding-left: 5px;
    padding-right: 5px;
    color: #bf0b0b;
    width: 28px;
    display: inline-block;
}
</style>
