<template>
    <div class="row top10">
        <div class="col-6">
            <template v-for="route in routes">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" :id="'check'+route.routeId" :value="{routeId : route.routeId,routeName:route.routeName}" v-model="listRouteChecked">
                    <label class="form-check-label font-weight-normal" :for="'check'+route.routeId">{{route.routeName}} </label>
                </div>
            </template>
        </div>
        <div class="col-6">
            <table class="table table-sm table-bordered">
                <template v-for="route in listRouteChecked">
                    <tr><td>{{route.routeName}} <i class="fa fa-times text-danger float-right" @click="removeRoute(route)"></i></td></tr>
                </template>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['routes'],
        data : function () {
            return {
                listRouteChecked : [],
            }
        },
        mounted : function () {
            this.getSetting();
        },
        methods : {
            saveSetting : function () {
                let self = this;
                let data = {
                    companyId : this.userInfo.userInfo.companyId,
                    routes : self.listRouteChecked
                }
                let str = JSON.stringify(data);
                localStorage.setItem('RouteOftenSelect',str);
                notify("Lưu thông tin cấu hình thành công",'success');
                this.$emit('saveSuccess');
            },
            getSetting : function () {
                let self = this;
                let str = localStorage.getItem('RouteOftenSelect')||'{}';
                let data = JSON.parse(str);
                if(data.companyId === self.userInfo.userInfo.companyId){
                    this.listRouteChecked = data.routes;
                    return data.routes;
                }else{
                    this.listRouteChecked = [];
                    return [];
                }
            },
            removeRoute :function (route) {
                this.listRouteChecked = _.remove(this.listRouteChecked, function(r) {
                    return r.routeId !== route.routeId;
                });
            }
        }
    }
</script>