<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto text-uppercase">
                    {{$t('list-route')}}
                </div>

                <div class="col text-right">
                    <button class="btn btn-success btn-sm" v-if="$root.roles.ROUTE_CREATE" @click="openModalAddRoute()"><i class="fa fa-plus-circle"></i> {{$t('create-route')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8 col-md-3">
                    <input type="text" class="form-control" v-model="name">
                </div>
                <div class="col-4 col-md-3">
                    <button class="btn btn-block btn-outline-primary" @click="getRoutes()"><i class="fa fa-search"></i> {{$t('search-route')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>{{$t('No-')}}</th>
                    <th>{{$t('menu.route')}}</th>
                    <th>{{$t('berth-away')}}</th>
                    <th>{{$t('berth-come')}}</th>
                    <th class="text-right">{{$t('ticket-price')}}</th>
                    <th class="text-right">{{$t('option')}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="routes.length<1">
                    <td colspan="6" class="text-center">{{$t('no-data-available')}}</td>
                </tr>
                <template v-for="(route,r) in routes">
                    <tr>
                        <td>{{r+1 + page*count}}</td>
                        <td>{{route.routeName}}</td>
                        <td>
                            <template v-if="route.indexPointDisplay">
                                {{route.listPoint[route.indexPointDisplay[0]].name}}
                            </template>
                            <template v-else>
                                {{route.listPoint[0].name}}
                            </template>
                        </td>
                        <td>
                            <template v-if="route.indexPointDisplay&&route.listPoint[route.indexPointDisplay[1]]">
                                {{route.listPoint[route.indexPointDisplay[1]].name}}
                            </template>
                            <template v-else>
                                {{route.listPoint[route.listPoint.length-1].name}}
                            </template>
                        </td>
                        <td class="text-right">{{route.displayPrice|number}}</td>
                        <td class="text-right">
                            <button class="btn btn-sm btn-primary" @click="openModalUpdateRoute(route)"  v-if="$root.roles.ROUTE_UPDATE" :title="$t('button.edit')" data-toogle="tooltip"><i class="fa fa-edit"></i></button>&nbsp;
                            <button class="btn btn-sm btn-danger" @click="deleteRoute(route.routeId)" v-if="$root.roles.ROUTE_DELETE" data-toogle="tooltip" :title="$t('button.delete')"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-outline-dark" :disabled="page<=0" @click="getRoutes('minus')"><< {{$t('page')}} {{page>0?page:1}}</button>
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-outline-dark" :disabled="routes.length<count" @click="getRoutes('plus')">{{$t('page')}} {{page+2}} >></button>
                </div>
            </div>
        </div>
        <el-dialog custom-class="modal-lg w-100 border-radius-16"
                   :visible.sync="dialogAddRoute" :close-on-click-modal="false">
            <div>
                <h5 class="modal-title text-uppercase">{{$t('add-route')}}</h5>
                <add-route ref="AddRouteComponent" @event="eventAddRoute"></add-route>

            </div>
            <div slot="footer">
                <button type="button" class="btn btn-primary" @click="$refs.AddRouteComponent.save()"><i
                        class="fa fa-save"></i> {{$t('button.save')}}
                </button>
                <button type="button" class="btn btn-outline-danger" @click="dialogAddRoute=false"><i
                        class="fa fa-close"></i> {{$t('button.close')}}
                </button>
            </div>
        </el-dialog>
        <el-dialog custom-class="modal-lg w-100 border-radius-16" :close-on-click-modal="false"
                   :visible.sync="dialogUpdateRoute">
            <div>
                <h5 class="modal-title text-uppercase">{{$t('update-stop-point')}}</h5>
                <update-route ref="UpdateRouteComponent" @event="eventUpdatePoint"></update-route>
            </div>
            <div slot="footer">
                <button type="button" class="btn btn-primary" @click="$refs.UpdateRouteComponent.save()"><i
                        class="fa fa-save"></i> {{$t('button.save')}}
                </button>
                <button type="button" class="btn btn-outline-danger" @click="dialogUpdateRoute=false"><i
                        class="fa fa-close"></i> {{$t('button.close')}}
                </button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import AddRoute from './AddRoute';
    import UpdateRoute from './UpdateRoute';

    export default {
        components : {AddRoute,UpdateRoute},
        data : function () {
            return {
                name : '',
                routes : [],
                page : 0,
                count : func.countSearch(),
                dialogAddRoute: false,
                dialogUpdateRoute: false,
            }
        },
        mounted : function(){
            this.getRoutes();
        },
        methods : {
            getRoutes: function (typePage) {
                let self = this;
                if(typePage){
                    switch (typePage) {
                        case 'plus' :
                            self.page++;
                            break;
                        case 'minus' :
                            if(self.page>0){
                                self.page--;
                            }
                            break;
                        default :
                            break;
                    }
                }else{
                    self.page=0;
                }
                let dataSend = {
                    companyId: userInfo.userInfo.companyId,
                    page :self.page,
                    count:self.count,
                    routeName:self.name
                };
                self.load('getRoutes');
                sendJson({
                    url : urlDBD(API.routeList),
                    data : dataSend,
                    success: function (data) {
                        self.routes = data.results.result;
                        self.unload('getRoutes');
                    },
                    functionIfError : function (res) {
                        self.unload('getRoutes');
                    }
                })
            },
            getProvinceDistrict : function(){
                let self = this;
                self.load('getProvinceDistrict');
                sendJson({
                    url : urlDBD(API.pointProvinceDistrict),
                    success : function (res) {
                        self.provinces = res.results.result;
                        self.unload('getProvinceDistrict');
                    },
                    functionIfError : function () {
                        self.unload('getProvinceDistrict');

                    }
                })
            },
            openModalAddRoute : function () {
                this.dialogAddRoute = true;
            },
            openModalUpdateRoute : function (point) {
                let self = this;
                this.dialogUpdateRoute = true;
                setTimeout(function () {
                    self.$refs.UpdateRouteComponent.refresh(point);
                }, 500);

            },
            eventAddRoute : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getRoutes('refresh');
                        self.dialogAddRoute = false;
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            eventUpdatePoint : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getRoutes('refresh');
                        this.dialogUpdateRoute = false;
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            deleteRoute : function (id) {
                let self = this;
                if(!confirm(this.$t('notify.confirm-delete-route'))){
                    return false
                }
                self.load('deleteRoute');
                sendJson({
                    url : urlDBD(API.routeDelete),
                    data : {
                        id : id
                    },
                    success : function (data) {
                        notify(self.$t('notify.delete-success'),'success');
                        self.getRoutes('refresh');
                        self.unload('deleteRoute');
                    },
                    functionIfError : function (err) {
                        self.unload('deleteRoute');

                    }
                })
            },


        }
    }
</script>
