<template>
    <!--<multiselect @input="input" :multiple="multiple" select-label="" deselect-label="" track-by="routeId" :options="listOption" :value="value" label="routeName" placeholder="Nhập tìm kiếm" :loading="loading" @search-change="getRoute" @open="getRoute">-->
        <!--<template slot="clear" v-if="allowClear">-->
            <!--<div class="multiselect__clear" v-if="value" @click="$emit('input',null)"><i class="fa fa-trash text-danger"></i></div>-->
        <!--</template>-->
    <!--</multiselect>-->
    <el-select :size="size" :value="value" :multiple="multiple" :clearable="clearable" @remove-tag="removeRoute" remote @change="change" @input="input" filterable
               :placeholder="placeholder" value-key="routeId" :loading="loading" :remote-method="getRoute"
               @focus="getRoute()" v-on:visible-change="visible=$event">
        <!--<div v-infinite-scroll="this.options.getList(1)" infinite-scroll-delay="200">-->
        <el-option
                v-for="item in options"
                :key="item.routeId"
                :label="item.routeName"
                :value="item">
        </el-option>
        <!--</div>-->
    </el-select>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            clearable : {
                default : true
            },
            multiple : {
                default : false
            },
            size : {
                type : String,
                default : "large",
            },
            placeholder : {
                type : String,
                default: "Tất cả các tuyến",
            }
        },
        data : function () {
            return {
                options: [],
                loading : false,
                visible: false
            }
        },
        mounted : function(){
            this.setOptionsByValue(this.value);
        },
        methods : {
            getRoute : function (query) {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 30,
                    routeName:query,
                    companyId : userInfo.userInfo.companyId
                };
                sendJson({
                    url : urlDBD(API.routeList),
                    data : dataReq,
                    success : function (data) {
                        self.options = data.results.result;
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            input :function (newVal) {
                this.$emit('input',newVal);
            },
            change :function (newVal) {
                this.$emit('change',newVal);
            },
            removeRoute: function (val) {
                this.$emit('remove-route',val);
            },
            setOptionsByValue: function (value) {
                if (value) {
                    if (this.multiple) {
                        this.options = _.cloneDeep(value);
                    } else {
                        this.options = [_.cloneDeep(value)];
                    }
                }
            }
        },
        watch: {
            value: function (val) {
                if (!this.visible) {
                    this.setOptionsByValue(val);
                }
            }
        }
    }
</script>
