<template>
  <div class="w-100">
    <div class="col-12">
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('name-route')}}</div>
        <div class="col-5">
          <input type="text" class="form-control" v-model="routeName" :pattern="pattern" />
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('short-name-route')}}</div>
        <div class="col-4">
          <input type="text" class="form-control" v-model="routeNameShort" />
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('basic-price')}}</div>
        <div class="col-3">
          <input-number class="form-control" v-model="displayPrice"></input-number>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">{{$t('child-ticket-rate')}}</div>
        <div class="col-3">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <input-number class="form-control" v-model="childrenTicketRatio"></input-number>
                <div class="input-group-append">
                  <div class="input-group-text">%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right"></div>
        <div class="col-3">
          <el-checkbox v-model="isNew">Tuyến mới</el-checkbox>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right"></div>
        <div class="col-3">
          <el-checkbox v-model="isPopular">Tuyến phổ biến</el-checkbox>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">Quãng đường (km)</div>
        <div class="col-3">
          <input-number class="form-control" v-model="distance"></input-number>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">Ký hiệu mẫu số</div>
        <div class="col-3">
          <input class="form-control" v-model="formInvoice"></input>
        </div>
      </div>
      <div class="row top10">
        <div class="col-4 col-form-label text-right">Ký hiệu</div>
        <div class="col-3">
          <input class="form-control" v-model="serialInvoice"></input>
        </div>
      </div>
    </div>
    <div class="col-12 top20">
      <label
        class="font-weight-normal w-100 text-center"
      >*** {{$t('dont-allow-ticket-sale-by')}} ***</label>
      <div class="row">
        <template v-for="(platform,p) in platforms">
          <div class="col-6 col-md form-check text-center">
            <div>
              <input
                type="checkbox"
                :id="'allowSellUpdate'+p"
                class="form-check-input"
                :value="platform.value"
                v-model="listLockRoute"
              />
              <label
                :for="'allowSellUpdate'+p"
                class="form-check-label font-weight-normal"
              >{{platform.label}}</label>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="col-12 top20">
      <label
        class="font-weight-normal w-100 text-center"
      >*** {{$t('dont-allow-ticket-sale-platform-by-time')}} ***</label>
      <div class="row">
        <template v-for="(platform,p) in platforms">
          <div class="col-6 col-md form-check text-center" :key="p">
            <el-date-picker
              style="width:200px"
              v-model="lockPlatformByTime[p-1]"
              type="daterange"
              :format="dateFormat"
              :clearable="true"
              size="mini"
              range-separator="-"
              start-placeholder="Bắt đầu"
              end-placeholder="Kết thúc">
            </el-date-picker>
          </div>
        </template>
      </div>
    </div>
    <div class="col-12 top20">
      <h6 class="text-center">
        *** {{$t('list-stop-point')}}
        <small>( {{ pointsRoute.length}} {{$t('point')}} ) ***</small>
      </h6>
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 50px" class="text-center">{{$t('No-')}}</th>
            <th style="width: 250px" class="text-capitalize">{{$t('point')}}</th>
            <th style="width: 250px">{{$t('estimated-time-(from-time-departure)')}}</th>
            <th>{{$t('transshipment')}}</th>
            <th style="width: 250px">Cho phép đưa đón tận nhà</th>
            <th style="width: 250px">Cho phép đưa đón dọc đường</th>
            <th style="width: 40px"></th>
          </tr>
        </thead>
        <draggable :list="pointsRoute" handle=".handler" tag="tbody">
          <template v-for="(pr,p) in pointsRoute">
            <tr>
              <td class="text-center">
                <i class="fa fa-arrows-alt handler"></i>
                {{p+1}}
              </td>
              <td style="width: 250px">
                <div class="w-100">
                  <select-point
                    size="mini"
                    v-model="pr.point"
                    class="multiple-sm"
                    :allowEmpty="false"
                  ></select-point>
                </div>
              </td>
              <td>
                <div class="row no-gutters">
                  <div class="col">
                    <input-number
                      class="form-control form-control-sm"
                      v-model="pr.hour"
                      :readonly="p==0"
                    ></input-number>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-sm" disabled>{{$t('hour')}}</button>
                  </div>
                  <div class="col">
                    <input-number
                      class="form-control form-control-sm"
                      v-model="pr.minute"
                      :readonly="p==0"
                    ></input-number>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-sm" disabled>{{$t('minute')}}</button>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-12">
                    <template v-if="pr.transshipment.length>0">
                      <template v-for="(tran,t) in pr.transshipment">
                        <div class="w-100">
                          {{tran.point ? tran.point.name:''}} -
                          {{tran.money|number}} - đón trước {{tran.pickUpTime|number}} phút
                          &nbsp;
                          <i
                            class="fa fa-times text-danger"
                            @click="deleteTransshipmentToPoint(p,t)"
                            :title="$t('delete')"
                          ></i>
                        </div>
                      </template>
                    </template>
                    <template v-else>
                      <div class="w-100 text-danger">{{$t('not-point-transshipment')}}</div>
                    </template>
                  </div>
                  <div class="col-12">
                    <el-popover placement="left" width="400" trigger="click">
                      <div class="w-100">
                        <el-form label-width="140px">
                          <el-form-item label="Điêm" style="margin-bottom: 8px">
                            <select-point
                              v-model="pr.transshipmentAdd.point"
                              class="w-100"
                              :allowEmpty="false"
                              :pointType="7"
                            ></select-point>
                          </el-form-item>
                          <el-form-item label="Phí" style="margin-bottom: 8px">
                            <input-number class="form-control" v-model="pr.transshipmentAdd.money"></input-number>
                          </el-form-item>
                          <el-form-item label="Đón trước (phút)" style="margin-bottom: 8px">
                            <input-number
                              class="form-control"
                              v-model="pr.transshipmentAdd.pickUpTime"
                            ></input-number>
                          </el-form-item>
                        </el-form>
                        <div class="w-100 text-right">
                          <button class="btn btn-primary" @click="addTransshipmentToPoint(p)">
                            <i class="fa fa-plus-circle"></i>
                            {{$t('button.add-btn')}}
                          </button>
                        </div>
                      </div>
                      <el-button slot="reference" type="text">{{$t('add-point-transshipment')}}</el-button>
                    </el-popover>
                  </div>
                </div>
              </td>
              <td>
                <el-select v-model="pr.allowPickingAnddropingAtHomeByPlatform" multiple placeholder="Chọn">
                  <el-option
                    v-for="platformValue in platforms"
                    :key="platformValue.value"
                    :label="platformValue.label"
                    :value="platformValue.value"
                  ></el-option>
                </el-select>
              </td>
              <td>
                <el-select v-model="pr.allowPickingAndDroppingAtWayByPlatform" multiple placeholder="Chọn">
                  <el-option
                          v-for="platformValue in platforms"
                          :key="platformValue.value"
                          :label="platformValue.label"
                          :value="platformValue.value"
                  ></el-option>
                </el-select>
              </td>
              <td class="text-right">
                <i
                  class="fa fa-trash text-danger"
                  :title="$t('delete-point')"
                  @click="deletePointToRoute(p)"
                  v-if="pointsRoute.length>2"
                ></i>
              </td>
            </tr>
          </template>
        </draggable>
        <tfoot>
          <tr>
            <td colspan="3">
              <button class="btn btn-sm" @click="numberPointAdd>1?numberPointAdd--:numberPointAdd">
                <i class="fa fa-minus"></i>
              </button>
              <button
                class="btn btn-sm btn-outline-dark"
                @click="addPointToRoute()"
              >{{$t('button.add-btn')}} {{numberPointAdd}} {{$t('point')}}</button>
              <button class="btn btn-sm" @click="numberPointAdd++">
                <i class="fa fa-plus"></i>
              </button>
 &nbsp; &nbsp;
            </td>
            <td colspan="2" class="text-right">
              <button class="btn btn-primary btn-sm" @click="createTablePrice()">
                <i class="fa fa-edit"></i>
                {{$t('edit-price-list')}}
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div v-if="openTablePrice&&tablePrice">
      <div
        style="position: fixed;width: 100vw;height: 100vh;top:0;left: 0;background: #fff;z-index: 1;"
      >
        <div class="w-100">
          <div class="title" style="margin:0">
            <div class="row no-gutters">
              <div class="col-auto">{{$t('list-route-price')}} --- {{cellPlaceholder}}</div>
              <div class="col text-right">
                <button class="btn btn-primary btn-sm" @click="openTablePrice=false">
                  {{$t('save-price-list')}}
                  <i class="fa fa-save" :title="$t('save-price-list')"></i>&nbsp;&nbsp;
                </button>

                <!--<i class="fa fa-times" @click="openTablePrice=false"></i>-->
              </div>
            </div>
          </div>
        </div>
        <div style="width: 100vw;height: calc(100vh - 40px);position: relative;overflow: scroll">
          <table class="table-sm table-bordered">
            <thead>
              <tr>
                <td style="min-width: 250px;width: 250px;">{{$t('note-price-not-sell')}}</td>
                <template v-for="(point,p) in pointsRoute">
                  <td style="min-width: 150px;width: 150px;">{{point.point.name}}</td>
                </template>
              </tr>
            </thead>
            <tbody>
              <template v-for="(point,p) in pointsRoute">
                <tr>
                  <td>{{point.point.name|cutString(30)}}</td>
                  <template v-for="(pointR,pr) in pointsRoute">
                    <td
                      :class="[pr>p?'':'bg-e']"
                      @click="cellPlaceholder = point.point.name+' -> '+pointR.point.name"
                    >
                      <input-number class="w-100 border-0" v-model="tablePrice[p][pr]" v-if="pr>p"></input-number>
                    </td>
                  </template>
                </tr>
              </template>
            </tbody>
          </table>
          <!-- bang gia tuong lai -->
          <br>
          <h3>Tạo bảng giá tương lai</h3>
          <br>
          <div>
            <label>Thời gian bắt đầu</label>
            <el-date-picker
              v-model="formNewPrice.dateStart"
              type="date"
              :format="dateFormat"
              size="mini"
              :clearable="false"
              placeholder="Pick a day">
            </el-date-picker>
            <label>Thời gian kết thúc</label>
            <el-date-picker
              v-model="formNewPrice.dateEnd"
              type="date"
              :format="dateFormat"
              size="mini"
              placeholder="vô hạn">
            </el-date-picker>
          </div>
          <br>
          <div>
            <table class="table-sm table-bordered">
              <thead>
                <tr>
                  <td style="min-width: 250px;width: 250px;">{{$t('note-price-not-sell')}}</td>
                  <template v-for="(point,p) in pointsRoute">
                    <td style="min-width: 150px;width: 150px;">{{point.point.name}}</td>
                  </template>
                </tr>
              </thead>
              <tbody>
                <template v-for="(point,p) in pointsRoute">
                  <tr>
                    <td>{{point.point.name|cutString(30)}}</td>
                    <template v-for="(pointR,pr) in pointsRoute">
                      <td
                        :class="[pr>p?'':'bg-e']"
                        @click="cellPlaceholder = point.point.name+' -> '+pointR.point.name"
                      >
                        <input-number class="w-100 border-0" v-model="formNewPrice.tableNewPrice[p][pr]" v-if="pr>p"></input-number>
                      </td>
                    </template>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
          <br>
          <el-button size="mini" type="success" plain @click="saveNewRoutePrice()">Lưu bảng giá mới</el-button>
          <br>
          <br>
          <h3>Danh sách các bảng giá sắp được áp dụng</h3>
          <div style="display: grid; grid-gap: 1rem;" v-loading="loadingFuturePrice">
            <div v-for="item of listFuturePrice" :key="item.fromDateApply">
              <el-button size="mini" type="danger" plain @click="handleDeleteFuturePrice(item)">Xóa</el-button>
              <p>
                <span>Áp dụng từ ngày </span>
                <span class="text-green">{{item.fromDateApply | customDate('#DD#-#MM#-#YYYY#')}}</span>
                <span> đến </span>
                <span class="text-green" v-if="item.toDateApply !== -1">{{item.toDateApply | customDate('#DD#-#MM#-#YYYY#')}}</span>
                <span class="text-green" v-else> vĩnh viễn</span>
              </p>
              <table class="table-sm table-bordered">
                <thead>
                  <tr>
                    <td style="min-width: 250px;width: 250px;">{{$t('note-price-not-sell')}}</td>
                    <template v-for="(point,p) in pointsRoute">
                      <td :key="p" style="min-width: 150px;width: 150px;">{{point.point.name}}</td>
                    </template>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="(point,p) in item.pointList" :key="p">
                      <td>{{point.name}}</td>
                      <template >
                        <td
                          v-for="(price, index) in point.futureListPrice"
                          :key="index"
                          :class="[index>p?'':'bg-e']"
                        >
                          {{price !== -1 ? price : null | number}}
                        </td>
                      </template>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <!-- ket thuc bang gia tuong lai -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Platform } from "../../class/platform";
import SelectPoint from "../Point/SelectPoint";

export default {
  components: { SelectPoint },
  data: function() {
    return {
      pattern: "[^<>'\\\\\\/;`%,.]*$",
      pointsRoute: [this.pointDefault(), this.pointDefault()],
      routeName: "",
      routeNameShort: "",
      displayPrice: 0,
      isPopular: false,
      isNew: false,
      distance: 0,
      childrenTicketRatio: 100,
      numberPointAdd: 1,
      allowPickingAndDroppingAtWayByPlatform: [1,2,3,4,5],
      listLockRoute: [],
      lockPlatformByTime: [null,null,null,null,null],
      openTablePrice: false,
      tablePrice: null,
      cellPlaceholder: "",
      routeId: null,
      formInvoice: null,
      serialInvoice: null,
      platforms: Platform.properties(),
      // bang gia tuong lai
      dateFormat: "dd-MM-yyyy",
      listFuturePrice: [],
      formNewPrice: {
        dateStart: new Date(),
        dateEnd: null,
        tableNewPrice: [],
      },
      loadingFuturePrice: false,
    };
  },
  methods: {
    handleDeleteFuturePrice: async function(item) {
      let self= this;
      const pointList = item.pointList;
      
      for await( const element of pointList) {
        self.callApiDeleteFuturePrice(element.id);
      }
      notify('Xóa bảng giá thành công');
      self.callApiGetFuturePrice(self.routeId);
    },
    saveNewRoutePrice: function() {
      const {dateStart, dateEnd, tableNewPrice} = this.formNewPrice;
      const tablePrice = this.tablePrice;
      const formatDateStart = dateStart.setHours(0, 0, 0, 0);
      const formatDateEnd = dateEnd ? dateEnd.setHours(23, 59, 59, 999) : -1;
      const routeId = this.routeId;
      const pointsList = this.pointsRoute;

      let param = [];
      pointsList.forEach((value, index, array) => {
        const item = {
          name: value.point.name,
          pointOfRouteId: routeId + value.point.id,
          pointId: value.point.id,
          routeId: routeId,
          baseListPrice: tablePrice[index],
          futureListPrice: tableNewPrice[index],
          fromDateApply: formatDateStart,
          toDateApply: formatDateEnd,
          order: value.order
        };
        param.push(item);
      })
      this.callApiCreateFuturePrice(param);
    },
    callApiCreateFuturePrice: function(params) {
      let self = this;
      sendJson({
        url: urlDBD(API.createFuturePrice),
        data: params,
        success: function(data) {
          self.callApiGetFuturePrice(self.routeId);
          notify('Tạo bảng giá tương lai thành công');
        },
        functionIfError: function() {
        }
      });
    },
    callApiDeleteFuturePrice: function(id) {
      new Promise((resolve, reject) => {
        let self = this;
        const param = {
          id: id
        };
        sendJson({
          url: urlDBD(API.deleteFuturePrice),
          data: param,
          success: function(data) {
            return resolve();
          },
          functionIfError: function() {
            return reject();
          }
        });
      })
    },
    callApiGetFuturePrice: function(routeId) {
      let self = this;
      this.loadingFuturePrice = true;
      const param = {
        page: 0,
        count: 1000,
        routeId: routeId,
        status: [1]
      }
      sendJson({
        url: urlDBD(API.getFuturePrice),
        data: param,
        success: function(data) {
          self.listFuturePrice = self.handleData(data.results.futureOriginTicketPrices);
          self.loadingFuturePrice = false;
        },
        functionIfError: function() {
          self.loadingFuturePrice = false;
        }
      });
    },
    handleData: function(arr) {
      const seenTime = new Set();
      const objecPrice = arr.reduce((response, obj, currentIndex, array) => {
        const isDupTime = seenTime.has(obj.fromDateApply);
        seenTime.add(obj.fromDateApply);
        if(!isDupTime) {
          response[obj.fromDateApply] = {
            fromDateApply: obj.fromDateApply,
            fromDateApplyInt: obj.fromDateApplyInt,
            toDateApply: obj.toDateApply,
            toDateApplyInt: obj.toDateApplyInt,
            pointList: [obj],
          }
        } else {
          response[obj.fromDateApply].pointList.push(obj);
        }

        return response;
      }, {});
      const result = Object.values(objecPrice).sort((a, b) => a.fromDateApply - b.fromDateApply);
      return result;
    },
    returnDateStr: function(str) {
        if(!str) {
          return '';
        } else {
            const year = str.substring(0, 4);
            const month = str.substring(4, 6);
            const day = str.substring(6, 8);
            return new Date(`${month}-${day}-${year}`);
        }
    },
    handleDataLockPlatformByTime: function (obj) {
      let self = this;
      if(!obj) {
        return [null,null,null,null,null];
      }
      const arr = Object.values(obj).map(x => {
        if(!x) {
          return null;
        } else {
          const timeRange = x.split('-');
          const timeRangeFormat = timeRange.map(x => this.returnDateStr(x));
          return timeRangeFormat;
        }
      });
      return arr;
    },
    refresh: function(route) {
      let self = this;
      self.routeId = route.routeId;
      self.routeName = route.routeName;
      self.routeNameShort = route.routeNameShort;
      self.displayPrice = route.displayPrice;
      self.childrenTicketRatio = route.childrenTicketRatio * 100;
      self.listLockRoute = route.listLockRoute;
      self.lockPlatformByTime = self.handleDataLockPlatformByTime(route.lockPlatformByTime);
      self.isNew = route.newRoute;
      self.distance = route.distance || 0;
      self.isPopular = route.popular;
      self.formInvoice = route.formInvoice
      self.serialInvoice = route.serialInvoice

      let pointsRoute = [];
      let tablePrice = [];
      $.each(route.listPoint, function(p, point) {
        let pr = self.pointDefault();
        pr.point = {
          id: point.id,
          name: point.name,
          address: point.address,
          latitude: point.address,
          longitude: point.address,
          pointType: point.pointType
        };
        pr.order = point.order;
        pr.hour = Math.floor(point.timeIntend / 3600000);
        pr.minute = (point.timeIntend / 60000) % 60;
        pr.allowPickingAnddropingAtHomeByPlatform = point.allowPickingAnddropingAtHomeByPlatform ? point.allowPickingAnddropingAtHomeByPlatform : []
        pr.allowPickingAndDroppingAtWayByPlatform = point.allowPickingAndDroppingAtWayByPlatform && point.allowPickingAndDroppingAtWayByPlatform[0] !== -1 ? point.allowPickingAndDroppingAtWayByPlatform : []
        $.each(point.listTransshipmentPoint, function(t, tran) {
          pr.transshipment.push({
            point: tran,
            money: tran.transshipmentPrice,
            pickUpTime: tran.pickUpTime / 60000
          });
        });

        pointsRoute.push(pr);
        tablePrice.push(point.listPrice);
      });
      self.pointsRoute = pointsRoute;
      self.tablePrice = tablePrice;
      self.formNewPrice.tableNewPrice = tablePrice;
      self.callApiGetFuturePrice(route.routeId);
    },
    pointDefault: function() {
      let data = {
        point: null,
        order: null,
        hour: 0,
        minute: 0,
        allowPickingAnddropingAtHomeByPlatform: [],
        allowPickingAndDroppingAtWayByPlatform: [],
        transshipment: [],
        transshipmentAdd: {
          point: null,
          money: 0,
          pickUpTime: 0
        }
      };
      return data;
    },
    transshipmentDefault: function() {
      let data = {
        point: null,
        money: 0,
        pickUpTime: 0
      };
      return data;
    },
    addPointToRoute: function(index) {
      if (index) {
        this.pointsRoute.splice(index + 1, 0, this.pointDefault());
      } else {
        for (var i = 0; i < this.numberPointAdd; i++) {
          this.pointsRoute.push(this.pointDefault());
        }
        this.numberPointAdd = 1;
      }
      return false;
    },
    deletePointToRoute: function(index) {
      if (confirm(this.$t("confirm-delete"))) {
        this.pointsRoute.splice(index, 1);
      }
      return false;
    },
    addTransshipmentToPoint: function(keyPoint) {
      let self = this;
      let p = _.cloneDeep(self.pointsRoute[keyPoint].transshipmentAdd);
      if (!p.point) {
        return false;
      }
      let has = false;
      $.each(self.pointsRoute[keyPoint].transshipment, function(t, tran) {
        if (p.point.id == tran.point.id) {
          has = true;
          return false;
        }
      });
      if (has) {
        notify("Đã tồn tại điểm trung chuyển này", "error");
        return false;
      }
      self.pointsRoute[keyPoint].transshipment.push(p);
      return false;
    },
    deleteTransshipmentToPoint: function(keyPoint, keytsm) {
      this.pointsRoute[keyPoint].transshipment.splice(keytsm, 1);
      return false;
    },
    createTablePrice: function() {
      let self = this;
      let tablePriceClone = [];
      let hasPointNull = false;
      $.each(self.pointsRoute, function(p1, point1) {
        if (!point1.point) {
          hasPointNull = true;
          return false;
        }
        let tablePricePoint = [];
        $.each(self.pointsRoute, function(p2, point2) {
          let value = -1;
          if (p2 > p1) {
            try {
              if (self.tablePrice[p1][p2] !== undefined) {
                value = self.tablePrice[p1][p2];
              } else {
                value = self.displayPrice;
              }
            } catch (e) {
              value = self.displayPrice;
            }
          }
          tablePricePoint.push(value);
        });
        tablePriceClone.push(tablePricePoint);
      });
      self.tablePrice = _.cloneDeep(tablePriceClone);
      self.openTablePrice = true;
    },
    save: function() {
      let self = this;
      if (!self.routeId) {
        notify(this.$t("notify.route-dont-exist"), "error");
        return false;
      }
      if (!self.routeName) {
        notify(this.$t("notify.dont-empty-name-route"), "error");
        return false;
      }
      if (
        !self.tablePrice ||
        self.tablePrice.length !== self.pointsRoute.length
      ) {
        alert(this.$t("notify.invalid-price-list"));
        self.createTablePrice();
        return false;
      }
      let param = {
        route: {
          routeId: self.routeId,
          routeName: self.routeName,
          routeNameShort: self.routeNameShort,
          displayPrice: self.displayPrice,
          childrenTicketRatio: self.childrenTicketRatio / 100,
          listLockRoute: self.listLockRoute,
          newRoute: self.isNew,
          distance: self.distance,
          popular: self.isPopular,
          formInvoice: self.formInvoice,
          serialInvoice: self.serialInvoice,
          lockPlatformByTime: {1: '', 2: '', 3: '', 4: '', 5: ''},
        }
      };
      let points = [];
      let hasPointNull = false;
      $.each(self.pointsRoute, function(p, point) {
        if (!point.point) {
          hasPointNull = true;
          return false;
        } else {
          let onePoint = {
            id: point.point.id,
            timeIntend: (point.hour * 60 + point.minute) * 60000,
            listPrice: self.tablePrice[p],
            listTransshipmentPoint: [],
            defaultDisplay: false,
            allowPickingAnddropingAtHomeByPlatform: point.allowPickingAnddropingAtHomeByPlatform,
            allowPickingAndDroppingAtWayByPlatform: point.allowPickingAndDroppingAtWayByPlatform.length > 0 ? point.allowPickingAndDroppingAtWayByPlatform : [-1],
          };
          $.each(point.transshipment, function(t, tran) {
            let pointT = _.cloneDeep(tran.point);
            pointT.transshipmentPrice = tran.money;
            pointT.pickUpTime = parseInt(tran.pickUpTime) * 60000;
            onePoint.listTransshipmentPoint.push(pointT);
          });
          points.push(onePoint);
        }
      });
      points[0].defaultDisplay = true;
      points[points.length - 1].defaultDisplay = true;
      param.points = points;
      if (hasPointNull) {
        notify(
          this.$t("notify.empty-stop-point-plz-select-full-stop-point"),
          "error"
        );
        return false;
      }
      const lockPlatformByTime = self.lockPlatformByTime.map((x, index) => {
        let item = {
          key: index + 1,
          value: ''
        }
        if(!!x) {
          item.value = x.map(value => value.customFormat('#YYYY##MM##DD#')).join('-');
        }
        return item;
      });
      lockPlatformByTime.forEach((value, index, array) => {
        param.route.lockPlatformByTime[value.key] = value.value;
      })
      self.load("saveRoute");
      sendJson({
        url: urlDBD(API.routeUpdate),
        data: param,
        success: function(data) {
          notify(self.$t("notify.execute-success"));
          self.unload("saveRoute");
          self.$emit("event", { eventName: "saveSuccess", data: data });
        },
        functionIfError: function() {
          self.unload("saveRoute");
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.text-green {
  color: #409EFF;
}
</style>