<template>
    <div class="row">
        <div class="col-12 top10">
            <label>Hủy {{ticketsCancel.length}} vé</label>
        </div>
        <div class="col-12 form-group">
            <label class="font-weight-normal">Tổng tiền vé</label>
            <input-number class="form-control" readonly :value="totalAgencyPrice|number"></input-number>
        </div>
        <div class="col-12 form-group">
            <label class="font-weight-normal">Khách đã trả</label>
            <input-number class="form-control" readonly :value="totalPaidMoney|number"></input-number>
        </div>
        <div class="col-12 form-group" v-if="trip.cancelTicketPolicy">
            <label class="font-weight-normal">Chính sách "{{trip.cancelTicketPolicy.name}}"</label>
            <input type="text" class="form-control text-center" readonly
                   :value="getCancelFee(trip.cancelTicketPolicy)">
        </div>
        <div class="col-12" v-else>Không áp dụng chính sách hủy vé</div>
        <div class="col-12 form-group">
            <label class="font-weight-normal">Phí hủy vé</label>
            <input-number class="form-control" readonly v-model="totalFeeCancel"></input-number>
        </div>
        <div class="col-12 form-group">
            <label class="font-weight-normal">Trả lại</label>
            <input-number class="form-control" readonly :value="(totalPaidMoney-totalFeeCancel)|number"></input-number>
        </div>
        <div class="col-12 form-group">
            <label class="font-weight-normal">Lí do hủy</label>
            <textarea v-model="cancelReason" class="form-control" row="2"></textarea>
        </div>
        <div class="col-12" v-if="show">
            <div class="row">
                <template v-for="(ticket,t) in ticketsCancel">
                    <div class="col-12 form-group" title="Phí hủy của ghế">
                        <label>{{ticket.seat.seatId}} <span class="font-weight-normal" title="Đã trả / Tổng tiền">( {{ticket.paidMoney|number}} / {{ticket.agencyPrice|number}} )</span></label>
                        <input-number class="form-control"
                                      :readonly="trip.cancelTicketPolicy&&!$root.roles.CANCEL_TICKET_POLICY_NOT_APPLY_POLICY"
                                      v-model="ticket.feeCancel" @input="updateTotal"></input-number>
                    </div>
                </template>
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-link" @click="show = !show">{{show?'Ẩn bớt':'Xem chi tiết >>'}}</button>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['trip'],
        data: function () {
            return {
                ticketsCancel: [],
                totalAgencyPrice: 0,
                totalPaidMoney: 0,
                totalFeeCancel: 0,
                cancelReason: '',
                show: false,
            }
        },
        methods: {
            getCancelFee: function(policy) {
                let str = '';
                if(policy) {
                    str = policy.feeUnit == 1   ? `- ${this.$options.filters.number(policy.fee)} VND`
                                                : `- ${policy.fee*100} %`
                }
                return str;
            },
            refresh: function (tickets) {
                let self = this;
                let f_ticketsCancel = [];
                $.each(tickets, function (t, ticket) {
                    let data = {
                        ticketId: ticket.ticketId,
                        agencyPrice: ticket.agencyPrice,
                        paidMoney: ticket.paidMoney,
                        seat: ticket.seat,
                    };
                    let feeCancel = 0;
                    if (self.trip.cancelTicketPolicy) {
                        if (self.trip.cancelTicketPolicy.feeUnit == 1) {
                            feeCancel = self.trip.cancelTicketPolicy.fee;
                        } else {
                            feeCancel = self.trip.cancelTicketPolicy.fee * ticket.agencyPrice;
                        }
                    }
                    data.feeCancel = ticket.paidMoney >= feeCancel || self.$root.isAgency() ? feeCancel : ticket.paidMoney;
                    f_ticketsCancel.push(data);
                });
                self.ticketsCancel = f_ticketsCancel;
                self.cancelReason = '';
                this.show = false;
                this.updateTotal();
            },
            updateTotal: function () {
                let f_totalAgencyPrice = 0;
                let f_totalPaidMoney = 0;
                let f_totalFeeCancel = 0;
                $.each(this.ticketsCancel, function (t, ticket) {
                    f_totalAgencyPrice -= -ticket.agencyPrice;
                    f_totalPaidMoney -= -ticket.paidMoney;
                    f_totalFeeCancel -= -ticket.feeCancel;
                });
                this.totalAgencyPrice = f_totalAgencyPrice;
                this.totalPaidMoney = f_totalPaidMoney;
                this.totalFeeCancel = f_totalFeeCancel;
            },
            cancel: function () {
                let self = this;
                let data = [];
                let ctn = true;// continue
                $.each(self.ticketsCancel, function (t, ticket) {
                    let tk = {
                        ticketId: ticket.ticketId,
                        cancelReason: self.cancelReason,
                    }
                    tk.refundMoney = ticket.paidMoney - ticket.feeCancel;
                    if (tk.refundMoney > ticket.paidMoney && !confirm("Cảnh báo phí hủy vé lớn hơn tiên khách đã nộp, bạn có muốn tiếp tục?")) {
                        ctn = false;
                        return false;
                    }
                    data.push(tk);
                });
                if (!ctn) {
                    return false;
                }
                self.load("cancelTicket");
                sendJson({
                    url: urlDBD(API.ticketCancel),
                    data: data,
                    success: function (data) {
                        self.$emit('event', {eventName: 'saveSuccess', data: data});
                        self.unload("cancelTicket");
                        if (self.$root.isAgency()) {
                            self.$store.dispatch('SET_AGENCY_DEBT_LIMIT');
                        }
                    },
                    functionIfError: function (err) {
                        self.$emit('event', {eventName: 'saveError', data: err});
                        self.unload("cancelTicket");
                    }
                });
            }
        }
    }
</script>