<template>
  <div class="row">
    <div class="col-12">
      <div class="px-2 py-2 border bg-white">
        <div class="row no-gutters">
          <div class="col-auto">
            <button class="btn btn-sm btn-outline-primary" @click="print()"><i class="fa fa-print"></i> In danh sách</button>&nbsp;
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 top10 print">
      <div class="content-row">
        <div style="font-size: 30px; margin-bottom: 20px" class="text-center">Báo cáo danh sách khách đi theo chặng</div>
        <div class="row">
          <div class="col-3 text-right">Tuyến</div>
          <div class="col-3">{{ trip.route.name }}</div>
          <div class="col-3 text-right">NV lái xe</div>
          <div class="col-3">
            <span class="top5" v-if="!$root.isAgency()">
                <template v-for="driver in trip.drivers">
                    <strong>{{driver.fullName}} (+84{{driver.phoneNumber}})</strong>,
                </template>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-3 text-right">Biển số</div>
          <div class="col-3"><span v-if="trip.vehicle">{{ trip.vehicle.numberPlate||'&nbsp;' }}</span></div>
          <div class="col-3 text-right">NV bán vé</div>
          <div class="col-3">
            <span class="top5" v-if="!$root.isAgency()">
                <template v-for="ass in trip.assistants">
                    <strong>{{ass.fullName}} (+84{{ass.phoneNumber}})</strong>,
                </template>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-3 text-right">Giờ chạy</div>
          <div class="col-3">{{ trip.startTime|customDate('#hhhh#:#mm#',true) }}</div>
          <div class="col-3 text-right">Ngày chạy</div>
          <div class="col-3" v-if="trip.ticketsInSeatMap">{{ this.$options.filters.strToDate(trip.date) }}</div>
        </div>
        <table class="table table-sm table-bordered print-div">
          <thead>
          <tr class="text-center">
            <th>Các điểm chốt phơi</th>
            <th v-for="(point, i) in route.listPoint" v-bind:class="{ activeClass : i == 0 }">
              <span>{{point.name}}</span>
            </th>
            <th>Doanh thu</th>
            <th>Tổng HK</th>
            <th>Tính toán</th>
            <th>Chênh lệch</th>
          </tr>
          <tr v-if="route.listPoint&&route.listPoint.length<=0">
            <td colspan="12" class="text-center">Không có dữ liệu</td>
          </tr>
          </thead>
          <draggable :trip="trip" tag="tbody">
            <template v-for="(point,i) in route.listPoint">
              <tr :key="point.id">
                <td class="text-center">{{point.name}}</td>
                <td v-for="(p,index) in route.listPoint" class="text-right" v-bind:class="{ active: p.id == point.id}" >
                  {{data[point.id][p.id]!=0 ? data[point.id][p.id]:''}}
                </td>
                <td class="text-right">{{ data[point.id]['totalPrice']| number }}</td>
                <td class="text-right"><input v-on:blur="sendCountInput(i)" class="inputCount" v-model="data[point.id]['countTicket']"></input></td>
                <td class="text-right">{{data[point.id]['totalTicketEachPoint']}}</td>
                <td class="text-right">{{data[point.id]['countTicket'] - data[point.id]['totalTicketEachPoint']}}</td>
              </tr>
            </template>
            <tr>
              <th class="text-center">Tổng cộng</th>
              <template v-for="(point,i) in route.listPoint">
                <th></th>
              </template>
              <td class="text-right">{{data['totalPrices']| number}}</td>
              <td></td>
              <td class="text-right">{{data['totalTicket']}}</td>
              <td></td>
            </tr>
          </draggable>
        </table>
        <div class="row space">
          <div class="col-8 ">
            <div v-for="(item, index) in bills">
              <span>Chi phí:</span>
              <span>{{index + 1}}. {{item.item.itemName}}</span>
              <span v-if="item.billType == 2"> - </span><span v-if="item.billType == 1"> + </span><span>{{item.amount| number}}</span>
            </div>
            <button class="btn btn-sm btn-outline-primary text-uppercase no-print-this" @click="openModalAddBill(1)" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-plus"></i> {{$t('button.create-revenue-note')}}</button>
            <button class="btn btn-sm btn-outline-primary text-uppercase no-print-this" @click="openModalAddBill(2)" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-minus"></i> {{$t('button.create-expenses-note')}}</button>
          </div>
          <div class="col-4">
          </div>
        </div>
        <div class="row space">
          <div class="col-12 ">
            <span>Kết luận: . . . . . . . . . . . . . . . . . </span>
          </div>
        </div>
        <div class="row space" style="margin-bottom: 100px">
          <div class="col-2 ">
            <span>VP ĐẠI DIỆN</span><br>
            <span>(Ký ghi rõ họ tên)</span>
          </div>
          <div class="col-4">
            <table class="table table-sm table-bordered">
              <thead>
              <tr class="text-center">
                <th colspan="2">Nghiệm thu KQ bán vé </th>
              </tr>
              </thead>
              <tr>
                <td class="text-left">Tổng doanh thu</td>
                <td class="text-right">{{data['totalPrices']| number}}</td>
              </tr>
              <tr>
                <td class="text-left">Tổng chi phí</td>
                <td class="text-right">{{totalPriceBill | number}}</td>
              </tr>
              <tr>
                <td class="text-left">Phải nộp</td>
                <td class="text-right">{{(data['totalPrices'] + totalPriceBill)| number}}</td>
              </tr>
            </table>
          </div>
          <div class="col-2 ">
            <span>KẾ TOÁN VĂN PHÒNG</span><br>
            <span>(Ký ghi rõ họ tên)</span>
          </div>
          <div class="col-2 ">
            <span>THỦ QUỸ</span><br>
            <span>(Ký ghi rõ họ tên)</span>
          </div>
          <div class="col-2 ">
            <span>NV BÁN VÉ</span><br>
            <span>(Ký ghi rõ họ tên)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modalAddBill" tabindex="-1" role="dialog" aria-labelledby="modalAddBill" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase"> {{billTypeAdd==1 ? $t('button.create-revenue-note') : $t('button.create-expenses-note')}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <add-bill :billType="billTypeAdd" :tripId="trip.tripId" ref="AddBillComponent" @event="addBillEvent"></add-bill>
          </div>
          <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
            <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddBillComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
            <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import printHeader from '../../Print/Header.vue';
    import AddBill from '../../Bill/AddBill';
    import { mapGetters, mapState } from "vuex";

    export default {
        components: {printHeader,AddBill},
        props: {
            trip: {
                required: true,
                type: [Object],
                default: null
            },
            route: {
                required: true,
                type: [Object],
            },
        },
        data: function () {
            return {
                tickets: null,
                ticketsSort: null,
                sortType: 'PointAll',
                driver: null,
                bills: [],
                totalPriceBill: 0,
                billTypeAdd: 1,
                countTicket: [],
                counts: null,
                totalCount: 0
            }
        },
        mounted: function () {
            this.tickets = this.getTicketsFromTrip(this.trip);
            this.getBillsInTrip();
            this.getCountInput()
        },
        computed: {
            ...mapState({
                companyConfigData: (state) => state.CompanyConfig.companyConfigData,
                companyConfig: (state) => state.CompanyConfig.companyConfig,
            }),
            data :function () {
                let trip = this.trip;
                let listPoint = this.route.listPoint;
                let result = {};
                let total = 'total'
                let totalPrice = 'totalPrice'
                let totalPrices = 'totalPrices'
                let totalTicket = 'totalTicket'
                let totalTicketEachPoint = 'totalTicketEachPoint'
                let countTicket = 'countTicket'
                let mapPoint = {};
                $.each(listPoint,function (p,point) {
                    mapPoint[point.id] = {}
                    $.each(listPoint,function (index,value) {
                        mapPoint[point.id][value.id]=0;
                        mapPoint[point.id][total]=0;
                        mapPoint[point.id][totalPrice]=0;
                        mapPoint[totalPrices] = 0
                        mapPoint[totalTicket] = 0
                        mapPoint[totalTicketEachPoint] = 0;
                        mapPoint[point.id][countTicket] = 0
                    });
                })
                $.each(trip.ticketsInSeatMap,function (t,ticket) {
                    mapPoint[ticket.pointUp.id][ticket.pointUp.id]++;
                    mapPoint[ticket.pointUp.id][ticket.pointDown.id]++;
                    mapPoint[ticket.pointUp.id][total]++
                    mapPoint[ticket.pointUp.id][totalPrice]+= ticket.agencyPrice
                    mapPoint[totalPrices] += ticket.agencyPrice
                    mapPoint[totalTicket] ++

                })

                $.each(trip.ticketsNotSeat,function (t,ticket) {
                    mapPoint[ticket.pointUp.id][ticket.pointUp.id]++;
                    mapPoint[ticket.pointUp.id][ticket.pointDown.id]++;
                    mapPoint[ticket.pointUp.id][total]++
                    mapPoint[ticket.pointUp.id][totalPrice]+= ticket.agencyPrice
                    mapPoint[totalPrices] += ticket.agencyPrice
                    mapPoint[totalTicket] ++
                });

                let totalUp = 0;
                let totalDown = 0;
                $.each(listPoint,(p,point)=>{
                    totalUp += mapPoint[point.id].total;
                    for(let i=0;i<p;i++){
                        totalDown += mapPoint[listPoint[i].id][point.id];
                    }
                    mapPoint[point.id][totalTicketEachPoint] = totalUp-totalDown;
                    if (!this.counts){
                        mapPoint[point.id][countTicket] = 0
                    } else {
                        mapPoint[point.id][countTicket] = this.counts[point.id];
                      }
                });

                console.log(_.cloneDeep(mapPoint));
                return mapPoint;
            },
        },
        methods: {
            openModalAddBill: function (billType) {
                let self = this;
                self.billTypeAdd = billType;
                self.$refs.AddBillComponent.refresh();
                $(self.$el).find('#modalAddBill').modal('show');
            },
            addBillEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalAddBill').modal('hide');
                        self.getBillsInTrip();
                        break;
                    default :
                        break;
                }
            },
            sendCountInput: function (index) {
                let self = this;
                let listPoint = self.route.listPoint
                let mapCount = {};
                $.each(listPoint,function (p,point) {
                    mapCount[point.id] = self.data[point.id]['countTicket']
                })
                sendJson({
                    url : urlCF(API.countTicketByPoint),
                    type: 'POST',
                    data : {
                        tripId: self.trip.tripId,
                        countTicketByPoint: mapCount,
                        history : false,
                    },
                    success: function (data) {
                        self.getCountInput()
                    },
                    error: function () {

                    }
                })
            },
            getCountInput: function () {
                let self = this;
                let listPoint = self.route.listPoint
                sendParam({
                    url : urlCF(API.countTicketByPoint),
                    type: 'GET',
                    data : {
                        tripId: self.trip.tripId,
                    },
                    success: function (data) {
                        self.counts = data.data.countTicketByPoint
                        $.each(listPoint,function (p,point) {
                            if (self.data[point.id]['countTicket']){
                                self.data[point.id]['countTicket'] = self.counts[point.id];
                                self.totalCount += parseInt(self.counts[point.id])
                            }
                        });
                    },
                    error: function () {
                        notify('Gọi Quý')
                    }
                })
            },
            getBillsInTrip : function () {
                let self = this;
                this.load("getBills"+self.trip.tripId);
                self.totalPriceBill = 0
                sendJson({
                    url : urlDBD(API.billList),
                    data : {
                        page : 0,
                        count :func.countMax(),
                        tripId : self.trip.tripId,
                    },
                    success : function (data) {
                        self.bills = data.results.listBill;
                        $.each(self.bills,function (t,bill) {
                            if (bill.billType == 2){
                                self.totalPriceBill -= bill.amount
                            } else {
                                self.totalPriceBill += bill.amount
                            }
                        })
                        self.unload('getBills'+self.trip.tripId);
                    },
                    functionIfError : function (data) {
                        self.unload('getBills'+self.trip.tripId);
                    }
                });
            },
            checkHideConfig: function (field) {
                if(this.companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TRIP.value.includes(field)) {
                    return true;
                } else {
                    return false;
                }
            },
            print: function () {
                let self = this;
                self.load('print');
                $(this.$el).find('.print').printThis({printDelay: 1000,afterPrint: function(){
                        self.unload('print');
                    }});
            },
            setDriver: function (index, field) {
                let self = this;
                let driver = _.cloneDeep(self.driver);
                if (self.ticketsSort[index][field].completedTransshipment) {
                    notify("Khách này đã "+(field==="pointUp"?'đón':'trả')+ ' hoàn thành', 'error');
                    return false;
                }
                if (driver) {
                    self.ticketsSort[index][field].transshipmentDriver = {
                        id: driver.id,
                        fullName: driver.fullName,
                        phoneNumber: driver.phoneNumber
                    }
                } else {
                    self.ticketsSort[index][field].transshipmentDriver = null;
                }
            },
            getTicketsFromTrip: function (_trip) {
                let tickets = _.cloneDeep(_trip.ticketsInSeatMap) || [];
                $.each(_trip.ticketsNotSeat, function (t, ticket) {
                    tickets.push(_.cloneDeep(ticket));
                });
                return tickets;
            }
        },
        watch: {
            'trip.tripId': function () {
                this.getBillsInTrip()
                this.getCountInput()
            }
        }
    }
</script>
<style scoped>
  .space {
    margin-bottom: 20px;
    font-size: 16px;
    margin-left: 50px;
    font-weight: bold
  }
  .activeClass {
    display: block;
  }
  .active {
    border: 2px solid;
    display: revert;
  }
  .inputCount {
    border: none;
    text-align: right;
  }
  .inputCount :focus {
    border: none;
  }
  textarea:focus, input:focus{
    outline: none;
  }
</style>
