<template>
    <div>
        <div class="tool text-right">
            <button class="btn btn-primary btn-sm" style="margin-top: 10px;" @click="refresh()">Làm mới danh sách
            </button>
        </div>
        <div class="form">

        </div>
        <div class="tool text-right">
            <button class="btn btn-primary btn-sm" @click="dialogPreview = true"><i class="el-icon-view"></i>Xem danh sách
            </button>
            <button class="btn btn-primary btn-sm" @click="print()"><i class="fa fa-print"></i> {{$t('button.print')}}</button>
        </div>
        <el-dialog
            title="Xem trước"
            :visible.sync="dialogPreview"
            width="80%"
            @opened="handleOpenDialog()"
            >
            <div class="formPreview"></div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogPreview = false">Đóng</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
    import { mapState } from 'vuex';
    export default {
        data : function () {
            return {
                dataConfig : '<div><img src="http://lh3.googleusercontent.com/w6unpSUkIkBhSSZfdYZpPA4ghSjt6zrXOcaC1JmtK5I-l7yclXCHfMYTzzNWfoVDEQ98Flz6t0_X07fczlaoUdo" style="float:left; height:50px"/>&nbsp; &nbsp;[ten_cong_ty]</div><div>&nbsp; &nbsp;[dia_chi_cong_ty]</div><div>&nbsp; &nbsp;Li&ecirc;n hệ : 1900 7034</div><div style="text-align:center"><span style="font-size:20px">DANH S&Aacute;CH H&Agrave;NH KH&Aacute;CH</span></div><div style="text-align:center"><table border="0" cellpadding="0" cellspacing="0" style="width:100%"><tbody><tr><td style="text-align:right; width:30%">Tuyến&nbsp;&nbsp;</td><td style="text-align:left; width:20%">&nbsp; [tuyen_cua_chuyen]</td><td style="text-align:right; width:20%">T&agrave;i xế&nbsp;&nbsp;</td><td style="text-align:left; width:30%">&nbsp;&nbsp;[tai_xe_chuyen]</td></tr><tr><td style="text-align:right">&nbsp;Giờ chạy&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[gio_xuat_ben]&nbsp;[ngay_xuat_ben]</td><td style="text-align:right">Phụ xe&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[phu_xe_chuyen]</td></tr><tr><td style="text-align:right">Biển số&nbsp;&nbsp;</td><td style="text-align:left">&nbsp; [bien_so_xe]</td><td style="text-align:right">Số v&eacute;&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[so_luong_ve]</td></tr></tbody></table><p>&nbsp;</p><table border="1" cellpadding="1" cellspacing="0" id="tuy-chinh-in-danh-sach-ve" style="width:100%"><thead><tr><th scope="col" style="width:50px">STT</th><th scope="col" style="width:150px">M&atilde; v&eacute;</th><th scope="col" style="width:150px">Số Điện Thoại</th><th scope="col">Vị tr&iacute;</th><th scope="col" style="width:200px">Điểm l&ecirc;n</th><th scope="col" style="width:200px">Điểm Xuống</th><th scope="col">Gi&aacute; v&eacute;</th><th scope="col">Đ&atilde; thu</th><th scope="col">C&ograve;n lại</th><th scope="col">Ghi ch&uacute;</th></tr></thead><tbody><tr><td>[so_thu_tu]</td><td>[ma_ve]</td><td>[so_dien_thoai_khach]</td><td>[ten_ghe]</td><td>[diem_len]</td><td>[diem_xuong]</td><td>[gia_ve]</td><td>[da_thu]</td><td>[chua_thu]</td><td>[ghi_chu]</td></tr></tbody></table></div>',
                fields : {
                    '[trang_thai_ve]' : 'Trạng thái vé',
                    '[ten_ghe]' : 'Tên ghế',
                    '[tuyen_duong]' : 'Tuyến',
                    '[barcode]' : 'barcode',
                    '[ma_ve]' : 'Mã vé',
                    '[gio_di]' : 'Giờ đi',
                    '[ngay_di]' : 'Ngày đi',
                    '[ten_hanh_khach]' : 'Tên hành khách',
                    '[so_dien_thoai_khach]' : 'Số điện thoại khách',
                    '[nam_sinh]' : 'sinh nhật',
                    '[gia_ve]' : 'Giá vé',
                    '[diem_len]' : 'Điểm lên',
                    '[dia_chi_diem_len]' : 'Địa chỉ điểm lên',
                    '[diem_xuong]' : 'Điểm xuống',
                    '[dia_chi_diem_xuong]' : 'Điạ chỉ điểm xuống',
                    '[xe_van_chuyen]' : 'Xe vận chuyển',
                    '[ma_lien_ket]' : 'Mã liên kết',
                    '[ghi_chu]' : 'Ghi chú',
                    '[ten_cong_ty]' : 'Tên công ty',
                    '[dia_chi_cong_ty]' : 'Địa chỉ công ty',
                },
                dialogPreview: false,
                formContent: '',
            }
        },
        computed : {
            ...mapState({
                mergeTicketsWhenPrint : state => state.CompanyConfig.companyConfig.CONFIG.MERGE_TICKET_PRINT.value,
            }),
            ...mapState('Ticket06',{
                trip : state => state.trip,
            })
        },
        mounted : function () {
            this.getConfig();
        },
        methods : {
            refresh: function () {
                this.replaceData(this.trip);
            },
            handleOpenDialog: function () {
                $('.formPreview').html(this.formContent);
            },
            getConfig : function () {
                let self = this;
                self.load('getDisplayConfig');
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_LIST_TICKET,
                    },
                    success : function (res) {
                        self.unload('getDisplayConfig');
                        if(res.results.data){
                            self.dataConfig = res.results.data;
                        }
                        self.replaceData(self.trip);
                    },
                    functionIfError : function (res) {
                        self.unload('getDisplayConfig');
                    }
                })
            },
            replaceData : function(trip){
                let self = this;
                let html = _.cloneDeep(self.dataConfig);
                // replace danh sách vé
                let htmlContentRowBuild = '';
                let total = {
                    agencyPrice : 0,
                    paidMoney : 0,
                }
                let htmlSample = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve').find('tbody').html();
                if(Array.isArray(trip.ticketsInfo) && htmlSample){
                    let _tickets = self.mergeTicketsWhenPrint ? self.unDuplicateTicket(trip.ticketsInfo):trip.ticketsInfo;
                    $.each(_tickets,function (t,ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentRowBuild+=self.replaceTicket(t,ticket,htmlSample);
                        total.agencyPrice += ticket.agencyPrice;
                        total.paidMoney += ticket.paidMoney;
                    });
                }
                let htmlSampleNotSeat = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-khong-cho-ngoi').find('tbody').html();
                let htmlContentNotSeatRowBuild = '';
                if(Array.isArray(trip.ticketsNotSeat) && htmlSampleNotSeat){
                    let _tickets = self.mergeTicketsWhenPrint ? self.unDuplicateTicket(trip.ticketsNotSeat):trip.ticketsNotSeat;
                    $.each(_tickets,function (t,ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentNotSeatRowBuild+=self.replaceTicket(t,ticket,htmlSampleNotSeat);
                        total.agencyPrice += ticket.agencyPrice;
                        total.paidMoney += ticket.paidMoney;
                    });
                }

                let ticketsByPointType = this.findTicketByPointType(trip);

                let htmlSamplePointUp0 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-tai-ben').find('tbody').html();
                let htmlContentPointUp0RowBuild = '';
                if(htmlSamplePointUp0){
                    $.each(ticketsByPointType.pointUp0,function (t,ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointUp0RowBuild+=self.replaceTicket(t,ticket,htmlSamplePointUp0);
                    });
                }

                let htmlSamplePointUp1 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-tan-nha').find('tbody').html();
                let htmlContentPointUp1RowBuild = '';
                if(htmlSamplePointUp1) {
                    $.each(ticketsByPointType.pointUp1, function (t, ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointUp1RowBuild += self.replaceTicket(t, ticket, htmlSamplePointUp1);
                    });
                }

                let htmlSamplePointUp2 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-doc-duong').find('tbody').html();
                let htmlContentPointUp2RowBuild = '';
                if(htmlSamplePointUp2) {
                    $.each(ticketsByPointType.pointUp2, function (t, ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointUp2RowBuild += self.replaceTicket(t, ticket, htmlSamplePointUp2);
                    });
                }

                let htmlSamplePointUp3 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-trung-chuyen').find('tbody').html();
                let htmlContentPointUp3RowBuild = '';
                if(htmlSamplePointUp3) {
                    $.each(ticketsByPointType.pointUp3, function (t, ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointUp3RowBuild += self.replaceTicket(t, ticket, htmlSamplePointUp3);
                    });
                }

                let htmlSamplePointDown0 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-tai-ben').find('tbody').html();
                let htmlContentPointDown0RowBuild = '';
                if(htmlSamplePointDown0) {
                    $.each(ticketsByPointType.pointDown0, function (t, ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointDown0RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown0);
                    });
                }

                let htmlSamplePointDown1 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-tan-nha').find('tbody').html();
                let htmlContentPointDown1RowBuild = '';
                if(htmlSamplePointDown1) {
                    $.each(ticketsByPointType.pointDown1, function (t, ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointDown1RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown1);
                    });
                }

                let htmlSamplePointDown2 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-doc-duong').find('tbody').html();
                let htmlContentPointDown2RowBuild = '';
                if(htmlSamplePointDown2) {
                    $.each(ticketsByPointType.pointDown2, function (t, ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointDown2RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown2);
                    });
                }

                let htmlSamplePointDown3 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-trung-chuyen').find('tbody').html();
                let htmlContentPointDown3RowBuild = '';
                if(htmlSamplePointDown3) {
                    $.each(ticketsByPointType.pointDown3, function (t, ticket) {
                        if(!self.showInfoTicket(ticket)){
                            return;
                        }
                        htmlContentPointDown3RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown3);
                    });
                }
                //replace thông tin chuyến
                html = self.replaceTrip(trip,html,total);
                $(this.$el).find('.form').html(html);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve').find('tbody').html(htmlContentRowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-khong-cho-ngoi').find('tbody').html(htmlContentNotSeatRowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-tai-ben').find('tbody').html(htmlContentPointUp0RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-tan-nha').find('tbody').html(htmlContentPointUp1RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-doc-duong').find('tbody').html(htmlContentPointUp2RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-trung-chuyen').find('tbody').html(htmlContentPointUp3RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-tai-ben').find('tbody').html(htmlContentPointDown0RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-tan-nha').find('tbody').html(htmlContentPointDown1RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-doc-duong').find('tbody').html(htmlContentPointDown2RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-trung-chuyen').find('tbody').html(htmlContentPointDown3RowBuild);

                $(this.$el).find('tbody').sortable({
                    placeholder: "ui-state-highlight"
                });

                this.formContent = $('.form').html();

                $(this.$el).find('tbody').disableSelection();
                // this.updatePrintedTickets(trip);
            },
            print : function () {
                // let self = this;
                // self.replaceData(trip);
                // try {
                //     JsBarcode(".barcode").init();
                // }catch(e){
                //     console.log(e)
                // }
                $(this.$el).find('.form').printThis();
                this.updatePrintedTickets(this.trip);
            },
            findTicketByPointType : function(trip){
                let self = this;
                let data ={
                    pointUp0 : [],
                    pointUp1 : [],
                    pointUp2 : [],
                    pointUp3 : [],
                    pointDown0 : [],
                    pointDown1 : [],
                    pointDown2 : [],
                    pointDown3 : [],
                };
                $.each(trip.ticketsInSeatMap,function (t,ticket) {
                    let keyPointUp = 'pointUp'+(ticket.pointUp.pointType||0);
                    let keyPointDown = 'pointDown'+(ticket.pointDown.pointType||0);
                    data[keyPointUp].push(ticket);
                    data[keyPointDown].push(ticket);
                });
                $.each(trip.ticketsNotSeat,function (t,ticket) {
                    let keyPointUp = 'pointUp'+(ticket.pointUp.pointType || 0);
                    let keyPointDown = 'pointDown'+(ticket.pointDown.pointType || 0);
                    data[keyPointUp].push(ticket);
                    data[keyPointDown].push(ticket);
                });
                if(self.mergeTicketsWhenPrint){
                    data.pointUp0 = self.unDuplicateTicket(data.pointUp0);
                    data.pointUp1 = self.unDuplicateTicket(data.pointUp1);
                    data.pointUp2 = self.unDuplicateTicket(data.pointUp2);
                    data.pointUp3 = self.unDuplicateTicket(data.pointUp3);
                    data.pointDown0 = self.unDuplicateTicket(data.pointDown0);
                    data.pointDown1 = self.unDuplicateTicket(data.pointDown1);
                    data.pointDown2 = self.unDuplicateTicket(data.pointDown2);
                    data.pointDown3 = self.unDuplicateTicket(data.pointDown3);
                }
                return data;
            },
            exportTickets : function(trip,mini){
                this.replaceData(trip,mini);
                this.excel($(this.$el).find('#tuy-chinh-in-danh-sach-ve'),'DANH_SACH_VE_');
            },
            replaceTicket : function (index,ticket,html) {
                let htmlAfterReplace = _.cloneDeep(html);
                let self = this;
                let replaceObject  = [
                    {
                        key: '[so_thu_tu]',
                        value: function () {
                            return index-(-1);
                        }
                    },
                    {
                        key: '[trang_thai_ve]',
                        value: function () {
                            return func.checkTicketStatus(ticket).status;
                        }
                    },
                    {
                        key : '[ten_ghe]',
                        value : function () {
                            return ticket.listSeatId.join(', ');
                        }
                    },
                    {
                        key : '[so_luong_ghe]',
                        value : function () {
                            return ticket.listSeatId.length;
                        }
                    },
                    {
                        key : '[tuyen_duong]',
                        value : function () {
                            return ticket.routeInfo.name;
                        }
                    },
                    {
                        key : '[barcode]',
                        value : function () {
                            return '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="'+ticket.ticketCode+'" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>';
                        }
                    },
                    {
                        key : '[ma_ve]',
                        value : function () {
                            return ticket.ticketCode;
                        }
                    },
                    {
                        key : '[gio_di]',
                        value : function () {
                            return self.$options.filters.customDate(ticket.getInTimePlan,'#hhhh#:#mm#',true);
                        }
                    },
                    {
                        key : '[ngay_di]',
                        value : function () {
                            return self.$options.filters.strToDate(ticket.getInTimePlanInt);
                        }
                    },
                    {
                        key: '[gio_dat_ve]',
                        value: function () {
                            return self.$options.filters.customDate(ticket.createdDate,'#hhhh#:#mm#');
                        }
                    },
                    {
                        key: '[ngay_dat_ve]',
                        value: function () {
                            return self.$options.filters.strToDate(ticket.createdDateInt);
                        }
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : function () {
                            return ticket.fullName;
                        }
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : function () {
                            return self.$options.filters.phoneNumber(ticket.phoneNumber);
                        }
                    },
                    {
                        key : '[nam_sinh]',
                        value : function () {
                            return ticket.birthday;
                        }
                    },
                    {
                        key : '[gia_ve]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice);
                        }
                    },
                    {
                        key : '[da_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.paidMoney);
                        }
                    },
                    {
                        key : '[chua_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice-ticket.paidMoney);
                        }
                    },
                    {
                        key : '[tai_xe_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.cashOnTheTrip);
                        }
                    },
                    {
                        key : '[nhan_vien_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice-ticket.cashOnTheTrip);
                        }
                    },
                    {
                        key : '[diem_len]',
                        value : function () {
                            return ticket.pointUp.name;
                        }
                    },
                    {
                        key : '[diem_len_rut_gon]',
                        value : function () {
                            return ticket.pointUp.pointNameAcronym;
                        }
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : function () {
                            return ticket.pointUp.address;
                        }
                    },
                    {
                        key : '[dia_chi_len_tn]',
                        value : function () {
                            return ticket.pointUp.pointType==1?ticket.pointUp.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_len_dd]',
                        value : function () {
                            return ticket.pointUp.pointType==2?ticket.pointUp.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_len_tc]',
                        value : function () {
                            return ticket.pointUp.pointType==3?ticket.pointUp.address:'';
                        }
                    },
                    {
                        key : '[ten_diem_len_tc]',
                        value : function () {
                            return ticket.pointUp.pointType==3?ticket.pointUp.name:'';
                        }
                    },
                    {
                        key : '[diem_xuong]',
                        value : function () {
                            return ticket.pointDown.name;
                        }
                    },
                    {
                        key : '[diem_xuong_rut_gon]',
                        value : function () {
                            return ticket.pointDown.pointNameAcronym;
                        }
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : function () {
                            return ticket.pointDown.address;
                        }
                    },
                    {
                        key : '[dia_chi_xuong_tn]',
                        value : function () {
                            return ticket.pointDown.pointType==1?ticket.pointDown.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_xuong_dd]',
                        value : function () {
                            return ticket.pointDown.pointType==2?ticket.pointDown.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_xuong_tc]',
                        value : function () {
                            return ticket.pointDown.pointType==3?ticket.pointDown.address:'';
                        }
                    },
                    {
                        key : '[ten_diem_xuong_tc]',
                        value : function () {
                            return ticket.pointDown.pointType==3?ticket.pointDown.name:'';
                        }
                    },
                    {
                        key : '[xe_van_chuyen]',
                        value : function () {
                            return ticket.vehicle.numberPlate;
                        }
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : function () {
                            return ticket.foreignKey||'';
                        }
                    },
                    {
                        key : '[ghi_chu]',
                        value : function () {
                            return ticket.note||'';
                        }
                    },
                    {
                        key : '[dai_ly]',
                        value : function () {
                            return ticket.agency?ticket.agency.fullName:'';
                        }
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : function () {
                            return userInfo.companyAddress;
                        }
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : function () {
                            if (ticket.routeInfo&&ticket.routeInfo.nameShort) {
                                return ticket.routeInfo.nameShort;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[so_lan_in_ve]',
                        value : function () {
                            if (ticket) {
                                return ticket.numberOfPrint + 1;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[ngay_ban_ve]',
                        value : function () {
                            if (!ticket.createdDateInt) {
                                return ""
                            }
                            let b = ticket.createdDateInt.toString().split('')
                            let year = b.slice(0,4)
                            let month = b.slice(4,6)
                            month.push("-")
                            let day = b.slice(6,8)
                            day.push("-")
                            let c = day.concat(month).concat(year)
                            let result = c.join('')
                            return result
                        }
                    },
                    {
                        key : '[ngay_thu_tien]',
                        value : function () {
                            if (!ticket.collectionTransactions) {
                                return ""
                            }
                            try{
                                let a = []
                                for (let i = 0; i < ticket.collectionTransactions.length; i++) {
                                    let b = ticket.collectionTransactions[i].date.toString().split('')
                                    let year = b.slice(0,4)
                                    let month = b.slice(4,6)
                                    month.push("-")
                                    let day = b.slice(6,8)
                                    day.push("-")
                                    let c = day.concat(month).concat(year)
                                    let d = c.join('')
                                    a.push(d)
                                };
                                let result = a.join()
                                return result;
                            }catch (e) {
                                console.warn(e);
                                return '';
                            }
                        }
                    },
                    {
                        key : '[sdt_tai_xe]',
                        value : function () {
                            if (ticket.tripInfo&&ticket.tripInfo.drivers) {
                                let a = []
                                for(let i = 0; i<ticket.tripInfo.drivers.length; i++){
                                    a.push(ticket.tripInfo.drivers[i].phoneNumber)
                                }
                                if (ticket.tripInfo.drivers.length  == 1) {
                                    return '0'+ a.join()
                                }
                                if (ticket.tripInfo.drivers.length  > 1) {
                                    return '0'+ a.join(",0")
                                } else {
                                    return ''
                                }
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[ten_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.orderer ? ticket.orderer : ticket.fullName ? ticket.fullName : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[sdt_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.ordererPhoneNumber ? ticket.ordererPhoneNumber : ticket.phoneNumber ? ticket.phoneNumber : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                ];
                $.each(replaceObject,function (k,v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key,v.value());
                });
                return htmlAfterReplace;
            },
            replaceTrip : function (trip,html,total) {
                let self = this;
                let htmlAfterReplace = _.cloneDeep(html);
                let replaceObject  = [
                    {
                        key: '[tuyen_cua_chuyen]',
                        value: function () {
                            return trip.route.name;
                        }
                    },
                    {
                        key: '[gio_xuat_ben]',
                        value: function () {
                            return self.$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true)
                        }
                    },
                    {
                        key: '[ngay_xuat_ben]',
                        value: function () {
                            return self.$options.filters.strToDate(trip.date)
                        }
                    },
                    {
                        key: '[bien_so_xe]',
                        value: function () {
                            return trip.vehicle.numberPlate||'';
                        }
                    },
                    {
                        key: '[tai_xe_chuyen]',
                        value: function () {
                            let text = '';
                            if(trip.drivers){
                                $.each(trip.drivers,function (d,driver) {
                                    text+=driver.fullName + ', ';
                                });
                            }
                            return text;
                        }
                    },
                    {
                        key: '[phu_xe_chuyen]',
                        value: function () {
                            let text = '';
                            if(trip.assistants){
                                $.each(trip.assistants,function (a,assistant) {
                                    text+=assistant.fullName + ', ';
                                });
                            }
                            return text;
                        }
                    },
                    {
                        key: '[so_luong_ve]',
                        value: function () {
                            return trip.ticketsInfo?trip.ticketsInfo.length:0;
                        }
                    },
                    {
                        key : '[ds_ghe_trong]',
                        value : function () {
                            let seatList = trip&&trip.seatMap&&trip.seatMap.seatList ? trip.seatMap.seatList : [];
                            let listSeat = {};
                            $.each(seatList,function (s , seat) {
                                if(seat.seatType ==3 ||seat.seatType ==4){
                                    listSeat[seat.seatId] = seat.seatId;
                                }
                            });
                            $.each(trip&&trip.ticketsInfo?trip.ticketsInfo:[],function (t,ticket) {
                                if(ticket.seat&&ticket.seat.seatId&&listSeat[ticket.seat.seatId]){
                                    delete listSeat[ticket.seat.seatId];
                                }
                            });
                            return Object.values(listSeat).join(', ');
                        }
                    },
                    {
                        key: '[tong_tien_ve]',
                        value: function () {
                            return self.$options.filters.number(total.agencyPrice||0);
                        }
                    },
                    {
                        key: '[tong_da_tra]',
                        value: function () {
                            return self.$options.filters.number(total.paidMoney||0);
                        }
                    },
                    {
                        key: '[tong_chua_tra]',
                        value: function () {
                            return self.$options.filters.number(total.agencyPrice-total.paidMoney);
                        }
                    },
                    {
                        key : '[ghi_chu_chuyen]',
                        value : function () {
                            return trip.note||'';
                        }
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : function () {
                            return userInfo.companyAddress||'';
                        }
                    },
                    {
                        key : '[tong_so_ve_co_phu_thu]',
                        value : function () {
                            if (trip.ticketsInfo) {
                                let a = 0;
                                for(let i = 0; i<trip.ticketsInfo.length; i++) {
                                    if (trip.ticketsInfo[i].surcharges) {
                                        a ++;
                                    }
                                }
                                return a
                            }  else {
                                return '';
                            }
                        }
                    },
                ];
                $.each(replaceObject,function (k,v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key,v.value());
                });
                return htmlAfterReplace;
            },
            updatePrintedTickets : function (_trip) {
                let printedTickets = {};
                let time = new Date().getTime();
                if(Array.isArray(_trip.ticketsInfo)){
                    $.each(_trip.ticketsInfo,function (t,ticket) {
                        if(ticket.printed){
                            printedTickets[ticket.ticketId] = ticket.printed;
                        }else{
                            printedTickets[ticket.ticketId] = time;
                        }
                    });
                }

                if(Array.isArray(_trip.ticketsNotSeat)){
                    $.each(_trip.ticketsNotSeat,function (t,ticket) {
                        printedTickets[ticket.ticketId] = time;
                    });
                }

                firebaseDatabase.ref().child('trips').child(_trip.tripId).update({printedTickets : printedTickets})
            },
            unDuplicateTicket: function(listTickets) {
                let res = [];

                let isExist = (arr, x) =>
                {
                    for(let i = 0; i < arr.length; i++) {
                        let condition = arr[i].pointDown.address == x.pointDown.address
                            && arr[i].pointUp.address == x.pointUp.address
                            && arr[i].ticketCode == x.ticketCode
                            && arr[i].phoneNumber == x.phoneNumber;

                        if (condition)
                            return {index: i, status: true};
                    }
                    return {index: i, status: false};
                }


                listTickets.forEach(elm => {
                    let element = _.cloneDeep(elm);
                    let checker = isExist(res, element);
                    if(!checker.status)
                    {
                        res.push(element);
                    } else {
                        element.listSeatId.forEach(elem => res[checker.index]['listSeatId'].push(elem) );
                        let totalAgency = res[checker.index]['agencyPrice'] + element.agencyPrice;
                        let totalPaid = res[checker.index]['paidMoney'] + element.paidMoney;

                        res[checker.index]['agencyPrice'] = totalAgency;
                        res[checker.index]['paidMoney'] = totalPaid;
                    }
                });

                return res;
            },
            showInfoTicket : function (ticketInfo) {
                let show = true;
                if(this.$root.isAgency()&&ticketInfo){
                    if(ticketInfo.agency){
                        if(ticketInfo.agency.id !== userInfo.userInfo.id){
                            show = false;
                        }
                    }else{
                        show = false;
                    }
                }
                return show;
            },
        },
        watch : {
            'trip.tripId': function (tripId) {
                this.replaceData(this.trip);
            },
            // trip : {
            //     deep : true,
            //     handler : function (trip) {
            //         this.replaceData(trip);
            //     }
            // },
            mergeTicketsWhenPrint :  function () {
                this.replaceData(this.trip);
            }
        }
    }
</script>
