<template>
    <div class="trip--lg trip" style="position: relative"
             @click="$emit('click')"
             :class="{'active': tripX !== null && tripX && tripX.tripId == trip.tripId,
            'full': trip.totalEmptySeat == 0,
            'empty': trip.totalEmptySeat == trip.totalSeat,
            'printed': trip._printedTickets,
            'opened': trip.tripStatus == 2 }"
    >
        <img v-if="tripX !== null && tripX && tripX.tripId == trip.tripId" src="/public/images/checkTrip.png" class="position-absolute"
             style="top: 28%;right: 45px;width: 35%;max-height: 100%;" alt="">
            <div class="trip__head">
                <h3 class="trip__time">
                    {{(trip.startTimeReality+routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend)|customDate('#hhhh#:#mm#',true)}}
                </h3>
                <!--<p class="trip__seat">-->
                <!--<span class="empty">{{ trip.totalEmptySeat }}</span><i>/</i><span class="total">{{ trip.totalSeat }}</span>-->
                <!--</p>-->
                <p class="trip__seat" v-if="!companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">
                    <span class="empty">{{ trip.totalEmptySeat ? trip.totalEmptySeat : 0 }}</span>
                    <i>/</i>
                    <span class="total">{{ trip.totalSeat ? trip.totalSeat : 0 }}</span>
                </p>
                <p class="trip__seat" v-if="companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">
                    <span class="empty">{{ trip.totalSeat && trip.totalEmptySeat != null && trip.totalEmptySeat != "undefined"? trip.totalSeat - trip.totalEmptySeat : 0 }}</span>
                    <i> / </i>
                    <span class="total">{{ trip.totalSeat ? trip.totalSeat : 0 }}</span>
                </p>
            </div>
            <div class="trip__driver">
                <div class="trip__driver--item">
                    <span>T:</span>
                    <p v-if="trip.drivers && trip.drivers.length > 0">
                        <i v-for="(driver,index) in trip.drivers" :key="index">{{ driver.fullName }}<br></i>
                    </p>
                    <p v-else>Chờ cập nhật</p>
                </div>
                <div class="trip__driver--item">
                    <span>P:</span>
                    <p v-if="trip.assistants && trip.assistants.length > 0">
                        <i v-for="(assistant,index) in trip.assistants" :key="index">{{ assistant.fullName }}<br></i>
                    </p>
                    <p v-else>Chờ cập nhật</p>
                </div>
            </div>
            <div class="trip__vehicle">
                <el-tooltip class="item" effect="dark" content="Ghế ngồi" placement="top" v-if="trip.vehicle.vehicleType === 1">
                    <span class="icon vehicle-type vehicle-1" ></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="Giường nằm" placement="top" v-if="trip.vehicle.vehicleType === 0">
                    <span class="icon vehicle-type vehicle-0"></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="Ghế ngồi limousine" placement="top" v-if="trip.vehicle.vehicleType === 2">
                    <span class="icon vehicle-type vehicle-2"></span>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="Giường nằm limousine" placement="top" v-if="trip.vehicle.vehicleType === 3">
                    <span class="icon vehicle-type vehicle-3"></span>
                </el-tooltip>

                <el-tooltip class="item" effect="dark" content="Phòng VIP (cabin)" placement="top" v-if="trip.vehicle.vehicleType === 4">
                    <span class="icon vehicle-type vehicle-4"></span>
                </el-tooltip>
                <span class="number_plate" :title="trip.payed?'Đã thanh toán hết':'Chưa thanh toán hết'" :style="{color : trip.payed?'#084388':'#F39B13'}">{{ trip.vehicle.numberPlate }}</span>
            </div>
        </div>
</template>

<script>
    import {mapState,mapGetters} from 'vuex';
    export default {
        props : ['trip'],
        computed : {
            ...mapState({
                companyConfig: (state) => state.CompanyConfig.companyConfig,
            }),
            ...mapState('Ticket06', {
                tripX: state => state.trip,
                startPoint : state => state.startPoint,
                routes : state => state.routes,
            }),
            ...mapGetters('Ticket06',[
                'mapRoutes'
            ]),
        }
    }
</script>