<template>
<div class="trip--small trip" 
    @click="$emit('click')" 
    :class="{'active': tripX&&tripX.tripId === trip.tripId, 
            'full': trip.totalEmptySeat == 0,
            'printed': trip._printedTickets,
            'empty': trip.totalEmptySeat == trip.totalSeat,
            'opened': trip.tripStatus == 2 }" >
    <h3 class="trip--time">
        {{(trip.startTimeReality + routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend)|customDate('#hhhh#:#mm#',true)}}
    </h3>
    <!--<div class="trip&#45;&#45;seat">-->
        <!--<span class="seat&#45;&#45;empty">{{trip.totalEmptySeat}}</span><i>/</i><span class="seat&#45;&#45;total">{{trip.totalSeat}}</span>-->
    <!--</div>-->
    <div class="trip--seat" v-if="tripX !== null && tripX && tripX.tripId == trip.tripId">
        <img v-if="tripX !== null && tripX && tripX.tripId == trip.tripId" src="/public/images/checkTrip.png" class="position-absolute"
             style="top: 2%;right: 34px;width: 25%;height: 90%;" alt="">
    </div>
    <div class="trip--seat">
                <span class="seat--empty">
                    {{
                        !companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate
                            ? trip.totalEmptySeat
                            : (trip.totalSeat - trip.totalEmptySeat)
                    }}
                </span>
        <i class="xoet">/</i>
        <span class="seat--total">{{trip.totalSeat}}</span>
    </div>
</div>
</template>

<script>
    import {mapState,mapGetters} from 'vuex';
    export default {
        props : ['trip'],
        computed : {
            ...mapState({
                companyConfig: (state) => state.CompanyConfig.companyConfig,
            }),
            ...mapState('Ticket06', {
                tripX: state => state.trip,
                startPoint : state => state.startPoint,
                routes : state => state.routes,
            }),
            ...mapGetters('Ticket06',[
                'mapRoutes'
            ]),
        }
    }
</script>
