<template>
    <div class="progress-q" @click="$emit('click')">
        <div class="row no-gutters progress-info cursor-pointer" :class="[tripX&&tripX.tripId === trip.tripId?'progress-q-active':'']">
            <div class="col progress-text font-weight-bold">{{(trip.startTimeReality+routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend)|customDate('#hhhh#:#mm#',true)}}</div>
            <div class="col text-right font-weight-bold" v-if="!companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">{{trip.totalEmptySeat}}/{{trip.totalSeat}}</div>
            <div class="col text-right font-weight-bold" v-if="companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">{{trip.totalSeat - trip.totalEmptySeat}}/{{trip.totalSeat}}</div>
            <div class="w-100"></div>
            <div class="col-12" style="font-size: 12px;line-height: 15px;font-weight: 500;overflow: hidden" :title="trip.vehicle?trip.vehicle.numberPlate:''">{{ trip.vehicle?trip.vehicle.numberPlate:'&nbsp;' }}</div>
        </div>
        <div class="position-absolute" style="bottom :8px;right:8px" v-if="trip._printedTickets"><i class="fa fa-print"></i></div>
        <div class="progress-bar-q" :style="{width : Math.ceil(((trip.totalSeat-trip.totalEmptySeat)/trip.totalSeat)*100)+'%',background:color}"></div>
        <div class="progress-bar-background-q"></div>
    </div>
</template>
<script>
    import {mapState,mapGetters} from 'vuex';
    export default {
        props : ['trip'],
        computed : {
            ...mapState({
                companyConfig: (state) => state.CompanyConfig.companyConfig,
            }),
            ...mapState('Ticket06', {
                tripX: state => state.trip,
                startPoint : state => state.startPoint,
                routes : state => state.routes,
            }),
            color : function () {
                let tripStatus = this.trip.tripStatus;
                let totalSeat = this.trip.totalSeat;
                let totalEmptySeat = this.trip.totalEmptySeat;
                let background = '#9dc3fe';
                if(tripStatus>=2){
                    background = '#ffc7a6';
                    return background;
                }
                if(totalEmptySeat === 0){
                    background = '#7ddfc3';
                    return background;
                }
                return background;
            },
            ...mapGetters('Ticket06',[
                'mapRoutes'
            ]),
        }
    }
</script>
<style>
    .progress-q{
        position: relative;
        background: none;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.47px;
        font-weight: bold;
        width: 139px;
        font-family: Montserrat;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        float: left;
        color: #232731;
    }
    .progress-info{
        border: solid 2px transparent;
        padding: 6px;
    }
    .progress-info.progress-q-active{
        border: solid 2px #014886;
        border-radius: 4px;
    }
    .progress-bar-q {
        height: 100%;
        position: absolute;
        z-index: -1;
        top:0;
        border-radius: 4px;
    }
    .progress-bar-background-q {
        background: #ECEDF1;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -2;
        top:0;
        border-radius: 5px;
    }
    .progress-info-plus-trip:hover{
        background: #fff;
        color:#014886 ;
    }
    .progress-info-plus-trip{
        background: #ECEDF1;
    }
</style>