table.amlich tbody tr:first-child{
    display:none;
}
.thongke{
    text-align: center;
    padding: 10px;
}
.khungtrol{
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #FFF;
    width: 104px;
    margin: 0 auto 10px;
    z-index: 9;
    position: relative;
}
.solieu{
    margin-bottom: 15px;
    display: inline-block;
    font-size: 24px;
}

.thongke div.hr{
    border-top: 1px solid #ccc;
    position: absolute;
    top: 50%;
    height: 0;
    width: 100%;
}
.thongke .glyphicons i:before {
    color: #084388;
}
.thongke .money i:before {
    color: rgba(255, 131, 0, 0.85);
}
.m_bottom_20{
    margin-bottom: 20px;
}
.ht_event_calendar{
    background: #1f5ec3;
    margin-left: -18px;
    margin-right: -18px;
    padding: 10px 18px 10px 18px;
    color: #FFF;
}
.ht_event_calendar p {
    margin: 0 0 0;
    line-height: normal;
}
.section{
    padding: 8px;
    background: #FFF;
}
.d_none{
    display: none !important;
}
.modal_tao_lich_chay_xe .control-group{
    margin-bottom: 10px;
}
ul, ol {
    list-style: none;
}
.hr_list h3{
    font-weight: normal;
}
.hr_list h3 a {
    color: #424242;
}
.hr_list li.active h3 a{
    color: #184589;
}
.stripe_list li:not(:last-child) {
    position: relative;
    margin-right: 19px;
}
.hr_list > li:first-child {
    margin-left: 0;
}
.hr_list > li {
    float: left;
}
.stripe_list li:not(:last-child)::after {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background: #c7cccf;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: -10px;
}
.table_in_modal{
    width: 100%;
}
.table_in_modal td{
    width: 25%;
}
.table_in_modal tr td:first-child,
.table_in_modal tr td:nth-child(3)
{
    padding-bottom: 8px;
}
.header_modal{
    background: #40558e;
    padding: 8px !important;
}
.header_modal h3{
    color: #FFF;
    text-shadow: none;
    font-size: 16px;
    font-weight: normal;
}
.heading_top{
    background: #FFF;
    padding: 15px;
    border-bottom: 3px solid #dadbdd;
}
.widget {
    background: none;
}
.ui-widget-header {
    background: none;
    color: #000;
    border: 0;
}
.ui-datepicker-inline {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.75);
}
.chontuyen{
    width: 100%;
}
.khung_lich_ve{
    background: #f5f5f5;
    padding-top: 3px;
    padding-left: 0px;
}
.heading_top h3{
    margin-bottom: 0;
}
.bieudo h4{
    font-weight: normal;
}
.date_picker h4{
    font-weight: normal;
}
.separator.bottom , #content {
    background: none;
    transition: 0.5s;
}
body {
    background: #f5f5f5;
}
.bieudo .widget.widget-4 .widget-head,
.date_picker .widget.widget-4 .widget-head {
    border-bottom: 0;
    background: none;
}
.p_right_30{
    padding-right: 30px;
}
.t_align_r{
    text-align: right;
}
.panel_l h3{
    margin-right: 0;
    color: #315795;
}
.bg_blue{
    background: #6e89b0;
}
.btncustom{
    margin-top: 15px !important;
    border: 0;
    width: 100%;
    height: 30px;
    background: #053162;
    color: #FFF !important;
}
.btncustom:hover{
    background: #375a81;
}
.avatar{
    height: 210px;
    width: 170px;
    border: 1px dashed #999;
    overflow:hidden;
}
.avatar img{
    width:100%;
    height: 100%;
}
#logo{
    height: 250px;
    width: 250px;
    border: 1px dashed #999;
    overflow:hidden;
}
#logo img{
    width:100%;
    height: 100%;
}
#hotline-logo{
    margin-left: 65%;
    line-height: 0.5;
    margin-top: 50px;
}
#hotline-logo h2,#hotline-logo h5{
    line-height: 0.5;
    text-align: center;color: #5e6060;opacity: 0.5
}
/* .row-fluid [class*="span"] {
    margin-left: 2.564102564102564%;
} */
.tttk{
    width: 100%;
}

.tttk tr th{
    width: 30%;
    padding-right: 10px;
    text-align: right;
}
.tttk#table-info-vehicle tr th{
    width: 46%;
}
.table_t_align_l tr th{
    text-align: left;
}
.tttk tr:nth-child(odd){
    background: #eaeff2;
}
.tttk tr:nth-child(even){
    background: #f4f6f9;
}
.tttk tr td:first-child{
    width: 30%;
    padding-right: 10px;
    text-align: right;
}

.tttk tr td:last-child{
    width: 70%;
    padding-left: 10px;
    text-align: left;
}
.bg_light{
    background: #f4f6f9;
}
.p_10{
    padding: 10px;
}
.bg_light .separator.bottom {
    background: none;
}
.frm_changepass input{
    width: 94% !important;
    border: 0;
    border-bottom: 1px solid #0CF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}
i.icon_left:before {
    left: 10px !important;
    right: auto !important;
    top: 11px !important;
    font-size: 17px;
    color: #c4c4c4;
}
.m_left_30{
    margin-left: 30px;
}
.m_left_10{
    margin-left: 10px;
}
.btn_huy_modal{
    color: #666;
    padding: 5px;
    margin-right: 15px;
}
.modal-body p{
    font-size: 14px;
}
.btn_dongy{
    background: #f7941d;
    border: 1px solid #f7941d;
    border-radius: 0;
    padding-top: 8px;
}
.btn_dongy:hover{
    border: 1px solid #37a6cd;
}
.btn-flat{
    border-radius: 0!important;
}
.btn-flat-full{
    border-radius: 0!important;
    width: 100% !important;
}
.w_full{
    width: 100% !important;
}

.modal_logout{
    width: 250px;
    margin-left: -150px;
    margin-top: 150px;
}
.navbar .btn{
    margin-top: 0;
}
.modal-footer {
    background: none !important;
    border-top: 0;
}
.alert {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
}
.table th, .table td {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    padding: 2px 10px;
}
.table{
    border-bottom: 2px solid #ddd;
}
.khoangcach{
    margin-top: 30px;
    margin-bottom: 20px !important;
}
.gachlon{
    height: 5px;
    border-top: 3px solid #eee;
}
.gachnho{
    height: 1px;
    border-top: 1px solid #CCC;
    border-bottom: 0;
}
.btn_timkiem{
    background: #FFF;
    border-radius: 0;
    margin-left: -8px;
    border-left: 0;
}
h3.glyphicons,
.span8 > h3,
h3.glyphicons i:before, h2.glyphicons i:before {
    color: #1f498d;
    font-weight:normal;
}
.navbar.main {
    height: 30px;
    background-color: #084388;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: relative;
}
.hidden-print img{
    position: absolute;
    right: 45%;
    top: -1px;
}
.navbar.main .topnav ul {
    margin: 0px;
    padding: 0;
    list-style: none;
}
.navbar.main .topnav {
    border-left: 0;
}
.navbar.main .topnav > li {
    border: 0;
}
.navbar.main .topnav > li > a.glyphicons i:before, .navbar.main .topnav > li .notif li > a.glyphicons i:before {
    color: #FFF;
    font-size: 17px;
    top: 6px;
    left: 10px;
}
.navbar.main .topnav > li > a, .navbar.main .topnav > li .notif li > a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 0 10px;
}
.navbar.main .topnav > li.open > a, .navbar.main .topnav > li .notif li.open > a {
    background: none;
    border: 0;
    top: 0;
}
.log-arrow-up {
    background: url(../images/arrow-up.png) no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 15px;
    top: -10px;
}
.ht_noti_count{
    position: absolute;
    background: orange;
    display: block;
    border-radius: 25px;
    height: 15px;
    line-height: 15px;
    font-size: 9px;
    width: 15px;
    text-align: center;
    right: 10px;
    top: 5px;
}
.navbar.main .topnav > li.open > a, .navbar.main .topnav > li .notif li.open > a {
    color: #FFF;
}
.txtsearch{
    margin-bottom: 0 !important;
}
.navbar.main .topnav > li .notif li.open .dropdown-menu {
    width: auto;
}
.navbar.main .topnav > li, .navbar.main .topnav > li .notif li {
    padding: 0 5px;
}
.navbar.main .btn-navbar {
    padding: 0;
    margin: 0;
    position: absolute;
    float: none;
    left: 10px;
    top: 2px;
    display: block;
    background: none;
    border: 0;
    -moz-border-radius: 0 0 0 0;
    color: #FFF;
}
.navbar.main .btn-navbar .icon-bar {
    background: #FFF;
}
.icon_close_menu{
    background:url(../images/icon_close_menu.png);
    height: 25px;
    width: 24px;
}
.icon_open_menu{
    background:url(../images/icon_open_menu.png);
    height: 25px;
    width: 24px;
}
.notification_app{
    background: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    color: #1d2129;
    width: 430px !important;
}
.ht_noti:hover{
    background: #FFF;
    cursor: pointer;
}
.ht_noti{
    float: left;
    position: relative;
    width: 100%;
    border-bottom:1px solid #ccc;
}
.header_noti {
    background-clip: padding-box;
    background-color: #fff;
    border-bottom: solid 1px #dddfe2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 10px 0;
    z-index: 100;
}
.uiHeaderTitle{
    color: #333;
    font-size: 12px;
    margin-bottom:0;
}
.noti_body{
    position: relative;
}
.ht_img{
    float: left;
    width: 70px;
}
.date_noti{
    position: absolute;
    right: 15px;
    top: 2px;
}
.ht_img img{
    position: relative;
    display: inline-block;
    left: 13px;
    top: 13px;
}
.ng_noti{
    width: 355px;
    float: right;
}
.ng_noti p{
    margin-top: -10px;
}
.infor_account li{
    height: 39px !important;
    width: 210px;
}
#menu,
#menu #menuInner {
    width: 234px;
    transition: 0.5s;
}
#menu #menuInner {
    border-right: 0;
    box-shadow: none;
    background: #343d46;
}
#menu .slim-scroll > ul li.active > a {
    background: #1f252a;
}
#menu .slim-scroll > ul li.hasSubmenu.active {
    background: #343d46;
    border-bottom: 0;
}
#menu .slim-scroll > ul ul li a.glyphicons i:before {
    color: #8597b4;
    top: 13px;
}
#menu .slim-scroll > ul li.glyphicons a i:before {
    color: #FFF;
}
#menu .slim-scroll > ul li a.glyphicons i:before {
    color: #8597b4;
}
#menu .slim-scroll > ul >li.active > a.glyphicons > i:before {
    color: #fff;
}
.bq{
    color: #8597b4;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#menu > ul li.hasSubmenu.active a, #menu .slim-scroll > ul li.hasSubmenu.active a {
    display: block;
    width: auto;
    border-bottom: 1px solid #455059;
    margin: 0;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    font-size: 13px;
    padding: 0 0 0 50px;
}
#menu .hasSubmenu.active a span.dcjq-icon {
    transform: rotate(90deg);
    margin-right: 4px;
}
#menu .slim-scroll > ul li.hasSubmenu.active {
    padding: 0 0 0;
}
#menu > ul li a, #menu .slim-scroll > ul li a {
    color: #8597b4;
}
#menu .slim-scroll > ul:first-of-type {
    border-top: 0;
}
#menu > ul li, #menu .slim-scroll > ul li {
    border-bottom: 0;
}
#menu .slim-scroll > ul li a {
    border-bottom: 1px solid #455059;
}
#menuInner>img{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.bg_light{
    background: #FFF;
}
.bienso_xe{
    border: 1px solid;
    padding: 3px;
    font-weight:bold;
}
.khung_makhuyenmai{
    border: 1px solid #40558c;
    padding: 3px;
    font-weight:bold;
    color: #40558c;
}
.m_top_10{
    margin-top: 10px;
}
ul.chontang,
ul.chonbanve
{
    border-right: 0 !important;
}
ul.chontang li a,
ul.chonbanve li a
{
    background: #FFF;
    border: 0 !important;
}
ul.chontang li.active,
ul.chonbanve li.active
{
    border-bottom: 1px solid #084388 !important;
}
.khungxe .ghecuakhach{
    cursor: pointer;
}
.khungxe{
    position: relative;
    width: 100%;
    background:#525050;
    padding: 5px;
    float: left;
    margin-bottom: 10px;
}
.taixe{
    width: 29px;
    height: 29px;
    background-size: 26px 23px;
    background: #FFF url(../../images/icon_tx.png) no-repeat center;
    border: 1px solid #00aeef;
    float: left;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0);
}
.taixe2{
    background: #FFF url(../../images/icon_tx2.png) no-repeat center;
    background-size: 100px 100px;
    border: 1px solid #00aeef;
    float: left;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0);
}
.cuaxe{
    width: 29px;
    height: 29px;
    background: #fff url(../../images/icon_cua.png) no-repeat center;
    background-size: 34px 35px;
    float: left;
    margin-bottom: 6px;
    color:  rgba(255, 255, 255, 0);
}
.cuaxe2{
    background: #fff url(../../images/icon_cua2.png) no-repeat center;
    background-size: 100px 100px;
    float: left;
    margin-bottom: 6px;
    color:  rgba(255, 255, 255, 0);
}
.duongke_ngang{
    width: 29px;
    height: 17px;
    padding-top: 15px;
    float: left;
    margin-right: 5px;
}
.duongke_doc{
    width: 19px;
    height: 31px;
    padding-top: 0;
    float: left;
    padding-left: 15px;
}
.duongke_doc2{
    width: 21px;
    height: 31px;
    padding-top: 0;
    float: left;
    padding-left: 10px;
}
.gach_dut_ngang{
    width: 100%;
    background: url(../../images/gachngang.png);
    height: 2px;
    background-size: contain;
}
.gach_dut_doc{
    height: 100%;
    background: url(../../images/gachdoc.png);
    width: 2px;
}
.gach_dut_docngang{
    width: 100%;
    background: url(../../images/gachdut_docngang.png);
    height: 29px;
    background-position-y: 23px;
    background-position-x: 30px;
}
.gach_dut_docngang2{
    width: 100%;
    background: url(../../images/gachdut_docngang2.png);
    height: 33px;
    background-position-y: 33px;
    background-position-x: 28px;
}
.ghecuakhach{
    width: 22px;
    height: 20px;
    border: 1px solid #00aeef;
    float: left;
    margin-right: 3px;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.ghe{
    width: 30px;
    height: 28px;
    text-transform: uppercase;
    border: 1px solid #00aeef;
    float: left;
    margin-right: 3px;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}


.ghephuxe{
    background: #FF9900;
    color: #FFF;
}
.ghedadat{
    background: #ed1b24;
    color: #FFF;
}
.ghegiucho{
    background: #ffff00;
    color: #000;
}
.ghetrong{
    background: #00a652;
    color: #FFF;
}
.giuongnam{
    background: #002ca6;
    color: #FFF;
}
.loidi{
    background: none;
    /*height: 10px !important;*/
    border-color: #e1e1e1;
}
.loidi-noboder{
    border: 1px solid rgba(225, 225, 225, 0);
    background: none;
}
.nhavesinh{
    background: #0B90C4;
    color: #FFF;
}

/*.ghedangchon{*/
    /*!*background: rgb(250, 249, 99) url(../../images/stick.png) no-repeat;*/
    /*background-size: 23px 18px;*/
    /*background-position-x: 4px;*/
    /*background-position-y: 7px;*/
    /*color: #b6b721;*!*/
    /*background-color: #084388;*/
/*}*/
.m_right_0{
    margin-right: 0;
}
#star{color :red;}
.dcjq-icon {
    height: 17px;
    width: 17px;
    display: inline-block;
    background: url(../../images/right-arrow.png) no-repeat top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 15px;
}
#menu > ul li a:hover, #menu .slim-scroll > ul li a:hover {
    background: #1f252a;
}
.ghichu_datghe{
    float: left;
}
.ghichu_datghe_inline .title_ghichu_datghe{
    width: auto;
    margin-right: 10px;
}
.title_ghichu_datghe{
    float: left;
    width: 97px;
}
.gc_ghe{
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
}

a.gc_ghe{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
a.gc_ghe.active{
    opacity: 0.6;
    border: 3px solid #d31000;
    height: 21px;
    width: 21px;
}
.gc_giucho{
    background: #ffff00;
}
.gc_hethan{
    background: #6b6b6b;

}
.gc_dachon{
    background: #084388;
}
.gc_dadat{
    background: #ed1b24;
}
.gc_trong{
    background: #00a652;
}
.gc_cua{
    background: #ffff00;
}
.gc_ghe_tai{
    background: #ed1b24;
}
.gc_ghe_phu_xe{
    background: #FF9900;
}
.gc_ghe_khach{
    background: #00a652;
}
.gc_giuong{
    background: #002ca6;
}
.gc_nha_ve_sinh{
    background: #0B90C4;
}
.gc_loi_di{
    background: #bdbdbd;
}
.dang_di{

    height: 8px;
    width: 8px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    background: #ed1b24;
}
.dang_nghi{
    height: 8px;
    width: 8px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    background: #00a652;
}
.no_border{
    border: 0 !important;
}
.f_left{
    float: left;
}
.border_bottom{
    border-bottom: 1px solid #c2c2c2;
}
.p_bottom_0{
    padding-bottom: 0;
}
.banve_thongtintinve h3,
.banve_thongtinkhachhang h3
{
    font-size: 14px;
    color: #40558d;
    border-bottom: 1px solid #dddddd;
    margin: 0 0 7px;
}
.tb_banve_thongtintinve,
.tb_banve_thongtinkhachhang
{
    width: 100%;
}
.tb_banve_thongtintinve tr td:first-child,
.tb_banve_thongtinkhachhang tr td:first-child
{
    text-align: right;
    color: #616875;
    padding-right: 10px;
    width: 40%;
    font-weight: 600;
}
.tb_banve_thongtintinve tr td:last-child,
.tb_banve_thongtinkhachhang tr td:last-child
{
    text-align: left;
    color: #919191;
    padding-left: 10px;
    width: 60%;
}
.color_dark{
    color: #000;
}
.m_bottom_0{
    margin-bottom: 0 !important;
}
.quantity.type_2 input[type="text"] {
    width: 40px;
    border: 1px solid #e1e4e6;
    border-left:0;
    border-right:0;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    font-style: normal;
    height: 23px;
    font-weight: bold;
    background: #FFF;
    margin-bottom: 0;
}
.quantity > button {
    width: 33px;
    height: 33px;
    border: 1px solid #e1e4e6;
    background: #ffffff;
}
.quantity > button:hover {
    background: #40558d;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 15px;
    margin-bottom: -3px;
    margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    border: 1px solid #CCc;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.ht_tongtien{
    background: #eaeff2;
    height: 50px;
}
.color_blue_2{
    color: #40558d !important;
}
.fw_ex_bold{
    font-weight: bold;
}
.fs_large{
    font-size: 18px;
}
.p_0{
    padding: 0;
}
.d_block{
    display: block;
}
.p_bottom_20{
    padding-bottom: 20px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .1em; left: .2em;
    font-size: 1.5em;
    line-height: 0.8;
    color: #2E6BD0;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
.m_left_80{
    margin-left: 80px;
}
.m_left_98{
    margin-left: 98px;
}
.m_right_10{
    margin-right: 10px;
}
.m_top_0{
    margin-top: 0 !important;
}
.frm_chonanh.span4{
    margin-top: 5px;
    margin-left:0;
}
.chonanh{
    height: 210px;
    width: 170px;
    border: 1px dashed #999;
    overflow:hidden;
}
.chonanh img{
    width:100%;
    height: 100%;
}
div.ht_tongtien{
    padding: 19px 167px 0 79px;
    background: #eaeff2;
    height: 40px;
}
.khung_hinh_thongtinsp{
    width: 100%;
    border: 2px solid #1b4686;
    background: #f8f9fb;
}
.khung_hinh_thongtinsp img{
    max-width: 100%;
}
.control-box{
    background-color: #dedfe1;
    padding: 10px;
    margin: 10px 0;
}
.widget.widget-tabs-2 > .widget-head ul li a {
    color: #919191;
}
.widget.widget-tabs-2 > .widget-head ul li a:hover {
    color: #084388;
}
.widget.widget-tabs-2 > .widget-head ul li.active a{
    color: #084388;
}
/* The necessities */
.onclick-menu {
    position: relative;
    display: inline-block;
    font-size: 15px !important;
    padding: 10px !important;
}

.onclick-menu:focus {
    pointer-events: none;
    text-decoration: none;
    border-radius: 20px;
    background-color: #bbbaba;
}

.onclick-menu:focus .onclick-menu-content {
    opacity: 1;
    visibility: visible;
}

.onclick-menu-content {
    pointer-events: auto;
    position: absolute;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -webkit-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
}

.onclick-menu.no-pointer-events {
    pointer-events: auto !important;
}

.onclick-menu.no-visibility .onclick-menu-content {
    visibility: visible !important;
    display: none;
}

.onclick-menu.no-visibility:focus .onclick-menu-content {
    display: block;
}

.onclick-menu.no-opacity .onclick-menu-content {
    opacity: 1 !important;
}

/*
Eye candy
( colors courtesy of https://kuler.adobe.com/try-color-theme-3350110 )
*/
.onclick-menu {
    padding: 0;
    margin: 0 0 0 0;
    outline: 0;
}
.onclick-menu-content {
    background-color: #fff;
    width: auto;
    margin-top: 5px;
    margin-left: -60px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.75);
}

/* arrow for the expanding part */
/*.onclick-menu-content:before {
	content: "";
	width: 0;
	height: 0;
	right: 50px;
	border-bottom: 10px solid #ccc;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	top: -10px;
}
*/
.onclick-menu-content li {
    color: #767b7f;
    list-style-type: none;
    white-space: nowrap;
}

/* style the buttons */
.onclick-menu-content button,.onclick-menu-content a {
    background: transparent;
    border: none;
    color: inherit;
    /*cursor: inherit;*/
    outline: 0;
    cursor: pointer;
    padding: 10px 10px;
    width: 100%;
    text-align: left;
}
.onclick-menu-content button:hover, .onclick-menu-content a:hover{
    background: #edeef3;
}

.accordion-heading{
    background-color: #b3a9ea;
}
.accordion-heading a{
    color: #333;
}
/*custom modal  */
.modal-custom{
    border:none;
}
.modal-custom .modal-header{
    background-color: #084388;
    padding: 8px 0;
}

.modal-custom .modal-header h3,.modal-header button{
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
}
.modal-custom .modal-header button.close{
    font-size: 30px;
}
.p_right_15{
    padding-right: 15px;
}
.chonngay{
    width: 110px;
}
.than-thiet{
    color: #084388;
    font-weight: bold;
}
.than-thiet:after{
    content: '★';
    color: #ffdd57;
    font-size: 25px;
}
.than-thiet:before{
    content: '★';
    color: #ffdd57;
    font-size: 25px;
}
.relative{
    position: relative;
}
.khung_absolute{
    position: absolute;
    width: 180px;
    top: 5px;
    z-index: 999;
}
.no_last tr td:last-child {
    width: auto;
}
.m_left_40{
    margin-left: 40px;
}
.tb_dcx{
    background: #f4f5f9;
    width: 100%;
    margin-bottom: 15px;
    min-height: 110px;
}
.tb_dcx .label_tb_dcx{
    padding-bottom: 10px;
}
.tb_dcx tr td:nth-child(1){
    text-align: right;
    padding-right: 10px;
}
.tb_dcx tr td:nth-child(2){
    text-align: left;
    padding-left: 10px;
    color: #909090;
}
.tb_dcx tr:nth-child(1) td{
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}
.tab_dcx .widget-head{
    border-bottom: 1px solid #eeeeee!important;
    height: auto!important;
    background: #FFF!important;
    line-height: 0!important;
}
.tab_dcx > .widget-head ul {
    border-right: 0 !important;
}
.tab_dcx ul li{
    border: 0!important;
    background: #f4f5f9 !important;
    margin-right: 10px;
}
.tab_dcx ul li.active{
    border: 1px solid #d1d2d3!important;
    border-bottom: 0!important;
    margin-right: 10px;
    background: #FFF !important;
}
.tab_dcx ul li a{
    color: #000!important;
}
.khung_chongoi{
    width: 100px;
    height: 260px;
    display: inline-block;
    margin-right: 30px;
}
.khung_chuyencho{
    width: 100px;
    height: 260px;
    display: inline-block;
    margin-top: 180px;
}
.chu_thich{
    width: 140px;
    height: 260px;
    float: right;
}
.m_right_5{
    margin-right: 5px;
}
.ghe_xanh{
    border: 1px solid #8fa86e;
    background: #5e8131;
    color: #FFF;
}
.daugach{
    background-position-y: 14px;
    background-size: 28px 2px;
    background: url(../../images/daugach.png) no-repeat;
    height: 22px;
}
.ghe_xam{
    border: 1px solid #f2f2f2;
    background: #bbbbbb;
    color: #FFF;
}
.ghe_den{
    border: 1px solid #afafaf;
    background: #666666;
    color: #FFF;
}
.ghe_do{
    border: 1px solid #f61708;
    background: #FFF;
    color: #000;
}
.ghe_ngoi{
    float: left;
    font-size: 12px;
    padding: 3px 10px 3px 5px;
    width: 11px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.khung_chongoi .ghe_ngoi:nth-child(3n),
.khung_chuyencho .ghe_ngoi:nth-child(3n)
{
    margin-right: 0;
}
.table tr:hover{

}
.table tr.active{
    border-left: 6px solid #084388;
    color: #084388;
    background-color: rgba(25, 68, 138, 0.18);
}
.table-thuchi tbody th{
    color: #0b2c89;
}
.table .total th,.disable_td,.table .total td{
    background-color: #dedfe1 !important;
}
.table .total th{
    color: #9c4d2e;
}
.table .total td{
    color: #0b2c89;
    font-weight: bold;
}
.f_right{
    float: right;
}
.m_top_15{
    margin-top: 15px;
}
.m_left_20{
    margin-left: 20px;
}
.btn_chuyencho{
    width:220px;
    border-radius:0;
    margin-top:10px;
    margin-bottom:10px;
}
.btn-activate{
    color: #0b2c89 !important;
}
.frm_themmoi .control-label {
    width: 60px;
}
.frm_themmoi .controls {
    margin-left: 70px;
}
#dong-moc{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 59%;
}
.tb_themmoi tr td{
    height: 30px;
}
.tb_themmoi tr td:nth-child(2),
.tb_themmoi tr td a
{
    color: #084388;
    font-weight:bold;
}
.tb_themmoi tr td .onclick-menu{
    color: #000;
}
.timeline thead tr th:first-child
{
    padding: 0.5px;
    border-bottom: 0;
}
.timeline tbody tr td:first-child{
    padding: 0.5px;
    border-bottom: 1px solid #084388;
    width: 1px;
    position: relative;
}
.timeline tbody tr td div {
    content: "";
    width: 6px;
    height: 6px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: -4px;
    top: 21px;
    visibility: visible;
    z-index: 1;
    border: 2px solid #084388;
    background: #fff;
}
.timeline tbody tr:first-child td div {
    border: 2px solid #1f1f1f;
    background: #1f1f1f;
}
.timeline tbody tr{
    float: none;
    width: auto;
    padding-left: 200px;
    margin-bottom: 0;
    padding-bottom: 40px;
    background: url(../../images/timeline_right.png) no-repeat -43px top;
}
.timeline tbody tr.tool td div{
    display: none;
}
.timeline tbody tr:first-child{
    background: url(../../images/timeline_right.png) no-repeat -43px 22px;
}
.timeline tbody tr:last-child td div{
    width: 0;
    height: 0;
    border: 0;
}
.timeline tbody tr:last-child td div i{
    left: -2px;
    top: -3px;
    position: absolute;
}
.timeline tbody tr:last-child,
.timeline tbody tr:hover td:first-child{
    background: url(../../images/timeline_right.png) no-repeat -43px -977px;
}
.timeline tbody tr:first-child td:first-child {
    background: url(../../images/timeline_right.png) no-repeat -43px 22px;
}
.m_bottom_10{
    margin-bottom: 10px;
}
.c_pointer{
    cursor: pointer;
}
.logo-user {
    padding: 10px;
    text-align: center;
}
.logo-user img {
    width: 250px;
}
#loading{
    display: none;
}
.loading{
    display: inline!important;
    background: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    text-align: center;
}
.loading img{
    width: 150px;
    margin-top: 10%;
}
.btn-report
{
    width: 100px;
    height: 30px;
}
.btn-group.btn-report{
    margin-left: -2px;
}
.export-btn .dropdown-menu{
    left:-60px;
    text-align: left;
}
.export-btn .dropdown-menu a{
    cursor: pointer;
}
.giatuyen th,.table.giatuyen td{
    border: 1px solid #6b6b6b;
}
.giatuyen th,.table.giatuyen tr>td:first-child{
    background-color: #d5d5d5;
}
.giatuyen th:first-child,.giatuyen td.giarong{
    background-color: white;
}
.giatuyen td.khongban{
    background-color: #ff8c87;
}
.giatuyen td.dacogia{
    /*background-color: #b1ffa8;*/
    background-color: white;
}

.giatuyen td.chuacogia{
    background-color: #ffc985;
}
.giatuyen .onclick-menu {
    padding: 3px !important;
}
.input-append > select{
    width: 5.5em;
    background-color: #f5cfdf;
    border-radius: 0 5px 5px 0;
}

.table-hover-ticket tbody tr:hover {
    border-left: 6px solid #084388;
    color: #000000;
}

.dangchay {
    background-color: #FFAB40;
}

.ketthuc {
    background-color: #D7CCC8;
}

.chuanbi {
    background-color: #DD2C00;
    font-weight: bold;
    color: #fff;
}

.chuachay {
    background-color: #ffffff;
    border: 1px solid;
}

.input-tips {
    position: relative;
    margin: 0 0 30px 0;
}

.input-tips label {
    position: absolute;
    right: 10px;
    transition: all 0.5s;
    overflow: hidden;
    color: #999;
    white-space: nowrap;
    opacity: 0.7;
    top: 4px;
}

.input-tips input[type=number] + label {
    right: 25px;
}

.CustomerPhoneNumber {
    font-size: 1em;
    font-weight: bold;
}