.sign_up {
    background: #eef2f7;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
    min-width: 300px;
    max-width: 980px;
    min-height: 40px;
    position: relative;
    display: none;
    padding: 10px;
}

.close {
    background-image: url(../images/icon_close.png);
    width: 19px; height: 19px;
    overflow: hidden; line-height: 1000px;
    display: block;
    position: absolute; top: 5px; right: 5px;
}