body{background: #ddd}
.header{
    line-height: 50px;
    text-align: center;
    background: blue;
    position: fixed;
    width: 100%;
    color :#fff;
    z-index: 100;
}
.content{
    margin-top: 70px;
}
.q-box{
    background: #fff;
    border:1px solid #0b5fc6;
    margin: 10px auto;
    text-align: center;
}
.q-box:hover{
    box-shadow: 0px 0px 5px #0b5fc6;
}
.q-box-name{
    line-height: 50px;
    font-weight: bold;
    background: #0b5fc6;
    color: #fff;
}
.q-box-description{
    padding:5px;
}
.q-box-link{
    border: 1px solid #aaa;
    background: #fff;
    line-height: 30px;
    color:red;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 20px;
    margin: 10px;
    font-weight: bold;
}
.q-box-link:hover{
    background: #0cceb0;
    color: #fff;
}
.q-box-price{
    border-top: 1px solid #aaa;
    background: #ddd;
    line-height: 40px;
}
