.text-center {
    line-height: 30px;
}

.nav-list-ticket {
    border: 1px solid #ddd;
}

.title-list-ticket-active {
    background: #08c;
    font-weight: bold;
    font-size: 15px;
    color: #fff;

}

.table-list-ticket-active {

}

.trangthaighe {
    height: 5px;
    margin-top: -3px;
    float: left

}

.ghe {
    height: 230px;
    font-size: 1.2em;
    line-height: 1;
    padding: 0;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    width: 22vw;
}

.ghe:not(.loidi) {
    box-shadow: 0px 3px 19px #0003;
}

.ghetrong, .gc_trong, .gc_dachon {
    background: #FFFFFF;
    color: #333333;
}

.gc_trong {
    border: 1px solid #333333;
}

.ghedichuyen {
    opacity: 0.7;
}

.ghegiucho, .gc_giucho {
    background: #FFEEC8;
    color: #333333;
}

.ghechuyenden {
    background: #ddd;
}

.ghedadat, .gc_dadat {
    background-color: #137491;
    color: #ffffff;
}

.ghelenxe {
    background: #00aa00;
    color: #fff;

}

.ghelenxe .ticketInfo-getinpoint {
    background: #002ca6;
    color: #fff;
}

.ghedangchon, .gc_dachon {
    border: 3px solid #ef3409 !important;
}

.gc_dachon {
    border: 1px solid #2E6BD0 !important;
}

.thanhtoan {
    background-color: #ffc239 !important;
    color: #137491 !important;
    font-weight: bold;
}

.ticketInfo-tool {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.ticketInfo-tool div:first-child {
    border: 1px solid;
    padding: 5px;
    margin-right: 10px;
}

.ticketInfo-tool div:last-child button, .ticketInfo-tool div:last-child a {
    width: 2.5em;
    height: 2.5em;
    border-radius: 20px;
    margin-right: 0.4em;
    border: 1px solid #2E6BD0;
    font-size: 0.7em;
}

.ticketInfo-tool div:last-child button:last-child, .ticketInfo-tool div:last-child a:last-child {
    margin-right: 0;
}

.ticketInfo-tool .btn {
    padding: 0;
}

.ticketInfo-getinpoint {
    height: 20px;
    background-color: #35AE2C;
    text-align: center;
    margin: 0 -3px 10px;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: none;
    padding-top: 5px;
}

.ghelenxe .ticketInfo-getinpoint {
    height: 20px;
    background-color: #FFEEC8;
    text-align: center;
    margin: 0 -3px 10px;
    font-size: 12px;
    color: #00aa00;
    text-transform: none;
    font-weight: bold;
    padding-top: 5px;
}

.btn.btn-primary, .btn.btn-inprimary:hover {
    color: #2E6BD0;
    background: #ffffff;
    border-width: 2px;
    border-color: #2E6BD0;
    text-shadow: none;
}

.btn.btn-primary:hover, .btn.btn-inprimary {
    background: #2E6BD0;
    color: #ffffff;
    border-width: 2px;
    border-color: #ffffff;
    text-shadow: none;
}

.tripInfo {
    position: relative;
}

.tripInfo img.daxuatben {
    position: absolute;
    left: 40%;
    top: 10px;
}

.tripInfo div:only-child {
    background-color: #DBE8FF;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
}

i.fas.fa-phone {
    transform: rotate(100deg);
}

#vehicleInfo p, #ticketInfo p {
    font-size: 14px;
}

.ticketInfo-content {
    text-transform: none;

}

.ticketInfo-content p {
    margin: 0 10px;
    font-size: 0.7em;
    line-height: 1.4em;
    overflow: auto;
}

.ticketInfo-content i.fas.fa-dollar-sign {
    font-size: 20px;

}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.input-append button:first-child, .input-append input:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.input-append input {
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.select2-container--default .select2-selection--single {
    border-radius: 4px;
}

.heading_top {
    padding: 10px 20px;
    background-color: #2E6BD0
}

#ui-datepicker-div {
    z-index: 10001 !important
}

.seatmaptable tr td {
    width: 40px;
    height: 40px;
    text-align: center;
}

.cantmove {
    background: #aaa;
}

.special {
    background: #F44336;
}

@media (max-width: 425px) {
    .ghe {
        width: calc(100% - 20px) !important;
    }
}

@media (max-width: 768px) and (min-width: 424px) {
    .ghe {
        width: calc(50% - 20px) !important;
    }
}

@media (max-width: 768px) {
    .btnPrintTicket {
        display: none;
    }

    /*.btnFlashSell {*/
    /*display: none;*/
    /*}*/

    /*.btnSellTicket {*/
    /*display: none;*/
    /*}*/

    /*.makeCall {*/
    /*display: none;*/
    /*}*/

    /*.editTicket {*/
    /*display: none;*/
    /*}*/

    .btnTransferTicket {
    display: none;
    }

    /*.btnFlashMoveSeat {*/
    /*display: none;*/
    /*}*/
    .ghe.loidi{display:none;}
    #sell_ticket{
        width:90%!important;
        margin-left:2% !important;
        height:400px !important;
        overflow-y: scroll !important;
    }
    #sell-ticket .modal-body{
        overflow-y: inherit !important;
        max-height:initial !important;
    }
}

.padding40 {
    padding-left: 40px;
}

.ui-autocomplete-loading {
    background: url('/public/images/loading/loading.gif') no-repeat right center;
    background-size: 20px 20px;
}