<template>
    <section class="List_Request_Reception" style="margin-bottom: 100px">
        <div class="wrap-title-header-lrr">
            <div class="container">
                <h5 class="tittle-header-lrr">Tiếp nhận yêu cầu nhận hàng</h5>
            </div>
        </div>
        <div class="header-info-lrr">
            <div class="container">
                <h6>Chi nhánh: <span>{{room?room.name:''}}</span></h6>
                <h6>Nhân viên tiếp nhận: <span>{{userInfo.userInfo.fullName}}</span></h6>
            </div>
        </div>
        <div class="wrap-box-create-request">
            <div class="container">
                <div class="box-create-request">
                    <h5>THÊM YÊU CẦU NHẬN HÀNG</h5>
                    <div class="row">
                        <div class="col form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">SDT
                                người gửi</label>
                            <el-autocomplete :trigger-on-focus="false" popper-class="my-autocomplete" class="w-100"
                                            v-model="goodsAdd.sender.phoneNumber"
                                            type="number"
                                            max="1000000000"
                                            :fetch-suggestions="querySearchPhoneNumber" placeholder="Please input"
                                            @select="handleSelectPhoneNumber">
                                <i class="fa fa-phone el-input__icon" slot="suffix"></i>
                                <template slot-scope="{ item }">
                                    <div class="value">{{ item.phoneNumber }} - {{ item.customerName }}</div>
                                </template>
                            </el-autocomplete>
                        </div>
                        <div class="col-2 form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Tên
                                người gửi</label>
                            <el-input v-model="goodsAdd.sender.name"></el-input>
                        </div>
                        <div class="col form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Nội dung
                                yêu cầu</label>
                            <el-input v-model="goodsAdd.note"></el-input>
                        </div>
                        <div class="col form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Hình thức vận chuyển</label>
                            <select-transport-type class="w-100" v-model="goodsAdd.transportType"></select-transport-type>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Địa chỉ
                                đến nhận hàng</label>
                            <el-input
                                    v-model="goodsAdd.collection.address"
                            >
                            </el-input>
                        </div>
                        <div class="col-2 form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Khu
                                vực</label>
                            <select-region
                                    v-model="goodsAdd.collection.regionInfo"
                                    :department="departmentEnum.TRANSSHIPMENT"
                                    :findAddress="goodsAdd.collection.address"
                                    :value="goodsAdd.collection.regionInfo"
                            ></select-region>
                        </div>
                        <div class="col form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Thời
                                gian hẹn nhận hàng</label>
                            <div class="box-create-request__info__wrap">
                                <div class="row no-gutters">
                                    <div class="col-auto" style="width: 100px;">
                                        <el-time-picker class="w-100" v-model="goodsAdd.collection.time"
                                                        format="HH:mm" value-format="HH:mm"></el-time-picker>
                                    </div>
                                    <div class="col">
                                        <el-date-picker class="w-100" v-model="goodsAdd.collection.date" :picker-options="options"
                                                        format="dd-MM-yyyy" value-format="yyyyMMdd"></el-date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col form-group">
                            <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Nhân
                                viên nhận hàng</label>
                            <select-user :allow-empty="true" class="w-100" v-model="goodsAdd.collection.courier"></select-user>
                        </div>
                    </div>
                    <div class="box-btn-save">
                        <a href="javascript:void(0)" class="btn-save-request" @click="addCollection()"><i class="fas fa-plus-circle"></i>Lưu yêu
                            cầu nhận hàng</a>
                    </div>
                </div>
                <div class="box-quick-luckup" v-bind:class="{open: this_open}">
                    <el-collapse accordion>
                        <el-collapse-item name="1">
                            <template slot="title">
                                <div class="box-header-quick-luckup" v-on:click="this_open = !this_open">
                                    <div class="box-header-quick-luckup-left">
                                        <i class="fas fa-th-large icon_quick_luckup"></i><h6>Tra cứu cước nhanh</h6>
                                    </div>
                                    <div class="box-header-quick-luckup-right">
                                        <i class="fas fa-chevron-left" v-if="this_open === false"></i>
                                        <i class="fas fa-chevron-right" v-if="this_open === true"></i>
                                    </div>
                                </div>
                            </template>
                            <div class="box-content-quick-luckup">
                                <div class="row">
                                    <div class="col-6">
                                        <h6>Loại hàng</h6>
                                        <selectuser></selectuser>
                                        <h6>Bến lên</h6>
                                        <selectuser></selectuser>
                                        <el-checkbox v-model="checked" class="check-at-home">Giao hàng tại nhà
                                        </el-checkbox>
                                    </div>
                                    <div class="col-6">
                                        <h6>Trọng lượng</h6>
                                        <div class="box-input-weight-ql">
                                            <el-input></el-input>
                                            <span>kg</span>
                                        </div>
                                        <h6>Bến xuống</h6>
                                        <selectuser></selectuser>
                                        <h6>Tiền cước ước tính</h6>
                                        <div class="box-fare-ql">
                                            <h5>0</h5>
                                            <h5>đ</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <h6 style="font-family: Cabin;font-size: 16px;line-height: 19px;color:#000">Danh sách yêu cầu</h6>
                </div>
                <div class="col text-right">
                    <el-date-picker v-model="goodsCollectionList.date" format="dd-MM-yyyy" value-format="yyyyMMdd"
                                    :clearable="false"></el-date-picker>
                    <select-region placeholder="Chọn khu vực" v-model="goodsCollectionList.region"></select-region>
                    <select-user :allow-empty="true" v-model="goodsCollectionList.courier"></select-user>
                    <el-button type="primary" icon="el-icon-search" @click="goodsCollectionList.getList()"> Tìm kiếm
                    </el-button>
                </div>
            </div>
        </div>
        <div class="wrap-item-search-lrr">
            <div class="container" v-loading="goodsCollectionList.loading">
                <template v-for="(goods,g) in goodsCollectionList.list">
                    <div class="item-search-lrr">
                        <div class="row">
                            <div class="col-2">
                                <div class="item-search-lrr__wrap">
                                    <h6>{{goods.sender.name}}</h6>
                                    <h5>{{goods.sender.phoneNumber}}</h5>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="item-search-lrr__wrap">
                                    <h6>{{goods.collection.regionInfo ? goods.collection.regionInfo.name : '&nbsp;'}}</h6>
                                    <h5>{{goods.collection.address }}</h5>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="item-search-lrr__wrap">
                                    <h6>{{goods.transportType ? goods.transportType.name : '&nbsp;'}}</h6>
                                    <h5 :title="goods.note ? goods.note : '&nbsp;'">{{(goods.note ? goods.note : '&nbsp;')|cutString(50)}}</h5>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="item-search-lrr__wrap">
                                    <h6>NV nhận hàng</h6>
                                    <h5>{{goods.collection.courier ? goods.collection.courier.fullName : '&nbsp;'}}</h5>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="item-search-lrr__wrap--edit">
                                    <el-tooltip class="item" effect="dark" content="Tạo đơn hàng" placement="top">
                                        <a href="javascript:void(0)" @click="goToCreateGoods(goods)"
                                           class="item-search-lrr--create"><i class="fab fa-codepen"></i></a>
                                    </el-tooltip>
                                    <button class="btn btn-edit-lrr" @click="refreshGoodsEdit(goodsEdit&&goodsEdit.id===goods.id?null:goods)"><i class="fas fa-edit"></i></button>
                                    <a href="" class="item-search-lrr--delete"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 8px;margin-top: 8px;border-top: 1px solid #ddd;" v-if="goodsEdit&&goodsEdit.id === goods.id">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">SDT
                                            người gửi</label>
                                        <el-autocomplete popper-class="my-autocomplete" size="mini" class="w-100"
                                                        type="number"
                                                        max="1000000000"
                                                         v-model="goodsEdit.sender.phoneNumber"
                                                         :trigger-on-focus="false"
                                                         :fetch-suggestions="querySearchPhoneNumber"
                                                         @select="handleSelectPhoneNumberUpdate">
                                            <template slot-scope="{ item }">
                                                <div class="value">{{ item.phoneNumber }} - {{ item.customerName }}
                                                </div>
                                            </template>
                                        </el-autocomplete>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Tên
                                            người gửi</label>
                                        <el-input size="mini" v-model="goodsEdit.sender.name"></el-input>
                                    </div>
                                    <div class="col form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Nội
                                            dung yêu cầu</label>
                                        <el-input size="mini" v-model="goodsEdit.note"></el-input>
                                    </div>
                                    <div class="col form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Hình thức vận chuyển</label>
                                        <select-transport-type size="mini" class="w-100" v-model="goodsEdit.transportType"></select-transport-type>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Địa
                                            chỉ đến nhận hàng</label>
                                        <el-input
                                                size="mini"
                                                v-model="goodsEdit.collection.address"
                                        >
                                        </el-input>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Khu
                                            vực</label>
                                        <select-region
                                                size="mini"
                                                v-model="goodsEdit.collection.regionInfo"
                                                :department="departmentEnum.TRANSSHIPMENT"
                                                :findAddress="goodsEdit.collection.address"
                                                :value="goodsEdit.collection.regionInfo"
                                        >
                                        </select-region>
                                    </div>
                                    <div class="col form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Thời
                                            gian hẹn nhận hàng</label>
                                        <div class="box-create-request__info__wrap">
                                            <div class="row no-gutters">
                                                <div class="col-auto" style="width: 100px;">
                                                    <el-time-picker size="mini" class="w-100" v-model="goodsEdit.collection.time"
                                                                    format="HH:mm" value-format="HH:mm"></el-time-picker>
                                                </div>
                                                <div class="col">
                                                    <el-date-picker size="mini" class="w-100" v-model="goodsEdit.collection.date"
                                                                    format="dd-MM-yyyy"
                                                                    value-format="yyyyMMdd"></el-date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col form-group">
                                        <label style="font-size: 16px;line-height: 19px;color: #232731;font-family: Cabin;">Nhân
                                            viên nhận hàng</label>
                                        <select-user :allow-empty="true" class="w-100" size="mini" v-model="goodsEdit.collection.courier"></select-user>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <a href="javascript:void(0)" @click="updateCollection()" class="item-edit-lrr--btn">Lưu thay đổi</a>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>

    </section>
</template>

<script>
    import {Goods, GoodsCollectionList} from "../../class/goods_v2";
    import {mapState} from 'vuex';
    import SelectTransportType from './TransportType/SelectTransportType';
    import SelectRegion from '../Region/SelectRegion'
    import SelectUser from '../User/SelectUser'
    import { RegionDepartment } from "../../class/region";

    export default {
        components: {SelectTransportType, SelectRegion, SelectUser},
        data() {
            return {
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                filter: {
                    date: ""
                },
                checked: true,
                input: '',
                this_open: false,
                goodsCollectionList: new GoodsCollectionList(),
                goodsAdd: new Goods(),
                goodsEdit: null,
                workShifts: [],
                timer: null,
                departmentEnum: RegionDepartment.ENUM(),
                isEdit: 'edit'
            }
        },
        mounted: function () {
            this.getWorkShift();
            this.refreshGoodsAdd();
            this.goodsCollectionList.getList();
        },
        computed: {
            ...mapState({
                room: state => state.room,
                companyConfigData: state => state.CompanyConfig.companyConfigData,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            refreshGoodsAdd : function(){
                this.goodsAdd = new Goods();
                this.goodsAdd.office = this.room;
                this.goodsAdd.collection.time = new Date().customFormat('#hhhh#:#mm#');
                this.goodsAdd.collection.date = new Date().customFormat('#YYYY##MM##DD#');
            },
            refreshGoodsEdit : function(goods){
                this.goodsEdit = _.cloneDeep(goods);
            },
            addCollection (){
                let self = this;
                this.goodsAdd.collection.workShiftInfo = this.getWorkShiftApplied(func.timeToMs(this.goodsAdd.collection.time));
                this.goodsAdd.saveCollection({
                    before : function(){
                        self.load('addCollection')
                    },
                    success : function (res) {
                        self.refreshGoodsAdd();
                        self.goodsCollectionList.getList();
                        self.unload('addCollection')
                    },
                    error : function (err) {
                        self.unload('addCollection')
                    }
                })
            },
            updateCollection(){
                let self = this;
                this.goodsEdit.collection.workShiftInfo = this.getWorkShiftApplied(func.timeToMs(this.goodsEdit.collection.time));
                this.goodsEdit.saveCollection({
                    before : function(){
                        self.load('updateCollection')
                    },
                    success : function (res) {
                        self.refreshGoodsEdit(null);
                        self.goodsCollectionList.getList();
                        self.unload('updateCollection')
                    },
                    error : function (err) {
                        self.unload('updateCollection')
                    }
                })
            },
            getWorkShift: function () {
                let self = this;
                if (!self.$root.roles.WORK_SHIFT_GET_LIST) {
                    return false;
                }
                self.loading = true;
                let dataSend = {
                    page: 0,
                    count: 500,
                    department: 2
                };
                sendParam({
                    url: urlDBD(API.workShiftGet),
                    data: dataSend,
                    type: 'get',
                    success: function (data) {
                        self.workShifts = data.results.rs;
                        self.loading = false;
                    },
                    functionIfError: function (res) {
                        self.loading = false;
                    }
                });
            },
            getWorkShiftApplied(ms) {
                let self = this;
                let result = null;
                $.each(self.workShifts, function (w, ws) {
                    if (ws.startTime < ms && ms <= ws.endTime) {
                        result = ws;
                        return false;
                    }
                });
                return result;
            },
            goToCreateGoods(goods) {
                this.$router.push({name: "Goods02", params: {collection: goods}});
            },
            querySearchPhoneNumber: function (query, callback) {
                if (this.timer) {
                    clearTimeout(this.timer);
                }
                this.timer = setTimeout(function () {
                    sendParam({
                        url: urlDBD(API.goodsV2SearchCustomer),
                        type: 'get',
                        data: {
                            page: 0,
                            count: 5,
                            phoneNumber: query
                        },
                        success: function (data) {
                            callback(data.results.customers)
                        }
                    })
                }, 500);
            },
            handleSelectPhoneNumber: function (props) {
                this.goodsAdd.sender.phoneNumber = props.phoneNumber;
                this.goodsAdd.sender.name = props.customerName;
            },
            handleSelectPhoneNumberUpdate: function (props) {
                this.goodsEdit.sender.phoneNumber = props.phoneNumber;
                this.goodsEdit.sender.name = props.customerName;
            }
        }
    }
</script>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    p, h1, h2, h3, h4, h5, h6, label, ul, li {
        margin: 0px;
    }

    li {
        list-style-type: none;
    }

    a:hover {
        text-decoration: none;
    }

    a, h6, span, h5, label, p {
        font-family: 'Cabin', sans-serif;
        font-style: normal;
    }

    /* */
    .tittle-header-lrr {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin: 24px 0;
        display: inline-block;
    }

    /* ----header-info-lrr--- */
    .header-info-lrr {
        background: #ECEDF1;
    }

    .header-info-lrr h6 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #232731;
        padding: 8px 0;
    }

    .header-info-lrr h6 span {
        color: #084388;
    }

    /*-----------wrap-box-create-request------- */
    .box-create-request {
        margin: 24px 0;
        background: #FFFFFF;
        border: 3px solid #084388;
        box-sizing: border-box;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 24px;
    }

    .box-create-request h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #084388;
        margin-bottom: 8px;
    }

    .box-create-request__wrap {
        display: flex;
    }

    .box-create-request__info {
        width: 27%;
    }

    .box-create-request__info:nth-child(3) {
        margin-right: 24px;
    }

    .box-create-request__info h6, .box-create-request__info__short h6 {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #232731;
        margin: 8px 0;
    }

    .box-create-request__info .el-input__inner, .box-create-request__info__short .el-input__inner {
        border: 1px solid #CFD3DB;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #232731;
        font-family: Cabin;
        font-style: normal;
    }

    .box-create-request__info .text-right {
        border: 1px solid #CFD3DB;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #232731;
        font-family: Cabin;
        font-style: normal;
        border-radius: 4px;
        padding: 10px 16px;
        width: 100%;
        max-height: 40px;
    }

    .box-create-request__info__short {
        width: 19%;
        margin: 0 24px;
    }

    .box-create-request__info__wrap {
        display: flex;
    }

    .box-create-request__info__wrap .clock-picker__input {
        border: 1px solid #CFD3DB;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #232731;
        font-family: Cabin;
        font-style: normal;
        border-radius: 4px;
        padding: 10px 16px;
        width: 100%;
    }

    .box-create-request__info__wrap .btn:not(:disabled):not(.disabled) {
        display: none;
    }

    .box-create-request__info__wrap input.hasDatepicker:read-only {
        border: 1px solid #CFD3DB;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #232731;
        font-family: Cabin;
        font-style: normal;
        border-radius: 4px;
        width: 100%;
        min-height: 40px;
        padding: 10px 16px;
        margin-left: 8px;
        text-align: left !important;
    }

    .box-btn-save {
        display: flex;
        justify-content: flex-end;
    }

    .btn-save-request {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #00C48C;
        display: inline-block;
        padding: 14px 16px;
        background: #D5F2EA;
        border-radius: 4px;
        margin-top: 16px;
    }

    .btn-save-request i {
        margin-right: 11px;
    }

    /* -----------wrap-box-search-lrr------------ */

    .box-search-lrr {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .box-search-lrr h6 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .box-search-lrr__wrap {
        border: 1px solid #CFD3DB;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #232731;
        font-family: Cabin;
        font-style: normal;
        border-radius: 4px;
        padding: 0 16px;
        position: relative;
        min-width: 320px;
    }

    .box-search-lrr__wrap .el-input__inner {
        border: none;
        padding: 0;
        width: 88%;
    }

    .box-search-lrr__wrap i {
        position: absolute;
        top: 12px;
        right: 16px;
        color: #084388;
        font-size: 18px;
    }


    /* ------------------item-search-lrr------------- */
    .item-search-lrr {
        background: #FFFFFF;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 8px 16px;
        margin-top: 8px;
    }

    .item-search-lrr__wrap h6 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #646D84;
        margin-bottom: 4px;
    }

    .item-search-lrr__wrap h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #232731;
    }

    .item-search-lrr__wrap--edit {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .item-search-lrr__wrap--edit i {
        color: #646D84;
        background: #ECEDF1;
        border-radius: 4px;
        padding: 6px;
        font-size: 20px;
        margin: 5px;
    }

    .item-search-lrr__wrap--edit .btn-edit-lrr {
        padding: 0;
    }

    .content-item-search-lrr__wrap--edit {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 16px;
        margin-top: 8px;
        display: flex;
    }

    .item-edit-lrr-short {
        width: 16%;
    }

    .item-edit-lrr-short h6, .item-edit-lrr h6 {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
        margin: 8px 0;
    }

    .item-edit-lrr-short .text-right {
        font-family: Cabin;
        font-style: normal;
        background: #FFFFFF;
        border: 1px solid #CFD3DB;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 7px 16px;
        color: #232731;
    }

    .item-edit-lrr-short .el-input__inner, .item-edit-lrr .el-input__inner {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 7px 16px;
        color: #232731;
        font-family: Cabin;
        font-style: normal;
        background: #FFFFFF;
        border: 1px solid #CFD3DB;
        box-sizing: border-box;
        border-radius: 4px;
        max-height: 32px;
    }

    .item-edit-lrr {
        width: 23%;
        margin-left: 21px;
    }

    .item-edit-lrr .multiselect__tags {
        min-height: 33px;
        padding: 2px 40px 2px 8px;
    }

    .item-edit-lrr .multiselect__single {
        margin-bottom: 0;
        line-height: 28px;
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #232731;
    }

    .item-edit-lrr__wrap {
        display: flex;
    }

    .item-edit-lrr__wrap .btn:not(:disabled):not(.disabled) {
        display: none;
    }

    .item-edit-lrr__wrap input.hasDatepicker:read-only {
        background: #FFFFFF;
        border: 1px solid #CFD3DB;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
        padding: 7px 16px;
        max-height: 32px;
        margin-left: 8px;
        text-align: left !important;
    }

    .item-edit-lrr__wrap .clock-picker__input {
        font-family: Cabin;
        font-style: normal;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
        background: #FFFFFF;
        border: 1px solid #CFD3DB;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 7px 16px;
    }

    .box-item-edit-lrr--btn {
        width: 15%;
        text-align: center;
        padding-top: 31px;
    }

    .item-edit-lrr--btn {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #5C9CFE;
        padding: 7px 16px;
        background: #C4DBFE;
        border-radius: 4px;
        display: inline-block;
    }

    .item-search-lrr--create:hover i {
        color: #00C48C;
        background: #D5F2EA;
    }

    .btn-edit-lrr:hover i {
        color: #F39B13;
        background: #F8E7CD;
    }

    .item-search-lrr--delete:hover i {
        color: #E62020;
        background: #FFC9CD;
    }


    /* ------------Tra cuu nhanh-------------- */

    .wrap-box-create-request {
        position: relative;
    }

    .box-quick-luckup {
        position: absolute;
        top: 13px;
        right: 0;
        min-width: 211px;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .box-quick-luckup.open {
        min-width: 528px;
    }

    .box-quick-luckup .el-collapse {
        border: none;
    }

    .box-quick-luckup .el-collapse-item__header {
        color: #F39B13;
        background: #F8E7CD;
        border-radius: 8px 0px 0px 8px;
    }

    .box-header-quick-luckup {
        display: flex;
        align-items: center;
        width: 100%;
        height: 48px;
        justify-content: space-between;
    }

    .box-header-quick-luckup-left {
        display: flex;
        align-items: center;
    }

    .box-header-quick-luckup-right {
        display: flex;
    }

    .box-header-quick-luckup-right i {
        font-size: 19px;
        margin-right: 23px;
    }

    .box-quick-luckup .el-collapse-item__header .el-collapse-item__arrow {
        display: none;
    }

    .icon_quick_luckup {
        font-size: 19px;
        padding: 0 11px 0 19px;
    }

    .box-quick-luckup .el-collapse-item__header h6 {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .box-quick-luckup .el-collapse-item__wrap {
        border-radius: 0px 0px 0px 8px;
        overflow: inherit;
    }

    .box-quick-luckup .el-collapse-item__wrap .el-collapse-item__content {
        padding: 8px 16px;
    }

    .box-content-quick-luckup .el-checkbox {
        z-index: 0;
        margin-top: 19px;
    }

    .box-content-quick-luckup .el-checkbox__inner {
        width: 18px;
        height: 18px;
    }

    .box-content-quick-luckup .el-checkbox__inner::after {
        border: 2px solid #FFF;
        border-left: 0;
        border-top: 0;
        width: 4px;
        height: 8px;
        left: 5px;
        top: 1px;
    }

    .box-content-quick-luckup h6 {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #232731;
        margin: 8px 0;
    }

    .box-input-weight-ql {
        position: relative;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .box-input-weight-ql .el-input__inner {
        border: none;
        width: 87%;
    }

    .box-input-weight-ql span {
        position: absolute;
        top: 12px;
        right: 16px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #232731;
    }

    .box-fare-ql {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 7px 16px;
        background: #CFD3DB;
        border: 1px solid #CFD3DB;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 8px 0;
    }

    .box-fare-ql h5 {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #232731;
    }

    .box-fare-ql h5:first-child {
        margin-right: 16px;
    }

    .check-at-home .el-checkbox__label {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #232731 !important;
    }

    /* ------------------------------------------ */
</style>