<template>
    <section class="coordination">
        <div class="container">
            <div class="coordination__header">
                <label>Điều phối yêu cầu nhận hàng</label>
                <el-select v-if="room" :value="room.id" filterable disabled placeholder="Bưu cục">
                    <el-option
                            :key="room.id"
                            :label="room.name"
                            :value="room.id">
                    </el-option>
                </el-select>
            </div>
            <div class="row">
                <div class="col-4">
                    <el-card class="box-card">
                        <div slot="header" class="coordination__card__header">
                            <h3>Danh sách yêu cầu</h3>
                            <!--<el-dropdown trigger="click">-->
                            <!--<el-tooltip class="item" effect="dark" content="Lọc" placement="top-start">-->
                            <!--<el-button type="text"><i class="fas fa-filter"></i></el-button>-->
                            <!--</el-tooltip>-->
                            <!--<el-dropdown-menu slot="dropdown">-->
                            <!--<el-dropdown-item>Thời gian yêu cầu mới nhất</el-dropdown-item>-->
                            <!--<el-dropdown-item>Thời gian yêu cầu cũ nhất</el-dropdown-item>-->
                            <!--<el-dropdown-item>Khối lượng lớn nhất</el-dropdown-item>-->
                            <!--</el-dropdown-menu>-->
                            <!--</el-dropdown>-->
                        </div>
                        <div class="coordination__card__body">
                            <div class="requestReceipt__filter">
                                <el-input class="w-100 mb-2" suffix-icon="el-icon-search"
                                          :value="goodsCollectionList.code"
                                          @input="goodsCollectionList.setFilter($event,'code')"></el-input>
                                <!--<el-autocomplete class="inline-input w-100 mb-2"><i slot="suffix" @click="goodsCollectionList.getList()" class="el-input__icon el-icon-search"></i></el-autocomplete>-->
                                <div class="d-flex  mb-2">
                                    <el-date-picker class="w-50 mr-2" type="date" placeholder="Ngày nhận hàng"
                                                    :picker-options="options"
                                                    :value="goodsCollectionList.date"
                                                    @input="goodsCollectionList.setFilter($event,'date')"
                                                    format="dd-MM-yyyy" value-format="yyyyMMdd"></el-date-picker>
                                    <select-work-shift class="w-50" placeholder="Ca nhận hàng"
                                                       :value="goodsCollectionList.workShift"
                                                       @input="goodsCollectionList.setFilter($event,'workShift')"></select-work-shift>
                                </div>
                                <div class="d-flex mb-2">
                                    <select-region class="w-50 mr-2" placeholder="Khu vực nhận hàng"
                                                   :value="goodsCollectionList.region"
                                                   @input="goodsCollectionList.setFilter($event,'region')"></select-region>
                                    <select-goods-status class="w-50" placeholder="Trạng thái"
                                                         :value="goodsCollectionList.goodsStatus"
                                                         @input="goodsCollectionList.setFilter($event,'goodsStatus')"></select-goods-status>
                                </div>
                            </div>
                            <div class="requestReceipt__list">
                                <div class="requestReceipt__list__action" @click="selectAll()">
                                    <p>Chọn tất cả <span class="icon-add"></span></p>
                                </div>
                                <div class="requestReceipt__list__content" v-loading="goodsCollectionList.loading">
                                    <template v-for="(goods,g ) in  goodsCollectionList.list">
                                        <div class="requestReceipt__item" v-if="mapSelected[goods.id]===undefined">
                                            <h6>
                                                <span class="requestReceipt__item__id">#{{goods.code||''}}</span>
                                                <span class="icon-add" @click="selected.push(goods)"></span>
                                            </h6>
                                            <p>
                                                <span class="requestReceipt__item__shift">{{goods.collection.workShiftInfo?goods.collection.workShiftInfo.name:''}} - {{goods.collection.time||''}}</span>
                                                <span class="requestReceipt__item__date">{{goods.collection.date|strToDate}}</span>
                                            </p>
                                            <h6>
                                                <span class="requestReceipt__item__type"><i class="fas fa-truck"></i>{{goods.transportType?goods.transportType.name : ''}}</span>
                                                <span class="requestReceipt__item__num">{{goods.collection.courier?goods.collection.courier.fullName :''}}</span>
                                            </h6>
                                            <h6>
                                            <span class="requestReceipt__item__place"><i
                                                    class="fas fa-map-marker-alt"></i>{{goods.collection.address}}</span>
                                                <!--<span class="requestReceipt__item__weight">500 gram</span>-->
                                            </h6>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </el-card>
                </div>
                <div class="col-4">
                    <el-card class="box-card" v-loading="loadingAssign">
                        <div slot="header" class="coordination__card__header">
                            <h3>Danh sách điều hành</h3>
                            <el-tooltip class="item" effect="dark" content="Làm trống danh sách" placement="top-start">
                                <el-button type="text" @click="selected = []"><i class="far fa-trash-alt"></i>
                                </el-button>
                            </el-tooltip>
                        </div>
                        <div class="coordination__card__body">
                            <div class="requestReceipt__list">
                                <div class="requestReceipt__summary">
                                    <span>{{selected.length}} kiện</span>
                                    <!--<span>2000g</span>-->
                                </div>
                                <div class="requestReceipt__list__content">
                                    <template v-for="(goods,g ) in  selected">
                                        <div class="requestReceipt__item">
                                            <h6>
                                                <span class="requestReceipt__item__id">#{{goods.code||''}}</span>
                                                <span class="icon-minus"
                                                      @click="selected.splice(mapSelected[goods.id],1)"></span>
                                            </h6>
                                            <p>
                                                <span class="requestReceipt__item__shift">{{goods.collection.workShiftInfo?goods.collection.workShiftInfo.name:''}} - {{goods.collection.time||''}}</span>
                                                <span class="requestReceipt__item__date">{{goods.collection.date|strToDate}}</span>
                                            </p>
                                            <h6>
                                                <span class="requestReceipt__item__type"><i class="fas fa-truck"></i>{{goods.transportType?goods.transportType.name : ''}}</span>
                                                <span class="requestReceipt__item__num">{{goods.collection.courier?goods.collection.courier.fullName :''}}</span>
                                            </h6>
                                            <h6>
                                            <span class="requestReceipt__item__place"><i
                                                    class="fas fa-map-marker-alt"></i>{{goods.collection.address}}</span>
                                                <!--<span class="requestReceipt__item__weight">500 gram</span>-->
                                            </h6>
                                        </div>
                                    </template>

                                </div>
                            </div>
                        </div>
                    </el-card>
                </div>
                <div class="col-4">
                    <el-card class="box-card" v-loading="loadingAssign">
                        <div slot="header" class="coordination__card__header">
                            <h3>Danh sách điều hành</h3>
                        </div>
                        <div class="coordination__card__body ">
                            <div class="coordination__staff">
                                <div class="coordination__staff__filter">
                                    <select-user class="w-100" v-model="courier"></select-user>
                                    <!--<el-select-->
                                    <!--class="w-100"-->
                                    <!--filterable-->
                                    <!--default-first-option-->
                                    <!--placeholder="Nhân viên nhận hàng">-->
                                    <!--&lt;!&ndash; <el-option-->
                                    <!--v-for="item in options"-->
                                    <!--:key="item.value"-->
                                    <!--:label="item.label"-->
                                    <!--:value="item.value">-->
                                    <!--</el-option> &ndash;&gt;-->
                                    <!--</el-select>-->
                                </div>

                                <div class="coordination__staff__body">

                                </div>

                                <div class="coordination__staff__action">
                                    <button class="action-success cursor-pointer" @click="update()">Điều phối</button>
                                    <button class="action-info cursor-pointer">In danh sách</button>
                                    <button class="action-warning cursor-pointer">Tạo mã gom</button>
                                </div>
                            </div>
                        </div>
                    </el-card>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapState} from 'vuex'
    import SelectRegion from '../Region/SelectRegion';
    import SelectWorkShift from '../WorkShift/SelectWorkShift';
    import SelectGoodsStatus from './GoodsStatus/SelectGoodsStatus';
    import SelectUser from '../User/SelectUser';
    import {GoodsCollectionList} from "../../class/goods_v2";

    export default {
        components: {SelectRegion, SelectWorkShift, SelectGoodsStatus, SelectUser},
        data: function () {
            let goodsCollectionList = new GoodsCollectionList();
            return {
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                goodsCollectionList: goodsCollectionList,
                courier: null,
                selected: [],
                loadingAssign: false
            }
        },
        computed: {
            mapSelected: function () {
                let selected = this.selected;
                let map = {};
                $.each(selected, function (i, item) {
                    map[item.id] = i;
                })
                return map;
            },
            ...mapState({
                room: state => state.room,
                companyConfigData: state => state.CompanyConfig.companyConfigData,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        mounted: function () {
            this.goodsCollectionList.getList();
        },
        methods: {
            selectAll: function () {
                let self = this;
                let list = _.cloneDeep(this.goodsCollectionList.list);
                $.each(list, function (g, goods) {
                    if (self.mapSelected[goods.id] === undefined) {
                        self.selected.push(goods);
                    }
                })
            },
            update() {
                let self = this;
                if (!this.courier) {
                    notify("Vui lòng chọn nhân viên để điều phối");
                    return false;
                }
                if (this.selected.length <= 0) {
                    notify("Không có món hàng hàng để điều phối", "error");
                    return false;
                }
                let params = {
                    courier: {
                        id: self.courier.id,
                        fullName: self.courier.fullName,
                        phoneNumber: self.courier.phoneNumber,
                        userName: self.courier.userName,
                        email: self.courier.email
                    }
                };
                let ids = [];
                $.each(self.selected, function (i, item) {
                    ids.push(item.id);
                });
                params.ids = ids;

                self.loadingAssign = true;
                sendJson({
                    url: urlDBD(API.goodsV2CollectionAssign),
                    data: params,
                    success: function (res) {
                        self.courier = null;
                        self.selected = [];
                        self.goodsCollectionList.getList();
                        self.loadingAssign = false;
                    },
                    functionIfError: function (err) {
                        self.loadingAssign = false;
                    }
                })
            }
        }
    }
</script>

<style lang="scss">
    .coordination {
        padding: 19px 0px;

        *:not(i) {
            font-family: Cabin;
        }

        .requestReceipt__list__content {
            min-height: 200px;
        }
        &__staff {
            padding: 0px 16px;
            padding-bottom: 16px;

            &__body {
                max-height: 60vh;
                overflow-y: auto;
            }

            &__action {
                margin-top: 16px;

                button {
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    margin-bottom: 8px;
                }

                .action-success {
                    color: #00C48C;
                    background-color: #D5F2EA;
                }

                .action-info {
                    color: #084388;
                    background-color: #C4DBFE;
                }

                .action-warning {
                    color: #F39B13;
                    background-color: #F8E7CD;
                }
            }
        }

        &__header {
            margin-bottom: 24px;
            display: flex;

            label {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
                margin-right: 20px;
            }

            .el-select {
                width: 35%;
            }
        }

        &__card {
            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #232731;
                }


                button {
                    padding: 0px;
                    width: 32px;
                    height: 32px;
                    background: #ECEDF1;
                    border-radius: 4px;
                    color: #646D84;

                    &:focus,
                    &:hover {
                        background-color: #ECEDF1;

                        i {
                            color: #646D84;
                        }
                    }
                }
            }

            &__body {
                max-height: 80vh;
                overflow: auto;
            }
        }

        .icon-minus::after,
        .icon-add::after {
            width: 20px;
            height: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 50%;
        }

        .icon-add:hover,
        .icon-minus:hover {
            cursor: pointer;
        }

        .icon-add::after {
            background: #00C48C;
            content: "\f067";
            font-weight: 900;
            font-family: "Font Awesome\ 5 Free";
        }

        .icon-minus::after {
            background: #C80013;
            content: "\f068";
            font-weight: 900;
            font-family: "Font Awesome\ 5 Free";
        }

        .el-card__body {
            padding: 0px;
        }

        .el-card__header {
            border-bottom: none;
        }

        .requestReceipt {
            &__list {
                &__action {
                    height: 32px;
                    background: #ECEDF1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 6px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #232731;

                    p {
                        display: flex;
                        align-items: center;
                    }

                    .icon-add {
                        margin-left: 10px;
                    }
                }

                &__content {
                    padding: 8px;
                }
            }

            &__filter {
                padding: 0px 16px;
            }

            &__summary {
                height: 38px;
                background-color: #ECEDF1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px;

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #232731;
                }
            }

            &__item {
                background: #FFFFFF;
                border: 1px solid #CFD3DB;
                box-sizing: border-box;
                box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                padding: 8px;
                margin-bottom: 4px;

                h6 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                p, h6 {
                    margin-bottom: 4px;
                }

                &__shift,
                &__id {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #232731;
                }

                &__date {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #232731;
                    margin-left: 16px;
                }

                &__type, &__place {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #232731;

                    i {
                        display: inline-block;
                        width: 15px;
                        color: #084388;
                        font-size: 10px;
                        margin-right: 8px;
                    }
                }

                &__num, &__weight {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: right;
                    color: #232731;
                }
            }
        }

    }

</style>