<template>
  <el-dialog custom-class="modal-lg" title="CẬP NHẬP VẬN ĐƠN" width="80%" :visible.sync="dialog">
    <open-add-good :trip="trip" :row="row" v-on:close="handerClose()" ></open-add-good>
  </el-dialog>
</template>
<script>
    import {Goods} from '../../class/goods_v2';
    import {mapState} from 'vuex';
    import printGoods from '../Print/Goods.vue';
    import printGoodsTem from '../Print/GoodsTem.vue';
    import OpenAddGood from './OpenAddGood';
    import SelectGoodsType from '../GoodsType/SelectGoodsType';

    export default {
        props : ['trip'],
        components : {SelectGoodsType,printGoods,printGoodsTem,OpenAddGood},
        data : function () {
            return {
                row: {},
                dialog : false,
                listGoods : new Goods(),
                typesGoods : [
                    {
                        name: 'Hàng hóa',
                        value: 0
                    },
                    {
                        name: 'Tiền',
                        value: 1
                    }
                ]
            }
        },
        computed : {
        },
        mounted : function () {},
        methods : {
            handerClose : function () {
                this.$emit('load')
                this.dialog = false
            },
            open : function (row) {
                let self = this;
                self.row = row;
                self.dialog = true;
            },
        }
    }
</script>