<template>
<div class="FormSaveGoods" v-loading="saveGoodsLoading" v-if="goodsData">
    <div class="px-4">
        <div v-if="goodsData.id" class="mb-2 flex-center-between">
            <h4>Đơn hàng #{{goodsData.code}}</h4>
        </div>
        <div v-else class="d-flex mb-2"> 
            <h4 class="white-space-nowrap mr-2">Đơn hàng #</h4>
            <el-input class="w-25" size="small" v-model="goodsData.code"></el-input>
        </div>
        <div class="d-flex mb-3 align-items-center">
            <p class="mr-4" v-if="goodsData.code">Mã vận đơn <b class="text-primary">#{{ goodsData.code }}</b></p>
            <p class="mr-4" v-if="goodsData.collection.date">Ngày nhận hàng <b class="text-primary">{{ goodsData.collection.date | strToDate() }}</b></p>
            <p class="mr-4" v-if="goodsData.updatedDate">Lần cập nhật cuối <b class="text-primary">{{ goodsData.updatedDate | strToDate() }}</b></p>
            <p class="mr-4">Nhân viên nhận hàng <b class="text-primary">{{ goodsData.collection.courier ? goodsData.collection.courier.fullName : '' }}</b></p>
        </div>
    </div>

    <el-tabs v-model="tabGoodsOrder" class="mb-3 px-4">
        <el-tab-pane label="Chi tiết đơn hàng" name="orderDetail">
            <div class="row">
                <div class="col-6">
                    <div class="row mb-2">
                        <div class="col-6 mb-2">
                            <label for="" class="d-block mb-1">DT người gửi</label>
                            <el-input  v-model="goodsData.sender.phoneNumber" disabled/>
                        </div>
                        <div class="col-6 mb-2">
                            <label for="" class="d-block mb-1">Tên người gửi</label>
                            <el-input size="small" v-model="goodsData.sender.name" disabled />
                        </div>
                        <div class="col-12 mb-2">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <label for="" class="d-block">Bưu cục gửi</label>
                                <el-select disabled v-model="goodsData.collectionType.value" placeholder="Phương thức nhận hàng" size="mini">
                                    <el-option
                                        v-for="item in collectionAndDeliveryTypeProperties"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </div> 
                            <select-point size="small" class="w-100" v-model="goodsData.receivedPoint"  disabled></select-point>
                        </div>
                        <div class="col-12">
                            <label for="" class="d-block mb-1">Địa chỉ nhận hàng</label>
                            <el-input type="textarea" v-model="goodsData.collection.address" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mb-2">
                        <div class="col-6 mb-2">
                            <label for="" class="d-block mb-1">DT người nhận</label>
                            <el-input  v-model="goodsData.receiver.phoneNumber" disabled/>
                        </div>
                        <div class="col-6 mb-2">
                            <label for="" class="d-block mb-1">Tên người nhận</label>
                            <el-input size="small" v-model="goodsData.receiver.name" disabled/>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <label for="" class="d-block">Bưu cục trả</label>
                                <el-select disabled v-model="goodsData.deliveryType.value" placeholder="Phương thức nhận hàng" size="mini">
                                    <el-option
                                        v-for="item in collectionAndDeliveryTypeProperties"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <select-point size="small" class="w-100" v-model="goodsData.deliveryPoint" disabled />
                        </div>
                            <div class="col-12">
                            <label for="" class="d-block mb-1">Địa chỉ trả hàng</label>
                            <el-input type="textarea" v-model="goodsData.delivery.address" disabled></el-input>
                        </div>
                    </div>
                </div>
            </div>
        </el-tab-pane>
        <el-tab-pane v-if="goodsData" label="Hành trình đơn hàng" v-loading="goodsData.log.loading" name="orderJournaly">
            <table class="table table-hover table-striped">
                <thead class="bg-primary">
                    <th class="text-light" style="width: 15%">Thời gian</th>
                    <th class="text-light">Nội dung thay đổi</th>
                    <th class="text-light">Người chỉnh sửa</th>
                </thead>
                <tbody>
                    <template v-for="(log,l) in goodsData.log.logs">
                        <tr :key="l">
                            <td>
                                <h5 class="mb-8px" style="font-size: 24px">{{log.updatedTime|customDate('#hhhh#:#mm#')}}</h5>
                                <span>{{ log.updatedDate|strToDate() }}</span>
                                <!-- <h5>{{ goodsStatus.getStatusByValue( log.status ).label }}</h5>   -->
                            </td>
                            <td>
                                <h5 class="mb-8px text-primary">Điện thoại người gửi</h5>
                                <div class="mb-24px d-flex align-items-center">
                                    <h6>{{log.sender ? log.sender.phoneNumber : ''}}</h6>
                                    <span class="mx-16px"><i class="fas fa-caret-right"></i></span>    
                                    <h6>{{log.receiver ? log.receiver.phoneNumber : ''}}</h6>
                                </div>
                                <h5 class="mb-8px text-primary">Tên người gửi</h5>
                                <div class="mb-24px d-flex align-items-center">
                                    <h6>{{log.sender ? log.sender.name : ''}}</h6>
                                    <span class="mx-16px"><i class="fas fa-caret-right"></i></span>    
                                    <h6>{{log.receiver ? log.receiver.phoneNumber : ''}}</h6>
                                </div>

                                <h5 class="mb-8px text-primary">Trạng thái đơn hàng</h5>
                                <div class="d-flex align-items-center">
                                    <h6>{{ goodsStatus.getStatusByValue( log.status ).label }}</h6>
                                </div>
                                
                                <!-- <h5>Thông tin người gửi và người nhận</h5>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <h6>{{log.sender ? log.sender.name : ''}}</h6>
                                        <h6>{{log.sender ? log.sender.phoneNumber : ''}}</h6>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{log.sender ? log.receiver.name : ''}}</h6>
                                        <h6>{{log.sender ? log.receiver.phoneNumber : ''}}</h6>
                                    </div>
                                </div>
                                
                                <div class="mb-3">
                                    <h5>Danh sách hàng</h5>
                                    <div>
                                        <h6 v-for="(detail, index) in log.details" :key="index">{{detail.name}}</h6>
                                    </div>
                                </div>

                                <div class="mb-3" v-if="log.transportTrip">
                                    <h5>Xếp hàng lên xe</h5>
                                    <div>
                                        <p>Chuyến: {{ log.transportTrip.route.name + ' - ' + $options.filters.customDate(log.transportTrip.tripStartTime,'#hhhh#:#mm#',true) + ' ' + $options.filters.strToDate(log.transportTrip.tripStartDate) }}</p>
                                        <h6>Xe: {{log.transportTrip.vehicle.numberPlate }}</h6>
                                    </div>
                                </div>

                                <div class="mb-3" v-if="log.warehouse">
                                    <h5>Kho hàng</h5>
                                    <div>
                                        <p>{{ log.warehouse.name + ' - ' + log.warehouse.address }}</p>
                                    </div>
                                </div> -->
                                <!-- <div>
                                    <p>Giá phí</p>
                                    <div>
                                        <h6>Phí mặt hàng</h6>
                                        <i class="fas fa-caret-right"></i>
                                        <h6>{{log.details[0].totalFee}}</h6>
                                    </div>
                                    <div>
                                        <h6>Tổng phí mặt hàng</h6>
                                        <i class="fas fa-caret-right"></i>
                                        <h6>{{log.totalFee}}</h6>
                                    </div>
                                </div>
                                <div>
                                    <p>Loại mặt hàng</p>
                                    <div>
                                        <h6>{{log.details[0].type ? log.details[0].type.name : ''}}</h6>
                                    </div>
                                </div> -->
                            </td>
                            <td>
                                <h6>{{ log.updatedUser.fullName }}</h6>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </el-tab-pane>
    </el-tabs>

    <div>
        <div class="d-flex align-items-center justify-content-between px-4 mb-2">
            <div>
                <el-radio-group :value="goodsData.goodsType.value">
                    <template v-for="(type,t) in goodsTypeProperties">
                        <el-radio class="switch-goodsType" :label="type.value" :key="t" v-if="type.type"> {{ type.label }} </el-radio>
                    </template>
                </el-radio-group>
            </div>
            <div class="d-flex align-items-center">
                <span class="mr-2">Gói chuyển phát</span>
                <select-transport-type size="small" v-model="goodsData.transportType" disabled/>
            </div> 
        </div>
        <div class="mb-2">
            <div v-if="goodsData.goodsType.value === goodsTypeEnum.GOODS">
                <div data-name="goodsDelivery" class="goodsDelivery">
                    <table class="table table-bordered table-hover">
                        <thead class="bg-orange">
                            <th width="20%" class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ten_hang')">Tên hàng</th>
                            <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_tri_hang')">Giá trị hàng <br> (VNĐ)</th>
                            <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('khoi_luong')">Khối lượng <br> (Kg)</th>
                            <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">Gói</th>
                            <!-- <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value || !companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">Gói</th> -->
                            <th width="10%"   class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('so_luong')">Số lượng</th>
                            <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_cuoc')">Tiền cước <br> (VNĐ)</th>  
                            <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('phu_phi')">Phụ phí</th>
                            <th width="15%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ghi_chu')">Ghi chú</th>
                        </thead>
                        <tbody>
                            <template v-for="(detail,d) in goodsData.details">
                                <tr :key="d">
                                    <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ten_hang')" >
                                        {{ detail.name }}
                                    </td>
                                    <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_tri_hang')">
                                        {{ detail.value|number }}
                                    </td>
                                    <td class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('khoi_luong')">
                                        <div class="flex-center-center">
                                            <span class="mr-8px">{{ detail.dimensions.weight }}</span>
                                            <el-popover width="300">
                                                <el-button size="mini" class="text-dark px-1 py-1 bg-secondary" type="text" slot="reference"><i class="fas fa-ellipsis-h"></i></el-button>
                                                <div class="row">
                                                    <div class="col-6 form-group">
                                                        <h6>Chiều dài</h6>
                                                        <el-input pattern="[0-9]+([\.][0-9]+)?" @blur="detail.setLength(1)" :value="detail.dimensions.length" disabled size="mini" class="w-100">
                                                            <template slot="suffix">cm</template>
                                                        </el-input>
                                                    </div>
                                                    <div class="col-6 form-group">
                                                        <h6>Chiều rộng</h6>
                                                        <el-input pattern="[0-9]+([\.][0-9]+)?" @blur="detail.setWidth(1)" size="mini" class="w-100" :value="detail.dimensions.width" disabled>
                                                            <template slot="suffix">cm</template>
                                                        </el-input>
                                                    </div>
                                                    <div class="col-6 form-group">
                                                        <h6>Chiều cao</h6>
                                                        <el-input pattern="[0-9]+([\.][0-9]+)?" @blur="detail.setHeight(1)" size="mini" class="w-100" :value="detail.dimensions.height" disabled>
                                                            <template slot="suffix">cm</template>
                                                        </el-input>
                                                    </div>
                                                    <div class="col-6 form-group">
                                                        <h6>Khối lượng</h6>
                                                        <el-input size="mini" disabled class="w-100" :value="detail.dimensions.weight">
                                                            <template slot="suffix">kg</template>
                                                        </el-input>
                                                    </div>
                                                </div>
                                            </el-popover>
                                        </div>
                                    </td>
                                    <td class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">
                                        {{detail.type.id?detail.type.name : ''}}
                                    </td>
                                    <td class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('so_luong')">
                                        {{ detail.quantity }}
                                    </td>
                                    <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_cuoc')">
                                        <b>{{ detail.originalFee|number }}</b>
                                    </td>
                                    <td class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('phu_phi')">
                                        <b>{{(detail.totalExtraFees())|number}}</b>
                                    </td>
                                    <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ghi_chu')">
                                        {{ detail.note }}
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="px-4" v-if="goodsData.goodsType.value === goodsTypeEnum.MONEY">
                <template v-for="(detail,d) in goodsData.details">
                    <div class="row mb-2" :key="d">
                        <div class="col-3">
                            <label for="">Số tiền cần chuyển</label> 
                            <el-input size="small" :value="detail.value" @input="detail.setValue($event)" disabled>
                                <span slot="suffix">đ</span>
                            </el-input>
                        </div>
                        <div class="col-3">
                            <label for="">Số CMND người nhận</label> 
                            <el-input size="small" v-model="goodsData.receiver.citizenId" disabled/>
                            <span class="text-danger">Nhập chính xác CMND để làm cơ sở cho đầu giao tiền</span>
                        </div>
                        <div class="col-3">
                            <div class="box-info-cost--transfers__wrap">
                                <label class="d-block">Trường phân định</label>
                                <select-price :value="detail.type"
                                                disabled
                                                :set-first="true"
                                                class="w-100"
                                                size="small"
                                                :goods-value="detail.value"
                                                :goods-type="goodsData.goodsType.value"
                                                :transport-type="goodsData.transportType"/>
                            </div>
                        </div>
                        <div class="col-3" v-if="detail.type && detail.type.id">
                            <label class="d-block">Gói giá</label>
                            <el-select value-key="id"
                                        size="small"
                                        class="w-100"
                                        disabled
                                        :value="detail.appliedCriterion">
                                <el-option
                                        v-for="(cre) in detail.type.pointPricing.criteria"
                                        :value="cre"
                                        :key="cre.id"
                                        :label="cre.name">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-12 mt-2">
                            <div>
                                <p class="mb-2"><b>Phí chuyển tiền: </b> {{ detail.originalFee|number }}đ</p>
                                <p><b>Phụ phí mặc định: </b> {{ detail.totalExtraFees()|number }}đ</p>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div> 

    <div class="row px-4">
        <div class="col-8">
            <div class="mb-3">
                <label for="" class="d-block mb-1">Ghi chú đơn hàng</label>
                <el-input type="textarea" v-model="goodsData.note" size="small" disabled></el-input>
            </div>
            <!-- <div class="mb-3">
                <label for="" class="d-block">Hình thức thanh toán</label>
                <el-select size="small" v-model="goodsData.paymentType">
                    <el-option :value="1" label="Tiền mặt"></el-option>
                </el-select>
            </div> -->
            <div class="mb-3 d-flex align-items-center">
                <el-checkbox v-model="goodsData.sender.sendSMS" disabled class="mr-3">SMS người gửi</el-checkbox>
                <el-checkbox v-model="goodsData.receiver.sendSMS" disabled class="mr-3">SMS người nhận</el-checkbox>
                <el-checkbox v-model="goodsData.useCod" disabled>Thu hộ (COD)</el-checkbox>
            </div>
            <div class="mb-3" v-if="goodsData.useCod">
                <div class="row mb-2 align-items-center">
                    <div class="col-2"><label for="">Số tiền thu hộ</label></div>
                    <div class="col-3">
                        <el-input size="small" disabled :value="goodsData.cod" @input="goodsData.setCod($event)">
                            <span slot="suffix">đ</span>
                        </el-input>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-2"><label for="">Phí thu hộ</label></div>
                    <div class="col-3">
                        <h6>{{ goodsData.calculateCodFee()|number }}đ</h6> 
                    </div> 
                </div>
            </div>
            <template v-if="goodsData">
                <button class="btn bg-orange text-warning" @click="printGood()">IN BIÊN NHẬN</button>
                <button class="btn bg-orange text-warning" @click="printTemp()">IN TEM HÀNG</button>
            </template>    
        </div>
        <div class="col-4">
            <div class="d-flex mb-2 align-items-center justify-content-between">
                <p class="white-space-nowrap">Tổng tiền cước </p>
                <p>{{ goodsData.getTotalFee()|number }}đ</p>
            </div>
            <div class="d-flex mb-2 align-items-center justify-content-between">
                <p class="white-space-nowrap">Đã trả</p>
                <el-input size="small" v-model="goodsData.paid" disabled class="w-50">
                    <template slot="append">đ</template>
                </el-input>
            </div>
            <div class="d-flex mb-4 align-items-center justify-content-between">
                <p class="white-space-nowrap">Còn lại</p>
                <p>{{ (goodsData.getTotalFee() - goodsData.paid)|number }}đ</p>
            </div>
            <!-- <div class="d-flex">
                <button class="btn bg-secondary text-danger mr-2" @click="$emit('cancle-save-goods', goods)" title="HUỶ BỎ">HUỶ BỎ</button>
                <button class="btn bg-success-200 text-success" :title="goodsData.id?'LƯU THAY ĐỔI':'TẠO ĐƠN HÀNG'" @click="saveGoods()">{{goodsData.id?'LƯU THAY ĐỔI':'TẠO ĐƠN HÀNG'}}</button>
            </div> -->
        </div>
    </div>
    <div class="d-none">
        <print-goods-tem-02 ref="PrintGoodsTem02Component"></print-goods-tem-02>
        <print-goods-02 ref="PrintGoods02Component"></print-goods-02>
    </div>
</div>
</template>


<script>
import {CollectionAnDeliveryType, Goods, GoodsDetail, GoodsList, GoodsStatus, GoodsType, GoodsFees} from "../../class/goods_v2";
import SelectPoint from '../Point/SelectPoint';
import SelectGoodsStatus from './GoodsStatus/SelectGoodsStatus';
import SelectTransportType from './TransportType/SelectTransportType';
import SelectPrice from './InitPrice/SelectPrice';
import SelectExtraFee from './InitPrice/SelectExtraFee';
import SelectUser from '../User/SelectUser';
import icon from './icon.js'
import printGoodsTem02 from '../Print/GoodsTem02.vue';
import printGoods02 from '../Print/Goods02.vue';
import {mapState} from 'vuex';

export default {
    components: {printGoodsTem02, printGoods02, SelectPoint, SelectGoodsStatus, SelectTransportType, SelectPrice, SelectExtraFee, SelectUser},
    props: ['goodsData'],
    data() {
        return {
            goodsStatus: new GoodsStatus(),
            tabGoodsOrder: 'orderDetail',
            tabDelivery: 'goods',
            goodsTypeProperties: GoodsType.properties(),
            goodsTypeEnum: GoodsType.enum(),
            collectionAndDeliveryTypeProperties: CollectionAnDeliveryType.properties(),
            icon: icon,
            goodsFeesMap: {},
            saveGoodsLoading: false,
        }
    },
    computed: {
        ...mapState({
            companyConfig: state => state.CompanyConfig.companyConfig,
        }),
    },
    
    methods: {
        printTemp: function () {
            this.$refs.PrintGoodsTem02Component.print([this.goodsData]);
        },
        printGood: function () {
            this.$refs.PrintGoods02Component.print([this.goodsData]);
        },
    },
    watch: {
        'tabGoodsOrder': function(value) {
            if(value == 'orderJournaly' && this.goodsData.log.logs.length == 0) {
                this.goodsData.log.getLogs()
            }
        },
    }
}
</script>



<style lang="scss" scoped>
*:not(i) {
    font-family: Cabin;
} 
.text-success { color: #00C48C!important; }
.bg-success-200 { background-color: #D5F2EA!important; }
.bg-orange { background-color: #F8E7CD!important; }
.text-warning { color: #F39B13!important; }
.text-primary { color: #084388!important; }
.bg-secondary { background-color: #ECEDF1!important; }
</style>