<template>
<section v-shortkey="['ctrl' ,'enter']" @shortkey="saveGoods()">
<section  class="py-3 GoodsAddV02" v-loading="saveGoodsLoading" v-shortkey="['ctrl', 'shift' ,'enter']" @shortkey="refreshGoodsData()">
    
    <div class="mb-4">
        <div class="d-flex mb-2 align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <h3 class="mr-3 white-space-nowrap">Quản lý đơn hàng</h3>
                <el-input placeholder="Số điện thoại, Mã vận đơn" v-model="querySimpleSearch" @keyup.enter.native="simpleSearch" class="mr-3" suffix-icon="el-icon-search"></el-input>
                <a @click.prevent="toggleAdvanceSearch = !toggleAdvanceSearch"  class="cursor-pointer text-primary white-space-nowrap">
                    {{ toggleAdvanceSearch ? 'Tắt tìm kiếm nâng cao' : 'Tìm kiếm nâng cao' }}
                </a>
            </div>
            <div>
                <el-switch class="mr-2"
                    v-model="showSidebar"
                    active-text="Hiển thị danh sách đơn hàng">
                </el-switch>
                <button @click="addGoods()" class="btn bg-success-200 text-success"><i class="fas fa-plus-circle mr-2"></i><span>Thêm mới đơn hàng</span></button>  
            </div>
        </div>
        <transition name="fade">
        <div v-if="toggleAdvanceSearch" data-name="filterAdvance">
            <div class="d-flex">
                <div class="form-group mr-2">
                    <label>Mã vận đơn</label>
                    <el-input size="small" v-model="goodsList.code"></el-input>   
                </div>
                <div class="form-group mr-2">
                    <label>Số điện thoại</label>
                    <el-input v-model="goodsList.phoneNumber" size="small"></el-input>
                </div>
                <div class="form-group mr-2">
                    <label>Bến lên</label>
                    <select-point class="d-block" v-model="goodsList.receivedPoint" size="small"></select-point>
                </div>
                <div class="form-group mr-2">
                    <label>Bến xuống</label>
                    <select-point class="d-block" v-model="goodsList.deliveryPoint" size="small"></select-point>
                </div>
                <div class="form-group mr-2">
                    <label>Ngày tạo đơn hàng</label>
                    <el-date-picker class="d-flex" size="small" v-model="goodsList.date" :clearable="false" 
                        format="dd-MM-yyyy"
                        :picker-options="optionsTime"
                        value-format="yyyyMMdd" type="daterange" 
                        range-separator="Đến"
                        start-placeholder="Từ ngày" 
                        end-placeholder="Đến ngày"></el-date-picker>
                </div>    
                <div class="form-group mr-2">
                    <label>Trạng thái đơn hàng</label>
                    <select-goods-status v-model="goodsList.goodsStatus" size="small" class="d-block" :collapse-tags="true" :multiple="true"></select-goods-status>
                </div>
                <div class="form-group">
                    <label class="invisible d-block">00</label>
                    <el-button type="primary" @click="goodsList.getList()" size="small">LỌC KẾT QUẢ</el-button>
                </div>
            </div>
        </div>
        </transition>
    </div>
    <el-container>
        <el-aside :width="sidebarWidth">
            <div class="listGoods" v-loading="goodsList.loading">
                <div class="d-flex cursor-pointer mb-3 px-2 py-3 bg-secondary align-items-center justify-content-between" @click="showSidebar = false">
                    <h6 class="white-space-nowrap">Danh sách yêu cầu và đơn hàng </h6>
                    <span><i class="fas fa-chevron-left"></i></span>
                </div>
                <div>
                    <template v-for="(goods,g) in goodsList.list" >
                        <div class="card cursor-pointer mb-2 px-2 py-2" :key="g" :class="[goodsData.id == goods.id ? 'border-primary' : '']" @click="hanlderSelectGoods(goods)">
                            <div class="mb-2 d-flex align-items-center justify-content-between">
                                <h5 class="text-warning mr-4px">#{{goods.code}}</h5>
                                <p class="badge badge-primary px-8px py-8px" style="border-radius: 12px; font-size: 14px" :style="{'background-color': goods.status.color()}">{{goods.status.label()}}</p>
                            </div>
                            <div>
                                <h6 class="mb-1"> <b class="text-primary">Ngày giờ tạo: </b>{{ goods.createdTime|customDate('#hhhh#:#mm# #DD#/#MM#/#YYYY#') }}</h6>
                                <h6 class="mb-1"> <b class="text-primary">Người nhận: </b> <span>{{goods.receiver.name}}</span></h6>
                                <h6 class="mb-1"> <b class="text-primary">Tổng tiền hàng: </b> <span>{{goods.totalFee | number}}đ</span></h6>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="text-center mt-3" v-if="goodsList.loadMore">
                    <a href="javascript:;" class="text-primary" @click="goodsList.getList({numberPage: 1})">Xem thêm</a>
                </div>
            </div>
        </el-aside>
         <el-container>
            <div class="card w-100 py-3">
                <div class="px-4">
                    <div v-if="goodsData.id" class="mb-2 flex-center-between">
                        <h4>Đơn hàng #{{goodsData.code}}</h4>
                    </div>
                    
                    <div class="d-flex mb-2" v-else> 
                        <h4 class="white-space-nowrap mr-2">Đơn hàng #</h4>
                        <el-input class="w-25" size="small" v-model="goodsData.code"></el-input>
                    </div>
                    <div class="d-flex mb-3 align-items-center">
                        <p class="mr-4" v-if="goodsData.code">Mã vận đơn <b class="text-primary">#{{ goodsData.code }}</b></p>
                        <p class="mr-4" v-if="goodsData.collection.date">Ngày nhận hàng <b class="text-primary">{{ goodsData.collection.date | strToDate() }}</b></p>
                        <p class="mr-4" v-if="goodsData.updatedDate">Lần cập nhật cuối <b class="text-primary">{{ goodsData.updatedDate | strToDate() }}</b></p>
                        <p class="mr-4">Nhân viên nhận hàng <b class="text-primary">{{ goodsData.collection.courier ? goodsData.collection.courier.fullName : '' }}</b></p>
                    </div>
                </div>

                <el-tabs v-model="tabGoodsOrder" class="mb-3 px-4">
                    <el-tab-pane label="Chi tiết đơn hàng" name="orderDetail">
                        <div class="row">
                            <div class="col-6">
                                <div class="row mb-2">
                                    <div class="col-6 mb-2">
                                        <label for="" class="d-block mb-1">DT người gửi</label>
                                        <el-autocomplete class="w-100"
                                                        size="small"
                                                        type="number"
                                                        max="1000000000"
                                                        ref="senderPhone"
                                                        v-model="goodsData.sender.phoneNumber"
                                                        :trigger-on-focus="false"
                                                        :fetch-suggestions="querySearchPhoneNumberSender"
                                                        @select="handleSelectSenderPhoneNumber">
                                            <template slot-scope="{ item }">
                                                <div class="value">{{ item.phoneNumber }} -
                                                    {{ item.customerName }}
                                                </div>
                                            </template>
                                        </el-autocomplete>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <label for="" class="d-block mb-1">Tên người gửi</label>
                                        <el-input size="small" v-model="goodsData.sender.name"></el-input>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="" class="d-block mb-1">Số CMND người gửi</label>
                                        <el-input size="small" v-model="goodsData.sender.citizenId"></el-input>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <label for="" class="d-block">Bưu cục gửi</label>
                                            <el-select v-model="goodsData.collectionType.value" placeholder="Phương thức nhận hàng" size="mini">
                                                <el-option
                                                    v-for="item in collectionAndDeliveryTypeProperties"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </div> 
                                        <select-point size="small" class="w-100" v-model="goodsData.receivedPoint"></select-point>
                                    </div>
                                    <div class="col-12">
                                        <label for="" class="d-block mb-1">Địa chỉ nhận hàng</label>
                                        <el-input type="textarea" v-model="goodsData.collection.address"></el-input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-2">
                                    <div class="col-6 mb-2">
                                        <label for="" class="d-block mb-1">DT người nhận</label>
                                        <el-autocomplete popper-class="my-autocomplete"
                                                        class="w-100"
                                                        size="small"
                                                        type="number"
                                                        max="1000000000"
                                                        v-model="goodsData.receiver.phoneNumber"
                                                        :trigger-on-focus="false"
                                                        :fetch-suggestions="querySearchPhoneNumberReceiver"
                                                        @select="handleSelectReceiverPhoneNumber">
                                            <template slot-scope="{ item }">
                                                <div class="value">{{ item.phoneNumber }} -
                                                    {{ item.customerName }}
                                                </div>
                                            </template>
                                        </el-autocomplete>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <label for="" class="d-block mb-1">Tên người nhận</label>
                                        <el-input size="small" v-model="goodsData.receiver.name"></el-input>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="" class="d-block mb-1">Số CMND người nhận</label>
                                        <el-input size="small" v-model="goodsData.receiver.citizenId"></el-input>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <label for="" class="d-block">Bưu cục trả</label>
                                             <el-select v-model="goodsData.deliveryType.value" placeholder="Phương thức nhận hàng" size="mini">
                                                <el-option
                                                    v-for="item in collectionAndDeliveryTypeProperties"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <select-point size="small" class="w-100" v-model="goodsData.deliveryPoint"></select-point>
                                    </div>
                                     <div class="col-12">
                                        <label for="" class="d-block mb-1">Địa chỉ trả hàng</label>
                                        <el-input type="textarea" v-model="goodsData.delivery.address"></el-input>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </el-tab-pane>
                    <el-tab-pane v-if="goodsSelected[0]" label="Hành trình đơn hàng" v-loading="goodsData.log.loading" name="orderJournaly">
                        <table class="table table-hover table-striped">
                            <thead class="bg-primary">
                                <th class="text-light" style="width: 15%">Thời gian</th>
                                <th class="text-light">Nội dung thay đổi</th>
                                <th class="text-light">Người chỉnh sửa</th>
                            </thead>
                            <tbody>
                                <template v-for="(log,l) in goodsData.log.logs">
                                    <tr :key="l">
                                        <td>
                                            <h5 class="mb-8px" style="font-size: 24px">{{log.updatedTime|customDate('#hhhh#:#mm#')}}</h5>
                                            <span>{{ log.updatedDate|strToDate() }}</span>
                                            <!-- <h5>{{ goodsStatus.getStatusByValue( log.status ).label }}</h5>   -->
                                        </td>
                                        <td>
                                            <h5 class="mb-8px text-primary">Điện thoại người gửi</h5>
                                            <div class="mb-24px d-flex align-items-center">
                                                <h6>{{log.sender ? log.sender.phoneNumber : ''}}</h6>
                                                <span class="mx-16px"><i class="fas fa-caret-right"></i></span>    
                                                <h6>{{log.receiver ? log.receiver.phoneNumber : ''}}</h6>
                                            </div>
                                            <h5 class="mb-8px text-primary">Tên người gửi</h5>
                                            <div class="mb-24px d-flex align-items-center">
                                                <h6>{{log.sender ? log.sender.name : ''}}</h6>
                                                <span class="mx-16px"><i class="fas fa-caret-right"></i></span>    
                                                <h6>{{log.receiver ? log.receiver.phoneNumber : ''}}</h6>
                                            </div>

                                            <h5 class="mb-8px text-primary">Trạng thái đơn hàng</h5>
                                            <div class="d-flex align-items-center">
                                                <h6>{{ goodsStatus.getStatusByValue( log.status ).label }}</h6>
                                            </div>
                                            
                                            <!-- <h5>Thông tin người gửi và người nhận</h5>
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <h6>{{log.sender ? log.sender.name : ''}}</h6>
                                                    <h6>{{log.sender ? log.sender.phoneNumber : ''}}</h6>
                                                </div>
                                                <div class="col-6">
                                                    <h6>{{log.sender ? log.receiver.name : ''}}</h6>
                                                    <h6>{{log.sender ? log.receiver.phoneNumber : ''}}</h6>
                                                </div>
                                            </div>
                                           
                                            <div class="mb-3">
                                                <h5>Danh sách hàng</h5>
                                                <div>
                                                    <h6 v-for="(detail, index) in log.details" :key="index">{{detail.name}}</h6>
                                                </div>
                                            </div>

                                            <div class="mb-3" v-if="log.transportTrip">
                                                <h5>Xếp hàng lên xe</h5>
                                                <div>
                                                    <p>Chuyến: {{ log.transportTrip.route.name + ' - ' + $options.filters.customDate(log.transportTrip.tripStartTime,'#hhhh#:#mm#',true) + ' ' + $options.filters.strToDate(log.transportTrip.tripStartDate) }}</p>
                                                    <h6>Xe: {{log.transportTrip.vehicle.numberPlate }}</h6>
                                                </div>
                                            </div>

                                            <div class="mb-3" v-if="log.warehouse">
                                                <h5>Kho hàng</h5>
                                                <div>
                                                    <p>{{ log.warehouse.name + ' - ' + log.warehouse.address }}</p>
                                                </div>
                                            </div> -->
                                            <!-- <div>
                                                <p>Giá phí</p>
                                                <div>
                                                    <h6>Phí mặt hàng</h6>
                                                    <i class="fas fa-caret-right"></i>
                                                    <h6>{{log.details[0].totalFee}}</h6>
                                                </div>
                                                <div>
                                                    <h6>Tổng phí mặt hàng</h6>
                                                    <i class="fas fa-caret-right"></i>
                                                    <h6>{{log.totalFee}}</h6>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Loại mặt hàng</p>
                                                <div>
                                                    <h6>{{log.details[0].type ? log.details[0].type.name : ''}}</h6>
                                                </div>
                                            </div> -->
                                        </td>
                                        <td>
                                            <h6>{{ log.updatedUser.fullName }}</h6>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </el-tab-pane>
                </el-tabs>
                
                <div>
                    <div class="d-flex align-items-center justify-content-between px-4 mb-2">
                        <div>
                            <el-radio-group :value="goodsData.goodsType.value" @input="goodsData.setGoodsType($event)">
                                <template v-for="(type,t) in goodsTypeProperties">
                                    <el-radio class="switch-goodsType" :label="type.value" :key="t" v-if="type.type"> {{ type.label }} </el-radio>
                                </template>
                            </el-radio-group>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-2">Gói chuyển phát</span>
                            <select-transport-type size="small" v-model="goodsData.transportType"/>
                        </div> 
                    </div>
                    <div class="mb-2">
                        <div v-if="goodsData.goodsType.value === goodsTypeEnum.GOODS">
                            <div data-name="goodsDelivery" class="goodsDelivery">
                                <table class="table table-bordered table-sm table-hover" v-shortkey="['ctrl', 'space']" @shortkey="addGoodsDetail()">
                                    <thead class="bg-orange">
                                        <th width="20%" class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ten_hang')">Tên hàng</th>
                                        <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_tri_hang')">Giá trị hàng <br> (VNĐ)</th>
                                        <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('khoi_luong')">Khối lượng <br> (Kg)</th>
                                        <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">Gói</th>
                                        <!-- <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value || !companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">Gói</th> -->
                                        <th width="10%"   class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('so_luong')">Số lượng</th>
                                        <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_cuoc')">Tiền cước <br> (VNĐ)</th>
                                        <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('phu_phi')">Phụ phí</th>
                                        <th width="10%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('tong_cuoc')">Tổng cước</th>
                                        <th width="15%"  class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ghi_chu')">Ghi chú</th>
                                        <th width="5%"></th>
                                    </thead>
                                    <tbody>
                                        <template v-for="(detail,d) in goodsData.details">
                                            <tr :key="d" v-shortkey="['ctrl', 'shift' ,'space']" @shortkey="goodsData.details.splice(d,1)">
                                                <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ten_hang')" >
                                                    <el-input class="no-input" v-model="detail.name" placeholder="Tên hàng"></el-input>
                                                </td>
                                                <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_tri_hang')">
                                                    <el-input class="no-input toInput-center" :value="detail.value|number" @input="setValue(detail,$event)" placeholder="Giá trị hàng"></el-input>
                                                </td>
                                                <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('khoi_luong')">
                                                    <div class="d-flex align-items-center">
                                                        <el-input class="no-input toInput-center" :value="detail.dimensions.weight" @input="setW(detail, $event)" placeholder="Khối lượng (kg)"></el-input>
                                                        <el-popover width="300">
                                                            <el-button size="mini" class="text-dark px-1 py-1 bg-secondary" type="text" slot="reference"><i class="fas fa-ellipsis-h"></i></el-button>
                                                            <div class="row">
                                                                <div class="col-6 form-group">
                                                                    <h6>Chiều dài</h6>
                                                                    <el-input pattern="[0-9]+([\.][0-9]+)?" :value="detail.dimensions.length" @input="detail.setLength($event)" size="mini" class="w-100">
                                                                        <template slot="suffix">cm</template>
                                                                    </el-input>
                                                                </div>
                                                                <div class="col-6 form-group">
                                                                    <h6>Chiều rộng</h6>
                                                                    <el-input pattern="[0-9]+([\.][0-9]+)?" size="mini" class="w-100" :value="detail.dimensions.width" @input="detail.setWidth($event)">
                                                                        <template slot="suffix">cm</template>
                                                                    </el-input>
                                                                </div>
                                                                <div class="col-6 form-group">
                                                                    <h6>Chiều cao</h6>
                                                                    <el-input pattern="[0-9]+([\.][0-9]+)?" size="mini" class="w-100" :value="detail.dimensions.height" @input="detail.setHeight($event)">
                                                                        <template slot="suffix">cm</template>
                                                                    </el-input>
                                                                </div>
                                                                <div class="col-6 form-group">
                                                                    <h6>Khối lượng</h6>
                                                                    <el-input size="mini" disabled class="w-100" :value="detail.dimensions.weight">
                                                                        <template slot="suffix">kg</template>
                                                                    </el-input>
                                                                </div>
                                                            </div>
                                                        </el-popover>
                                                    </div>
                                                </td>
                                                <td class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">
                                                    <el-popover width="300">
                                                        <el-button type="text" slot="reference">
                                                            {{detail.type.id?detail.type.name : 'Lựa chọn'}}
                                                        </el-button>
                                                        <div>
                                                            <div class="row">
                                                                <div class="col-6 form-group">
                                                                    <label>Bảng giá</label>
                                                                    <select-price :value="detail.type"
                                                                                    :goods-type="goodsData.goodsType.value"
                                                                                    :transport-type="goodsData.transportType"
                                                                                    :received-point="goodsData.receivedPoint"
                                                                                    :delivery-point="goodsData.deliveryPoint"
                                                                                    @input="detail.setType($event)"/>
                                                                </div>
                                                                <div class="col-6 form-group">
                                                                    <label>Gói giá</label>
                                                                    <el-select value-key="id"
                                                                                :disabled="detail.type&&detail.type.usingExistedField&&detail.appliedCriterion&&detail.appliedCriterion.id!==null"
                                                                                :value="detail.appliedCriterion"
                                                                                @input="detail.setAppliedCriteria($event)">
                                                                        <el-option
                                                                                v-for="(cre) in detail.type.pointPricing.criteria"
                                                                                :value="cre"
                                                                                :key="cre.id"
                                                                                :label="cre.name">
                                                                        </el-option>
                                                                    </el-select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </el-popover>
                                                </td>
                                                <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('so_luong')">
                                                    <el-input class="no-input toInput-center" :value="detail.quantity" @blur="setDefaultQuantity(detail)" @input="setQuantity(detail, $event)" placeholder="Số lượng"></el-input>
                                                </td>
                                                <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_cuoc')">
                                                    <el-input class="no-input toInput-center" :value="detail.originalFee|number" @input="changeOriginalFee(detail, $event)" placeholder="Tiền cước"></el-input>
                                                    <!-- <input type="text" class="no-border text-center" @input="changeOriginalFee(detail, $event.target.value)" :value="detail.originalFee|number"> -->
                                                </td>
                                                <td class="text-center" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('phu_phi')">
                                                    <b>{{(detail.totalExtraFees())|number}}</b>
                                                    <el-popover width="500">
                                                        <el-button size="mini"
                                                                    class="text-dark px-1 py-1 bg-secondary"
                                                                    :disabled="detail.loadingExtraFeeRequired"
                                                                    :loading="detail.loadingExtraFeeRequired"
                                                                    type="text" slot="reference">
                                                            <i class="fas fa-ellipsis-h"></i>
                                                        </el-button>
                                                        <div>
                                                            <template v-for="(fee,f) in detail.extraFees">
                                                                <div class="row mb-1 no-gutters align-items-center" :key="f">
                                                                    <div class="col mr-1">
                                                                        <select-extra-fee
                                                                                :disabled="fee.required"
                                                                                :required="false"
                                                                                :value="fee"
                                                                                @input="detail.setExtraFeeByIndex($event,f);$forceUpdate()"></select-extra-fee>
                                                                    </div>
                                                                    <div class="col mr-1" v-if="fee">
                                                                        <el-select
                                                                                v-model="fee.appliedCriterion"
                                                                                @input="$forceUpdate()"
                                                                                value-key="id"
                                                                                :disabled="fee.usingExistedField">
                                                                            <el-option
                                                                                    v-for="(crit) in fee.criteria"
                                                                                    :key="crit.id"
                                                                                    :value="crit"
                                                                                    :label="crit.name"></el-option>
                                                                        </el-select>
                                                                    </div>
                                                                    <div class="col text-right" v-if="fee">
                                                                        <span>{{detail.getCalculateExtraFee()[f]}}</span>
                                                                        <i class="ml-2 cursor-pointer fas fa-trash-alt" v-if="!fee.required&&fee" @click="detail.removeExtraFee(f)"></i>
                                                                    </div>
                                                                </div>
                                                            </template>
                                                            <div class="row">
                                                                <div class="col-12 text-right">
                                                                    <el-button type="success" size="mini"
                                                                                @click="detail.addExtraFee()">
                                                                        Thêm phụ phí
                                                                    </el-button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </el-popover>
                                                </td>
                                                <td class="text-center">
                                                    {{ detail.totalFee()|number }}
                                                </td>
                                                <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ghi_chu')">
                                                    <el-input type="textarea" class="w-100" v-model="detail.note"></el-input>
                                                </td>
                                                <td class="text-center">
                                                    <el-popconfirm title="Bạn có chắc chắn muốn xóa yêu cầu này?"
                                                            confirmButtonText='XÓA'
                                                            cancelButtonText='KHÔNG'
                                                            @onConfirm="goodsData.details.splice(d,1)">
                                                    <span v-html="icon.trash" slot="reference" title="Xóa (Ctrl + Shift + Space)" class="cursor-pointer"></span>
                                                    </el-popconfirm>
                                                </td>
                                            </tr>
                                        </template>
                                        <tr class="bg-secondary">
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ten_hang')" ></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_tri_hang')"></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('khoi_luong')"></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')"></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('so_luong')"></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_cuoc')"></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('phu_phi')"></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('tong_cuoc')"></td>
                                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ghi_chu')"></td>
                                            <td class="text-center">
                                                <el-button type="text" title="Thêm mặt hàng (Ctrl + space)" @click="addGoodsDetail();" class="text-success">
                                                    <i class="fas fa-plus-circle mr-2"></i>
                                                </el-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="px-4" v-if="goodsData.goodsType.value === goodsTypeEnum.MONEY">
                            <template v-for="(detail,d) in goodsData.details">
                                <div class="row mb-2" :key="d">
                                    <div class="col-3">
                                        <label for="">Số tiền cần chuyển</label> 
                                        <el-input size="small" :value="detail.value" @input="detail.setValue($event)">
                                            <span slot="suffix">đ</span>
                                        </el-input>
                                    </div>
                                    <div class="col-3">
                                        <label for="">Số CMND người nhận</label> 
                                        <el-input size="small" v-model="goodsData.receiver.citizenId"/>
                                        <span class="text-danger">Nhập chính xác CMND để làm cơ sở cho đầu giao tiền</span>
                                    </div>
                                    <div class="col-3">
                                        <div class="box-info-cost--transfers__wrap">
                                            <label class="d-block">Trường phân định</label>
                                            <select-price :value="detail.type"
                                                            :set-first="true"
                                                            class="w-100"
                                                            size="small"
                                                            :goods-value="detail.value"
                                                            :goods-type="goodsData.goodsType.value"
                                                            :transport-type="goodsData.transportType"
                                                            @input="detail.setType($event)"/>
                                        </div>
                                    </div>
                                    <div class="col-3" v-if="detail.type && detail.type.id">
                                        <label class="d-block">Gói giá</label>
                                        <el-select value-key="id"
                                                    size="small"
                                                    class="w-100"
                                                    :disabled="detail.type&&detail.type.usingExistedField&&detail.appliedCriterion&&detail.appliedCriterion.id!==null"
                                                    :value="detail.appliedCriterion"
                                                    @input="detail.setAppliedCriteria($event)">
                                            <el-option
                                                    v-for="(cre) in detail.type.pointPricing.criteria"
                                                    :value="cre"
                                                    :key="cre.id"
                                                    :label="cre.name">
                                            </el-option>
                                        </el-select>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div>
                                            <p class="mb-2"><b>Phí chuyển tiền: </b> {{ detail.originalFee|number }}đ</p>
                                            <p><b>Phụ phí mặc định: </b> {{ detail.totalExtraFees()|number }}đ</p>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div> 

                <div class="row px-4">
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="" class="d-block mb-1">Ghi chú đơn hàng</label>
                            <el-input type="textarea" v-model="goodsData.note" size="small"></el-input>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="" class="d-block">Hình thức thanh toán</label>
                            <el-select size="small" v-model="goodsData.paymentType">
                                <el-option :value="1" label="Tiền mặt"></el-option>
                            </el-select>
                        </div> -->
                        <div class="mb-3 d-flex align-items-center">
                            <!-- <el-checkbox class="mr-3">Người nhận trả tiền</el-checkbox> -->
                            <el-checkbox v-model="goodsData.sender.sendSMS" class="mr-3">SMS người gửi</el-checkbox>
                            <el-checkbox v-model="goodsData.receiver.sendSMS" class="mr-3">SMS người nhận</el-checkbox>
                            <el-checkbox v-model="goodsData.useCod">Thu hộ (COD)</el-checkbox>
                        </div>
                        <div class="mb-3" v-if="goodsData.useCod">
                            <div class="row mb-2 align-items-center">
                                <div class="col-2"><label for="">Số tiền thu hộ</label></div>
                                <div class="col-3">
                                    <el-input size="small" :value="goodsData.cod" @input="goodsData.setCod($event)">
                                        <span slot="suffix">đ</span>
                                    </el-input>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-2"><label for="">Phí thu hộ</label></div>
                                <div class="col-3">
                                    <h6>{{ goodsData.calculateCodFee()|number }}đ</h6> 
                                </div> 
                            </div>
                        </div>
                        <template v-if="goodsSelected[0]">
                            <button class="btn bg-orange text-warning" @click="printGood()">IN BIÊN NHẬN</button>
                            <button class="btn bg-orange text-warning" @click="printTemp()">IN TEM HÀNG</button>
                        </template>    
                    </div>
                    <div class="col-4">
                        <div class="d-flex mb-2 align-items-center justify-content-between">
                            <p class="white-space-nowrap">Tổng tiền cước </p>
                            <p>{{ goodsData.getTotalFee()|number }}đ</p>
                        </div>
                        <div class="d-flex mb-2 align-items-center justify-content-between" v-if="goodsData.id">
                            <p class="white-space-nowrap">Đã trả</p>
                            <el-input size="small" v-model="goodsData.paid" class="w-50">
                                <template slot="append">đ</template>
                            </el-input>
                        </div>
                        <div class="d-flex mb-4 align-items-center justify-content-between">
                            <p class="white-space-nowrap">Còn lại</p>
                            <p>{{ (goodsData.getTotalFee() - goodsData.paid)|number }}đ</p>
                        </div>
                        <div class="d-flex">
                            <button class="btn bg-secondary text-danger mr-2" @click="addGoods()" title="HUỶ BỎ (Ctrl + Shift + Enter)">HUỶ BỎ</button>
                            <button class="btn bg-success-200 text-success" :title="goodsData.id?'LƯU THAY ĐỔI':'TẠO ĐƠN HÀNG' + '(Ctrl + Enter)'" @click="saveGoods()">{{goodsData.id?'LƯU THAY ĐỔI':'TẠO ĐƠN HÀNG'}}</button>
                        </div>
                    </div>
                </div>
            </div>  
         </el-container>
    </el-container>
    <div class="d-none">
        <print-goods-tem-02 ref="PrintGoodsTem02Component"></print-goods-tem-02>
        <print-goods-02 ref="PrintGoods02Component"></print-goods-02>
    </div>
</section>
</section>
    
</template>

<script>
    import {mapState} from 'vuex';
    import {CollectionAnDeliveryType, Goods, GoodsDetail, GoodsList, GoodsStatus, GoodsType, GoodsFees} from "../../class/goods_v2";
    import SelectPoint from '../Point/SelectPoint';
    import SelectGoodsStatus from './GoodsStatus/SelectGoodsStatus';
    import SelectTransportType from './TransportType/SelectTransportType';
    import SelectPrice from './InitPrice/SelectPrice';
    import SelectExtraFee from './InitPrice/SelectExtraFee';
    import SelectUser from '../User/SelectUser';
    import icon from './icon.js'
    import printGoodsTem02 from '../Print/GoodsTem02.vue';
    import printGoods02 from '../Print/Goods02.vue';
    import ElTime from '../Template/ElTime'

    export default {
        components: {ElTime, SelectPoint, SelectGoodsStatus, SelectTransportType, SelectPrice, SelectExtraFee, SelectUser, printGoodsTem02, printGoods02},
        data() {
            return {
                demo: "",
                goodsStatus: new GoodsStatus(),
                goodsList: new GoodsList(),
                goodsData: new Goods(),
                goodsTypeProperties: GoodsType.properties(),
                goodsTypeEnum: GoodsType.enum(),
                checked: true,
                input: '',
                radio_checked: 'shipping_radio',
                optionsTime: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                options: [{
                    value: 'Hàng dễ vỡ',
                    label: 'Hàng dễ vỡ'
                }, {
                    value: 'Đồ nội thất',
                    label: 'Đồ nội thất'
                }],
                value: '',
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                collectionAndDeliveryTypeProperties: CollectionAnDeliveryType.properties(),
                goodsSelected: [],

                tabGoodsOrder: 'orderDetail',
                tabDelivery: 'goods',
                toggleAdvanceSearch: false,
                giveOnStreet: true,
                goodsFeesMap: {},
                showSidebar: true, 
                icon: icon,
                saveGoodsLoading: false,
                querySimpleSearch: "",
            }
        },
        mounted() {
            this.goodsList.getList();
            this.refreshGoodsData();
            // this.setDefaultReceivedPoint()
            this.$refs.senderPhone.focus();

            if (this.$route.params.collection) {
                let collection = _.cloneDeep(this.$route.params.collection);
                this.goodsData.collection = collection.collection;
                this.goodsData.collectionId = collection.id;
                this.goodsData.collectionType = collection.collectionType;
                this.goodsData.sender = collection.sender;
                this.goodsData.receiver = collection.receiver;
                this.goodsData.transportType = collection.transportType;
                this.goodsData.goodsType = collection.goodsType;
                this.goodsData.office = collection.office;
                this.goodsData.receivedPoint = collection.receivedPoint;
                this.goodsData.deliveryPoint = collection.deliveryPoint;
                this.goodsData.note = collection.note;
            }

            //use for not resize view, cannot style in scoped but just use in this component
            $('#main .container-fluid').css('min-width', '1500px')
            $('input, textarea, select').css('font-size', '16px')
        },
        computed: {
            sidebarWidth: function() {
                if( this.showSidebar ) {
                    return 'auto'
                }
                return '0'
            },
            ...mapState({
                room: state => state.room,
                companyConfigData: state => state.CompanyConfig.companyConfigData,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods: {
            addGoods() {
                this.refreshGoodsData(); 
                this.$refs.senderPhone.focus();
                this.tabGoodsOrder = 'orderDetail'
            },
            hanlderSelectGoods(goods) {
                this.refreshGoodsData(goods)
                this.tabGoodsOrder = 'orderJournaly'
                this.goodsData.log.getLogs()
            },
            simpleSearch() {
                this.goodsList.phoneNumber = this.querySimpleSearch
                this.goodsList.code = this.querySimpleSearch
                this.goodsList.getList({
                    success: () => {
                        if(this.goodsList.list.length == 1) {
                            this.hanlderSelectGoods(this.goodsList.list[0])
                        }
                    }
                })
            },
            load : function () {
                this.goodsList.getList({
                    numberPage : 1
                })
            },
            printTemp: function () {
                this.$refs.PrintGoodsTem02Component.print(this.goodsSelected);
            },
            printGood: function () {
                this.$refs.PrintGoods02Component.print(this.goodsSelected);
            },
            refreshGoodsData: function (goods) {
                // đẩy dữ liệu vào để In
                this.goodsSelected = []
                this.goodsSelected.push(goods);

                if (!goods) {
                    this.goodsData = new Goods();
                    this.goodsData.office = this.room;
                    this.goodsData.collection.time = new Date().customFormat('#hhhh#:#mm#');
                    this.goodsData.collection.date = new Date().customFormat('#YYYY##MM##DD#');
                    this.goodsData.collection.courier = this.$root.getUserInfo();
                    this.goodsData.collection.address = this.room ? this.room.address : '';
                    this.goodsData.receivedPoint = _.cloneDeep(this.room);
                    this.addGoodsDetail();
                    this.setDefaultReceivedPoint();
                    this.setDefaultDeliveryType()
                    this.setDefaultTransportType()
                } else {
                    this.goodsData = _.cloneDeep(goods);
                    this.goodsData.getDetailByResponse();
                }

            },

            addGoodsDetail: function () {
                this.goodsData.details.push(new GoodsDetail())
                const goodDelivery = document.querySelector('[data-name=goodsDelivery]')
                goodDelivery.scrollTop = goodDelivery.scrollHeight;
                this.setGoodsDataTable()
            },

            saveGoods() {
                if(this.goodsData.receivedPoint == null || this.goodsData.deliveryPoint == null) {
                    if( !confirm('Bạn chưa nhập đủ thông tin bưu cục. Điều này có thể dẫn đến thiếu sót trong báo cáo. Bạn chắc chắn !') ) {
                        return
                    }
                }

                let self = this;
                self.saveGoodsLoading = true
                this.goodsData.saveGoods({
                    before: function () {
                        // self.load('saveGoods');
                    },
                    success: function () {
                        self.refreshGoodsData();
                        self.goodsList.getList();

                        self.setDefaultDeliveryType()
                        self.setDefaultTransportType()
                        self.setGoodsDataTable()
                        self.setDefaultReceivedPoint()
                        notify("Lưu thành công !","success");

                        self.tabGoodsOrder = 'orderDetail'
                        // self.unload('saveGoods');
                        
                        self.saveGoodsLoading = false
                    },
                    error: function () {
                        self.saveGoodsLoading = false
                        // self.unload('saveGoods');
                    }
                });
            },

            setDefaultDeliveryType() {
                if(this.companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.value) {
                    if(this.companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.value.length == 0) {
                        return 
                    } 
                    if(this.companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.value !== null) {
                        this.goodsData.deliveryType.value = this.companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE.value
                    }
                }
                
            },

            setDefaultTransportType() {
                let config = this.companyConfig.CONFIG.DEFAULT_TRANSPORT_TYPE.value
                if(config) {
                    if(config.length === 0) { 
                        this.goodsData.transportType = null
                        return 
                    }
                    this.goodsData.transportType = config
                } 
                
            },

            setGoodsDataTable() {
                if(this.companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value) {
                    if(this.companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value.id || _.size(this.goodsFeesMap) == 0) {
                        let index = this.goodsData.details.length - 1
                        this.goodsData.details[index].setType( this.goodsFeesMap[this.companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value.id] )
                    }
                }
                
            },

            setDefaultReceivedPoint() {
                this.goodsData.receivedPoint = this.userInfo.userInfo.room
            },
            
            querySearchPhoneNumberSender(query, callback) {
                if (this.timer) {
                    clearTimeout(this.timer);
                }
                this.timer = setTimeout( () => {
                    sendParam({
                        url: urlDBD(API.goodsV2SearchCustomer),
                        type: 'get',
                        data: {
                            page: 0,
                            count: 5,
                            phoneNumber: query
                        },
                        success: (data) => {
                            if(data.results.customers.length == 1) {
                                this.goodsData.sender.name = data.results.customers[0].customerName
                            }

                            if(data.results.customers.length == 0) {
                                this.goodsData.sender.name = ""
                            }

                            callback(data.results.customers)
                        }
                    })
                }, 500);
            },
            querySearchPhoneNumberReceiver(query, callback) {
                if (this.timer) {
                    clearTimeout(this.timer);
                }
                this.timer = setTimeout( () => {
                    sendParam({
                        url: urlDBD(API.goodsV2SearchCustomer),
                        type: 'get',
                        data: {
                            page: 0,
                            count: 5,
                            phoneNumber: query
                        },
                        success: (data) => {
                            if(data.results.customers.length == 1) {
                                this.goodsData.receiver.name = data.results.customers[0].customerName
                            }

                            if(data.results.customers.length == 0) {
                                this.goodsData.receiver.name = ""
                            }

                            callback(data.results.customers)
                        }
                    })
                }, 500);
            },

            handleSelectSenderPhoneNumber: function (props) {
                this.goodsData.sender.phoneNumber = props.phoneNumber;
                this.goodsData.sender.name = props.customerName;
            },

            handleSelectReceiverPhoneNumber: function (props) {
                this.goodsData.receiver.phoneNumber = props.phoneNumber;
                this.goodsData.receiver.name = props.customerName;
            },

            setW(detail,value) {
                if(!value.includes('.')) {
                    value = Number( value.replace(/[^0-9.]+/g,"") )
                } else {
                    value = value.replace(/[^0-9.]+/g,"")
                }
                
                if(value == "") {
                    value = 0
                }
                detail.setWeight(value)
            },

            setValue(detail, value) {
                value = Number( value.replace(/[^0-9]+/g,"") )
                detail.setValue(value)
            },
            
            setDefaultQuantity(detail) {
                if(detail.quantity == "" || detail.quantity == 0) {
                    detail.quantity = 1
                }
            },

            setQuantity(detail, value) {
                value = value.replace(/[^0-9]+/g,"")
                detail.setQuantity(value)
            },

            changeOriginalFee(detail, value) {
                value = Number( value.replace(/[^0-9]+/g,"") )
                if(value == "") {
                    value = 0
                }
                detail.originalFee = value

                let tmpOriginalFee = detail.originalFee

                if(detail.type.id) {
                    detail.setType(null)
                    detail.setAppliedCriteria(null)
                }
                if(detail.extraFees.length > 0) {
                    detail.extraFees = []
                }
                if(tmpOriginalFee == "") {
                    // detail.originalFee = 0
                    detail.totalFeeInput = 0
                } else {
                    detail.originalFee = tmpOriginalFee
                    detail.totalFeeInput = tmpOriginalFee       
                }    
            }
        },
        watch: {
            'tabGoodsOrder': function(value) {
                if(value == 'orderJournaly' && this.goodsData.log.logs.length == 0) {
                    this.goodsData.log.getLogs()
                }
            },
            'companyConfig.CONFIG.DEFAULT_TRANSPORT_TYPE': {
                handler: function(config) {
                    //use watcher because this config is async, so can not set config in mounted 
                    if(config.value) {
                        if(config.value.length === 0) {
                            this.goodsData.transportType = null
                            return
                        }
                    }
                    
                    this.goodsData.transportType = config.value
                }, 
                deep: true
            },
            'companyConfig.CONFIG.DEFAULT_DELIVERY_TYPE': {
                handler: function(config) {
                    this.goodsData.deliveryType.value = config.value
                }, 
                deep: true
            },
            'companyConfig.CONFIG.DEFAULT_TABLE_PRICE': {
                handler: function(config) {
                    config = config.value

                    if(config && config.id) {
                        let goodsFees = new GoodsFees()
                    
                        if( _.size(this.goodsFeesMap) == 0) {
                            goodsFees.getList({
                                success: (data) => {
                                    data.results.types.forEach(value => {
                                        this.goodsFeesMap[value.id] = value
                                    });
                                    this.goodsData.details.forEach((goods) => {
                                        goods.setType( this.goodsFeesMap[config.id] )
                                    })
                                }
                            })
                        }
                    }
                }, 
                deep: true
            }
        }
    }
</script>

<style>
    .switch-goodsType  .el-radio__inner {
        width: 20px;
        height: 20px;
    }
</style>
<style lang="scss" scoped>
    .goodsDelivery {
        max-height: 220px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    input.no-border {
        border: none;
        -webkit-appearance: none;
        background-color: transparent;
        background-image: none;
        border-radius: 4px;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        width: 100%;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    .listGoods {
        padding-top: 0px;
        max-height: calc(100vh - 151px);
        overflow-y: auto;
    }

    .card {
        background: #FFFFFF;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border-color: #fff;
    }

    *:not(i){
        font-family: Cabin;
    }
    .text-success { color: #00C48C!important; }
    .bg-success-200 { background-color: #D5F2EA!important; }
    .bg-orange { background-color: #F8E7CD!important; }
    .text-warning { color: #F39B13!important; }
    .text-primary { color: #084388!important; }
    .bg-primary { background-color: #084388!important; }
    .bg-secondary { background-color: #ECEDF1!important; }

    // .GoodsAddV02 input, .GoodsAddV02 select, .GoodsAddV02 textarea{
    //     font-size: 16px!important;
    // }
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
