<template>
  <section class="importAndExportGoods pt-3">
    <div class="container">
      <div class="blockGoods__header">
        <label>Xuất nhập hàng</label>
        <el-select v-if="room" :value="room.id" filterable disabled placeholder="Bưu cục">
          <el-option :key="room.id" :label="room.name" :value="room.id"></el-option>
        </el-select>
      </div>
        <div class="row">
            <div class="col-4">
                <el-card class="card--goods">
                    <div slot="header" class="card--goods__header">
                        <h3>Danh sách hàng hóa</h3>
                        <el-popover
                                @show="camera='front'"
                                @hide="camera='off'"
                                placement="bottom"
                                title="Quét mã"
                                width="200"
                                trigger="click">
                            <div>
                                <div class="text-danger">{{cameraError}}</div>
                                <qrcode-stream :camera="camera" @init="onInitCamera" @decode="onDecode"></qrcode-stream>
                                <div class="w-100">
                                    <el-button size="mini" @click="camera = camera === 'front'?'rear':'front'">{{camera === 'front'?'Bật camera sau':'Bật camera trước'}}</el-button>
                                </div>
                                <div class="d-flex  mb-2">
                                    <el-date-picker type="daterange" class="w-100" placeholder="Ngày nhận hàng" :value="goodsList.date" @input="goodsList.setFilter($event,'date')" format="dd-MM-yyyy" value-format="yyyyMMdd"></el-date-picker>
                                </div>
                                <div class="d-flex  mb-2" >
                                    <e-select-user class="w-100" v-model="goodsList.receiverSelected" @input="goodsList.setFilter($event,'receiver')" :multiple="false" placeholder="Nhân viên nhận hàng" clearable></e-select-user>
                                </div>
                                <div class="d-flex  mb-2">
                                    <el-select v-model="goodsList.officeSelected"  class="w-100" @input="goodsList.setFilter($event,'office')" value-key="id" filterable clearable placeholder="Phòng hàng" >
                                        <el-option
                                                v-for="item in points"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item">
                                        </el-option>
                                    </el-select>
                                </div>
                                <!--<div class="d-flex mb-2">-->
                                <!--<select-goods-status class="w-50" placeholder="Trạng thái" :value="goodsList.goodsStatus" @input="goodsList.setFilter($event,'goodsStatus')"></select-goods-status>-->
                                <!--</div>-->
                            </div>
                            <el-button slot="reference" title="Tìm theo mã Qr"><i class="fa fa-qrcode"></i></el-button>
                        </el-popover>
                    </div>
                    <div class="card--goods__body" style="min-height: 90vh;">
                        <div class="card--goods__filter">
                            <div class="d-flex mb-2">
                                <el-input class="w-50 mr-2" suffix-icon="el-icon-search" :value="goodsList.code" @input="goodsList.setFilter($event,'code')"></el-input>
                                <select-region class="w-50 mr-2" placeholder="Khu vực nhận hàng"
                                               :value="goodsList.region"
                                               @input="goodsList.setFilter($event,'region')"></select-region>
                                <!--<select-work-shift class="w-50" placeholder="Ca nhận hàng" :value="goodsList.workShift" @input="goodsList.setFilter($event,'workShift')"></select-work-shift>-->
                            </div>
                            <div class="d-flex  mb-2">
                                <el-date-picker type="daterange" class="w-100" placeholder="Ngày nhận hàng" :value="goodsList.date" @input="goodsList.setFilter($event,'date')" format="dd-MM-yyyy" value-format="yyyyMMdd"></el-date-picker>
                            </div>
                            <div class="d-flex  mb-2">
                                <e-select-user class="w-100" v-model="goodsList.receiverSelected" @input="goodsList.setFilter($event,'receiver')" :multiple="false" placeholder="Nhân viên nhận hàng" clearable></e-select-user>
                            </div>
                            <div class="d-flex  mb-2">
                                <el-select class="w-100" v-model="goodsList.officeSelected" @input="goodsList.setFilter($event,'office')" value-key="id" filterable clearable placeholder="Phòng hàng" >
                                    <el-option
                                            v-for="item in points"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item">
                                    </el-option>
                                </el-select>
                            </div>
                            <!--<div class="d-flex mb-2">-->
                            <!--<select-goods-status class="w-50" placeholder="Trạng thái" :value="goodsList.goodsStatus" @input="goodsList.setFilter($event,'goodsStatus')"></select-goods-status>-->
                            <!--</div>-->
                        </div>
                        <div class="card--goods__action">
                            <p>Chọn tất cả <span class="icon-add" @click="selectAll()"></span></p>
                        </div>
                        <div class="listGoods" v-loading="goodsList.loading" v-infinite-scroll="load" style="overflow:auto;max-height: 90vh; ">
                            <template v-for="(goods, index) in  goodsList.list">
                                <div class="goodsOrder__item" :key="index" v-if="mapSelected[goods.id]===undefined">
                                    <h6>
                                        <span class="goodsOrder__item__id">#{{ goods.code }}</span>
                                        <span class="icon-add" @click="selected.push(goods)"></span>
                                    </h6>
                                    <p>
                                        <span class="goodsOrder__item__shift">{{goods.collection.workShiftInfo?goods.collection.workShiftInfo.name:''}} -{{goods.delivery.time||'--:--'}}</span>
                                        <span class="goodsOrder__item__date">{{goods.createdDate|strToDate}}</span>
                                    </p>
                                    <h6>
                                        <span class="goodsOrder__item__type"><i class="fas fa-truck"></i>{{goods.transportType?goods.transportType.name : ''}}</span>
                                        <!-- <span class="goodsOrder__item__num">--/-- kiện </span> -->
                                    </h6>
                                    <h6>
                                    <span class="goodsOrder__item__place">
                                        <i class="fas fa-map-marker-alt"></i>{{ goods.collection.address }} <i
                                            class="ml-2 fas fa-arrow-right"></i> {{ goods.delivery.address }}
                                    </span>
                                        <!--<span class="requestReceipt__item__weight">500 gram</span>-->
                                    </h6>
                                    <template v-if="goods.details.length > 0">
                                        <hr>
                                        <div class="goodsOrder__item__listGoods">
                                            <p v-for="(detail, ind) in  goods.details" :key="ind"><span>{{ detail.name }}</span><span v-if="detail.code">#{{ detail.code }}</span>
                                            </p>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </div>
                </el-card>
            </div>
            <div class="col-4">
              <el-card class="card--goods">
                <div slot="header" class="card--goods__header">
                  <h3>Danh sách điều hành</h3>
                  <el-tooltip
                          class="item"
                          effect="dark"
                          content="Làm trống danh sách"
                          placement="top-start"
                  >
                    <el-button type="text" @click="selected = []">
                      <i class="far fa-trash-alt"></i>
                    </el-button>
                  </el-tooltip>
                </div>
                <div class="card--goods__body" style="min-height: 90vh;">
                  <div class="card--goods__summary">
                    <span>{{ selected.length }} kiện</span>
                    <!-- <span>2000g</span> -->
                  </div>
                  <div class="listGoods">
                    <template v-for="(goods, index) in  selected">
                      <div class="goodsOrder__item" :key="index">
                        <h6>
                          <span class="goodsOrder__item__id">#{{ goods.code }}</span>
                          <span class="icon-minus" @click="selected.splice(mapSelected[goods.id],1)"></span>
                        </h6>
                        <p>
                        <span
                                class="goodsOrder__item__shift"
                        >{{goods.collection.workShiftInfo?goods.collection.workShiftInfo.name:''}} -{{goods.delivery.time||'--:--'}}</span>
                          <span class="goodsOrder__item__date">{{goods.createdDate|strToDate}}</span>
                        </p>
                        <h6>
                        <span class="goodsOrder__item__type">
                          <i class="fas fa-truck"></i>
                          {{goods.transportType?goods.transportType.name : ''}}
                        </span>
                          <!-- <span class="goodsOrder__item__num">--/-- kiện </span> -->
                        </h6>
                        <h6>
                        <span class="goodsOrder__item__place">
                          <i class="fas fa-map-marker-alt"></i>
                          {{ goods.collection.address }}
                          <i class="ml-2 fas fa-arrow-right"></i>
                          {{ goods.delivery.address }}
                        </span>
                          <!--<span class="requestReceipt__item__weight">500 gram</span>-->
                        </h6>
                        <hr />
                        <div class="goodsOrder__item__listGoods">
                          <p v-for="(detail, ind) in  goods.details" :key="ind">
                            <span>{{ detail.name }}</span>
                            <span v-if="detail.code">#{{ detail.code }}</span>
                          </p>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </el-card>
            </div>
            <div class="col-4">
            <el-card class="card--goods">
              <div slot="header" class="card--goods__header">
                <h3>Xếp hàng</h3>
              </div>
              <div class="card--goods__body">
                <ul class="nav card--goods__tabnav">
                  <li class="nav-item">
                    <a class="active" data-toggle="tab" href="#tab1" @click="isImport = true">
                      <span class="dot"></span> Nhập kho
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class data-toggle="tab" href="#tab2" @click="isImport = false">
                      <span class="dot"></span> Lên xe
                    </a>
                  </li>
                </ul>
                <div class="card--goods__summary">
                  <p>
                  <span
                          class="brc-item"
                          v-for="(brc,index) in goodsWarehousesBreadcrumbs"
                          :key="index"
                  >{{brc}}</span>
                  </p>
                </div>
                <div class="wareHouse__tree">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                      <el-tree :data="warehouseTree" @node-click="selectTreeWareHouse"></el-tree>
                    </div>
                    <div class="tab-pane" id="tab2">
                      <el-date-picker
                              class="mb-3 w-100"
                              placeholder="Ngày"
                              v-model="searchTrip.date"
                              format="dd-MM-yyyy"
                              value-format="yyyyMMdd"
                      ></el-date-picker>
                      <SelectRoute
                              class="mb-3 w-100"
                              filterable
                              placeholder="Chọn tuyến"
                              @input="getTrips()"
                              v-model="searchTrip.route"
                      ></SelectRoute>
                      <!-- <el-select class="mb-3 w-100" filterable placeholder="Chọn chuyến"></el-select> -->
                      <!-- <datepicker version="ticket07" :value="date" @input="$store.dispatch('Ticket07/SET_DATE',$event)"></datepicker> -->
                      <!-- <datepicker version="ticket07" :value="date" class="mb-3"
                                                      @input="$store.dispatch('Ticket07/SET_DATE',$event)"></datepicker>
                                          <el-select :clearable="true" filterable placeholder="Chọn tuyến" value-key="routeId" class="w-100 mb-3"
                                                  :value="route"
                                                  @input="$store.dispatch('Ticket07/SET_ROUTE',$event?$event.routeId:null)">
                                              <el-option
                                                      v-for="item in routes"
                                                      :key="item.routeId"
                                                      :label="item.routeName"
                                                      :value="item">
                                              </el-option>
                                          </el-select>
                      -->
                      <el-select
                              class="w-100 mb-3"
                              v-model="tripSelected"
                              filterable
                              placeholder="Chọn chuyến"
                              @input="handerSelectTrip"
                              value-key="tripId"
                      >
                        <el-option
                                v-for="item in trips"
                                :key="item.tripId"
                                :label="item.startTimeReality|customDate('#hhhh#:#mm#',true)"
                                :value="item"
                        ></el-option>
                      </el-select>

                      <hr />

                      <select-vehicle
                              class="mb-3 w-100"
                              placeholder="Chọn xe"
                              v-model="vehicle"
                              disabled
                      ></select-vehicle>
                      <select-user
                              class="w-100 mb-3"
                              :multiple="true"
                              @input="updateDriver($event)"
                              :value="courier"
                              placeholder="Chọn tài xế"
                      ></select-user>
                    </div>
                  </div>
                </div>
                <div class="avaction btn-container">
                  <button class="action-info cursor-pointer" @click="print()">In danh sách</button>
                  <button class="action-success cursor-pointer" @click="update">Lưu</button>
                  <!-- <button class="action-info cursor-pointer">In danh sách</button>
                  <button class="action-warning cursor-pointer">Tạo mã gom</button>-->
                </div>
              </div>
            </el-card>
          </div>
            <!--<div class="d-flex mb-2">-->
            <!--<select-goods-status class="w-50" placeholder="Trạng thái" :value="goodsList.goodsStatus" @input="goodsList.setFilter($event,'goodsStatus')"></select-goods-status>-->
            <!--</div>-->
          </div>
        </div>
  </section>
</template>


<script>
    import SelectRegion from '../Region/SelectRegion';
    import SelectWorkShift from '../WorkShift/SelectWorkShift';
    import SelectGoodsStatus from './GoodsStatus/SelectGoodsStatus';
    import SelectUser from '../User/SelectUser';
    import ESelectUser from '../User/ESelectUser';
    import SelectRoute from '../Route/SelectRoute';
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import {GoodsList, GoodsStatus} from "../../class/goods_v2";
    import {mapState} from 'vuex';

    export default {
    components: {SelectRegion, SelectWorkShift, SelectGoodsStatus, SelectUser, SelectRoute, SelectVehicle,ESelectUser},
    data: function () {
        let goodsList = new GoodsList();
        goodsList.goodsStatus = [GoodsStatus.enum().REQUEST_SUCCESS];
        let goodsStatus = new GoodsStatus();
        return {
            isFirstTime: true,
            goodsList: goodsList,
            goodsStatus,
            courier: null,
            selected: [],
            loadingAssign: false,
            goodsWarehouses: [],
            goodsWarehousesBreadcrumbs: [],
            goodsWarehousesSelected: {},
            // route: null,
            searchTrip: {
                date: new Date().customFormat('#YYYY##MM##DD#'),
                route: {}
            },
            trips: [],
            tripSelected: {},
            vehicle: null,
            isImport: true,
            camera: 'off', // 'front','rear'
            cameraError: '',
            templatePrint: '',
            points: [],
        }},

    computed: {
    ...mapState({
      room: state => state.room,
      companyConfigData: state => state.CompanyConfig.companyConfigData
    }),
    mapSelected: function() {
      let selected = this.selected;
      let map = {};
      $.each(selected, function(i, item) {
        map[item.id] = i;
      });
      return map;
    },

    warehouseTree() {
      let goodsWarehouseTree = [];
      this.goodsWarehouses.forEach(function(elem) {
        let tmp = { label: elem.name, children: [], parent: "", data: elem };

        if (elem.shelves) {
          elem.shelves.forEach(function(elm) {
            let tmp2 = {
              label: elm.name,
              children: [],
              parent: elem,
              data: elem
            };

            if (elm.positions) {
              elm.positions.forEach(function(el) {
                tmp2.children.push({ label: el, parent: elm, data: elem });
              });

              tmp.children.push(tmp2);
            }
          });
        }
        tmp.data = elem;
        goodsWarehouseTree.push(tmp);
      });

      return goodsWarehouseTree;
    }
    },

      mounted: function() {
        // this.goodsList.date=new Date().customFormat('#YYYY##MM##DD#');
        this.getConfig();
        this.goodsList.getList();
        this.getListGoodsWareHouse();
        this.getListOffice();
      },
    methods: {
        load : function () {
            if (this.isFirstTime) {
                this.isFirstTime = false
                return false
            }
            this.goodsList.getList({
                numberPage : 1
            })
        },
        getTrips() {
            let self = this;

            let params = {
                page: 0,
                count: 300,
                timeZone: 7,
                sortSelections: [{ fieldName: "startTime", ascDirection: true }],
                companyId: window.userInfo.userInfo.companyId,
                // routeId: context.state.route.routeId,
                date: this.searchTrip.date,
                startPoint: _.first(this.searchTrip.route.listPoint).id,
                endPoint: _.last(this.searchTrip.route.listPoint).id,
                searchPointOption: 1,
                source: 1,
                platform: 1
            };

            sendJson({
                url: urlDBD(API.planForTripSearch),
                data: params,
                success: function(data) {
                    self.trips = data.results.trips;
                },
                functionIfError: function(data) {}
            });
        },
        getListOffice : function () {
            let self = this;
            let dataSend = {
                page: 0,
                count: 1000,
                isReceivedGoods: true
            };
            self.load('getPoints');
            sendJson({
                url : urlDBD(API.pointList),
                data : dataSend,
                success: function (data) {
                    self.points = data.results.result;
                    self.unload('getPoints');
                },
                functionIfError : function (res) {
                    self.unload('getPoints');
                }
            })
        },
        handerSelectTrip() {
            this.vehicle = this.tripSelected.vehicle;
            this.courier = this.tripSelected.drivers;
        },
        update() {
          let self = this;
          if (!this.validate()) return false;

          let params = {};

          if (this.isImport) {
            params.status = GoodsStatus.enum().REQUEST_SUCCESS;
            params.warehouse = {
              id: this.goodsWarehousesSelected.id,
              name: this.goodsWarehousesSelected.name,
              address: this.goodsWarehousesSelected.address,
              shelf: this.goodsWarehousesSelected.shelf
            };
          } else {
            params.status = GoodsStatus.enum().ON_VEHICLE;
            params.assignedVehicle = {};
            params.assignedVehicle.drivers = [];
            this.courier.forEach(function(value) {
              var tmp = {
                id: value.id,
                userName: value.userName,
                fullName: value.fullName,
                phoneNumber: value.phoneNumber,
                email: value.email,
                avatar: value.avatar,
                licenceLevel: value.licenceLevel,
                licenceCode: value.licenceCode,
                licenceExpired: value.licenceExpired,
                birthday: value.birthDay
              };
              params.assignedVehicle.drivers.push(tmp);
            });

            params.assignedVehicle.vehicle = {
              id: this.vehicle.id,
              name: this.vehicle.name,
              numberPlate: this.vehicle.numberPlate
            };

            params.transportTrip = {
              id: this.tripSelected.tripId
            };
          }

          let codes = [];
          $.each(self.selected, function(i, item) {
            codes.push(item.code);
          });

          params.codes = codes;

          self.loadingAssign = true;
          sendJson({
            url: urlDBD(API.goodsV2Manage),
            data: params,
            success: function(res) {
              self.courier = null;
              self.selected = [];
              self.goodsList.getList();
              self.loadingAssign = false;
            },
            functionIfError: function(err) {
              self.loadingAssign = false;
            }
          });
        },
        selectAll: function() {
            let self = this;
            let list = _.cloneDeep(this.goodsList.list);
            $.each(list, function(g, goods) {
                if (self.mapSelected[goods.id] === undefined) {
                    self.selected.push(goods);
                }
            });
        },
        validate() {
            if (this.selected.length <= 0) {
                notify("Không có món hàng hàng để điều phối !", "error");
                return false;
            }
            if (this.isImport) {
                if (this.goodsWarehousesSelected == null) {
                    notify("Vui lòng chọn kho hàng !", "error");
                    return false;
                }
                // if(!this.goodsWarehousesSelected.shelf ||  !this.goodsWarehousesSelected.shelf.position) { notify("Vui lòng chọn đầy đủ thông tin kho hàng !", "error"); return false }
            } else {
                if (this.courier == "") {
                    notify("Vui lòng chọn nhân viên để điều phối !", "error");
                    return false;
                }
                if (this.vehicle == "") {
                    notify("Vui lòng chọn xe !", "error");
                    return false;
                }
                if (this.tripSelected == "") {
                    notify("Vui lòng chọn chuyến !", "error");
                    return false;
                }
            }
            return true;
        },
        updateDriver(data) {
          let self = this;

          if (!self.tripSelected.tripId) {
            notify("Vui lòng chọn chuyến !", "error");
            return false;
          }
          self.load("updateDriver");
          let params = {
            tripId: self.tripSelected.tripId
          };

          let listDriver = [];
          if (data) {
            $.each(data, function(d, driver) {
              let drv = {
                id: driver.id,
                fullName: driver.fullName
              };
              listDriver.push(drv);
            });
          }
          params.drivers = listDriver;

          sendJson({
            url: urlDBD(API.tripManage),
            data: params,
            success: function(res) {
              self.courier = data;
              self.unload("updateDriver");
            },
            functionIfError: function(err) {
              self.unload("updateDriver");
            }
          });
        },

        getListGoodsWareHouse() {
          let self = this;

          self.load("getList");

          sendParam({
            url: urlDBD(API.goodsWareHouseGet),
            // data: dataSend,
            type: "GET",
            success: function(data) {
              self.goodsWarehouses = data.results.goodsWarehouses;
              self.unload("getList");
            },
            functionIfError: function(res) {
              self.unload("getList");
            }
          });
        },

        selectTreeWareHouse(data) {
          this.goodsWarehousesSelected = {
            id: data.data.id,
            name: data.data.name,
            address: data.data.address
          };
          this.goodsWarehousesBreadcrumbs = [];
          this.goodsWarehousesBreadcrumbs.push(data.data.name);
          if (data.parent) {
            if (data.parent.shelves) {
              this.goodsWarehousesSelected.shelf = {
                name: data.label,
                position: ""
              };
              this.goodsWarehousesBreadcrumbs.push(data.label);
            }

            if (data.parent.positions) {
              this.goodsWarehousesBreadcrumbs.push(data.parent.name);
              this.goodsWarehousesBreadcrumbs.push(data.label);

              this.goodsWarehousesSelected.shelf = {
                name: data.parent.name,
                position: data.label
              };
            }
          }
        },
        async onInitCamera(promise) {
          try {
            this.cameraError = "";
            await promise;
          } catch (error) {
            if (error.name === "NotAllowedError") {
              this.cameraError = "ERROR: you need to grant camera access permisson";
            } else if (error.name === "NotFoundError") {
              this.cameraError = "ERROR: no camera on this device";
            } else if (error.name === "NotSupportedError") {
              this.cameraError =
                "ERROR: secure context required (HTTPS, localhost)";
            } else if (error.name === "NotReadableError") {
              this.cameraError = "ERROR: is the camera already in use?";
            } else if (error.name === "OverconstrainedError") {
              this.cameraError = "ERROR: installed cameras are not suitable";
            } else if (error.name === "StreamApiNotSupportedError") {
              this.cameraError =
                "ERROR: Stream API is not supported in this browser";
            }
          }
        },
        onDecode: function(result) {
          this.goodsList.setFilter(result, "code");
        },
        print: function() {
          let contentPrint = this.renderTable(this.templatePrint, this.selected);
          let printObject = $(contentPrint);
          printObject.printThis();
        },
        renderTable: function(template, goodList) {
          let self = this;
          let templateObject = $("<div>" + template + "</div>");
          let replaceTemplate = templateObject.find('tbody').html();
          let content = replaceTemplate;
          if(goodList.length === 0) {
            templateObject.find('tbody').html('<tr></tr>');
            return templateObject.html();
          }
          let replaceObject = [
            {
              key: "[so_thu_tu]",
              value: function(index) {
                return index+1;
              }
            },
            {
              key: "[ma_hang]",
              value: function(index) {
                return goodList[index].code;
              }
            },
            {
              key: "[ngay_gui]",
              value: function(index) {
                return goodList[index].createdDate ? self.$options.filters.strToDate(goodList[index].createdDate) : '';
              }
            },
            {
              key: "[ten_hang]",
              value: function(index) {
                return goodList[index].details ? goodList[index].details.map(x => x.name).join(', ') : '';
              }
            },
            {
              key: "[nguoi_gui]",
              value: function(index) {
                return goodList[index].sender ? goodList[index].sender.name : '';
              }
            },
            {
              key: "[sdt_nguoi_gui]",
              value: function(index) {
                return goodList[index].sender.phoneNumber;
              }
            },
            {
              key: "[noi_gui]",
              value: function(index) {
                return goodList[index].deliveryPoint ? goodList[index].deliveryPoint.name : '';
              }
            },
            {
              key: "[nguoi_nhan]",
              value: function(index) {
                return goodList[index].receiver ? goodList[index].receiver.name : '';
              }
            },
            {
              key: "[sdt_nguoi_nhan]",
              value: function(index) {
                return goodList[index].receiver.phoneNumber;
              }
            },
            {
              key: "[noi_nhan]",
              value: function(index) {
                return goodList[index].receivedPoint ? goodList[index].receivedPoint.name : '';
              }
            },
            {
              key: "[ly_do_huy]",
              value: function(index) {
                return !!goodList[index].failReason ? goodList[index].failReason : '';
              }
            },
            {
              key: "[nguoi_huy]",
              value: function(index) {
                return goodList[index].status === 0 ? goodList[index].updatedUser.fullName : '';
              }
            },
          ];
          $.each(goodList, function(indexItem, item) {
            $.each(replaceObject, function(indexReplaceObject, element) {
              content = content.replaceAll(
                element.key,
                element.value(indexItem)
              );
            });
            if (indexItem < goodList.length - 1) {
              content += replaceTemplate;
            }
          });
          templateObject.find('tbody').html(content);
          return templateObject.html();
        },
        getConfig: async function() {
          let self = this;
          let typeData = DisplaySetting.PRINT_STATISTICAL_GOODS_EMPLOYEE;
          sendJson({
            url: urlDBD(API.displaySettingGet),
            data: {
              type: typeData
            },
            async: false,
            success: function(res) {
                self.templatePrint = res.results.data;
            },
            functionIfError: function(res) {}
          });
        }
    }
    }

</script>
<style scoped>
.el-tree-node.is-current .el-tree-node__content {
  background: #aaa;
}
.importAndExportGoods .dropdown-q .dropdown-q-label {
  min-height: 35px;
}
.importAndExportGoods .el-card {
  overflow: visible;
}
.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
</style>
