<template>
    <section class="PriceComponent">
        <div class="header-price-list">
            <div class="container">
                <h5>Bảng giá vận chuyển</h5>
            </div>
        </div>
        <div class="content-price-list">
            <div class="container">
                <div class="content-price-list__wrap">
                    <ul class="nav nav-tabs tabs-header__box-pl">
                        <li class="">
                            <a class="show active" data-toggle="tab" href="#chuyenhang">Chuyển hàng</a>
                        </li>
                        <li class="">
                            <a class="" data-toggle="tab" href="#chuyentien">Chuyển tiền</a>
                        </li>
                        <li class="">
                            <a class="" data-toggle="tab" href="#thuphi">Phụ phí</a>
                        </li>
                    </ul>
                    <div class="box-tools-price-list">
                        <div class="box-tools-pl--search">
                            <el-input placeholder="Tìm kiếm" v-model="input"></el-input>
                            <i class="el-icon-search"></i>
                        </div>
                        <a href="" class="box-tools-pl--package_new">
                            <i class="el-icon-circle-plus"></i>Thêm gói giá mới
                        </a>
                    </div>
                    <div class="tab-content tabs-content__box-pl">
                        <div id="chuyenhang" class="tab-pane active">
                            <table class="table table-shipping__box-pl">
                                <thead>
                                    <td>Loại hình vận chuyển</td>
                                    <td>Danh sách điểm nhận</td>
                                    <td>Danh sách điểm trả</td>
                                    <td>Trường phân định</td>
                                    <td></td>
                                </thead>
                                <tbody>
                                    <td>
                                        <div class="dropdown box-dropdown-transport_place">
                                            <button type="button" class="dropdown-toggle btn-dropdown-transport_place" data-toggle="dropdown">Chọn</button>
                                            <div class="dropdown-menu">
                                                <div class="input-filter-place-pl">
                                                    <el-input placeholder="Nhập để tìm kiếm" v-model="input_search"></el-input>
                                                    <i class="fas fa-plus" @click="FuncAddListTag(input_search)"></i>
                                                </div>
                                                <a class="dropdown-item" href="#" v-for="tag in filteredTags" :key="tag" @click="FuncListTag(tag)">{{tag}}</a>
                                            </div>
                                        </div>
                                        <div class="box-list-transport_place">
                                            <el-tag v-for="ItemTag in ListTagsChoose" :key="ItemTag" closable @close="FuncCloseTag(ItemTag)">{{ItemTag}}</el-tag>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown box-dropdown-transport_place">
                                            <button type="button" class="dropdown-toggle btn-dropdown-transport_place" data-toggle="dropdown">Chọn</button>
                                            <div class="dropdown-menu">
                                                <div class="input-filter-place-pl">
                                                    <el-input placeholder="Nhập để tìm kiếm" v-model="input_search"></el-input>
                                                    <i class="fas fa-plus" @click="FuncAddListTag(input_search)"></i>
                                                </div>
                                                <a class="dropdown-item" href="#" v-for="tag in filteredTags" :key="tag" @click="FuncListTag(tag)">{{tag}}</a>
                                            </div>
                                        </div>
                                        <div class="box-list-transport_place">
                                            <el-tag v-for="ItemTag in ListTagsChoose" :key="ItemTag" closable @close="FuncCloseTag(ItemTag)">{{ItemTag}}</el-tag>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown box-dropdown-transport_place">
                                            <button type="button" class="dropdown-toggle btn-dropdown-transport_place" data-toggle="dropdown">Chọn</button>
                                            <div class="dropdown-menu">
                                                <div class="input-filter-place-pl">
                                                    <el-input placeholder="Nhập để tìm kiếm" v-model="input_search"></el-input>
                                                    <i class="fas fa-plus" @click="FuncAddListTag(input_search)"></i>
                                                </div>
                                                <a class="dropdown-item" href="#" v-for="tag in filteredTags" :key="tag" @click="FuncListTag(tag)">{{tag}}</a>
                                            </div>
                                        </div>
                                        <div class="box-list-transport_place">
                                            <el-tag v-for="ItemTag in ListTagsChoose" :key="ItemTag" closable @close="FuncCloseTag(ItemTag)">{{ItemTag}}</el-tag>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown box-dropdown-transport_place">
                                            <button type="button" class="dropdown-toggle btn-dropdown-transport_place" data-toggle="dropdown">Chọn</button>
                                            <div class="dropdown-menu">
                                                <div class="input-filter-place-pl">
                                                    <el-input placeholder="Nhập để tìm kiếm" v-model="input_search"></el-input>
                                                    <i class="fas fa-plus" @click="FuncAddListTag(input_search)"></i>
                                                </div>
                                                <a class="dropdown-item" href="#" v-for="tag in filteredTags" :key="tag" @click="FuncListTag(tag)">{{tag}}</a>
                                            </div>
                                        </div>
                                        <div class="box-list-transport_place">
                                            <el-tag v-for="ItemTag in ListTagsChoose" :key="ItemTag" closable @close="FuncCloseTag(ItemTag)">{{ItemTag}}</el-tag>
                                        </div>
                                        <div class="box-check-transport_place">
                                            <el-checkbox v-model="checked">Tự động</el-checkbox>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="box-value-selection">
                                            <div class="box-header-value-selection">
                                                <h5>Khoảng</h5>
                                                <h5>Từ</h5>
                                                <h5>Đến</h5>
                                                <h5>Giá trị (đ)</h5>
                                            </div>
                                            <div class="box-content-value-selection">
                                                <div class="box-check-value-selection">
                                                    <el-checkbox v-model="checked"></el-checkbox>
                                                </div>
                                                <el-input class="input-value-selection" v-model="input"></el-input>
                                                <el-input class="input-value-selection" v-model="input"></el-input>
                                                <el-input placeholder="Giá trị hoặc công thức" class="input-value-selection" v-model="input"></el-input>
                                                <div class="box-edit-value-selection">
                                                    <i class="fas fa-edit"></i>
                                                    <i class="fas fa-trash-alt"></i>
                                                </div>
                                            </div>
                                            <div class="box-content-value-selection">
                                                <div class="box-check-value-selection">
                                                    <el-checkbox v-model="checked"></el-checkbox>
                                                </div>
                                                <div class="input-value-selection--disabled"></div>
                                                <div class="input-value-selection--disabled"></div>
                                                <el-input placeholder="Giá trị hoặc công thức" class="input-value-selection" v-model="input"></el-input>
                                                <div class="box-edit-value-selection">
                                                    <i class="fas fa-edit"></i>
                                                    <i class="fas fa-trash-alt"></i>
                                                </div>
                                            </div>
                                            <a href="" class="btn-value-selection--add">
                                                <i class="fas fa-plus"></i>Thêm
                                            </a>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <div id="chuyentien" class="tab-pane fade">
                            <h5>abc</h5>
                        </div>
                        <div id="thuphi" class="tab-pane fade">
                            <table class="table table-surcharge__box-pl">
                                <thead>
                                    <td>Loại hình vận chuyển</td>
                                    <td>Nội dung</td>
                                    <td>Trường phân định</td>
                                    <td></td>
                                </thead>
                                <tbody>
                                    <td>
                                        <div class="dropdown box-dropdown-transport_place">
                                            <button type="button" class="dropdown-toggle btn-dropdown-transport_place" data-toggle="dropdown">Chọn</button>
                                            <div class="dropdown-menu">
                                                <div class="input-filter-place-pl">
                                                    <el-input placeholder="Nhập để tìm kiếm" v-model="input_search"></el-input>
                                                    <i class="fas fa-plus" @click="FuncAddListTag(input_search)"></i>
                                                </div>
                                                <a class="dropdown-item" href="#" v-for="tag in filteredTags" :key="tag" @click="FuncListTag(tag)">{{tag}}</a>
                                            </div>
                                        </div>
                                        <div class="box-list-transport_place">
                                            <el-tag v-for="ItemTag in ListTagsChoose" :key="ItemTag" closable @close="FuncCloseTag(ItemTag)">{{ItemTag}}</el-tag>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="content-table-surcharge">Phụ phí cây xanh, cây cảnh và hoa tươi</h6>
                                    </td>
                                    <td>
                                        <div class="dropdown box-dropdown-transport_place">
                                            <button type="button" class="dropdown-toggle btn-dropdown-transport_place" data-toggle="dropdown">Chọn</button>
                                            <div class="dropdown-menu">
                                                <div class="input-filter-place-pl">
                                                    <el-input placeholder="Nhập để tìm kiếm" v-model="input_search"></el-input>
                                                    <i class="fas fa-plus" @click="FuncAddListTag(input_search)"></i>
                                                </div>
                                                <a class="dropdown-item" href="#" v-for="tag in filteredTags" :key="tag" @click="FuncListTag(tag)">{{tag}}</a>
                                            </div>
                                        </div>
                                        <div class="box-list-transport_place">
                                            <el-tag v-for="ItemTag in ListTagsChoose" :key="ItemTag" closable @close="FuncCloseTag(ItemTag)">{{ItemTag}}</el-tag>
                                        </div>
                                        <div class="box-check-transport_place">
                                            <el-checkbox v-model="checked">Tự động</el-checkbox>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="box-value-selection">
                                            <div class="box-header-value-selection">
                                                <h5>Khoảng</h5>
                                                <h5>Từ</h5>
                                                <h5>Đến</h5>
                                                <h5>Giá trị (đ)</h5>
                                            </div>
                                            <div class="box-content-value-selection">
                                                <div class="box-check-value-selection">
                                                    <el-checkbox v-model="checked"></el-checkbox>
                                                </div>
                                                <el-input class="input-value-selection" v-model="input"></el-input>
                                                <el-input class="input-value-selection" v-model="input"></el-input>
                                                <el-input placeholder="Giá trị hoặc công thức" class="input-value-selection" v-model="input"></el-input>
                                                <div class="box-edit-value-selection">
                                                    <i class="fas fa-edit"></i>
                                                    <i class="fas fa-trash-alt"></i>
                                                </div>
                                            </div>
                                            <div class="box-content-value-selection">
                                                <div class="box-check-value-selection">
                                                    <el-checkbox v-model="checked"></el-checkbox>
                                                </div>
                                                <div class="input-value-selection--disabled"></div>
                                                <div class="input-value-selection--disabled"></div>
                                                <el-input placeholder="Giá trị hoặc công thức" class="input-value-selection" v-model="input"></el-input>
                                                <div class="box-edit-value-selection">
                                                    <i class="fas fa-edit"></i>
                                                    <i class="fas fa-trash-alt"></i>
                                                </div>
                                            </div>
                                            <a href="" class="btn-value-selection--add">
                                                <i class="fas fa-plus"></i>Thêm
                                            </a>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            input: '',
            ListTags: ['Hà Nội', 'Cầu Giấy, Hà Nội', 'Phương Liên, Hà Nội', 'Phương Mai, Hà Nội', 'Long Biên, Hà Nội'],
            ListTagsChoose: [],
            input_search: '',
            checked: true,
        };
    },
    methods: {
        FuncCloseTag(ItemTag) {
            this.ListTagsChoose.splice(this.ListTagsChoose.indexOf(ItemTag), 1);
        },
        FuncListTag(tag){
            this.ListTagsChoose.push(tag);
        },
        FuncAddListTag(input_search){
            this.ListTags.push(input_search);
            this.input_search = '';
        }
    },
    computed :{
        filteredTags: function(){
            return this.ListTags.filter((tag) => {
                return tag.match(this.input_search);
            });
        }
    }
};
</script>
<style>
*{
    margin: 0;
    padding: 0;
}

p, h1,h2,h3,h4,h5,h6,label,ul,li{
    margin: 0px;
}
li{list-style-type: none;}

a:hover{
    text-decoration: none;
}

a, h6 , span , h5, label,p {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
}
/*  */

    .header-price-list h5{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 24px;
        margin-bottom: 43px;
        display: inline-block;
    }

    .content-price-list__wrap{
        background: #fff;
    }
    .tabs-header__box-pl{
        padding: 0 16px;
        padding-top: 16px;
        margin-bottom: 16px;
    }
    .tabs-header__box-pl  li{
        margin-right: 24px;
    }
    .tabs-header__box-pl  li  a{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color:#9198A9;
        display: inline-block;
        padding-bottom: 8px;
    }
    .tabs-header__box-pl  li  a.show.active{
        color: #084388;
        border-bottom: 2px solid;
    }

    .box-tools-price-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        margin-bottom: 8px;
    }
    .box-tools-pl--search{
        position: relative;
        background: #FFFFFF;
        border: 1px solid #CFD3DB;
        box-sizing: border-box;
        border-radius: 4px;
        max-height: 40px;
        width: 33%;
        overflow: hidden;
    }
    .box-tools-pl--search .el-input__inner{
        height: 38px;
        border: none;
        width: 90%;
    }
    .box-tools-pl--search i{
        position: absolute;
        top: 9px;
        right: 8px;
        color: #084388;
        font-size: 19px;
    }
    .box-tools-pl--package_new{
        display: flex;
        align-items: center;
        padding: 10px 16px;
        background: #D5F2EA;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #00C48C;
        max-height: 40px;
    }
    .box-tools-pl--package_new i{
        font-size: 20px;
        margin-right: 11px;
        margin-left: 2px;
    }

    /* tab 1 */
    .table-shipping__box-pl thead,.table-surcharge__box-pl thead{
        background: #084388;
    }
    .table-shipping__box-pl thead td,.table-surcharge__box-pl thead td{
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        padding: 8px 12px;
    }

.table-shipping__box-pl thead td:nth-child(1),
.table-shipping__box-pl thead td:nth-child(2),
.table-shipping__box-pl thead td:nth-child(3),
.table-shipping__box-pl thead td:nth-child(4){
    width: 15%;
}

.table-surcharge__box-pl thead td:nth-child(1),.table-shipping__box-pl thead td:nth-child(3){
    width: 15%;
}
.table-surcharge__box-pl thead td:nth-child(2){
    width: 30%;
}
.content-table-surcharge{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
    padding: 7px 12px;
}
.table-shipping__box-pl tbody td,.table-surcharge__box-pl tbody td{
    vertical-align: top;
    padding: 8px 0;
}

.box-dropdown-transport_place .dropdown-menu.show{
    padding: 0;
}
.box-dropdown-transport_place .dropdown-menu.show .dropdown-item{
    padding: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: #ECEDF1;
}

.btn-dropdown-transport_place{
    padding: 7px 12px;
    min-width: 166px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
    border: none;
    outline: none !important;
    background: #fff;
}
.input-filter-place-pl{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECEDF1;
    max-height: 32px;
}
.input-filter-place-pl .el-input__inner{
    height: 32px;
    border: none;
    padding: 0 8px;
    margin: 0 1px;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
}
.input-filter-place-pl i{
    font-size: 15px;
    background: #00C48C;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    margin: 0 8px;
}

.box-list-transport_place  .el-tag{
    background: #ECEDF1;
    border: 1px solid #CFD3DB;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
    min-height: 32px;
    padding: 7px 5px;
    margin: 4px 0;
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
}
.box-list-transport_place .el-tag .el-icon-close{
    top: 0px;
    color: #C80013;
    font-weight: bold;
    font-size: 14px;
}
.box-list-transport_place .el-tag .el-tag__close:hover{
    background-color: inherit;
}

.box-check-transport_place{
    padding: 0 12px;
}
.box-check-transport_place .el-checkbox__inner,.box-content-value-selection .el-checkbox__inner{
    background: #fff !important;
    width: 18px;
    height: 19px;
    border: 2px solid #084388 !important;
}
.box-check-transport_place .el-checkbox__inner::after,.box-content-value-selection .el-checkbox__inner::after{
    border: 2px solid #084388;
    height: 9px;
    left: 3px;
    top: 0px;
    width: 5px;
    border-left: 0;
    border-top: 0;
}
.box-check-transport_place .el-checkbox__label{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731 !important;
    padding-left: 7px;
}

.box-value-selection{
    background: #F1F3F5;
    border-radius: 8px;
    padding: 8px;
}
.box-header-value-selection{
    display: flex;
    align-items: center;
}
.box-header-value-selection h5{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #084388;
}
.box-header-value-selection h5:nth-child(1){
    width: 12%;
}
.box-header-value-selection h5:nth-child(2),.box-header-value-selection h5:nth-child(3){
    width: 19%;
}
.box-header-value-selection h5:nth-child(4){
    width: 35%;
}

.box-content-value-selection{
    display: flex;
    align-items: center;
    margin: 8px 0;
}
.box-check-value-selection{
    min-width: 50px;
    text-align: center;
}


.input-value-selection{
    width: initial;
}
.input-value-selection .el-input__inner{
    width: 72px;
    height: 32px;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
    padding: 0 12px;
    margin-right: 8px;
}
.input-value-selection:nth-child(4) .el-input__inner{
    width: 147px;
}

.box-edit-value-selection{
    width: 15%;
    text-align: center;
}

.box-edit-value-selection i{
    font-size: 19px;
    margin: 0px 5px;
    color: #464D5D;
}

.input-value-selection--disabled{
    background: #CFD3DB;
    border: 1px solid #CFD3DB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 72px;
    height: 32px;
    margin-right: 8px;
}

.btn-value-selection--add{
    display: inline-block;
    background: #C4DBFE;
    border: 1px dashed #5C9CFE;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px 0;
    width: 80%;
    margin-left: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #5C9CFE;
}

.btn-value-selection--add i{
    margin: 0 8px;
}
</style>