<template>
  <section class="goodComponent" style="margin-bottom: 100px">
    <div class="box-content-goods-manager">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-md-9 col-12">
            <div class="box-content-gm--right">
              <h5 class="title__box-content-gm--right">Đơn hàng #{{goodsData.code}}</h5>
              <div class="box-info-order-header">
                <div class="row">
                  <div class="col-3">
                    <div class="item__box-info-order-header">
                      <h6>Mã vận đơn</h6>
                      <el-input v-model="goodsData.code" class="w-100"
                                :disabled="goodsData.id ? true:false"></el-input>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="item__box-info-order-header">
                      <h6>Ngày nhận hàng</h6>
                      <el-date-picker
                          class="w-100" v-model="goodsData.collection.date"
                          format="dd-MM-yyyy"
                          value-format="yyyyMMdd"
                          :disabled="allowChangeReceivedDate">
                      </el-date-picker>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="item__box-info-order-header">
                      <h6>Nhân viên nhận hàng</h6>
                      <template v-if="goodsData.id">
                        <select-user class="w-100"
                                     v-model="goodsData.collection.courier"></select-user>
                      </template>
                      <div class="content__item__bx-io-header" v-else>
                        <h5>
                          {{goodsData.collection.courier?goodsData.collection.courier.fullName:''}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap__box-content-gm--right">
                <ul class="nav nav-tabs tabs-header__box-gm">
                  <li class="">
                    <a class="show active" data-toggle="tab" href="#chitietdonhang">Chi tiết đơn
                      hàng</a>
                  </li>
                  <li @click="goodsData.log.getLogs()">
                    <a class="" data-toggle="tab" href="#hanhtrinhdonhang">Hành trình đơn hàng</a>
                  </li>
                </ul>

                <div class="tab-content tabs-content__box-gm">
                  <div id="chitietdonhang" class="tab-pane active">
                    <div class="information-header-sections">
                      <h5>THÔNG TIN CHUNG</h5>
                    </div>
                    <div class="box-info-order-general">
                      <div class="row">
                        <div class="col-6">
                          <div class="wrap__box-io-content">
                            <h5>NGƯỜI GỬI</h5>
                            <div class="item-header__wrap__box-io-content">
                              <div class="row">
                                <div class="col-5">
                                  <h6>Điện thoại</h6>
                                  <el-autocomplete popper-class="my-autocomplete"
                                                   class="w-100"
                                                   v-model="goodsData.sender.phoneNumber"
                                                   :trigger-on-focus="false"
                                                   :fetch-suggestions="querySearchPhoneNumber"
                                                   @select="handleSelectSenderPhoneNumber">
                                    <template slot-scope="{ item }">
                                      <div class="value">{{ item.phoneNumber }} -
                                        {{ item.customerName }}
                                      </div>
                                    </template>
                                  </el-autocomplete>
                                </div>
                                <div class="col-7">
                                  <h6>Họ tên</h6>
                                  <el-input class="w-100"
                                            v-model="goodsData.sender.name"></el-input>
                                </div>
                              </div>
                            </div>
                            <div class="item-mid__wrap__box-io-content">
                              <h6>Bưu cục lên</h6>
                              <select-point class="w-100"
                                            v-model="goodsData.receivedPoint"></select-point>
                            </div>
                            <div class="item-bottom__wrap__box-io-content">
                              <h6>Điểm lên</h6>
                              <el-input v-model="goodsData.collection.address"></el-input>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="wrap__box-io-content">
                            <h5>NGƯỜI NHẬN</h5>
                            <div class="item-header__wrap__box-io-content">
                              <div class="row">
                                <div class="col-5">
                                  <h6>Điện thoại</h6>
                                  <el-autocomplete popper-class="my-autocomplete"
                                                   class="w-100"
                                                   v-model="goodsData.receiver.phoneNumber"
                                                   :trigger-on-focus="false"
                                                   :fetch-suggestions="querySearchPhoneNumber"
                                                   @select="handleSelectReceiverPhoneNumber">
                                    <template slot-scope="{ item }">
                                      <div class="value">{{ item.phoneNumber }} -
                                        {{ item.customerName }}
                                      </div>
                                    </template>
                                  </el-autocomplete>
                                </div>
                                <div class="col-7">
                                  <h6>Họ tên</h6>
                                  <el-input class="w-100"
                                            v-model="goodsData.receiver.name"></el-input>
                                </div>
                              </div>
                            </div>
                            <div class="item-mid__wrap__box-io-content">
                              <h6>Hình thức nhận hàng</h6>
                              <el-select class="w-100"
                                         v-model="goodsData.deliveryType.value">
                                <el-option
                                        v-for="(type,t) in collectionAndDeliveryTypeProperties"
                                        :value="type.value" :label="type.label"
                                        :key="type.value"></el-option>
                              </el-select>
                            </div>
                            <div class="item-mid__wrap__box-io-content">
                              <h6>Bưu cục trả</h6>
                              <select-point class="w-100"
                                            v-model="goodsData.deliveryPoint"></select-point>
                            </div>
                            <div class="item-bottom__wrap__box-io-content">
                              <h6>Điểm trả</h6>
                              <el-input v-model="goodsData.delivery.address"></el-input>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="information-header-sections">
                      <h5>THÔNG TIN HÀNG HÓA</h5>
                    </div>
                    <div class="box-io-header-goods row">
                      <div class="col">
                        <el-radio-group :value="goodsData.goodsType.value"
                                        @input="goodsData.setGoodsType($event)"
                                        class="box-io-goods__radio">
                          <template v-for="(type,t) in goodsTypeProperties">
                            <el-radio :label="type.value" v-if="type.type">{{type.label}}
                            </el-radio>
                          </template>
                        </el-radio-group>
                      </div>
                      <div class="col-auto">
                        <div class="box-io-goods__package-delivery">
                          <h6>Gói chuyển phát</h6>
                          <select-transport-type
                                  v-model="goodsData.transportType"></select-transport-type>
                        </div>
                      </div>
                    </div>
                    <div class="box-io-contents-goods--shipping"
                         v-if="goodsData.goodsType.value === goodsTypeEnum.GOODS">
                      <table class="table table-io-contents-goods--shipping">
                        <thead>
                        <tr>
                          <th>STT</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ten_hang')">Tên hàng</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_tri_hang')">Giá trị hàng</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('khoi_luong')">Khối lượng</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('so_luong')">Số lượng</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">Gói</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_cuoc')">Giá cước (VNĐ)</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('phu_phi')">Phụ phí (VNĐ)</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('tien_cuoc')">Tiền cước (VNĐ)</th>
                          <th v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('anh')">Ảnh</th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(detail,d) in goodsData.details">
                          <tr>
                            <td>{{d+1}}</td>
                            <td class="no-border-input" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('ten_hang')">
                              <el-input v-model="detail.name"
                                        placeholder="Tên hàng"></el-input>
                            </td>
                            <td class="no-border-input" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_tri_hang')">
                              <el-input :value="detail.value" :controls="false"
                                        @input="detail.setValue($event)"
                                        placeholder="Giá trị hàng"></el-input>
                            </td>
                            <td class="no-border-input" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('khoi_luong')">
                              <div class="box-table-drop-mass">
                                <el-input-number :value="detail.dimensions.weight"
                                                 @input="setW(detail,$event)"
                                                 style="width: 50px" :controls="false"
                                                 placeholder="kg"></el-input-number>
                                <el-popover width="300"
                                            class="box-table-drop-mass__wrap">
                                  <el-button size="mini" type="text" slot="reference">
                                    <i class="fas fa-ellipsis-h"></i>
                                  </el-button>
                                  <div class="box-drop-menu-mass">
                                    <div class="row">
                                      <div class="col-6 form-group">
                                        <h6>Chiều dài</h6>
                                        <el-input size="mini" class="w-100"
                                                  :value="detail.dimensions.length"
                                                  @input="detail.setLength($event)">
                                                                                    <span slot="suffix"
                                                                                          style="line-height: 24px">cm</span>
                                        </el-input>
                                      </div>
                                      <div class="col-6 form-group">
                                        <h6>Chiều rộng</h6>
                                        <el-input size="mini" class="w-100"
                                                  :value="detail.dimensions.width"
                                                  @input="detail.setWidth($event)">
                                                                                    <span slot="suffix"
                                                                                          style="line-height: 24px">cm</span>
                                        </el-input>
                                      </div>
                                      <div class="col-6 form-group">
                                        <h6>Chiều cao</h6>
                                        <el-input size="mini" class="w-100"
                                                  :value="detail.dimensions.height"
                                                  @input="detail.setHeight($event)">
                                                                                    <span slot="suffix"
                                                                                          style="line-height: 24px">cm</span>
                                        </el-input>
                                      </div>
                                      <div class="col-6 form-group">
                                        <h6>Khối lượng</h6>
                                        <el-input size="mini" disabled
                                                  class="w-100"
                                                  :value="detail.dimensions.weight">
                                                                                    <span slot="suffix"
                                                                                          style="line-height: 24px">kg</span>
                                        </el-input>
                                      </div>
                                      <!--<div class="col-12 text-right">-->
                                      <!--<el-button type="success" size="mini">Hoàn thành</el-button>-->
                                      <!--</div>-->
                                    </div>
                                  </div>
                                </el-popover>
                              </div>
                            </td>
                            <td class="no-border-input" v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('so_luong')">
                              <el-input-number :value="detail.quantity"
                                               @input="detail.setQuantity($event)"
                                               style="width: 40px" :controls="false"
                                               placeholder="SL"></el-input-number>
                            </td>
                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('goi')">
                              <el-popover width="300"
                                          class="box-table-drop-mass__wrap">
                                <el-button type="text" slot="reference">
                                  {{detail.type.id?detail.type.name : 'Lựa chọn'}}
                                </el-button>
                                <div class="box-drop-menu-mass">
                                  <div class="row">
                                    <div class="col-6 form-group">
                                      <h6>Trường phân định</h6>
                                      <select-price :value="detail.type"
                                                    :goods-type="goodsData.goodsType.value"
                                                    :transport-type="goodsData.transportType"
                                                    :received-point="goodsData.receivedPoint"
                                                    :delivery-point="goodsData.deliveryPoint"
                                                    @input="detail.setType($event)"></select-price>
                                    </div>
                                    <div class="col-6 form-group">
                                      <h6>Gói giá</h6>
                                      <el-select value-key="id"
                                                 :disabled="detail.type&&detail.type.usingExistedField&&detail.appliedCriterion&&detail.appliedCriterion.id!==null"
                                                 :value="detail.appliedCriterion"
                                                 @input="detail.setAppliedCriteria($event)">
                                        <el-option
                                                v-for="(cre,c) in detail.type.pointPricing.criteria"
                                                :value="cre"
                                                :key="cre.id"
                                                :label="cre.name">
                                        </el-option>
                                      </el-select>
                                    </div>
                                    <!--<div class="col-12 text-right">-->
                                    <!--<el-button type="success" size="mini">Hoàn thành</el-button>-->
                                    <!--</div>-->
                                  </div>
                                </div>
                              </el-popover>
                            </td>
                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('gia_cuoc')">{{detail.originalFee|number}}</td>
                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('phu_phi')">
                              <div class="box-table-drop-surcharge">
                                <h6>{{(detail.totalExtraFees())|number}}</h6>
                                <el-popover width="500"
                                            class="box-table-drop-surcharge__wrap">
                                  <el-button size="mini" style="padding:0"
                                             :disabled="detail.loadingExtraFeeRequired"
                                             :loading="detail.loadingExtraFeeRequired"
                                             type="button" slot="reference">
                                    <i class="fas fa-ellipsis-h"></i>
                                  </el-button>
                                  <div class="box-drop-menu-mass">
                                    <template v-for="(fee,f) in detail.extraFees">
                                      <div class="row no-gutters"
                                           style="margin-bottom: 8px">
                                        <div class="col">
                                          <select-extra-fee
                                                  :disabled="fee.required"
                                                  :required="false"
                                                  :value="fee"
                                                  @input="detail.setExtraFeeByIndex($event,f);$forceUpdate()"></select-extra-fee>
                                        </div>
                                        <div class="col" v-if="fee">
                                          <el-select
                                                  v-model="fee.appliedCriterion"
                                                  @input="$forceUpdate()"
                                                  value-key="id"
                                                  :disabled="fee.usingExistedField">
                                            <el-option
                                                    v-for="(crit,c) in fee.criteria"
                                                    :key="crit.id"
                                                    :value="crit"
                                                    :label="crit.name"></el-option>
                                          </el-select>
                                        </div>
                                        <div class="col text-right" v-if="fee">
                                          <span style="line-height: 40px;">{{detail.getCalculateExtraFee()[f]}}</span>
                                        </div>
                                        <div class="col-auto text-right"
                                             style="width: 50px;line-height: 40px;">
                                          <i class="fas fa-trash-alt"
                                             v-if="!fee.required&&fee"
                                             @click="detail.removeExtraFee(f)"></i>
                                        </div>
                                      </div>
                                    </template>
                                    <div class="row">
                                      <div class="col-12 text-right">
                                        <el-button type="success" size="mini"
                                                   @click="detail.addExtraFee()">
                                          Thêm phụ phí
                                        </el-button>
                                      </div>
                                    </div>
                                  </div>
                                </el-popover>
                              </div>
                            </td>
                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('tien_cuoc')">
                              <template v-if="detail.type !== null && detail.type.id !== null">
                                {{detail.totalFee()|number}}
                              </template>
                              <template v-else>
                                 <el-input
                                    placeholder=""
                                    v-model="detail.totalFeeInput"
                                    clearable>
                                 </el-input>
                              </template>
                              </td>
                            <td v-if="!companyConfig.CONFIG.HIDE_FIELD_IN_MANAGE_GOOD.value.includes('anh')">

                            </td>
                            <td>
                              <div class="box-table-drop-wrap_history_delete">
                                <div>
                                  <span>
                                      <a href="" class="box-table-drop-history"><i
                                              class="fas fa-history"></i></a>
                                  </span>
                                  <span class="dropdown box-table-drop-delete">
                                      <el-button type="danger" circle size="mini"  data-toggle="dropdown">
                                          <i class="fas fa-trash-alt"></i>
                                      </el-button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                          <div class="box-drop-menu-delete">
                                              <h5>Bạn có chắc chắn muốn xóa yêu cầu
                                                  này?</h5>
                                              <div class="box-drop-menu-delete__wrap">
                                                  <a href="javascript:void(0)"
                                                     class="btn-drop-menu-delete--yes"
                                                     @click="goodsData.details.splice(d,1)">XÓA</a>
                                                  <a href="javascript:void(0)"
                                                     class="btn-drop-menu-delete--no">KHÔNG</a>
                                              </div>
                                          </div>
                                      </div>
                                  </span>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </template>
                        </tbody>
                      </table>
                      <a href="javascript:void(0)" class="btn-create-goods--shipping"
                         @click="addGoodsDetail()"><i
                              class="fas fa-plus-circle"></i>Thêm mặt hàng</a>
                      <div class="information-header-sections">
                        <h5>THÔNG TIN CHI PHÍ</h5>
                      </div>
                      <div class="box-info-cost--shipping">
                        <div class="row">
                          <div class="col-3">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="goodsData.useCod">Thu hộ (COD)
                              </el-checkbox>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="box-info-cost--shipping__wrap">
                              <h6>Số tiền thu hộ</h6>
                              <el-input :value="goodsData.cod"
                                        @input="goodsData.setCod($event)"
                                        :disabled="!goodsData.useCod">
                                <span slot="suffix">đ</span>
                              </el-input>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="box-info-cost--shipping__wrap">
                              <h6>Phí thu hộ</h6>
                              <el-input :value="goodsData.calculateCodFee()|number"
                                        disabled class="w-100">
                                <span slot="suffix">đ</span>
                              </el-input>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <div class="box-info-cost--shipping__wrap">
                              <h6>Tổng tiền cước</h6>
                              <el-input :value="goodsData.getTotalFee()|number" disabled
                                        class="w-100">
                                <span slot="suffix">đ</span>
                              </el-input>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="box-info-cost--shipping__wrap">
                              <h6>Đã trả</h6>
                              <el-input v-model="goodsData.paid" class="w-100"><span
                                      slot="suffix">đ</span></el-input>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="box-info-cost--shipping__wrap">
                              <h6>Còn lại</h6>
                              <el-input :value="(goodsData.getTotalFee()-
                                                                    goodsData.paid)|number" class="w-100" disabled><span
                                      slot="suffix">đ</span></el-input>
                            </div>
                          </div>
                        </div>
                        <div class="box-payments--shipping">
                          <div class="box-payments--shipping__wrap">
                            <div class="box-info-cost--shipping__wrap">
                              <h6>Hình thức thanh toán</h6>
                              <el-select v-model="goodsData.paymentType">
                                <el-option :value="1" label="Tiền mặt"></el-option>
                              </el-select>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="checked">In tem dán</el-checkbox>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="checked">In biên nhận</el-checkbox>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="goodsData.sender.sendSMS">SMS người
                                gửi
                              </el-checkbox>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="goodsData.receiver.sendSMS">SMS người
                                nhận
                              </el-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-io-contents-goods--transfers"
                         v-if="goodsData.goodsType.value === goodsTypeEnum.MONEY">
                      <div class="box-info-cost--transfers">
                        <template v-for="(detail,d) in goodsData.details">
                          <div class="row">
                            <div class="col-3">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Số tiền cần chuyển</h6>
                                <el-input :value="detail.value"
                                          @input="detail.setValue($event)"
                                          class="w-100"><span slot="suffix">đ</span>
                                </el-input>
                              </div>
                            </div>
                            <div class="col-5">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Số CMND người nhận</h6>
                                <el-input class="w-100"
                                          v-model="goodsData.receiver.citizenId"></el-input>
                                <span class="w-100 note_input_cmnd">Vui lòng nhập chính xác CMND để làm cơ sở cho đầu giao tiền</span>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="padding-bottom: 24px">
                            <div class="col-3">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Trường phân định</h6>
                                <select-price :value="detail.type" class="w-100"
                                              :set-first="true"
                                              :goods-value="detail.value"
                                              :goods-type="goodsData.goodsType.value"
                                              :transport-type="goodsData.transportType"
                                              @input="detail.setType($event)"></select-price>
                                <!--:received-point="goodsData.receivedPoint"-->
                                <!--:delivery-point="goodsData.deliveryPoint"-->
                              </div>
                            </div>
                            <div class="col-3" v-if="detail.type&&detail.type.id">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Gói giá</h6>
                                <el-select value-key="id" class="w-100"
                                           :disabled="detail.type&&detail.type.usingExistedField&&detail.appliedCriterion&&detail.appliedCriterion.id!==null"
                                           :value="detail.appliedCriterion"
                                           @input="detail.setAppliedCriteria($event)">
                                  <el-option
                                          v-for="(cre,c) in detail.type.pointPricing.criteria"
                                          :value="cre"
                                          :key="cre.id"
                                          :label="cre.name">
                                  </el-option>
                                </el-select>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Phí chuyển tiền</h6>
                                <el-input disabled :value="detail.originalFee|number"
                                          class="w-100"><span slot="suffix">đ</span>
                                </el-input>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Phụ phí mặc định</h6>
                                <el-input disabled
                                          :value="detail.totalExtraFees()|number"
                                          class="w-100"><span slot="suffix">đ</span>
                                </el-input>
                              </div>
                            </div>
                          </div>
                        </template>
                      </div>
                      <div class="information-header-sections">
                        <h5>THÔNG TIN CHI PHÍ</h5>
                      </div>
                      <div class="box-info-cost--transfers">
                        <div class="row">
                          <!--<div class="col-3">-->
                          <!--<div class="box-info-cost&#45;&#45;transfers__wrap">-->
                          <!--<h6>Phí chuyển tiền</h6>-->
                          <!--<el-input disabled :value="goodsData.totalGoodsFee()"-->
                          <!--class="w-100"><span slot="suffix">đ</span>-->
                          <!--</el-input>-->
                          <!--</div>-->
                          <!--</div>-->
                          <div class="col-3">
                            <div class="box-info-cost--transfers__wrap">
                              <h6>Tổng tiền cước</h6>
                              <el-input disabled :value="goodsData.getTotalFee()"
                                        class="w-100"><span slot="suffix">đ</span>
                              </el-input>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="box-info-cost--transfers__wrap">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Đã trả</h6>
                                <el-input v-model="goodsData.paid"
                                          class="w-100"><span
                                        slot="suffix">đ</span></el-input>
                              </div>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="box-info-cost--transfers__wrap">
                              <div class="box-info-cost--transfers__wrap">
                                <h6>Còn lại</h6>
                                <el-input disabled :value="(goodsData.getTotalFee()-
                                                                        goodsData.paid)|number" class="w-100"><span
                                        slot="suffix">đ</span></el-input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="box-payments--shipping">
                          <div class="box-payments--shipping__wrap">
                            <div class="box-info-cost--shipping__wrap">
                              <h6>Hình thức thanh toán</h6>
                              <el-select v-model="goodsData.paymentType">
                                <el-option :value="1" label="Tiền mặt"></el-option>
                              </el-select>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="checked">In tem dán</el-checkbox>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="checked">In biên nhận</el-checkbox>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="goodsData.sender.sendSMS">SMS người
                                gửi
                              </el-checkbox>
                            </div>
                          </div>
                          <div class="box-payments--shipping__wrap">
                            <div class="box-checkbox-collection">
                              <el-checkbox v-model="goodsData.receiver.sendSMS">SMS người
                                nhận
                              </el-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="hanhtrinhdonhang" class="tab-pane fade" v-loading="goodsData.log.loading">
                    <div class="box-journey-order">
                      <div class="item__box-journey-order--header">
                        <div class="row">
                          <div class="col-3">
                            <h5>Thời gian</h5>
                          </div>
                          <div class="col-6">
                            <h5>Nội dung thay đổi</h5>
                          </div>
                          <div class="col-3">
                            <h5>Người chỉnh sửa</h5>
                          </div>
                        </div>
                      </div>
                      <div class="box" v-for="(log,l) in goodsData.log.logs" :key="l">
                        <div class="item__box-journey-order--content">
                          <div class="row">
                            <div class="col-3">
                              <h5>{{log.updatedTime|customDate('#hhhh#:#mm#',true)}}</h5>
                              <span>{{ log.updatedDate|strToDate() }}</span>
                            </div>
                            <div class="col-6">
                              <div class="content__item-box-jo--content">
                                <p>Thông tin người gửi và người nhận</p>
                                <div class="box-info-sent">
                                  <h6>Người gửi</h6>
                                  <i class="fas fa-caret-right"></i>
                                  <h6>{{log.sender.name}}</h6>
                                </div>
                                <div class="box-info-sent">
                                  <h6>Người nhận</h6>
                                  <i class="fas fa-caret-right"></i>
                                  <h6>{{log.receiver.name}}</h6>
                                </div>
                              </div>
                              <div class="content__item-box-jo--content">
                                <p>Tên mặt hàng</p>
                                <div class="box-info-sent">
                                  <h6>Tên mặt hàng</h6>
                                  <i class="fas fa-caret-right"></i>
                                  <h6>{{log.details[0].name}}</h6>
                                </div>
                              </div>
                              <div class="content__item-box-jo--content">
                                <p>Giá phí</p>
                                <div class="box-info-sent">
                                  <h6>Phí mặt hàng</h6>
                                  <i class="fas fa-caret-right"></i>
                                  <h6>{{log.details[0].totalFee}}</h6>
                                </div>
                                <div class="box-info-sent">
                                  <h6>Tổng phí mặt hàng</h6>
                                  <i class="fas fa-caret-right"></i>
                                  <h6>{{log.totalFee}}</h6>
                                </div>
                              </div>
                              <div class="content__item-box-jo--content">
                                <p>Loại mặt hàng</p>
                                <div class="box-info-sent">
                                  <h6>{{log.details[0].type.name}}</h6>
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <h6>{{ log.updatedUser.fullName }}</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-status-gm--right">
              <div class="row">
                <div class="col-auto" v-if="goodsData.id">
                  <a href="" class="btn-print-receipts-status-gm">IN BIÊN NHẬN</a>
                  <a href="" class="btn-print-goods-stamps-status-gm">IN TEM HÀNG</a>
                </div>
                <div class="col text-right">
                  <a href="javascript:void(0)" class="btn-cancel-status-gm" @click="close">HUỶ BỎ</a>
                  <a href="javascript:void(0)" @click="saveGoods()"
                     class="btn-save-status-gm">{{this.row !== undefined?'LƯU THAY ĐỔI':'TẠO ĐƠN HÀNG'}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script>
    import {mapState} from 'vuex';
    import {CollectionAnDeliveryType, Goods, GoodsDetail, GoodsList, GoodsType} from "../../class/goods_v2";
    import SelectPoint from '../Point/SelectPoint';
    import SelectGoodsStatus from './GoodsStatus/SelectGoodsStatus';
    import SelectTransportType from './TransportType/SelectTransportType';
    import SelectPrice from './InitPrice/SelectPrice';
    import SelectExtraFee from './InitPrice/SelectExtraFee';
    import SelectUser from '../User/SelectUser';

    export default {
        props : ['trip', 'row'],
        components: {SelectPoint, SelectGoodsStatus, SelectTransportType, SelectPrice, SelectExtraFee, SelectUser},
        data() {
            return {
                goodsList: new GoodsList(),
                goodsData: new Goods(),
                goodsTypeProperties: GoodsType.properties(),
                goodsTypeEnum: GoodsType.enum(),
                checked: true,
                input: '',
                radio_checked: 'shipping_radio',
                options: [{
                    value: 'Hàng dễ vỡ',
                    label: 'Hàng dễ vỡ'
                }, {
                    value: 'Đồ nội thất',
                    label: 'Đồ nội thất'
                }],
                value: '',
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                collectionAndDeliveryTypeProperties: CollectionAnDeliveryType.properties()
            }
        },
        mounted() {
            this.goodsList.getList();
            this.refreshGoodsData();
            if (this.$route.params.collection) {
                let collection = _.cloneDeep(this.$route.params.collection);
                this.goodsData.collection = collection.collection;
                this.goodsData.collectionId = collection.id;
                this.goodsData.collectionType = collection.collectionType;
                this.goodsData.sender = collection.sender;
                this.goodsData.receiver = collection.receiver;
                this.goodsData.transportType = collection.transportType;
                this.goodsData.goodsType = collection.goodsType;
                this.goodsData.office = collection.office;
                this.goodsData.receivedPoint = collection.receivedPoint;
                this.goodsData.deliveryPoint = collection.deliveryPoint;
            }
            if (this.row !== undefined) {
                console.log(this.row)
                this.goodsData = new Goods(this.row)
                this.goodsData.goodsType.value = this.row.goodsType.value
            }
            let result = this.companyConfig.CONFIG.ABLE_CHANGE_RECEIVED_DATE.value;
              console.log(result);
        },
        computed: {
            ...mapState({
                room: state => state.room,
                companyConfigData: state => state.CompanyConfig.companyConfigData,
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            allowChangeReceivedDate: function() {
              let result = this.companyConfig.CONFIG.ABLE_CHANGE_RECEIVED_DATE.value;
              return !result;
            },
        },
        watch: {
            row: function () {
                this.goodsData = new Goods(this.row)
                this.goodsData.goodsType.value = this.row.goodsType.value
            }
        },
        methods: {
            close: function () {
                this.$emit('close')
            },
            refreshGoodsData: function (goods) {
                if (!goods) {
                    this.goodsData = new Goods();
                    this.goodsData.office = this.room;
                    this.goodsData.collection.time = new Date().customFormat('#hhhh#:#mm#');
                    this.goodsData.collection.date = new Date().customFormat('#YYYY##MM##DD#');
                    this.goodsData.collection.courier = this.$root.getUserInfo();
                    this.goodsData.collection.address = this.room ? this.room.address : '';
                    this.goodsData.receivedPoint = _.cloneDeep(this.room);
                    this.addGoodsDetail();
                } else {
                    this.goodsData = _.cloneDeep(goods);
                    this.goodsData.getDetailByResponse();
                }

            },
            addGoodsDetail: function () {
                this.goodsData.details.push(new GoodsDetail())
            },
            saveGoods() {
                let self = this;
                this.goodsData.saveGoods({
                    before: function () {
                        self.load('saveGoods');
                    },
                    success: function () {
                        self.$emit('close')
                        self.refreshGoodsData();
                        // self.goodsList.getListGoodsInTrip(self.trip.tripId);
                        self.unload('saveGoods');
                    },
                    error: function () {
                        self.unload('saveGoods');
                    }
                }, self.trip.tripId);

            },
            querySearchPhoneNumber: function (query, callback) {
                if (this.timer) {
                    clearTimeout(this.timer);
                }
                this.timer = setTimeout(function () {
                    sendParam({
                        url: urlDBD(API.goodsV2SearchCustomer),
                        type: 'get',
                        data: {
                            page: 0,
                            count: 5,
                            phoneNumber: query
                        },
                        success: function (data) {
                            callback(data.results.customers)
                        }
                    })
                }, 500);
            },
            handleSelectSenderPhoneNumber: function (props) {
                this.goodsData.sender.phoneNumber = props.phoneNumber;
                this.goodsData.sender.name = props.customerName;
            },
            handleSelectReceiverPhoneNumber: function (props) {
                console.log(props)
                this.goodsData.receiver.phoneNumber = props.phoneNumber;
                this.goodsData.receiver.name = props.customerName;
            },
            setW :function (detail,event) {
                detail.setWeight(event)
            }
        },
    }
</script>

<style lang="scss">
  * {
    margin: 0;
    padding: 0;
  }

  p, h1, h2, h3, h4, h5, h6, label, ul, li {
    margin: 0px;
  }

  li {
    list-style-type: none;
  }

  a:hover {
    text-decoration: none;
  }

  a, h6, span, h5, label, p {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
  }

  /*-------------------------------------header-goods--------------------------------------------*/
  .header-goods-order {
    background: #F2F2F2;

    .header-goods-order__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h5 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }

      .header-goods-order--create {
        display: flex;
        padding: 14px 18px;
        color: #00C48C;
        background: #D5F2EA;
        border-radius: 4px;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin: 16px 0;

        i {
          font-size: 20px;
          margin-right: 11px;
        }
      }
    }
  }

  /*-----------------------------------box-filter---------------------------------------------------*/
  .box-filter-goods {
    padding-top: 17px;
    padding-bottom: 24px;
    background: #F1F3F5;

    h5 {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #084388;
      margin-bottom: 8px;
    }

    .wrap__box-filter-goods {
      display: flex;
      align-items: flex-end;

      .filter-goods__item-transport, .filter-goods__item-phone {
        width: 15%;
        margin-right: 16px;

        input {
          min-height: 40px;
          padding: 7px 12px;
          background: #FFFFFF;
          border: 1px solid #CFD3DB;
          box-sizing: border-box;
          border-radius: 4px;
          width: 100%;
          outline: none;
          font-family: Cabin;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 17px;
          color: #232731;
        }

        .el-input {
          min-height: 40px;
          background: #FFFFFF;
          width: 100%;
          outline: none;
          font-family: Cabin;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 17px;
          color: #232731;
        }
      }

      .filter-goods__item-route {
        width: 20%;
        margin-right: 16px;
      }

      .filter-goods__item-schedule {
        width: 30%;

        .filter__schedule {
          display: flex;

          .filter__schedule--left, .filter__schedule--right {
            width: 50%;
            margin-right: 8px;
            background: #FFFFFF;
            border: 1px solid #CFD3DB;
            box-sizing: border-box;
            border-radius: 4px;
            min-width: 40px;
            position: relative;

            .btn:not(:disabled):not(.disabled) {
              display: none;
            }

            .w-100 {
              width: 80% !important;
            }

            i {
              position: absolute;
              right: 16px;
              top: 10px;
            }

            input.hasDatepicker {
              border: none;
              color: #232731;
              font-size: 16px;
            }


          }
        }
      }
    }

    .box-filter-goods-status {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .box-filter-goods-status__wrap {
        display: flex;
        align-items: center;

        h6 {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #232731;
          margin-right: 8px;
        }

        .box-dropdown-filter-goods {
          .btn-dropdown-filter-goods {
            background: #FFFFFF;
            border: 1px solid #CFD3DB;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 7px 12px;
            min-width: 180px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 40px;
            font-family: Cabin;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #232731;
          }
        }

        .box-list-filter-goods {
          display: flex;
          flex-wrap: wrap;
          max-width: 68%;

          .el-tag {
            background: #CFD3DB;
            border-radius: 4px;
            font-family: Cabin;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #232731;
            min-height: 40px;
            padding: 7px 15px;
            display: flex;
            align-items: center;
            margin: 0 8px;

            .el-icon-close {
              top: 1px;
              color: #C80013;
              font-weight: bold;
              font-size: 20px;
            }

            .el-tag__close:hover {
              background-color: inherit;
            }
          }
        }
      }

      .btn-filter-status {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #084388;
        background: #C4DBFE;
        border-radius: 4px;
        padding: 7px 24px;
        display: inline-block;
        min-width: 13%;
      }
    }
  }


  .filter-goods__item-transport label, .filter-goods__item-phone label, .filter-goods__item-route label, .filter-goods__item-schedule label {
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #232731;
    margin-bottom: 8px;
  }


  /* ----------------------------------------box-content-goods-manager-------------------------------------------- */
  .box-content-goods-manager {
    background: #F2F2F2;
    padding: 16px 0;

    .box-content-gm--left {
      overflow-y: auto;

      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #232731;
        margin-bottom: 8px;
      }

      .wrap__box-content-gm--left {
        max-height: 90vh;
        overflow-y: scroll;
        .item-order__wrap-gm--left {
          border: 2px solid #fff;
          margin-bottom: 8px;
          padding: 6px;
          background: #FFFFFF;
          box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
          border-radius: 4px;

          .info__item-order {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            h5 {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #F39B13;
            }

            p {
              border-radius: 12px;
              padding: 5px 8px;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              text-align: center;
              color: #FFFFFF;
            }
          }

          .info__item-order.new p {
            background: #5C9CFE;
          }

          .info__item-order.car-stool p {
            background: #F39B13;
          }

          .info__item-order.carriage p {
            background: #6979F8;
          }

          .info__item-order.VP p {
            background: #084388;
          }

          .info__item-order.delivery p {
            background: #F39B13;
          }

          .info__item-order.delivered p {
            background: #00C48C;
          }

          .info__item-order.unsuccessful p {
            background: #E86966;
          }

          .content__item-order {
            h6 {
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #084388;

              span {
                color: #232731;
                margin-left: 8px;
              }
            }
          }
        }

        .item-order__wrap-gm--left:hover {
          border: 2px solid #084388;
        }

        .item-order__wrap-gm--left.active {
          border: 2px solid #084388;
        }
      }
    }

    .box-content-gm--right {
      background: #FFFFFF;
      box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      padding: 16px 0;

      .title__box-content-gm--right {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #232731;
        padding: 0 16px;
      }

      .box-info-order-header {
        padding-bottom: 8px !important;
        padding: 0 16px;

        .item__box-info-order-header {
          h6 {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #232731;
            margin-bottom: 8px;
          }

          .content__item__bx-io-header {
            background: #CFD3DB;
            border: 1px solid #CFD3DB;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 8px 16px;
          }
        }

      }

      .wrap__box-content-gm--right {
        .tabs-header__box-gm {
          margin: 16px 0;
          padding: 0 16px;

          li {
            margin-right: 24px;

            a {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #9198A9;
              display: inline-block;
              padding-bottom: 8px;
            }

            a.show.active {
              color: #084388;
              border-bottom: 2px solid;
            }
          }
        }

        .tabs-content__box-gm {
          .information-header-sections {
            padding: 8px 16px;
            background: #ECEDF1;

            h5 {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #084388;
            }
          }

          .box-info-order-general {
            padding: 16px;

            .wrap__box-io-content {
              background: #F9FAFC;
              border: 1px solid #ECEDF1;
              box-sizing: border-box;
              border-radius: 8px;
              padding: 16px;

              h5 {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #084388;
              }

              .item-mid__wrap__box-io-content {
                margin-top: 8px;

                h6 {
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 17px;
                  color: #232731;
                  margin-bottom: 8px;
                }
              }

              .item-header__wrap__box-io-content, .item-bottom__wrap__box-io-content {
                margin-top: 8px;

                h6 {
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 17px;
                  color: #232731;
                  margin-bottom: 8px;
                }

                input {
                  min-height: 40px;
                  padding: 7px 12px;
                  background: #FFFFFF;
                  border: 1px solid #CFD3DB;
                  box-sizing: border-box;
                  border-radius: 4px;
                  width: 100%;
                  outline: none;
                  font-family: Cabin;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 17px;
                  color: #232731;
                }
              }

            }
          }

          .box-io-header-goods {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 24px;

            .box-io-goods__radio {
              min-height: 40px;
              display: flex;
              align-items: center;

              .el-radio__inner {
                background: #fff;
                width: 20px;
                height: 20px;
                border: 1px solid #084388;
              }

              .el-radio__inner::after {
                width: 10px;
                height: 10px;
                background-color: #084388;
              }

              .el-radio__label {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #232731;
              }
            }

            .box-io-goods__package-delivery {
              display: flex;
              align-items: center;

              h6 {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #232731;
                margin-right: 8px;
              }

              .multiselect {
                width: 70%;
              }
            }
          }

          .box-io-contents-goods--shipping, .box-io-contents-goods--transfers {
            .table-io-contents-goods--shipping {
              thead {
                background: #F8E7CD;
                font-family: Cabin;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;

                tr {
                  th {
                    vertical-align: middle;
                  }
                }
              }

              tbody {
                td {
                  font-family: Cabin;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 17px;
                  color: #232731;
                }

                td.no-border-input {
                  .el-input__inner {
                    border: none;
                    padding: 0;
                  }
                }

                td:nth-child(2) {
                  min-width: 115px;

                  .el-input__inner {
                    border: none;
                    padding-left: 0;
                  }
                }

                td:nth-child(3) {
                  min-width: 92px;
                }

                td:nth-child(4) {
                  .box-table-drop-mass {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .box-table-drop-mass__wrap {
                      button {
                        border: none;
                        background: #ECEDF1;
                        border-radius: 4px;
                        width: 24px;
                        height: 24px;
                        outline: none;

                        i {
                          color: #464D5D;
                          font-size: 13px;
                        }
                      }

                      .box-drop-menu-mass {
                        min-width: 280px;
                        padding: 0px 16px;

                        .box-drop-menu-mass__wrap {
                          h6 {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            color: #232731;
                            margin-top: 8px;
                            margin-bottom: 4px;
                          }

                          .box-input-menu-mass {
                            position: relative;
                            background: #FFFFFF;
                            border: 1px solid #CFD3DB;
                            box-sizing: border-box;
                            border-radius: 4px;
                            min-height: 28px;
                            padding: 1px;

                            .el-input__inner {
                              height: 26px;
                              border: none;
                              padding: 0 10px;
                              width: 80%;
                            }

                            span {
                              position: absolute;
                              font-weight: 500;
                              font-size: 12px;
                              line-height: 15px;
                              text-align: right;
                              color: #232731;
                              right: 5px;
                              top: 5px;
                            }

                            h5 {
                              padding: 0 10px;
                              font-weight: 500;
                              font-size: 12px;
                              line-height: 26px;
                              color: #232731;
                            }
                          }

                          .box-input-menu-mass.info-data {
                            background: #ECEDF1;
                          }

                          .btn-delete-menu-mass {
                            text-align: right;
                            margin-top: 16px;

                            a {
                              font-weight: 500;
                              font-size: 12px;
                              line-height: 15px;
                              color: #E62020;
                              padding: 7px 16px;
                              display: inline-block;
                              background: #ECEDF1;
                              border-radius: 4px;
                            }
                          }

                          .btn-select-menu-mass {
                            text-align: left;
                            margin-top: 16px;

                            a {
                              font-weight: 500;
                              font-size: 12px;
                              line-height: 15px;
                              color: #00C48C;
                              padding: 7px 16px;
                              display: inline-block;
                              background: #D5F2EA;
                              border-radius: 4px;
                              min-width: 110px;
                            }
                          }
                        }
                      }
                    }
                  }
                }

                td:nth-child(8) {
                  min-width: 110px;

                  .box-table-drop-surcharge {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .box-table-drop-surcharge__wrap {
                      button {
                        border: none;
                        background: #ECEDF1;
                        border-radius: 4px;
                        width: 24px;
                        height: 24px;
                        outline: none;

                        i {
                          color: #464D5D;
                          font-size: 13px;
                        }
                      }

                      .box-drop-menu-surcharge {
                        min-width: 200px;
                        padding: 8px 16px;

                        .item-drop-menu-surcgarge {
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          margin-bottom: 12px;

                          h5 {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 17px;
                            color: #232731;
                          }
                        }

                        .btn-drop-menu-surcharge--create {
                          display: inline-block;
                          padding: 4px 8px;
                          font-weight: normal;
                          font-size: 14px;
                          line-height: 17px;
                          color: #00C48C;
                          background: #D5F2EA;
                          border-radius: 4px;
                        }
                      }
                    }
                  }
                }

                td:nth-child(9) {
                  min-width: 90px;

                  .box-upload-img {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  }

                  .el-upload-list--picture-card .el-upload-list__item {
                    width: 30px;
                    height: 30px;
                    margin: 0;
                    border-radius: 0;
                  }

                  .el-upload--picture-card {
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    vertical-align: middle;
                    border: none;
                    border-radius: 0;

                    i {
                      font-size: 18px;
                      color: #F5C170;
                    }
                  }
                }

                td:nth-child(11) {
                  min-width: 80px;

                  .box-table-drop-wrap_history_delete {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .box-table-drop-history {
                      display: inline-block;

                      i {
                        color: #F39B13;
                        font-size: 18px;
                      }
                    }

                    .box-table-drop-delete {
                      button {
                        border: none;
                        background: #ECEDF1;
                        border-radius: 4px;
                        width: 24px;
                        height: 24px;
                        outline: none;

                        i {
                          color: #9198A9;
                          width: 14px;
                          height: 18px;
                        }
                      }

                      button:focus {
                        background: #FFC9CD;
                      }

                      button:focus i {
                        color: #E62020;
                      }

                      .box-drop-menu-delete {
                        padding: 8px 24px;
                        min-width: 293px;

                        h5 {
                          font-weight: 500;
                          font-size: 14px;
                          line-height: 17px;
                          color: #000000;
                        }

                        .box-drop-menu-delete__wrap {
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          .btn-drop-menu-delete--yes, .btn-drop-menu-delete--no {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            color: #E62020;
                            padding: 8px 24px;
                            display: inline-block;
                            background: #ECEDF1;
                            border-radius: 4px;
                            margin-top: 16px !important;
                            margin: 0 8px;
                          }

                          .btn-drop-menu-delete--no {
                            background: #E62020;
                            color: #fff;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .btn-create-goods--shipping {
              margin: 8px 0 16px 8px;
              display: inline-flex;
              padding: 7px 10px;
              background: #D5F2EA;
              border-radius: 4px;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #00C48C;

              i {
                margin-right: 6px;
                font-size: 17px;
              }
            }

            .box-info-cost--shipping, .box-info-cost--transfers {
              padding: 0 16px;

              .box-checkbox-collection {
                margin-top: 40px;

                .el-checkbox__inner {
                  background: #fff;
                  width: 18px;
                  height: 19px;
                  border: 2px solid #084388;
                }

                .el-checkbox__inner::after {
                  border: 2px solid #084388;
                  height: 9px;
                  left: 4px;
                  top: 0px;
                  width: 5px;
                  border-left: 0;
                  border-top: 0;
                }

                .el-checkbox__label {
                  font-family: Cabin;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 19px;
                  color: #232731;
                }
              }

              .box-info-cost--shipping__wrap, .box-info-cost--transfers__wrap {
                h6 {
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 17px;
                  color: #232731;
                  margin: 8px 0;
                }

                .box-info-cost__item {
                  min-height: 40px;
                  position: relative;
                  background: #FFFFFF;
                  border: 1px solid #CFD3DB;
                  box-sizing: border-box;
                  border-radius: 4px;
                  font-family: Cabin;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 17px;
                  color: #000000;
                  padding: 1px;

                  .el-input__inner {
                    border: none;
                    width: 80%;
                    height: 38px;
                  }

                  span {
                    position: absolute;
                    right: 16px;
                    top: 12px;
                  }

                  h5 {
                    padding: 11px 15px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                  }
                }

                .box-info-cost__item.info-data--shipping .el-input__inner, .box-info-cost__item.info-data--shipping,
                .box-info-cost__item.info-data--transfers .el-input__inner, .box-info-cost__item.info-data--transfers {
                  background: #CFD3DB;
                }

                .note_input_cmnd {
                  display: inline-block;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 15px;
                  color: #E62020;
                  margin-top: 4px;
                  margin-bottom: 8px;
                }
              }

              .box-payments--shipping {
                display: flex;

                .box-payments--shipping__wrap {
                  width: 15%;
                  margin-right: 19px;
                }

                .box-payments--shipping__wrap:first-child {
                  width: 30%;
                  margin-right: 29px;
                }
              }

              .box-payments--transfers {
                display: flex;

                .box-payments--transfers__wrap {
                  width: 30%;
                  margin-right: 29px;
                }
              }

            }

          }

          .box-journey-order {
            padding: 0 16px;

            .item__box-journey-order--header {
              background: #084388;
              border-radius: 4px;
              padding: 17px 24px;

              h5 {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
              }
            }

            .item__box-journey-order--content {
              background: #FFFFFF;
              border: 1px solid #ECEDF1;
              box-sizing: border-box;
              box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
              border-radius: 4px;
              margin-top: 8px;
              padding: 12px 24px;

              h5 {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #232731;
                margin-bottom: 8px;
              }

              span {
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                color: #232731;
              }

              .content__item-box-jo--content {
                margin-bottom: 18px;

                p {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 19px;
                  color: #084388;
                  margin-bottom: 8px;
                }

                .box-info-sent {
                  display: flex;
                  align-items: center;

                  h6 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #232731;
                  }

                  i {
                    color: #084388;
                    margin: 0 17px;
                  }
                }
              }

              .content__item-box-jo--content:last-child {
                margin-bottom: 0;
              }

              h6 {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #232731;
              }
            }
          }
        }
      }

    }

    .box-status-gm--right {
      background: #FFFFFF;
      box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
      border-radius: 4px 4px 0px 0px;
      padding: 16px;
      margin-top: 8px;

      .btn-cancel-status-gm, .btn-save-status-gm, .btn-print-receipts-status-gm, .btn-print-goods-stamps-status-gm {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #E62020;
        background: #ECEDF1;
        border-radius: 4px;
        padding: 11px 24px;
      }

      .btn-save-status-gm {
        color: #00C48C;
        background: #D5F2EA;
      }

      .btn-print-receipts-status-gm, .btn-print-goods-stamps-status-gm {
        color: #F39B13;
        background: #F8E7CD;
      }
    }
  }
</style>
