<template>
    <section class="OperatingComponent">
        <div class="header-operating">
            <div class="container">
                <h5>Điều hành hàng hóa</h5>
            </div>
        </div>
        <div class="input-header-operating">
            <div class="container">
                <el-input placeholder="Phòng hàng" v-model="input"></el-input>
            </div>
        </div>
        <div class="box-content-operating">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="box-content-operating__left">
                            <h6 class="operating__left--title">Đơn hàng</h6>
                            <div class="input-operating__left--filter">
                                <el-input placeholder="Filter" v-model="input"></el-input>
                            </div>
                            <div class="box-items-operating__left">
                                <div class="item-operating__left">
                                    <div class="item-operating__left--header">
                                        <h5>#200204 -74695</h5>
                                        <i class="el-icon-circle-plus"></i>
                                    </div>
                                    <div class="item-operating__left--content">
                                        <div class="content-left-item">
                                            <h6>Hình thức</h6>
                                            <h6>Lên - Xuống</h6>
                                        </div>
                                        <div class="content-right-item">
                                            <h6>Chuyển phát nhanh</h6>
                                            <h6>Hà Nội - Sài Gòn</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="box-content-operating__right">
                            <h6 class="operating__right--title">Tạo mã gom</h6>
                            <div class="box-items-operating__right">
                                <div class="item-operating__right">
                                    <div class="item-operating__right--header">
                                        <h5>#200204 -74695</h5>
                                        <i class="el-icon-remove"></i>
                                    </div>
                                    <div class="item-operating__right--content">
                                        <div class="content-left-item">
                                            <h6>Hình thức</h6>
                                            <h6>Lên - Xuống</h6>
                                        </div>
                                        <div class="content-right-item">
                                            <h6>Chuyển phát nhanh</h6>
                                            <h6>Hà Nội - Sài Gòn</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-content-operating__right">
                                <a href="" class="btn-generate-collection">Tạo mã gom</a>
                                <a href="" class="btn-opera">Điều hành</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {

        };
    },
};
</script>
<style>
*{
    margin: 0;
    padding: 0;
}

p, h1,h2,h3,h4,h5,h6,label,ul,li{
    margin: 0px;
}
li{list-style-type: none;}

a:hover{
    text-decoration: none;
}

a, h6 , span , h5, label,p {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
}
/*  */
.header-operating h5{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 16px;
    display: inline-block;
}

.input-header-operating .el-input__inner{
    width: 320px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.224px;
    color: #464D5D;
    margin-bottom: 16px;
}

.box-content-operating__left{
    background: #FFFFFF;
    border: 1px solid #ECEDF1;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 16px;
}
.box-content-operating__right{
    padding: 16px;
}

.operating__left--title,.operating__right--title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #084388;
    margin-bottom: 8px;
}
.operating__right--title{
    margin-bottom: 13px;
}
.input-operating__left--filter .el-input__inner{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.224px;
}

.box-items-operating__left{
    margin-top: 46px;
}

.item-operating__left,.item-operating__right{
    background: #FFFFFF;
    border: 1px solid #CFD3DB;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
}
.item-operating__right{
    max-width: 320px;
}

.item-operating__left--header,.item-operating__right--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-operating__left--header h5,.item-operating__right--header h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F39B13;
}

.item-operating__left--header i{
    color: #00C48C;
    font-size: 20px;
}

.item-operating__right--header i{
    color: #C80013;
    font-size: 20px;
}

.item-operating__left--content,.item-operating__right--content{
    display: flex;
    margin-top: 10px;
}

.content-left-item {
    margin-right: 8px;
}

.content-left-item h6,.content-right-item h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #084388;
    margin-bottom: 4px;
}
.content-right-item h6{
    color: #232731;
}
.content-left-item h6:first-child,.content-right-item h6:first-child{
    margin-bottom: 8px;
}

.btn-content-operating__right{
    display: flex;
    align-items: center;
}
.btn-generate-collection{
    display: inline-block;
    padding: 11px 43px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00C48C;
    background: #D5F2EA;
    border-radius: 4px;
    margin-right: 12px;
}
.btn-opera{
    display: inline-block;
    padding: 11px 43px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5C9CFE;
    background: #C4DBFE;
    border-radius: 4px;
}
</style>