<template>
  <div></div>
</template>

<script>
export default {
    props: {
        listGoods: {
            type: Array,
            default: []
        }
    },
    components: {},
    data() {
        return {
            templatePrint: null
        }
    },
    mounted() {
        this.getPrintConfig()
    },
    methods: {
        getPrintConfig() {
            let typeData = DisplaySetting.PRINT_STATISTICAL_GOODS_EMPLOYEE;

            sendJson({
                url: urlDBD(API.displaySettingGet),
                data: {
                    type: typeData
                },
                success: (res) => {
                    this.templatePrint = res.results.data;
                },
                functionIfError: (res) => {}
            });
        },
        
        renderHTML() {
            let templateObject = $("<div>" + this.templatePrint + "</div>");
            let template = templateObject.find("tbody").html();

            let content = template
            if (this.listGoods.length === 0) {
                templateObject.find("tbody").html("<tr></tr>");
                return templateObject.html();
            }

            this.listGoods.forEach((goods, index) => {
                let replateField = this.replaceField(goods, index)
                Object.keys(replateField).forEach((key) => {
                    let field = replateField[key]
                    content = content.replaceAll(field.key, field.value());
                })
                if (index < this.listGoods.length - 1) {
                    content += template;
                }
            })
            
            templateObject.find("tbody").html(content);
            
            return templateObject.html();
        },
        
        replaceField(goods, index) {
            return [
                {
                  key: "[so_thu_tu]",
                  value: function() {
                    return index + 1;
                  }
                },
                {
                    key: "[ma_hang]",
                    value: function() {
                        return goods.code;
                    }
                },
                {
                    key: "[ngay_gui]",
                    value: function() {
                        return goods.createdDate
                        ? this.$options.filters.strToDate(goods.createdDate)
                        : "";
                    }
                },
                {
                    key: "[ten_hang]",
                    value: function() {
                        return goods.details
                        ? goods.details.map(_ => _.name).join(", ")
                        : "";
                    }
                },
                {
                    key: "[nguoi_gui]",
                    value: function() {
                        return goods.sender ? goods.sender.name : "";
                    }
                },
                {
                    key: "[sdt_nguoi_gui]",
                    value: function() {
                        return goods.sender.phoneNumber;
                    }
                },
                {
                    key: "[noi_gui]",
                    value: function() {
                        return goods.deliveryPoint
                        ? goods.deliveryPoint.name
                        : "";
                    }
                },
                {
                    key: "[nguoi_nhan]",
                    value: function() {
                        return goods.receiver
                        ? goods.receiver.name
                        : "";
                    }
                },
                {
                    key: "[sdt_nguoi_nhan]",
                    value: function() {
                        return goods.receiver.phoneNumber;
                    }
                },
                {
                    key: "[noi_nhan]",
                    value: function() {
                        return goods.receivedPoint
                        ? goods.receivedPoint.name
                        : "";
                    }
                },
                {
                    key: "[ly_do_huy]",
                    value: function() {
                        return !!goods.failReason
                        ? goods.failReason
                        : "";
                    }
                },
                {
                    key: "[nguoi_huy]",
                    value: function() {
                        return goods.status === 0
                        ? goods.updatedUser.fullName
                        : "";
                    }
                }
            ];
            
        }
    }
}
</script>

<style>
</style>