<template>
  <section class="receiveGoodsInHome pt-3">
    <div class="container">
      <div class="blockGoods__header">
        <label>Trả hàng tại nhà</label>
        <el-select v-if="room" :value="room.id" filterable disabled placeholder="Bưu cục">
          <el-option :key="room.id" :label="room.name" :value="room.id"></el-option>
        </el-select>
      </div>
    <div class="row">
        <div class="col-4">
            <el-card class="card--goods">
                <div slot="header" class="card--goods__header">
                    <h3>Danh sách hàng hóa</h3>
                    <el-popover
                            @show="camera='front'"
                            @hide="camera='off'"
                            placement="bottom"
                            title="Quét mã"
                            width="200"
                            trigger="click">
                        <div>
                            <div class="text-danger">{{cameraError}}</div>
                            <qrcode-stream :camera="camera" @init="onInitCamera" @decode="onDecode"></qrcode-stream>
                            <div class="w-100 text-right">
                                <el-button size="mini" @click="camera = camera === 'front'?'rear':'front'">{{camera === 'front'?'Bật camera sau':'Bật camera trước'}}</el-button>
                            </div>
                        </div>
                        <el-button slot="reference" title="Tìm theo mã Qr"><i class="fa fa-qrcode"></i></el-button>
                    </el-popover>
                </div>
                <div class="card--goods__body">
                    <div class="card--goods__filter">
                        <div class="d-flex mb-2">
                            <el-input class="w-50 mr-2" suffix-icon="el-icon-search"
                                      :value="goodsList.code"
                                      @input="goodsList.setFilter($event,'code')"></el-input>
                            <select-region class="w-50 mr-2" placeholder="Khu vực nhận hàng"
                                           :value="goodsList.region"
                                           @input="goodsList.setFilter($event,'region')"></select-region>
                            <!--<select-work-shift class="w-50" placeholder="Ca nhận hàng"-->
                            <!--:value="goodsList.workShift"-->
                            <!--@input="goodsList.setFilter($event,'workShift')"></select-work-shift>-->
                        </div>
                        <div class="d-flex  mb-2">
                            <el-date-picker type="daterange" class="w-100" placeholder="Ngày nhận hàng"
                                            :value="goodsList.date"
                                            @input="goodsList.setFilter($event,'date')"
                                            format="dd-MM-yyyy" value-format="yyyyMMdd"></el-date-picker>
                        </div>
                        <div class="d-flex  mb-2">
                            <el-select class="w-100" v-model="goodsList.officeSelected" @input="goodsList.setFilter($event,'office')" value-key="id" filterable clearable placeholder="Phòng hàng" >
                                <el-option
                                        v-for="item in points"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="d-flex  mb-2">
                            <select-route class="w-100" v-model="goodsList.route" @input="goodsList.setFilter($event,'route')" :multiple="false" clearable></select-route>
                        </div>
                        <div class="d-flex  mb-2" v-if="goodsList.route != null && goodsList.route != []">
                            <el-date-picker
                                    class="w-100"
                                    @input="planGetTrips()"
                                    v-model="dateForTrip"
                                    type="date"
                                    format="dd-MM-yyyy"
                                    value-format="yyyyMMdd"
                                    placeholder="Chọn ngày để lọc chuyến"
                            ></el-date-picker>
                        </div>
                        <div class="d-flex  mb-2" v-if="goodsList.route != null && goodsList.route != []">
                            <el-select
                                    class="w-100"
                                    v-loading="loadingTrip"
                                    v-model="goodsList.trip"
                                    clearable
                                    filterable
                                    :disabled="loadingTrip"
                                    placeholder="Chọn chuyến"
                                    value-key="tripId"
                                    @input="goodsList.setFilter($event,'trip')"

                            >
                                <el-option
                                        v-for="(trip, index) in trips"
                                        :key="trip.tripId + index"
                                        :label="$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true) + ' - ' + trip.route.name + ' - ' + trip.vehicle.numberPlate"
                                        :value="trip"
                                ></el-option>
                            </el-select>
                        </div>
                        <!--<div class="d-flex mb-2">-->

                        <!--<select-goods-status class="w-50" placeholder="Trạng thái"-->
                        <!--:value="goodsList.goodsStatus"-->
                        <!--@input="goodsList.setFilter($event,'goodsStatus')"></select-goods-status>-->
                        <!--</div>-->
                    </div>
                    <div class="card--goods__action" @click="selectAll()">
                        <p>Chọn tất cả <span class="icon-add"></span></p>
                    </div>
                    <div class="listGoods">
                        <div class="listGoods__checkbox__item" v-loading="goodsList.loading">
                            <template v-for="(goods,g ) in  goodsList.list">
                                <div class="goodsOrder__item" v-if="mapSelected[goods.id]===undefined">
                                    <h6>
                                        <span class="goodsOrder__item__id">#{{goods.code||''}}</span>
                                        <span class="icon-add" @click="selected.push(goods)"></span>
                                    </h6>
                                    <p>
                                        <span class="goodsOrder__item__shift">{{goods.collection.workShiftInfo?goods.collection.workShiftInfo.name:''}} - {{goods.delivery.time||''}}</span>
                                        <span class="goodsOrder__item__date">{{goods.delivery.date|strToDate}}</span>
                                    </p>
                                    <h6>
                                        <span class="goodsOrder__item__type"><i class="fas fa-truck"></i>{{goods.transportType?goods.transportType.name : ''}}</span>
                                        <span class="goodsOrder__item__num">{{goods.details.length}} kiện </span>
                                    </h6>
                                    <h6>
                                    <span class="goodsOrder__item__place">
                                        <i class="fas fa-map-marker-alt"></i>{{goods.delivery&&goods.delivery.address?goods.delivery.address:''}}
                                    </span>
                                        <!--<span class="requestReceipt__item__weight">500 gram</span>-->
                                    </h6>
                                    <hr>
                                    <div class="goodsOrder__item__listGoods">
                                        <template v-for="(detail,d) in goods.details">
                                            <p><span>{{detail.name}}</span><span>#{{detail.code}}</span></p>
                                        </template>
                                    </div>
                                </div>
                            </template>

                        </div>
                    </div>
                </div>
            </el-card>
</div>
        <div class="col-4">
          <el-card class="card--goods" v-loading="loadingAssign">
            <div slot="header" class="card--goods__header">
              <h3>Danh sách điều hành</h3>
              <el-tooltip
                class="item"
                effect="dark"
                content="Làm trống danh sách"
                placement="top-start"
              >
                <el-button type="text" @click="selected = []">
                  <i class="far fa-trash-alt"></i>
                </el-button>
              </el-tooltip>
            </div>
            <div class="card--goods__body">
              <div class="card--goods__summary">
                <span>{{selected.length}} kiện</span>
                <span>2000g</span>
              </div>
              <div class="listGoods">
                <template v-for="(goods,g ) in  selected">
                  <div class="goodsOrder__item">
                    <h6>
                      <span class="goodsOrder__item__id">#{{goods.code||''}}</span>
                      <span class="icon-minus" @click="selected.splice(mapSelected[goods.id],1)"></span>
                    </h6>
                    <p>
                      <span
                        class="goodsOrder__item__shift"
                      >{{goods.collection.workShiftInfo?goods.collection.workShiftInfo.name:''}} - {{goods.delivery.time||''}}</span>
                      <span class="goodsOrder__item__date">{{goods.delivery.date|strToDate}}</span>
                    </p>
                    <h6>
                      <span class="goodsOrder__item__type">
                        <i class="fas fa-truck"></i>
                        {{goods.transportType?goods.transportType.name : ''}}
                      </span>
                      <span class="goodsOrder__item__num">{{goods.details.length}} kiện</span>
                    </h6>
                    <h6>
                      <span class="goodsOrder__item__place">
                        <i class="fas fa-map-marker-alt"></i>
                        {{goods.delivery&&goods.delivery.address?goods.delivery.address:''}}
                      </span>
                      <!--<span class="requestReceipt__item__weight">500 gram</span>-->
                    </h6>
                    <hr />
                    <div class="goodsOrder__item__listGoods">
                      <template v-for="(detail,d) in goods.details">
                        <p>
                          <span>{{detail.name}}</span>
                          <span>#{{detail.code}}</span>
                        </p>
                      </template>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </el-card>
        </div>
        <div class="col-4">
  <el-card class="card--goods" v-loading="loadingAssign">
    <div slot="header" class="card--goods__header">
      <h3>Điều phối cho nhân viên</h3>
    </div>
    <div class="card--goods__body">
      <div class="card--goods__filter">
        <select-user class="w-100" v-model="courier"></select-user>
      </div>
      <div class="avaction btn-container">
        <button class="action-info cursor-pointer" @click="print()">In danh sách</button>
        <button class="action-success cursor-pointer" @click="update()">Lưu</button>
      </div>
    </div>
  </el-card>
</div>
    </div>
    </div>
  </section>
</template>

<script>
    import SelectRegion from '../Region/SelectRegion';
    import SelectWorkShift from '../WorkShift/SelectWorkShift';
    import SelectGoodsStatus from './GoodsStatus/SelectGoodsStatus';
    import SelectUser from '../User/SelectUser';
    import SelectRoute from '../Route/SelectRoute.vue';
    import {GoodsList, GoodsStatus} from "../../class/goods_v2";
    import {mapState} from 'vuex';

    export default {
        components: {SelectRegion, SelectWorkShift, SelectGoodsStatus, SelectUser,SelectRoute},
        data: function () {
            let goodsList = new GoodsList();
            goodsList.goodsStatus = [GoodsStatus.enum().ON_ROOM_DELIVERY,GoodsStatus.enum().ON_VEHICLE];
            return {
                goodsList: goodsList,
                courier: null,
                selected: [],
                loadingAssign: false,
                camera : 'rear', // 'front'
                cameraError : '',
                templatePrint: "",
                points: [],
                loadingTrip: false,
                trips: [],
                dateForTrip: null
            }


        },
        computed: {
            mapSelected: function() {
              let selected = this.selected;
              let map = {};
              $.each(selected, function(i, item) {
                map[item.id] = i;
              });
              return map;
            },
            ...mapState({
              room: state => state.room,
              companyConfigData: state => state.CompanyConfig.companyConfigData
            })
          },
        mounted: function() {
            // this.goodsList.date=new Date().customFormat('#YYYY##MM##DD#');
            this.getConfig();
            this.goodsList.getList();
            this.getListOffice();
        },
        methods: {
            selectAll: function() {
              let self = this;
              let list = _.cloneDeep(this.goodsList.list);
              $.each(list, function(g, goods) {
                if (self.mapSelected[goods.id] === undefined) {
                  self.selected.push(goods);
                }
              });
            },
            planGetTrips: function() {
                console.log(this.dateForTrip)
                if (this.dateForTrip !== null) {
                    this.getTrips()
                }
            },
            getTrips: function() {
                console.log('run')
                let self = this;
                if (self.goodsList.route == null) {
                    return;
                }
                self.loadingTrip = true;
                let routeAdded = self.goodsList.route;
                let formatDate = self.dateForTrip;
                let params = {
                    page: 0,
                    count: 300,
                    timeZone: 7,
                    sortSelections: [{ fieldName: "startTime", ascDirection: true }],
                    companyId: window.userInfo.userInfo.companyId,
                    date: formatDate,
                    startPoint: _.first(routeAdded.listPoint).id,
                    endPoint: _.last(routeAdded.listPoint).id,
                    searchPointOption: 1,
                    source: 1,
                    platform: 1
                };
                sendJson({
                    url: urlDBD(API.planForTripSearch),
                    data: params,
                    success: function(data) {
                        self.trips = data.results.trips;
                        self.loadingTrip = false;
                    },
                    functionIfError: function(data) {
                        self.loadingTrip = false;
                    }
                });
            },
            getListOffice : function () {
                let self = this;
                let dataSend = {
                    page: 0,
                    count: 1000,
                    isReceivedGoods: true
                };
                self.load('getPoints');
                sendJson({
                    url : urlDBD(API.pointList),
                    data : dataSend,
                    success: function (data) {
                        self.points = data.results.result;
                        self.unload('getPoints');
                    },
                    functionIfError : function (res) {
                        self.unload('getPoints');
                    }
                })
            },
            update() {
              let self = this;
              if (!this.courier) {
                notify("Vui lòng chọn nhân viên để điều phối");
                return false;
              }
              if (this.selected.length <= 0) {
                notify("Không có món hàng hàng để điều phối", "error");
                return false;
              }
              let params = {
                status: GoodsStatus.enum().DELIVERING,
                courier: {
                  id: self.courier.id,
                  fullName: self.courier.fullName,
                  phoneNumber: self.courier.phoneNumber,
                  userName: self.courier.userName,
                  email: self.courier.email
                }
              };
              let codes = [];
              $.each(self.selected, function(i, item) {
                codes.push(item.code);
              });
              params.codes = codes;

              self.loadingAssign = true;
              sendJson({
                url: urlDBD(API.goodsV2Manage),
                data: params,
                success: function(res) {
                  self.courier = null;
                  self.selected = [];
                  self.goodsList.getList();
                  self.loadingAssign = false;
                },
                functionIfError: function(err) {
                  self.loadingAssign = false;
                }
              });
            },
            async onInitCamera(promise) {
              try {
                this.cameraError = "";
                await promise;
              } catch (error) {
                if (error.name === "NotAllowedError") {
                  this.cameraError = "ERROR: you need to grant camera access permisson";
                } else if (error.name === "NotFoundError") {
                  this.cameraError = "ERROR: no camera on this device";
                } else if (error.name === "NotSupportedError") {
                  this.cameraError =
                    "ERROR: secure context required (HTTPS, localhost)";
                } else if (error.name === "NotReadableError") {
                  this.cameraError = "ERROR: is the camera already in use?";
                } else if (error.name === "OverconstrainedError") {
                  this.cameraError = "ERROR: installed cameras are not suitable";
                } else if (error.name === "StreamApiNotSupportedError") {
                  this.cameraError =
                    "ERROR: Stream API is not supported in this browser";
                }
              }
            },
            onDecode: function(result) {
              this.goodsList.setFilter(result, "code");
            },
            print: function() {
              let contentPrint = this.renderTable(this.templatePrint, this.selected);
              let printObject = $(contentPrint);
              printObject.printThis();
            },
            renderTable: function(template, goodList) {
              let self = this;
              let templateObject = $("<div>" + template + "</div>");
              let replaceTemplate = templateObject.find("tbody").html();
              let content = replaceTemplate;
              if (goodList.length === 0) {
                templateObject.find("tbody").html("<tr></tr>");
                return templateObject.html();
              }
              let replaceObject = [
                {
                  key: "[so_thu_tu]",
                  value: function(index) {
                    return index + 1;
                  }
                },
                {
                  key: "[ma_hang]",
                  value: function(index) {
                    return goodList[index].code;
                  }
                },
                {
                  key: "[ngay_gui]",
                  value: function(index) {
                    return goodList[index].createdDate
                      ? self.$options.filters.strToDate(goodList[index].createdDate)
                      : "";
                  }
                },
                {
                  key: "[ten_hang]",
                  value: function(index) {
                    return goodList[index].details
                      ? goodList[index].details.map(x => x.name).join(", ")
                      : "";
                  }
                },
                {
                  key: "[nguoi_gui]",
                  value: function(index) {
                    return goodList[index].sender ? goodList[index].sender.name : "";
                  }
                },
                {
                  key: "[sdt_nguoi_gui]",
                  value: function(index) {
                    return goodList[index].sender.phoneNumber;
                  }
                },
                {
                  key: "[noi_gui]",
                  value: function(index) {
                    return goodList[index].deliveryPoint
                      ? goodList[index].deliveryPoint.name
                      : "";
                  }
                },
                {
                  key: "[nguoi_nhan]",
                  value: function(index) {
                    return goodList[index].receiver
                      ? goodList[index].receiver.name
                      : "";
                  }
                },
                {
                  key: "[sdt_nguoi_nhan]",
                  value: function(index) {
                    return goodList[index].receiver.phoneNumber;
                  }
                },
                {
                  key: "[noi_nhan]",
                  value: function(index) {
                    return goodList[index].receivedPoint
                      ? goodList[index].receivedPoint.name
                      : "";
                  }
                },
                {
                  key: "[ly_do_huy]",
                  value: function(index) {
                    return !!goodList[index].failReason
                      ? goodList[index].failReason
                      : "";
                  }
                },
                {
                  key: "[nguoi_huy]",
                  value: function(index) {
                    return goodList[index].status === 0
                      ? goodList[index].updatedUser.fullName
                      : "";
                  }
                }
              ];
              $.each(goodList, function(indexItem, item) {
                $.each(replaceObject, function(indexReplaceObject, element) {
                  content = content.replaceAll(element.key, element.value(indexItem));
                });
                if (indexItem < goodList.length - 1) {
                  content += replaceTemplate;
                }
              });
              templateObject.find("tbody").html(content);
              return templateObject.html();
            },
            getConfig: async function() {
              let self = this;
              let typeData = DisplaySetting.PRINT_STATISTICAL_GOODS_EMPLOYEE;
              sendJson({
                url: urlDBD(API.displaySettingGet),
                data: {
                  type: typeData
                },
                async: false,
                success: function(res) {
                  self.templatePrint = res.results.data;
                },
                functionIfError: function(res) {}
              });
            }
          }
};
</script>
<style scoped>
.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
</style>