<template>
  <div class="w-100 respon-page">
    <div class="row">
      <div class="col-12 title">
        <span class="text-uppercase">Báo cáo hàng hóa 2</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" @click="exportToExcel('table')">
            <i class="fa fa-file-excel"></i>
            {{$t('export-excel')}}
          </button>
        </span>
      </div>
    </div>
    <div class="grid-container">
      <div class="filter-container">
        <div class="filter-item grid-span-2">
          <label>Thời gian</label>
          <el-date-picker
            class="w-100"
            v-model="form.dateRange"
            type="daterange"
            align="right"
            :format="dateFormat"
            :value-format="valueDateFormat"
            range-separator="-"
            start-placeholder="Bắt đầu"
            end-placeholder="Kết thúc"
            :picker-options="pickerOptions"
          ></el-date-picker>
        </div>
        <div class="filter-item">
          <label>Mã hàng hóa</label>
          <el-input placeholder="Tất cả" v-model="form.code"></el-input>
        </div>
        <div class="filter-item">
          <label>Số điện thoại</label>
          <el-input type="number" placeholder="Tất cả" v-model="form.phoneNumber"></el-input>
        </div>
        <div class="filter-item">
          <label>Tuyến</label>
          <select-route
            v-model="form.route"
            class="w-100"
            :clearable="true"
            filterable
            placeholder="Tất cả"
            @input="getTrips()"
            @remove-route="removeTripSelected"
          ></select-route>
        </div>
        <div class="filter-item grid-span-2">
          <label>Chuyến</label>
          <div style="display: flex">
            <el-date-picker
              @input="getTrips()"
              v-model="dateForTrip"
              type="date"
              :format="dateFormat"
              :value-format="valueDateFormat"
              placeholder="Chọn ngày"
            ></el-date-picker>
            <el-select
              class="w-100"
              v-loading="loadingTrip"
              v-model="form.trip"
              clearable
              filterable
              :disabled="loadingTrip"
              placeholder="Tất cả"
              value-key="tripId"
            >
              <el-option
                v-for="(trip, index) in trips"
                :key="trip.tripId + index"
                :label="$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true) + ' - ' + trip.route.name + ' - ' + trip.vehicle.numberPlate"
                :value="trip"
              ></el-option>
            </el-select>
          </div>
        </div>
        <div style="display: grid">
          <el-button
            class="extra-filter-btn"
            type="text"
            @click="handleOpenExtraFilter()"
          >{{`${showExtraFilter ? 'Ẩn' : 'Hiện'} tìm kiếm nâng cao`}}</el-button>
          <button
            class="btn btn-primary text-uppercase"
            @click="renderReport()"
          >{{$t('button.filter')}}</button>
        </div>
      </div>
      <transition name="collaspe">
        <div key="3" v-if="showExtraFilter">
          <div class="grid-container border-top">
            <div class="filter-extra-container">
              <div class="filter-item">
                <label>Bưu cục lên</label>
                <select-point class="w-100" v-model="form.receivedPoint"></select-point>
              </div>
              <div class="filter-item">
                <label>Bưu cục trả</label>
                <select-point class="w-100" v-model="form.deliveryPoint"></select-point>
              </div>
              <div class="filter-item">
                <label>Trạng thái đơn hàng</label>
                <el-select
                  class="w-100"
                  v-model="form.goodStatus"
                  clearable
                  multiple
                  placeholder="Chọn tất cả"
                >
                  <el-option
                    v-for="item in goodStatusList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </div>
              <div class="filter-item">
                <label>Kho hàng</label>
                <el-select
                  class="w-100"
                  v-model="form.warehouse"
                  clearable
                  placeholder="Chọn tất cả"
                >
                  <el-option
                    v-for="item in warehouseList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <div v-html="reportContent" v-loading="loadingTable" class="tableReport margin-table"></div>
    </div>
  </div>
</template>
<script>
import SelectRoute from "../Route/SelectRoute";
import SelectPoint from "../Point/SelectPoint";
import { GoodsStatus } from "../../class/goods_v2";
import { mapState } from "vuex";

export default {
  components: { SelectRoute, SelectPoint },
  data: function() {
    return {
      form: {
        code: null,
        phoneNumber: null,
        dateRange: [
          new Date().customFormat("#DD#-#MM#-#YYYY#"),
          new Date().customFormat("#DD#-#MM#-#YYYY#")
        ],
        route: [],
        trip: [],
        receivedPoint: null,
        deliveryPoint: null,
        goodStatus: null,
        warehouse: null
      },
      goodList: [],
      dateForTrip: null,
      dateFormat: "dd-MM-yyyy",
      loadingTrip: false,
      valueDateFormat: "dd-MM-yyyy",
      showExtraFilter: false,
      trips: [],
      tripsMap: {},
      goodStatusList: GoodsStatus.properties(),
      warehouseList: [],
      pickerOptions: this.pickDateOption(),
      template: null,
      reportContent: '',
      loadingTable: false,
    };
  },
  computed: {
    ...mapState({
      companyConfigData: state => state.CompanyConfig.companyConfigData,
      companyConfig: state => state.CompanyConfig.companyConfig
    })
  },
  mounted: async function() {
    this.getwarHouse();
    let config = this.getConfig();
    let reportData = this.getReport(this.form);
    Promise.all([config, reportData]).then(values => {
      this.template = values[0];
      this.reportContent = this.renderTable(this.template,values[1]);
    });
  },
  methods: {
    getReport: async function(form) {
      let self = this;
      const {
        code,
        phoneNumber,
        dateRange,
        route,
        trip,
        receivedPoint,
        deliveryPoint,
        goodStatus,
        warehouse
      } = form;
      let param = {};
      if (receivedPoint) {
        param.receivedPointId = receivedPoint.id;
      }
      if (deliveryPoint) {
        param.deliverPointId = deliveryPoint.id;
      }
      if (goodStatus) {
        param.status = goodStatus;
      }
      if (dateRange) {
        param.date = dateRange.map(x =>
          x
            .split("-")
            .reverse()
            .join("")
        );
      }
      if (phoneNumber) {
        param.phoneNumber = phoneNumber;
      }
      if (warehouse) {
        param.currentWarehouseId = warehouse;
      }
      if (trip) {
        param.tripId = trip.tripId;
      }
      if (route) {
        param.routeId = route.routeId;
      }
      if (code) {
        param.code = code;
      }
      let response = await new Promise((resolve, rejected) => {
        sendParam({
          url: urlDBD(API.goodsV2GetList),
          data: param,
          type: "get",
          success: function(data) {
            return resolve(data.results.goods);
          },
          functionIfError: function(res) {
            return resolve([]);
          }
        });
      });
      return response;
    },
    renderReport: async function () {
      this.loadingTable = true;
      let reportData = this.getReport(this.form);
      reportData.then(value => {
        this.reportContent = this.renderTable(this.template,value);
        this.loadingTable = false;
      })
    },
    renderTable: function(template, goodList) {
      let self = this;
      let templateObject = $("<div>" + template + "</div>");
      let replaceTemplate = templateObject.find('tbody').html();
      let content = replaceTemplate;
      if(goodList.length === 0) {
        templateObject.find('tbody').html('<tr></tr>');
        return templateObject.html();
      }
      let replaceObject = [
        {
          key: "[so_thu_tu]",
          value: function(index) {
            return index+1;
          }
        },
        {
          key: "[ma_hang]",
          value: function(index) {
            return goodList[index].code;
          }
        },
        {
          key: "[ngay_gui]",
          value: function(index) {
            return goodList[index].createdDate ? self.$options.filters.strToDate(goodList[index].createdDate) : '';
          }
        },
        {
          key: "[ten_hang]",
          value: function(index) {
            return goodList[index].details ? goodList[index].details.map(x => x.name).join(', ') : '';
          }
        },
        {
          key: "[nguoi_gui]",
          value: function(index) {
            return goodList[index].sender ? goodList[index].sender.name : '';
          }
        },
        {
          key: "[sdt_nguoi_gui]",
          value: function(index) {
            return goodList[index].sender.phoneNumber;
          }
        },
        {
          key: "[noi_gui]",
          value: function(index) {
            return goodList[index].deliveryPoint ? goodList[index].deliveryPoint.name : '';
          }
        },
        {
          key: "[nguoi_nhan]",
          value: function(index) {
            return goodList[index].receiver ? goodList[index].receiver.name : '';
          }
        },
        {
          key: "[sdt_nguoi_nhan]",
          value: function(index) {
            return goodList[index].receiver.phoneNumber;
          }
        },
        {
          key: "[noi_nhan]",
          value: function(index) {
            return goodList[index].receivedPoint ? goodList[index].receivedPoint.name : '';
          }
        },
        {
          key: "[ly_do_huy]",
          value: function(index) {
            return !!goodList[index].failReason ? goodList[index].failReason : '';
          }
        },
        {
          key: "[nguoi_huy]",
          value: function(index) {
            return goodList[index].status === 0 ? goodList[index].updatedUser.fullName : '';
          }
        },
      ];
      $.each(goodList, function(indexItem, item) {
        $.each(replaceObject, function(indexReplaceObject, element) {
          content = content.replaceAll(
            element.key,
            element.value(indexItem)
          );
        });
        if (indexItem < goodList.length - 1) {
          content += replaceTemplate;
        }
      });
      templateObject.find('tbody').html(content);
      return templateObject.html();
    },
    getConfig: async function() {
      let self = this;
      let typeData = DisplaySetting.PRINT_STATISTICAL_GOODS_EMPLOYEE;
      self.load("getConfig");
      let response = await new Promise((resolve, rejected) => {
        sendJson({
          url: urlDBD(API.displaySettingGet),
          data: {
            type: typeData
          },
          async: false,
          success: function(res) {
            self.unload("getConfig");
            return resolve(res.results.data);
          },
          functionIfError: function(res) {
            self.unload("getConfig");
            return rejected("");
          }
        });
      });
      return response;
    },
    exportToExcel: function(tableId) {
      // let fileName = "Bao_cao_hang_hoa_02";
      // this.excel(`#${tableId}`, fileName);
      // this.excel($(this.$el).find("tableReport"), "Bao_cao_hang_hoa_02");
      this.excel('table','Bao_cao_hang_hoa_02');
    },
    getTrips: function() {
      let self = this;
      if (this.form.route.length <= 0 || !this.dateForTrip) {
        return;
      }
      this.loadingTrip = true;
      this.form.trip = null;
      let routeAdded = this.form.route;
      let formatDate = this.dateForTrip
        .split("-")
        .reverse()
        .join("");
      let params = {
        page: 0,
        count: 300,
        timeZone: 7,
        sortSelections: [{ fieldName: "startTime", ascDirection: true }],
        companyId: window.userInfo.userInfo.companyId,
        date: formatDate,
        startPoint: _.first(routeAdded.listPoint).id,
        endPoint: _.last(routeAdded.listPoint).id,
        searchPointOption: 1,
        source: 1,
        platform: 1
      };
      sendJson({
        url: urlDBD(API.planForTripSearch),
        data: params,
        success: function(data) {
          self.trips = [];
          self.tripsMap = {};
          let res = data.results.trips;

          if (res[0]) {
            self.tripsMap[res[0].route.id] = res;
          }

          $.each(self.tripsMap, function(index, elem) {
            elem.forEach(function(val) {
              self.trips.push(val);
            });
          });
          self.loadingTrip = false;
        },
        functionIfError: function(data) {
          self.loadingTrip = false;
        }
      });
    },
    removeTripSelected(val) {
      let tmp = [];
      delete this.tripsMap[val.routeId];
      this.trips.forEach((elem, index) => {
        if (elem.route.id != val.routeId) {
          tmp.push(elem);
        }
      });

      this.trips = tmp;

      let tripMap = {};
      this.trips.forEach(function(elem) {
        tripMap[elem.tripId] = elem;
      });

      let tmpTripSelected = [];
      this.form.trip.forEach(function(elem, index) {
        if (tripMap[elem]) {
          tmpTripSelected.push(elem);
        }
      });
      this.form.trip = tmpTripSelected;
    },
    handleOpenExtraFilter: function() {
      let isAgency = this.$root.isAgency();
      if (isAgency) {
        notify("Bạn không có quyền dùng chức năng này!");
        return;
      }
      this.showExtraFilter = !this.showExtraFilter;
    },
    getwarHouse: function() {
      let self = this;
      self.load("getList");
      sendParam({
        url: urlDBD(API.goodsWareHouseGet),
        type: "GET",
        success: function(data) {
          self.warehouseList = data.results.goodsWarehouses;
          self.unload("getList");
        },
        functionIfError: function(res) {
          self.unload("getList");
        }
      });
    },
    pickDateOption: function() {
      let option = {
        shortcuts: [
          {
            text: "Tuần trước",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "Tháng trước",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "3 tháng trước",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      };
      return option;
    }
  }
};
</script>
<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-around;
}
.filter-extra-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: space-around;
}
.grid-span-2 {
  grid-column: span 2;
}
.border-top {
  border-top: 1px solid #b0b5c1;
  padding-top: 10px;
  margin-top: 10px;
}
.extra-filter-btn {
  padding: 0;
  font-size: 16px;
  outline: none;
  justify-self: baseline;
  line-height: 25px;
}
.margin-table {
  margin-bottom: 30px;
}
</style>