<template>
    <el-select :size="size" :disabled="disabled" :value="value" :clearable="clearable" @input="$emit('input',$event)"
               filterable :placeholder="placeholder" value-key="value">
        <!--<div v-infinite-scroll="this.options.getList(1)" infinite-scroll-delay="200">-->
        <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
        <!--</div>-->
    </el-select>
</template>
<script>
    import {TypeOfGoodsExtraFee} from "../../class/goods_v2";

    export default {
        props: {
            size: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'Lựa chọn'
            },
            value: {
                default: null,
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            }
        },
        data: function () {
            return {
                options: TypeOfGoodsExtraFee.properties()
            }
        }
    }
</script>