<template>
    <multiselect v-if="$root.roles.VEHICLE_TYPE_GET_LIST" @input="input" :multiple="multiple" select-label="" deselect-label="" track-by="vehicleTypeId" :options="listOption" :value="value" label="vehicleTypeName" placeholder="Nhập tìm kiếm" :loading="loading" @search-change="getVehicleType" @open="getVehicleType">
        <template slot="clear" v-if="allowClear">
            <div class="multiselect__clear" v-if="value" @click="$emit('input',null)"><i class="fa fa-trash text-danger"></i></div>
        </template>
    </multiselect>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            allowClear : {
                default : true
            },
            multiple : {
                default : false
            }
        },
        data : function () {
            return {
                listOption : [],
                loading : false,
            }
        },
        methods : {
            getVehicleType : function (query) {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 20,
                    vehicleTypeName : query
                };
                self.listOption =[];
                sendJson({
                    url : urlDBD(API.vehicleTypeList),
                    data : dataReq,
                    success : function (data) {
                        self.listOption=data.results.result;
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            input :function (newVal) {
                this.$emit('input',newVal);
            },
        }
    }
</script>