// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-global: Cabin;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$dark: #232731;

// Color Anvui
$anvui-normal: #084388;
$anvui-medium: #6b8eb8;
$anvui-light: #ced9e7;

$orange-normal: #f39b13;
$orange-medium: #f8c371;
$orange-light: #fdebd0;

$purple-normal: #6a71e5;
$purple-medium: #a6aaef;
$purple-light: #e1e3fa;

$blue-normal: #0091fe;
$blue-medium: #66bdfe;
$blue-light: #cce9ff;

$green-normal: #49d193;
$green-medium: #6ddaa8;
$green-light: #c8f1df;

$red-normal: #ff4868;
$red-medium: #ff91a4;
$red-light: #ffdae1;

$yellow-normal: #ffd200;
$yellow-medium: #ffe465;
$yellow-light: #fff6cb;

$black-normal: #383f47;
$black-medium: #646d84;
$black-mediumer: #9399a9;
$black-medium-lighter: #b0b5c1;
$black-light: #ecedf1;

$white-normal: #ffffff;

//
$av-white: #ffffff;

$av-green: #00c48c;
$av-green-medium: #7ddfc3;
$av-green-light: #d5f2ea;

$av-blue: #084388;
$av-blue-light: #c4dbfe;

$av-orange: #f39b13;
$av-orange-medium: #ffa26b;
$av-orange-light: #f8e7cd;

$av-gray: #646d84;
$av-gray-medium: #cfd3db;
$av-gray-light: #ecedf1;

$av-red: #c80013;
$av-red-medium: #ff647c;
$av-red-light: #ffc9cd;

$av-black: #232731;
$av-black-medium: #464d5d;
// $av-black-light: #464D5D;
