@import "./variables";

// button style
.btn-av-disable {
  background: #cfd3db;
  color: #9198a9;
}
.btn-av-normal {
  background: #084388;
}
.btn-av-access {
  background: #00c48c;
  color: #ffffff;
}
.btn-av-IT {
  background: #ffffff;
  color: #c80013;
}
.btn-av-blue {
  background: #5c9cfe;
}
// background color
.bg-anvui-n {
  background-color: $anvui-normal;
}
.bg-anvui-m {
  background-color: $anvui-medium;
}
.bg-anvui-l {
  background-color: $anvui-light;
}

.bg-purple-n {
  background-color: $purple-normal;
}
.bg-purple-m {
  background-color: $purple-medium;
}
.bg-purple-l {
  background-color: $purple-light;
}

.bg-blue-n {
  background-color: $blue-normal;
}
.bg-blue-m {
  background-color: $blue-medium;
}
.bg-blue-l {
  background-color: $blue-light;
}

.bg-green-n {
  background-color: $green-normal;
}
.bg-green-m {
  background-color: $green-medium;
}
.bg-green-l {
  background-color: $green-light;
}

.bg-red-n {
  background-color: $red-normal;
}
.bg-red-m {
  background-color: $red-medium;
}
.bg-red-l {
  background-color: $red-light;
}

.bg-yellow-n {
  background-color: $yellow-normal;
}
.bg-yellow-m {
  background-color: $yellow-medium;
}
.bg-yellow-l {
  background-color: $yellow-light;
}

.bg-black-n {
  background-color: $black-normal;
}
.bg-black-m {
  background-color: $black-medium;
}
.bg-black-mer {
  background-color: $black-mediumer;
}
.bg-black-ml {
  background-color: $black-medium-lighter;
}
.bg-black-l {
  background-color: $black-light;
}

.bg-white-n {
  background-color: $white-normal;
}

.av-success {
  color: $av-white;
  background-color: $av-green;
}
.av-success-2 {
  color: $av-green;
  background-color: $av-green-light;
}

.av-warning-2 {
  color: $av-orange;
  background-color: $av-orange-light;
}

.av-info-2 {
  color: $av-blue;
  background-color: $av-blue-light;
}

.av-danger {
  color: $av-white;
  background-color: $av-red;
}

.av-primary {
  color: $av-white;
  background-color: $av-gray-light;
}
.av-primary-2 {
  color: $av-gray;
  background-color: $av-gray-light;
}

.flex-center {
  display: flex;
  align-items: center;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mb-4px {
  margin-bottom: 4px!important;
}
.mt-4px {
  margin-top: 4px!important;
}
.mr-4px {
  margin-right: 4px!important;
}
.ml-4px {
  margin-left: 4px!important;
}
.mx-4px {
  margin-left: 4px!important;
  margin-right: 4px!important;
}
.my-4px {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}
.m-4px {
  margin: 4px!important;
}

.mb-8px {
  margin-bottom: 8px!important;
}
.mt-8px {
  margin-top: 8px!important;
}
.mr-8px {
  margin-right: 8px!important;
}
.ml-8px {
  margin-left: 8px!important;
}
.mx-8px {
  margin-left: 8px!important;
  margin-right: 8px!important;
}
.my-8px {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}
.m-8px {
  margin: 8px!important;
}

.mb-16px {
  margin-bottom: 16px!important;
}
.mt-16px {
  margin-top: 16px!important;
}
.mr-16px {
  margin-right: 16px!important;
}
.ml-16px {
  margin-left: 16px!important;
}
.mx-16px {
  margin-left: 16px!important;
  margin-right: 16px!important;
}
.my-16px {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}
.m-16px {
  margin: 16px!important;
}

.mb-24px {
  margin-bottom: 24px!important;
}
.mt-24px {
  margin-top: 24px!important;
}
.mr-24px {
  margin-right: 24px!important;
}
.ml-24px {
  margin-left: 24px!important;
}
.mx-24px {
  margin-left: 24px!important;
  margin-right: 24px!important;
}
.my-24px {
  margin-top: 24px!important;
  margin-bottom: 24px!important;
}
.m-24px {
  margin: 24px!important;
}

.pb-4px {
  padding: 4px;
}
.pt-4px {
  padding-top: 4px;
}
.pr-4px {
  padding-right: 4px;
}
.pl-4px {
  padding-left: 4px;
}
.px-4px {
  padding-left: 4px;
  padding-right: 4px;
}
.py-4px {
  padding-top: 4px;
  padding: 4px;
}
.p-4px {
  padding: 4px;
}

.pb-8px {
  padding: 8px;
}
.pt-8px {
  padding-top: 8px;
}
.pr-8px {
  padding-right: 8px;
}
.pl-8px {
  padding-left: 8px;
}
.px-8px {
  padding-left: 8px;
  padding-right: 8px;
}
.py-8px {
  padding-top: 8px;
  padding: 8px;
}
.p-8px {
  padding: 8px;
}

.pb-16px {
  padding: 16px;
}
.pt-16px {
  padding-top: 16px;
}
.pr-16px {
  padding-right: 16px;
}
.pl-16px {
  padding-left: 16px;
}
.px-16px {
  padding-left: 16px;
  padding-right: 16px;
}
.py-16px {
  padding-top: 16px;
  padding: 16px;
}
.p-16px {
  padding: 16px;
}

.pb-24px {
  padding: 24px;
}
.pt-24px {
  padding-top: 24px;
}
.pr-24px {
  padding-right: 24px;
}
.pl-24px {
  padding-left: 24px;
}
.px-24px {
  padding-left: 24px;
  padding-right: 24px;
}
.py-24px {
  padding-top: 24px;
  padding: 24px;
}
.p-24px {
  padding: 24px;
}

.av-block {
  background: #ffffff;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.toInput-center input {
  text-align: center;
}
