// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap&subset=vietnamese");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~jquery-ui-bundle/jquery-ui.css";
@import "~jquery-ui-bundle/jquery-ui.theme.css";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "~@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css";
@import "~select2/dist/css/select2.min.css";
@import "~select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";
@import "~jquery-bootstrap-scrolling-tabs/dist/jquery.scrolling-tabs.min.css";

@import "~element-ui/lib/theme-chalk/index.css";
@import "./anvui.scss";

#root {
  margin-top: 39px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
hr {
  margin: 5px 0;
}
.bg-anvui {
  background: #084388 !important;
}
.bg-h {
  background: #00C48C !important;
}
.bg-seatMap {
  background: #525050;
}
.text-anvui {
  color: #084388;
}
.text-success {
  color: #1b5e20 !important;
}
.border-dotted {
  border: dotted 1px #ddd;
}
.height-80vh {
  max-height: 90vh;
  overflow-y: scroll;
}
.white-space-nowrap {
  white-space: nowrap;
}
.dropdown-submenu {
  position: relative;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.hover-muted:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

@media (min-width: 767px) {
  .navbar-nav .dropdown-menu .caret {
    transform: rotate(-90deg);
  }
}

@media (max-width: 767px) {
  .navbar-nav .navbar-collapse {
    height: 100vh;
    overflow-y: scroll;
  }
}
table tfoot {
  display: table-row-group;
}
.table-hover-anvui.table-hover td:hover {
  background: #375d8a;
  color: #fff;
}
.table-doanhthulaixe,
table .table_header td {
  border: initial !important;
}
.box-note {
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.bg-disable {
  background: #a2a5a9;
}
.bg-ok {
  background: #bcf5d4;
}
.bg-e {
  background: #eee;
}
.bg-c {
  background: #ccc;
}
.bg-9 {
  background: #999;
}
.bg-a {
  background: #aaa;
}
.bg-printed {
  background: #ef9a9a;
}
.hover-bg-e:hover {
  background: #eee;
}
.modal-header {
  background: #084388;
  color: #fff;
  padding: 0.5rem 1rem;
}
.modal-footer {
  padding: 0.5rem 1rem;
}
.no-underline {
  text-decoration: none;
}
.top5 {
  margin-top: 5px;
}
.top10 {
  margin-top: 10px;
}
.top20 {
  margin-top: 20px;
}
.bottom20 {
  margin-bottom: 20px;
}
.size20 {
  font-size: 20px;
}
.size30 {
  font-size: 30px;
}
.padding5 {
  padding: 5px;
}
.content-row {
  background: #fff;
  padding: 10px;
  border: 1px solid #e7e7e7;
}
.content-row.padding-row {
  padding: 15px;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  line-height: 35px;
}
label {
  font-weight: bold;
  margin-bottom: 0;
}
//.table-responsive{max-height: calc(100vh - 150px)}
.table td,
.table th {
  vertical-align: middle;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.avdisabled {
  pointer-events: none;
  opacity: 0.8;
}
.card__bordered {
  background: #ffffff;
  border: 3px solid #084388;
  box-sizing: border-box;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 24px;
}
.avdisabled--much-opacity {
  pointer-events: none;
  opacity: 0.4;
}
.table-bordered-dark {
  border: 1px solid #666 !important;
}
.table-bordered-dark th {
  border: 1px solid #666 !important;
}
.table-bordered-dark td {
  border: 1px solid #666 !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.box-border {
  border: 1px solid #ddd;
  padding: 2px;
  min-width: 30px;
}
.error {
  font-size: 12.5px;
  font-weight: bold;
  color: #dc3333;
}
.list-inline {
  margin: 0;
  padding: 0;
  display: inline-flex;
  border: 1px solid #0077e2;
  border-radius: 17px;
}
.list-inline li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.list-inline li a {
  text-decoration: none;
  line-height: 35px;
  padding: 0 10px;
  display: block;
  border-left: 1px solid #0077e2;
  font-weight: 400;
  font-size: 15px;
}
.list-inline li a:hover {
  background: #0077e2;
  transition: background 0.5s;
  color: #fff;
}
.list-inline li.active a {
  background: #0077e2;
  color: #fff;
}
.list-inline li:first-child a {
  border-left: none;
  border-radius: 15px 0 0 15px;
}
.list-inline li:last-child a {
  border-radius: 0 15px 15px 0;
}

span.link {
  color: #0b5fc6;
  cursor: pointer;
}
span.link:hover {
  text-decoration: underline;
}
.action-fixed-right {
  position: fixed;
  top: 30%;
  right: -50px;
  opacity: 0;
  transition: right 0.5s ease, opacity 0.3s ease;
}
.action-fixed-right.open {
  right: 10px;
  opacity: 1;
  transition: right 0.5s ease, opacity 0.3s ease;
}
.form-group {
  margin-bottom: 0.5em;
}
.form-group label {
  margin-bottom: 0;
}
.label-absolute-right-sm {
  position: absolute;
  right: 7px;
  top: 3px;
}
.padding-right-10 {
  padding-right: 10px !important;
}

.box100 {
  max-width: 100px;
  max-height: 100px;
}
.q-box-time {
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
.q-box-time.active {
  background: #084388;
  color: #fff;
}
.q-box-time .time {
  line-height: 25px;
}
.q-box-time .numberPlate {
  font-size: 10px;
  line-height: 15px;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0;
}
.ui-datepicker-inline {
  width: 100% !important;
}
#ui-datepicker-div {
  z-index: 99999999 !important;
}
.line-height-35 {
  line-height: 35px;
}
input.hasDatepicker:read-only {
  background: #fff;
}
.pac-container {
  z-index: 1051 !important;
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 1400px;
  }
  .modal-lg.modal-1000 {
    max-width: 1000px;
  }
  .sticky-lg {
    position: sticky;
    top: 39px;
    z-index: 3;
  }
}
@media (max-width: 768px) {
  #seatMapSell .seat {
    min-height: 56px;
  }
  .list-inline {
    display: grid;
  }
  .content-row.padding-row {
    padding: 10px;
  }
  .q-telecom {
    width: calc(100vw - 25px) !important;
  }
  .sm-padding-bottom5 {
    padding-bottom: 5px;
  }
  .q-padding-md-left-10 {
    padding-left: 10px;
  }
}
@media all {
  .page-break {
    display: none;
  }
}
@page {
  size: auto;
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
  .no-print-this,
  .no-print-this * {
    display: none !important;
  }
}

//multiple select
.multiple-sm {
  min-height: calc(1.68125rem + 2px);
  height: calc(1.68125rem + 2px);
  font-size: 0.7875rem;
}
.multiple-sm .multiselect__tags {
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  padding: 0 40px 0 8px;
  min-height: calc(1.68125rem + 2px);
  height: calc(1.68125rem + 2px);
}
.multiple-sm .multiselect__placeholder {
  margin-bottom: 0;
}
.multiselect__placeholder {
  margin-bottom: 5px !important;
  padding-left: 5px;
  line-height: 24px;
}
.multiple-sm .multiselect__select {
  height: 26px;
}
.multiple-sm .multiselect__single {
  line-height: 26px;
  margin-bottom: 0;
  height: 26px;
  overflow: hidden;
  font-size: 0.7875rem;
}
.multiple-sm .multiselect__content-wrapper {
  min-width: 300px;
}
.multiselect__clear {
  position: absolute;
  top: 5px;
  right: 35px;
  z-index: 1;
}
.input-group-append {
  z-index: 0;
}
.tripOption:first-child {
  margin-left: 0;
}
.tripOption {
  margin: 3px;
  border: 2px solid #aaa;
  padding: 0;
  line-height: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.tripOption.active {
  border: 2px solid #084388;
  background: #fbbe73;
}
.tripOption.tripOptionAdd {
  height: calc(100% - 6px);
  border: 2px solid green;
  color: #888;
  min-height: 50px;
}
.tripOption.tripOptionAdd:hover {
  color: green;
  background: #fff;
}
.tripOption .time {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  color: #175193;
}
.tripOption .numberPlate {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  text-align: right;
  color: #464d5d;
}

.q-progress-bar {
  width: 100%;
  background: #999;
  position: relative;
}
.q-progress-bar .probar {
  height: 20px;
  background: #4caf50;
}
.q-progress-bar .textbar {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  line-height: 23px;
}

.scroll-x {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}
.scroll-x::-webkit-scrollbar {
  width: 0;
}
.scroll-y {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}
.scroll-y::-webkit-scrollbar {
  width: 0;
}

.cursor-pointer {
  cursor: pointer;
}

ul.timeline {
  margin-left: -20px;
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #0077e2;
  display: inline-block;
  position: absolute;
  left: 34px;
  width: 2px;
  height: 100%;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: "✔";
  text-align: center;
  color: #d4d9df;
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #0077e2;
  left: 20px;
  width: 30px;
  height: 30px;
}
ul.timeline > li.pointUp:before {
  content: "\2756";
}
ul.timeline > li.pointDown:before {
  content: "\2698";
}
ul.timeline > li.active:before {
  background: #fff;
  color: #0077e2;
}
ul {
  margin-bottom: 2px;
}
p {
  margin-bottom: 2px;
}
.btn-outline-primary {
  background: #fff;
}
.min-td-th-70 th,
.min-td-th-70 td {
  min-width: 70px;
}
div.title {
  margin-bottom: 24px;
  color: #30577a;
  font-size: 18px;
  padding: 2px 15px;
  background: #ecedf1;
}
.close-ticket {
  position: absolute;
  top: -7px;
  right: -7px;
  color: white;
  background: #e08e92;
  border-radius: 50%;
  padding: 0px 4px;
}
.close-ticket:hover {
  background: red;
}
.seat {
  padding: 5px;
  border: 2px solid #ddd;
  margin: 5px;
}
.seat input {
  background: inherit;
  color: #fff;
}
.seat .displayActionTicket {
  display: none;
}
.seat-selected .displayActionTicket {
  display: block;
}
.bg-cua {
  background: #9d8f12;
}
.bg-tai {
  background: #c4300f;
}
.bg-phu {
  background: #dd9129;
}
.bg-ghe {
  background: #00a652;
}
.bg-giuong {
  background: #1432a9;
}
.bg-wc {
  background: #8f5a15;
}
.bg-duong {
  background: inherit;
}
.bg-note-duong {
  background: #525050;
}
.note-box {
  width: 25px;
  height: 25px;
  display: inline-block;
}
.note-box-ok:after {
  content: "✔";
  text-align: center;
  width: 25px;
  color: #fff;
  position: absolute;
}
.seatCount {
  position: fixed;
  background: #53a0e4;
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
}
#seatMapSell,
.seatMapSell {
  .seat {
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
    height: calc(100% - 6px);
    min-height: 100px;
    .phoneNumber {
      padding: 2px 5px;
      border: 1px solid #333;
      border-radius: 5px;
      font-weight: bold;
      display: inline;
      overflow: hidden;
    }
  }
  .seat.hideInfo {
    min-height: 56px;
  }
  .ticket-selected {
    background: #ffe7e2 !important;
  }
  .seat.seat-selected {
    border: 2px solid red !important;
    background: #ffe7e2 !important;
  }
  .ticket-related {
    background: #d8fddc !important;
  }
  .seat.seat-related {
    background: #d8fddc !important;
  }
  .seat.seatSelected {
    border: 2px solid red;
  }
  .seat.duong {
    background: inherit;
    border: 2px solid #525050;
  }
  .seat.tai {
    background: #fff url("/public/images/icon_tx2.png") no-repeat center;
    border: 2px solid #fff;
  }
  .seat.cua {
    background: #fff url("/public/images/icon_cua2.png") no-repeat center;
    border: 2px solid #fff;
  }
  .seat.phu {
    background: #dd9129;
    border: 2px solid #fff;
  }
  .seat.wc {
    background: #8f5a15;
    border: 2px solid #fff;
  }
  .seat.ghe {
    background: #fff;
    border: 2px solid transparent;
  }
  .text-giucho {
    color: #f96026;
  }
  .bg-giucho {
    background: #f96026 !important;
  }
  .text-thanhtoan {
    color: #137391;
  }
  .bg-thanhtoan {
    background: #137391;
  }
}
input:invalid {
  border-color: red !important;
}
input:focus:invalid {
  box-shadow: 0 0 0 0.2rem #ff837b;
}

.fixed-bottom-alert {
  right: 15px;
  max-width: 100%;
  position: fixed;
  line-height: 35px;
  background: #333;
  box-shadow: 0px 0px 3px #999;
  z-index: 99;
  bottom: 0;
  color: #fff;
}
//#seatMapSell .seat{padding :3px;margin : 3px;border-radius:3px;height:calc(100% - 6px);min-height:130px;}
//#seatMapSell .seat.hideInfo{min-height:56px}
//#seatMapSell .seat.seat-selected{border :2px solid red!important;background: #ffe7e2 !important;}
//#seatMapSell .seat.seat-related{border :2px solid #f7de2e !important;background: #ffe7e2 !important;}
//#seatMapSell .seat.duong{background: inherit;border:2px solid #525050}
//#seatMapSell .seat.tai{background: #fff url('/public/images/icon_tx2.png') no-repeat center;border:2px solid #fff;}
//#seatMapSell .seat.cua{background: #fff url('/public/images/icon_cua2.png') no-repeat center;border:2px solid #fff;}
//#seatMapSell .seat.phu{background:#dd9129 ;border:2px solid #fff}
//#seatMapSell .seat.wc{background:#8f5a15 ;border:2px solid #fff}
//#seatMapSell .seat.ghe{background: #fff;border:2px solid #fff;}
//#seatMapSell .seat.seatSelected{border:2px solid red;}
//#seatMapSell .text-giucho{color :#f96026}
//#seatMapSell .bg-giucho{background :#f96026}
//#seatMapSell .text-thanhtoan{color :#137391}
//#seatMapSell .bg-thanhtoan{background :#137391}
//#seatMapSell .seat .phoneNumber{padding:2px 5px;border:1px solid #333;border-radius:5px;font-weight: bold}

.input-money {
  position: relative;
}
.input-money label {
  top: 4px;
  right: 9px;
  background: #fff;
  position: absolute;
  font-weight: inherit;
}
.input-money input.text-right + label {
  top: 4px;
  right: 9px;
}
.input-money input[readonly] + label {
  background: #e9ecef;
}
.input-money input:focus + label {
  top: -25px;
}
.ui-autocomplete {
  z-index: 999999 !important;
}
.q-telecom {
  position: fixed;
  width: 16vw;
  min-width: 200px;
  bottom: 0;
  border-radius: 7px 7px 0 0;
  left: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.q-telecom-header {
  padding: 5px;
  border-radius: 7px 7px 0 0;
}
.q-telecom .q-telecom-body {
  padding: 5px;
  display: none;
}
.q-telecom.open .q-telecom-body {
  display: block;
}
.q-telecom .q-telecom-footer {
  display: none;
}
.q-telecom.open .q-telecom-footer {
  display: block;
}
.clock-picker__dialog-drop {
  z-index: 1060;
}
.clock-picker__dialog-body {
  z-index: 1061;
}

//dropdown hover
.dropdown-hover.dropdown:hover > .dropdown-menu {
  display: block;
}
.hidden {
  display: none;
}
.dropdown-hover.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
@media print {
  body #seatMapSell.seat-map {
    .seat {
      border: 1px solid #999;
      padding: 15px 35px;
      margin: 3px;
      border-radius: 3px;
      height: calc(100% - 6px);
      min-height: 130px;
      -webkit-print-color-adjust: exact;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 15px;
      .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
    }
    h4.title {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 35px;
      margin-bottom: 15px;
    }
    .tai {
      background: #fff url("/public/images/icon_tx2.png") no-repeat center;
    }
    .cua {
      background: #fff url("/public/images/icon_cua2.png") no-repeat center;
    }
    .duong {
      border: initial;
    }
  }
}
@media (min-width: 768px) {
  .navbar {
    height: 39px;
  }
}
@media screen and (max-width: 768px) {
  .margin-xs-5 {
    margin-top: 5px;
  }
  .navbar button.navbar-toggler {
    cursor: pointer;
  }
  #navbarCollapse {
    ul.dropdown-menu {
      background-color: initial;
      border: initial;
      li.dropdown-divider {
        display: none;
      }
      li a {
        color: white;
      }
    }
  }
  body #news-list .item {
    width: 48%;
    margin-right: 0;
    margin-bottom: 18px;
  }
  body #news-list .item:nth-child(2n-1) {
    margin-right: 4%;
  }
  body #news-list {
    padding-bottom: 0;
    margin-bottom: 0;
    .item img {
      width: 100%;
      height: 125px !important;
      border: 1px solid #ddd;
    }
  }
  body .report-revenue-month li.nav-item a {
    padding-left: 10px;
    padding-right: 10px;
  }
  body h5.title_revenue {
    font-size: 18px;
  }
  #thongketheobieudo .totalRevenue h5 {
    font-size: 13px;
  }
  body .report-revenue-month {
    margin-left: 0;
  }
  table.table-respon {
    display: block;
    width: 100%;
    overflow: auto;
  }
  .respon-page .col-6 {
    flex: initial;
    max-width: initial;
  }
  body .date-ranger .col-6 {
    padding: 0;
    margin-bottom: 10px;
  }
  .respon-page {
    .selectType {
      ul.list-inline {
        border-radius: 0px;
        margin-bottom: 10px;
        li:first-child a {
          border-radius: 0;
        }
      }
    }
  }
  body .list-routes .dropdown-menu {
    min-width: auto;
  }
  body .list-routes .form-check {
    width: 100%;
  }
  body #order-route .list-group-item {
    width: 100%;
  }
  .SmsConfigDisplay .nav-tabs .nav-item {
    width: 50%;
    margin-bottom: 5px;
  }
  body .SmsConfigDisplay .nav-tabs .nav-item a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item-authority {
  border-radius: 8px;
  border: solid 1px #d8dbe2;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  margin-top: 45px;
}
.item-authority h3 {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  color: #232731;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}
.tt-atr {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  color: #232731;
  margin-bottom: 15px;
}
.tt-t-avt {
  height: 107px;
  border-radius: 12px;
  background-color: #5c9cfe;
  padding: 18px 15px;
  color: #fff;
  font-size: 12px;
}
.card-avt .tt-atr {
  margin-bottom: 5px;
  font-size: 14px;
}
.item-authority hr {
  margin: 20px 0px;
}
.tt-t-avt h4 {
  font-size: 16px;
}
.item-authority hr {
  margin: 20px 0px !important;
}
.status-authority {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.ht-tc-cc {
  font-family: "Montserrat", sans-serif;
}
.no-absolute {
  position: relative !important;
  left: inherit !important;
}
#select-trip {
  font-family: "Montserrat", sans-serif;
}
.margin-7 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.padding-7 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.margin-4 {
  margin-left: -4px;
  margin-right: -4px;
}
.padding-4 {
  padding-left: 4px;
  padding-right: 4px;
}
#select-trip .tripOption {
  margin: 7.5px 0px;
}
#select-trip .tripOption .no-gutters {
  padding: 8px;
}
#select-trip .progress-bar {
  background: #00c48c !important;
}
#select-trip .progress {
  background: #9198a9 !important;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
.active-select-trip {
  background: #ffdc89;
}
#select-trip .content {
  position: absolute;
  width: 100%;
  text-align: center;
}
.color-primary {
  color: #014886;
}
#select-trip h3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  color: #014886;
}
.input-filter input {
  height: 40px;
}
.input-date:after {
  content: "";
  width: 24px;
  height: 24px;
  float: left;
  position: absolute;
  background: url("https://cdn.zeplin.io/5d4e759213a4919b36e550b3/assets/2E0DBA16-6CF9-444F-B209-F8040597BB35.svg");
  bottom: 10px;
  right: 14px;
  background-size: 100%;
}
.lk-img {
  max-width: 100%;
}
.authorize-modal-content {
  padding: 40px;
}
.title-modal-s1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #014886;
}
.max-100 {
  max-width: 100%;
}
.authorize-modal-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  word-break: break-word;
  line-height: 1.75;
  letter-spacing: normal;
  color: #464d5d;
}
.authorize-modal-content hr {
  margin: 16px 0px;
}
#show-logo-dt {
  margin-top: 16px;
  margin-bottom: 40px;
}
.authorize-modal-content .btn {
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  height: 50px;
  padding-left: 56px;
  padding-right: 56px;
  margin-right: 24px;
}
#accept {
  background: #014886;
}
.modal-authorize .modal-lg {
  max-width: 960px;
}
.authorize-step .modal-lg {
  max-width: 670px;
}
.lk-img {
  margin-top: 40px;
}
.authorize-modal-content a,
.authorize-modal-content span {
  color: #014886;
  font-weight: bold;
}
.authorize-step .header-authorize h3 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #232731;
  margin-bottom: 0px;
}
.authorize-step .header-authorize h3 img {
  max-width: 56px;
  max-height: 56px;
}
.header-authorize {
  padding: 24px 40px 29px 40px;
}
.authorize-step {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.26px;
  color: #232731;
}
.wp-s1 {
  padding: 0px 40px;
}
.text-discount {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  color: #232731;
  line-height: 50px;
}
#discount {
  height: 50px;
  font-size: 24px;
  font-weight: bold;
}
.box-content-discount {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #232731;
  border-radius: 4px;
  border: solid 1px #ffd055;
  background-color: #ffeab8;
  padding: 6px 16px;
}
.check-sd {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #232731;
}
.note-authorize-step {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #c80013;
  margin-top: 40px;
}
.text-center-d {
  margin-bottom: 19px;
}
.check-sd {
  margin-top: 19px;
  margin-bottom: 19px;
}
#tip-tc {
  height: 50px;
  border-radius: 8px;
  background-color: #014886;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  color: #ffffff;
}
.reselect {
  float: right;
}
.save-tt-step {
  background-color: #ecedf1;
  border-left: 4px solid #ff647c;
  padding: 16px 40px;
  margin-bottom: 8px;
}
.title-step {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  color: #014886;
}
.content-authorize-step-1 .text-discount {
  line-height: 50px;
}
.title-step {
  margin-top: 24px;
}
.content-authorize-step-1 .check-sd {
  margin-top: 0px;
}
.input-filter span {
  line-height: 40px;
}
#tip-tc {
  margin-top: 24px;
}
.border-primary {
  border-color: #014886 !important;
}
.sdate-edate {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #232731;
}
.sdate-edate span {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  color: #232731;
}
.reselect {
  color: #014886;
  text-decoration: underline;
  cursor: pointer;
}
.btn-continue-authorize {
  height: 50px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
}
button#dropdownMenuButton {
  border-radius: 4px;
  border: solid 1px #d8dbe2;
  background-color: #ffffff;
  text-align: left;
}
#dropdownMenuButton::after {
  float: right;
  margin-top: 10px;
}
.input-40 {
  height: 40px;
}
.sz-14 {
  font-size: 14px;
}
.mg-top-24 {
  margin-top: 24px;
}
.item-lk {
  border-radius: 4px;
  border: solid 1px #d8dbe2;
  background-color: #ffffff;
  padding: 8px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
  color: #464d5d;
}
.item-lk img {
  width: 48px;
}
.header-box {
  background-color: #f9fafc;
  border-bottom: 1px solid #bdc2cc;
  font-family: Montserrat;
  padding: 24px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  margin-bottom: 16px;
}
.ui-widget {
  font-family: Montserrat;
}
.fz-12 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #464d5d;
}
.inline-block {
  display: inline-block;
}
.item-ts {
  float: right;
  text-align: right;
}
.item-ts h5 {
  color: #00c48c !important;
}

.report-revenue-month li.nav-item a.active {
  border-radius: 4px;
  background-color: #f39b13 !important;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
}

.report-revenue-month li.nav-item a {
  border-radius: 4px;
  background-color: #cfd3db !important;
  color: #646d84;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
}
.report-revenue-month .nav-tabs {
  border-bottom: none !important;
}
.box-border-1 {
  border-radius: 4px;
  border: solid 1px #d8dbe2;
  background-color: #f9fafc;
  overflow: hidden;
  padding-top: 24px;
}
.box-tab-home {
  border-radius: 4px;
  border: solid 1px #bdc2cc;
  background-color: #ffffff;
  padding: 24px;
  margin-top: 16px;
}
div#register-home,
.birthday-home {
  border-radius: 4px;
  border: solid 1px #bdc2cc;
  background-color: #ffffff;
  overflow: hidden;
}
.title-top-news {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  color: #464d5d;
}
.sticky-lg {
  background-color: #ecedf1 !important;
  padding: 8px !important;
}
.bv-tl {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
  color: #464d5d;
  text-transform: uppercase;
  margin-top: 6px;
}
.new-template .input-group.date button:first-child {
  position: absolute;
  top: 0px;
  z-index: 9999 !important;
  left: 0px;
  height: 100%;
  background: none;
  border: none;
  color: #000;
}
.new-template .input-group.date button:last-child {
  position: absolute;
  top: 0px;
  z-index: 9999 !important;
  right: 0px;
  height: 100%;
  background: none;
  border: none;
  color: #000;
}
.new-template .input-group.date input {
  border-radius: 4px !important;
  border: none;
}
.new-template .multiselect__tags {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #464d5d;
}
.new-template .date input {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #464d5d;
}
.new-template.sticky-lg .text-right button {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #014886;
}
.new-template.col-12.title.sticky-lg .multiselect__tags {
  border-radius: 4px;
  background-color: #ffffff;
  border: none !important;
}
.el-radio__label {
  white-space: initial;
}
.el-range-separator {
  width: auto !important;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #d6d9d9;
}

.hide-header-dialog-element-ui .el-dialog__header {
  display: none;
}
.hide-header-dialog-element-ui .el-dialog__body {
  padding: 0;
  background: #ffffff;
  border-radius: 16px;
}
.border-radius-16 {
  border-radius: 16px;
}

//LIST TRIP
.trip *:not(.fa) {
  font-family: $font-family-global;
}

.trip:hover {
  cursor: pointer;
}

.trip--lg {
  min-width: 140px;
  max-width: 140px;
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  border: 1px solid #646d84;
  justify-content: space-between;
  overflow-x: hidden;
  // border-left: none
}
// .form-group .trip--lg:first-child{
//   border-left: 1px solid #646D84!important;
// }

.trip--lg .trip__head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5px;
}

// .trip--lg .trip__route p {
//   font-style: normal;
//   font-weight: bold;
//   font-size: 16px;
//   letter-spacing: 0.466667px;
//   color: #084388;
//   text-align: center;
//   margin: 0px;
// }

.trip--lg .trip__head h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.466667px;
  color: #011a38;
  margin: 0px;
}

.trip__route p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.466667px;
  color: #084388;
  margin-top: -4px;
  color: #dc3333;
}
.trip--lg .trip__head .trip__seat {
  margin: 0;
}
.trip--lg .trip__head .trip__seat i,
.trip--lg .trip__head .trip__seat span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #232731;
  letter-spacing: -1px;
}

.trip--lg .trip__head .trip__seat .empty {
  color: #469c70;
  font-size: 18px;
  letter-spacing: -1px;
}

.trip--lg .trip__driver {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.trip--lg .trip__driver {
  .code {
    color: #ff4868;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.466667px;
    width: 80%;
  }
  .total-seat {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.4px;
    background: #f39b13;
    display: flex;
    color: white;
    width: 20px;
    justify-content: center;
    align-self: baseline;
    padding: 1px 0px;
  }
}
.trip--lg .trip__driver .trip__driver--item {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.466667px;
  color: #232731;
}
.trip--lg .trip__driver span {
  color: #245592;
  width: 10%;
}
.trip--lg .trip__driver p {
  width: calc(100% - 10% - 5px);
}
.trip--lg .trip__driver p i {
  font-style: normal;
}

.trip__vehicle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip__vehicle .icon {
  margin-right: 5px;
}
.trip__vehicle .number_plate {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  letter-spacing: -1px;
  color: #084388;
  white-space: nowrap;
}

.trip--lg.printed .trip__time {
  color: #f39b13;
}

.trip--lg.opened::after {
  content: "\110\E3 XB";
  position: absolute;
  top: 0;
  left: 40%;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  background: #ff4868;
  color: white;
  padding: 3px 6px;
}

//.trip--lg.active{
//  //background: #F8E7CD!important;
//  //border: 1px solid red;
//}
.trip--lg.full .trip__seat i,
.trip--lg.full .trip__seat span {
  color: #e62020 !important;
}
.trip--lg.empty .trip__seat i,

//.tripOption {
//  background: #ECEDF1;
//  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
//  border-radius: 8px;
//  margin: 0px;
//}
.tripSm-option:hover {
  cursor: pointer;
}
.tripSm-option {
  width: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecedf1;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #ecedf1;
}
.trip__option--add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 100%;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #ecedf1;
  margin-bottom: 10px;
  min-height: 50px;
  border: 1px solid #ecedf1;
}

.trip__option--add:hover {
  cursor: pointer;
}
.trip__option--add i {
  font-size: 24px;
  font-weight: bold;
  color: #212529;
}
span.vehicle-type.vehicle-0 {
  width: 24px;
  height: 24px;
  background: url(http://anvui.vn/cdn/media/1/PhanMemBanVeXe/Vectorvehicle-0.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 14px;
}
span.vehicle-type.vehicle-1 {
  width: 24px;
  height: 24px;
  background: url(http://anvui.vn/cdn/media/1/PhanMemBanVeXe/Vectorvehicle-1.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
}
span.vehicle-type.vehicle-2 {
  width: 24px;
  height: 24px;
  background: url(http://anvui.vn/cdn/media/1/PhanMemBanVeXe/Vectorvehicle-2.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
}
span.vehicle-type.vehicle-3 {
  width: 24px;
  height: 24px;
  background: url(http://anvui.vn/cdn/media/1/PhanMemBanVeXe/Vectorvehicle-3.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 14px;
}
span.vehicle-type.vehicle-4 {
  width: 24px;
  height: 24px;
  background: url(http://anvui.vn/cdn/media/1/PhanMemBanVeXe/Vectorvehicle-4.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
}

.trip--small {
  display: flex;
  position: relative;
  width: 125px;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #646d84;
}

.trip--small:hover {
  cursor: pointer;
}

.trip--small .trip--time {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.466667px;
  color: #084388;
  margin: 0px;
}
.trip--small .trip--seat span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.466667px;
  color: #232731;
}

.trip--small .trip--seat .seat--empty {
  color: #469c70;
}

.trip--small.printed .trip--time {
  color: #f39b13;
}

.trip--small.opened {
  background: #cfd3db !important;
}
.trip--small.full .trip--seat span {
  color: #e62020 !important;
}
//.trip--small.active{ background: #F8E7CD!important; }
//BEGIN Components/WorkTime
.workTime {
  .form-group {
    margin-bottom: 16px;
  }

  .el-table__fixed-body-wrapper .el-table_1_column_1 {
    border-bottom: 1px solid #646d84 !important;

    .cell {
      min-height: 72px !important;
      border-left: 1px solid #646d84;
      border-right: 1px solid #646d84;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #232731;
      padding-top: 10px;
    }
  }

  padding: 29px 0px;

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  *:not(i) {
    font-family: $font-family-global;
  }

  .workTime-head {
    margin-bottom: 24px;

    h3 {
      margin: 0px;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #232731;
    }
  }

  .workTime-filter {
    margin-bottom: 24px;

    .form-group label {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #232731;
      margin-bottom: 8px;
    }

    .form-group input {
      border: 1px solid #cfd3db;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  .header-cross {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    p {
      padding: 5px 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    span {
      display: block;
      border-bottom: 1px solid #fff;
      transform: rotate(19deg);
    }
  }

  .workTime-content {
    .header-cross {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      p {
        padding: 5px 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }

      span {
        display: block;
        border-bottom: 1px solid #fff;
        transform: rotate(19deg);
      }
    }

    .workTime-style1 {
      td {
        min-width: 95px;
        vertical-align: top;
        padding: 0px;
        text-align: center;
      }

      .el-table__header {
        thead {
          border: 1px solid #084388;
        }

        th {
          background-color: #084388;
          height: 72px;
          padding: 0px;
          border-left: 1px solid #fff;

          .el-table_1_column_1 .cell {
            height: 100%;
          }

          .cell {
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 28px;
            text-align: center;
            padding: 0px;
            width: 100%;
            color: #ffffff;
          }
        }
      }

      .workShift-item {
        min-width: 24px;
        min-height: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #232731;
        background: #c4dbfe;
        padding: 3px 5px;

        &:hover {
          cursor: pointer;
        }

        &:nth-child(even) {
          background: #ffc9cd;
        }
      }

      .el-table__body-wrapper {
        &.active {
          cursor: grabbing;
          cursor: -webkit-grabbing;
        }

        td.el-table_1_column_1 {
          vertical-align: middle;
          border-left: 1px solid #646d84;
          border-bottom: 1px solid #646d84;

          .cell {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #232731;
          }
        }

        td {
          border-bottom: 1px solid #646d84;
          border-right: 1px solid #646d84;

          .cell {
            padding: 0px;
            text-align: left;
            min-height: 72px;
          }

          &:hover {
            cursor: pointer;
          }

          &:last-child {
            vertical-align: middle;
            text-align: center;

            & .cell {
              display: flex;
              align-items: center;
              justify-content: center;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
            }
          }
        }

        .hover-row {
          background-color: #ebebeb;
        }

        .total-time {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
        }

        tr:last-child td {
          border-bottom: none;
        }
      }
    }

    .workTime-content__viewmod {
      text-align: right;
      margin-bottom: 16px;

      & span {
        margin-right: 8px !important;
        color: #232731;
      }

      & a {
        color: #9198a9;
        margin-right: 16px !important;
      }

      & a,
      & span {
        display: inline-block;
        margin: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }

      & a.active {
        color: #084388;
      }

      & a:last-child {
        margin: 0px;
      }
    }

    .workTime-style2 {
      td {
        padding: 0;
        vertical-align: top;

        .cell {
          padding: 0;
        }
      }

      .el-table__header {
        th {
          border: none;
          background: #084388;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #ffffff;
        }
      }

      .el-table__body {
        td {
          border: 1px solid #cfd3db;

          & .cell {
            min-height: 62px;
          }
        }

        td:hover {
          cursor: pointer;
        }

        tr td:first-child .cell {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 17px;
          color: #232731;
          text-align: center;
          padding-top: 13px;
        }
      }

      .staff-item {
        display: flex;
      }

      .staff-item.selected {
        justify-content: space-between;
      }

      .staff-item__create {
        width: 100%;
        display: flex;
        height: 24px;
        align-items: center;
        justify-content: center;
        color: #084388;
        font-weight: bold;
        border: 1px dashed #084388;
        margin-bottom: 5px;
      }

      .staff-item__create:hover {
        text-decoration: none;
      }

      .staff-item__remove {
        font-size: 14px;
      }

      .staff-item {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        width: 100%;
        padding: 5px;
        color: #232731;
        background: #c4dbfe;
        margin-bottom: 2px;

        &.selected {
          background-color: #f8e7cd !important;
        }

        &:nth-child(even) {
          background-color: #ffc9cd;
        }
      }
    }
  }
}

.h1-page {
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.label {
  font-family: Cabin;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* Grayscale/Dark */
  color: #232731;
  margin-bottom: 8px;
}

.btn-orange {
  background: #f39b13;
  border-radius: 4px;
  color: #fff;
  font-family: Cabin;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px 16px;
}

//END Components/WorkTime
.icon-btn {
  cursor: pointer;
  color: #9198a9;
}
.icon-btn-danger:hover {
  color: #e62020;
}
.icon-btn-warning:hover {
  color: #f39b13;
}
.icon-btn-success:hover {
  color: #00c48c;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-12 {
  font-size: 12px;
}

.modal-ui-custom {
  border-radius: 8px;
}

.btn-q-success {
  background: #d5f2ea;
  color: #00c48c;
}
.btn-q-danger {
  background: #ecedf1;
  color: #e62020;
}

.btn-outline-anvui {
  background: #fff;
  border: 1px solid #004689;
  border-radius: 4px;
  color: #014886;
  line-height: 32px;
  padding: 0 8px;
  margin-bottom: 4px;
}

.btn-outline-anvui:hover {
  background: #014886;
  color: #fff;
}

.btn-outline-anvui.active {
  background: #014886;
  color: #fff;
}

.btn-sm.btn-outline-anvui {
  height: 24px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 16px;
}

.heading-page {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.224px;
  color: #464d5d;
}

.table-info-trip *:not(i) {
  font-family: Cabin;
}

.table-info-trip tr td:nth-child(odd) {
  font-weight: 500;
}

.el-input.is-disabled .el-input__inner {
  background: #e2e4e6;
  border-color: #c7c8ca;
  color: #85888e;
}

.el-input .el-input__suffix {
  color: #85888e;
}
.select-route-ticket-07 .el-input__inner {
  height: 24px;
  line-height: 24px;
  border: 0;
  font-size: 14px;
  padding-left: 30px;
}

@media screen and (min-width: 1891px) {
  .select-route-ticket-07 .el-input__inner {
    width: 340px;
  }
  .select-point-ticket-07 .el-input__inner {
    width: 340px;
  }
}

@media screen and (max-width: 1890px) {
  .select-route-ticket-07 .el-input__inner {
    width: 300px;
  }
  .select-point-ticket-07 .el-input__inner {
    width: 300px;
  }
}
@media screen and (max-width: 1770px) {
  .select-route-ticket-07 .el-input__inner {
    width: 250px;
  }
  .select-point-ticket-07 .el-input__inner {
    width: 250px;
  }
}

@media screen and (max-width: 1650px) {
  .select-route-ticket-07 .el-input__inner {
    width: 192px;
  }
  .select-point-ticket-07 .el-input__inner {
    width: 192px;
  }
}

@media screen and (max-width: 600px) {
  .select-route-ticket-07 .el-input__inner {
    width: 100px;
  }
  .select-point-ticket-07 .el-input__inner {
    width: 100px;
  }
}
.select-route-ticket-07 .el-select__caret {
  line-height: 24px;
}

.select-route-ticket-09 .el-input.is-focus .el-input__inner {
  border-color: #084388;
}

.select-route-ticket-09 .el-input__inner {
  line-height: 24px;
  font-size: 14px;
  padding-left: 30px;
  border: 1px solid #ECEDF1;
  box-sizing: border-box;
  border-radius: 12px;
  height: 32px;
}
.select-route-ticket-09 .el-select__caret {
  line-height: 24px;
}

.tabPane {
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #646D84;
}

.tabPane .el-tabs__item {
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  height: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #646D84;
  cursor: pointer;
}
.checkBox .el-checkbox__inner {
  border: 2px solid #646D84;
  border-radius: 2px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background-color: #FDEBD0;
}

.checkBox .el-checkbox__input.is-checked .el-checkbox__inner {
  background: #FDEBD0;
  border-color: #084388;
}

.createRadio .el-radio {
  margin-right: 0;
}

.createRadio .el-radio__input.is-checked .el-radio__inner {
  border-color: #084388;
  background: #084388;
}

.createRadio .el-radio__inner {
  border: 2px solid #646D84;
  width: 16px;
  height: 16px;
}

.createInput .el-input__inner {
  background: #F9FAFC;
  border: 1px solid #ECEDF1;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
}

.textBlue .el-input__inner {
  color: #0722FF;
}

.createInput .el-input__inner:hover {
  background: #F9FAFC;
  border: 1px solid #084388;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
}

.createInput .el-input__inner:active {
  background: #F9FAFC;
  border: 1px solid #084388;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
}

.createInput .el-input__inner:focus {
  background: #F9FAFC;
  border: 1px solid #084388;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
}

.tabPane .el-tabs__item:hover {
  color: #084388;
  cursor: pointer;
}

.tabPane .el-tabs__item.is-active {
  color: #084388;
}

.tabPane .el-tabs__active-bar {
  background-color: #084388;
}

.select-time-ticket-07 .el-input__inner {
   height: 24px;
   line-height: 24px;
   border: 0;
   font-size: 14px;
   padding-left: 30px;
 }
.select-time-ticket-07 .el-input__icon {
  line-height: 24px;
}
.select-time-ticket-07 .el-date-editor.el-input {
  width: 100px;
}

.select-time-voice .el-input__inner {
  line-height: 24px;
  font-size: 14px;
  padding-left: 30px;
}
.select-time-voice .el-input__icon {
  line-height: 24px;
}
.select-time-voice .el-date-editor.el-input {
  width: 100px;
}


.select-point-ticket-07 .el-input__inner {
  height: 24px;
  line-height: 24px;
  border: 0;
  font-size: 14px;
}
.select-point-ticket-07 .el-select__caret {
  line-height: 24px;
}
.margin-none {
  margin: 0;
}

.table-info-trip th,
.table-info-trip td {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

.seat__07 {
  background: #fff;
  width: 99px;
  margin: 4px;
  border: 2px solid transparent;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  min-height: 69px;
  height: calc(100% - 8px);

  .phone-number {
    padding: 3px 4px;
    background: #3747a8;
    border-radius: 4px;
    text-align: center;
    line-height: 17px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
  }

  .paid-money {
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    font-family: Cabin;
    color: #232731;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .payment-type {
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    font-family: Cabin;
    color: #232731;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .agency-price {
    color: #646d84;
    line-height: 15px;
    font-weight: 600;
    font-size: 14px;
    font-family: Cabin;
    margin-bottom: 0;
  }

  .ticket-code {
    color: #232731;
    font-weight: 600;
    font-family: Cabin;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 2px;
  }

  .btn-action {
    background: #ffffff;
    height: 32px;
    width: 32px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    color: #084388;
    cursor: pointer;
    padding: 0 4px;
  }

  .btn-action-dropdown {
    width: 100%;
    font-family: Cabin;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    max-height: 38px;
    padding: 4px;
    text-align: left;
    border-radius: 4px;
    background: #fff;
    color: #084388;
    overflow: hidden;
    cursor: pointer;
  }
}

.seat__07.selected {
  border: 3px solid red;
  background: #ffe7e2;
}
.seat__07.move__07 {
  border: 2px dashed #084388;
}

.seat__07.duong__07 {
  background: none;
  min-height: auto;
}

.seat__07.tai__07 {
  //background: #fff url('/public/images/icon_tx2.png') no-repeat center;
  //background-size: 50% 50%;
  background: #ece3d7;
  min-height: auto;
}

.seat__07.cua__07 {
  //background: #fff url('/public/images/icon_cua2.png') no-repeat center;
  //background-size: 50% 50%;
  background: #ece3d7;
  min-height: auto;
}

.seat__07.phu__07 {
  background: #dd9129;
  min-height: auto;
}

.seat__07.wc__07 {
  background: #8f5a15;
  min-height: auto;
}

.title-form {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: Cabin;
  color: #084388;
  padding: 8px 8px 8px 8px;
  border-bottom: 1px solid #cfd3db;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background: #014886;
}

.el-checkbox__input.is-checked .el-checkbox__label {
  color: #232731 !important;
  font-size: 14px;
}

.form-inline-label {
  width: 86px;
  margin: 4px 8px;
  font-family: Cabin;
  font-size: 14px;
  line-height: 17px;
  padding-top: 8px;
}

.sellform-select .el-input__inner {
  height: 32px;
}

.sellform-input input {
  height: 32px;
}

.btn-thu-tien {
  background: #c4dbfe;
  color: #084388;
  font-weight: 600;
  height: 32px;
  padding: 0 24px;
}

.bg-giucho {
  background: #f39b13 !important;
}
.btn-giu-cho {
  background: #f8e7cd;
  color: #f39b13;
  font-weight: 600;
  height: 32px;
  padding: 0 16px;
}
.btn-qr-code {
  background: #d5f2ea;
  color: #00c48c;
  font-weight: 600;
  height: 32px;
  padding: 0 16px;
}

.height32 {
  height: 32px;
}

.input-height-32 input {
  //width: auto;
  height: 32px;
}

.input-height-32 .el-input__icon {
  line-height: 32px;
}

.seat__07.seat__07__detail {
  //min-width: 176px;
  width: auto;
}

.progress-q .progress-bar-q {
  background-color: #f8e7cd !important;
}

// .progress-info.progress-q-active {
//     border: solid 2px #F8E7CD!important;
// }

.brc-item {
  &::after {
    content: ">";
    margin: 0px 4px;
    display: inline-block;
  }
}

.blockGoods {
  &__header {
    *:not(i) {
      font-family: Cabin;
    }

    margin-bottom: 24px;
    display: flex;

    label {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-right: 20px;
    }

    .el-select {
      width: 35%;
    }
  }
}

.listGoods {
  padding: 16px 8px;
  max-height: 80vh;
  overflow-y: auto;

  &__checkbox__item {
    display: flex;
    flex-wrap: wrap;

    .el-checkbox {
      margin-right: 10px;
    }

    .el-checkbox__inner {
      width: 18px;
      height: 18px;

      &::after {
        left: 7px;
        top: 2px;
      }
    }

    .goodsOrder__item {
      width: 100%;
    }
  }
}

.goodsOrder__item {
  background: #ffffff;
  border: 1px solid #cfd3db;
  box-sizing: border-box;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 4px;

  h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p,
  h6 {
    margin-bottom: 4px;
  }

  &__shift,
  &__id {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #232731;
    margin-left: 16px;
  }

  &__type,
  &__place {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232731;

    i {
      display: inline-block;
      width: 15px;
      color: #084388;
      font-size: 10px;
      margin-right: 8px;
    }
  }

  &__num,
  &__weight {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #232731;
  }

  &__listGoods {
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #232731;
      }
    }
  }
}

.wareHouse__tree {
  padding: 16px;

  .el-tree-node__content {
    margin-bottom: 8px;
  }

  .el-tree-node__label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.224px;
    color: #232731;
  }
}

.card--goods {
  *:not(i) {
    font-family: Cabin;
  }

  .el-card__body {
    padding: 0px;
  }

  .el-card__header {
    border-bottom: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #232731;
    }

    button {
      padding: 0px;
      width: 32px;
      height: 32px;
      background: #ecedf1;
      border-radius: 4px;
      color: #646d84;

      &:focus,
      &:hover {
        background-color: #ecedf1;

        i {
          color: #646d84;
        }
      }
    }
  }

  &__summary {
    height: 38px;
    background-color: #ecedf1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;

    p > span {
      margin-right: 4px;

      &:last-child {
        margin-right: 0px;
      }
    }

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #232731;
    }

    .brc-item:last-child::after {
      content: "";
    }
  }

  &__action {
    height: 32px;
    background: #ecedf1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;

    p {
      display: flex;
      align-items: center;
    }

    .icon-add {
      margin-left: 10px;
    }
  }

  &__filter {
    padding: 16px;
  }

  &__body {
  }

  &__tabnav {
    padding: 18px 20px;

    .nav-item {
      margin-right: 20px;

      a {
        font-style: normal;
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.224px;
        color: #232731;

        .dot {
          display: inline-flex;
          width: 20px;
          height: 20px;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          border: 1.5px solid #084388;
          margin-right: 10px;

          &::after {
            display: inline-block;
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 100%;
          }
        }

        &.active {
          .dot::after {
            background-color: #084388;
          }
        }
      }
    }
  }
}

.avaction {
  margin-top: 16px;
  padding: 8px;

  button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 8px;
  }

  .action-success {
    color: #00c48c;
    background-color: #d5f2ea;
  }

  .action-info {
    color: #084388;
    background-color: #c4dbfe;
  }

  .action-warning {
    color: #f39b13;
    background-color: #f8e7cd;
  }
}

.icon-minus::after,
.icon-add::after {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
}

.icon-add:hover,
.icon-minus:hover {
  cursor: pointer;
}

.icon-add::after {
  background: #00c48c;
  content: "\f067";
  font-weight: 900;
  font-family: "Font Awesome\ 5 Free";
}

.icon-minus::after {
  background: #c80013;
  content: "\f068";
  font-weight: 900;
  font-family: "Font Awesome\ 5 Free";
}

.ticketComponent__listTrip {
  .show-scroll {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .btnListTrip--changeView {
    display: flex;
    justify-content: flex-end;
  }
  .btnListTrip--changeView button.active {
    box-shadow: 0 0 0 0.2rem rgba(97, 157, 206, 0.5);
  }
  // ::-webkit-scrollbar { width: 5px; }
  // ::-webkit-scrollbar-track { background: #f1f1f1; }
  // ::-webkit-scrollbar-thumb { background: #888; }
  // ::-webkit-scrollbar-thumb:hover { background: #555; }
}
.lock-seat-page {
  .el-collapse {
    border: 0;
  }
  .el-collapse-item__header {
    border-radius: 8px;
    background: #ecedf1;
    transition: border-radius 1s;
  }
  .el-collapse-item__wrap {
    background: #ecedf1;
    border-radius: 0px 0px 8px 8px;
  }
  .el-collapse-item__header.is-active {
    border-radius: 8px 8px 0px 0px !important;
    transition: border-radius 0s !important;
    border-bottom: 1px solid #d7dbe4;
  }
  .el-button--info {
    color: #6e7074;
    background-color: transparent;
    border: 0;
  }
  .el-table thead {
    color: #000000;
    background: #cfd3db;
  }
  .el-input__inner {
    border: 0;
  }
  .el-select {
    width: 80%;
    max-width: 500px;
  }
  .el-tag {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.goodsDelivery .el-popconfirm__action .el-button {
  margin-left: 10px !important;
}
.no-input input {
  border: none;
  background: transparent;
  padding: 0px !important;
}

.input-bottom-dashed input {
  border-bottom: 1px dashed !important;
}

.collaspe-enter-active,
.collaspe-leave-active {
  transition: all 0.3s ease;
}

.collaspe-enter,
.collaspe-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  max-height: 300px;
  max-width: 500px;
  overflow: auto;
  display: block;
  z-index: 999999;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(#000, 0.13);
}
.tribute-container ul {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(#000, 0.13);
  background-clip: padding-box;
  overflow: hidden;
}
.tribute-container li {
  color: #3f5efb;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
.tribute-container li.highlight,
.tribute-container li:hover {
  background: #3f5efb;
  color: #fff;
}
.tribute-container li span {
  font-weight: bold;
}
.tribute-container li.no-match {
  cursor: default;
}
.tribute-container .menu-highlighted {
  font-weight: bold;
}
.upload-file {
  .el-upload {
    width: 100%;
  }
  .el-upload-dragger {
    width: unset;
  }
}

.feedback-form {
  .el-dialog__body {
    padding: 0px 20px;
  }
  .el-form-item {
    margin-bottom: 0;
    .el-form-item__label {
      padding: 0;
    }
    .el-input__inner,
    .el-textarea__inner {
      border-radius: 12px;
    }
  }
  .el-upload--picture-card {
    width: 80px;
    height: 80px;
    line-height: 90px;
  }
  .el-upload-list--picture-card .el-upload-list__item {
    width: 80px;
    height: 80px;
  }
  .el-dialog__footer {
    text-align: unset;
    padding: 15px 20px;
    border-top: 1px solid #ECEDF1;
  }
}
.FreightOrder table th, .FreightOrder table tr, .FreightOrder table td {
  padding: 5px;
  
}
.FreightOrder table tbody .bg-grey {
  background: rgb(0 0 0 / 11%);
}
.el-input__inner {
  color: #000000;
}
.select-time-component.el-select-dropdown__item {
  height: 230px;
  max-width: 350px;
  .render-time-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .time-item {
      height: 40px;
      border: 1px solid #e6e6e6;
      width: 55px;
      text-align: center;
      margin: 5px 5px 0px 0px;
      color: #074679;
    }
  }
  
}