<template>
    <div class="home">
        <h4 class="text-center" v-if="listNotify.length == 0">
            <div id="sroll_loop">
                <marquee>
                    <p class="text-welcome">
                        <a href="https://www.anvui.vn/" target="_blank"><b>AN VUI</b></a>
                         chào mừng bạn <b>{{userInfo.userInfo.fullName}}</b> sử dụng hệ thống quản trị, điều hành tổng thể cho nhà xe <b style="text-transform: uppercase;">{{userInfo.userInfo.companyName}}</b></p></marquee>
            </div>
        </h4>
        <h4 class="text-center" v-else>
            <div id="sroll_loop">
                <marquee>
                    <a :href="listNotify[0].detailLink" target="_blank">
                        <p class="text-welcome">
                            <b>{{listNotify[0].title}}:</b> {{listNotify[0].content}}
                        </p>
                    </a>
                </marquee>
            </div>
        </h4>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="notify-container" v-if="listNotify.length != 0">
                        <div class="title-container">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 16.6667V10.8334C19 7.25169 17.0867 4.25335 13.75 3.46002V2.66669C13.75 1.69835 12.9567 0.916687 11.9883 0.916687C11.02 0.916687 10.25 1.69835 10.25 2.66669V3.46002C6.90168 4.25335 5.00001 7.24002 5.00001 10.8334V16.6667L3.48335 18.1717C2.74835 18.9067 3.26168 20.1667 4.30001 20.1667H19.665C20.7033 20.1667 21.2283 18.9067 20.4933 18.1717L19 16.6667ZM11.9883 23.6667C13.2717 23.6667 14.3217 22.6167 14.3217 21.3334H9.65501C9.65501 21.9522 9.90085 22.5457 10.3384 22.9833C10.776 23.4209 11.3695 23.6667 11.9883 23.6667ZM5.89835 3.51835C6.38835 3.07502 6.40001 2.31669 5.93335 1.85002C5.71884 1.63658 5.4298 1.51484 5.12723 1.51048C4.82466 1.50613 4.53224 1.61951 4.31168 1.82669C2.27586 3.68316 0.930768 6.17591 0.496681 8.89669C0.391681 9.60835 0.940014 10.25 1.66335 10.25C2.22335 10.25 2.71335 9.84169 2.80668 9.28169C3.1505 7.06444 4.24125 5.03111 5.89835 3.51835ZM19.7 1.82669C19.2333 1.39502 18.51 1.40669 18.0667 1.85002C17.6 2.31669 17.6233 3.06335 18.1017 3.50669C19.7117 4.98835 20.8433 7.00669 21.1933 9.27002C21.275 9.83002 21.765 10.2384 22.3367 10.2384C23.0483 10.2384 23.6083 9.59669 23.4917 8.88502C23.0483 6.12002 21.6833 3.65835 19.7 1.82669Z" fill="#F39B13"/>
                                </svg>
                            </div>
                            <p class="title">Thông báo</p>
                        </div>
                        <div class="item-container">
                            <div class="item" v-for="item of listNotify" :key="item.id">
                                <div class="upper">
                                    <div class="icon">
                                        <svg style="margin-bottom: 4px" width="18" height="15" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11 2V1.75C11 1.41848 10.8683 1.10054 10.6339 0.866117C10.3995 0.631696 10.0815 0.5 9.75 0.5C9.41848 0.5 9.10054 0.631696 8.86612 0.866117C8.6317 1.10054 8.5 1.41848 8.5 1.75V2C8.225 2 8 2.225 8 2.5V4.5C8 4.775 8.225 5 8.5 5H11C11.275 5 11.5 4.775 11.5 4.5V2.5C11.5 2.225 11.275 2 11 2ZM10.6 2H8.9V1.75C8.9 1.28 9.28 0.9 9.75 0.9C10.22 0.9 10.6 1.28 10.6 1.75V2ZM9.46 6C9.48 6.165 9.5 6.33 9.5 6.5C9.5 7.54 9.1 8.485 8.45 9.195C8.32 8.79 7.95 8.5 7.5 8.5H7V7C7 6.725 6.775 6.5 6.5 6.5H3.5V5.5H4.5C4.775 5.5 5 5.275 5 5V4H6C6.55 4 7 3.55 7 3V1.73C6.525 1.58 6.025 1.5 5.5 1.5C2.74 1.5 0.5 3.74 0.5 6.5C0.5 9.26 2.74 11.5 5.5 11.5C8.26 11.5 10.5 9.26 10.5 6.5C10.5 6.33 10.49 6.165 10.475 6H9.46ZM5 10.465C3.025 10.22 1.5 8.54 1.5 6.5C1.5 6.19 1.54 5.895 1.605 5.605L4 8V8.5C4 9.05 4.45 9.5 5 9.5V10.465Z" fill="white"/>
                                        </svg>
                                    </div>
                                    <p class="name">{{ item.title }}</p>
                                    <p class="time">{{ item.creationDate | strToDate }}</p>
                                </div>
                                <div class="lower">
                                    <p class="content" @click="openNotify(item.detailLink)">{{item.content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <a>
                            <img src="/public/images/8Thang3.jpg" alt="An Vui 2021" class="img-thumbnail">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-md-12" v-if="!$root.isAgency()&&$root.isAdmin()">
                            <div class="report-home">
                                <RevenueMonthly v-bind:home="home"></RevenueMonthly>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" v-if="!$root.isAgency()">
                            <div class="box-tab-home">
                                <birthday></birthday>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" v-if="!$root.isAgency()">
                            <div class="box-tab-home">
                                <DriverLicenseExpired></DriverLicenseExpired>
                            </div>
                        </div>
                        <div class="col-12 col-md-12" v-if="!$root.isAgency()">
                            <div class="box-tab-home">
                                <register-car></register-car>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <news-list></news-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
import NewsList from './News.vue';
import Birthday from './Birthday.vue';
import DriverLicenseExpired from './DriverLicenseExpired.vue';
import RegisterCar from './RegisterCar.vue';
import RevenueMonthly from '../Report/RevenueMonthly.vue';
export default {
    components: { NewsList, RevenueMonthly, Birthday, RegisterCar, DriverLicenseExpired },
    data: function() {
        return {
            home: true,
            routeOftenSelect: [],
            routes: [],
            name: 'Nguyễn văn A',
            selected: {
                date: null,
            },
            loadingNotify: false,
            listNotify: [],
        }
    },
    mounted: function() {
        this.getRoutes();
        this.getSettingRouteOftenSelect();
        this.getListNotify();
    },
    methods: {
        openNotify: function (link) {
            let win = window.open(link, '_blank');
            win.focus();
        },
        getListNotify: function() {
            let self = this;
            self.loadingNotify = true;
            const today = this.$options.filters.customDate(new Date(), '#DD#/#MM#/#YYYY#').split('/').reverse().join('');
            const params = {
                endDate: today,
                companyId: userInfo.userInfo.companyId
            }
            sendParam({
                url : urlDBD(API.getListAdminNotify),
                data: params,
                method: "GET",
                success : function (res) {
                    self.listNotify = res.results.systemNotifications.sort((a,b) => b.creationDate - a.creationDate);
                    self.loadingNotify = false;
                },
                functionIfError : function () {
                    self.loadingNotify = false;
                }
            })
        },
        changeRoute: function(_routeId) {
            func.setHistory({ routeId: _routeId })
            this.$router.push({
                path: '/ticket-version-04',
                // query: { routeId: _routeId }
            });
        },

        ChangeName: function(name) {
            this.name = name;
        },

        getRoutes: function() {
            let self = this;
            // self.load('loadRoute');
            sendJson({
                url: urlDBD(API.routeList),
                data: { page: 0, count: 100,companyId : userInfo.userInfo.companyId},
                success: function(res) {
                    self.routes = res.results.result;
                    // self.unload('loadRoute');
                },
                functionIfError: function(res) {
                    // self.unload('loadRoute');
                }
            })
        },
        getSettingRouteOftenSelect: function() {

            let self = this;
            let str = localStorage.getItem('RouteOftenSelect') || '{}';
            let data = JSON.parse(str);
            if (self.routeOftenSelect) {
                $.each(self.routeOftenSelect, function(r, route) {
                    if (route.connectFirebase && route.connectFirebase.path !== undefined) {
                        route.connectFirebase.off();
                    }
                });
            }
            if (data.companyId === self.userInfo.userInfo.companyId) {
                let listRoute = [];
                $.each(data.routes, function(r, route) {
                    let routeInfo = route;
                    routeInfo.showTickets = false;
                    let cnn = firebaseDatabase.ref().child('ticketOnlines').child(route.routeId).limitToLast(10);
                    cnn.on('value', function(snapshot) {
                        let data = snapshot.val();
                        routeInfo.tickets = data;
                        self.$forceUpdate();
                    });
                    routeInfo.connectFirebase = cnn;
                    listRoute.push(routeInfo);
                });
                self.routeOftenSelect = listRoute;
            } else {
                self.routeOftenSelect = [];
            }
        },

    }
}
</script>
<style lang="scss" scoped>
.notify-container {
    overflow: hidden;
    border: 1px solid #CFD3DB;
    border-radius: 12px;
    .title-container {
        border-bottom: 1px solid #CFD3DB;
        border-radius: 12px;
        background: #F1F3F5;
        padding: 15px;
        display: grid;
        grid-template-columns: 15% 85%;
        .icon {
            margin: 0;
        }
        .title {
            font-weight: 500;
            font-size: 16px;
            color: #232731;
        }
    }
    .item-container {
        .item {
            background: white;
            border-bottom: 1px solid #CFD3DB;
            display: grid;
            grid-gap: 3px;
            padding: 8px;
            .upper {
                display: grid;
                grid-template-columns: 13% 54% 30%;
                align-items: end;
                .icon {
                    text-align: center;
                    height: 20px;
                    width: 20px;
                    background: #5C9CFE;
                    border-radius: 50%;
                }
                .name {
                    font-size: 14px;
                    font-weight: 500;
                    color: #084388;
                }
                .time {
                    font-weight: 500;
                    font-size: 12px;
                    color: #5C9CFE;
                    text-align: end;
                }
            }
            .lower {
                .content {
                    cursor: pointer;
                    font-weight: normal;
                    font-size: 12px;
                    color: #232731;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    /* autoprefixer: off */
                }
                .content:hover {
                    text-decoration: underline;
                }
            }
        }
        .item:last-child {
            border-bottom: 0;
        }
    }
}
.table-scroll {
    height: 500px;
    overflow: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.table-scroll-half {
    height: 232px;
    overflow: auto;
}

.home h4 {
    margin-bottom: 15px;
    background: #e2dbdb;
    padding: 0px;
    margin-top: 0px;
    margin-left: -15px;
    width: calc(100% + 30px);
    background: #cfd3db;
}

.home h5.title {
    background-color: #f9fafc;
    font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #232731;
      padding: 11px;
      margin-bottom: 0px;
}

/* .home table tr:nth-child(2n) {
    background: #EBEDEF;
} */

.home .border-table {
    /*box-shadow: 0px 2px 10px rgba(0,0,0,0.1);*/
}

.home h5 i {
    margin-right: 10px;
}

.home .red-color {
    color: red;
}
.text-welcome{
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.29px;
  text-align: center;
  color: #e3342f;
}
.text-welcome a,.text-welcome b {
    color: #44505f;
}
</style>
