<template>
    <div id="news-list" v-loading="loading">
        <h3 class="title-top-news">TIN TỨC TỪ AN VUI</h3>
        <div class="row">
            <template v-for="(val, ind) in news">
                <div class="item col-md-6">
                    <div class="row margin-7">
                        <div class="col-md-3 padding-7">
                            <a :href="val.link" class="img" target="_blank"><img :src="val.img" style="width:100%;height:75px" /></a>
                        </div>
                        <div class="content col-md-9 padding-7">
                            <div class="title_news "><a :href="val.link" :title="val.title" target="_blank">{{ val.title }}</a></div>
                            <div class="desc">{{ val.meta_description }}</div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>
<script type="text/javascript">
export default {
    data: function() {
        return {
            news: [],
            loading: false,
        }
    },
    mounted: function() {
        this.getNews();
    },
    methods: {
        getNews: function() {
            let self = this;
            self.loading = true;
            // self.load('loadNews');
            $.ajax({
                type: 'GET',
                url: 'https://www.anvui.vn/apinews',
                success: function(data) {
                    self.news = data
                    self.loading = false
                    // self.unload('loadNews');
                }
            });
        }
    }
}
</script>
<style type="text/css">
#news-list .item img {
    transition: all 0.2s ease-out;
}

#news-list .item img:hover {
    transform: scale(1.2);
}

#news-list .item a.img {
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

#news-list .title_news {
    height: 46px;
    overflow: hidden;
}

#news-list .title_news a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.22px;
    color: #007ec6;
}

#news-list .desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #5a6275;
    height: 29px;
    overflow: hidden;
}

.report-home {
    clear: both;
    border-radius: 4px;
    border: solid 1px #bdc2cc;
    background-color: #ffffff;
}

#news-list {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 35px;
    border-top: 1px solid #ddd;
    padding-top: 35px;
    margin-top: 20px;
}

#sroll_loop {
    max-width: 1140px;
    margin: 0 auto;
}

#news-list .item {
    margin-bottom: 16px;
}
</style>