<template>
	<div id="register-home" v-loading="loading">
		<h5  class="title"><i class="fa fa-car" aria-hidden="true"></i> Xe sắp hết hạn đăng kiểm</h5>
		<div class="table-scroll">
			<div class="border-table">
				<table class="table table-bordered table-hover table-striped">
				    <thead>
				      <tr>
				        <th class="text-center">STT</th>
				        <th>Biển số xe</th>
				        <th>Ngày hết hạn đăng kiểm</th>
				        <th class="text-center">Ngày còn lại</th>
				      </tr>
				    </thead>
				    <tbody>
				      <template v-for="(val, index) in registerDate">
				      	<tr  :key="val.vehicleId" class="cursor-pointer" @click="openModalUpdateVehicle(val)">
					        <td class="text-center">{{ index + 1 }}</td>
					        <td>{{ val.numberPlate }}</td>
					        <td>{{ val.registrationDeadline|customDate('#DD#-#MM#-#YYYY#') }}</td>
					        <td :class="val.registrationDeadline|differenceDate() <= 0 ? 'red-color text-center' : 'text-center'">{{ $root.differenceDate(val.registrationDeadline)<0?'Quá hạn':$root.differenceDate(val.registrationDeadline) }}</td>
					    </tr>
				      </template>	
				    </tbody>
				</table>
			</div>
		</div>
		<div class="modal fade bd-example-modal-lg" id="modalUpdateVehicle" tabindex="-1" role="dialog" aria-labelledby="modalUpdateVehicle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin phương tiện</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem; pointer-events: none;">
                        <update-vehicle ref="UpdateVehicleComponent"></update-vehicle>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script type="text/javascript">
	import UpdateVehicle from '../Vehicle/UpdateVehicle';
	
	export default {
		components: {UpdateVehicle},
		data: function(){
			return {
				registerDate: [],
				loading: false,
			}
		},
		mounted: function(){
			this.vehicleGetListExpired();
		},
		methods: {
			vehicleGetListExpired: function(){
				let self = this;
				self.loading = true;
				sendJson({
                    url : urlDBD(API.vehicleGetListExpired),
                    data : {page : 0,count:100,numberOfDate : 30},
                    success :function (res) {
                    	if(res.results){
                    		self.registerDate = res.results.data;
                    	}
											self.loading = false;
                    },
                    functionIfError : function (res) {
                    	console.log(res);
											self.loading = false;
                    }
                })	
			},
			openModalUpdateVehicle : function (vehicle) {
				console.log(vehicle)
                this.$refs.UpdateVehicleComponent.refresh(vehicle);
                $(this.$el).find('#modalUpdateVehicle').modal('show');
            },
		}
	}
</script>
