<template>
<section class="AssignTicketShipping">
    <div class="AssignTicketShipping__header">
        <h2>Danh sách giao vé</h2>
    </div>
    <div class="AssignTicketShipping__filter">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Khu vực</label>
                    <select class="form-control" v-model="filter.region" @change="getDelivery">
                        <option value="">Tất cả khu vực</option>
                        <option :value="region" v-for="(region,index) in listRegion" :key="index">{{ region.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Ngày</label>
                    <DatePicker v-model="filter.date" @input="getDelivery"></DatePicker>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Ca</label>
                    <select class="form-control" v-model="filter.workShift" @change="getDelivery">
                        <option value="">Tất cả các ca</option>
                        <option :value="workShift.id" v-for="(workShift, index) in listWorkShift" :key="index"> {{ workShift.name }} </option>
                    </select>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" v-model="filter.status" @change="getDelivery">
                        <option value="">Tất cả trạng thái</option>
                        <option :value="deliverStatus.value" :key="index" v-for="(deliverStatus, index) in deliverStatuses">{{ deliverStatus.label }}</option>
                    </select>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Nhân viên giao vé</label>
                    <!-- <select class="form-control">Tất cả nhân viên</select>       -->
                    <SelectUser :department="departments[0].value" v-model="filter.staff"
                                @input="getDelivery"></SelectUser>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="d-block" style="visibility: hidden;">a</label>
                    <button class="btn btn-success" @click="printTableReport"><i class="fas fa-print"></i> In Danh Sách
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="AssignTicketShipping__content">
        <div class="AssignTicketShipping__content__table">
            <el-table ref="multipleTable"
                :data="tableData"
                :border="true"
                style="width: 100%"
                :cell-class-name="cellClassName"
                @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                    </el-table-column>
                    <el-table-column
                            label="Tên khách"
                            prop="name"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="phone"
                            label="Số điện thoại"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="Địa chỉ"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="region"
                            label="Khu vực"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="staff"
                            label="Nhân viên"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="workShift"
                        label="Ca"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="tripOpenTime"
                        label="Thời gian xuất bến"
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                        prop="status"
                        label="Trạng thái"
                        show-overflow-tooltip>

                        <template slot-scope="scope">
                            <select name="" id="">
                                <option :value="status.value" v-for="(status,index) in deliverStatuses" :key="index">{{
                                    status.label }}
                                </option>
                            </select>
                        </template>

                    </el-table-column>
            </el-table>
        </div>
        <div class="clearfix">
            <button class="btn btn-sm btn-outline-dark float-left" v-if="filter.page != 0" @click="filter.page -= 1; getDelivery(false)"><i class="fas fa-arrow-left"></i> Trang {{ filter.page }}</button>
            <button class="btn btn-sm btn-outline-dark float-right" v-if="listDeliver.length > 0 && listDeliver.length >= filter.count" @click="filter.page += 1; getDelivery(false)">Trang {{ filter.page + 2 }} <i class="fas fa-arrow-right"></i></button>
        </div>
        <fieldset>
            <legend>Điều phối giao vé</legend>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label for="">Chọn nhân viên giao vé</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <SelectUser :department="departments[0].value" :disable="!activeAssignStaff" v-model="staffSelected"></SelectUser>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <button class="btn btn-success btn-assign" title="Chọn khách để phân công cho nhân viên" v-if="!activeAssignStaff" disabled>Phân công giao vé</button>
                        <button class="btn btn-success btn-assign" v-else @click="updateDelevery">Phân công giao vé</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="tablePrinted hidden">
        <table class="table table-bordered">
            <thead>
            <th>STT</th>
                <th>Tên khách</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Khu vực</th>
                <th>Nhân viên</th>
                <th>Ca</th>
                <th>Thời gian xuất bến</th>
                <th>Trạng thái</th>
            </thead>
            <tbody>
                <tr v-for="(ticket, index) in tableData" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.phone }}</td>
                    <td>{{ ticket.address }}</td>
                    <td>{{ ticket.region }}</td>
                    <td>{{ ticket.staff }}</td>
                    <td>{{ ticket.workShift }}</td>
                    <td>{{ ticket.tripOpenTime }}</td>
                    <td>{{ ticket.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</template>

<script>

    import DatePicker from '../Template/DatePicker.vue';
    import SelectUser from '../Template/SelectUser';
    import {RegionDepartment} from '../../class/region.js';
    import {DelivaryStatus} from '../../class/delivery.js'

    export default {
    components: {DatePicker, SelectUser},
    data() {
        return {
            listRegion: [],
            listWorkShift: [],
            listStaff: [],
            listDeliver: [],
            departments: RegionDepartment.properties(),
            deliverStatuses: DelivaryStatus.properties(),

            filter: {
                region: "",
                page: 0,
                count: 10,
                date: "",
                workShift: "",
                deliverStatus: "",
                staff: "",
            },
            activeAssignStaff: false,
            tableData: [],
            ticketSelected: [],
            staffSelected: {}
        }
    },
    mounted() {
        this.getListRegion();
        this.getListWorkShift();
        this.getDelivery();
    },
    methods: {
        cellClassName(event) {
            let ticket = event.row.data;

            if (ticket.deliveryInfo.status != -1 || ticket.deliveryInfo.status != 0)
                return ""
            return "avdisabled--much-opacity"
        },
        getListRegion() {
            let self = this;

            self.load('getListRegion');
            let params = {}

            sendParam({
                url : urlDBD(API.regionGet),
                data: params,
                method: "GET",
                success : function (res) {
                    self.listRegion = res.results.result;
                    self.unload('getListRegion');
                },
                functionIfError : function () {
                    self.unload('getListRegion');

                }
            })
        },

        getListWorkShift() {
            let self = this;
            let params = {
            };

            self.load('getWorkShift');

            sendParam({
                url : urlDBD(API.workShiftGet),
                data: params,
                method: "GET",
                success : function (res) {
                    self.listWorkShift = res.results.rs;
                    self.unload('getWorkShift');
                },
                functionIfError : function () {
                    self.unload('getWorkShift');

                }
            })
        },

        convertToDataTable(data) {

            let res = [];
            data.forEach(elem => {
                res.push({
                    name: elem.fullName,
                    phone: elem.deliveryInfo.phoneNumber,
                    address: elem.deliveryInfo.address,
                    region:  elem.deliveryInfo.regionInfo.name,
                    staff: (elem.deliveryInfo.staffDeliver) ? elem.deliveryInfo.staffDeliver.fullName : "",
                    workShift: elem.deliveryInfo.workShiftInfo.name,
                    tripOpenTime: new Date(elem.getInTimePlan).customFormat('#DD#/#MM#/#YYYY#'),
                    status: this.deliverStatuses[elem.deliveryInfo.status].label,
                    data: elem
                })
            });

            return res;
        },

        getDelivery(resetPagination = true) {
            let self = this;

            let params = {
                page: this.filter.page,
                count: this.filter.count,
            };

            if(!resetPagination) {
                params.page = this.filter.page;
            } else {
                params.page = 0
            }


            if(this.filter.region !== "") {
                params.regionId = this.filter.region.id
            }

            // { "page": 0, "count": 20, "regionId": null, "workShiftId": null, "date": null, "staffDeliverId": null, "companyId": null, "deliverStatus": null }

            if(this.filter.workShift !== "") {
                params.workShiftId = this.filter.workShift
            }

            if(this.filter.date !== "") {
                params.date = func.dateStr(this.filter.date)
            }

            if(this.filter.staffDeliverId !== "") {
                params.staffDeliverId = this.filter.staff.id
            }

            if (this.filter.status !== "") {
                params.status = this.filter.status
            }

            self.load('getDelivery');

            sendParam({
                url : urlDBD(API.deliveryGet),
                data : params,
                method: 'Get',
                success : function (data) {
                    self.listDeliver = data.results.ticketsForDelivery;
                    self.tableData = self.convertToDataTable(data.results.ticketsForDelivery);

                    self.unload('getDelivery');
                },
                functionIfError : function (data) {
                    self.unload('getDelivery');

                }
            });
        },
        updateDelevery() {
            let self = this;

            let params = [];
            this.ticketSelected.forEach(item => {
                params.push({
                    "ticketId": item.data.ticketId,
                    "deliveryInfo": {
                        "regionInfo": {
                            "id": item.data.deliveryInfo.regionInfo.id
                        },
                        "staffDeliver": {
                            "id": this.staffSelected.id
                        },
                        "status": 0
                    }
                })
            })

            self.load('updateDelevery');

            sendJson({
                url : urlDBD(API.ticketDeliveryUpdate),
                data : params,
                method: 'POST',
                success : function (data) {
                    self.getDelivery();
                    self.unload('updateDelevery');
                },
                functionIfError : function (data) {
                    self.unload('updateDelevery');

                }
            });
        },

        printTableReport : function () {
            $(this.$el).find('.tablePrinted table').printThis();
        },

        handleSelectionChange(val) {
            this.ticketSelected = val;

            if(this.ticketSelected.length > 0) {
                this.activeAssignStaff = true;
            } else {
                this.activeAssignStaff = false;
            }
        }

    }
}
</script>

<style lang="scss">
    .AssignTicketShipping {
        padding: 40px 10px;
        background-color: #fff;

        *:not(i) {
            font-family: Cabin;
        }

        &__filter {
            margin-bottom: 24px;
        }

        &__header {
            margin-bottom: 24px;
            text-align: center;
        }

        &__content {

            &__table {
                margin-bottom: 24px;
                max-height: 55vh;
                overflow-y: auto;

            tr {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    fieldset {
        border-radius: 8px;
        padding: 15px;
        padding-bottom: 40px;
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    legend {
        width: auto;
        background-color: #fff;
        padding: 0px 10px;
        font-size: 22px;
        font-weight: 500;
    }
    .btn-assign {
        font-weight: 500;
            font-size: 16px;
            border: 0px;
        &[disabled] {
            background-color: #ccc;
            color: #fff;

        }
    }

        .btn-action {
            min-width: 30px;
            min-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;

            &.btn-warning {
                color: #333
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
</style>