<template>
    <el-popover placement="left" title="Title" width="500" trigger="hover">
        <div class="w-100">
            <table class="table">
                <tbody>
                <template v-for="(config,c) in smsConfigs">
                    <tr :class="[selected&&selected.id === config.id ? 'bg-e' :'']" @click="selected = config">
                        <td>{{config.name}}</td>
                        <td>{{config.nativeContent}}</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <button slot="reference" class="btn btn-action top5"><i class="fa fa-sms"></i></button>
    </el-popover>
</template>
<script>
    import {mapState} from 'vuex';

    export default {
        data: function () {
            return {
                selected: null
            }
        },
        computed: {
            ...mapState('Ticket07', {
                ticketsSelected: state => state.ticketsSelected,
                ticketsSelectedType: state => state.ticketsSelectedType,
            }),
            ...mapState({
                smsConfigs: state => state.smsConfigs,
            }),
        }
    }
</script>