<template>
    <div class="row SmsConfigDisplay">
        <div class="col-12 title">
            <div class="row">
                <div class="col">
                    CÀI ĐẶT HIỂN THỊ TIN NHẮN
                </div>
                <!-- <div class="col-auto">
                    <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                </div> -->
            </div>
        </div>
        <div class="col-12">
            <!-- start -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#danhchokhachhang">Dành cho khách hàng</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#danhchonhavantai">Dành cho nhà vận tải</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tinnhanthongbao">Tin nhắn thông báo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#cauhinhtinnhan">Cấu hình tin nhắn</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#cauhinhtinnhanhang">Cấu hình tin nhắn hàng</a>
                </li>
            </ul>

              <!-- Tab panes -->
            <div class="tab-content" style="margin-bottom: 100px;">
                <div id="danhchokhachhang" class="tab-pane active"><br>
                    <div id="accordion" role="tablist">
                      <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                          <h3 class="mb-0 card-link" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                              Đặt vé <i class="fa fa-chevron-up"></i>
                          </h3>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                          <div class="card-body">
                            <div class="form-group">
                              <select class="form-control" v-model="dataSelect" @change="changeDataSelect('kh-datve')">
                                <option :value="null">- Chèn trường dữ liệu -</option>
                                <option v-for="(val, index) in fields" :value="val.key"> {{ val.value }} </option>
                              </select>
                           </div>
                            <div class="form-group groupText">
                                <div class="sms-content" id="kh-datve" contenteditable="true" v-html="khDatveContent"></div>
                                <input type="hidden" v-model="idDatve" />
                           </div>
                           <div class="">
                                <button class="btn btn-sm btn-primary" @click="saveSetting(1)" v-if="$root.roles.SMS_PATTERN_CREATE||$root.roles.SMS_PATTERN_UPDATE"><i class="fa fa-save"></i> Lưu cấu hình</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                          <h3 class="mb-0 card-link" data-toggle="collapse" href="#collapseThree" aria-expanded="true">
                            Thanh toán thành công<i class="fa fa-chevron-up"></i>
                          </h3>
                        </div>

                        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                          <div class="card-body">
                            <div class="form-group">
                              <select class="form-control" v-model="dataSelect" @change="changeDataSelect('kh-datve-thanhcong')">
                                <option :value="null">- Chèn trường dữ liệu -</option>
                                <option v-for="(val, index) in fields" :value="val.key"> {{ val.value }} </option>
                              </select>
                            </div>
                            <div class="form-group groupText">
                              <div class="sms-content" id="kh-datve-thanhcong" contenteditable="true" v-html="khDatveThanhCongContent"></div>
                              <input type="hidden" v-model="idDatveThanhCong" />
                            </div>
                            <div class="">
                              <button class="btn btn-sm btn-primary" @click="saveSetting(5)" v-if="$root.roles.SMS_PATTERN_CREATE||$root.roles.SMS_PATTERN_UPDATE"><i class="fa fa-save"></i> Lưu cấu hình</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                          <h3 class="mb-0 card-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                              Hủy vé <i class="fa fa-chevron-up"></i>
                          </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="card-body">
                            <div class="form-group">
                              <select class="form-control" v-model="dataSelect" @change="changeDataSelect('kh-huyve')">
                                <option :value="null">- Chèn trường dữ liệu -</option>
                                <option v-for="(val, index) in fields" :value="val.key"> {{ val.value }} </option>
                              </select>
                           </div>
                           <div class="form-group groupText"> 
                                <div class="sms-content" id="kh-huyve" contenteditable="true" v-html="khHuyveContent"></div>
                                <input type="hidden" v-model="idHuyve" />
                           </div>
                           <div class="">
                                <button class="btn btn-sm btn-primary" @click="saveSetting(4)" v-if="$root.roles.SMS_PATTERN_CREATE||$root.roles.SMS_PATTERN_UPDATE"><i class="fa fa-save"></i> Lưu cấu hình</button>
                           </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="danhchonhavantai" class="tab-pane fade"><br>
                       <div class="form-group">
                          <select class="form-control" v-model="dataSelect" @change="changeDataSelect('nhaxe')">
                            <option :value="null">- Chèn trường dữ liệu -</option>
                            <option v-for="(val, index) in fields" :value="val.key"> {{ val.value }} </option>
                          </select>
                       </div>
                       <div class="form-group groupText"> 
                            <div class="sms-content" id="nhaxe" contenteditable="true"></div>
                            <input type="hidden" v-model="idNhaxe" />
                       </div>
                       <div class="">
                            <button class="btn btn-sm btn-primary" @click="saveSetting(2)" v-if="$root.roles.SMS_PATTERN_CREATE||$root.roles.SMS_PATTERN_UPDATE"><i class="fa fa-save"></i> Lưu cấu hình</button>
                        </div>
                </div>
                <div id="tinnhanthongbao" class="tab-pane fade"><br>
                       <div class="form-group">
                          <select class="form-control" v-model="dataSelect" @change="changeDataSelect('thongbao')">
                            <option :value="null">- Chèn trường dữ liệu -</option>
                            <option v-for="(val, index) in fields" :value="val.key"> {{ val.value }} </option>
                          </select>
                       </div>
                       <div class="form-group groupText"> 
                            <div class="sms-content" id="thongbao" contenteditable="true"></div>
                            <input type="hidden" v-model="idThongbao" />
                       </div>
                       <div class="">
                            <button class="btn btn-sm btn-primary" @click="saveSetting(3)" v-if="$root.roles.SMS_PATTERN_CREATE||$root.roles.SMS_PATTERN_UPDATE"><i class="fa fa-save"></i> Lưu cấu hình</button>
                        </div>
                </div>
                <div id="cauhinhtinnhan" class="tab-pane fade"><br>
                    <div class="form-group">
                        <el-button
                        type="success" 
                        icon="el-icon-plus" 
                        @click="openFormDialog()"
                        >Thêm cấu hình tin nhắn</el-button>
                    </div>
                    <!-- Dialog Save Form -->
                  <el-dialog :title="this.title" :visible.sync="dialogSaveVisible" @close="closeDialog()">
                    <el-form :model="form">
                      <el-form-item label="Tên" :label-width="formLabelWidth">
                        <el-input v-model="form.name" autocomplete="off"></el-input>
                        <span v-if="!nameIsValid" class="text-danger">Name is required!</span>
                      </el-form-item>
                      <el-form-item>
                        <select class="form-control" v-model="dataSelect" @change="changeDataSelect('kh-sms')">
                          <option :value="null">- Chèn trường dữ liệu -</option>
                          <option v-for="(val, index) in fields" :value="val.key"> {{ val.value }}</option>
                        </select>
                      </el-form-item>
                      <el-form-item label="Nội dung" :label-width="formLabelWidth">
                        <template>
                          <div>
                            <div class="form-group groupText">
                              <div class="sms-content" id="kh-sms" contenteditable="true"
                                   v-html="form.nativeContent"  @keyup="setNativeContent"></div>
                            </div>
                          </div>
                        </template>
                        <span v-if="!isFormValid" class="text-danger">Content is required!</span>
                      </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                            <el-button @click="dialogSaveVisible = false">Hủy</el-button>
                            <el-button :disabled="isDisable" type="primary" @click="submitForm()">Lưu</el-button>
                        </span>
                    </el-dialog>
                    <!-- table -->
                    <el-table
                        :data="tableData"
                        style="width: 100%"
                    >
                        <el-table-column
                        label="Tên"
                        width="180"
                        >
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.name }}</span>
                        </template>
                        </el-table-column>
                        <el-table-column
                            label="Nội dung"
                        >
                        <template slot-scope="scope">
                            <span v-html="replaceAllContentTb(scope.row.nativeContent)"></span>
                        </template>
                        </el-table-column>
                        <el-table-column
                            label="Hành động">
                        <template slot-scope="scope">
                            <el-button
                            size="mini"
                            @click="openFormDialog(true, scope.row)">Edit</el-button>
                            <el-button
                            size="mini"
                            type="danger"
                            @click="openDeleteDialog(scope.row.id)">Delete</el-button>
                        </template>
                        </el-table-column>
                    </el-table>
                    <!-- Confirm Delete Dialog -->
                    <el-dialog title="Xóa cấu hình tin nhắn" :visible.sync="dialogConfirmDelete">
                      <span>Bạn có chắc muốn xóa cấu hình này không?</span>
                      <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogConfirmDelete = false">Hủy</el-button>
                        <el-button :disabled="isDisable" type="primary" @click="handleDelete()">Xóa</el-button>
                      </span>
                    </el-dialog>
                    
                </div>
                <div id="cauhinhtinnhanhang" class="tab-pane fade"><br>
                <div class="form-group">
                  <el-button
                          type="success"
                          icon="el-icon-plus"
                          @click="openFormGoodDialog()"
                  >Thêm cấu hình tin nhắn</el-button>
                </div>
                <!-- Dialog Save Form -->
                <el-dialog :title="this.title" :visible.sync="dialogGoodVisible" @close="closeGoodDialog()">
                  <el-form :model="form">
                    <el-form-item label="Tên" :label-width="formLabelWidth">
                      <el-input v-model="form.name" autocomplete="off"></el-input>
                      <span v-if="!nameIsValid" class="text-danger">Name is required!</span>
                    </el-form-item>
                    <el-form-item>
                      <select class="form-control" v-model="dataSelect" @change="changeDataSelect('kh-sms-good')">
                        <option :value="null">- Chèn trường dữ liệu -</option>
                        <option v-for="(val, index) in goodFields" :value="val.key"> {{ val.value }}</option>
                      </select>
                    </el-form-item>
                    <el-form-item label="Nội dung" :label-width="formLabelWidth">
                      <template>
                        <div>
                          <div class="form-group groupText">
                            <div class="sms-content" id="kh-sms-good" contenteditable="true"
                                 v-html="form.nativeContent"  @keyup="setNativeContentGood"></div>
                          </div>
                        </div>
                      </template>
                      <span v-if="!isFormValid" class="text-danger">Content is required!</span>
                    </el-form-item>
                  </el-form>
                  <span slot="footer" class="dialog-footer">
                            <el-button @click="dialogGoodVisible = false">Hủy</el-button>
                            <el-button :disabled="isDisable" type="primary" @click="submitFormGood()">Lưu</el-button>
                        </span>
                </el-dialog>
                <!-- table -->
                <el-table
                        :data="tableGoodData"
                        style="width: 100%"
                >
                  <el-table-column
                          label="Tên"
                          width="180"
                  >
                    <template slot-scope="scope">
                      <span style="margin-left: 10px">{{ scope.row.name }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                          label="Nội dung"
                  >
                    <template slot-scope="scope">
                      <span v-html="replaceAllContentTb(scope.row.nativeContent)"></span>
                    </template>
                  </el-table-column>
                  <el-table-column
                          label="Hành động">
                    <template slot-scope="scope">
                      <el-button
                              size="mini"
                              @click="openFormGoodDialog(true, scope.row)">Edit</el-button>
                      <el-button
                              size="mini"
                              type="danger"
                              @click="openDeleteDialogGood(scope.row.id)">Delete</el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <!-- Confirm Delete Dialog -->
                <el-dialog title="Xóa cấu hình tin nhắn" :visible.sync="dialogConfirmDeleteGood">
                  <span>Bạn có chắc muốn xóa cấu hình này không?</span>
                  <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogConfirmDeleteGood = false">Hủy</el-button>
                        <el-button :disabled="isDisable" type="primary" @click="handleDeleteGood()">Xóa</el-button>
                      </span>
                </el-dialog>

              </div>
            </div>
          <!-- finish -->
            <!--<text-and-tags></text-and-tags>-->
        </div>
        
    </div>
</template>
<script>
    import TextAndTags from '../Helper/TextAndTags'

    export default {
        components : {TextAndTags},
        data : function(){
            return {
                title: 'Thêm cấu hình tin nhắn',
                khDatveContent: '',
                khDatveThanhCongContent: '',
                khHuyveContent: '',
                sendSmsContent: '',
                SmsTextData1: '',
                dataSelect: null,
                routeName: '',
                fields  :[
                    {
                        key : 'routeName',
                        value : 'Tên tuyến'
                    },
                    {
                        key : 'routeShortName',
                        value : 'Tên tuyến viết tắt'
                    },
                    {
                        key : 'ticketCode',
                        value : 'Mã vé'
                    },
                    {
                        key : 'listSeatId',
                        value : 'Danh sách ghế'
                    },
                    {
                        key : 'getInTime',
                        value : 'Thời gian lên xe'
                    },
                    {
                        key : 'getInDate',
                        value : 'Ngày lên xe'
                    },
                    {
                        key : 'inPoint',
                        value : 'Điểm lên'
                    },
                    {
                        key : 'offPoint',
                        value : 'Điểm xuống'
                    },
                    {
                        key : 'ticketStatus',
                        value : 'Trạng thái vé'
                    },
                    {
                        key : 'phoneNumberCompany',
                        value : 'Sđt liên hệ của nhà xe'
                    },
                    {
                        key : 'phoneNumberCustomer',
                        value : 'Sđt khách hàng',
                    },
                    {
                        key : 'emailCustomer',
                        value : 'Email khách hàng',
                    },
                    {
                        key : 'fullName',
                        value : 'Tên khách'
                    },
                    {
                        key : 'website',
                        value : 'website nhà xe'
                    },
                    {
                        key : 'ticketPrice',
                        value : 'Giá vé'
                    },
                    {
                        key : 'transshipmentPrice',
                        value : 'Giá trung chuyển'
                    },
                    {
                        key : 'numberPlate',
                        value : 'Biển số xe'
                    },
                    {
                        key : 'driverPhoneNumber',
                        value : 'Sđt lái phụ xe'
                    },
                    {
                        key : 'feeCancelTicket',
                        value : 'Phí hủy vé'
                    },
                ],
                goodFields  :[
                    {
                        key : 'goodsPackageCode',
                        value : 'Mã vận đơn'
                    },
                    {
                        key : 'goodsName',
                        value : 'Tên hàng'
                    },
                    {
                        key : 'goodsTypeName',
                        value : 'Loại hàng'
                    },
                    {
                        key : 'pickPointName',
                        value : 'Bến lên'
                    },
                    {
                        key : 'dropPointName',
                        value : 'Bến xuống'
                    },
                    {
                        key : 'pickUpPoint',
                        value : 'Điểm lên'
                    },
                    {
                        key : 'dropOffPoint',
                        value : 'Điểm xuống'
                    },
                    {
                        key : 'sender',
                        value : 'Người gửi'
                    },
                    {
                        key : 'senderPhone',
                        value : 'Số điện thoại người gửi'
                    },
                    {
                        key : 'receiver',
                        value : 'Người nhận'
                    },
                    {
                        key : 'receiverPhone',
                        value : 'Số điện thoại người nhận'
                    },
                    {
                        key : 'price',
                        value : 'Cước phí',
                    },
                    {
                        key : 'totalPrice',
                        value : 'Tổng tiền',
                    },
                    {
                        key : 'unpaid',
                        value : 'Tiền chưa thanh toán'
                    },
                    {
                        key : 'paid',
                        value : 'tiền đã thanh toán'
                    },
                    {
                        key : 'extraPrice',
                        value : 'Thu thêm'
                    },
                    {
                        key : 'extraPriceNote',
                        value : 'Lý do thu thêm'
                    },
                    {
                        key : 'quantity',
                        value : 'Số lượng hàng'
                    },
                    {
                        key : 'goodsValue',
                        value : 'Giá trị hàng'
                    },
                    {
                        key : 'driverPhonenumber',
                        value : 'Số điện thoại tài xế'
                    },
                    {
                        key : 'vehiclePhonenumber',
                        value : 'Số điện thoại xe'
                    },
                    {
                        key : 'sendDate',
                        value : 'Ngày gửi'
                    },
                    {
                        key : 'roomAddress',
                        value : 'Văn phòng đặt đơn'
                    },
                ],
                idDatve: '',
                idDatveThanhCong: '',
                idNhaxe: '',
                idThongbao: '',
                idHuyve: '',
                nameDatve: 'Tin nhắn cho khách hàng đặt vé',
                nameDatveThanhCong: 'Tin nhắn thanh toán thành công',
                nameNhaxe: 'Tin nhắn cho nhà xe',
                nameThongbao: 'Tin nhắn thông báo',
                nameHuyve: 'Tin nhắn cho khách hàng hủy vé',
                tableData: 
                [{
                    active: true,
                    companyId: "",
                    createdDate: 0,
                    creator: "",
                    englishContent: "",
                    id: "",
                    lastModifiedDate: 0,
                    messageType: 1,
                    modifier: null,
                    name: "",
                    nativeContent: "",
                    phoneNumber: null
                }],
                tableGoodData:
                    [{
                        active: true,
                        companyId: "",
                        createdDate: 0,
                        creator: "",
                        englishContent: "",
                        id: "",
                        lastModifiedDate: 0,
                        messageType: 1,
                        modifier: null,
                        name: "",
                        nativeContent: "",
                        phoneNumber: null
                    }],
                dialogSaveVisible: false,
                dialogGoodVisible: false,
                dialogConfirmDelete: false,
                dialogConfirmDeleteGood: false,
                form: {},
                formLabelWidth: '120px',
                isDisable: false,
                isFormValid: false,
                selectedItemId: null,
                formValue: ''
            }
        },
        computed: {
            nameIsValid() {
                return !!this.form.name
            },
        },
        watch : {
            formValue() {
                if (this.formValue !== '') {
                    this.isFormValid = true
                } else {
                    this.isFormValid = false
                }
            }
        },
        mounted :function () {
            let self = this;
            self.getConfig();
            CKEDITOR.disableAutoInline = true;
            // remove tag
            $(document).on('click', '.tag_ct span', function(){
                $(this).parent().parent().remove();
            });
            this.tableData = this.getConfigList();
            this.tableGoodData = this.getConfigGood();
            // ket thuc
        },
        methods : {
            closeDialog () {
                this.title = 'Thêm cấu hình tin nhắn'
                this.isFormValid = false
                this.dialogSaveVisible = false
            },
            closeGoodDialog () {
                this.title = 'Thêm cấu hình tin nhắn'
                this.isFormValid = false
                this.dialogGoodVisible = false
            },
            setNativeContent() {
                this.formValue = this.replaceAllContentToText($('#kh-sms').html())
            },
            setNativeContentGood() {
                this.formValue = this.replaceAllContentToText($('#kh-sms-good').html())
            },
            openFormDialog(isUpdate = false, item){
                const date = new Date();
                const dateInMilisecond = date.getTime().toString().slice(0,9);
                const messageTypeID = parseInt(dateInMilisecond);
                this.form = {
                    messageType: messageTypeID,
                    nativeContent: null,
                    name: null,
                };
                if(isUpdate) {
                    if (item.nativeContent !== ''){
                        this.isFormValid = true
                    }
                    this.title = 'Sửa cấu hình tin nhắn'
                    this.form = {
                        id: item.id,
                        messageType: item.messageType,
                        nativeContent: item.nativeContent,
                        name: item.name,
                    };
                    this.form.nativeContent = this.replaceAllContent(this.form.nativeContent);
                }
                this.dialogSaveVisible = true;
                
            },
            openFormGoodDialog(isUpdate = false, item){
                const date = new Date();
                const dateInMilisecond = date.getTime().toString().slice(0,9);
                const messageTypeID = 9;
                this.form = {
                    messageType: messageTypeID,
                    nativeContent: null,
                    name: null,
                };
                if(isUpdate) {
                    if (item.nativeContent !== ''){
                        this.isFormValid = true
                    }
                    this.title = 'Sửa cấu hình tin nhắn'
                    this.form = {
                        id: item.id,
                        messageType: item.messageType,
                        nativeContent: item.nativeContent,
                        name: item.name,
                    };
                    this.form.nativeContent = this.replaceAllContent(this.form.nativeContent);
                }
                this.dialogGoodVisible = true;

            },
            submitForm(formName = this.form){
                this.isDisable = true;
                if(this.form.nativeContent == '') {
                    this.isContentEmpty = true;
                }
                const formIsValid = this.nameIsValid && this.isFormValid;
                if(!formIsValid){
                    alert('invalid form!');
                    this.isDisable = false;
                } else {
                    if(formName.id){
                        this.saveConfigMessage(formName, true);
                    }else{
                        this.saveConfigMessage(formName);
                    }
                    this.isDisable = false;
                    this.dialogSaveVisible = false;
                }
            },
            submitFormGood(formName = this.form){
                this.isDisable = true;
                if(this.form.nativeContent == '') {
                    this.isContentEmpty = true;
                }
                const formIsValid = this.nameIsValid && this.isFormValid;
                if(!formIsValid){
                    alert('invalid form!');
                    this.isDisable = false;
                } else {
                    if(formName.id){
                        this.saveConfigMessageGood(formName, true);
                    }else{
                        this.saveConfigMessageGood(formName);
                    }
                    this.isDisable = false;
                    this.dialogGoodVisible = false;
                }
            },
            saveConfigMessage(form, isUpdate = false) {
                let self = this;
                form.nativeContent = self.replaceAllContentToText($('#kh-sms').html())
                let urlSave = '';
                if(isUpdate == false) {
                    urlSave = urlDBD(API.smsConfigDisplayCreate);
                } else {
                    urlSave = urlDBD(API.smsConfigDisplayUpdate);
                }
                sendJson({
                    url : urlSave,
                    data : form,
                    async: false,
                    success : function () {
                        console.log('Created successfully!');
                        self.tableData = self.getConfigList();
                    },
                    functionIfError : function () {
                        console.log('Created failed!');
                    }
                })
            },
            saveConfigMessageGood(form, isUpdate = false) {
                let self = this;
                form.nativeContent = self.replaceAllContentToText($('#kh-sms-good').html())
                let urlSave = '';
                if(isUpdate == false) {
                    urlSave = urlDBD(API.smsConfigDisplayCreate);
                } else {
                    urlSave = urlDBD(API.smsConfigDisplayUpdate);
                }
                sendJson({
                    url : urlSave,
                    data : form,
                    async: false,
                    success : function () {
                        console.log('Created successfully!');
                        self.tableGoodData = self.getConfigGood();
                    },
                    functionIfError : function () {
                        console.log('Created failed!');
                    }
                })
            },
            getConfigList(page = 0, count = 50) {
                let self = this;
                let param = { page, count };
                let result = [];
                sendJson({
                    url : urlDBD(API.smsConfigDisplayList),
                    data : {
                        page: 0,
                        count: 50,
                    },
                    async : false,
                    success : function (res) {
                        $.each(res.results.listMessage, function (c, config) {
                            if (config.messageType != 9 && config.messageType < 1000000000){
                                result.push(config)
                            }
                        });
                        // $.each(self.result, function(key, val){
                        //     self.idDatve = val.id;
                        //     val.nativeContent = self.replaceAllContent(val.nativeContent);
                        //     console.log(val.nativeContent)
                        // });
                        // console.log(self.result)
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingSmsDisplay');
                    }
                });
                return result;
            },
            getConfigGood(page = 0, count = 50) {
                let self = this;
                let param = { page, count };
                let result = [];
                sendJson({
                    url : urlDBD(API.smsConfigDisplayList),
                    data : {
                        page: 0,
                        count: 50,
                    },
                    async : false,
                    success : function (res) {
                        $.each(res.results.listMessage, function (c, config) {
                            if (config.messageType == 9 || config.messageType > 1000000000){
                                result.push(config)
                            }
                        });
                        // $.each(self.result, function(key, val){
                        //     self.idDatve = val.id;
                        //     val.nativeContent = self.replaceAllContent(val.nativeContent);
                        //     console.log(val.nativeContent)
                        // });
                        // console.log(self.result)
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingSmsDisplay');
                    }
                });
                return result;
            },
            openDeleteDialog(id){
                this.dialogConfirmDelete = true;
                this.selectedItemId = id;
            },
            openDeleteDialogGood(id){
                this.dialogConfirmDeleteGood = true;
                this.selectedItemId = id;
            },
            handleDelete() {
                let self =  this;
                let id = self.selectedItemId;
                sendJson({
                    url : urlDBD(API.smsConfigDisplayDelete),
                    data: {id},
                    async: false,
                    success : function () {
                        console.log('Deleted successfully!');
                    },
                    functionIfError : function () {
                        console.log('Deleted failed!');
                    }
                })
                this.dialogConfirmDelete = false;
                this.tableData = this.getConfigList();
            },
            handleDeleteGood() {
                let self =  this;
                let id = self.selectedItemId;
                sendJson({
                    url : urlDBD(API.smsConfigDisplayDelete),
                    data: {id},
                    async: false,
                    success : function () {
                        console.log('Deleted successfully!');
                    },
                    functionIfError : function () {
                        console.log('Deleted failed!');
                    }
                })
                this.dialogConfirmDeleteGood = false;
                this.tableGoodData = this.getConfigGood();
            },
            pasteHtmlAtCaret: function(html){
                console.log('run')
                var sel, range;
                if (window.getSelection) {
                    sel = window.getSelection();
                    if (sel.getRangeAt && sel.rangeCount) {
                        range = sel.getRangeAt(0);
                        range.deleteContents();
                        var el = document.createElement("div");
                        el.innerHTML = html;
                        var frag = document.createDocumentFragment(), node, lastNode;
                        while ( (node = el.firstChild) ) {
                            lastNode = frag.appendChild(node);
                        }
                        range.insertNode(frag);
                        if (lastNode) {
                            range = range.cloneRange();
                            range.setStartAfter(lastNode);
                            range.collapse(true);
                            sel.removeAllRanges();
                            sel.addRange(range);
                        }
                    }
                } else if (document.selection && document.selection.type != "Control") {
                    document.selection.createRange().pasteHTML(html);
                }
            },
            replaceHtml: function(html){
                html = html.replace(/<(?:.|\n)*?>/gm, '');
                html = html.replace(/\r?\n|\r/gm," ");
                html = html.replace(/\s\s+/g, " ").trim();
                html = html.replaceAll('&nbsp;', " ");
                return html;
            },
            replaceContent: function(text, class1){
                return '<div contenteditable="false" class="tag_repo '+ class1 +'"><div class="tag_ct">' + text + '<span>x</span></div></div><div class="blank_10px"></div>';
            },
            replaceContentTb: function(text, class1){
                return '<div contenteditable="false" class="tag_repo '+ class1 +'"><div class="tag_ct">' + text + '</div></div><div class="blank_10px"></div>';
            },
            replaceAllContentTb: function(data){

                data = data.replaceAll('${routeName}', this.replaceContentTb('Tên tuyến', 'routeName'));
                data = data.replaceAll('${routeShortName}', this.replaceContentTb('Tên tuyến viết tắt', 'routeShortName'));
                data = data.replaceAll('${ticketCode}', this.replaceContentTb('Mã vé', 'ticketCode'));
                data = data.replaceAll('${listSeatId}', this.replaceContentTb('Danh sách ghế', 'listSeatId'));
                data = data.replaceAll('${getInTime}', this.replaceContentTb('Thời gian lên xe', 'getInTime'));
                data = data.replaceAll('${getInDate}', this.replaceContentTb('Ngày lên xe', 'getInDate'));
                data = data.replaceAll('${inPoint}', this.replaceContentTb('Điểm lên', 'inPoint'));
                data = data.replaceAll('${offPoint}', this.replaceContentTb('Điểm xuống', 'offPoint'));
                data = data.replaceAll('${ticketStatus}', this.replaceContentTb('Trạng thái vé', 'ticketStatus'));
                data = data.replaceAll('${phoneNumberCompany}', this.replaceContentTb('Sđt liên hệ của nhà xe', 'phoneNumberCompany'));
                data = data.replaceAll('${phoneNumberCustomer}', this.replaceContentTb('Sđt khách hàng', 'phoneNumberCustomer'));
                data = data.replaceAll('${emailCustomer}', this.replaceContentTb('Email khách hàng', 'emailCustomer'));
                data = data.replaceAll('${fullName}', this.replaceContentTb('Tên khách', 'fullName'));
                data = data.replaceAll('${website}', this.replaceContentTb('Website nhà xe', 'website'));
                data = data.replaceAll('${ticketPrice}', this.replaceContentTb('Giá vé', 'ticketPrice'));
                data = data.replaceAll('${transshipmentPrice}', this.replaceContentTb('Giá trung chuyển', 'transshipmentPrice'));
                data = data.replaceAll('${numberPlate}', this.replaceContentTb('Biển số xe', 'numberPlate'));
                data = data.replaceAll('${driverPhoneNumber}', this.replaceContentTb('Sđt lái phụ xe', 'driverPhoneNumber'));
                data = data.replaceAll('${feeCancelTicket}', this.replaceContentTb('Phí hủy vé', 'feeCancelTicket'));
                //good
                data = data.replaceAll('${goodsPackageCode}', this.replaceContentTb('Mã vận đơn', 'goodsPackageCode'));
                data = data.replaceAll('${goodsName}', this.replaceContentTb('Tên hàng', 'goodsName'));
                data = data.replaceAll('${goodsTypeName}', this.replaceContentTb('Loại hàng', 'goodsTypeName'));
                data = data.replaceAll('${pickPointName}', this.replaceContentTb('Bến lên', 'pickPointName'));
                data = data.replaceAll('${dropPointName}', this.replaceContentTb('Bến xuống', 'dropPointName'));
                data = data.replaceAll('${pickUpPoint}', this.replaceContentTb('Điểm lên', 'pickUpPoint'));
                data = data.replaceAll('${dropOffPoint}', this.replaceContentTb('Điểm xuống', 'dropOffPoint'));
                data = data.replaceAll('${sender}', this.replaceContentTb('Người gửi', 'sender'));
                data = data.replaceAll('${senderPhone}', this.replaceContentTb('Số điện thoại người gửi', 'senderPhone'));
                data = data.replaceAll('${receiver}', this.replaceContentTb('Người nhận', 'receiver'));
                data = data.replaceAll('${receiverPhone}', this.replaceContentTb('Số điện thoại người nhận', 'receiverPhone'));
                data = data.replaceAll('${price}', this.replaceContentTb('Cước phí', 'price'));
                data = data.replaceAll('${totalPrice}', this.replaceContentTb('Tổng tiền', 'totalPrice'));
                data = data.replaceAll('${unpaid}', this.replaceContentTb('Tiền chưa thanh toán', 'unpaid'));
                data = data.replaceAll('${paid}', this.replaceContentTb('Tiền đã thanh toán', 'paid'));
                data = data.replaceAll('${extraPrice}', this.replaceContentTb('Tiền thu thêm', 'extraPrice'));
                data = data.replaceAll('${extraPriceNote}', this.replaceContentTb('Lý do thu thêm', 'extraPriceNote'));
                data = data.replaceAll('${quantity}', this.replaceContentTb('Số lượng hàng', 'quantity'));
                data = data.replaceAll('${goodsValue}', this.replaceContentTb('Giá trị hàng', 'goodsValue'));
                data = data.replaceAll('${driverPhonenumber}', this.replaceContentTb('Số điện thoại tài xế', 'driverPhonenumber'));
                data = data.replaceAll('${vehiclePhonenumber}', this.replaceContentTb('Số điện thoại xe', 'vehiclePhonenumber'));
                data = data.replaceAll('${roomAddress}', this.replaceContentTb('Văn phòng đặt đơn', 'roomAddress'));
                data = data.replaceAll('${sendDate}', this.replaceContentTb('Ngày gửi', 'sendDate'));
                return data;
            },
            replaceAllContent: function(data){

                data = data.replaceAll('${routeName}', this.replaceContent('Tên tuyến', 'routeName'));
                data = data.replaceAll('${routeShortName}', this.replaceContent('Tên tuyến viết tắt', 'routeShortName'));
                data = data.replaceAll('${ticketCode}', this.replaceContent('Mã vé', 'ticketCode'));
                data = data.replaceAll('${listSeatId}', this.replaceContent('Danh sách ghế', 'listSeatId'));
                data = data.replaceAll('${getInTime}', this.replaceContent('Thời gian lên xe', 'getInTime'));
                data = data.replaceAll('${getInDate}', this.replaceContent('Ngày lên xe', 'getInDate'));
                data = data.replaceAll('${inPoint}', this.replaceContent('Điểm lên', 'inPoint'));
                data = data.replaceAll('${offPoint}', this.replaceContent('Điểm xuống', 'offPoint'));
                data = data.replaceAll('${ticketStatus}', this.replaceContent('Trạng thái vé', 'ticketStatus'));
                data = data.replaceAll('${phoneNumberCompany}', this.replaceContent('Sđt liên hệ của nhà xe', 'phoneNumberCompany'));
                data = data.replaceAll('${phoneNumberCustomer}', this.replaceContent('Sđt khách hàng', 'phoneNumberCustomer'));
                data = data.replaceAll('${emailCustomer}', this.replaceContent('Email khách hàng', 'emailCustomer'));
                data = data.replaceAll('${fullName}', this.replaceContent('Tên khách', 'fullName'));
                data = data.replaceAll('${website}', this.replaceContent('Website nhà xe', 'website'));
                data = data.replaceAll('${ticketPrice}', this.replaceContent('Giá vé', 'ticketPrice'));
                data = data.replaceAll('${transshipmentPrice}', this.replaceContent('Giá trung chuyển', 'transshipmentPrice'));
                data = data.replaceAll('${numberPlate}', this.replaceContent('Biển số xe', 'numberPlate'));
                data = data.replaceAll('${driverPhoneNumber}', this.replaceContent('Sđt lái phụ xe', 'driverPhoneNumber'));
                data = data.replaceAll('${feeCancelTicket}', this.replaceContent('Phí hủy vé', 'feeCancelTicket'));
                //good
                data = data.replaceAll('${goodsPackageCode}', this.replaceContent('Mã vận đơn', 'goodsPackageCode'));
                data = data.replaceAll('${goodsName}', this.replaceContent('Tên hàng', 'goodsName'));
                data = data.replaceAll('${goodsTypeName}', this.replaceContent('Loại hàng', 'goodsTypeName'));

                data = data.replaceAll('${pickPointName}', this.replaceContent('Bến lên', 'pickPointName'));
                data = data.replaceAll('${dropPointName}', this.replaceContent('Bến xuống', 'dropPointName'));
                data = data.replaceAll('${pickUpPoint}', this.replaceContent('Điểm lên', 'pickUpPoint'));
                data = data.replaceAll('${dropOffPoint}', this.replaceContent('Điểm xuống', 'dropOffPoint'));

                data = data.replaceAll('${sender}', this.replaceContent('Người gửi', 'sender'));
                data = data.replaceAll('${senderPhone}', this.replaceContent('Số điện thoại người gửi', 'senderPhone'));
                data = data.replaceAll('${receiver}', this.replaceContent('Người nhận', 'receiver'));
                data = data.replaceAll('${receiverPhone}', this.replaceContent('Số điện thoại người nhận', 'receiverPhone'));
                data = data.replaceAll('${price}', this.replaceContent('Cước phí', 'price'));
                data = data.replaceAll('${totalPrice}', this.replaceContent('Tổng tiền', 'totalPrice'));
                data = data.replaceAll('${unpaid}', this.replaceContent('Tiền chưa thanh toán', 'unpaid'));
                data = data.replaceAll('${paid}', this.replaceContent('Tiền đã thanh toán', 'paid'));
                data = data.replaceAll('${extraPrice}', this.replaceContent('Tiền thu thêm', 'extraPrice'));
                data = data.replaceAll('${extraPriceNote}', this.replaceContent('Lý do thu thêm', 'extraPriceNote'));
                data = data.replaceAll('${quantity}', this.replaceContent('Số lượng hàng', 'quantity'));
                data = data.replaceAll('${goodsValue}', this.replaceContent('Giá trị hàng', 'goodsValue'));
                data = data.replaceAll('${driverPhonenumber}', this.replaceContent('Số điện thoại tài xế', 'driverPhonenumber'));
                data = data.replaceAll('${vehiclePhonenumber}', this.replaceContent('Số điện thoại xe', 'vehiclePhonenumber'));
                data = data.replaceAll('${roomAddress}', this.replaceContent('Văn phòng đặt đơn', 'roomAddress'));
                data = data.replaceAll('${sendDate}', this.replaceContent('Ngày gửi', 'sendDate'));
                return data;
                
            },

            replaceAllContentToText: function(data){
                let $data = $('<div />',{html:data});
                let dataNew = '';
                dataNew = $data.find('.routeName').replaceWith('${routeName}');
                dataNew = $data.find('.routeShortName').replaceWith('${routeShortName}');
                dataNew = $data.find('.ticketCode').replaceWith('${ticketCode}');
                dataNew = $data.find('.listSeatId').replaceWith('${listSeatId}');
                dataNew = $data.find('.inPoint').replaceWith('${inPoint}');
                dataNew = $data.find('.offPoint').replaceWith('${offPoint}');
                dataNew = $data.find('.ticketStatus').replaceWith('${ticketStatus}');
                dataNew = $data.find('.phoneNumberCompany').replaceWith('${phoneNumberCompany}');
                dataNew = $data.find('.phoneNumberCustomer').replaceWith('${phoneNumberCustomer}');
                dataNew = $data.find('.emailCustomer').replaceWith('${emailCustomer}');
                dataNew = $data.find('.website').replaceWith('${website}');
                dataNew = $data.find('.ticketPrice').replaceWith('${ticketPrice}');
                dataNew = $data.find('.transshipmentPrice').replaceWith('${transshipmentPrice}');
                dataNew = $data.find('.numberPlate').replaceWith('${numberPlate}');
                dataNew = $data.find('.driverPhoneNumber').replaceWith('${driverPhoneNumber}');
                dataNew = $data.find('.feeCancelTicket').replaceWith('${feeCancelTicket}');
                dataNew = $data.find('.getInTime').replaceWith('${getInTime}');
                dataNew = $data.find('.getInDate').replaceWith('${getInDate}');
                dataNew = $data.find('.fullName').replaceWith('${fullName}');

                //good
                dataNew = $data.find('.goodsPackageCode').replaceWith('${goodsPackageCode}');
                dataNew = $data.find('.goodsName').replaceWith('${goodsName}');
                dataNew = $data.find('.goodsTypeName').replaceWith('${goodsTypeName}');
                dataNew = $data.find('.pickPointName').replaceWith('${pickPointName}');
                dataNew = $data.find('.dropPointName').replaceWith('${dropPointName}');
                dataNew = $data.find('.pickUpPoint').replaceWith('${pickUpPoint}');
                dataNew = $data.find('.dropOffPoint').replaceWith('${dropOffPoint}');
                dataNew = $data.find('.sender').replaceWith('${sender}');
                dataNew = $data.find('.senderPhone').replaceWith('${senderPhone}');
                dataNew = $data.find('.receiver').replaceWith('${receiver}');
                dataNew = $data.find('.receiverPhone').replaceWith('${receiverPhone}');
                dataNew = $data.find('.price').replaceWith('${price}');
                dataNew = $data.find('.totalPrice').replaceWith('${totalPrice}');
                dataNew = $data.find('.unpaid').replaceWith('${unpaid}');
                dataNew = $data.find('.paid').replaceWith('${paid}');
                dataNew = $data.find('.extraPrice').replaceWith('{$extraPrice}');
                dataNew = $data.find('.extraPriceNote').replaceWith('{$extraPriceNote}');
                dataNew = $data.find('.quantity').replaceWith('${quantity}');
                dataNew = $data.find('.goodsValue').replaceWith('${goodsValue}');
                dataNew = $data.find('.driverPhonenumber').replaceWith('${driverPhonenumber}');
                dataNew = $data.find('.vehiclePhonenumber').replaceWith('${vehiclePhonenumber}');
                dataNew = $data.find('.roomAddress').replaceWith('${roomAddress}');
                dataNew = $data.find('.sendDate').replaceWith('${sendDate}');

                dataNew = $data.html();
                dataNew = this.replaceHtml(dataNew);
                return dataNew;
            },    

            changeDataSelect: function(id){

                document.getElementById(id).focus();
                let listField = {
                    'routeName': 'Tên tuyến',
                    'routeShortName' : 'Tên tuyến viết tắt',
                    'ticketCode' : 'Mã vé',
                    'listSeatId' : 'Danh sách ghế',
                    'getInTime' : 'Thời gian lên xe',
                    'getInDate' : 'Ngày lên xe',
                    'inPoint' : 'Điểm lên',
                    'offPoint' : 'Điểm xuống',
                    'ticketStatus' : 'Trạng thái vé',
                    'phoneNumberCompany' : 'Sđt liên hệ của nhà xe',
                    'phoneNumberCustomer' : 'Sđt khách hàng',
                    'emailCustomer' : 'Email khách hàng',
                    'fullName' : 'Tên khách',
                    'website' : 'Website nhà xe',
                    'ticketPrice' : 'Giá vé',
                    'transshipmentPrice' : 'Giá trung chuyển',
                    'numberPlate' : 'Biển số xe',
                    'driverPhoneNumber' : 'Sđt lái phụ xe',
                    'feeCancelTicket' : 'Phí hủy vé',
                    //good
                    'goodsPackageCode' : 'Mã vận đơn',
                    'goodsName': 'Tên hàng',
                    'goodsTypeName': 'Loại hàng',
                    'pickPointName': 'Bến lên',
                    'dropPointName': 'Bến xuống',
                    'pickUpPoint': 'Điểm lên',
                    'dropOffPoint': 'Điểm xuống',
                    'sender': 'Người gửi',
                    'senderPhone': 'Số điện thoại người gửi',
                    'receiver': 'Người nhận',
                    'receiverPhone': 'Số điện thoại người nhận',
                    'price': 'Cước phí',
                    'totalPrice': 'Tổng tiền',
                    'unpaid': 'Tiền chưa thanh toán',
                    'paid': 'Tiền đã thanh toán',
                    'extraPrice': 'Tiền thu thêm',
                    'extraPriceNote': 'Lý do thu thêm',
                    'quantity':'Số lượng hàng',
                    'goodsValue':'Giá trị hàng',
                    'driverPhonenumber':'Số điện thoại tài xế',
                    'vehiclePhonenumber':'Số điện thoại xe',
                    'roomAddress':'Văn phòng đặt đơn',
                    'sendDate': 'Ngày gửi',};

                let addText = '';
                if(this.dataSelect){
                    addText = this.replaceContent( listField[this.dataSelect], this.dataSelect );
                }
                this.pasteHtmlAtCaret(addText);
                this.dataSelect = null;        
            },
            saveSetting : function (type){
                let self = this;
                let content = '';
                let name = '';
                let messageType = '';
                let id = null;
                self.load('getSettingSmsDisplayAdd');

                // let listId = [self.idDatve, self.idNhaxe, self.idThongbao, self.idHuyve];
                // $.each(listId, function(key,val){
                if(type == 1){
                    content = self.replaceAllContentToText($('#kh-datve').html());
                    name = self.nameDatve;
                    messageType = 1;
                    id = self.idDatve;
                }
                if(type == 2){
                    content = self.replaceAllContentToText($('#nhaxe').html());
                    name = self.nameNhaxe;
                    messageType = 2;
                    id = self.idNhaxe;
                }
                if(type == 3){
                    content = self.replaceAllContentToText($('#thongbao').html());
                    name = self.nameThongbao;
                    messageType = 3;
                    id = self.idThongbao;
                }
                if(type == 4){
                    content = self.replaceAllContentToText($('#kh-huyve').html());
                    name = self.nameHuyve;
                    messageType = 6;
                    id = self.idHuyve;
                }
                if(type == 5){
                    content = self.replaceAllContentToText($('#kh-datve-thanhcong').html());
                    name = self.nameDatveThanhCong;
                    messageType = 10;
                    id = self.idDatveThanhCong;
                }
                let url = '';
                let data = {};
                if(id.length > 0){
                    url = urlDBD(API.smsConfigDisplayUpdate);
                    data = {
                        nativeContent : content,
                        id: id,
                    }
                }else{
                    url = urlDBD(API.smsConfigDisplayCreate);
                    data = {
                        messageType : messageType,
                        nativeContent : content,
                        name: name,
                    }
                }
                sendJson({
                    url : url,
                    data : data,
                    success : function (res) {
                        notify("Cập nhật cấu hình thành công ","success");
                        self.unload('getSettingSmsDisplayAdd');
                    },
                    error : function(res){
                        notify(res.responseJSON.results.error.message,"error");
                        self.unload('getSettingSmsDisplayAdd');

                    }
                })
                // });
            },
            getConfig : function () {
                let self = this;
                self.load('getSettingSmsDisplay');
                sendJson({
                    url : urlDBD(API.smsConfigDisplayList),
                    data : {
                        page: 0,
                        count: 50,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.listMessage){
                            $.each(res.results.listMessage, function(key, val){
                                if(val.messageType == 1){
                                    self.idDatve = val.id;
                                    $(self.$el).find('#kh-datve').html(self.replaceAllContent(val.nativeContent));
                                }
                                if(val.messageType == 2){
                                    self.idNhaxe = val.id;
                                    $(self.$el).find('#nhaxe').html(self.replaceAllContent(val.nativeContent));
                                }
                                if(val.messageType == 3){
                                    self.idThongbao = val.id;
                                    $(self.$el).find('#thongbao').html(self.replaceAllContent(val.nativeContent));
                                }
                                if(val.messageType == 6){
                                    self.idHuyve = val.id;
                                    $(self.$el).find('#kh-huyve').html(self.replaceAllContent(val.nativeContent));
                                }
                                if(val.messageType == 10){
                                    self.idDatveThanhCong = val.id;
                                    $(self.$el).find('#kh-datve-thanhcong').html(self.replaceAllContent(val.nativeContent));
                                }
                            });
                        }
                        self.unload('getSettingSmsDisplay');
                    },
                    functionIfError : function (res) {
                        self.unload('getSettingSmsDisplay');
                    }
                })
            },
        },
    }
</script>
<style type="text/css">
    .SmsConfigDisplay a.cke_combo_button{
        background: white;
        border: 1px solid #ddd;
        padding: 0;
    }
    .SmsConfigDisplay .cke_combo_text{
        width: 140px !important;
    }
    .SmsConfigDisplay .cke_combo_open{
        margin: 1px -10px 1px !important;
    }
    .SmsConfigDisplay h5{
    }
    .SmsConfigDisplay .cke_bottom{
        display: none;
    }
    .SmsConfigDisplay li.nav-item a.active{
        border: none;
        background: #3490dc;
        color: white;
        height: 100%;
    }
    .SmsConfigDisplay li.nav-item a{
        padding-left: 28px;
        padding-right: 28px;
        border: 1px solid #ddd;
        margin-right: 5px;
        background: white;
    }
    .SmsConfigDisplay ul.nav-tabs{
        margin-top: 20px;
    }
    #edit{
        height: 100px;
        width: 100%;
        border: 1px solid #ddd;
    }
    #danhchokhachhang .card{
        margin-top: 5px;
    }
    body .sms-text{
    }
    .groupText {
        position: relative;
    }
    .groupText .sms-content{
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 4px;
        background: white;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .tag_ct {
        border: 1px solid #3490dc;
        color: #3490dc;
        padding: 0px 5px;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 8px;
        margin-left: 5px;
    }
    .tag_ct span{
        cursor: pointer;
        display: inline-block;
        margin-left: 8px;
    }
    .sms-content{
        min-height: 100px;
        width: 100%;
    }
    .sms-content font{
        color: #333 !important;
    }
    .blank_10px{
        min-width: 5px;
        height: 15px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .tag_repo{
        display: inline-block;
    }
    .SmsConfigDisplay .card .card-header h3.card-link {
        cursor: pointer;
        margin-bottom: 0px;
        font-size: 18px;
        padding: 8px 20px;
    }
    .SmsConfigDisplay .card .card-header{
        padding: 0px;
    }
    .SmsConfigDisplay .card .card-header .card-link i{
        float: right;
        transition:0.5s;
    }
    .SmsConfigDisplay .card .card-header .card-link.collapsed i{
        transition:0.5s;
        transform:rotate(180deg);
    }
    .SmsConfigDisplay .card .card-header h3.card-link i{
        font-size: 14px;
        top: 3px;
        position: relative;
    }
</style>