<template>
    <div class="row">
        <div class="col-12 title">
            <span class="text-uppercase">{{$t('menu.agency-policy')}}</span>
            <span class="pull-right"></span>
        </div>
        <div class=" col-12">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-4">
                    <template v-for="(policy, index) in policyAgency">
                        <div class="card top5">
                            <div class="card-body">
                                <h5 class="card-title cursor-pointer" @click="policy.show = !policy.show"><i :class="[policy.show?'fa fa-caret-down':'fa fa-caret-right']"></i> {{ policy.routeName}}</h5>
                                <div v-if="policy.show">
                                    <div class="w-100">
                                        <div class="form-group">
                                            <label class="font-weight-normal">{{$t('day-applied')}}</label>
                                            <datepicker v-model="policy.applyDateStr"></datepicker>
                                        </div>
                                        <template v-for="(com,c) in policy.commission">
                                            <div class="form-group" :key="c">
                                                <label class="font-weight-normal">{{$t('level')}} {{com.level}}</label>
                                                <div class="input-group">
                                                    <input-number class="form-control" v-model="com.commissionValue"></input-number>
                                                    <div class="input-group-append">
                                                        <select class="form-control" v-model="com.commissionType">
                                                            <option :value="1">VND</option>
                                                            <option :value="2">%</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </template>
                                    </div>
                                    <button class="btn btn-primary float-right" :readonly="policy.loading" @click="save(index)"><i :class="[policy.loading? 'spinner-border text-danger spinner-border-sm': (policy.policyId?'fa fa-edit':'fa fa-plus')]" role="status"></i> {{$t('button.save')}}</button>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                policyAgency : [],
                levelOfAgency : [],
                page: 0,
                count: 100,
            }
        },
        mounted : function(){
            this.getLevelOfAgency();
        },
        methods: {
            getLevelOfAgency : function () {
                let self = this;
                self.load('getLevelOfAgency');
                let dataReq = {
                    page : 0,
                    count : 50,
                };
                sendJson({
                    url : urlDBD(API.levelAgencyList),
                    data : dataReq,
                    success : function (data) {
                        self.levelOfAgency = data.results.listLevelOfAgency;
                        self.getPolicyAgency();
                        self.unload('getLevelOfAgency');
                    },
                    functionIfError : function (data) {
                        self.unload('getLevelOfAgency');
                    }
                });
            },
            getPolicyAgency : function () {
                let self = this;
                let dataSend = {
                    page :self.page,
                    count:self.count,
                };
                self.load('getRoutes');
                sendJson({
                    url : urlDBD(API.policyAgencyList),
                    data : dataSend,
                    success: function (data) {
                        self.makePolicyAgency(data.results.listAgencyPolicy);
                        self.unload('getRoutes');
                    },
                    functionIfError : function (res) {
                        self.unload('getRoutes');
                    }
                })
            },
            makePolicyAgency : function(listPolicy){
                let self = this;
                let policys = [];
                $.each(listPolicy,function (p,policy) {
                    let policyRoute = {
                        policyId : policy.policyId||null,
                        routeId : p,
                        routeName : policy.routeName,
                        show : false,
                        loading : false,
                    };

                    policyRoute.applyDate = policy.applyDate;
                    policyRoute.applyDateStr = new Date(policy.applyDate).customFormat('#DD#-#MM#-#YYYY#');
                    if(!policy.applyDate){
                        policyRoute.applyDate = new Date().getTime();
                        policyRoute.applyDateStr = new Date().customFormat('#DD#-#MM#-#YYYY#');
                    }
                    if(policy.policyId){
                        policyRoute.policyId = policy.policyId;
                    }

                    let commissionByLevel = [];
                    $.each(self.levelOfAgency,function (l,level) {
                        let commission={
                            level : level.level,
                            commissionType : 1,
                            commissionValue : 0,
                        };
                        if(policy.commission){
                            $.each(policy.commission,function (c,com) {
                                if(level.level === com.level){
                                    commission.commissionType = com.commissionType;
                                    commission.commissionValue = com.commissionType==1?com.commissionValue:com.commissionValue*100;
                                }
                            })
                        }
                        commissionByLevel.push(commission);
                    });
                    policyRoute.commission = commissionByLevel;

                    policys.push(policyRoute);
                });
                self.policyAgency  = policys;
            },
            save : function(index){
                let self = this;
                let policy = _.cloneDeep(self.policyAgency[index]);
                if(!policy.applyDate){
                    notify("Vui lòng chọn ngày",'error');
                    return false;
                }
                let commission = [];
                $.each(policy.commission,function (c,com) {
                    let dataCom = {
                        level : com.level,
                        commissionType : com.commissionType,
                        commissionValue : com.commissionValue,
                    }
                    if(com.commissionType ==2){
                        dataCom.commissionValue = Math.round(com.commissionValue*100)/10000;
                    }
                    commission.push(dataCom);
                });
                let dataSend = {
                    applyDate: func.dateToMS(policy.applyDateStr),
                    routeId : policy.routeId,
                    commission :commission
                }
                if(policy.policyId){
                    dataSend.policyId = policy.policyId;
                }
                self.policyAgency[index].loading=true;
                sendJson({
                    url : policy.policyId ? urlDBD(API.policyAgencyUpdate) : urlDBD(API.policyAgencyCreate),
                    data: dataSend,
                    success : function (data) {
                        notify("Lưu thành công","success");
                        self.policyAgency[index].policyId=data.results.agencyPricePolicy.policyId;
                        self.policyAgency[index].applyDate=data.results.agencyPricePolicy.applyDate;
                        self.policyAgency[index].loading=false;
                    },
                    functionIfError : function (err) {
                        self.policyAgency[index].loading=false;
                    }
                })
            },
        },
    }
</script>

<style type="text/css" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>

