<template>
  <div>
    <div class="row">
      <div class="col-12 text-right top10 bottom20" style="margin-top: 15px">
        <button class="btn btn-sm btn-outline-primary" @click="getGoodsInTrip()">
          <i class="fa fa-refresh"></i>
          {{$t('button.refresh')}}
        </button>
        <!--<button class="btn btn-sm btn-outline-primary" @click="$refs.AddUpdateGoodsComponent.open()"><i class="fa fa-plus-circle"></i> {{$t('button.send-new-items')}}</button>-->
        <button class="btn btn-sm btn-outline-primary" @click="$refs.AddListGoodsComponent.open()">
          <i class="fa fa-plus"></i>
          {{$t('button.send-new-items')}}
        </button>
        <button class="btn btn-sm btn-outline-primary" @click="printTableGoodsWithPoint()">
          <i class="fa fa-print"></i>
          {{$t('button.print-by-point')}}
        </button>
        <button class="btn btn-sm btn-outline-primary" @click="printTableGoods()">
          <i class="fa fa-print"></i>
          {{$t('button.print')}}
        </button>
      </div>
    </div>
    <div class="row goodsInTrip">
      <div class="col-12">
        <h4 class="text-center">{{$t('goods-shipping-order')}}</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div
            class="col-12 col-md-4"
          >{{$t('date')}} : {{ trip.date|strToDate()}} {{trip.startTime|customDate('#hhhh#:#mm#',true) }}</div>
          <div class="col-12 col-md-4">{{$t('filter.vehicle')}} : {{ trip.vehicle.numberPlate }}</div>
          <div class="col-12 col-md-4">{{$t('menu.route')}} : {{ trip.route.name }}</div>
        </div>
      </div>
      <div class="col-12">
        <table class="table table-striped table-sm table-bordered-dark table-respon">
          <thead>
            <tr class="text-center">
              <th>{{$t('No-')}}</th>
              <th>{{$t('barcode')}}</th>
              <th>{{$t('item-name')}}</th>
              <th v-if="!checkHideConfig('quantity')">{{$t('quantity')}}</th>
              <th v-if="!checkHideConfig('totalPrice')">{{$t('charge')}}</th>
              <th v-if="!checkHideConfig('paid')">{{$t('received')}}</th>
              <th v-if="!checkHideConfig('unpaid')">{{$t('not-receive')}}</th>
              <th v-if="!checkHideConfig('senderPhone')">{{$t('senders')}}</th>
              <th v-if="!checkHideConfig('receiverPhone')">{{$t('receiver')}}</th>
              <th v-if="!checkHideConfig('updateUserInfoTimeline')">{{$t('staff-received')}}</th>
              <th v-if="!checkHideConfig('pickUpPoint')">{{$t('point-up')}}</th>
              <th v-if="!checkHideConfig('dropOffPoint')">{{$t('point-down')}}</th>
              <th v-if="!checkHideConfig('notice')">{{$t('note')}}</th>
              <th class="no-print-this"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-show="goodsList.list.length <=0 && goodsList.list2.length <=0">
              <td colspan="14" class="text-center">{{$t('no-data-available')}}</td>
            </tr>
            <template v-for="(item,v) in this.route.listPoint">
              <template v-if="goodsList.list[v]">
                <tr class="font-weight-bold" :key="v">
                  <td colspan="3">{{ item.name }}</td>
                  <td v-if="!checkHideConfig('quantity')" class="text-right"></td>
                  <td v-if="!checkHideConfig('totalPrice')" class="text-right"></td>
                  <td v-if="!checkHideConfig('paid')" class="text-right"></td>
                  <td v-if="!checkHideConfig('unpaid')" class="text-right"></td>
                  <td v-if="!checkHideConfig('senderPhone')"></td>
                  <td v-if="!checkHideConfig('receiverPhone')"></td>
                  <td v-if="!checkHideConfig('updateUserInfoTimeline')"></td>
                  <td v-if="!checkHideConfig('pickUpPoint')"></td>
                  <td v-if="!checkHideConfig('dropOffPoint')"></td>
                  <td v-if="!checkHideConfig('notice')"></td>
                  <td class="no-print-this"></td>
                </tr>
                <template v-for="(p,k) in goodsList.list[v]">
                  <tr>
                    <td class="text-center">{{ k + 1 }}</td>
                    <td>{{ p.code }}</td>
                    <td>
                      <template v-for="item in p.details">
                        {{ item.name }}
                        <br />
                      </template>
                    </td>
                    <td v-if="!checkHideConfig('quantity')" class="text-right">
                      <template v-for="item in p.details">
                        {{ item.quantity|number }}
                        <br />
                      </template>
                    </td>
                    <td v-if="!checkHideConfig('totalPrice')" class="text-right">{{ p.totalFee|number }}</td>
                    <td v-if="!checkHideConfig('paid')" class="text-right">{{ p.paid|number }}</td>
                    <td v-if="!checkHideConfig('unpaid')" class="text-right">{{ p.totalFee - p.paid|number }}</td>
                    <td v-if="!checkHideConfig('senderPhone')">
                      {{ p.sender.name }}
                      <br />
                      {{ p.sender.phoneNumber|phoneNumber }}
                    </td>
                    <td v-if="!checkHideConfig('receiverPhone')">
                      {{ p.receiver.name }}
                      <br />
                      {{ p.receiver.phoneNumber|phoneNumber }}
                    </td>
                    <td v-if="!checkHideConfig('updateUserInfoTimeline')">
                      {{ p.createdUser ? p.createdUser.fullName:'' }}
                      <br />
                      {{ p.createdUser ? p.createdUser.birthday:'' }}
                    </td>
                    <td v-if="!checkHideConfig('pickUpPoint')">{{ p.receivedPoint ? p.receivedPoint.address : '' }}</td>
                    <td v-if="!checkHideConfig('dropOffPoint')">{{ p.deliveryPoint ? p.deliveryPoint.address : '' }}</td>
                    <td v-if="!checkHideConfig('notice')">{{ p.note }}</td>
                    <td class="no-print-this">
                      <button
                        class="btn btn-sm btn-primary"
                        title="Sửa"
                        @click="$refs.AddUpdateGoodsComponent.open(p)"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn btn-sm btn-danger" title="Xóa" @click="deleteGoods()">
                        <i class="fa fa-trash"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-primary"
                        title="Lịch sử"
                        @click="showGoodsHistory(p.id)"
                      >
                        <i class="el-icon-date"></i>
                      </button>
                    </td>
                  </tr>
                </template>
              </template>
            </template>
            <tr class="font-weight-bold" v-if="goodsList.list2.length > 0">
              <td colspan="3">{{$t('goods-not-belong-to-cargo-wharf')}}</td>
              <td v-if="!checkHideConfig('quantity')" class="text-right"></td>
              <td v-if="!checkHideConfig('totalPrice')" class="text-right"></td>
              <td v-if="!checkHideConfig('paid')" class="text-right"></td>
              <td v-if="!checkHideConfig('unpaid')" class="text-right"></td>
              <td v-if="!checkHideConfig('senderPhone')"></td>
              <td v-if="!checkHideConfig('receiverPhone')"></td>
              <td v-if="!checkHideConfig('updateUserInfoTimeline')"></td>
              <td v-if="!checkHideConfig('pickUpPoint')"></td>
              <td v-if="!checkHideConfig('dropOffPoint')"></td>
              <td v-if="!checkHideConfig('notice')"></td>
              <td class="no-print-this"></td>
            </tr>
            <template v-for="(p,k) in goodsList.list2">
              <tr>
                <td class="text-center">{{ k + 1 }}</td>
                <td>{{ p.code }}</td>
                <td>
                  <template v-for="item in p.details">
                    {{ item.name }}
                    <br />
                  </template>
                </td>
                <td v-if="!checkHideConfig('quantity')" class="text-right">
                  <template v-for="item in p.details">
                    {{ item.quantity|number }}
                    <br />
                  </template>
                </td>
                <td v-if="!checkHideConfig('totalPrice')" class="text-right">{{ p.totalFee|number }}</td>
                <td v-if="!checkHideConfig('paid')" class="text-right">{{ p.paid|number }}</td>
                <td v-if="!checkHideConfig('unpaid')" class="text-right">{{ p.totalFee - p.paid|number }}</td>
                <td v-if="!checkHideConfig('senderPhone')">
                  {{ p.sender.name }}
                  <br />
                  {{ p.sender.phoneNumber|phoneNumber }}
                </td>
                <td v-if="!checkHideConfig('receiverPhone')">
                  {{ p.receiver.name }}
                  <br />
                  {{ p.receiver.phoneNumber|phoneNumber }}
                </td>
                <td v-if="!checkHideConfig('updateUserInfoTimeline')">
                  {{ p.createdUser ? p.createdUser.fullName:'' }}
                  <br />
                  {{ p.createdUser ? p.createdUser.birthday:'' }}
                </td>
                <td v-if="!checkHideConfig('pickUpPoint')">{{ p.receivedPoint ? p.receivedPoint.address : '' }}</td>
                <td v-if="!checkHideConfig('dropOffPoint')">{{ p.deliveryPoint ? p.deliveryPoint.address : '' }}</td>
                <td v-if="!checkHideConfig('notice')">{{ p.note }}</td>
                <td class="no-print-this">
                  <button
                    class="btn btn-sm btn-primary"
                    title="Sửa"
                    @click="$refs.AddUpdateGoodsComponent.open(p)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-danger" title="Xóa" @click="deleteGoods()">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-primary"
                    title="Lịch sử"
                    @click="showGoodsHistory(p.id)"
                  >
                    <i class="el-icon-date"></i>
                  </button>
                </td>
              </tr>
            </template>

            <tr
              class="font-weight-bold"
              v-if="goodsList.list2.length > 0 | goodsList.list.length > 0"
            >
              <td colspan="3">{{$t('total')}}</td>
              <td v-if="!checkHideConfig('quantity')" class="text-right">{{ totalGood()|number }}</td>
              <td v-if="!checkHideConfig('totalPrice')" class="text-right">{{ totalMoney()|number }}</td>
              <td v-if="!checkHideConfig('paid')" class="text-right">{{ totalMoneyPaid()|number }}</td>
              <td v-if="!checkHideConfig('unpaid')" class="text-right">{{ totalMoneyUnCollect()|number }}</td>
              <td v-if="!checkHideConfig('senderPhone')"></td>
              <td v-if="!checkHideConfig('receiverPhone')"></td>
              <td v-if="!checkHideConfig('updateUserInfoTimeline')"></td>
              <td v-if="!checkHideConfig('pickUpPoint')"></td>
              <td v-if="!checkHideConfig('dropOffPoint')"></td>
              <td v-if="!checkHideConfig('notice')"></td>
              <td class="no-print-this"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <add-update-goods ref="AddUpdateGoodsComponent" :trip="trip" v-on:load="getGoodsInTrip"></add-update-goods>
    <add-list-goods ref="AddListGoodsComponent" :trip="trip" v-on:load="getGoodsInTrip"></add-list-goods>
    <goods-history ref="GoodsHistoryComponent"></goods-history>
  </div>
</template>
<script>
import { Goods, GoodsList } from "../../class/goods_v2";
import AddUpdateGoods from "../Goods02/EditGoods";
import AddListGoods from "../Goods02/AddGood";
import GoodsHistory from "../Goods/GoodsHistory";
import {mapState} from "vuex";

export default {
  components: { AddUpdateGoods, AddListGoods, GoodsHistory },
  props: {
    trip: {
      type: Object,
      required: true
    },
    route: {
      type: Object,
      required: true
    }
  },
  data: function() {
    return {
      count: 0,
      goodsList: new GoodsList(),
      good: new Goods(),
      goodsInDropPoints: [],
      goodsNotDropPoints: {
        goodsList: [],
        totalPrice: 0,
        paid: 0,
        unpaid: 0,
        quantity: 0
      },
      total: {
        totalPrice: 0,
        paid: 0,
        unpaid: 0,
        quantity: 0
      }
    };
  },
  mounted: function() {
    this.goodsInDropPoints = _.cloneDeep(this.route.listPoint);
    this.getGoodsInTrip();
  },
  computed: {
    ...mapState({
      companyConfigData: state => state.CompanyConfig.companyConfigData,
      companyConfig: state => state.CompanyConfig.companyConfig
    })
  },
  methods: {
    showGoodsHistory: function(goodId) {
      this.$refs.GoodsHistoryComponent.showGoodsHistory(goodId);
    },
    checkHideConfig: function(field = "") {
      let self = this;
      if (
        self.companyConfig.CONFIG.HIDE_FIELD_IN_GOOD_IN_TRIP.value.includes(
          field
        )
      ) {
        return true;
      } else {
        return false;
      }
    },
    totalMoney: function() {
      let a = 0;
      if (this.route.listPoint && this.route.listPoint.length !== undefined) {
        for (let i = 0; i < this.route.listPoint.length; i++) {
          if (
            this.goodsList.list[i] &&
            this.goodsList.list[i].length !== undefined
          ) {
            for (let j = 0; j < this.goodsList.list[i].length; j++) {
              a += this.goodsList.list[i][j].totalFee;
            }
          }
        }
      }
      return a;
    },
    totalMoneyPaid: function() {
      let a = 0;
      if (this.route.listPoint && this.route.listPoint.length !== undefined) {
        for (let i = 0; i < this.route.listPoint.length; i++) {
          if (
            this.goodsList.list[i] &&
            this.goodsList.list[i].length !== undefined
          ) {
            for (let j = 0; j < this.goodsList.list[i].length; j++) {
              a += this.goodsList.list[i][j].paid;
            }
          }
        }
      }
      return a;
    },
    totalMoneyUnCollect: function() {
      let a = 0;
      if (this.route.listPoint && this.route.listPoint.length !== undefined) {
        for (let i = 0; i < this.route.listPoint.length; i++) {
          if (
            this.goodsList.list[i] &&
            this.goodsList.list[i].length !== undefined
          ) {
            for (let j = 0; j < this.goodsList.list[i].length; j++) {
              a +=
                this.goodsList.list[i][j].totalFee -
                this.goodsList.list[i][j].paid;
            }
          }
        }
      }
      return a;
    },
    totalGood: function() {
      let a = 0;
      if (this.route.listPoint && this.route.listPoint.length !== undefined) {
        for (let i = 0; i < this.route.listPoint.length; i++) {
          if (
            this.goodsList.list[i] &&
            this.goodsList.list[i].length !== undefined
          ) {
            for (let j = 0; j < this.goodsList.list[i].length; j++) {
              if (
                this.goodsList.list[i][j].details &&
                this.goodsList.list[i][j].details.length !== undefined
              )
                for (
                  let k = 0;
                  k < this.goodsList.list[i][j].details.length;
                  k++
                )
                  a += this.goodsList.list[i][j].details[k].quantity;
            }
          }
        }
      }
      return a;
    },
    deleteGoods: function(row) {
      let self = this;
      self.good.callDeleteGoods(row);
    },
    AddUpdateGoodsEvent: function(data) {
      let self = this;
      switch (data.eventName) {
        case "saveSuccess":
          self.getGoodsInTrip();
          break;
      }
    },
    AddListGoodsEvent: function(data) {
      let self = this;
      switch (data.eventName) {
        case "saveSuccess":
          self.getGoodsInTrip();
          break;
      }
    },
    getGoodsInTrip: function() {
      let self = this;
      self.goodsList.getListGoodsInTrip(self.trip, self.route.listPoint);
      self.unload("getGoodsInTrip");
      self.list = self.goodsList.list;
    },
    printTableGoods: function() {
      $(this.$el)
        .find(".goodsInTrip")
        .printThis({ importCSS: true });
    },
    printTableGoodsWithPoint: function() {
      $(this.$el)
        .find(".printBreakPageWithPoint")
        .printThis({ importCSS: true });
    }
  },
  watch: {
    trip: function(nv, ov) {
      if (nv.tripId !== ov.tripId) {
        this.getGoodsInTrip();
      }
    },
    list: function() {
      this.totalMoney();
      this.totalMoneyUnCollect();
      this.totalGood();
    }
  }
};
</script>
