<template>
  <div>
    <div class="row">
      <div class="col-12 text-right top10 bottom20">
        <button
          class="btn btn-sm btn-outline-primary"
          @click="getGoodsInTrip()"
        >
          <i class="fa fa-refresh"></i>
          {{ $t("button.refresh") }}
        </button>
        <!--<button class="btn btn-sm btn-outline-primary" @click="$refs.AddUpdateGoodsComponent.open()"><i class="fa fa-plus-circle"></i> {{$t('button.send-new-items')}}</button>-->
        <button
          class="btn btn-sm btn-outline-primary"
          @click="$refs.AddListGoodsComponent.open()"
        >
          <i class="fa fa-plus"></i>
          {{ $t("button.send-new-items") }}
        </button>
        <!-- <button
          class="btn btn-sm btn-outline-primary"
          @click="printTableGoodsWithPoint()"
        >
          <i class="fa fa-print"></i>
          {{ $t("button.print-by-point") }}
        </button> -->
        <button
          class="btn btn-sm btn-outline-primary"
          @click="printTableGoods()"
        >
          <i class="fa fa-print"></i>
          {{ $t("button.print") }}
        </button>
      </div>
    </div>
    <div class="row goodsInTrip">
      <div class="col-4">
        {{ $t("date") }} : {{ trip.date | strToDate() }}
        {{ trip.startTime | customDate("#hhhh#:#mm#", true) }}
      </div>
      <div class="col-4">
        {{ $t("filter.vehicle") }} : {{ trip.vehicle.numberPlate }}
      </div>
      <div class="col-4">
        {{ $t("menu.route") }} : {{ trip.route.name }}
      </div>
      <div
        class="col-12 FreightOrder"
        v-if="replaceHtml"
        v-html="replaceHtml"
      ></div>
      <br>
<!-- 
      <div class="col-12">
        <h4 class="text-center">{{ $t("goods-shipping-order") }}</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-4">
            {{ $t("date") }} : {{ trip.date | strToDate() }}
            {{ trip.startTime | customDate("#hhhh#:#mm#", true) }}
          </div>
          <div class="col-12 col-md-4">
            {{ $t("filter.vehicle") }} : {{ trip.vehicle.numberPlate }}
          </div>
          <div class="col-12 col-md-4">
            {{ $t("menu.route") }} : {{ trip.route.name }}
          </div>
        </div>
      </div>
      
      <div class="col-12">
        <table
          class="table table-striped table-sm table-bordered-dark table-respon"
        >
          <thead>
            <tr class="text-center">
              <th>{{ $t("No-") }}</th>
              <th>{{ $t("barcode") }}</th>
              <th>{{ $t("item-name") }}</th>
              <th v-if="!checkHideConfig('quantity')">{{ $t("quantity") }}</th>
              <th v-if="!checkHideConfig('totalPrice')">{{ $t("charge") }}</th>
              <th v-if="!checkHideConfig('paid')">{{ $t("received") }}</th>
              <th v-if="!checkHideConfig('unpaid')">{{ $t("not-receive") }}</th>
              <th v-if="!checkHideConfig('senderPhone')">
                {{ $t("senders") }}
              </th>
              <th v-if="!checkHideConfig('receiverPhone')">
                {{ $t("receiver") }}
              </th>
              <th v-if="!checkHideConfig('updateUserInfoTimeline')">
                {{ $t("staff-received") }}
              </th>
              <th v-if="!checkHideConfig('pickUpPoint')">
                {{ $t("point-up") }}
              </th>
              <th v-if="!checkHideConfig('dropOffPoint')">
                {{ $t("point-down") }}
              </th>
              <th v-if="!checkHideConfig('notice')">{{ $t("note") }}</th>
              <th class="no-print-this"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-show="goodsPackages.length <= 0">
              <td colspan="14" class="text-center">
                {{ $t("no-data-available") }}
              </td>
            </tr>
            <template
              v-for="p in goodsInDropPoints"
              v-if="p.goods !== undefined"
            >
              <tr class="font-weight-bold" :key="p.id">
                <td colspan="3">{{ p.name }}</td>
                <td v-if="!checkHideConfig('quantity')" class="text-right">
                  {{ p.goods.quantity | number }}
                </td>
                <td v-if="!checkHideConfig('totalPrice')" class="text-right">
                  {{ p.goods.totalPrice | number }}
                </td>
                <td v-if="!checkHideConfig('paid')" class="text-right">
                  {{ p.goods.paid | number }}
                </td>
                <td v-if="!checkHideConfig('unpaid')" class="text-right">
                  {{ p.goods.unpaid | number }}
                </td>
                <td v-if="!checkHideConfig('senderPhone')"></td>
                <td v-if="!checkHideConfig('receiverPhone')"></td>
                <td v-if="!checkHideConfig('updateUserInfoTimeline')"></td>
                <td v-if="!checkHideConfig('pickUpPoint')"></td>
                <td v-if="!checkHideConfig('dropOffPoint')"></td>
                <td v-if="!checkHideConfig('notice')"></td>
                <td class="no-print-this"></td>
              </tr>
              <template v-for="(g, key) in p.goods.goodsList">
                <tr :key="g.goodId">
                  <td class="text-center">{{ key + 1 }}</td>
                  <td>{{ g.goodsCode }}</td>
                  <td>{{ g.goodsName }}</td>
                  <td v-if="!checkHideConfig('quantity')" class="text-right">
                    {{ g.quantity | number }}
                  </td>
                  <td v-if="!checkHideConfig('totalPrice')" class="text-right">
                    {{ g.totalPrice | number }}
                  </td>
                  <td v-if="!checkHideConfig('paid')" class="text-right">
                    {{ g.paid | number }}
                  </td>
                  <td v-if="!checkHideConfig('unpaid')" class="text-right">
                    {{ g.unpaid | number }}
                  </td>
                  <td v-if="!checkHideConfig('senderPhone')">
                    {{ g.sender }}
                    <br />
                    {{ g.senderPhone | phoneNumber }}
                  </td>
                  <td v-if="!checkHideConfig('receiverPhone')">
                    {{ g.receiver }}
                    <br />
                    {{ g.receiverPhone | phoneNumber }}
                  </td>
                  <td v-if="!checkHideConfig('updateUserInfoTimeline')">
                    {{
                      g.updateUserInfoTimeline !== undefined
                        ? g.updateUserInfoTimeline[0].fullName
                        : ""
                    }}
                    <br />
                    {{
                      g.updateUserInfoTimeline !== undefined
                        ? g.updateUserInfoTimeline[0].phoneNumber
                        : ""
                    }}
                  </td>
                  <td v-if="!checkHideConfig('pickUpPoint')">
                    {{ g.pickUpPoint || g.pickPointName }}
                  </td>
                  <td v-if="!checkHideConfig('dropOffPoint')">
                    {{ g.dropOffPoint || g.dropPointName }}
                  </td>
                  <td v-if="!checkHideConfig('notice')">{{ g.notice }}</td>
                  <td class="no-print-this">
                    <button
                      class="btn btn-sm btn-primary"
                      title="Sửa"
                      @click="$refs.AddUpdateGoodsComponent.open(g)"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      title="Xóa"
                      @click="deleteGoods(g)"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-primary"
                      title="Lịch sử"
                      @click="showGoodsHistory(g.goodsId)"
                    >
                      <i class="el-icon-date"></i>
                    </button>
                  </td>
                </tr>
              </template>
            </template>
            <tr
              class="font-weight-bold"
              v-if="goodsNotDropPoints.goodsList.length > 0"
            >
              <td colspan="3">{{ $t("goods-not-belong-to-cargo-wharf") }}</td>
              <td v-if="!checkHideConfig('quantity')" class="text-right">
                {{ goodsNotDropPoints.quantity | number }}
              </td>
              <td v-if="!checkHideConfig('totalPrice')" class="text-right">
                {{ goodsNotDropPoints.totalPrice | number }}
              </td>
              <td v-if="!checkHideConfig('paid')" class="text-right">
                {{ goodsNotDropPoints.paid | number }}
              </td>
              <td v-if="!checkHideConfig('unpaid')" class="text-right">
                {{ goodsNotDropPoints.unpaid | number }}
              </td>
              <td v-if="!checkHideConfig('senderPhone')"></td>
              <td v-if="!checkHideConfig('receiverPhone')"></td>
              <td v-if="!checkHideConfig('updateUserInfoTimeline')"></td>
              <td v-if="!checkHideConfig('pickUpPoint')"></td>
              <td v-if="!checkHideConfig('dropOffPoint')"></td>
              <td v-if="!checkHideConfig('notice')"></td>
              <td class="no-print-this"></td>
            </tr>
            <template v-for="(g, key) in goodsNotDropPoints.goodsList">
              <tr :key="g.goodId">
                <td class="text-center">{{ key + 1 }}</td>
                <td>{{ g.goodsCode }}</td>
                <td>{{ g.goodsName }}</td>
                <td v-if="!checkHideConfig('quantity')" class="text-right">
                  {{ g.quantity | number }}
                </td>
                <td v-if="!checkHideConfig('totalPrice')" class="text-right">
                  {{ g.totalPrice | number }}
                </td>
                <td v-if="!checkHideConfig('paid')" class="text-right">
                  {{ g.paid | number }}
                </td>
                <td v-if="!checkHideConfig('unpaid')" class="text-right">
                  {{ g.unpaid | number }}
                </td>
                <td v-if="!checkHideConfig('senderPhone')">
                  {{ g.sender }}
                  <br />
                  {{ g.senderPhone | phoneNumber }}
                </td>
                <td v-if="!checkHideConfig('receiverPhone')">
                  {{ g.receiver }}
                  <br />
                  {{ g.receiverPhone | phoneNumber }}
                </td>
                <td v-if="!checkHideConfig('updateUserInfoTimeline')">
                  {{
                    g.updateUserInfoTimeline !== undefined
                      ? g.updateUserInfoTimeline[0].fullName
                      : ""
                  }}
                  <br />
                  {{
                    g.updateUserInfoTimeline !== undefined
                      ? g.updateUserInfoTimeline[0].phoneNumber
                      : "" | phoneNumber
                  }}
                </td>
                <td v-if="!checkHideConfig('pickUpPoint')">
                  {{ (g.pickUpPoint || g.pickPointName) | cutString(30) }}
                </td>
                <td v-if="!checkHideConfig('dropOffPoint')">
                  {{ (g.dropOffPoint || g.dropPointName) | cutString(30) }}
                </td>
                <td v-if="!checkHideConfig('notice')">{{ g.notice }}</td>
                <td class="no-print-this">
                  <button
                    class="btn btn-sm btn-primary"
                    title="Sửa"
                    @click="$refs.AddUpdateGoodsComponent.open(g)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-danger"
                    title="Xóa"
                    @click="deleteGoods(g)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-primary"
                    title="Lịch sử"
                    @click="showGoodsHistory(g.goodsId)"
                  >
                    <i class="el-icon-date"></i>
                  </button>
                </td>
              </tr>
            </template>

            <tr class="font-weight-bold">
              <td colspan="3">{{ $t("total") }}</td>
              <td v-if="!checkHideConfig('quantity')" class="text-right">
                {{ total.quantity | number }}
              </td>
              <td v-if="!checkHideConfig('totalPrice')" class="text-right">
                {{ total.totalPrice | number }}
              </td>
              <td v-if="!checkHideConfig('paid')" class="text-right">
                {{ total.paid | number }}
              </td>
              <td v-if="!checkHideConfig('unpaid')" class="text-right">
                {{ total.unpaid | number }}
              </td>
              <td v-if="!checkHideConfig('senderPhone')"></td>
              <td v-if="!checkHideConfig('receiverPhone')"></td>
              <td v-if="!checkHideConfig('updateUserInfoTimeline')"></td>
              <td v-if="!checkHideConfig('pickUpPoint')"></td>
              <td v-if="!checkHideConfig('dropOffPoint')"></td>
              <td v-if="!checkHideConfig('notice')"></td>
              <td class="no-print-this"></td>
            </tr>
          </tbody>
        </table>
      </div> -->

    </div>
    <add-update-goods
      ref="AddUpdateGoodsComponent"
      :trip="trip"
      @event="AddUpdateGoodsEvent"
    ></add-update-goods>
    <add-list-goods
      ref="AddListGoodsComponent"
      :trip="trip"
      @event="AddListGoodsEvent"
    ></add-list-goods>
    <goods-history ref="GoodsHistoryComponent"></goods-history>
  </div>
</template>
<script>
import { Goods } from "../../class/goods";
import AddUpdateGoods from "../Goods/AddUpdateGoods";
import AddListGoods from "../Goods/AddListGoods";
import { mapGetters, mapState } from "vuex";
import GoodsHistory from "../Goods/GoodsHistory";
export default {
  components: { AddUpdateGoods, AddListGoods, GoodsHistory },
  props: {
    trip: {
      type: Object,
      required: true,
    },
    route: {
      type: Object,
      required: true,
    },
  },
  data: function () {
    return {
      goodsPackages: [],
      goodsInDropPoints: [],
      goodsNotDropPoints: {
        goodsList: [],
        totalPrice: 0,
        paid: 0,
        unpaid: 0,
        quantity: 0,
      },
      total: {
        totalPrice: 0,
        paid: 0,
        unpaid: 0,
        quantity: 0,
      },
      dataConfig: null,
      listTotalGood: [],
    };
  },
  mounted: function () {
    this.goodsInDropPoints = _.cloneDeep(this.route.listPoint);
    this.getGoodsInTrip();
    this.getConfig();
  },
  
  computed: {
    ...mapState({
      companyConfigData: (state) => state.CompanyConfig.companyConfigData,
      companyConfig: (state) => state.CompanyConfig.companyConfig,
    }),
    replaceHtml: function () {
      try {
        let self = this;
        let config = this.dataConfig;
        const groupGoodsByPoint = self.goodsInDropPoints.concat({
          name: 'Hàng không thuộc bến trả',
          goods: self.goodsNotDropPoints
        });
        if (!config || !groupGoodsByPoint) {
          return ;
        }
        let htmlSample = $("<div>" + config + "</div>")
          .find("tbody")
          .html();
        let firstTr = $("<div>" + config + "</div>")
          .find("tbody")
          .find("tr:first-child")
          .html();
        let secondTr = $("<div>" + config + "</div>")
          .find("tbody")
          .find("tr:last-child")
          .html();
        let footer = $("<div>" + config + "</div>")
          .find("tfoot")
          .html();
        let replaceBody = "";

        
        // html body
        if (groupGoodsByPoint) {
          const data1 = groupGoodsByPoint;
          data1.forEach((v, index, array) => {
            if (!v.goods || !v.goods.goodsList) {
              console.log("ko tìm thấy goodsList !!!", index);
            } else {
              const str = self.replaceTicket(index, [], v, firstTr);
              replaceBody += `<tr>${str}</tr>`;

              v.goods.goodsList.forEach((value, index, array) => {
                replaceBody += `<tr class="bg-grey">${self.replaceTicket(index, value, null, secondTr || "")}</tr>`;
              });
            }
          });
        }

        let dom = $('<div class="col-12">' + config + "</div>");
        $("tbody", dom).replaceWith(replaceBody);

        // html footer
        const replaceFooter = self.replaceTicket(null, [], null, footer);
        $("tfoot", dom).replaceWith(replaceFooter);
        // replace all
        // const replaceAll = self.replaceTicket(null, [], null, dom.html());
        // $("*", dom).replaceWith(replaceAll);

        $(dom).find("td,th").addClass("tableexport-string");
        return dom.html();
      } catch (e) {
        console.warn(e);
        return '<h3 class="w-100 text-center">Không tìm thấy dữ liệu</h3>';
      }
    },
  },
  methods: {
    replaceTicket: function (index = 0, item = [], goodInfo = {}, html = "") {
        let htmlAfterReplace = html;
        let self = this;
        let replaceObject = [
          {
            key: "[stt]",
            value: function () {
              return index + 1;
            },
          },
          {
            key: "[theo_diem]",
            value: function () {
              return goodInfo ? goodInfo.name : 'Hàng không thuộc Bến Trả';
            },
          },
          {
            key: "[sum_so_luong_theo_diem]",
            value: function () {
              return goodInfo && goodInfo.goods ? self.$options.filters.number(goodInfo.goods.quantity) : 0;
            },
          },
          {
            key: "[sum_cuoc_theo_diem]",
            value: function () {
              return goodInfo && goodInfo.goods ? self.$options.filters.number(goodInfo.goods.totalPrice) : 0;
            },
          },
          {
            key: "[sum_da_thu_theo_diem]",
            value: function () {
              return goodInfo && goodInfo.goods ? self.$options.filters.number(goodInfo.goods.paid) : 0;
            },
          },
          {
            key: "[sum_chua_thu_theo_diem]",
            value: function () {
              return goodInfo && goodInfo.goods ? self.$options.filters.number(goodInfo.goods.unpaid) : 0;
            },
          },
          {
            key: "[button]",
            value: function () {
              window.handleClick = function(type, id) {
                const goodItem = self.listTotalGood.find(x => x.goodsId === id);
                if(type === 'edit') {
                  self.$refs.AddUpdateGoodsComponent.open(goodItem);
                }
                if(type === 'delete') {
                  self.deleteGoods(goodItem);
                }
                if(type === 'showhistory') {
                  self.showGoodsHistory(goodItem.goodsId);
                }
              };
              window.revertGoodsStatus = function(goodsPackageCode) {
                if(!goodsPackageCode) {
                  return;
                }
                let self = this;
                let param = {
                  timeZone: 7,
                  goodsPackageCode:[goodsPackageCode],
                }
                sendJson({
                    url : urlDBD(API.revertGoodsStatus),
                    data : param,
                    success : function (data) {
                      self.getGoodsInTrip();
                    },
                    functionIfError:function (data) {
                    }
                });
              };
              const goodId = item.goodsId;
              const packageCode = item.goodsCode;
              return `<button
                        class="btn btn-sm btn-primary no-print-this"
                        title="Sửa"
                        onclick="handleClick('edit', \'`+ goodId +`\')"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-danger no-print-this"
                        title="Xóa"
                        onclick="handleClick('delete', \'`+ goodId +`\')"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-primary no-print-this"
                        title="Lịch sử"
                        onclick="handleClick('showhistory', \'`+ goodId +`\')"
                      >
                        <i class="el-icon-date"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-warning no-print-this"
                        title="Phục hồi hàng ( trạng thái mới tạo )"
                        onclick="revertGoodsStatus(\'`+ packageCode +`\')"
                      >
                        <i class="fa fa-undo"></i>
                      </button>`
            },
          },
          {
            key: "[tong_so_luong]",
            value: function () {
              return self.$options.filters.number(self.total.quantity);
            },
          },
          {
            key: "[tong_cuoc]",
            value: function () {
              return self.$options.filters.number(self.total.totalPrice);
            },
          },
          {
            key: "[tong_da_thu]",
            value: function () {
              return self.$options.filters.number(self.total.paid);
            },
          },
          {
            key: "[tong_chua_thu]",
            value: function () {
              return self.$options.filters.number(self.total.unpaid);
            },
          },
          // {
          //   key: "[ngay_xuat_ben]",
          //   value: function () {
          //     return self.$options.filters.customDate(self.trip.startTime,"#hhhh#:#mm#", true);
          //   },
          // },
          // {
          //   key: "[bien_so_xe]",
          //   value: function () {
          //     return self.trip.vehicle.numberPlate;
          //   },
          // },
          // {
          //   key: "[tuyen]",
          //   value: function () {
          //     return self.trip.route.name;
          //   },
          // },

          {
            key: "[ngay_nhan_hang]",
            value: function () {
              return item.sendDate ? new Date(item.sendDate).customFormat("#DD#-#MM#-#YYYY#") : null;
            },
          },
          {
            key: "[ngay_hien_tai]",
            value: function () {
              return new Date().customFormat("#DD#-#MM#-#YYYY#");
            },
          },
          {
            key: "[gio_hien_tai]",
            value: function () {
              return new Date().customFormat("#hhhh#:#mm#");
            },
          },
          {
            key: "[barcode]",
            value: function () {
              return item.goodsCode ? (
                '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="' +
                item.goodsCode +
                '" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>'
              ) : '';
            },
          },
          {
            key: "[ten_tai_khoan_dang_nhap]",
            value: function () {
              return window.userInfo.userInfo.fullName || "";
            },
          },
          {
            key: "[ma_hang]",
            value: function () {
              return item.goodsCode ? item.goodsCode : '';
            },
          },
          {
            key: "[ma_hang_rg]",
            value: function () {
              return item.goodsCode ? item.goodsCode.split("-").slice(-1).pop() : ''
            },
          },
          {
            key: "[ten_hang]",
            value: function () {
              return item.goodsName ? item.goodsName : '';
            },
          },
          {
            key: "[so_luong_hang]",
            value: function () {
              return item.quantity ? self.$options.filters.number(item.quantity) : 0;
            },
          },
          {
            key: "[gia_tri_mat_hang]",
            value: function () {
              return item.goodsValue ? self.$options.filters.number(item.goodsValue) : 0;
            },
          },
          {
            key: "[thu_them]",
            value: function () {
              return item.extraPrice ? self.$options.filters.number(item.extraPrice) : 0;
            },
          },
          {
            key: "[cuoc_phi]",
            value: function () {
              return item.price ? self.$options.filters.number(item.price) : 0;
            },
          },
          {
            key: "[tong_cuoc_phi]",
            value: function () {
              return item.totalPrice ? self.$options.filters.number(item.totalPrice) : 0;
            },
          },
          {
            key: "[da_tra]",
            value: function () {
              return item.paid ? self.$options.filters.number(item.paid) : 0;
            },
          },
          {
            key: "[chua_tra]",
            value: function () {
              return item.unpaid ? self.$options.filters.number(item.unpaid) : 0;
            },
          },
          {
            key: "[ten_nguoi_gui]",
            value: function () {
              return item.sender || "";
            },
          },
          {
            key: "[so_dien_thoai_gui]",
            value: function () {
              return item.senderPhone || "";
            },
          },
          {
            key: "[ten_diem_gui]",
            value: function () {
              return item.pickPointName || "";
            },
          },
          {
            key: "[dia_chi_gui]",
            value: function () {
              return item.pickUpPoint || "";
            },
          },
          {
            key: "[ten_nguoi_tra]",
            value: function () {
              return item.receiver || "";
            },
          },
          {
            key: "[so_dien_thoai_tra]",
            value: function () {
              return item.receiverPhone || "";
            },
          },
          {
            key: "[ten_diem_tra]",
            value: function () {
              return item.dropPointName || "";
            },
          },
          {
            key: "[dia_chi_tra]",
            value: function () {
              return item.dropOffPoint || "";
            },
          },
          {
            key: "[ghi_chu]",
            value: function () {
              return item.notice || "";
            },
          },
          {
            key: "[nguoi_tao]",
            value: function () {
              try {
                let name = item.updateUserInfoTimeline[0].fullName;
                return name;
              } catch (e) {
                return "";
              }
            },
          },
          {
            key: "[ten_cong_ty]",
            value: function () {
              return userInfo.userInfo.companyName;
            },
          },
          {
            key: "[dia_chi_cong_ty]",
            value: function () {
              return userInfo.companyAddress;
            },
          },
          {
            key: "[ten_phong_ve]",
            value: function () {
              let room = JSON.parse(sessionStorage.getItem("room"));
              return room && room.name ? room.name : "";
            },
          },
          {
            key: "[dia_chi_phong_ve]",
            value: function () {
              let room = JSON.parse(sessionStorage.getItem("room"));
              return room && room.address ? room.address : "";
            },
          },
          {
            key: "[sdt_phong_ve]",
            value: function () {
              let room = JSON.parse(sessionStorage.getItem("room"));
              return room && room.phoneNumber ? room.phoneNumber : "";
            },
          },
          {
            key: "[sdt_xe]",
            value: function () {
              if (item.vehicle && item.vehicle.phoneNumber) {
                return item.vehicle.phoneNumber;
              } else {
                return "";
              }
            },
          },
          {
            key: "[loai_hang]",
            value: function () {
              if (item.goodsTypeName) {
                return item.goodsTypeName;
              } else {
                return "";
              }
            },
          },
        ];
        $.each(replaceObject, function (k, v) {
          htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
        });
        return htmlAfterReplace;
      
    },
    getConfig: function () {
      let self = this;
      sendJson({
        url: urlDBD(API.displaySettingGet),
        data: {
          type: DisplaySetting.PRINT_FREIGHT_ORDER,
        },
        success: function (res) {
          if (res.results.data) {
            self.dataConfig = res.results.data;
          }
        },
      });
    },
    showGoodsHistory: function (goodId) {
      this.$refs.GoodsHistoryComponent.showGoodsHistory(goodId);
    },
    checkHideConfig: function (field = "") {
      let self = this;
      if (
        self.companyConfig.CONFIG.HIDE_FIELD_IN_GOOD_IN_TRIP.value.includes(
          field
        )
      ) {
        return true;
      } else {
        return false;
      }
    },
    AddUpdateGoodsEvent: function (data) {
      let self = this;
      switch (data.eventName) {
        case "saveSuccess":
          self.getGoodsInTrip();
          break;
      }
    },
    AddListGoodsEvent: function (data) {
      let self = this;
      switch (data.eventName) {
        case "saveSuccess":
          self.getGoodsInTrip();
          break;
      }
    },
    deleteGoods: function (goods) {
      let self = this;
      let g = new Goods(goods);
      g.remove(function () {
        self.getGoodsInTrip();
      });
    },
    getGoodsInTrip: function () {
      let self = this;

      self.goodsPackages = [];
      self.goodsInDropPoints = [];
      self.goodsNotDropPoints = {
        goodsList: [],
        totalPrice: 0,
        paid: 0,
        unpaid: 0,
        quantity: 0,
      };
      if (self.trip.tripId === "-1") {
        notify(
          self.$t(
            "notify.this-trip-has-no-tickets-yet-has-not-been-created-yet"
          ),
          "error"
        );
        return false;
      }
      self.load("getGoodsInTrip");
      sendJson({
        url: urlDBD(API.goodsList),
        data: {
          page: 0,
          count: func.count(),
          tripId: self.trip.tripId,
        },
        success: function (data) {
          self.goodsPackages = data.results.Goods;
          self.sortGoodsInDropPoints();
          self.unload("getGoodsInTrip");
        },
        functionIfError: function (res) {
          self.unload("getGoodsInTrip");
        },
      });
    },
    sortGoodsInDropPoints: function () {
      let self = this;
      self.listTotalGood = [];
      self.goodsInDropPoints = _.cloneDeep(self.route.listPoint); //reset xóa hết hàng trong điểm
      self.goodsNotDropPoints = {
        goodsList: [],
        totalPrice: 0,
        paid: 0,
        unpaid: 0,
        quantity: 0,
      };
      self.total = {
        totalPrice: 0,
        paid: 0,
        unpaid: 0,
        quantity: 0,
      };
      let pointLen = self.goodsInDropPoints.length;
      $.each(self.goodsInDropPoints, function (k, point) {
        $.each(self.goodsPackages, function (i, pk) {
          self.listTotalGood = self.listTotalGood.concat(pk.goodsList);
          $.each(pk.goodsList, function (num, goods) {
            if (point.id === goods.dropPointId) {
              if (typeof point.goods === "undefined") {
                self.goodsInDropPoints[k].goods = {
                  goodsList: [],
                  totalPrice: 0,
                  paid: 0,
                  unpaid: 0,
                  quantity: 0,
                };
              }
              //                                tổng tiền theo điểm
              self.goodsInDropPoints[k].goods.goodsList.push(goods);
              self.goodsInDropPoints[k].goods.totalPrice += goods.totalPrice;
              self.goodsInDropPoints[k].goods.paid += goods.paid;
              self.goodsInDropPoints[k].goods.unpaid += goods.unpaid;
              self.goodsInDropPoints[k].goods.quantity += goods.quantity;
              self.goodsPackages[i].goodsList[num].hasPointRoute = true;

              //                                tổng tiền tất cả
              self.total.totalPrice += goods.totalPrice;
              self.total.paid += goods.paid;
              self.total.unpaid += goods.unpaid;
              self.total.quantity += goods.quantity;
            }
            if (k === pointLen - 1 && !goods.hasPointRoute) {
              self.goodsNotDropPoints.goodsList.push(goods);
              self.goodsNotDropPoints.totalPrice += goods.totalPrice;
              self.goodsNotDropPoints.paid += goods.paid;
              self.goodsNotDropPoints.unpaid += goods.unpaid;
              self.goodsNotDropPoints.quantity += goods.quantity;
              //                                tổng tiền tất cả
              self.total.totalPrice += goods.totalPrice;
              self.total.paid += goods.paid;
              self.total.unpaid += goods.unpaid;
              self.total.quantity += goods.quantity;
            }
          });
        });
      });
    },
    printTableGoods: function () {
      $(this.$el).find(".goodsInTrip").printThis({ importCSS: true });
    },
    printTableGoodsWithPoint: function () {
      $(this.$el)
        .find(".printBreakPageWithPoint")
        .printThis({ importCSS: true });
    },
  },
  watch: {
    trip: function (nv, ov) {
      if (nv.tripId !== ov.tripId) {
        this.getGoodsInTrip();
      }
    },
  },
};
</script>
<style lang="scss" scoped>


</style>