<!--chốt chuyến-->
<template>
    <div class="row">
        <div class="col-12 text-right top10">
            <button class="btn btn-outline-primary btn-sm" @click="printLatChes();"><i class="fa fa-save"></i> IN CHUYẾN</button>
            <button class="btn btn-primary btn-sm" @click="saveStatisticByPointAll();"><i class="fa fa-save"></i> LƯU CHỐT</button>
        </div>
        <div class="col-12 top20">
            <h4 class="text-center">CHỐT CHUYẾN</h4>
        </div>
        <!--<div class="col-12">-->
            <!--<div class="text-right">-->
                <!--<span class="box-note bg-ok"></span> : số khách lên,-->
                <!--<span class="box-note bg-white"></span> : số khách xuống,-->
                <!--<span class="box-note bg-primary"></span> : số khách khai báo, Nếu thực tế không đúng thì nhập ô bên dưới-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-12" v-if="statisticTrip!==null">
            <h5>Vé</h5>
            <div class="table-responsive">
                <table class="table table-bordered text-center table-sm">
                    <tr>
                        <td></td>
                        <template v-for="(point,key) in route.points">
                            <td style="width: 100px">{{ point.pointName|cutString(20) }}</td>
                        </template>
                        <th style="min-width: 70px">Tổng HK</th>
                        <th style="min-width: 120px">D / Thu</th>
                    </tr>
                    <template v-for="(point,key) in route.points">
                        <tr class="text-right">
                            <td class="relative">
                                {{ point.pointName|cutString(20) }}
                                <span v-if="key < route.points.length-1 && statisticTrip.statisticByPoints[key].saved==true" class="absolute bg-white" style="bottom:0;left:0;"><i class="fa fa-check text-success"></i> {{statisticTrip.statisticByPoints[key].employee.fullName}}</span>
                            </td>
                            <template  v-for="(p,k) in route.points">
                                <td :class="{'bg-ok font-weight-bold':k==key,'bg-disable':k<key}" class="no-padding text-center" title="click để sửa">
                                    <template v-if="k>key&&key < route.points.length-1">
                                        <div @click="openInputEditNumberTicket($event)">
                                            <span class="badge badge-secondary">{{statisticTrip.statisticByPoints[key].numberDown[k-key-1]}} </span> | {{ statisticTripUpdate.statisticByPoints[key].numberDown[k-key-1] }}
                                        </div>
                                        <input type="text" class="form-control text-right form-control-sm" v-model="statisticTripUpdate.statisticByPoints[key].numberDown[k-key-1]" v-on:blur="closeInputEditNumberTicket($event)" style="display:none">
                                    </template>
                                    <template v-if="k==key&&key < route.points.length-1">
                                        <div @click="openInputEditNumberTicket($event)">
                                            <span class="badge badge-secondary">{{statisticTrip.statisticByPoints[key].numberUp}}</span> | {{ statisticTripUpdate.statisticByPoints[key].numberUp }}
                                        </div>
                                        <input type="text" class="form-control text-right form-control-sm" v-model="statisticTripUpdate.statisticByPoints[key].numberUp" v-on:blur="closeInputEditNumberTicket($event)" style="display:none">
                                    </template>
                                </td>
                                <!--<td :class="{'bg-ok font-weight-bold':k==key,'bg-disable':k<key}" class="relative" >-->
                                    <!--<span v-if="k>=key&&key < route.points.length-1" class="text-center absolute box-border bg-primary text-white size20" style="left:0;top:0">{{ key==k ? statisticTrip.statisticByPoints[key].numberUp:(k>key?statisticTrip.statisticByPoints[key].numberDown[k-key-1]:0) }}</span>-->
                                    <!--<input v-if="k==key&&key < route.points.length-1" type="text" class="form-control text-right" v-model="statisticTripUpdate.statisticByPoints[key].numberUp">-->
                                    <!--<input v-if="k>key&&key < route.points.length-1" type="text" class="form-control text-right" v-model="statisticTripUpdate.statisticByPoints[key].numberDown[k-key-1]">-->
                                <!--</td>-->
                            </template>
                            <template v-if="key < route.points.length-1">
                                <td class="no-padding text-center" title="click để sửa">
                                    <div @click="openInputEditNumberTicket($event)">
                                        {{ statisticTripUpdate.statisticByPoints[key].numberOnTheTrip|number }}
                                    </div>
                                    <input type="text" class="text-right form-control form-control-sm font-weight-bold" v-model="statisticTripUpdate.statisticByPoints[key].numberOnTheTrip" style="display: none" v-on:blur="closeInputEditNumberTicket($event)">
                                </td>
                                <td class="no-padding text-center" v-if="key < route.points.length-1" title="click để sửa">
                                    <div @click="openInputEditNumberTicket($event)">
                                        {{ statisticTripUpdate.statisticByPoints[key].totalAmount|number }}
                                    </div>
                                    <input type="text" class="text-right form-control form-control-sm" v-model="statisticTripUpdate.statisticByPoints[key].totalAmount" style="display: none" v-on:blur="closeInputEditNumberTicket($event)">
                                </td>
                            </template>
                            <template v-else>
                                <td></td><td></td>
                            </template>
                        </tr>
                    </template>
                    <tr>
                        <td class="font-weight-bold">Tổng</td>
                        <template v-for="(point,key) in route.points">
                            <td></td>
                        </template>
                        <td class="text-danger font-weight-bold">{{ allTotalUp }}</td>
                        <td class="text-danger font-weight-bold">{{ allTotalAmount|number }} VND</td>
                    </tr>
                </table>
            </div>
            <div class="d-none">
                <div id="printLatChes">
                    <table class="table table-bordered text-center table-sm" style="border:1px solid #000">
                        <tr>
                            <td></td>
                            <template v-for="(point,key) in route.points">
                                <td style="min-width: 70px">{{ point.pointName|cutString(20) }}</td>
                            </template>
                            <th style="min-width: 70px">Tổng HK</th>
                            <th style="min-width: 120px">D / Thu</th>
                        </tr>
                        <template v-for="(point,key) in route.points">
                            <tr class="text-right">
                                <td>{{ point.pointName|cutString(20) }}</td>
                                <template  v-for="(p,k) in route.points">
                                    <td :class="{'bg-ok font-weight-bold':k==key,'bg-disable':k<key}">
                                    </td>
                                </template>
                                <td></td>
                                <td></td>
                            </tr>
                        </template>
                        <tr>
                            <td class="font-weight-bold">Tổng</td>
                            <template v-for="(point,key) in route.points">
                                <td></td>
                            </template>
                            <td class="text-danger font-weight-bold"></td>
                            <td class="text-danger font-weight-bold"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <h5>Thu chi</h5>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered-dark table-striped table-sm min-td-th-70">
                    <thead>
                    <tr class="text-center">
                        <th>Loại Phiếu</th>
                        <th>Khoản Mục</th>
                        <th>Mã Phiếu</th>
                        <th>Lí Do</th>
                        <th>SL</th>
                        <th>DVT</th>
                        <th>Thành Tiền</th>
                        <th>Ghi Chú</th>
                        <th>T/C</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="10" class="text-center" v-if="bills.length<=0">Không có dữ liệu</td>
                        </tr>
                    <template v-for="(bill,key) in bills">
                        <tr :key="key" class="text-center">
                            <td>{{ bill.billType==2?"Chi":"Thu" }}</td>
                            <td>{{ bill.item.itemName }}</td>
                            <td>{{ bill.documentCode }}</td>
                            <td>{{ bill.reason }}</td>
                            <td>{{ bill.number }}</td>
                            <td>{{ bill.unit }}</td>
                            <td class="text-right">{{ bill.amount|number }}</td>
                            <td>{{ bill.note }}</td>
                            <td></td>
                        </tr>
                    </template>
                        <tr>
                            <td colspan="9"><a href="javascript:void(0)" @click="openModalAddBill(1)">Tạo phiếu thu <i class="fa fa-plus-circle"></i></a> hoặc <a href="javascript:void(0)" @click="openModalAddBill(2)">Tạo phiếu chi <i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-outline-primary" @click="printLatChes();"><i class="fa fa-save"></i> IN CHUYẾN</button>
            <button class="btn btn-primary" @click="saveStatisticByPointAll();"><i class="fa fa-save"></i> LƯU CHỐT</button>
        </div>
        <!--modal Tạo phiếu thu chi-->
        <div class="modal fade" id="modalBill" tabindex="-1" role="dialog" aria-labelledby="modalBill" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">TẠO PHIẾU {{ typeBillAdd==1?'THU' : 'CHI' }} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <bill-create-form :billType="typeBillAdd" :showAction="false" ref="refBillCreate" @success="saveBillSuccess" :tripId="trip.tripId"></bill-create-form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" @click="$refs.refBillCreate.saveBill()">Lưu phiếu {{ typeBillAdd==1?'thu' : 'chi' }}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--hết modal tạo phiếu thu chi-->
    </div>
</template>
<script>
    import BillCreateForm from '../Bill/BillCreateForm';
    export default {
        components : {BillCreateForm},
        props : {
            trip : {
                type : Object,
                required : true,
            },
            route : {
                type : Object,
                required : true,
            },
        },
        data : function () {
            return {
                bills : [],
                items : [],
                statisticTrip : null,
                statisticTripUpdate : null,
                allTotalAmount : 0,
                allTotalUp : 0,
                totalBillThu: 0,
                totalBillChi: 0,
                openFormAddBill : false,
                createBill : this.makeDataCreateBillDefault(),
                typeBillAdd : 1,
            }
        },
        mounted : function () {
            this.getStatisticTrip();
            this.getBills();
        },
        methods : {
            getBills : function () {
                let self = this;
                this.load("getBills");
                sendJson({
                    url : urlDBD(API.billList),
                    data : {
                        page : 0,
                        count :100,
                        tripId : self.trip.tripId,
                    },
                    success : function (data) {
                        self.bills = data.results.listBill;
                        self.unload('getBills');
                    },
                    functionIfError : function (data) {
                        self.unload('getBills');
                    }
                });
            },
            getStatisticTrip : function () {
                let self = this;
                this.load("getStatisticTrip");
                sendJson({
                    url : urlDBD(API.statisticByPointAll),
                    data : {
                        tripId : self.trip.tripId,
                    },
                    success : function (data) {
                        if(typeof data.results.statisticTrip!=='undefined'){
                            self.statisticTrip = data.results.statisticTrip;
                            self.statisticTripUpdate = _.cloneDeep(self.statisticTrip);
                        }else{
                            self.statisticTrip = null;
                            self.statisticTripUpdate = null;
                        }
                        self.unload('getStatisticTrip');
                    },
                    functionIfError : function (data) {
                        self.unload('getStatisticTrip');
                    }
                });
            },
            makeDataCreateBillDefault : function () {
                let data = {
                    billType : '2',
                    item :null,
                    documentCode : '',
                    approver : null,//người duyệt,
                    spender : null,//Người đưa,
                    receiver : null,//Người nhận
                    number : 1,
                    unit : 'KG',
                    amount : 1000,
                    reason: '',
                    note : '',
                };
                return data;
            },
            saveBillSuccess : function(data){
                this.getBills();
                $('#modalBill').modal('hide');
            },
            saveStatisticByPointAll : function () {
                let self=this;
                this.load("saveStatisticByPointAll");
                sendJson({
                    url : urlDBD(API.statisticByPointCreateAll),
                    data : self.statisticTripUpdate,
                    success : function (data) {
                        self.getStatisticTrip();
                        self.unload('saveStatisticByPointAll');
                    },
                    functionIfError : function (data) {
                        self.unload('saveStatisticByPointAll');
                    }
                });
            },
            printLatChes : function () {
                $('#printLatChes').printThis();
            },
            openModalAddBill : function (type) {
                let self = this;
                self.$refs.refBillCreate.refresh();
                self.typeBillAdd = type;
                $('#modalBill').modal('show');
                return false;
            },
            openInputEditNumberTicket : function (e) {
                let el = $(e.target).parents('td');
                $(el).find('input').show();
                $(el).find('div').hide();
                $(el).find('input').focus();
            },
            closeInputEditNumberTicket : function (e) {
                let el = $(e.target).parents('td');
                $(el).find('input').hide();
                $(el).find('div').show();
            }
        },
        watch : {
            trip : {
                handler(newVal,oldVal){
                    this.getStatisticTrip();
                    this.getBills();
                },
                deep:true,
            },
            'statisticTripUpdate.statisticByPoints': {
                handler (newVal, oldVal) {
                    let self = this;
                    let total=0;
                    let totalUp = 0;
                    $.each(newVal,function(k,v){
                        if(parseInt(v.totalAmount) ==='NaN'){
                            notify("Dữ liệu phải là kiểu số nguyên",'error');
                            return false;
                        }else{
                            total +=parseInt(v.totalAmount)
                        }
                        if(parseInt(v.numberUp) ==='NaN'){
                            notify("Dữ liệu phải là kiểu số nguyên",'error');
                            return false;
                        }else{
                            totalUp +=parseInt(v.numberUp)
                        }
                    });
                    self.allTotalAmount = total;
                    self.allTotalUp = totalUp;
                },
                deep:true
            },
            bills: {
                handler (newVal, oldVal) {
                    let self = this;
                    let tongThu=0;
                    let tongChi = 0;
                    $.each(newVal,function(k,v){
                        if(v.billType===2){
                            tongChi+=v.amount;
                        }else{
                            tongThu+=v.amount;
                        }
                    });
                    self.totalBillThu = tongThu;
                    self.totalBillChi = tongChi;
                },
                deep:true
            }
        }
    }
</script>