<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col">
                    {{$t('list-trip')}}
                </div>
                <div class="col-auto">
                    <button id="btnSettingView" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>
                        {{$t('config')}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnSettingView">
                        <a class="dropdown-item" href="javascript:void(0)" @click="changeView=!changeView">
                            <i class="fa"
                               :class="[changeView?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i>
                            {{changeView==false? $t('show-list') : $t('show-default') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label class="font-weight-normal w-100">{{$t('route')}}</label>
                    <el-popover width="400" trigger="click">
                        <el-button slot="reference" size="sm"><i class="fa fa-list"></i></el-button>
                        <div class="w-100 list-routes" style="padding-left: 30px;">
                            <div class="loading" v-if="routeLists.length===0"><i class="fas fa-spinner fa-spin"></i>
                            </div>
                            <template v-for="(val, index) in routeLists">
                                <label class="form-check-label w-100">
                                    <input @change="chooseRoute" type="checkbox" class="form-check-input"
                                           v-model="routes" :value="val"> <span
                                        style="font-size: 16px;line-height: 19px;font-family: Cabin;font-weight: normal;padding-bottom: 8px">{{ val.routeName }}</span>
                                </label>
                            </template>
                        </div>
                    </el-popover>
                </div>
                <div class="col-12 col-md-3 form-group">
                    <label class="font-weight-normal">{{$t('date')}}</label>
                    <datepicker v-model="date"></datepicker>
                </div>
                <div class="col-12 col-md-3">
                    <label class="font-weight-normal">&nbsp;</label>
                    <button class="btn btn-primary btn-block" @click="getData()">{{$t('button.get-data')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12" v-if="routes&&routes.length>0">
            <div class="w-100" style="background: #fff;border-radius: 4px;padding: 16px;font-family: Cabin">
                <div class="row no-gutters">
                    <div class="col-xs-12 col-md-6" v-for="(route, rindex) in routes" :key="rindex" style="padding-right:8px;">
                        <div class="w-100">
                            <div style="font-weight: 600;font-size: 24px;line-height: 29px;color: #000;padding-bottom: 8px">
                                {{route.routeName}}
                            </div>
                            <div style="font-weight: 500;font-size: 18px;line-height: 24px;color: #000;">Chiều đi:
                                {{trips[route.routeId].length}} chuyến
                            </div>
                            <div style="font-weight: 500;font-size: 18px;line-height: 24px;color: #464D5D;margin-bottom: 10px">
                                <span class="text-anvui">{{mapsTripCount[route.routeId].notStart}}</span> chuyến
                                chưa xuất bến, <span
                                    class="text-danger">{{mapsTripCount[route.routeId].locked}}</span> chuyến khóa
                                bán vé
                            </div>
                            <div style="font-weight: 500;font-size: 16px;line-height: 19px;color: #5C9CFE;margin-bottom: 16px">
                                <span style=";cursor: pointer;" :title="$t('enhance-trip')"
                                      @click="openModalPlanForTripPlus(route)"><i class="fa fa-plus-square"></i> Tăng cường chuyến</span>
                            </div>
                            <table class="table table-borderless table-sm table-hover">
                                <thead>
                                <tr class="bg-anvui text-white">
                                    <th style="min-width: 75px;">Giờ</th>
                                    <th style="min-width: 100px;">Lái xe</th>
                                    <th style="min-width: 100px;">Phụ/TV</th>
                                    <th style="min-width: 100px;">Xe</th>
                                    <th>Ghế trống</th>
                                    <th style="min-width: 50px;">Gán</th>
                                </tr>
                                </thead>
                                <tbody>
                                <template v-for="(trip,key) in trips[route.routeId]">
                                    <trip-box-for-two-route :key="key" 
                                                            :driverView="driverView" @view="setDriverView"
                                                            v-if="trip.tripStatus!==4" :trip="trip" :route="route"
                                                            :startPoint="route.listPoint[0]"
                                                            :endPoint="route.listPoint[routes[0].listPoint.length-1]"
                                                            :vehiceView="vehiceView"
                                                            @viewVehice="setVehiceView"
                                                            @event="eventTrip($event,trip)"></trip-box-for-two-route>
                                </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="col" style="padding-left:8px;">
                        <div class="w-100" v-if="routes[1]">
                            <div style="font-weight: 600;font-size: 24px;line-height: 29px;color: #000;padding-bottom: 8px">
                                {{routes[1].routeName}}
                            </div>
                            <div style="font-weight: 500;font-size: 18px;line-height: 24px;color: #000;">Chiều về:
                                {{trips[routes[1].routeId].length}} chuyến
                            </div>
                            <div style="font-weight: 500;font-size: 18px;line-height: 24px;color: #464D5D;margin-bottom: 10px">
                                <span class="text-anvui">{{mapsTripCount[routes[1].routeId].notStart}}</span> chuyến
                                chưa xuất bến, <span
                                    class="text-danger">{{mapsTripCount[routes[1].routeId].locked}}</span> chuyến khóa
                                bán vé
                            </div>
                            <div style="font-weight: 500;font-size: 16px;line-height: 19px;color: #5C9CFE;margin-bottom: 16px">
                                <span style=";cursor: pointer;" :title="$t('enhance-trip')"
                                      @click="openModalPlanForTripPlus(routes[1])"><i class="fa fa-plus-square"></i> Tăng cường chuyến</span>
                            </div>
                            <table class="table table-borderless table-sm table-striped">
                                <thead>
                                <tr class="text-white" style="background: #F39B13;">
                                    <th style="min-width: 75px;">Giờ</th>
                                    <th style="min-width: 100px;">Lái xe</th>
                                    <th style="min-width: 100px;">Phụ/TV</th>
                                    <th style="min-width: 100px;">Xe</th>
                                    <th>Ghế trống</th>
                                    <th style="min-width: 50px;">Gán</th>
                                </tr>
                                </thead>
                                <tbody>
                                <template v-for="(trip,key) in trips[routes[1].routeId]">
                                    <trip-box-for-two-route :driverView="driverView" @view="setDriverView"
                                                            v-if="trip.tripStatus!==4" :trip="trip" :route="routes[1]"
                                                            :startPoint="routes[1].listPoint[0]"
                                                            :endPoint="routes[1].listPoint[routes[1].listPoint.length-1]"
                                                            @event="eventTrip($event,trip)"></trip-box-for-two-route>
                                </template>
                                </tbody>
                            </table>
                        </div>
                    </div> -->

                    <div style="max-width: 250px;position: fixed;right: 0;">
                        <div class="posititon-relative w-100" style="height:50vh;overflow-y: scroll">
                            <div class="position-absolute" style="left: -50px;">
                                <div :class="['cursor-pointer',showDriverOrVehicle==1?'bg-anvui text-white':'']"
                                     @click="showDriverOrVehicle =  showDriverOrVehicle===1?0:1"
                                     style="padding:8px 16px;border: 1px solid #ccc;width: 50px;text-align: center"
                                     title="Tài xế chưa được phân chuyến trong ngày"><i class="fa fa-user-circle"></i>
                                </div>
                                <div :class="['cursor-pointer',showDriverOrVehicle==2?'bg-anvui text-white':'']"
                                     @click="showDriverOrVehicle = showDriverOrVehicle===2?0:2"
                                     style="padding:8px 16px;border: 1px solid #ccc;width: 50px;text-align: center;border-top: none;"
                                     title="Xe chưa được phân chuyến trong ngày"><i class="fa fa-bus"></i></div>
                            </div>
                            <div class="w-100" v-if="showDriverOrVehicle" style="padding: 8px 0 8px 8px">
                                <div class="loading" v-if="loadFreeDrivers||loadFreeVehicles"><i
                                        class="fas fa-spinner fa-spin"></i></div>
                                <template v-else>
                                    <template v-if="showDriverOrVehicle==2">
                                        <ul class="list-group">
                                            <li class="list-group-item active">D/S xe chưa gán</li>
                                            <template v-for="vehicle in freeVehicles">
                                                <li class="list-group-item">{{vehicle.numberPlate}}</li>
                                            </template>
                                        </ul>
                                    </template>
                                    <template v-if="showDriverOrVehicle==1">
                                        <ul class="list-group">
                                            <li class="list-group-item active">D/S tài xế chưa gán</li>
                                            <template v-for="driver in freeDrivers">
                                                <li class="list-group-item">{{driver.fullName}}</li>
                                            </template>
                                        </ul>
                                    </template>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalTripInfo" tabindex="-1" role="dialog"
             aria-labelledby="modalTripInfo" aria-hidden="true" v-if="tripSelected">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('infor-trip')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <manage-trip ref="manageTripComponent" :find="{}"
                                     @eventManageTrip="eventManageTrip"></manage-trip>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                                v-if="$root.roles.TRIP_ARRANGE" @click="$refs.manageTripComponent.save()"><i
                                class="fa fa-save"></i> {{$t('button.edit')}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                                v-if="tripSelected.tripStatus<2&&$root.roles.TRIP_START"
                                @click="$refs.manageTripComponent.save(2)"><i class="fa fa-play-circle"></i>
                            {{$t('button.out-park')}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                                v-if="tripSelected.tripStatus==2&&$root.roles.TRIP_OPEN_STARTED"
                                @click="$refs.manageTripComponent.save(1)"><i class="fa fa-pause"></i>
                            {{$t('button.open-out-park')}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                                v-if="tripSelected.tripStatus<2&&$root.roles.TRIP_DELETE"
                                @click="$refs.manageTripComponent.save(4)"><i class="fa fa-trash"></i>
                            {{$t('button.cancel-trip')}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                                data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalPlanForTripPlus" tabindex="-1" role="dialog"
             aria-labelledby="modalPlanForTripPlus" aria-hidden="true" v-if="routeSelected&&date">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('enhance-trip')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <plan-for-trip-not-loop ref="AddPlanForTripNotLoop" :route="routeSelected" :date="date"
                                                @createSuccess="addPlanForTripSuccess"></plan-for-trip-not-loop>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                                @click="$refs.AddPlanForTripNotLoop.create()"><i class="fa fa-save"></i>
                            {{$t('button.create-trip')}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase"
                                data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectRoute from '../Route/SelectRoute';
    import ManageTrip from './ManageTrip';
    import PlanForTripNotLoop from '../PlanForTrip/AddPlanForTripNotLoop.vue';
    import TripBoxForTwoRoute from './TripBoxForTwoRoute.vue';

    export default {
        components: {SelectRoute, ManageTrip, PlanForTripNotLoop, TripBoxForTwoRoute},
        data: function () {
            return {
                date: new Date().customFormat('#DD#-#MM#-#YYYY#'),
                routes: [],
                trips: null,
                rt_trips: null,
                show: false,
                tripSelected: null,
                routeSelected: null,
                routeLists: [],
                allSelected: false,
                changeView: true, // Hiển thị danh sách dạng list table
                showDriverOrVehicle: 0,
                freeDrivers: [],
                freeVehicles: [],
                loadFreeDrivers: false,
                loadFreeVehicles: false,
                driverView: null,
                vehiceView: null
            }
        },
        mounted: function () {
            let self = this;
            this.getRoute('');
        },
        computed: {
            mapRoutesSelected: function () {
                let map = {};
                $.each(this.routes, function (r, route) {
                    map[route.routeId] = r;
                });
                return map;
            },
            mapsTripCount: function () {
                let trips = this.trips;
                let map = {};
                $.each(trips, function (t, listTrip) {
                    let count = {
                        notStart: 0,
                        locked: 0
                    }
                    $.each(listTrip, function (t, trip) {
                        if (trip.listLockTrip && trip.listLockTrip.length == 5) {
                            count.locked++;
                        }
                        if (trip.tripStatus === 1) {
                            count.notStart++;
                        }
                    });
                    map[t] = count;
                });
                return map;
            }
        },
        methods: {
            selectAll: function () {
                if (this.allSelected) {
                    this.routeLists.map((route) => {
                        this.routes.push(route);
                    });
                } else {
                    this.routes = [];
                }
                this.getData();
            },
            select: function () {
                this.allSelected = false;
                if (this.routes.length > 0) {
                    this.getData();
                }
            },
            chooseRoute: function (event) {
                // if (this.routes.length > 2) {
                //     this.routes.splice(0, 1);
                // }
                if (this.routes.length > 0) {
                    this.getData();
                }
            },
            getRoute: function (query, _success) {
                let self = this;
                let dataReq = {
                    page : 0,
                    count : 100,
                    companyId : userInfo.userInfo.companyId
                };
                sendJson({
                    url: urlDBD(API.routeList),
                    data: dataReq,
                    success: function (data) {
                        if (data.results.result) {
                            self.routeLists = data.results.result;
                            if (typeof _success === "function") {
                                _success();
                            }
                            // self.routeLists.sort((a, b) => (a.orderDisplay > b.orderDisplay) ? 1 : -1)
                        }
                    },
                    functionIfError: function (data) {
                        console.log(data);
                    }
                });
            },
            getData: function () {
                let self = this;
                if (!self.routes || self.routes.length <= 0) {
                    notify(this.$t('notify.plz-select-route'), "error");
                    return false;
                }
                self.show = true;
                let trips = {};
                let rt_trips = {};
                $.each(self.routes, function (r, route) {
                    trips[route.routeId] = [];
                    rt_trips[route.routeId] = [];
                });
                self.trips = _.cloneDeep(trips);
                self.rt_trips = _.cloneDeep(rt_trips);
                $.each(self.routes, function (r, route) {
                    self.getTrips(route);
                });
            },
            getTrips: function (_route) {
                let self = this;
                let params = {
                    page: 0,
                    count: func.count50(),
                    timeZone: 7,
                    sortSelections: [
                        {fieldName: "startTime", ascDirection: true}
                    ],
                    companyId: userInfo.userInfo.companyId,
                    routeId: _route.routeId,
                    date: func.dateStr(self.date),
                    startPoint: _route.listPoint[0].id,
                    endPoint: _.last(_route.listPoint).id,
                    searchPointOption: 1,
                    source: 1,
                    platform: 1,
                    getForArrange: true,
                };
                self.load('getTrip' + _route.routeId);
                sendJson({
                    url: urlDBD(API.planForTripSearch),
                    data: params,
                    success: function (data) {
                        self.trips[_route.routeId] = self.setTrips(data.results.trips);
                        self.unload('getTrip' + _route.routeId);
                        self.realTimeListTripInfo(_route);
                    },
                    functionIfError: function (data) {
                        self.unload('getTrip' + _route.routeId);
                    }
                });
            },
            setTrips: function (_trips) {
                let trips = [];
                $.each(_trips, function (t, tr) {
                    tr.ticketsInfo = [];
                    tr.loadingFirebase = false;
                    trips.push(tr);
                })
                return trips;
            },
            realTimeListTripInfo: function (_route) {
                let self = this;
                $.each(self.rt_trips[_route.routeId], function (i, e) {
                    e.off();
                });
                self.rt_trips[_route.routeId] = [];
                $.each(self.trips[_route.routeId], function (i, e) {
                    e.loadingFirebase = true;
                    let cnn = firebaseDatabase.ref().child('trips').child(e.tripId);
                    cnn.on('value', function (snapshot) {
                        let data = snapshot.val();
                        console.log(data);
                        if (data) {
                            e.startTimeReality = data.tripInfo.startTimeReality;
                            e.totalSeat = data.tripInfo.totalSeat;
                            e.tripStatus = data.tripInfo.tripStatus;
                            e.listLockTrip = data.tripInfo.listLockTrip;
                            if (data.tripInfo.vehicle) {
                                e.vehicle = data.tripInfo.vehicle;
                            }
                            e.drivers = data.tripInfo.drivers;
                            e.assistants = data.tripInfo.assistants;
                            e.startTime = data.tripInfo.startTimeReality;//múi giờ + 0
                            e.ticketsInfo = data.tripDetail.ticketsInfo || [];//múi giờ + 0
                            e.seatMap = data.tripDetail.seatMap;
                            e.loadingFirebase = false;
                        }
                    });
                    self.rt_trips[_route.routeId].push(cnn);
                });
            },
            updateTrip: function (_trip) {
                let self = this;
                self.tripSelected = _trip;
                setTimeout(function () {
                    self.$refs.manageTripComponent.refresh(_trip);
                    $(self.$el).find('#modalTripInfo').modal('show');
                }, 200);
            },
            eventManageTrip: function (data) {
                let self = this;
                switch (data.event) {
                    case 'updateSuccess':
                        notify(this.$t('notify.processing'))
                        $(self.$el).find('#modalTripInfo').modal('hide');
                        break;
                    case 'updateError':
                        break;
                    case 'cancelSuccess':
                        notify(this.$t('notify.cancel-success'), "success");
                        $(self.$el).find('#modalTripInfo').modal('hide');
                        self.getData();
                        break;
                }
            },
            openModalPlanForTripPlus: function (_route) {
                let self = this;
                this.routeSelected = _route;
                setTimeout(function () {
                    $(self.$el).find('#modalPlanForTripPlus').modal('show');
                }, 100);
            },
            addPlanForTripSuccess: function (data) {
                $(this.$el).find('#modalPlanForTripPlus').modal('hide');
                this.getData();
            },
            eventTrip: function (_event, _trip) {
                let self = this;
                switch (_event.eventName) {
                    case 'updateTrip' :
                        this.updateTrip(_trip);
                        break;

                    case 'deleteTrip':
                        if (Object.keys(_trip.ticketsInfo).length > 0) {
                            alert("Chuyến này đã có vé. Bạn không thể hủy chuyến");
                            return false;
                        }
                        if (!confirm("Bạn có chắc chắn muốn xóa?")) {
                            return false;
                        }
                        self.tripSelected = _trip;
                        setTimeout(function () {
                            self.$refs.manageTripComponent.refresh(_trip);
                            setTimeout(function () {
                                self.$refs.manageTripComponent.save(4);
                            }, 200);
                        }, 200);
                        break;
                }
            },
            getFreeVehicles: function () {
                let self = this;
                let date = func.dateStr(self.date);
                self.loadFreeVehicles = true;
                sendParam({
                    url: urlDBD(API.vehiclesFree),
                    data: {
                        date: date,
                    },
                    type: 'get',
                    success: function (res) {
                        self.freeVehicles = res.results.freeVehicles;
                        self.loadFreeVehicles = false;
                    },
                    functionIfError: function (err) {
                        self.loadFreeVehicles = false;
                    }
                })
            },
            getFreeDrivers: function () {
                let self = this;
                let date = func.dateStr(self.date);
                self.loadFreeDrivers = true;
                sendParam({
                    url: urlDBD(API.driversFree),
                    data: {
                        date: date,
                    },
                    type: 'get',
                    success: function (res) {
                        self.freeDrivers = res.results.freeDrivers;
                        self.loadFreeDrivers = false;
                    },
                    functionIfError: function (err) {
                        self.loadFreeDrivers = false;
                    }
                })
            },
            setDriverView: function (driver) {
                this.vehiceView = null;
                if (this.driverView && this.driverView.id === driver.id) {
                    this.driverView = null;
                } else {
                    this.driverView = driver;
                }
            },
            setVehiceView: function (vehice) {
                this.driverView = null;
                if (this.vehiceView && this.vehiceView.id === vehice.id) {
                    this.vehiceView = null;
                } else {
                    this.vehiceView = vehice;
                }
                
            }
        },
        destroyed: function () {
            let self = this;
            $.each(self.rt_trips, function (i, e) {
                $.each(e, function (t, trip) {
                    trip.off();
                })
            });
        },
        watch: {
            date: function (newVal, oldVal) {
                if (this.showDriverOrVehicle == 1) {
                    this.getFreeDrivers();
                }
                if (this.showDriverOrVehicle == 2) {
                    this.getFreeVehicles();
                }
            },
            showDriverOrVehicle: function (newVal, oldVal) {
                if (this.showDriverOrVehicle == 1) {
                    this.getFreeDrivers();
                }
                if (this.showDriverOrVehicle == 2) {
                    this.getFreeVehicles();
                }
            }
        }
    }
</script>
<style scoped>
    .text-listview {
        width: 12%;
        float: left;
        padding: 0px 5px;
    }

    .box-listview {
        display: -webkit-box;
    }

    .col-4.col-md-3.col-lg-2 {
        max-width: 13.3333333333% !important;
    }

    /*change the thinkness of the scrollbar here*/
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    /*add a shadow to the scrollbar here*/
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    /*this is the little scrolly dealio in the bar*/
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #aaaaaa;
        height: 3px;
        border: 1px solid #333333;
    }

    /*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
    ::-webkit-scrollbar-corner {
        display: none;
        height: 0px;
        width: 0px;
    }
</style>

<style type="text/css">
    .list-routes .dropdown-toggle::after {
        content: initial;
    }

    .list-routes .dropdown-toggle {
        display: inline-block;
        cursor: pointer;
    }

    .list-routes .dropdown {
        position: relative;
        top: 50%;
        text-align: right;
    }

    .list-routes .dropdown i {
        font-size: 20px;
        position: relative;
        top: 2px;
    }

    .list-routes [type="checkbox"]:not(:checked), .list-routes [type="checkbox"]:checked {
        position: initial;
    }

    .list-routes .form-check {
        width: 50%;
        display: inline-block;
        margin-bottom: 10px;
    }

    .list-routes .dropdown-menu {
        padding: 20px;
        min-width: 500px;
        right: 0 !important;
        left: initial !important;
        transform: initial !important;
        top: initial !important;
    }

    .list-routes .dropdown-menu label {
        margin-bottom: 0;
        font-weight: normal;
    }

    .list-routes .form-check span {
        position: relative;
        top: -2px;
    }

    .list-routes .checkAll {
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }

    .list-routes .checkAll span {
        position: relative;
        top: -2px;
    }

    .list-routes .loading {
        text-align: center;
        padding-top: 8px;
    }

    .list-routes .loading i {
        top: 2px;
        font-size: 30px;
        color: #888;
    }

    .tripOption div.position-absolute > button.btn {
        visibility: hidden;
    }

    .tripOption:hover div.position-absolute > button.btn {
        visibility: visible;
    }
</style>