<template>
    <div class="row top10">
        <div class="col-12 form-group" v-if="!find.startTimeRealityStr">
            <label>{{$t('departure-time')}}</label>
            <el-time-picker v-model="startTimeRealityStr" :disabled="tripStatus>1" class="w-100" format="HH:mm"
                            value-format="HH:mm"
                            placeholder="Arbitrary time" @change="edited.startTimeRealityStr=true"></el-time-picker>
        </div>
        <div class="col-12 form-group" v-if="!find.listLockTrip" @click="edited.listLockTrip=true">
            <label>{{$t('lock-sell-ticket')}}</label>
            <div class="w-100">
                <div class="row">
                    <template v-for="(platform,p) in platforms">
                        <div class="col-6 form-check">
                            <input type="checkbox" :id="'listLockTrip'+p" class="form-check-input" :value="platform.value" v-model="listLockTrip">
                            <label :for="'listLockTrip'+p" class="form-check-label font-weight-normal">{{platform.label}}</label>
                        </div>
                    </template>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-6">-->
                        <!--<div class="form-group form-check">-->
                            <!--<input type="checkbox" class="form-check-input" :value="1" id="lockAdminWeb" v-model="listLockTrip">-->
                            <!--<label class="form-check-label font-weight-normal" for="lockAdminWeb">{{$t('website-management')}} </label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-6">-->
                        <!--<div class="form-group form-check">-->
                            <!--<input type="checkbox" class="form-check-input" :value="2" id="lockSellOnlineWeb" v-model="listLockTrip">-->
                            <!--<label class="form-check-label font-weight-normal" for="lockSellOnlineWeb">{{$t('website-sell-online-ticket')}} </label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-6">-->
                        <!--<div class="form-group form-check">-->
                            <!--<input type="checkbox" class="form-check-input" :value="3" id="lockSellMobile" v-model="listLockTrip">-->
                            <!--<label class="form-check-label font-weight-normal" for="lockSellMobile">{{$t('mobile-device')}} </label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-6">-->
                        <!--<div class="form-group form-check">-->
                            <!--<input type="checkbox" class="form-check-input" :value="4" id="lockAgency" v-model="listLockTrip">-->
                            <!--<label class="form-check-label font-weight-normal" for="lockAgency">{{$t('ticket-agency')}} </label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-12 form-group" v-if="!find.vehicle && $root.roles.VEHICLE_GET_LIST">
            <label>{{$t('filter.vehicle')}}</label>
            <select-vehicle v-model="vehicle" @input="edited.vehicle=true" class="w-100"></select-vehicle>
        </div>
        <div class="col-12 form-group">
            <label>Tên chuyến rút gọn</label>
            <input type="text" class="form-control" v-model="code" @input="edited.code=true">
        </div>
        <div class="col-12 form-group" v-if="!find.drivers && $root.roles.EMPLOYEE_GET_LIST">
            <label>{{$t('filter.driver')}}</label>
            <e-select-user :multiple="true" :userType="[2]" v-model="drivers" @input="edited.drivers=true" placeholder="Chon tai xe" class="w-100"></e-select-user>
        </div>
        <div class="col-12 form-group" v-if="!find.assistants && $root.roles.EMPLOYEE_GET_LIST">
            <label>{{$t('filter.side-driver')}}</label>
            <e-select-user :multiple="true" :userType="[3]" v-model="assistants" @input="edited.assistants=true" placeholder="Chon phu xe" class="w-100"></e-select-user>
        </div>
        <div class="col-12 form-group">
            <label>Màu sắc chuyến</label>
            <div class="w-100" style="display: flex">
                <el-color-picker v-model="color" :predefine="colorSuggest"></el-color-picker>
                <el-input v-model="color"></el-input>
            </div>
        </div>
        <div class="col-12 form-group" v-if="!find.note">
            <label>{{$t('note')}}</label>
            <textarea rows="3" v-model="note" class="form-control" @change="edited.note=true"></textarea>
        </div>
    </div>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import SelectUser from '../User/SelectUser';
    import {Platform} from "../../class/platform";
    import ESelectUser from '../User/ESelectUser';

    export default {
        components :{SelectVehicle, ESelectUser, SelectUser},
        props : {
            find : {
                type : [Object],
                required : false,
            }
        },
        data : function () {
            return {
                startTimeRealityStr : '',
                listLockTrip : [],
                drivers : null,
                assistants: null,
                vehicle: null,
                note : '',
                code: "",
                color: '#FFFFFF',
                edited : {
                    startTimeRealityStr : false,
                    listLockTrip : false,
                    drivers : false,
                    assistants: false,
                    note : false,
                    vehicle : false,
                    code: false
                },
                colorSuggest: ['#FFFFFF', "#D03125", "#25D061", "#2567D0", "#C725D0"],
                tripId : null,
                tripStatus: 1,
                ticketsInfo : null,
                platforms : Platform.properties()
            }
        },
        methods : {
            refresh : function (_trip) {
                let self = this;
                self.edited = {
                    startTimeRealityStr : false,
                    listLockTrip : false,
                    drivers : false,
                    assistants: false,
                    note : false,
                    vehicle : false,
                    code : false,
                };
                if(_trip){
                    self.startTimeRealityStr = '';
                    if(_trip.startTimeReality){
                        self.startTimeRealityStr = self.$options.filters.customDate(_trip.startTimeReality,'#hhhh#:#mm#',true);
                    }
                    self.listLockTrip = [];
                    if(_trip.listLockTrip){
                        self.listLockTrip = _.cloneDeep(_trip.listLockTrip);
                    }
                    self.vehicle = null;
                    if(_trip.vehicle){
                        self.vehicle = _.cloneDeep(_trip.vehicle)
                    }
                    self.drivers = null;
                    if(_trip.drivers){
                        self.drivers = _.cloneDeep(_trip.drivers)
                    }
                    self.assistants = null;
                    if(_trip.assistants){
                        self.assistants = _.cloneDeep(_trip.assistants)
                    }
                    self.note = '';
                    if(_trip.note){
                        self.note = _.cloneDeep(_trip.note)
                    }
                    self.code = _.cloneDeep(_trip.code) == null ? _trip.route.nameShort : _.cloneDeep(_trip.code);
                    self.color = _trip.color;
                    self.tripId = _trip.tripId;
                    self.tripStatus = _trip.tripStatus;
                    self.ticketsInfo = _trip.ticketsInfo;
                }
            },
            save : function (tripStatus) {
                let self = this;
                let param = {
                    tripId : self.tripId,
                    note : self.note,
                    color: self.color
                };
                if(tripStatus){
                    param.tripStatus = tripStatus;
                }
                if(self.edited.startTimeRealityStr){
                    param.startTimeReality = func.timeToMs(self.startTimeRealityStr);
                }
                if(self.edited.listLockTrip){
                    param.listLockTrip = self.listLockTrip;
                }
                if(self.edited.code){
                    param.code = self.code;
                }
                if(self.edited.drivers){
                    let listDriver = [];
                    if(self.drivers){
                        $.each(self.drivers,function (d,driver) {
                            let drv = {
                                id : driver.id,
                                fullName : driver.fullName
                            }
                            listDriver.push(drv);
                        })
                    }
                    param.drivers = listDriver;
                }
                if(self.edited.assistants){
                    let listAssistant = [];
                    if(self.assistants){
                        $.each(self.assistants,function (a,assistant) {
                            let ass = {
                                id : assistant.id,
                                fullName : assistant.fullName
                            }
                            listAssistant.push(ass);
                        })
                    }
                    param.assistants = listAssistant;
                }
                let listSeatChange = [];
                if(self.edited.vehicle){
                    param.vehicle = {
                        id:self.vehicle.vehicleId,
                    }
                    let mapSeatList = {};
                    $.each(self.vehicle.seatMap.seatList,function (s,seat) {
                        mapSeatList[seat.seatId] = s;
                    });
                    // let seatMap = self.makeSeatMap(self.vehicle.seatMap);
                    $.each(self.ticketsInfo,function (t,ticket) {
                        if(mapSeatList[ticket.seat.seatId]!=undefined&&self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]]&&(self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType ==3 ||self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType==4)){
                            listSeatChange.push({
                                ticketId : ticket.ticketId,
                                seat : {
                                    seatId : ticket.seat.seatId,
                                    seatType : self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType
                                },
                            });
                        }else{
                            listSeatChange.push({
                                ticketId : ticket.ticketId,
                                seat : {
                                    seatId : ticket.seat.seatId,
                                    seatType : 0
                                },
                            });
                        }
                    });
                }
                self.load('updateManageTrip');
                sendJson({
                    url: urlDBD(API.tripManage),
                    data : param,
                    success: function (data) {
                        self.updateTicket(listSeatChange);
                        if(tripStatus==4){
                            self.$emit('eventManageTrip',{event : 'cancelSuccess',data:data});
                        }else{
                            self.$emit('eventManageTrip',{event : 'updateSuccess',data:data});
                        }
                        self.unload('updateManageTrip');
                    },
                    functionIfError : function (err) {
                        self.unload('updateManageTrip');
                        self.$emit('eventManageTrip',{event : 'updateError',data:err});
                    }
                })
            },
            updateTicket : function (data) {
                let self = this;
                if(data.length<=0||!self.edited.vehicle){
                    return false;
                }
                self.load('updateTicketManage');
                sendJson({
                    url : urlDBD(API.ticketTransfer),
                    data : data,
                    success : function (res) {
                        self.unload('updateTicketManage');
                    },
                    functionIfError : function (err) {
                        self.unload('updateTicketManage');
                    }
                })
            },
            makeSeatMap : function (seatMap) {
                let self = this;
                if(!seatMap){
                    return [];
                }
                let data = [];
                for(let f=0;f<seatMap.numberOfFloors;f++){
                    let listRow = [];
                    for( let r=0;r<seatMap.numberOfRows;r++){
                        let listCol = [];
                        for( let c=0;c<seatMap.numberOfColumns;c++){
                            listCol.push(self.makeSeatDefault(f+1,r+1,c+1));
                        }
                        listRow.push(listCol);
                    }
                    data.push(listRow);
                }
                if(seatMap.seatList){
                    $.each(seatMap.seatList,function (k,v) {//v là seat
                        try{
                            if(data[v.floor-1][v.row-1][v.column-1]!==undefined){
                                let s = _.cloneDeep(v);
                                s.id=func.makeId();
                                data[v.floor-1][v.row-1][v.column-1]=_.cloneDeep(s);
                            }// các thông sô tầng hàng cột bắt đầu từ 1, mapdata từ 0 nên phải trừ 1
                        }catch(e){
                            console.log('ticket error' + JSON.stringify(v));
                        }
                    });
                }
                return data;
            },
            getKey : function (index) {//lấy chữ cái đầu của ghế
                let str = '_ABCDEFGHIKLMNOPQ';
                if(index>=0&&index<=15){
                    return str[index];
                }
                return str[0];
            },
            makeSeatDefault : function (floor,row,column) {
                let self = this;
                let data = {
                    id : func.makeId(),
                    floor : floor,
                    column : column,
                    row : row,
                    seatId : func.makeId(),
                    seatType :7 ,
                    seatStatus : 1,
                    extraPrice:0,
                }
                return data;
            },
        },
    }
</script>
