<template>
<div class="ManageListTripTable">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="ManageListTrip-head">Danh sách chuyến</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="trip-filter-item">
                    <h3>Tuyến đường</h3>
                    <div class="dropdown">
                        <button class="btn-list-route" data-toggle="dropdown"><i class="fas fa-list"></i></button>
                        <div class="dropdown-menu  listRoute" v-on:click.stop>
                            <div class="listRoute-head">
                                <input type="checkbox" @change="selectAll" v-model="allSelected" id="selectAll">
                                <label for="selectAll">Tất cả</label>
                            </div>
                            <div class="listRoute-body">
                                <template  v-for="(val, index) in routeLists">
                                    <div class="route-item" :key="val.routeId">
                                        <input type="checkbox" @change="select" v-model="routes" :value="val" :id="'route' + index" >
                                        <label :for="'route' + index">{{ val.routeName }}</label>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="trip-filter-item">
                    <h3>Ngày</h3>
                    <div class="ManageListTrip-datepicker">
                        <datepicker v-model="date"></datepicker>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="trip-filter-item">
                    <h3 style="opacity: 0">Ngày</h3>
                    <button class="btn btn-primary btn-block" @click="getData()">{{$t('button.get-data')}}</button>
                </div>
            </div>
        </div>
        <template v-for="(route, index) in routes">
        <div class="ManageListTrip-content-wrap" :key="index">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="ManageListTrip-content-head">
                        <h3 data-toggle="collapse" :data-target="'#route'+route.routeId ">{{ route.routeName }}</h3>
                        <a href="javascript:;" :title="$t('enhance-trip')" @click="openModalPlanForTripPlus(route)"><span><i class="fas fa-plus-square"></i></span><span>Tăng cường chuyến</span></a>
                    </div>
                    <div class="w-100" style="padding:15px">
                        Tổng số chuyến: <strong style="font-size: 16px;">{{getInfoRoute(route.routeId).count}}</strong>,
                        Đã xuất bến: <strong style="font-size: 16px;">{{getInfoRoute(route.routeId).started}}</strong>,
                        Chưa xuất bến: <strong style="font-size: 16px;">{{getInfoRoute(route.routeId).notStart}}</strong>,
                        Đã khóa: <strong style="font-size: 16px;">{{getInfoRoute(route.routeId).locked}}</strong>,
                        Số ghế trống: <strong style="font-size: 16px;">{{getInfoRoute(route.routeId).totalSeat-getInfoRoute(route.routeId).totalEmptySeat}}</strong>,
                        Tổng số vé: <strong style="font-size: 16px;">{{getInfoRoute(route.routeId).totalSeat}}</strong>,
                        Tỉ lệ lấp đầy: <strong style="font-size: 16px;">{{Math.ceil((getInfoRoute(route.routeId).totalSeat-getInfoRoute(route.routeId).totalEmptySeat)*100/getInfoRoute(route.routeId).totalSeat)}} %</strong>,
                    </div>
                    <table :id="'route' + route.routeId" class="collapse show table table-striped ManageListTrip-content">
                        <thead>
                            <th style="width: 10%;">Khởi hành</th>
                            <th style="width: 20%;">Xe</th>
                            <th style="width: 20%;">Tài xế</th>
                            <th style="width: 20%;">Phụ xe/ Tiếp viên</th>
                            <th style="width: 10%;">Ghế trống</th>
                            <th></th>
                        </thead>
                        <tbody v-if="trips[route.routeId].length > 0">
                            <template v-for="(trip) in trips[route.routeId]">
                                <trip-box-table ref="manageTripComponent" @event="eventTrip($event,trip)" :trip="trip" :route="route" :startPoint="route.listPoint[0]" :endPoint="route.listPoint[route.listPoint.length-1]" :key="trip.tripId"></trip-box-table>
                            </template>
                        </tbody>
                        <tbody  v-if="trips[route.routeId].length == 0">
                            <td colspan="7" class="text-center">Không có chuyến !</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </template>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modalPlanForTripPlus" tabindex="-1" role="dialog" aria-labelledby="modalPlanForTripPlus" aria-hidden="true" v-if="routeSelected&&date">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('enhance-trip')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <plan-for-trip-not-loop ref="AddPlanForTripNotLoop" :route="routeSelected" :date="date" @createSuccess="addPlanForTripSuccess"></plan-for-trip-not-loop>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" @click="$refs.AddPlanForTripNotLoop.create()"><i class="fa fa-save"></i> {{$t('button.create-trip')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</template>




<script>
import TripBoxTable from '../Trip/TripBoxTable.vue'
import PlanForTripNotLoop from '../PlanForTrip/AddPlanForTripNotLoop.vue';
const countEmptySeat = require('../../class/countEmptySeat')


export default {
    components : { TripBoxTable, PlanForTripNotLoop },
    data : function () {
        return {
            date : new Date().customFormat('#DD#-#MM#-#YYYY#'),
            routes : [],
            driver: null,
            assistants: [],
            vehicle: {},
            routeLists: [],
            allSelected: false,
            trips: null,

            rt_trips : null,
            show : false,
            tripSelected : null,
            routeSelected :  null,
        }
    },

    mounted: function(){
        let self = this;
        this.getRoute('',function () {
            let str = localStorage.getItem('RouteOftenSelect')||'{}';
            let data = JSON.parse(str);
            if(data.companyId === self.userInfo.userInfo.companyId&&data.routes){
                let rs = [];
                $.each(self.routeLists,function (r,route) {
                    $.each(data.routes,function (ro,rou) {
                        if(rou.routeId === route.routeId){
                            rs.push(route);
                        }
                    })
                });
                if(rs.length>0){
                    self.routes = rs;
                    self.getData();
                }
            }
        });
    },

    methods : {
        selectAll: function() {
            if (this.allSelected) {
                this.routeLists.map((route) => {
                    this.routes.push(route);
                });
            }else{
                this.routes = [];
            }
            this.getData();
        },

        select: function(){
            this.allSelected = false;
            if(this.routes.length > 0){
                this.getData();
            }
        },

        getRoute : function (query,_success) {
            let self = this;
            let dataReq = {
                page : 0,
                count : 100,
                companyId : userInfo.userInfo.companyId
            };
            sendJson({
                url : urlDBD(API.routeList),
                data : dataReq,
                success : function (data) {
                    if(data.results.result){
                        self.routeLists = data.results.result;
                        if(typeof _success === "function"){
                            _success();
                        }
                        // self.routeLists.sort((a, b) => (a.orderDisplay > b.orderDisplay) ? 1 : -1)
                    }
                },
                functionIfError : function (data) {
                    console.log(data);
                }
            });
        },

        getTrips : function (_route) {
            let self = this;
            let params = {
                page: 0,
                count: func.count50(),
                timeZone: 7,
                sortSelections : [
                    {fieldName: "startTime", ascDirection: true}
                ],
                companyId: userInfo.userInfo.companyId,
                routeId: _route.routeId,
                date: func.dateStr(self.date),
                startPoint: _route.listPoint[0].id,
                endPoint: _.last(_route.listPoint).id,
                searchPointOption: 1,
                source : 1,
                platform: 1,
                getForArrange : true,
            };
            self.load('getTrip'+_route.routeId);
            sendJson({
                url : urlDBD(API.planForTripSearch),
                data : params,
                success : function (data) {
                    self.trips[_route.routeId] =self.setTrips(data.results.trips);
                    self.unload('getTrip'+_route.routeId);
                    self.realTimeListTripInfo(_route);
                },
                functionIfError:function (data) {
                    self.unload('getTrip'+_route.routeId);
                }
            });
        },

        setTrips: function(_trips){
            let trips = [];
            $.each(_trips,function (t,tr) {
                tr.ticketsInfo = [];
                tr.loadingFirebase = false;
                trips.push(tr);
            })
            return trips;
        },

        realTimeListTripInfo : function (_route) {
            let self = this;
            $.each(self.rt_trips[_route.routeId], function (i, e) {
                e.off();
            });
            self.rt_trips[_route.routeId] = [];
            $.each(self.trips[_route.routeId], function (i, e) {
                e.loadingFirebase = true;
                let cnn = firebaseDatabase.ref().child('trips').child(e.tripId);
                cnn.on('value', function (snapshot) {
                    let data = snapshot.val();
                    if (data) {
                        console.log(data);
                        e.seatData = data.tripInfo.seatData;
                        e.startTimeReality = data.tripInfo.startTimeReality;
                        e.totalEmptySeat = data.tripInfo.seatData ? countEmptySeat(data.tripInfo.seatData,0,_route.listPoint.length):0;
                        e.tripStatus = data.tripInfo.tripStatus;
                        e.listLockTrip = data.tripInfo.listLockTrip;
                        if(data.tripInfo.vehicle){
                            e.vehicle = data.tripInfo.vehicle;
                        }
                        e.drivers = data.tripInfo.drivers;
                        e.assistants = data.tripInfo.assistants;
                        e.startTime = data.tripInfo.startTimeReality;//múi giờ + 0
                        e.ticketsInfo = data.tripDetail.ticketsInfo||[];//múi giờ + 0
                        e.loadingFirebase = false;
                    }
                });
                self.rt_trips[_route.routeId].push(cnn);
            });
        },

        getData : function () {
            let self = this;
            if(!self.routes||self.routes.length<=0){
                notify(this.$t('notify.plz-select-route'),"error");
                return false;
            }
            self.show = true;
            let trips = {};
            let rt_trips = {};
            $.each(self.routes,function (r,route) {
                trips[route.routeId]=[];
                rt_trips[route.routeId] = [];
            });
            self.trips = _.cloneDeep(trips);
            self.rt_trips = _.cloneDeep(rt_trips);
            $.each(self.routes,function (r,route) {
                self.getTrips(route);
            });
        },

        updateTrip : function(_trip){
            let self = this;
            self.tripSelected = _trip;
            setTimeout(function () {
                self.$refs.manageTripComponent.refresh(_trip);
                $(self.$el).find('#modalTripInfo').modal('show');
            },200);
        },
        eventManageTrip : function (data) {
            let self =this;
            switch (data.event) {
                case 'updateSuccess':
                    notify(this.$t('notify.processing'))
                    $(self.$el).find('#modalTripInfo').modal('hide');
                    break;
                case 'updateError':
                    break;
                case 'totalEmptySeat':
                    let data = data.data;
                    console.log(data);
                    $.each(this.trips[data.routeId],function (t,trip) {
                        if(trip.tripId === data.tripId){
                            trip.totalEmptySeat = data.totalEmptySeat;
                            return false;
                        }
                    });
                    break;
                case 'cancelSuccess':
                    notify(this.$t('notify.cancel-success'),"success");
                    $(self.$el).find('#modalTripInfo').modal('hide');
                    self.getData();
                    break;
            }
        },
        openModalPlanForTripPlus :function (_route) {
            let self = this;
            this.routeSelected = _route;
            setTimeout(function () {
                $(self.$el).find('#modalPlanForTripPlus').modal('show');
            },100);
        },
        addPlanForTripSuccess : function (data) {
            $(this.$el).find('#modalPlanForTripPlus').modal('hide');
            this.getData();
        },
        eventTrip :function (_event,_trip) {
            let self = this;
            switch (_event.eventName) {
                case 'updateTrip' :
                    this.updateTrip(_trip);
                    break;

                case 'deleteTrip':
                    if(Object.keys(_trip.ticketsInfo).length>0){
                        alert("Chuyến này đã có vé. Bạn không thể hủy chuyến");
                        return false;
                    }
                    if(!confirm("Bạn có chắc chắn muốn xóa?")){
                        return false;
                    }
                    self.tripSelected = _trip;
                    setTimeout(function(){
                        self.$refs.manageTripComponent.refresh(_trip);
                        setTimeout(function () {
                            self.$refs.manageTripComponent.save(4);
                        },200);
                    },200);
                    break;
            }
        },
        getInfoRoute : function (routeId) {
            let trips = this.trips[routeId];
            let result = {
                count : 0,
                notStart : 0,
                started : 0,
                locked : 0,
                totalSeat : 0,
                totalEmptySeat : 0
            };
            try{
                $.each(trips,function (t,trip) {
                    if(trip.tripStatus!==4){
                        result.count++;
                    }
                    if(trip.tripStatus===1){
                        result.notStart++;
                    }
                    if(trip.tripStatus===2){
                        result.started++;
                    }
                    if (trip.listLockTrip && trip.listLockTrip.length === 5) {
                        result.locked++;
                    }
                    result.totalSeat+=(trip.totalSeat||0);
                    result.totalEmptySeat+=(trip.totalEmptySeat||0);
                })
            }catch (e) {
                console.warn(e);
            }finally {
                return result;
            }
        }
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap&subset=vietnamese');
.ManageListTripTable {
    font-family: Cabin;
    padding: 30px 0px;
    color: #232731;
}
.ManageListTripTable .start-time{
    display: flex;
    align-items: center;
    position: relative;
}
.ManageListTripTable .start-time i{
    color: #084388;
    margin-right: 3px;
}
.ManageListTripTable .start-time .clock-picker__input-container.clock-picker__input--has-value {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.ManageListTripTable .ManageListTrip-content-wrap{
    background: #fff;
    padding: 15px 0px;
    margin-bottom: 20px;
}
.ManageListTripTable td{ border: none; font-family: Cabin; }
.ManageListTrip-content th {
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #084388;
    border-bottom: none!important;
    min-height: 63px;
    text-transform: uppercase;
    padding: 20px 12px;
    border-top: 1px solid #ECEDF1;
}

.ManageListTrip-content tbody tr:nth-of-type(odd) {
    background: #fff;
}
.ManageListTrip-content tbody tr:nth-of-type(even) {
    background: #F1F3F5;
}

.ManageListTripTable .listRoute{
    padding: 20px;
}
.ManageListTripTable .trip-filter-item .dropdown-menu{
    min-width: 480px;
}
.ManageListTripTable .listPlatform{
    padding: 20px;
}
.ManageListTripTable .listPlatform>h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
    margin-bottom: 18px;
}
.ManageListTripTable .listPlatform input,
.ManageListTripTable .listRoute input{
    margin-right: 10px;
}

.ManageListTripTable .listRoute label::before,
.ManageListTripTable .listPlatform label::before{
    border-color: #232731;
}
.ManageListTripTable .listPlatform label,
.ManageListTripTable .listRoute label{
    font-style: normal;
    font-family: Cabin;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.466667px;
    color: #232731;
    padding-left: 2em;
    padding-top: .1em;
}
.ManageListTripTable .listRoute .listRoute-head {
    padding-bottom: 17px;
    border-bottom: solid 1px #CFD3DB;
    margin-bottom: 16px;
}
.ManageListTripTable .listRoute .listRoute-body{
    max-height: 400px;
    overflow-y: auto;
}
.ManageListTripTable .listPlatform .platform-item,
.ManageListTripTable .listRoute .route-item{
    margin-bottom: 18px;
    font-family: Cabin;
}

.ManageListTrip-head {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #232731;
    margin-bottom: 24px;
}
.trip-filter-item{
    margin-bottom: 24px;
}

.trip-filter-item>h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.trip-filter-item .btn-list-route{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #084388;
    border-radius: 4px;
    color: #fff;

}

.trip-filter-item .ManageListTrip-datepicker {
    display: flex;
    align-items: center;
}

.trip-filter-item .ManageListTrip-datepicker input{
    border: 1px solid #CFD3DB;
    border-left: none;
    border-right: none;
    outline: none;
    height: 40px;
}
.trip-filter-item .ManageListTrip-datepicker button:last-child{
    border-left: none;
}
.trip-filter-item .ManageListTrip-datepicker button:focus,
.trip-filter-item .ManageListTrip-datepicker button:active {
    outline: none!important;
    background-color: #fff!important;
    box-shadow: none!important;
}
.trip-filter-item .ManageListTrip-datepicker button:active{
    color: #232731!important;
    border-color: #CFD3DB!important;
}

.trip-filter-item .ManageListTrip-datepicker button,
.trip-filter-item .ManageListTrip-datepicker span{
    border: 1px solid #CFD3DB;
    display: flex;
    height: 40px;
    width: 35px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    color: #232731;
    outline: none;

}
.trip-filter-item .ManageListTrip-datepicker .prevDate{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
}
.trip-filter-item .ManageListTrip-datepicker .nextDate{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}
.ManageListTrip-content-head{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.ManageListTrip-content-head>h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    margin-bottom: 12px;
}

.ManageListTrip-content-head a{
    display: inline-block;
    color:  #5C9CFE;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 19px;
}
.ManageListTrip-content-head a span:first-child{
    margin-right: 7px;
}
.ManageListTrip-content{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0px 15px;
}
.ManageListTrip-content .select-vehicle .dropdown-q-label{
    background-color: unset;
    font-family: Cabin;
    border: none;
}
.ManageListTrip-content .select-vehicle .dropdown-q .col{ padding-left: 0px; }
.ManageListTrip-content .select-vehicle .fa-times.text-danger { display: none; }

.ManageListTrip-content tr.lock td .multiselect__placeholder,
.ManageListTrip-content tr.lock td .select-vehicle .col,
.ManageListTrip-content tr.lock td .multiselect__single,
.ManageListTrip-content tr.lock td .multiselect__tag,
.ManageListTrip-content tr.lock td .empty-seat,
.ManageListTrip-content tr.lock td .start-time,
.ManageListTrip-content tr.lock td .start-time i{
    color: #C80013!important;
    text-decoration: line-through!important;
}

.ManageListTrip-content .multiselect{
    font-weight: 500;
    font-size: 16px;
}

.ManageListTrip-content .multiselect .multiselect__clear { display: none; }

.ManageListTrip-content .multiselect .multiselect__tags{
    background-color: inherit;
    border: none;
    height: unset;
}

.ManageListTrip-content .multiselect .multiselect__input,
.ManageListTrip-content .multiselect .multiselect__single{
    background-color: unset;
    font-size: 16px;
    color: #464D5D;
}
.ManageListTrip-content .multiselect .multiselect__tags{
    padding-left: 0px;
}
.ManageListTrip-content .multiselect .multiselect__placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #464D5D;
}
.ManageListTrip-content .multiselect .multiselect__tag{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464D5D;
    background-color: unset;
    border: none;
    padding-left: 0px;
}
.ManageListTrip-content .select-driver,
.ManageListTrip-content .select-assistants{ height: unset; }
.ManageListTrip-content .select-driver,
.ManageListTrip-content .select-assistants{ height: unset; }
.ManageListTrip-content .select-driver,
.ManageListTrip-content .select-assistants .multiselect__tags {
    height: unset;
    /* padding-top: 8px; */
    /* padding-right: 40px; */
}

.ManageListTrip-content .icon:hover{
    cursor: pointer;
}
.ManageListTrip-content .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 18px;
    color: #464D5D;
}


.ManageListTrip-content .icon.icon-del{
    color: #C80013;
}
.ManageListTrip-content .icon.icon-out{
    color: #C80013;
}

.ManageListTripTable .notAllowViewTrip {
    color: #ccc;
}
.ManageListTripTable .ManageListTrip-content-head:hover{
    cursor: pointer;
}
</style>
