<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col">
                    {{$t('list-trip')}}
                </div>
                <div class="col-auto">
                    <button id="btnSettingView" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> {{$t('config')}}</button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnSettingView">
                        <a class="dropdown-item" href="javascript:void(0)" @click="changeView=!changeView">
                            <i class="fa" :class="[changeView?'fa-toggle-on text-success':'fa-toggle-off text-danger']"></i> 
                            {{changeView==false? $t('show-list') : $t('show-default') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-3 form-group">
                    <label class="font-weight-normal">{{$t('date')}}</label>
                    <datepicker v-model="date"></datepicker>
                </div>
                <div class="col-12 col-md-3">
                    <label class="font-weight-normal">&nbsp;</label>
                    <button class="btn btn-primary btn-block" @click="getData()">{{$t('button.get-data')}}</button>
                </div>
                <div class="col-12 col-md-6 form-group list-routes">
                    <div class="dropdown show">
                        <button class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
                          <i class="fa fa-list-ul" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu show" v-on:click.stop>
                          <div class="checkAll"><label class="form-check-label"><input type="checkbox" @change="selectAll" v-model="allSelected"> <span>Tất cả</span></label></div>
                          <div class="loading" v-if="routeLists.length===0"><i class="fas fa-spinner fa-spin"></i></div>
                          <template  v-for="(val, index) in routeLists">
                            <div class="form-check" :key="val.routeId">
                              <label class="form-check-label">
                                <input @change="select" type="checkbox" class="form-check-input" v-model="routes" :value="val"> <span>{{ val.routeName }}</span>
                              </label>
                            </div>
                          </template>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-12" v-if="changeView">
            <template v-for="route in routes">
                <div class="content-row top10 no-gutters" style="padding:0">
                    <div class="col-12">
                        <h5 class="font-weight-bold text-white bg-anvui" style="padding:5px 10px;margin: 0;line-height: 35px;border-radius: 5px 5px 0 0;">
                            {{route.routeName}}
                            <span class="float-right"> <button class="btn btn-sm btn-light" :title="$t('enhance-trip')" @click="openModalPlanForTripPlus(route)"><i class="fa fa-plus"></i></button></span>
                        </h5>
                    </div>
                    <div class="col-12" style="background: #525050;padding:10px;border-radius: 0 0 5px 5px;">
                        <div class="row no-gutters" v-if="trips&&trips[route.routeId]" >
                            <template v-for="(trip,key) in trips[route.routeId]">
                                <div class="col-6 col-md-2 col-lg-1" :key="trip.tripId" v-if="trip.tripStatus!==4">
                                    <trip-box @view="setView" :view="view" :trip="trip" :route="route"
                                              :startPoint="route.listPoint[0]"
                                              :endPoint="route.listPoint[route.listPoint.length-1]"
                                              @event="eventTrip($event,trip)"></trip-box>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="col-12" v-else>
            <template v-for="route in routes">
                <div class="content-row top10 no-gutters" style="padding:0" v-if="show">
                    <div class="col-12">
                        <h5 class="font-weight-bold text-white bg-anvui" style="padding:5px 10px;margin: 0;line-height: 35px;border-radius: 5px 5px 0 0;">
                            {{route.routeName}}
                            <span class="float-right"> <button class="btn btn-sm btn-light" :title="$t('enhance-trip')" @click="openModalPlanForTripPlus(route)"><i class="fa fa-plus"></i></button></span>
                        </h5>
                    </div>
                    <div class="col-12"  style="background: #525050;padding:10px;border-radius: 0 0 5px 5px;">
                        <div class="row no-gutters box-listview" v-if="trips&&trips[route.routeId]">
                            <template v-for="(trip,key) in trips[route.routeId]">
                                <div class="col-6 col-md-2 col-lg-1" :key="trip.tripId" v-if="trip.tripStatus!==4">
                                    <trip-box @view="setView" :view="view" :trip="trip" :route="route"
                                              :startPoint="route.listPoint[0]"
                                              :endPoint="route.listPoint[route.listPoint.length-1]"
                                              @event="eventTrip($event,trip)"></trip-box>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalTripInfo" tabindex="-1" role="dialog" aria-labelledby="modalTripInfo" aria-hidden="true" v-if="tripSelected">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('infor-trip')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <manage-trip ref="manageTripComponent" :find="{}" @eventManageTrip="eventManageTrip"></manage-trip>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" v-if="$root.roles.TRIP_ARRANGE" @click="$refs.manageTripComponent.save()"><i class="fa fa-save"></i> {{$t('button.edit')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" v-if="tripSelected.tripStatus<2&&$root.roles.TRIP_START" @click="$refs.manageTripComponent.save(2)"><i class="fa fa-play-circle"></i> {{$t('button.out-park')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" v-if="tripSelected.tripStatus==2&&$root.roles.TRIP_OPEN_STARTED" @click="$refs.manageTripComponent.save(1)"><i class="fa fa-pause"></i> {{$t('button.open-out-park')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" v-if="tripSelected.tripStatus<2&&$root.roles.TRIP_DELETE" @click="$refs.manageTripComponent.save(4)"><i class="fa fa-trash"></i> {{$t('button.cancel-trip')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalPlanForTripPlus" tabindex="-1" role="dialog" aria-labelledby="modalPlanForTripPlus" aria-hidden="true" v-if="routeSelected&&date">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('enhance-trip')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <plan-for-trip-not-loop ref="AddPlanForTripNotLoop" :route="routeSelected" :date="date" @createSuccess="addPlanForTripSuccess"></plan-for-trip-not-loop>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" @click="$refs.AddPlanForTripNotLoop.create()"><i class="fa fa-save"></i> {{$t('button.create-trip')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectRoute from '../Route/SelectRoute';
    import ManageTrip from './ManageTrip';
    import PlanForTripNotLoop from '../PlanForTrip/AddPlanForTripNotLoop.vue';
    import TripBox from './TripBox.vue';

    export default {
        components :{SelectRoute,ManageTrip,PlanForTripNotLoop,TripBox},
        data : function () {
            return {
                date : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                routes : [],
                trips : null,
                rt_trips : null,
                show : false,
                tripSelected : null,
                routeSelected :  null,
                routeLists: [],
                allSelected: false,
                changeView: true, // Hiển thị danh sách dạng list table
                view: {
                    type: 'driver',//vehicle,driver
                    value: null,
                }
            }
        },
        mounted: function(){
            let self = this;
            this.getRoute('',function () {
                let str = localStorage.getItem('RouteOftenSelect')||'{}';
                let data = JSON.parse(str);
                if(data.companyId === self.userInfo.userInfo.companyId&&data.routes){
                    let rs = [];
                    $.each(self.routeLists,function (r,route) {
                        $.each(data.routes,function (ro,rou) {
                            if(rou.routeId === route.routeId){
                                rs.push(route);
                            }
                        })
                    });
                    if(rs.length>0){
                        self.routes = rs;
                        self.getData();
                    }
                }
            });
        },
        methods : {
            selectAll: function() {
                if (this.allSelected) {
                    this.routeLists.map((route) => {
                        this.routes.push(route);
                    });
                }else{
                    this.routes = [];
                }
                this.getData();
            },
            select: function(){
                this.allSelected = false;
                if(this.routes.length > 0){
                    this.getData();
                }
            },
            getRoute : function (query,_success) {
                let self = this;
                let dataReq = {
                    page : 0,
                    count : 100,
                    companyId : userInfo.userInfo.companyId
                };
                sendJson({
                    url : urlDBD(API.routeList),
                    data : dataReq,
                    success : function (data) {
                        if(data.results.result){
                            self.routeLists = data.results.result;
                            if(typeof _success === "function"){
                                _success();
                            }
                            // self.routeLists.sort((a, b) => (a.orderDisplay > b.orderDisplay) ? 1 : -1)
                        }
                    },
                    functionIfError : function (data) {
                        console.log(data);
                    }
                });
            },
            getData : function () {
                let self = this;
                if(!self.routes||self.routes.length<=0){
                    notify(this.$t('notify.plz-select-route'),"error");
                    return false;
                }
                self.show = true;
                let trips = {};
                let rt_trips = {};
                $.each(self.routes,function (r,route) {
                    trips[route.routeId]=[];
                    rt_trips[route.routeId] = [];
                });
                self.trips = _.cloneDeep(trips);
                self.rt_trips = _.cloneDeep(rt_trips);
                $.each(self.routes,function (r,route) {
                    self.getTrips(route);
                });
            },
            getTrips : function (_route) {
                let self = this;
                let params = {
                    page: 0,
                    count: func.count50(),
                    timeZone: 7,
                    sortSelections : [
                        {fieldName: "startTime", ascDirection: true}
                    ],
                    companyId: userInfo.userInfo.companyId,
                    routeId: _route.routeId,
                    date: func.dateStr(self.date),
                    startPoint: _route.listPoint[0].id,
                    endPoint: _.last(_route.listPoint).id,
                    searchPointOption: 1,
                    source : 1,
                    platform: 1,
                    getForArrange : true,
                };
                self.load('getTrip'+_route.routeId);
                sendJson({
                    url : urlDBD(API.planForTripSearch),
                    data : params,
                    success : function (data) {
                        self.trips[_route.routeId] =self.setTrips(data.results.trips);
                        self.unload('getTrip'+_route.routeId);
                        self.realTimeListTripInfo(_route);
                    },
                    functionIfError:function (data) {
                        self.unload('getTrip'+_route.routeId);
                    }
                });
            },
            setTrips: function(_trips){
                let trips = [];
                $.each(_trips,function (t,tr) {
                    tr.ticketsInfo = [];
                    tr.loadingFirebase = false;
                    trips.push(tr);
                })
                return trips;
            },
            realTimeListTripInfo : function (_route) {
                let self = this;
                $.each(self.rt_trips[_route.routeId], function (i, e) {
                    e.off();
                });
                self.rt_trips[_route.routeId] = [];
                $.each(self.trips[_route.routeId], function (i, e) {
                    e.loadingFirebase = true;
                    let cnn = firebaseDatabase.ref().child('trips').child(e.tripId);
                    cnn.on('value', function (snapshot) {
                        let data = snapshot.val();
                        if (data) {
                            console.log(data);
                            e.startTimeReality = data.tripInfo.startTimeReality;
                            e.totalEmptySeat = data.tripInfo.totalEmptySeat;
                            e.tripStatus = data.tripInfo.tripStatus;
                            e.code = data.tripInfo.code;
                            e.listLockTrip = data.tripInfo.listLockTrip;
                            if(data.tripInfo.vehicle){
                                e.vehicle = data.tripInfo.vehicle;
                            }
                            e.drivers = data.tripInfo.drivers;
                            e.assistants = data.tripInfo.assistants;
                            e.startTime = data.tripInfo.startTimeReality;//múi giờ + 0
                            e.ticketsInfo = data.tripDetail.ticketsInfo||[];//múi giờ + 0
                            e.loadingFirebase = false;
                        }
                    });
                    self.rt_trips[_route.routeId].push(cnn);
                });
            },
            updateTrip : function(_trip){
                let self = this;
                self.tripSelected = _trip;
                setTimeout(function () {
                    self.$refs.manageTripComponent.refresh(_trip);
                    $(self.$el).find('#modalTripInfo').modal('show');
                },200);
            },
            eventManageTrip : function (data) {
                let self =this;
                switch (data.event) {
                    case 'updateSuccess':
                        notify(this.$t('notify.processing'))
                        $(self.$el).find('#modalTripInfo').modal('hide');
                        break;
                    case 'updateError':
                        break;
                    case 'cancelSuccess':
                        notify(this.$t('notify.cancel-success'),"success");
                        $(self.$el).find('#modalTripInfo').modal('hide');
                        self.getData();
                        break;
                }
            },
            openModalPlanForTripPlus :function (_route) {
                let self = this;
                this.routeSelected = _route;
                setTimeout(function () {
                    $(self.$el).find('#modalPlanForTripPlus').modal('show');
                },100);
            },
            addPlanForTripSuccess : function (data) {
                $(this.$el).find('#modalPlanForTripPlus').modal('hide');
                this.getData();
            },
            eventTrip :function (_event,_trip) {
                let self = this;
                switch (_event.eventName) {
                    case 'updateTrip' :
                        this.updateTrip(_trip);
                        break;

                    case 'deleteTrip':
                        if(Object.keys(_trip.ticketsInfo).length>0){
                            alert("Chuyến này đã có vé. Bạn không thể hủy chuyến");
                            return false;
                        }
                        if(!confirm("Bạn có chắc chắn muốn xóa?")){
                            return false;
                        }
                        self.tripSelected = _trip;
                        setTimeout(function(){
                            self.$refs.manageTripComponent.refresh(_trip);
                            setTimeout(function () {
                                self.$refs.manageTripComponent.save(4);
                            },200);
                        },200);
                        break;
                }
            },
            setView: function (event) {
                let ev = event;
                if (event.type === this.view.type && this.view.value && event.value && this.view.value.id === event.value.id) {
                    ev.value = null;
                }
                this.view = ev;
            }
        },
        destroyed:function () {
            let self = this;
            $.each(self.rt_trips, function (i, e) {
                $.each(e,function (t,trip) {
                    trip.off();
                })
            });
        }
    }
</script>
<style scoped>
    .text-listview{
        width: 12%;
        float: left;
        padding: 0px 5px;
    }
    .box-listview{
        display: -webkit-box;
    }
    .col-4.col-md-3.col-lg-2{
        max-width: 13.3333333333% !important;
    }
    /*change the thinkness of the scrollbar here*/
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
        box-shadow: inset 0 0 6px rgba(0,0,0,0); 
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    /*add a shadow to the scrollbar here*/
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
        box-shadow: inset 0 0 0px rgba(0,0,0,0); 
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    /*this is the little scrolly dealio in the bar*/ 
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #aaaaaa;
        height: 3px;
        border: 1px solid #333333;
    }
    /*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/  
    ::-webkit-scrollbar-corner{ 
        display: none; 
        height: 0px; 
        width: 0px; 
    }
</style>

<style type="text/css">
    .list-routes .dropdown-toggle::after{
        content: initial;
    }
    .list-routes .dropdown-toggle {
        display: inline-block;
        cursor: pointer;
    }
    .list-routes .dropdown{
        position: relative;
        top: 50%;
        text-align: right;
    }
    .list-routes .dropdown i{
        font-size: 20px;
        position: relative;
        top: 2px;
    }
    .list-routes [type="checkbox"]:not(:checked),.list-routes [type="checkbox"]:checked{
        position: initial;
    }
    .list-routes .form-check{
        width: 50%;
        display: inline-block;
        margin-bottom: 10px;
    }
    .list-routes .dropdown-menu{
        padding: 20px;
        min-width: 500px;
        right: 0 !important;
        left: initial !important;
        transform: initial !important;
        top: initial !important;
    }
    .list-routes .dropdown-menu label{
        margin-bottom: 0;
        font-weight: normal;
    }
    .list-routes .form-check span{
        position: relative;
        top: -2px;
    }
    .list-routes .checkAll{
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
    .list-routes .checkAll span{
       position: relative;
       top: -2px;
    }
    .list-routes .loading {
        text-align: center;
        padding-top: 8px;
    }
    .list-routes .loading i{
        top: 2px;
        font-size: 30px;
        color: #888;
    }
    .tripOption div.position-absolute>button.btn{
        visibility: hidden;
    }
    .tripOption:hover div.position-absolute>button.btn{
        visibility: visible;
    }
</style>