<template>
<section class="manageListTripNew" @click="$store.commit('SET_VEHICLE_VIEWED', null); $store.commit('SET_DRIVER_VIEWED', null)">
    <div class="d-flex mb-3 align-items-center justify-content-between">
        <h3 class="white-space-nowrap mr-2">Quản lý chuyến         
            <el-popover
                placement="bottom"
                trigger="hover">
                <p class="mb-2"><span class="badge mr-2" style="background-color: var(--trip-not-open)"><i class="invisible">00</i></span> Chuyến chưa xuất bến</p> 
                <p class="mb-2"><span class="badge mr-2" style="background-color: var(--trip-open)"><i class="invisible">00</i></span> Chuyến đã xuất bến</p>
                <p class="mb-2"><span class="badge mr-2" style="background-color: var(--trip-driver-viewing)"><i class="invisible">00</i></span> Chuyến có trùng tài xế đang được xem</p> 
                <p class="mb-2"><span class="badge mr-2" style="background-color: var(--trip-vehicle-viewing)"><i class="invisible">00</i></span> Chuyến có trùng xe đang được xem</p> 
                <p class="mb-2"><span class="badge mr-2" style="background-color: var(--trip-lock)"><i class="invisible">00</i></span> Chuyến bị khóa trên tất cả nền tảng</p> 
                <div class="text-right mt-3">
                    <span v-if="!viewConfig.showNote" class="text-primary cursor-pointer" @click="$store.commit('SET_CONFIGS', {showNote: true})">Gim ghi chú !</span>
                    <span v-else class="text-primary cursor-pointer" @click="$store.commit('SET_CONFIGS', {showNote: false})">Tắt ghi chú !</span>
                </div>
                <small slot="reference" class="cursor-pointer fas fa-question-circle"></small>
            </el-popover>
        </h3>
        <div class="d-flex" v-if="viewConfig.showNote">
            <p class="mr-2"><span class="badge mr-2" style="background-color: var(--trip-not-open)"><i class="invisible">00</i></span> Chuyến chưa xuất bến</p> 
            <p class="mr-2"><span class="badge mr-2" style="background-color: var(--trip-open)"><i class="invisible">00</i></span> Chuyến đã xuất bến</p>
            <p class="mr-2"><span class="badge mr-2" style="background-color: var(--trip-driver-viewing)"><i class="invisible">00</i></span> Chuyến có trùng tài xế đang được xem</p> 
            <p class="mr-2"><span class="badge mr-2" style="background-color: var(--trip-vehicle-viewing)"><i class="invisible">00</i></span> Chuyến có trùng xe đang được xem</p> 
            <p><span class="badge mr-2" style="background-color: var(--trip-lock)"><i class="invisible">00</i></span> Chuyến bị khóa trên tất cả nền tảng</p> 
        </div>
    </div>
    
    <div class="manageListTrip__filter">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <div class="manageListTrip__filter__date">
                    <label for="">Ngày</label>
                    <el-date-picker
                        @change="changeDate()"
                        v-model="filter.date"
                        type="date"
                        :picker-options="options"
                        value-format="yyyyMMdd"
                        format="dd-MM-yyyy"
                        placeholder="Chon ngay">
                    </el-date-picker>
                </div> 
                <div class="dropdown">
                    <el-tooltip class="item" effect="dark" content="Chọn tuyến" placement="top">
                        <button class="btn-list-route" data-toggle="dropdown"><i class="fas fa-list"></i></button>
                    </el-tooltip>
                    <div class="dropdown-menu manageListTrip__listRoute" v-on:click.stop>
                        <template v-if="loadRoute">
                            <h3 class="text-center px-2 py-2"><i class="fas fa-circle-notch fa-spin"></i></h3>
                        </template>
                        <template v-else>
                            <template v-if="listRoutes.length > 0">
                                <template v-if="listRoutes.length <= 5">
                                    <el-checkbox v-model="checkAll" @change="filterAllRoute">Chọn tất cả</el-checkbox>
                                    <hr>
                                </template>
                                <el-checkbox-group v-model="filter.routes">
                                    <el-checkbox v-for="(route, index) in listRoutes" @change="getData" :label="route" :key="index">{{ route.routeName }}</el-checkbox>
                                </el-checkbox-group>
                            </template>
                            <template v-else>Không có tuyến nào !</template>
                        </template>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <p v-if="filter.routes.length > 0" class="d-flex align-items-center mr-2">
                    <el-switch
                        v-model="isAddTrip"
                        inactive-text=""
                        active-text="Tăng cường chuyến">
                    </el-switch>
                </p>
                
                <el-dropdown trigger="click" :hide-on-click="false">
                    <button class="btn-list-route"><i class="fas fa-cog"></i></button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <el-switch v-model="viewConfig.showVehicle"
                                        inactive-text=""
                                        active-text="Hiển thị biển số xe">
                            </el-switch>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-switch v-model="viewConfig.showDrivers"
                                        inactive-text=""
                                        active-text="Hiển thị tài xế">
                            </el-switch>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-switch v-model="viewConfig.showSeat"
                                        inactive-text=""
                                        active-text="Hiển thị số ghế trống">
                            </el-switch>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-switch v-model="viewConfig.showSoldSeat"
                                        inactive-text=""
                                        active-text=" Hiển thị số ghế đã bán"
                            ></el-switch>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-switch v-model="viewConfig.showStartTime"
                                        inactive-text=""
                                        active-text="Hiển thị thời gian bắt đầu chuyến"
                            ></el-switch>
                        </el-dropdown-item>
                        <hr>
                        <el-dropdown-item>
                            <el-switch v-model="viewConfig.showShortTimeRange"
                                        inactive-text=""
                                        active-text="Hiển thị thời gian rút gọn"
                            ></el-switch>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-switch v-model="viewConfig.showTimeNoTrip"
                                        inactive-text=""
                                        active-text="Chỉ hiển thị khung giờ có chuyến"
                            ></el-switch>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
            
        </div>
    </div>

    <div class="manageListTripNew__body" v-if="filter.routes.length > 0">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th></th>
                <th class="white-space-nowrap" v-for="(header, headerKey) in tableHeader" :key="headerKey">{{ header.label }}</th>
            </thead>
            <tbody> 
                <template v-for="(row, index) in tableData">
                    <tr :key="index">
                        <td v-for="(tBR, key) in row" :key="key" :class="{'stickyColumn': key == 'time_range'}">
                            <div class="cell" >
                            <template v-if="key == 'time_range'">
                                <div class="text-center white-space-nowrap">
                                    <b v-if="!viewConfig.showShortTimeRange">{{ $options.filters.customDate(tBR[0], '#hhhh#:#mm#', true) + ' - ' + $options.filters.customDate(tBR[1], '#hhhh#:#mm#', true) }}</b>
                                    <b v-else>{{ $options.filters.customDate(tBR[0], '#hhhh#:#mm#', true) }}</b>
                                </div>
                            </template>
                            <template v-else>
                                <template v-for="(trip,k) in tBR['listTrips']">
                                    <TripBoxNew @click="openTrip" 
                                        :trip="trip" 
                                        :key="k"
                                        :route="tBR" 
                                        :startPoint="tBR.listPoint[0]" 
                                        :endPoint="tBR.listPoint[tBR.listPoint.length-1]" />
                                </template>
                                <button class="btn-plus-trip" title="Chọn để tăng cường chuyến vào khung giờ này" @click="setAddTrip(tBR,row['time_range'])" v-show="isAddTrip" :key="key + 'add'"><i class="fas fa-plus"></i></button>
                            </template>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div> 
    <div v-else class="manageListTripNew__body text-center">
        <h3>Chọn tuyến để tiến hành quản lý chuyến</h3>
    </div>

    <el-dialog title="Cập nhật chuyến" width="500px" @closed="$store.commit('RESET_TRIP_EDITOR')" :visible.sync="modal.show">
        <el-time-picker class="w-100 mb-3" 
                        format="HH:mm"
                        value-format="HH:mm"
                        v-model="editor.startTimeReality"
                        :placeholder="$t('departure-time')">
        </el-time-picker>
        <el-input type="text" class="mb-3 w-50" placeholder="Ten chuyen rut gon" v-model="editor.code"></el-input>
        <el-checkbox-group v-model="editor.listLockTrip" class="mb-3 row">
            <el-checkbox v-for="(platform, index) in platforms" class="col-4 mb-1" :label="platform.value" :key="index">{{ platform.label }}</el-checkbox>
        </el-checkbox-group>

        <select-vehicle v-model="editor.vehicle" placeholder="Chon xe" class="w-100 mb-3"></select-vehicle>
        <e-select-user :multiple="true" :userType="[2]" v-model="editor.drivers" @change="handleChangeUser" placeholder="Chon tai xe" class="w-100 mb-3"></e-select-user>
        <e-select-user :multiple="true" :userType="[3]" v-model="editor.assistants" placeholder="Chon phu xe" class="w-100 mb-3"></e-select-user>
        <div class="w-100 d-flex mb-3">
            <el-color-picker v-model="editor.color" :predefine="colorSuggest"></el-color-picker>
            <el-input v-model="editor.color"></el-input>
        </div>
        <el-input type="textarea" placeholder="ghi chu" v-model="editor.note"></el-input>
        <span slot="footer" v-if="tripSelected" class="dialog-footer">
            <el-button type="primary" v-if="$root.roles.TRIP_ARRANGE" @click.stop="updateTrip"><i class="fa mr-1 fa-save"></i> {{$t('button.edit')}}</el-button>
            <el-button v-if="tripSelected.tripStatus < 2 && $root.roles.TRIP_START"  @click.stop="startTrip"><i class="fa mr-1 fa-play-circle"></i> {{$t('button.out-park')}}</el-button>
            <el-button v-if="tripSelected.tripStatus == 2 && $root.roles.TRIP_OPEN_STARTED" @click.stop="stopTrip"><i class="fa mr-1 fa-pause"></i> {{$t('button.open-out-park')}}</el-button>
            <el-button v-if="tripSelected.tripStatus < 2 && $root.roles.TRIP_DELETE" @click.stop="cancleTrip"><i class="fa mr-1 fa-trash"></i> {{$t('button.cancel-trip')}}</el-button>
            <el-button @click="modal.show = false"><i class="fa mr-1 fa-close"></i> {{$t('button.close')}}</el-button>
        </span>
    </el-dialog>
    
    <el-dialog title="Thêm chuyến" width="400px" @closed="$store.commit('RESET_TRIP_EDITOR')" :visible.sync="modal.showAddTrip">
        <el-time-picker class="w-100 mb-3" 
                        format="HH:mm"
                        value-format="HH:mm"
                        v-model="editor.startTimeReality"
                        :placeholder="$t('departure-time')">
        </el-time-picker>

        <select-vehicle v-model="editor.vehicle" placeholder="Chon xe" class="w-100 mb-3"></select-vehicle>
        <e-select-user :multiple="true" :userType="[2]" v-model="editor.drivers" @change="handleChangeUser" placeholder="Chon tai xe" class="w-100 mb-3"></e-select-user>
        <e-select-user :multiple="true" :userType="[3]" v-model="editor.assistants" placeholder="Chon phu xe" class="w-100 mb-3"></e-select-user>
        <div class="w-100 d-flex mb-3">
            <el-color-picker v-model="editor.color" :predefine="colorSuggest"></el-color-picker>
            <el-input v-model="editor.color"></el-input>
        </div>
        <el-input type="textarea" placeholder="ghi chu" v-model="editor.note"></el-input>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click.stop="addTrip"><i class="fa mr-1 fa-save"></i> {{$t('button.create-trip')}}</el-button>
            <el-button @click="modal.showAddTrip = false"><i class="fa mr-1 fa-close"></i> {{$t('button.close')}}</el-button>
        </span>
    </el-dialog>

</section>
</template>

<script>
import {mapActions,mapMutations, mapGetters, mapState} from 'vuex';
import SelectVehicle from '../Vehicle/SelectVehicle';
import ESelectUser from '../User/ESelectUser';
import TripBoxNew from './TripBoxNew'
import {Platform} from "../../class/platform";
import {Vehicle} from '../../class/vehicle'

export default {
    components : {TripBoxNew, SelectVehicle, ESelectUser},
    data : function () {
        return {
            filter: {
                date: new Date().customFormat('#YYYY##MM##DD#'),
                routes: []
            },
            modal: {
                show: false,
                showAddTrip: false,
            },
            colorSuggest: ['#FFFFFF', "#D03125", "#25D061", "#2567D0", "#C725D0"],
            isInitDragScrolling: false,
            loadRoute: true,
            checkAll: false,

            isAddTrip: false,
            listRoutes: [],
            listTrips: [],
            listTripByRoute: {},
            platforms : Platform.properties(),
            options: {
                disabledDate : (time)=>{
                    return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                }
            },
            tableHeader: [],
            tableData: [],
            allowBuildTable: true
        }
    },
    computed: {
        ...mapState({
            tripSelected: state => state.ManageListTrip.tripSelected,
            editor: state => state.ManageListTrip.tripEditor,
            viewConfig: state => state.ManageListTrip.viewConfig,
            companyConfig: state => state.CompanyConfig.companyConfig,
        }),
        routeSelectedMap() {
            let routeMap = {};
            this.filter.routes.forEach(function(route){
                routeMap[route.routeId] = route;
            })

            return routeMap;
        },
    },
    mounted() {
        this.getListRoutes();
        this.$store.commit('SET_VIEW_CONFIG_FROM_LOCAL_STORAGE');
    },
    methods: {
        ...mapMutations([
            'SET_TRIP_SELECTED'
        ]),

        handleChangeUser () {
            if(this.editor.drivers && this.editor.drivers.length > 0 ) {
                let newestDriver = _.cloneDeep(this.editor.drivers[ this.editor.drivers.length - 1 ])
                if( newestDriver.vehicleInfo ) {
                    this.$store.commit('SET_EDITOR_VEHICLE', new Vehicle(newestDriver.vehicleInfo))
                }
            }
        },

        filterAllRoute() {
            if(this.checkAll) {
                this.filter.routes = this.listRoutes
            } else {
                this.filter.routes = [];
            }

            this.getData();
        },

        openTrip(trip) {
            this.modal.show = true
            this.$store.commit('SET_TRIP_SELECTED', trip);
        },

        getListRoutes() {
            let self = this;
            let params = {
                page : 0,
                count : 100,
                companyId : userInfo.userInfo.companyId
            };

            sendJson({
                url : urlDBD(API.routeList),
                data : params,
                success : function (data) {
                    self.listRoutes = data.results.result;
                    self.loadRoute = false;
                },
                functionIfError : function (data) {
                }
            });
        },

        getListTrips(_route, _success = null) {
            let self = this;
            let params = {
                page: 0,
                count: func.count50(),
                timeZone: 7,
                sortSelections : [
                    {fieldName: "startTime", ascDirection: true}
                ],
                companyId: userInfo.userInfo.companyId,
                routeId: _route.routeId,
                date: this.filter.date,
                startPoint: _route.listPoint[0].id,
                endPoint: _.last(_route.listPoint).id,
                searchPointOption: 1,
                source : 1,
                platform: 1,
                getForArrange : true,
            };

            // self.load('getTrip' + _route.routeId);
            return sendJson({
                url : urlDBD(API.planForTripSearch),
                data : params,
                // success : function (data) {
                //     data.results.trips.forEach((trip) => {
                //         trip.ticketsInfo = [];
                //         trip.initFireBase = false;
                //     })

                //     self.listTripByRoute[_route.routeId] = data.results.trips;
                //     _success();
                //     self.unload('getTrip' + _route.routeId);
                // },
                // functionIfError:function (data) {
                //     self.unload('getTrip' + _route.routeId);
                // }
            });
        },

        changeDate() {
            if(this.filter.routes.length == 0) {
                return false
            }
            this.getData()
        },

        getData() {
            let self = this;
            this.load('getListTrips');
            //So luong phan tu trong fillter.routes > trong tripByRoute
            if( this.filter.routes.length > _.size(this.listTripByRoute) ) {

                let listGetTripsRequest = this.filter.routes.filter((_route) => {
                    return !this.listTripByRoute[ _route.routeId ]
                }).map((_route) => {
                    this.listTripByRoute[ _route.routeId ] = _route
                    return this.getListTrips(_route)
                })
                
                this.afterGetList(listGetTripsRequest)
                
            } else if( this.filter.routes.length < _.size(this.listTripByRoute) ) {
                //So luong phan tu trong fillter.routes < trong route map
                $.each(this.listTripByRoute, (key, _tBR) => {
                    _tBR.willDel = true;
                    this.filter.routes.forEach(_route => {
                        if( key == _route.routeId ) {
                            _tBR.willDel = false;
                        }
                    })
                })

                let routeDeleted = []
                $.each(this.listTripByRoute, (key, _tBR) => {
                    if(_tBR.willDel) {
                        delete this.listTripByRoute[key]
                        routeDeleted.push(key)
                        this.tableData.forEach((value) => {
                            delete value[key]
                        });

                        this.tableHeader.forEach((header, k) => {
                            if(header.prop == key) {
                                this.tableHeader.splice(k,1);
                            }
                        });

                    } else {
                        delete this.listTripByRoute[key]['willDel']
                    }
                })
                
                //Lay trip tu listTripByRoute
                // this.listTrips = [];
                let tmpListTrips = []
                this.listTrips.forEach((trip) => {
                    if(!routeDeleted.includes(trip.route.id)) {
                        tmpListTrips.push(trip)
                    }
                })

                this.listTrips = tmpListTrips
                this.unload('getListTrips');
            } else if( this.filter.routes.length == _.size(this.listTripByRoute) ) {
                this.load('getListTripsAll');
                let listGetTripsRequest = this.filter.routes.map((_route) => {
                    this.listTripByRoute[ _route.routeId ] = _route
                    return this.getListTrips(_route)
                })
                this.allowBuildTable = false
                this.listTrips = [];
                this.afterGetList(listGetTripsRequest)
            }
        },
        
        afterGetList(listGetTripsRequest) {
            Promise.all(listGetTripsRequest).then((results) => {
                let data = []
                let listTrips = []
                data.push(...results.map(res => res.results.trips))

                data.forEach((_trips) => {
                    listTrips.push(..._trips)
                })
                
                let tripGettedFirebase = 0
                if(listTrips.length > 0) {
                    listTrips.forEach(_trip => {
                        _trip.ticketsInfo = [];
                        _trip.initFireBase = false
                        this.setDataFromFireBase(_trip, () => {
                            tripGettedFirebase++
                            _trip.time_range = Math.floor( _trip.startTimeReality / (60 * 60 * 1000) ) * (60 * 60 * 1000)
                            if( listTrips.length == tripGettedFirebase ) {
                                //resetdanh sach chuyen, neu khong khi load lai am nay se double trip 
                                this.listTrips.push(...listTrips)
                            }
                        })
                    })
                } else {
                    this.listTrips = _.cloneDeep(this.listTrips)
                }
                
            }).catch(function(e) {
                console.log(e);
            })
        },
        
        setDataFromFireBase(trip, callback = null) {
            let cnn = firebaseDatabase.ref().child('trips').child(trip.tripId);
            cnn.on('value', function (snapshot) {
                let data = snapshot.val();
                if (data) {
                    trip.startTimeReality = data.tripInfo.startTimeReality;
                    trip.totalEmptySeat = data.tripInfo.totalEmptySeat;
                    trip.tripStatus = data.tripInfo.tripStatus;
                    trip.code = data.tripInfo.code;
                    trip.note = data.tripInfo.note;
                    trip.listLockTrip = data.tripInfo.listLockTrip;
                    trip.totalSeat = data.tripInfo.totalSeat
                    trip.seatMap = data.tripInfo.seatMap

                    if(data.tripInfo.vehicle){
                        trip.vehicle = data.tripInfo.vehicle;
                    }

                    trip.drivers = data.tripInfo.drivers;
                    trip.assistants = data.tripInfo.assistants;
                    trip.startTime = data.tripInfo.startTimeReality;//múi giờ + 0
                    if(data.tripDetail) {
                        trip.ticketsInfo = data.tripDetail.ticketsInfo||[];//múi giờ + 0
                    }
                }
                
                callback()
            });

            trip.initFireBase = true
        },
        
        cancleTrip() {
            if(this.tripSelected.ticketsInfo && _.size(this.tripSelected.ticketsInfo) > 0){
                notify('Chuyến này đã có vé. Bạn không thể hủy chuyến !', 'warning')
                return false;
            }

            if(!confirm("Bạn có chắc chắn muốn xóa?")){
                return false;
            }

            this.editor.tripStatus = 4;
            this.saveTrip(() => {
                notify(this.$t('notify.cancel-success'),"success");
                this.modal.show = false
            }, {tripId: this.tripSelected.tripId, tripStatus: this.editor.tripStatus})
        },

        setAddTrip(route, timeRange) {
            this.$store.commit('RESET_TRIP_EDITOR');
            this.modal.showAddTrip = true;
            this.editor.route = route;
            this.editor.startTimeReality = this.$options.filters.customDate(timeRange[0],'#hhhh#:#mm#',true);
        },

        addTrip() {
            if(this.editor.vehicle == null) {
                notify('Vui lòng chọn xe !', 'warning')
                return false
            }

            let self=this;
            let params = {};

            params = {
                startTime: func.timeToMs(this.editor.startTimeReality),
                startDate: this.filter.date,
                endDate: this.filter.date,
                routeId: this.editor.route.routeId,
            };
            let indexDay = new Date(func.dateStrToMs(this.filter.date) ).getDay();
            let indexCycle = (indexDay + 3) % 7; // 0 là thứ 5

            params.indexCycle = [indexCycle];
            
            if(this.editor.assistants) {
                params.assistants = this.editor.assistants.map(_ => { return {id: _.id} })
            }

            if(this.editor.drivers) {
                params.drivers = this.editor.drivers.map(_ => { return {id: _.id} })
            }
            
            if(this.editor.vehicle){
                params.vehicle = { id: this.editor.vehicle.vehicleId };
            }
            
            if(this.editor.color){
                params.color = this.editor.color;
            }

            

            self.load('addTrip');
            sendJson({
                url : urlDBD(API.planForTripCreate),
                data : params,
                success : function (res) {
                    self.modal.showAddTrip = false;
                    self.getData();
                    self.unload('addTrip');
                    notify('Tăng cường chuyến thành công',"success");
                },
                functionIfError : function (res) {
                    self.unload('addTrip');
                }
            })
        },

        startTrip() {
            this.editor.tripStatus = 2;
            this.saveTrip(() => {
                notify(this.$t('notify.processing'))
                this.$store.commit('SET_TRIP_SELECTED_STATUS', this.editor.tripStatus)
            }, {tripId: this.tripSelected.tripId, tripStatus: this.editor.tripStatus})
        },

        stopTrip() {
            this.editor.tripStatus = 1;
            this.saveTrip(() => {
                notify(this.$t('notify.processing'))
                this.$store.commit('SET_TRIP_SELECTED_STATUS', this.editor.tripStatus)
            }, {tripId: this.tripSelected.tripId, tripStatus: this.editor.tripStatus})
        },
        
        updateTrip() {
            if(this.tripSelected.tripStatus == 2) {
                notify('Không thể cập nhật chuyến đã xuất bến !', 'warning')
                return
            }

            this.saveTrip(() => {
                notify(this.$t('notify.processing'))
                this.modal.show = false
            })
        },
        
        saveTrip( _callback = null, defaultParam = null) { 
            let self = this;
            let params = {}
            let mapSeatList = {};
            let listSeatChange = [];

            if(defaultParam) {
                params = defaultParam;
            } else {
                params = {
                    tripId: this.tripSelected.tripId,
                    note: this.editor.note,
                    startTimeReality: func.timeToMs(this.editor.startTimeReality),
                    listLockTrip: this.editor.listLockTrip,
                    tripStatus: this.editor.tripStatus,
                };

                if(this.editor.assistants) {
                    params.assistants = this.editor.assistants.map(_ => { return {id: _.id, fullName: _.fullName} })
                }

                if(this.editor.drivers) {
                    params.drivers = this.editor.drivers.map(_ => { return {id: _.id, fullName: _.fullName} })
                }

                if(this.editor.color){
                    params.color = this.editor.color;
                }

                if( this.editor.vehicle.vehicleId  ) {
                    params.vehicle = {
                        id: this.editor.vehicle.vehicleId
                    }

                    $.each(this.editor.vehicle.seatMap.seatList,function (s,seat) {
                        mapSeatList[seat.seatId] = s;
                    });
                    
                    $.each(this.tripSelected.ticketsInfo, (t,ticket) => {
                        let seatId = ticket.seat.seatId;
                        if( mapSeatList[seatId] != undefined && 
                            this.editor.vehicle.seatMap.seatList[mapSeatList[seatId]] && 
                            (this.editor.vehicle.seatMap.seatList[mapSeatList[seatId]].seatType == 3 ||this.editor.vehicle.seatMap.seatList[mapSeatList[seatId]].seatType == 4) ) {

                            listSeatChange.push({
                                ticketId : ticket.ticketId,
                                seat : {
                                    seatId : seatId,
                                    seatType : this.editor.vehicle.seatMap.seatList[mapSeatList[seatId]].seatType
                                },
                            });

                        } else {

                            listSeatChange.push({
                                ticketId : ticket.ticketId,
                                seat : {
                                    seatId : seatId,
                                    seatType : 0
                                },
                            });
                        }
                    });
                }
            }
            self.load('updateManageTrip');
            
            sendJson({
                url: urlDBD(API.tripManage),
                data : params,
                success: function (data) {
                    if( listSeatChange.length > 0 ) {
                        self.updateTicket(listSeatChange);
                    }
                    
                    if( typeof _callback === 'function' ) {
                        _callback();
                    }
                    
                    self.unload('updateManageTrip');
                },
                functionIfError : function (err) {
                    self.unload('updateManageTrip');
                    // self.$emit('eventManageTrip',{event : 'updateError',data:err});
                }
            })
        },

        updateTicket(params) {
            let self = this;
            if( params.length <= 0 ){
                return false;
            }

            self.load('updateTicketManage');
            sendJson({
                url : urlDBD(API.ticketTransfer),
                data : params,
                success : function (res) {
                    self.unload('updateTicketManage');
                },
                functionIfError : function (err) {
                    self.unload('updateTicketManage');
                }
            })
        },

        createTable( _listTrips = null ) {
            if(!_listTrips) {
                _listTrips = this.listTrips
            } 
            let tableHeader = [];
            let routesFilterMap = {}

            this.filter.routes.forEach(function (value, key) {
                tableHeader.push({
                    prop: value.routeId,
                    label: value.routeName,
                })
            })
            this.tableHeader = tableHeader

            let dataTableTemp = [];
            let times = [];
            let routeSelectedMap = this.routeSelectedMap;

            [...Array(24).keys()].forEach((val, key) => {
                times[key] = {};
                times[key][0] = val * 60 * 60 * 1000;
                times[key][1] = (val + 1) * 60 * 60 * 1000;
                times[key]['hasTicket'] = false
                dataTableTemp.push({time_range: times[key], ..._.cloneDeep(routeSelectedMap)});
            });

            let trips = _.cloneDeep(_listTrips);    

            dataTableTemp.forEach((value, key ) => {
                trips.forEach( function(trip){
                    if(value[ trip.route.id ]) {
                        if( !value[ trip.route.id ]['listTrips'] ) {
                            value[ trip.route.id ]['listTrips'] = []
                        }

                        if( trip.startTimeReality >= value['time_range'][0] && trip.startTimeReality < value['time_range'][1] ) {
                            value[ trip.route.id ]['listTrips'].push(trip)
                            value.time_range.hasTicket = true
                        }
                    }
                })
            })  

            let dataTable = []
            dataTableTemp.forEach((value,key) => {
                if( this.viewConfig.showTimeNoTrip ) {
                    if( value.time_range.hasTicket ) {
                        dataTable.push(value)
                    }
                } else {
                    dataTable.push(value)
                }
            })

            this.tableData = dataTable
            if(!this.isInitDragScrolling) {
                func.initDragScrolling('.manageListTripNew__body')
            }

            this.unload('getListTripsAll');
        }
    },
    watch: {
        viewConfig: {
            handler(config){
                localStorage.setItem('ManageListTrip.viewConfig', JSON.stringify(config) );
            },
            deep: true
        },
        'viewConfig.showTimeNoTrip': function(config) {
            this.createTable()
        },
        'viewConfig.showSeat': function(config) {
            this.$store.commit('SET_CONFIGS', {showSoldSeat: !config})
        },
        'viewConfig.showSoldSeat': function(config) {
            this.$store.commit('SET_CONFIGS', {showSeat: !config})
        },
        listTrips: {
            handler(_listTrips) {
                if(this.allowBuildTable) {
                    this.createTable(_listTrips)
                }
                this.unload('getListTrips');
                this.allowBuildTable = true
            },
            deep: true
        },

        'filter.routes': { 
            handler: function(routesFilter){
                if(routesFilter.length < this.listRoutes.length) {
                    this.checkAll = false
                } else {
                    this.checkAll = true
                }
            },
            deep: true
        }
    },
    destroyed:function () {
        this.listTrips.forEach((trip) => {
            trip.off();
        })
    }
}
</script>

<style lang='scss'>

.manageListTripNew {
    padding: 24px 0px;
}
:root {
    --trip-not-open: #C4DBFE;
    --trip-open: #e4a5a5;
    --trip-driver-viewing: #F5C170;
    --trip-vehicle-viewing: #ffed4a; 
    --trip-lock: #ccc
}
.manageListTripNew__body {
    padding: 24px 0px;
    overflow-x: auto;
    position: sticky;
}
.manageListTripNew table {
    background-color: #fff;
    width: fit-content;
    position: sticky;
}
.manageListTripNew .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}
.manageListTripNew .table-striped tbody tr:nth-of-type(odd) .stickyColumn {
    background-color: #f6f6f6;
}
.manageListTripNew .table-hover tbody tr:hover,
.manageListTripNew .table-hover tbody tr:hover .stickyColumn{
    background-color: #f6f6f6;
}
.manageListTripNew .stickyColumn {
    position: sticky;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: rgb(222, 226, 230) 1px 0px 0px 0px;
    // border-right: 1px solid #e8edf2;
}

.manageListTripNew__body.active {
    cursor: grab;
}
// .manageListTripNew  .el-table__body tr:nth-of-type(odd) {
//     background-color: rgba(250, 250, 255, 1);
// }
.manageListTripNew>h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
    color: #000000;
}

.manageListTrip__filter {
    padding: 8px 24px;
    background: #ECEDF1;
}

.manageListTrip__filter__date {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.manageListTrip__filter__date label {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 8px;
}
.manageListTripNew .btn-list-route {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #084388;
    border-radius: 4px;
    color: #fff;
}

.manageListTrip__listRoute {
    min-width: 320px;
    padding: 16px;
    max-height: 50vh;
    overflow-y: auto;
}

.manageListTrip__listRoute .el-checkbox {
    display: block;
}

.manageListTripNew .trip__item {
    display: inline-flex;
    padding: 4px;
    margin-right: 1px;
    background: var(--trip-not-open);
    border-radius: 4px;
    margin-bottom: 4px;
    // align-items: center;
    justify-content: space-between;
}
.manageListTripNew .trip__item.lock{
    background-color: var(--trip-lock);
}

.manageListTripNew .trip__item.open{
    background-color: var(--trip-open)!important;
}

.manageListTripNew .trip__item.viewed{
    background-color: var(--trip-driver-viewing)!important;
}

.manageListTripNew .trip__item.bg-warning {
    background-color: var(--trip-vehicle-viewing)!important;
}

.manageListTripNew .trip__item:hover{
    cursor: pointer;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
}
.manageListTripNew .trip__item p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #232731;
    white-space: nowrap;
}
.manageListTripNew .trip__item__driver p:last-child {
    margin-bottom: 0px;
}
.manageListTripNew .trip__item__driver p {
    margin-bottom: 4px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.manageListTripNew  .trip__item__vehicle {
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.manageListTripNew .trip__item__driver p i{
    margin-right: 4px;
}
.manageListTripNew .trip__item>p {
    margin-right: 8px;
}

.manageListTripNew .white-space-nowrap {
    white-space: nowrap;
}
.manageListTripNew .btn-plus-trip {
    border: 1px dashed #084388;
    padding: 0px 5px;
    border-radius: 4px;
}
.manageListTripNew .btn-plus-trip:hover {
    cursor: pointer;
}

</style>