<template>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="form-group">
                <label>Ngày</label>
                <datepicker v-model="selected.date" typeDate="inline"></datepicker>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                <label>Tuyến</label>
                <multiselect select-label="" :allow-empty="false" deselect-label="" :options="routes" label="routeName" placeholder="Chọn Tuyến" v-model="selected.route"></multiselect>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label>Chuyến</label>
                <div class="row no-gutters">
                    <div class="col-12" v-if="trips.length<=0">Không có chuyến nào</div>
                    <template v-for="(trip,key) in trips">
                        <div class="col-4 col-md-3" :key="key">
                            <div class="tripOption" @click="setTripSelected(trip)" :class="{'active': selected.trip!==null &&trip.scheduleId == selected.trip.scheduleId}">
                                <table style="width:100%">
                                    <tr>
                                        <td class="time">{{trip.getInTime|customDate('#hhhh#:#mm#')}}</td>
                                        <td class="numberPlate text-right">{{ trip.numberPlate|cutString(5,'end') }}</td>
                                    </tr>
                                </table>
                                <div class="q-progress-bar">
                                    <div class="probar" :style="{'width':Math.ceil((trip.totalSeat-trip.totalEmptySeat)*100/trip.totalSeat)+'%','background':trip.totalEmptySeat==0?'red':'#4caf50'}"></div>
                                    <div class="textbar">Trống : {{ trip.totalEmptySeat }}</div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-8">
                    <ul class="timeline">
                        <li class="active">
                            <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
                            <a href="#" class="float-right">21 March, 2014</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                        </li>
                        <li>
                            <a href="#">21 000 Job Seekers</a>
                            <a href="#" class="float-right">4 March, 2014</a>
                            <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
                        </li>
                        <li>
                            <a href="#">Awesome Employers</a>
                            <a href="#" class="float-right">1 April, 2014</a>
                            <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data : function () {
            return {
                selected : {
                    route : null,
                    date : null,
                    trip :null,
                },
                routes : [],
                trips : []
            }
        },
        mounted : function () {
            this.setDateSelected();
            this.getRoutes();
        },
        methods : {
            getRoutes : function () {
                let self = this;
                self.load('loadRoute');
                sendJson({
                    url : urlDBD(API.routeList),
                    data : {page : 0,count :func.count50(),companyId : userInfo.userInfo.companyId},
                    success :function (res) {
                        self.routes = res.results.result;
                        self.setRouteSelected();
                        self.unload('loadRoute');
                    },
                    functionIfError : function (res) {
                        self.unload('loadRoute');
                    }
                })
            },
            setRouteSelected : function () {
                let self = this;
                let history = JSON.parse(sessionStorage.getItem('history')||'{}');
                let routeId = history.routeId!==undefined ? history.routeId : null;
                routeId = self.$route.query.routeId!==undefined ? self.$route.query.routeId : routeId;
                if(self.routes.length > 0){
                    if(routeId === null){
                        self.selected.route = _.cloneDeep(self.routes[0]);
                    }else{
                        let r = $.grep(self.routes,function (v,k) {
                            return routeId === v.routeId;
                        });
                        if(r.length>0){
                            self.selected.route = r[0];
                        }else {
                            self.selected.route = self.routes[0];
                        }
                    }
                }else{
                    self.selected.route = null;
                }
            },
            setDateSelected : function () {
                let self = this;
                let history = JSON.parse(sessionStorage.getItem('history')||'{}');
                let date = history.date !== undefined ? history.date : null;
                date = self.$route.query.date!==undefined ? self.$route.query.date : date;
                self.selected.date = date;
            },
            setTripSelected : function (trip) {
                let self = this;
                if(trip === undefined){
                    let history = JSON.parse(sessionStorage.getItem('history')||'{}');
                    let tripId = history.tripId !== undefined ? history.tripId : null;
                    tripId = self.$route.query.tripId!==undefined ? self.$route.query.tripId : tripId;
                    if(self.trips.length > 0){
                        if(tripId === null){
                            self.selected.trip = _.cloneDeep(self.trips[0]);
                        }else{
                            let t = $.grep(self.trips,function (v,k) {
                                return tripId === v.tripId;
                            });
                            if(t.length>0){
                                self.selected.trip = t[0];
                            }else {
                                self.selected.trip = self.trip[0];
                            }
                        }
                    }else {
                        self.selected.trip = null;
                    }
                }else{
                    this.selected.trip = _.cloneDeep(trip);
                }
            },
            getTrips : function () {
                let self = this;
                if(self.selected.route===null){
                    return false;
                }
                self.selected.trip=null;
                let route = _.cloneDeep(self.selected.route);
                let params = {
                    'page': 0,
                    'count': 100,
                    'timeZone': 7,
                    'routeId': route.routeId,
                    'companyId': userInfo.companyId,
                    'date': func.dateToMS(self.selected.date),
                    'start': route.listPointId[0],
                    'end': route.listPointId[route.listPointId.length-1],
                };
                self.load('getListTrip');
                sendJson({
                    url : urlDBD(API.tripList),
                    data : params,
                    success : function (data) {
                        self.trips = data.results.result;
                        self.setTripSelected();
                        self.unload('getListTrip');
                    },
                    functionIfError:function (data) {
                        self.unload('getListTrip');
                    }
                });
            },
            getStatisticByPoint : function () {
                if(this.selected.trip!==null){
                    let self = this;
                    self.load('getStatisticByPoint');
                    sendJson({
                        url : urlDBD(API.statisticByPoint),
                        data : {
                            tripId : self.selected.trip.tripId,
                            companyId : userInfo.userInfo.companyId,
                        },
                        success : function (data) {
//                        self.trips = data.results.result;
                            console.log(data);
                            self.unload('getStatisticByPoint');
                        },
                        functionIfError:function (data) {
                            self.unload('getStatisticByPoint');
                        }
                    });
                }
            }
        },
        watch : {
            'selected.route':function () {
                this.getTrips();
            },
            'selected.date':function () {
                this.getTrips();
            },
            'selected.trip':function () {
                this.getStatisticByPoint();
            },
        }
    }
</script>