<template>
    <div class="modal fade bd-example-modal-lg" id="modalLogsTrip" tabindex="-1" role="dialog" aria-labelledby="modalLogsTrip" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lịch sử chuyến</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div v-if="trip.logs.length<=0">
                        Không có dữ liệu
                    </div>
                    <div class="w-100" v-else>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Thời gian</th>
                                    <th>Người thực hiện - (Phòng vé)</th>
                                    <th>Hành động</th>
                                    <th>Thông tin</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="(log,l) in trip.logs">
                                    <tr :key="l">
                                        <td>{{log.date|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true)}}</td>
                                        <td>{{log.fullName}}{{getRoomName(log.logs)}}</td>
                                        <td>{{log.type.label()}}</td>
                                        <td>
                                            <template v-for="logDetail in log.logs">
                                                 - {{logDetail.label()}}: <b>{{logDetail.getValueString()}}</b> <br>
                                            </template>
                                        </td>
                                    </tr>
                                </template>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props : {
            trip : {
                type : [Array,Object]
            }
        },
        methods : {
            getRoomName: function (logs) {
                let room = logs.find(element => element.field === 'room');
                return room && room.value ? ` - ${room.value.name}` : '';
            },
            view : function () {
                console.log('view')
                $(this.$el).modal('show');
                if(this.trip){
                    this.trip.getLogs();
                }
            }
        }
    }
</script>