<template>
    <tr :class="[trip.tripStatus==2?'trip-started':'']" :style="{border  : issetDriverViewInTrip ? '2px solid red':''}">
        <template v-if="loading.tripStatus||loading.listLockTrip||loading.drivers||loading.assistants||loading.vehicle">
            <td colspan="6" class="text-center" style="font-size: 16px; line-height: 24px">Đang cập nhật</td>
        </template>
        <template
                v-if="!(loading.tripStatus||loading.listLockTrip||loading.drivers||loading.assistants||loading.vehicle)">
            <td class="no-border-el-input">
                <el-time-picker :clearable="false" :disabled="trip.tripStatus>1"
                                :style="{'text-decoration':tripLockAll?'line-through':'none','font-size':'16px',color : tripLockAll?'#E62020':'inherit','min-width':'75px','max-width':'100px'}"
                                v-model="timeChange" format="HH:mm" value-format="HH:mm" @blur="updateTime"
                                placeholder="Arbitrary time"></el-time-picker>
            </td>
            <td class="no-border-dropdown-q">
                <select-user :view="true" :user-type="[2]" class="w-100" :value="trip.drivers" :multiple="true"
                             @input="updateDrivers"
                             placeholder="Chon tài xế" @view="emitView"></select-user>
            </td>
            <td class="no-border-dropdown-q">
                <select-user :user-type="[3]" class="w-100" :value="trip.assistants" :multiple="true"
                             @input="updateAssistants"
                             placeholder="Chon phụ xe"></select-user>
            </td>
            <td class="no-border-el-input">
                <select-vehicle :clearable="false"
                                :value="trip.vehicle?{vehicleId : trip.vehicle.id,numberPlate : trip.vehicle.numberPlate}:null"
                                @input="updateVehicle"
                                :disabled="loading.vehicle||trip.tripStatus>1">
                </select-vehicle>
                <span><i class="fa fa-eye cursor-pointer" @click="clickViewVehice(trip)"></i></span>
            </td>
            <td :style="{'text-decoration':tripLockAll?'line-through':'none',color : tripLockAll?'#E62020':'inherit'}">
                <span>{{ trip.loadingFirebase?'Đang tính toán...':totalEmptySeat }}/{{trip.totalSeat}}</span><span
                    :style="{color : tripLockAll||totalEmptySeat ==0 ?'#E62020':'#00C48C','font-weight':totalEmptySeat ==0?'600':'normal'}">({{Math.ceil((trip.totalSeat-totalEmptySeat)*100/trip.totalSeat)+'%'}})</span>
            </td>
            <td>
                <el-switch v-model="saved" inactive-color="#E62020" active-color="#084388"></el-switch>
                <el-popover width="150" trigger="click" @show="listLockTrip = trip.listLockTrip||[]"
                            v-if="trip.tripStatus==1"
                            @hide="updateListLockTrip()">
                    <el-button slot="reference" size="mini" circle :style="{color : tripLockAll?'#E62020':'inherit'}"><i
                            class="fa fa-lock"></i></el-button>
                    <div class="w-100" style="padding-left:16px">
                        <template v-for="(platform,p) in platforms">
                            <label class="form-check-label w-100">
                                <input type="checkbox" :id="'listLockTrip'+p" style="left:inherit"
                                       class="form-check-input"
                                       :value="platform.value" v-model="listLockTrip">
                                <span style="font-size: 16px;line-height: 19px;font-family: Cabin;font-weight: normal;padding-bottom: 8px">{{platform.label}}</span>
                            </label>
                        </template>
                    </div>
                </el-popover>
                <el-dropdown trigger="click" @command="commandTrip">
                    <el-button size="mini" circle><i class="fa fa-ellipsis-h"></i></el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="view"><i class="fa fa-info"></i> Xem chi tiết chuyến
                        </el-dropdown-item>
                        <el-dropdown-item v-if="$root.roles.TRIP_OPEN_STARTED&&trip.tripStatus==2"
                                          command="open-started"><i
                                class="fa fa-pause"></i> {{$t('button.open-out-park')}}
                        </el-dropdown-item>
                        <el-dropdown-item v-if="$root.roles.TRIP_START&&trip.tripStatus==1" command="start"><i
                                class="fa fa-play-circle"></i> {{$t('button.out-park')}}
                        </el-dropdown-item>
                        <el-dropdown-item v-if="$root.roles.TRIP_DELETE&&trip.tripStatus==1" command="cancel"
                                          :title="$t('button.cancel-trip')">
                            <i class="fa fa-trash"></i> Hủy chuyến
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <!--<button class="btn btn-sm btn-primary" v-if="$root.roles.TRIP_LOCK" v-on:click.stop="lockTrip()"-->
                <!--:title="$t('button.lock')"><i-->
                <!--:class="['fa',trip.listLockTrip&&trip.listLockTrip.length==4?'fa-lock-open':'fa-lock']"></i>-->
                <!--</button>-->
                <!--<button class="btn btn-sm btn-primary" v-if="$root.roles.TRIP_ARRANGE"-->
                <!--v-on:click.stop="$emit('event',{eventName:'updateTrip'})" :title="$t('button.edit')"><i-->
                <!--class="fa fa-edit"></i></button>-->
                <!--<button class="btn btn-sm btn-danger" v-if="$root.roles.TRIP_DELETE"-->
                <!--v-on:click.stop="$emit('event',{eventName:'deleteTrip'})" :title="$t('button.cancel-trip')"><i-->
                <!--class="fa fa-trash"></i></button>-->
            </td>
        </template>
    </tr>
</template>
<script>

    import {mapState} from 'vuex'
    import {Platform} from "../../class/platform";
    import SelectUser from '../User/SelectUser'
    import SelectVehicle from '../Vehicle/SelectVehicle'

    export default {
        components: {SelectUser, SelectVehicle},
        props: {
            trip: {
                type: Object
            },
            route: {
                type: Object
            },
            startPoint: {
                type: Object
            },
            endPoint: {
                type: Object
            },
            driverView: {
                type: Object,
                default: null
            },
            vehiceView: {
                type: Object,
                default: null
            }
        },
        data: function () {
            let self = this;
            return {
                loading: {
                    vehicle: false,
                    drivers: false,
                    assistants: false,
                    tripStatus: false,
                    listLockTrip: false,
                },
                platforms: Platform.properties(),
                listLockTrip: [],
                timeChange: self.$options.filters.customDate(self.trip.startTime, '#hhhh#:#mm#', true),
                saved: false
            }
        },
        computed: {
            totalEmptySeat: function () {
                try {
                    let ticketsInfo = this.trip.ticketsInfo;
                    let seatListInfo = this.seatListInfo;
                    let pointRouteIndex = this.pointRouteIndex;
                    let startPointIndex = this.startPoint.id ? pointRouteIndex[this.startPoint.id] : 0;
                    let endPointIndex = this.endPoint.id ? pointRouteIndex[this.endPoint.id] : Object.keys(pointRouteIndex).length;
                    let totalSeat = this.trip.totalSeat;
                    $.each(ticketsInfo, function (t, ticket) {
                        let ticketEndTime = ticket.ticketStatus == 2 && ticket.overTime && ticket.overTime < new Date().getTime() ? true : false;
                        let notGoFromStartIndexToEndIndex = pointRouteIndex[ticket.pointUp.id] >= endPointIndex || pointRouteIndex[ticket.pointDown.id] <= startPointIndex;// không nằm trong khoảng lên xuống
                        let seatInfoSeatMap = seatListInfo[ticket.seat.seatId];
                        let ticketInSeatMap = seatInfoSeatMap && seatInfoSeatMap.floor == ticket.seat.floor && seatInfoSeatMap.column == ticket.seat.column && seatInfoSeatMap.row == ticket.seat.row && (ticket.seat.seatType == 3 || ticket.seat.seatType == 4);
                        if (!notGoFromStartIndexToEndIndex && ticketInSeatMap && !ticketEndTime) {// vé nằm trong khoảng lên xuống và nằm trong sơ đồ ghế
                            seatListInfo[ticket.seat.seatId].hasTicket = true;
                        }
                    });
                    let seatHasTicket = 0;
                    $.each(seatListInfo, function (s, seat) {
                        seatHasTicket += seat.hasTicket ? 1 : 0;
                    })
                    return totalSeat - seatHasTicket;
                } catch (e) {
                    console.warn(e);
                    return this.trip.totalSeat;
                }
            },
            seatListInfo: function () {
                let sl = this.trip.seatMap.seatList;
                let seatList = {};
                $.each(sl, function (s, seat) {
                    if (seat.seatType == 3 || seat.seatType == 4) {
                        seatList[seat.seatId] = {
                            seatId: seat.seatId,
                            floor: seat.floor,
                            column: seat.column,
                            row: seat.row,
                            seatType: seat.seatType,
                            hasTicket: false,
                        }
                    }
                });
                return seatList;
            },
            pointRouteIndex: function () {
                let l_listPoint = this.route.listPoint;
                let index = {};
                $.each(l_listPoint, function (p, point) {
                    index[point.id] = p;
                });
                return index;
            },
            ...mapState({
                sellForm: state => state.sellForm
            }),
            tripLockAll: function () {
                return this.trip.listLockTrip && this.trip.listLockTrip.length == 5 ? true : false;
            },
            issetDriverViewInTrip: function () {                
                let driverView = this.driverView;
                let driversTrip = this.trip.drivers;

                let vehiceView = this.vehiceView;
                let vehiceTrip = this.trip.vehicle;

                let isset = false;
                
                if (driverView) {
                    $.each(driversTrip, function (d, driver) {
                        if (driver.id === driverView.id) {
                            isset = true;
                            return false;
                        }
                    });
                }

                if (vehiceView) {
                    if(vehiceTrip.id == vehiceView.id) {
                        isset = true;
                    }
                }
                
                return isset;
            }
        },
        methods: {
            openNewTab: function () {
                let data = {
                    tripId: this.trip.tripId,
                    routeId: this.trip.route.id,
                    startPointId: this.startPoint.id,
                    endPointId: this.endPoint.id,
                }
                data.date = this.$options.filters.strToDate(this.trip.date);
                func.setHistory(data);
                let routeData = this.$router.resolve({name: this.sellForm});
                window.open(routeData.href, '_blank');
            },
            lockTrip: function () {
                let self = this;
                if (self.trip.ticketsInfo && Object.keys(self.trip.ticketsInfo).length > 0 && !confirm("Chuyến đang có vé bạn có chắc chắn muốn khóa?")) {
                    return false
                }
                let param = {
                    tripId: self.trip.tripId,
                };
                if (self.trip.listLockTrip && self.trip.listLockTrip.length == 5) {
                    param.listLockTrip = [];
                } else {
                    param.listLockTrip = [1, 2, 3, 4, 5];
                }
                self.load('updateManageTrip');
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        self.unload('updateManageTrip');
                    },
                    functionIfError: function (err) {
                        self.unload('updateManageTrip');
                    }
                })
            },
            updateVehicle: function (vehicle) {
                let self = this;
                let param = {
                    tripId: self.trip.tripId
                };
                let listSeatChange = [];
                param.vehicle = {
                    id: vehicle.vehicleId,
                }
                let mapSeatList = {};
                $.each(vehicle.seatMap.seatList, function (s, seat) {
                    mapSeatList[seat.seatId] = s;
                });
                $.each(self.trip.ticketsInfo, function (t, ticket) {
                    if (mapSeatList[ticket.seat.seatId] != undefined && vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]] && (vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType == 3 || vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType == 4)) {
                        listSeatChange.push({
                            ticketId: ticket.ticketId,
                            seat: {
                                seatId: ticket.seat.seatId,
                                seatType: vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType
                            },
                        });
                    } else {
                        listSeatChange.push({
                            ticketId: ticket.ticketId,
                            seat: {
                                seatId: ticket.seat.seatId,
                                seatType: 0
                            },
                        });
                    }
                });
                self.loading.vehicle = true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        console.log(data)

                        self.updateTicket(listSeatChange);
                        self.loading.vehicle = false;
                    },
                    functionIfError: function (err) {
                        self.loading.vehicle = false;
                    }
                })
            },
            updateTicket: function (data) {
                let self = this;
                if (data.length <= 0) {
                    return false;
                }
                sendJson({
                    url: urlDBD(API.ticketTransfer),
                    data: data,
                    success: function (res) {
                    },
                    functionIfError: function (err) {
                        console.log(err)
                    }
                })
            },
            updateDrivers: function (drivers) {
                let self = this;
                let param = {
                    tripId: self.trip.tripId
                };
                let listDriver = [];
                if (drivers) {
                    $.each(drivers, function (d, driver) {
                        let drv = {
                            id: driver.id,
                            fullName: driver.fullName
                        }
                        listDriver.push(drv);
                    })
                }
                param.drivers = listDriver;
                self.loading.drivers = true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        self.loading.drivers = false;
                        if (drivers && drivers.length > 0 && _.first(drivers).vehicleInfo) {
                            self.setVehicleByDriver(_.first(drivers).vehicleInfo)
                        }
                    },
                    functionIfError: function (err) {
                        self.loading.drivers = false;
                    }
                })
            },
            setVehicleByDriver: function (vehicleInfo) {
                let self = this;
                if (!vehicleInfo || vehicleInfo.id === this.trip.vehicle.id) {
                    return false;
                }
                sendParam({
                    url: urlDBD(API.vehicleView),
                    type: "GET",
                    data: {
                        id: vehicleInfo ? vehicleInfo.id : null
                    },
                    success: function (data) {
                        self.updateVehicle(data.results.vehicle);
                    }
                })
            },
            updateAssistants: function (assistants) {
                let self = this;
                let param = {
                    tripId: self.trip.tripId
                };
                let listAssistant = [];
                if (assistants) {
                    $.each(assistants, function (a, assistant) {
                        let ass = {
                            id: assistant.id,
                            fullName: assistant.fullName
                        }
                        listAssistant.push(ass);
                    })
                }
                param.assistants = listAssistant;
                self.loading.assistants = true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        self.loading.assistants = false;
                    },
                    functionIfError: function (err) {
                        self.loading.assistants = false;
                    }
                })
            },
            updateTripStatus: function (status) {
                let self = this;
                let param = {
                    tripId: self.trip.tripId,
                    tripStatus: status
                };
                self.loading.tripStatus = true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        self.loading.tripStatus = false;
                    },
                    functionIfError: function (err) {
                        self.loading.tripStatus = false;
                    }
                })
            },
            updateTime: function () {
                let self = this;
                let param = {
                    tripId: self.trip.tripId
                };
                if (this.timeChange) {
                    param.startTimeReality = func.timeToMs(self.timeChange);
                } else {
                    param.startTimeReality = 0;
                    this.timeChange = '00:00'
                }
                if (param.startTimeReality === self.trip.startTime) {
                    return false
                }
                self.loading.tripStatus = true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        self.loading.tripStatus = false;
                    },
                    functionIfError: function (err) {
                        self.loading.tripStatus = false;
                    }
                })
            },
            commandTrip: function (event) {
                switch (event) {
                    case 'cancel':
                        this.updateTripStatus(4);
                        break;
                    case 'start':
                        this.updateTripStatus(2);
                        break;
                    case 'open-started':
                        this.updateTripStatus(1);
                        break;
                    case 'view':
                        this.openNewTab();
                        break;
                }
            },
            updateListLockTrip: function () {
                let self = this;
                let param = {
                    tripId: self.trip.tripId,
                    listLockTrip: self.listLockTrip
                };
                if ((!self.trip.listLockTrip && self.listLockTrip.length == 0) || JSON.stringify(self.listLockTrip) === JSON.stringify(self.trip.listLockTrip)) {
                    return false;
                }
                self.loading.listLockTrip = true;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: param,
                    success: function (data) {
                        self.loading.listLockTrip = false;
                    },
                    functionIfError: function (err) {
                        self.loading.listLockTrip = false;
                    }
                })
            },
            clickViewVehice(trip) {
                this.$emit('viewVehice', trip.vehicle);
            },
            emitView: function (event) {
                this.$emit('view', event);
            }
        }
    }
</script>
<style>
    .no-border-el-input .el-input__inner, .no-border-dropdown-q .dropdown-q-label {
        border: 1px solid transparent !important;
        background: inherit !important;
    }

    .no-border-el-input:hover .el-input__inner, .no-border-dropdown-q:hover .dropdown-q-label {
        border: 1px dashed #bab5b5 !important;
    }

    .no-border-el-input .el-icon-circle-close {
        color: red !important;
    }

    tr.trip-started {
        background: #CFD3DB !important;
    }

    tr.disabled {
        background-color: grey !important;
    }
</style>