<template>
  <tr v-bind:class="{ lock: (trip.listLockTrip&&trip.listLockTrip.length>=5) }">
    <td> <span class="start-time" style="color: #464D5D;font-weight: 500;">
        <clock-picker v-model="startTimeRealityStr" input-class="form-control text-center" @input="changeDate"></clock-picker>
        {{trip.startTime|customDate('#hhhh#:#mm#',true)}}</span>
    </td>
    <td>
      <!--<div class="select-vehicle">-->
        <!--<SelectVehicle class="w-100" v-model="vehicle" @input="changeVehicle" :allowEmpty="false"></SelectVehicle>-->
      <!--</div>-->
      <span class="empty-seat" style="color: #464D5D;font-weight: 500;">{{trip.vehicle.numberPlate}}</span>
    </td>
    <td>
      <!--<select2user :multiple="true" :userType="[2]" :value="drivers" @input="changeDrivers" inputClass="multiple-sm select-driver" placeholder="Chọn tài xế"></select2user>-->
      <div v-if="trip.drivers && trip.drivers != []">
        <template  v-for="item in trip.drivers">
          <span class="empty-seat" style="color: #464D5D;font-weight: 500;">{{item.fullName}} , </span>
        </template>
      </div>
      <div v-if="!trip.drivers">
        <span class="text-danger" style="font-weight: 500;">Chưa gán tài xế </span>
      </div>
    </td>
    <td>
      <!--<select2user :multiple="true" :userType="[3]" :value="assistants" @input="changeAssistants" inputClass="multiple-sm  select-assistants" placeholder="Chọn phụ xe"></select2user>-->
      <div v-if="trip.assistants && trip.assistants != []">
        <template v-for="item in trip.assistants">
          <span class="empty-seat" style="color: #464D5D;font-weight: 500;">{{item.fullName}} , </span>
        </template>
      </div>
      <div v-if="!trip.assistants">
        <span class="text-danger" style="font-weight: 500;">Chưa gán phụ xe </span>
      </div>
    </td>
    <td>
      <span class="empty-seat" style="color: #464D5D;font-weight: 500;">{{ trip.loadingFirebase?'Đang tính toán...':totalEmptySeat }}/{{ trip.totalSeat }} ({{ 100 - Math.ceil((trip.totalSeat-totalEmptySeat)*100/trip.totalSeat) }}%)</span>
    </td>
    <td>
      <span class="empty-seat" style="color: black;font-weight: 500;">{{trip.canceler.fullName}}</span>
    </td>
    <!--<td>-->
      <!--<span class="icon icon-out" v-if="trip.tripStatus<2 && $root.roles.TRIP_START" @click="save(2)" :title="$t('button.out-park')"><i class="fas fa-sign-out-alt"></i></span>-->
      <!--<span class="icon icon-out" v-if="trip.tripStatus==2 && $root.roles.TRIP_OPEN_STARTED" @click="save(1)" :title="$t('button.open-out-park')"> <i class="fa fa-pause"></i> </span>-->

      <!--<span class="icon icon-unlock"  v-if="$root.roles.TRIP_LOCK&&trip.tripStatus == 1" :title="$t('button.lock')"  data-toggle="dropdown">-->
            <!--<i :class="['fa', trip.listLockTrip && trip.listLockTrip.length == 5 ? 'fa-lock-open' : 'fa-lock']"></i>-->
            <!--<div class="dropdown-menu listPlatform" v-on:click.stop>-->
                <!--<h3>KHÓA BÁN VÉ</h3>-->
                <!--<div class="listPlatform-body">-->
                    <!--<template v-for="(platform,p) in platforms">-->
                    <!--<div class="platform-item" :key="p">-->
                        <!--<input type="checkbox" :id="'listLockTrip' + p + tripId" @change="lockTrip($event)" v-model="listLockTrip" :value="platform.value">-->
                        <!--<label :for="'listLockTrip' + p + tripId">{{platform.label}}</label>-->
                    <!--</div>-->
                    <!--</template>-->
                <!--</div>-->
            <!--</div>-->
        <!--</span>-->

      <!--<span class="icon icon-unlock" style="color: #ccc"  v-if="$root.roles.TRIP_LOCK&&trip.tripStatus == 2" title="Chuyến đã xuất bến. Không được khóa !">-->
            <!--<i :class="['fa', trip.listLockTrip && trip.listLockTrip.length == 5 ? 'fa-lock-open' : 'fa-lock']"></i>-->
        <!--</span>-->
      <!--<span :class="{ notAllowViewTrip: !allowViewTrip }" class="icon icon-ticket"  title="Chi tiết chuyến" @click="openNewTab()"><i class="fas fa-ticket-alt"></i></span>-->
      <!--<span class="icon icon-del"  v-if="$root.roles.TRIP_DELETE" v-on:click="deleteTrip()" :title="$t('button.cancel-trip')"><i class="fas fa-trash"></i></span>-->
    <!--</td>-->
  </tr>
</template>

<script>
    import SelectVehicle from '../Vehicle/SelectVehicle.vue'
    import {Platform} from "../../class/platform";

    export default {
        components: { SelectVehicle },
        props : {
            trip : {
                type : Object
            },
            route : {
                type : Object
            },
            startPoint : {
                type : Object
            },
            endPoint : {
                type : Object
            }
        },
        data : function () {
            let self = this;
            return {
                drivers : self.trip.drivers||[],
                assistants: self.trip.assistants||[],
                vehicle: self.trip.vehicle||[],
                note : self.trip.note,

                edited : {
                    startTimeRealityStr : self.$options.filters.customDate(self.trip.startTime,'#hhhh#:#mm#',true),
                    listLockTrip : self.trip.listLockTrip||[],
                    drivers : self.trip.drivers,
                    assistants: self.trip.assistants,
                    note : self.trip.note,
                    vehicle : self.trip.vehicle,
                },

                startTimeRealityStr : self.$options.filters.customDate(self.trip.startTime,'#hhhh#:#mm#',true),
                listLockTrip : self.trip.listLockTrip||[],
                tripId : self.trip.tripId,
                ticketsInfo : self.trip.ticketsInfo,
                platforms : Platform.properties(),
                allowViewTrip: true,
            }
        },
        mounted: function(){
            if( this.listLockTrip && this.listLockTrip.includes(1) ) {
                this.allowViewTrip = false;
            } else {
                this.allowViewTrip = true;
            }
        },
        computed : {
            totalEmptySeat : function () {
                try{
                    let ticketsInfo = this.trip.ticketsInfo;
                    let seatListInfo = this.seatListInfo;
                    let pointRouteIndex = this.pointRouteIndex;
                    let startPointIndex = this.startPoint.id?pointRouteIndex[this.startPoint.id]:0;
                    let endPointIndex = this.endPoint.id?pointRouteIndex[this.endPoint.id]:Object.keys(pointRouteIndex).length;
                    let totalSeat = this.trip.totalSeat;
                    $.each(ticketsInfo,function (t,ticket) {
                        let ticketEndTime = ticket.ticketStatus==2&&ticket.overTime&&ticket.overTime<new Date().getTime()?true:false;
                        let notGoFromStartIndexToEndIndex = pointRouteIndex[ticket.pointUp.id]>=endPointIndex||pointRouteIndex[ticket.pointDown.id]<=startPointIndex;// không nằm trong khoảng lên xuống
                        let seatInfoSeatMap = seatListInfo[ticket.seat.seatId];
                        let ticketInSeatMap = seatInfoSeatMap&&seatInfoSeatMap.floor == ticket.seat.floor&&seatInfoSeatMap.column == ticket.seat.column&&seatInfoSeatMap.row == ticket.seat.row && (ticket.seat.seatType == 3||ticket.seat.seatType==4);
                        if(!notGoFromStartIndexToEndIndex&&ticketInSeatMap&&!ticketEndTime){// vé nằm trong khoảng lên xuống và nằm trong sơ đồ ghế
                            seatListInfo[ticket.seat.seatId].hasTicket=true;
                        }
                    });
                    let seatHasTicket = 0;
                    $.each(seatListInfo,function (s,seat) {
                        seatHasTicket += seat.hasTicket?1 : 0;
                    });
                    return totalSeat-seatHasTicket;
                }catch(e){
                    console.warn(e);
                    return this.trip.totalSeat;
                }
            },
            seatListInfo : function () {
                let sl = this.trip.seatMap.seatList;
                let seatList = {};
                $.each(sl,function(s,seat){
                    if(seat.seatType ==3||seat.seatType==4){
                        seatList[seat.seatId] = {
                            seatId : seat.seatId,
                            floor : seat.floor,
                            column : seat.column,
                            row : seat.row,
                            seatType : seat.seatType,
                            hasTicket : false,
                        }
                    }
                });
                return seatList;
            },
            pointRouteIndex : function () {
                let l_listPoint = this.route.listPoint;
                let index = {};
                $.each(l_listPoint,function (p,point) {
                    index[point.id] = p;
                });
                return index;
            }
        },
        methods :{
            deleteTrip: function()
            {
                if(Object.keys(this.trip.ticketsInfo).length>0){
                    alert("Chuyến này đã có vé. Bạn không thể hủy chuyến");
                    return false;
                }
                if(!confirm("Bạn có chắc chắn muốn xóa?")){
                    return false;
                }

                if(this.trip.tripStatus == 2){
                    alert("Chuyến đã xuất bến. Không được xóa !")
                    return false;
                }

                this.save(4);
            },
            changeDate: function(event) {
                let self = this;

                if(self.trip.tripStatus == 2) {
                    alert("Chuyến đã xuất bén bén, không được phép sửa");
                    return false;
                }

                this.startTimeRealityStr = event;
                this.edited.startTimeRealityStr = true;
                this.save(self.trip.tripStatus);
            },
            changeDrivers : function(event){
                let self = this;
                if(self.trip.tripStatus == 2) {
                    alert("Chuyến đã xuất bén bén, không được phép sửa");
                    return false;
                }
                this.drivers = event;
                this.edited.drivers = true;

                this.save(self.trip.tripStatus);
            },
            changeAssistants : function(event){
                let self = this;
                if(self.trip.tripStatus == 2) {
                    alert("Chuyến đã xuất bén bén, không được phép sửa");
                    return false;
                }
                this.assistants = event;
                this.edited.assistants = true;
                this.save(self.trip.tripStatus);
            },

            changeVehicle : function(event){
                let self = this;
                if(self.trip.tripStatus == 2) {
                    alert("Chuyến đã xuất bén bén, không được phép sửa");
                    return false;
                }
                this.vehicle = event;
                this.edited.vehicle = true;
                this.save(self.trip.tripStatus);
            },

            lockTrip : function (event) {
                let self = this;

                if(self.trip.ticketsInfo&&Object.keys(self.trip.ticketsInfo).length>0){
                    if(!confirm("Chuyến đang có vé bạn có chắc chắn muốn cập nhật?")) {
                        let valueTripLock = Number(event.target.value);
                        console.log(this.listLockTrip)
                        if( this.listLockTrip.includes( valueTripLock ) ) {
                            this.listLockTrip = this.listLockTrip.filter(item => item != valueTripLock)
                        } else {
                            this.listLockTrip = [...this.listLockTrip, valueTripLock];
                        }
                        console.log(this.listLockTrip)

                        return false
                    }
                }
                let param = {
                    tripId : self.trip.tripId,
                };
                // if(self.trip.listLockTrip&&self.trip.listLockTrip.length==5){
                //     param.listLockTrip = [];
                // }else{
                // self.listLockTrip = self.trip.listLockTrip
                // self.edited.listLockTrip = self.trip.listLockTrip
                param.listLockTrip = self.listLockTrip;
                // }
                self.load('updateManageTrip');
                sendJson({
                    url: urlDBD(API.tripManage),
                    data : param,
                    success: function (data) {
                        self.unload('updateManageTrip');
                    },
                    functionIfError : function (err) {
                        self.unload('updateManageTrip');
                    }
                })
            },

            save : function (tripStatus) {
                let self = this;
                let param = {
                    tripId : self.tripId,
                    note : self.note
                };
                if(tripStatus){
                    param.tripStatus = tripStatus;
                }
                if(self.edited.startTimeRealityStr){
                    param.startTimeReality = func.timeToMs(self.startTimeRealityStr);
                }
                param.listLockTrip = self.listLockTrip;
                if(self.edited.drivers === true){
                    let listDriver = [];
                    if(self.drivers){
                        $.each(self.drivers,function (d,driver) {
                            let drv = {
                                id : driver.id,
                                fullName : driver.fullName
                            }
                            listDriver.push(drv);
                        })
                    }
                    param.drivers = listDriver;
                }

                if(self.edited.assistants === true){
                    let listAssistant = [];
                    if(self.assistants){
                        $.each(self.assistants,function (a,assistant) {
                            let ass = {
                                id : assistant.id,
                                fullName : assistant.fullName
                            }
                            listAssistant.push(ass);
                        })
                    }
                    param.assistants = listAssistant;
                }
                let listSeatChange = [];
                if(self.edited.vehicle === true){
                    param.vehicle = {
                        id:self.vehicle.vehicleId,
                    }
                    let mapSeatList = {};
                    $.each(self.vehicle.seatMap.seatList,function (s,seat) {
                        mapSeatList[seat.seatId] = s;
                    });
                    // let seatMap = self.makeSeatMap(self.vehicle.seatMap);
                    $.each(self.ticketsInfo,function (t,ticket) {
                        if(mapSeatList[ticket.seat.seatId]!=undefined&&self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]]&&(self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType ==3 ||self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType==4)){
                            listSeatChange.push({
                                ticketId : ticket.ticketId,
                                seat : {
                                    seatId : ticket.seat.seatId,
                                    seatType : self.vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType
                                },
                            });
                        }else{
                            listSeatChange.push({
                                ticketId : ticket.ticketId,
                                seat : {
                                    seatId : ticket.seat.seatId,
                                    seatType : 0
                                },
                            });
                        }
                    });
                }

                console.log(param)
                self.load('updateManageTrip');
                sendJson({
                    url: urlDBD(API.tripManage),
                    data : param,
                    success: function (data) {
                        console.log(data)

                        self.updateTicket(listSeatChange);
                        self.unload('updateManageTrip');
                        if(tripStatus==4){
                            self.$emit('eventManageTrip',{event : 'cancelSuccess',data:data});
                        }else{
                            self.$emit('eventManageTrip',{event : 'updateSuccess',data:data});
                        }
                    },
                    functionIfError : function (err) {
                        self.unload('updateManageTrip');
                        self.$emit('eventManageTrip',{event : 'updateError',data:err});
                    }
                })
            },

            //---FROM ManageTrip---
            refresh : function (_trip) {
                let self = this;
                self.edited = {
                    startTimeRealityStr : false,
                    listLockTrip : false,
                    drivers : false,
                    assistants: false,
                    note : false,
                    vehicle : false,
                };
                if(_trip){
                    self.startTimeRealityStr = '';
                    if(_trip.startTimeReality){
                        self.startTimeRealityStr = self.$options.filters.customDate(_trip.startTimeReality,'#hhhh#:#mm#',true);
                    }
                    self.listLockTrip = [];
                    if(_trip.listLockTrip){
                        self.listLockTrip = _.cloneDeep(_trip.listLockTrip);
                    }
                    self.vehicle = null;
                    if(_trip.vehicle){
                        self.vehicle = _.cloneDeep(_trip.vehicle)
                    }
                    self.drivers = null;
                    if(_trip.drivers){
                        self.drivers = _.cloneDeep(_trip.drivers)
                    }
                    self.assistants = null;
                    if(_trip.assistants){
                        self.assistants = _.cloneDeep(_trip.assistants)
                    }
                    self.note = '';
                    if(_trip.note){
                        self.note = _.cloneDeep(_trip.note)
                    }
                    self.tripId = _trip.tripId;
                    self.ticketsInfo = _trip.ticketsInfo;
                }
            },
            updateTicket : function (data) {
                let self = this;
                if(data.length<=0||!self.edited.vehicle){
                    return false;
                }
                self.load('updateTicketManage');
                sendJson({
                    url : urlDBD(API.ticketTransfer),
                    data : data,
                    success : function (res) {
                        self.unload('updateTicketManage');
                    },
                    functionIfError : function (err) {
                        self.unload('updateTicketManage');
                    }
                })
            },
            makeSeatMap : function (seatMap) {
                let self = this;
                if(!seatMap){
                    return [];
                }
                let data = [];
                for(let f=0;f<seatMap.numberOfFloors;f++){
                    let listRow = [];
                    for( let r=0;r<seatMap.numberOfRows;r++){
                        let listCol = [];
                        for( let c=0;c<seatMap.numberOfColumns;c++){
                            listCol.push(self.makeSeatDefault(f+1,r+1,c+1));
                        }
                        listRow.push(listCol);
                    }
                    data.push(listRow);
                }
                if(seatMap.seatList){
                    $.each(seatMap.seatList,function (k,v) {//v là seat
                        try{
                            if(data[v.floor-1][v.row-1][v.column-1]!==undefined){
                                let s = _.cloneDeep(v);
                                s.id=func.makeId();
                                data[v.floor-1][v.row-1][v.column-1]=_.cloneDeep(s);
                            }// các thông sô tầng hàng cột bắt đầu từ 1, mapdata từ 0 nên phải trừ 1
                        }catch(e){
                            console.log('ticket error' + JSON.stringify(v));
                        }
                    });
                }
                return data;
            },
            getKey : function (index) {//lấy chữ cái đầu của ghế
                let str = '_ABCDEFGHIKLMNOPQ';
                if(index>=0&&index<=15){
                    return str[index];
                }
                return str[0];
            },
            makeSeatDefault : function (floor,row,column) {
                let self = this;
                let data = {
                    id : func.makeId(),
                    floor : floor,
                    column : column,
                    row : row,
                    seatId : func.makeId(),
                    seatType :7 ,
                    seatStatus : 1,
                    extraPrice:0,
                }
                return data;
            },
            //---END ManageTrip---

            //FROM TripBox
            openNewTab : function () {
                if(!this.allowViewTrip) return false;

                let data = {
                    tripId : this.trip.tripId,
                    routeId : this.trip.route.id,
                    startPointId : this.startPoint.id,
                    endPointId : this.endPoint.id,
                }
                data.date = this.$options.filters.strToDate(this.trip.date);
                func.setHistory(data);
                let routeData = this.$router.resolve({name: 'Ticket06'});
                window.open(routeData.href, '_blank');
            },
            //End TripBox
        },
        watch: {
            trip  :{
                handler : function (val,oldVal) {
                    this.vehicle = val.vehicle||[]
                    this.listLockTrip = val.listLockTrip||[]
                    this.drivers = val.drivers||[]
                    this.assistants= val.assistants||[]
                    this.note = val.note

                    this.trip.edited = {
                        startTimeRealityStr : this.$options.filters.customDate(val.startTime,'#hhhh#:#mm#',true),
                        listLockTrip : val.listLockTrip||[],
                        drivers : val.drivers||[],
                        assistants: val.assistants||[],
                        note : val.note,
                        vehicle : val.vehicle||[]
                    },

                        this.startTimeRealityStr = this.$options.filters.customDate(val.startTime,'#hhhh#:#mm#',true)
                    this.tripId = val.tripId
                    this.ticketsInfo = val.ticketsInfo

                    //dont allow view trip when lock in website quản lý


                },
                deep:true
            },
            listLockTrip  :{
                handler : function (val,oldVal) {
                    if( val&&val.includes(1) ) {
                        this.allowViewTrip = false;
                    } else {
                        this.allowViewTrip = true;
                    }
                },
                deep:true
            }
        }
    }
</script>
