<template>
<el-popover
    placement="top-start"
    :close-delay="1"
    trigger="hover">
    <p><b>Khởi hành: </b><span>{{ $options.filters.customDate(trip.startTimeReality, '#hhhh#:#mm#', true) }}</span></p>
    <p><b>Xe: </b><span>{{ trip.vehicle.numberPlate }}</span></p>
    <div class="d-flex">
        <b class="mr-1">Tài xế: </b> 
        <p class="d-flex flex-column">
            <span v-for="(driver,did) in trip.drivers" :title="driver.fullName" :key="did">{{driver.fullName}} - {{driver.phoneNumber}}</span>
        </p>
    </div>
    <p><b>Đã bán: </b><span>{{ !trip.initFireBase ? '_' : (trip.totalSeat - totalEmptySeat) }} / {{ trip.totalSeat }}</span></p>
    <div class="trip__item"
        slot="reference" 
        @click="$emit('click', trip)"
        v-if="trip.tripStatus != 4" 
        v-bind:class="{ lock: (trip.listLockTrip&&trip.listLockTrip.length>=5), 'viewed': isDriverViewed, 'bg-warning': isVehicleViewed, open: trip.tripStatus==2}">
            <p v-if="viewConfig.showStartTime">{{ $options.filters.customDate(trip.startTimeReality, '#hhhh#:#mm#', true) }}</p>
            <p class="trip__item__vehicle" :title="trip.vehicle.numberPlate" v-if="viewConfig.showVehicle" v-on:mouseover="setVehicleViewed(trip.vehicle)">{{ trip.vehicle.numberPlate }}</p>    
            <div class="trip__item__driver mr-1" v-if="trip.drivers && viewConfig.showDrivers">
                <p v-for="(driver,did) in trip.drivers" :title="driver.fullName" :key="did" v-on:mouseover="setDriverViewed(driver)"><i class="fas fa-user"></i> {{driver.fullName}}</p>
            </div> 
        <p>
            <span v-if="viewConfig.showSoldSeat">{{ !trip.initFireBase ? '_' : (trip.totalSeat - totalEmptySeat) }} / {{ trip.totalSeat }}</span>
            <span v-if="viewConfig.showSeat">{{ !trip.initFireBase ? '_' : totalEmptySeat }} / {{ trip.totalSeat }}</span>
        </p>
        <!-- <p v-if="viewConfig.showSeat">{{ totalEmptySeat }} / {{ trip.totalSeat }}</p> -->
    </div>
</el-popover>
</template>

<script>
    import {mapActions,mapMutations, mapGetters, mapState} from 'vuex';

    export default {
        props : {
            trip : {
                type : Object
            },
            route : {
                type : Object
            },
            startPoint : {
                type : Object
            },
            endPoint : {
                type : Object
            },
        },
        computed: {
            ...mapState({
                view: state => state.ManageListTrip.view,
                viewConfig: state => state.ManageListTrip.viewConfig,
            }),
            // tripTitle() {
            //     return `Chuyến khởi hành lúc ${$options.filters.customDate(trip.startTimeReality, '#hhhh#:#mm#', true)}, xe ${trip.vehicle.numberPlate}, `
            // },
            isVehicleViewed(){
                if(this.view.vehicle) {
                    return this.view.vehicle.id == this.trip.vehicle.id
                }
                return false;
            },
            isDriverViewed(){
                if(this.view.driver) {
                    let flagDriver = false;
                    if(this.trip.drivers) {
                        this.trip.drivers.forEach(driver => {
                            if(this.view.driver.id == driver.id){
                                flagDriver = true
                            }
                        });
                    }
                    return flagDriver
                }
                
                return false;
            },

            totalEmptySeat : function () {
                try {
                    let ticketsInfo = this.trip.ticketsInfo;
                    let seatListInfo = this.seatListInfo;
                    let pointRouteIndex = this.pointRouteIndex;
                    let startPointIndex = this.startPoint.id?pointRouteIndex[this.startPoint.id]:0;
                    let endPointIndex = this.endPoint.id?pointRouteIndex[this.endPoint.id]:Object.keys(pointRouteIndex).length;
                    let totalSeat = this.trip.totalSeat;
                    $.each(ticketsInfo,function (t,ticket) {
                        let ticketEndTime = ticket.ticketStatus==2&&ticket.overTime&&ticket.overTime<new Date().getTime()?true:false;
                        let notGoFromStartIndexToEndIndex = pointRouteIndex[ticket.pointUp.id]>=endPointIndex||pointRouteIndex[ticket.pointDown.id]<=startPointIndex;// không nằm trong khoảng lên xuống
                        let seatInfoSeatMap = seatListInfo[ticket.seat.seatId];
                        let ticketInSeatMap = seatInfoSeatMap&&seatInfoSeatMap.floor == ticket.seat.floor&&seatInfoSeatMap.column == ticket.seat.column&&seatInfoSeatMap.row == ticket.seat.row && (ticket.seat.seatType == 3||ticket.seat.seatType==4);
                        if(!notGoFromStartIndexToEndIndex&&ticketInSeatMap&&!ticketEndTime){// vé nằm trong khoảng lên xuống và nằm trong sơ đồ ghế
                            seatListInfo[ticket.seat.seatId].hasTicket=true;
                        }
                    });
                    let seatHasTicket = 0;
                    $.each(seatListInfo,function (s,seat) {
                        seatHasTicket += seat.hasTicket?1 : 0;
                    })
                    return totalSeat-seatHasTicket;
                } catch(e) {
                    console.warn(e);
                    return this.trip.totalSeat;
                }
            },
            
            seatListInfo : function () {
                let sl = this.trip.seatMap.seatList;
                let seatList = {};
                $.each(sl,function(s,seat){
                    if(seat.seatType ==3||seat.seatType==4){
                        seatList[seat.seatId] = {
                            seatId : seat.seatId,
                            floor : seat.floor,
                            column : seat.column,
                            row : seat.row,
                            seatType : seat.seatType,
                            hasTicket : false,
                        }
                    }
                });
                return seatList;
            },

            pointRouteIndex : function () {
                let l_listPoint = this.route.listPoint;
                let index = {};
                $.each(l_listPoint,function (p,point) {
                    index[point.id] = p;
                });
                return index;
            }

        },
        methods: {
            ...mapMutations([
                'SET_VEHICLE_VIEWED',
                'SET_DRIVER_VIEWED'
            ]),
            setDriverViewed(driver) {
                this.$store.commit('SET_VEHICLE_VIEWED', null);
                this.$store.commit('SET_DRIVER_VIEWED', driver);
            },
            setVehicleViewed(vehicle) {
                this.$store.commit('SET_DRIVER_VIEWED', null);
                this.$store.commit('SET_VEHICLE_VIEWED', vehicle);
            },
        }
    }
</script>