<template>
    <el-popover placement="top-start" trigger="hover">
        <div style="cursor: pointer;">
            <button class="btn btn-sm btn-info" @click="openNewTab()" title="Chuyển tới chuyến này"><i
                    class="fa fa-eye"></i></button>
            <button class="btn btn-sm btn-primary" v-if="$root.roles.TRIP_LOCK" v-on:click.stop="lockTrip()"
                    :title="$t('button.lock')"><i
                    :class="['fa',trip.listLockTrip&&trip.listLockTrip.length==4?'fa-lock-open':'fa-lock']"></i>
            </button>
            <button class="btn btn-sm btn-primary" v-if="$root.roles.TRIP_ARRANGE"
                    v-on:click.stop="$emit('event',{eventName:'updateTrip'})" :title="$t('button.edit')"><i
                    class="fa fa-edit"></i></button>
            <button class="btn btn-sm btn-danger" v-if="$root.roles.TRIP_DELETE"
                    v-on:click.stop="$emit('event',{eventName:'deleteTrip'})" :title="$t('button.cancel-trip')"><i
                    class="fa fa-trash"></i></button>
        </div>
        <div slot="reference" class="tripOption position-relative"
             :class="[activeView?(view.type=='vehicle'?'bg-info':'bg-warning'):'bg-e']" style="cursor: default">
            <div class="row no-gutters">
                <div class="col-auto time"
                     :style="{'text-decoration':trip.listLockTrip&&trip.listLockTrip.length==5?'line-through':'none','font-size':'16px'}">
                    {{trip.startTime|customDate('#hhhh#:#mm#',true)}}
                </div>
                <div class="col text-right">
                    <span class="numberPlate cursor-pointer"
                          @click="$emit('view',{type :'vehicle',value : trip.vehicle})" v-if="trip.vehicle">{{ trip.vehicle.numberPlate }}</span>
                </div>
            </div>
            <div class="row no-gutters bg-white" style="line-height: 12px;padding:2px 2px 0 5px;min-height: 27px">
                <div class="w-100 driver" v-if="trip.drivers&&trip.drivers.length>0" :title="$t('filter.driver')">
                    <template v-for="driver in trip.drivers">
                        <span class="cursor-pointer" :title="driver.phoneNumber"
                              @click="$emit('view',{type :'driver',value : driver})">{{driver.fullName}}</span>,
                    </template>
                </div>
                <div class="w-100 assistant text-right" v-if="trip.assistants&&trip.assistants.length>0"
                     :title="$t('filter.side-driver')">
                    <template v-for="assistant in trip.assistants">
                        <span style="font-size:12px" :title="assistant.phoneNumber">{{assistant.fullName}}</span>,
                    </template>
                </div>
            </div>
            <div class="q-progress-bar">
                <div class="probar"
                     :style="{'width':Math.ceil((trip.totalSeat-totalEmptySeat)*100/trip.totalSeat)+'%','background':totalEmptySeat==0?'red':'#4caf50'}"></div>
                <div class="textbar">Trống : {{ trip.loadingFirebase?'Đang tính toán...':totalEmptySeat }}</div>
            </div>
            <img v-if="trip.tripStatus==2" src="/public/images/daxuatben.png" class="position-absolute"
                 style="top:30%;right:0;max-width: 30%;max-height: 100%" alt="">
        </div>
    </el-popover>
</template>
<script>
    export default {
        props : {
            trip : {
                type : Object
            },
            route : {
                type : Object
            },
            startPoint : {
                type : Object
            },
            endPoint : {
                type : Object
            },
            view: {
                type: Object
            }
        },
        computed : {
            activeView: function () {
                let self = this;
                let active = false;
                let view = this.view;
                if (view.type == "vehicle" && this.trip.vehicle && this.view.value && this.trip.vehicle.numberPlate === this.view.value.numberPlate) {
                    return true;
                }
                if (this.view.type === 'driver' && this.view.value) {
                    $.each(this.trip.drivers, function (d, driver) {
                        if (self.view.value.id === driver.id) {
                            active = true;
                            return false;
                        }
                    });
                    return active;
                }
                return active;
            },
            totalEmptySeat : function () {
                try{
                    let ticketsInfo = this.trip.ticketsInfo;
                    let seatListInfo = this.seatListInfo;
                    let pointRouteIndex = this.pointRouteIndex;
                    let startPointIndex = this.startPoint.id?pointRouteIndex[this.startPoint.id]:0;
                    let endPointIndex = this.endPoint.id?pointRouteIndex[this.endPoint.id]:Object.keys(pointRouteIndex).length;
                    let totalSeat = this.trip.totalSeat;
                    $.each(ticketsInfo,function (t,ticket) {
                        let ticketEndTime = ticket.ticketStatus==2&&ticket.overTime&&ticket.overTime<new Date().getTime()?true:false;
                        let notGoFromStartIndexToEndIndex = pointRouteIndex[ticket.pointUp.id]>=endPointIndex||pointRouteIndex[ticket.pointDown.id]<=startPointIndex;// không nằm trong khoảng lên xuống
                        let seatInfoSeatMap = seatListInfo[ticket.seat.seatId];
                        let ticketInSeatMap = seatInfoSeatMap&&seatInfoSeatMap.floor == ticket.seat.floor&&seatInfoSeatMap.column == ticket.seat.column&&seatInfoSeatMap.row == ticket.seat.row && (ticket.seat.seatType == 3||ticket.seat.seatType==4);
                        if(!notGoFromStartIndexToEndIndex&&ticketInSeatMap&&!ticketEndTime){// vé nằm trong khoảng lên xuống và nằm trong sơ đồ ghế
                            seatListInfo[ticket.seat.seatId].hasTicket=true;
                        }
                    });
                    let seatHasTicket = 0;
                    $.each(seatListInfo,function (s,seat) {
                        seatHasTicket += seat.hasTicket?1 : 0;
                    })
                    return totalSeat-seatHasTicket;
                }catch(e){
                    console.warn(e);
                    return this.trip.totalSeat;
                }
            },
            seatListInfo : function () {
                let sl = this.trip.seatMap.seatList;
                let seatList = {};
                $.each(sl,function(s,seat){
                    if(seat.seatType ==3||seat.seatType==4){
                        seatList[seat.seatId] = {
                            seatId : seat.seatId,
                            floor : seat.floor,
                            column : seat.column,
                            row : seat.row,
                            seatType : seat.seatType,
                            hasTicket : false,
                        }
                    }
                });
                return seatList;
            },
            pointRouteIndex : function () {
                let l_listPoint = this.route.listPoint;
                let index = {};
                $.each(l_listPoint,function (p,point) {
                    index[point.id] = p;
                });
                return index;
            }
        },
        methods :{
            openNewTab : function () {
                let data = {
                    tripId : this.trip.tripId,
                    routeId : this.trip.route.id,
                    startPointId : this.startPoint.id,
                    endPointId : this.endPoint.id,
                }
                data.date = this.$options.filters.strToDate(this.trip.date);
                func.setHistory(data);
                let routeData = this.$router.resolve({name: 'Ticket07'});
                window.open(routeData.href, '_blank');
            },
            lockTrip : function () {
                let self = this;
                if(self.trip.ticketsInfo&&Object.keys(self.trip.ticketsInfo).length>0&&!confirm("Chuyến đang có vé bạn có chắc chắn muốn khóa?")){
                    return false
                }
                let param = {
                    tripId : self.trip.tripId,
                };
                if(self.trip.listLockTrip&&self.trip.listLockTrip.length==5){
                    param.listLockTrip = [];
                }else{
                    param.listLockTrip = [1,2,3,4,5];
                }
                self.load('updateManageTrip');
                sendJson({
                    url: urlDBD(API.tripManage),
                    data : param,
                    success: function (data) {
                        self.unload('updateManageTrip');
                    },
                    functionIfError : function (err) {
                        self.unload('updateManageTrip');
                    }
                })
            }
        }
    }
</script>