<template>
    <span>
        <span class="text-edit" title="click để sửa" v-if="!editFlag" @click="edit()">
            <span v-if="!loading&&trip.assistants&&trip.assistants.length>0" style="color: #174785">
                <template v-for="assistant in trip.assistants">
                    {{assistant.fullName}} <span title="Gọi cho phụ xe"
                        @click.stop="$root.$emit('telecom',{event :'CALL_TO_PHONE',phoneNumber : '0'+assistant.phoneNumber})"
                        class="cursor-pointer">(0{{assistant.phoneNumber}})</span>
                </template>
            </span>
            <span v-else>Đang cập nhật</span>
        </span>
        <select-user :value="dataEdit" @input="doEdit($event)" :multiple="true" v-if="editFlag" class="edit-user-trip" style="min-width: 80px"
                     :user-type="[3]"></select-user>
        <button class="btn btn-danger" v-if="editFlag" @click="cancelEdit()"><i class="fa fa-times"></i></button>
    </span>
</template>
<script>
    import SelectUser from '../User/SelectUser';

    export default {
        props: ['trip'],
        components: {SelectUser},
        data: function () {
            let self = this;
            return {
                editFlag: false,
                dataEdit: null,
                loading: false,
            }
        },
        methods: {
            edit: function () {
                let self = this;
                this.editFlag = true;
                this.dataEdit = _.cloneDeep(this.trip ? this.trip.assistants : null);
                setTimeout(function () {
                    $(self.$el).find('.edit-user-trip').find('.el-open-close').click();
                    // $(self.$el).find('.edit-vehicle-trip').find('.dropdown-q-input-search').focusout(function () {
                    //     self.cancelEdit();
                    // });
                }, 300);
            },
            cancelEdit: function () {
                this.editFlag = false;
            },
            doEdit: function (assistants) {
                let self = this;
                this.editFlag = false;
                this.loading = true;
                let params = {
                    tripId: self.trip.tripId,
                    assistants: []
                }
                let listAssistant = [];
                if (assistants) {
                    $.each(assistants, function (a, assistant) {
                        let ass = {
                            id: assistant.id,
                            fullName: assistant.fullName
                        }
                        listAssistant.push(ass);
                    })
                }
                params.assistants = listAssistant;
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: params,
                    success: function (data) {
                        self.loading = false;
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                    }
                })
            }
        }
    }
</script>
<style>
    .text-edit {
        position: relative;
        border: 1px dotted transparent;
    }

    .text-edit:hover {
        border: 1px dotted #aaa;
    }
</style>