<template>
    <span>
        <span class="text-edit" title="click để sửa" v-if="!editFlag" @click="edit()">
            <template v-if="loading">
                đang cập nhật
            </template>
            <template v-else>
                {{trip.startTimeReality | customDate('#hhhh#:#mm#',true)}} - {{parseInt(trip.startDateReality)|strToDate}}
            </template>

        </span>
        <el-time-picker v-model="dataEdit" @blur="doEdit" ref="DatePickerComponent" format="HH:mm" value-format="HH:mm"
                        placeholder="Arbitrary time" v-if="editFlag"></el-time-picker>
    </span>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import {mapGetters} from 'vuex';

    export default {
        props: ['trip'],
        components: {SelectVehicle},
        data: function () {
            let self = this;
            return {
                editFlag: false,
                dataEdit: null,
                loading: false,
            }
        },
        computed: {
            ...mapGetters("Ticket07", ["mapRoutes"]),
        },
        methods: {
            edit: function () {
                let self = this;
                if(this.trip.tripStatus>=2){
                    return false
                }
                this.editFlag = true;
                this.dataEdit = _.cloneDeep(this.trip ? this.$options.filters.customDate(this.trip.startTimeReality, '#hhhh#:#mm#', true) : '00:00');
                setTimeout(function () {
                    self.$refs.DatePickerComponent.focus();
                }, 300);
            },
            cancelEdit: function () {
                this.editFlag = false;
            },
            doEdit: function () {
                let self = this;
                this.editFlag = false;
                this.loading = true;
                let params = {
                    tripId: self.trip.tripId,
                }
                if (!self.dataEdit) {
                    return false;
                } else {
                    let time = func.timeToMs(self.dataEdit);
                    params.startTimeReality = time;
                }
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: params,
                    success: function (data) {
                        self.loading = false;
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                    }
                })
            }
        }
    }
</script>
<style>
    .text-edit {
        position: relative;
        border: 1px dotted transparent;
    }

    .text-edit:hover {
        border: 1px dotted #aaa;
    }
</style>