<template>
    <span>
        <span class="text-edit" title="click để sửa" v-if="!editFlag" @click="edit()">{{loading||!trip.vehicle||!trip.vehicle.id?"đang cập nhật":trip.vehicle.numberPlate}}</span>
        <span class="sellform-select">
            <select-vehicle :value="dataEdit" @input="doEdit($event)" v-if="editFlag"
                            class="edit-vehicle-trip" ref="SelectVehicleComponent" @blur="blurEvent"></select-vehicle>
        </span>
    </span>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle';

    export default {
        props: ['trip'],
        components: {SelectVehicle},
        data: function () {
            return {
                editFlag: false,
                dataEdit: null,
                loading: false,
                ticketsInfo: []
            }
        },
        methods: {
            edit: function () {
                let self = this;
                this.editFlag = true;
                this.dataEdit = _.cloneDeep(this.trip ? {
                    vehicleId: this.trip.vehicle.id,
                    numberPlate: this.trip.vehicle.numberPlate,
                    phoneNumber: this.trip.vehicle.phoneNumber,
                    seatMapId: this.trip.vehicle.seatMapId,
                    vehicleType: this.trip.vehicle.vehicleType
                } : null);
                self.ticketsInfo = self.trip && self.trip.ticketsInfo ? self.trip.ticketsInfo : [];
                setTimeout(function () {
                    self.$refs.SelectVehicleComponent.focus();
                }, 300);
            },
            cancelEdit: function () {
                this.editFlag = false;
            },
            doEdit: function (vehicle) {
                let self = this;
                this.editFlag = false;
                this.loading = true;
                let params = {
                    tripId: self.trip.tripId,
                    vehicle: {
                        id: vehicle.vehicleId
                    },
                }
                let listSeatChange = [];
                if (vehicle) {
                    self.$store.dispatch('Ticket07/LOAD_SEATMAP',true)
                    params.vehicle = {
                        id: vehicle.vehicleId
                    }
                    let mapSeatList = {};
                    $.each(vehicle.seatMap.seatList, function (s, seat) {
                        mapSeatList[seat.seatId] = s;
                    });
                    // let seatMap = self.makeSeatMap(self.vehicle.seatMap);
                    $.each(self.ticketsInfo, function (t, ticket) {
                        if (mapSeatList[ticket.seat.seatId] != undefined && vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]] && (vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType == 3 || vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType == 4)) {
                            listSeatChange.push({
                                ticketId: ticket.ticketId,
                                seat: {
                                    seatId: ticket.seat.seatId,
                                    seatType: vehicle.seatMap.seatList[mapSeatList[ticket.seat.seatId]].seatType
                                },
                            });
                        } else {
                            listSeatChange.push({
                                ticketId: ticket.ticketId,
                                seat: {
                                    seatId: ticket.seat.seatId,
                                    seatType: 0
                                },
                            });
                        }
                    });
                }
                sendJson({
                    url: urlDBD(API.tripManage),
                    data: params,
                    success: function (data) {
                        self.updateTicket(listSeatChange);
                        self.loading = false;
                        self.$store.dispatch('Ticket07/LOAD_SEATMAP',false)
                    },
                    functionIfError: function (err) {
                        self.loading = false;
                        self.$store.dispatch('Ticket07/LOAD_SEATMAP',false)
                    }
                })
            },
            updateTicket: function (data) {
                let self = this;
                if (data.length <= 0) {
                    return false;
                }
                self.$store.dispatch('Ticket07/LOAD_CHANGE_SEATMAP',data)
                // self.load('updateTicketManage');
                sendJson({
                    url: urlDBD(API.ticketTransfer),
                    data: data,
                    success: function (res) {
                        self.$store.dispatch('Ticket07/LOAD_CHANGE_SEATMAP',[])
                        // self.unload('updateTicketManage');
                    },
                    functionIfError: function (err) {
                        self.$store.dispatch('Ticket07/LOAD_CHANGE_SEATMAP',[])
                        // self.unload('updateTicketManage');
                    }
                })
            },
            blurEvent: function () {
                let self = this;
                setTimeout(function () {
                    self.cancelEdit();
                }, 200);
            }
        }
    }
</script>
<style>
    .text-edit {
        position: relative;
        border: 1px dotted transparent;
    }

    .text-edit:hover {
        border: 1px dotted #aaa;
    }
</style>