<template>
    <div style="background: #F9FAFC">
        <div class="content" style="background: url('/public/img/login/background.png');background-position: bottom;background-repeat: no-repeat;">
            <div class="w-100 menu-header">
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/public/img/login/logo.png" alt="Đi an về vui" class="img-fluid">
                        </div>
                        <div class="col text-right">
                            <a href="https://anvui.vn/#register" target="_blank" class="button-menu-left" v-if="tab===enumTab.LOGIN">ĐĂNG KÝ DÙNG THỬ</a>
                            <a href="tel:19007034" class="button-menu-left" v-else>Hotline : 1900 7034</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container stepLogin stepLoginAll" v-if="tab===enumTab.LOGIN">
                <div class="row login-main-content">
                    <div class="col-12 col-md-3" style="padding-right: 30px">
                        <h3 class="text-header">Đăng nhập</h3>
                        <div class="box-login">
                            <div class="form-group" style="margin-bottom: 16px;">
                                <label for="txtUid" class="label-form w-100">Tên đăng nhập</label>
                                <input type="text" class="input-form w-100" v-model="params.login.userName" name="uid" id="txtUid" @keyup.13="login" required>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <label for="txtPass" class="label-form w-100">Mật khẩu</label>
                                <input type="password" class="input-form w-100"  v-model="params.login.password" name="pass" id="txtPass" @keyup.13="login" autocomplete="off" required>
                            </div>
                            <div v-if="errorLogin">
                                <p class="text-left" style="color:red">{{errorLogin}}</p>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-auto col-md-12">
                                <div class="form-group" style="margin-bottom: 16px;">
                                    <el-button class="btn-form btn-orange"  hidefocus="true" :loading="loading.login" @click="login()">Đăng nhập</el-button>
                                </div>
                            </div>
                            <div class="col col-md-12 text-right text-md-left">
                                <div class="form-group">
                                    <a href="javascript:void(0)" @click.stop="tab=enumTab.SEND_REQUEST_RESET_PASSWORD">Quên mật khẩu</a>
                                </div>
                            </div>
                        </div>


                        <p style="color: #383F47;line-height: 24px;font-size: 14px;font-weight: normal;font-family: Cabin;font-style: normal;">
                            Với sứ mệnh Số hoá ngành vận tải hành khách, <b style="color: #084388;">AN VUI</b> là đơn vị số 1 tại Việt Nam phát triển hệ sinh thái tổng thể cho ngành vận tải.
                            <br> Ứng dụng <b style="color: #084388;">AN VUI</b> không chỉ đơn thuần là Sử dụng phần mềm mà <b style="color: #084388;">AN VUI</b> sẽ hỗ trợ doanh nghiệp của Bạn setup một quy trình vận hành khoa học và chuyên nghiệp.
                        </p>
                        <p class="hotline" style="font-family: Cabin;font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;color: #084388;">
                            Website: <a href="https://anvui.vn" style="color: #084388;">https://anvui.vn</a> <br>
                            Hotline: 024 9999 6666 <br>
                            Email: trienkhai@anvui.vn
                        </p>
                    </div>
                    <div class="col-12 col-md-9 d-none d-md-block" style="border-left: 1px solid #CED9E7;padding-left: 30px">
                        <h1 class="av-title">AN VUI có gì?</h1>
                        <div class="row no-gutters">
                            <div class="col-4">
                                <ul class="anvui-have">
                                    <template v-for="(av_function,f) in anvui_functions">
                                        <li :class="[f == active_function ? 'active' : '']"
                                            @click="active_function = parseInt(f)"
                                            :key="f"
                                            @mouseover="function_hover=true"
                                            @mouseleave="function_hover=false"
                                        >{{av_function.name}}</li>
                                    </template>
                                </ul>
                                <a href="https://anvui.vn" target="_blank" style="background: #FFFFFF;box-sizing: border-box;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);border-radius: 12px;border: 1px solid #084388;padding: 10px 24px">Tìm hiểu thêm</a>
                            </div>
                            <div class="col-8 text-center"
                                 @mouseover="function_hover=true"
                                 @mouseleave="function_hover=false">
                                <img :src="anvui_functions[active_function].image" alt="" class="img-fluid" style="margin-top: -40px">
                                <p class="text-left" style="color: #383F47;line-height: 24px;font-size: 16px;font-family: Cabin;font-style: normal;font-weight: normal;">{{ anvui_functions[active_function].label }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 d-md-none">
                        <hr>
                        <h3 class="moblie-anvui-info">AN VUI có gì?</h3>
                        <div style="color: #084388;line-height: 32px;font-size: 24px;font-weight: 500;font-family: Cabin;font-style: normal; margin:24px 0 16px 0">{{anvui_functions[active_function].name}}</div>
                        <div class="w-100 text-center">
                            <img :src="anvui_functions[active_function].image" :alt="anvui_functions[active_function].name" class="img-fluid">
                        </div>
                        <p class="text-left" style="color: #383F47;line-height: 24px;font-size: 16px;font-family: Cabin;font-style: normal;font-weight: normal;">{{ anvui_functions[active_function].label }}</p>
                    </div>
                </div>
            </div>
            <div class="container" v-else>
                <div class="row">
                    <div class="col-12 col-md-5">
                        <template v-if="tab==enumTab.SEND_REQUEST_RESET_PASSWORD">
                            <h3 class="title-tab" style="margin-top: 80px;margin-bottom: 32px">Yêu cầu quên mật khẩu.</h3>
                            <div class="form-group">
                                <label for="userNameGetCode" class="label-form w-100">Tên đăng nhập</label>
                                <input type="text"v-model="params.sendRequestResetPass.userName" id="userNameGetCode" placeholder="Nhập tên đăng nhập." class="input-form w-100">
                            </div>
                            <div class="form-group" style="margin-bottom: 16px;">
                                <el-button class="btn-form btn-orange"  hidefocus="true" :loading="loading.requestResetPassword" @click="requestResetPassword()">GỬI YÊU CẦU QUÊN MẬT KHẨU</el-button>
                            </div>
                            <div class="form-group" style="margin-top: 22px">
                                <a href="javascript:void(0)" @click="tab=enumTab.LOGIN" class="underline">Trở lại đăng nhập</a>
                            </div>
                        </template>
                        <template v-if="tab==enumTab.RESET_PASSWORD">
                            <h3 class="title-tab" style="margin-top: 80px;margin-bottom: 32px">Thay đổi mật khẩu.</h3>
                            <p style="color: #232731;line-height: 24px;font-size: 16px;font-family: Cabin;font-style: normal;font-weight: normal;">
                                Chúng tôi đang gọi cho bạn để cung cấp mã xác thực, vui lòng nghe điện thoại, để cập nhật mật khẩu mới.
                            </p>
                            <div class="form-group">
                                <label class="label-form w-100">Mã xác thực</label>
                                <input type="text" v-model="params.resetPassword.otpCode"  placeholder="mã xác thực." class="input-form w-100">
                            </div>
                            <div class="form-group">
                                <label class="label-form w-100">Mật khẩu mới</label>
                                <input type="text"  v-model="params.resetPassword.newPass"  placeholder="Mật khẩu mới." class="input-form w-100">
                            </div>
                            <div class="form-group">
                                <label class="label-form w-100">Nhập lại mật khẩu mới</label>
                                <input type="text" v-model="params.resetPassword.reNewPass"  placeholder="mã xác thực." class="input-form w-100">
                            </div>
                            <div class="form-group" style="margin-bottom: 16px;">
                                <el-button class="btn-form btn-orange"  hidefocus="true" :loading="loading.requestResetPassword" @click="resetPassword()">GỬI YÊU CẦU THAY ĐỔI MẬT KHẨU</el-button>
                            </div>
                            <div class="form-group" style="margin-top: 22px">
                                <a href="javascript:void(0)" @click="tab=enumTab.LOGIN" class="underline">Trở lại đăng nhập</a>
                            </div>
                        </template>
                        <template v-if="tab==enumTab.SEND_REQUEST_LOGIN">
                            <h3 class="title-tab" style="margin-top: 80px;margin-bottom: 32px">Gửi yêu cầu đăng nhập.</h3>
                            <p style="color: #232731;line-height: 24px;font-size: 16px;font-family: Cabin;font-style: normal;font-weight: normal;">
                                Chào mừng bạn LinhLT đã đăng nhập vào hệ thống! <br>
                                Tuy nhiên bạn đang đăng nhập ở một máy tính chưa được phê duyệt, vui lòng gửi yêu cầu cho Quản lý để được phê duyệt đăng nhập hợp lệ từ máy tính này.
                            </p>
                            <div class="form-group">
                                <label class="label-form w-100">Mã đăng nhập</label>
                                <input type="text"  :value="deviceCode" disabled placeholder="Mật khẩu mới." class="input-form w-100">
                            </div>
                            <div class="form-group">
                                <label class="label-form w-100">Ghi chú gửi cho quản lý (nếu có)</label>
                                <input type="text" v-model="params.sendRequestLogin.note"  placeholder="Ghi chú" class="input-form w-100">
                            </div>
                            <div class="form-group" style="margin-bottom: 16px;">
                                <el-button class="btn-form btn-orange"  hidefocus="true" :loading="loading.sendRequestLogin" @click="sendRequestLogin()">GỬI YÊU CẦU</el-button>
                            </div>
                            <div class="form-group" style="margin-top: 22px">
                                <a href="javascript:void(0)" @click="tab=enumTab.LOGIN" class="underline">Trở lại đăng nhập</a>
                            </div>
                        </template>
                        <template v-if="tab==enumTab.SEND_REQUEST_LOGIN_DONE">
                            <h3 class="title-tab" style="margin-top: 80px;margin-bottom: 32px">Gửi yêu cầu đăng nhập thành công!</h3>
                            <p style="color: #232731;line-height: 24px;font-size: 16px;font-family: Cabin;font-style: normal;font-weight: normal;">
                                Yêu cầu của bạn đã được gửi đi, vui lòng chờ yêu cầu được duyệt hoặc liên hệ với quản lý của bạn.
                            </p>
                            <div class="form-group" style="margin-top: 22px">
                                <a href="javascript:void(0)" @click="tab=enumTab.LOGIN" class="underline">Trở lại đăng nhập</a>
                            </div>
                        </template>
                        <template v-if="tab==enumTab.WAIT_REQUEST_LOGIN">
                            <h3 class="title-tab" style="margin-top: 80px;margin-bottom: 32px">Yêu cầu đăng nhập đang chờ phê duyệt.</h3>
                            <p style="color: #232731;line-height: 24px;font-size: 16px;font-family: Cabin;font-style: normal;font-weight: normal;">
                                Mã đăng nhập của bạn đang chờ phê duyệt! <br>
                                Vui lòng liên hệ với quản lý của bạn để yêu cầu phê duyệt
                            </p>
                            <div class="form-group" style="margin-top: 22px">
                                <a href="javascript:void(0)" @click="tab=enumTab.LOGIN" class="underline">Trở lại đăng nhập</a>
                            </div>
                        </template>
                        <template v-if="tab==enumTab.REQUEST_LOGIN_FAIL">
                            <h3 class="title-tab" style="margin-top: 80px;margin-bottom: 32px;color: #C80013;">Yêu cầu đăng nhập đã bị từ chối!</h3>
                            <p style="color: #232731;line-height: 24px;font-size: 16px;font-family: Cabin;font-style: normal;font-weight: normal;">
                                Tài khoản đăng nhập LinhLT đã bị từ chối! Mọi thắc mắc liên hệ với quản lý của bạn để được giải quyết!
                            </p>
                            <div class="form-group" style="margin-top: 22px">
                                <a href="javascript:void(0)" @click="tab=enumTab.LOGIN" class="underline">Trở lại đăng nhập</a>
                            </div>
                        </template>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col">
                                <img src="/public/img/login/bus_transshipment.png" alt="logo" style="position: absolute;right: 0">
                                <div class="box-data" style="margin-top: 315px">
                                    <div class="box-icon icon-pc"></div>
                                    <div class="box-title">
                                        Quản lý toàn diện
                                    </div>
                                    <div class="box-content">
                                        Hệ thống quản lý đầy đủ từ doanh số bán vé, tổng đài, đại lý, thu chi, phương tiện, khách hàng...
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-data" style="margin-top: 200px">
                                    <div class="box-icon icon-ticket"></div>
                                    <div class="box-title">
                                        Bán vé dễ dàng
                                    </div>
                                    <div class="box-content">
                                        Sơ đồ bán vé trực quan, dễ sử dụng giúp nhà xe đặt vé dễ dàng từ hệ thống
                                    </div>
                                </div>
                                <div class="box-data" style="margin-top: 48px">
                                    <div class="box-icon icon-list"></div>
                                    <div class="box-title">
                                        Báo cáo chi tiết
                                    </div>
                                    <div class="box-content">
                                        Báo cáo phân tích và dự báo hiệu quả kinh doanh.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

</template>
<script>
    import Fingerprint2 from 'fingerprintjs2';

    export default {
        data : function(){
            return {
                tab : 0,
                enumTab : {
                    LOGIN : 0,
                    SEND_REQUEST_RESET_PASSWORD : 1,
                    RESET_PASSWORD : 2,
                    SEND_REQUEST_LOGIN : 3,
                    SEND_REQUEST_LOGIN_DONE : 4,
                    WAIT_REQUEST_LOGIN : 5,
                    REQUEST_LOGIN_FAIL : 6,
                },
                params : {
                    login : {
                        userName : '',
                        password : '',
                    },
                    sendRequestResetPass : {
                        userName : '',
                    },
                    resetPassword : {
                        phoneNumber : '',
                        otpCode : '',
                        newPass : '',
                        reNewPass : ''
                    },
                    sendRequestLogin : {
                        note : '',
                    }
                },
                errorLogin : null,
                loading : {
                    login : false,
                    requestResetPassword : false,
                    sendRequestLogin : false
                },
                deviceCode : 'loading...',
                anvui_functions : {
                    1: {
                        name: 'Phần mềm quản trị bán vé',
                        label: 'Là phần mềm giúp quản lý toàn bộ hoạt động bán vé tại nhà xe từ khâu tổng đài đặt vé đến khâu kế toán, Giảm thất thoát trong vận hành.',
                        image: '/public/img/login/ban_ve.png',
                    },
                    2: {
                        name: 'Ứng dụng cho lái phụ xe',
                        label: 'Ứng dụng giúp tài xế và phụ xe Bán vé dọc đường hoặc đón trả khách đúng điểm dừng đỗ... Chốt chặng và thanh tra trên đường. Đảm bảo tuyệt đối việc gian lận thông qua Phơi lệnh điện tử',
                        image: '/public/img/login/driver_app.png',
                    },
                    3: {
                        name: 'Ứng dụng bán vé cho đại lý',
                        label: 'Là ứng dụng giúp mở rộng kênh phân phối bán vé online cho các đại lý hoặc đẩy vé của nhà xe lên các kênh bán vé online như Zalo, Viettel Pay, Vin ID ... Nhà xe có khả năng chủ động về chính sách bán vé cho đại lý và tỷ lệ hoa hồng. Bảo mật thông tin không bị lộ thông tin hành khách cho đối thủ',
                        image: '/public/img/login/agency_app.png',
                    },
                    4: {
                        name: 'Ứng dụng quản lý hàng hoá',
                        label: 'Phần mềm giành cho doanh nghiệp vận tải hàng hoá, gửi hàng theo xe và chuyển phát chuyên nghiệp. Với các chức năng Giao nhận hàng tại nhà, theo dõi vị trí hàng di chuyển trên đường, quản lý thu hộ COD, Quản lý hàng tồn kho... Chính xác tuyệt đối tránh nhầm lẫn hàng hoá theo Mã vạch QR Code.',
                        image: '/public/img/login/goods_app.png',
                    },
                    5: {
                        name: 'Tích hợp thanh toán Vé điện tử và hợp đồng điện tử',
                        label: 'AN VUI tích hợp với các kênh thanh toán như QR Code, Ví điện tử đồng thời Giúp Nhà xe Ứng dụng hợp đồng điện tử và Vé điện tử phù hợp với Nghị định 10, Thông tư 12, Nghị định 100 và pháp luật hiện hành.',
                        image: '/public/img/login/contract_online.png',
                    },
                    6: {
                        name: 'Wifi Marketing trên Ô tô',
                        label: 'Là giải pháp quản lý thông tin hành khách, Tích điểm cho hành khách, Bán vé tháng và chăm sóc hành khách tại các phòng vé và trên xe ô tô. Khách hàng được trải nghiệm dịch vụ Wifi mà không cần phải hỏi pass word.. Tạo nên hình ảnh và sự trải nghiệm tuyệt vời cho Hành khách đối với nhà xe',
                        image: '/public/img/login/wifi_oto.png',
                    },
                },
                active_function : 1,
                function_hover : false,
            }
        },
        beforeCreate: function () {
        },
        created: function () {
        },
        mounted : function(){
            let self = this;
            // Fingerprint2.get({
            //     excludes: {
            //         adBlock:true,
            //         canvas: true,
            //         webgl: true,
            //         enumerateDevices: true
            //     }
            // }, function (components) {
            //     let hash = Fingerprint2.x64hash128(components.map(component => component.value).join(''), 31);
            //     self.deviceCode = hash;
            // });
            const browserId = localStorage.getItem('browserId');
            if(browserId) {
                self.deviceCode = browserId;
                console.log('BrowserId is: ', browserId);
            } else {
                const id = this.makeId();
                localStorage.setItem('browserId', id);
                self.deviceCode = id;
                console.log('Add browserId successfully!');
            }

            let itv = setInterval(function () {
                if(!self.function_hover){
                    let atv = _.cloneDeep(self.active_function);
                    atv = atv >= Object.keys(self.anvui_functions).length ? 1 : atv+1;
                    self.active_function = atv;
                }
            },3000)
        },
        methods : {
            makeId: function () {
                let result = '';
                const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                const charactersLength = characters.length;
                for ( let i = 0; i < 10; i++ ) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            },
            login : function(){
                let self = this;
                self.errorLogin = null;
                if(!self.params.login.userName||!self.params.login.password){
                    self.$notify({
                        title: 'Lỗi',
                        message: 'vui lòng nhập tài khoản và mật khẩu',
                        type: 'error'
                    });
                    return false;
                }
                this.loading.login=true;
                $.ajax({
                    url :urlLogin,
                    type : 'post',
                    dataType :'json',
                    data:{
                        uid : this.params.login.userName,
                        pass : this.params.login.password,
                        accessCode : self.deviceCode,
                        _token : laravelToken,
                        deviceId : window.firebaseToken,
                    },
                    success : function(data){
                        if(data.code===200||data.message === "logged"){
                            window.location.reload();
                        }else{
                            try{
                                switch (data.results.error.code) {
                                    case 122 :
                                        self.errorLogin = 'Tài khoản hoặc mật khẩu không chính xác';
                                        break;
                                    case 125 :
                                        self.tab=self.enumTab.REQUEST_LOGIN_FAIL;
                                        break;
                                    case 126 :
                                        self.tab=self.enumTab.WAIT_REQUEST_LOGIN;
                                        break;
                                    case 130 :
                                        self.errorLogin = 'Tài khoản hiện đang bị khóa';
                                        break;
                                    case 101 :
                                        self.tab = self.enumTab.SEND_REQUEST_LOGIN;
                                        break;
                                    default :
                                        self.errorLogin = ErrorMessage[data.results.error.code];
                                }
                            }catch (e) {
                                self.$notify({
                                    title: 'Lỗi',
                                    message: 'Có lỗi xảy ra.Vui lòng tải lại trang',
                                    type: 'error'
                                });
                            }
                            self.loading.login=false;
                        }
                    },
                    error : function () {
                        self.$notify({
                            title: 'Lỗi',
                            message: 'Có lỗi xảy ra.Vui lòng tải lại trang',
                            type: 'error'
                        });

                        self.loading.login=false;
                    }
                });

            },
            requestResetPassword : function () {
                let self = this;
                if(!this.params.sendRequestResetPass.userName){
                    self.$notify({
                        title: 'Lỗi',
                        message: 'Tài khoản không được bỏ trống',
                        type: 'error'
                    });
                    return false;
                }
                self.loading.requestResetPassword = true;
                $.ajax({
                    url :urlRequestResetPassword,
                    type : 'post',
                    dataType :'json',
                    data:{
                        uid : this.params.sendRequestResetPass.userName,
                        _token : laravelToken
                    },
                    success : function(data){
                        if(data.code===200){
                            self.params.resetPassword.phoneNumber = data.results.phoneNumber;
                            self.tab=self.enumTab.RESET_PASSWORD;
                        }else if(data['results']['error']['code'] === 103){
                            self.$notify({
                                title: 'Lỗi',
                                message: 'Tài khoản không tồn tại',
                                type: 'error'
                            });
                            self.params.resetPassword.phoneNumber = '';
                        } else if (data['results']['error']['code'] === 127) {
                            self.$notify({
                                title: 'Lỗi',
                                message: 'Không gửi được mã OTP',
                                type: 'error'
                            });
                            self.params.resetPassword.phoneNumber = '';
                        }else{
                            self.params.resetPassword.phoneNumber = '';
                            self.$notify({
                                title: 'Lỗi',
                                message: 'Lỗi,vui lòng tải lại trang!',
                                type: 'error'
                            });
                        }

                        self.loading.requestResetPassword = false;
                    },
                    error : function () {
                        self.$notify({
                            title: 'Lỗi',
                            message: 'Vui lòng tải lại trang',
                            type: 'error'
                        });

                        self.loading.requestResetPassword = false;
                    }
                });
            },
            resetPassword : function () {
                let self = this;
                if(!self.params.resetPassword.otpCode||!self.params.resetPassword.newPass||!self.params.resetPassword.reNewPass){
                    self.$notify({
                        title: 'Lỗi',
                        message: 'Vui lòng nhập đầy đủ thông tin',
                        type: 'error'
                    });
                    return false;
                }
                if(self.params.resetPassword.newPass!==self.params.resetPassword.reNewPass){
                    self.$notify({
                        title: 'Lỗi',
                        message: 'Mật khẩu mới không trùng nhau',
                        type: 'error'
                    });
                    return false;
                }
                self.tab=self.enumTab.LOGIN;
                $.ajax({
                    url :urlResetPassword,
                    type : 'post',
                    dataType :'json',
                    data:{
                        phoneNumber : self.params.resetPassword.phoneNumber,
                        userName : self.params.sendRequestResetPass.userName,
                        otpCode : self.params.resetPassword.otpCode,
                        newPassword : self.params.resetPassword.newPass,
                        _token : laravelToken
                    },
                    success : function(data){
                        if(data.code===200){
                            self.$notify({
                                title: 'Thành công',
                                message: 'Đổi mật khẩu thành công',
                                type: 'success'
                            });
                        }else{
                            self.$notify({
                                title: 'Lỗi',
                                message: 'vui lòng thử lại sau',
                                type: 'error'
                            });
                        }
                    },
                    error : function () {
                        self.$notify({
                            title: 'Lỗi',
                            message: 'vui lòng tải lại trang',
                            type: 'error'
                        });
                    }
                });
            },
            sendRequestLogin : function () {
                let self = this;
                self.loading.sendRequestLogin = true;
                sendJson({
                    url :urlDBD(API.accessCodeCreate),
                    headers : null,
                    type : 'post',
                    dataType :'json',
                    data:{
                        userName : self.params.login.userName,
                        accessCode : self.deviceCode,
                        note : self.params.sendRequestLogin.note
                    },
                    success : function(data){
                        self.loading.sendRequestLogin = false;
                        self.tab = self.enumTab.SEND_REQUEST_LOGIN_DONE;
                    },
                    error : function () {
                        self.loading.sendRequestLogin = false;
                        self.$notify({
                            title: 'Lỗi',
                            message: 'vui lòng tải lại trang',
                            type: 'error'
                        });
                    }
                });
            }
        }
    }
</script>
<style scoped>
    .header{
        height:50px;
        padding: 5px 0;
        width: 100%;
        box-sizing: border-box;
        background: #19448a;
        position: fixed;
        text-align: center;
        top: 0px;
        z-index: 10;
    }
    .content{
        background: #eee;width: 100%;height: 100vh;overflow: scroll;
    }
    .box{
        background: #fff;
        padding: 20px;
        box-shadow: 5px 5px 5px #ddd;
    }
    .padding-bottom-10{
        padding-bottom:10px;
    }
    input{border-radius: 0!important;}
    .box-psd{
        margin: auto;
        width: 640px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #444;
        background: #fff;
    }
    .input-text{
        width: 100%;
        height: 48px;
        line-height: 17px;
        font-family: 'Roboto';
        border-radius: 6px !important;
        margin: auto;
        border:1px solid #ccc;
        padding-left: 10px;
        font-size: 16px;
    }
    .button-action {
        background: #084388;
        border-radius: 4px;
        height: 60px;
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
    .btnlogin{
        background: #084388;
        color:#fff;
        cursor: pointer;
    }
    .btnlogin:hover{
        background: #0C54AB;
    }
    .underline{
        text-decoration: underline;
    }
    .g-recaptcha > div{
        margin: auto;
    }
    label{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }


    .menu-header{
        padding: 24px 0;
        position: sticky;
        top : 0;
        z-index:3;
        background: #F9FAFC;
    }
    .login-main-content{
        margin-top: 48px;
    }
    .text-header {
        font-family: Cabin;font-size: 40px;line-height: 49px;font-weight: normal;margin-bottom: 24px;color: #383F47;
    }
    .box-login {
        background: #CED9E7;border-radius: 12px;padding: 16px;margin-bottom: 16px
    }
    .button-menu-left{
        background: linear-gradient(273.81deg, #084388 75.26%, #6B8EB8 100%);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        padding: 17px 24px;
        display: inline-block;
    }
    .button-menu-left:hover{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
    }
    .label-form{
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #646D84;
    }
    .input-form{
        background: #FFFFFF;
        border: 1px solid #ECEDF1;
        box-sizing: border-box;
        border-radius: 12px !important;
        font-size: 16px;
        line-height: 19px;
        padding: 14px 16px 15px 16px;
    }
    .btn-form{
        border-radius: 12px;
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 17px 24px;
        border: none;
    }
    .btn-orange{
        color: #fff;
        background: #F39B13;
    }
    .btn-orange:hover{
        color: #fff;
        background: #d78506;
    }
    .av-title{
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #383F47;
        margin-top: 74px;
        margin-bottom: 16px;
    }
    ul.anvui-have{
        padding: 0;
        margin-left: -30px;
        list-style: none;
    }
    ul.anvui-have li{
        padding-left: 30px;
        margin-bottom: 25px;
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #9399A9;
        cursor: pointer;
    }
    ul.anvui-have li.active{
        border-left: 2px solid #F39B13;
        color:#084388;
    }
    .title-tab{
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #232731;
    }
    .box-data {
        position: relative;
        background: #fff;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        width: 100%;
        padding: 48px 24px 24px 24px;
    }
    .box-data .box-title{
        color: #084388;
        font-family: Cabin;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
    .box-data .box-content{
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #646D84;
    }
    .box-data .box-icon{
        top: -32px;
        left: 32px;
        position: absolute;
        width: 64px;
        height: 64px;
        background-color : #FDEBD0;
        border-radius: 50%;
    }
    .icon-ticket{
        background-image: url('/public/img/login/icon_ticket.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }
    .icon-pc{
        background-image: url('/public/img/login/icon_pc.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }
    .icon-list{
        background-image: url('/public/img/login/icon_list.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }
    .moblie-anvui-info{
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #383F47;
        text-align: center;
    }
    @media only screen and (max-width:600px){
        .box-psd{
            width: 96%;
        }
        .input-text{
            width: 100%;
        }
        .menu-header{
            padding: 16px 0;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        }
        .login-main-content{
            margin-top: 16px;
        }
        .text-header {
            font-family: Cabin;font-size: 24px;line-height: 29px;font-weight: normal;margin-bottom: 16px;
        }
        /* styles for browsers larger than 960px; */
    }
    .text-red{
        text-align : left;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;
        color: #E62020;
    }
</style>
