<template>
  <div class="row" style="margin-bottom: 70px">
    <div class="col-12 title">
      <div class="row no-gutters">
        <div class="col">Danh sách chủ phương tiện</div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-3">
          <button
            class="btn btn-success btn-sm"
            v-if="$root.roles.VEHICLE_CREATE"
            @click="openDialog('add')"
          >
            <i class="fa fa-plus-circle"></i>
            Thêm chủ sở hữu
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 top10">
      <el-table :data="listData" style="width: 100%">
        <el-table-column prop="code" label="Mã"></el-table-column>
        <el-table-column label="Thông tin công ty">
          <el-table-column label="Địa chỉ">
            <template slot-scope="prop">{{prop.row.companyInfo.address}}</template>
          </el-table-column>
          <el-table-column label="Số TK ngân hàng">
            <template slot-scope="prop">{{prop.row.companyInfo.bankAccountNumber}}</template>
          </el-table-column>
          <el-table-column label="Tên cty">
            <template slot-scope="prop">{{prop.row.companyInfo.name}}</template>
          </el-table-column>
          <el-table-column label="Viết tắt">
            <template slot-scope="prop">{{prop.row.companyInfo.shortName}}</template>
          </el-table-column>
          <el-table-column label="Mã Tax">
            <template slot-scope="prop">{{prop.row.companyInfo.taxCode}}</template>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="email" label="Email"></el-table-column>
        <el-table-column prop="phoneNumber" label="SĐT"></el-table-column>
        <el-table-column prop="position" label="Vị trí"></el-table-column>
        <el-table-column prop="representative" label="Đại diện"></el-table-column>
        <el-table-column label="Chữ ký">
          <template slot-scope="prop">
            <el-image
              style="width: 50px; height: 50px"
              :src="prop.row.signature"
              :preview-src-list="[prop.row.signature]"
              alt="Signature image"
            ></el-image>
          </template>
        </el-table-column>
        <el-table-column width="120">
          <template slot-scope="prop">
            <el-button
              type="warning"
              icon="el-icon-edit"
              circle
              @click="openDialog('edit', prop.row)"
            ></el-button>
            <el-popconfirm
              title="Bạn có chắc muốn xóa thông tin này không?"
              @onConfirm="deleteVehicleOwner(prop.row.id)"
              confirmButtonText="Đồng ý"
              cancelButtonText="Hủy"
            >
              <el-button type="danger" icon="el-icon-delete" circle slot="reference"></el-button>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog
      :title="formTitle"
      :visible.sync="dialogFormVisible"
      @close="dialogFormVisible = false"
      width="80%"
    >
      <el-form :model="form" label-position="left" :label-width="formLabelWidth">
        <div class="grid-container">
          <el-card>
            <div slot="header" class="clearfix">
              <span>Thông tin công ty</span>
            </div>
            <el-form-item label="Tên">
              <el-input v-model="form.companyInfo.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Tên viết tắt">
              <el-input v-model="form.companyInfo.shortName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Mã tax">
              <el-input v-model="form.companyInfo.taxCode" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Địa chỉ">
              <el-input v-model="form.companyInfo.address" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Số TK ngân hàng">
              <el-input v-model="form.companyInfo.bankAccountNumber" autocomplete="off"></el-input>
            </el-form-item>
          </el-card>
          <el-card>
            <div slot="header" class="clearfix">
              <span>Thông tin chủ sở hữu</span>
            </div>
            <el-form-item label="Đại diện">
              <el-input v-model="form.representative" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Code">
              <el-input :disabled="!isCreate" v-model="form.code" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Vị trí">
              <el-input v-model="form.position" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="SĐT">
              <el-input v-model="form.phoneNumber" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Email">
              <el-input v-model="form.email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Chữ ký (đường dẫn ảnh)">
              <upload-files :value="form.signature" v-model="form.signature"></upload-files>
            </el-form-item>
          </el-card>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Hủy</el-button>
        <el-button :disabled="isDisable" type="primary" @click="submitForm()">Lưu</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import UploadFiles from "../Ingredient/UploadFiles.vue";
export default {
  components: {
    UploadFiles,
  },
  data: function () {
    return {
      listData: [],
      listCodeExist: [],
      form: {
        id: null,
        companyInfo: {
          name: null,
          shortName: null,
          taxCode: null,
          address: null,
          bankAccountNumber: null,
        },
        representative: null,
        code: null,
        position: null,
        phoneNumber: null,
        email: null,
        signature: [],
        isActive: true,
      },
      formTitle: "",
      dialogFormVisible: false,
      isDisable: false,
      formLabelWidth: "140px",
      isCreate: false,
    };
  },
  mounted: function () {
    this.getVehicleOwner();
  },
  methods: {
    submitForm: function () {
      let self = this;
      const {
        id,
        companyInfo,
        representative,
        code,
        position,
        phoneNumber,
        email,
        signature,
      } = this.form;
      let param = {
        companyInfo: companyInfo,
        representative: representative,
        code: code,
        position: position,
        phoneNumber: phoneNumber,
        email: email,
        signature:
          this.form.signature.length != 0
            ? this.form.signature.reverse()[0]
            : "",
        isActive: true,
      };
      if (!!id) {
        param.id = id;
        this.updateVehicleOwner(param);
      } else {
        this.createVehicleOwner(param);
      }
    },
    createVehicleOwner: function (params) {
      let self = this;
      self.load("createVehicleOwner");
      sendJson({
        url: urlDBD(API.vehicleOwnerCreate),
        data: params,
        success: function (data) {
          self.getVehicleOwner();
          self.dialogFormVisible = false;
          self.unload("createVehicleOwner");
        },
        functionIfError: function (data) {
          self.unload("createVehicleOwner");
        },
      });
    },
    updateVehicleOwner: function (params) {
      let self = this;
      self.load("updateVehicleOwner");
      sendJson({
        url: urlDBD(API.vehicleOwnerUpdate),
        data: params,
        success: function (data) {
          self.getVehicleOwner();
          self.dialogFormVisible = false;
          self.unload("updateVehicleOwner");
        },
        functionIfError: function (data) {
          self.unload("updateVehicleOwner");
        },
      });
    },
    openDialog: function (type, item = null) {
      this.clearForm();
      if (type === "edit") {
        this.formTitle = "Sửa thông tin";
        this.isCreate = false;
        this.form = {
          id: item.id,
          companyInfo: {
            name: item.companyInfo.name,
            shortName: item.companyInfo.shortName,
            taxCode: item.companyInfo.taxCode,
            address: item.companyInfo.address,
            bankAccountNumber: item.companyInfo.bankAccountNumber,
          },
          representative: item.representative,
          code: item.code,
          position: item.position,
          phoneNumber: item.phoneNumber,
          email: item.email,
          signature: item.signature ? [item.signature] : [],
          isActive: item.isActive
        };
      }
      if (type === "add") {
        this.isCreate = true;
        this.formTitle = "Thêm chủ sở hữu";
      }
      this.dialogFormVisible = true;
    },
    deleteVehicleOwner: function (id) {
      let self = this;
      self.load("deleteVehicleOwner");
      sendJson({
        url: urlDBD(API.vehicleOwnerDelete),
        data: { id: id },
        success: function (data) {
          self.getVehicleOwner();
          self.unload("deleteVehicleOwner");
        },
        functionIfError: function (data) {
          self.unload("deleteVehicleOwner");
        },
      });
    },
    getVehicleOwner: function () {
      let self = this;
      self.load("getVehicleOwner");
      let dataReq = {
        page: 0,
        count: 1000,
      };
      sendJson({
        url: urlDBD(API.vehicleOwnerGetList),
        data: dataReq,
        success: function (data) {
          self.listData = data.results.vehicleOwnerList;
          self.listCodeExist = data.results.vehicleOwnerList.map((x) => x.code);
          self.unload("getVehicleOwner");
        },
        functionIfError: function (data) {
          self.unload("getVehicleOwner");
        },
      });
    },
    clearForm: function () {
      let form = {
        id: null,
        companyInfo: {
          name: null,
          shortName: null,
          taxCode: null,
          address: null,
          bankAccountNumber: null,
        },
        representative: null,
        code: null,
        position: null,
        phoneNumber: null,
        email: null,
        signature: [],
        isActive: true,
      };
      this.form = form;
    },
    deleteVehicle: function (id) {
      let self = this;
      if (!confirm("bạn có muốn Xóa phương tiện ? ")) {
        return false;
      }
      self.load("deleteVehicle");
      sendJson({
        url: urlDBD(API.vehicleDelete),
        data: {
          id: id,
        },
        success: function (res) {
          notify("thực thi thành công", "success");
          self.unload("deleteVehicle");
          self.getVehicleOwner("refresh");
        },
        functionIfError: function (err) {
          self.unload("deleteVehicle");
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
</style>