<template>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="form-group">
                <label class="font-weight-normal">{{$t('level-number')}} </label>
                <input type="text" class="form-control" v-model="level">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">{{$t('species')}} </label>
                <select class="form-control" v-model="conditionAchieveType">
                    <option value="1">{{$t('number-seats-sold')}}</option>
                    <option value="2">{{$t('ticket-sales')}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">{{$t('quota')}} </label>
                <input-number class="form-control" v-model="achieveValue"></input-number>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">{{$t('start-date-applied')}}</label>
                <datepicker :readonly="false" v-model="applyDate"></datepicker>
            </div>
        </div>
    </div>
</template>
<script>
    // import SelectGroupPermission from '../GroupPermission/SelectGroupPermission.vue'
    export default {
        // components : {SelectGroupPermission},
        data : function (){
            return {
                level : '',
                conditionAchieveType : 1,
                achieveValue : '',
                applyDate : '',
            }
        },
        methods : {
            refresh : function () {
                this.level = '';
                this.conditionAchieveType = 1;
                this.achieveValue = '';
                this.applyDate = '';
            },
            save : function (){
                let self = this;
                let param = {
                    level : self.level,
                    conditionAchieveType : self.conditionAchieveType,
                    achieveValue : self.achieveValue,
                    applyDate : func.dateToMS(self.applyDate)
                }
                self.load('createLevelAgency');
                sendJson({
                    url : urlDBD(API.levelAgencyCreate),
                    data : param,
                    success : function (res) {
                        notify(self.$t('notify.execute-success'));
                        self.unload('createLevelAgency');
                        self.$emit('event',{eventName : 'saveSuccess',data : res});
                    },
                    functionIfError : function (err) {
                        self.unload('createLevelAgency');
                        self.$emit('event',{eventName : 'saveError',data : err});
                    }
                })
            }
        }
    }
</script>