<template>
  <el-select :value="value" :multiple="multiple" :clearable="true"
             @input="$emit('input',$event)"
             filterable :loading="loading" remote :remote-method="get" placeholder="Chọn cấp"
             value-key="levelAgencyId" @change="change" @focus="get()" v-on:visible-change="visible=$event">
    <el-option
            v-for="item in options"
            :key="item.levelAgencyId"
            :label="item.level"
            :value="item">
    </el-option>
  </el-select>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            allowClear : {
                default : true
            },
            multiple : {
                default : false
            },
            allowEmpty : {
                default : true,
            },
        },
        data : function () {
            return {
                options : [],
                loading : false,
                visible: false
            }
        },
        mounted : function(){
            this.setOptionsByValue(this.value);
        },
        watch: {
            value: function (val) {
                if (!this.visible) {
                    this.setOptionsByValue(val);
                }
            }
        },
        methods : {
            get : function (query) {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 30,
                    level : query,
                };
                self.options =[];
                sendJson({
                    url : urlDBD(API.levelAgencyList),
                    data : dataReq,
                    success : function (data) {
                        self.options=data.results.listLevelOfAgency;
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            input :function (newVal) {
                this.$emit('input',newVal);
            },
            change :function (newVal) {
                this.$emit('change',newVal);
            },
            setOptionsByValue: function (value) {
                if (value) {
                    if (this.multiple) {
                        this.options = _.cloneDeep(value);
                    } else {
                        this.options = [_.cloneDeep(value)];
                    }
                }
            }
        }
    }
</script>