<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col text-uppercase"> {{$t('list-level-agency')}} </div>
                <div class="col-auto">
                    <button class="btn btn-success btn-sm" @click="openModalAddLevelAgency()" v-if="$root.roles.EMPLOYEE_CREATE">
                        <i class="fa fa-plus-circle"></i> {{$t('add-new-level')}}</button>
                </div>
            </div>
        </div>
        <!-- <div class="col-12">
            <div class="row">
                <div class="col-8 col-md-3 form-group">
                    <label class="font-weight-normal">Tên đại lý</label>
                    <input type="text" class="form-control" v-model="fullName">
                </div>
                <div class="col-4 col-md-3">
                    <label class="font-weight-normal">&nbsp;</label>
                    <button class="btn btn-primary btn-block" @click="getUsers()">TÌM HỒ SƠ</button>
                </div>
            </div>
        </div> -->
        <div class="col-12 top10" v-if="agencies">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th width="50" class="text-center">{{$t('No-')}}</th>
                        <th>{{$t('level-agency')}}</th>
                        <th>{{$t('quota')}}</th>
                        <th>{{$t('species')}}</th>
                        <th>{{$t('start-date-applied')}}</th>
                        <th class="text-right">{{$t('option')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(agency,a) in agencies">
                        <tr>
                            <td class="text-center">{{ a+1 + page*count }}</td>
                            <td>Cấp {{ agency.level }}</td>
                            <td>{{ agency.achieveValue|number }}</td>
                            <td>{{ agency.conditionAchieveType==1 ? $t('number-seats-sold') : $t('ticket-sales') }}</td>
                            <td>{{ agency.applyDate|customDate('#DD#-#MM#-#YYYY#') }}</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary" :title="$t('update-level-agency')" data-toggle="tooltip" @click="openModalUpdateLevelAgency(agency)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-danger" :title="$t('delete-level-agency')" data-toggle="tooltip" @click="deleteLevelAgency(agency.levelAgencyId)" v-if="$root.roles.EMPLOYEE_DELETE"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-outline-dark" :disabled="page<=0" @click="getAgencies('minus')"><< {{$t('page')}} {{page>0?page:1}}</button>
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-outline-dark" @click="getAgencies('plus')">{{$t('page')}} {{page+2}} >></button>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" id="modalAddLevelAgency" tabindex="-1" role="dialog" aria-labelledby="modalAddLevelAgency" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('add-level-agency')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <add-level-agency ref="AddLevelAgency" @event="eventAddLevelAgency"></add-level-agency>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddLevelAgency.save()">
                            <i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" id="modalUpdateLevelAgency" tabindex="-1" role="dialog" aria-labelledby="modalUpdateLevelAgency" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('update-level-agency')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <update-level-agency ref="UpdateLevelAgencyComp" @event="eventUpdateLevelAgency"></update-level-agency>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateLevelAgencyComp.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddLevelAgency from './AddLevelAgency';
    import UpdateLevelAgency from './UpdateLevelAgency';

    export default {
        components : { AddLevelAgency, UpdateLevelAgency },
        data : function () {
            return {
                agencies : null,
                page : 0,
                count : func.countSearch(),
            }
        },
        mounted: function(){
            this.getAgencies();
        },
        methods : {
            getAgencies : function (typePage) {
                let self = this;
                if(typePage){
                    switch (typePage) {
                        case 'plus' :
                            self.page++;
                            break;
                        case 'minus' :
                            if(self.page>0){
                                self.page--;
                            }
                            break;
                        default :
                            break;
                    }
                }else{
                    self.page=0;
                }
                self.load('getAgencies');
                let dataReq = {
                    page : self.page,
                    count : self.count,
                };
                sendJson({
                    url : urlDBD(API.levelAgencyList),
                    data : dataReq,
                    success : function (data) {
                        self.agencies = data.results.listLevelOfAgency;
                        self.unload('getAgencies');
                    },
                    functionIfError : function (data) {
                        self.unload('getAgencies');
                    }
                });
            },
            openModalAddLevelAgency : function () {
                $(this.$el).find('#modalAddLevelAgency').modal('show');
            },
            openModalUpdateLevelAgency : function (agency) {
                this.$refs.UpdateLevelAgencyComp.refresh(agency);
                $(this.$el).find('#modalUpdateLevelAgency').modal('show');
            },
            deleteLevelAgency : function(id){
                let self = this;
                if(!confirm(this.$t('notify.confirm-delete-level-agency'))){
                    return false;
                }
                self.load('deleteLevelAgency');
                sendJson({
                    url : urlDBD(API.levelAgencyDelete),
                    data : {
                        levelAgencyId : id
                    },
                    success : function(res){
                        notify(self.$t('notify.deleted-level-agency'),'success');
                        self.unload('deleteLevelAgency');
                        self.getAgencies('refresh');
                    },
                    functionIfError : function(err){
                        self.unload('deleteLevelAgency');
                    }
                })
            },
            eventAddLevelAgency : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalAddLevelAgency').modal('hide');
                        self.getAgencies('refresh');
                        break;
                    default :
                        break;
                }
            },
            eventUpdateLevelAgency : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdateLevelAgency').modal('hide');
                        self.getAgencies('refresh');
                        break;
                    default :
                        break;
                }
            }
        }
    }
</script>