<template>
    <multiselect @input="input" :allowEmpty="allowEmpty" track-by="id" :options="options" :value="value" label="level" placeholder="Nhập tìm kiếm" @search-change="get" @open="get()" :loading="loading">
        <template slot="clear" v-if="allowClear">
            <div class="multiselect__clear" v-if="value" @click="$emit('input',null)"><i class="fa fa-trash text-danger"></i></div>
        </template>
    </multiselect>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            allowClear : {
                default : true
            },
            allowEmpty : {
                default : true,
            },
        },
        data : function () {
            return {
                options : [],
                loading : false,
            }
        },
        methods : {
            get : function (query) {
                let self = this;
                self.loading = true;
                let dataReq = {
                    page : 0,
                    count : 30,
                    level : query,
                };
                self.options =[];
                sendJson({
                    url : urlDBD(API.levelAgencyList),
                    data : dataReq,
                    success : function (data) {
                        self.options=data.results.listLevelOfAgency;
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            input :function (newVal) {
                this.$emit('input',newVal);
            },
        }
    }
</script>