<template>
<div class="w-100">
    <div class="row">
        <div class="col-12 title">
            <div class="row">
                <div class="col-auto">
                    CẤU HÌNH HẠN MỨC PHÒNG VÉ
                </div>
                <div class="col text-right">
                    <!-- <button class="btn btn-success btn-sm" @click="exportExcel()"> <i class="fa fa-plus"></i> Xuất excel</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row top10">
        <div class="col-12">
            <table class="table table-sm table-striped table-bordered table-respon">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Hạn mức</th>
                        <th class="text-center" style="vertical-align: middle">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="pointLimitInvoices == {}">
                        <td colspan="9" class="text-center">Không có dữ liệu</td>
                    </tr>
                    <template v-for="(value, name, index) in pointLimitInvoices">
                        <tr :key="name">
                            <td class="text-center">{{index+1}}</td>
                            <td>{{value.item.name}}</td>
                            <td>{{value.item.address}}</td>
                            <td>{{value.limitInvoiceValue.limit|number}}</td>
                            <td class="text-right tableexport-string">
                                <el-button size="mini" @click="openSaveFormDialog(value)">Edit</el-button>
                                <el-button size="mini" type="danger" @click="openDeleteDialog(value)">Delete</el-button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Dialog Save Form -->
    <el-dialog title="Thêm cấu hình hạn mức phòng vé" :visible.sync="dialogSaveVisible">
        <el-form :model="form">
            <el-form-item label="Tên" :label-width="formLabelWidth">
                <el-input disabled v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Hạn mức" :label-width="formLabelWidth">
                <el-input type="number" v-model="form.limitInvoice" autocomplete="off"></el-input>

                <!-- <span v-if="!contentIsValid" class="text-danger">Content is required!</span> -->
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogSaveVisible = false">Hủy</el-button>
            <el-button :disabled="isDisable" type="primary" @click="submitForm()">Lưu</el-button>
        </span>
    </el-dialog>
    <!-- Confirm Delete Dialog -->
    <el-dialog title="Xóa cấu hình tin nhắn" :visible.sync="dialogConfirmDelete">
        <span>Bạn có chắc muốn xóa cấu hình này không?</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogConfirmDelete = false">Hủy</el-button>
            <el-button :disabled="isDisable" type="primary" @click="handleDelete()">Xóa</el-button>
        </span>
    </el-dialog>

</div>
</template>

<script>
export default {
    data: function () {
        return {
            pointLimitInvoices: {},
            dialogSaveVisible: false,
            dialogConfirmDelete: false,
            form: {
                id: null,
                name: '',
                roomId: null,
                limitInvoice: null
            },
            formLabelWidth: '120px',
            isDisable: false,
        }
    },
    mounted: function () {
        this.getPointList();
    },
    watch: {},
    methods: {
        async submitForm() {
            let self = this;
            self.isDisable = true;
            let param = {
                room: {
                    id: self.form.roomId
                },
                limitInvoice: parseInt(self.form.limitInvoice)
            }
            if (self.form.id) {
                param.id = self.form.id;
                await self.updateLimitInvoid(param);
                self.getPointList();
                self.dialogSaveVisible = false;
                self.isDisable = false;
                return;
            }
            await self.createLimitInvoid(param);
            self.getPointList();
            self.dialogSaveVisible = false;
            self.isDisable = false;
        },
        async handleDelete() {
            let self = this;
            self.isDisable = true;
            if(!self.form.id) {
                notify('Xóa cấu hình hạn mức phòng vé thành công!');
                this.dialogConfirmDelete = false;
                self.isDisable = false;
                return;
            }
            let param = {
                id: self.form.id
            }
            await self.deleteLimitInvoid(param);
            self.getPointList();
            this.dialogConfirmDelete = false;
            self.isDisable = false;
        },
        openDeleteDialog(value) {
            this.dialogConfirmDelete = true;
            let self = this;
            self.cleanForm();
            self.form = {
                id: value.limitInvoiceValue.idLimitInvoice,
                name: value.item.name,
                roomId: value.item.id,
                limitInvoice: value.limitInvoiceValue.limit
            }
        },
        openSaveFormDialog(value) {
            let self = this;
            self.cleanForm();
            self.form = {
                id: value.limitInvoiceValue.idLimitInvoice,
                name: value.item.name,
                roomId: value.item.id,
                limitInvoice: value.limitInvoiceValue.limit
            }
            self.dialogSaveVisible = true;
        },
        deleteLimitInvoid: async function (param) {
            return new Promise((resolve, reject) => {
                sendJson({
                    url: urlDBD(API.deleteConfigLimitInvoice),
                    data: param,
                    success: function () {
                        notify("Xóa cấu hình hạn mức phòng vé thành công!");
                        return resolve();
                    },
                    functionError: function (err) {}
                })
            });
        },
        createLimitInvoid: async function (param) {
            return new Promise((resolve, reject) => {
                sendJson({
                    url: urlDBD(API.createConfigLimitInvoice),
                    data: param,
                    success: function () {
                        notify("Thêm hạn mức phòng vé thành công!");
                        return resolve();
                    },
                    functionError: function (err) {}
                })
            })

        },
        updateLimitInvoid: async function (param) {
            return new Promise((resolve, reject) => {
                sendJson({
                    url: urlDBD(API.updateConfigLimitInvoice),
                    data: param,
                    success: function () {
                        notify("Cập nhật hạn mức phòng vé thành công!");
                        return resolve();
                    },
                    functionError: function (err) {}
                })
            });

        },
        getPointList: async function () {
            let self = this;
            let pointPromise = new Promise((resolve) => {
                const paramGetPointList = {
                    page: 0,
                    count: 1000,
                    pointType: 8
                };
                sendJson({
                    url: urlDBD(API.pointList),
                    data: paramGetPointList,
                    success: function (data) {
                        return resolve(data.results.result);
                    },
                    functionError: function (err) {
                        console.log("Error when get Point List!");
                        return resolve([]);
                    }
                });
            });
            let limitInvocePromise = new Promise((resolve) => {
                sendParam({
                    url: urlDBD(API.getConfigLimitInvoiceList),
                    type: 'get',
                    success: function (data) {
                        return resolve(data.results.limitInvoices);
                    },
                    functionError: function (err) {
                        console.log("Error when get Limit Invoice List");
                        return resolve([]);
                    }
                });
            });
            Promise.all([pointPromise, limitInvocePromise]).then((values) => {
                let pointList = values[0];
                let limitInvoice = values[1];
                let limitInvoiceShort = limitInvoice.map(x => {
                    let value = {
                        limitInvoice: x.limitInvoice,
                        id: x.id,
                        roomId: x.room.id
                    };
                    return value;
                })
                let pointLimitInvoidList = {};
                pointList.forEach(item => {
                    pointLimitInvoidList[item.id] = {
                        item,
                        limitInvoiceValue: {
                            limit: 0,
                            idLimitInvoice: null,
                            idRoom: null
                        }
                    }
                });

                limitInvoiceShort.forEach(elemtent => {
                    if (pointLimitInvoidList[elemtent.roomId]) {
                        pointLimitInvoidList[elemtent.roomId].limitInvoiceValue = {
                            limit: elemtent.limitInvoice,
                            idLimitInvoice: elemtent.id,
                            idRoom: elemtent.roomId
                        }
                    }
                })
                this.pointLimitInvoices = pointLimitInvoidList;
            });
        },
        cleanForm: function () {
            let self = this;
            self.form = {
                id: null,
                name: '',
                roomId: null,
                limitInvoice: null
            }
        }
    }
}
</script>

<style scoped>

</style>
