<template>
    <div class="row">
        <div class="col-12 title">
            <span>THÊM MỚI LOẠI ĐỒ</span>
            <button class="btn btn-success btn-sm pull-right" id="btnAddGoods" @click="createGoodsType()">
                <i class="fa fa-plus-circle"></i> LƯU LOẠI ĐỒ
            </button>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="form-group">
                        <label for="goodsTypeName">Tên Loại</label>
                        <input type="text" v-model="goodsTypeName" placeholder="Hộp" class="form-control form-control-sm" id="goodsTypeName">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="form-group">
                        <label for="goodsTypePrice">Giá cơ bản</label>
                        <input type="text" v-model="goodsTypePrice" placeholder="50000" class="form-control form-control-sm" id="goodsTypePrice">
                    </div>
                </div>
                <!--<div class="col-6 col-md-3">-->
                    <!--<div class="form-group">-->
                        <!--<label class="w-100 d-none d-sm-block">&nbsp;</label>-->
                        <!--<input type="checkbox" value="true" v-model="useTablePrice" id="useTablePrice">-->
                        <!--<label for="useTablePrice">Áp dụng bảng giá</label>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!--<div class="col-12" v-show="points.length>0">-->
            <!--<label for="">Bảng Giá ( chỉ hoạt động khi chọn Áp dụng bảng giá )</label>-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-striped table-bordered table-sm text-center">-->
                    <!--<tr>-->
                        <!--<td style="min-width:100px;"></td>-->
                        <!--<template v-for="(p,k) in points">-->
                            <!--<td style="min-width:100px;" :key="p.pointId">{{ p.pointName|cutString(25) }}</td>-->
                        <!--</template>-->
                    <!--</tr>-->
                    <!--<template v-for="(p,k) in points">-->
                        <!--<tr>-->
                            <!--<td>{{ p.pointName|cutString(25) }}</td>-->
                            <!--<template v-for="(point,key) in points">-->
                                <!--<td :class="{'bg-e':key<=k}" data-toggle="tooltip" data-placement="top" :title="p.pointName + ' - ' + point.pointName">-->
                                    <!--<input type="hidden" v-model="tablePrice[k*points.length+key]" v-if="key<=k">-->
                                    <!--<input type="text" class="form-control text-right" v-model="tablePrice[k*points.length+key]" v-if="key>k">-->
                                <!--</td>-->
                            <!--</template>-->
                        <!--</tr>-->
                    <!--</template>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-12" v-if="points.length<=0">-->
            <!--<div class="alert alert-warning">-->
                <!--Chưa có điểm gửi đồ. Vui lòng cập nhật điểm trước khi tạo bảng giá.-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-12 text-right">
            <router-link class="btn btn-danger" :to="{name : 'GoodsType'}"> <i class="fa fa-cancel"></i> HỦY</router-link>
            <button class="btn btn-outline-primary" @click="createGoodsType()"><i class="fa fa-plus-circle"></i> LƯU LOẠI ĐỒ</button>
        </div>
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                points : [],
                goodsTypeName : '',
                goodsTypePrice : 1000,
                useTablePrice : false,
                tablePrice : [],
                pointIdList : [],
            }
        },
        // mounted :function(){
        //     this.getPoints();
        // },
        updated :function () {
            $('[data-toggle=tooltip]').tooltip();
        },
        methods : {
            getPoints : function() {
                let self = this;
                self.load('getPoints');
                sendJson({
                    url : urlDBD(API.pointList),
                    data : {
                        page :0,
                        count:func.count(),
                        isReceivedGoods : true,
                    },
                    success: function (data) {
                        self.points = data.results.result;
                        self.unload('getPoints');
                        self.makeTablePrice();
                    },
                    functionIfError : function (res) {
                        self.unload('getPoints');
                    }
                })
            },
            makeTablePrice:function () {
                let self= this;
                self.load('makeTablePrice');
                let len = self.points.length;
                let val = _.cloneDeep(self.goodsTypePrice);
                let listPointId = [];
                $.each(self.points,function (k,v) {
                    $.each(self.points,function (key,value) {
                        if(key<=k){
                            self.tablePrice[k*len+key] = 0;
                        }else{
                            self.tablePrice[k*len+key] = (val||0);
                        }
                    });
                    listPointId.push(v.pointId);
                });
                self.pointIdList = listPointId;
                self.unload('makeTablePrice');
            },
            createGoodsType :function () {
                let self = this;
                let params = {
                    goodsTypeName : self.goodsTypeName,
                    goodsTypePrice : self.goodsTypePrice,
                    usePriceTable : self.useTablePrice,
                    pointIdList : self.pointIdList,
                    priceList : self.tablePrice
                };
                self.load('createGoodsType');
                sendJson({
                    url : urlDBD(API.goodsTypeCreate),
                    data : params,
                    success : function (res) {
                        notify("Lưu thành công",'success');
                        self.$router.push('goods-type');
                        self.unload('createGoodsType');
                    },
                    functionIfError :function () {
                        self.unload('createGoodsType');
                    }
                });
            }
        }
    }
</script>