<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <span>DANH SÁCH LOẠI HÀNG</span>
            <button class="btn btn-success btn-sm float-right" @click="openModalGoodsType()"> <i class="fa fa-plus-circle"></i> THÊM LOẠI MỚI</button>
        </div>
        <div class="col-12 top10">
            <div class="content-row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center table-sm">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Loại</th>
                            <th>Giá Cơ Bản</th>
                            <th>Tùy Chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="listGoodsType.list.length<=0">
                            <td colspan="5">Không có dữ liệu</td>
                        </tr>
                        <template v-for="(gt,index) in listGoodsType.list">
                            <tr :key="index">
                                <td> {{ (index+1) + listGoodsType.count * listGoodsType.page }}</td>
                                <td> {{ gt.name }} </td>
                                <td> {{ gt.price|number }} </td>
                                <td>
                                    <button class="btn btn-sm btn-primary" @click="openModalGoodsType(gt)"><i class="fa fa-edit"></i> Sửa</button>
                                    <button class="btn btn-sm btn-danger" @click="gt.remove(function() {listGoodsType.getList()})"><i class="fa fa-trash"></i> Xóa</button>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div  class="col-12 top10">
            <button class="btn btn-sm btn-outline-dark float-left" v-if="listGoodsType.page != 0" @click="listGoodsType.page -= 1; listGoodsType.getList()">
                <i class="fas fa-arrow-left"></i> Trang {{ listGoodsType.page }}
            </button>
            <button class="btn btn-sm btn-outline-dark float-right" v-if="listGoodsType.list.length > 0 && listGoodsType.list.length >= listGoodsType.count" @click="listGoodsType.page += 1; listGoodsType.getList()">
                Trang {{ listGoodsType.page + 2 }} <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        
        <div class="modal fade bd-example-modal-sm" id="modalGoodsType" tabindex="-1" role="dialog" aria-labelledby="modalManageTrip" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{goodsType.id?'Sửa loại hàng':'Tạo loại hàng'}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top:0;padding-bottom:0">
                        <div class="form-group">
                            <label for="goodsTypeName">Tên loại hàng</label>
                            <input type="text" class="form-control" id="goodsTypeName" v-model="goodsType.name">
                        </div>
                        <div class="form-group">
                            <label for="goodsTypePrice">Giá</label>
                            <input-number class="form-control" id="goodsTypePrice" v-model="goodsType.price"></input-number>
                        </div>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="save()"><i class="fa fa-save"></i> {{goodsType.id?$t('button.edit'):$t('button.add')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {GoodsType, ListGoodsType} from "../../class/goods";

    export default {
        data : function () {
            return {
                listGoodsType : new ListGoodsType(),
                goodsType : new GoodsType(),
            }
        },
        created :function () {
            let self = this;
            self.listGoodsType.getList();
        },
        methods : {
            openModalGoodsType: function (goodsType) {
                this.goodsType = goodsType?_.cloneDeep(goodsType) : new GoodsType();
                $(this.$el).find('#modalGoodsType').modal('show');
            },
            save : function () {
                let self = this;
                this.goodsType.save(function(){
                    self.listGoodsType.getList();
                    $(self.$el).find('#modalGoodsType').modal('hide');
                })
            }
        }

    }
</script>