<template>
    <el-select :size="size" :value="value" :clearable="clearable" @input="$emit('input',$event)" filterable :placeholder="value&&value.name?value.name:placeholder" value-key="id">
        <el-option
                v-for="item in options"
                :key="item.id"
                :label="item.name"
                :value="item">
        </el-option>
    </el-select>
</template>
<script>
    import { ListGoodsType } from '../../class/goods'
    export default {
        props : {
            size : {
                type : String
            },
            placeholder : {
                type : String,
                default : 'Lựa chọn'
            },
            value : {
                default : null,
            },
            clearable : {
                default : true,
            }
        },
        data :function () {
            return {
                options : [],
                loading : false,
                page: 0,
            }
        },
        mounted : function(){
            this.search();
        },
        methods :  {
            search : function () {
                let self = this;

                self.loading=true;

                let dataSend = {
                    page : self.page,
                    count: 600,
                    companyId : userInfo.userInfo.companyId,
                    getPriceTable:true
                };
                sendJson({
                    url : urlDBD(API.goodsTypeList),
                    data : dataSend,
                    success: function (data) {
                        let o = new ListGoodsType();
                            o.setList(data.results.list)
                            self.options = o.list;
                            self.loading=false;
                    },

                    functionIfError : function (res) {
                        self.loading=false;
                    }
                });
            },
            open : function () {
                if(this.options.length<=0){
                    this.search();
                }
            },
            clearAll : function () {
                this.input(null);
            },
            input : function (value) {
                this.$emit('input',value);
            }
        },
    }
</script>