<template>
    <div class="row">
        <div class="col-12">
            <div class="title">
                CẬP NHẬT LOẠI ĐỒ
                <span class="pull-right">
                    <button class="btn btn-success btn-sm" id="btnAddGoods" @click="createGoodsType()">
                        <i class="fa fa-plus-circle"></i> LƯU THÀNH LOẠI MỚI
                    </button>
                    <button class="btn btn-primary btn-sm" @click="updateGoodsType()"><i class="fa fa-edit"></i> CẬP NHẬT</button>
                </span>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="form-group">
                        <label for="goodsTypeName">Tên Loại</label>
                        <input type="text" v-model="goodsTypeName" placeholder="Hộp" class="form-control form-control-sm" id="goodsTypeName">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="form-group">
                        <label for="goodsTypePrice">Giá cơ bản</label>
                        <input type="text" v-model="goodsTypePrice" placeholder="50000" class="form-control form-control-sm" id="goodsTypePrice">
                    </div>
                </div>
                <!--<div class="col-6 col-md-3">-->
                    <!--<div class="form-group">-->
                        <!--<label class="w-100 d-none d-sm-block">&nbsp;</label>-->
                        <!--<input type="checkbox" value="true" v-model="useTablePrice" id="useTablePrice">-->
                        <!--<label for="useTablePrice">Áp dụng bảng giá</label>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!--<div class="col-12" v-show="points.length>0">-->
            <!--<label for="">Bảng Giá ( chỉ hoạt động khi chọn Áp dụng bảng giá )</label>-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-striped table-bordered table-sm text-center">-->
                    <!--<tr>-->
                        <!--<td style="min-width:100px;"></td>-->
                        <!--<template v-for="(p,k) in points">-->
                            <!--<td style="min-width:100px;" :key="p.pointId">{{ p.pointName|cutString(25) }}</td>-->
                        <!--</template>-->
                    <!--</tr>-->
                    <!--<template v-for="(p,k) in points">-->
                        <!--<tr>-->
                            <!--<td>{{ p.pointName|cutString(25) }}</td>-->
                            <!--<template v-for="(point,key) in points">-->
                                <!--<td :class="{'bg-e':key<=k}" data-toggle="tooltip" data-placement="top" :title="p.pointName + ' - ' + point.pointName">-->
                                    <!--<input type="hidden" v-model="tablePrice[k*points.length+key]" v-if="key<=k">-->
                                    <!--<input type="text" class="form-control text-right" v-model="tablePrice[k*points.length+key]" v-if="key>k">-->
                                <!--</td>-->
                            <!--</template>-->
                        <!--</tr>-->
                    <!--</template>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-12" v-if="points.length<=0">-->
            <!--<div class="alert alert-warning">-->
                <!--Chưa có điểm gửi đồ. Vui lòng cập nhật điểm trước khi tạo bảng giá.-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-12 text-right">
            <router-link class="btn btn-outline-danger" :to="{name : 'GoodsType'}"><i class="fa fa-list"></i> DANH SÁCH LOẠI ĐỒ</router-link>
            <button class="btn btn-success" @click="createGoodsType()"><i class="fa fa-plus-circle"></i> LƯU THÀNH LOẠI MỚI</button>
            <button class="btn btn-primary" @click="updateGoodsType()"><i class="fa fa-edit"></i> CẬP NHẬT</button>
        </div>
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                points : [],
                goodsTypeName : '',
                goodsTypePrice : 1000,
                useTablePrice : false,
                tablePrice : [],
                pointIdList : [],
                goodsType : {},
            }
        },
        created :function(){
            // this.getPoints();
            if(this.$route.params.goodsType===undefined){
                this.getGoodsTypeDetail();
            }else{
                this.goodsType = this.$route.params.goodsType;
            }
        },
        updated :function () {
            $('[data-toggle=tooltip]').tooltip();
        },
        methods : {
            getPoints : function() {
                let self = this;
                self.load('getPoints');
                sendJson({
                    url : urlDBD(API.pointList),
                    data : {
                        page :0,
                        count:func.count(),
                        isReceivedGoods : true,
                    },
                    success: function (data) {
                        self.points = data.results.result;
                        self.unload('getPoints');
                        self.makeTablePrice();
                    },
                    functionIfError : function (res) {
                        self.unload('getPoints');
                    }
                })
            },
            getGoodsTypeDetail: function () {
                let self = this;
                self.load('getGoodsTypes');
                sendJson({
                    url : urlDBD(API.goodsTypeList),
                    data : {
                        page : 0,
                        count : func.count(),
                        goodsTypeId : self.$route.params.goodsTypeId,
                        getpriceTable :true
                    },
                    success : function(res){
                        self.goodsType = res.results.list[0];
                        self.unload('getGoodsTypes');
                    },
                    functionIfError : function(res){
                        self.unload('getGoodsTypes');
                    }
                })
            },
            makeTablePrice:function () {
                let self= this;
                let len = self.points.length;
                let val = _.cloneDeep(self.goodsTypePrice);
                let listPointId = [];
                self.load('makeTablePrice');
                $.each(self.points,function (k,v) {
                    $.each(self.points,function (key,value) {
                        if(key<=k){
                            self.tablePrice[k*len+key] = 0;
                        }else{
                            self.tablePrice[k*len+key] = (val||0);
                        }
                    });
                    listPointId.push(v.pointId);
                });
                self.pointIdList = listPointId;
                self.setGoodsType();
                self.unload('makeTablePrice');
            },
            setGoodsType : function () {
                let self= this;
                let len = self.points.length;
                let gt = _.cloneDeep(self.goodsType);
                self.goodsTypeName = gt.goodsTypeName||'';
                self.goodsTypePrice = gt.goodsTypePrice||1000;
                // self.useTablePrice = gt.usepriceTable||false;
                // if(gt.priceTable!==undefined){
                //     let lenOld = gt.priceTable.pointIdList.length;//dộ dài của listPoint Cũ
                //     $.each(self.points,function (ps,pointStart) {
                //         $.each(self.points,function (pe,pointEnd) {
                //             let startIndex= -1;
                //             let endIndex=-1;
                //             $.each(gt.priceTable.pointIdList,function (index,value) {
                //                 if(value===pointStart.pointId){
                //                     startIndex=index;
                //                     return;
                //                 }
                //                 if(value===pointEnd.pointId){
                //                     endIndex=index;
                //                     return;
                //                 }
                //                 if(startIndex!==-1&&endIndex!==-1){
                //                     return false;
                //                 }
                //             });
                //             if(startIndex!==-1&&endIndex!==-1){
                //                 self.tablePrice[ps*len+pe]=gt.priceTable.priceList[startIndex*lenOld+endIndex];
                //             }
                //         });
                //     })
                // }
            },
            createGoodsType :function () {
                let self = this;
                let params = {
                    goodsTypeName : self.goodsTypeName,
                    goodsTypePrice : self.goodsTypePrice,
                    usePriceTable : self.useTablePrice,
                    pointIdList : self.pointIdList,
                    priceList : self.tablePrice
                };
                self.load('createGoodsType');
                sendJson({
                    url : urlDBD(API.goodsTypeCreate),
                    data : params,
                    success : function (res) {
                        notify("Lưu thành công",'success');
                        self.$router.push('goods-type');
                        self.unload('createGoodsType');
                    },
                    functionIfError :function () {
                        self.unload('createGoodsType');
                    }
                });
            },
            updateGoodsType : function () {
                let self = this;
                let params = {
                    goodsTypeId : self.goodsType.goodsTypeId,
                    goodsTypeName : self.goodsTypeName,
                    goodsTypePrice : self.goodsTypePrice,
                    usePriceTable : self.useTablePrice,
                    pointIdList : self.pointIdList,
                    priceList : self.tablePrice
                };
                self.load('updateGoodsType');
                sendJson({
                    url : urlDBD(API.goodsTypeUpdate),
                    data : params,
                    success : function (res) {
                        notify("Lưu thành công",'success');
                        self.$router.push('goods-type');
                        self.unload('updateGoodsType');
                    },
                    functionIfError :function () {
                        self.unload('updateGoodsType');
                    }
                });
            }
        },
        watch : {
            goodsType : function (newVal,oldVal) {
                this.setGoodsType();
            }
        }
    }
</script>