<template>
    <div>
        <el-table :data="dataTable">
            <el-table-column prop="name" fixed width="200px">
                <template slot="header" slot-scope="scope">
                    <div class="header-cross">
                        <p class="text-right">Ngày Tháng</p>
                        <span></span>
                        <p class="text-left">Nhân Viên</p>
                    </div>
                </template>
            </el-table-column>
            <el-table-column v-for="(field,key) in headerTable" :fixed="field.fixed" :key="key" :prop="field.prop"
                             :label="field.label" :width="field.width">
                <template slot-scope="scope">
                    <span class="workShift-item" v-for="(workShift, wid) in dataTable[scope.$index][field.prop]"
                          :key="wid">{{ workShift.workShiftInfo.name }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="total" width="97px">
                <template slot="header" slot-scope="scope">
                    <span class="total-time">Tổng</span>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    export default {
        props: ["data", "month", "year", "staffSelected"],
        data() {
            return {}
        },
        computed: {
            dataTable() {
                return this.convertListScheduleToDataTable()
            },
            headerTable() {
                return this.createHeaderDataTable();
            }

        },
        mounted() {
        },
        methods: {
            convertListScheduleToDataTable() {
                let data = this.data;

                if (this.staffSelected != null) {
                    data = data.filter((item) => {
                        return item.staff.id == this.staffSelected.id
                    })
                }

                let res = {};

                //Lấy ngày của tháng filter dưới dạng mảng
                //[1,2,3,4,5,...]
                let dateAsArray = this.getDateOfMonth();
                let dataTable = [];
                let dateAsJson = {};

                //Ngày tháng dưới dạng mảng chuyển về dạng json
                //{date_1: [], date_2: [], ...}
                dateAsArray.forEach(value => {
                    dateAsJson['date_' + value] = [];
                })

                //Từ dữ liệu trả về từ server chuyển lấy ngày từ ngày tháng năm vào gán thành 1 trường cho tiện xử lý sau này.
                data.forEach(value => {
                    let dateString = this.$options.filters.strToDate(value['date']);
                    let dateArray = dateString.split("-");
                    let day = dateArray[0];

                    if (day[0] == 0) day = Number(day[1])
                    else day = Number(day);

                    value['day'] = day;

                })

                //1. gom dữ liệu theo nhân viên  {id_nhan_vien: {item1, item2,...}}
                data.forEach((value, key) => {
                    if (!res[value.staff.id]) {
                        res[value.staff.id] = {};
                        //2. tạo format dữ liệu trả về thích hợp cho bảng
                        //{name: nva, date_1, date2, ..., total: 0}
                        dataTable.push({name: value.staff.fullName, staff: value.staff, ...dateAsJson, total: 0});
                    }
                    res[value.staff.id][key] = value;
                })

                //gom nhóm các ca trong 1 ngày theo nhân viên
                //id_nhan_vien: { date_1: [], date_2: [] }
                $.each(res, function (key, value) {
                    $.each(value, function (k, val) {
                        if (!res[key]["date_" + val['day']]) res[key]["date_" + val['day']] = [];
                        res[key]["date_" + val['day']].push(val);
                    })
                })

                //ghép dữ liệu vào dữ liệu dạng bảng và tính tổng các ca.
                dataTable.forEach(value => {
                    if (res[value.staff.id]) {
                        $.each(res[value.staff.id], function (k, val) {
                            if (value[k]) {
                                value[k] = val;
                                value['total'] += val.length;
                            }
                        })
                    }
                })

                return dataTable;
            },

            createHeaderDataTable() {

                let dateAsArray = this.getDateOfMonth();

                let dateFileds = dateAsArray.map((item) => {
                    return {
                        prop: "date_" + item,
                        label: `${item}`,
                        width: 97,
                        fixed: false,
                    }
                });

                return dateFileds;
            },

            getDateOfMonth() {
                if (this.month == 2) {
                    if (this.year % 4 == 0)
                        return [...Array(29).keys()].map(item => item + 1);
                    return [...Array(28).keys()].map(item => item + 1);
                }

                const month30Day = [4, 6, 9, 11];

                if (month30Day.includes(this.month)) return [...Array(30).keys()].map(item => item + 1)


                return [...Array(31).keys()].map(item => item + 1)
            },
        }
    }
</script>

<style>

</style>