<template>
    <div>
        <el-table :data="dataTable">
            <el-table-column prop="date_string" width="200px">
                <template slot="header" slot-scope="scope">
                    <div class="header-cross">
                        <p class="text-right">Ca làm việc</p>
                        <span></span>
                        <p class="text-left">Ngày tháng</p>
                    </div>
                </template>
            </el-table-column>
            <el-table-column v-for="(field,key) in headerTable" :fixed="field.fixed" :key="key" :prop="field.prop"
                             :label="field.label" :width="field.width">
                <template slot-scope="scope">
                    <div class="staff-item"
                         :class="{ 'selected': staffSelected != null && staffSelected.id == schedule.staff.id }"
                         v-for="(schedule, index) in dataTable[scope.$index][field.prop]"
                         :key="index">
                        {{ schedule.staff.fullName }}
                        <span class="staff-item__remove"
                              @click="$emit('removeScheduleOfStaff', schedule)"
                              v-if="staffSelected != null && staffSelected.id == schedule.staff.id">
                        <i v-if="sosRemoving && sosRemoving.id == schedule.id" class="fas fa-spinner fa-spin"></i>
                        <i v-else class="fas fa-times"></i>
                    </span>
                    </div>
                    <a href="javascript:;"
                       :title=" 'Thêm nhân viên' + staffSelected.fullName + ' vào ca này' "
                       v-if="staffSelected != null"
                       class="staff-item__create"
                       @click="$emit('createScheduleOfStaff',{ 'workShiftId':field.prop, 'date':dataTable[scope.$index]['date']  })">
                        <i class="fas fa-plus"
                           :class="{'fa-spin': field.prop == sosCreating.workShiftId && sosCreating.date == dataTable[scope.$index]['date']}">
                        </i>
                    </a>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    export default {
        props: ["data", "month", "year", "staffSelected", "sosRemoving", "sosCreating", "department"],
        data() {
            return {
                listWorkShift: []
            }
        },
        computed: {
            dataTable() {
                return this.convertListScheduleToDataTable()
            },
            headerTable() {
                return this.createHeaderDataTable();
            }

        },
        mounted() {
            this.getWorkShifts();
        },
        methods: {
            convertListScheduleToDataTable() {

                let data = this.data;
                let res = {};
                let dataTable = [];
                let listWorkShift = {};
                let listDateString = this.createTemplateDataTable();

                data.forEach(value => {
                    if (!listWorkShift[value.workShiftInfo.id]) listWorkShift[value.workShiftInfo.id] = [];

                })

                data.forEach(value => {
                    let dateString = this.$options.filters.strToDate(value['date']);
                    let dateArray = dateString.split("-");
                    let day = dateArray[0];

                    if (day[0] == 0) day = Number(day[1])
                    else day = Number(day);

                    value['day'] = day;
                })

                data.forEach((value, key) => {
                    if (!res[value.date]) {
                        res[value.date] = {};
                        dataTable.push({date: value.date, ...listWorkShift});
                    }
                    res[value.date][key] = value;
                })


                $.each(res, function (key, value) {
                    $.each(value, function (k, val) {
                        if (!res[key][val.workShiftInfo.id]) res[key][val.workShiftInfo.id] = [];
                        res[key][val.workShiftInfo.id].push(val);
                    })
                })

                dataTable.forEach(value => {
                    if (res[value.date]) {
                        $.each(res[value.date], function (k, val) {
                            if (value[k]) {
                                value[k] = val;
                            }
                        })
                    }
                })

                dataTable.forEach(value => {
                    value['date_string'] = this.$options.filters.strToDate(value['date']);
                    listDateString[value['date']] = value;
                })

                dataTable = []; //reset
                $.each(listDateString, function (index, value) {
                    dataTable.push(value)
                })
                return dataTable;
            },

            getWorkShifts() {
                let self = this;

                sendParam({
                    url: urlDBD(API.workShiftGet),
                    data: {department: self.department},
                    method: "GET",
                    success: function (res) {
                        self.listWorkShift = res.results.rs;
                    },
                    functionIfError: function () {

                    }
                })
            },

            createHeaderDataTable() {
                let header = [];
                $.each(this.listWorkShift, function (key, value) {
                    header.push({
                        prop: value.id,
                        label: value.name,
                        width: 120,
                        fixed: false,
                    })
                })

                return header;
            },

            createTemplateDataTable() {
                let dateArray = this.getDateOfMonth();
                let dateAsJson = {}

                dateArray.forEach((item) => {
                    let date = new Date(this.year, this.month - 1, item).customFormat("#YYYY##MM##DD#");
                    dateAsJson[date] = {date, date_string: this.$options.filters.strToDate(date)};
                })

                return dateAsJson;
            },

            getDateOfMonth() {
                if (this.month == 2) {
                    if (this.year % 4 == 0)
                        return [...Array(29).keys()].map(item => item + 1);
                    return [...Array(28).keys()].map(item => item + 1);
                }

                const month30Day = [4, 6, 9, 11];

                if (month30Day.includes(this.month)) return [...Array(30).keys()].map(item => item + 1)


                return [...Array(31).keys()].map(item => item + 1)
            },
        },
        watch: {
            department: function () {
                this.getWorkShifts();
            },
        }
    }
</script>

<style>

</style>