<template>
    <div class="workTime">
        <div class="workTime-head">
            <h3>Quản lý thời gian làm việc của nhân viên </h3>
        </div>
        <div class="workTime-filter">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label for>Bộ phận</label>
                        <select class="form-control" @change="getListScheduleOfStaff(true)" v-model="filter.department">
                            <option v-for="(department, index) in departments" :key="index" :value="department.value">{{
                                department.label }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label for>Tháng</label><br>
                        <!--<select class="form-control" @change="getListScheduleOfStaff(true)" v-model="filter.month">-->
                            <!--<option value>Chọn tháng</option>-->
                            <!--<option :value="month" v-for="(month) in 12" :key="month">{{ month }}</option>-->
                        <!--</select>-->
                        <el-date-picker
                                class="w-100"
                                @change="getListScheduleOfStaff(true)"
                                v-model="filter.month"
                                type="month"
                                format="MM"
                                :picker-options="options"
                                value-format="MM"
                                placeholder="Chọn tháng">
                        </el-date-picker>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label for>Năm</label><br>
                        <!--<select class="form-control" @change="getListScheduleOfStaff(true)" v-model="filter.year">-->
                            <!--<option :value="year" :key="year" v-for="year in listYear">{{ year }}</option>-->
                        <!--</select>-->
                        <el-date-picker
                                class="w-100"
                                @change="getListScheduleOfStaff(true)"
                                v-model="filter.year"
                                type="year"
                                :picker-options="options"
                                format="yyyy"
                                value-format="yyyy"
                                placeholder="Chọn năm">
                        </el-date-picker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label>Nhân viên</label>
                        <SelectUser v-model="staffSelected" @change="getListScheduleOfStaff(true)"
                                    :userType="[2,3,4,5,6,7]"></SelectUser>
                    </div>
                </div>
            </div>
        </div>
        <div class="workTime-content">
            <div class="workTime-content__viewmod">
                <span>Hiển thị bảng: </span>
                <a href="javascript:;" @click="turnOnView1 = false" :class="{active: turnOnView1 == false}">Theo Ngày
                    tháng</a>
                <a href="javascript:;" @click="turnOnView1 = true" :class="{active: turnOnView1 == true}">Theo nhân
                    viên</a>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div v-show="turnOnView1" class="workTime-style1">
                        <ListWorkTimeView1
                                :data="listScheduleOfStaff"
                                :month="parseInt(filter.month)"
                                :year="parseInt(filter.year)"
                                :staffSelected="staffSelected"></ListWorkTimeView1>
                    </div>
                    <div v-show="!turnOnView1" class="workTime-style2">
                        <ListWorkTimeView2
                                :sosRemoving="sosRemoving"
                                :sosCreating="sosCreating"
                                @removeScheduleOfStaff="removeScheduleOfStaff"
                                @createScheduleOfStaff="createScheduleOfStaff"
                                :staffSelected="staffSelected"
                                :data="listScheduleOfStaff"
                                :department="filter.department"
                                :month="parseInt(filter.month)"
                                :year="parseInt(filter.year)">
                        </ListWorkTimeView2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {RegionDepartment} from "../../class/region";
    import ListWorkTimeView1 from "../ScheduleOfStaff/ListWorkTimeView1.vue";
    import ListWorkTimeView2 from "../ScheduleOfStaff/ListWorkTimeView2.vue";
    import SelectUser from '../User/SelectUser.vue';
    import { mapState} from 'vuex';


    export default {
        components: {ListWorkTimeView1, ListWorkTimeView2, SelectUser},
        data() {
            return {
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                turnOnView1: true,
                departments: RegionDepartment.properties(),
                listScheduleOfStaff: [],
                staffSelected: null,
                sosRemoving: false,
                sosCreating: false,
                loadingCreate: false,
                listYear: [],
                filter: {
                    department: 0,
                    month: (new Date().getMonth() + 1).toString(),
                    year: (new Date().getFullYear()).toString(),
                }
            };
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        mounted() {
            this.getListScheduleOfStaff(true)
            this.initDragScrolling();

            this.listYear = [
                new Date().getFullYear() - 1,
                new Date().getFullYear(),
                new Date().getFullYear() + 1,
                new Date().getFullYear() + 2,
            ]
        },
        methods: {
            initDragScrolling() {
                const sliders = document.querySelectorAll('.workTime-content .el-table__body-wrapper');
                let isDown = false;
                let startX;
                let scrollLeft;

                sliders.forEach((slider) => {
                    slider.addEventListener('mousedown', (e) => {
                        isDown = true;
                        slider.classList.add('active');
                        startX = e.pageX - slider.offsetLeft;
                        scrollLeft = slider.scrollLeft;
                    });
                    slider.addEventListener('mouseleave', () => {
                        isDown = false;
                        slider.classList.remove('active');
                    });
                    slider.addEventListener('mouseup', () => {
                        isDown = false;
                        slider.classList.remove('active');
                    });
                    slider.addEventListener('mousemove', (e) => {
                        if (!isDown) return;
                        e.preventDefault();
                        slider.classList.add('active');
                        const x = e.pageX - slider.offsetLeft;
                        const walk = (x - startX) * 3; //scroll-fast
                        slider.scrollLeft = scrollLeft - walk;
                    });
                })

            },

            getListScheduleOfStaff(allowLoading = false) {
                let self = this;

                if (allowLoading) self.load('getList');

                let params = {
                    month: parseInt(this.filter.month),
                    year: parseInt(this.filter.year),
                    department: this.filter.department,
                }
                sendJson({
                    url: urlDBD(API.scheduleOfStaffGet),
                    data: params,
                    method: "POST",
                    success: function (res) {

                        self.listScheduleOfStaff = res["results"]["scheduleOfStaffs"];

                        if (allowLoading) self.unload('getList');
                    },
                    functionIfError: function () {
                        if (allowLoading) self.unload('getList');
                    }
                })
            },

            removeScheduleOfStaff(event) {
                let sos = event;
                let self = this;

                this.sosRemoving = event;
                sendJson({
                    url: urlDBD(API.scheduleOfStaffDelete),
                    data: {id: sos.id},
                    method: "POST",
                    success: function (res) {

                        self.sosRemoving = false;
                        self.getListScheduleOfStaff();
                    },
                    functionIfError: function () {
                        self.sosRemoving = false;
                    }
                })
            },

            createScheduleOfStaff(event) {
                let self = this;
                let schedule = event;

                let params = {
                    "workShiftInfo": {
                        "id": schedule.workShiftId
                    },
                    "staff": {
                        "id": this.staffSelected.id
                    },
                    "date": schedule.date
                };
                this.sosCreating = {date: schedule.date, workShiftId: schedule.workShiftId}
                sendJson({
                    url: urlDBD(API.scheduleOfStaffCreate),
                    data: params,
                    method: "POST",
                    success: function (res) {
                        self.getListScheduleOfStaff();
                        self.sosCreating = false
                    },
                    functionIfError: function () {
                        self.sosCreating = false
                    }
                })
            }
        },
    }
</script>

<style>
    .q-telecom {
        z-index: 99;
    }

    .dropdown-q-content {
        z-index: 9;
    }

</style>