<template>
    <div class="row agency" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col">
                    Danh sách đại lý
                </div>
                <div class="col-auto">
                    <button class="btn btn-success btn-sm" @click="openModalAddAgency()" v-if="$root.roles.EMPLOYEE_CREATE"><i class="fa fa-plus-circle"></i> Thêm đại lý</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8 col-md-3 form-group">
                    <label class="font-weight-normal">Tên đại lý</label>
                    <input type="text" class="form-control" v-model="fullName">
                </div>
                <div class="col-4 col-md-3">
                    <label class="font-weight-normal">&nbsp;</label>
                    <button class="btn btn-primary btn-block" @click="getAgency()">TÌM HỒ SƠ</button>
                </div>
            </div>
        </div>
        <div class="col-12 top10" v-if="agencies">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th width="50" class="text-center">STT</th>
                        <th>Tên đại lý</th>
                        <th>Số điện thoại</th>
                        <th class="text-right">Hạn mức</th>
                        <th class="text-right">Công nợ</th>
                        <th>Nhóm quyền</th>
                        <th class="text-right">Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(agency,u) in agencies">
                        <tr>
                            <td class="text-center tableexport-string">{{u+1}}</td>
                            <td class="tableexport-string">{{agency.fullName}}</td>
                            <td class="tableexport-string">0{{agency.phoneNumber|phoneNumber}}</td>
                            <td class="text-right tableexport-string">{{(infoAgencyInCompany(agency)?infoAgencyInCompany(agency).debtLimit:0)|number}}</td>
                            <td class="text-right tableexport-string">{{(infoAgencyInCompany(agency)?infoAgencyInCompany(agency).currentDebt:0)|number}}</td>
                            <td class="tableexport-string">
                                <div v-if="agency.roles">
                                    <template v-for="(role,r) in agency.roles">
                                        <span class="badge badge-success">{{ role.name }}</span>&nbsp;
                                    </template>
                                </div>
                            </td>
                            <td class="text-right tableexport-string">
                                <button class="btn btn-sm btn-warning" v-if="$root.roles.EMPLOYEE_UPDATE" :title="$t('lock-account')" @click="lockUser(agency.id)"><i class="fa" :class="[agency.userStatus==2?'fa-unlock':'fa-lock']" data-toogle="tooltip"></i></button>
                                <button class="btn btn-sm btn-light" v-if="$root.isAdmin()"
                                        title="đặt về mật khẩu mặc định: 1234567" @click="refreshPassword(agency)"><i
                                        class="fas fa-sync-alt"></i></button>
                                <button class="btn btn-sm btn-primary" title="Cập nhật đại lý" @click="openModalUpdateAgency(agency)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-danger" title="Xóa đại lý" @click="deleteAgency(agency.id)" v-if="$root.roles.EMPLOYEE_DELETE"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-sm" @click="exportExcel()">Xuất Excel</button>
                    <button :disabled="!loadMore" class="btn btn-success btn-sm" @click="getAgency('plus')">Tải thêm</button>

                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg agency" id="modalAddAgency" tabindex="-1" role="dialog" aria-labelledby="modalAddUser" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">THÊM ĐẠI LÝ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <add-agency ref="AddAgencyComponent" @event="eventAddAgency"></add-agency>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddAgencyComponent.save()"><i class="fa fa-save"></i> Lưu</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg agency" id="modalUpdateAgency" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">CẬP NHẬT ĐẠI LÝ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <update-agency ref="UpdateAgencyComponent" @event="eventUpdateAgency"></update-agency>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateAgencyComponent.save()"><i class="fa fa-save"></i> Lưu</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddAgency from './AddAgency';
    import UpdateAgency from './UpdateAgency';

    export default {
        components : {AddAgency, UpdateAgency},
        data : function () {
            return {
                fullName : '',
                agencies : null,
                page : 0,
                loadMore : true,
                count : 100,
            }
        },
        mounted: function(){
            this.getAgency();
        },
        methods : {
            getAgency : function (typePage) {
                let self = this;
                if(typePage){
                    switch (typePage) {
                        case 'plus' :
                            self.page++;
                            break;
                        case 'minus' :
                            if(self.page>0){
                                self.page--;
                            }
                            break;
                        default :
                            break;
                    }
                }else{
                    self.page=0;
                }
                self.load('getAgency');
                let dataReq = {
                    page : self.page,
                    count : self.count,
                    fullName : self.fullName,
                    agencyCompanyId : userInfo.userInfo.companyId
                };
                self.loadMore = false;
                sendJson({
                    url : urlDBD(API.userListJson),
                    data : dataReq,
                    success : function (data) {
                        if(self.page>0){
                            self.agencies = self.agencies.concat(data.results.result);
                        }else{
                            self.agencies = data.results.result;
                        }
                        self.loadMore = data.results.result.length < self.count ? false : true;
                        self.unload('getAgency');
                    },
                    functionIfError : function (data) {
                        console.log(data);
                        self.unload('getAgency');
                    }
                });
            },
            openModalAddAgency : function () {
                this.$refs.AddAgencyComponent.refresh();
                $(this.$el).find('#modalAddAgency').modal('show');
            },
            openModalUpdateAgency : function (agency) {
                this.$refs.UpdateAgencyComponent.refresh(agency);
                $(this.$el).find('#modalUpdateAgency').modal('show');
            },
            infoAgencyInCompany : function(agency){
                let info = null;
                if(agency.listAgency){
                    $.each(agency.listAgency,function (a,age) {
                        if(age.companyId === userInfo.userInfo.companyId){
                            info = age;
                        }
                    })
                }
                return info;
            },
            lockUser : function(id){
                let self = this;
                self.load('lockUser');
                sendJson({
                    url : urlDBD(API.userLock),
                    data : {
                        userId : id
                    },
                    success : function(res){
                        notify(self.$t('notify.execute-success'),'success');
                        self.unload('lockUser');
                        self.getAgency();
                    },
                    functionIfError : function(err){
                        self.unload('lockUser');
                    }
                })
            },
            deleteAgency : function(id){
                let self = this;
                if(!confirm("Bạn có muốn Xóa đại lý này ? ")){
                    return false;
                }
                self.load('deleteAgency');
                sendJson({
                    url : urlDBD(API.userDelete),
                    data : {
                        userId : id
                    },
                    success : function(res){
                        notify('Đã Xóa đại lý','success');
                        self.unload('deleteAgency');
                        self.getAgency('refresh');
                    },
                    functionIfError : function(err){
                        self.unload('deleteAgency');
                    }
                })
            },
            eventAddAgency : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalAddAgency').modal('hide');
                        notify("Cập nhật thành công",'success');
                        self.getAgency('refresh');
                        break;
                    default :
                        break;
                }
            },
            eventUpdateAgency : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdateAgency').modal('hide');
                        notify("Cập nhật thành công",'success');
                        self.getAgency('refresh');
                        break;
                    default :
                        break;
                }
            },
            eventUpdatePermissionForUser : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdatePermissionForUser').modal('hide');
                        self.getAgency('refresh');
                        break;
                    default :
                        break;
                }
            },
            refreshPassword: function (user) {
                if (!confirm("Bạn chắc chắn muốn đặt lại mật khẩu? Mật khẩu mới sẽ là 1234567.")) {
                    return false;
                }
                let self = this;
                self.load('refreshPassword');
                sendJson({
                    url: urlDBD(API.userUpdateInfo),
                    // url : urlDBD(API.userV2StaffCreate),
                    data: {
                        userName: user.userName,
                        userId: user.id,
                        password: '1234567'
                    },
                    success: function (res) {
                        notify("mật khẩu đã đổi thành mặc định 1234567", "success");
                        self.unload('refreshPassword');
                    },
                    functionIfError: function (err) {
                        self.unload('refreshPassword');
                    }
                })
            },
            exportExcel: function() {
                this.excel($(this.$el).find('table'), "Danh_sach_dai_ly");
            }
        }
    }
</script>

<style type="text/css">
    .agency .img form{
        cursor: pointer;
    }
    .agency .img .fa-image{
        font-size: 100px !important;
    }
    .agency .modal-body{
        padding: 25px !important;
    }
    .agency .img img{
        max-width: 100px !important;
    }
    /* .phoneNumber label{
        width: 100%;
    }
    .phoneNumber select{
        width: 20%;
        float: left;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .phoneNumber input{
        width: 80%;
        float: left;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
    }
    .phoneNumber {
        float: left;
        width: 100%;
    } */
</style>
