<template>
    <!--<multiselect @input="input" :multiple="multiple" :allowEmpty="allowEmpty" select-label="" deselect-label="" track-by="id" :options="options" :value="value" label="fullName" placeholder="Nhập tìm kiếm" @search-change="get" @open="get()" :loading="loading">-->
    <!--<template slot="clear" v-if="allowClear">-->
    <!--<div class="multiselect__clear" v-if="value" @click="$emit('input',null)"><i class="fa fa-trash text-danger"></i></div>-->
    <!--</template>-->
    <!--</multiselect>-->
    <el-select :size="size" :disabled="disabled" :value="value" :multiple="multiple" :clearable="clearable"
               @input="$emit('input',$event)" :loading="loading"
               filterable remote :remote-method="get" :placeholder="placeholder"
               value-key="id" @focus="get()" v-on:visible-change="visible=$event">
        <!--<div v-infinite-scroll="this.options.getList(1)" infinite-scroll-delay="200">-->
        <el-option
                v-for="item in options"
                :key="item.id"
                :label="item.fullName"
                :value="item">
        </el-option>
        <!--</div>-->
    </el-select>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            multiple : {
                default : false
            },
            size: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'Lựa chọn'
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
            routeId: {
                default: null
            },
            getInTime: {
                default: null
            },
            scheduleId: {
                default: null
            },
            userStatus : {
                type : Array,
                default : function () {
                    return [1,3,4]
                },
            }
        },
        data : function () {
            return {
                options : null,
                loading : false,
                visible: false
            }
        },
        mounted: function () {
            this.setOptionsByValue(this.value);
        },
        methods : {
            get : function (query) {
                let self = this;
                self.loading = true;
                let params = {
                    page : 0,
                    count : 30,
                    keyword : query,
                    // agencyCompanyId : userInfo.userInfo.companyId
                };
                if (self.routeId !== null) {
                    params.routeId = self.routeId;
                }
                if (self.getInTime !== null) {
                    params.getInTime = self.getInTime;
                }
                if (self.scheduleId !== null) {
                    params.scheduleId = self.scheduleId;
                }
                if(this.userStatus&&this.userStatus.length>0){
                    params.userStatus = this.userStatus;
                }
                sendJson({
                    url: urlDBD(API.agencySearchByKeyword),
                    data: params,
                    success : function (data) {
                        self.options=data.results.result;
                        self.loading = false;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            getIdString : function(){
                if(this.multiple){
                    let ids = [];
                    $.each(this.value,function (u,user) {
                        ids.push(user.id);
                    });
                    return ids.toString();
                }else{
                    return this.value.id
                }
            },
            setOptionsByValue: function (value) {
                if (value) {
                    if (this.multiple) {
                        this.options = _.cloneDeep(value);
                    } else {
                        this.options = [_.cloneDeep(value)];
                    }
                }
            }
        },
        watch: {
            value: function (val) {
                if (!this.visible) {
                    this.setOptionsByValue(val);
                }
            }
        }
    }
</script>
