<template>
    <div class="row">

        <!-- <div class="col-12 col-md-12">
            <div class="title w-100" style="padding-left: 0;">Thông tin đại lý</div>
        </div> -->
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-4">
                    <div class="w-100 text-center img">
                        <uploadimage v-model="avatar" :iconSize="128"></uploadimage>
                    </div>
                    <div class="w-100 text-center"> ẢNH ĐẠI DIỆN</div>
                </div>
                <div class="col-8">
                    <div class="w-100 form-group">
                        <label class="font-weight-normal">Tài khoản <span class="text-danger font-weight-bold">*</span></label>
                        <input type="text" class="form-control" v-model="userName" readonly id="username-agency">
                    </div>
                    <!--<div class="w-100 form-group">-->
                        <!--<label class="font-weight-normal">Mật khẩu <span class="text-danger font-weight-bold">*</span></label>-->
                        <!--<input type="password" class="form-control" v-model="password" id="password-agency">-->
                    <!--</div>-->
                </div>
            </div>
            <div class="form-group phoneNumber">
                <label class="font-weight-normal">Số điện thoại <span class="text-danger">*</span></label>
                <div class="input-group">
                    <!-- <div class="input-group-prepend">
                        <select v-model="stateCode" class="form-control">
                            <option v-for="(val, key) in StateCodes" :value="key">{{ val }}</option>
                        </select>
                    </div> -->
                    <input type="text" class="form-control" v-model="phoneNumber"  pattern="[0-9]{9,11}">
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Mã đại lý <span class="text-danger">*</span></label>
                <input type="text" class="form-control" v-model="agencyCode">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Tên đại lý <span class="text-danger">*</span></label>
                <input type="text" class="form-control" v-model="fullName">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Email</label>
                <input type="text" class="form-control" v-model="email">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label class="font-weight-normal">Địa chỉ</label>
                <input type="text" class="form-control" v-model="address">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Hạn mức  <span class="text-danger font-weight-bold">*</span></label>
                <input-number type="text" v-model="debtLimit" class="form-control"></input-number>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Cấp độ  <span class="text-danger font-weight-bold">*</span></label>
                <select-level-agency v-model="level"></select-level-agency>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Nhóm quyền <span class="text-danger font-weight-bold">*</span></label>
                <select-group-permission v-model="roles" :multiple="true"></select-group-permission>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectGroupPermission from '../GroupPermission/SelectGroupPermission.vue'
    import SelectLevelAgency from '../LevelAgency/SelectLevelAgency.vue'
    export default {
        components : {SelectGroupPermission, SelectLevelAgency},
        data : function (){
            return {
                id : '',
                avatar : '',
                fullName : '',
                dob : '',
                phoneNumber : '',
                gender : 1,
                agencyCode : '',
                address : '',
                email : '',
                citizenId : '',
                roles : null,
                stateCode : 84,
                level : null,
                debtLimit : '',
                currentDebt : '',
                userName :'',
                password : '',
                identityCardNumber : '',
                issuedDate : '',
                issuedPlace : '',
                StateCodes : StateCode,
            }
        },
        mounted : function() {
            $('#password-agency').tooltip({'trigger':'focus', 'title': 'Mật khẩu tối thiểu 6 ký tự'});
        },
        methods : {
            refresh : function (agency) {
                this.id = agency.id;
                this.avatar = agency.avatar;
                this.fullName = agency.fullName;
                // this.dob = agency.dob;
                this.phoneNumber = agency.phoneNumber;
                this.gender = agency.gender;
                this.agencyCode = agency.agencyCode;
                this.address = agency.address;
                this.email = agency.email;
                this.stateCode = agency.stateCode;
                this.userName = agency.userName;
                // this.password = agency.id;
                let agc = null;
                $.each(agency.listAgency,function (a,ag) {
                    if(ag.companyId === userInfo.userInfo.companyId){
                        agc = ag;
                    }
                });
                if(agc){
                    this.currentDebt = agc.currentDebt;
                    this.debtLimit = agc.debtLimit;
                    this.level = {
                        level : agc.level,
                    };
                }
                this.roles = agency.roles;
                this.identityCardNumber = agency.identityCard.identityCardNumber;
                this.issuedDate = agency.identityCard.issuedDate;
                this.issuedPlace = agency.identityCard.issuedPlace;
            },
            save : function (){
                let self = this;
                if(!self.fullName){
                    notify('Vui lòng nhập tên Đại lý ',"error");
                    return false;
                }
                // if(!self.stateCode){
                //     notify('Vui lòng nhập mã vùng ',"error");
                //     return false;
                // }
                if(!self.phoneNumber){
                    notify('Vui lòng nhập số điện thoại ',"error");
                    return false;
                }
                if(self.debtLimit === "" || parseInt(self.debtLimit) < 0){
                    notify('Vui lòng nhập hạn mức',"error");
                    return false;
                }
                // if(!self.currentDebt){
                //     notify('Vui lòng nhập công nợ ',"error");
                //     return false;
                // }
                if(!self.level){
                    notify('Vui lòng nhập cấp độ',"error");
                    return false;
                }
                if(!self.roles){
                    notify('Vui lòng chọn nhóm quyền',"error");
                    return false;
                }
                let agencyInfo = {
                    level : self.level.level,
                    debtLimit : self.debtLimit,
                    // currentDebt : self.currentDebt,
                }
                let param = {
                    userId : self.id,
                    // userName : self.userName,
                    // password : self.password,
                    agencyCode: self.agencyCode,
                    fullName : self.fullName,
                    phoneNumber : self.phoneNumber,
                    stateCode : self.stateCode,
                    commission : 0.1,
                    level : self.level.level,
                    debtLimit : self.debtLimit,
                    companyId: userInfo.userInfo.companyId,
                    option : 1,
                    // joinDate: new Date().getTime()*1000,
                    // agencyInfo: agencyInfo,
                    // type: 2,
                }
                // if(self.dob){
                //    param.dob = func.dateToMS(self.dob);
                // }
                if(self.avatar){
                    param.avatar = self.avatar;
                }
                // if(self.gender){
                //    param.gender = self.gender;
                // }
                if(self.address){
                    param.address = self.address;
                }
                if(self.email){
                    param.email = self.email;
                }
                if(self.roles){
                    param.roles = self.roles;
                }
                // if(self.identityCardNumber && self.issuedDate && self.issuedPlace){
                //     let citizenId = {
                //         identityCardNumber : self.identityCardNumber,
                //         issuedDate : func.dateToMS(self.issuedDate),
                //         issuedPlace : self.issuedPlace
                //     }
                //     // param.citizenId = citizenId;
                // }
                self.load('createAgency');
                sendJson({
                    url : urlDBD(API.agencyUpdate),
                    data : param,
                    success : function (res) {
                        self.unload('createAgency');
                        self.$emit('event',{eventName : 'saveSuccess',data : res});
                    },
                    functionIfError : function (err) {
                        console.log(err);
                        self.unload('createAgency');
                        self.$emit('event',{eventName : 'saveError',data : err});
                    }
                })
            }
        }
    }
</script>