<template>
  <div class="w-100 respon-page lock-seat-page">
    <div class="row">
      <div class="col-12 title" style="margin-bottom: 0">
        <span class="text-uppercase">Khóa ghế theo sơ đồ</span>
      </div>
    </div>
    <div class="flexbox-container padding-15">
      <!-- <div class="action-row">
        <div class="search-container">
          <label>Tìm kiếm sơ đồ ghế</label>
          <el-input
            placeholder
            suffix-icon="el-icon-search"
            v-model="input1"
            size="small"
            style="width: 400px"
          ></el-input>
        </div>
        <el-button type="primary" icon="el-icon-plus" class="action-btn">Cấu hình thao tác ghế</el-button>
      </div>-->
      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <div class="collapse-container">
              <p class="title">Cấu hình khóa thao tác ghế</p>
            </div>
          </template>
          <div v-loading="loading" class="collapse-container padding-15">
            <div class="collapse-flexbox">
              <div class="grid-placeholder left-flexbox">
                <div class="grid-section">
                  <p class="section-label">Sơ đồ ghế</p>
                  <div class="input-section left-input-section">
                    <label class="input-label">Chọn sơ đồ</label>
                    <el-select
                      filterable
                      ref="selectSeatMapComponent"
                      v-model="form.seatMap"
                      placeholder="Chọn sơ đồ"
                      @change="handleChange()"
                    >
                      <el-option
                        v-for="item in seatMapList"
                        :key="item.seatMapId"
                        :label="item.seatMapName ? item.seatMapName : '(không có tên)'"
                        :value="item.seatMapId"
                      ></el-option>
                    </el-select>
                  </div>
                  <div class="input-section left-input-section">
                    <label class="input-label" style="line-height: 40px">Ghế đang chọn</label>
                    <el-tag
                      v-for="(value, key) in form.selectedSeat"
                      :key="value.id"
                      closable
                      type
                      effect="plain"
                      @close="removeSelectedSeat(key)"
                    >{{value.seatId}}</el-tag>
                  </div>
                  <div class="seat-map-placeholder">
                    <div class="seat-floor" v-for="(floor, index) in seatMapFake">
                      <label class="section-label justify-self-center">{{`Tầng ${index +1}`}}</label>
                      <div class="seat-section">
                        <div class="seat-row" v-for="(row,r) in floor">
                          <div class="seat-col" v-for="(col,c) in row">
                            <div
                              v-bind:class="[col.seatId && (col.seatType === 3 || col.seatType === 4) ? 'seat-available' : '', form.selectedSeat[col.id] ? 'seat-selected': '']"
                              class="seat-item"
                              @click="selectSeat(col)"
                            >
                              <p class="seat-name">{{col.seatId ? col.seatId : ''}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-placeholder right-flexbox">
                <div class="grid-section">
                  <p class="section-label">Nền tảng</p>
                  <div class="input-section right-input-section">
                    <label class="input-label">Chọn nền tảng</label>
                    <el-select v-model="form.platform" multiple placeholder="Chọn nền tảng">
                      <el-option
                        v-for="platformValue in platformList"
                        :key="platformValue.value"
                        :label="platformValue.label"
                        :value="platformValue.value"
                      ></el-option>
                    </el-select>
                  </div>
                </div>
              </div>
              <el-button
                type="success"
                class="action-btn btn-lock-seat"
                @click="sumitForm()"
              >Khóa thao tác</el-button>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
      <div class="table-container">
        <el-table
          :data="lockSeatList"
          stripe
          v-loading="loading"
          style="width: 100%"
          header-row-class-name="table-header"
        >
          <el-table-column prop="seatMapName" label="Sơ đồ ghế"></el-table-column>
          <el-table-column label="Nền tảng">
            <template slot-scope="prop" width="200">
              <p>{{checkPlatformName(prop.row.platform)}}</p>
            </template>
          </el-table-column>
          <el-table-column label="Số ghế khóa">
            <template slot-scope="prop" width="200">
              <p>{{prop.row.seatList ? prop.row.seatList.map(x => x.seatId).join(', ') : ''}}</p>
            </template>
          </el-table-column>
          <el-table-column label="Thao tác" width="150">
            <template slot-scope="prop">
              <div class="table-action">
                <el-tooltip effect="dark" content="Sửa" placement="top">
                  <el-button
                    type="info"
                    icon="el-icon-edit"
                    circle
                    @click="editLockSeat(prop.row.seatMapId)"
                  ></el-button>
                </el-tooltip>
                <el-tooltip effect="dark" content="Xóa" placement="top">
                  <el-button
                    type="info"
                    icon="el-icon-delete"
                    circle
                    @click="deleteLockSeat(prop.row.seatMapId)"
                  ></el-button>
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
import { Platform } from "../../class/platform";
import { mapState , mapActions } from "vuex";

export default {
  components: { Platform },
  data: function() {
    return {
      activeNames: ["1"], // active collapse component
      seatMapList: [],
      platformList: Platform.properties(), // list platform
      seatMapSelected: {}, // info of seatmap is being selected
      seatMapFake: [], // draw seatmap
      form: {
        selectedSeat: {},
        seatMap: null,
        platform: []
      },
      loading: true
    };
  },
  computed: {
    ...mapState('LockSeat',{
      lockSeatState: state => state.lockSeatState,
    }),
    lockSeatList: function() {
      let result;
      if (this.listConfig) {
        result = Object.values(this.listConfig);
      }
      return result;
    },
    listConfig: function () {
      return this.lockSeatState;
    }
  },
  watched: {},
  mounted: function() {
    let self = this;
    this.getListSeatMap();
    setTimeout(() => {
      this.loading = false;
    }, 2000);
  },
  methods: {
    ...mapActions("LockSeat" ,[
      "UPDATE_LOCK_SEAT_CONFIG"
    ]),
    handleChange() {
      this.form.selectedSeat = {};
      this.form.platform = [];
      this.seatMapSelected = this.seatMapList.find(
        element => element.seatMapId === this.form.seatMap
      );
      // kiểm tra sơ đồ ghế có tồn tại hay không
      if(!this.seatMapSelected) {
        notify('Sơ đồ ghế không tồn tại, vui lòng xóa khóa cấu hình này!', 'error');
        this.seatMapFake = [];
        return;
      }
      if (this.listConfig && this.listConfig[this.form.seatMap]) {
        this.listConfig[this.form.seatMap].seatList.forEach(element => {
          Vue.set(this.form.selectedSeat, element.id, element);
        });
        this.form.platform = this.listConfig[this.form.seatMap].platform;
      }
      this.makeMapData(this.seatMapSelected);
    },

    sumitForm: function() {
      let checkValid = this.checkValidForm();
      if (!checkValid) {
        return;
      }
      let lockSeat = this.handleLockSeat();
      let newVal = this.listConfig;
      if (newVal) {
        newVal[this.form.seatMap] = lockSeat[this.form.seatMap];
      } else {
        newVal = lockSeat;
      }
      this.loading = true;
      setTimeout(() => {
        this.updateLockSeat(newVal);
        this.loading = false;
      }, 1000);
    },
    updateLockSeat: function(val) {
      this.UPDATE_LOCK_SEAT_CONFIG(val);
    },
    handleLockSeat: function() {
      let lockSeat = {};
      lockSeat[this.form.seatMap] = {
        seatMapId: this.form.seatMap,
        seatMapName: this.seatMapSelected.seatMapName,
        seatList: Object.values(this.form.selectedSeat),
        platform: this.form.platform
      };
      return lockSeat;
    },
    checkPlatformName: function(arr) {
      let response = [];
      if (arr) {
        arr.forEach(element => {
          switch (element) {
            case 1:
              response.push("Website quản lý");
              break;
            case 2:
              response.push("Online");
              break;
            case 3:
              response.push("IOS");
              break;
            case 4:
              response.push("Android");
              break;
            case 5:
              response.push("Đại lý");
              break;
            default:
              break;
          }
        });
      }
      return response.join(", ");
    },
    deleteLockSeat: function(seatMapId) {
      let result = confirm("Bạn có chắc chắn muốn xóa sơ đồ ghế này!");
      if(result) {
        this.loading = true;
        setTimeout(() => {
          let newVal = this.listConfig;
          Vue.delete(newVal, seatMapId);
          this.updateLockSeat(newVal);
          this.loading = false;
        }, 1000);
      }
    },
    getListSeatMap: function() {
      let self = this;
      // self.load("getSeatMaps-seatMap");
      sendJson({
        url: urlDBD(API.seatMapList),
        data: {
          page: 0,
          count: 100000,
          companyId: userInfo.userInfo.companyId
        },
        success: function(res) {
          self.seatMapList = res.results.seatMaps;
          self.unload("getSeatMaps-seatMap");
        },
        functionIfError: function(res) {
          self.unload("getSeatMaps-seatMap");
        }
      });
    },
    editLockSeat: function(seatMapId) {
      this.form.seatMap = seatMapId;
      this.handleChange();
    },
    removeSelectedSeat: function(key) {
      Vue.delete(this.form.selectedSeat, key);
    },
    selectSeat: function(seat) {
      if (!(seat.seatId && (seat.seatType === 3 || seat.seatType === 4))) {
        return;
      }
      if (this.form.selectedSeat[seat.id]) {
        Vue.delete(this.form.selectedSeat, seat.id);
      } else {
        Vue.set(this.form.selectedSeat, seat.id, seat);
      }
    },
    checkValidForm: function() {
      let form = this.form;
      if (!form.seatMap) {
        notify("Bạn chưa chọn sơ đồ ghế!");
        return false;
      }
      if (form.platform.length === 0) {
        notify("Bạn chưa chọn nền tảng!");
        return false;
      }
      return true;
    },
    makeMapData: function(seatMap) {
      let self = this;
      let data = [];
      for (let f = 0; f < seatMap.numberOfFloors; f++) {
        let listRow = [];
        for (let r = 0; r < seatMap.numberOfRows; r++) {
          let listCol = [];
          for (let c = 0; c < seatMap.numberOfColumns; c++) {
            listCol.push(self.makeSeatDefault(f + 1, r + 1, c + 1));
          }
          listRow.push(listCol);
        }
        data.push(listRow);
      }
      if (seatMap.seatList) {
        seatMap.seatList.forEach(element => {
          try {
            if (
              data[element.floor - 1][element.row - 1][element.column - 1] !==
              undefined
            ) {
              data[element.floor - 1][element.row - 1][
                element.column - 1
              ] = element;
              data[element.floor - 1][element.row - 1][
                element.column - 1
              ].id = `${element.floor}${element.row}${element.column}`;
            }
          } catch (e) {
            console.log("ticket error" + JSON.stringify(element) + ` (${e})`);
          }
        });
      }
      self.seatMapFake = data;
    },
    makeSeatDefault: function(floor, row, column) {
      let self = this;
      let data = {
        floor: floor,
        column: column,
        row: row,
        seatId: null,
        seatType: 7,
        seatStatus: 1,
        extraPrice: 0,
        id: `${floor}${row}${column}`
      };
      return data;
    }
  }
};
</script>
<style lang="scss" scoped>
.flexbox-container {
  display: grid;
  grid-gap: 15px;
}
.search-container {
  display: grid;
}
.padding-15 {
  padding: 0px 15px;
}
.action-row {
  display: flex;
  grid-gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  .action-btn {
    padding: 17px 70px;
  }
}
.btn-lock-seat {
  position: absolute;
  bottom: 0;
  right: 0;
}
.blue-btn {
  background: #cce9ff;
  color: #0091fe;
}
.space-evenly {
  justify-content: space-evenly;
}
.column-2 {
  grid-template-columns: 1fr 1fr;
}
.collapse-container {
  .title {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    padding: 0px 15px 0px 15px;
  }
  .collapse-flexbox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    .left-flexbox {
      width: 63%;
    }
    .right-flexbox {
      width: 35%;
    }
    .grid-placeholder {
      display: grid;
      grid-template-columns: 1fr;
    }
    .grid-section {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .right-input-section {
        justify-content: space-between;
      }
      .left-input-section {
        flex-wrap: wrap;
      }
    }
    .section-label {
      font-size: 16px;
      font-weight: bold;
    }
    .input-label {
      font-size: 14px;
      margin-right: 10px;
      white-space: nowrap;
    }
    .input-section {
      display: flex;
      align-items: center;
    }
    .input-container {
      display: grid;
      grid-gap: 10px;
    }
    .seat-map-placeholder {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      .seat-floor {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        .seat-section {
          .seat-row {
            display: flex;
            flex-wrap: nowrap;
            .seat-col {
              flex-basis: 0;
              flex-grow: 1;
              .seat-available {
                background: white;
                justify-content: center;
              }
              .seat-item {
                position: relative;
                padding: 5px;
                margin: 5px;
                min-height: 55px;
                cursor: pointer;
                border-radius: 4px;
                box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
                .seat-name {
                  font-size: 12px;
                  text-align: center;
                  color: #232731;
                  font-weight: bold;
                  padding-bottom: 20px;
                }
              }
              .seat-selected {
                background: #fdebd0;
                border: 1px solid #f39b13;
              }
              .seat-available::after {
                content: "";
                position: absolute;
                bottom: 7px;
                border: 2px solid #c4c4c4;
                height: 0;
                width: 45%;
                left: 27%;
                border-radius: 2px;
              }
            }
          }
        }
      }
    }
  }
}
.justify-self-center {
  justify-self: center;
}
.padding-15 {
  padding: 15px 15px 0px 15px;
}
.lock-seat-page {
  padding-bottom: 80px;
}
.table-container {
  border-radius: 8px;
  overflow: auto;
}
.table-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}
.table-header {
  background: grey;
}
</style>