<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto">
                    {{$t('menu.seat-map')}}
                </div>
                <div class="col text-right">
                    <!-- <button class="btn btn-outline-danger btn-sm" v-show="action!==0" @click="cancelAction()"><i class="fa fa-cancel"></i> HỦY</button>
                    <button class="btn btn-primary btn-sm" @click="saveSeatMap()" v-if="action!==0"><i class="fa fa-save"></i> {{ action===1?'LƯU SƠ ĐỒ':'CẬP NHẬT SƠ ĐỒ' }}</button> -->
                    <button class="btn btn-success btn-sm pull-right" @click="modalSeatMap()"><i class="fa fa-plus-circle"></i> {{$t('button.add-map')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div style="position: sticky;top:70px;">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>{{$t('maps')}}</th>
                            <th>{{$t('type-vehicle')}}</th>
                            <th>{{$t('option')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(seatMap,index) in seatMaps">
                            <tr :key="seatMap.seatMapId">
                                <td><a href="javascript:void(0)" @click="openModalUpdateSeatMap(seatMap);">{{ (seatMap.seatMapName||'') }}</a></td>
                                <td>
                                    {{ (seatMap.numberOfFloors) }} {{$t('floor')}}
                                </td>
                                <td>
                                    <!--<button class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></button>-->
                                    <button class="btn btn-sm btn-primary" :title="$t('update-seat-map')" data-toggle="tooltip" @click="openModalUpdateSeatMap(seatMap)"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-sm btn-outline-danger" :title="$t('button.delete')" data-toggle="tooltip" @click="deleteSeatMap(seatMap.seatMapId)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- so do ghe popup -->
        <div class="modal fade bd-example-modal-md" id="modalSeatMap" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ action===1? $t('create-seat-map') : $t('update-seat-map') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                         <!-- so do ghe content -->
                            <div class="col-12 col-md-12" v-show="action!==0">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">{{$t('name-map')}}</label>
                                            <input type="text" v-model="seatMapName" id="seatMapName" class="form-control form-control-sm" :placeholder="$t('name-map')">
                                        </div>
                                    </div>
                                    <!-- <div class="col-4">
                                        <div class="form-group">
                                            <label for="">Loại xe</label>
                                            <select name="" v-model="vehicleTypeId" id="vehicleTypeId" class="form-control form-control-sm">
                                                <template v-for="(vType,k) in vehicleTypes">
                                                    <option :value="vType.vehicleTypeId"> {{ vType.vehicleTypeName }}</option>
                                                </template>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>{{$t('number-floor')}}</label>
                                            <select name="" v-model="numberOfFloors" class="form-control form-control-sm">
                                                <template v-for="k in 5">
                                                    <option :value="k"> {{ k }} {{$t('floor')}}</option>
                                                </template>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>{{$t('number-row')}}</label>
                                            <select name="" v-model="numberOfRows" class="form-control form-control-sm">
                                                <template v-for="k in 40">
                                                    <option :value="k" v-if="k >2"> {{ k }} {{$t('row')}}</option>
                                                </template>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>{{$t('number-col')}}</label>
                                            <select name="" v-model="numberOfColumns" class="form-control form-control-sm">
                                                <template v-for="k in 25">
                                                    <option :value="k" v-if="k >2"> {{ k }} {{$t('col')}}</option>
                                                </template>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row top20">
                                    <div class="col-12">
                                        <div class="row select-position-seat-map">
                                            <div class="col-4 col-md-2" @click="typeChecked=1">
                                                <span class="note-box bg-cua" :class="{'note-box-ok':typeChecked==1}"></span> <i>{{$t('door')}}</i>
                                            </div>
                                            <div class="col-4 col-md-2" @click="typeChecked=2">
                                                <span class="note-box bg-tai" :class="{'note-box-ok':typeChecked==2}"></span> <i>{{$t('seat-driver')}}</i>
                                            </div>
                                            <div class="col-4 col-md-2" @click="typeChecked=6">
                                                <span class="note-box bg-phu" :class="{'note-box-ok':typeChecked==6}"></span> <i>{{$t('seat-side-driver')}}</i>
                                            </div>
                                            <div class="col-4 col-md-2" @click="typeChecked=3">
                                                <span class="note-box bg-ghe" :class="{'note-box-ok':typeChecked==3}"></span> <i>{{$t('seat-customer')}}</i>
                                            </div>
                                            <div class="col-4 col-md-2" @click="typeChecked=4">
                                                <span class="note-box bg-giuong" :class="{'note-box-ok':typeChecked==4}"></span> <i>{{$t('bed')}}</i>
                                            </div>
                                            <div class="col-4 col-md-2" @click="typeChecked=5">
                                                <span class="note-box bg-wc" :class="{'note-box-ok':typeChecked==5}"></span> <i>{{$t('water-closet')}}</i>
                                            </div>
                                            <div class="col-4 col-md-2" @click="typeChecked=7">
                                                <span class="note-box bg-note-duong" :class="{'note-box-ok':typeChecked==7}"></span> <i>{{$t('aisle')}}</i>
                                            </div>
                                            <div class="col-4 col-md-2" @click="typeChecked=8">
                                                <span class="note-box bg-info" :class="{'note-box-ok':typeChecked==8}"></span> <i>{{$t('edit-information')}}</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <template v-for="(floor,f) in mapData">
                                            <div class="col border-bottom top20">
                                                <h5 class="text-center">{{$t('floor')}} {{ f+1 }}</h5>
                                            </div>
                                            <div class="row no-gutters" style="background: #525050;padding:5px;">
                                                <div class="w-100"></div>
                                                <template v-for="(row,r) in floor">
                                                    <template v-for="(col,c) in row">
                                                        <div class="col" @click="setTypeSeat(f,r,c)">
                                                            <div class="seat" :class="[col.seatType==1?'bg-cua':(col.seatType==2?'bg-tai':(col.seatType==3?'bg-ghe':(col.seatType==4?'bg-giuong':(col.seatType==5?'bg-wc':(col.seatType==6?'bg-phu':'bg-duong')))))]">
                                                                <input type="text" :placeholder="$t('seat-name')" :title="$t('seat-name')" v-model="col.seatId" :readonly="typeChecked!==8" class="form-control bg-ghe border-0 text-center">
                                                                <input type="text" :placeholder="$t('additional-price')" :title="$t('additional-price')" v-model="col.extraPrice" :readonly="typeChecked!==8" class="form-control bg-ghe border-0 text-center">
                                                            </div>
                                                        </div>
                                                    </template>
                                                    <div class="w-100"></div>
                                                </template>
                                            </div>
                                        </template>
                                    </div>
                                    <!-- <div class="col-12 top10 text-right">
                                        <button class="btn btn-outline-danger" @click="cancelAction()"><i class="fa fa-cancel"></i> HỦY</button>
                                        <button class="btn btn-primary" @click="saveSeatMap()"><i class="fa fa-save"></i> {{ action===1?'LƯU SƠ ĐỒ':'CẬP NHẬT SƠ ĐỒ' }}</button>
                                    </div> -->
                                </div>
                            </div>
                            <!-- ket thuc -->
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="saveSeatMap()"><i class="fa fa-save"></i> {{ action===1? $t('save-map'): $t('update-map') }}</button>
                        <button type="button" @click="cancelAction()" class="btn btn-sm btn-outline-primary text-uppercase" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ket thuc -->
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                seatType : {
                    1 : 'Cửa',
                    2 : 'Ghế Tài',
                    3 : 'Ghế Thường',
                    4 : 'Giường nằm',
                    5 : 'Nhà Vệ Sinh',
                    6 : 'Ghế Phụ Xe',
                    7 : 'Lối đi', // chỉ có dưới frontend tự định nghĩa
                    8 : 'Chỉnh sửa thông tin ghế',// chỉ có dưới frontend tự định nghĩa
                },
                seatMaps : [],
                seatMapSelected : null,
                mapData : [],
                seatMapName: '',
                // vehicleTypes : [],
                // vehicleTypeId : null,
                numberOfFloors : 1,
                numberOfColumns : 5,
                numberOfRows : 6,
                typeChecked : 3,//mặc định ghế thường
                action : 0,//0 là không thực hiện , 1 là Add , 2 là edit
            }
        },
        mounted :function () {
            this.getSeatMaps();
        },
        updated : function () {
            $('[data-toggle="tooltip"]').tooltip();
//            $('#vehicleTypeId').select2();
        },
        methods : {

            modalSeatMap: function(){
                let self = this;
                // if(self.vehicleTypes.length>0){
                //     self.vehicleTypeId = _.cloneDeep(self.vehicleTypes[0].vehicleTypeId)
                // }else{
                //     self.vehicleTypeId = null;
                // }
                self.seatMapName = '';
                self.numberOfFloors = 1;
                self.numberOfColumns = 3;
                self.numberOfRows = 3;
                self.action = 1;
                self.seatMapSelected = null;
                self.makeMapData();
                $(this.$el).find('#modalSeatMap').modal('show');
            },
            openModalUpdateSeatMap: function(seatMap){
                let self = this;
                // self.vehicleTypeId = seatMap.vehicleTypeId;
                self.seatMapName = seatMap.seatMapName||'';
                self.numberOfFloors = seatMap.numberOfFloors;
                self.numberOfColumns = seatMap.numberOfColumns;
                self.numberOfRows = seatMap.numberOfRows;
                self.typeChecked = 8;// về chế độ sửa thông tin
                self.seatMapSelected = seatMap;
                self.action = 2;
                self.makeMapData();
                $(self.$el).find('#modalSeatMap').modal('show');
            },
            addSeatMap: function () {
                let self = this;
                // if(self.vehicleTypes.length>0){
                //     self.vehicleTypeId = _.cloneDeep(self.vehicleTypes[0].vehicleTypeId)
                // }else{
                //     self.vehicleTypeId = null;
                // }
                self.seatMapName = '';
                self.numberOfFloors = 1;
                self.numberOfColumns = 3;
                self.numberOfRows = 3;
                self.action = 1;
                self.seatMapSelected = null;
                self.makeMapData();
            },
            saveSeatMap : function () {
                let self = this;
                if(self.seatMapName===''){
                    $('#seatMapName').focus();
                    notify(this.$t('notify.dont-empty-name-map'),'error');
                    return false;
                }
                let seatList = [];
                $.each(self.mapData,function (f,floor) {
                    $.each(floor,function (r,row) {
                        $.each(row,function (c,column) {
                            if(column.seatType!==7){
                                seatList.push(column);
                            }
                        })
                    })
                });
                let url = urlDBD(API.seatMapCreate);//mặc định là tạo
                let dataSend = {
                    companyId : userInfo.userInfo.companyId,
                    seatMapName : self.seatMapName,
                    numberOfFloors : self.numberOfFloors,
                    numberOfColumns : self.numberOfColumns,
                    numberOfRows : self.numberOfRows,
                    // vehicleTypeId : self.vehicleTypeId,
                    seatList :seatList,
                };
                if(self.action ===2){//nếu là edit thì sửa
                    dataSend.seatMapId = self.seatMapSelected.seatMapId;
                    url = urlDBD(API.seatMapUpdate);
                }
                self.load('saveSeatMap');
                sendJson({
                    url : url,
                    data : dataSend,
                    success : function (data) {
                        $(self.$el).find('#modalSeatMap').modal('hide');
                        self.getSeatMaps();
                        self.seatMapSelected = data.results.seatMap;
                        self.unload('saveSeatMap');
                        notify(self.$t('notify.save-success'),'success');
                    },
                    functionIfError : function (data) {
                        self.unload('saveSeatMap');
                    }
                })
            },
            updateSeatMap : function (seatMap) {
                let self = this;
                // self.vehicleTypeId = seatMap.vehicleTypeId;
                self.seatMapName = seatMap.seatMapName||'';
                self.numberOfFloors = seatMap.numberOfFloors;
                self.numberOfColumns = seatMap.numberOfColumns;
                self.numberOfRows = seatMap.numberOfRows;
                self.typeChecked = 8;// về chế độ sửa thông tin
                self.seatMapSelected = seatMap;
                self.action = 2;
                self.makeMapData();
            },
            deleteSeatMap :function (_seatMapId) {
                let self = this;
                if(!confirm(this.$t('confirm-delete'))){
                    return false;
                }
                self.load('deleteSeatMap');
                sendJson({
                    url : urlDBD(API.seatMapDelete),
                    data : {
                        id : _seatMapId
                    },
                    success : function (data) {
                        notify(self.$t('notify.delete-success'),'success');
                        self.getSeatMaps();
                        self.unload('deleteSeatMap');
                    },
                    functionIfError : function (data) {
                        self.unload('deleteSeatMap');
                    }
                })
            },
            cancelAction : function () {
                this.seatMapSelected = null,
                this.action=0;
            },
            getSeatMaps : function () {
                let self = this;
                self.load('getSeatMaps-seatMap');
                sendJson({
                    url : urlDBD(API.seatMapList),
                    data : {page : 0,count :50,companyId : userInfo.userInfo.companyId},
                    success :function (res) {
                        self.seatMaps = res.results.seatMaps;
                        self.unload('getSeatMaps-seatMap');
                    },
                    functionIfError : function (res) {
                        self.unload('getSeatMaps-seatMap');
                    }
                })
            },
            // getVehicleTypes : function () {
            //     let self = this;
            //     self.load('getVehicleTypes-seatMap');
            //     sendJson({
            //         url : urlDBD(API.vehicleTypeList),
            //         data : {page : 0,count :50,companyId : userInfo.userInfo.companyId},
            //         success :function (res) {
            //             self.vehicleTypes = res.results.result;
            //             self.unload('getVehicleTypes-seatMap');
            //         },
            //         functionIfError : function (res) {
            //             self.unload('getVehicleTypes-seatMap');
            //         }
            //     })
            // },
            makeMapData : function () {
                let self = this;
                let data = [];
                for(let f=0;f<self.numberOfFloors;f++){
                    let listRow = [];
                    for( let r=0;r<self.numberOfRows;r++){
                        let listCol = [];
                        for( let c=0;c<self.numberOfColumns;c++){
                            listCol.push(self.makeSeatDefault(f+1,r+1,c+1));
                        }
                        listRow.push(listCol);
                    }
                    data.push(listRow);
                }
                if(self.seatMapSelected!==null){
                    $.each(self.seatMapSelected.seatList,function (k,v) {//v là seat
                        if(data[v.floor-1] !==undefined && data[v.floor-1][v.row-1] !==undefined && data[v.floor-1][v.row-1][v.column-1]!==undefined){
                            data[v.floor-1][v.row-1][v.column-1]=v;
                        }// các thông sô tầng hàng cột bắt đầu từ 1, mapdata từ 0 nên phải trừ 1
                    });
                }
                self.mapData=data;
                // console.log('self.mapData',self.mapData);
            },
            setSeat : function (seat) {
                let self = this;
                let data = {
                    floor : seat.floor,
                    column : seat.column,
                    row : seat.row,
                    seatId : seat.seatId,
                    seatType :seat.seatType ,
                    seatStatus : seat.seatStatus,
                    extraPrice:seat.extraPrice,
                }
                return data;
            },
            getKey : function (index) {//lấy chữ cái đầu của ghế
                let str = '_ABCDEFGHIKLMNOPQ';
                if(index>=0&&index<=15){
                    return str[index];
                }
                return str[0];
            },
            makeSeatDefault : function (floor,row,column) {
                let self = this;
                let data = {
                    floor : floor,
                    column : column,
                    row : row,
                    seatId : self.getKey(floor)+row+column,
                    seatType :7 ,
                    seatStatus : 1,
                    extraPrice:0,
                }
                return data;
            },
            setTypeSeat : function (f,r,c) {
                let self = this;
                if(self.typeChecked===8){
                    return false;
                }else{
                    self.mapData[f][r][c].seatType=self.typeChecked;
                }
            }
        },
        watch : {
            numberOfFloors : function (newVal,oldVal) {
                if(newVal!==oldVal){
                    this.makeMapData();
                }
            },
            numberOfRows : function (newVal,oldVal) {
                if(newVal!==oldVal){
                    this.makeMapData();
                }
            },
            numberOfColumns : function (newVal,oldVal) {
                if(newVal!==oldVal){
                    this.makeMapData();
                }
            },
        }
    }
</script>
<style>
    .seat{min-height: 50px;border-radius:5px;}
    .seat input:focus{background:inherit;color:#fff}
    .seat input:read-only{background:inherit}
    #modalSeatMap .modal-dialog {
        max-width: 1020px !important;
    }
    .select-position-seat-map i{
        position: relative;
        top: -5px;
        left: 5px;
    }
</style>