<template>
    <div class="row">
        <div class="col-4">
            <div style="width: 100%;height: 350px;overflow-y: scroll">
                <table class="table table-sm table-hover" v-if="seatMaps.length>0">
                    <!--<thead>-->
                    <!--<tr>-->
                    <!--<th>Sơ Đồ</th>-->
                    <!--<th>Loại Xe</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <tbody>
                    <template v-for="seatMap in seatMaps">
                        <tr :key="seatMap.seatMapId" :class="[value&&value.seatMapId == seatMap.seatMapId?'bg-e':'','cursor-pointer']" @click="setValue(seatMap)">
                            <td>{{ (seatMap.seatMapName||'') }}</td>
                            <td>
                                {{ (seatMap.vehicleTypeName||'') }}<br>
                                {{ (seatMap.numberOfFloors) }} Tầng
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <template v-else>Không có sơ đồ nào vui lòng <router-link class="dropdown-item" :to="{name : 'SeatMap'}" v-if="$root.roles.SEAT_MAP_GET_LIST"> <i class="fa fa-chair"></i>Tạo Sơ đồ ghế</router-link></template>
            </div>
        </div>
        <div class="col-8">
            <div class="w-100" v-if="value">
                <seat-map :seatMap="value" column="6"></seat-map>
            </div>
        </div>
    </div>
</template>
<script>
    import SeatMap from './ShowSeatMapBasic'
    export default {
        components : {SeatMap},
        props : ['value'],
        data: function () {
            return  {
                seatMaps : [],
            }
        },
        mounted :function(){
            this.getSeatMaps();
        },
        methods : {
            getSeatMaps : function () {
                let self = this;
                // self.load('getSeatMaps-seatMap');
                sendJson({
                    url : urlDBD(API.seatMapList),
                    data : {page : 0,count :50,companyId : userInfo.userInfo.companyId},
                    success :function (res) {
                        self.seatMaps = res.results.seatMaps;
                        self.unload('getSeatMaps-seatMap');
                    },
                    functionIfError : function (res) {
                        self.unload('getSeatMaps-seatMap');
                    }
                })
            },
            setValue : function (val) {
                this.$emit('input',val);
            }
        }
    }
</script>