<template>
    <el-select :size="size" :value="value" :clearable="clearable" @input="$emit('input',$event)" filterable :placeholder="value&&value.name?value.name:placeholder" value-key="id">
        <!--<div v-infinite-scroll="this.options.getList(1)" infinite-scroll-delay="200">-->
            <el-option
                    v-for="item in options.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item">
            </el-option>
        <!--</div>-->
    </el-select>
</template>
<script>
    import {SeatMaps} from "../../class/seatmap";
    export default {
        props : {
            value : {
                default: null,
            },
            multiple : {
                type : Boolean,
                default : false,
            },
            clearable : {
                type : Boolean,
                default : true,
            },
            placeholder : {
                type : String,
                default : "Nhập để tìm kiếm",
            },
            size : {
                type : String,
                default : "large",
            },
            classInput : {
                type : String,
                default : "",
            }
        },
        data : function () {
            return {
                options : new SeatMaps()
            }
        },
        mounted : function(){
            this.options.getList();
        },
        methods : {
            getId : function (type) {
                let self = this;
                if(self.multiple){
                    let ids = [];
                    if(self.value){
                        $.each(self.value,function (u,user) {
                            if(type=='listArray'){
                                ids.push(user.id);
                            }else{
                                ids.push({id : user.id});
                            }

                        });
                    }
                    return ids;
                }else{
                    return self.value.id;
                }
            },
            getIdString : function(){
                if(this.multiple){
                    let ids = [];
                    $.each(this.value,function (u,user) {
                        ids.push(user.id);
                    });
                    return ids.toString();
                }else{
                    return this.value.id
                }
            },
        }
    }
</script>