<template>
    <div class="row">
        <template v-for="(floor,f) in mapData">
            <div class="col-12" :class="[column!==undefined?'col-md-'+column:'']">
                <div class="col border-bottom top20">
                    <h5 class="text-center">Tầng {{ f+1 }}</h5>
                </div>
                <div class="row no-gutters" style="background: #525050;padding:5px;box-shadow: 5px 5px 10px #aaa;">
                    <div class="w-100"></div>
                    <template v-for="(row,r) in floor">
                        <template v-for="(col,c) in row">
                            <div class="col">
                                <div :class="[col.seatType==1?'bg-cua':(col.seatType==2?'bg-tai':(col.seatType==3?'bg-ghe':(col.seatType==4?'bg-giuong':(col.seatType==5?'bg-wc':(col.seatType==6?'bg-phu':'bg-duong'))))),col.seatType!==7?'seat':'']">
                                    <div class="text-white text-center">&nbsp;</div>
                                </div>
                            </div>
                        </template>
                        <div class="w-100"></div>
                    </template>
                </div>
            </div>
        </template>
        <div class="col-12 top10">
            <div class="row no-gutters">
                <div class="col-4 col-md-2">
                    <span class="note-box bg-cua"></span> <i>Cửa</i>
                </div>
                <div class="col-4 col-md-2">
                    <span class="note-box bg-tai"></span> <i>Ghế Tài</i>
                </div>
                <div class="col-4 col-md-2">
                    <span class="note-box bg-phu"></span> <i>Ghế Phụ xe</i>
                </div>
                <div class="col-4 col-md-2">
                    <span class="note-box bg-ghe"></span> <i>Ghế khách</i>
                </div>
                <div class="col-4 col-md-2">
                    <span class="note-box bg-giuong"></span> <i>Giường nằm</i>
                </div>
                <div class="col-4 col-md-2">
                    <span class="note-box bg-wc"></span> <i>WC</i>
                </div>
                <div class="col-4 col-md-2">
                    <span class="note-box bg-note-duong"></span> <i>Lối đi</i>
                </div>
                <div class="col-4 col-md-2">
                    <span class="note-box bg-info"></span> <i>Sửa thông tin</i>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['seatMap','column'],
        data : function () {
            return {
                mapData : [],
            }
        },
        mounted : function () {
            this.makeMapData();
        },
        methods : {
            makeMapData : function () {
                let self = this;
                let data = [];
                for(let f=0;f<self.seatMap.numberOfFloors;f++){
                    let listRow = [];
                    for( let r=0;r<self.seatMap.numberOfRows;r++){
                        let listCol = [];
                        for( let c=0;c<self.seatMap.numberOfColumns;c++){
                            listCol.push(self.makeSeatDefault(f+1,r+1,c+1));
                        }
                        listRow.push(listCol);
                    }
                    data.push(listRow);
                }
                if(typeof self.seatMap.seatList!=='undefined'){
                    $.each(self.seatMap.seatList,function (k,v) {//v là seat
                        if(data[v.floor-1][v.row-1][v.column-1]!==undefined){
                            data[v.floor-1][v.row-1][v.column-1]=v;
                        }// các thông sô tầng hàng cột bắt đầu từ 1, mapdata từ 0 nên phải trừ 1
                    });
                }
                self.mapData=data;
            },
            makeSeatDefault : function (floor,row,column) {
                let self = this;
                let data = {
                    floor : floor,
                    column : column,
                    row : row,
                    seatId : self.getKey(floor)+row+column,
                    seatType :7 ,
                    seatStatus : 1,
                    extraPrice:0,
                }
                return data;
            },
            getKey : function (index) {//lấy chữ cái đầu của ghế
                let str = '_ABCDEFGHIKLMNOPQ';
                if(index>=0&&index<=15){
                    return str[index];
                }
                return str[0];
            },
        },
        watch : {
            seatMap : function (val) {
                this.makeMapData();
            }
        }
    }
</script>
<style>
    .btn.active{z-index: 0!important}
</style>