<template>
    <div class="row">
        <div class="col-12 title">
            <span>CẤU HÌNH IN PHIẾU THU</span>
            <span class="pull-right">
                <!--<button class="btn btn-sm btn-primary"><i class="fa fa-print"></i> In thử</button>-->
                <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                <!--<router-link class="btn btn-primary btn-sm" :to="{label : 'BillCreate',query : {billType:1}}"> <i class="fa fa-plus"></i> TẠO PHIẾU THU</router-link>-->
            </span>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="accordion" id="listField">
                        <template v-for="(field, f,index) in fields">
                            <div class="card">
                                <div class="bg-e" :id="f">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#'+f+'cl'">
                                        {{field.label}}
                                    </button>
                                    <label class="btn">
                                        <input type="checkbox" v-model="field.show" title="Ẩn / hiện" v-if="field.show!==undefined">
                                    </label>
                                </div>
                                <div :id="f+'cl'" class="collapse" :aria-labelledby="f" data-parent="#listField">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control form-control-sm" v-model="field.title">
                                        </div>
                                        <div class="form-group">
                                            <label>Thuộc tính</label>
                                            <building-css v-model="field.styles"></building-css>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="col-12 col-md-9 bg-seatMap">
                    <div class="container bg-white border top20" :style="fields.form.styles">
                        <div class="row">
                            <div class="col">
                                <div class="w-100 border-dotted">
                                    <div :style="fields.companyName.styles" v-show="fields.companyName.show">{{ fields.companyName.title }} {{ fields.companyName.value() }}</div>
                                    <div :style="fields.companyAddress.styles" class="" v-show="fields.companyAddress.show">{{ fields.companyAddress.title }} {{ fields.companyAddress.value() }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border-dotted" v-show="fields.logo.show">
                                    <img :src="fields.logo.value()" alt="" :style="fields.logo.styles">
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="w-100 border-dotted">
                                    <div :style="fields.title.styles" v-show="fields.title.show">{{ fields.title.title }}</div>
                                    <div :style="fields.date.styles" v-show="fields.date.show">{{ fields.date.title }} {{ fields.date.value() }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="w-100 border-dotted">
                                    <div :style="fields.sender.styles" v-show="fields.sender.show">{{ fields.sender.title }} {{ fields.sender.value() }}</div>
                                    <div :style="fields.senderPhone.styles" v-show="fields.senderPhone.show">{{ fields.senderPhone.title }} {{ fields.senderPhone.value()|phoneNumber }}</div>
                                    <div :style="fields.receiver.styles" v-show="fields.receiver.show">{{ fields.receiver.title }} {{ fields.receiver.value() }}</div>
                                    <div :style="fields.receiverPhone.styles" v-show="fields.receiverPhone.show">{{ fields.receiverPhone.title }} {{ fields.receiverPhone.value()|phoneNumber }}</div>
                                    <div :style="fields.amount.styles" v-show="fields.amount.show">{{ fields.amount.title }} {{ fields.amount.value()|number }}</div>
                                    <div :style="fields.reason.styles" v-show="fields.reason.show">{{ fields.reason.title }} {{ fields.reason.value() }}</div>
                                    <div :style="fields.note.styles" v-show="fields.note.show">{{ fields.note.title }} {{ fields.note.value() }}</div>

                                    <!--<div v-show="fields.sender.show"><span v-html="fields.sender.title"></span><span  :style="fields.sender.styles">{{fields.sender.value() }}</span> </div>-->
                                    <!--<div v-show="fields.senderPhone.show"><span v-html="fields.senderPhone.title"></span> <span :style="fields.senderPhone.styles">{{ fields.senderPhone.value()|phoneNumber }}</span></div>-->
                                    <!--<div v-show="fields.receiver.show"><span v-html="fields.receiver.title"></span> <span :style="fields.receiver.styles">{{ fields.receiver.value() }}</span></div>-->
                                    <!--<div v-show="fields.receiverPhone.show"><span v-html="fields.receiverPhone.title"></span> <span :style="fields.receiverPhone.styles">{{ fields.receiverPhone.value()|phoneNumber }}</span></div>-->
                                    <!--<div v-show="fields.amount.show"><span v-html="fields.amount.title"></span> <span :style="fields.amount.styles">{{ fields.amount.value()|number }}</span></div>-->
                                    <!--<div v-show="fields.reason.show"><span v-html="fields.reason.title"></span> <span :style="fields.reason.styles">{{ fields.reason.value() }}</span></div>-->
                                    <!--<div v-show="fields.note.show"><span v-html="fields.note.title"></span> <span :style="fields.note.styles">{{ fields.note.value() }}</span></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col" v-show="fields.footer1.show">
                                <div class="w-100 border-dotted">
                                    <div :style="fields.footer1.styles">{{ fields.footer1.title }}</div>
                                </div>
                            </div>
                            <div class="col" v-show="fields.footer2.show">
                                <div class="w-100 border-dotted">
                                    <div :style="fields.footer2.styles">{{ fields.footer2.title }}</div>
                                </div>

                            </div>
                            <div class="col" v-show="fields.footer3.show">
                                <div class="w-100 border-dotted">
                                    <div :style="fields.footer3.styles">{{ fields.footer3.title }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BuildingCss from '../Helper/BuildingCss/BuildingCss.vue';
    export default {
        components : {BuildingCss},
        data  : function () {
            let self = this;
            return {
                name : 'Cấu hình in phiếu thu',
                sampleData : {},
                fields : {
                    form : {
                        label : 'Mẫu',
                        title : '',
                        styles : '',
                    },
                    companyName : {
                        label : 'Tên công ty',
                        title : '',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.userInfo.userInfo.companyName;
                        }
                    },
                    companyAddress : {
                        label : 'Địa chỉ công ty',
                        title : '',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.userInfo.companyAddress;
                        }
                    },
                    logo : {
                        label : 'Logo',
                        title : 'Logo',
                        show : true,
                        styles : 'width:100px;height:80px;',
                        value : function () {
                            return self.userInfo.logo;
                        }
                    },
                    title : {
                        label : 'Tiêu đề',
                        title : 'PHIẾU CHI',
                        show : true,
                        styles : 'text-align:center;font-size:20px;'
                    },
                    sender : {
                        label : 'Tên người nộp',
                        title : 'Người nộp',
                        show : true,
                        styles : '',
                        value : function () {
                            return "Hào";
                        }
                    },
                    senderPhone : {
                        label : 'SDT người nộp',
                        title : 'SDT Người nộp : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "01235619179";
                        }
                    },
                    receiver : {
                        label : 'Tên người thu',
                        title : 'Người thu : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "Quý";
                        }
                    },
                    receiverPhone : {
                        label : 'SDT người thu',
                        title : 'SDT người thu',
                        show : true,
                        styles : '',
                        value : function () {
                            return '0985087896';
                        }
                    },
                    amount : {
                        label : 'Số tiền',
                        title : 'Số tiền : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return 50000;
                        }
                    },
                    reason : {
                        label : 'Lí do thu tiền',
                        title : 'Lí do : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return 'Thu tiền vé xe.';
                        }
                    },
                    note : {
                        label : 'Ghi chú',
                        title : 'Ghi chú : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return 'note';
                        }
                    },
                    date : {
                        label : 'Ngày tháng hiện tại',
                        title : '',
                        show : true,
                        styles : 'text-align:center',
                        value : function () {
                            return new Date().customFormat('#hh#:#mm# Ngày #DD# Tháng #MM# Năm #YYYY#')
                        }
                    },
                    dateBill : {
                        label : 'Ngày tạo phiếu',
                        title : '',
                        show : true,
                        styles : ''
                    },
                    footer1 : {
                        label : 'Chân trang 1',
                        title : 'Giám Đốc',
                        show : true,
                        styles : 'text-align:center;padding-bottom:30px;font-weight:bold;'
                    },
                    footer2 : {
                        label : 'Chân trang 2',
                        title : 'Thu ngân',
                        show : true,
                        styles : 'text-align:center;padding-bottom:30px;font-weight:bold;'
                    },
                    footer3 : {
                        label : 'Chân trang 3',
                        title : 'Người nộp',
                        show : true,
                        styles : 'text-align:center;padding-bottom:30px;font-weight:bold;'
                    }
                },
            }
        },
        mounted : function(){
            this.getSetting();
        },
        methods : {
            addStyle : function (key) {
                let self = this;
                self.fields[key].styles.push({
                    attr : null,
                    value : null,
                });
            },
            deleteStyle : function (fieldIndex,styleIndex) {
                let self = this;
                self.fields[fieldIndex].styles.splice(styleIndex,1);
            },
            saveSetting : function () {
                let self = this;
                let str = JSON.stringify(self.fields);
                localStorage.setItem('DisplaySettingBillOut',str);
                notify("Lưu thông tin cấu hình thành công",'success');
            },
            getSetting : function () {
                let self = this;
                let str = localStorage.getItem('DisplaySettingBillOut')||'{}';
                let data = JSON.parse(str);
                $.each(self.fields,function(k,v){
                    if(data[k]){
                        self.fields[k].title = data[k].title;
                        self.fields[k].show = data[k].show;
                        self.fields[k].styles = data[k].styles;
                    }
                });
            },
        }
    }
</script>