<template>
    <div class="row">
        <div class="col-12 title">
            <span>CẤU HÌNH ĐẦU TRANG ( HEADER )</span>
            <span class="pull-right">
                <!--<button class="btn btn-sm btn-primary"><i class="fa fa-print"></i> In thử</button>-->
                <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
            </span>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="accordion" id="listField">
                        <template v-for="(field, f,index) in fields">
                            <div class="card">
                                <div class="bg-e" :id="f">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#'+f+'cl'">
                                        {{field.label}}
                                    </button>
                                    <label class="btn">
                                        <input type="checkbox" v-model="field.show" title="Ẩn / hiện" v-if="field.show!==undefined">
                                    </label>
                                </div>
                                <div :id="f+'cl'" class="collapse" :aria-labelledby="f" data-parent="#listField">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control form-control-sm" v-model="field.title">
                                        </div>
                                        <div class="form-group">
                                            <label>Thuộc tính</label>
                                            <building-css v-model="field.styles"></building-css>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="col-12 col-md-9 bg-seatMap">
                    <div class="container bg-white border top20">
                        <div class="w-100">
                            <img :src="fields.logo.value()" alt="" :style="fields.logo.styles" v-if="fields.logo.show">
                            <div :style="fields.companyName.styles" v-show="fields.companyName.show">{{ fields.companyName.value() }}</div>
                            <div :style="fields.companyAddress.styles" v-show="fields.companyAddress.show">{{ fields.companyAddress.value() }}</div>
                            <div :style="fields.text.styles" v-show="fields.text.show">{{ fields.text.title }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BuildingCss from '../Helper/BuildingCss/BuildingCss.vue';
    export default {
        components : {BuildingCss},
        data  : function () {
            let self = this;
            return {
                name : 'Cấu hình in phiếu thu',
                sampleData : {},
                fields : {
                    logo : {
                        label : 'Logo',
                        title : 'Logo',
                        show : true,
                        styles : 'width:50px;height:50px;float:left;padding-right:5px;',
                        value : function () {
                            return self.userInfo.logo;
                        }
                    },
                    companyName : {
                        label : 'Tên công ty',
                        title : '',
                        show : true,
                        styles : 'float:left;width:calc(100% - 80px);',
                        value : function () {
                            return self.userInfo.userInfo.companyName;
                        }
                    },
                    companyAddress : {
                        label : 'Địa chỉ công ty',
                        title : '',
                        show : true,
                        styles : 'float:left;width:calc(100% - 80px);',
                        value : function () {
                            return self.userInfo.companyAddress;
                        }
                    },
                    text : {
                        label : 'Đoạn văn',
                        title : '',
                        show : true,
                        styles : 'float:left'
                    }
                },
            }
        },
        mounted : function(){
            this.getSetting();
        },
        methods : {
            addStyle : function (key) {
                let self = this;
                self.fields[key].styles.push({
                    attr : null,
                    value : null,
                });
            },
            deleteStyle : function (fieldIndex,styleIndex) {
                let self = this;
                self.fields[fieldIndex].styles.splice(styleIndex,1);
            },
            saveSetting : function () {
                let self = this;
                let str = JSON.stringify(self.fields);
                localStorage.setItem('DisplaySettingHeader',str);
                notify("Lưu thông tin cấu hình thành công",'success');
            },
            getSetting : function () {
                let self = this;
                let str = localStorage.getItem('DisplaySettingHeader')||'{}';
                let data = JSON.parse(str);
                $.each(self.fields,function(k,v){
                    if(data[k]){
                        self.fields[k].title = data[k].title;
                        self.fields[k].show = data[k].show;
                        self.fields[k].styles = data[k].styles;
                    }
                });
            },
        }
    }
</script>