<template>
    <div class="row">
        <div class="col-12 title">
            <span>CẤU HÌNH IN DANH SÁCH VÉ</span>
            <span class="pull-right">
                <!--<button class="btn btn-sm btn-primary"><i class="fa fa-print"></i> In thử</button>-->
                <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
            </span>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="accordion" id="listField">
                        <template v-for="(field, f,index) in fields">
                            <div class="card">
                                <div class="bg-e" :id="f">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#'+f+'cl'">
                                        {{field.label}}
                                    </button>
                                    <label class="btn">
                                        <input type="checkbox" v-model="field.show" title="Ẩn / hiện" v-if="field.show!==undefined">
                                    </label>
                                </div>
                                <div :id="f+'cl'" class="collapse" :aria-labelledby="f" data-parent="#listField">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control form-control-sm" v-model="field.title">
                                        </div>
                                        <div class="form-group">
                                            <label>Thuộc tính</label>
                                            <building-css v-model="field.styles"></building-css>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="col-12 col-md-9 bg-seatMap">
                    <div class="bg-white border top20">
                        <div class="w-100">
                            <print-header></print-header>
                            <div style="" class="text-center size20">DANH SÁCH HÀNH KHÁCH</div>
                            <div class="row">
                                <div class="col-3 text-right">Tuyến</div>
                                <div class="col-3">Hà Nội - Nam Định</div>
                                <div class="col-3 text-right">Tài xế</div>
                                <div class="col-3">Quang</div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-right">Biển số</div>
                                <div class="col-3"><span>29 - C1 11502</span></div>
                                <div class="col-3 text-right">Phụ xe</div>
                                <div class="col-3">Huệ</div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-right">Giờ chạy</div>
                                <div class="col-3">15:00</div>
                                <div class="col-3 text-right">Số ghế</div>
                                <div class="col-3">1</div>
                            </div>
                            <table class="table table-bordered table-sm">
                                <tbody>
                                    <tr class="text-center">
                                        <template v-for="field in fields">
                                            <th v-if="field.show">{{field.title}}</th>
                                        </template>
                                    </tr>
                                    <tr class="text-center">
                                        <template v-for="field in fields">
                                            <td v-if="field.show"><div :style="field.styles">{{field.value()}}</div></td>
                                        </template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import PrintHeader from '../Print/Header.vue';
    import BuildingCss from '../Helper/BuildingCss/BuildingCss.vue';
    export default {
        components : {BuildingCss,PrintHeader},
        data  : function () {
            let self = this;
            return {
                name : 'Cấu hình in danh sách vé',
                sampleData : {},
                fields : {
                    index : {
                        label : 'Số thứ tự',
                        title : 'STT',
                        show : true,
                        styles : 'text-align:center;',
                        value : function () {
                            return 1;
                        }
                    },
                    ticketCode : {
                        label : 'Mã vé',
                        title : 'Mã vé',
                        show : true,
                        styles : '',
                        value : function () {
                            return "20190817-82371";
                        }
                    },
                    fullName : {
                        label : 'Tên hành khách',
                        title : 'Hành khách',
                        show : true,
                        styles : '',
                        value : function () {
                            return "Nguyễn Văn Nam";
                        }
                    },
                    phoneNumber : {
                        label : 'Số điện thoại',
                        title : 'SDT',
                        show : true,
                        styles : '',
                        value : function () {
                            return "0985 087 964";
                        }
                    },
                    seatIds : {
                        label : 'Ghế',
                        title : 'Ghế',
                        show : true,
                        styles : '',
                        value : function () {
                            return "A11";
                        }
                    },
                    pointUp : {
                        label : 'Điểm lên',
                        title : 'Điểm lên',
                        show : true,
                        styles : '',
                        value : function () {
                            return "61 Ngụy như kon tum, Thanh xuân, Hà nội";
                        }
                    },
                    pointDown : {
                        label : 'Điểm xuống',
                        title : 'Điểm xuống',
                        show : true,
                        styles : '',
                        value : function () {
                            return "61 Ngụy như kon tum, Thanh xuân, Hà nội";
                        }
                    },
                    agencyPrice : {
                        label : 'Giá vé',
                        title : 'Giá vé',
                        show : true,
                        styles : 'text-align:right;',
                        value : function () {
                            return "100.000";
                        }
                    },
                    paidMoney : {
                        label : 'Đã thu',
                        title : 'Đã thu',
                        show : true,
                        styles : 'text-align:right;',
                        value : function () {
                            return "50.000";
                        }
                    },
                    unPaid : {
                        label : 'Chưa thu',
                        title : 'Còn lại',
                        show : true,
                        styles : 'text-align:right;',
                        value : function () {
                            return "50.000";
                        }
                    },
                    note : {
                        label : 'Ghi chú',
                        title : 'Ghi chú',
                        show : true,
                        styles : '',
                        value : function () {
                            return "61 Ngụy như kon tum, Thanh xuân, Hà nội";
                        }
                    }
                },
            }
        },
        mounted : function(){
            this.getSetting();
        },
        methods : {
            addStyle : function (key) {
                let self = this;
                self.fields[key].styles.push({
                    attr : null,
                    value : null,
                });
            },
            deleteStyle : function (fieldIndex,styleIndex) {
                let self = this;
                self.fields[fieldIndex].styles.splice(styleIndex,1);
            },
            saveSetting : function () {
                let self = this;
                let str = JSON.stringify(self.fields);
                localStorage.setItem('DisplaySettingPrintListTicket',str);
                notify("Lưu thông tin cấu hình thành công",'success');
            },
            getSetting : function () {
                let self = this;
                let str = localStorage.getItem('DisplaySettingPrintListTicket')||'{}';
                let data = JSON.parse(str);
                $.each(self.fields,function(k,v){
                    if(data[k]){
                        self.fields[k].title = data[k].title;
                        self.fields[k].show = data[k].show;
                        self.fields[k].styles = data[k].styles;
                    }
                });
            },
        }
    }
</script>