<template>
    <div class="row">
        <div class="col-12 title">
            <span>CẤU HÌNH IN PHIẾU THU</span>
            <span class="pull-right">
                <!--<button class="btn btn-sm btn-primary" @click="printTest()"><i class="fa fa-print"></i> In thử</button>-->
                <button class="btn btn-sm btn-primary" @click="saveSetting()"><i class="fa fa-save"></i> Lưu cấu hình</button>
                <!--<router-link class="btn btn-primary btn-sm" :to="{label : 'BillCreate',query : {billType:1}}"> <i class="fa fa-plus"></i> TẠO PHIẾU THU</router-link>-->
            </span>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="accordion" id="listField">
                        <template v-for="(field, f,index) in fields">
                            <div class="card">
                                <div class="bg-e" :id="f">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#'+f+'cl'">
                                        {{field.label}}
                                    </button>
                                    <label class="btn pull-right">
                                        <input type="checkbox" v-model="field.show" title="Ẩn / hiện" v-if="field.show!==undefined">
                                    </label>
                                </div>
                                <div :id="f+'cl'" class="collapse" :aria-labelledby="f" data-parent="#listField">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control form-control-sm" v-model="field.title">
                                        </div>
                                        <div class="form-group">
                                            <label>Thuộc tính</label>
                                            <building-css v-model="field.styles"></building-css>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="col-12 col-md-9 bg-seatMap">
                    <div class="printThis bg-white top20" :style="fields.form.styles">
                        <div class="w-100 text-center">
                            <img :src="fields.logo.value()" alt="" class="img-fluid" v-if="fields.logo.show" :style="fields.logo.styles">
                        </div>
                        <div v-show="fields.title.show" :style="fields.title.styles">{{fields.title.title}}</div>
                        <div v-show="fields.companyName.show" :style="fields.companyName.styles">{{fields.companyName.value()}}</div>
                        <div class="w-100" v-show="fields.barcode.show">
                            <barcode class="text-center" :value="fields.barcode.value()" displayValue="true" width="1" height="30" fontSize="20"></barcode>
                        </div>
                        <div v-show="fields.routeName.show">
                            <span>{{fields.routeName.title}}</span> <span :style="fields.routeName.styles">{{fields.routeName.value()}}</span>
                        </div>
                        <span v-show="fields.startTime.show" class="w-100">
                            <span>{{fields.startTime.title}}</span> <span :style="fields.startTime.styles">{{fields.startTime.value()|customDate('#hhhh#:#mm#, #DD#-#MM#-#YYYY#')}}</span>
                        </span>
                        <div v-show="fields.fullName.show">
                            <span>{{fields.fullName.title}}</span> <span :style="fields.fullName.styles">{{fields.fullName.value()}}</span>
                        </div>
                        <div v-show="fields.phoneNumber.show">
                            <span>{{fields.phoneNumber.title}}</span> <span :style="fields.phoneNumber.styles">{{fields.phoneNumber.value()}}</span>
                        </div>
                        <div v-show="fields.seatId.show">
                            <span>{{fields.seatId.title}}</span> <span :style="fields.seatId.styles">{{fields.seatId.value()}}</span>
                        </div>
                        <div v-show="fields.agencyPrice.show">
                            <span>{{fields.agencyPrice.title}}</span> <span :style="fields.agencyPrice.styles">{{fields.agencyPrice.value()}}</span>
                        </div>
                        <div v-show="fields.pointUp.show">
                            <span>{{fields.pointUp.title}}</span> <span :style="fields.pointUp.styles">{{fields.pointUp.value()}}</span>
                        </div>
                        <div v-show="fields.pointDown.show">
                            <span>{{fields.pointDown.title}}</span> <span :style="fields.pointDown.styles">{{fields.pointDown.value()}}</span>
                        </div>
                        <div v-show="fields.numberPlate.show">
                            <span>{{fields.numberPlate.title}}</span> <span :style="fields.numberPlate.styles">{{fields.numberPlate.value()}}</span>
                        </div>
                        <div v-show="fields.note.show">
                            <span>{{fields.note.title}}</span> <span :style="fields.note.styles">{{fields.note.value()}}</span>
                        </div>
                        <div v-show="fields.hotline.show" class="top10 border-top" :style="fields.hotline.styles">
                            {{fields.hotline.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BuildingCss from '../Helper/BuildingCss/BuildingCss.vue';
    export default {
        components : {BuildingCss},
        data  : function () {
            let self = this;
            return {
                name : 'Cấu hình in vé',
                sampleData : {},
                fields : {
                    form : {
                        label : 'Mẫu',
                        title : '',
                        styles : 'width:80mm;padding:5px;font-family:"Fira Sans Extra Condensed"',
                    },
                    companyName : {
                        label : 'Tên công ty',
                        title : '',
                        show : true,
                        styles : 'text-align:center;',
                        value : function () {
                            return self.userInfo.userInfo.companyName;
                        }
                    },
                    companyAddress : {
                        label : 'Địa chỉ công ty',
                        title : '',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.userInfo.companyAddress;
                        }
                    },
                    logo : {
                        label : 'Logo',
                        title : 'Logo',
                        show : true,
                        styles : 'width:100px',
                        value : function () {
                            return self.userInfo.logo;
                        }
                    },
                    barcode : {
                        label : 'barcode',
                        title : 'barcode',
                        show : true,
                        styles : '',
                        value : function () {
                            return '190211-283712';
                        }
                    },
                    title : {
                        label : 'Tiêu đề',
                        title : 'PHIẾU ĐẶT CHỖ',
                        show : true,
                        styles : 'text-align:center;font-size:20px;'
                    },
                    fullName : {
                        label : 'Hành khách',
                        title : 'Hành khách : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "Hào";
                        }
                    },
                    phoneNumber : {
                        label : 'SDT khách',
                        title : 'SDT : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "01235619179";
                        }
                    },
                    routeName : {
                        label : 'Tuyến',
                        title : 'Tuyến : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "Hà Nội - Quảng Ninh";
                        }
                    },
                    seatId : {
                        label : 'Ghế',
                        title : 'Ghế : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return '0985087896';
                        }
                    },
                    startTime : {
                        label : 'Giờ chạy',
                        title : 'Giờ chạy : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return 50000;
                        }
                    },
                    agencyPrice : {
                        label : 'Thực thu',
                        title : 'Giá vé : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return '500,000';
                        }
                    },
                    numberPlate : {
                        label : 'Xe',
                        title : 'Xe : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return '19025';
                        }
                    },
                    note : {
                        label : 'Ghi chú',
                        title : 'Ghi chú : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "vé này đã thanh toán";
                        }
                    },
                    pointUp : {
                        label : 'Điểm lên',
                        title : 'Lên : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "61 Ngụy như kon tum ";
                        }
                    },
                    pointDown : {
                        label : 'Điểm xuống',
                        title : 'Xuống : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return "sunworld Hạ long";
                        }
                    },
                    hotline : {
                        label : 'hotline',
                        title : 'hotline : 1900 7034',
                        show : true,
                        styles : '',
                        value : function () {
                            return "0123456789";
                        }
                    },
                },
            }
        },
        mounted : function(){
            this.getSetting();
        },
        methods : {
            addStyle : function (key) {
                let self = this;
                self.fields[key].styles.push({
                    attr : null,
                    value : null,
                });
            },
            deleteStyle : function (fieldIndex,styleIndex) {
                let self = this;
                self.fields[fieldIndex].styles.splice(styleIndex,1);
            },
            saveSetting : function () {
                let self = this;
                let str = JSON.stringify(self.fields);
                localStorage.setItem('DisplaySettingPrintTicket',str);
                notify("Lưu thông tin cấu hình thành công",'success');
            },
            getSetting : function () {
                let self = this;
                let str = localStorage.getItem('DisplaySettingPrintTicket')||'{}';
                let data = JSON.parse(str);
                $.each(self.fields,function(k,v){
                    if(data[k]){
                        self.fields[k].title = data[k].title;
                        self.fields[k].show = data[k].show;
                        self.fields[k].styles = data[k].styles;
                    }
                });
            },
            printTest :function () {
                $(this.$el).find('.printThis').parent().printThis();
            }
        }
    }
</script>