<template>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalGoods" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">LÝ LỊCH</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <template v-for="(pro,p) in hrmProperties">
                        <button :class="['btn', p==activeProperty?'btn-primary':'btn-outline-primary']" :key="p" @click="activeProperty=p">{{pro.label}}</button>&nbsp;
                    </template>
                    <div class="w-100" v-if="activeProperty!==null&&user">
                        <rop ref="ropComponent" v-if="activeProperty == 0" :user-id="user.id"></rop>
                        <health ref="healthComponent" v-if="activeProperty == 2" :user-id="user.id"></health>
                        <training-course ref="trainingCourseComponent" v-if="activeProperty == 4" :user-id="user.id"></training-course>
                        <traffic-violation ref="trafficViolationComponent" v-if="activeProperty == 3" :user-id="user.id"></traffic-violation>
                        <work-process ref="trafficViolationComponent" v-if="activeProperty == 1" :user-id="user.id"></work-process>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {HRM} from "../../class/hrm";
    import rop from "./RoP";
    import Health from "./Health";
    import TrainingCourse from "./TrainingCourse";
    import TrafficViolation from "./TrafficViolation";
    import WorkProcess from "./WorkPro";

    export default {
        components : {rop,Health,TrainingCourse,TrafficViolation,WorkProcess},
        data : function () {
            return {
                hrmProperties : HRM.properties(),
                activeProperty : 0,
                user : null
            }
        },
        methods : {
            open : function (user) {
                let self = this;
                let oldTab = _.cloneDeep(this.activeProperty);
                this.activeProperty = null;
                this.user = _.cloneDeep(user);
                $(this.$el).modal('show');
                setTimeout(function () {
                    self.activeProperty = oldTab;
                },100);
            }
        }
    }
</script>