<template>
    <table class="table table-sm">
        <thead>
            <tr>
                <th style="width: 100px">Hình thức</th>
                <th>Nội dung</th>
                <th style="width: 100px">Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(ro,r) in listROP.list">
                <tr v-if="rop&&rop.id == ro.id" :key="ro.id">
                    <td>
                        <select class="form-control form-control-sm" v-model="rop.isAward">
                            <template  v-for="r in roPP">
                                <option :value="r.value">{{r.label}}</option>
                            </template>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" v-model="rop.content">
                    </td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-success" @click="rop.save(function() {listROP.getList(function() {rop=null})})"><i class="fa fa-check"></i></button>
                        <button class="btn btn-sm btn-danger" @click="rop = null"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <tr v-else :key="ro.id">
                    <td>{{ro.labelAward()}}</td>
                    <td>{{ro.content}}</td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-primary" @click="updateRoP(ro)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" @click="ro.remove(function() {listROP.getList()})"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </template>
        <tr v-if="rop&&!rop.id">
            <td>
                <select class="form-control form-control-sm" v-model="rop.isAward">
                    <template  v-for="r in roPP">
                        <option :value="r.value">{{r.label}}</option>
                    </template>
                </select>
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="rop.content">
            </td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="rop.save(function() {listROP.getList(function() {rop=null})})"><i class="fa fa-check"></i></button>
                <button class="btn btn-sm btn-danger" @click="rop = null"><i class="fa fa-times"></i></button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="newRop()"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {ListRoP,RoP} from "../../class/hrm";

    export default {
        props : {
            userId : {
                type : String
            }
        },
        data : function () {
            return {
                listROP : new ListRoP({userId:this.userId}),
                roPP : RoP.isAwardProperties(),
                rop : null
            }
        },
        created : function () {
            this.listROP.getList();
        },
        methods : {
            updateRoP : function (_rop) {
                this.rop = _.cloneDeep(_rop)
            },
            newRop : function () {
                this.rop = new RoP({userId:this.userId});
            }
        }
    }
</script>