<template>
    <table class="table table-sm">
        <thead>
        <tr>
            <th style="width: 250px">Thời gian</th>
            <th>Lỗi vi phạm</th>
            <th>Hình thức xử lý</th>
            <th>Ghi chú</th>
            <th style="width: 100px">Tùy chọn</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(value,key) in listTrafficViolation.list">
            <tr v-if="trafficViolation&&trafficViolation.id == value.id" :key="value.id">
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="trafficViolation.date">
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="trafficViolation.violation">
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="trafficViolation.condemnation">
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="trafficViolation.note">
                </td>
                <td class="text-right">
                    <button class="btn btn-sm btn-success" @click="trafficViolation.save(function() {listTrafficViolation.getList(function() {trafficViolation=null})})"><i class="fa fa-check"></i></button>
                    <button class="btn btn-sm btn-danger" @click="trafficViolation = null"><i class="fa fa-times"></i></button>
                </td>
            </tr>
            <tr v-else :key="value.id">
                <td>{{value.date}}</td>
                <td>{{value.violation}}</td>
                <td>{{value.condemnation}}</td>
                <td>{{value.note}}</td>
                <td class="text-right">
                    <button class="btn btn-sm btn-primary" @click="updateTrafficViolation(value)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" @click="value.remove(function() {listTrafficViolation.getList()})"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </template>
        <tr v-if="trafficViolation&&!trafficViolation.id">
            <td>
                <input type="text" class="form-control form-control-sm" v-model="trafficViolation.date">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="trafficViolation.violation">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="trafficViolation.condemnation">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="trafficViolation.note">
            </td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="trafficViolation.save(function() {listTrafficViolation.getList(function() {trafficViolation=null})})"><i class="fa fa-check"></i></button>
                <button class="btn btn-sm btn-danger" @click="trafficViolation = null"><i class="fa fa-times"></i></button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="newTrafficViolation()"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {ListTrafficViolation,TrafficViolation} from "../../class/hrm";

    export default {
        props : {
            userId : {
                type : String
            }
        },
        data : function () {
            return {
                listTrafficViolation : new ListTrafficViolation({userId:this.userId}),
                trafficViolation : null
            }
        },
        created : function () {
            this.listTrafficViolation.getList();
        },
        methods : {
            updateTrafficViolation : function (prop) {
                this.trafficViolation = _.cloneDeep(prop)
            },
            newTrafficViolation : function () {
                this.trafficViolation = new TrafficViolation({userId:this.userId});
            }
        }
    }
</script>