<template>
    <table class="table table-sm">
        <thead>
        <tr>
            <th style="width: 250px">Chương trình đào tạo, tập huấn</th>
            <th>Thời gian tổ chức</th>
            <th>Đơn vị tổ chức</th>
            <th>Thời hạn Giấy chứng nhận tập huấn</th>
            <th style="width: 100px">Tùy chọn</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(value,key) in listTrainingCourse.list">
            <tr v-if="trainingCourse&&trainingCourse.id == value.id" :key="value.id">
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="trainingCourse.name">
                </td>
                <td>
                    Từ ngày:
                    <datepicker class-input="form-control-sm" v-model="trainingCourse.startDate"></datepicker>
                    Đến ngày:
                    <datepicker class-input="form-control-sm" v-model="trainingCourse.endDate"></datepicker>
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="trainingCourse.host">
                </td>
                <td>
                    <datepicker class-input="form-control-sm" v-model="trainingCourse.expiredDate"></datepicker>
                </td>
                <td class="text-right">
                    <button class="btn btn-sm btn-success" @click="trainingCourse.save(function() {listTrainingCourse.getList(function() {trainingCourse=null})})"><i class="fa fa-check"></i></button>
                    <button class="btn btn-sm btn-danger" @click="trainingCourse = null"><i class="fa fa-times"></i></button>
                </td>
            </tr>
            <tr v-else :key="value.id">
                <td>{{value.name}}</td>
                <td><b>{{value.startDate}}</b> đến <b>{{value.endDate}}</b></td>
                <td>{{value.host}}</td>
                <td>{{value.expiredDate}}</td>
                <td class="text-right">
                    <button class="btn btn-sm btn-primary" @click="updateTrainingCourse(value)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" @click="value.remove(function() {listTrainingCourse.getList()})"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </template>
        <tr v-if="trainingCourse&&!trainingCourse.id">
            <td>
                <input type="text" class="form-control form-control-sm" v-model="trainingCourse.name">
            </td>
            <td>
                Từ ngày:
                <datepicker class-input="form-control-sm" v-model="trainingCourse.startDate"></datepicker>
                Đến ngày:
                <datepicker class-input="form-control-sm" v-model="trainingCourse.endDate"></datepicker>
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="trainingCourse.host">
            </td>
            <td>
                <datepicker class-input="form-control-sm" v-model="trainingCourse.expiredDate"></datepicker>
            </td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="trainingCourse.save(function() {listTrainingCourse.getList(function() {trainingCourse=null})})"><i class="fa fa-check"></i></button>
                <button class="btn btn-sm btn-danger" @click="trainingCourse = null"><i class="fa fa-times"></i></button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="newTrainingCourse()"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {ListTrainingCourse,TrainingCourse} from "../../class/hrm";

    export default {
        props : {
            userId : {
                type : String
            }
        },
        data : function () {
            return {
                listTrainingCourse : new ListTrainingCourse({userId:this.userId}),
                trainingCourse : null
            }
        },
        created : function () {
            this.listTrainingCourse.getList();
        },
        methods : {
            updateTrainingCourse : function (prop) {
                this.trainingCourse = _.cloneDeep(prop)
            },
            newTrainingCourse : function () {
                this.trainingCourse = new TrainingCourse({userId:this.userId});
            }
        }
    }
</script>