<template>
    <table class="table table-sm">
        <thead>
        <tr>
            <th rowspan="2" style="width: 250px">Thời gian</th>
            <th rowspan="2">Hạng GPLX</th>
            <th colspan="2" class="text-center">Điều khiển xe</th>
            <th rowspan="2">Hình thức hợp đồng LĐ</th>
            <th rowspan="2" style="width: 100px">Tùy chọn</th>
        </tr>
        <tr>
            <th>Loại xe</th>
            <th>Sức chứa</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(value,key) in listWorkProcess.list">
            <tr v-if="workProcess&&workProcess.id == value.id" :key="value.id">
                <td>
                    <datepicker class-input="form-control-sm" v-model="workProcess.date"></datepicker>
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="workProcess.licenseLevel">
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="workProcess.vehicleControlling.vehicleType">
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="workProcess.vehicleControlling.load">
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="workProcess.contactType">
                </td>
                <td class="text-right">
                    <button class="btn btn-sm btn-success" @click="workProcess.save(function() {listWorkProcess.getList(function() {workProcess=null})})"><i class="fa fa-check"></i></button>
                    <button class="btn btn-sm btn-danger" @click="workProcess = null"><i class="fa fa-times"></i></button>
                </td>
            </tr>
            <tr v-else :key="value.id">
                <td>{{value.date}}</td>
                <td>{{value.licenseLevel}}</td>
                <td>{{value.vehicleControlling.vehicleType}}</td>
                <td>{{value.vehicleControlling.load}}</td>
                <td>{{value.contactType}}</td>
                <td class="text-right">
                    <button class="btn btn-sm btn-primary" @click="updateWorkProcess(value)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" @click="value.remove(function() {listWorkProcess.getList()})"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </template>
        <tr v-if="workProcess&&!workProcess.id">
            <td>
                <datepicker class-input="form-control-sm" v-model="workProcess.date"></datepicker>
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="workProcess.licenceLevel">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="workProcess.vehicleControlling.vehicleType">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="workProcess.vehicleControlling.load">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" v-model="workProcess.contactType">
            </td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="workProcess.save(function() {listWorkProcess.getList(function() {workProcess=null})})"><i class="fa fa-check"></i></button>
                <button class="btn btn-sm btn-danger" @click="workProcess = null"><i class="fa fa-times"></i></button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                <button class="btn btn-sm btn-success" @click="newWorkProcess()"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {ListWorkProcess,WorkProcess} from "../../class/hrm";

    export default {
        props : {
            userId : {
                type : String
            }
        },
        data : function () {
            return {
                listWorkProcess : new ListWorkProcess({userId:this.userId}),
                workProcess : null
            }
        },
        created : function () {
            this.listWorkProcess.getList();
        },
        methods : {
            updateWorkProcess : function (prop) {
                this.workProcess = _.cloneDeep(prop)
            },
            newWorkProcess : function () {
                this.workProcess = new WorkProcess({userId:this.userId});
            }
        }
    }
</script>