<template>
    <el-select :size="size" :disabled="disabled" :value="value" :clearable="clearable" @input="$emit('input',$event)"
               filterable :default-first-option="defaultFirstOption"
               :placeholder="value&&value.name?value.name:placeholder" value-key="id">
        <!--<div v-infinite-scroll="this.options.getList(1)" infinite-scroll-delay="200">-->
        <el-option
                v-for="item in options"
                :key="item.id"
                :label="item.name"
                :value="item">
        </el-option>
        <!--</div>-->
    </el-select>
</template>
<script>
    export default {
        props: {
            size: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'Lựa chọn'
            },
            value: {
                default: null,
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
            defaultFirstOption: {
                default: false,
            }
        },
        data: function () {
            return {
                options: [],
                loading: false,
            }
        },
        mounted: function () {
            this.getOptions();
        },
        methods: {
            getOptions: function () {
                let self = this;
                // if(!self.$root.roles.WORK_SHIFT_GET_LIST){
                //     return false;
                // }
                self.loading = true;
                let dataSend = {
                    page: 0,
                    count: 500
                };
                sendParam({
                    url: urlDBD(API.goodsV2TransportType),
                    data: dataSend,
                    type: 'get',
                    success: function (data) {
                        self.options = data.results.transportTypes;
                        self.loading = false;
                    },
                    functionIfError: function (res) {
                        self.loading = false;
                    }
                });
            }
        },
    }
</script>