<template>
    <section class="PriceComponent">
        <div class="header-price-list">
            <div class="container">
                <h5>Loại hình vận chuyển</h5>
            </div>
        </div>
        <div class="container">
            <table class="table table-sm table-striped">
                <thead class="bg-anvui text-white">
                <tr>
                    <td>Tên loai hình</td>
                    <td style="width: 150px">Tùy chọn</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input class="form-control" type="text" style="background: transparent;border:1px dashed"
                               v-model="transportTypeNameAddName" placeholder="Thêm loại hình vận chuyển mới...">
                    </td>
                    <td>
                        <el-button type="success" circle @click="create()"><i class="fa fa-plus"></i></el-button>
                    </td>
                </tr>
                <template v-for="(type,t) in transportTypes">
                    <template v-if="transportTypeUpdate&&transportTypeUpdate.id === type.id">
                        <tr>
                            <td>
                                <input class="form-control" :class="['element-transport-type-'+type.id]" type="text"
                                       style="background: transparent;border:1px dashed"
                                       v-model="transportTypeUpdate.name"
                                       placeholder="Thêm loại hình vận chuyển mới...">
                            </td>
                            <td>
                                <el-button type="success" circle @click="update()" icon="el-icon-check"></el-button>
                                <el-button circle @click="transportTypeUpdate = null" icon="el-icon-close"></el-button>
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td>
                                {{type.name}}
                            </td>
                            <td>
                                <el-button type="primary" circle @click="doUpdate(type)"
                                           icon="el-icon-edit"></el-button>
                                <!--<el-button type="danger" circle @click="create()"><i class="fa fa-trash"></i></el-button>-->
                            </td>
                        </tr>
                    </template>
                </template>
                </tbody>
            </table>
        </div>
    </section>
</template>
<script>
    export default {
        data: function () {
            return {
                transportTypes: [],
                transportTypeNameAddName: '',
                transportTypeUpdate: null,
            }
        },
        mounted: function () {
            this.getList();
        },
        methods: {
            getList: function () {
                let self = this;
                self.load('getList');
                let dataSend = {
                    page: 0,
                    count: 500
                };
                sendParam({
                    url: urlDBD(API.goodsV2TransportType),
                    data: dataSend,
                    type: 'get',
                    success: function (data) {
                        self.transportTypes = data.results.tranportTypes;
                        self.unload('getList');
                    },
                    functionIfError: function (res) {
                        self.unload('getList');
                    }
                });
            },
            create: function () {
                let self = this;
                let dataSend = {
                    name: self.transportTypeNameAddName
                };
                if (!self.transportTypeNameAddName) {
                    return false;
                }
                if (!self.transportTypeNameAddName) {
                    return false;
                }
                self.load('create');
                sendJson({
                    url: urlDBD(API.goodsV2TransportType),
                    data: dataSend,
                    success: function (data) {
                        self.transportTypeNameAddName = '';
                        self.getList();
                        self.unload('create');
                    },
                    functionIfError: function (res) {
                        self.unload('create');
                    }
                });
            },
            update: function () {
                let self = this;
                let dataSend = {
                    id: self.transportTypeUpdate.id,
                    name: self.transportTypeUpdate.name
                };
                if (!self.transportTypeUpdate.id || !self.transportTypeUpdate.name) {
                    return false;
                }
                self.load('update');
                sendJson({
                    url: urlDBD(API.goodsV2TransportType),
                    data: dataSend,
                    success: function (data) {
                        self.transportTypeUpdate = null;
                        self.getList();
                        self.unload('update');
                    },
                    functionIfError: function (res) {
                        self.unload('update');
                    }
                });
            },
            doUpdate: function (type) {
                this.transportTypeUpdate = _.cloneDeep(type);
                setTimeout(function () {
                    $('.element-transport-type-' + type.id).focus()
                }, 300);


            }
        }
    }
</script>