<template>
    <div class="managerShippingArea" style="margin-bottom: 70px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="shippingArea-head">
                        <h3>Quản lý khu vực</h3>
                        <div v-if="$root.roles.COMPANY_REGION_CREATE">
                            <button class="btn btn-success" data-toggle="modal" data-target="#addShippingArea"><i
                                    class="fa fa-plus"></i> Thêm khu vực
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="shippingArea-filter">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Tỉnh thành</label>
                        <multiselect @input="getCompanyRegion" select-label="" :allowEmpty="true" track-by="id"
                                     deselect-label="" v-model="filter.province" :options="provinces"
                                     label="provinceName" placeholder="Nhập tìm kiếm">
                            <template slot="clear">
                                <div class="multiselect__clear" title="Xóa tỉnh thành đang chọn"
                                     @mousedown.prevent.stop="clearPovinceFilter($event)" v-if="filter.province"><i
                                        class="fa fa-trash text-danger"></i></div>
                            </template>
                        </multiselect>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Tên đường</label>
                        <input type="text" v-model="filter.name" v-on:keyup.enter="getCompanyRegion"
                               placeholder="Nhập khu vực" class="form-control">
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Địa chỉ</label>
                        <input type="text" v-model="filter.address" v-on:keyup.enter="getCompanyRegion"
                               placeholder="Nhập địa chỉ" class="form-control">
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="" style="visibility: hidden;">aaaaaa</label>
                        <button class="btn btn-info btn-block text-light" @click="getCompanyRegion">Tìm kiếm</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="shippingArea-list">
                        <table class="table table-bordered">
                            <thead>
                            <th>Stt</th>
                            <th>Tên khu vực</th>
                            <th>Tỉnh thành</th>
                            <th>Tên đường (giá tiền)</th>
                            <th style="width: 10%"></th>
                            </thead>
                            <tbody v-if="regions.length > 0">
                            <tr v-for="(region, index) in regions" :key="region.id">
                                <td>{{ index + 1 }}</td>
                                <td>{{ region.name }}</td>
                                <td>{{ region.province }}</td>
                                <td>
                                    <span class="address-item" v-for="(value,index) in region.addressesPrice" :key="index">
                                        {{value.nameAddr}}: {{value.priceAddr | number}}
                                    </span>
                                </td>
                                <td>
                                    <a href="javascript:;" class="icon bg-warning" @click="create(region)"><i
                                            class="fas fa-pen"></i></a>
                                    <a href="javascript:;" class="icon bg-danger" @click="remove(region.companyRegionPriceId)"><i
                                            class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                            <tbody v-else>
                            <td colspan="6" class="text-center">Không có khu vực nào</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <button class="btn btn-sm btn-outline-dark float-left" v-if="filter.page != 0"
                                @click="filter.page -= 1; getCompanyRegion()"><i class="fas fa-arrow-left"></i> Trang {{
                            filter.page }}
                        </button>
                        <button class="btn btn-sm btn-outline-dark float-right"
                                v-if="regions.length > 0 && regions.length >= filter.size"
                                @click="filter.page += 1; getCompanyRegion()">Trang {{ filter.page + 2 }} <i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="addShippingArea">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" v-if="!regionSelected">Thêm khu vực</h4>
                        <h4 class="modal-title" v-else>Cập nhật khu vực</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="">
                            <div class="form-group">
                                <label for="">Tên khu vực</label>
                                <input placeholder="Nhập tên khu vực" type="text" v-model="editor.name" class="form-control">
                                <p class="error">{{ errorBag.name }}</p>
                            </div>
                            <div class="form-group">
                                <label for="">Tỉnh thành</label>
                                <multiselect select-label="" :allowEmpty="false" track-by="provinceName"
                                             deselect-label="" v-model="editor.province" :options="provinces"
                                             label="provinceName" placeholder="Chọn tỉnh thành"></multiselect>
                                <p class="error">{{ errorBag.province }}</p>
                            </div>
                            <div class="form-group">
                                <label for="">Danh sách tên đường</label>
                                <div>
                                    <div class="address-input" v-for="(value,index) in editor.addresses" :key="index">
                                        <div class="grid-container">
                                            <input placeholder="Tên đường" type="text" class="form-control" v-model="value.nameAddr">
                                            <input placeholder="Giá đi kèm" type="number" class="form-control" v-model="value.priceAddr">
                                            <span class="btn btn-danger" @click="decreaseAddressField(index)"
                                                v-if="editor.addresses.length >= 2">
                                            <i class="fas fa-minus"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="action__add-address-field" @click="increaseAddressField">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <p class="error">{{ errorBag.addresses }}</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button v-if="!regionSelected" type="button" class="btn btn-primary" @click="save()">Lưu
                        </button>
                        <button v-else type="button" class="btn btn-primary" @click="update()">Cập nhật</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>

                    </div>
                </div>
            </div>
        </div>
</div>
</template>

<script>
    export default {
    data : function () {
        return {
            provinces : [],
            regions: [],
            regionSelected: false,
            editor: {
                name: "",
                province: "",
                addresses: [
                    {
                        nameAddr: '',
                        priceAddr: 0,
                    }
                ],
            },
            filter: {
                province: "",
                address: "",
                name: "",
            },
            errorBag: {
                name: "",
                province: "",
                addresses: "",
            }
        }
    },
    mounted : function(){
        this.getProvinceDistrict();
        this.getCompanyRegion();

        let self = this;
        $('#addShippingArea').on('hidden.bs.modal', function (e) {
            self.regionSelected = false;
            self.resetEditor();
        })
    },
    methods: {
        increaseAddressField: function() {
            let self = this;
            self.editor.addresses.push({
                nameAddr: '',
                priceAddr: 0,
            })
        },
        decreaseAddressField: function(index) {
            let self = this;
            if(self.editor.addresses.length > 1) {
                self.editor.addresses.splice(index,1);
            } 
        },
        getWithDefaultFilter: function() {
            let self = this;

            self.filter.province = "";
            self.filter.address = "";
            self.filter.name = "";
            
            self.getCompanyRegion();
        },
        resetEditor: function() {
            let self = this;

            self.editor.name = "";
            self.editor.province = "";
            self.editor.addresses = [{'': 0}];

            self.errorBag.name = "";
            self.errorBag.province = "";
            self.errorBag.addresses = "";

            
        },
        clearPovinceFilter: function(e) {
            let self = this;

            self.filter.province = "";

            self.getCompanyRegion();
        },
        validate: function() {
            let self = this;
            let statusName = true, statusProvince  = true, statusAddress = true;
            if(self.editor.name.trim() == "") {
                self.errorBag.name = "Tên khu vực không được bỏ trống"; 
                statusName = false;
            } else {
                self.errorBag.name = "";
                statusName = true;
            }

            if(self.editor.province === "") {
                self.errorBag.province = "Tỉnh thành không được bỏ trống"; 
                statusProvince = false;
            } else {
                statusProvince = true;
                self.errorBag.province = "";
            }

            self.editor.addresses.forEach(function(value,key){
                if(value.nameAddr.trim() === "") {
                    self.errorBag.addresses = "Tên đường không được bỏ trống"; 
                    statusAddress = false;
                    return;
                } else {
                    statusAddress = true;
                    self.errorBag.addresses = "";
                }
            })
            

            return statusName && statusProvince && statusAddress;
        },
        save: function() {
            let self = this;

            if( !self.validate() ) return;
            
            self.load('save');
            let params = {
                name: self.editor.name,
                province: self.editor.province.provinceName,
                addressesPrice: {},
            };
            self.editor.addresses.forEach((value, index, array) => {
                params.addressesPrice[value.nameAddr.toString()] = Number(value.priceAddr);
            })
            console.log(params);
            sendJson({
                url : urlDBD(API.regionPriceCreate),
                method: "POST",
                data: params,
                success : function (res) {
                    self.getWithDefaultFilter();
                    self.unload('save');
                    $('#addShippingArea').modal('hide');
                    self.getCompanyRegion();
                },
                functionIfError : function () {
                    self.unload('save');

                }
            })
            self.resetEditor();
        },
        create: function(region = {}) {
            let self = this;
            $('#addShippingArea').modal('show')

            self.regionSelected = region;
            self.editor.name = region.name;
            self.editor.province = self.provinces.filter(_ => _.provinceName == region.province )[0] || {};
            self.editor.addresses = region.addressesPrice;
        },
        update: function() {
            let self = this;
            if( !self.validate() ) return;
            self.load('update');
            let params = {
                id: self.regionSelected.companyRegionPriceId,
                name: self.editor.name,
                province: self.editor.province.provinceName,
                addressesPrice: {},
            };
            self.editor.addresses.forEach((value, index, array) => {
                params.addressesPrice[value.nameAddr.toString()] = Number(value.priceAddr);
            })
            sendJson({
                url : urlDBD(API.regionPriceUpdate),
                method: "POST",
                data: params,
                success : function (res) {
                    self.getCompanyRegion();
                    self.unload('update');
                    self.regionSelected = false;
                    $('#addShippingArea').modal('hide');
                    self.getCompanyRegion();
                },
                functionIfError : function () {
                    self.unload('update');

                }
            })

            self.resetEditor();
        },
        remove: function(id) {
            if(!confirm("Bạn chắc chắn xóa khu vực này !")) return;
            let self = this; 

            self.load('remove');
            sendJson({
                url : urlDBD(API.regionPriceDelete) + "?id=" + id,
                method: "POST",
                success : function (res) {
                    self.getCompanyRegion()
                    self.unload('remove');
                },
                functionIfError : function () {
                    self.unload('remove');

                }
            })
        },
        getProvinceDistrict : function() {
            let self = this;
            self.load('getProvinceDistrict');
            sendJson({
                url : urlDBD(API.pointProvinceDistrict),
                success : function (res) {
                    self.provinces = res.results.result;
                    // self.provinces = res.results.result;
                    self.unload('getProvinceDistrict');
                },
                functionIfError : function () {
                    self.unload('getProvinceDistrict');

                }
            })
        },
        getCompanyRegion: function() {
            let self = this;
            let params = {
                companyId: userInfo.userInfo.companyId
            };

            if(self.filter.name != "") {
                params.name = self.filter.name;
            }
            if(self.filter.province != "") {
                params.province = self.filter.province.provinceName;
            }
            if(self.filter.address != "") {
                params.address = self.filter.address;
            }
            
            self.load('getCompanyRegion');
            
            sendParam({
                url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-company-region-price',
                data: params,
                method: "GET",
                success : function (res) {
                    self.regions = res.map(x => {
                        const addressesObj = JSON.parse(x.addressesPrice);
                        const addressArr = Object.keys(addressesObj).map((key) => {
                            let address = {
                                nameAddr: key,
                                priceAddr: Number(addressesObj[key])
                            }
                            return address
                        });
                        x.addressesPrice = addressArr;
                        return x;
                    });
                    console.log(self.regions);
                    self.unload('getCompanyRegion');
                },
                functionIfError : function () {
                    self.unload('getCompanyRegion');

                }
            })
        }
    }
}
</script>

<style scoped>
.managerShippingArea {
    padding: 40px 80px;
}

.shippingArea-head{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.shippingArea-filter{
    margin-bottom: 20px;
}
.shippingArea-list .icon {
    width: 25px;
    height: 25px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.modal .close[data-dismiss=modal]{
    color: #fff
}
.modal-header{

    align-items: center;
}
.pagination-wrap{
    display: flex;
    justify-content: space-between;
}
.address-item::after{
    content: ",";
    display: inline-block;
}

.address-item:last-child::after {
    content: "";
    display: inline-block;
}
.error{
    font-size: 12px;
    font-weight: bold;
    color: #dc3333;
    margin-top: 5px;
}
.multiselect__clear i:hover{
    cursor: pointer;
}

.address-input span {
    margin-left: 10px;
}

.address-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.action__add-address-field{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1.5px dashed #2176bd;
    color: #2176bd;
}
.grid-container {
    display: grid;
    grid-template-columns: 40% 40% 10%;
    grid-gap: 1rem;
}
</style>