<template>
    <el-select :size="size" :disabled="disabled" :value="value" :multiple="multiple" :clearable="clearable"
               @input="$emit('input',$event)"
               @load="$emit('load')"
               filterable remote :remote-method="getOptions" :placeholder="placeholder"
               value-key="id" @focus="getOptions()" v-on:visible-change="visible=$event">
        <!--<div v-infinite-scroll="this.options.getList(1)" infinite-scroll-delay="200">-->
        <el-option
                v-for="item in options"
                :key="item.id"
                :label="item.name"
                :value="item">
        </el-option>
        <!--</div>-->
    </el-select>
</template>
<script>
    export default {
        props: {
            size: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'Khu vực'
            },
            value: {
                default: null,
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
            multiple: {
                default: false,
            },
            setFirst: {
                default: true,
            },
            findAddress: {
                default: ''
            },
            province: {
                default: ''
            },
            department: {
                default: null
            }
        },
        data: function () {
            return {
                options: [],
                loading: false,
                visible: false//open
            }
        },
        mounted: function () {
            if (this.value) {
                if (this.multiple) {
                    this.options = _.cloneDeep(this.value);
                } else {
                    this.options = [_.cloneDeep(this.value)];
                }
            }
        },
        methods: {
            getOptions: function (address, callback) {
                let self = this;
                if (!self.$root.roles.COMPANY_REGION_GET_LIST) {
                    return false;
                }
                self.loading = true;
                let dataSend = {
                    page: 0,
                    count: 30,
                    address: address
                };
                if (self.department !== null) {
                    dataSend.department = self.department;
                }
                if (self.province !== null) {
                    dataSend.province = self.province;
                }
                sendParam({
                    url: urlDBD(API.regionGet),
                    data: dataSend,
                    type: 'get',
                    success: function (data) {
                        self.options = data.results.result;
                        self.loading = false;
                        if (typeof callback === "function") {
                            callback();
                        }
                    },
                    functionIfError: function (res) {
                        self.loading = false;
                    }
                });
            },
            clearAll: function () {
                this.input(null);
            },
            input: function (value) {
                this.$emit('input', value);
            },
            load: function () {
                this.$emit('load', this.options);
            },
            debounceSearch: _.debounce(function (self, newVal) {
                if (newVal) {
                    self.getOptions(newVal, function () {
                        if (self.setFirst) {
                            let val = _.first(self.options);
                            if (!val) {
                                return false;
                            }
                            if (self.multiple) {
                                val = [val];
                            }
                            self.$emit('input', val)
                        }
                    });
                }
            }, 300),
        },
        watch: {
            findAddress: function (newVal) {
                this.debounceSearch(this, newVal);
            },
            value: function (val) {
                if (!this.visible && val) {
                    if (this.multiple) {
                        this.options = _.cloneDeep(val);
                    } else {
                        this.options = [_.cloneDeep(val)];
                    }
                }
            }
        }
    }
</script>
