<template>
    <div class="row">
        <div class="col-12 form-group d-none">
            <label>userName trình duyệt lấy input trước để filluserName vào nên để cái này cho không ảnh hưởng đênsearch</label>
            <input type="text" name="userName">
        </div>
        <div class="col-12 form-group">
            <label>Mật khẩu cũ</label>
            <input type="password" name="oldPass" class="form-control" v-model="oldPassword">
        </div>
        <div class="col-12 form-group">
            <label>Mật khẩu mới</label>
            <input type="password" name="newPass" class="form-control" v-model="newPassword">
        </div>
        <div class="col-12 form-group">
            <label>Nhập lại mật khẩu mới</label>
            <input type="password" name="reNewPass" class="form-control" v-model="reNewPassword">
        </div>
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                oldPassword : '',
                newPassword : '',
                reNewPassword : ''
            }
        },
        methods :{
            refresh : function () {
                this.oldPassword = '';
                this.newPassword = '';
                this.reNewPassword = '';
            },
            save : function () {
                let self = this;
                if(self.newPassword.length<6||self.newPassword.length>30){
                    notify("Mật khẩu phải trên 6 kí tự và dưới 30 kí tự");
                    return false;
                }
                if(self.newPassword !== self.reNewPassword){
                    notify("Mật khẩu nhập lại không trùng với mật khẩu mới");
                    return false;
                }
                self.load('changePass');
                sendJson({
                    url :urlDBD(API.userChangePassword),
                    data : {
                        oldPassword : self.oldPassword,
                        newPassword : self.newPassword,
                    },
                    success : function(res){
                        self.$emit('event',{eventName : 'changeSuccess',data: res});
                        self.unload('changePass');
                    },
                    functionIfError : function (err) {
                        self.$emit('event',{eventName : 'changeError',data: err});
                        self.unload('changePass');
                    }
                })
            }
        }
    }
</script>