<template>
    <div class="container" style="margin-top: 80px">
        <div class="row">
            <div class="col-auto heading-title">
                Bảo mật đăng nhập
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-6 col-md form-group">
                <label>Chọn nhân viên</label>
                <select-user v-model="List.user" class="w-100"></select-user>
            </div>
            <div class="col-6 col-md form-group">
                <label>Chọn trạng thái</label>
                <el-select v-model="List.status" class="w-100" clearable placeholder="Tất cả trạng thái">
                    <el-option
                        v-for="item in statusList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="col-6 col-md form-group">
                <label class="w-100">&nbsp;</label>
                <el-button type="primary" plain  @click="List.getList()" :loading="List.loading">Lọc kết quả</el-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" v-loading="List.loading">
                <el-table :data="List.list" border style="width: 100%">
                    <el-table-column type="index" :index="function($event) {return $event+1}" class-name="text-center" label="STT"></el-table-column>
                    <el-table-column label="Mã đăng nhập" class-name="font-weight-bold">
                        <template slot-scope="scope">
                            {{scope.row.accessCode}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Nhân viên">
                        <template slot-scope="scope">
                            {{scope.row.user.fullName}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Ghi chú">
                        <template slot-scope="scope">
                            {{scope.row.note}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Thời gian" class-name="font-weight-bold">
                        <template slot-scope="scope">
                            {{scope.row.createdDate}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Tùy chọn" fixed="right">
                        <template slot-scope="scope">
                            <el-dropdown trigger="click" @command="updateStatus(scope.row,$event)">
                                <span class="el-dropdown-link cursor-pointer" :style="{color:scope.row.status.color()} ">{{scope.row.status.label()}} <i class="el-icon-arrow-down el-icon--right"></i></span>
                                <el-dropdown-menu slot="dropdown">
                                    <template v-for="(stt,s) in statusList">
                                        <el-dropdown-item :command="stt.value" :style="{color: stt.color}">{{stt.label}}</el-dropdown-item>
                                    </template>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="col-12 top20 text-center">
                <el-link type="primary" @click="List.getList({page : 1})" v-if="!List.loading&&List.loadMore">Xem thêm</el-link>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectUser from '../User/SelectUser';
    import {LoginSecurityStatus,LoginSecurities} from "../../class/user";

    export default {
        components : {SelectUser},
        data : function () {
            return {
                List : new LoginSecurities(),
                statusList : LoginSecurityStatus.properties()
            }
        },
        mounted : function(){
            this.List.getList();
        },
        methods : {
            updateStatus : function(item,stt){
                console.log(item,stt);
                let self = this;
                let obj = _.cloneDeep(item);
                obj.status.value = stt;
                obj.save({
                    success : function () {
                        self.List.getList();
                    }
                });
            }
        }

    }
</script>