<template>
    <div class="row respon-page">
        <div class="col-12 title">
            <div class="row">
                <div class="col-auto">
                    {{$t('menu.user-login-history')}}
                </div>
                <!--<div class="col text-right">-->
                    <!--<button class="btn btn-sm btn-outline-primary text-uppercase" @click="openModalAddBill(1)" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-plus"></i> {{$t('button.create-revenue-note')}}</button>-->
                    <!--<button class="btn btn-sm btn-outline-primary text-uppercase" @click="openModalAddBill(2)" v-if="$root.roles.RECEIPT_AND_PAYMENT_CREATE"><i class="fa fa-minus"></i> {{$t('button.create-expenses-note')}}</button>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-12">
            <div class="content-row">
                <div class="row">
                    <div class="col-12 col-md-4 form-group">
                        <label class="w-100">{{$t('time')}}</label>
                        <el-date-picker class="w-100" :clearable="false" :picker-options="options" v-model="date" format="dd-MM-yyyy" value-format="dd-MM-yyyy" type="daterange" start-placeholder="Start date" end-placeholder="End date">
                            <span slot="range-separator">Đến</span>
                        </el-date-picker>
                    </div>
                    <div class="col-6 col-md-3 form-group">
                        <label>{{$t('employee')}}</label>
                        <select-user v-model="user" :allowEmpty="true" :user-type="[2,3,4,5,6,7]"></select-user>
                    </div>
                    <div class="col-6 col-md-1">
                        <div class="form-group">
                            <label> &nbsp;</label>
                            <button v-loading="loading" @click="get()" class="btn btn-success btn-block text-uppercase" style="padding: 7px;"><i class="fa fa-search"></i> {{$t('button.filter')}}</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" v-loading="loading">
                    <table class="table table-bordered table-sm top20 text-center bill-table">
                        <thead>
                            <tr>
                                <th>Ngày</th>
                                <th>Tài khoản</th>
                                <th>Họ tên</th>
                                <th>SDT</th>
                                <th>Nền tảng</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <template v-for="(dt,d) in data">
                            <tr>
                                <td>{{dt.createdDate|customDate('#DD#-#MM#-#YYYY#  #hhhh#:#mm#:#ss#')}}</td>
                                <td>{{dt.userInfo.userName}}</td>
                                <td>{{dt.userInfo.fullName}}</td>
                                <td>0{{dt.userInfo.phoneNumber}}</td>
                                <td>{{getLabelPlatform(dt.platform)}}</td>
                                <td v-html="getLabelType(dt.type)"></td>
                            </tr>
                        </template>
                    </table>
                </div>
                <div class="col-12 text-center" v-if="loadMore&&!loading">
                    <button class="btn btn-link" @click="get(1)"> Xem thêm >></button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectUser from './SelectUser';
    import {Platform} from '../../class/platform'
    import { mapState} from 'vuex';
    export default {
        components : {SelectUser},
        data : function () {
            return {
                options: {
                    disabledDate : (time)=>{
                        return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
                    }
                },
                data : [],
                page : 0,
                count : 100,
                loadMore : true,
                loading: false,
                date : [
                    new Date().customFormat('#DD#-#MM#-#YYYY#'),
                    new Date().customFormat('#DD#-#MM#-#YYYY#')
                ],
                user : null
            }
        },
        mounted : function () {
            this.get(0);
        },
        computed: {
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
        },
        methods : {
            get : function (number) {
                let self = this;
                if(!number){
                    self.page=0;
                }
                self.loading = true;
                self.loadMore = true;
                let params = {
                    page : self.page,
                    count :self.count,
                    startTime : func.dateToMS(self.date[0]),
                    endTime :func.dateToMS(self.date[1]),
                };
                if(self.user) {
                    params.userId = self.user.id;
                }
                sendJson({
                    url : urlDBD(API.userLoginHistory),
                    data : params,
                    success : function (data) {
                        self.page++;
                        if(data.results.data.length<self.count){
                            self.loadMore =false;
                        }
                        self.loading = false;
                        self.data = data.results.data;
                    },
                    functionIfError : function (data) {
                        self.loading = false;
                    }
                });
            },
            getLabelPlatform : function (key) {
                return new Platform(key).label();
            },
            getLabelType : function (key) {
                let str = '';
                switch (key) {
                    case 'LOG_IN' :
                        str = '<i class="fa fa-sign-in-alt text-success"></i> Đăng nhập';
                        break;
                    case 'LOG_OUT' :
                        str = '<i class="fa fa-sign-out-alt text-danger"></i> Đăng xuất';
                        break;
                }
                return str;
            }
        },
    }
</script>