<template>
    <div class="container" style="margin-top: 80px">
        <div class="row">
            <div class="col-auto heading-title">
                Danh sách đăng nhập chờ duyệt
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-6 col-md form-group">
                <label>Chọn tuyến</label>
                <select-user v-model="user" class="w-100"></select-user>
            </div>
            <div class="col-6 col-md form-group">
                <label>Chọn sơ đồ</label>
                <select-box-seat-map v-model="pricePolicies.seatMap" class="w-100"></select-box-seat-map>
            </div>
            <div class="col-6 col-md form-group">
                <label class="w-100">&nbsp;</label>
                <el-button type="primary" plain :loading="pricePolicies.loading">Lọc kết quả</el-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" v-loading="pricePolicies.loading">
                <el-table :data="pricePolicies.list" border style="width: 100%">
                    <el-table-column type="index" :index="function($event) {return $event+1}" class-name="text-center" label="STT"></el-table-column>
                    <el-table-column label="Tuyến">
                        <template slot-scope="scope">
                            {{scope.row.route.routeName}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Sơ đồ">
                        <template slot-scope="scope">
                            {{scope.row.seatMap.name}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Ngày bắt đầu">
                        <template slot-scope="scope">
                            {{scope.row.startDate|strToDate}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Ngày kết thúc">
                        <template slot-scope="scope">
                            {{scope.row.endDate<0?'':scope.row.endDate|strToDate}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Tùy chọn" fixed="right">
                        <template slot-scope="scope">
                            <div  v-loading="scope.row.loading">
                                <el-button type="primary" icon="el-icon-edit" @click="update(scope.row)" size="mini" :loading="scope.row.loading" circle></el-button>
                                <el-popconfirm :title="$t('notify.confirm-delete')" confirmButtonText="Ok" @onConfirm="scope.row.remove({success: function() {pricePolicies.getList()}})" cancel-button-text="Cancel">
                                    <el-button type="danger" slot="reference" icon="el-icon-delete" circle size="mini"></el-button>
                                </el-popconfirm>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="col-12 top20 text-center">
                <el-link type="primary" @click="pricePolicies.getList({page : 1})" v-if="!pricePolicies.loading&&pricePolicies.loadMore">Xem thêm</el-link>
            </div>
        </div>

        <el-dialog custom-class="modal-lg padding-24" style="color: #000" :visible.sync="dialogAddVisible">
            <div class="heading-title" slot="title">Thêm mới chính sách</div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogAddVisible = false">Đóng</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
    import SelectUser from '../User/SelectUser';

    export default {
        components : {SelectUser},
        data : function () {
            return {
                user:null,

            }
        },
        methods : {

        }

    }
</script>
<style scoped>
    .heading-title{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
    }
    label{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
</style>