<template>
    <select-q v-if="$root.roles.EMPLOYEE_GET_LIST" @view="emitView" :view="view" :placeholder="placeholder" :allow-empty="allowEmpty"
              :multiple="multiple" :options="options.list" :value="value" @input="$emit('input',$event)" track-by="id"
              label="fullName" @open="options.keyword = ''; options.getList()" :loading="options.loading" :size="size"
              :load-more="options.loadMore" @scroll-load="options.keyword = $event; options.getList(1);"
              @search="options.keyword = $event; options.getList();"></select-q>
</template>
<script>
    import {Users} from "../../class/user";
    import SelectQ from '../Helper/SelectQ';

    export default {
        props : {
            value : {
                default: null,
            },
            userType : {
                default : function () {
                    return [2,3,4,5,6];
                },
            },
            multiple : {
                type : Boolean,
                default : false,
            },
            getAgency : {
                type : Boolean,
                default : false,
            },
            placeholder : {
                type : String,
                default : "Nhập để tìm kiếm",
            },
            size : {
                type : String,
                default : "",
            },
            view: {
                type: Boolean,
                default: false,
            },
            allowEmpty: {
                type: Boolean,
                default: true,
            },
            userStatus : {
                type : Array,
                default : function () {
                    return [1,3,4]
                },
            }
        },
        components : {SelectQ},
        data : function () {
            let self = this;
            return {
                options : new Users({listUserType : self.userType,getAgency:self.getAgency,userStatus: self.userStatus})
            }
        },
        methods : {
            emitView: function ($event) {
                this.$emit('view', $event)
            },
            getId : function (type) {
                let self = this;
                if(self.multiple){
                    let ids = [];
                    if(self.value){
                        $.each(self.value,function (u,user) {
                            if(type=='listArray'){
                                ids.push(user.id);
                            }else{
                                ids.push({id : user.id});
                            }

                        });
                    }
                    return ids;
                }else{
                    return self.value.id;
                }
            },
            getIdString : function(){
                if(this.multiple){
                    let ids = [];
                    $.each(this.value,function (u,user) {
                        ids.push(user.id);
                    });
                    return ids.toString();
                }else{
                    return this.value.id
                }
            }

        }
    }
</script>
