<template>
    <div class="row">
        <div class="col-12"><h3>{{fullName}}</h3></div>
        <div class="col-12 form-group">
            <label>Nhóm quyền</label>
            <select-permission v-model="roles" :multiple="true"></select-permission>
        </div>
    </div>
</template>
<script>
    import SelectPermission from '../GroupPermission/SelectGroupPermission';
    export default {
        components : {SelectPermission},
        data : function () {
            return {
                id : null,
                fullName : '',
                roles : null,
            }
        },
        methods : {
            refresh : function (user) {
                this.id = user.id;
                this.fullName = user.fullName||'';
                if(user.roles){
                    this.roles = user.roles;
                }else{
                    this.roles = null;
                }
            },
            save : function () {
                let self= this;
                if(!self.id){
                    notify("Chưa có nhân viên");
                    return false;
                }
                let data = {
                    userId : self.id,
                    listRoleId : []
                }
                if(self.roles){
                    $.each(self.roles,function (r,role) {
                        data.listRoleId.push(role.id);
                    });
                }
                self.load('permissionGrantForUser');
                sendJson({
                    url : urlDBD(API.permissionGrantForUser),
                    data :data,
                    success : function (data) {
                        self.$emit('event',{eventName : 'saveSuccess',data : data});
                        self.unload('permissionGrantForUser');
                    },
                    functionIfError :function (err) {
                        self.$emit('event',{eventName : 'saveSuccess',data : err});
                        self.unload('permissionGrantForUser');
                    }
                })
            }
        }
    }
</script>