<template>
    <div class="row">
        <div class="col-12 col-md-2">
            <div class="w-100 text-center">
                <uploadimage v-model="avatar" :iconSize="128"></uploadimage>
            </div>
            <div class="w-100 text-center"> ẢNH ĐẠI DIỆN</div>
            <div class="w-100 form-group">
                <label class="font-weight-normal">Tài khoản <span class="text-danger font-weight-bold">*</span></label>
                <input type="text" readonly class="form-control" pattern="[a-zA-Z0-9.@]{6,25}" v-model="userName">
            </div>
            <!--<div class="w-100 form-group">-->
                <!--<label class="font-weight-normal">Mật khẩu <span class="text-danger font-weight-bold">*</span></label>-->
                <!--<input type="password" class="form-control" v-model="password">-->
            <!--</div>-->
        </div>
        <div class="col-12 col-md-5">
            <div class="title w-100">Thông tin nhân viên</div>
            <div class="form-group">
                <label class="font-weight-normal">Họ tên <span class="text-danger">*</span></label>
                <input type="text" class="form-control" v-model="fullName">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Số điện thoại <span class="text-danger">*</span></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="custom-select" >
                            <template v-for="(state, key) in stateCode">
                                <option :value="key">{{key}}</option>
                            </template>
                        </select>
                    </div>
                    <input type="text" class="form-control" v-model="phoneNumber"  pattern="[0-9]{9,11}">
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Số máy nhánh</label>
                <div class="input-group">
                    <select class="form-control" v-model="branchTelecomNumber">
                        <option v-for="phone in listPhone" :value="phone.number">{{ phone.number }}</option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="font-weight-normal">Mật khẩu <span class="text-danger font-weight-bold">*</span></label>-->
            <!--<input type="password" class="form-control" v-model="password">-->
            <!--</div>-->
            <div class="form-group">
                <label class="font-weight-normal">Ngày sinh</label>
                <datepicker :readonly="false" v-model="birthday"></datepicker>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Giới tính</label>
                <div class="w-100">
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input" id="NamAdd" v-model="sex" :value="1">
                        <label class="form-check-label font-weight-normal" for="NamAdd">Nam</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input" id="NuAdd" v-model="sex" :value="2">
                        <label class="form-check-label font-weight-normal" for="NuAdd">Nữ </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Địa chỉ</label>
                <input type="text" class="form-control" v-model="homeTown">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Email</label>
                <input type="text" class="form-control" v-model="email">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Số CMT / Thẻ căn cước</label>
                <input type="text" class="form-control" v-model="identityCardNumber"  pattern="[0-9]{5,20}">
            </div>
            <!-- <div class="form-group">
                <label class="font-weight-normal">Ngày cấp CMT / Thẻ</label>
                <datepicker :readonly="false" v-model="issuedDate"></datepicker>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Nơi cấp cấp CMT / Thẻ</label>
                <input type="text" class="form-control" v-model="issuedPlace">
            </div> -->
        </div>
        <div class="col-12 col-md-5">
            <div class="title w-100">Thông tin với công ty</div>
            <div class="form-group">
                <label class="font-weight-normal">Mã nhân sự</label>
                <input type="text" class="form-control" v-model="code">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Văn phòng</label>
                <select-point class="w-100" :value="room" v-model="selectedRoom" :pointType="8"></select-point>
            </div>
            <!-- <div class="form-group">
                <label class="font-weight-normal">Ngày vào công ty</label>
                <datepicker :readonly="false" v-model="joinDate"></datepicker>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Mã máy sử dụng (cách nhau bởi dấu phảy)</label>
                <input type="text" class="form-control" v-model="listWhiteMAC">
            </div>-->
            <div class="form-group">
                <label class="font-weight-normal">Nhóm quyền <span class="text-danger">*</span></label>
                <select-group-permission v-model="roles" :multiple="true"></select-group-permission>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Chức vụ <span class="text-danger">*</span></label>
                <select class="form-control" v-model="userType">
                    <template v-for="(userType,ut) in userTypes">
                        <option :value="userType.value">{{ userType.name }}</option>
                    </template>
                </select>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Bộ phận <span class="text-danger">*</span></label>
                <el-select v-model="departments" multiple placeholder="Lựa chọn bộ phận" class="w-100">
                    <el-option v-for="item in regions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </div>
            <div class="form-group">
                <label class="font-weight-normal">Khu vực</label>
                <select-region class="w-100" v-model="regionsInfo" :multiple="true"></select-region>
            </div>
            <template v-if="userType==2">
                <div class="form-group">
                    <label class="font-weight-normal">Hạng bằng lái <span class="text-danger">*</span></label>
                    <select class="form-control" v-model="licenceLevel">
                        <template v-for="(level,l) in $root.licenceLevels">
                            <option :value="l">{{ level }}</option>
                        </template>
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal">Phương tiện</label>
                    <select-vehicle class="w-100" v-model="vehicleInfo"></select-vehicle>
                </div>
                <!-- <div class="form-group">
                    <label class="font-weight-normal">Số bằng lái</label>
                    <input type="text" class="form-control" v-model="licenceCode">
                </div> -->
                <div class="form-group">
                    <label class="font-weight-normal">Ngày hết hạn <span class="text-danger">*</span></label>
                    <datepicker :readonly="false" v-model="licenceExpired"></datepicker>
                </div>
            </template>
            <template v-else>
                <div class="form-group">
                    <label class="font-weight-normal">Trình độ học vấn</label>
                    <select class="form-control" v-model="education">
                        <option :value="'Trung học cơ sở'">Trung học cơ sở</option>
                        <option :value="'Trung học phổ thông'">Trung học phổ thông</option>
                        <option :value="'Đại học'">Đại học</option>
                        <option :value="'Thạc sĩ'">Thạc sĩ</option>
                        <option :value="'Tiến sĩ'">Tiến sĩ</option>
                    </select>
                </div>
            </template>
        </div>
    </div>
</template>
<script>
    import {RegionDepartment} from "../../class/region";
    import SelectGroupPermission from '../GroupPermission/SelectGroupPermission.vue';
    import SelectVehicle from '../Vehicle/SelectVehicle';
    import SelectRegion from "../Region/SelectRegion";
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex';

    export default {
        components: {SelectGroupPermission, SelectVehicle,SelectRegion,SelectPoint},
        data : function (){
            return {
                listPhone: [],
                regions : RegionDepartment.properties(),
                departments : [],
                regionsInfo : [],
                userTypes : [
                    {
                        value : 2,
                        name : 'Lái xe',
                    },
                    {
                        value : 3,
                        name : 'Phụ xe',
                    },
                    {
                        value : 4,
                        name : 'Kế toán',
                    },
                    {
                        value : 5,
                        name : 'Nhân viên hành chính',
                    },
                    {
                        value : 6,
                        name : 'Thanh tra',
                    },
                ],
                avatar : '',
                userId : '',
                fullName : '',
                birthday : '',
                phoneNumber : '',
                sex : 1,
                homeTown : '',
                email : '',
                identityCardNumber : '',
                issuedDate : '',
                issuedPlace :'',
                branchTelecomNumber: '',
                code :'',
                joinDate :'',
                department :'',
                roles : null,
                listWhiteMAC : '',
                userType : 2,
                licenceLevel : 'B1',
                licenceCode : '',
                licenceExpired : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                education : 'Trung học phổ thông',
                userName : '',
                password : '',
                stateCode: StateCode,
                vehicleInfo: null,
                selectedRoom: null,
            }
        },
        computed: {
            ...mapState({
                room: state => state.room,
            }),
        },
        mounted() {
            this.getListPhone()
        },
        methods : {
            getListPhone : function () {
                let self = this;
                self.load("getListPhone");
                sendJson({
                    url : urlDBD(API.telecomList),
                    data : {
                        page :0,
                        count : func.count50(),
                    },
                    success : function (res) {
                        console.log(res)
                        self.listPhone = res.results.result
                        self.unload("getListPhone");
                    },
                    functionIfError : function (err) {
                        self.unload("getListPhone");
                    }
                })
            },
            refresh : function (user) {
                this.userId = user.id;
                this.avatar = user.avatar;
                this.fullName = user.fullName;
                this.birthday = new Date(user.birthDay).customFormat('#DD#-#MM#-#YYYY#');
                this.phoneNumber = user.phoneNumber;
                this.branchTelecomNumber = user.branchTelecomNumber
                this.sex = user.sex;
                this.homeTown = user.homeTown||'';
                this.email = user.email||'';
                this.identityCardNumber = user.identityCard.identityCardNumber;
                // this.issuedDate = user.identityCard.issuedDate;
                // this.issuedPlace = user.identityCard.issuedPlace;

                this.code = user.code;
                this.selectedRoom = user.room;
                this.joinDate = user.joinDate;
                // this.department = user.department;
                this.roles =  user.roles;
                this.listWhiteMAC = user.listWhiteMAC;
                this.userType = user.userType;
                this.licenceLevel = user.licenceLevel;
                this.licenceCode = user.licenceCode;
                this.licenceExpired = new Date(user.licenceExpired).customFormat('#DD#-#MM#-#YYYY#');
                this.education = user.education;
                this.departments = user.departments;
                this.regionsInfo = user.regionsInfo;
                this.vehicleInfo = null;
                if (user.vehicleInfo) {
                    this.vehicleInfo = {
                        vehicleId: user.vehicleInfo.id,
                        numberPlate: user.vehicleInfo.numberPlate,
                        vehicleType: user.vehicleInfo.vehicleType,
                        seatMapId: user.vehicleInfo.seatMapId
                    }
                }

                this.userName = user.userName;
                // this.password = user.password;
            },
            save : function (){
                let self = this;
                if(!self.fullName){
                    notify('Vui lòng nhập họ tên ',"error");
                    return false;
                }
                if(!self.phoneNumber){
                    notify('Vui lòng nhập số điện thoại ',"error");
                    return false;
                }
                if(!self.roles){
                    notify('Vui lòng chọn nhóm quyền ',"error");
                    return false;
                }
                let param = {
                    // userName : self.userName,
                    userId : self.userId,
                    // userName : self.userName,
                    // password : self.password,

                    avatar : self.avatar,
                    fullName : self.fullName,
                    phoneNumber : self.phoneNumber,
                    birthDay : func.dateToMS(self.birthday),
                    // dob : func.dateToMS(self.birthday),
                    sex : self.sex,
                    // gender : self.sex,
                    homeTown : self.homeTown,
                    email : self.email,
                    identityCardNumber: self.identityCardNumber,
                    branchTelecomNumber: self.branchTelecomNumber,
                    // citizenId : self.identityCardNumber,
                    // issuedDate : self.issuedDate,
                    // issuedPlace : self.issuedPlace,

                    // code : self.code,
                    personalCode : self.code,
                    // joinDate : func.dateToMS(self.joinDate),
                    listWhiteMAC : self.listWhiteMAC,
                    userType : self.userType,
                    companyPosition : self.userType,
                    roles : self.roles,
                    departments : self.departments,
                    regionsInfo : self.regionsInfo,
                }
                if(self.selectedRoom){
                    param.room=self.selectedRoom;
                }
                if (self.vehicleInfo) {
                    param.vehicleInfo = {
                        id: self.vehicleInfo.vehicleId
                    };
                }
                if(self.userType !==2){
                    param.education = self.education;
                }else{
                    param.licenceLevel = self.licenceLevel;
                    param.license = self.license;
                    // param.licenceCode = self.licenceCode;
                    param.licenceExpired = func.dateToMS(self.licenceExpired);
                }
                self.load('updateUser');
                sendJson({
                    url : urlDBD(API.userUpdateInfo),
                    // url : urlDBD(API.userV2StaffCreate),
                    data : param,
                    success : function (res) {
                        notify("Thực thi thành công");
                        self.unload('updateUser');
                        self.$emit('event',{eventName : 'saveSuccess',data : res});
                    },
                    functionIfError : function (err) {
                        self.unload('updateUser');
                        self.$emit('event',{eventName : 'saveError',data : err});
                    }
                })
            }
        }
    }
</script>