<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col text-uppercase">
                    {{$t('list-employee')}}
                </div>
                <div class="col-auto">
                    <button class="btn btn-success btn-sm" @click="openModalAddUser()" v-if="$root.roles.EMPLOYEE_CREATE"><i class="fa fa-plus-circle"></i> {{$t('add-employee')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8 col-md-3 form-group">
                    <label class="font-weight-normal">{{$t('employee-name')}}</label>
                    <input type="text" class="form-control" v-model="fullName">
                </div>
                <div class="col-8 col-md-3 form-group">
                    <label class="font-weight-normal">{{$t('user-type')}}</label>
                    <multiselect :options="listTypes" label="label" :multiple="true" track-by="value" v-model="listUserType"></multiselect>
                </div>
                <div class="col-4 col-md-3">
                    <label class="font-weight-normal">&nbsp;</label>
                    <button class="btn btn-primary btn-block" @click="getUsers()">{{$t('button.search-profile')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 top10" v-if="users">
            <table class="table table-sm table-striped table-respon">
                <thead>
                    <tr>
                        <th width="50" class="text-center">{{$t('No-')}}</th>
                        <th>{{$t('employee-name')}}</th>
                        <th>{{$t('phone-number')}}</th>
                        <th>{{$t('gender')}}</th>
                        <th>Tài khoản</th>
                        <th>{{$t('position')}}</th>
                        <th>Phòng vé</th>
                        <th>{{$t('menu.permission')}}</th>
                        <th class="text-center">{{$t('status')}}</th>
                        <th class="text-right">{{$t('option')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(user,u) in users">
                        <tr>
                            <td class="text-center">{{u+1}}</td>
                            <td>{{user.fullName}}</td>
                            <td>0{{user.phoneNumber|phoneNumber}}</td>
                            <td>{{user.sex==1 ? $t('male') : $t('female')}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{$root.userType[user.userType]}}</td>
                            <td>
                                <span v-if="user.room">
                                    {{user.room.name}}
                                </span>
                                <span v-else>

                                </span>
                            </td>
                            <td>
                                <div v-if="user.roles">
                                    <template v-for="(role,r) in user.roles">
                                        <span class="badge badge-success">{{ role.name }}</span>&nbsp;
                                    </template>
                                </div>
                            </td>
                            <td class="text-center"><i class="fa" :class="[user.userStatus==2 ? 'fa-lock':'fa-check text-success']"></i></td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-light" @click="hanlderGetUserHistory(user.id)" title="Lịch sử  tài khoản nhân viên">
                                    <i class="fas fa-user-clock"></i>
                                </button>
                                <button class="btn btn-sm btn-light" v-if="$root.isAdmin()"
                                        title="đặt về mật khẩu mặc định: 1234567" @click="refreshPassword(user)"><i
                                        class="fas fa-sync-alt"></i></button>
                                <button class="btn btn-sm btn-light" v-if="$root.roles.EMPLOYEE_UPDATE"
                                        :title="$t('edit')" @click="$refs.hrmComponent.open(user)"><i
                                        class="fa fa-info"></i></button>
                                <button class="btn btn-sm btn-primary" v-if="$root.roles.EMPLOYEE_UPDATE"
                                        :title="$t('edit')" @click="openModalUpdateUser(user)"><i
                                        class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-warning" v-if="$root.roles.EMPLOYEE_UPDATE" :title="$t('lock-account')" @click="lockUser(user.id)"><i class="fa" :class="[user.userStatus==2?'fa-unlock':'fa-lock']" data-toogle="tooltip"></i></button>
                                <button class="btn btn-sm btn-info" v-if="$root.roles.EMPLOYEE_UPDATE" :title="$t('update-permissions')" @click="openModalUpdatePermissionUser(user)"><i class="fa fa-user-tag"></i></button>
                                <button class="btn btn-sm btn-danger" :title="$t('delete-account')" @click="deleteUser(user.id)" v-if="$root.roles.EMPLOYEE_DELETE"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success btn-sm" @click="exportExcel()">Xuất Excel</button>
                    <button :disabled="!loadMore" class="btn btn-success btn-sm" @click="getMoreUsers()">Tải thêm</button>
                </div>
            </div>
        </div>
        <el-dialog
            title="Lịch sử  tài khoản nhân viên"
            :visible.sync="userHistoryModal"
            width="70%">
            <table class="table" v-loading="userHistoryLoading">
                <thead>
                    <th style="width: 15%">Ngày cập nhật</th>
                    <th>Nội dung</th>
                    <th>Người cập nhật</th>
                </thead>
                <tbody>
                    <tr v-for="(history,key) in userHistory" :key="key">
                        <td> <b>{{ history.timeUpdate | customDate('#DD#/#MM#/#YYYY# #hhhh#h:#mm#',true) }}</b> </td>
                        <td>
                            <div class="row mb-2" v-if="history.updatedDetails.birthDay">
                                <div class="col-3"><b>Ngày sinh:</b></div>
                                <div class="col-9">{{ history.updatedDetails.birthDay }}</div>
                            </div>
                            <div class="row mb-2" v-if="history.updatedDetails.email">
                                <div class="col-3"><b>Email:</b></div>
                                <div class="col-9">{{ history.updatedDetails.email }}</div>
                            </div>
                            <div class="row mb-2" v-if="history.updatedDetails.fullName">
                                <div class="col-3"><b>Họ tên:</b></div>
                                <div class="col-9">{{ history.updatedDetails.fullName }}</div>
                            </div>
                            <div class="row mb-2" v-if="history.updatedDetails.phoneNumber">
                                <div class="col-3"><b>Số điện thoại:</b></div>
                                <div class="col-9">{{ history.updatedDetails.phoneNumber }}</div>
                            </div>
                            <div class="row mb-2" v-if="history.updatedDetails.roles">
                                <div class="col-3"><b>Quyền:</b></div>
                                <div class="col-9">{{ history.updatedDetails.roles }}</div>
                            </div>
                            <div class="row mb-2" v-if="history.updatedDetails.room">
                                <div class="col-3"><b>Phòng vé:</b></div>
                                <div class="col-9">{{ history.updatedDetails.room }}</div>
                            </div>
                            <div class="row mb-2" v-if="history.updatedDetails.departments">
                                <div class="col-3"><b>Bộ phận:</b></div>
                                <div class="col-9">{{ departments[ history.updatedDetails.departments ] ? departments[ history.updatedDetails.departments ].label : "" }}</div>
                            </div>
                            <div class="row mb-2" v-if="history.updatedDetails.identityCardNumber">
                                <div class="col-3"><b>CMND:</b></div>
                                <div class="col-9">{{ history.updatedDetails.identityCardNumber }}</div>
                            </div>

                        </td>
                        <td>
                            <b>{{ history.updatedDetails.userUpdate ? history.updatedDetails.userUpdate : "" }}</b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span slot="footer" class="dialog-footer">
                <el-button @click="userHistoryModal = false">Đóng</el-button>
            </span>
        </el-dialog>
        <div class="modal fade bd-example-modal-lg" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUser" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('add-employee')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <add-user ref="AddUserComponent" @event="eventAddUser"></add-user>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddUserComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdatePermissionForUser" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePermissionForUser" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('edit-permissions')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <update-permission-for-user ref="UpdatePermissionForUserComponent" @event="eventUpdatePermissionForUser"></update-permission-for-user>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdatePermissionForUserComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="modalUpdateUser" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('button.update')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <update-user ref="UpdateUserComponent" @event="eventUpdateUser"></update-user>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateUserComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <hrm ref="hrmComponent"></hrm>
    </div>
</template>
<script>
    import {RegionDepartment} from "../../class/region";
    import AddUser from './AddUser';
    import UpdatePermissionForUser from './UpdatePermissionForUser';
    import UpdateUser from './UpdateUser';
    import {UserType} from "../../class/user";
    import hrm from '../HRM/HRM';

    export default {
        components : {AddUser,UpdatePermissionForUser,UpdateUser,hrm},
        data : function () {
            return {
                departments: RegionDepartment.properties(),
                userHistory: [],
                userHistoryModal: false,
                userHistoryLoading: false,
                fullName : '',
                users : [],
                page : 0,
                count : func.count50(),
                loading: false,
                loadMore: true,
                listUserType: [],
                listTypes : $.grep(UserType.properties(),function (u,type) {
                    return u.employees
                })
            }
        },
        mounted: function(){
            let self = this;
            this.getUsers();
            window.addEventListener('scroll', this.listedScroll);
        },
        destroyed: function() {
            window.removeEventListener('scroll', this.listedScroll);
        },
        methods : {
            hanlderGetUserHistory (userId) {
                let self = this
                this.userHistory = null
                this.userHistoryModal = true
                this.userHistoryLoading = true

                sendJson({
                    url : 'https://asia-northeast1-dobody-anvui.cloudfunctions.net/get-user-log',
                    data : {
                        "companyId": this.userInfo.userInfo.companyId,
                        "userIds": [userId]
                    },
                    success: function (data) {
                        let historyDetail = data.map(value => {
                            try {
                                value.updatedDetails = JSON.parse(value.updatedDetails)
                            } catch(e) {
                                value.updatedDetails = {}
                            }

                            return value
                        })
                        
                        self.userHistory = historyDetail
                        self.userHistoryLoading = false
                    },
                    functionIfError: function (data) {
                        self.userHistoryLoading = false
                        self.userHistoryModal = false
                    }
                });
            },

            listedScroll: function () {
                let self = this;
                let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
                if(bottomOfWindow) {
                    console.log('End of page');
                    self.getMoreUsers();
                }
            },

            getMoreUsers: function() {
                let allowLoadMore = !this.loading && this.loadMore;
                if(!allowLoadMore) {
                    console.log('Can not load more!');
                    return;
                }
                this.page++;
                this.getUsers(true);
            },
            getUsers : function (isLoadMore = false) {
                let self = this;
                self.loading = true;
                self.load('getUsers');
                if(isLoadMore === false) {
                    self.users = [];
                    self.page = 0;
                }
                let dataReq = {
                    page : self.page,
                    count : self.count,
                    fullName : self.fullName,
                    listUserType : [2,3,4,5,6]
                };
                if(self.listUserType.length > 0) {
                    dataReq.listUserType = self.listUserType.map(type => type.value);
                }
                
                sendJson({
                    url : urlDBD(API.userListJson),
                    data : dataReq,
                    success : function (data) {
                        self.users = self.users.concat(data.results.result);

                        self.loading = false;
                        self.loadMore = data.results.result.length < self.count ? false : true;

                        self.unload('getUsers');
                    },
                    functionIfError : function (data) {
                        self.page--;
                        self.loading = false;
                        self.unload('getUsers');
                    }
                });
            },
            openModalAddUser : function () {
                $(this.$el).find('#modalAddUser').modal('show');
            },
            openModalUpdatePermissionUser : function (user) {
                this.$refs.UpdatePermissionForUserComponent.refresh(user);
                $(this.$el).find('#modalUpdatePermissionForUser').modal('show');
            },
            openModalUpdateUser : function (user) {
                this.$refs.UpdateUserComponent.refresh(user);
                $(this.$el).find('#modalUpdateUser').modal('show');
            },
            refreshPassword: function (user) {
                if (!confirm("Bạn chắc chắn muốn đặt lại mật khẩu? Mật khẩu mới sẽ là 1234567.")) {
                    return false;
                }
                let self = this;
                self.load('refreshPassword');
                sendJson({
                    url: urlDBD(API.userUpdateInfo),
                    // url : urlDBD(API.userV2StaffCreate),
                    data: {
                        userName: user.userName,
                        userId: user.id,
                        password: '1234567'
                    },
                    success: function (res) {
                        notify("mật khẩu đã đổi thành mặc định 1234567", "success");
                        self.unload('refreshPassword');
                    },
                    functionIfError: function (err) {
                        self.unload('refreshPassword');
                    }
                })
            },
            lockUser : function(id){
                let self = this;
                self.load('lockUser');
                sendJson({
                    url : urlDBD(API.userLock),
                    data : {
                        userId : id
                    },
                    success : function(res){
                        notify(self.$t('notify.execute-success'),'success');
                        self.unload('lockUser');
                        self.getUsers();
                    },
                    functionIfError : function(err){
                        self.unload('lockUser');
                    }
                })
            },
            deleteUser : function(id){
                let self = this;
                if(!confirm(this.$t('notify.confirm-delete-account'))){
                    return false;
                }
                self.load('deleteUser');
                sendJson({
                    url : urlDBD(API.userDelete),
                    data : {
                        userId : id
                    },
                    success : function(res){
                        notify(self.$t('notify.deleted-account'),'success');
                        self.unload('deleteUser');
                        self.getUsers();
                    },
                    functionIfError : function(err){
                        self.unload('deleteUser');
                    }
                })
            },
            eventAddUser : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalAddUser').modal('hide');
                        self.getUsers();
                        break;
                    default :
                        break;
                }
            },
            eventUpdatePermissionForUser : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdatePermissionForUser').modal('hide');
                        self.getUsers();
                        break;
                    default :
                        break;
                }
            },
            eventUpdateUser : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdateUser').modal('hide');
                        self.getUsers();
                        break;
                    default :
                        break;
                }
            },
            exportExcel: function() {
                this.excel($(this.$el).find('table'), "Danh_sach_nhan_vien");
            }
        }
    }
</script>