<template>
  <div style="color:#000;"></div>
</template>
<script>
import QRCode from "qrcode";
export default {
  data: function() {
    return {
      dataConfig: "",
      printContent: "",
      optionQr: {
        height: "300",
        width: "300"
      },
      strQr: ''
    };
  },
  mounted: function() {
    this.getConfig();
  },
  methods: {
    getConfig: function() {
      let self = this;
      sendJson({
        url: urlDBD(API.displaySettingGet),
        data: {
          type: DisplaySetting.PRINT_GOODS
        },
        success: function(res) {
          if (res.results.data) {
            self.dataConfig = res.results.data;
          }
        }
      });
    },
    renderQrCode: async function(code) {
      let qrString;
      let option = {
        height: "300",
        width: "300"
      };
      await QRCode.toString(code, option, function(err, string) {
        if (err) {
          qrString = "";
        }
        qrString = string;
      });
      return qrString;
    },
    print: async function(orders) {
      // truyền vào danh sách package
      let self = this;
      let html = "";
      let content = orders.map(async order => {
        let orderContent = self.replaceContent(order);
        let qrString = await self.renderQrCode(order.code).then(value => {
          return value;
        });
        let contentWithQr = orderContent.replace('[qr_code]', qrString);
        return contentWithQr;
      });
      Promise.all(content).then(value => {
        html += value.toString();
        $(this.$el).html(html);
        try {
          JsBarcode(".barcode").init();
        } catch (e) {
          console.log(e);
        }
        $(this.$el).printThis();
      });
    },
    replaceContent: function(order) {
      let self = this;
      self.printContent = $("<div>" + self.dataConfig + "</div>");
      if (
        self.printContent
          .find("#cau-hinh-in-danh-sach-hang-hoa")
          .find("tbody")
          .html()
      ) {
        let itemContent = self.replaceDetail(
          order,
          self.printContent
            .find("#cau-hinh-in-danh-sach-hang-hoa")
            .find("tbody")
            .html()
        );
        self.printContent
          .find("#cau-hinh-in-danh-sach-hang-hoa")
          .find("tbody")
          .html(itemContent);
      }

      self.printContent = self.replaceOrder(order, self.printContent.html());
      return self.printContent;
    },
    replaceOrder: function(order, template) {
      let self = this;
      // console.log(template);
      let replaceObject = [
        {
          key: "[gio_xuat_ben]",
          value: function() {
            return order.transportTrip
              ? self.$options.filters.customDate(
                  order.transportTrip.tripStartTime,
                  "#hhhh#:#mm#",
                  true
                )
              : "";
          }
        },
        {
          key: "[tuyen_duong]",
          value: function() {
            return order.transportTrip
              ? order.transportTrip.route.routeName
              : "";
          }
        },
        {
          key: "[bien_so_xe]",
          value: function() {
            return order.transportTrip && order.transportTrip.vehicle
              ? order.transportTrip.vehicle.numberPlate
              : "";
          }
        },
        {
          key: "[ngay_nhan_hang]",
          value: function() {
            return self.$options.filters.strToDate(order.delivery.date);
          }
        },
        {
          key: "[ngay_hien_tai]",
          value: function() {
            return new Date().customFormat("#DD#-#MM#-#YYYY#");
          }
        },
        {
          key: "[gio_hien_tai]",
          value: function() {
            return new Date().customFormat("#hhhh#:#mm#");
          }
        },
        {
          key: "[barcode]",
          value: function() {
            return (
              '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="' +
              order.code +
              '" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>'
            );
          }
        },
        {
          key: "[ten_tai_khoan_dang_nhap]",
          value: function() {
            return window.userInfo.userInfo.fullName || "";
          }
        },
        {
          key: "[so_loai_hang_trong_don]",
          value: function() {
            return order.details.length;
          }
        },
        {
          key: "[tong_cuoc_phi]",
          value: function() {
            return self.$options.filters.number(order.totalree || 0);
          }
        },
        {
          key: "[da_tra]",
          value: function() {
            return self.$options.filters.number(order.paid || 0);
          }
        },
        {
          key: "[chua_tra]",
          value: function() {
            return self.$options.filters.number(
              order.totalFee - order.paid || 0
            );
          }
        },
        {
          key: "[ten_nguoi_gui]",
          value: function() {
            return order.sender ? order.sender.name : "";
          }
        },
        {
          key: "[so_dien_thoai_gui]",
          value: function() {
            return order.sender ? order.sender.phoneNumber : "";
          }
        },
        {
          key: "[ten_diem_gui]",
          value: function() {
            return order.receivedPoint ? order.receivedPoint.name : "";
          }
        },
        {
          key: "[dia_chi_gui]",
          value: function() {
            return order.collection.address || "";
          }
        },
        {
          key: "[ten_nguoi_tra]",
          value: function() {
            return order.receiver ? order.receiver.name : "";
          }
        },
        {
          key: "[so_dien_thoai_tra]",
          value: function() {
            return order.deliveryPoint ? order.deliveryPoint.phoneNumber : "";
          }
        },
        {
          key: "[ten_diem_tra]",
          value: function() {
            return order.deliveryPoint ? order.deliveryPoint.name : "";
          }
        },
        {
          key: "[dia_chi_tra]",
          value: function() {
            return order.delivery ? order.delivery.address : "";
          }
        },
        {
          key: "[ghi_chu]",
          value: function() {
            return order.note || "";
          }
        },
        {
          key: "[ten_cong_ty]",
          value: function() {
            return userInfo.userInfo.companyName;
          }
        },
        {
          key: "[dia_chi_cong_ty]",
          value: function() {
            return userInfo.companyAddress;
          }
        },
        {
          key: "[ten_phong_ve]",
          value: function() {
            let room = JSON.parse(sessionStorage.getItem("room"));
            return room && room.name ? room.name : "";
          }
        },
        {
          key: "[dia_chi_phong_ve]",
          value: function() {
            let room = JSON.parse(sessionStorage.getItem("room"));
            return room && room.address ? room.address : "";
          }
        },
        {
          key: "[sdt_phong_ve]",
          value: function() {
            let room = JSON.parse(sessionStorage.getItem("room"));
            return room && room.phoneNumber ? room.phoneNumber : "";
          }
        },
        {
          key: "[ma_don]",
          value: function() {
            return order.code;
          }
        }
      ];
      $.each(replaceObject, function(indexReplaceObject, element) {
        template = template.replaceAll(element.key, element.value());
      });
      return template;
    },
    replaceDetail: function(order, templateItem) {
      let self = this;
      let replaceContent = templateItem;
      let replaceObject = [
        {
          key: "[ma_hang]",
          value: function(index) {
            return order.details[index].code ? order.details[index].code : "";
          }
        },
        {
          key: "[ten_hang]",
          value: function(index) {
            return order.details[index].name ? order.details[index].name : "";
          }
        },
        {
          key: "[so_luong_hang]",
          value: function(index) {
            return order.details[index].quantity;
          }
        },
        {
          key: "[gia_tri_mat_hang]",
          value: function(index) {
            return order.details[index].value;
          }
        },
        {
          key: "[thu_them]",
          value: function(index) {
            return order.details[index].totalExtraFees().toString();
          }
        },
        {
          key: "[cuoc_phi]",
          value: function(index) {
            return order.details[index].type.id
              ? order.details[index].totalFee()
              : order.details[index].totalFeeInput;
          }
        },
        {
          key: "[ma_hang_rg]",
          value: function(index) {
            let code = order.details[index].code.split("-");
            return code[0];
          }
        },
          {
              key : '[sdt_xe]',
              value : function () {
                  if (order.transportTrip && order.transportTrip.vehicle && order.transportTrip.vehicle.phoneNumber){
                      return order.transportTrip.vehicle.phoneNumber
                  } else {
                      return ''
                  }
              }
          }
      ];
      $.each(order.details, function(indexItem, item) {
        $.each(replaceObject, function(indexReplaceObject, element) {
          replaceContent = replaceContent.replaceAll(
            element.key,
            element.value(indexItem)
          );
        });
        if (indexItem < order.details.length - 1) {
          replaceContent += templateItem;
        }
      });
      // console.log(replaceContent);
      return replaceContent;
    }
  }
};
</script>