<template>
    <div style="color:#000;">
    </div>
</template>

<script>
    import QRCode from "qrcode";
    export default {
        data : function () {
            return {
                dataConfig : '',
                fields : {
                    '[trang_thai_ve]' : 'Trạng thái vé',
                    '[ten_ghe]' : 'Tên ghế',
                    '[tuyen_duong]' : 'Tuyến',
                    '[barcode]' : 'barcode',
                    '[ma_ve]' : 'Mã vé',
                    '[gio_di]' : 'Giờ đi',
                    '[ngay_di]' : 'Ngày đi',
                    '[ten_hanh_khach]' : 'Tên hành khách',
                    '[so_dien_thoai_khach]' : 'Số điện thoại khách',
                    '[gia_ve]' : 'Giá vé',
                    '[diem_len]' : 'Điểm lên',
                    '[diem_xuong]' : 'Điểm xuống',
                    '[xe_van_chuyen]' : 'Xe vận chuyển',
                    '[ghi_chu]' : 'Ghi chú',
                    '[ten_cong_ty]' : 'Tên công ty',
                    '[dia_chi_cong_ty]' : 'Địa chỉ công ty',
                    '[ten_phong_ve]': 'Tên phòng vé',
                    '[sdt_phong_ve]': 'SDT phòng vé',
                    '[dia_chi_phong_ve]': 'Địa chỉ phòng vé',
                    '[qr_code]': 'Mã QR đơn hàng',
                },
            }
        },
        mounted : function () {
            this.getConfig();
        },
        methods : {
            getConfig : function () {
                let self = this;
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_GOODS_TEM,
                    },
                    success : function (res) {
                        if(res.results.data){
                            self.dataConfig = res.results.data;
                        }
                    },
                })
            },
            print: function (packages) { // truyền vào danh sách package
                let self = this;
                let html = '';

                if(Array.isArray(packages)){
                    let htmlTemplate = _.cloneDeep(this.dataConfig)
                    
                    let content = packages.map( async _package => {
                        let qrString = await this.renderQrCode(_package.goodsPackageCode)

                        let htmlWithQr = htmlTemplate.replace('[qr_code]', qrString);

                        return htmlWithQr
                    })

                    Promise.all(content).then(value => {
                        $.each(packages,function (lg,listGoods) {
                            $.each(listGoods.goodsList, function (g, goods) {
                                html += self.replace(goods,listGoods, value.toString());
                                // html += '<div class="page-break"></div>';
                            });
                        });

                        $(this.$el).html(html);
                        try {
                            JsBarcode(".barcode").init();
                        }catch(e){
                            console.log(e)
                        }
                        $(this.$el).printThis();
                    })
                }
            },

            async renderQrCode (code) {
                let qrString;
                let option = {
                    height: "300",
                    width: "300"
                };
                await QRCode.toString(code, option, function(err, string) {
                    if (err) {
                    qrString = "";
                    }
                    qrString = string;
                });
                return qrString;
            },

            replace: function (goods,listGoods, html = null) {
                let self = this;
                if(!html) {
                    html = _.cloneDeep(this.dataConfig);
                }
                let replaceObject  = [
                    {
                        key: '[gio_xuat_ben]',
                        value: function () {
                            if (goods.tripStartTime != null) {
                                return self.$options.filters.customDate(goods.tripStartTime, '#hhhh#:#mm#', true);
                            }
                            return ""
                        }
                    },
                    {
                        key: '[tuyen_duong]',
                        value: function () {
                            return listGoods.routeName||'';
                        }
                    },
                    {
                        key: '[bien_so_xe]',
                        value: function () {
                            return listGoods.tripNumberPlate||'';
                        }
                    },
                    {
                        key: '[ngay_nhan_hang]',
                        value: function () {
                            return new Date(goods.sendDate).customFormat('#DD#-#MM#-#YYYY#')
                        }
                    },
                    {
                        key : '[ngay_hien_tai]',
                        value : function () {
                            return new Date().customFormat('#DD#-#MM#-#YYYY#');
                        }
                    },
                    {
                        key : '[gio_hien_tai]',
                        value : function () {
                            return new Date().customFormat('#hhhh#:#mm#');
                        }
                    },
                    {
                        key : '[barcode]',
                        value : function () {
                            return '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="'+goods.goodsCode+'" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>';
                        }
                    },
                    {
                        key : '[ten_tai_khoan_dang_nhap]',
                        value : function () {
                            return window.userInfo.userInfo.fullName||'';
                        }
                    },
                    {
                        key : '[ma_hang]',
                        value : function () {
                            return goods.goodsCode||'';
                        }
                    },
                    {
                        key : '[ma_hang_rg]',
                        value : function () {
                            try{
                                let code= goods.goodsCode.split('-');
                                return code[code.length-1];
                            }catch(e){
                                return goods.goodsCode;
                            }
                        }
                    },
                    {
                        key : '[ten_hang]',
                        value : function () {
                            return goods.goodsName||'';
                        }
                    },
                    {
                        key : '[so_luong_hang]',
                        value : function () {
                            return self.$options.filters.number(goods.quantity||0);
                        }
                    },
                    {
                        key : '[gia_tri_mat_hang]',
                        value : function () {
                            return self.$options.filters.number(goods.goodsValue||0);
                        }
                    },
                    {
                        key: '[thu_them]',
                        value : function () {
                            return self.$options.filters.number(goods.extraPrice || 0);
                        }
                    },
                    {
                        key: '[cuoc_phi]',
                        value: function () {
                            return self.$options.filters.number(goods.price || 0);
                        }
                    },
                    {
                        key: '[tong_cuoc_phi]',
                        value: function () {
                            return self.$options.filters.number(goods.totalPrice || 0);
                        }
                    },
                    {
                        key : '[da_tra]',
                        value : function () {
                            return self.$options.filters.number(goods.paid||0);
                        }
                    },
                    {
                        key : '[chua_tra]',
                        value : function () {
                            return self.$options.filters.number(goods.unpaid||0);
                        }
                    },
                    {
                        key : '[ten_nguoi_gui]',
                        value : function () {
                            return goods.sender||'';
                        }
                    },
                    {
                        key : '[so_dien_thoai_gui]',
                        value : function () {
                            return goods.senderPhone||'';
                        }
                    },
                    {
                        key : '[ten_diem_gui]',
                        value : function () {
                            return goods.pickPointName||'';
                        }
                    },
                    {
                        key : '[dia_chi_gui]',
                        value : function () {
                            return goods.pickUpPoint||'';
                        }
                    },
                    {
                        key : '[ten_nguoi_tra]',
                        value : function () {
                            return goods.receiver||'';
                        }
                    },
                    {
                        key : '[so_dien_thoai_tra]',
                        value : function () {
                            return goods.receiverPhone||'';
                        }
                    },
                    {
                        key : '[ten_diem_tra]',
                        value : function () {
                            return goods.dropPointName||'';
                        }
                    },
                    {
                        key : '[dia_chi_tra]',
                        value : function () {
                            return goods.dropOffPoint||'';
                        }
                    },
                    {
                        key : '[ghi_chu]',
                        value : function () {
                            return goods.notice||'';
                        }
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : function () {
                            return userInfo.companyAddress;
                        }
                    },
                    {
                        key : '[ten_phong_ve]',
                        value : function () {
                            let room =  JSON.parse(sessionStorage.getItem('room'));
                            return room && room.name ? room.name : '';
                        }
                    },
                    {
                        key : '[dia_chi_phong_ve]',
                        value : function () {
                            let room =  JSON.parse(sessionStorage.getItem('room'));
                            return room && room.address ? room.address : '';
                        }
                    },
                    {
                        key : '[sdt_phong_ve]',
                        value : function () {
                            let room =  JSON.parse(sessionStorage.getItem('room'));
                            return room && room.phoneNumber ? room.phoneNumber : '';
                        }
                    },
                ];

                $.each(replaceObject,function (k,v) {
                    html = html.replaceAll(v.key,v.value());
                });
                return html;
            }
        }
    }
</script>