<template>
    <div class="w-100">
        <img :src="fields.logo.value()" alt="" :style="fields.logo.styles" v-if="fields.logo.show">
        <div :style="fields.companyName.styles" v-show="fields.companyName.show">{{ fields.companyName.value() }}</div>
        <div :style="fields.companyAddress.styles" v-show="fields.companyAddress.show">{{ fields.companyAddress.value() }}</div>
        <div :style="fields.text.styles" v-show="fields.text.show">{{ fields.text.title }}</div>
        <div class="clearfix"></div>
    </div>
</template>
<script>
    import BuildingCss from '../Helper/BuildingCss/BuildingCss.vue';
    export default {
        components : {BuildingCss},
        data  : function () {
            let self = this;
            return {
                name : 'Cấu hình in phiếu thu',
                sampleData : {},
                fields : {
                    logo : {
                        label : 'Logo',
                        title : 'Logo',
                        show : true,
                        styles : 'width:50px;height:50px;float:left;padding-right:5px;',
                        value : function () {
                            return self.userInfo.logo;
                        }
                    },
                    companyName : {
                        label : 'Tên công ty',
                        title : '',
                        show : true,
                        styles : 'float:left;width:calc(100% - 80px);',
                        value : function () {
                            return self.userInfo.userInfo.companyName;
                        }
                    },
                    companyAddress : {
                        label : 'Địa chỉ công ty',
                        title : '',
                        show : true,
                        styles : 'float:left;width:calc(100% - 80px);',
                        value : function () {
                            return self.userInfo.companyAddress;
                        }
                    },
                    text : {
                        label : 'Đoạn văn',
                        title : '',
                        show : true,
                        styles : 'float:left'
                    }
                },
            }
        },
        mounted : function(){
            this.getSetting();
        },
        methods : {
            addStyle : function (key) {
                let self = this;
                self.fields[key].styles.push({
                    attr : null,
                    value : null,
                });
            },
            deleteStyle : function (fieldIndex,styleIndex) {
                let self = this;
                self.fields[fieldIndex].styles.splice(styleIndex,1);
            },
            saveSetting : function () {
                let self = this;
                let str = JSON.stringify(self.fields);
                localStorage.setItem('DisplaySettingHeader',str);
                notify("Lưu thông tin cấu hình thành công",'success');
            },
            getSetting : function () {
                let self = this;
                let str = localStorage.getItem('DisplaySettingHeader')||'{}';
                let data = JSON.parse(str);
                $.each(self.fields,function(k,v){
                    if(data[k]){
                        self.fields[k].title = data[k].title;
                        self.fields[k].show = data[k].show;
                        self.fields[k].styles = data[k].styles;
                    }
                });
            },
        }
    }
</script>