<template>
    <div v-if="trip">
        <div class="form-group w-100">
            <label>Chọn khách hàng đại diện</label>
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>Họ tên</th>
                    <th>SDT</th>
                    <th>Điểm lên</th>
                    <th>Điểm xuống</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="ticket in trip.ticketsInSeatMap">
                    <tr class="cursor-pointer"
                        :class="[customerTicket&&ticket.ticketId === customerTicket.ticketId?'bg-e':'']"
                        @click="changeCustomerTicket(ticket)">
                        <td>{{ticket.fullName}}</td>
                        <td>{{ticket.phoneNumber}}</td>
                        <td>{{ticket.pointUp.address||ticket.pointUp.name}}</td>
                        <td>{{ticket.pointDown.address||ticket.pointDown.name}}</td>
                    </tr>
                </template>

                </tbody>
            </table>
        </div>
        <div class="infomation" v-show="customerTicket">
            <div class="form-group w-100">
                <label>Gửi từ</label>
                <div class="mail-send-address">
                </div>
            </div>
            <div class="form-group w-100">
                <label>Gửi tới</label>
                <div class="mail-address">
                </div>
            </div>
            <div class="form-group w-100">
                <label>Tiêu đề</label>
                <div class="mail-title">
                </div>
            </div>
            <div class="form-group w-100">
                <label>Nội dung</label>
                <div class="mail-content">
                </div>
            </div>
        </div>
        <h5 v-show="customerTicket">Nội dung file</h5>
        <div class="w-100" style="padding:16px;border: 1px solid #ddd; border-radius : 4px;margin:16px auto"
             v-show="customerTicket">
            <div class="file-content">

            </div>
        </div>
    </div>
</template>
<script>
    import {mapState} from 'vuex';

    export default {
        data: function () {
            return {
                customerTicket: null,
                trip: null,
                dataConfig: '<div><p><span style="color:#e74c3c">ch&uacute; &yacute; : Nhập th&ocirc;ng tin v&agrave;o v&ugrave;ng n&eacute;t đứt.</span></p><p><strong>Email Gửi</strong></p><div id="mail-send-address" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Email nhận ( danh s&aacute;ch c&aacute;ch nhau bởi dấu phảy &quot;,&quot; )</strong></p><div id="list-email" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Ti&ecirc;u đề mail</strong></p><div id="tieu-de-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Nội dung mail</strong></p><div id="noi-dung-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div><p><strong>Nội dung file pdf</strong></p><div id="noi-dung-file-mail" style="border:1px dashed #aaaaaa; padding:0 8px"><p>&nbsp;</p></div></div>',
                fields: {
                    '[trang_thai_ve]': 'Trạng thái vé',
                    '[ten_ghe]': 'Tên ghế',
                    '[tuyen_duong]': 'Tuyến',
                    '[barcode]': 'barcode',
                    '[ma_ve]': 'Mã vé',
                    '[gio_di]': 'Giờ đi',
                    '[ngay_di]': 'Ngày đi',
                    '[ten_hanh_khach]': 'Tên hành khách',
                    '[so_dien_thoai_khach]': 'Số điện thoại khách',
                    '[nam_sinh]': 'sinh nhật',
                    '[gia_ve]': 'Giá vé',
                    '[diem_len]': 'Điểm lên',
                    '[dia_chi_diem_len]': 'Địa chỉ điểm lên',
                    '[diem_xuong]': 'Điểm xuống',
                    '[dia_chi_diem_xuong]': 'Điạ chỉ điểm xuống',
                    '[xe_van_chuyen]': 'Xe vận chuyển',
                    '[ma_lien_ket]': 'Mã liên kết',
                    '[ghi_chu]': 'Ghi chú',
                    '[ten_cong_ty]': 'Tên công ty',
                    '[dia_chi_cong_ty]': 'Địa chỉ công ty',
                },
            }
        },
        computed: {
            ...mapState({
                mergeTicketsWhenPrint: state => state.CompanyConfig.companyConfig.CONFIG.MERGE_TICKET_PRINT.value,
                companyConfig: state => state.CompanyConfig.companyConfig,
            })
        },
        mounted: function () {
            this.getConfig();
        },
        methods: {
            changeCustomerTicket(ticket) {
                this.customerTicket = ticket;
                this.replaceData(this.trip);
            },
            getConfig: function () {
                let self = this;
                sendJson({
                    url: urlDBD(API.displaySettingGet),
                    data: {
                        type: DisplaySetting.EMAIL_TEMPLATE,
                    },
                    success: function (res) {
                        if (res.results.data) {
                            self.dataConfig = res.results.data;
                        }
                    }
                })
            },
            replaceData: function (trip) {
                let self = this;
                self.trip = _.cloneDeep(trip);
                let html = '<div>' + _.cloneDeep(self.dataConfig) + '</div>';
                html = html.toString().replaceAll('&nbsp;', ' ');

                let total = {
                    agencyPrice: 0,
                    paidMoney: 0,
                }
                let htmlSample = $(html).find('.danh-sach-ve-tuy-chinh');
                let htmlTicketsAfterReplaces = [];
                if (Array.isArray(trip.ticketsInfo) && htmlSample) {
                    let _tickets = self.mergeTicketsWhenPrint ? self.unDuplicateTicket(trip.ticketsInfo) : trip.ticketsInfo;
                    $.each(htmlSample, function (h, hs) {
                        let htmlSampleByIndex = $(hs).find('tbody').html();
                        let htmlContentRowBuild = '';
                        $.each(_tickets, function (t, ticket) {
                            htmlContentRowBuild += self.replaceTicket(t, ticket, htmlSampleByIndex);
                            if (h == 0) {
                                total.agencyPrice += ticket.agencyPrice;
                                total.paidMoney += ticket.paidMoney;
                            }
                        });
                        htmlTicketsAfterReplaces.push(htmlContentRowBuild)
                    });
                }
                html = self.replaceTrip(trip, html, total);
                if (self.customerTicket) {
                    html = self.replaceTicket(0, self.customerTicket, html);
                }
                let htmlMailSendAddress = $(html).find('#mail-send-address').text().split(' ').join('');
                let htmlListEmail = $(html).find('#list-email').text().split(' ').join('');
                let htmlTieuDeMail = $(html).find('#tieu-de-mail').text();
                let htmlNoiDungMail = $(html).find('#noi-dung-mail').html();
                let htmlNoiDungFile = $(html).find('#noi-dung-file-mail').html();
                $(this.$el).find('.mail-send-address').text(htmlMailSendAddress);
                $(this.$el).find('.mail-address').text(htmlListEmail);
                $(this.$el).find('.mail-title').text(htmlTieuDeMail);
                $(this.$el).find('.mail-content').html(htmlNoiDungMail);
                $(this.$el).find('.file-content').html(htmlNoiDungFile);
                $.each(htmlTicketsAfterReplaces, function (k, v) {
                    $($(self.$el).find('.danh-sach-ve-tuy-chinh').get(k)).find('tbody').html(v);
                });
            },
            print: function (trip, mini) {
                let self = this;
                self.replaceData(trip, mini);
                // try {
                //     JsBarcode(".barcode").init();
                // }catch(e){
                //     console.log(e)
                // }
                $(this.$el).printThis();
            },
            replaceTrip: function (trip, html, total) {
                console.log(trip)
                let self = this;
                let htmlAfterReplace = _.cloneDeep(html);
                let replaceObject = [
                    {
                        key: '[tuyen_cua_chuyen]',
                        value: function () {
                            return trip.route.name;
                        }
                    },
                    {
                        key: '[gio_xuat_ben]',
                        value: function () {
                            return self.$options.filters.customDate(trip.startTimeReality, '#hhhh#:#mm#', true)
                        }
                    },
                    {
                        key: '[ngay_xuat_ben]',
                        value: function () {
                            return self.$options.filters.strToDate(trip.date)
                        }
                    },
                    {
                        key: '[bien_so_xe]',
                        value: function () {
                            return trip.vehicle.numberPlate || '';
                        }
                    },
                    {
                        key: '[tai_xe_chuyen]',
                        value: function () {
                            let text = '';
                            if (trip.drivers) {
                                $.each(trip.drivers, function (d, driver) {
                                    text += driver.fullName + ', ';
                                });
                            }
                            return text;
                        }
                    },
                    {
                        key: '[phu_xe_chuyen]',
                        value: function () {
                            let text = '';
                            if (trip.assistants) {
                                $.each(trip.assistants, function (a, assistant) {
                                    text += assistant.fullName + ', ';
                                });
                            }
                            return text;
                        }
                    },
                    {
                        key: '[so_luong_ve]',
                        value: function () {
                            return trip.ticketsInfo ? trip.ticketsInfo.length : 0;
                        }
                    },
                    {
                        key: '[so_luong_ghe]',
                        value: function () {
                            return trip.totalSeat ? trip.totalSeat : 0;
                        }
                    },
                    {
                        key: '[ds_ghe_trong]',
                        value: function () {
                            let seatList = trip && trip.seatMap && trip.seatMap.seatList ? trip.seatMap.seatList : [];
                            let listSeat = {};
                            $.each(seatList, function (s, seat) {
                                if (seat.seatType == 3 || seat.seatType == 4) {
                                    listSeat[seat.seatId] = seat.seatId;
                                }
                            });
                            $.each(trip && trip.ticketsInfo ? trip.ticketsInfo : [], function (t, ticket) {
                                if (ticket.seat && ticket.seat.seatId && listSeat[ticket.seat.seatId]) {
                                    delete listSeat[ticket.seat.seatId];
                                }
                            });
                            return Object.values(listSeat).join(', ');
                        }
                    },
                    // {
                    //     key: '[tong_tien_ve]',
                    //     value: function () {
                    //         return self.$options.filters.number(total.agencyPrice||0);
                    //     }
                    // },
                    // {
                    //     key: '[tong_da_tra]',
                    //     value: function () {
                    //         return self.$options.filters.number(total.paidMoney||0);
                    //     }
                    // },
                    // {
                    //     key: '[tong_chua_tra]',
                    //     value: function () {
                    //         return self.$options.filters.number(total.agencyPrice-total.paidMoney);
                    //     }
                    // },
                    {
                        key: '[ghi_chu_chuyen]',
                        value: function () {
                            return trip.note || '';
                        }
                    },
                    {
                        key: '[ten_cong_ty]',
                        value: function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key: '[dia_chi_cong_ty]',
                        value: function () {
                            return userInfo.companyAddress || '';
                        }
                    },
                    {
                        key: '[SDT_tai_xe]',
                        value: function () {
                            let text = '';
                            if (trip.drivers) {
                                if (trip.drivers.length == 1) {
                                    $.each(trip.drivers, function (d, driver) {
                                        text += driver.phoneNumber;
                                    });
                                }
                                else {
                                    $.each(trip.drivers, function (d, driver) {
                                        text += driver.phoneNumber + ', ';
                                    });
                                }
                            }
                            return text;
                        }
                    },
                    {
                        key: '[gio_ket_thuc_chuyen]',
                        value: function () {
                            if (trip.startTimeReality&&trip.runTime) {
                                return self.$options.filters.customDate((trip.startTimeReality + trip.runTime), '#hhhh#:#mm#', true);
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        key: '[cu_ly_hanh_trinh]',
                        value: function () {
                            return '';
                        }
                    },
                    {
                        key: '[chung_loai_xe]',
                        value: function () {
                            let text = '';
                            if (trip.vehicle&&trip.vehicle.customField){
                                let b = trip.vehicle.customField.search("type")
                                let a = trip.vehicle.customField.slice(b + 7, trip.vehicle.customField.length -2 );
                                return a;
                            } else {
                                return text;
                            }
                        }
                    },
                ];
                $.each(replaceObject, function (k, v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
                });
                return htmlAfterReplace;
            },
            sendMail: function () {
                let self = this;
                let listMail = $(self.$el).find('.mail-address').html().trim().split(',');
                let mailTitle = $(self.$el).find('.mail-title').html().trim();
                if (!listMail||listMail.length==0) {
                    notify("Vui lòng cấu hình email", "error");
                    return false;
                }
                if (!mailTitle) {
                    notify("Vui lòng cấu hình email", "error");
                    return false;
                }
                self.load("sendMail");
                sendJson({
                    url: urlDBD(API.emailHtml2pfdSend),
                    data: {
                        from: $(self.$el).find('.mail-send-address').text().trim().split(' ').join(),
                        to: listMail,
                        subject: mailTitle,
                        body: $(self.$el).find('.mail-content').html(),
                        html: $(self.$el).find('.file-content').html(),
                        attachmentName: self.userInfo.userInfo.companyName + '-' + new Date().customFormat('#DD#-#MM#-#YYYY#') + '/' + new Date().getTime() + '.pdf',
                    },
                    success: function (data) {
                        self.unload("sendMail");
                        notify("Gửi mail thành công", "success")
                    },
                    error: function (data) {
                        self.unload("sendMail");
                        notify("Gửi mail thất bại", "error")
                    }
                })
            },
            unDuplicateTicket: function (listTickets) {
                let res = [];

                let isExist = (arr, x) => {
                    for (let i = 0; i < arr.length; i++) {
                        let condition = arr[i].pointDown.address == x.pointDown.address
                            && arr[i].pointUp.address == x.pointUp.address
                            && arr[i].ticketCode == x.ticketCode
                            && arr[i].phoneNumber == x.phoneNumber;

                        if (condition)
                            return {index: i, status: true};
                    }
                    return {index: i, status: false};
                }


                listTickets.forEach(elm => {
                    let element = _.cloneDeep(elm);
                    let checker = isExist(res, element);
                    if (!checker.status) {
                        res.push(element);
                    } else {
                        element.listSeatId.forEach(elem => res[checker.index]['listSeatId'].push(elem));
                        let totalAgency = res[checker.index]['agencyPrice'] + element.agencyPrice;
                        let totalPaid = res[checker.index]['paidMoney'] + element.paidMoney;

                        res[checker.index]['agencyPrice'] = totalAgency;
                        res[checker.index]['paidMoney'] = totalPaid;
                    }
                });

                return res;

            },
            replaceTicket: function (index, ticket, html) {
                let htmlAfterReplace = _.cloneDeep(html);
                let self = this;
                let replaceObject = [
                    {
                        key: '[so_thu_tu]',
                        value: function () {
                            return index - (-1);
                        }
                    },
                    {
                        key: '[trang_thai_ve]',
                        value: function () {
                            return func.checkTicketStatus(ticket).status;
                        }
                    },
                    {
                        key: '[ten_ghe]',
                        value: function () {
                            return ticket.listSeatId ? ticket.listSeatId.join(', ') : '';
                        }
                    },
                    {
                        key: '[so_luong_ghe]',
                        value: function () {
                            return ticket.listSeatId.length;
                        }
                    },
                    {
                        key: '[tuyen_duong]',
                        value: function () {
                            return ticket.routeInfo.name;
                        }
                    },
                    {
                        key: '[barcode]',
                        value: function () {
                            return '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="' + ticket.ticketCode + '" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>';
                        }
                    },
                    {
                        key: '[ma_ve]',
                        value: function () {
                            return ticket.ticketCode;
                        }
                    },
                    {
                        key: '[gio_di]',
                        value: function () {
                            return self.$options.filters.customDate(ticket.getInTimePlan, '#hhhh#:#mm#', true);
                        }
                    },
                    {
                        key: '[ngay_di]',
                        value: function () {
                            return self.$options.filters.strToDate(ticket.getInTimePlanInt);
                        }
                    },
                    {
                        key: '[ten_hanh_khach]',
                        value: function () {
                            return ticket.fullName;
                        }
                    },
                    {
                        key: '[so_dien_thoai_khach]',
                        value: function () {
                            return self.$options.filters.phoneNumber(ticket.phoneNumber);
                        }
                    },
                    {
                        key: '[nam_sinh]',
                        value: function () {
                            return ticket.birthday;
                        }
                    },
                    {
                        key: '[gia_ve]',
                        value: function () {
                            return self.$options.filters.number(ticket.agencyPrice);
                        }
                    },
                    {
                        key: '[da_thu]',
                        value: function () {
                            return self.$options.filters.number(ticket.paidMoney);
                        }
                    },
                    {
                        key: '[chua_thu]',
                        value: function () {
                            return self.$options.filters.number(ticket.agencyPrice - ticket.paidMoney);
                        }
                    },
                    {
                        key: '[tai_xe_thu]',
                        value: function () {
                            return self.$options.filters.number(ticket.cashOnTheTrip);
                        }
                    },
                    {
                        key: '[nhan_vien_thu]',
                        value: function () {
                            return self.$options.filters.number(ticket.agencyPrice - ticket.cashOnTheTrip);
                        }
                    },
                    {
                        key: '[diem_len]',
                        value: function () {
                            return ticket.pointUp.name;
                        }
                    },
                    {
                        key: '[diem_len_rut_gon]',
                        value: function () {
                            return ticket.pointUp.pointNameAcronym;
                        }
                    },
                    {
                        key: '[dia_chi_diem_len]',
                        value: function () {
                            return ticket.pointUp.address;
                        }
                    },
                    {
                        key: '[dia_chi_len_tn]',
                        value: function () {
                            return ticket.pointUp.pointType == 1 ? ticket.pointUp.address : '';
                        }
                    },
                    {
                        key: '[dia_chi_len_dd]',
                        value: function () {
                            return ticket.pointUp.pointType == 2 ? ticket.pointUp.address : '';
                        }
                    },
                    {
                        key: '[dia_chi_len_tc]',
                        value: function () {
                            return ticket.pointUp.pointType == 3 ? ticket.pointUp.address : '';
                        }
                    },
                    {
                        key: '[ten_diem_len_tc]',
                        value: function () {
                            return ticket.pointUp.pointType == 3 ? ticket.pointUp.name : '';
                        }
                    },
                    {
                        key: '[diem_xuong]',
                        value: function () {
                            return ticket.pointDown.name;
                        }
                    },
                    {
                        key: '[diem_xuong_rut_gon]',
                        value: function () {
                            return ticket.pointDown.pointNameAcronym;
                        }
                    },
                    {
                        key: '[dia_chi_diem_xuong]',
                        value: function () {
                            return ticket.pointDown.address;
                        }
                    },
                    {
                        key: '[dia_chi_xuong_tn]',
                        value: function () {
                            return ticket.pointDown.pointType == 1 ? ticket.pointDown.address : '';
                        }
                    },
                    {
                        key: '[dia_chi_xuong_dd]',
                        value: function () {
                            return ticket.pointDown.pointType == 2 ? ticket.pointDown.address : '';
                        }
                    },
                    {
                        key: '[dia_chi_xuong_tc]',
                        value: function () {
                            return ticket.pointDown.pointType == 3 ? ticket.pointDown.address : '';
                        }
                    },
                    {
                        key: '[ten_diem_xuong_tc]',
                        value: function () {
                            return ticket.pointDown.pointType == 3 ? ticket.pointDown.name : '';
                        }
                    },
                    {
                        key: '[xe_van_chuyen]',
                        value: function () {
                            return ticket.vehicle.numberPlate;
                        }
                    },
                    {
                        key: '[ma_lien_ket]',
                        value: function () {
                            return ticket.foreignKey || '';
                        }
                    },
                    {
                        key: '[ghi_chu]',
                        value: function () {
                            return ticket.note || '';
                        }
                    },
                    {
                        key: '[dai_ly]',
                        value: function () {
                            return ticket.agency ? ticket.agency.fullName : '';
                        }
                    },
                    {
                        key: '[ten_cong_ty]',
                        value: function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key: '[dia_chi_cong_ty]',
                        value: function () {
                            return userInfo.companyAddress;
                        }
                    }
                ];
                $.each(replaceObject, function (k, v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key, v.value());
                });
                return htmlAfterReplace;
            },
        }
    }
</script>