<template>
    <div class="printThis bg-white top20" :style="fields.form.styles" style="color:#000;">
        <div class="w-100 text-center">
            <img :src="fields.logo.value()" alt="" class="img-fluid" v-if="fields.logo.show" :style="fields.logo.styles">
        </div>
        <div v-show="fields.title.show" :style="fields.title.styles">{{fields.title.title}}</div>
        <div v-show="fields.companyName.show" :style="fields.companyName.styles">{{fields.companyName.value()}}</div>
        <div class="w-100" v-show="fields.barcode.show">
            <barcode class="text-center" :value="fields.barcode.value()" displayValue="true" width="1" height="30" fontSize="20"></barcode>
        </div>
        <div v-show="fields.routeName.show">
            <span>{{fields.routeName.title}}</span> <span :style="fields.routeName.styles">{{fields.routeName.value()}}</span>
        </div>
        <span v-show="fields.startTime.show" class="w-100">
                    <span>{{fields.startTime.title}}</span> <span :style="fields.startTime.styles">{{fields.startTime.value()|customDate('#hhhh#:#mm#, #DD#-#MM#-#YYYY#')}}</span>
                </span>
        <div v-show="fields.fullName.show">
            <span>{{fields.fullName.title}}</span> <span :style="fields.fullName.styles">{{fields.fullName.value()}}</span>
        </div>
        <div v-show="fields.phoneNumber.show">
            <span>{{fields.phoneNumber.title}}</span> <span :style="fields.phoneNumber.styles">{{fields.phoneNumber.value()}}</span>
        </div>
        <div v-show="fields.seatId.show">
            <span>{{fields.seatId.title}}</span> <span :style="fields.seatId.styles">{{fields.seatId.value()}}</span>
        </div>
        <div v-show="fields.agencyPrice.show">
            <span>{{fields.agencyPrice.title}}</span> <span :style="fields.agencyPrice.styles">{{fields.agencyPrice.value()}}</span>
        </div>
        <div v-show="fields.pointUp.show">
            <span>{{fields.pointUp.title}}</span> <span :style="fields.pointUp.styles">{{fields.pointUp.value()}}</span>
        </div>
        <div v-show="fields.pointDown.show">
            <span>{{fields.pointDown.title}}</span> <span :style="fields.pointDown.styles">{{fields.pointDown.value()}}</span>
        </div>
        <div v-show="fields.numberPlate.show">
            <span>{{fields.numberPlate.title}}</span> <span :style="fields.numberPlate.styles">{{fields.numberPlate.value()}}</span>
        </div>
        <div v-show="fields.note.show">
            <span>{{fields.note.title}}</span> <span :style="fields.note.styles">{{fields.note.value()}}</span>
        </div>
        <div v-show="fields.hotline.show" class="top10 border-top" :style="fields.hotline.styles">
            {{fields.hotline.title}}
        </div>
    </div>
</template>
<script>
    export default {
        props : ['ticket'],
        data : function () {
            let self = this;
            return {
                fields : {
                    form : {
                        label : 'Mẫu',
                        title : '',
                        styles : 'width:80mm;padding:5px;color:#000',
                    },
                    companyName : {
                        label : 'Tên công ty',
                        title : '',
                        show : true,
                        styles : 'text-align:center;',
                        value : function () {
                            return self.userInfo.userInfo.companyName;
                        }
                    },
                    companyAddress : {
                        label : 'Địa chỉ công ty',
                        title : '',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.userInfo.companyAddress;
                        }
                    },
                    logo : {
                        label : 'Logo',
                        title : 'Logo',
                        show : true,
                        styles : 'width:100px',
                        value : function () {
                            return self.userInfo.logo;
                        }
                    },
                    barcode : {
                        label : 'barcode',
                        title : 'barcode',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.ticketCode;
                        }
                    },
                    title : {
                        label : 'Tiêu đề',
                        title : 'PHIẾU ĐẶT CHỖ',
                        show : true,
                        styles : 'text-align:center;font-size:20px;'
                    },
                    fullName : {
                        label : 'Hành khách',
                        title : 'Hành khách : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.fullName;
                        }
                    },
                    phoneNumber : {
                        label : 'SDT khách',
                        title : 'SDT : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.phoneNumber;
                        }
                    },
                    routeName : {
                        label : 'Tuyến',
                        title : 'Tuyến : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.routeInfo.name;
                        }
                    },
                    seatId : {
                        label : 'Ghế',
                        title : 'Ghế : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.seat.seatId;
                        }
                    },
                    startTime : {
                        label : 'Giờ chạy',
                        title : 'Giờ chạy : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return func.dateStrToMs(self.ticket.getInTimePlanInt)-(-self.ticket.getInTimePlan);
                        }
                    },
                    agencyPrice : {
                        label : 'Thực thu',
                        title : 'Giá vé : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.agencyPrice;
                        }
                    },
                    numberPlate : {
                        label : 'Xe',
                        title : 'Xe : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return '';
                        }
                    },
                    note : {
                        label : 'Ghi chú',
                        title : 'Ghi chú : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.note;
                        }
                    },
                    pointUp : {
                        label : 'Điểm lên',
                        title : 'Lên : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.pointUp.name;
                        }
                    },
                    pointDown : {
                        label : 'Điểm xuống',
                        title : 'Xuống : ',
                        show : true,
                        styles : '',
                        value : function () {
                            return self.ticket.pointDown.name;
                        }
                    },
                    hotline : {
                        label : 'hotline',
                        title : 'hotline : 1900 7034',
                        show : true,
                        styles : '',
                    },
                },
            }
        },
        mounted : function(){
            this.getSetting();
        },
        methods : {
            getSetting : function () {
                let self = this;
                let str = localStorage.getItem('DisplaySettingPrintTicket')||'{}';
                let data = JSON.parse(str);
                $.each(self.fields,function(k,v){
                    if(data[k]){
                        self.fields[k].title = data[k].title;
                        self.fields[k].show = data[k].show;
                        self.fields[k].styles = data[k].styles;
                    }
                });
            },
        }
    }
</script>