<template>
    <div class="d-none">
        <div class="container printGoods" :id="id" style="font-size: 20px" >
            <div class="row">
                <div class="col-12">
                    <h3>BẢNG KÊ HÀNG</h3>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã vận đơn</th>
                        <th>N/Nhận</th>
                        <th>T/Tin Hàng</th>
                        <th>Cước Phí</th>
                        <th>Người Gửi</th>
                        <th>Điểm lên</th>
                        <th>Người Nhận</th>
                        <th>Điểm xuống</th>
                        <th>Chuyến</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                <template v-for="(pk,key) in packages">
                    <template v-for="(goods,k) in pk.goodsList">
                        <tr :class="{'bg-e':key%2==0}">
                            <td v-if="k==0" :rowspan="pk.goodsList.length" class="text-center">
                                {{ key+1 }}
                            </td>
                            <td v-if="k==0" :rowspan="pk.goodsList.length">
                                <label :for="goods.goodsId" class="no-margin">{{ pk.goodsPackageCode }}</label>
                            </td>
                            <td class="text-center">
                                {{ goods.sendDate|customDate('#DD#-#MM#') }}<br>
                                <span v-if="pk.goodsList.length>1" class="link" @click="removeFromPackage(pk.goodsPackageCode,goods.goodsCode)">Tách</span>
                            </td>
                            <td>
                                <span data-toggle="tooltip" data-placement="left" title="Họ Tên"><i class="fa fa-file"></i> : {{ goods.goodsName }} </span><br>
                                <span data-toggle="tooltip" data-placement="left" title="Số lượng"><i class="fa fa-sort-numeric-asc"></i> : {{ goods.quantity }} </span><br>
                                <span data-toggle="tooltip" data-placement="left" title="Giá trị hàng"><i class="fa fa-dollar"></i> : {{ goods.goodsValue|number }}</span>
                            </td>
                            <td class="text-right">
                                <b data-toggle="tooltip" data-placement="left" :title="'cước phí :'+goods.price+', Thu thêm :'+goods.extraPrice+', lí do : '+goods.extraPriceNote">{{ goods.totalPrice|number }}</b><br>
                                <b class="text-anvui" data-toggle="tooltip" data-placement="left" title="Đã trả" >{{ goods.paid|number }}</b><br>
                                <b class="text-danger" data-toggle="tooltip" data-placement="left" title="Chưa trả">{{ goods.unpaid|number }}</b>
                            </td>
                            <td class="text-center">
                                <span><i class="fa fa-user"></i> : {{ goods.sender}}</span><br>
                                <span><i class="fa fa-phone"></i> : {{ goods.senderPhone | phoneNumber}}</span><br>
                                <span><img style="max-height: 20px;max-width: 100px" v-if="goods.imageURL" :src="goods.imageURL" class="img-fluid" alt=""></span>
                            </td>
                            <td>
                                <span><i class="fa fa-map-marker"></i> {{ goods.pickPointName|cutString(30) }}</span><br>
                                <span><i class="fa fa-address-book"></i> {{ goods.pickUpPoint|cutString(30) }}</span>
                            </td>
                            <td class="text-center">
                                <span><i class="fa fa-user"></i> : {{ goods.receiver}}</span><br>
                                <span><i class="fa fa-phone"></i> : {{ goods.receiverPhone | phoneNumber}}</span><br>
                                <span><img style="max-height: 20px;max-width: 100px" v-if="goods.receiverImageURL" :src="goods.receiverImageURL" class="img-fluid" alt=""></span>
                            </td>
                            <td>
                                <span><i class="fa fa-map-marker"></i> {{ goods.dropPointName|cutString(30) }}</span><br>
                                <span><i class="fa fa-address-book"></i> {{ goods.dropOffPoint|cutString(30) }}</span>
                            </td>
                            <td>
                                <span>{{ pk.routeName }}</span><br>
                                <span>{{ pk.tripNumberPlate }}</span>
                            </td>
                            <td>{{ goods.notice }}</td>
                        </tr>
                    </template>
                </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col-12">
                    <template v-for="(pk,k) in packages">
                        <template v-for="(goods,key) in pk.goodsList">

                        </template>
                    </template>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    export default {
        props : ['packages','id'],
        data : function () {
            return {
                userInformation : userInfo,
                goods_print_underListGoods : '',
            }
        },
        mounted : function () {
            let self = this;
            this.goods_print_underListGoods = localStorage.getItem('goods_print_underListGoods');
            this.$root.$on('changeLocal',function (data) {
                self.goods_print_underListGoods = localStorage.getItem('goods_print_underListGoods');
            });
        }
    }
</script>