<template>
	<div class="w-100 seatMapSell" v-if="trip">
		<template v-if="printConfig.header != null">
			<div v-html="renderHtml(trip,0)"></div>
		</template>

		<template v-else>
			<h5 class="w-100 text-center">DANH SÁCH HÀNH KHÁCH</h5>
			<table class="table table-borderless table-sm" style="font-size: 30px">
				<tr>
					<td class=" w-50">{{trip.route.name}}</td>
					<td class=" w-50">
						Tài xế: <template v-for="driver in trip.drivers" v-if="trip.drivers"> {{driver.fullName }},</template>
					</td>
				</tr>
				<tr>
					<td>Giờ chạy: {{trip.startTimeReality|customDate('#hhhh#:#mm#',true)}} {{trip.date|strToDate}}</td>
					<td>
						Phụ xe: <template v-for="ass in trip.assistants" v-if="trip.assistants"> {{ass.fullName }},</template>
					</td>
				</tr>
				<tr>
					<td>Biển số: {{trip.vehicle.numberPlate}}</td>
					<td>Số ghế: {{trip.ticketsInfo?trip.ticketsInfo.length:0}}</td>
				</tr>
			</table>
			<div class="w-100" style="font-size: 30px">Ghi chú: {{trip.note}}</div>
		</template>

		<template v-for="(floor,f) in trip.seatMapFake">
			<div  :key="f">
				<h4 class="title top10">Tầng {{f+1}}</h4>
				<div class="row no-gutters">
					<template v-for="(row, r) in floor">
						<template v-for="(col, c) in row">
							<div v-if="showWay&&col.seatType!=3&&col.seatType!=4" class="col">
								<div class="seat" :style="{padding:'10px',border: col.seatType==7?'0 !important':'1px solid #000'}">
									<div v-html="renderHtml({seat : {seatId : col.seatType!==7?col.seatId : ''}})" v-if="col.seatType!==7"></div>
								</div>
							</div>
							<div class="col" v-if="col.seatType==3||col.seatType==4">
								<template v-if="col.tickets">
									<div class="seat" style="border: 1px solid #000; min-height: 100px;word-wrap: break-word">
										<template v-for="(ticket, index) in col.tickets">
											<div v-html="renderHtml(ticket)"></div>
										</template>
									</div>
								</template>
								<template v-else>
									<div class="seat" style="border: 1px solid #000; min-height: 100px">
										<!-- <div v-html="renderHtml({seat : {seatId : col.seatId}})"></div> -->
											<div v-html="renderHtml({seat : {seatId : col.seatId}})"></div>
									</div>
								</template>
							</div>
						</template>
						<div class="w-100"></div>
					</template>
				</div>
			</div>
			<div class="page-break" v-if="f < trip.seatMapFake.length-1"></div>
		</template>
		<template v-if="trip.ticketsNotSeat&&trip.ticketsNotSeat.length>0">
			<div class="page-break"></div>
			<h5 class="text-center">GHẾ CHỜ XẾP CHỖ</h5>
			<div class="row no-gutters">
				<template v-for="(ticket,t) in trip.ticketsNotSeat">
					<div class="col-4" :key="t">
						<div class="seat" style="border: 1px solid #000;">
							<div v-html="renderHtml(ticket)"></div>
						</div>
					</div>
				</template>
			</div>
		</template>
		<div v-html="renderHtml(trip,2)"></div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data: function(){
			return {
				trip: null,
				printConfig: {
					'header': null,
					'body': null,
					'footer': null,
				},
				showWay : false,
			}
		},

		mounted : function(){
			this.getConfig();
		},
		methods: {
			renderHtml: function(data,element = 1){
				return this.replaceConfig(data, element);
			},

			replaceReportTickets: function(tickets, html) {
                let formatter = new Intl.NumberFormat('vi-vn', {
                    style: 'currency',
                    currency: 'VND',
                    minimumFractionDigits: 0
                })
                let getTicketByRA = function (tickets, MOD = 'agency') {

                    if(tickets && tickets.length > 0) {

                        if(MOD == 'room') {
                            let listRoom = {};
                            tickets.forEach((ticket) => {
                                if(ticket.room  && ticket.room.id) {
                                    if(!listRoom[ ticket.room.id ]) {
                                        listRoom[ ticket.room.id ] = {}
                                        listRoom[ ticket.room.id ] = ticket.room
                                        listRoom[ ticket.room.id ]['listTicket'] = [];
                                        listRoom[ ticket.room.id ]['ticketPaymented'] = 0;

                                        listRoom[ ticket.room.id ]['totalPaidMoney'] = 0;
                                        listRoom[ ticket.room.id ]['totalMoney'] = 0;
                                    }
                                    if( ticket.ticketStatus == 3 ) {
                                        listRoom[ ticket.room.id ]['ticketPaymented']++
                                        listRoom[ ticket.room.id ]['totalPaidMoney'] += ticket.paidMoney
                                    }
                                    listRoom[ ticket.room.id ]['totalMoney'] += ticket.agencyPrice

                                    listRoom[ ticket.room.id ]['listTicket'].push(ticket)
                                }
                            })

                            return listRoom;
                        }

                        if( MOD == 'agency' ) {
                            let listAgency = {};
                            tickets.forEach((ticket) => {
                                if(ticket.agency && ticket.agency.id) {
                                    if(!listAgency[ ticket.agency.id ]) {
                                        listAgency[ ticket.agency.id ] = {}
                                        listAgency[ ticket.agency.id ] = ticket.agency
                                        listAgency[ ticket.agency.id ]['listTicket'] = [];
                                        listAgency[ ticket.agency.id ]['ticketPaymented'] = 0;

                                        listAgency[ ticket.agency.id ]['totalPaidMoney'] = 0;
                                        listAgency[ ticket.agency.id ]['totalMoney'] = 0;
                                    }
                                    if( ticket.ticketStatus == 3 ) {
                                        listAgency[ ticket.agency.id ]['ticketPaymented']++
                                        listAgency[ ticket.agency.id ]['totalPaidMoney'] += ticket.paidMoney
                                    }

                                    listAgency[ ticket.agency.id ]['totalMoney'] += ticket.agencyPrice

                                    listAgency[ ticket.agency.id ]['listTicket'].push(ticket)
                                }
                            })

                            return listAgency;
                        }

                        return "";
                    }
                    return "";

                }

                let getReport = (MOD = 'agency') => {
                    let ticketData = {};

                    if(MOD == 'agency') {
                        ticketData = getTicketByRA(_.cloneDeep(tickets));
                    }

                    if(MOD == 'room') {
                        ticketData = getTicketByRA(_.cloneDeep(tickets), 'room');
                    }
                    let totalTicket = 0;
                    let totalTicketPaymented = 0;
                    let totalMoney = 0;
                    let totalPaidMoney = 0;
                    let reportSeatByRAHtml = "";
                    let reportMoneyByRAHtml = "";

                    if(ticketData) {
                    	console.log('ticketData')
                    	console.log(ticketData)
                        $.each(ticketData, (key, ra) => {
                            totalTicket += ra.listTicket.length;
                            totalTicketPaymented += ra.ticketPaymented;
                            totalMoney += ra.totalMoney;
                            totalPaidMoney += ra.totalPaidMoney;
                            if(MOD == 'agency') {
                                reportMoneyByRAHtml += `<span class="mr-1"><b>${ra.fullName}: </b>${formatter.format(ra.totalPaidMoney)} / ${formatter.format(ra.totalMoney)}</span>,`
                                reportSeatByRAHtml += `<span class="mr-1"><b>${ra.fullName}: </b>${ra.ticketPaymented} / ${ra.listTicket.length}</span>,`
                            }
                            if(MOD == 'room') {
                                reportMoneyByRAHtml += `<span class="mr-1"><b>${ra.name}: </b>${formatter.format(ra.totalPaidMoney)} / ${formatter.format(ra.totalMoney)}</span>,`
                                reportSeatByRAHtml += `<span class="mr-1"><b>${ra.name}: </b>${ra.ticketPaymented} / ${ra.listTicket.length}</span>,`
                            }
                        })
                    }


                    return {
                        totalTicket,
                        totalTicketPaymented,
                        totalMoney: formatter.format(totalMoney),
                        totalPaidMoney: formatter.format(totalPaidMoney),
                        notPaid: formatter.format(totalMoney - totalPaidMoney),
                        reportSeatByRAHtml,
                        reportMoneyByRAHtml,
                    }
                }

                let reportByPointUpTicket = () => {
                    let ticketMap = {};
                    let ticketMapString = "";

                    if(tickets) {
                        tickets.forEach(function(ticket) {
                            if( !ticketMap[ticket.pointUp.id] ) {
                                ticketMap[ticket.pointUp.id] = {}
                                ticketMap[ticket.pointUp.id]['pointUpInfo'] = ticket.pointUp;
                                ticketMap[ticket.pointUp.id]['listTicket'] = [];
                            }
                            ticketMap[ticket.pointUp.id]['listTicket'].push(ticket)
                        })

                        $.each(ticketMap, function(index, value){
                            ticketMapString += `<p class="col-3 text-left">${value.pointUpInfo.name}: ${value.listTicket.length} <b>vé</b> </p>`;
                        })

                        ticketMapString = `<div class="row">${ticketMapString}</div>`
                    }

                    return ticketMapString;
                }

                let reportAgency = getReport();
                let reportRoom = getReport('room');

                let replaceObject  = [
									{
										key: '[tong_so_ve]',
										value: function() {
											if (tickets){
												return tickets.length
											} else {
												return '0'
											}
										}
									},
									{
										key: '[tong_tien_ve]',
										value: function() {
											if (tickets){
												let a = 0
												$.each(tickets, function (t,ticket) {
													a += ticket.agencyPrice
												})
												return formatter.format(a)
											} else {
												return '0'
											}
										}
									},
									{
										key: '[tong_ve_chua_thanh_toan]',
										value: function() {
											if (tickets){
												let a = 0
												$.each(tickets, function (t,ticket) {
													if (ticket.paidMoney == 0) {
														a ++
													}
												})
												return a
											} else {
												return '0'
											}
										}
									},
									{
										key: '[tong_ve_da_thanh_toan]',
										value: function() {
											if (tickets){
												let a = 0
												$.each(tickets, function (t,ticket) {
													if(ticket.paidMoney > 0) {
														a ++
													}
												})
												return a
											} else {
												return '0'
											}
										}
									},
									{
										key: '[thong_ke_ve_theo_diem_len]',
										value: function() {
											return reportByPointUpTicket()
										}
									},
                    {
                        key: '[thong_ke_ve_theo_diem_len]',
                        value: function() {
                            return reportByPointUpTicket()
                        }
                    },
                    {
                        key: '[dl_tong_so_ve]',
                        value: function() {
                            return reportAgency['totalTicket']
                        }
                    },
                    {
                        key: '[dl_tong_ve_da_thanh_toan]',
                        value: function() {
                            return reportAgency['totalTicketPaymented']
                        }
                    },
                    {
                        key: '[dl_tong_tien]',
                        value: function() {
                            return reportAgency['totalMoney']
                        }
                    },
                    {
                        key: '[dl_tong_tien_da_thanh_toan]',
                        value: function() {
                            return reportAgency['totalPaidMoney']
                        }
                    },
                    {
                        key: '[dl_phai_thu]',
                        value: function() {
                            return reportAgency['notPaid']
                        }
                    },
                    {
                        key: '[room_tong_so_ve]',
                        value: function() {
                            return reportRoom['totalTicket']
                        }
                    },
                    {
                        key: '[room_tong_ve_da_thanh_toan]',
                        value: function() {
                            return reportRoom['totalTicketPaymented']
                        }
                    },
                    {
                        key: '[room_tong_tien]',
                        value: function() {
                            return reportRoom['totalMoney']
                        }
                    },
                    {
                        key: '[room_tong_tien_da_thanh_toan]',
                        value: function() {
                            return reportRoom['totalPaidMoney']
                        }
                    },
                    {
                        key: '[room_phai_thu]',
                        value: function() {
                            return reportRoom['notPaid'];
                        }
                    },
                    {
                        key: '[thong_ke_ve_theo_dl]',
                        value: function () {
                            return reportAgency['reportSeatByRAHtml']
                        }
                    },
                    {
                        key: '[thong_ke_tien_theo_dl]',
                        value: function() {
                            return reportAgency['reportMoneyByRAHtml']
                        }
                    },
                    {
                        key: '[thong_ke_ve_theo_pv]',
                        value: function () {
                            return reportRoom['reportSeatByRAHtml']
                        }
                    },
                    {
                        key: '[thong_ke_tien_theo_pv]',
                        value: function() {
                            return reportRoom['reportMoneyByRAHtml']
                        }
                    }
                ]

                let htmlAfterReplace = _.cloneDeep(html);
                $.each(replaceObject,function (k,v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key,v.value());
                });

                return htmlAfterReplace;
			},

			replaceConfig: function(data, element = 1){
				let config = this.printConfig.body;
				if(element == 0) {
					config = this.printConfig.header;
				}

				if(element == 2) {
					config = this.printConfig.footer;
				}

				if(config == null) {
					return "";
				}

				let tripTime = data&&data.startTimeReality ? this.$options.filters.customDate(data.startTimeReality, '#hhhh#:#mm#', true) : '&nbsp;'
				let tripDate = data&&data.date ? this.$options.filters.strToDate(data.date) : '&nbsp;';
				let driversString = "";

				if(data && data.drivers) {
					data.drivers.forEach(function(driver){
						driversString += `<span>${driver.fullName}</span>, `;
					})
					driversString = driversString.slice(0, -2)
				}

				let assistantsString = "";

				if(data && data.assistants) {
					data.assistants.forEach(function(assi){
						assistantsString += `<span>${assi.fullName}</span>, `;
					})
					assistantsString = assistantsString.slice(0, -2)
				}

				let reportByDeliveryTicket = () => {
					let ticketMap = {};
					let ticketMapString = "";

					if(data && data.ticketsInfo) {
						data.ticketsInfo.forEach(function(ticket) {
							if(ticket.pointUp.pointType == 3 || ticket.pointUp.pointType == 1 || ticket.pointDown.pointType == 1 || ticket.pointDown.pointType == 3) {
								if(ticket.deliveryInfo && ticket.deliveryInfo.regionInfo) {
									if( !ticketMap[ticket.deliveryInfo.regionInfo.id] ) {
										ticketMap[ticket.deliveryInfo.regionInfo.id] = {}
										ticketMap[ticket.deliveryInfo.regionInfo.id]['regionInfo'] = ticket.deliveryInfo.regionInfo;
										ticketMap[ticket.deliveryInfo.regionInfo.id]['data'] = [];
									}
									ticketMap[ticket.deliveryInfo.regionInfo.id]['data'].push(ticket)
								}
							}
						})

						$.each(ticketMap, function(index, value){
							ticketMapString += `<p class="col-3">${value.regionInfo.name}: ${value.data.length} <b>vé</b> </p>`;
						})

						ticketMapString = `<div class="row">${ticketMapString}</div>`
					}

					return ticketMapString;
				}

				let reportByPointUpTicket = () => {
					let ticketMap = {};
					let ticketMapString = "";

					if(data && data.ticketsInfo) {
						data.ticketsInfo.forEach(function(ticket) {
							if( !ticketMap[ticket.pointUp.id] ) {
								ticketMap[ticket.pointUp.id] = {}
								ticketMap[ticket.pointUp.id]['pointUpInfo'] = ticket.pointUp;
								ticketMap[ticket.pointUp.id]['listTicket'] = [];
							}
							ticketMap[ticket.pointUp.id]['listTicket'].push(ticket)
						})

						$.each(ticketMap, function(index, value){
							ticketMapString += `<p class="col-3 text-left">${value.pointUpInfo.name}: ${value.listTicket.length} <b>vé</b> </p>`;
						})

						ticketMapString = `<div class="row">${ticketMapString}</div>`
					}

					return ticketMapString;
				}

				let dayCollectMoney = () => {
					if (!data.collectionTransactions) {
						return ""
					}
					let a = []
					for (let i = 0; i < data.collectionTransactions.length; i++) {
						let b = data.collectionTransactions[i].date.toString().split('')
						let year = b.slice(0,4)
						let month = b.slice(4,6)
						month.push("-")
						let day = b.slice(6,8)
						day.push("-")
						let c = day.concat(month).concat(year)
						let d = c.join('')
						a.push(d)
					};
					let result = a.join()
					return result;
				}

				let listNameCashier = () => {
					if (!data.collectionTransactions) {
						return ""
					}
					let a = []
					for (let i = 0; i < data.collectionTransactions.length; i++) {
						let b = data.collectionTransactions[i].cashierInfo.fullName
						a.push(b)
					};
					let result = a.join()
					return result;
				}

				let customCreatedDate = () => {
					if (!data.createdDateInt) {
						return ""
					}
					let b = data.createdDateInt.toString().split('')
					let year = b.slice(0,4)
					let month = b.slice(4,6)
					month.push("-")
					let day = b.slice(6,8)
					day.push("-")
					let c = day.concat(month).concat(year)
					let result = c.join('')
					return result
				}

				let listDriverPhoneNumber = () => {
					let rt = '';
					try{
						if(data.drivers) {
							let arrName = data.drivers.map(driver => driver.phoneNumber ? '0' + driver.phoneNumber : '');
							rt += arrName.join(', ')
						}
					}catch (e) {
						console.warn(e);
					}
					return rt
				}


				config = config.replaceAll('[ten_tuyen]',data&&data.route&&data.route.name ? data.route.name : '&nbsp;');
				config = config.replaceAll('[tai_xe]', driversString);
				config = config.replaceAll('[phu_xe]', assistantsString);
				config = config.replaceAll('[gio_chay]',tripTime + " " + tripDate);
				config = config.replaceAll('[bien_so]',data&&data.vehicle&&data.vehicle.numberPlate?data.vehicle.numberPlate:'&nbsp;');
				config = config.replaceAll('[so_ghe]',data&&data.ticketsInfo ? data.ticketsInfo.length : 0);
				config = config.replaceAll('[ghi_chu]',data&&data.note?data.note:'&nbsp;');
				// config = config.replaceAll('[so_ve]',data&&data.ticketsInfo ? data.ticketsInfo.length : 0);
				config = config.replaceAll('[so_ve_giao_theo_khu_vuc]', reportByDeliveryTicket() );
				config = config.replaceAll('[so_ve_theo_diem_len]', reportByPointUpTicket() );

				config = config.replaceAll('[vi_tri]',data&&data.seat?data.seat.seatId:'&nbsp;');
				config = config.replaceAll('[sdt_dat_ve]',this.$options.filters.phoneNumber(data.phoneNumber)|| '&nbsp;');
				config = config.replaceAll('[ten_nguoi_dat]', data.fullName||'&nbsp;');
				config = config.replaceAll('[gia_ve]', data.agencyPrice?Vue.filter('number')(data.agencyPrice):'&nbsp;');
				config = config.replaceAll('[tien_da_thu]', data.paidMoney?Vue.filter('number')(data.paidMoney):'&nbsp;');
				config = config.replaceAll('[tien_chua_thu]', data.paidMoney !== null &&data.agencyPrice !== null && data.paidMoney !== undefined &&data.agencyPrice !== undefined ? Vue.filter('number')(data.agencyPrice - data.paidMoney):'&nbsp;');
				config = config.replaceAll('[ten_dai_ly]',data.agency ? data.agency.fullName : '&nbsp;');
				config = config.replaceAll('[nguoi_ban]', data.seller ? data.seller.fullName : '&nbsp;');
				config = config.replaceAll('[dai_ly_da_thu_tien]', data.chargeForAgency ? 'Đại lý đã thu tiền': '&nbsp;');
				config = config.replaceAll('[thu_ngan]', data.cashierName||'&nbsp;');
				config = config.replaceAll('[diem_len]', data.pointUp ? Vue.filter('cutString')(data.pointUp.address||data.pointUp.name, 30) : '&nbsp;');
				config = config.replaceAll('[diem_xuong]', data.pointDown ? Vue.filter('cutString')(data.pointDown.address||data.pointUp.name, 30) : '&nbsp;');
				config = config.replaceAll('[diem_don_doc_duong]', data.pointUp && data.pointUp.pointType == 2 ? data.pointUp.address : '&nbsp;');
				config = config.replaceAll('[ma_ve]', data.ticketCode||'&nbsp;');
				config = config.replaceAll('[ghi_chu]', data.note||'&nbsp;');
				config = config.replaceAll('[ten_tuyen_rut_gon]', data.routeInfo ? data.routeInfo.nameShort :'&nbsp;');
				config = config.replaceAll('[ngay_ban_ve]', customCreatedDate());
				config = config.replaceAll('[ngay_thu_tien]', dayCollectMoney());
				config = config.replaceAll('[ten_nhan_vien_thu_tien]', listNameCashier());
				config = config.replaceAll('[sdt_tai_xe]', listDriverPhoneNumber());
				config = config.replaceAll('[phong_ve]', data&&data.room?data.room.name:'&nbsp;');
				config = config.replaceAll('[trang_thai_tt]', data.ticketStatus?(data.ticketStatus == 3 ? "Đã thanh toán" : 'Giữ chỗ'):'');

				config = this.replaceReportTickets(data.ticketsInfo, config)
				
				return config;
			},
			


			print: function(trip){
				let self = this;
				this.showWay = func.getConfigWeb('showWay');
				this.trip = trip;

				setTimeout(function () {
					$(self.$el).printThis()
				},200);
				this.updatePrintedTickets(trip);
			},
			getConfig : function () {
				let self = this;

				sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_SEAT_MAP_HEADER,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
							self.printConfig.header = res.results.data;
                        }
                    },
                    functionIfError : function (res) {
						console.log(res);
                    }
				})

                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_SEAT_MAP,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
							self.printConfig.body = res.results.data;
                        }
                    },
                    functionIfError : function (res) {
						console.log(res);
                    }
				})

				sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_SEAT_MAP_FOOTER,
                    },
                    async : false,
                    success : function (res) {
                        if(res.results.data){
							self.printConfig.footer = res.results.data;
                        }
                    },
                    functionIfError : function (res) {
						console.log(res);
                    }
                })
            },
			updatePrintedTickets : function (_trip) {

				let listTicketId = [];
                $.each(_trip.ticketsInfo,function (t,ticket) {
                    listTicketId.push(ticket.ticketId);

                });

				sendJson({
					url : urlDBD(API.tripPrint),
					data : {
						id : _trip.tripId,
						ticketIds: listTicketId
					},
					success : function (data) {
						console.log(data);
					},
					error : function (error) {
						console.log(error);
					}
				});
				let printedTickets = {};
				let time = new Date().getTime();
				if(Array.isArray(_trip.ticketsInfo)){
					$.each(_trip.ticketsInfo,function (t,ticket) {
						if(ticket.printed){
							printedTickets[ticket.ticketId] = ticket.printed;
						}else{
							printedTickets[ticket.ticketId] = time;
						}
					});
				}

				if(Array.isArray(_trip.ticketsNotSeat)){
					$.each(_trip.ticketsNotSeat,function (t,ticket) {
						printedTickets[ticket.ticketId] = time;
					});
				}

				firebaseDatabase.ref().child('trips').child(_trip.tripId).update({printedTickets : printedTickets})
			}
		}
	}
</script>
<style type="text/css">
	body #seatMapSell.seat-map .seat {
		border: 1px solid #999;
    	padding: 10px;
	}
	body #seatMapSell.seat-map .seat.duong {
		border: initial;
	}
</style>
