<template>
    <div class="d-none">
        <div class="container printGoods" :id="id" style="font-size: 20px">
            <div class="row">
                <div class="col-3">
                    <img :src="userInformation.logo" class="img-fluid" alt="" style="max-width: 150px;max-height: 100px">
                </div>
                <div class="col-6 text-center">
                    <b>Nhà xe {{ userInformation.userInfo.companyName }}</b><br>
                    <h3>PHIẾU GỬI HÀNG</h3>
                </div>
                <div class="col-3 text-right">
                    <barcode :value="goods.goodsCode" format="CODE39" displayValue="true" width="1" height="30" fontSize="30"></barcode>
                </div>
            </div>
            <div class="row top10" style="line-height: 25px;">
                <div class="col-6">
                    <div style="border :1px solid #888;padding:10px;height: 100%">
                        <div>Nơi Gửi : {{ goods.pickPointName }} - {{ goods.pickPointPhone }}</div>
                        <div>Địa Chỉ : {{ goods.pickUpPoint }}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div style="border :1px solid #888;padding:10px;height: 100%">
                        <div>Nơi Nhận : {{ goods.dropPointName }}  - {{ goods.dropPointPhone }}</div>
                        <div>Địa Chỉ : {{ goods.dropOffPoint }}</div>
                    </div>
                </div>
            </div>
            <div class="row top10">
                <div class="col-6">
                    Người Gửi : <b>{{ goods.sender }}</b> / <b>{{ goods.senderPhone|phoneNumber }}</b>
                </div>
                <div class="col-6">
                    Người Nhận :  <b>{{ goods.receiver }}</b> / <b>{{ goods.receiverPhone|phoneNumber }}</b>
                </div>
                <div class="col-12">Ghi chú : {{ goods.notice }}</div>
            </div>
            <div class="row top10">
                <div class="col-12">
                    <table class="table table-bordered-dark table-sm">
                        <thead>
                        <tr class="text-center">
                            <th>Tên Hàng</th>
                            <th>Giá trị</th>
                            <th>Số Lượng</th>
                            <th>Cước phí (VND)</th>
                            <th>Đã trả</th>
                            <th>Chưa trả</th>
                            <th>Ghi Chú</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">{{ goods.goodsName }}</td>
                            <td class="text-right">{{ goods.goodsValue|number }}</td>
                            <td class="text-right">{{ goods.quantity|number }}</td>
                            <td class="text-right">{{ goods.totalPrice|number }}</td>
                            <td class="text-right">{{ goods.paid|number }}</td>
                            <td class="text-right">{{ goods.unpaid|number }}</td>
                            <td class="text-right">{{ goods.notice }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row top10" style="line-height: 20px;padding:5px;margin : 0">
                <div class="col-12" v-html="goods_print_underListGoods"></div>
            </div>
            <div class="row top10">
                <div class="col-8"></div>
                <div class="col-4 text-center">
                    {{ new Date().customFormat('Ngày #DD# tháng #MM# Năm #YYYY#') }}
                </div>
                <div class="col-4 text-center">
                    <strong>Người Gửi</strong><br>
                    <i>(Ký và ghi rõ họ tên)</i>
                </div>
                <div class="col-4 text-center">
                    <strong>Người Nhận</strong><br>
                    <i>(Ký và ghi rõ họ tên)</i>
                </div>
                <div class="col-4 text-center">
                    <strong>NV nhận hàng</strong>
                    <p>{{ goods.updateUserInfoTimeline!==undefined?goods.updateUserInfoTimeline[0].fullName:'' }}</p>
                </div>
            </div>
        </div>
        <div :id="id+'-temp'" style="padding: 2mm">
            <div style="width: 14.5cm;height:7cm;">
                <div style="width: 10.5cm;height:7cm;float: left;padding:0.1cm;padding-top:10px;display: table">
                    <div style="vertical-align: middle;display: table-cell">
                        <div style="font-size: 25px;line-height: 30px;">{{ goods.receiver }}</div>
                        <div style="font-size: 25px;line-height: 30px; font-weight: bold">{{ goods.receiverPhone|phoneNumber }}</div>
                        <div style="font-size: 20px;line-height: 25px;">Nơi nhận : {{ (goods.dropPointName||goods.dropOffPoint)|cutString(100) }}</div>
                        <barcode class="text-center" :value="goods.goodsCode" displayValue="true" width="2" height="30" fontSize="21"></barcode>
                    </div>
                </div>
                <div style="width: 4cm;height:3.6cm;float: left; line-height:3cm;">
                    <barcode  class="text-center" :value="goods.goodsCode" displayValue="true" width="1" height="30" fontSize="20"></barcode>
                </div>
                <div style="width: 4cm;height:3.4cm;float: left;line-height:3cm;">
                    <barcode class="text-center" :value="goods.goodsCode" displayValue="true" width="1" height="30" fontSize="20"></barcode>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['goods','id','message'],
        data : function () {
            return {
                userInformation : userInfo,
                goods_print_underListGoods : '',
            }
        },
        mounted : function () {
            let self = this;
            this.goods_print_underListGoods = localStorage.getItem('goods_print_underListGoods');
            this.$root.$on('changeLocal',function (data) {
                self.goods_print_underListGoods = localStorage.getItem('goods_print_underListGoods');
            });
        },
    }
</script>