<template>
    <div>
    </div>
</template>
<script>
    import { mapState } from 'vuex';
    import customDate from "../../Helper/Filters"
    import { PaymentType } from '../../class/company_config'

    export default {
        data : function () {
            return {
                dataConfig : '<div><img src="http://lh3.googleusercontent.com/w6unpSUkIkBhSSZfdYZpPA4ghSjt6zrXOcaC1JmtK5I-l7yclXCHfMYTzzNWfoVDEQ98Flz6t0_X07fczlaoUdo" style="float:left; height:50px"/>&nbsp; &nbsp;[ten_cong_ty]</div><div>&nbsp; &nbsp;[dia_chi_cong_ty]</div><div>&nbsp; &nbsp;Li&ecirc;n hệ : 1900 7034</div><div style="text-align:center"><span style="font-size:20px">DANH S&Aacute;CH H&Agrave;NH KH&Aacute;CH</span></div><div style="text-align:center"><table border="0" cellpadding="0" cellspacing="0" style="width:100%"><tbody><tr><td style="text-align:right; width:30%">Tuyến&nbsp;&nbsp;</td><td style="text-align:left; width:20%">&nbsp; [tuyen_cua_chuyen]</td><td style="text-align:right; width:20%">T&agrave;i xế&nbsp;&nbsp;</td><td style="text-align:left; width:30%">&nbsp;&nbsp;[tai_xe_chuyen]</td></tr><tr><td style="text-align:right">&nbsp;Giờ chạy&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[gio_xuat_ben]&nbsp;[ngay_xuat_ben]</td><td style="text-align:right">Phụ xe&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[phu_xe_chuyen]</td></tr><tr><td style="text-align:right">Biển số&nbsp;&nbsp;</td><td style="text-align:left">&nbsp; [bien_so_xe]</td><td style="text-align:right">Số v&eacute;&nbsp;&nbsp;</td><td style="text-align:left">&nbsp;&nbsp;[so_luong_ve]</td></tr></tbody></table><p>&nbsp;</p><table border="1" cellpadding="1" cellspacing="0" id="tuy-chinh-in-danh-sach-ve" style="width:100%"><thead><tr><th scope="col" style="width:50px">STT</th><th scope="col" style="width:150px">M&atilde; v&eacute;</th><th scope="col" style="width:150px">Số Điện Thoại</th><th scope="col">Vị tr&iacute;</th><th scope="col" style="width:200px">Điểm l&ecirc;n</th><th scope="col" style="width:200px">Điểm Xuống</th><th scope="col">Gi&aacute; v&eacute;</th><th scope="col">Đ&atilde; thu</th><th scope="col">C&ograve;n lại</th><th scope="col">Ghi ch&uacute;</th></tr></thead><tbody><tr><td>[so_thu_tu]</td><td>[ma_ve]</td><td>[so_dien_thoai_khach]</td><td>[ten_ghe]</td><td>[diem_len]</td><td>[diem_xuong]</td><td>[gia_ve]</td><td>[da_thu]</td><td>[chua_thu]</td><td>[ghi_chu]</td></tr></tbody></table></div>',
                fields : {
                    '[trang_thai_ve]' : 'Trạng thái vé',
                    '[ten_ghe]' : 'Tên ghế',
                    '[tuyen_duong]' : 'Tuyến',
                    '[barcode]' : 'barcode',
                    '[ma_ve]' : 'Mã vé',
                    '[gio_di]' : 'Giờ đi',
                    '[ngay_di]' : 'Ngày đi',
                    '[ten_hanh_khach]' : 'Tên hành khách',
                    '[so_dien_thoai_khach]' : 'Số điện thoại khách',
                    '[nam_sinh]' : 'sinh nhật',
                    '[gia_ve]' : 'Giá vé',
                    '[diem_len]' : 'Điểm lên',
                    '[dia_chi_diem_len]' : 'Địa chỉ điểm lên',
                    '[diem_xuong]' : 'Điểm xuống',
                    '[dia_chi_diem_xuong]' : 'Điạ chỉ điểm xuống',
                    '[xe_van_chuyen]' : 'Xe vận chuyển',
                    '[ma_lien_ket]' : 'Mã liên kết',
                    '[ghi_chu]' : 'Ghi chú',
                    '[ten_cong_ty]' : 'Tên công ty',
                    '[dia_chi_cong_ty]' : 'Địa chỉ công ty',
                },
            }
        },
        computed : {
            ...mapState({
                mergeTicketsWhenPrint : state => state.CompanyConfig.companyConfig.CONFIG.MERGE_TICKET_PRINT.value,
                companyConfig: state => state.CompanyConfig.companyConfig,
            })
        },
        mounted : function () {
            this.getConfig();
        },
        methods : {
            getConfig : function () {
                let self = this;
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_LIST_TICKET,
                    },
                    success : function (res) {
                        if(res.results.data){
                            self.dataConfig = res.results.data;
                        }
                    },
                    functionIfError : function (res) {
                    }
                })
            },
            replaceData : function(trip,mini,excel){
                let self = this;
                let html = _.cloneDeep(self.dataConfig);
                // replace danh sách vé
                let htmlContentRowBuild = '';
                let total = {
                    agencyPrice : 0,
                    paidMoney : 0,
                }

                let htmlSample = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve').find('tbody').html();
                if(Array.isArray(trip.ticketsInfo) && htmlSample){
                    let _tickets = self.mergeTicketsWhenPrint ? self.unDuplicateTicket(trip.ticketsInfo):trip.ticketsInfo;
                    $.each(_tickets,function (t,ticket) {
                        htmlContentRowBuild+=self.replaceTicket(t,ticket,htmlSample);
                        total.agencyPrice += ticket.agencyPrice;
                        total.paidMoney += ticket.paidMoney;
                    });
                }
                let htmlSampleNotSeat = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-khong-cho-ngoi').find('tbody').html();
                let htmlContentNotSeatRowBuild = '';
                if(Array.isArray(trip.ticketsNotSeat) && htmlSampleNotSeat){
                    let _tickets = self.mergeTicketsWhenPrint ? self.unDuplicateTicket(trip.ticketsNotSeat):trip.ticketsNotSeat;
                    $.each(_tickets,function (t,ticket) {
                        htmlContentNotSeatRowBuild+=self.replaceTicket(t,ticket,htmlSampleNotSeat);
                        total.agencyPrice += ticket.agencyPrice;
                        total.paidMoney += ticket.paidMoney;
                    });
                }

                let ticketsByPointType = this.findTicketByPointType(trip,mini);

                let htmlSamplePointUp0 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-tai-ben').find('tbody').html();
                let htmlContentPointUp0RowBuild = '';
                if(htmlSamplePointUp0){
                    $.each(ticketsByPointType.pointUp0,function (t,ticket) {
                        htmlContentPointUp0RowBuild+=self.replaceTicket(t,ticket,htmlSamplePointUp0);
                    });
                }

                let htmlSamplePointUp1 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-tan-nha').find('tbody').html();
                let htmlContentPointUp1RowBuild = '';
                if(htmlSamplePointUp1) {
                    $.each(ticketsByPointType.pointUp1, function (t, ticket) {
                        htmlContentPointUp1RowBuild += self.replaceTicket(t, ticket, htmlSamplePointUp1);
                    });
                }

                let htmlSamplePointUp2 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-doc-duong').find('tbody').html();
                let htmlContentPointUp2RowBuild = '';
                if(htmlSamplePointUp2) {
                    $.each(ticketsByPointType.pointUp2, function (t, ticket) {
                        htmlContentPointUp2RowBuild += self.replaceTicket(t, ticket, htmlSamplePointUp2);
                    });
                }

                let htmlSamplePointUp3 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-don-trung-chuyen').find('tbody').html();
                let htmlContentPointUp3RowBuild = '';
                if(htmlSamplePointUp3) {
                    $.each(ticketsByPointType.pointUp3, function (t, ticket) {
                        htmlContentPointUp3RowBuild += self.replaceTicket(t, ticket, htmlSamplePointUp3);
                    });
                }

                let htmlSamplePointDown0 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-tai-ben').find('tbody').html();
                let htmlContentPointDown0RowBuild = '';
                if(htmlSamplePointDown0) {
                    $.each(ticketsByPointType.pointDown0, function (t, ticket) {
                        htmlContentPointDown0RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown0);
                    });
                }

                let htmlSamplePointDown1 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-tan-nha').find('tbody').html();
                let htmlContentPointDown1RowBuild = '';
                if(htmlSamplePointDown1) {
                    $.each(ticketsByPointType.pointDown1, function (t, ticket) {
                        htmlContentPointDown1RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown1);
                    });
                }

                let htmlSamplePointDown2 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-doc-duong').find('tbody').html();
                let htmlContentPointDown2RowBuild = '';
                if(htmlSamplePointDown2) {
                    $.each(ticketsByPointType.pointDown2, function (t, ticket) {
                        htmlContentPointDown2RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown2);
                    });
                }

                let htmlSamplePointDown3 = $('<div>'+html+'</div>').find('#tuy-chinh-in-danh-sach-ve-tra-trung-chuyen').find('tbody').html();
                let htmlContentPointDown3RowBuild = '';
                if(htmlSamplePointDown3) {
                    $.each(ticketsByPointType.pointDown3, function (t, ticket) {
                        htmlContentPointDown3RowBuild += self.replaceTicket(t, ticket, htmlSamplePointDown3);
                    });
                }
                //replace thông tin chuyến
                html = self.replaceTrip(trip,html,total);
                html = self.replaceReportTickets(trip.ticketsInfo, html)

                $(this.$el).html(html);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve').find('tbody').html(htmlContentRowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-khong-cho-ngoi').find('tbody').html(htmlContentNotSeatRowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-tai-ben').find('tbody').html(htmlContentPointUp0RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-tan-nha').find('tbody').html(htmlContentPointUp1RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-doc-duong').find('tbody').html(htmlContentPointUp2RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-don-trung-chuyen').find('tbody').html(htmlContentPointUp3RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-tai-ben').find('tbody').html(htmlContentPointDown0RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-tan-nha').find('tbody').html(htmlContentPointDown1RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-doc-duong').find('tbody').html(htmlContentPointDown2RowBuild);
                $(this.$el).find('#tuy-chinh-in-danh-sach-ve-tra-trung-chuyen').find('tbody').html(htmlContentPointDown3RowBuild);
                if(!excel){
                    this.updatePrintedTickets(trip);
                }
            },
            print : function (trip,mini) {
                let self = this;
                    self.replaceData(trip,mini);

                // try {
                //     JsBarcode(".barcode").init();
                // }catch(e){
                //     console.log(e)
                // }
                console.log('print')
                $(this.$el).printThis();
                this.updatePrintedTickets2(trip);
            },
            findTicketByPointType : function(trip,mini){
                let self = this;
                let data ={
                    pointUp0 : [],
                    pointUp1 : [],
                    pointUp2 : [],
                    pointUp3 : [],
                    pointDown0 : [],
                    pointDown1 : [],
                    pointDown2 : [],
                    pointDown3 : [],
                };
                $.each(trip.ticketsInSeatMap,function (t,ticket) {
                    let keyPointUp = 'pointUp'+(ticket.pointUp.pointType||0);
                    let keyPointDown = 'pointDown'+(ticket.pointDown.pointType||0);
                    data[keyPointUp].push(ticket);
                    data[keyPointDown].push(ticket);
                });
                $.each(trip.ticketsNotSeat,function (t,ticket) {
                    let keyPointUp = 'pointUp'+(ticket.pointUp.pointType||0);
                    let keyPointDown = 'pointDown'+(ticket.pointDown.pointType||0);
                    data[keyPointUp].push(ticket);
                    data[keyPointDown].push(ticket);
                });
                if(self.mergeTicketsWhenPrint){
                    data.pointUp0 = self.unDuplicateTicket(data.pointUp0);
                    data.pointUp1 = self.unDuplicateTicket(data.pointUp1);
                    data.pointUp2 = self.unDuplicateTicket(data.pointUp2);
                    data.pointUp3 = self.unDuplicateTicket(data.pointUp3);
                    data.pointDown0 = self.unDuplicateTicket(data.pointDown0);
                    data.pointDown1 = self.unDuplicateTicket(data.pointDown1);
                    data.pointDown2 = self.unDuplicateTicket(data.pointDown2);
                    data.pointDown3 = self.unDuplicateTicket(data.pointDown3);
                }
                return data;
            },
            exportTickets : function(trip,mini){
                this.replaceData(trip,mini,true);
                this.excel($(this.$el).find('#tuy-chinh-in-danh-sach-ve'),'DANH_SACH_VE_');
            },

            replaceReportTickets: function(tickets, html) {
                let formatter = new Intl.NumberFormat('vi-vn', {
                    style: 'currency',
                    currency: 'VND',
                    minimumFractionDigits: 0
                })

                let getTicketByRA = function (tickets, MOD = 'agency') {

                    if(tickets && tickets.length > 0) {

                        if(MOD == 'room') {
                            let listRoom = {};
                            tickets.forEach((ticket) => {
                                if(ticket.room  && ticket.room.id) {
                                    if(!listRoom[ ticket.room.id ]) {
                                        listRoom[ ticket.room.id ] = {}
                                        listRoom[ ticket.room.id ] = ticket.room
                                        listRoom[ ticket.room.id ]['listTicket'] = [];
                                        listRoom[ ticket.room.id ]['ticketPaymented'] = 0;

                                        listRoom[ ticket.room.id ]['totalPaidMoney'] = 0;
                                        listRoom[ ticket.room.id ]['totalMoney'] = 0;
                                    }
                                    if( ticket.ticketStatus == 3 ) {
                                        listRoom[ ticket.room.id ]['ticketPaymented']++
                                        listRoom[ ticket.room.id ]['totalPaidMoney'] += ticket.paidMoney
                                    }
                                    listRoom[ ticket.room.id ]['totalMoney'] += ticket.agencyPrice

                                    listRoom[ ticket.room.id ]['listTicket'].push(ticket)
                                }
                            })

                            return listRoom;
                        }

                        if( MOD == 'agency' ) {
                            let listAgency = {};
                            tickets.forEach((ticket) => {
                                if(ticket.agency && ticket.agency.id) {
                                    if(!listAgency[ ticket.agency.id ]) {
                                        listAgency[ ticket.agency.id ] = {}
                                        listAgency[ ticket.agency.id ] = ticket.agency
                                        listAgency[ ticket.agency.id ]['listTicket'] = [];
                                        listAgency[ ticket.agency.id ]['ticketPaymented'] = 0;

                                        listAgency[ ticket.agency.id ]['totalPaidMoney'] = 0;
                                        listAgency[ ticket.agency.id ]['totalMoney'] = 0;
                                    }
                                    if( ticket.ticketStatus == 3 ) {
                                        listAgency[ ticket.agency.id ]['ticketPaymented']++
                                        listAgency[ ticket.agency.id ]['totalPaidMoney'] += ticket.paidMoney
                                    }

                                    listAgency[ ticket.agency.id ]['totalMoney'] += ticket.agencyPrice

                                    listAgency[ ticket.agency.id ]['listTicket'].push(ticket)
                                }
                            })

                            return listAgency;
                        }

                        return "";
                    }
                    return "";

                }

                let getReport = (MOD = 'agency') => {
                    let ticketData = {};

                    if(MOD == 'agency') {
                        ticketData = getTicketByRA(_.cloneDeep(tickets));
                    }

                    if(MOD == 'room') {
                        ticketData = getTicketByRA(_.cloneDeep(tickets), 'room');
                    }
                    let totalTicket = 0;
                    let totalTicketPaymented = 0;
                    let totalMoney = 0;
                    let totalPaidMoney = 0;
                    let reportSeatByRAHtml = "";
                    let reportMoneyByRAHtml = "";

                    if(ticketData) {
                        $.each(ticketData, (key, ra) => {
                            totalTicket += ra.listTicket.length;
                            totalTicketPaymented += ra.ticketPaymented;
                            totalMoney += ra.totalMoney;
                            totalPaidMoney += ra.totalPaidMoney;
                            if(MOD == 'agency') {
                                reportMoneyByRAHtml += `<span class="mr-1"><b>${ra.fullName}: </b>${formatter.format(ra.totalPaidMoney)} / ${formatter.format(ra.totalMoney)}</span>,`
                                reportSeatByRAHtml += `<span class="mr-1"><b>${ra.fullName}: </b>${ra.ticketPaymented} / ${ra.listTicket.length}</span>,`
                            }
                            if(MOD == 'room') {
                                reportMoneyByRAHtml += `<span class="mr-1"><b>${ra.name}: </b>${formatter.format(ra.totalPaidMoney)} / ${formatter.format(ra.totalMoney)}</span>,`
                                reportSeatByRAHtml += `<span class="mr-1"><b>${ra.name}: </b>${ra.ticketPaymented} / ${ra.listTicket.length}</span>,`
                            }
                        })
                    }


                    return {
                        totalTicket,
                        totalTicketPaymented,
                        totalMoney: formatter.format(totalMoney),
                        totalPaidMoney: formatter.format(totalPaidMoney),
                        notPaid: formatter.format(totalMoney - totalPaidMoney),
                        reportSeatByRAHtml,
                        reportMoneyByRAHtml,
                    }
                }

                let reportByPointUpTicket = () => {
                    let ticketMap = {};
                    let ticketMapString = "";

                    if(tickets) {
                        tickets.forEach(function(ticket) {
                            if( !ticketMap[ticket.pointUp.id] ) {
                                ticketMap[ticket.pointUp.id] = {}
                                ticketMap[ticket.pointUp.id]['pointUpInfo'] = ticket.pointUp;
                                ticketMap[ticket.pointUp.id]['listTicket'] = [];
                            }
                            ticketMap[ticket.pointUp.id]['listTicket'].push(ticket)
                        })

                        $.each(ticketMap, function(index, value){
                            ticketMapString += `<p class="col-3 text-left">${value.pointUpInfo.name}: ${value.listTicket.length} <b>vé</b> </p>`;
                        })

                        ticketMapString = `<div class="row">${ticketMapString}</div>`
                    }

                    return ticketMapString;
                }
                
                let calTicketByStatus = () => {
                    let total = {
                        ticketAtHome: 0,
                        ticketTransshipment: 0,
                        ticketUnpaid: 0
                    };
                    if(!tickets) {
                        return total;
                    }
                    tickets.forEach(element => {
                        if(element.paidMoney === 0 && element.agencyPrice !== 0) {
                            total.ticketUnpaid ++;
                        }
                        if(element.pointUp && element.pointUp.pointType === 3) {
                            total.ticketTransshipment ++;
                        }
                        if(element.pointUp && element.pointUp.pointType === 2) {
                            total.ticketAtHome ++;
                        }

                    });
                    return total;
                }
                let sumTicketByStatus = calTicketByStatus();

                let reportAgency = getReport();
                let reportRoom = getReport('room');

                let replaceObject  = [
                    {
                        key: '[thong_ke_ve_theo_diem_len]',
                        value: function() {
                            return reportByPointUpTicket()
                        }
                    },
                    {
                        key: '[dl_tong_so_ve]',
                        value: function() {
                            return reportAgency['totalTicket']
                        }
                    },
                    {
                        key: '[dl_tong_ve_da_thanh_toan]',
                        value: function() {
                            return reportAgency['totalTicketPaymented']
                        }
                    },
                    {
                        key: '[dl_tong_tien]',
                        value: function() {
                            return reportAgency['totalMoney']
                        }
                    },
                    {
                        key: '[dl_tong_tien_da_thanh_toan]',
                        value: function() {
                            return reportAgency['totalPaidMoney']
                        }
                    },
                    {
                        key: '[dl_phai_thu]',
                        value: function() {
                            return reportAgency['notPaid']
                        }
                    },
                    {
                        key: '[room_tong_so_ve]',
                        value: function() {
                            return reportRoom['totalTicket']
                        }
                    },
                    {
                        key: '[room_tong_ve_da_thanh_toan]',
                        value: function() {
                            return reportRoom['totalTicketPaymented']
                        }
                    },
                    {
                        key: '[room_tong_tien]',
                        value: function() {
                            return reportRoom['totalMoney']
                        }
                    },
                    {
                        key: '[room_tong_tien_da_thanh_toan]',
                        value: function() {
                            return reportRoom['totalPaidMoney']
                        }
                    },
                    {
                        key: '[room_phai_thu]',
                        value: function() {
                            return reportRoom['notPaid'];
                        }
                    },
                    {
                        key: '[thong_ke_ve_theo_dl]',
                        value: function () {
                            return reportAgency['reportSeatByRAHtml']
                        }
                    },
                    {
                        key: '[thong_ke_tien_theo_dl]',
                        value: function() {
                            return reportAgency['reportMoneyByRAHtml']
                        }
                    },
                    {
                        key: '[thong_ke_ve_theo_pv]',
                        value: function () {
                            return reportRoom['reportSeatByRAHtml']
                        }
                    },
                    {
                        key: '[thong_ke_tien_theo_pv]',
                        value: function() {
                            return reportRoom['reportMoneyByRAHtml']
                        }
                    },
                    {
                        key: '[so_luong_ve_don_doc_duong]',
                        value: function () {
                            return sumTicketByStatus.ticketAtHome;
                        }
                    },
                    {
                        key: '[so_luong_ve_don_trung_chuyen]',
                        value: function () {
                            return sumTicketByStatus.ticketTransshipment;
                        }
                    },
                    {
                        key: '[so_luong_ve_chua_thu]',
                        value: function () {
                            return sumTicketByStatus.ticketUnpaid;
                        }
                    },
                ]

                let htmlAfterReplace = _.cloneDeep(html);
                $.each(replaceObject,function (k,v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key,v.value());
                });

                return htmlAfterReplace;
            },

            replaceTicket : function (index,ticket,html) {
                let htmlAfterReplace = _.cloneDeep(html);
                let self = this;
                let replaceObject  = [
                    {
                        key: '[so_thu_tu]',
                        value: function () {
                            return index-(-1);
                        }
                    },
                    {
                        key: '[trang_thai_ve]',
                        value: function () {
                            return func.checkTicketStatus(ticket).status;
                        }
                    },
                    {
                        key : '[ten_ghe]',
                        value : function () {
                            return ticket.listSeatId.join(', ');
                        }
                    },
                    {
                        key : '[so_luong_ghe]',
                        value : function () {
                            return ticket.listSeatId.length;
                        }
                    },
                    {
                        key : '[tuyen_duong]',
                        value : function () {
                            return ticket.routeInfo.name;
                        }
                    },
                    {
                        key : '[barcode]',
                        value : function () {
                            return '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="'+ticket.ticketCode+'" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>';
                        }
                    },
                    {
                        key : '[ma_ve]',
                        value : function () {
                            return ticket.ticketCode;
                        }
                    },
                    {
                        key : '[gio_di]',
                        value : function () {
                            return self.$options.filters.customDate(ticket.getInTimePlan,'#hhhh#:#mm#',true);
                        }
                    },
                    {
                        key : '[ngay_di]',
                        value : function () {
                            return self.$options.filters.strToDate(ticket.getInTimePlanInt);
                        }
                    },
                    {
                        key: '[gio_dat_ve]',
                        value: function () {
                            return self.$options.filters.customDate(ticket.createdDate,'#hhhh#:#mm#');
                        }
                    },
                    {
                        key: '[ngay_dat_ve]',
                        value: function () {
                            return self.$options.filters.strToDate(ticket.createdDateInt);
                        }
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : function () {
                            return ticket.fullName;
                        }
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : function () {
                            return self.$options.filters.phoneNumber(ticket.phoneNumber);
                        }
                    },
                    {
                        key : '[nam_sinh]',
                        value : function () {
                            return ticket.birthday;
                        }
                    },
                    {
                        key : '[gia_ve]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice);
                        }
                    },
                    {
                        key : '[hinh_thuc_thanh_toan]',
                        value : function () {                            
                            const paymentTypeEnum = PaymentType.properties()
                            
                            return paymentTypeEnum[ticket.paymentType] ? paymentTypeEnum[ticket.paymentType]['label'] : ''
                        }
                    },
                    {
                        key : '[da_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.paidMoney);
                        }
                    },
                    {
                        key : '[chua_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice-ticket.paidMoney);
                        }
                    },
                    {
                        key : '[tai_xe_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.cashOnTheTrip);
                        }
                    },
                    {
                        key : '[nhan_vien_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice-ticket.cashOnTheTrip);
                        }
                    },
                    {
                        key : '[diem_len]',
                        value : function () {
                            return ticket.pointUp.name;
                        }
                    },
                    {
                        key : '[diem_len_rut_gon]',
                        value : function () {
                            return ticket.pointUp.pointNameAcronym;
                        }
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : function () {
                            return ticket.pointUp.address;
                        }
                    },
                    {
                        key : '[dia_chi_len_tn]',
                        value : function () {
                            return ticket.pointUp.pointType==1?ticket.pointUp.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_len_dd]',
                        value : function () {
                            return ticket.pointUp.pointType==2?ticket.pointUp.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_len_tc]',
                        value : function () {
                            return ticket.pointUp.pointType==3?ticket.pointUp.address:'';
                        }
                    },
                    {
                        key : '[ten_diem_len_tc]',
                        value : function () {
                            return ticket.pointUp.pointType==3?ticket.pointUp.name:'';
                        }
                    },
                    {
                        key : '[diem_xuong]',
                        value : function () {
                            return ticket.pointDown.name;
                        }
                    },
                    {
                        key : '[diem_xuong_rut_gon]',
                        value : function () {
                            return ticket.pointDown.pointNameAcronym;
                        }
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : function () {
                            return ticket.pointDown.address;
                        }
                    },
                    {
                        key : '[dia_chi_xuong_tn]',
                        value : function () {
                            return ticket.pointDown.pointType==1?ticket.pointDown.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_xuong_dd]',
                        value : function () {
                            return ticket.pointDown.pointType==2?ticket.pointDown.address:'';
                        }
                    },
                    {
                        key : '[dia_chi_xuong_tc]',
                        value : function () {
                            return ticket.pointDown.pointType==3?ticket.pointDown.address:'';
                        }
                    },
                    {
                        key : '[ten_diem_xuong_tc]',
                        value : function () {
                            return ticket.pointDown.pointType==3?ticket.pointDown.name:'';
                        }
                    },
                    {
                        key : '[xe_van_chuyen]',
                        value : function () {
                            return ticket.vehicle.numberPlate;
                        }
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : function () {
                            return ticket.foreignKey||'';
                        }
                    },
                    {
                        key : '[ghi_chu]',
                        value : function () {
                            return ticket.note||'';
                        }
                    },
                    {
                        key : '[dai_ly]',
                        value : function () {
                            return ticket.agency?ticket.agency.fullName:'';
                        }
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : function () {
                            return userInfo.companyAddress;
                        }
                    },
                    {
                        key : '[ten_nguoi_ban]',
                        value : function () {
                            if(!ticket.seller) return "";
                            return ticket.seller.fullName||'';
                        }
                    },
                    {
                        key : '[ten_phong_ve]',
                        value : function () {
                            if(!ticket.room) return "";
                            return ticket.room.name||'';
                        }
                    },
                    {
                        key : '[ten_nguoi_thu_tien]',
                        value : function () {
                            try{
                                let result=ticket.collectionTransactions[ ticket.collectionTransactions.length - 1 ].cashierInfo.fullName||'';
                                return result;
                            }catch (e) {
                                console.warn(e);
                                return '';
                            }
                        }
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : function () {
                            if(!ticket.routeInfo) return "";
                            return ticket.routeInfo.nameShort || '';
                        }
                    },
                    {
                        key : '[ngay_ban_ve]',
                        value : function () {
                            if (!ticket.createdDateInt) {
                                return ""
                            }
                            let b = ticket.createdDateInt.toString().split('')
                            let year = b.slice(0,4)
                            let month = b.slice(4,6)
                            month.push("-")
                            let day = b.slice(6,8)
                            day.push("-")
                            let c = day.concat(month).concat(year)
                            let result = c.join('')
                            return result
                        }
                    },
                    {
                        key : '[ngay_thu_tien]',
                        value : function () {
                            if (!ticket.collectionTransactions) {
                                return ""
                            }
                            try{
                                let a = []
                                for (let i = 0; i < ticket.collectionTransactions.length; i++) {
                                    let b = ticket.collectionTransactions[i].date.toString().split('')
                                    let year = b.slice(0,4)
                                    let month = b.slice(4,6)
                                    month.push("-")
                                    let day = b.slice(6,8)
                                    day.push("-")
                                    let c = day.concat(month).concat(year)
                                    let d = c.join('')
                                    a.push(d)
                                };
                                let result = a.join()
                                return result;
                            }catch (e) {
                                console.warn(e);
                                return '';
                            }
                        }
                    },
                    {
                        key : '[so_lan_in_ve]',
                        value : function () {
                            if (ticket.numberOfPrint) {
                                return ticket.numberOfPrint + 1;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[khu_vuc_don]',
                        value : function () {
                            if (ticket.pointUp && ticket.pointUp.regionInfo && ticket.pointUp.regionInfo.name) {
                                return ticket.pointUp.regionInfo.name
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[khu_vuc_tra]',
                        value : function () {
                            if (ticket.pointDown && ticket.pointDown.regionInfo && ticket.pointDown.regionInfo.name) {
                                return ticket.pointDown.regionInfo.name
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[ten_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.orderer ? ticket.orderer : ticket.fullName ? ticket.fullName : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[dai_ly_da_thu_tien]',
                        value : function () {
                            if (ticket) {
                                return ticket.chargeForAgency ? 'Đại lý đã thu tiền' : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[sdt_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.ordererPhoneNumber ? ticket.ordererPhoneNumber : ticket.phoneNumber ? ticket.phoneNumber : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                ];
                $.each(replaceObject,function (k,v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key,v.value());
                });
                return htmlAfterReplace;
            },
            replaceTrip : function (trip,html,total) {
                let self = this;
                let htmlAfterReplace = _.cloneDeep(html);
                let replaceObject  = [
                    {
                        key: '[tuyen_cua_chuyen]',
                        value: function () {
                            return trip.route.name;
                        }
                    },
                    {
                        key: '[gio_xuat_ben]',
                        value: function () {
                            return self.$options.filters.customDate(trip.startTimeReality,'#hhhh#:#mm#',true)
                        }
                    },
                    {
                        key: '[ngay_xuat_ben]',
                        value: function () {
                            return self.$options.filters.strToDate(trip.date)
                        }
                    },
                    {
                        key: '[bien_so_xe]',
                        value: function () {
                            return trip.vehicle.numberPlate||'';
                        }
                    },
                    {
                        key: '[tai_xe_chuyen]',
                        value: function () {
                            let rt = '';
                            try{
                                let arrName = trip.drivers.map(driver => driver.fullName);
                                rt += arrName.join(', ')
                            }catch (e) {
                                console.warn(e);
                            }
                            return rt
                        }
                    },
                    {
                        key: '[phu_xe_chuyen]',
                        value: function () {
                            let rt = '';
                            try{
                                let arrName = trip.assistants.map(ass => ass.fullName);
                                rt += arrName.join(', ')
                            }catch (e) {
                                console.warn(e);
                            }
                            return rt
                        }
                    },
                    {
                        key: '[so_luong_ve]',
                        value: function () {
                            return trip.ticketsInfo?trip.ticketsInfo.length:0;
                        }
                    },
                    {
                        key : '[ds_ghe_trong]',
                        value : function () {
                            let seatList = trip&&trip.seatMap&&trip.seatMap.seatList ? trip.seatMap.seatList : [];
                            let listSeat = {};
                            $.each(seatList,function (s , seat) {
                                if(seat.seatType ==3 ||seat.seatType ==4){
                                    listSeat[seat.seatId] = seat.seatId;
                                }
                            });
                            $.each(trip&&trip.ticketsInfo?trip.ticketsInfo:[],function (t,ticket) {
                                if(ticket.seat&&ticket.seat.seatId&&listSeat[ticket.seat.seatId]){
                                    delete listSeat[ticket.seat.seatId];
                                }
                            });
                            return Object.values(listSeat).join(', ');
                        }
                    },
                    {
                        key: '[tong_tien_ve]',
                        value: function () {
                            return self.$options.filters.number(total.agencyPrice||0);
                        }
                    },
                    {
                        key: '[tong_da_tra]',
                        value: function () {
                            return self.$options.filters.number(total.paidMoney||0);
                        }
                    },
                    {
                        key: '[tong_chua_tra]',
                        value: function () {
                            return self.$options.filters.number(total.agencyPrice-total.paidMoney);
                        }
                    },
                    {
                        key : '[ghi_chu_chuyen]',
                        value : function () {
                            return trip.note||'';
                        }
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : function () {
                            return userInfo.companyAddress||'';
                        }
                    },
                    {
                        key : '[tong_so_ve_co_phu_thu]',
                        value : function () {
                            if (trip.ticketsInfo) {
                                let a = 0;
                                for(let i = 0; i<trip.ticketsInfo.length; i++) {
                                    if (trip.ticketsInfo[i].surcharges) {
                                        a ++;
                                    }
                                }
                                return a
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[sdt_tai_xe]',
                        value : function () {
                            let rt = '';
                            try{
                                let arrName = trip.drivers.map(driver => driver.phoneNumber?'0'+driver.phoneNumber:'');
                                rt += arrName.join(', ')
                            }catch (e) {
                                console.warn(e);
                            }
                            return rt
                        }
                    }
                ];
                $.each(replaceObject,function (k,v) {
                    htmlAfterReplace = htmlAfterReplace.replaceAll(v.key,v.value());
                });
                return htmlAfterReplace;
            },
            updatePrintedTickets : function (_trip) {

                let listTicketId = [];
                $.each(_trip.ticketsInfo,function (t,ticket) {
                    listTicketId.push(ticket.ticketId);

                });

                // sendJson({
                //     url : urlDBD(API.tripPrint),
                //     data : {
                //         id : _trip.tripId,
                //         ticketIds: listTicketId
                //     },
                //     success : function (data) {
                //         console.log(data);
                //     },
                //     error : function (error) {
                //         console.log(error);
                //     }
                // });
                let printedTickets = {};
                let time = new Date().getTime();
                if(Array.isArray(_trip.ticketsInfo)){
                    $.each(_trip.ticketsInfo,function (t,ticket) {
                        if(ticket.printed){
                            printedTickets[ticket.ticketId] = ticket.printed;
                        }else{
                            printedTickets[ticket.ticketId] = time;
                        }
                    });
                }

                if(Array.isArray(_trip.ticketsNotSeat)){
                    $.each(_trip.ticketsNotSeat,function (t,ticket) {
                        printedTickets[ticket.ticketId] = time;
                    });
                }

                firebaseDatabase.ref().child('trips').child(_trip.tripId).update({printedTickets : printedTickets})
            },
            updatePrintedTickets2 : function (_trip) {
                console.log('updatePrintedTickets2')
                let listTicketId = [];
                $.each(_trip.ticketsInfo,function (t,ticket) {
                    listTicketId.push(ticket.ticketId);

                });

                sendJson({
                    url : urlDBD(API.tripPrint),
                    data : {
                        id : _trip.tripId,
                        ticketIds: listTicketId,
                        notShowPrint: true
                    },
                    success : function (data) {
                        console.log(data);
                    },
                    error : function (error) {
                        console.log(error);
                    }
                });
                let printedTickets = {};
                let time = new Date().getTime();
                if(Array.isArray(_trip.ticketsInfo)){
                    $.each(_trip.ticketsInfo,function (t,ticket) {
                        if(ticket.printed){
                            printedTickets[ticket.ticketId] = ticket.printed;
                        }else{
                            printedTickets[ticket.ticketId] = time;
                        }
                    });
                }

                if(Array.isArray(_trip.ticketsNotSeat)){
                    $.each(_trip.ticketsNotSeat,function (t,ticket) {
                        printedTickets[ticket.ticketId] = time;
                    });
                }

                firebaseDatabase.ref().child('trips').child(_trip.tripId).update({printedTickets : printedTickets})
            },
            unDuplicateTicket: function(listTickets) {
                let res = [];

                let isExist = (arr, x) =>
                {
                    for(let i = 0; i < arr.length; i++) {
                        let condition = arr[i].pointDown.address == x.pointDown.address
                            && arr[i].pointUp.address == x.pointUp.address
                            && arr[i].ticketCode == x.ticketCode
                            && arr[i].phoneNumber == x.phoneNumber;

                        if (condition)
                            return {index: i, status: true};
                    }
                    return {index: i, status: false};
                }


                listTickets.forEach(elm => {
                    let element = _.cloneDeep(elm);
                    let checker = isExist(res, element);
                    if(!checker.status)
                    {
                        res.push(element);
                    } else {
                        element.listSeatId.forEach(elem => res[checker.index]['listSeatId'].push(elem) );
                        let totalAgency = res[checker.index]['agencyPrice'] + element.agencyPrice;
                        let totalPaid = res[checker.index]['paidMoney'] + element.paidMoney;

                        res[checker.index]['agencyPrice'] = totalAgency;
                        res[checker.index]['paidMoney'] = totalPaid;
                    }
                });

                return res;

            },
        }
    }
</script>
