<template>
    <div style="color:#000;">
        <canvas id="canvas"></canvas>
    </div>
</template>
<script>
    import {mapState} from 'vuex';
    import QRCode from 'qrcode'

    export default {
        data : function () {
            return {
                dataConfig : '<table border="0" cellpadding="5" cellspacing="1" style="width:300px"><tbody><tr><td style="text-align:center"><div><span style="font-size:18px">[ten_cong_ty]</span></div><div>[barcode]</div><div><span style="font-size:18px">[ma_ve]</span></div><div style="text-align:left">Tuyến :&nbsp;[tuyen_duong]&nbsp;</div><div style="text-align:left">Giờ đi :&nbsp;[gio_di]&nbsp;[ngay_di]</div><div style="text-align:left">H&agrave;nh kh&aacute;ch :&nbsp;[ten_hanh_khach]</div><div style="text-align:left">SDT&nbsp;:&nbsp;[so_dien_thoai_khach]</div><div style="text-align:left">Ghế :&nbsp;[ten_ghe]</div><div style="text-align:left">Gi&aacute; v&eacute; :&nbsp;[gia_ve]</div><div style="text-align:left">L&ecirc;n :[diem_len]</div><div style="text-align:left">Xuống :&nbsp;[diem_xuong]</div><div style="text-align:left">Xe :&nbsp;[xe_van_chuyen]</div><div style="text-align:left">Ghi ch&uacute; :&nbsp;[ghi_chu]</div></td></tr></tbody></table>',
                fields : {
                    '[trang_thai_ve]' : 'Trạng thái vé',
                    '[ten_ghe]' : 'Tên ghế',
                    '[tuyen_duong]' : 'Tuyến',
                    '[barcode]' : 'barcode',
                    '[ma_ve]' : 'Mã vé',
                    '[gio_di]' : 'Giờ đi',
                    '[ngay_di]' : 'Ngày đi',
                    '[ten_hanh_khach]' : 'Tên hành khách',
                    '[so_dien_thoai_khach]' : 'Số điện thoại khách',
                    '[nam_sinh]' : 'Sinh nhật',
                    '[gia_ve]' : 'Giá vé',
                    '[diem_len]' : 'Điểm lên',
                    '[dia_chi_diem_len]' : 'Địa chỉ điểm lên',
                    '[diem_xuong]' : 'Điểm xuống',
                    '[dia_chi_diem_xuong]' : 'Địa chỉ điểm xuống',
                    '[xe_van_chuyen]' : 'Xe vận chuyển',
                    '[ghi_chu]' : 'Ghi chú',
                    '[ten_cong_ty]' : 'Tên công ty',
                    '[dia_chi_cong_ty]' : 'Địa chỉ công ty',
                    '[ki_hieu_mau_so]' : 'Kí hiệu mẫu số',
                    '[ki_hieu]' : 'Kí hiệu',
                },
            }
        },
        mounted : function () {
            this.getConfig();
        },
        computed : {
            ...mapState({
                mergeTicketsWhenPrint : state => state.CompanyConfig.companyConfig.CONFIG.MERGE_TICKET_PRINT.value,
            })
        },
        methods : {
            getConfig : function () {
                let self = this;
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_TICKET,
                    },
                    success : function (res) {
                        if(res.results.data){
                            self.dataConfig = res.results.data;
                        }
                    }
                })
            },
            print : function (tickets) {
                let self = this;
                let html = '';
                if(Array.isArray(tickets)){
                    var tks = self.mergeTicketsWhenPrint ? func.unDuplicateTicket(tickets):tickets;
                    $.each(tks,function (t,ticket) {
                        html+=self.replace(ticket);
                    });
                }
                $(this.$el).html(html);
                try {
                    JsBarcode(".barcode").init();
                }catch(e){
                    console.log(e)
                }
                $(this.$el).printThis();
            },
            renderQrCode: async function(code) {
                let qrString;
                let option = {
                    height: "300",
                    width: "300"
                };
                await QRCode.toString(code, option, function(err, string) {
                    if (err) {
                        qrString = "";
                    }
                    qrString = string;
                });
                return qrString;
            },
            replace : function (ticket) {
                let self = this;
                let html = _.cloneDeep(this.dataConfig);
                let replaceObject  = [
                    {
                        key: '[trang_thai_ve]',
                        value: function () {
                            return func.checkTicketStatus(ticket).status;
                        }
                    },
                    {
                        key : '[ten_ghe]',
                        value : function () {
                            return ticket.listSeatId?ticket.listSeatId.join(', '):ticket.seat.seatId;
                        }
                    },
                    {
                        key : '[so_luong_ve]',
                        value : function () {
                            return ticket.listSeatId?ticket.listSeatId.length:1;
                        }
                    },
                    {
                        key : '[tuyen_duong]',
                        value : function () {
                            return ticket.routeInfo.name;
                        }
                    },
                    {
                        key : '[bar_code]',
                        value : function () {
                            return '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="'+ticket.ticketCode+'" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>';
                        }
                    },
                    {
                        key : '[QR_code]',
                        value : function () {
                            let self = this
                            let qrString;
                            let option = {
                                height: "300",
                                width: "300"
                            };
                            QRCode.toString(ticket.ticketCode, option, function(err, string) {
                                if (err) {
                                    qrString = "";
                                }
                                qrString = string;
                            });
                            return qrString;
                        }
                    },
                    {
                        key : '[ma_ve]',
                        value : function () {
                            return ticket.ticketCode;
                        }
                    },
                    {
                        key : '[ma_tra_cuu]',
                        value : function () {
                            return ticket.invoiceInfo && ticket.invoiceInfo.invoiceNumber ? ticket.invoiceInfo.invoiceNumber : '';
                        }
                    },
                    {
                        key : '[gio_di]',
                        value : function () {
                            return self.$options.filters.customDate(ticket.getInTimePlan,'#hhhh#:#mm#',true);
                        }
                    },
                    {
                        key : '[ngay_di]',
                        value : function () {
                            return self.$options.filters.strToDate(ticket.getInTimePlanInt);
                        }
                    },
                    {
                        key: '[gio_dat_ve]',
                        value: function () {
                            return self.$options.filters.customDate(ticket.createdDate,'#hhhh#:#mm#');
                        }
                    },
                    {
                        key: '[ngay_dat_ve]',
                        value: function () {
                            return self.$options.filters.strToDate(ticket.createdDateInt);
                        }
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : function () {
                            return ticket.fullName;
                        }
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : function () {
                            return self.$options.filters.phoneNumber(ticket.phoneNumber);
                        }
                    },
                    {
                        key : '[nam_sinh]',
                        value : function () {
                            return ticket.birthday;
                        }
                    },
                    {
                        key : '[gia_ve]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice);
                        }
                    },
                    {
                        key : '[da_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.paidMoney);
                        }
                    },
                    {
                        key : '[gia_ve_truoc_hoa_hong_dl]',
                        value : function () {
                            return self.$options.filters.number(ticket.originalTicketPrice + ticket.seat.extraPrice);
                        }
                    },
                    {
                        key : '[chua_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice-ticket.paidMoney);
                        }
                    },
                    {
                        key: '[hinh_thuc_don]',
                        value : function () {
                            let result = 'Tại bến';
                            switch (ticket.pointUp.pointType) {
                                case 1 :
                                    result = "Tại nhà";
                                    break;
                                case 2 :
                                    result = "Dọc đường";
                                    break;
                                case 3 :
                                    result = "Bến trung chuyển";
                                    break;
                            }
                            return result;
                        }
                    },
                    {
                        key: '[diem_len]',
                        value: function () {
                            return ticket.pointUp.name;
                        }
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : function () {
                            return ticket.pointUp.address;
                        }
                    },
                    {
                        key: '[hinh_thuc_tra]',
                        value: function () {
                            let result = 'Tại bến';
                            switch (ticket.pointDown.pointType) {
                                case 1 :
                                    result = "Tại nhà";
                                    break;
                                case 2 :
                                    result = "Dọc đường";
                                    break;
                                case 3 :
                                    result = "Bến trung chuyển";
                                    break;
                            }
                            return result;
                        }
                    },
                    {
                        key : '[diem_xuong]',
                        value : function () {
                            return ticket.pointDown.name;
                        }
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : function () {
                            return ticket.pointDown.address;
                        }
                    },
                    {
                        key : '[xe_van_chuyen]',
                        value : function () {
                            return ticket.vehicle?ticket.vehicle.numberPlate:'';
                        }
                    },
                    {
                        key : '[ghi_chu]',
                        value : function () {
                            return ticket.note||'';
                        }
                    },
                    {
                        key : '[nguoi_ban_ve]',
                        value : function () {
                            return ticket.seller.fullName||'';
                        }
                    },
                    {
                        key : '[dai_ly]',
                        value : function () {
                            return ticket.agency?ticket.agency.fullName:'';
                        }
                    },
                    {
                        key: '[ten_phong_ve]',
                        value: function () {
                            return ticket.room && ticket.room.name ? ticket.room.name : '';
                        }
                    },
                    {
                        key: '[sdt_phong_ve]',
                        value: function () {
                            return ticket.room && ticket.room.phoneNumber ? ticket.room.phoneNumber : '';
                        }
                    },
                    {
                        key : '[ngay_hien_tai]',
                        value : function () {
                            return new Date().customFormat('#DD#-#MM#-#YYYY#')
                        }
                    },
                    {
                        key : '[gio_hien_tai]',
                        value : function () {
                            return new Date().customFormat('#hhhh#:#mm#')
                        }
                    },
                    {
                        key : '[nguoi_in_ve]',
                        value : function () {
                            return userInfo.userInfo.fullName;
                        }
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : function () {
                            return userInfo.companyAddress;
                        }
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : function () {
                            if (ticket.routeInfo&&ticket.routeInfo.nameShort) {
                                return ticket.routeInfo.nameShort;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[so_lan_in_ve]',
                        value : function () {
                            if (ticket) {
                                return ticket.numberOfPrint + 1;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[danh_muc_phu_thu]',
                        value : function () {
                            if (ticket && ticket.surcharges) {
                                let a = '';
                                $.each(ticket.surcharges, function (s,sur) {
                                    a += sur.name;
                                    if (s != (ticket.surcharges.length - 1))
                                    a += ', '
                                })
                                return a;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[tien_tai_xe_thu]',
                        value : function () {
                            if (ticket && ticket.cashOnTheTrip) {
                                return self.$options.filters.number(ticket.cashOnTheTrip)
                            }  else {
                                return 0;
                            }
                        }
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : function () {
                            if (ticket.foreignKey) {
                                return ticket.foreignKey;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[ten_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.orderer ? ticket.orderer : ticket.fullName ? ticket.fullName : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[sdt_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.ordererPhoneNumber ? ticket.ordererPhoneNumber : ticket.phoneNumber ? ticket.phoneNumber : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key: '[ki_hieu_mau_so]',
                        value: function () {
                            return ticket.routeInfo.formInvoice
                        }
                    },
                    {
                        key: '[ki_hieu]',
                        value: function () {
                            return ticket.routeInfo.serialInvoice
                        }
                    },

                ];
                $.each(replaceObject,function (k,v) {
                    html = html.replaceAll(v.key,v.value());
                });
                return html;
            }
        }
    }
</script>
