<template>
    <div style="color:#000;">
    </div>
</template>
<script>
    import {mapState} from "vuex";

    export default {
        data : function () {
            return {
                dataConfig : '',
                fields : {
                    '[trang_thai_ve]' : 'Trạng thái vé',
                    '[ten_ghe]' : 'Tên ghế',
                    '[tuyen_duong]' : 'Tuyến',
                    '[barcode]' : 'barcode',
                    '[ma_ve]' : 'Mã vé',
                    '[gio_di]' : 'Giờ đi',
                    '[ngay_di]' : 'Ngày đi',
                    '[ten_hanh_khach]' : 'Tên hành khách',
                    '[so_dien_thoai_khach]' : 'Số điện thoại khách',
                    '[gia_ve]' : 'Giá vé',
                    '[diem_len]' : 'Điểm lên',
                    '[dia_chi_diem_len]': 'Địa chỉ diểm lên',
                    '[diem_xuong]' : 'Điểm xuống',
                    '[dia_chi_diem_xuong]': 'Địa chỉ diểm xuống',
                    '[xe_van_chuyen]' : 'Xe vận chuyển',
                    '[ghi_chu]' : 'Ghi chú',
                    '[ten_cong_ty]' : 'Tên công ty',
                    '[dia_chi_cong_ty]' : 'Địa chỉ công ty',
                },
            }
        },
        mounted : function () {
            this.getConfig();
        },
        computed : {
            ...mapState({
                mergeTicketsWhenPrint : state => state.CompanyConfig.companyConfig.CONFIG.MERGE_TICKET_PRINT.value,
            })
        },
        methods : {
            getConfig : function () {
                let self = this;
                sendJson({
                    url : urlDBD(API.displaySettingGet),
                    data : {
                        type : DisplaySetting.PRINT_TICKET_TEMP,
                    },
                    success : function (res) {
                        if(res.results.data){
                            self.dataConfig = res.results.data;
                        }
                    },
                })
            },
            print : function (tickets) {
                let self = this;
                let html = '';
                if(Array.isArray(tickets)){
                    var tks = self.mergeTicketsWhenPrint ? func.unDuplicateTicket(tickets):tickets;
                    $.each(tks,function (t,ticket) {
                        html+=self.replace(ticket);
                        // html += '<div class="page-break"></div>';
                    });
                }
                $(this.$el).html(html);
                try {
                    JsBarcode(".barcode").init();
                }catch(e){
                    console.log(e)
                }
                $(this.$el).printThis();
            },
            replace : function (ticket) {
                let self = this;
                let html = _.cloneDeep(this.dataConfig);
                let replaceObject  = [
                    {
                        key: '[trang_thai_ve]',
                        value: function () {
                            return func.checkTicketStatus(ticket).status;
                        }
                    },
                    {
                        key : '[ten_ghe]',
                        value : function () {
                            return ticket.listSeatId?ticket.listSeatId.join(', '):ticket.seat.seatId;
                        }
                    },
                    {
                        key : '[so_luong_ve]',
                        value : function () {
                            return ticket.listSeatId?ticket.listSeatId.length:1;
                        }
                    },
                    {
                        key : '[tuyen_duong]',
                        value : function () {
                            return ticket.routeInfo.name;
                        }
                    },
                    {
                        key : '[barcode]',
                        value : function () {
                            return '<svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="'+ticket.ticketCode+'" jsbarcode-displayValue="false" jsbarcode-width="1" jsbarcode-height="50px"></svg>';
                        }
                    },
                    {
                        key : '[ma_ve]',
                        value : function () {
                            return ticket.ticketCode;
                        }
                    },
                    {
                        key : '[ma_ve_rg]',
                        value : function () {
                            try{
                                let code= ticket.ticketCode.split('-');
                                return code[code.length-1];
                            }catch(e){
                                return ticket.ticketCode;
                            }
                        }
                    },
                    {
                        key : '[gio_di]',
                        value : function () {
                            return self.$options.filters.customDate(ticket.getInTimePlan,'#hhhh#:#mm#',true);
                        }
                    },
                    {
                        key : '[ngay_di]',
                        value : function () {
                            return self.$options.filters.strToDate(ticket.getInTimePlanInt);
                        }
                    },
                    {
                        key: '[gio_dat_ve]',
                        value: function () {
                            return self.$options.filters.customDate(ticket.createdDate,'#hhhh#:#mm#');
                        }
                    },
                    {
                        key: '[ngay_dat_ve]',
                        value: function () {
                            return self.$options.filters.strToDate(ticket.createdDateInt);
                        }
                    },
                    {
                        key : '[ten_hanh_khach]',
                        value : function () {
                            return ticket.fullName;
                        }
                    },
                    {
                        key : '[so_dien_thoai_khach]',
                        value : function () {
                            return self.$options.filters.phoneNumber(ticket.phoneNumber);
                        }
                    },
                    {
                        key : '[gia_ve]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice);
                        }
                    },
                    {
                        key : '[da_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.paidMoney);
                        }
                    },
                    {
                        key : '[chua_thu]',
                        value : function () {
                            return self.$options.filters.number(ticket.agencyPrice-ticket.paidMoney);
                        }
                    },
                    {
                        key : '[diem_len]',
                        value : function () {
                            return ticket.pointUp.name;
                        }
                    },
                    {
                        key : '[dia_chi_diem_len]',
                        value : function () {
                            return ticket.pointUp.address;
                        }
                    },
                    {
                        key : '[diem_xuong]',
                        value : function () {
                            return ticket.pointDown.name;
                        }
                    },
                    {
                        key : '[dia_chi_diem_xuong]',
                        value : function () {
                            return ticket.pointDown.address;
                        }
                    },
                    {
                        key : '[xe_van_chuyen]',
                        value : function () {
                            return ticket.vehicle?ticket.vehicle.numberPlate:'';
                        }
                    },
                    {
                        key : '[ghi_chu]',
                        value : function () {
                            return ticket.note||'';
                        }
                    },
                    {
                        key: '[ten_phong_ve]',
                        value: function () {
                            return ticket.room && ticket.room.name ? ticket.room.name : '';
                        }
                    },
                    {
                        key: '[sdt_phong_ve]',
                        value: function () {
                            return ticket.room && ticket.room.phoneNumber ? ticket.room.phoneNumber : '';
                        }
                    },
                    {
                        key : '[ten_cong_ty]',
                        value : function () {
                            return userInfo.userInfo.companyName;
                        }
                    },
                    {
                        key : '[dia_chi_cong_ty]',
                        value : function () {
                            return userInfo.companyAddress;
                        }
                    },
                    {
                        key : '[ten_tuyen_rut_gon]',
                        value : function () {
                            if (ticket.routeInfo&&ticket.routeInfo.nameShort) {
                                return ticket.routeInfo.nameShort;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[so_lan_in_ve]',
                        value : function () {
                            if (ticket) {
                                return ticket.numberOfPrint + 1;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[ma_lien_ket]',
                        value : function () {
                            if (ticket.foreignKey) {
                                return ticket.foreignKey;
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[ten_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.orderer ? ticket.orderer : ticket.fullName ? ticket.fullName : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                    {
                        key : '[sdt_nguoi_di]',
                        value : function () {
                            if (ticket) {
                                return ticket.ordererPhoneNumber ? ticket.ordererPhoneNumber : ticket.phoneNumber ? ticket.phoneNumber : ''
                            }  else {
                                return '';
                            }
                        }
                    },
                ];
                $.each(replaceObject,function (k,v) {
                    html = html.replaceAll(v.key,v.value());
                });
                return html;
            }
        }
    }
</script>