<template>
    <div class="managerShippingArea" style="margin-bottom: 70px">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="shippingArea-head">
                <h3>Quản lý ca làm việc</h3>
                <div v-if="$root.roles.WORK_SHIFT_GET_LIST">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addShippingArea"><i class="fa fa-plus"></i> Thêm ca</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="shippingArea-filter">
        <div class="row">    
            <div class="col-md-3 form-group">
                <label>Bộ phận</label>
                <select class="form-control" v-model="filter.department" @change="getWorkShift">
                    <option value="">Tất cả bộ phận</option> 
                    <option v-for="(department, index) in departments" :key="index" :value="department.value">{{ department.label }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="shippingArea-list">
                <table class="table table-bordered">
                    <thead>
                        <th>Stt</th>
                        <th>Tên ca</th>
                        <th>Bộ phận</th>
                        <th>Từ</th>
                        <th>Đến</th>
                        <th style="width: 10%"></th>
                    </thead>
                    <tbody v-if="shifts.length > 0">
                        <tr v-for="(shift, index) in shifts" :key="shift.id">
                            <td>{{ index + 1 }}</td>
                            <td>{{ shift.name }}</td>
                            <td>{{ departments[shift.department].label }}</td>
                            <td>{{shift.startTime|customDate('#hhhh#:#mm#',true)}}</td>
                            <td>{{shift.endTime|customDate('#hhhh#:#mm#',true)}}</td>
                            <td>
                                <a href="javascript:;" class="icon bg-warning" @click="create(shift)"><i class="fas fa-pen"></i></a>
                                <a href="javascript:;" class="icon bg-danger" @click="remove(shift.id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <td  colspan="6" class="text-center">Không có ca nào !</td>
                    </tbody>
                </table>
            </div>
            <div class="">
                <button class="btn btn-sm btn-outline-dark float-left" v-if="filter.page != 0" @click="filter.page -= 1; getWorkShift()"><i class="fas fa-arrow-left"></i> Trang {{ filter.page }}</button>
                <button class="btn btn-sm btn-outline-dark float-right" v-if="shifts.length > 0 && shifts.length >= filter.size" @click="filter.page += 1; getWorkShift()">Trang {{ filter.page + 2 }} <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addShippingArea">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" v-if="!shiftSelected">Thêm ca</h4>
                <h4 class="modal-title" v-else>Cập nhật ca</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Tên ca</label>
                        <input type="text" v-model="editor.name" class="form-control">
                        <p class="error">{{ errorBag.name }}</p>
                    </div>
                    <div class="form-group">
                        <label for="">Bộ phận</label>
                        <select class="form-control" v-model="editor.department">
                            <option value="">Chọn bộ phận</option> 
                            <option v-for="(department, index) in departments" :key="index" :value="department.value">{{ department.label }}</option>
                        </select>
                        <p class="error">{{ errorBag.department }}</p>
                    </div>
                    <div class="form-group">
                        <label for="">Giờ bắt đầu</label>
                        <clock-picker v-model="editor.startTime" input-class="form-control text-center"></clock-picker>
                        <p class="error">{{ errorBag.startTime }}</p>

                    </div>
                    <div class="form-group">
                        <label for="">Giờ kết thúc</label>
                        <clock-picker v-model="editor.endTime" input-class="form-control text-center"></clock-picker>
                        <p class="error">{{ errorBag.endTime }}</p>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button v-if="!shiftSelected" type="button" class="btn btn-primary" @click="save()">Lưu</button>
                <button v-else type="button" class="btn btn-primary" @click="update()">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                
            </div>
        </div>
    </div>
</div>

</div>
</template>

<script>
    import {RegionDepartment} from "../../class/region";

    export default {
    data : function () {
        return {
            shifts: [],
            shiftSelected: false,
            departments: RegionDepartment.properties(),
            editor: {
                name: "",
                department: "",
                startTime: "",
                endTime: "",
            },
            filter: {
                size: 30,
                page: 0,
                department: "",
            },
            errorBag: {
                name: "",
                department: "",
                startTime: "",
                endTime: "",
            }
        }
    },
    mounted : function(){
        this.getWorkShift();

        let self = this;
        $('#addShippingArea').on('hidden.bs.modal', function (e) {
            self.shiftSelected = false;
            self.resetEditor();
        })
    },
    methods: {
        getWithDefaultFilter: function() {
            let self = this;

            self.filter.page = 0;
            self.filter.department = "";
            self.getWorkShift();
        },
        resetEditor: function() {
            let self = this;

            self.editor.name = "";
            self.editor.startTime = "";
            self.editor.department = "";
            self.editor.endTime = "";

            self.errorBag.name = "";
            self.errorBag.startTime = "";
            self.errorBag.department = "";
            self.errorBag.endTime = "";

            
        },
        validate: function() {
            let self = this;
            let statusName = true, statusDepartment  = true, statusStartTime  = true, statusEndTime = true;
            if(self.editor.name.trim() == "") {
                self.errorBag.name = "Tên ca không được bỏ trống"; 
                statusName = false;
            } else {
                self.errorBag.name = "";
                statusName = true;
            }

            if(self.editor.department === "") {
                self.errorBag.department = "Bộ phận không được bỏ trống"; 
                statusDepartment = false;
            } else {
                self.errorBag.department = "";
                statusDepartment = true;
            }

            if(self.editor.startTime == "") {
                self.errorBag.startTime = "Giờ bắt đầu không được bỏ trống"; 
                statusStartTime = false;
            } else {
                statusStartTime = true;
                self.errorBag.startTime = "";
            }

            if(self.editor.endTime == "") {
                self.errorBag.endTime = "Giờ kết thúc không được bỏ trống"; 
                statusEndTime = false;
            } else {
                self.errorBag.endTime = "";
                statusEndTime = true;
            }
            
            if(statusEndTime)
            if(func.timeToMs(self.editor.endTime) <= func.timeToMs(self.editor.startTime)) {
                self.errorBag.endTime = "Giờ kết thúc phải lớn hơn giờ bắt đầu"; 
                statusEndTime = false;
            } else {
                statusEndTime = true;
                self.errorBag.endTime = "";
            }

            return statusName && statusDepartment && statusStartTime && statusEndTime;
        },
        save: function() {
            let self = this;

            if( !self.validate() ) return;
            
            self.load('save');
            let params = {
                name: self.editor.name,
                department: self.editor.department,
                startTime: func.timeToMs(self.editor.startTime),
                endTime: func.timeToMs(self.editor.endTime),
            };
            
            sendJson({
                url : urlDBD(API.workShiftCreate),
                method: "POST",
                data: params,
                success : function (res) {

                    self.getWithDefaultFilter();
                    self.unload('save');
                    $('#addShippingArea').modal('hide')
                },
                functionIfError : function () {
                    self.unload('save');

                }
            })
            self.resetEditor();
        },
        create: function(shift = {}) {
            let self = this;
            console.log("create");
            $('#addShippingArea').modal('show')

            self.shiftSelected = shift;

            self.editor.name = shift.name;
            self.editor.department = shift.department;
            self.editor.startTime = self.$options.filters.customDate(shift.startTime,'#hhhh#:#mm#',true);
            self.editor.endTime = self.$options.filters.customDate(shift.endTime,'#hhhh#:#mm#',true);
        },
        update: function() {

            let self = this;

            if( !self.validate() ) return;

            self.load('update');
            let params = {
                id: self.shiftSelected.id,
                name: self.editor.name,
                department: self.editor.department,
                startTime: func.timeToMs(self.editor.startTime),
                endTime: func.timeToMs(self.editor.endTime),
            };

            sendJson({
                url : urlDBD(API.workShiftUpdate),
                method: "POST",
                data: params,
                success : function (res) {
                    self.getWorkShift();
                    self.unload('update');
                    self.shiftSelected = false;
                    $('#addShippingArea').modal('hide')
                },
                functionIfError : function () {
                    self.unload('update');

                }
            })

            self.resetEditor();
        },
        remove: function(id) {
            if(!confirm("Bạn chắc chắn xóa ca làm việc này !")) return;
            let self = this; 

            self.load('remove');
            sendJson({
                url : urlDBD(API.workShiftDelete) + "?id=" + id,
                method: "POST",
                success : function (res) {
                    self.getWorkShift()
                    self.unload('remove');
                },
                functionIfError : function () {
                    self.unload('remove');

                }
            })
        },
        getWorkShift: function() {
            let self = this;
            let params = {
                size: self.filter.size,
                page: self.filter.page,
            };

            if(self.filter.department !== "") {
                params.department = self.filter.department;
            }
            
            self.load('getWorkShift');
            
            sendParam({
                url : urlDBD(API.workShiftGet),
                data: params,
                method: "GET",
                success : function (res) {
                    self.shifts = res.results.rs;
                    self.unload('getWorkShift');
                },
                functionIfError : function () {
                    self.unload('getWorkShift');

                }
            })
        }
    }
}
</script>

<style scoped>
.managerShippingArea {
    padding: 40px 80px;
}

.shippingArea-head{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.shippingArea-filter{
    margin-bottom: 20px;
}
.shippingArea-list .icon {
    width: 25px;
    height: 25px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.modal .close[data-dismiss=modal]{
    color: #fff
}
.modal-header{

    align-items: center;
}
.pagination-wrap{
    display: flex;
    justify-content: space-between;
}
.address-item::after{
    content: ",";
    display: inline-block;
}

.address-item:last-child::after {
    content: "";
    display: inline-block;
}
.error{
    font-size: 12px;
    font-weight: bold;
    color: #dc3333;
    margin-top: 5px;
}
</style>