<template>
  <div class="container-fluid">
    <div style="margin-bottom: 50px">
      <el-row>
        <div class="col-12 title-ret">
          Quản lý đơn dịch vụ
        </div>
      </el-row>
      <div>
        <div class="header-ret">
          <div class="col-12">
            <div class="row">
              <div class="col-10">
                <div class="form-group" style="width: 200px">
                  <!--<label>Tìm kiếm</label><br>-->
                  <!--<el-input></el-input>-->
                  <!--<el-button @click="getlist()">Get</el-button>-->
                </div>
              </div>
              <div class="col-2" style="">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <button class="btn btn-search btn-block" @click="addService()">
                    Thêm đơn
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" v-loading="listOrderService.loading | orderService.loading" >
            <template>
              <el-table
                      :data="listOrderService.list"
                      :header-cell-style="tableHeaderColor"
                      :row-style="tableRowStyle"
                      :row-class-name="getRowClass"
                      border>
                <el-table-column
                        label="Mã đơn"
                        min-width="100px"
                        class-name="text-center"
                >
                  <template slot-scope="scope">
                    {{scope.row.serviceOrderCode}}
                  </template>
                </el-table-column>
                  <el-table-column
                          label="Tên dịch vụ"
                          min-width="100px"
                          class-name="text-center"
                  >
                      <template slot-scope="scope">
                          {{scope.row.service ? scope.row.service.name : ''}}
                      </template>
                  </el-table-column>
                  <el-table-column
                          label="Ảnh"
                          width="150px"
                          class-name="text-center"
                  >
                      <template slot-scope="scope" style="text-align: center;">
                  <span v-if="scope.row.service && scope.row.service.listImage && scope.row.service.listImage[0]">
                    <img
                            class="el-upload-list__item-thumbnail"
                            :src="scope.row.service.listImage[0]" style="max-width:100px" alt=""
                    >
                  </span>
                      </template>
                  </el-table-column>
                <el-table-column
                        label="Thời gian tạo"
                        min-width="100px"
                        class-name="text-center">
                  <template slot-scope="scope">
                    {{scope.row.createdDate | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}
                  </template>
                </el-table-column>
                <el-table-column
                        label="Người mua"
                        min-width="200px"
                        class-name="text-center"
                >
                  <template slot-scope="scope">
                    {{scope.row.buyerName ? scope.row.buyerName : ''}}
                  </template>
                </el-table-column>
                <el-table-column
                        label="SĐT người mua"
                        min-width="100px"
                        class-name="text-center"
                >
                  <template slot-scope="scope">
                    {{scope.row.buyerPhone ? scope.row.buyerPhone : ''}}
                  </template>
                </el-table-column>
                <el-table-column
                      label="Số lượng"
                      min-width="100px"
                      class-name="text-center">
                <template slot-scope="scope">
                  {{scope.row.serviceAmount | number}}
                </template>
                </el-table-column>
                  <el-table-column
                          label="Tổng tiền"
                          min-width="100px"
                          class-name="text-center">
                      <template slot-scope="scope">
                          {{(scope.row.totalPrice ? scope.row.totalPrice : '') | number}}
                      </template>
                  </el-table-column>
                <el-table-column
                        label="Thời gian sử dụng"
                        min-width="100px"
                        class-name="text-center">
                  <template slot-scope="scope">
                    {{scope.row.serviceUsingTime | customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#')}}
                  </template>
                </el-table-column>
                <el-table-column
                        label="Lưu ý"
                        min-width="100px"
                        class-name="text-center">
                  <template slot-scope="scope">
                    {{scope.row.notice}}
                  </template>
                </el-table-column>
                <el-table-column label="" fixed="right" class-name="text-center">
                  <template slot-scope="scope">
                    <div  v-loading="scope.row.loading">
                      <el-button type="primary" icon="el-icon-edit" @click="editService(scope.row)" size="small" :loading="scope.row.loading" circle></el-button>
                      <!--<el-popconfirm :title="$t('notify.confirm-delete')" confirmButtonText="Xóa" @onConfirm="deleteService(scope.row)" cancel-button-text="Hủy">-->
                      <!--<el-button type="danger" slot="reference" @click="openDelete" icon="el-icon-delete" circle size="small"></el-button>-->
                      <!--</el-popconfirm>-->
                      <el-button type="danger" @click="openDelete(scope.row)" icon="el-icon-delete" circle size="small"></el-button>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </div>
        </div>
      </div>

      <el-dialog title="Thêm đơn" :visible.sync="dialogAddVisible" width="50%" @close="handleClose">
        <el-form :model="form">
          <div class="row">
            <div class="col">
              <el-form-item label="Mã đơn dịch vụ" >
                <br>
                <input type="text" class="form-control" v-model="orderService.serviceOrderCode" />
              </el-form-item>
              <el-form-item label="Tên người mua" >
                <br>
                <input type="text" class="form-control" v-model="orderService.buyerName" />
              </el-form-item>
              <el-form-item label="Số điện thoại người mua" >
                <br>
                <input type="text" class="form-control" v-model="orderService.buyerPhone" />
              </el-form-item>
              <el-form-item label="Email người mua (Tự động gửi thông báo)" >
                <br>
                <input type="text" class="form-control" placeholder="Nhập email" v-model="orderService.emailInfo.customerEmail" />
              </el-form-item>
              <el-form-item label="Số lượng" >
                <br>
                <el-input-number v-model="orderService.serviceAmount" controls-position="right" :min="1" :max="10000"></el-input-number>
              </el-form-item>
              <el-form-item label="Thời gian sử dụng" >
                <br>
                  <el-date-picker
                          v-model="orderService.serviceUsingTime"
                          format="dd-MM-yyyy"
                          value-format="timestamp"
                          type="date"
                          placeholder="Chọn ngày"
                  ></el-date-picker>
              </el-form-item>
              <el-form-item label="Ghi chú" >
                <br>
                  <textarea  class="form-control" v-model="orderService.notice" ></textarea>
              </el-form-item>
              <el-form-item label="Tổng tiền (VNĐ)" >
                <br>
                  <input-number class="form-control" v-model="orderService.totalPrice"></input-number>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="Chọn loại dịch vụ" >
                <br>
                <el-select v-model="serviceSelected" :multiple="false" value-key="id" placeholder="Chọn dịch vụ" >
                  <el-option
                          v-for="item in serviceList"
                          :key="item.id"
                          :label="item.name"
                          :value="item">
                  </el-option>
                </el-select>
              </el-form-item>
              <div class="row">
                <div class="col">
                  <el-form-item label="Giá dịch vụ (VNĐ)"  v-if="serviceSelected">
                    <br>
                    <input-number :disabled="true" class="form-control" v-model="serviceSelected.price"></input-number>
                  </el-form-item>
                </div>
                <div class="col">
                  <el-form-item label="Đơn vị"  v-if="serviceSelected">
                    <br>
                    <input type="text" :disabled="true" class="form-control" style="width: 100px" v-model="serviceSelected.unit" />
                  </el-form-item>
                </div>
              </div>
              <el-form-item label="Ảnh"  v-if="serviceSelected && serviceSelected.listImage && serviceSelected.listImage[0]">
                <div>
                  <img
                          class="el-upload-list__item-thumbnail"
                          :src="serviceSelected.listImage[0]" style="max-width:100px; margin-top: 30px; margin-left: 30px" alt=""
                  >
                </div>
              </el-form-item>
            </div>
          </div>
        </el-form>
        <span slot="footer" class="dialog-footer">
                <el-button @click="handleClose()">Hủy</el-button>
                <el-button type="primary" @click="confirmAddService()">Tạo</el-button>
            </span>
      </el-dialog>
      <el-dialog title="Sửa đơn " :visible.sync="dialogEditVisible" width="50%" @close="handleCloseEdit">
          <el-form :model="form">
              <div class="row">
                  <div class="col">
                      <el-form-item label="Mã đơn dịch vụ" >
                          <br>
                          <input type="text" class="form-control" v-model="orderService.serviceOrderCode" />
                      </el-form-item>
                      <el-form-item label="Tên người mua" >
                          <br>
                          <input type="text" class="form-control" v-model="orderService.buyerName" />
                      </el-form-item>
                      <el-form-item label="Số điện thoại người mua" >
                          <br>
                          <input type="text" class="form-control" v-model="orderService.buyerPhone" />
                      </el-form-item>
                      <el-form-item label="Email người mua (Tự động gửi thông báo)" >
                        <br>
                        <input type="text" placeholder="Nhập email" class="form-control" v-model="orderService.emailInfo.customerEmail" />
                      </el-form-item>
                      <el-form-item label="Số lượng" >
                          <br>
                          <el-input-number v-model="orderService.serviceAmount" controls-position="right" :min="1" :max="10000"></el-input-number>
                      </el-form-item>
                      <el-form-item label="Thời gian sử dụng" >
                          <br>
                          <el-date-picker
                                  v-model="orderService.serviceUsingTime"
                                  format="dd-MM-yyyy"
                                  value-format="timestamp"
                                  type="date"
                                  placeholder="Chọn ngày"
                          ></el-date-picker>
                      </el-form-item>
                      <el-form-item label="Ghi chú" >
                          <br>
                          <textarea  class="form-control" v-model="orderService.notice" ></textarea>
                      </el-form-item>
                      <el-form-item label="Tổng tiền (VNĐ)" >
                          <br>
                          <input-number class="form-control" v-model="orderService.totalPrice"></input-number>
                      </el-form-item>
                  </div>
                  <div class="col">
                      <el-form-item label="Chọn loại dịch vụ" >
                          <br>
                          <el-select v-model="serviceSelected" :multiple="false" placeholder="Chọn dịch vụ" >
                              <el-option
                                      v-for="item in serviceList"
                                      :key="item.id"
                                      :label="item.name"
                                      :value="item">
                              </el-option>
                          </el-select>
                      </el-form-item>
                      <div class="row">
                          <div class="col">
                              <el-form-item label="Giá dịch vụ (VNĐ)"  v-if="serviceSelected">
                                  <br>
                                  <input-number :disabled="true" class="form-control" v-model="serviceSelected.price"></input-number>
                              </el-form-item>
                          </div>
                          <div class="col">
                              <el-form-item label="Đơn vị"  v-if="serviceSelected">
                                  <br>
                                  <input type="text" :disabled="true" class="form-control" style="width: 100px" v-model="serviceSelected.unit" />
                              </el-form-item>
                          </div>
                      </div>
                      <el-form-item label="Ảnh"  v-if="serviceSelected && serviceSelected.listImage && serviceSelected.listImage[0]">
                          <div>
                              <img
                                      class="el-upload-list__item-thumbnail"
                                      :src="serviceSelected.listImage[0]" style="max-width:100px; margin-top: 30px; margin-left: 30px" alt=""
                              >
                          </div>
                      </el-form-item>
                  </div>
              </div>
          </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleCloseEdit()">Hủy</el-button>
            <el-button type="primary" @click="confirmEditService()">Sửa</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import {OrderService,ListOrderService} from "../../class/service";
    import SelectPoint from '../Point/SelectPoint';
    import SelectAgency from '../Agency/SelectAgency';
    import ESelectLevelAgency from '../LevelAgency/ESelectLevelAgency'
    import {mapState} from 'vuex'
    import UploadFiles from '../Ingredient/UploadFiles.vue';
    export default {
        components : {SelectRoute, ESelectUser, SelectUser, SelectPoint,SelectAgency, ESelectLevelAgency,UploadFiles},
        data: function(){
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                fileList: [],
                orderService : new OrderService(),
                listOrderService : new ListOrderService(),
                dialogAddVisible: false,
                dialogEditVisible: false,
                avatar: '',
                serviceList: [],
                serviceSelected: null,
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: 'auto',
                isUseFunction: true,
            }
        },
        mounted: function(){
            this.getlist()
            this.getListService()
        },
        methods: {
            openDelete: function(order) {
                this.$confirm('Bạn chắc chắn muốn xóa dịch vụ này?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Hủy',
                    type: 'warning'
                }).then(() => {
                    this.deleteService(order)
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Xóa thất bại'
                    });
                });
            },
            getListService (){
                let self = this;
                let params = {
                    page: 0,
                    count: 0,
                    companyId: window.userInfo.userInfo.companyId
                };
                sendJson({
                    url : window.urlDBD(window.API.getListService),
                    type: 'post',
                    data : params,
                    success : function (data) {
                        self.serviceList = data.results.services
                    },
                    functionIfError : function (data) {
                    }
                });
            },
            handleCloseEdit: function () {
                this.dialogEditVisible = false
                this.serviceSelected = null
                this.orderService = new OrderService()
            },
            getlist: function () {
                this.listOrderService.getList()
            },
            getRowClass(rowIndex) {
                if (rowIndex.rowIndex === 0) {
                    return 'info-row'
                } else {
                    return ''
                }
            },
            tableRowStyle({ row, rowIndex }) {
                if (rowIndex === 0) {
                    return 'background-color: #CFD3DB;font-weight: 500;color: #000000'
                }
            },
            tableHeaderColor({ row, column, rowIndex, columnIndex }) {
                if (rowIndex === 0) {
                    return 'background-color: #CFD3DB;font-weight: 500;color: #000000'
                }
            },
            addService : function () {
                this.dialogAddVisible = true

            },
            confirmAddService : function () {
                let self = this
                if (!self.serviceSelected) {
                    notify("Vui lòng chọn dịch vụ!", "error");
                    return;
                }
                if (!self.orderService.buyerName) {
                    notify("Vui lòng điền tên người mua!", "error");
                    return;
                }
                if (!self.orderService.buyerPhone) {
                    notify("Vui lòng điền số điện thoại người mua!", "error");
                    return;
                }
                if (!self.orderService.emailInfo.customerEmail) {
                    notify("Vui lòng điền email người mua!", "error");
                    return;
                }
                self.orderService.serviceId = self.serviceSelected.id
                self.dialogAddVisible = false
                self.orderService.sendAddOrderService(function () {
                    self.listOrderService.getList()
                })
            },
            editService : async function (data) {
                this.serviceSelected = _.cloneDeep(data.service)
                this.orderService = await _.cloneDeep(data)
                this.dialogEditVisible = true
            },
            confirmEditService : function () {
                let self = this
                if (!self.serviceSelected) {
                    notify("Vui lòng chọn dịch vụ!", "error");
                    return;
                }
                if (!self.orderService.buyerName) {
                    notify("Vui lòng điền tên người mua!", "error");
                    return;
                }
                if (!self.orderService.buyerPhone) {
                    notify("Vui lòng điền số điện thoại người mua!", "error");
                    return;
                }
                if (!self.orderService.emailInfo.customerEmail) {
                    notify("Vui lòng điền email người mua!", "error");
                    return;
                }
                self.orderService.serviceId = self.serviceSelected.id
                self.dialogEditVisible = false
                self.orderService.sendEditOrderService(function () {
                    self.listOrderService.getList()
                })
            },
            deleteService : function (order) {
                let self = this
                self.orderService.sendDeleteOrderService(order,function () {
                    self.listOrderService.getList()
                })
            },
            handleClose : function () {
                this.dialogAddVisible = false
                this.serviceSelected = null
                this.orderService = new OrderService()
                this.serviceEdit = {}
            },
            updateSystemSetting : function () {
                let self = this;
                self.companyConfig.update();
            },
        },
        computed: {
            ...mapState({
                room: state => state.room,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            })
        },
        watch: {
            serviceSelected : function () {
                let self = this
                if(self.serviceSelected){
                    self.orderService.totalPrice = self.serviceSelected.price * self.orderService.serviceAmount
                }
            },
            'orderService.serviceAmount' : function () {
                let self = this
                if(self.serviceSelected){
                    self.orderService.totalPrice = self.serviceSelected.price * self.orderService.serviceAmount
                }
            }
        }
    }
</script>
<style scoped>
  .el-table .info-row {
    background: #c9e5f5;
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    /*background: #ECEDF1;*/
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>