<template>
  <div class="container-fluid" style="width: 80%;">
    <div style="margin-bottom: 50px">
      <el-row>
        <div class="col-12 title-ret">
          Quản lý dịch vụ
        </div>
      </el-row>
      <div>
        <div class="header-ret">
          <div class="col-12">
            <div class="row">
              <div class="col-10">
                <div class="form-group" style="width: 200px">
                  <!--<label>Tìm kiếm</label><br>-->
                  <!--<el-input></el-input>-->
                  <!--<el-button @click="getlist()">Get</el-button>-->
                </div>
              </div>
              <div class="col-2" style="">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <button class="btn btn-search btn-block" @click="addService()">
                    Thêm dịch vụ
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" v-loading="listService.loading | service.loading" >
            <template>
              <el-table
                      :data="listService.list"
                      :header-cell-style="tableHeaderColor"
                      :row-style="tableRowStyle"
                      :row-class-name="getRowClass"
                      border>
                <el-table-column
                        label="Ảnh"
                        width="150px"
                        class-name="text-center"
                >
                  <template slot-scope="scope" style="text-align: center;">
                  <span>
                    <img
                            class="el-upload-list__item-thumbnail"
                            :src="scope.row.listImage[0]" style="max-width:100px" alt=""
                    >
                  </span>
                  </template>
                </el-table-column>
                <el-table-column
                        label="Tên dịch vụ"
                        min-width="100px"
                        class-name="text-center"
                >
                  <template slot-scope="scope">
                    {{scope.row.name}}
                  </template>
                </el-table-column>
                <el-table-column
                        label="Mô tả"
                        min-width="200px"
                        class-name="text-center"
                >
                  <template slot-scope="scope">
                    {{scope.row.description ? scope.row.description : ''}}
                  </template>
                </el-table-column>
                <el-table-column
                        label="Giá dịch vụ"
                        min-width="50px"
                        class-name="text-center">
                  <template slot-scope="scope">
                    {{scope.row.price | number}}
                  </template>
                </el-table-column>
                <el-table-column
                        label="Đơn vị"
                        min-width="50px"
                        class-name="text-center">
                  <template slot-scope="scope">
                    {{scope.row.unit}}
                  </template>
                </el-table-column>
                <el-table-column label="" fixed="right" class-name="text-center">
                  <template slot-scope="scope">
                    <div  v-loading="scope.row.loading">
                      <el-button type="primary" icon="el-icon-edit" @click="editService(scope.row)" size="small" :loading="scope.row.loading" circle></el-button>
                      <!--<el-popconfirm :title="$t('notify.confirm-delete')" confirmButtonText="Xóa" @onConfirm="deleteService(scope.row)" cancel-button-text="Hủy">-->
                          <!--<el-button type="danger" slot="reference" @click="openDelete" icon="el-icon-delete" circle size="small"></el-button>-->
                      <!--</el-popconfirm>-->
                      <el-button type="danger" @click="openDelete(scope.row)" icon="el-icon-delete" circle size="small"></el-button>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </div>
        </div>
      </div>
      <el-dialog title="Thêm dịch vụ" :visible.sync="dialogAddVisible" width="60%" @close="handleClose">
        <el-form :model="form">
          <div class="row">
            <div class="col">
              <el-form-item label="Tên dịch vụ" >
                <br>
                <input type="text" class="form-control" v-model="service.name" />
              </el-form-item>
              <el-form-item label="Mô tả dịch vụ" >
                <br>
                <!--<el-input class="w-100" type="textarea" placeholder="" v-model="service.note"></el-input>-->
                <textarea  class="form-control" v-model="service.description" ></textarea>
              </el-form-item>
              <div class="row">
                <div class="col">
                  <el-form-item label="Giá dịch vụ (VND)" >
                    <br>
                    <input-number class="form-control" v-model="service.price"></input-number>
                  </el-form-item>
                </div>
                <div class="col">
                  <el-form-item label="Đơn vị" >
                    <br>
                    <input type="text" class="form-control" v-model="service.unit" />
                  </el-form-item>
                </div>
              </div>
              <el-form-item label="Ảnh" >
                <div>
                  <upload-files :value="service.listImage" v-model="service.listImage"></upload-files>
                </div>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="Mã dịch vụ" >
                <br>
                <div data-name="goodsDelivery" class="goodsDelivery">
                  <table class="table table-bordered table-sm table-hover" v-shortkey="['ctrl', 'space']" @shortkey="addCodeDetail()">
                    <thead class="bg-orange">
                    <th width="45%" class="text-center" >Mã</th>
                    <th width="45%"  class="text-center" >Số lượng</th>
                    <th width="10%"  class="text-center" ></th>
                    </thead>
                    <tbody>
                    <template v-for="(detail,d) in coupon">
                      <tr :key="d" v-shortkey="['ctrl', 'shift' ,'space']" @shortkey="coupon.splice(d,1)">
                        <td class="text-center">
                          <el-input class="no-input" v-model="detail.name" placeholder="Nhập mã"></el-input>
                        </td>
                        <td class="text-center">
                          <el-input-number size="small" style="text-align: center" v-model="detail.number" :min="1" :max="100000000000"></el-input-number>
                        </td>
                        <td class="text-center">
                          <el-popconfirm title="Bạn có chắc chắn muốn xóa mã dịch vụ này?"
                                         confirmButtonText='XÓA'
                                         cancelButtonText='KHÔNG'
                                         @onConfirm="coupon.splice(d,1)">
                              <span slot="reference" title="Xóa (Ctrl + Shift + Space)" class="cursor-pointer">
                                <i class="el-icon-delete-solid"></i>
                              </span>
                          </el-popconfirm>
                        </td>
                      </tr>
                    </template>
                    </tbody>
                  </table>
                  <div class="row" style="padding: 0;text-align: end;display: block;margin: -5px 0 0 0;">
                    <el-button title="Thêm mã (Ctrl + space)" @click="addCodeDetail()" style="margin-right: 5px" type="primary" icon="el-icon-plus" size="small"></el-button>
                  </div>
                </div>
              </el-form-item>
            </div>
          </div>
        </el-form>
        <span slot="footer" class="dialog-footer">
                <el-button @click="handleClose()">Hủy</el-button>
                <el-button type="primary" @click="confirmAddService()">Tạo</el-button>
            </span>
      </el-dialog>
      <el-dialog title="Sửa dịch vụ " :visible.sync="dialogEditVisible" width="60%" @close="handleCloseEdit">
        <el-form :model="form">
          <div class="row">
            <div class="col">
              <el-form-item label="Tên dịch vụ" >
                <br>
                <input type="text" class="form-control" v-model="service.name" />
              </el-form-item>
              <el-form-item label="Mô tả dịch vụ" >
                <br>
                <!--<el-input class="w-100" type="textarea" placeholder="" v-model="service.note"></el-input>-->
                <textarea  class="form-control" v-model="service.description" ></textarea>
              </el-form-item>
              <div class="row">
                <div class="col">
                  <el-form-item label="Giá dịch vụ (VND)" >
                    <br>
                    <input-number class="form-control" v-model="service.price"></input-number>
                  </el-form-item>
                </div>
                <div class="col">
                  <el-form-item label="Đơn vị" >
                    <br>
                    <input type="text" class="form-control" v-model="service.unit" />
                  </el-form-item>
                </div>
              </div>
              <el-form-item label="Ảnh" >
                <div>
                  <upload-files :value="service.listImage" v-model="service.listImage"></upload-files>
                </div>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="Mã dịch vụ" >
                <br>
                <div data-name="goodsDelivery" class="goodsDelivery">
                  <table class="table table-bordered table-sm table-hover" v-shortkey="['ctrl', 'space']" @shortkey="addCodeDetail()">
                    <thead class="bg-orange">
                    <th width="45%" class="text-center" >Mã</th>
                    <th width="45%"  class="text-center" >Số lượng</th>
                    <th width="10%"  class="text-center" ></th>
                    </thead>
                    <tbody>
                    <template v-for="(detail,d) in coupon">
                      <tr :key="d" v-shortkey="['ctrl', 'shift' ,'space']" @shortkey="coupon.splice(d,1)">
                        <td class="text-center">
                          <el-input class="no-input" v-model="detail.name" placeholder="Mã"></el-input>
                        </td>
                        <td class="text-center">
                          <el-input-number size="small" style="text-align: center" v-model="detail.number" :min="1" :max="100000000000"></el-input-number>
                        </td>
                        <td class="text-center">
                          <el-popconfirm title="Bạn có chắc chắn muốn xóa mã dịch vụ này?"
                                         confirmButtonText='XÓA'
                                         cancelButtonText='KHÔNG'
                                         @onConfirm="coupon.splice(d,1)">
                              <span slot="reference" title="Xóa (Ctrl + Shift + Space)" class="cursor-pointer">
                                <i class="el-icon-delete-solid"></i>
                              </span>
                          </el-popconfirm>
                        </td>
                      </tr>
                    </template>
                    </tbody>
                  </table>
                  <div class="row" style="padding: 0;text-align: end;display: block;margin: -5px 0 0 0;">
                    <el-button title="Thêm mã (Ctrl + space)" @click="addCodeDetail()" style="margin-right: 5px" type="primary" icon="el-icon-plus" size="small"></el-button>
                  </div>
                </div>
              </el-form-item>
            </div>
          </div>
        </el-form>
        <span slot="footer" class="dialog-footer">
                <el-button @click="handleCloseEdit()">Hủy</el-button>
                <el-button type="primary" @click="confirmEditService()">Sửa</el-button>
            </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
    import SelectRoute from '../Route/SelectRoute';
    import ESelectUser from '../User/ESelectUser';
    import SelectUser from '../User/SelectUser';
    import {Service,ListService} from "../../class/service";
    import SelectPoint from '../Point/SelectPoint';
    import SelectAgency from '../Agency/SelectAgency';
    import ESelectLevelAgency from '../LevelAgency/ESelectLevelAgency'
    import {mapState} from 'vuex'
    import UploadFiles from '../Ingredient/UploadFiles.vue';
    export default {
        components : {SelectRoute, ESelectUser, SelectUser, SelectPoint,SelectAgency, ESelectLevelAgency,UploadFiles},
        data: function(){
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                fileList: [],
                service : new Service(),
                listService : new ListService(),
                dialogAddVisible: false,
                dialogEditVisible: false,
                avatar: '',
                coupon: [],
                couponSample: {
                    name : '',
                    number: 0
                },
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: 'auto',
                isUseFunction: true,
            }
        },
        mounted: function(){
            this.getlist()
        },
        methods: {
            openDelete: function(service) {
                this.$confirm('Bạn chắc chắn muốn xóa dịch vụ này?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Hủy',
                    type: 'warning'
                }).then(() => {
                    this.deleteService(service)
                    this.$message({
                        type: 'success',
                        message: 'Xóa thành công'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Xóa thất bại'
                    });
                });
            },
            addCodeDetail: function () {
                let a = _.cloneDeep(this.couponSample);
                this.coupon.push(a)
                const goodDelivery = document.querySelector('[data-name=goodsDelivery]')
                goodDelivery.scrollTop = goodDelivery.scrollHeight;
                // this.setGoodsDataTable()
            },
            // setGoodsDataTable() {
            //     if(this.companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value) {
            //         if(this.companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value.id || _.size(this.goodsFeesMap) == 0) {
            //             let index = this.goodsData.details.length - 1
            //             this.goodsData.details[index].setType( this.goodsFeesMap[this.companyConfig.CONFIG.DEFAULT_TABLE_PRICE.value.id] )
            //         }
            //     }
            //
            // },
            getlist: function () {
                this.listService.getList()
            },
            getRowClass(rowIndex) {
                if (rowIndex.rowIndex === 0) {
                    return 'info-row'
                } else {
                    return ''
                }
            },
            tableRowStyle({ row, rowIndex }) {
                if (rowIndex === 0) {
                    return 'background-color: #CFD3DB;font-weight: 500;color: #000000'
                }
            },
            tableHeaderColor({ row, column, rowIndex, columnIndex }) {
                if (rowIndex === 0) {
                    return 'background-color: #CFD3DB;font-weight: 500;color: #000000'
                }
            },
            addService : function () {
                this.dialogAddVisible = true
                let a = _.cloneDeep(this.couponSample);
                this.coupon.push(a)
            },
            confirmAddService : function () {
                let self = this
                if (!self.service.name) {
                    notify("Vui lòng điền tên dịch vụ!", "error");
                    return;
                }
                if (!self.service.price) {
                    notify("Vui lòng điền giá dịch vụ!", "error");
                    return;
                }
                if (!self.service.unit) {
                    notify("Vui lòng điền đơn vị!", "error");
                    return;
                }
                if(self.coupon){
                    self.service.sourceCoupon = self.coupon
                    let a = false
                    $.each(self.coupon, function (c, cou) {
                        if(cou.name == ''){
                            a = true
                        }
                    })
                    if(a){
                        notify("Vui lòng điền mã!", "error");
                        return;
                    }
                }
                self.service.sourceCoupon = self.coupon
                self.service.sendAddService(function () {
                    self.listService.getList()
                })
                self.dialogAddVisible = false
            },
            editService : async function (data) {
                if(data.sourceCoupon){
                    this.coupon = []
                    let a = data.sourceCoupon
                    let entries = Object.entries(a);
                    $.each(entries,(c, coupon) => {
                        let b = {
                            name : coupon[0],
                            number : coupon[1]
                        }
                        this.coupon.push(b)
                    })
                    console.log(this.coupon)
                }
                // this.coupon = sourceCoupon
                this.service = await _.cloneDeep(data)
                this.dialogEditVisible = true
            },
            confirmEditService : function () {
                let self = this
                if (!self.service.name) {
                    notify("Vui lòng điền tên dịch vụ!", "error");
                    return;
                }
                if (!self.service.price) {
                    notify("Vui lòng điền giá dịch vụ!", "error");
                    return;
                }
                if (!self.service.unit) {
                    notify("Vui lòng điền đơn vị!", "error");
                    return;
                }
                if(self.coupon){
                    self.service.sourceCoupon = self.coupon
                    let a = false
                    $.each(self.coupon, function (c, cou) {
                        if(cou.name == ''){
                            a = true
                        }
                    })
                    if(a){
                        notify("Vui lòng điền mã!", "error");
                        return;
                    }
                }
                self.service.sendEditService(function () {
                    self.listService.getList()
                })
                self.dialogEditVisible = false
            },
            deleteService : function (service) {
                let self = this
                self.service.sendDeleteService(service,function () {
                    self.listService.getList()
                })
            },
            handleClose : function () {
                this.dialogAddVisible = false
                this.coupon = []
                this.service = new Service()
                this.serviceEdit = {}
            },
            handleCloseEdit : function () {
                this.dialogEditVisible = false
                this.coupon = []
                this.service = new Service()
                this.serviceEdit = {}
            },
            updateSystemSetting : function () {
                let self = this;
                self.companyConfig.update();
            },
        },
        computed: {
            ...mapState({
                room: state => state.room,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            })
        },
        watch: {
        }
    }
</script>
<style scoped>
  .el-table .info-row {
    background: #c9e5f5;
  }
  .bg-orange { background-color: rgb(207, 211, 219)!important; }
  .goodsDelivery {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .btn-search{
    background: rgba(8, 67, 136, 0.89);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.6;
  }
  .btn-search:hover{
    background: #084388;
  }
  .header-ret{
    /*background: #ECEDF1;*/
    padding: 8px;
  }
  .title-ret {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .date-ranger{
    max-width: 33% !important;
  }
  .statistic-content{
    padding: 16px 8px;
  }
  .item-statistic h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
  }
  .item-statistic h5:first-child{
    margin-bottom: 8px;
  }
  .item-statistic h5 span{
    color: #084388;
  }
  .table thead{
    background: #CFD3DB;
  }
  .table td, .table td h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .table td h6{
    color: #9198A9;
    font-size: 12px;
    margin: 4px 0;
  }
  .table tbody tr{
    background-color: #fff;
  }
  .box-action{
    text-align: center;
  }
  .box-action button{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    margin: 0 4px;
  }
  .box-action button i{
    color: #084388;
  }
</style>