<template>
    <div style="margin-bottom: 100px">
        <div class="box-tools-price-list">
            <div class="box-tools-pl--search">
                <el-input placeholder="Tìm kiếm"></el-input>
                <i class="el-icon-search"></i>
            </div>
            <a href="javascript:void(0)" @click.stop="createExtraFee()" class="box-tools-pl--package_new">
                <i class="el-icon-circle-plus"></i>Thêm gói giá mới
            </a>
        </div>
        <table class="table" v-loading="extraFees.loading">
            <thead class="bg-anvui text-white">
            <tr>
                <td>Loại hình vận chuyển</td>
                <td>Tên</td>
                <td>Mặc định</td>
                <td>Tự động</td>
                <td>Tiêu chí tính giá</td>
                <td>Giá</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <template v-for="extraFee in extraFees.list">
                <tr v-if="extraFee.active">
                    <td>{{extraFee.type.label()}}</td>
                    <td>{{extraFee.name}}</td>
                    <td>
                        <i :class="['fa', extraFee.required ? 'fa-check-circle text-success' :'fa-times-circle text-danger']"></i>
                    </td>
                    <td>
                        <i :class="['fa', extraFee.usingExistedField ? 'fa-check-circle text-success' :'fa-times-circle text-danger']"></i>
                    </td>
                    <td>
                        {{extraFee.criteria.length>0&&extraFee.criteria[0].criteriaField?AutoField[extraFee.criteria[0].criteriaField].label:''}}
                    </td>
                    <td>
                        <table class="table table-sm bg-white table-bordered">
                            <tbody>
                            <tr>
                                <td>Từ</td>
                                <td>Đến</td>
                                <td>Giá</td>
                            </tr>
                            <template v-for="cr in extraFee.criteria">
                                <tr>
                                    <td>{{cr.lowerThreshold?cr.lowerThreshold:''|number}}</td>
                                    <td>{{cr.upperThreshold?cr.upperThreshold:''|number}}</td>
                                    <td>{{cr.formula?cr.formula:''}}</td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <el-button type="primary" circle size="mini" icon="el-icon-edit" @click="updateExtraFee(extraFee)"></el-button>
                        <el-popconfirm title="Bạn chắc chắn muốn xóa?" confirmButtonText="Xóa"
                                       cancelButtonText='Không, cảm ơn' @onConfirm="remove(extraFee)">
                            <el-button slot="reference" type="danger" circle size="mini"
                                       icon="el-icon-delete"></el-button>
                        </el-popconfirm>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
        <div class="w-100 text-center">
            <el-button type="text" v-if="extraFees.loadMore" @click="extraFees.getList({numberPage:1})">Tải thêm ...</el-button>
        </div>

        <el-dialog custom-class="modal-lg padding-0 hide-header-dialog-element-ui" style="color: #000;"
                   :visible.sync="dialog">
            <div style=";font-style: normal;font-weight: 600;font-size: 14px;line-height: 24px;padding: 24px;color: #232731;word-break: break-word;">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8">
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">Tên</div>
                            <div class="col-8">
                                <el-input type="text" v-model="dataDialog.name"></el-input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">Loại phụ phí</div>
                            <div class="col-8">
                                <select-type-of-goods-extra-fee v-model="dataDialog.type.value"></select-type-of-goods-extra-fee>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">Loại dịch vụ</div>
                            <div class="col-8">
                                <select-goods-type v-model="dataDialog.goodsType.value"></select-goods-type>
                            </div>
                        </div>
                        <!--<div class="row form-group">-->
                            <!--<div class="col-4" style="line-height: 40px;font-weight: 500">Loại hình v/c</div>-->
                            <!--<div class="col-8">-->
                                <!--<select-transport-type v-model="transportType"></select-transport-type>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">Tiêu chí tính giá</div>
                            <div class="col-8">
                                <select-auto-field v-model="dataDialog.criteriaField"></select-auto-field>
                            </div>
                        </div>
                        <!-- <div class="row form-group">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <el-checkbox v-model="dataDialog.required">Tự động</el-checkbox>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <el-checkbox v-model="dataDialog.usingExistedField">Mặc định</el-checkbox>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="w-100" style="line-height: 40px;font-weight: 500">Bảng giá theo tiêu chí tính giá
                        </div>
                        <table class="table table-sm" v-shortkey="['ctrl', 'space']" @shortkey="addCriteriaOfDataDialog()">
                            <thead>
                            <tr>
                                <td width="20%">Tên</td>
                                <td width="10%" class="text-center">Khoảng</td>
                                <td width="15%">Từ {{ dataDialog.criteriaField ? AutoField[dataDialog.criteriaField].unit : ''}}</td>
                                <td width="15%">Đến {{dataDialog.criteriaField ? AutoField[dataDialog.criteriaField].unit : ''}}</td>
                                <td width="35%">Công thức tính giá</td>
                                <td width="5%"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <template>
                                <template v-for="(criteria,index) in dataDialog.criteria">
                                    <tr :key="index" v-shortkey="['ctrl', 'shift' ,'space']" @shortkey="removeCriteriaOfDataDialog(index)">
                                        <td>
                                            <el-input v-model="criteria.name"></el-input>
                                        </td>
                                        <td class="text-center">
                                            <el-checkbox v-model="criteria.usingThreshold"></el-checkbox>
                                        </td>
                                        <td>
                                            <el-input v-model="criteria.lowerThreshold" :disabled="!criteria.usingThreshold"></el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="criteria.upperThreshold" :disabled="!criteria.usingThreshold"></el-input>
                                        </td>
                                        <td>
                                            <fomula-editor placeholder="Ấn $ để gợi ý công thức" v-model="criteria.formula" class="w-100"></fomula-editor>
                                        </td>
                                        <td>
                                            <el-button v-if="dataDialog.criteria.length>1" type="danger" size="mini" circle icon="el-icon-delete" @click="removeCriteriaOfDataDialog(index)"></el-button>
                                        </td>
                                    </tr>
                                </template>
                            </template>
                                <tr>
                                    <td class="text-center"><el-button circle size="mini" type="primary" icon="el-icon-plus" title="Thêm dòng mới" @click="addCriteriaOfDataDialog()"></el-button></td>
                                    <td colspan="6"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div slot="footer" class="dialog-footer text-right">
                    <el-button type="primary" @click="save()">Lưu thông tin</el-button>
                    <el-button @click="dialog = false">Hủy bỏ</el-button>
                </div>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import SelectAutoField from '../SelectAutoField.vue';
    import SelectTypeOfGoodsExtraFee from '../SelectTypeOfGoodsExtraFee.vue';
    import SelectTransportType from '../TransportType/SelectTransportType';
    import SelectGoodsType from '../GoodsType/SelectGoodsType';
    import {AutoField, Criteria, ExtraFee, ExtraFees} from "../../../class/goods_v2";
    import FomulaEditor from './FomulaEditor'

    export default {
        components: {FomulaEditor, SelectAutoField, SelectTransportType, SelectTypeOfGoodsExtraFee, SelectGoodsType},
        data: function () {
            return {
                page: 0,
                count: 30,
                loadMore: false,
                dialog: false,
                dataDialog: new ExtraFee(),
                checked: true,
                typeOfGoodsExtraFee: null,
                transportType: null,
                autoField: null,
                extraFees: new ExtraFees(),
                AutoField: AutoField.properties(),
            }
        },
        mounted: function () {
            this.extraFees.getList();
        },
        methods: {
            getExtraFee: function () {

            },
            createExtraFee : function () {
                this.dataDialog = new ExtraFee();
                this.addCriteriaOfDataDialog();
                this.dialog=true;
            },
            updateExtraFee : function (extraFee) {
                this.dataDialog = _.cloneDeep(extraFee);
                if(this.dataDialog.criteria.length==0){
                    this.addCriteriaOfDataDialog();
                }
                this.dialog=true;
            },
            addCriteriaOfDataDialog : function () {
                this.dataDialog.criteria.push(new Criteria());
            },
            removeCriteriaOfDataDialog : function (index) {
                this.dataDialog.criteria.splice(index,1);
            },
            save : function () {
                let self =  this;
                self.dataDialog.save({
                    before : function(){
                        self.load('saveExtraFee');
                    },
                    success : function () {
                        self.extraFees.getList();
                        self.dialog = false;
                        self.unload('saveExtraFee');
                    },
                    error : function (err) {
                        self.unload('saveExtraFee');
                    }
                })
            },
            remove: function (item) {
                let self = this;
                item.save({
                    remove: true,
                    before: function () {
                        self.load('remove');
                    },
                    success: function () {
                        self.extraFees.getList();
                        self.unload('remove');
                    },
                    error: function (err) {
                        self.unload('remove');
                    }
                })
            }
        }
    }
</script>
