<template>
    <div style="margin-bottom: 100px">
        <div class="box-tools-price-list">
            <div class="box-tools-pl--search">
                <el-input placeholder="Tìm kiếm"></el-input>
                <i class="el-icon-search"></i>
            </div>
            <a href="javascript:void(0)" @click.stop="createGoodsFee()" class="box-tools-pl--package_new">
                <i class="el-icon-circle-plus"></i>Thêm gói giá mới
            </a>
        </div>
        <table class="table" v-loading="goodsFees.loading">
            <thead class="bg-anvui text-white">
            <tr>
                <td>Loại hình vận chuyển</td>
                <td>Tên</td>
                <td>Danh sách điểm nhận</td>
                <td>Danh sách điểm trả</td>
                <td>Tự động</td>
                <td>Tiêu chí tính giá</td>
                <td>Giá</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <template v-for="goodsFee in goodsFees.list">
                <tr v-if="goodsFee.active">
                    <td>{{goodsFee.transportType?goodsFee.transportType.name:''}}</td>
                    <td>{{goodsFee.name}}</td>
                    <td>
                        {{goodsFee.pointPricing.receivedPoints.map(({ name }) => name).toString()}}
                    </td>
                    <td>
                        {{goodsFee.pointPricing.deliveryPoints.map(({ name }) => name).toString()}}
                    </td>
                    <td>
                        <i :class="['fa', goodsFee.usingExistedField ? 'fa-check-circle text-success' :'fa-times-circle text-danger']"></i>
                    </td>
                    <td>
                        {{goodsFee.pointPricing.criteria.length>0&&goodsFee.pointPricing.criteria[0].criteriaField?AutoField[goodsFee.pointPricing.criteria[0].criteriaField].label:''}}
                    </td>
                    <td>
                        <table class="table table-sm bg-white table-bordered">
                            <tbody>
                            <tr>
                                <td>Từ</td>
                                <td>Đến</td>
                                <td>Giá</td>
                            </tr>
                            <template v-for="cr in goodsFee.pointPricing.criteria">
                                <tr>
                                    <td>{{cr.lowerThreshold?cr.lowerThreshold:''|number}}</td>
                                    <td>{{cr.upperThreshold?cr.upperThreshold:''|number}}</td>
                                    <td>{{cr.formula?cr.formula:''}}</td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <el-button type="primary" circle size="mini" icon="el-icon-edit"
                                   @click="updateGoodsFee(goodsFee)"></el-button>
                        <el-popconfirm title="Bạn chắc chắn muốn xóa?" confirmButtonText="Xóa"
                                       cancelButtonText='Không, cảm ơn' @onConfirm="remove(goodsFee)">
                            <el-button slot="reference" type="danger" circle size="mini"
                                       icon="el-icon-delete"></el-button>
                        </el-popconfirm>

                    </td>
                </tr>
            </template>
            </tbody>
        </table>
        <div class="w-100 text-center">
            <el-button type="text" v-if="goodsFees.loadMore" @click="goodsFees.getList({numberPage:1})">Tải thêm ...
            </el-button>
        </div>

        <el-dialog custom-class="modal-lg padding-0 hide-header-dialog-element-ui" style="color: #000;"
                   :visible.sync="dialog" @closed="dataDialog.pointPricing.criteria = []">
            <div style=";font-style: normal;font-weight: 600;font-size: 14px;line-height: 24px;padding: 24px;color: #232731;word-break: break-word;">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8">
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">Tên</div>
                            <div class="col-8">
                                <el-input type="text" v-model="dataDialog.name"></el-input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">D/s điểm nhận</div>
                            <div class="col-8">
                                <select-point class="w-100" :multiple="true"
                                              v-model="dataDialog.pointPricing.receivedPoints"></select-point>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">D/s điểm trả</div>
                            <div class="col-8">
                                <select-point class="w-100" :multiple="true"
                                              v-model="dataDialog.pointPricing.deliveryPoints"></select-point>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">Loại hình v/c</div>
                            <div class="col-8">
                                <select-transport-type v-model="dataDialog.transportType"></select-transport-type>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4" style="line-height: 40px;font-weight: 500">Tiêu chí tính giá</div>
                            <div class="col-8">
                                <select-auto-field v-model="dataDialog.pointPricing.criteriaField"></select-auto-field>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <el-checkbox v-model="dataDialog.usingExistedField">Mặc định</el-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-shortkey="['ctrl', 'space']" @shortkey="addCriteriaOfDataDialog()">
                    <div class="col-12">
                        <div class="w-100" style="line-height: 40px;font-weight: 500">Gói giá theo tiêu chí tính giá
                        </div>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <td width="20%">Tên</td>
                                <td width="10%" class="text-center">Khoảng</td>
                                <td width="15%">Từ {{ dataDialog.pointPricing.criteriaField ? AutoField[dataDialog.pointPricing.criteriaField].unit : ''}}</td>
                                <td width="15%">Đến {{dataDialog.pointPricing.criteriaField ? AutoField[dataDialog.pointPricing.criteriaField].unit : ''}}</td>
                                <td width="35%">Công thức tính giá</td>
                                <td width="5%"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <template>
                                <template v-for="(criteria,index) in dataDialog.pointPricing.criteria">
                                    <tr :key="index" v-shortkey="['ctrl', 'shift' ,'space']" @shortkey="removeCriteriaOfDataDialog(index)">
                                        <td>
                                            <el-input v-model="criteria.name"></el-input>
                                        </td>
                                        <td class="text-center">
                                            <el-checkbox v-model="criteria.usingThreshold"></el-checkbox>
                                        </td>
                                        <td>
                                            <el-input v-model="criteria.lowerThreshold" :disabled="!criteria.usingThreshold"></el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="criteria.upperThreshold"
                                                      :disabled="!criteria.usingThreshold"></el-input>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <fomula-editor placeholder="Ấn $ để gợi ý công thức" v-model="criteria.formula" class="w-100"></fomula-editor>
                                                <!-- <el-button type="text" data-toggle="collapse" :data-target="'#clp' + index"><i class="fas fa-ellipsis-h"></i></el-button> -->
                                            </div>
                                        </td>
                                        <td>
                                            <el-button v-if="dataDialog.pointPricing.criteria.length>1" type="danger"
                                                       size="mini"
                                                       circle icon="el-icon-delete"
                                                       title="Xóa (Ctrl + Shift + Space)"
                                                       @click="removeCriteriaOfDataDialog(index)"></el-button>
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td class="text-center">
                                        <el-button circle size="mini" type="primary" icon="el-icon-plus" title="Thêm dòng mới (Ctrl + Space)" @click="addCriteriaOfDataDialog()"></el-button>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div slot="footer" class="dialog-footer text-right">
                    <el-button type="primary" @click="save()">Lưu thông tin</el-button>
                    <el-button @click="dialog = false">Hủy bỏ</el-button>
                </div>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import SelectAutoField from '../SelectAutoField.vue';
    import SelectTypeOfGoodsExtraFee from '../SelectTypeOfGoodsExtraFee.vue';
    import SelectTransportType from '../TransportType/SelectTransportType';
    import SelectPoint from '../../Point/SelectPoint';
    import FomulaEditor from './FomulaEditor'
    import {AutoField, Criteria, GoodsFee, GoodsFees, GoodsType} from "../../../class/goods_v2";

    export default {
        components: {FomulaEditor, SelectAutoField, SelectTransportType, SelectTypeOfGoodsExtraFee, SelectPoint},
        data: function () {
            return {
                fomulaField:  [
                    { key: "Collin Henderson", value: "syropian" },
                    { key: "Sarah Drasner", value: "sarah_edo" },
                    { key: "Evan You", value: "youyuxi" },
                    { key: "Adam Wathan", value: "adamwathan" }
                ],
                page: 0,
                count: 30,
                loadMore: false,
                dialog: false,
                dataDialog: new GoodsFee(),
                checked: true,
                typeOfGoodsExtraFee: null,
                transportType: null,
                autoField: null,
                goodsFees: new GoodsFees(),
                AutoField: AutoField.properties(),
                GoodsTypeEnum: GoodsType.enum(),
            }
        },
        mounted: function () {
            this.goodsFees.goodsType = this.GoodsTypeEnum.GOODS;
            this.goodsFees.getList();
        },
        methods: {
            createGoodsFee: function () {
                this.dataDialog = new GoodsFee();
                this.dataDialog.setGoodsType(this.goodsFees.goodsType);
                this.addCriteriaOfDataDialog();
                this.dialog = true;
            },
            updateGoodsFee: function (goodsFee) {
                this.dataDialog = _.cloneDeep(goodsFee);
                if (this.dataDialog.pointPricing.criteria.length == 0) {
                    this.addCriteriaOfDataDialog();
                }
                this.dialog = true;
            },
            addCriteriaOfDataDialog: function () {
                this.dataDialog.pointPricing.criteria.push(new Criteria());
            },
            removeCriteriaOfDataDialog: function (index) {
                this.dataDialog.pointPricing.criteria.splice(index, 1);
            },
            save: function () {
                let self = this;
                self.dataDialog.save({
                    before: function () {
                        self.load('saveGoodsFee');
                    },
                    success: function () {
                        self.goodsFees.getList();
                        self.dialog = false;
                        self.unload('saveGoodsFee');
                    },
                    error: function (err) {
                        self.unload('saveGoodsFee');
                    }
                })
            },
            remove: function (item) {
                let self = this;
                item.save({
                    remove: true,
                    before: function () {
                        self.load('remove');
                    },
                    success: function () {
                        self.goodsFees.getList();
                        self.unload('remove');
                    },
                    error: function (err) {
                        self.unload('remove');
                    }
                })
            }
        }
    }
</script>
<style>
    .el-button + .el-button {
        margin: 0;
        margin-top: 8px;
    }
</style>
