<template>
    <el-select :size="size" :disabled="disabled" :value="value"
                no-data-text="Không tìm thấy dữ liệu"
                :multiple="multiple"
               :clearable="clearable"
               @input="$emit('input',$event)"
               filterable remote :remote-method="function ($event){options.keyword = $event; options.getList();}"
               :placeholder="placeholder"
               value-key="id" @blur="$emit('blur',$event)"
               v-on:focus="function (){options.keyword = ''; options.getList()}" v-on:visible-change="visible=$event">
        <div v-infinite-scroll="function (){options.getList(1)}" infinite-scroll-delay="200">
            <el-option
                    v-for="item in options.list"
                    :key="item.id"
                    :label="item.name"
                    :value="useShortValue ? {id:item.id, name: item.name} : item">
            </el-option>
        </div>
    </el-select>
</template>
<script>
    import {GoodsFees} from "../../../class/goods_v2";

    export default {
        props: {
            useShortValue: {
                default: false
            },
            value: {
                default: null,
            },
            multiple: {
                default: false
            },
            placeholder: {
                default: 'Lựa chọn'
            },
            size: {
                type: String
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
            goodsType: {
                type: Number,
                default: 0,
            },
            transportType: {
                default: null,
            },
            receivedPoint: {
                default: null,
            },
            deliveryPoint: {
                default: null,
            },
            goodsValue: {
                default: null,
            },
            setFirst: { // lấy mặc định type đầu tiên
                default: false,
            },
        },
        data: function () {
            return {
                options: new GoodsFees(),
                visible: false
            }
        },
        mounted: function () {
            this.options.goodsType = this.goodsType;
            if (this.transportType) {
                this.options.transportTypeId = this.transportType.id;
            }
            if (this.receivedPoint) {
                this.options.receivedPointId = this.receivedPoint.id;
            }
            if (this.deliveryPoint) {
                this.options.deliveryPointId = this.deliveryPoint.id;
            }
            this.setOptionsByValue(this.value);
        },
        methods: {
            setOptionsByValue: function (value) {
                if (value) {
                    if (this.multiple) {
                        this.options.list = _.cloneDeep(value);
                    } else {
                        this.options.list = [_.cloneDeep(value)];
                    }
                }
            },
            debounceSearch: _.debounce(function (self, newVal) {
                if (newVal) {
                    self.options.getList({
                        success: function (data) {
                            console.log(data, self.options.list);
                            if (self.setFirst) {
                                let val = _.first(self.options.list);
                                if (!val) {
                                    return false;
                                }
                                if (self.multiple) {
                                    val = [val];
                                }
                                self.$emit('input', val)
                            }
                        }
                    });
                }
            }, 300),
        },
        watch: {
            value: function (val) {
                if (!this.visible) {
                    this.setOptionsByValue(val);
                }
            },
            transportType: {
                deep: true,
                handler: function (newVal) {
                    this.options.transportTypeId = newVal ? newVal.id : null;
                }
            },
            receivedPoint: {
                deep: true,
                handler: function (newVal) {
                    this.options.receivedPointId = newVal ? newVal.id : null;
                }
            },
            deliveryPoint: {
                deep: true,
                handler: function (newVal) {
                    this.options.deliveryPointId = newVal ? newVal.id : null;
                }
            },
            goodsValue: function (newVal) {
                this.debounceSearch(this, newVal);
            }
        }
    }
</script>