<template>
    <el-select :size="size" :disabled="disabled" :value="value" :multiple="multiple"
               :clearable="clearable"
               @input="$emit('input',$event)"
               filterable remote :remote-method="function ($event){options.keyword = $event; options.getList();}"
               :placeholder="placeholder"
               value-key="id" @blur="$emit('blur',$event)"
               v-on:focus="function (){options.keyword = ''; options.getList()}" v-on:visible-change="visible=$event">
        <div v-infinite-scroll="function (){options.getList(1)}" infinite-scroll-delay="200">
            <el-option
                    v-for="item in options.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item">
            </el-option>
        </div>
    </el-select>
</template>
<script>
    import {ExtraFees} from "../../../class/goods_v2";

    export default {
        props: {
            value: {
                default: null,
            },
            multiple: {
                default: false
            },
            placeholder: {
                default: 'Lựa chọn'
            },
            size: {
                type: String
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
            required: {
                type: Boolean,
                default: 0,
            },
            goodsType: {
                type: Number,
                default: 0,
            },
            type: {
                type: Number,
                default: 0,
            },
        },
        data: function () {
            return {
                options: new ExtraFees(),
                visible: false
            }
        },
        mounted: function () {
            this.options.required = this.required;
            this.options.goodsType = this.goodsType;
            this.options.type = this.type;
            this.setOptionsByValue(this.value);
        },
        methods: {
            setOptionsByValue: function (value) {
                if (value) {
                    if (this.multiple) {
                        this.options.list = _.cloneDeep(value);
                    } else {
                        this.options.list = [_.cloneDeep(value)];
                    }
                }
            }
        },
        watch: {
            value: function (val) {
                if (!this.visible) {
                    this.setOptionsByValue(val);
                }
            }
        }
    }
</script>