<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto text-uppercase">
                    {{$t('menu.price-policy')}}
                </div>
                <div class="col text-right">
                    <button class="btn btn-success btn-sm" @click="openModalAdd()"  v-if="$root.roles.ADDITION_PRICE_CREATE">
                        <i class="fa fa-plus"></i> {{$t('button.creat-policy')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-sm table-striped table-respon">
                <tbody>
                <tr>
                    <th class="text-center">{{$t('No-')}}</th>
                    <th>{{$t('program-name')}}</th>
                    <th>{{$t('date-create')}}</th>
                    <th>{{$t('start-date')}}</th>
                    <th>{{$t('end-date')}}</th>
                    <th>{{$t('value')}}</th>
                    <th class="text-right">{{$t('action')}}</th>
                </tr>
                <tr v-if="additionPrices.length<=0">
                    <td colspan="7">{{$t('no-data-available')}}</td>
                </tr>
                <template v-for="(addition,a) in additionPrices">
                    <tr>
                        <td class="text-center">{{ a+1 }}</td>
                        <td>{{ addition.name }}</td>
                        <td>{{ addition.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#') }}</td>
                        <td>{{addition.startDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</td>
                        <td>{{addition.endDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#')}}</td>
                        <td>{{ addition.mode==-1?'- ':'+ ' }} <template v-if="addition.type==1">{{ addition.amount|number }} VND</template> <template v-else>{{addition.amount*100}} %</template></td>
                        <td class="text-right">
                            <button class="btn btn-primary btn-sm" @click="openModalUpdate(addition)"><i class="fa fa-edit"></i> {{$t('button.update')}}</button>
                            <button class="btn btn-danger btn-sm" @click="deleteAdditionPrice(addition.id)"><i class="fa fa-trash"></i> {{$t('button.delete')}}</button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalAddAdditionPrice" tabindex="-1" role="dialog" aria-labelledby="modalAddAdditionPrice" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('button.creat-policy')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <add-addition-price :routes="routes" ref="AddAdditionPriceComponent" @event="addAdditionPriceEvent"></add-addition-price>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddAdditionPriceComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdateAdditionPrice" tabindex="-1" role="dialog" aria-labelledby="modalUpdateAdditionPrice" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('update-policy')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <update-addition-price :routes="routes" ref="UpdateAdditionPriceComponent" @event="updateAdditionPriceEvent"></update-addition-price>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateAdditionPriceComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddAdditionPrice from './AddAdditionPrice.vue';
    import UpdateAdditionPrice from './UpdateAdditionPrice.vue';
    export default {
        components : { AddAdditionPrice, UpdateAdditionPrice },
        data : function () {
            return {
                additionPrices : [],
                routes : []
            }
        },
        mounted : function(){
            this.getAdditionPrices();
            this.getRoutes();
        },
        methods : {
            getAdditionPrices : function () {
                let self = this;
                self.load('getPromotions');
                sendJson({
                    url : urlDBD(API.AdditionPriceList),
                    data : {
                        companyId : userInfo.userInfo.companyId,
                        page : 0,
                        count :30,
                    },
                    success : function (data) {
                        self.additionPrices = data.results.listAdditionPrices;
                        self.unload('getPromotions');
                    },
                    functionIfError : function (err) {
                        self.unload('getPromotions');
                    }
                })
            },
            getRoutes : function(){
                let self = this;
                self.load('getRoutes');
                sendJson({
                    url : urlDBD(API.routeListAll),
                    data : {
                        page : 0,
                        count :100,
                        companyId : userInfo.userInfo.companyId
                    },
                    success : function (data) {
                        self.routes = data.results.result;
                        self.unload('getRoutes');
                    },
                    functionIfError : function (err) {
                        self.unload('getRoutes');
                    }
                })
            },
            openModalAdd : function () {
                $(this.$el).find('#modalAddAdditionPrice').modal('show');
            },
            openModalUpdate : function (addition) {
                this.$refs.UpdateAdditionPriceComponent.refresh(addition);
                $(this.$el).find('#modalUpdateAdditionPrice').modal('show');
            },
            addAdditionPriceEvent : function(event){
                // console.log(event);
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getAdditionPrices();
                        $(self.$el).find('#modalAddAdditionPrice').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            updateAdditionPriceEvent : function(event){
                // console.log(event);
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getAdditionPrices();
                        $(self.$el).find('#modalUpdateAdditionPrice').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },

            deleteAdditionPrice :function (id) {
                let self = this;
                if(!confirm(this.$t('confirm-delete'))){
                    return false;
                }
                self.load('deleteAdditionPrice');
                sendJson({
                    url : urlDBD(API.AdditionPriceDelete),
                    data : {
                        id : id
                    },
                    success : function (data) {
                        self.getAdditionPrices();
                        self.unload('deleteAdditionPrice');
                    },
                    functionIfError : function (err) {
                        self.unload('deleteAdditionPrice');
                    }
                })
            }
        }
    }
</script>