<template>
    <div class="w-100">
        <div class="row form-group">
            <div class="col">
                <label class="font-weight-normal">{{$t('name-policy')}}</label>
                <input type="text" class="form-control" v-model="name">
            </div>
            <div class="col">
                <label class="font-weight-normal">{{$t('type-applied')}}</label>
                <select class="form-control" v-model="dateType">
                    <option :value="2">{{$t('date-away')}}</option>
                    <option :value="1">{{$t('date-ticket-creation')}}</option>
                </select>
            </div>
            <div class="col-md-12 col-lg">
                <label class="font-weight-normal">{{$t('apply-for')}}</label>
                <div class="row">
                    <div class="col">
                        <div class="w-100 form-check">
                            <input type="checkbox" class="form-check-input" :value="2" id="forCustomerUpdate" v-model="listUserType">
                            <label class="form-check-label font-weight-normal" for="forCustomerUpdate">{{$t('retail-customer')}} </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-100 form-check">
                            <input type="checkbox" class="form-check-input" :value="4" id="forAgencyUpdate" v-model="listUserType">
                            <label class="form-check-label font-weight-normal" for="forAgencyUpdate">{{$t('menu.agency')}} </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row form-group">

            <div class="col-md-12 col-lg">
                <label class="font-weight-normal">{{$t('platform')}}</label>
                <div class="row">
                    <template v-for="(platform,p) in platformProperties">
                        <div class="col-6 col-md form-check">
                            <input type="checkbox" :id="'platform-u-'+p" class="form-check-input" :value="platform.value" v-model="platforms">
                            <label :for="'platform-u-'+p" class="form-check-label font-weight-normal">{{platform.label}}</label>
                        </div>
                    </template>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-md-12 col-lg">
                <label class="font-weight-normal">{{$t('value')}}</label>
                <div class="row no-gutters">
                    <div class="col-auto">
                        <select class="form-control font-weight-bold" v-model="mode">
                            <option :value="1">+</option>
                            <option :value="-1">-</option>
                        </select>
                    </div>
                    <div class="col">
                        <input-number class="form-control" v-model="amount"></input-number>
                    </div>
                    <div class="col-auto">
                        <select class="form-control font-weight-bold" v-model="type">
                            <option :value="1">VND</option>
                            <option :value="2">%</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg">
                <label class="font-weight-normal">{{$t('start-date')}}</label>
                <div class="row no-gutters">
                    <div class="col-auto">
                        <clock-picker v-model="startTime" input-class="form-control text-center bg-white" style="width: 65px;"></clock-picker>
                    </div>
                    <div class="col">
                        <datepicker v-model="startDate"></datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg">
                <label class="font-weight-normal">{{$t('end-date')}}</label>
                <div class="row no-gutters">
                    <div class="col-auto">
                        <clock-picker v-model="endTime" input-class="form-control text-center bg-white" style="width: 65px;"></clock-picker>
                    </div>
                    <div class="col">
                        <datepicker v-model="endDate"></datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group top10">
            <div class="col-12">
                <div class="w-100 form-check">
                    <input type="checkbox" class="form-check-input" :value="true" id="isAppliedDisplayPriceOfRouteUpdate" v-model="isAppliedDisplayPriceOfRoute">
                    <label class="form-check-label font-weight-normal" for="isAppliedDisplayPriceOfRouteUpdate">{{$t('apply-the-price-for-all-trips')}} </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label class="font-weight-normal">{{$t('date-applied')}}</label>
                <div class="row">
                    <template v-for="(day,index) in days">
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" :value="index" :id="'update-day-'+index" v-model="daysOfWeekApplied">
                                <label class="form-check-label font-weight-normal" :for="'update-day-'+index">{{ day}} </label>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-bordered">
                    <tbody>
                    <tr>
                        <th>{{$t('menu.route')}}</th>
                        <th>{{$t('menu.schedule')}}</th>
                    </tr>
                    <template v-for="(route,r) in routes" v-if="routes">
                        <tr>
                            <td style="width:200px">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" :value="route.routeId" :id="'update-route-'+route.routeId" v-model="listRouteId" @change="checkRoute(route.routeId)">
                                    <label class="form-check-label font-weight-normal" :for="'update-route-'+route.routeId">{{ route.routeName}} </label>
                                </div>
                            </td>
                            <td>
                                <template v-for="(schedule,s) in route.listSchedule">
                                    <div class="form-check form-check-inline" v-if="isShowChedule(schedule)">
                                        <input type="checkbox" class="form-check-input" :class="'schedule-route-'+route.routeId" :value="schedule.scheduleId" :id="'update-schedule-'+schedule.scheduleId" v-model="listScheduleId" v-on:change="changeCheckRoute(route.routeId)">
                                        <label class="form-check-label font-weight-normal" :for="'update-schedule-'+schedule.scheduleId">{{ schedule.startTime|customDate('#hhhh#:#mm#',true) }} </label>
                                    </div>
                                </template>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    import {Platform} from "../../../class/platform";

    export default {
        props : ['routes'],
        data : function (){
            return {
                days : {
                    1 : 'CN',
                    2 : 'T2',
                    3 : 'T3',
                    4 : 'T4',
                    5 : 'T5',
                    6 : 'T6',
                    7 : 'T7',
                },
                daysOfWeekApplied : [1,2,3,4,5,6,7],
                name : '',
                dateType : 2,
                listUserType : [2,4],
                platforms: [1,2,3,4],
                amount : 0,
                mode  : 1,
                type : 1,
                startTime : '00:00',
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endTime : '23:59',
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                isAppliedDisplayPriceOfRoute : false,
                listRouteId : [],
                listScheduleId : [],
                id : '',
                platformProperties : Platform.properties()
            }
        },
        methods : {
            refresh : function (addition) {
                let self = this;
                self.id = addition.id;
                self.name = addition.name;
                self.dateType = addition.dateType;
                self.listUserType = addition.listUserType || [];
                self.platforms = addition.platform||[];
                self.mode = addition.mode;
                self.amount = addition.type==2?addition.amount*100:addition.amount;
                self.type = addition.type;
                self.daysOfWeekApplied = addition.dateOfWeeks;
                self.listRouteId = addition.listRouteId||[];
                self.listScheduleId = addition.listScheduleId||[];
                self.isAppliedDisplayPriceOfRoute = addition.isAppliedDisplayPriceOfRoute||false;
                self.startTime = new Date(addition.startDate).customFormat('#hhhh#:#mm#');
                self.startDate = new Date(addition.startDate).customFormat('#DD#-#MM#-#YYYY#');
                self.endTime = new Date(addition.endDate).customFormat('#hhhh#:#mm#');
                self.endDate = new Date(addition.endDate).customFormat('#DD#-#MM#-#YYYY#');
                // console.log(self.id);
            },
            checkRoute : function (_routeId) {
                let self = this;
                let index = this.listRouteId.indexOf(_routeId);
                if(index <0){
                    $.each($(this.$el).find('.schedule-route-'+_routeId+':checked'),function(i,e){
                        self.listScheduleId.splice(self.listScheduleId.indexOf($(e).val()),1);
                    });
                }else{
                    $.each($(this.$el).find('.schedule-route-'+_routeId+':not(:checked)'),function(i,e){
                        self.listScheduleId.push($(e).val());
                    });
                }
            },
            save : function () {
                let self = this;
                let param = {
                    id : self.id,
                    name :self.name,
                    dateType : self.dateType,
                    listUserType :self.listUserType,
                    mode :self.mode,
                    amount :self.amount,
                    type :self.type,
                    startDate : parseFloat(func.dateToMS(self.startDate))+parseFloat(func.timeToMs(self.startTime)),
                    endDate : func.dateToMS(self.endDate)+func.timeToMs(self.endTime),
                    listRouteId : self.listRouteId,
                    platform: self.platforms,
                    listScheduleId : self.listScheduleId,
                    dateOfWeeks  : self.daysOfWeekApplied,
                    isAppliedDisplayPriceOfRoute : self.isAppliedDisplayPriceOfRoute,
                };
                // console.log(param);
                if(self.type==2){
                    param.amount =self.amount/100;
                }
                self.load('updateAddition');
                sendJson({
                    url : urlDBD(API.AdditionPriceUpdate),
                    data : param,
                    success : function (data) {
                        self.$emit('event',{eventName:'saveSuccess',data : data});
                        self.unload('updateAddition');
                    },
                    functionIfError : function () {
                        self.unload('updateAddition');
                    }
                })
            },
            isShowChedule : function (_schedule) {
                let show = true;
                let startDatePolicy = parseInt(func.dateStr(this.startDate));
                let endDatePolicy = parseInt(func.dateStr(this.endDate));
                if(startDatePolicy>endDatePolicy){
                    let st = _.cloneDeep(startDatePolicy);
                    startDatePolicy =_.cloneDeep(endDatePolicy);
                    endDatePolicy =_.cloneDeep(st);
                }
                if(_schedule.endDate!==-1&&(startDatePolicy>_schedule.endDate||endDatePolicy<_schedule.startDate)){
                    show = false;
                }
                return show;
            },
            changeCheckRoute : function (_routeId) {
                let index = this.listRouteId.indexOf(_routeId);
                if($(this.$el).find('.schedule-route-'+_routeId+':checked').length>0){
                    if(index<0){
                        this.listRouteId.push(_routeId);
                    }
                }else{
                    if(index>=0){
                        this.listRouteId.splice(index,1);
                    }
                }
            }
        }
    }
</script>