<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto text-uppercase">
                    {{$t('list-customer')}}
                </div>
                <div class="col text-right">
                    <button class="btn btn-success btn-sm" @click="exportExcel()"><i class="fa fa-file-excel"></i> Xuất excel</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4 col-md-3">
                    <input type="text" class="form-control" v-model="phoneNumber" :placeholder="$t('phone-number')">
                </div>
                <div class="col-4 col-md-3">
                    <select v-model="distrust" class="form-control">
                        <option :value="null">{{$t('all')}}</option>
                        <option :value="true">{{$t('customer-in-blacklist')}}</option>
                        <option :value="false">{{$t('customer-not-in-blacklist')}}</option>
                    </select>
                </div>
                <div class="col-4 col-md-3">
                    <button class="btn btn-block btn-outline-primary text-uppercase" @click="getCustomers()"><i class="fa fa-search"></i> {{$t('button.search')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-center">{{ TotalCustomer(customers, 'numberOfTickets')|number }}</th>
                        <th class="text-center">{{ TotalCustomer(customers, 'numberCancelTicket')|number }}</th>
                        <th class="text-right">{{ TotalCustomer(customers, 'totalMoney')|number }}</th>
                        <th class="text-right"></th>
                    </tr>
                    <tr>
                        <th>{{$t('No-')}}</th>
                        <th>{{$t('fullname')}}</th>
                        <th>{{$t('phone-number')}}</th>
                        <th class="text-center">{{$t('number-ticker-booking')}}</th>
                        <th class="text-center">{{$t('number-ticker-cancel')}}</th>
                        <th class="text-right">{{$t('total-money')}}</th>
                        <th class="text-right">{{$t('option')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="customers.length<1">
                        <td colspan="7" class="text-center">{{$t('no-data-available')}}</td>
                    </tr>
                    <template v-for="(customer,c) in customers">
                        <tr :key="c" :class="[customer&&customer.distrust?'bg-danger text-white':'']">
                            <td>{{c+1 + page*count}}</td>
                            <td>{{customer.fullName}}</td>
                            <td>{{customer.phoneNumber|phoneNumber}}</td>
                            <td class="text-center">{{(customer.numberOfTickets||0)|number}}</td>
                            <td class="text-center" :class="[customer.numberOfTickets==customer.numberCancelTicket?'text-danger font-weight-bold':'']"><span  :class="[customer.distrust?'text-white':'']">{{customer.numberCancelTicket|number}}</span></td>
                            <td class="text-right">{{customer.totalMoney|number}}</td>
                            <td class="text-right">
                                <button class="btn btn-sm" :class="[customer&&customer.distrust?'btn-light':'btn-dark']" @click="updateDistrust([{id:customer.id,distrust : !customer.distrust}])" :title="[customer.distrust? $t('remove-from-blacklist') : $t('put-in-blacklist')]" data-toggle="tooltip"><i class="fa" :class="customer.distrust?'fa-user':'fa-user-slash'"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-outline-dark" :disabled="page<=0" @click="getCustomers('minus')"><< {{$t('page')}} {{page>0?page:1}}</button>
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-outline-dark" :disabled="customers.length<count" @click="getCustomers('plus')">{{$t('page')}} {{page+2}} >></button>
                </div>
            </div>
        </div>
        <!--<div class="modal fade bd-example-modal-lg" id="modalAddPoint" tabindex="-1" role="dialog" aria-labelledby="modalAddPoint" aria-hidden="true">-->
            <!--<div class="modal-dialog modal-lg">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<h5 class="modal-title">THÊM ĐIỂM DỪNG</h5>-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="modal-body" style="padding:0.5rem">-->
                        <!--<add-point ref="AddPointComponent" @event="eventAddPoint" :provinces="provinces"></add-point>-->
                    <!--</div>-->
                    <!--<div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">-->
                        <!--<button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddPointComponent.save()"><i class="fa fa-save"></i> Lưu</button>-->
                        <!--<button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> ĐÓNG</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
                phoneNumber : '',
                customers : [],
                page : 0,
                distrust : null,
                count : func.countSearch(),
                provinces : []
            }
        },
        mounted : function(){
            this.getCustomers();
        },
        methods : {
            // Hàm tính tổng
            TotalCustomer : function (customers,type) {
                var sum = 0;
                if(type == 'numberOfTickets'){
                   sum = customers.reduce((acc, item) => acc + (item&&item.numberOfTickets?item.numberOfTickets:0), 0);
                }
                if(type == 'numberCancelTicket'){
                   sum = customers.reduce((acc, item) => acc + (item&&item.numberCancelTicket?item.numberCancelTicket:0), 0);
                }
                if(type == 'totalMoney'){
                   sum = customers.reduce((acc, item) => acc + (item&&item.totalMoney?item.totalMoney:0), 0);
                }
                return sum;
            },
            getCustomers: function (typePage) {
                let self = this;
                if(typePage){
                    switch (typePage) {
                        case 'plus' :
                            self.page++;
                            break;
                        case 'minus' :
                            if(self.page>0){
                                self.page--;
                            }
                            break;
                        default :
                            break;
                    }
                }else{
                    self.page=0;
                }
                let dataSend = {
                    page :self.page,
                    count:self.count,
                    phoneNumber:self.phoneNumber,
                };
                if(self.distrust!==null){
                    dataSend.distrust=self.distrust;
                }
                self.load('getCustomers');
                sendJson({
                    url : urlDBD(API.companyCustomerList),
                    data : dataSend,
                    success: function (data) {
                        self.customers = data.results.result;
                        self.unload('getCustomers');
                    },
                    functionIfError : function (res) {
                        self.unload('getCustomers');
                    }
                });
            },
            updateDistrust : function (data) {
                let self = this;
                self.load('updateDistrust');
                sendJson({
                    url : urlDBD(API.companyCustomerUpdateDistrust),
                    data : data,
                    success : function (res) {
                        self.getCustomers('refresh');
                        self.unload('updateDistrust');
                    },
                    error :function () {

                        self.unload('updateDistrust');
                    }
                })
            },
            exportExcel : function () {
                this.excel($(this.$el).find('table'),'Danh-sach-khach-hang-trang-'+this.page+1);
            }
        }
    }
</script>