<template>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('license-plates')}}</label>
          <input type="text" class="form-control" v-model="numberPlate" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('original-price')}}</label>
          <input-number type="text" class="form-control" v-model="originPrice"></input-number>
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('depreciation-period')}}</label>
          <input-number type="text" class="form-control" v-model="reduceTime"></input-number>
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('depreciation-limit')}}</label>
          <input-number type="text" class="form-control" v-model="estimatedFuelConsumption"></input-number>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('phone-number')}}</label>
          <input type="text" class="form-control" v-model="phoneNumber" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('registration-date')}}</label>
          <datepicker v-model="date" :readonly="false"></datepicker>
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('term-registry')}}</label>
          <datepicker v-model="registrationDeadline" :readonly="false"></datepicker>
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('insurance-term')}}</label>
          <datepicker v-model="insuranceEndTime" :readonly="false"></datepicker>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('chassis-number')}}</label>
          <input class="form-control" v-model="chasisNumber" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('engine-number')}}</label>
          <input class="form-control" v-model="engineNumber" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">Màu xe</label>
          <input type="text" class="form-control" v-model="customField.color" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">Chủng loại xe</label>
          <input type="text" class="form-control" v-model="customField.type" />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('type-vehicle')}}</label>
          <select class="form-control" v-model="vehicleType">
            <template v-for="(vehicle, ky) in $root.vehicleTypes">
              <option :value="ky" :key="ky">{{ vehicle }}</option>
            </template>
          </select>
          <!-- <select-vehicle-type v-model="vehicleType"></select-vehicle-type> -->
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('locator-code')}}</label>
          <input type="text" class="form-control" v-model="gpsId" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">SĐT chủ xe</label>
          <input type="text" class="form-control" v-model="customField.ownerPhoneNumber" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">STK chủ xe</label>
          <input type="text" class="form-control" v-model="customField.ownerBankAccount" />
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">Đăng kí chủ sở hữu</label>
          <select class="form-control" v-model="vehicleOwner">
            <template v-for="item in listOwner">
              <option :key="item.id" :value="item.id">{{ item.code }}</option>
            </template>
          </select>
        </div>
        <div class="col-6 col-md-3 form-group">
          <label class="font-weight-normal">Tiện ích xe</label>
          <el-select class="w-100" v-model="vehicleUtility" multiple placeholder="Chọn tiện ích">
            <el-option
              v-for="item in listUtility"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label class="font-weight-normal">{{$t('select-map')}}</label>
      <select-seat-map v-model="seatMap"></select-seat-map>
    </div>
  </div>
</template>
<script>
import SelectSeatMap from "../SeatMap/SelectSeatMap";

export default {
  components: { SelectSeatMap },
  props: {
    listOwner: {
      type: Array,
      default: function () {
        return [];
      },
      required: false
    },
    listUtility: {
      type: Array,
      default: function () {
        return [];
      },
      required: false
    },
  },
  data: function () {
    return {
      numberPlate: "",
      originPrice: 0, //Nguyên giá
      reduceTime: 0, //thoi gian khau hao
      estimatedFuelConsumption: 0, //han muc khau hao
      date: new Date().customFormat("#DD#-#MM#-#YYYY#"), //ngay dang ky
      registrationDeadline: new Date().customFormat("#DD#-#MM#-#YYYY#"), //hanj ddawng kiem
      insuranceEndTime: new Date().customFormat("#DD#-#MM#-#YYYY#"), //han bao hiem
      engineNumber: "", //so may
      chasisNumber: "", //so khung
      phoneNumber: "", //so dien thoai
      gpsId: "", //ma thiet bi dinh vi
      vehicleType: 1, // loai xe
      seatMap: null,
      customField: {
        color: "", // màu xe
        type: "", //Chủng loại xe
        ownerPhoneNumber: "", //số điện thoại chủ xe
        ownerBankAccount: "", // stk chủ xe
      },
      vehicleOwner: null,
      vehicleUtility: []
    };
  },
  methods: {
    save: function () {
      let self = this;
      if (self.vehicleType === null || self.vehicleType === undefined) {
        notify(this.$t("notify.plz-select-type-vehicle"));
        return false;
      }
      if (!self.seatMap) {
        notify(this.$t("notify.plz-select-seat-map"));
        return false;
      }
      let param = {
        numberPlate: self.numberPlate,
        originPrice: self.originPrice ? self.originPrice : 0,
        reduceTime: self.reduceTime,
        estimatedFuelConsumption: self.estimatedFuelConsumption,
        date: func.dateToMS(self.date),
        registrationDeadline: func.dateToMS(self.registrationDeadline),
        insuranceEndTime: func.dateToMS(self.insuranceEndTime),
        phoneNumber: self.phoneNumber,
        engineNumber: self.engineNumber,
        chasisNumber: self.chasisNumber,
        gpsId: self.gpsId,
        vehicleType: self.vehicleType,
        seatMapId: self.seatMap.seatMapId,
        customField: JSON.stringify(self.customField),
        vehicleOwnerId: self.vehicleOwner,
        listUtilityVehicleIds: self.vehicleUtility
      };
      self.load("createVehicle");
      sendJson({
        url: urlDBD(API.vehicleCreate),
        data: param,
        success: function (res) {
          notify(self.$t("notify.execute-success"));
          self.unload("createVehicle");
          self.$emit("event", { eventName: "saveSuccess", data: res });
        },
        functionIfError: function (err) {
          self.unload("createVehicle");
          self.$emit("event", { eventName: "saveError", data: err });
        },
      });
    },
  },
};
</script>