<template>
    <!--<select-q :placeholder="placeholder" v-if="$root.roles.VEHICLE_GET_LIST" :multiple="multiple"-->
    <!--:options="options.list" :value="value" @input="$emit('input',$event)" track-by="vehicleId"-->
    <!--label="numberPlate" @open="options.keyword = ''; options.getList()" :loading="options.loading"-->
    <!--:load-more="options.loadMore" @scroll-load="options.keyword = $event; options.getList(1);"-->
    <!--@search="options.keyword = $event; options.getList();"></select-q>-->
    <el-select v-if="$root.roles.VEHICLE_GET_LIST" :size="size" :disabled="disabled" :value="value" :multiple="multiple"
               :clearable="clearable"
               @input="$emit('input',$event)"
               filterable remote :remote-method="function ($event){options.keyword = $event; options.getList();}"
               :placeholder="placeholder"
               value-key="vehicleId" ref="SelectVehicleComponent" @blur="$emit('blur',$event)"
               v-on:focus="function (){options.keyword = ''; options.getList()}" v-on:visible-change="visible=$event">
        <div v-infinite-scroll="function (){options.getList(1)}" infinite-scroll-delay="200">
            <el-option
                    v-for="item in options.list"
                    :key="item.vehicleId"
                    :label="item.numberPlate"
                    :value="item">
            </el-option>
        </div>
    </el-select>
</template>
<script>
    import {Vehicles} from "../../class/vehicle";

    export default {
        props : {
            value : {
                default : null,
            },
            multiple : {
                default : false
            },
            placeholder: {
                default: 'Lựa chọn'
            },
            size: {
                type: String
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
        },
        data : function () {
            return {
                options: new Vehicles(),
                visible: false
            }
        },
        mounted: function () {
            this.setOptionsByValue(this.value);
        },
        methods: {
            setOptionsByValue: function (value) {
                if (value) {
                    if (this.multiple) {
                        this.options.list = _.cloneDeep(value);
                    } else {
                        this.options.list = [_.cloneDeep(value)];
                    }
                }
            },
            focus: function () {
                this.$refs.SelectVehicleComponent.focus();
            }
        },
        watch: {
            value: function (val) {
                if (!this.visible) {
                    this.setOptionsByValue(val);
                }
            }
        }
    }
</script>