<template>
  <div class="row" style="margin-bottom: 70px">
    <div class="col-12 title">
      <div class="row no-gutters">
        <div class="col">{{$t('list-vehicle')}}</div>
        <div class="col-auto">
          <button
            class="btn btn-success btn-sm"
            @click="openModalAddVehicle()"
            v-if="$root.roles.VEHICLE_CREATE"
          >
            <i class="fa fa-plus-circle"></i>
            {{$t('add-vehicle')}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-3 form-group">
          <label class="font-weight-normal">{{$t('license-plates')}}</label>
          <input type="text" class="form-control" v-model="numberPlate" />
        </div>
        <div class="col-md-3 col-12">
          <label class="font-weight-normal">{{$t('type-vehicle')}}</label>
          <select class="form-control" v-model="vehicleType">
            <option :value="null">Tất cả</option>
            <template v-for="(vehicle, index) in $root.vehicleTypes">
              <option :value="index" :key="index">{{ vehicle }}</option>
            </template>
          </select>
        </div>
        <div class="col-12 col-md-3">
          <label class="font-weight-normal">&nbsp;</label>
          <button class="btn btn-primary btn-block" @click="getVehicles()">
            <i class="fa fa-search"></i>
            {{$t('button.search')}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 top10" v-if="vehicles">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th width="50" class="text-center">{{$t('No-')}}</th>
            <th>{{$t('license-plate')}}</th>
            <th>{{$t('phone-number')}}</th>
            <th>{{$t('type-vehicle')}}</th>
            <th class="text-center">{{$t('number-seat')}}</th>
            <th>{{$t('term-registry')}}</th>
            <th class="text-center">Mã chủ xe</th>
            <th class="text-right">{{$t('option')}}</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(vehicle,v) in vehicles">
            <tr :key="v">
              <td class="text-center">{{v+1 + page*count}}</td>
              <td>{{vehicle.numberPlate}}</td>
              <td>{{vehicle.phoneNumber}}</td>
              <td>{{$root.vehicleTypes[vehicle.vehicleType||0]}}</td>
              <td class="text-center">{{vehicle.numberOfSeats}}</td>
              <td>{{vehicle.registrationDeadline|customDate('#DD#-#MM#-#YYYY#')}}</td>
              <td
                class="text-center"
              >{{listVehicleOwner.length != 0 && !!listVehicleOwner.find(x=> vehicle.vehicleOwnerId == x.id) ? listVehicleOwner.find(x=> vehicle.vehicleOwnerId == x.id).code : ''}}</td>
              <td class="text-right">
                <button
                  class="btn btn-sm btn-primary"
                  :title="$t('update-vehicle')"
                  @click="openModalUpdateVehicle(vehicle)"
                  v-if="$root.roles.VEHICLE_TYPE_UPDATE"
                  data-toogle="tooltip"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  :title="$t('delete-vehicle')"
                  @click="deleteVehicle(vehicle.vehicleId)"
                  v-if="$root.roles.VEHICLE_DELETE"
                  data-toogle="tooltip"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <button
            class="btn btn-sm btn-outline-dark"
            :disabled="page<=0"
            @click="getVehicles('minus')"
          ><< {{$t('page')}} {{page>0?page:1}}</button>
        </div>
        <div class="col text-right">
          <button
            class="btn btn-sm btn-outline-dark"
            :disabled="vehicles.length<count"
            @click="getVehicles('plus')"
          >{{$t('page')}} {{page+2}} >></button>
        </div>
      </div>
    </div>
    <div
      class="modal fade bd-example-modal-lg"
      id="modalAddVehicle"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalAddVehicle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">{{$t('add-vehicle')}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding:0.5rem">
            <add-vehicle
              ref="AddVehicleComponent"
              :listOwner="listVehicleOwner"
              :listUtility="listVehicleUtility"
              @event="eventAddUser"></add-vehicle>
          </div>
          <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary text-uppercase"
              @click="$refs.AddVehicleComponent.save()"
            >
              <i class="fa fa-save"></i>
              {{$t('button.save')}}
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary text-uppercase"
              data-dismiss="modal"
            >
              <i class="fa fa-close"></i>
              {{$t('button.close')}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade bd-example-modal-lg"
      id="modalUpdateVehicle"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalUpdateVehicle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{$t('update-vehicle')}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding:0.5rem">
            <update-vehicle ref="UpdateVehicleComponent"
              :listOwner="listVehicleOwner" 
              :listUtility="listVehicleUtility"
              @event="eventUpdateVehicle"></update-vehicle>
          </div>
          <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary text-uppercase"
              @click="$refs.UpdateVehicleComponent.save()"
            >
              <i class="fa fa-save"></i>
              {{$t('button.save')}}
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary text-uppercase"
              data-dismiss="modal"
            >
              <i class="fa fa-close"></i>
              {{$t('button.close')}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AddVehicle from "./AddVehicle";
import UpdateVehicle from "./UpdateVehicle";

export default {
  components: { AddVehicle, UpdateVehicle },
  data: function () {
    return {
      numberPlate: "",
      vehicleType: null,
      vehicles: null,
      page: 0,
      count: func.countSearch(),
      listVehicleOwner: [],
      listVehicleUtility: [],
    };
  },
  mounted: function () {
    this.getVehicleOwner();
    this.getVehicles();
    this.getUtility();
  },
  methods: {
    getUtility: function(params) {
      let self = this;
      self.load("getVehicleUtility");
      let param = {
        page: 0,
        count: 0,
      }
      sendJson({
        url: urlDBD(API.getVehicleUtility),
        data: param,
        success: function (data) {
          self.listVehicleUtility = data.results.utilityVehicle;
          self.unload("getVehicleUtility");
        },
        functionIfError: function (data) {
          self.unload("getVehicleUtility");
        },
      });
    },
    getVehicles: function (typePage) {
      let self = this;
      if (typePage) {
        switch (typePage) {
          case "plus":
            self.page++;
            break;
          case "minus":
            if (self.page > 0) {
              self.page--;
            }
            break;
          default:
            break;
        }
      } else {
        self.page = 0;
      }
      self.load("getVehicles");
      let dataReq = {
        page: self.page,
        count: self.count,
        numberPlate: self.numberPlate,
      };
      if (self.vehicleType !== null) {
        dataReq.vehicleType = self.vehicleType;
      }
      self.vehicles = [];
      sendJson({
        url: urlDBD(API.vehicleList),
        data: dataReq,
        success: function (data) {
          self.vehicles = data.results.vehicles;
          self.unload("getVehicles");
        },
        functionIfError: function (data) {
          self.unload("getVehicles");
        },
      });
    },
    getVehicleOwner: function () {
      let self = this;
      self.load("getVehicleOwner");
      let dataReq = {
        page: 0,
        count: 1000,
      };
      sendJson({
        url: urlDBD(API.vehicleOwnerGetList),
        data: dataReq,
        success: function (data) {
          self.listVehicleOwner = data.results.vehicleOwnerList.map(x => {
              return {
                  code: x.code,
                  id: x.id
              }
          });
          self.unload("getVehicleOwner");
        },
        functionIfError: function (data) {
          self.unload("getVehicleOwner");
        },
      });
    },
    openModalAddVehicle: function () {
      $(this.$el).find("#modalAddVehicle").modal("show");
    },
    openModalUpdateVehicle: function (vehicle) {
      this.$refs.UpdateVehicleComponent.refresh(vehicle);
      $(this.$el).find("#modalUpdateVehicle").modal("show");
    },
    deleteVehicle: function (id) {
      let self = this;
      if (!confirm("bạn có muốn Xóa phương tiện ? ")) {
        return false;
      }
      self.load("deleteVehicle");
      sendJson({
        url: urlDBD(API.vehicleDelete),
        data: {
          id: id,
        },
        success: function (res) {
          notify("thực thi thành công", "success");
          self.unload("deleteVehicle");
          self.getVehicles("refresh");
        },
        functionIfError: function (err) {
          self.unload("deleteVehicle");
        },
      });
    },
    eventAddUser: function (data) {
      let self = this;
      switch (data.eventName) {
        case "saveSuccess":
          $(this.$el).find("#modalAddVehicle").modal("hide");
          self.getVehicles("refresh");
          break;
        default:
          break;
      }
    },
    eventUpdateVehicle: function (data) {
      let self = this;
      switch (data.eventName) {
        case "saveSuccess":
          $(this.$el).find("#modalUpdateVehicle").modal("hide");
          self.getVehicles("refresh");
          break;
        default:
          break;
      }
    },
  },
};
</script>