<template>
    <span v-if="data">
        <select class="form-control form-control-sm" :value="value" @input="input($event)" v-if="data.tag=='select'">
            <option :value="null">Lựa chọn</option>
            <template v-for="(option,o) in data.options">
                <option :value="o">{{option}}</option>
            </template>
        </select>
        <input type="text" :value="value" @input="input($event)" class="form-control form-control-sm" v-if="data.tag=='input'" :placeholder="data.placeholder">
        <input type="color" :value="value" @input="input($event)" class="form-control form-control-sm" v-if="data.tag=='color'" :placeholder="data.placeholder">
        <textarea rows="3" :value="value" @input="input($event)" class="form-control form-control-sm"  v-if="data.tag=='textarea'" :placeholder="data.placeholder"></textarea>
    </span>
</template>
<script>
    export default {
        props : ['data','value'],
        methods : {
            input : function (event) {
                let val = event.target.value;
                this.$emit('input',val);
            }
        }
    }
</script>