<template>
    <div class="w-100">
        <template v-for="(style,s) in listStyle">
            <div class="row form-group no-gutters" :key="'styleInStyleList'+s">
                <div class="col">
                    <select v-model="style.attr" class="form-control form-control-sm" @change="changeStyle(s)">
                        <option :value="null">Chọn thuộc tính</option>
                        <template v-for="(cs,c) in cssStyle">
                            <option :value="cs" :key="c">{{ cs.name }}</option>
                        </template>
                    </select>
                </div>
                <div class="col">
                    <building-input :data="style.attr" v-model="style.value"></building-input>
                </div>
                <div class="col-auto">
                    <button class="btn btn-link" @click="deleteStyle(s)">Xóa TT</button>
                </div>
            </div>
        </template>
        <button class="btn btn-link" @click="addStyle()"><i class="fa fa-plus-circle"></i> Thêm thuộc tính</button>
    </div>
</template>
<script>
    import BuildingInput from './BuildingInput.vue';
    export default {
        components : {BuildingInput},
        props : ['value'],
        data : function () {
            return {
                cssStyle : cssStyle,
                listStyle : [],
            }
        },
        mounted : function(){
            this.convertValue();
        },
        methods : {
            convertValue : function () {
                let self = this;
                if(self.value){
                    let attrs = [];
                    let arr = self.value.split(';');
                    $.each(arr,function (k,v) {
                        if(v){
                            let x = v.split(':');
                            attrs.push({
                                attr : cssStyle[x[0]],// lấy ra thuộc tính
                                value : x[1],
                            })
                        }

                    });
                    self.listStyle=attrs;
                }
            },
            convertValueReturn : function(){
                let self = this;
                let str = '';
                $.each(self.listStyle,function (s,style) {
                    if(style.attr){
                        str += style.attr.attr + ':'+style.value+';';
                    }
                });
                self.$emit('input',str);
            },
            addStyle : function () {
                let self = this;
                self.listStyle.push({
                    attr : null,
                    value : null,
                });
            },
            deleteStyle : function (styleIndex) {
                let self = this;
                self.listStyle.splice(styleIndex,1);
            },
            changeStyle : function (index) {

                if(this.listStyle[index].attr){
                    switch (this.listStyle[index].attr.tag) {
                        case 'input' : this.listStyle[index].value='';
                            break;
                        case 'select' : this.listStyle[index].value=null;
                            break;

                        default  : break
                    }
                }
            }
        },
        watch : {
            value : function (newVal) {
                this.convertValue();
            },
            listStyle : {
                handler : function () {
                    this.convertValueReturn();
                },
                deep:true,
            }
        }
    }
</script>