<template>
    <el-select :size="size" :disabled="disabled" :value="value" :multiple="multiple" :clearable="clearable"
               @input="$emit('input',$event)"
               filterable remote :remote-method="getOptions" :placeholder="placeholder"
               value-key="id" @focus="getOptions()" v-on:visible-change="visible=$event">
        <!--<div v-infinite-scroll="this.options.getList(1)" infinite-scroll-delay="200">-->
        <el-option
                v-for="item in options"
                :key="item.id"
                :label="item.name+'/ '+item.mode*item.price"
                :value="item">
        </el-option>
        <!--</div>-->
    </el-select>
</template>
<script>
    export default {
        props: {
            size: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'Lựa chọn'
            },
            value: {
                default: null,
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
            multiple: {
                default: false,
            },
        },
        data: function () {
            return {
                options: [],
                loading: false,
                visible: false//open
            }
        },
        mounted: function () {
            if (this.value) {
                if (this.multiple) {
                    this.options = _.cloneDeep(this.value);
                } else {
                    this.options = [_.cloneDeep(this.value)];
                }
            }
        },
        methods: {
            getOptions: function (name) {
                let self = this;
                // if (!self.$root.roles.COMPANY_REGION_GET_LIST) {
                //     return false;
                // }
                self.loading = true;
                let params = {
                    page: 0,
                    count: 30,
                    name: name
                };
                if (self.department !== null) {
                    params.department = self.department;
                }
                sendParam({
                    url: urlDBD(API.surchargeCategoryList),
                    data: params,
                    type: 'get',
                    success: function (data) {
                        self.options = data.results.surchargeCategories;
                        self.loading = false;
                    },
                    functionIfError: function (res) {
                        self.loading = false;
                    }
                });
            },
            input: function (value) {
                this.$emit('input', value);
            }
        },
        watch: {
            value: function (val) {
                if (!this.visible && val) {
                    if (this.multiple) {
                        this.options = _.cloneDeep(val);
                    } else {
                        this.options = [_.cloneDeep(val)];
                    }
                }
            }
        }
    }
</script>