<template>
    <div class="container padding-page" style="font-family: Cabin">
        <div class="row" style="padding-bottom: 16px">
            <div class="col-auto">
                <h3>Danh mục phụ thu</h3>
            </div>
            <div class="col text-right">
                <button class="btn btn-success" @click="openDialog()"><i class="fa fa-plus"></i> Thêm danh mục</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="bg-anvui text-white">
                    <tr class="font-size-16">
                        <td>Stt</td>
                        <td>Tên danh mục</td>
                        <td>Số tiền</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(value,index) in data">
                        <tr>
                            <td>{{index+1}}</td>
                            <td>{{value.name}}</td>
                            <td>{{(value.mode*value.price)|number}}</td>
                            <td class="text-right">
                                <el-button type="primary" icon="el-icon-edit" circle size="mini"
                                           @click="openDialog(value)"></el-button>
                                <el-button type="danger" icon="el-icon-delete" circle size="mini"
                                           @click="remove(value)"></el-button>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
        <el-dialog custom-class="modal-sm hide-header-dialog-element-ui modal-ui-custom" style="color: #000;"
                   :visible.sync="dialog">
            <div style="width: 100%;padding:24px 24px 8px 24px">
                <div class="form-group">
                    <label>Tên danh mục</label>
                    <input type="text" class="form-control" v-model="dialogData.name">
                </div>
                <div class="form-group">
                    <label>Loai danh mục</label>
                    <select class="form-control" v-model="dialogData.mode">
                        <option :value="-1">Giảm</option>
                        <option :value="1">Tăng</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Số tiền</label>
                    <input-number class="form-control" v-model="dialogData.price"></input-number>
                </div>
            </div>

            <div style="width: 100%;padding:16px 24px 24px 24px" class="text-right">
                <button class="btn btn-q-danger" @click="dialog=false">Hủy bỏ</button>
                <button class="btn btn-q-success" @click="save()">{{dialogData.id?'Cập nhật':'Thêm mới'}}</button>
            </div>
        </el-dialog>
    </div>
</template>
<script>

    export default {
        data: function () {
            return {
                data: [],
                dialog: false,
                dialogData: {
                    id: null,
                    mode: 1,
                    name: '',
                    price: 0
                }
            }
        },
        mounted: function () {
            this.getList();
        },
        methods: {
            getList: function () {
                let self = this;
                let params = {
                    size: 100,
                    page: 0,
                };

                self.load('getSurchargeCategory');

                sendParam({
                    url: urlDBD(API.surchargeCategoryList),
                    data: params,
                    method: "GET",
                    success: function (res) {
                        self.data = res.results.surchargeCategories;
                        self.unload('getSurchargeCategory');
                    },
                    functionIfError: function () {
                        self.unload('getSurchargeCategory');
                    }
                })
            },
            openDialog(item) {
                this.dialogData = {
                    id: item ? _.cloneDeep(item.id) : null,
                    name: item ? _.cloneDeep(item.name) : '',
                    mode: item ? _.cloneDeep(item.mode) : 1,
                    price: item ? _.cloneDeep(item.price) : 0,
                }
                this.dialog = true
            },
            save() {
                let self = this;
                self.load('save');
                let data = this.dialogData;
                let params = {
                    name: data.name,
                    mode: data.mode,
                    price: data.price,
                }
                let url = API.surchargeCategoryCreate;
                if (data.id) {
                    params.id = data.id;
                    url = API.surchargeCategoryUpdate;
                }
                sendJson({
                    url: urlDBD(url),
                    data: params,
                    success: function (res) {
                        self.getList();
                        self.dialog = false;
                        self.unload('save');
                    },
                    functionIfError: function () {
                        self.unload('save');
                    }
                })
            },
            remove(data) {
                if (!confirm(this.$t('confirm-delete'))) {
                    return false;
                }
                let self = this;
                self.load('remove');
                let params = {
                    id: data.id
                }
                sendJson({
                    url: urlDBD(API.surchargeCategoryDelete),
                    data: params,
                    success: function (res) {
                        self.getList();
                        self.unload('remove');
                    },
                    functionIfError: function () {
                        self.unload('remove');
                    }
                })
            }
        }
    }
</script>
<style>
    .padding-page {
        padding: 40px 80px;
    }
</style>