<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto text-uppercase">
                    {{$t('list-points')}}
                </div>
                <div class="col text-right">
                    <button class="btn btn-success btn-sm" v-if="$root.roles.POINT_CREATE" @click="openModalAddPoint()"><i class="fa fa-plus-circle"></i> {{$t('creat-point')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8 col-md-3">
                    <input type="text" class="form-control" v-model="pointName">
                </div>
                <div class="col-4 col-md-3">
                    <button class="btn btn-block btn-outline-primary" @click="getPoints()"><i class="fa fa-search"></i> {{$t('search-point')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>{{$t('No-')}}</th>
                        <th>{{$t('name-point')}}</th>
                        <th>{{$t('address')}}</th>
                        <th style="width: 100px">{{$t('date-create')}}</th>
                        <th>{{$t('type-point')}}</th>
                        <th class="text-right">{{$t('option')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="points.length<1">
                        <td colspan="6" class="text-center">{{$t('no-data-available')}}</td>
                    </tr>
                    <template v-for="(point,p) in points">
                        <tr>
                            <td>{{p+1 + page*count}}</td>
                            <td>{{point.name}}</td>
                            <td>{{point.address}}</td>
                            <td>{{point.createDate|customDate('#DD#-#MM#-#YYYY#')}}</td>
                            <td>
                                <template v-for="(type,t) in point.pointTypes">
                                    {{$root.pointTypes[type]||''}},
                                </template>

                            </td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary" @click="openModalUpdatePoint(point)" v-if="$root.roles.POINT_UPDATE" :title="$t('button.edit')" data-toogle="tooltip" ><i class="fa fa-edit"></i></button>&nbsp;
                                <button class="btn btn-sm btn-danger" @click="deletePoint(point.id)" v-if="$root.roles.POINT_DELETE" :title="$t('button.delete')" data-toogle="tooltip"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-outline-dark" :disabled="page<=0" @click="getPoints('minus')"><< {{$t('page')}} {{page>0?page:1}}</button>
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-outline-dark" :disabled="points.length<count" @click="getPoints('plus')">{{$t('page')}} {{page+2}} >></button>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalAddPoint" tabindex="-1" role="dialog" aria-labelledby="modalAddPoint" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('add-point')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <add-point ref="AddPointComponent" @event="eventAddPoint" :provinces="provinces"></add-point>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddPointComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdatePoint" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePoint" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('update-point')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <update-point ref="UpdatePointComponent" @event="eventUpdatePoint" :provinces="provinces"></update-point>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdatePointComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddPoint from './AddPoint';
    import UpdatePoint from './UpdatePoint';

    export default {
        components : {AddPoint,UpdatePoint},
        data : function () {
            return {
                pointName : '',
                points : [],
                page : 0,
                count : func.countSearch(),
                provinces : []
            }
        },
        mounted : function(){
            this.getPoints();
            this.getProvinceDistrict();
        },
        methods : {
            getPoints: function (typePage) {
                let self = this;
                if(typePage){
                    switch (typePage) {
                        case 'plus' :
                            self.page++;
                            break;
                        case 'minus' :
                            if(self.page>0){
                                self.page--;
                            }
                            break;
                        default :
                            break;
                    }
                }else{
                    self.page=0;
                }
                let dataSend = {
                    page :self.page,
                    count:self.count,
                    pointName:self.pointName,
                };
                if(self.isReceivedGoods!==null){
                    dataSend.isReceivedGoods = self.isReceivedGoods
                }
                self.load('getPoints');
                sendJson({
                    url : urlDBD(API.pointList),
                    data : dataSend,
                    success: function (data) {
                        self.points = data.results.result;
                        self.unload('getPoints');
                    },
                    functionIfError : function (res) {
                        self.unload('getPoints');
                    }
                })
            },
            getProvinceDistrict : function(){
                let self = this;
                self.load('getProvinceDistrict');
                sendJson({
                    url : urlDBD(API.pointProvinceDistrict),
                    success : function (res) {
                        self.provinces = res.results.result;
                        self.unload('getProvinceDistrict');
                    },
                    functionIfError : function () {
                        self.unload('getProvinceDistrict');

                    }
                })
            },
            openModalAddPoint : function () {
                $(this.$el).find('#modalAddPoint').modal('show');
            },
            openModalUpdatePoint : function (point) {
                this.$refs.UpdatePointComponent.refresh(point);
                $(this.$el).find('#modalUpdatePoint').modal('show');
            },
            eventAddPoint : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getPoints('refresh');
                        $(self.$el).find('#modalAddPoint').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            eventUpdatePoint : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getPoints('refresh');
                        $(self.$el).find('#modalUpdatePoint').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            deletePoint : function (id) {
                let self = this;
                if(!confirm("Bạn chắc chắn muốn xóa điểm dừng?")){
                    return false
                }
                self.load('deletePoint');
                sendJson({
                    url : urlDBD(API.pointDelete),
                    data : {
                        id : id
                    },
                    success : function (data) {
                        notify("Xóa thành công",'success');
                        self.getPoints('refresh');
                        self.unload('deletePoint');
                    },
                    functionIfError : function (err) {
                        self.unload('deletePoint');

                    }
                })
            }
            
        }
    }
</script>