<template>
    <div id="root">
        <div class="container" style="padding-top: 100px;">
            <div class="row">
                <div class="col-6">
                    <img src="/public/images/login.png" alt="" class="img-fluid">
                </div>
                <div class="col-6 webintro">
                    <h3>Chào mừng!</h3>
                    <p>Chào mừng bạn <span>{{ userInfo.userInfo.fullName }}</span> đến với hệ thống quản trị nhà xe!
                        Vui lòng chọn phòng vé và ca làm việc của bạn để bắt đầu</p>
                    <div class="form-group">
                        <label>Chọn phòng vé</label>
                        <select-point class="w-100" :value="room" v-model="selectedRoom"
                                      :pointType="8"></select-point>
                        <button @click="setRoom">Bắt đầu làm việc</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectPoint from '../Point/SelectPoint';
    import {mapState} from 'vuex';

    export default {
        components: {SelectPoint},
        data: function () {
            return {
                selectedRoom: null,
            }
        },
        computed: {
            ...mapState({
                room: state => state.room,
            }),
        },
        mounted: function () {
            this.getPointRoom();
        },
        methods: {
            setRoom: async function () {
                let self = this;
                if(!self.selectedRoom){
                    notify("Vui lòng chọn phòng vé")
                    return false;
                }
                self.load("updateUser")
                await self.setRoomForUser();
                self.unload("updateUser")
                this.$store.commit('SET_ROOM', self.selectedRoom);
                this.$router.push({name: 'Home'});
            },
            async setRoomForUser(){
                let self= this;
                let params = {
                    userId : userInfo.userInfo.id,
                }
                if(self.selectedRoom){
                    params.room = {
                        id : self.selectedRoom.id
                    }
                }
                return new Promise(resolve => {
                    sendJson({
                        url : urlDBD(API.userUpdateInfo),
                        data : params,
                        success : function (res) {
                            resolve(res);
                        },
                        functionIfError : function (err) {
                            return Promise.reject(err);
                        }
                    })
                })
            },
            getPointRoom: function (query) {
                let self = this;
                self.load('getPointRoom');
                let dataSend = {
                    page: 0,
                    count: func.countSearch(),
                    pointType: 8,
                    companyId: this.companyId
                };
                sendJson({
                    url: urlDBD(API.pointList),
                    data: dataSend,
                    success: function (data) {
                        self.roomsList = data.results.result;
                        if (data.results.result.length <= 0) {
                            $.each(userInfo.companyconfigurations, function (key, value) {
                                if (value.name === "SELECT_ROOM_AFTER_LOGIN") {
                                    userInfo.companyconfigurations[key].value = false;
                                    return false;
                                }
                            });
                            self.setRoom();
                        }
                        self.unload('getPointRoom');
                    },
                    functionIfError: function (res) {
                        self.unload('getPointRoom');
                    }
                })
            },
        }
    }
</script>
<style>
    #main {
        margin-top: 10px;
    }

    .webintro h3 {
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 49px;
        color: #084388;
        margin-bottom: 24px;
    }

    .webintro p {
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #232731;
        margin-bottom: 24px;
    }

    .webintro label {
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #464D5D;
        margin-bottom: 8px;
    }

    .webintro button {
        background: #084388;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 13px 24px;
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        border: none;
        color: #fff;
        margin-top: 42px;
    }

    .webintro button:hover {
        cursor: pointer;
    }

    .webintro p span {
        color: #084388;
    }
</style>
