<template>
    <!--<multiselect @input="input" select-label="" deselect-label="" track-by="id" :allow-empty="allowEmpty" :options="options" name="id" :value="value" label="name" placeholder="Nhập để tìm điểm" :loading="loading" @open="open()" @search-change="searchPoint">-->
    <!--<template slot="clear" v-if="allowEmpty">-->
    <!--<div class="multiselect__clear" v-if="value!==null" @click="clearAll()"><i class="fa fa-trash text-danger"></i></div>-->
    <!--</template>-->
    <!--</multiselect>-->
    <el-select :size="size" :disabled="disabled" :value="value" :multiple="multiple"
               :clearable="clearable"
               @input="$emit('input',$event)"
               filterable remote :remote-method="searchPoint"
               :placeholder="placeholder" @focus="searchPoint()"
               value-key="id" @blur="$emit('blur',$event)"
               v-on:visible-change="visible=$event" :loading="loading">
        <el-option
                v-for="item in options"
                :key="item.id"
                :label="item.name"
                :value="item">
        </el-option>
    </el-select>
</template>
<script>
    export default {
        props : {
            value : {
                default : null,
            },
            multiple: {
                default: false
            },
            placeholder: {
                default: 'Lựa chọn'
            },
            size: {
                type: String
            },
            clearable: {
                default: true,
            },
            disabled: {
                default: false,
            },
            // isReceivedGoods : {
            //     default : null
            // },
            allowEmpty : {
                default : true,
            },
            pointType : {
                default : null
            },
            pointTypes: {
                default : null
            },
            isReceivedGoods: {
                default : false
            }
        },
        data :function () {
            return {
                options: [],
                loading : false,
            }
        },
        mounted: function () {
            this.setOptionsByValue();
        },
        methods :  {
            searchPoint : function (query) {
                let self = this;
                self.loading=true;
                let dataSend = {
                    page :0,
                    count:func.countSearch(),
                    pointName:query,
                };
                if(self.isReceivedGoods){
                    dataSend.isReceivedGoods = self.isReceivedGoods
                }
                if(self.pointType){
                    dataSend.pointType = self.pointType;
                }
                sendJson({
                    url : urlDBD(API.pointList),
                    data : dataSend,
                    success: function (data) {
                        if (self.pointTypes){
                            let list = []
                            $.each(data.results.result, function (p, point) {
                                let a = false
                                $.each(point.pointTypes,function (t,type) {
                                    if (self.pointTypes == type){
                                        a = true
                                    }
                                })
                                if (self.isReceivedGoods && point.isReceivedGoods) {
                                    a = true
                                }
                                if (a){
                                    list.push(point)
                                }
                            })
                            self.options = list
                        } else {
                            self.options = data.results.result;
                        }
                        self.loading=false;
                    },
                    functionIfError : function (res) {
                        self.loading=false;
                    }
                })
            },
            open : function () {
                if (this.options.length <= 0) {
                    this.searchPoint('');
                }
            },
            clearAll : function () {
                this.input(null);
            },
            input : function (value) {
                this.$emit('input',value);
            },
            setOptionsByValue: function () {
                if (this.value) {
                    if (this.multiple) {
                        this.options = _.cloneDeep(this.value);
                    } else {
                        this.options = [_.cloneDeep(this.value)];
                    }
                }
            },
        },
        watch: {
            value: function () {
                if (!this.visible) {
                    this.setOptionsByValue();
                }
            }
        }
    }
</script>