<template>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="font-weight-normal">{{$t('address')}}</label>
                <input type="text" id="placeMapUpdatePoint" class="form-control" v-model="address">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">{{$t('name-point')}}</label>
                <input type="text"  class="form-control" v-model="name">
            </div>
            <div class="form-group">
                <label class="font-weight-normal">{{$t('name-point-short')}}</label>
                <input type="text"  class="form-control" v-model="pointNameAcronym">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-normal">{{$t('province-city')}}</label>
                        <multiselect :options="provinces" track-by="id" label="provinceName" v-model="province" :placeholder="$t('choose-city')"></multiselect>
                    </div>
                </div>
                <div class="col-6" v-if="province&&province.listDistrict.length>0">
                    <div class="form-group">
                        <label class="font-weight-normal">{{$t('district')}}</label>
                        <multiselect :options="province.listDistrict" track-by="districtId" label="districtName" v-model="district" :placeholder="$t('choose-district')"></multiselect>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-normal">{{$t('latitude')}}</label><span class="text-danger"> *</span>
                        <input type="text"  class="form-control" v-model="latLngDefault.lat">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-normal">{{$t('longitude')}}</label><span class="text-danger"> *</span>
                        <input type="text"  class="form-control" v-model="latLngDefault.lng">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-normal">{{$t('type-point')}}</label>
                        <el-select v-model="pointTypes" :multiple="true">
                            <template v-for="(pointT,pt) in $root.pointTypes">
                                <el-option :value="pt" :key="pt" :label="pointT"></el-option>
                            </template>
                        </el-select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-normal w-100">{{$t('phone-number')}}</label>
                        <input type="text"  class="form-control" v-model="phoneNumber">
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="isReceivedGoodsUpdate" v-model="isReceivedGoods" :value="false">
                <label class="form-check-label font-weight-normal" for="isReceivedGoodsUpdate">{{$t('is-return-point')}}</label>
            </div>
        </div>
        <!--<div class="col-6">-->
            <!--<div id="mapUpdatePoint" style="width: 100%;height:400px;"></div>-->
        <!--</div>-->
    </div>
</template>
<script>
    export default {
        props : ['provinces'],
        data : function () {
            return {
                id: null,
                map : null,
                marker : null,
                latLngDefault : {
                    lat : '',
                    lng : '',
                },
                address : '',
                name :'',
                pointNameAcronym : '',
                pointTypes: [],
                phoneNumber : '',
                isReceivedGoods : false,
                province : null,
                district : null,
            }
        },
        mounted : function(){
            let self = this;
            // let itv = setInterval(function () {
            //     try{
            //         self.initMap();
            //         clearInterval(itv);
            //     }catch(e){
            //         console.log("google not defind");
            //     }
            // },1000)
        },
        methods : {
            refresh : function(point){
                let self = this;
                self.id = point.id;
                self.latLngDefault = {
                    lat : point.latitude,
                    lng : point.longitude
                };
                self.address = point.address;
                self.name = point.name;
                self.pointNameAcronym = point.pointNameAcronym;
                self.pointTypes = (point.pointTypes || []).map(num => String(num));
                self.phoneNumber = point.phoneNumber;
                self.isReceivedGoods = point.isReceivedGoods;
                let np = point.district+', '+point.province+', Việt Nam';
                self.setProvinceDistrict(np);
                // self.marker.setPosition(self.latLngDefault);
                // self.map.setCenter(self.latLngDefault);
            },
            initMap : function () {
                let self = this;
                let inputPlace = document.getElementById('placeMapUpdatePoint')//$(self.$el).find('#placeMapAddPoint');
                let mapElement = document.getElementById('mapUpdatePoint')//$(self.$el).find('#mapAddPoint');

                let autocompleteAddress = new google.maps.places.Autocomplete(inputPlace);
                // self.map = new google.maps.Map(mapElement, {zoom: 12,center: self.latLngDefault});
                // self.marker = new google.maps.Marker({position:self.latLngDefault,map:self.map,draggable :true});

                autocompleteAddress.setComponentRestrictions({'country':['vn']});
                autocompleteAddress.addListener('place_changed',function(){
                    let latlngPlace = autocompleteAddress.getPlace();
                    let latlng = {
                        lat : latlngPlace.geometry.location.lat(),
                        lng : latlngPlace.geometry.location.lng(),
                    }
                    // self.latLngDefault = latlng;
                    self.address = latlngPlace.formatted_address;
                    self.setProvinceDistrict(latlngPlace.formatted_address);
                    // self.marker.setPosition(self.latLngDefault);
                    // self.map.setCenter(self.latLngDefault);
                });


                // self.marker.addListener('drag',function(){
                //     self.latLngDefault = {
                //         lat : self.marker.getPosition().lat(),
                //         lng : self.marker.getPosition().lng(),
                //     }
                // });
            },
            setProvinceDistrict : function (name) {
                let self = this;
                let arrName = name.toString().split(', ');
                let lengthArr = arrName.length;
                if(arrName[lengthArr-2]){//tirnh
                    $.each(self.provinces,function (p,prov) {
                        if(prov.provinceName === arrName[lengthArr-2]){
                            self.province = prov;
                            return false;
                        }
                    });
                }
                if(arrName[lengthArr-3]&&self.province&&self.province.listDistrict){ // quan
                    $.each(self.province.listDistrict,function (d,dis) {
                        if(dis.districtName === arrName[lengthArr-3]){
                            self.district = dis;
                            return false;
                        }
                    });
                }
            },
            save : function () {
                let self = this;
                if(self.latLngDefault.lat == '' || self.latLngDefault.lng == ''){
                    notify('Vui lòng nhập mật kinh độ , vĩ độ', "error");
                    return false;
                }
                let param = {
                    id : self.id,
                    name : self.name,
                    pointNameAcronym : self.pointNameAcronym,
                    address : self.address,
                    pointTypes: self.pointTypes.map(num => parseInt(num)),
                    latitude : self.latLngDefault.lat,
                    longitude : self.latLngDefault.lng,
                    phoneNumber : self.phoneNumber,
                    isReceivedGoods : self.isReceivedGoods,
                    province : self.province.provinceName,
                    district : self.district.districtName,
                }
                self.load('updatePoint');
                sendJson({
                    url : urlDBD(API.pointUpdate),
                    data : param,
                    success : function (data) {
                        self.$emit('event',{eventName:'saveSuccess',data : data});
                        self.unload('updatePoint');
                    },
                    functionIfError : function (err) {
                        self.unload('updatePoint');
                    }
                })
            }
        }
    }
</script>