<template>
    <div class="row">
        <div class="col-12 form-group">
            <label>{{$t('menu.route')}} <span class="text-danger">*</span></label>
            <select-route class="w-100" v-model="route" @input="changeRoute()"  :clearable="false"></select-route>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('departure-time')}} <span class="text-danger">*</span></label>
            <clock-picker v-model="startTime" input-class="form-control text-center"></clock-picker>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('filter.vehicle')}} <span class="text-danger">*</span></label>
            <select-vehicle v-model="vehicle" :allow-empty="false" class="w-100"></select-vehicle>
        </div>
        <div class="col-12 form-group">
            <label>Tên chuyến rút gọn:</label>
            <input type="text" class="form-control" v-model="code">
        </div>
        <div class="col-12 form-group">
            <label>{{$t('repeat-schedule')}}</label>
            <div class="row no-gutters">
                <template v-for="(d,day) in days">
                    <div class="col col-xs-6 form-check" :key="d">
                        <input type="checkbox" :id="'day'+d" v-model="indexCycle" :value="d">
                        <label :for="'day'+d" class="font-weight-normal">{{ day }}</label>
                    </div>
                </template>
            </div>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('type-schedule')}}</label>
            <div class="row no-gutters">
                <div class="form-check col-12">
                    <input type="checkbox" id="knowEndDate" :value="true" v-model="typeEndDate">
                    <label for="knowEndDate" class="font-weight-normal">{{$t('known-day-stop')}}</label>
                </div>
            </div>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('start-date')}}</label>
            <datepicker v-model="startDate"></datepicker>
        </div>
        <div class="col-12 form-group" v-show="typeEndDate">
            <label>{{$t('end-date')}}</label>
            <datepicker v-model="endDate"></datepicker>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('filter.driver')}}</label>
            <select2user ref="DriverComponent" :multiple="true" :userType="[2]" v-model="drivers"></select2user>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('filter.side-driver')}}</label>
            <select2user ref="AssistantComponent" :multiple="true" :userType="[3]" v-model="assistants"></select2user>
        </div>
        <div class="col-12 form-group">
            <el-checkbox v-model="choosableSeat">Cho phép chọn chỗ</el-checkbox>
        </div>
        <div class="col-12 form-group">
            <label>Màu sắc chuyến</label>
            <div class="w-100" style="display: flex">
                <el-color-picker v-model="color" :predefine="colorSuggest"></el-color-picker>
                <el-input v-model="color"></el-input>
            </div>
        </div>
        <div class="col-12 form-group">
            <label>Ghi chú</label>
            <el-input
                type="textarea"
                v-model="note"
                maxlength="1000"
                show-word-limit
                rows="5"
            >
            </el-input>
        </div>
    </div>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle.vue'
    import SelectRoute from '../Route/SelectRoute.vue'

    export default {
        components : {SelectVehicle,SelectRoute},
        data : function () {
            return {
                days : {//nếu lưu theo chiều xuôi mảng sẽ bị sắp xếp,nhìn sẽ là t5->t6->t7, lưu ngược để hiển thị t2->t3->...->t7->cn
                    "Thứ 2": 4,
                    "Thứ 3": 5,
                    "Thứ 4": 6,
                    "Thứ 5": 0,
                    "Thứ 6": 1,
                    "Thứ 7": 2,
                    "Chủ Nhật": 3,
                },
                route : null,
                vehicle : null,
                indexCycle :[1,2,3,4,5,6,0],
                startDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                endDate : new Date().customFormat('#DD#-#MM#-#YYYY#'),
                startTime : new Date().customFormat('#hhhh#:#mm#'),
                drivers : null,
                assistants : null,
                typeEndDate : true,//true là có ngày kết thúc
                code: null,
                note: '',
                choosableSeat: true,
                color: "#FFFFFF",
                colorSuggest: ['#FFFFFF', "#D03125", "#25D061", "#2567D0", "#C725D0"],
            }
        },
        methods : {
            changeRoute() {
                console.log(this.route.routeNameShort)
                this.code = this.route.routeNameShort
            },
            refresh : function(){
                let self = this;
                self.route=null;
                self.vehicle=null;
                self.indexCycle=[1,2,3,4,5,6,0];
                self.startDate=new Date().customFormat('#DD#-#MM#-#YYYY#');
                self.endDate=new Date().customFormat('#DD#-#MM#-#YYYY#');
                self.startTime=new Date().customFormat('#hhhh#:#mm#');
                self.drivers=null;
                self.assistants=null;
                self.typeEndDate=true;
                self.code=null;
                self.note='';
                self.choosableSeat = true;
                self.color = ""
            },
            save : function () {
                let self=this;
                let dataReq = {
                    startTime : func.timeToMs(self.startTime),
                    startDate : func.DateYMD(self.startDate),
                    indexCycle : self.indexCycle,
                    drivers : self.$refs.DriverComponent.getId(),
                    assistants : self.$refs.AssistantComponent.getId(),
                    code: self.code,
                    note: self.note,
                    choosableSeat: self.choosableSeat ? 1 : 0,
                    color: self.color,
                };
                if(self.route!==null){
                    dataReq.routeId = self.route.routeId;
                }else{
                    notify(this.$t('notify.dont-empty-route'),'error');
                    return false;
                }
                if(self.vehicle!==null){
                    dataReq.vehicle = {id : self.vehicle.vehicleId};
                }else{
                    notify(this.$t('notify.dont-empty-vehicle'),'error');
                    return false;
                }
                if(self.typeEndDate){
                    dataReq.endDate = func.DateYMD(self.endDate);
                }else{
                    dataReq.endDate = -1;
                }
                self.load('create-PlanForTrip');
                sendJson({
                    url : urlDBD(API.planForTripCreate),
                    data : dataReq,
                    success : function (res) {
                        self.unload('create-PlanForTrip');
                        self.$emit('event',{eventName : 'saveSuccess',data:res});
                    },
                    functionIfError : function (res) {
                        self.unload('create-PlanForTrip');
                        self.$emit('event',{eventName : 'saveError',data:res});
                    }
                })
            }
        }
    }
</script>
