<template>
    <div class="row">
        <div class="col-12 form-group top10" v-if="!route">
            <label>{{$t('select-route')}}</label>
            <select-route v-model="selectRoute" class="w-100"></select-route>
        </div>
        <div class="row col-12" style="padding-right: 0;">
            <div class="col-8 form-group top10">
                <label>{{$t('departure-time')}}</label>
                <el-time-picker v-model="startTime" :editable="false" class="w-100" format="HH:mm" value-format="HH:mm"
                                placeholder="time"></el-time-picker>
                <!--<clock-picker v-model="startTime" input-class="form-control text-center"></clock-picker>-->
            </div>
            <div class="col-4 form-group top10" style="padding-right: 0px;padding-left: 0px;">
                <label></label>
                <el-time v-model="startTime" />
                <!--<clock-picker v-model="startTime" input-class="form-control text-center"></clock-picker>-->
            </div>

            <!-- <div class="col-4 form-group top10" style="padding-right: 0px;padding-left: 0px;">
                <label></label>
                <el-time-picker v-model="startTime"  class="w-100" :clearable="false" format="HHmm" value-format="HH:mm"
                                placeholder="time"></el-time-picker>
            </div> -->
        </div>

        <div class="col-12 form-group">
            <label>Tên chuyến rút gọn:</label>
            <input type="text" class="form-control" v-model="code">
        </div>
        <div class="col-12 form-group">
            <label>{{$t('filter.vehicle')}} <span class="text-danger">*</span></label>
            <select-vehicle v-model="vehicle" class="w-100" :allowEmpty="false"></select-vehicle>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('filter.driver')}}</label>
            <select2user ref="DriverComponent" :multiple="true" :userType="[2]" v-model="drivers"></select2user>
        </div>
        <div class="col-12 form-group">
            <label>{{$t('filter.side-driver')}}</label>
            <select2user ref="AssistantComponent" :multiple="true" :userType="[3]" v-model="assistants"></select2user>
        </div>
        <div class="col-12 form-group">
            <el-checkbox v-model="choosableSeat">Cho phép chọn chỗ</el-checkbox>
        </div>
        <div class="col-12 form-group">
            <label>Màu sắc chuyến</label>
            <div class="w-100" style="display: flex">
                <el-color-picker v-model="color" :predefine="colorSuggest"></el-color-picker>
                <el-input v-model="color"></el-input>
            </div>
        </div>
        <div class="col-12 form-group">
            <label>Ghi chú</label>
            <textarea type="text" class="form-control" v-model="note" rows="3"></textarea>
        </div>
    </div>
</template>
<script>
    import SelectVehicle from '../Vehicle/SelectVehicle.vue';
    import SelectRoute from '../Route/SelectRoute.vue';
    import ElTime from '../Template/ElTime'

    export default {
        components : {ElTime, SelectVehicle, SelectRoute},
        props : {
            route : {
            },
            date : {
                required : true,
                type : String
            }
        },
        data : function () {
            return {
                startTime : new Date().customFormat('#hhhh#:#mm#'),
                vehicle : null,
                drivers : null,
                assistants : null,
                selectRoute :  null,
                code: null,
                note: '',
                choosableSeat: true,
                color: "#FFFFFF",
                colorSuggest: ['#FFFFFF', "#D03125", "#25D061", "#2567D0", "#C725D0"],
            }
        },
        methods : {
            change: function () {
              console.log('runn')
            },
            create : function () {
                let self=this;
                let dataReq = {};
                try{
                    dataReq = {
                        startTime : func.timeToMs(self.startTime),
                        startDate : func.DateYMD(self.date),
                        endDate : func.DateYMD(self.date),
                        drivers : self.$refs.DriverComponent.getId(),
                        assistants : self.$refs.AssistantComponent.getId(),
                        code: self.code,
                        note: self.note,
                        choosableSeat: self.choosableSeat ? 1 : 0,
                        color: self.color,
                        // indexCycle : self.selected.indexCycle
                    };
                    let indexDay = new Date(func.dateToMS(self.date)).getDay();
                    let indexCycle = (indexDay+3)%7; // 0 là thứ 5
                    dataReq.indexCycle = [indexCycle];
                    if(self.route==null&&self.selectRoute==null){
                        notify('Vui lòng chọn tuyến','error');
                        return false;
                    }
                    if(self.route!==null){
                        dataReq.routeId = self.route.routeId;
                    }else{
                        dataReq.routeId = self.selectRoute.routeId;
                    }
                    if(self.vehicle!==null){
                        dataReq.vehicle = {id: self.vehicle.vehicleId};
                    }
                }catch (e) {
                    notify(this.$t('has-data-error'),"error");
                }

                self.load('create-PlanForTrip-NotLoop');
                sendJson({
                    url : urlDBD(API.planForTripCreate),
                    data : dataReq,
                    success : function (res) {
                        self.unload('create-PlanForTrip-NotLoop');
                        self.$emit("createSuccess",res);
                    },
                    functionIfError : function (res) {
                        self.unload('create-PlanForTrip-NotLoop');
                        self.$emit("createError",res);
                    }
                })
            }
        }
    }
</script>
<!--<style scoped>-->
    <!--.el-input&#45;&#45;prefix[data-v-33c97082], .el-input__inner {-->
        <!--background-color: #0b5fc6 !important;-->
    <!--}-->
     <!--.el-input__inner {-->
         <!--background-color: #0b5fc6 !important;-->
     <!--}-->
<!--</style>-->
