<template>
  <div class="row" style="margin-bottom: 70px">
    <div class="col-12 title">
      <div class="row no-gutters">
        <div class="col-auto text-uppercase">{{$t('list-schedule')}}</div>
        <div class="col text-right">
          <button
            class="btn btn-success btn-sm text-uppercase"
            @click="openModalAddPlanForTrip()"
            v-if="$root.roles.SCHEDULE_CREATE"
          >
            <i class="fa fa-plus-circle"></i>
            {{$t('button.create-schedule')}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="content-row">
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label>{{$t('menu.route')}}</label>
              <select-route class="w-100" v-model="search.route"></select-route>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label>{{$t('type-schedule')}}</label>
              <select class="form-control" v-model="search.type">
                <option :value="null">Tất cả</option>
                <option :value="1">Không lặp</option>
                <option :value="2">Lặp có thời hạn</option>
                <option :value="3">Lặp vô hạn</option>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="form-group">
              <label>Thời gian</label>
              <el-date-picker
                v-model="search.dateRange"
                class="w-100"
                :picker-options="options"
                type="daterange"
                :format="dateFormat"
                :value-format="dateFormat"
                range-separator="-"
                start-placeholder="Bắt đầu"
                end-placeholder="Kết thúc"
              ></el-date-picker>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label>{{$t('filter.vehicle')}}</label>
              <select-vehicle v-model="search.vehicle" multiple class="w-100"></select-vehicle>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-group">
              <label class="w-100">&nbsp;</label>
              <button class="btn btn-primary" @click="getPlanForTrips(0)">
                <i class="fa fa-search"></i>
                {{$t('search')}}
              </button>
            </div>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-sm table-striped table-bordered text-center">
                <tr>
                  <th>{{$t('No-')}}</th>
                  <th>{{$t('menu.route')}}</th>
                  <th>{{$t('departure-time')}}</th>
                  <th>{{$t('date-create')}}</th>
                  <th>{{$t('start-date')}}</th>
                  <th>{{$t('end-date')}}</th>
                  <th>{{$t('menu.vehicle')}}</th>
                  <th>Cho phép chọn chỗ</th>
                  <th>Màu sắc chuyến</th>
                  <th>Nhân viên sửa</th>
                  <th class="text-right">{{$t('option')}}</th>
                </tr>
                <template v-for="(schedule,index) in planForTrips">
                  <tr :key="schedule.id">
                    <td>{{ (index+1)+count*page }}</td>
                    <td>{{ schedule.routeInfo?schedule.routeInfo.name:schedule.routeId }}</td>
                    <td>{{ schedule.startTime|customDate('#hhhh#:#mm#',true) }}</td>
                    <td>{{ schedule.createdDate|customDate('#DD#-#MM#-#YYYY#') }}</td>
                    <td>{{ schedule.startDate|strToDate }}</td>
                    <td>{{ (schedule.endDate == -1 ? '' : schedule.endDate)|strToDate }}</td>
                    <td>{{ schedule.vehicle?schedule.vehicle.numberPlate:'' }}</td>
                    <td>{{schedule.choosableSeat && schedule.choosableSeat === 1 ? 'Cho phép' : 'Không cho phép'}}</td>
                    <td>
                      <div class="color-pick" :style="{background: schedule.color ? `${schedule.color}` : 'inherite'}"></div>
                    </td>
                    <td>
                      {{schedule.updatedUser ? `${schedule.updatedUser.fullName}` : ''}}
                      <br>
                      {{schedule.updatedUser ? `${$options.filters.customDate(schedule.updatedDate, "#hhhh#:#mm# #DD#-#MM#-#YYYY#")}` : ''}}
                    </td>
                    <td class="text-right">
                      <button
                        class="btn btn-sm btn-primary"
                        :title="$t('button.edit')"
                        data-toggle="tooltip"
                        @click="openModalUpdatePlanForTrip(schedule)"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-danger"
                        :title="$t('button.delete')"
                        data-toggle="tooltip"
                        @click="deletePlanForTrip(schedule.id)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </template>
              </table>
            </div>
          </div>
          <div class="col-12">
            <button
              class="btn btn-outline-dark btn-sm"
              :disabled="page<=0"
              @click="getPlanForTrips('minus')"
            ><< {{$t('page')}} {{ page<=0?1:page }}</button>
            <button
              class="btn btn-outline-dark btn-sm pull-right"
              :disabled="planForTrips.length<count"
              @click="getPlanForTrips('plus')"
            >{{$t('page')}} {{ page+2 }} >></button>
          </div>
        </div>
      </div>
    </div>

    <el-dialog custom-class="modal-lg" :visible.sync="dialogAddPlanForTrip">
      <div class="w-100">
        <div style="padding-top:0;padding-bottom:0">
          <h2>Cập nhật lịch chạy</h2>
          <add-plan-for-trip @event="eventAddPlanForTrip" ref="AddPlanForTripComponent"></add-plan-for-trip>
        </div>
        <div class="modal-footer" style="padding:0.5rem 1rem"  slot="footer">
          <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddPlanForTripComponent.save()">
            <i class="fa fa-save"></i>{{$t('button.save')}}
          </button>
          <button type="button" class="btn btn-sm btn-outline-primary" @click="dialogAddPlanForTrip = false">
            <i class="fa fa-close"></i>{{$t('button.close')}}
          </button>
        </div>
      </div>
    </el-dialog>

    <el-dialog custom-class="modal-lg" :visible.sync="dialogUpdatePlanForTrip">
      <div class="w-100">
        <div style="padding-top:0;padding-bottom:0">
          <h2>{{$t('button.update-schedule')}}</h2>
          <update-plan-for-trip @event="eventUpdatePlanForTrip" ref="UpdatePlanForTripComponent"></update-plan-for-trip>
        </div>
        <div class="modal-footer" style="padding:0.5rem 1rem"  slot="footer">
          <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdatePlanForTripComponent.save()">
            <i class="fa fa-save"></i>{{$t('button.save')}}
          </button>
          <button type="button" class="btn btn-sm btn-outline-primary" @click="dialogUpdatePlanForTrip = false">
            <i class="fa fa-close"></i>{{$t('button.close')}}
          </button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
// import SelectVehicle from '../Vehicle/SelectVehicle.vue'
import SelectRoute from "../Route/SelectRoute.vue";
import AddPlanForTrip from "./AddPlanForTrip.vue";
import UpdatePlanForTrip from "./UpdatePlanForTrip.vue";
import SelectVehicle from "../Vehicle/SelectVehicle";
import { mapState} from 'vuex';

export default {
  components: { SelectRoute, AddPlanForTrip, UpdatePlanForTrip, SelectVehicle },
  data: function() {
    return {
      options: {
          disabledDate : (time)=>{
              return time.getTime() < this.companyConfig.CONFIG.TIME_START_GET_DATA.value ? this.companyConfig.CONFIG.TIME_START_GET_DATA.value : 0
          }
      },
      planForTrips: [],
      page: 0,
      loadMore: true,
      routes: [],
      search: {
        route: null,
        type: null,
        vehicle: [],
        dateRange: [new Date().customFormat("#DD#-#MM#-#YYYY#"), new Date().customFormat("#DD#-#MM#-#YYYY#")]
      },
      dateFormat: "dd-MM-yyyy",
      count: func.countSearch(),
      dialogAddPlanForTrip : false,
      dialogUpdatePlanForTrip : false,
    };
  },
  mounted: function() {
    this.getPlanForTrips(0);
  },
  computed : {
      ...mapState({
          companyConfig: state => state.CompanyConfig.companyConfig,
      }),
  },
  methods: {
    getPlanForTrips: function(typePage) {
      let self = this;
      if (typePage) {
        switch (typePage) {
          case "plus":
            self.page++;
            break;
          case "minus":
            if (self.page > 0) {
              self.page--;
            }
            break;
          default:
            break;
        }
      } else {
        self.page = 0;
      }
      self.load("getPlanForTrips");
      console.log(self.search);
      let data = {
        page: self.page,
        count: self.count,
      };
      if(!!self.search.dateRange) {
        data.startDate = parseInt(self.search.dateRange[0].split('-').reverse().join(''));
        data.endDate = parseInt(self.search.dateRange[1].split('-').reverse().join(''));
      }
      if (self.search.route) {
        data.routeId = self.search.route.routeId;
      }
      if (self.search.type !== null) {
        data.type = self.search.type;
      }
      if(self.search.vehicle.length !== 0) {
        data.numberPlates = self.search.vehicle.map(x=> x.numberPlate);
      }
      console.log(data);
      sendJson({
        url: urlDBD(API.planForTripList),
        data: data,
        success: function(res) {
          self.planForTrips = res.results.planForTrips;
          self.unload("getPlanForTrips");
        },
        error: function(res) {
          self.unload("getPlanForTrips");
        }
      });
    },
    openModalAddPlanForTrip: function() {
      let self = this;
      this.dialogAddPlanForTrip = true;
      setTimeout(function () {
        self.$refs.AddPlanForTripComponent.refresh();
      },300);
    },
    openModalUpdatePlanForTrip: function(_plan) {
      let self = this;
      this.dialogUpdatePlanForTrip = true;
      setTimeout(function () {
        self.$refs.UpdatePlanForTripComponent.refresh(_plan);
      },300);
    },
    eventAddPlanForTrip: function(event) {
      let self = this;
      switch (event.eventName) {
        case "saveSuccess":
          this.dialogAddPlanForTrip = false;
          self.getPlanForTrips(0);
          break;

        default:
          break;
      }
    },
    eventUpdatePlanForTrip: function(event) {
      let self = this;
      switch (event.eventName) {
        case "saveSuccess":
          this.dialogUpdatePlanForTrip = false;
          self.getPlanForTrips(0);
          break;

        default:
          break;
      }
    },
    deletePlanForTrip: function(_id) {
      if (!confirm(this.$t("confirm-delete"))) {
        return false;
      }
      let self = this;
      self.load("deletePlanForTrip");
      sendJson({
        url: urlDBD(API.planForTripDelete),
        data: {
          id: _id
        },
        success: function(data) {
          self.getPlanForTrips("refresh");
          self.unload("deletePlanForTrip");
        },
        functionIfError: function(err) {
          self.unload("deletePlanForTrip");
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.color-pick {
  height: 30px;
  border: 1px solid #e4e4e4;
}
</style>
