<template>
    <div class="row">
        <div class="col-12">
            <div class="px-2 py-2 border bg-white">
                <div class="row no-gutters">
                    <div class="col-12 col-md">
                        <div class="row no-gutters">
                            <div class="col-auto mr-2">
                                <div class="d-flex align-items-center">
                                    <span style="white-space: nowrap;" for="">Hãy chọn tài xế &nbsp;</span>
                                    <select2user :multiple="false" inputClass="multiple-sm" placeholder="Chọn tài xế"
                                                :userType="[2]" v-model="driver"></select2user>
                                    <span style="white-space: nowrap;" for="">&nbsp; và click vào ô bạn muốn gán tài xế.</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="d-flex align-items-center">
                                    <span style="white-space: nowrap;" for="">Loại hình trung chuyển: &nbsp;</span>
                                    <select v-model="sortType" @change="sort()" class="form-control form-control-sm">
                                        <option value="PointAll">Trung chuyển đón và trả</option>
                                        <option value="PointUp">Trung chuyển đón</option>
                                        <option value="PointDown">Trung chuyển trả</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <el-switch
                                v-model="merge"
                                active-text="Gộp vé">
                        </el-switch> &nbsp;
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-primary" @click="save()"><i class="fa fa-save"></i> Lưu
                            danh sách trung chuyển
                        </button>&nbsp;
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-primary" @click="print()"><i class="fa fa-print"></i> In danh sách trung chuyển</button>&nbsp;
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <div class="content-row">
                <print-header></print-header>
                <div style="" class="text-center size20">DANH SÁCH HÀNH KHÁCH</div>
                <div class="row">
                    <div class="col-3 text-right">Tuyến</div>
                    <div class="col-3">{{ trip.route.name }}</div>
                    <div class="col-3 text-right">Tài xế</div>
                    <div class="col-3">
                        <span class="top5" v-if="!$root.isAgency()">
                            <template v-for="driver in trip.drivers">
                                <strong>{{driver.fullName}} (+84{{driver.phoneNumber}})</strong>,
                            </template>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">Biển số</div>
                    <div class="col-3"><span v-if="trip.vehicle">{{ trip.vehicle.numberPlate||'&nbsp;' }}</span></div>
                    <div class="col-3 text-right">Phụ xe</div>
                    <div class="col-3">
                        <span class="top5" v-if="!$root.isAgency()">
                            <template v-for="ass in trip.assistants">
                                <strong>{{ass.fullName}} (+84{{ass.phoneNumber}})</strong>,
                            </template>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">Giờ chạy</div>
                    <div class="col-3">{{ trip.startTime|customDate('#hhhh#:#mm#',true) }}</div>
                    <div class="col-3 text-right">Số ghế</div>
                    <div class="col-3" v-if="trip.ticketsInSeatMap">{{ trip.ticketsInSeatMap.length }}</div>
                </div>
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th v-if="!checkHideConfig('ticketCode')">Mã vé</th>
                        <th v-if="!checkHideConfig('fullName')">Hành khách</th>
                        <th v-if="!checkHideConfig('phoneNumber')">SDT</th>
                        <th v-if="!checkHideConfig('seat')">Vị trí</th>
                        <th v-if="!checkHideConfig('pointUp')">Điểm lên</th>
                        <th v-if="!checkHideConfig('pointUpArea')">Khu vực đón khách</th>
                        <th v-if="!checkHideConfig('pointDown')">Điểm trả</th>
                        <th v-if="!checkHideConfig('pointDownArea')">Khu vực trả khách</th>
                        <th v-if="!checkHideConfig('pointUpDriver')">Tài xế đón</th>
                        <th v-if="!checkHideConfig('pointDownDriver')">Tài xế trả</th>
                        <th v-if="!checkHideConfig('numberPlate')">BKS</th>
                        <th v-if="!checkHideConfig('createdDate')">Giờ đặt</th>
                        <th v-if="!checkHideConfig('agencyPrice')">Thành tiền</th>
                        <th v-if="!checkHideConfig('seller')">Người đặt</th>
                        <th v-if="!checkHideConfig('note')">Ghi chú</th>
                    </tr>
                    <tr v-if="ticketsSort&&ticketsSort.length<=0">
                        <td colspan="11" class="text-center">Không có dữ liệu</td>
                    </tr>
                    </thead>
                    <draggable :list="merge ? ticketsUnDuplicate :ticketsSort" tag="tbody">
                        <template v-for="(ticket,t) in merge ? ticketsUnDuplicate :ticketsSort">
                            <tr :key="ticket.ticketId">
                                <td class="text-center"><i class="fa fa-arrows-alt"></i> {{t+1}}</td>
                                <td v-if="!checkHideConfig('ticketCode')">{{ticket.ticketCode}}</td>
                                <td v-if="!checkHideConfig('fullName')" style="font-size: 16px">{{ticket.fullName}}</td>
                                <td v-if="!checkHideConfig('phoneNumber')" style="font-size: 18px">{{ticket.phoneNumber|phoneNumber}}</td>
                                <td v-if="!checkHideConfig('seat')">{{merge ? ('('+ ticket.seatIds.length +') - ' + ticket.seatIds.join(', ')) : ticket.seat.seatId}}</td>
                                <td v-if="!checkHideConfig('pointUp')">{{ticket.pointUp.address}}</td>
                                <td v-if="!checkHideConfig('pointUpArea')">{{ticket.pointUp.regionInfo ? ticket.pointUp.regionInfo.name : ''}}</td>
                                <td v-if="!checkHideConfig('pointDown')">{{ticket.pointDown.address}}</td>
                                <td v-if="!checkHideConfig('pointDownArea')">{{ticket.pointDown.regionInfo ? ticket.pointDown.regionInfo.name : ''}}</td>
                                <td v-if="!checkHideConfig('pointUpDriver')" title="click để gán tài xế đã chọn vào đây" class="hover-bg-e cursor-pointer"
                                    @click="setDriver(t,'pointUp')">
                                    <span v-if="ticket.pointUp.transshipmentDriver"
                                        :class="ticket.pointUp.completedTransshipment?'text-success':''">{{ticket.pointUp.transshipmentDriver.fullName}}
                                    </span>
                                </td>
                                <td v-if="!checkHideConfig('pointDownDriver')" title="click để gán tài xế đã chọn vào đây" class="hover-bg-e cursor-pointer"
                                    @click="setDriver(t,'pointDown')"><span v-if="ticket.pointDown.transshipmentDriver"
                                                                            :class="ticket.pointDown.completedTransshipment?'text-success':''">{{ticket.pointDown.transshipmentDriver.fullName}}</span>
                                </td>
                                <td v-if="!checkHideConfig('numberPlate')">{{ticket.tripInfo.vehicle ? ticket.tripInfo.vehicle.numberPlate : ''}}</td>
                                <td v-if="!checkHideConfig('createdDate')">{{ $options.filters.customDate(ticket.createdDate, '#hhhh#:#mm# #DD#/#MM#/#YYYY#',false) }}</td>
                                <td v-if="!checkHideConfig('agencyPrice')">{{ ticket.agencyPrice|number }}</td>
                                <td v-if="!checkHideConfig('seller')">{{ ticket.seller.fullName }}</td>
                                <td v-if="!checkHideConfig('note')">{{ticket.note}}</td>
                            </tr>
                        </template>
                    </draggable>
                </table>
            </div>
        </div>

        <div class="col-12 d-none">
            <div class="print">
                <print-header></print-header>
                <div style="" class="text-center size20">DANH SÁCH HÀNH KHÁCH</div>
                <div class="row">
                    <div class="col-3 text-right">Tuyến</div>
                    <div class="col-3">{{ trip.route.name }}</div>
                    <div class="col-3 text-right">Tài xế</div>
                    <div class="col-3">
                        <span class="top5" v-if="!$root.isAgency()">
                            <template v-for="driver in trip.drivers">
                                <strong>{{driver.fullName}} (+84{{driver.phoneNumber}})</strong>,
                            </template>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">Biển số</div>
                    <div class="col-3"><span v-if="trip.vehicle">{{ trip.vehicle.numberPlate||'&nbsp;' }}</span></div>
                    <div class="col-3 text-right">Phụ xe</div>
                    <div class="col-3">
                        <span class="top5" v-if="!$root.isAgency()">
                            <template v-for="ass in trip.assistants">
                                <strong>{{ass.fullName}} (+84{{ass.phoneNumber}})</strong>,
                            </template>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-right">Giờ chạy</div>
                    <div class="col-3">{{ trip.startTime|customDate('#hhhh#:#mm#',true) }}</div>
                    <div class="col-3 text-right">Số ghế</div>
                    <div class="col-3" v-if="trip.ticketsInSeatMap">{{ trip.ticketsInSeatMap.length }}</div>
                </div>
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th v-if="!checkHideConfig('ticketCode')">Mã vé</th>
                        <th v-if="!checkHideConfig('fullName')">Hành khách</th>
                        <th v-if="!checkHideConfig('phoneNumber')">SDT</th>
                        <th v-if="!checkHideConfig('seat')">Vị trí</th>
                        <th v-if="(sortType == 'PointUp' || sortType == 'PointAll') && !checkHideConfig('pointUp')">Điểm lên</th>
                        <th v-if="!checkHideConfig('pointUpArea')">Khu vực đón khách</th>
                        <th v-if="(sortType == 'PointDown' || sortType == 'PointAll') && !checkHideConfig('pointDown')">Điểm trả</th>
                        <th v-if="!checkHideConfig('pointDownArea')">Khu vực trả khách</th>
                        <th v-if="!checkHideConfig('pointUpDriver')">Tài xế đón</th>
                        <th v-if="!checkHideConfig('pointDownDriver')">Tài xế trả</th>
                        <th v-if="!checkHideConfig('numberPlate')">BKS</th>
                        <th v-if="!checkHideConfig('createdDate')">Giờ đặt</th>
                        <th v-if="!checkHideConfig('agencyPrice')">Thành tiền</th>
                        <th v-if="!checkHideConfig('seller')">Người đặt</th>
                        <th v-if="!checkHideConfig('note')">Ghi chú</th>
                    </tr>
                    <tr v-if="ticketsSort&&ticketsSort.length<=0">
                        <td colspan="11" class="text-center">Không có dữ liệu</td>
                    </tr>
                    </thead>
                    <draggable :list="merge ? ticketsUnDuplicate :ticketsSort" tag="tbody">
                        <template v-for="(ticket,t) in merge ? ticketsUnDuplicate :ticketsSort">
                            <tr :key="ticket.ticketId">
                                <td class="text-center">{{t+1}}</td>
                                <td v-if="!checkHideConfig('ticketCode')">{{ticket.ticketCode}}</td>
                                <td v-if="!checkHideConfig('fullName')" style="font-size: 16px">{{ticket.fullName}}</td>
                                <td v-if="!checkHideConfig('phoneNumber')" style="font-size: 18px">{{ticket.phoneNumber|phoneNumber}}</td>
                                <td v-if="!checkHideConfig('seat')">{{merge ? ('('+ ticket.seatIds.length +') - ' + ticket.seatIds.join(', ')) : ticket.seat.seatId}}</td>
                                <td v-if="(sortType == 'PointUp' || sortType == 'PointAll') && !checkHideConfig('pointUp')">{{ticket.pointUp.address}}</td>
                                <td v-if="!checkHideConfig('pointUpArea')">{{ticket.pointUp.regionInfo ? ticket.pointUp.regionInfo.name : ''}}</td>
                                <td v-if="(sortType == 'PointDown' || sortType == 'PointAll') && !checkHideConfig('pointDown')">{{ticket.pointDown.address}}</td>
                                <td v-if="!checkHideConfig('pointDownArea')">{{ticket.pointDown.regionInfo ? ticket.pointDown.regionInfo.name : ''}}</td>
                                <td v-if="!checkHideConfig('pointUpDriver')" title="click để gán tài xế đã chọn vào đây" class="hover-bg-e cursor-pointer"
                                    @click="setDriver(t,'pointUp')"><span v-if="ticket.pointUp.transshipmentDriver"
                                    :class="ticket.pointUp.completedTransshipment?'text-success':''">{{ticket.pointUp.transshipmentDriver.fullName}}</span>
                                </td>
                                <td v-if="!checkHideConfig('pointDownDriver')" title="click để gán tài xế đã chọn vào đây" class="hover-bg-e cursor-pointer"
                                    @click="setDriver(t,'pointDown')"><span v-if="ticket.pointDown.transshipmentDriver"
                                                                            :class="ticket.pointDown.completedTransshipment?'text-success':''">{{ticket.pointDown.transshipmentDriver.fullName}}</span>
                                </td>
                                <td v-if="!checkHideConfig('numberPlate')">{{ticket.tripInfo.vehicle ? ticket.tripInfo.vehicle.numberPlate : ''}}</td>
                                <td v-if="!checkHideConfig('createdDate')">{{ $options.filters.customDate(ticket.createdDate, '#hhhh#:#mm# #DD#/#MM#/#YYYY#',false) }}</td>
                                <td v-if="!checkHideConfig('agencyPrice')">{{ ticket.agencyPrice|number }}</td>
                                <td v-if="!checkHideConfig('seller')">{{ ticket.seller.fullName }}</td>
                                <td v-if="!checkHideConfig('note')">{{ticket.note}}</td>
                            </tr>
                        </template>
                    </draggable>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    import printHeader from '../../Print/Header.vue';
    import { mapGetters, mapState } from "vuex";

    export default {
        components: {printHeader},
        props: {
            trip: {
                required: true,
                type: [Object],
                default: null
            },
            route: {
                required: true,
                type: [Object],
            },
        },
        data: function () {
            return {
                tickets: null,
                ticketsSort: null,
                sortType: 'PointAll',
                driver: null,
                merge : false,
            }
        },
        mounted: function () {
            this.tickets = this.getTicketsFromTrip(this.trip);
            this.sort();
        },
        computed: {
            ...mapState({
                companyConfigData: (state) => state.CompanyConfig.companyConfigData,
                companyConfig: (state) => state.CompanyConfig.companyConfig,
            }),
            ticketsUnDuplicate: function() {
                let data = this.ticketsSort;
                if (!data) {
                    return null;
                }
                let result = {};

                $.each(data, function(i, e) {
                    let status = func.checkTicketStatus(e);
                    let key =
                        e.tripId +
                        "-" +
                        e.ticketCode +
                        "-" +
                        status.type +
                        "-" +
                        func.removeUnicode(e.pointUp.address) +
                        "-" +
                        func.removeUnicode(e.pointDown.address);
                    e.sttTk = _.cloneDeep(status);
                    if (result[key] && result[key].tripId == e.tripId && result[key].sttTk.type === e.sttTk.type) {
                        result[key].number++;
                        result[key].ticketIds.push(e.ticketId);
                        if (e.seat&&e.seat.seatId) {
                            result[key].seatIds.push(e.seat.seatId);
                        }
                        result[key].price += _.cloneDeep(e.price);
                        result[key].paidMoney += _.cloneDeep(e.paidMoney);
                        result[key].unPaidMoney += _.cloneDeep(e.unPaidMoney);
                        result[key].originalPrice += _.cloneDeep(e.originalPrice);
                    } else {
                        e.number = 1;
                        e.ticketIds = [e.ticketId];
                        e.seatIds = [e.seat.seatId];
                        result[key] = _.cloneDeep(e);
                    }
                });
                return Object.values(result);
            },
        },
        methods: {
            checkHideConfig: function (field) {
                if(this.companyConfig.CONFIG.HIDE_FIELD_TRANSSHIPMENT_BY_TRIP.value.includes(field)) {
                    return true;
                } else {
                    return false;
                }
            },
            sort: function () {
                let self = this;
                let listTicketsByPointUp = {};
                let listTicketsByPointDown = {};
                let sortByPointUp = [];
                let sortByPointDown = [];

                $.each(self.tickets, function (t, tk) {
                    let ticket = _.cloneDeep(tk);
                    if (ticket.pointUp.pointType == 3 || ticket.pointUp.pointType == 1 || ticket.pointDown.pointType == 1 || ticket.pointDown.pointType == 3) { // nếu là đón trung chuyển hoặc tại nhà
                        if (!ticket.pointUp.transshipmentDriver) {
                            ticket.pointUp.transshipmentDriver = null;
                        }
                        if (!ticket.pointDown.transshipmentDriver) {
                            ticket.pointDown.transshipmentDriver = null;
                        }

                        if (listTicketsByPointUp[ticket.pointUp.id]) {
                            listTicketsByPointUp[ticket.pointUp.id].push(ticket);
                        } else {
                            listTicketsByPointUp[ticket.pointUp.id] = [ticket];
                        }

                        if (listTicketsByPointDown[ticket.pointDown.id]) {
                            listTicketsByPointDown[ticket.pointDown.id].push(ticket);
                        } else {
                            listTicketsByPointDown[ticket.pointDown.id] = [ticket];
                        }
                    }
                });
                $.each(self.route.listPoint, function (p, point) {
                    if (listTicketsByPointUp[point.id]) {
                        $.each(listTicketsByPointUp[point.id], function (t, ticket) {
                            sortByPointUp.push(ticket);
                        })
                    }
                    if (listTicketsByPointDown[point.id]) {
                        $.each(listTicketsByPointDown[point.id], function (t, ticket) {
                            sortByPointDown.push(ticket);
                        })
                    }
                });

                self.ticketsSort = self.sortType === 'PointUp' ? sortByPointUp : sortByPointDown;

                let tmpTicketSort = [];
                if( self.sortType != 'PointAll' ) {
                    self.ticketsSort.forEach(function(ticket){
                        if( self.sortType == 'PointUp' && ticket.pointUp.haveTransshipment) {
                            tmpTicketSort.push(ticket);
                        }
                        if( self.sortType == 'PointDown' && ticket.pointDown.haveTransshipment) {
                            tmpTicketSort.push(ticket);
                        }
                    })

                    self.ticketsSort = tmpTicketSort;
                }
            },
            print: function () {
                let self = this;
                self.load('print');
                $(this.$el).find('.print').printThis({printDelay: 1000,afterPrint: function(){
                    self.unload('print');
                }});
            },
            save: function () {
                let self = this;
                let param = [];
                $.each(self.ticketsSort, function (t, ticket) {
                    let data = {ticketId: ticket.ticketId};
                    if (!ticket.pointUp.completedTransshipment) {
                        data.pointUp = ticket.pointUp
                        if(!ticket.pointUp.transshipmentDriver){
                            data.pointUp.transshipmentDriver = {id : null}
                        }
                    }
                    if (!ticket.pointDown.completedTransshipment) {
                        data.pointDown = ticket.pointDown
                        if(!ticket.pointDown.transshipmentDriver){
                            data.pointDown.transshipmentDriver = {id : null}
                        }
                    }
                    if (ticket.pointUp || ticket.pointDown) {
                        param.push(data);
                    }
                });
                self.load("assignTransshipmentDriver");
                sendJson({
                    url: urlDBD(API.ticketTransshipment),
                    data: param,
                    success: function () {
                        self.unload("assignTransshipmentDriver");
                        notify("Lưu thành công", "success");
                    },
                    functionIfError: function () {
                        self.unload("assignTransshipmentDriver");
                    }
                })
            },
            setDriver: function (index, field) {
                let self = this;
                let driver = _.cloneDeep(self.driver);
                if (self.ticketsSort[index][field].completedTransshipment) {
                    notify("Khách này đã "+(field==="pointUp"?'đón':'trả')+ ' hoàn thành', 'error');
                    return false;
                }
                if(self.merge){
                    let ticketSortClone = _.cloneDeep(self.ticketsSort);
                    let ticketIds = self.ticketsUnDuplicate[index].ticketIds;
                    $.each(ticketIds ,function (indexTicketId,ticketId) {
                        let indexClone = ticketSortClone.findIndex( ticket => {return ticketId === ticket.ticketId} );
                        if(driver){
                            ticketSortClone[indexClone][field].transshipmentDriver = {
                                id: driver.id,
                                fullName: driver.fullName,
                                phoneNumber: driver.phoneNumber
                            }
                        }else{
                            ticketSortClone[indexClone][field].transshipmentDriver = null;
                        }
                    });
                    self.ticketsSort = ticketSortClone;
                }else{
                    if (driver) {
                        self.ticketsSort[index][field].transshipmentDriver = {
                            id: driver.id,
                            fullName: driver.fullName,
                            phoneNumber: driver.phoneNumber
                        }
                    } else {
                        self.ticketsSort[index][field].transshipmentDriver = null;
                    }
                }
            },
            getTicketsFromTrip: function (_trip) {
                let tickets = _.cloneDeep(_trip.ticketsInSeatMap) || [];
                $.each(_trip.ticketsNotSeat, function (t, ticket) {
                    tickets.push(_.cloneDeep(ticket));
                });
                return tickets;
            }
        },
        watch: {
            trip: {
                handler: function (newVal, oldVal) {
                    this.tickets = this.getTicketsFromTrip(newVal);
                    this.sort();
                },
                deep: true
            }
        }
    }
</script>
