<template>
  <div>
    <div class="row header-custom" style="padding: 24px;font-family: Cabin;">
      <div class="col" style="font-size: 24px;line-height: 24px;">
        Xuất hợp đồng điện tử
      </div>
      <div class="col-auto" style="font-size: 16px;line-height: 19px;">
        {{trip.route.name}} {{trip.startTimeReality|customDate('#hhhh#:#mm#',true)}}
      </div>
    </div>
    <div class="w-100" style="max-height: 70vh;overflow-y: scroll">
      <div class="w-100" v-show="step==1">
        <div style="padding: 8px 24px;font-family: Cabin;font-size: 18px;line-height: 24px;font-weight: 500;background: #ECEDF1;">
          Thông tin người đại diện
        </div>
        <div style="padding: 16px 24px;" class="w-100">
          <div style="font-family: Cabin;font-weight: 500;font-size: 16px;line-height: 19px;color: #084388;">
            NGƯỜI ĐẠI DIỆN
          </div>
          <div class="w-100" style="font-family: Cabin;font-size: 16px;color: #232731;margin-bottom: 10px;">
            <el-radio v-model="presentationType" :label="0">Cá nhân</el-radio>
            <el-radio v-model="presentationType" :label="1">Doanh nghiệp</el-radio>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Số
                  điện thoại <span class="text-danger">*</span></label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control"
                         id="autocompletePhoneNumberContractTrip" v-model="phoneNumber">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Tên
                  khách hàng <span class="text-danger">*</span></label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="fullName">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">CMND/Hộ
                  chiếu </label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control"
                         v-model="identityCard.identityCardNumber">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Địa
                  chỉ thường trú</label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="address">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Công
                  ty</label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="companyName">
                </div>
              </div>
              <div class="form-group row" v-if="presentationType">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Mã
                  số thuế</label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="taxCode">
                </div>
              </div>
              <div class="form-group row" v-if="presentationType">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Chức
                  vụ</label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="position">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Ngày
                  sinh</label>
                <div class="col input-height-32">
                  <el-date-picker v-model="dateOfBirth" class="w-100" format="dd-MM-yyyy" placeholder="dd-mm-yyyy"
                                  value-format="yyyyMMdd"></el-date-picker>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Email</label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="email">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Ngày
                  cấp</label>
                <div class="col">
                  <div class="row">
                    <div class="col input-height-32">
                      <el-date-picker v-model="identityCard.issuedDate" style="width: auto"
                                      format="dd-MM-yyyy" value-format="yyyyMMdd" placeholder="dd-mm-yyyy"></el-date-picker>
                    </div>
                    <!--<div class="col-auto">-->
                      <!--<label style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;">Nơi-->
                        <!--cấp</label>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                      <!--<input type="text" style="height : 32px" class="form-control"-->
                             <!--v-model="identityCard.issuedPlace">-->
                    <!--</div>-->
                  </div>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto" style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Nơi
                  cấp
                </label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control"
                         v-model="identityCard.issuedPlace">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Chữ kí </label>
                <div class="col">
                <img v-if="base64StringImage" :src="'data:image/png;base64,'+base64StringImage" style="max-width:180px" alt="Chữ ký">
                <el-popover
                @show="signatureVisible= true"
                @hide="signatureVisible=false"
                placement="bottom"
                title="Dùng chuột vẽ vào ô bên dưới"
                trigger="click">
                <div>
                <vue-signature-pad v-if="signatureVisible" width="400px" height="250px" ref="signatureEcontract" :custom-style="{border:'1px solid #ddd'}" :options="optionsSignature" />
                <div class="w-100 text-right">
                <el-button icon="el-icon-close" type="danger" t @click="closePopoverSignature()"></el-button>
                <el-button icon="el-icon-refresh-left" title="làm mới" @click="clearSignature()"></el-button>
                <el-button type="success" icon="el-icon-check" @click="saveSignature()"></el-button>
                </div>
                </div>
                <el-button type="primary" slot="reference">Tạo chữ ký</el-button>
                </el-popover>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Tổng tiền</label>
                <div class="col">
                  <input-number style="height : 32px" @input="getReset()" class="form-control" v-model="totalAccountantPriceContract"></input-number>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Tổng vé</label>
                <div class="col">
                  <input-number style="height : 32px" @input="getReset()" class="form-control" v-model="totalAccountantTicket"></input-number>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Đã kiểm tra</label>
                <div class="col">
                  <el-checkbox style="height : 32px" v-model="accountantCheck"></el-checkbox>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Ghi chú</label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="note">
                </div>
              </div>
            </div>
          </div>
          <div style="font-family: Cabin;font-weight: 500;font-size: 16px;line-height: 19px;color: #084388;">
            THÔNG TIN THANH TOÁN
          </div>
          <div class="w-100" style="font-family: Cabin;font-size: 16px;color: #232731;margin-bottom: 10px;">
            <el-radio v-model="paymentType" :label="0">Tiền mặt</el-radio>
            <el-radio v-model="paymentType" :label="1">Chuyển khoản</el-radio>
          </div>
          <div class="row" v-if="paymentType==1">
            <div class="col">
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Số
                  tài khoản <span class="text-danger">*</span></label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control"
                         v-model="paymentInfo.accountNumber">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 140px;">Ngân
                  hàng <span class="text-danger">*</span></label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control"
                         v-model="paymentInfo.bankName">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Chủ
                  tài khoản <span class="text-danger">*</span></label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control"
                         v-model="paymentInfo.ownerName">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-auto"
                       style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Chi
                  nhánh</label>
                <div class="col">
                  <input type="text" style="height : 32px" class="form-control" v-model="paymentInfo.branch">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding: 8px 24px;font-family: Cabin;font-size: 18px;line-height: 24px;font-weight: 500;background: #ECEDF1;">
          Danh sách khách hàng
        </div>
        <div style="padding: 16px 24px" class="w-100">
          <table class="table table-sm cursor-pointer" style="padding:0;margin: 0">
            <thead>
            <tr>
              <th>STT</th>
              <th>Họ tên</th>
              <th>SDT</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <template v-for="(ticket,t) in trip.ticketsInSeatMap">
              <tr @click="setInfo(ticket)" :class="ticketId === ticket.ticketId ? 'bg-anvui text-white':''">
                <td>{{t+1}}</td>
                <td>{{ticket.fullName}}</td>
                <td>{{ticket.phoneNumber|phoneNumber}}</td>
                <td><el-checkbox v-model="ticket.select" :disabled="!accountantCheck" @change="changeValue($event,ticket)"></el-checkbox></td>
              </tr>
            </template>
            <tr>
              <td colspan="3" class="text-center" v-if="trip.ticketsInSeatMap&&trip.ticketsInSeatMap.length==0">
                Không có dữ liệu
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="w-100" v-show="step==2">
        <div class="w-100" style="padding:16px">
          <div style="padding:8px">
            <print-ticket-contract
                    ref="PrintTicketContractComponent"
                    :sign="base64StringImage"
                    :totalAccountantPriceContract="totalAccountantPriceContract"
                    :totalAccountantTicket="totalAccountantTicket"
                    :listId="listId"></print-ticket-contract>
          </div>
          <!--<div class="form-group row">-->
          <!--<label class="col-auto"-->
          <!--style="font-family: Cabin;font-size: 14px;color: #232731;font-weight: normal;width: 130px;">Chữ kí </label>-->
          <!--<div class="col">-->
          <!--<img v-if="base64StringImage" :src="'data:image/png;base64,'+base64StringImage" style="max-width:180px" alt="Chữ ký">-->
          <!--<el-popover-->
          <!--@show="signatureVisible= true"-->
          <!--@hide="signatureVisible=false"-->
          <!--placement="bottom"-->
          <!--title="Dùng chuột vẽ vào ô bên dưới để tạo chữ ký"-->
          <!--trigger="click">-->
          <!--<div>-->
          <!--<vue-signature-pad v-if="signatureVisible" width="400px" height="250px" ref="signatureEcontract" :custom-style="{border:'1px solid #ddd'}" :options="optionsSignature" />-->
          <!--<div class="w-100 text-right">-->
          <!--<el-button icon="el-icon-close" type="danger" t @click="closePopoverSignature()"></el-button>-->
          <!--<el-button icon="el-icon-refresh-left" title="làm mới" @click="clearSignature()"></el-button>-->
          <!--<el-button type="success" icon="el-icon-check" @click="saveSignature()"></el-button>-->
          <!--</div>-->
          <!--</div>-->
          <!--<el-button slot="reference">Tạo chữ ký</el-button>-->
          <!--</el-popover>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="w-100" v-show="step==3">
        <div class="w-100" style="padding:16px">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <!-- <div class="row form-group">
                  <div class="col-4 col-form-label">
                      Link đăng nhập phần mềm
                  </div>
                  <div class="col-8">
                      <el-input v-model="url" readonly id="url">
                          <i slot="suffix" @click="copyToClipboard('#url')" class="el-input__icon el-icon-document-copy"></i>
                      </el-input>
                  </div>
              </div> -->
              <div class="row form-group">
                <div class="col-4 col-form-label">
                  Link file hợp đồng
                </div>
                <div class="col-8">
                  <el-input v-model="searchString" readonly id="searchString">
                    <i slot="suffix" @click="copyToClipboard('#searchString')" class="el-input__icon el-icon-document-copy"></i>
                  </el-input>
                </div>
              </div>
              <div class="row form-group" style="margin-top: 20px;">
                <div class="col-6 col-form-label">
                  <el-button type="primary" @click="getContractAgain">Xuất lại hợp đồng</el-button>
                </div>
                <div class="col-6 col-form-label">
                  <el-button type="info" @click="showContract">Xem hợp đồng</el-button>
                </div>
              </div>
              <!-- <div class="row form-group">
                  <div class="col-4 col-form-label">
                      Mã hợp đồng
                  </div>
                  <div class="col-8">
                      <el-input v-model="contractNumber" readonly id="contractNumber">
                          <i slot="suffix" @click="copyToClipboard('#contractNumber')" class="el-input__icon el-icon-document-copy"></i>
                      </el-input>
                  </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100">
      <div class="w-100 text-right" style="padding: 0 24px 16px 24px" v-show="step==1">
        <button class="btn text-white" style="background: #00C48C;" @click="save()">Lưu thông tin</button>
      </div>
      <div class="w-100 text-right" style="padding: 0 24px 16px 24px" v-show="step==2">
        <button class="btn bg-anvui text-white" @click="$refs.PrintTicketContractComponent.exportWord(trip)">Xuất file (docx)</button>
        <button class="btn bg-anvui text-white" @click="$refs.PrintTicketContractComponent.print(trip)">In hợp đồng</button>
        <button class="btn text-white" style="background: #00C48C;" @click="exportContract()">Xuất hợp đồng</button>
        <!--<el-popover-->
                <!--@show="signatureVisible= true"-->
                <!--@hide="signatureVisible=false"-->
                <!--placement="bottom"-->
                <!--title="Dùng chuột vẽ vào ô bên dưới để tạo chữ ký"-->
                <!--trigger="click">-->
          <!--<div>-->
            <!--<vue-signature-pad v-if="signatureVisible" width="400px" height="250px" ref="signatureEcontract" :custom-style="{border:'1px solid #ddd'}" :options="optionsSignature" />-->
            <!--<div class="w-100 text-right">0-->
              <!--<el-button icon="el-icon-close" type="danger" t @click="closePopoverSignature()"></el-button>-->
              <!--<el-button icon="el-icon-refresh-left" title="làm mới" @click="clearSignature()"></el-button>-->
              <!--<el-button type="success"  icon="el-icon-check" @click="saveSignature()"></el-button>-->
            <!--</div>-->
          <!--</div>-->
          <!--<button class="btn text-white" slot="reference" style="background: #00C48C;">Xuất hợp đồng</button>-->
          <!--&lt;!&ndash;<el-button slot="reference">Xuất hợp đồng</el-button>&ndash;&gt;-->
        <!--</el-popover>-->
      </div>
      <!--<div class="w-100 text-right" style="padding: 0 24px 16px 24px" v-show="step==3">-->
        <!--<button class="btn btn-default" @click="$emit('event', {eventName: 'save-success'})">Đóng</button>-->
      <!--</div>-->
    </div>

  </div>
</template>
<script>
    import PrintTicketContract from '../../Print/TicketContract.vue';
    export default {
        props: ['trip','show'],
        components : {PrintTicketContract},
        data: function () {
            return {
                url :'http://hopdongdemo.megabiz.vn/',
                presentationType: 0,
                phoneNumber: '',
                base64StringImage : '',
                fullName: '',
                companyName: '',
                address: '',
                email: '',
                dateOfBirth: '',
                identityCard: {
                    identityCardNumber: '',
                    issuedDate: '',
                    issuedPlace: ''
                },
                taxCode: '',
                position: '',
                paymentInfo: {
                    accountNumber: '',
                    ownerName: '',
                    branch: '',
                    bankName: ''
                },
                paymentType: 0,
                ticketId : null,
                step : 1,
                searchString :  '',
                contractNumber :  '',
                signatureVisible : false,
                optionsSignature : {
                    penColor: '#000',
                    onBegin(){
                        console.log("begin");
                    },
                    onEnd(){
                        console.log("end");
                    }
                },
                accountantCheck: false,
                totalAccountantPriceContract: null,
                totalAccountantTicket: null,
                reset: true,
                listId: null,
                note: null
            }
        },
        mounted: function () {
            this.autoCompletePhoneNumber();
            this.refresh()
        },
        methods: {
            getReset () {
                this.reset = true
            },
            changeValue(select, ticket) {
                let a = _.cloneDeep(ticket);
                if (this.reset) {
                    this.totalAccountantPriceContract = 0
                    this.totalAccountantTicket = 0
                    $.each(this.trip.ticketsInSeatMap, (t,ticket)=>{
                        if (ticket.select) {
                            this.totalAccountantPriceContract += ticket.agencyPrice
                            this.totalAccountantTicket ++
                        }
                    })
                    // this.totalAccountantTicket = this.trip.ticketsInSeatMap.length
                } else {
                    if (select == true) {
                        this.totalAccountantPriceContract += a.agencyPrice
                        this.totalAccountantTicket ++
                    } else {
                        this.totalAccountantPriceContract -= a.agencyPrice
                        this.totalAccountantTicket --
                    }
                }
                this.reset = false

            },
            refresh() {
                console.log(this.trip)
                this.accountantCheck = false
                this.note = null
                if(this.trip.contractRepresentation && this.trip.contractRepresentation.accountantCheck) {
                    this.accountantCheck = this.trip.contractRepresentation.accountantCheck
                }
                if(this.trip.note) {
                    this.note = this.trip.note
                }
                this.reset = true
                this.totalAccountantPriceContract = null
                this.totalAccountantTicket = null
                if (this.trip.contractRepresentation) {
                    this.listId = []
                }
                if (this.trip.contractRepresentation && this.trip.contractRepresentation.totalAccountantTicket) {
                    this.totalAccountantTicket = (this.trip.contractRepresentation.totalAccountantTicket)
                }
                if (this.trip.contractRepresentation && this.trip.contractRepresentation.totalAccountantPriceContract) {
                    this.totalAccountantPriceContract = (this.trip.contractRepresentation.totalAccountantPriceContract)
                }
                if (this.trip.ticketsInSeatMap.length > 0) {
                    $.each(this.trip.ticketsInSeatMap, (t,ticket)=>{
                        ticket.select = true
                        if (this.trip&&this.trip.contractRepresentation&&!this.trip.contractRepresentation.accountantTicketIds) {
                            this.totalAccountantPriceContract += ticket.agencyPrice
                            this.totalAccountantTicket ++
                        }
                    })
                }

                if(this.trip&&this.trip.contractRepresentation){
                    if (this.trip&&this.trip.contractRepresentation&&this.trip.contractRepresentation.accountantTicketIds) {
                        $.each(this.trip.ticketsInSeatMap, (t,ticket)=>{
                            ticket.select = false
                            $.each(this.trip.contractRepresentation.accountantTicketIds, (i,sTicket)=>{
                                if (ticket.ticketId == sTicket) {
                                    ticket.select = true
                                }
                            })
                        })
                    }

                    this.presentationType =this.trip.contractRepresentation.presentationType;
                    this.phoneNumber =this.trip.contractRepresentation.phoneNumber;
                    this.base64StringImage =this.trip.contractRepresentation.base64StringImage;
                    this.fullName =this.trip.contractRepresentation.fullName;
                    this.companyName =this.trip.contractRepresentation.companyName;
                    this.address =this.trip.contractRepresentation.address;
                    this.email =this.trip.contractRepresentation.email;
                    this.dateOfBirth =this.trip.contractRepresentation.dateOfBirth?this.trip.contractRepresentation.dateOfBirth.toString():'';
                    this.identityCard ={
                        identityCardNumber: this.trip.contractRepresentation.identityCard?this.trip.contractRepresentation.identityCard.identityCardNumber:'',
                        issuedDate: this.trip.contractRepresentation.identityCard?this.trip.contractRepresentation.identityCard.issuedDate.toString():'',
                        issuedPlace: this.trip.contractRepresentation.identityCard?this.trip.contractRepresentation.identityCard.issuedPlace:''
                    }
                    this.paymentInfo ={
                        accountNumber: this.trip.contractRepresentation.paymentInfo?this.trip.contractRepresentation.paymentInfo.accountNumber:'',
                        ownerName: this.trip.contractRepresentation.paymentInfo?this.trip.contractRepresentation.paymentInfo.ownerName:'',
                        branch: this.trip.contractRepresentation.paymentInfo?this.trip.contractRepresentation.paymentInfo.branch:'',
                        bankName: this.trip.contractRepresentation.paymentInfo?this.trip.contractRepresentation.paymentInfo.bankName:'',
                    }
                    this.paymentType =this.trip.contractRepresentation.paymentInfo?1:0;
                    this.position = this.trip.contractRepresentation.position || '';
                    this.taxCode = this.trip.contractRepresentation.taxCode || '';
                    this.searchString = this.trip.contractRepresentation.searchString || '';
                    this.contractNumber = this.trip.contractRepresentation.contractNumber || '';
                    if(this.trip.contractRepresentation.customField){
                        try{
                            let custom = JSON.parse(this.trip.contractRepresentation.customField);
                            this.ticketId = custom.ticketId;
                        }catch (e) {
                            console.warn(e,this.trip.contractRepresentation.customField);
                        }
                    }
                    if(this.trip.contractRepresentation.searchString && this.trip.contractRepresentation.exported){
                        this.step = 1;
                    } else {
                        this.step = 1;
                    }
                }else{
                    this.presentationType =0;
                    this.phoneNumber ='';
                    this.fullName ='';
                    this.base64StringImage ='';
                    this.companyName ='';
                    this.address ='';
                    this.email ='';
                    this.dateOfBirth ='';
                    this.identityCard ={
                        identityCardNumber: '',
                        issuedDate:'',
                        issuedPlace: ''
                    }
                    this.paymentInfo ={
                        accountNumber: '',
                        ownerName: '',
                        branch: '',
                        bankName: '',
                    }
                    this.paymentType =0;
                    this.ticketId =null;
                    this.step = 1;
                }
            },
            save: function () {
                let self = this;
                if(!self.phoneNumber){
                    notify('Vui lòng nhập số điện thoại ',"error");
                    return false;
                }
                if(!self.fullName){
                    notify('Vui lòng nhập họ tên ',"error");
                    return false;
                }
                $.each(this.trip.ticketsInSeatMap, (t,ticket)=>{
                    if(ticket.select == true && self.listId) {
                        self.listId.push(ticket.ticketId)
                    }
                })
                let params = {
                    tripId: self.trip.tripId,
                    type : DisplaySetting.PRINT_TICKET_CONTRACT,
                    // base64StringImage: self.base64StringImage,
                    contractRepresentation : {
                        presentationType: self.presentationType,
                        phoneNumber: self.phoneNumber,
                        fullName: self.fullName,
                        companyName: self.companyName,
                        address: self.address,
                        email: self.email,
                        dateOfBirth: self.dateOfBirth||0,
                        identityCard: {
                            identityCardNumber: self.identityCard.identityCardNumber||0,
                            issuedDate:self.identityCard.issuedDate||0,
                            issuedPlace: self.identityCard.issuedPlace
                        },
                        paymentInfo: null,
                        customField : JSON.stringify({
                            ticketId : self.ticketId
                        })
                    },
                    accountantCheck:self.accountantCheck,
                    note: self.note,
                    totalAccountantTicket:self.totalAccountantTicket,
                    totalAccountantPriceContract: self.totalAccountantPriceContract,
                    accountantTicketIds:[],
                }
                $.each(this.trip.ticketsInSeatMap, (t,ticket)=>{
                    if (ticket.select == true) {
                        params.accountantTicketIds.push(ticket.ticketId)
                    }
                })

                if (self.paymentType) {
                    params.paymentInfo = self.paymentInfo
                }
                self.load('updateContractRepresentation');
                sendJson({
                    url: urlDBD(API.econtractCreate),
                    data: params,
                    success: function (res) {
                        self.step=2;
                        self.$refs.PrintTicketContractComponent.replaceData(self.trip);
                        // window.open(res.results.EcontractURL,'_blank');
                        // self.$emit('event', {eventName: 'save-success', data: res});
                        self.unload('updateContractRepresentation');
                    },
                    functionIfError: function () {
                        self.unload('updateContractRepresentation');
                    }
                })
            },
            setInfo: function (info) {
                this.fullName = info.fullName || '';
                this.phoneNumber = info.phoneNumber || '';
                this.ticketId = info.ticketId || null;
            },
            exportContract : function(){
                let self = this;
                if(!self.phoneNumber){
                    notify('Vui lòng nhập số điện thoại ',"error");
                    return false;
                }
                if(!self.fullName){
                    notify('Vui lòng nhập họ tên ',"error");
                    return false;
                }
                if(!self.base64StringImage){
                    notify('Vui lòng tạo chữ ký ',"error");
                    return false;
                }
                let params = {
                    tripId: self.trip.tripId,
                    type : DisplaySetting.PRINT_TICKET_CONTRACT,
                    base64StringImage: self.base64StringImage,
                    contractRepresentation : {
                        presentationType: self.presentationType,
                        phoneNumber: self.phoneNumber,
                        fullName: self.fullName,
                        companyName: self.companyName,
                        address: self.address,
                        email: self.email,
                        dateOfBirth: self.dateOfBirth||0,
                        identityCard: {
                            identityCardNumber: self.identityCard.identityCardNumber||0,
                            issuedDate:self.identityCard.issuedDate||0,
                            issuedPlace: self.identityCard.issuedPlace
                        },
                        paymentInfo: null,
                        customField : JSON.stringify({
                            ticketId : self.ticketId
                        })
                    },
                    accountantCheck:self.accountantCheck,
                    note: self.note,
                    totalAccountantTicket:self.totalAccountantTicket,
                    totalAccountantPriceContract: self.totalAccountantPriceContract,
                    accountantTicketIds:[],
                }
                $.each(this.trip.ticketsInSeatMap, (t,ticket)=>{
                    if (ticket.select == true) {
                        params.accountantTicketIds.push(ticket.ticketId)
                    }
                })
                if (self.paymentType) {
                    params.paymentInfo = self.paymentInfo
                }
                self.load('updateContractRepresentation');
                sendJson({
                    url: urlDBD(API.econtractCreate),
                    data: params,
                    success: function (res) {
                        self.step=3;
                        self.$refs.PrintTicketContractComponent.replaceData(self.trip);
                        self.searchString = res.results.EcontractURL
                        self.getBillsInListTrip(self.trip.tripId)
                        window.open(res.results.EcontractURL,'_blank');
                        // self.$emit('event', {eventName: 'save-success', data: res});
                        self.unload('updateContractRepresentation');
                    },
                    functionIfError: function () {
                        self.unload('updateContractRepresentation');
                    }
                })
            },
            getBillsInListTrip : async function (tripIds) {
                return new Promise((resolve, reject) => {
                    sendJson({
                        url : urlDBD(API.reportByListTripsCreate),
                        data : [tripIds],
                        success : function (data) {
                            resolve(data.results.reportByTrips)
                        },
                        functionIfError : function (data) {
                            reject();
                        }
                    });
                });
            },
            autoCompletePhoneNumber: function () {
                let self = this;
                $('#autocompletePhoneNumberContractTrip').autocomplete({
                    source: function (request, response) {
                        sendJson({
                            url: urlDBD(API.searchByPhoneNumber),
                            data: {
                                page: 0,
                                count: 5,
                                phoneNumber: request.term,
                            },
                            success: function (data) {
                                response(data.results.customer);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select: function (event, ui) {
                        self.phoneNumber = _.cloneDeep(ui.item.companyCustomer.phoneNumber);
                        self.email = _.cloneDeep(ui.item.companyCustomer.email || '');
                        self.fullName = _.cloneDeep(ui.item.companyCustomer.fullName);
                        self.dateOfBirth = _.cloneDeep(ui.item.ticket ? ui.item.ticket.birthday : '');
                        return false;
                    }
                }).focus(function () {
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    let innerHtml = '';
                    return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<div class='border-bottom " + (item.companyCustomer.distrust ? 'bg-e' : '') + "'><strong>" + item.companyCustomer.phoneNumber + "</strong> - " + item.companyCustomer.fullName + " , " + self.$t('booked') + " : <span class='text-success'>" + item.companyCustomer.numberOfTickets + "</span> , " + self.$t('canceled') + " <span class='text-danger'>" + item.companyCustomer.numberCancelTicket + "</span></div>")
                        .appendTo(ul);
                };
            },
            copyToClipboard : function (id) {
                $(id).select();
                document.execCommand('copy');
            },
            closePopoverSignature(){
                $(this.$el).click();
            },
            saveSignature(){
                const { isEmpty, data } = this.$refs.signatureEcontract.saveSignature();
                let result= '';
                if(data){
                    let arrBase64 = data.split(',');
                    result = _.last(arrBase64);
                }
                this.base64StringImage = result;
                this.closePopoverSignature();
                // this.exportContract()
            },
            clearSignature(){
                this.$refs.signatureEcontract.clearSignature();
            },
            showContract() {
                window.open(this.searchString,'_blank');
            },
            getContractAgain() {
                this.step = 1
            }
        },
        watch :{
            trip : {
                deep : true,
                handler : function (newval) {
                    this.refresh()
                    if(this.step == 2){
                        this.$refs.PrintTicketContractComponent.replaceData(this.trip);
                    }
                    try{
                        this.searchString = this.trip.contractRepresentation.searchString || '';
                        this.contractNumber = this.trip.contractRepresentation.contractNumber || '';

                    }catch (e) {
                        // console.warn(e);
                    }
                }
            },
        }
    }
</script>
