<template>
  <div v-loading="listLoadOneTicket.includes(seat.seatId)  ? true : false || newSeatMap.includes(seat.seatId)  ? true : false " style="border-radius: 8px !important; margin: 2px!important;" :class="['seat__07','seat__07__detail',seatClass,isSelectedSeat()?'selected':'',seat.seatType!==7&&ticketsMove.length>0&&allowMoveTo.allow?'move__07':'']" @click="$store.dispatch('Ticket07/UN_SELECTED')">
    <div class="w-100 heading-page text-center" style="font-size: 17px" v-if="seat.seatType==1||seat.seatType==2||seat.seatType==5||seat.seatType==6">{{seat.seatId}}</div>
    <div class="row">
      <div class="col">
        <div class="w-100 heading-page" style="font-size: 17px" v-if="seat.seatType==3||seat.seatType==4">
                    <span v-on:click.stop="$root.isAgency()?null:$emit('event',{eventName : 'history-seat',data : {tripId : trip.tripId,seatId: seat.seatId}})"
                          class="cursor-pointer">{{seat.seatId}}</span>
        </div>
      </div>
      <div class="col-auto" v-if="(seat.seatType==3||seat.seatType==4) && help.allowSell &&allowPastDaysToSellTicket&&lockTripAfterStart">
        <button class="btn btn-outline-anvui btn-sm"
                :class="[isSelectedSeat()?'seat-selected':'',help.ticketInfo?'':'seat-allow-sell']"
                @click.stop.exact="clickSeat()" @click.ctrl.stop.exact="selectAllByPhone()"><i
                class="fa fa-plus"></i>
        </button>
        <!--@click.ctrl.stop.exact="selectAllByPhone()"-->
      </div>
    </div>
    <div style="margin-bottom: 12px">
      <template v-for="(ticket,t) in seat.tickets">
        <div class="w-100" v-if="showInfoTicket(ticket)" :class="ticket.printed?'seat-printed': ticket.paidMoney == ticket.agencyPrice ? 'colorSuccess': 'colorUnsuccess' " :style="{position: 'relative','margin-bottom': '5px', border : isSelectedTicket(ticket)?'3px solid red':'2px solid #eee',padding: '0 4px'}" @click.stop="clickTicket(ticket)" @click.ctrl.stop.exact="selectAllByPhone(ticket)">
          <!--@click.ctrl.stop.exact="selectAllByPhone(ticket)"-->
          <div class="row" :class="'ticket-'+ticket.ticketId">
            <div class="col-auto" style="text-align: center; margin-top: 3px;">
              <div class="customPhoneNumber" :style="{background:$root.callStatus[ticket.callStatus].background,color:$root.callStatus[ticket.callStatus].color}">
                {{ticket.ordererPhoneNumber||ticket.phoneNumber||'...'}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="w-100 heading-page" style="font-size: 14px !important;margin-bottom: 2px">{{ticket.orderer||ticket.fullName}}</div>
              <div v-if="ticket && ticket.pointUp != null" class="row no-gutters" style="font-family: Cabin;font-size: 14px;line-height: 15px;color: #232731;margin-bottom: 2px;">
                <div class="col-auto text-center" style="width: 20px" :title="$root.pointTypeStyle[ticket.pointUp.pointType||0].label">
                  <i style="cursor: pointer" v-on:click.alt="checkTicketSamePointType(ticket, 'pointUp')"
                          :class="[$root.pointTypeStyle[ticket.pointUp.pointType||0].icon]" :style="{color:$root.pointTypeStyle[ticket.pointUp.pointType||0].color}"></i>
                </div>
                <div class="col" style="cursor: pointer" v-on:click.alt="checkTicketSameAddress(ticket, 'pointUp')">{{ticket.pointUp.address||ticket.pointUp.name}}</div>
              </div>
              <div v-if="ticket && ticket.pointDown != null" class="row no-gutters" style="font-family: Cabin;font-size: 14px;line-height: 15px;color: #232731;">
                <div class="col-auto text-center" style="width: 20px" :title="$root.pointTypeStyle[ticket.pointDown.pointType||0].label">
                  <i style="cursor: pointer" v-on:click.alt="checkTicketSamePointType(ticket, 'pointDown')"
                          :class="[$root.pointTypeStyle[ticket.pointDown.pointType||0].icon]" :style="{color:$root.pointTypeStyle[ticket.pointDown.pointType||0].color}"></i>
                </div>
                <div class="col" style="cursor: pointer" v-on:click.alt="checkTicketSameAddress(ticket, 'pointDown')">{{ticket.pointDown.address||ticket.pointDown.name}}</div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 2px">
            <div class="col-12">
              <!--<i class="fa fa-check-circle" style="color: #00C48C"-->
              <!--v-if="ticket.ticketStatus==4"></i>-->
              <!--<i class="fa fa-globe-asia" style="color: #084388;" v-if="ticket.platform==2"></i>-->
              <!--<i class="fa fa-mobile-alt" style="color: #084388;"-->
              <!--v-if="(ticket.platform==3||ticket.platform==4)"></i>-->
              <!--<i class="fas fa-qrcode" style="color: #084388"-->
              <!--v-if="help.ticketInfo&&help.ticketInfo.serviceSupporter&&help.ticketInfo.serviceSupporter == 13"></i>-->
              <!--<i class="fa fa-print" style="color: #084388" v-if="ticket.numberOfPrint"></i>-->
              <i class="fa fa-check-circle" style="color: #00C48C;font-size: 13px;"
                 v-if="ticket.ticketStatus==4"></i>
              <el-tooltip class="item" effect="dark" content="Phụ thu">
                <i class="fas fa-coins" style="color: #1f7888; font-size: 13px;"
                   v-if="ticket.surcharges && ticket.surcharges.length > 0"></i>
              </el-tooltip>
              <!--icon in -->
              <svg width="13" height="13" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="ticket.numberOfPrint">
                <path d="M10.2 3H9.6V0H2.4V3H1.8C1.32261 3 0.864773 3.18964 0.527208 3.52721C0.189642 3.86477 0 4.32261 0 4.8V9C0 9.31826 0.126428 9.62348 0.351472 9.84853C0.576515 10.0736 0.88174 10.2 1.2 10.2H2.4V12H9.6V10.2H10.8C11.1183 10.2 11.4235 10.0736 11.6485 9.84853C11.8736 9.62348 12 9.31826 12 9V4.8C12 4.32261 11.8104 3.86477 11.4728 3.52721C11.1352 3.18964 10.6774 3 10.2 3ZM3.6 1.2H8.4V3H3.6V1.2ZM3.6 10.8V8.4H8.4V10.8H3.6ZM10.2 6H7.8V4.8H10.2V6Z" fill="#F39B13"/>
              </svg>{{ ticket.numberOfPrint?ticket.numberOfPrint : ''}}
              <!--icon in tem-->
              <svg width="13" height="11" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="ticket.numberOfPrintTemp">
                <path d="M6.6 2.8125H5.4V1.5625H6.6V2.8125ZM6.6 5.625H5.4V4.375H6.6V5.625ZM6.6 8.4375H5.4V7.1875H6.6V8.4375ZM12 3.75V1.25C12 0.918479 11.8736 0.600537 11.6485 0.366116C11.4235 0.131696 11.1183 0 10.8 0H1.2C0.88174 0 0.576515 0.131696 0.351472 0.366116C0.126428 0.600537 0 0.918479 0 1.25V3.75C0.31826 3.75 0.623485 3.8817 0.848528 4.11612C1.07357 4.35054 1.2 4.66848 1.2 5C1.2 5.33152 1.07357 5.64946 0.848528 5.88388C0.623485 6.1183 0.31826 6.25 0 6.25V8.75C0 9.08152 0.126428 9.39946 0.351472 9.63388C0.576515 9.8683 0.88174 10 1.2 10H10.8C11.1183 10 11.4235 9.8683 11.6485 9.63388C11.8736 9.39946 12 9.08152 12 8.75V6.25C11.6817 6.25 11.3765 6.1183 11.1515 5.88388C10.9264 5.64946 10.8 5.33152 10.8 5C10.8 4.66848 10.9264 4.35054 11.1515 4.11612C11.3765 3.8817 11.6817 3.75 12 3.75Z" fill="#FF4868"/>
              </svg>
              {{ ticket.numberOfPrintTemp?ticket.numberOfPrintTemp : ''}}
              <!--icon qr code-->
              <svg width="13" height="13" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="ticket.serviceSupporter&&ticket.serviceSupporter == 13">
                <path d="M2 2H5V5H2V2ZM10 2V5H7V2H10ZM7 7.5H8V6.5H7V5.5H8V6.5H9V5.5H10V6.5H9V7.5H10V9H9V10H8V9H6.5V10H5.5V8H7V7.5ZM8 7.5V9H9V7.5H8ZM2 10V7H5V10H2ZM3 3V4H4V3H3ZM8 3V4H9V3H8ZM3 8V9H4V8H3ZM2 5.5H3V6.5H2V5.5ZM4.5 5.5H6.5V7.5H5.5V6.5H4.5V5.5ZM5.5 3H6.5V5H5.5V3ZM1 1V3H0V1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0L3 0V1H1ZM11 0C11.2652 0 11.5196 0.105357 11.7071 0.292893C11.8946 0.48043 12 0.734784 12 1V3H11V1H9V0H11ZM1 9V11H3V12H1C0.734784 12 0.48043 11.8946 0.292893 11.7071C0.105357 11.5196 0 11.2652 0 11V9H1ZM11 11V9H12V11C12 11.2652 11.8946 11.5196 11.7071 11.7071C11.5196 11.8946 11.2652 12 11 12H9V11H11Z" fill="#084388"/>
              </svg>
              <!--icon ve dien tu-->
              <svg width="11" height="13" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="ticket.invoiceInfo">
                <path d="M0 0V12H10V3.04615L9.85 2.90769L6.85 0.138462L6.7 0H0ZM1 0.923077H6V3.69231H9V11.0769H1V0.923077ZM7 1.56923L8.3 2.76923H7V1.56923ZM2 2.76923V3.69231H5V2.76923H2ZM2 4.61538V5.53846H8V4.61538H2ZM3.75 6C3.3 6 2.95 6.27692 2.75 6.6C2.55 6.92308 2.5 7.33846 2.5 7.8C2.5 8.07692 2.6 8.35385 2.65 8.63077C2.45 8.67692 2.25 8.81538 2 8.81538V9.73846C2.35 9.73846 2.7 9.69231 3 9.6C3.05 9.69231 3.05 9.73846 3.15 9.83077C3.35 10.0154 3.65 10.1538 4 10.1538C4.8 10.1538 5.3 9.64615 5.65 9.27692C5.7 9.18462 5.75 9.13846 5.8 9.09231C5.8 9.13846 5.8 9.18462 5.85 9.23077C5.9 9.32308 5.95 9.41539 6.05 9.50769C6.15 9.6 6.35 9.69231 6.5 9.69231C6.8 9.69231 7 9.50769 7.1 9.41538C7.2 9.32308 7.3 9.18462 7.4 9.09231C7.6 8.90769 7.75 8.76923 7.95 8.76923V7.84615C7.35 7.84615 6.9 8.16923 6.65 8.44615C6.65 8.4 6.65 8.35385 6.6 8.30769C6.55 8.21538 6.5 8.12308 6.4 7.98461C6.3 7.84615 6.15 7.84615 6 7.84615C5.6 7.84615 5.45 8.07692 5.3 8.21538C5.15 8.35385 5 8.53846 4.9 8.72308C4.6 9.04615 4.4 9.23077 4 9.23077C3.95 9.23077 3.95 9.18462 3.9 9.18462C3.95 9.18462 3.95 9.13846 4 9.13846C4.55 8.72308 5 8.16923 5 7.43077C5 7.06154 4.9 6.73846 4.7 6.46154C4.5 6.18462 4.15 6 3.75 6ZM3.7 6.92308C3.85 6.92308 3.85 6.92308 3.9 7.01539C3.95 7.10769 4 7.24615 4 7.47692C4 7.75385 3.85 8.03077 3.6 8.26154C3.6 8.12308 3.5 7.93846 3.5 7.84615C3.5 7.47692 3.55 7.2 3.65 7.06154C3.7 6.96923 3.7 6.92308 3.7 6.92308Z" fill="#49D193"/>
              </svg>
              <!--icon sms-->
              <svg width="13" height="13" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="ticket.numberOfSMSSent">
                <path d="M9 0H1C0.45 0 0.005 0.45 0.005 1L0 10L2 8H9C9.55 8 10 7.55 10 7V1C10 0.45 9.55 0 9 0ZM3.5 4.5H2.5V3.5H3.5V4.5ZM5.5 4.5H4.5V3.5H5.5V4.5ZM7.5 4.5H6.5V3.5H7.5V4.5Z" fill="#FFD200"/>
              </svg> {{ ticket.numberOfSMSSent ? ticket.numberOfSMSSent : ''}}
              <!--icon don tra-->
              <span v-if="ticket.pointUp.transshipmentDriver" style="display: contents;">
                <svg width="7" height="5" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px;position: absolute;
    margin-top: 6px;">
                  <path d="M3 0L0 3L0.705 3.705L3 1.415L5.295 3.705L6 3L3 0Z" fill="#49D193"/>
                </svg>
                <svg width="13" height="8" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 5px;">
                  <path d="M8.18182 0.5H2.72727L0 3.75V5.375H1.09091C1.09091 5.80598 1.26331 6.2193 1.57019 6.52405C1.87707 6.8288 2.29328 7 2.72727 7C3.16126 7 3.57748 6.8288 3.88436 6.52405C4.19123 6.2193 4.36364 5.80598 4.36364 5.375H7.63636C7.63636 5.80598 7.80877 6.2193 8.11564 6.52405C8.42252 6.8288 8.83874 7 9.27273 7C9.70672 7 10.1229 6.8288 10.4298 6.52405C10.7367 6.2193 10.9091 5.80598 10.9091 5.375H12V3.75C12 3.14875 11.5145 2.66667 10.9091 2.66667H9.81818L8.18182 0.5ZM3 1.3125H5.18182V2.66667H1.90909L3 1.3125ZM6 1.3125H7.90909L8.97818 2.66667H6V1.3125ZM2.72727 4.5625C2.94427 4.5625 3.15238 4.6481 3.30581 4.80048C3.45925 4.95285 3.54545 5.15951 3.54545 5.375C3.54545 5.59049 3.45925 5.79715 3.30581 5.94952C3.15238 6.1019 2.94427 6.1875 2.72727 6.1875C2.51028 6.1875 2.30217 6.1019 2.14873 5.94952C1.99529 5.79715 1.90909 5.59049 1.90909 5.375C1.90909 5.15951 1.99529 4.95285 2.14873 4.80048C2.30217 4.6481 2.51028 4.5625 2.72727 4.5625ZM9.27273 4.5625C9.48972 4.5625 9.69783 4.6481 9.85127 4.80048C10.0047 4.95285 10.0909 5.15951 10.0909 5.375C10.0909 5.59049 10.0047 5.79715 9.85127 5.94952C9.69783 6.1019 9.48972 6.1875 9.27273 6.1875C9.05573 6.1875 8.84762 6.1019 8.69419 5.94952C8.54075 5.79715 8.45455 5.59049 8.45455 5.375C8.45455 5.15951 8.54075 4.95285 8.69419 4.80048C8.84762 4.6481 9.05573 4.5625 9.27273 4.5625Z" fill="#49D193"/>
                </svg>
            </span>
              <span v-if="ticket.pointDown.transshipmentDriver" style="display: contents;">
                <svg width="7" height="5" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px;position: absolute;
    margin-top: 6px;">
                  <path d="M3 3.70508L6 0.705078L5.295 7.82629e-05L3 2.29008L0.705 7.86642e-05L2.14569e-07 0.705079L3 3.70508Z" fill="#FF4868"/>
                </svg>
                <svg width="13" height="8" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 5px;">
                  <path d="M8.18182 0.5H2.72727L0 3.75V5.375H1.09091C1.09091 5.80598 1.26331 6.2193 1.57019 6.52405C1.87707 6.8288 2.29328 7 2.72727 7C3.16126 7 3.57748 6.8288 3.88436 6.52405C4.19123 6.2193 4.36364 5.80598 4.36364 5.375H7.63636C7.63636 5.80598 7.80877 6.2193 8.11564 6.52405C8.42252 6.8288 8.83874 7 9.27273 7C9.70672 7 10.1229 6.8288 10.4298 6.52405C10.7367 6.2193 10.9091 5.80598 10.9091 5.375H12V3.75C12 3.14875 11.5145 2.66667 10.9091 2.66667H9.81818L8.18182 0.5ZM3 1.3125H5.18182V2.66667H1.90909L3 1.3125ZM6 1.3125H7.90909L8.97818 2.66667H6V1.3125ZM2.72727 4.5625C2.94427 4.5625 3.15238 4.6481 3.30581 4.80048C3.45925 4.95285 3.54545 5.15951 3.54545 5.375C3.54545 5.59049 3.45925 5.79715 3.30581 5.94952C3.15238 6.1019 2.94427 6.1875 2.72727 6.1875C2.51028 6.1875 2.30217 6.1019 2.14873 5.94952C1.99529 5.79715 1.90909 5.59049 1.90909 5.375C1.90909 5.15951 1.99529 4.95285 2.14873 4.80048C2.30217 4.6481 2.51028 4.5625 2.72727 4.5625ZM9.27273 4.5625C9.48972 4.5625 9.69783 4.6481 9.85127 4.80048C10.0047 4.95285 10.0909 5.15951 10.0909 5.375C10.0909 5.59049 10.0047 5.79715 9.85127 5.94952C9.69783 6.1019 9.48972 6.1875 9.27273 6.1875C9.05573 6.1875 8.84762 6.1019 8.69419 5.94952C8.54075 5.79715 8.45455 5.59049 8.45455 5.375C8.45455 5.15951 8.54075 4.95285 8.69419 4.80048C8.84762 4.6481 9.05573 4.5625 9.27273 4.5625Z" fill="#FF4868"/>
                </svg>
            </span>
              <count-down
                      style="color: #E62020;font-weight: 600;font-family: Cabin;font-size: 10px;line-height: 12px;"
                      :time="help.ticketInfo.overTime - new Date().getTime()"
                      v-if="help.ticketInfo&&help.ticketInfo.ticketStatus==2&&help.ticketInfo.overTime>0"
                      @end="$store.commit('Ticket07/UPDATE_SET_TRIPS')">
              </count-down>
            </div>
          </div>
          <div class="w-100" style="font-family: Cabin;font-size: 14px;line-height: 15px;color: #0722FF;margin-bottom: 2px;" v-if="ticket.note && ticket.note !== '' ">
            *{{ticket.note}}
          </div>
          <el-dropdown @command="$store.dispatch('Ticket07/CHECK_TICKET',$event)" v-if="isSelectedTicket(ticket)">
            <button class="btn btn-sm btn-outline-anvui">
              {{$root.callStatus[ticket.callStatus].name}} <i
                    class="el-icon-arrow-down el-icon--right"></i>
            </button>
            <el-dropdown-menu slot="dropdown">
              <template v-for="(cs,c) in $root.callStatus">
                <el-dropdown-item :command="c"
                                  :style="{background:$root.callStatus[c].background,color:$root.callStatus[c].color}">
                  {{cs.name}}
                </el-dropdown-item>
              </template>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <div v-else>
          Đã có vé
        </div>
      </template>
    </div>
    <div v-if="isTripContract && (seat.seatType==3||seat.seatType==4) && !seat.tickets" style="text-align: center; font-weight: bold; color: #ff4868;">Xe Hợp Đồng</div>
    <div class="w-100" style="height: 5px"></div>

    <div :style="{width: '100%',position : 'absolute',bottom : '2px'}" v-if="seat.seatType==3||seat.seatType==4">
      <div class="row no-gutters">
        <div class="col">
          <div class="progress" style="height:8px;">
            <template v-for="(pro,p) in help.progress">
              <div :class="['progress-barh',pro.background]" role="progressbar"
                   :style="{width:Math.round(pro.number*10000)/100/(route.listPoint.length-1)+'%'}"
                   :aria-valuenow="pro.number" aria-valuemin="0" aria-valuemax="100"
                   :title="pro.title"
                   style="margin: 1px;border-radius: 4px;"
              >
              </div>
            </template>
          </div>
        </div>
        <div class="col-auto text-center"
             style="width: 20px;line-height: 16px;font-weight: 600;font-family: Open Sans;font-size: 12px;top: -6px;height: 4px;">
          {{seat.tickets?seat.tickets.length:0}}
        </div>
      </div>
    </div>
    <div v-if="seat.seatType!==7&&ticketsMove.length>0||isLockedSeat" class="cursor-pointer">
      <div class="position-absolute bg-move-ticket"
           :class="[allowMoveTo.data.ticketSwap ? 'bg-action-swap-ticket' : 'bg-action-move-ticket']"
           v-if="allowMoveTo.allow"
           v-on:click.stop="$store.dispatch('Ticket07/DO_MOVE_TICKET',allowMoveTo.data)">
        <i v-if="allowMoveTo.data.ticketSwap" class="fa fa-arrow-down" style="margin-top: 15px;font-size: 16px;"></i><br>
        <div
          style="font-weight: 500;font-size: 10px;line-height: 16px;font-family: Cabin;"
        >
          {{allowMoveTo.data.ticketSwap ? "ĐỔI CHỖ" : ""}}
        </div>
      </div>
      <div class="position-absolute" v-else
           style="width: 100%;height: 100%;z-index: 2;background: #fff;opacity: 0.4;top:0;left:0"
           v-on:click.stop></div>
      <div class="position-absolute" v-if="isLockedSeat"
           style="width: 100%;height: 100%;z-index: 2;background-color : rgba(35,39,49,0.7);top:0;left:0;border-radius: 4px;border: 2px solid #F39B13;"
           v-on:click.stop>
        <div class="w-100 text-center text-white" style="margin-top: 5px;font-size: 12px;font-family: Cabin">
          {{isLockedSeat.user.fullName}}
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-action" title="Mở khóa" style="width: 32px;height: 32px;"
                  @click="$store.dispatch('Ticket07/UN_LOCK_SEAT',isLockedSeat.user.id)"><i
                  class="fa fa-lock"></i></button>
        </div>
      </div>
    </div>
    <div class="position-absolute" v-if="lockInSeatMap"  style="width: 100%;height: 100%;z-index: 5;background: rgba(255, 255, 255,0.5);top:0;left:0" v-on:click.stop>
      <div class="w-100 text-center" style="margin-top: 25px;font-weight:bold">Ghế khóa</div>
    </div>
  </div>
</template>
<script>
    import {mapGetters, mapState} from 'vuex';
    import { Platform } from '../../../class/platform';

    export default {
        props: {
            seat: Object,
            isTripContract: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
                time: new Date().getTime()
            }
        },
        mounted: function () {
            let self = this;
            setInterval(function () {
                self.time = new Date().getTime();
            }, 3000)
        },
        computed: {
            ...mapState('Ticket07', {
                startPoint: state => state.startPoint,
                endPoint: state => state.endPoint,
                routes: state => state.routes,
                trip: state => state.trip,
                newSeatMap: state => state.newSeatMap,
                // indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected: state => state.ticketsSelected,
                listLoadOneTicket: state => state.listLoadOneTicket,
                ticketsSelectedType: state => state.ticketsSelectedType,
                lastPushTicketsSelected: state => state.lastPushTicketsSelected,
                ticketsMove: state => state.ticketsMove,
                showWay: state => state.showWay,
                showAllTicketInSeat: state => state.showAllTicketInSeat,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ...mapGetters('Ticket07', [
                'mapRoutes',
                'allowPastDaysToSellTicket',
                'lockTripAfterStart'
            ]),
            ...mapState('LockSeat',{
                lockSeatState: state => state.lockSeatState,
            }),
            lockInSeatMap :function(){
                let result = false;
                try{
                    let thisSeat = this.seat;
                    let seatMapLock = this.lockSeatState[this.trip.seatMap.seatMapId];
                    if(seatMapLock){
                        let lockInSeat = seatMapLock.seatList.find( (seat) => seat.seatId == thisSeat.seatId);
                        if(lockInSeat&&(!this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().ADMIN)||this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().AGENCY))){
                            result=true;
                        }
                    }
                }catch(e){
                    console.warn(e);
                }finally{
                    return result;
                }
            },
            indexPointInRoute: function () {
                let mapRoutes = this.mapRoutes;
                let trip = this.trip;
                return mapRoutes[trip.route.id].mapPoints;
            },
            route: function () {
                return this.routes[this.mapRoutes[this.trip.route.id].index];
            },
            seatClass: function () {
                let c = 'duong__07';
                let seatType = this.seat.seatType;
                switch (seatType) {
                    case 1:
                        c = 'cua__07';
                        break;
                    case 2:
                        c = 'tai__07';
                        break;
                    case 3:
                        c = 'ghe__07';
                        break;
                    case 4:
                        c = 'ghe__07';
                        break;
                    case 5:
                        c = 'wc__07';
                        break;
                    case 6:
                        c = 'phu__07';
                        break;
                    case 7:
                        c = 'duong__07';
                        break;
                    default :
                        c = 'ghe__07';
                }
                return c;
            },
            isLockedSeat: function () {
                let data = null;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                let lockedSeat = this.trip._lockedSeat;
                let thisSeat = this.seat;
                let time = this.time;
                try {
                    if (lockedSeat) {
                        $.each(lockedSeat, function (l, lock) {
                            if(l!==userInfo.userInfo.id){
                                let inFromStartToEnd = !(indexPointInRoute[lock.startPointId].index > indexEndPoint - 1 || indexStartPoint > indexPointInRoute[lock.endPointId].index - 1);
                                $.each(lock.listSeat, function (s, seat) {
                                    if (seat.seatId === thisSeat.seatId && inFromStartToEnd && time < lock.time + 1200000) {//5phust
                                        data = lock;
                                        return false;
                                    }
                                });
                                if (data) {
                                    return false;
                                }
                            }
                        })
                    }
                } catch (e) {
                    console.warn(e)
                }

                return data;
            },
            ticketExample: function () {
                let seat = this.seat;
                return {
                    id: func.makeId(),
                    seat: {
                        seatId: seat.seatId,
                        floor: seat.floor,
                        row: seat.row,
                        column: seat.column,
                        extraPrice: seat.extraPrice,
                        seatType: seat.seatType,
                    },
                    fullName: '',
                    phoneNumber: '',
                    birthday: '',
                }
            },
            help: function () {
                let self = this;
                let allowSell = true;
                let open = false;
                let progress = [];
                let ticketInfo = null;

                let tickets = this.seat.tickets;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                let indexProgress = 0;
                let colors = ['#8E44AD', '#F1C40F', '#D35400', '#E74C3C'];

                if (tickets && tickets.length > 0) {
                    $.each(tickets, function (t, ticket) {
                        let indexPointUp = indexPointInRoute[ticket.pointUp.id].index;
                        let indexPointDown = indexPointInRoute[ticket.pointDown.id].index;
                        if (!(indexPointUp > indexEndPoint - 1 || indexStartPoint > indexPointDown - 1)) {
                            allowSell = false;
                            if (!ticketInfo) {
                                ticketInfo = ticket;
                            }
                        }

                        if (self.isSelectedTicket(ticket)) {
                            open = true;
                        }

                        if (indexPointInRoute[ticket.pointUp.id].index > indexProgress) {
                            progress.push({
                                type: 'empty',
                                color: '#CACFD2',
                                background: 'bg-e',
                                number: (indexPointInRoute[ticket.pointUp.id].index - indexProgress),
                                indexStart: indexProgress,
                                indexEnd: indexPointInRoute[ticket.pointUp.id].index
                            });
                        }
                        progress.push({
                            type: 'full',
                            background: ticket.ticketStatus===3 ? 'bg-anvui' : 'bg-giucho',
                            color: colors[(t % colors.length)],
                            number: indexPointInRoute[ticket.pointDown.id].index - indexPointInRoute[ticket.pointUp.id].index,
                            ticketId: ticket.ticketId,
                            indexStart: indexPointInRoute[ticket.pointUp.id].index,
                            indexEnd: indexPointInRoute[ticket.pointDown.id].index
                        });
                        indexProgress = indexPointInRoute[ticket.pointDown.id].index;
                        if (t == tickets.length - 1) {
                            if (indexProgress < Object.keys(indexPointInRoute).length - 1) {
                                progress.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: (Object.keys(indexPointInRoute).length - 1 - indexProgress),
                                    indexStart: indexProgress,
                                    indexEnd: (Object.keys(indexPointInRoute).length - 1)
                                });
                            }
                        }
                    });
                } else {
                    progress.push({
                        type: 'empty',
                        color: '#CACFD2',
                        background: 'bg-e',
                        number: (Object.keys(indexPointInRoute).length - 1),
                        indexStart: 0,
                        indexEnd: (Object.keys(indexPointInRoute).length - 1)
                    })
                }
                let progressReturn = [];
                if (allowSell) {
                    $.each(progress, function (p, pro) {
                        if (pro.type == 'empty' && pro.indexStart <= indexStartPoint && pro.indexEnd >= indexEndPoint) {
                            if (pro.indexStart < indexStartPoint) {
                                progressReturn.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: indexStartPoint - pro.indexStart,
                                    indexStart: pro.indexStart,
                                    indexEnd: indexStartPoint,
                                });
                            }
                            progressReturn.push({
                                type: 'choose',
                                color: '#48C9B0',
                                background: 'bg-success',
                                number: indexEndPoint - indexStartPoint,
                                indexStart: indexStartPoint,
                                indexEnd: indexEndPoint,
                            });
                            if (indexEndPoint < pro.indexEnd) {
                                progressReturn.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: pro.indexEnd - indexEndPoint,
                                    indexStart: indexEndPoint,
                                    indexEnd: pro.indexEnd,
                                });
                            }
                        } else {
                            progressReturn.push(pro);
                        }
                    })
                } else {
                    progressReturn = progress;
                }
                return {
                    progress: progressReturn,
                    allowSell: allowSell,
                    openAction: open,
                    tickets: tickets,
                    ticketInfo: ticketInfo,
                    ticketInfoStatus: func.checkTicketStatus(ticketInfo),
                }
            },
            allowSell: function () {
                let allow = true;
                let tickets = this.seat.tickets;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                if (this.seat.seatType !== 3 && this.seat.seatType !== 4) {
                    allow = false;
                    return false;
                }
                $.each(tickets, function (t, ticket) {
                    let indexPointUp = indexPointInRoute[ticket.pointUp.id].index;
                    let indexPointDown = indexPointInRoute[ticket.pointDown.id].index;
                    if (!(indexPointUp > indexEndPoint - 1 || indexStartPoint > indexPointDown - 1)) {
                        allow = false;
                    }
                });
                return allow;
            },
            openAction: function () {
                let self = this;
                let open = false;
                let tickets = this.seat.tickets;
                $.each(tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        open = true;
                    }
                });
                return open;
            },
            openActionSell: function () {
                if (this.ticketsSelectedType == 0 && this.isSelectedSeat()) {
                    return true;
                }
                return false
            },
            allowMoveTo: function () {
                let canMove = true;
                let ticketSwap = null;
                let ticketsMove = this.ticketsMove;
                let indexPointInRoute = this.indexPointInRoute;
                if (ticketsMove.length <= 0) {
                    return false;
                }
                let seat = this.seat;
                if (seat.seatType !== 3 && seat.seatType !== 4) {
                    return false;
                }
                let ticketM = this.ticketsMove[0];
                let idUpDown = {
                    up: ticketM.pointUp.id,
                    down: ticketM.pointDown.id,
                }
                if (this.route.routeId !== ticketM.routeInfo.id) {
                    idUpDown.up = this.startPoint.id;
                    idUpDown.down = this.endPoint.id;
                }
                if (seat.tickets && seat.tickets.length > 0) {
                    $.each(seat.tickets, function (t, ticket) {
                        if (!(indexPointInRoute[ticket.pointUp.id].index > indexPointInRoute[idUpDown.down].index - 1 || indexPointInRoute[ticket.pointDown.id].index - 1 < indexPointInRoute[idUpDown.up].index)) {
                            // canMove = false;
                            ticketSwap = _.cloneDeep(ticket)
                            return false;
                        }
                    })
                }
                let data = _.cloneDeep(this.seat);
                data.ticketSwap = ticketSwap;
                return {
                    allow : canMove,
                    data : data
                };
                // if(canMove){
                //     this.doMoveSeat();
                // }else{
                //     notify(self.$t('this-position-has-ticket'));
                // }
                // return false;
            }
        },
        methods: {
            checkTicketSameAddress: function(ticket,option) {
                if (this.showInfoTicket(ticket)) {
                    if (this.isSelectedTicket(ticket)) {
                        this.$store.dispatch('Ticket07/UN_PUSH_UPDATE_TICKET', ticket);
                    } else {
                        let setOption = {
                            ticket : ticket,
                            option : option
                        }
                        this.$store.dispatch('Ticket07/PUSH_TICKET_SELECTED_SAME_ADDRESS', setOption);
                    }
                }
            },
            checkTicketSamePointType: function(ticket,option) {
                if (this.showInfoTicket(ticket)) {
                    if (this.isSelectedTicket(ticket)) {
                        this.$store.dispatch('Ticket07/UN_PUSH_UPDATE_TICKET', ticket);
                    } else {
                        let setOption = {
                            ticket : ticket,
                            option : option
                        }
                        this.$store.dispatch('Ticket07/PUSH_TICKET_SELECTED_SAME_POINTTYPE', setOption);
                    }
                }
            },
            showInfoTicket: function (ticketInfo) {
                let show = true;
                if (this.$root.isAgency() && ticketInfo) {
                    if (ticketInfo.agency) {
                        if (ticketInfo.agency.id !== userInfo.userInfo.id) {
                            show = false;
                        }
                    } else {
                        show = false;
                    }
                }
                return show;
            },
            isSelectedTicket: function (ticket) {
                let self = this;
                if (self.ticketsSelectedType == 0) {
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected, function (t, tk) {
                    if (ticket.ticketId == tk.ticketId) {
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            isSelectedSeat: function (ticket) {
                let self = this;
                if (self.ticketsSelectedType == 1) {
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected, function (t, tk) {
                    if (self.ticketExample.seat.seatId == tk.seat.seatId) {
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            clickTicket: function (ticket) {
                if (this.showInfoTicket(ticket)) {
                    if (this.isSelectedTicket(ticket)) {
                        this.$store.dispatch('Ticket07/UN_PUSH_UPDATE_TICKET', ticket);
                    } else {
                        this.$store.dispatch('Ticket07/PUSH_UPDATE_TICKET', ticket);
                    }
                }
            },
            clickSeat: function () {
                if (this.allowSell && (this.seat.seatType == 3 || this.seat.seatType == 4) && this.allowPastDaysToSellTicket  && this.lockTripAfterStart) {
                    if (this.isSelectedSeat(this.ticketExample)) {
                        this.$store.dispatch('Ticket07/UN_PUSH_SELL_TICKET', this.ticketExample);
                    } else {
                        this.$store.dispatch('Ticket07/PUSH_SELL_TICKET', this.ticketExample);
                    }
                } else {
                    this.$store.dispatch('Ticket07/UN_SELECTED');
                }
            },
            // dblClickSeat : function () {
            //     console.log(0);
            // },
            callToPhone: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$root.$emit('telecom', {event: 'CALL_TO_PHONE', phoneNumber: ticket.phoneNumber});
                        return false;
                    }
                })
            },
            copyTicket: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$store.commit('SET_TICKET_SAMPLE', ticket);
                        return false;
                    }
                })
            },
            historyTicket: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$emit('event', {eventName: 'history-ticket', data: ticket.ticketId})
                        return false;
                    }
                })
            },
            openDropdown: function (event) {
                $(this.$el).find('.dropdown-menu').toggle();
            },
            isTicketRelated: function (_ticket) {
                let tickets = this.ticketsSelected;
                let type = this.ticketsSelectedType;
                let related = false;
                if (type == 1 && tickets) {
                    $.each(tickets, function (t, ticket) {
                        if (_ticket.phoneNumber === ticket.phoneNumber) {
                            related = true;
                            return false;
                        }
                    })
                }
                return related;
            },
            selectAllByPhone: function (ticket) {
                if (!ticket) {
                    if ($('.seat-selected.seat-allow-sell').length === $('.seat-allow-sell').length) {
                        $('.seat-allow-sell').click();
                    } else {
                        $('.seat-allow-sell').not('.seat-selected').click();
                    }
                } else {
                    this.$store.dispatch('Ticket07/UN_SELECTED');
                    this.$store.commit('Ticket07/SET_TICKETS_SELECTED', [ticket]);
                }
            }
        }
    }
</script>
<style scoped>
  .ticket-item:hover {
    background: #ddd
  }
  .progress-barh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #B0B5C1;
    transition: width 0.6s ease;
  }
  .customPhoneNumber {
    background: #3747A8;
    border-radius: 4px;
    padding: 3px 4px;
    text-align: center;
    line-height: 17px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    height: 22px;
  }
  .colorSuccess{
    background: #C8F1DF;
  }
  .colorUnsuccess{
    background: #FDEBD0;
  }
  .bg-move-ticket {
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #084388;
    top:0;
    left:0;
    text-align: center;
    border-radius: 4px;
  }
  .bg-action-move-ticket {
    background: rgb(16 132 156 / 55%);
    color: white;
  }
  .bg-action-swap-ticket {
    background: rgba(255, 255, 255, 0.5);
    color: red;
  }
  .seat-printed{
    background: #aaa !important;
  }
</style>
