<template>
  <div class="w-100">
    <div class="w-100">
      <el-checkbox v-model="tripTransshipmentTypes" @change="debounceUpdateTripTransshipmentTypes" :label="1">Trung chuyển đón</el-checkbox>&nbsp;
      <el-checkbox v-model="tripTransshipmentTypes" @change="debounceUpdateTripTransshipmentTypes" :label="2">Trung chuyển trả</el-checkbox>
      <el-checkbox v-model="isTripContract" @change="changeTripType" :label="3">Xe hợp đồng</el-checkbox>
    </div>
    <note-trip :trip="trip" @cancelTrip="$emit('cancelTrip')"></note-trip>
    <div style="margin-bottom: 4px" v-if="allowPastDaysToSellTicket&&lockTripAfterStart">
      <span
        style="font-size: 12px;line-height: 16px;font-weight: 600;font-family: 'Open Sans';"
      >Các ghế còn trống</span>
      <template v-for="(seat,s) in seatCouldSell">
        <button
        v-if="!listSeatLock.includes(seat.seatId)"
          :class="['btn', 'btn-sm','btn-outline-anvui', isSelectedSeat(seat)?'active':'']"
          :key="s"
          v-on:click.stop="clickSeat(seat)"
          style="font-weight: 600"
        >{{seat.seatId}}</button>&nbsp;
      </template>
      <button class="btn btn-sm btn-outline-anvui" @click="REFRESH_TRIP(trip.tripId)">
        <i class="fa fa-refresh"></i>
        {{$t('button.refresh')}} {{$t('menu.seat-map')}}
      </button>
      <button class="btn btn-sm btn-outline-anvui" @click="openDialogBuyAll()" v-if="listSeatLock.length<=0&&!$root.isAgency()">
        <i class="fa fa-refresh"></i>
        Bao trọn xe
      </button>
      <template v-if="trip.vehicle&&trip.vehicle.phoneNumber&&!$root.isAgency()">
        <template v-for="(phone,p) in trip.vehicle.phoneNumber.split(',')">
          <button
            class="btn btn-sm btn-outline-anvui"
            @click="$root.$emit('telecom',{event :'CALL_TO_PHONE',phoneNumber : phone});"
          >
            <i class="fa fa-phone"></i>
            Gọi tới {{phone|phoneNumber}}
          </button>&nbsp;
        </template>
      </template>
    </div>
    <div style="background: #cedaff;padding:0;">
      <div class="row" style="background: #525050;" v-if="seatMode===displaySeatMode.ALL">
        <template v-for="(floor,f) in trip.seatMapFake">
          <div class="col-12">
            <div
              style="font-family: 'Open Sans';font-weight: 600;font-size: 14px;line-height: 4px;text-align: center;letter-spacing: 1.3px;color: #232731;padding:8px 0;border-bottom:1px solid #D8DBE2;margin: 4px;background: #F8E7CD;"
            >Tầng {{f+1}}</div>
            <template v-for="(row,r) in floor">
              <div class="row no-gutters">
                <template v-for="(col,c) in row">
                  <div :class="[!showWayMode&&col.seatType==7?'d-none':'col-md','col-xs-12']">
                    <seat :seat="col" @event="seatEvent" :isTripContract="isTripContract"></seat>
                  </div>
                </template>
              </div>
            </template>
          </div>
        </template>
      </div>
      <div class="row" style="background: #525050;" v-else-if="seatMode===displaySeatMode.DETAIL">
        <template v-for="(floor,f) in trip.seatMapFake">
          <div class="col-12">
            <template v-for="(row,r) in floor">
              <div class="row no-gutters">
                <template v-for="(col,c) in row">
                  <div :class="[!showWayMode&&col.seatType==7?'d-none':'col-md','col-xs-12']">
                    <seat-detail :seat="col" @event="seatEvent" :isTripContract="isTripContract"></seat-detail>
                  </div>
                </template>
              </div>
            </template>
          </div>
        </template>
      </div>
      <div class="row" style="background: #525050;" v-else>
        <div class="col">
          <div style="position: relative;overflow: scroll;">
            <div
              :style="{padding:'0 40px',position: 'inherit','min-width': ((107*trip.seatMap.numberOfColumns+70)*trip.seatMap.numberOfFloors)+'px'}"
            >
              <div class="row justify-content-center">
                <template v-for="(floor,f) in trip.seatMapFake">
                  <div class="col-auto">
                    <div
                      style="font-family: 'Open Sans';font-weight: 600;font-size: 14px;line-height: 4px;text-align: center;letter-spacing: 1.3px;color: #232731;padding:8px 0;border-bottom:1px solid #D8DBE2;margin: 4px"
                    >Tầng {{f+1}}</div>
                    <template v-for="(row,r) in floor">
                      <div class="row no-gutters">
                        <template v-for="(col,c) in row">
                          <div class="col">
                            <seat-mini :seat="col" @event="seatEvent" :isTripContract="isTripContract"></seat-mini>
                          </div>
                        </template>
                      </div>
                    </template>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row top10">
      <div class="col-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="tabTicketsNotSeat"
              data-toggle="tab"
              href="#tabContentTicketsNotSeat"
              role="tab"
              aria-controls="tabContentTicketsNotSeat"
              aria-selected="false"
            >
              <span class="text-uppercase">{{$t('waiting-for-seat')}}</span>
              {{trip.ticketsNotSeat&&trip.ticketsNotSeat.length>0?'('+trip.ticketsNotSeat.length+'G)':''}}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="tabTicketsEndTime"
              data-toggle="tab"
              href="#tabContentTicketsEndTime"
              role="tab"
              aria-controls="tabContentTicketsEndTime"
              aria-selected="true"
            >
              <span class="text-uppercase">{{$t('tickets-expire')}}</span>
              {{trip.ticketsEndTime&&trip.ticketsEndTime.length>0?'('+trip.ticketsEndTime.length+'G)':''}}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="tabTicketsCanceled"
              data-toggle="tab"
              href="#tabContentTicketsCanceled"
              role="tab"
              aria-controls="tabContentTicketsCanceled"
              aria-selected="false"
            >
              <span class="text-uppercase">{{$t('tickets-cancel')}}</span>
              {{trip.ticketsCanceled&&trip.ticketsCanceled.length>0?'('+trip.ticketsCanceled.length+'G)':''}}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="tabTicketsTransfer"
              data-toggle="tab"
              href="#tabContentTicketsTransfer"
              role="tab"
              aria-controls="tabContentTicketsTransfer"
              aria-selected="false"
            >
              <span class="text-uppercase">Vé chuyển</span>
              {{trip.ticketsTransfer&&trip.ticketsTransfer.length>0?'('+trip.ticketsTransfer.length+'G)':''}}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="tabsurcharge"
              data-toggle="tab"
              href="#tabContentsurcharge"
              role="tab"
              aria-controls="tabContentsurcharge"
              aria-selected="false"
            >
              <span class="text-uppercase">Phụ thu</span>
              {{trip.ticketsInSeatMap&&trip.ticketsInSeatMap.length>0 ? `(${ticketWithSurcharge.length}G)` : ''}}
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div
            class="tab-pane show seatMapSell"
            id="tabContentTicketsEndTime"
            role="tabpanel"
            aria-labelledby="tabTicketsEndTime"
          >
            <div
              v-if="trip.ticketsEndTime&&trip.ticketsEndTime.length<1"
            >{{$t('no-data-available')}}</div>
            <div v-else class="row no-gutters padding5">
              <template v-for="(ticket,t) in trip.ticketsEndTime">
                <ticket-box :ticket="ticket" @event="seatEvent"></ticket-box>
              </template>
            </div>
          </div>
          <div
            class="tab-pane seatMapSell"
            id="tabContentTicketsCanceled"
            role="tabContentTicketsCanceled"
            aria-labelledby="tabTicketsCanceled"
          >
            <div
              v-if="trip.ticketsCanceled&&trip.ticketsCanceled.length<1"
            >{{$t('no-data-available')}}</div>
            <div v-else class="row no-gutters padding5">
              <template v-for="(ticket,t) in trip.ticketsCanceled">
                <ticket-box :ticket="ticket" @event="seatEvent"></ticket-box>
              </template>
            </div>
          </div>
          <div
            class="tab-pane seatMapSell"
            id="tabContentTicketsTransfer"
            role="tabContentTicketsTransfer"
            aria-labelledby="tabTicketsTransfer"
          >
            <div
              v-if="trip.ticketsTransfer&&trip.ticketsTransfer.length<1"
            >{{$t('no-data-available')}}</div>
            <div v-else class="row no-gutters padding5">
              <template v-for="(ticket,t) in trip.ticketsTransfer">
                <ticket-box :ticket="ticket" @event="seatEvent"></ticket-box>
              </template>
            </div>
          </div>
          <div
            class="tab-pane seatMapSell"
            id="tabContentsurcharge"
            role="tabContentsurcharge"
            aria-labelledby="tabTicketssurcharge"
          >
            <div class="w-100" v-if="!$root.isAgency()">
              <!-- Content here -->
              <el-button style="margin: 10px 0px" @click="surchargeDialog = true">Xem chi tiết</el-button>
              <el-table :data="countSurcharge" height="300" style="width: 100%">
                <el-table-column prop="name" label="Nội dung"></el-table-column>
                <el-table-column prop="quantity" label="Số lượng"></el-table-column>
              </el-table>
              <!-- Surcharge Dialog -->
              <el-dialog title="Phụ thu chi tiết" :visible.sync="surchargeDialog" width="85%">
                <el-button @click="clearFilter">Xóa lọc</el-button>
                <!-- Start table -->
                <el-table ref="filterTable" :data="surchargeItems" style="width: 100%">
                  <el-table-column
                          prop="seatId"
                          label="Số ghế"
                          sortable
                          width="180"
                          column-key="date"
                          :filters="filterSeatId"
                          :filter-method="filterHandler"
                  ></el-table-column>
                  <el-table-column prop="ticketCode" label="Mã vé" width="180"></el-table-column>
                  <el-table-column label="Số tiền">
                    <template slot-scope="scope">{{scope.row.price|number}}</template>
                  </el-table-column>
                  <el-table-column
                          prop="name"
                          label="Nội dung"
                          sortable
                          width="180"
                          column-key="date"
                          :filters="filterSurchageName"
                          :filter-method="filterHandler"
                  ></el-table-column>
                </el-table>
                <!-- End table -->
                <span slot="footer" class="dialog-footer">
                <el-button @click="surchargeDialog = false">Đóng</el-button>
              </span>
              </el-dialog>
            </div>
          </div>
          <div
            class="tab-pane seatMapSell active"
            id="tabContentTicketsNotSeat"
            role="tabContentTicketsNotSeat"
            aria-labelledby="tabTicketsNotSeat"
          >
            <div class="row no-gutters padding5" v-if="!$root.isAgency()">
              <div class="col-12" style="margin-bottom : 10px">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <label>Điểm đón</label>
                    <multiselect
                      select-label
                      deselect-label
                      :options="findAddressTicketNotSeat.up"
                      :placeholder="$t('filter.select-point')"
                      :value="addressUpTicketNotSeat"
                      @input="$store.commit('Ticket07/SET_ADDRESS_UP_TICKET_NOT_SEAT',$event)"
                    ></multiselect>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label>Điểm trả</label>
                    <multiselect
                      select-label
                      deselect-label
                      :options="findAddressTicketNotSeat.down"
                      :placeholder="$t('filter.select-point')"
                      :value="addressDownTicketNotSeat"
                      @input="$store.commit('Ticket07/SET_ADDRESS_DOWN_TICKET_NOT_SEAT',$event)"
                    ></multiselect>
                  </div>
                </div>
              </div>
              <div
                class="col-12"
                v-if="trip.ticketsNotSeat&&trip.ticketsNotSeat.length<1"
              >{{$t('no-data-available')}}</div>
              <template v-for="(ticket,t) in trip.ticketsNotSeat">
                <ticket-box :ticket="ticket" @event="seatEvent" :find="true"></ticket-box>
              </template>
              <div
                class="col-12 col-sm-4 col-md-3"
                v-on:click.stop="$emit('event',{eventName : 'open-modal-sell-ticket-not-seat'})"
                v-if="allowPastDaysToSellTicket&&lockTripAfterStart&&userInfo.isSellTicketWithoutSeat"
              >
                <div class="seat position-relative cursor-pointer border-success">
                  <span class="position-absolute" style="top:30%;left:47%;font-size:2rem;">
                    <i class="fa fa-plus text-success"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Seat from "./Seat";
import SeatDetail from "./SeatDetail";
import SeatMini from "./SeatMini";
import TicketBox from "./TicketBox";
import { mapActions, mapGetters, mapState } from "vuex";
import Ticket from "./Ticket";
import NoteTrip from "../../Trip/NoteTrip";

import { DisplaySeatMode } from "../../../class/seat";
import { Platform } from '../../../class/platform';
import { TripType } from "../../../class/trip";
export default {
  data: function() {
    return {
      displaySeatMode: DisplaySeatMode.Enum(),
      surchargeItems: [],
      ticketWithSurcharge: [],
      countSurcharge: [],
      surchargeDialog: false,
      filterSeatId: [],
      filterSurchageName: [],
      tripTransshipmentTypes : [],
      isTripContract: false,
    };
  },
  components: {
    TicketBox,
    Ticket,
    Seat,
    NoteTrip,
    SeatDetail,
    SeatMini
  },
  computed: {
    ...mapState("Ticket07", {
      date: state => state.date,
      routes: state => state.routes,
      startPoint: state => state.startPoint,
      endPoint: state => state.endPoint,
      // routes : state => state.routes,
      trip: state => state.trip,
      floorActive: state => state.floorActive,
      // indexPointInRoute : state => state.indexPointInRoute,
      ticketsSelected: state => state.ticketsSelected,
      ticketsSelectedType: state => state.ticketsSelectedType,
      showWay: state => state.showWay,
      ticketScroll: state => state.ticketScroll,
      scrolled: state => state.scrolled,
      addressUpTicketNotSeat: state => state.addressUpTicketNotSeat,
      addressDownTicketNotSeat: state => state.addressDownTicketNotSeat,
      showAllTicketInSeat: state => state.showAllTicketInSeat
    }),
    ...mapState({
      companyConfig: state => state.CompanyConfig.companyConfig
    }),
    ...mapGetters("Ticket07", [
      "findAddressTicketNotSeat",
      "totalMoneyTrip",
      "mapRoutes",
      "allowPastDaysToSellTicket",
      "lockTripAfterStart"
    ]),
    ...mapState('LockSeat',{
        lockSeatState: state => state.lockSeatState,
    }),
    listSeatLock :function(){
        let results = [];
        try{
            let seatMapLock = this.lockSeatState[this.trip.seatMap.seatMapId];
            if(seatMapLock&&(!this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().ADMIN)||this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().AGENCY))){
                results = seatMapLock.seatList.map(seat=>seat.seatId);
            }
        }catch(e){
            console.warn(e);
        }finally{
            return results;
        }
    },
    seatMode: function() {
      if (this.companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.value) {
        return this.companyConfig.CONFIG.DISPLAY_SEAT_MODE.value;
      }
      return this.showAllTicketInSeat;
    },
    showWayMode: function() {
      if (this.companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.value) {
        return this.companyConfig.CONFIG.DISPLAY_WAY.value;
      }
      return this.showWay;
    },
    indexPointInRoute: function() {
      let mapRoutes = this.mapRoutes;
      let trip = this.trip;
      return mapRoutes[trip.route.id].mapPoints;
    },
    route: function() {
      return this.routes[this.mapRoutes[this.trip.route.id].index];
    },
    seatCouldSell: function() {
      let self = this;
      let seatMapFake = self.trip.seatMapFake;
      let startPoint = self.startPoint;
      let endPoint = self.endPoint;
      let numberPoint = self.route.listPoint.length;
      let listSeatHelp = {};

      let indexPointInRoute = this.indexPointInRoute;
      let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
      let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
      let lockedSeat = this.trip._lockedSeat;

      $.each(seatMapFake, function(f, floor) {
        $.each(floor, function(r, row) {
          $.each(row, function(s, seat) {
            let allowSell = true; /// cho phép bán vé;
            let numberPointBefore = self.indexPointInRoute[startPoint.id].index;
            let numberPointAfter =
              numberPoint - self.indexPointInRoute[endPoint.id].index - 1;
            if (seat.seatType == 3 || seat.seatType == 4) {
              if (seat.tickets) {
                $.each(seat.tickets, function(t, ticket) {
                  if (
                    self.indexPointInRoute[ticket.pointUp.id].index <
                      self.indexPointInRoute[startPoint.id].index &&
                    self.indexPointInRoute[ticket.pointDown.id].index - 1 <
                      self.indexPointInRoute[startPoint.id].index
                  ) {
                    // vé trước chặng
                    let npb =
                      self.indexPointInRoute[startPoint.id].index -
                      (self.indexPointInRoute[ticket.pointDown.id].index - 1) -
                      1;
                    numberPointBefore =
                      numberPointBefore > npb ? npb : numberPointBefore;
                  } else if (
                    self.indexPointInRoute[ticket.pointUp.id].index >
                      self.indexPointInRoute[endPoint.id].index - 1 &&
                    self.indexPointInRoute[ticket.pointDown.id].index - 1 >
                      self.indexPointInRoute[endPoint.id].index - 1
                  ) {
                    // vé sau chặng
                    let npa =
                      self.indexPointInRoute[ticket.pointUp.id].index -
                      self.indexPointInRoute[endPoint.id].index;
                    numberPointAfter =
                      numberPointAfter > npa ? npa : numberPointAfter;
                  } else {
                    allowSell = false;
                    return false;
                  }
                });
              }
            } else {
              allowSell = false;
            }
            try {
              if (lockedSeat) {
                $.each(lockedSeat, function(l, lock) {
                  let inFromStartToEnd = !(
                    indexPointInRoute[lock.startPointId].index >
                      indexEndPoint - 1 ||
                    indexStartPoint >
                      indexPointInRoute[lock.endPointId].index - 1
                  );
                  $.each(lock.listSeat, function(sk, seatk) {
                    if (seatk.seatId === seat.seatId && inFromStartToEnd) {
                      allowSell = false;
                      return false;
                    }
                  });
                  if (!allowSell) {
                    return false;
                  }
                });
              }
            } catch (e) {
              console.warn(e);
            }
            if (allowSell) {
              let seatPush = _.cloneDeep(seat);
              seatPush.numberPointBefore = numberPointBefore;
              seatPush.numberPointAfter = numberPointAfter;
              let number =
                numberPointBefore > numberPointAfter
                  ? numberPointAfter
                  : numberPointBefore;
              let numberTotal = numberPointBefore + numberPointAfter;
              if (listSeatHelp[numberTotal]) {
                if (listSeatHelp[numberTotal][number]) {
                  listSeatHelp[numberTotal][number].push(seatPush);
                } else {
                  listSeatHelp[numberTotal][number] = [seatPush];
                }
              } else {
                listSeatHelp[numberTotal] = {};
                listSeatHelp[numberTotal][number] = [seatPush];
              }
            }
          });
        });
      });
      let listSeatHelpAfterOrder = [];
      let numberSeatHelp = 15;
      let breakLoop = false;
      $.each(listSeatHelp, function(k, v) {
        $.each(v, function(i, e) {
          $.each(e, function(s, seat) {
            listSeatHelpAfterOrder.push(seat);
            if (listSeatHelpAfterOrder.length == numberSeatHelp) {
              breakLoop = true;
              return false;
            }
          });
          if (breakLoop) {
            return false;
          }
        });
        if (breakLoop) {
          return false;
        }
      });
      return listSeatHelpAfterOrder;
    }
  },
  methods: {
    openDialogBuyAll: function() {
      let self = this;
      if (
        self.trip.ticketsInfo.length > 0 ||
        self.trip.ticketsNotSeat.length > 0
      ) {
        notify("Không thể bao trọn xe do có khách đã đặt vé!");
        return;
      }
      if(!this.userInfo.isEditTicketPrice){
        notify("Vui lòng cho phép sửa giá tổng tiền trong cấu hình hệ thống để sử dụng chức năng này!");
        return;
      }
      if(!self.isTripContract) {
        notify("Vui lòng chọn xe hợp đồng để sử dụng chức năng này!");
        return;
      }
      let seatCanBuy = self.trip.seatMap.seatList.filter(
        x => x.seatType === 3 || x.seatType === 4
      );
      seatCanBuy.forEach(element => {
        let ticketExample = {
          id: func.makeId(),
          seat: {
            seatId: element.seatId,
            floor: element.floor,
            row: element.row,
            column: element.column,
            extraPrice: element.extraPrice,
            seatType: element.seatType
          },
          fullName: "",
          phoneNumber: "",
          birthday: ""
        };
        if (!this.isSelectedSeat(ticketExample.seat)) {
          this.$store.dispatch("Ticket07/PUSH_SELL_TICKET", ticketExample);
        }
      });
      this.$store.commit("Ticket07/SET_BUY_ALL_TICKET", true);
    },
    changeTripType: function() {
      let isTripContract = this.isTripContract;
      if(isTripContract) {
        this.updateTripType(TripType.Enum().CONTRACT_WITHOUT_TICKET);
      }
      else {
        this.updateTripType(TripType.Enum().NORMAL);
      }
    },
    updateTripType: function (type) {
      let self = this;
      let param = {
        tripId: self.trip.tripId,
        tripType: type,
      };
      self.load("updateManageTripType");
      sendJson({
        url: urlDBD(API.tripManage),
        data: param,
        success: function (data) {
          self.unload("updateManageTripType");
        },
        functionIfError: function (err) {
          self.unload("updateManageTripType");
        },
      });
    },
    // METHOD for filter table
    clearFilter() {
      this.$refs.filterTable.clearFilter();
    },
    formatter(row, column) {
      return row.address;
    },
    filterTag(value, row) {
      return row.tag === value;
    },
    filterHandler(value, row, column) {
      const property = column["property"];
      return row[property] === value;
    },
    // end method filter table
    ...mapActions("Ticket07", ["REFRESH_TRIP"]),
    seatEvent: function(event) {
      this.$emit("event", event);
    },
    isSelectedSeat: function(seat) {
      let self = this;
      if (self.ticketsSelectedType == 1) {
        return false;
      }
      let selected = false;
      $.each(self.ticketsSelected, function(t, tk) {
        if (seat.seatId == tk.seat.seatId) {
          selected = true;
          return false;
        }
      });
      return selected;
    },
    clickSeat: function(seat) {
      let ticketExample = {
        id: func.makeId(),
        seat: {
          seatId: seat.seatId,
          floor: seat.floor,
          row: seat.row,
          column: seat.column,
          extraPrice: seat.extraPrice,
          seatType: seat.seatType
        },
        fullName: "",
        phoneNumber: "",
        birthday: ""
      };
      if (seat.seatType == 3 || seat.seatType == 4) {
        if (this.isSelectedSeat(ticketExample.seat)) {
          this.$store.dispatch("Ticket07/UN_PUSH_SELL_TICKET", ticketExample);
        } else {
          this.$store.dispatch("Ticket07/PUSH_SELL_TICKET", ticketExample);
        }
      } else {
        this.$store.dispatch("Ticket07/UN_SELECTED");
      }
    },
    scrollToTicket: function() {
      let self = this;
      let ticket = this.ticketScroll;
      let element = null;
      try {
        if (ticket) {
          element = ".ticket-" + ticket.ticketId;
          self.$store.commit(
            "Ticket07/SET_FLOOR_ACTIVE",
            ticket.seat.floor - 1
          );
        }
        // Scroll
        setTimeout(function() {
          if ($(element).length > 0) {
            let status = func.checkTicketStatus(ticket);
            if (status.mode == "cancel") {
              $("#tabTicketsCanceled").click();
            } else if (status.mode == "endTime") {
              $("#tabTicketsEndTime").click();
            }
            $(element).first().click();
            $("html,body").animate(
              {
                scrollTop: $(element).offset().top - 200
              },
              "slow"
            );
          }
        }, 500);
        func.removeHistory("ticketId", "ticketStatus", "floor");
        self.$store.commit("Ticket07/SET_TICKET_SCROLL", null);
      } catch (e) {
        console.warn(e);
      }
    },
    debounceUpdateTripTransshipmentTypes : _.debounce(function () {
      let self = this;
      let param = {
        tripId : self.trip.tripId,
        transshipmentTypes:self.tripTransshipmentTypes
      };
      self.load('updateManageTripTransshipmentTypes');
      sendJson({
        url: urlDBD(API.tripManage),
        data : param,
        success: function (data) {
          self.unload('updateManageTripTransshipmentTypes');
        },
        functionIfError : function (err) {
          self.unload('updateManageTripTransshipmentTypes');
        }
      })

    },1000)
  },
  watch: {
    scrolled: function(newVal) {
      if (newVal && this.ticketScroll) {
        this.scrollToTicket();
      }
    },

    // tripTransshipmentTypes : function(newVal){
    //   this.debounceUpdateTripTransshipmentTypes();
    // },
    trip: {
      deep: true,
      handler: function(x) {
        //xap xep danh sach ve theo thoi gian tao
        let ticketNotSeat = x.ticketsNotSeat
          if(ticketNotSeat != undefined){
              ticketNotSeat.sort(function (a, b) {
                  return b.createdDate - a.createdDate ;
              });
              x.ticketsNotSeat = ticketNotSeat
          }
        //
        //xap xep danh sach ve theo thoi gian tao
        let ticketsEndTime = x.ticketsEndTime
        if(ticketsEndTime != undefined){
            ticketsEndTime.sort(function (a, b) {
                return b.createdDate - a.createdDate ;
            });
            x.ticketsEndTime = ticketsEndTime
        }
        //
        //xap xep danh sach ve theo thoi gian tao
        let ticketsCanceled = x.ticketsCanceled
        if(ticketsCanceled != undefined){
            ticketsCanceled.sort(function (a, b) {
                return b.cancelTime - a.cancelTime ;
            });
            x.ticketsCanceled = ticketsCanceled
        }
        //
        //xap xep danh sach ve theo thoi gian tao
        let ticketsTransfer = x.ticketsTransfer
        if(ticketsTransfer != undefined){
            ticketsTransfer.sort(function (a, b) {
                return b.createdDate - a.createdDate ;
            });
            x.ticketsTransfer = ticketsTransfer
        }
        //
        this.tripTransshipmentTypes = x.transshipmentTypes||[];
        //lấy các ticket ở InSeatMap có phụ thu
        let itemInSeatMap = x.ticketsInSeatMap
          ? x.ticketsInSeatMap.filter(
              i => i.surcharges && i.surcharges.length > 0
            )
          : [];
        //lấy các ticket ở NotSeat có phụ thu
        let itemNotSeat = x.ticketsNotSeat
          ? x.ticketsNotSeat.filter(
              i => i.surcharges && i.surcharges.length > 0
            )
          : [];
        let allItem = itemInSeatMap.concat(itemNotSeat); //gộp lại

        this.ticketWithSurcharge = allItem;
        let flatItem = [];

        allItem.forEach(elements => {
          for (let element of elements.surcharges) {
            flatItem.push({
              seatId: elements.seat.seatType != 0 ? elements.seat.seatId : 0,
              ticketCode: elements.ticketCode,
              price:
                element.mode == 1 ? `+ ${element.price}` : `- ${element.price}`,
              name: element.name,
              surchargeId: element.id
            });
          }
        });

        let sumSurcharge = {};
        let listSeatId = {};
        let listSurchargeName = {};

        flatItem.forEach(element => {
          // Get
          if (sumSurcharge[element.surchargeId]) {
            sumSurcharge[element.surchargeId].quantity++;
          } else {
            sumSurcharge[element.surchargeId] = {
              name: element.name,
              quantity: 1
            };
          }
          // Get list seatId that exist
          if (!listSeatId[element.seatId]) {
            listSeatId[element.seatId] = {
              text: element.seatId,
              value: element.seatId
            };
          }
          // Get list surchargeName that exist
          if (!listSurchargeName[element.name]) {
            listSurchargeName[element.name] = {
              text: element.name,
              value: element.name
            };
          }
        });
        this.countSurcharge = Object.values(sumSurcharge);
        this.filterSeatId = Object.values(listSeatId);
        this.filterSurchageName = Object.values(listSurchargeName);
        this.surchargeItems = flatItem;
        // kiểm tra xe hợp đồng
        let tripType = x.tripType;
        if(tripType === 4) {
          this.isTripContract = true;
        }
        else {
         this.isTripContract = false;
        }
      }
    }
  }
};
</script>

<style scoped>
/*.fixed-bot {*/
/*position: fixed;*/
/*bottom:10px;*/
/*}*/
.fixed-bot {
  position: fixed;
  bottom: -50px;
  opacity: 0;
  transition: bottom 0.5s ease, opacity 0.3s ease;
}

.fixed-bot.open {
  bottom: 10px;
  opacity: 1;
  transition: bottom 0.5s ease, opacity 0.3s ease;
}

.ticket-item:hover {
  background: #ddd;
}
</style>
