<template>
    <div :class="['seat__07',help.ticketInfo&&help.ticketInfo.printed?'seat-printed':'',seatClass,isSelectedSeat()||(help.ticketInfo&&isSelectedTicket(help.ticketInfo))?'selected':'',seat.seatType!==7&&ticketsMove.length>0&&allowMoveTo.allow?'move__07':'']"
         @click.stop.exact="!showAllTicketInSeat&&help.ticketInfo?clickTicket(help.ticketInfo):clickSeat()"
         @click.ctrl.stop.exact="(!showAllTicketInSeat&&help.ticketInfo)?selectAllByPhone(help.ticketInfo):selectAllByPhone()">
        <div class="w-100 heading-page text-center" v-if="seat.seatType==3||seat.seatType==4">
            <span class="cursor-pointer" v-on:click.stop="$root.isAgency()?null:$emit('event',{eventName : 'history-seat',data : {tripId : trip.tripId,seatId: seat.seatId}})">{{seat.seatId}}</span>
        </div>
        <div class="w-100" v-if="help.ticketInfo&&showInfoTicket(help.ticketInfo)"
             :class="'ticket-'+help.ticketInfo.ticketId">
            <div class="phone-number" style="font-size: 15px;line-height: 15px;"
                 :style="{background:$root.callStatus[help.ticketInfo.callStatus].background,color:$root.callStatus[help.ticketInfo.callStatus].color}">
                {{help.ticketInfo.ordererPhoneNumber||help.ticketInfo.phoneNumber||'...'}}
            </div>
            <div>
                <p class="agency-price" style="font-size: 12px;line-height: 17px;color: #232731;font-weight: bold;">
                    {{help.ticketInfo.agencyPrice|number}}</p>
            </div>
            <div style="position: absolute;width: calc(100% + 4px);height: calc(100% + 4px);top: -2px;left: -2px;background: rgba(35,39,49,0.1);border-radius: 4px;color: #fff;z-index: 5"
                 v-if="isSelectedTicket(help.ticketInfo)">
                <div style="width: 100%;height: 100%;position: relative;padding:8px 4px;text-align: center">
                    <div style="position: absolute;bottom:0;">
                        <el-dropdown class="btn-action-dropdown"
                                     @command="$store.dispatch('Ticket07/CHECK_TICKET',$event)">
                            <div class="el-dropdown-link">{{$root.callStatus[help.ticketInfo.callStatus].name}} <i
                                    class="el-icon-arrow-down el-icon--right"></i></div>
                            <el-dropdown-menu slot="dropdown">
                                <template v-for="(cs,c) in $root.callStatus">
                                    <el-dropdown-item :command="c"
                                                      :style="{background:$root.callStatus[c].background,color:$root.callStatus[c].color}">
                                        {{cs.name}}
                                    </el-dropdown-item>
                                </template>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="isTripContract && (seat.seatType==3||seat.seatType==4) && !help.ticketInfo" style="text-align: center; font-weight: bold; color: #ff4868; font-size: 12px">Xe Hợp Đồng</div>
        <div class="position-absolute" style="bottom:2px;width: calc(100% - 8px)"
             v-if="seat.seatType==3||seat.seatType==4">
            <div class="progress" style="height:4px;background: #B0B5C1">
                <template v-for="(pro,p) in help.progress">
                    <div :class="['progress-bar',pro.background]" role="progressbar"
                         :style="{width:Math.round(pro.number*10000)/100/(route.listPoint.length-1)+'%'}"
                         :aria-valuenow="pro.number" aria-valuemin="0" aria-valuemax="100" :title="pro.title"></div>
                </template>
            </div>
        </div>

        <div v-if="(seat.seatType!==7&&ticketsMove.length>0||isLockedSeat)&&lockTripAfterStart" class="cursor-pointer">
            <div class="position-absolute" v-if="allowMoveTo.allow"
                 style="width: 100%;height: 100%;z-index: 2;color: #084388;top:0;left:0;text-align: center;border-radius: 4px;background:rgba(255,255,255,0.5)"
                 v-on:click.stop="$store.dispatch('Ticket07/DO_MOVE_TICKET',allowMoveTo.data)">
                <i class="fa fa-arrow-down" style="margin-top: 25px;font-size: 14px;"></i><br>
                <!--<div style="font-weight: 500;font-size: 10px;line-height: 16px;font-family: Cabin;">DI CHUYỂN SANG GHẾ NÀY</div>-->
            </div>
            <div class="position-absolute" v-else
                 style="width: 100%;height: 100%;z-index: 2;background: #fff;opacity: 0.4;top:0;left:0"
                 v-on:click.stop></div>
            <div class="position-absolute" v-if="isLockedSeat"
                 style="width: 100%;height: 100%;z-index: 2;background-color : rgba(35,39,49,0.7);top:0;left:0;border-radius: 4px;border: 2px solid #F39B13;"
                 v-on:click.stop>
                <div class="w-100 text-center text-white" style="margin-top: 5px;font-size: 12px;font-family: Cabin">
                    {{isLockedSeat.user.fullName}}
                </div>
                <div class="w-100 text-center">
                    <button class="btn btn-action" title="Mở khóa" style="width: 32px;height: 32px;"
                            @click="$store.dispatch('Ticket07/UN_LOCK_SEAT',isLockedSeat.user.id)"><i
                            class="fa fa-lock"></i></button>
                </div>
            </div>
        </div>
        <div class="position-absolute" v-if="lockInSeatMap"  style="width: 100%;height: 100%;z-index: 5;background: rgba(255, 255, 255,0.5);top:0;left:0" v-on:click.stop>
            <div class="w-100 text-center" style="margin-top: 25px;font-weight:bold">Ghế khóa</div>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapState} from 'vuex';
    import { Platform } from '../../../class/platform';

    export default {
        props: {
            seat: Object,
            isTripContract: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
                time: new Date().getTime()
            }
        },
        mounted: function () {
            let self = this;
            setInterval(function () {
                self.time = new Date().getTime();
            }, 3000)
        },
        computed: {
            ...mapState('Ticket07', {
                startPoint: state => state.startPoint,
                endPoint: state => state.endPoint,
                routes: state => state.routes,
                trip: state => state.trip,
                // indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected: state => state.ticketsSelected,
                ticketsSelectedType: state => state.ticketsSelectedType,
                lastPushTicketsSelected: state => state.lastPushTicketsSelected,
                ticketsMove: state => state.ticketsMove,
                showWay: state => state.showWay,
                showAllTicketInSeat: state => state.showAllTicketInSeat,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ...mapGetters('Ticket07', [
                'mapRoutes',
                'allowPastDaysToSellTicket',
                'lockTripAfterStart'
            ]),
            ...mapState('LockSeat',{
                lockSeatState: state => state.lockSeatState,
            }),
            lockInSeatMap :function(){
                let result = false;
                try{
                    let thisSeat = this.seat;
                    let seatMapLock = this.lockSeatState[this.trip.seatMap.seatMapId];
                    if(seatMapLock){
                        let lockInSeat = seatMapLock.seatList.find( (seat) => seat.seatId == thisSeat.seatId);
                        if(lockInSeat&&(!this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().ADMIN)||this.$root.isAgency()&&seatMapLock.platform.includes(Platform.ENUM().AGENCY))){
                            result=true;
                        }
                    }
                }catch(e){
                    console.warn(e);
                }finally{
                    return result;
                }
            },
            indexPointInRoute: function () {
                let mapRoutes = this.mapRoutes;
                let trip = this.trip;
                return mapRoutes[trip.route.id].mapPoints;
            },
            route: function () {
                return this.routes[this.mapRoutes[this.trip.route.id].index];
            },
            seatClass: function () {
                let c = 'duong__07';
                let seatType = this.seat.seatType;
                switch (seatType) {
                    case 1:
                        c = 'cua__07';
                        break;
                    case 2:
                        c = 'tai__07';
                        break;
                    case 3:
                        c = 'ghe__07';
                        break;
                    case 4:
                        c = 'ghe__07';
                        break;
                    case 5:
                        c = 'wc__07';
                        break;
                    case 6:
                        c = 'phu__07';
                        break;
                    case 7:
                        c = 'duong__07';
                        break;
                    default :
                        c = 'ghe__07';
                }
                return c;
            },
            isLockedSeat: function () {
                let data = null;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                let lockedSeat = this.trip._lockedSeat;
                let thisSeat = this.seat;
                let time = this.time;
                try {
                    if (lockedSeat) {
                        $.each(lockedSeat, function (l, lock) {
                            if (l !== userInfo.userInfo.id) {
                                let inFromStartToEnd = !(indexPointInRoute[lock.startPointId].index > indexEndPoint - 1 || indexStartPoint > indexPointInRoute[lock.endPointId].index - 1);
                                $.each(lock.listSeat, function (s, seat) {
                                    if (seat.seatId === thisSeat.seatId && inFromStartToEnd && time < lock.time + 1200000) {//5phust
                                        data = lock;
                                        return false;
                                    }
                                });
                                if (data) {
                                    return false;
                                }
                            }
                        })
                    }
                } catch (e) {
                    console.warn(e)
                }

                return data;
            },
            ticketExample: function () {
                let seat = this.seat;
                return {
                    id: func.makeId(),
                    seat: {
                        seatId: seat.seatId,
                        floor: seat.floor,
                        row: seat.row,
                        column: seat.column,
                        extraPrice: seat.extraPrice,
                        seatType: seat.seatType,
                    },
                    fullName: '',
                    phoneNumber: '',
                    birthday: '',
                }
            },
            help: function () {
                let self = this;
                let allowSell = true;
                let open = false;
                let progress = [];
                let ticketInfo = null;

                let tickets = this.seat.tickets;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                let indexProgress = 0;
                let colors = ['#8E44AD', '#F1C40F', '#D35400', '#E74C3C'];

                if (tickets && tickets.length > 0) {
                    $.each(tickets, function (t, ticket) {
                        let indexPointUp = indexPointInRoute[ticket.pointUp.id].index;
                        let indexPointDown = indexPointInRoute[ticket.pointDown.id].index;
                        if (!(indexPointUp > indexEndPoint - 1 || indexStartPoint > indexPointDown - 1)) {
                            allowSell = false;
                            if (!ticketInfo) {
                                ticketInfo = ticket;
                            }
                        }

                        if (self.isSelectedTicket(ticket)) {
                            open = true;
                        }

                        if (indexPointInRoute[ticket.pointUp.id].index > indexProgress) {
                            progress.push({
                                type: 'empty',
                                color: '#CACFD2',
                                background: 'bg-e',
                                number: (indexPointInRoute[ticket.pointUp.id].index - indexProgress),
                                indexStart: indexProgress,
                                indexEnd: indexPointInRoute[ticket.pointUp.id].index
                            });
                        }
                        progress.push({
                            type: 'full',
                            background: ticket.ticketStatus===3 ? 'bg-anvui' : 'bg-giucho',
                            color: colors[(t % colors.length)],
                            number: indexPointInRoute[ticket.pointDown.id].index - indexPointInRoute[ticket.pointUp.id].index,
                            ticketId: ticket.ticketId,
                            indexStart: indexPointInRoute[ticket.pointUp.id].index,
                            indexEnd: indexPointInRoute[ticket.pointDown.id].index
                        });
                        indexProgress = indexPointInRoute[ticket.pointDown.id].index;
                        if (t == tickets.length - 1) {
                            if (indexProgress < Object.keys(indexPointInRoute).length - 1) {
                                progress.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: (Object.keys(indexPointInRoute).length - 1 - indexProgress),
                                    indexStart: indexProgress,
                                    indexEnd: (Object.keys(indexPointInRoute).length - 1)
                                });
                            }
                        }
                    });
                } else {
                    progress.push({
                        type: 'empty',
                        color: '#CACFD2',
                        background: 'bg-e',
                        number: (Object.keys(indexPointInRoute).length - 1),
                        indexStart: 0,
                        indexEnd: (Object.keys(indexPointInRoute).length - 1)
                    })
                }
                let progressReturn = [];
                if (allowSell) {
                    $.each(progress, function (p, pro) {
                        if (pro.type == 'empty' && pro.indexStart <= indexStartPoint && pro.indexEnd >= indexEndPoint) {
                            if (pro.indexStart < indexStartPoint) {
                                progressReturn.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: indexStartPoint - pro.indexStart,
                                    indexStart: pro.indexStart,
                                    indexEnd: indexStartPoint,
                                });
                            }
                            progressReturn.push({
                                type: 'choose',
                                color: '#48C9B0',
                                background: 'bg-success',
                                number: indexEndPoint - indexStartPoint,
                                indexStart: indexStartPoint,
                                indexEnd: indexEndPoint,
                            });
                            if (indexEndPoint < pro.indexEnd) {
                                progressReturn.push({
                                    type: 'empty',
                                    color: '#CACFD2',
                                    background: 'bg-e',
                                    number: pro.indexEnd - indexEndPoint,
                                    indexStart: indexEndPoint,
                                    indexEnd: pro.indexEnd,
                                });
                            }
                        } else {
                            progressReturn.push(pro);
                        }
                    })
                } else {
                    progressReturn = progress;
                }

                return {
                    progress: progressReturn,
                    allowSell: allowSell,
                    openAction: open,
                    tickets: tickets,
                    ticketInfo: ticketInfo,
                    ticketInfoStatus: func.checkTicketStatus(ticketInfo),
                }
            },
            allowSell: function () {
                let allow = true;
                let tickets = this.seat.tickets;
                let indexPointInRoute = this.indexPointInRoute;
                let indexStartPoint = indexPointInRoute[this.startPoint.id].index;
                let indexEndPoint = indexPointInRoute[this.endPoint.id].index;
                if (this.seat.seatType !== 3 && this.seat.seatType !== 4) {
                    allow = false;
                    return false;
                }
                $.each(tickets, function (t, ticket) {
                    let indexPointUp = indexPointInRoute[ticket.pointUp.id].index;
                    let indexPointDown = indexPointInRoute[ticket.pointDown.id].index;
                    if (!(indexPointUp > indexEndPoint - 1 || indexStartPoint > indexPointDown - 1)) {
                        allow = false;
                    }
                });
                return allow;
            },
            openAction: function () {
                let self = this;
                let open = false;
                let tickets = this.seat.tickets;
                $.each(tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        open = true;
                    }
                });
                return open;
            },
            openActionSell: function () {
                if (this.ticketsSelectedType == 0 && this.isSelectedSeat()) {
                    return true;
                }
                return false
            },
            allowMoveTo: function () {
                let canMove = true;
                let ticketSwap = null;
                let ticketsMove = this.ticketsMove;
                let indexPointInRoute = this.indexPointInRoute;
                if (ticketsMove.length <= 0) {
                    return false;
                }
                let seat = this.seat;
                if (seat.seatType !== 3 && seat.seatType !== 4) {
                    return false;
                }
                let ticketM = this.ticketsMove[0];
                let idUpDown = {
                    up: ticketM.pointUp.id,
                    down: ticketM.pointDown.id,
                }
                if (this.route.routeId !== ticketM.routeInfo.id) {
                    idUpDown.up = this.startPoint.id;
                    idUpDown.down = this.endPoint.id;
                }
                if (seat.tickets && seat.tickets.length > 0) {
                    $.each(seat.tickets, function (t, ticket) {
                        if (!(indexPointInRoute[ticket.pointUp.id].index > indexPointInRoute[idUpDown.down].index - 1 || indexPointInRoute[ticket.pointDown.id].index - 1 < indexPointInRoute[idUpDown.up].index)) {
                            // canMove = false;
                            ticketSwap = _.cloneDeep(ticket)
                            return false;
                        }
                    })
                }
                let data = _.cloneDeep(this.seat);
                data.ticketSwap = ticketSwap;
                return {
                    allow : canMove,
                    data : data
                };
                // if(canMove){
                //     this.doMoveSeat();
                // }else{
                //     notify(self.$t('this-position-has-ticket'));
                // }
                // return false;
            }
        },
        methods: {
            showInfoTicket: function (ticketInfo) {
                let show = true;
                if (this.$root.isAgency() && ticketInfo) {
                    if (ticketInfo.agency) {
                        if (ticketInfo.agency.id !== userInfo.userInfo.id) {
                            show = false;
                        }
                    } else {
                        show = false;
                    }
                }
                return show;
            },
            isSelectedTicket: function (ticket) {
                let self = this;
                if (self.ticketsSelectedType == 0) {
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected, function (t, tk) {
                    if (ticket.ticketId == tk.ticketId) {
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            isSelectedSeat: function (ticket) {
                let self = this;
                if (self.ticketsSelectedType == 1) {
                    return false;
                }
                let selected = false;
                $.each(self.ticketsSelected, function (t, tk) {
                    if (self.ticketExample.seat.seatId == tk.seat.seatId) {
                        selected = true;
                        return false;
                    }
                });
                return selected;
            },
            clickTicket: function (ticket) {
                if (this.showInfoTicket(ticket)) {
                    if (this.isSelectedTicket(ticket)) {
                        this.$store.dispatch('Ticket07/UN_PUSH_UPDATE_TICKET', ticket);
                    } else {
                        this.$store.dispatch('Ticket07/PUSH_UPDATE_TICKET', ticket);
                    }
                }
            },
            clickSeat: function () {
                let lock_action_after_departed = this.companyConfig.CONFIG.LOCK_ACTION_AFTER_DEPARTED.value;
                console.log(lock_action_after_departed);
                if(!!lock_action_after_departed) {
                    if (this.allowSell && (this.seat.seatType == 3 || this.seat.seatType == 4) && this.allowPastDaysToSellTicket) {
                        if (this.isSelectedSeat(this.ticketExample)) {
                            this.$store.dispatch('Ticket07/UN_PUSH_SELL_TICKET', this.ticketExample);
                        } else {
                            this.$store.dispatch('Ticket07/PUSH_SELL_TICKET', this.ticketExample);
                        }
                    } else {
                        this.$store.dispatch('Ticket07/UN_SELECTED');
                    }
                } else {
                    if (this.allowSell && (this.seat.seatType == 3 || this.seat.seatType == 4) && this.allowPastDaysToSellTicket && this.lockTripAfterStart) {
                        if (this.isSelectedSeat(this.ticketExample)) {
                            this.$store.dispatch('Ticket07/UN_PUSH_SELL_TICKET', this.ticketExample);
                        } else {
                            this.$store.dispatch('Ticket07/PUSH_SELL_TICKET', this.ticketExample);
                        }
                    } else {
                        this.$store.dispatch('Ticket07/UN_SELECTED');
                    }
                }
                // if (this.allowSell && (this.seat.seatType == 3 || this.seat.seatType == 4) && this.allowPastDaysToSellTicket && this.lockTripAfterStart) {
                //     if (this.isSelectedSeat(this.ticketExample)) {
                //         this.$store.dispatch('Ticket07/UN_PUSH_SELL_TICKET', this.ticketExample);
                //     } else {
                //         this.$store.dispatch('Ticket07/PUSH_SELL_TICKET', this.ticketExample);
                //     }
                // } else {
                //     this.$store.dispatch('Ticket07/UN_SELECTED');
                // }
            },
            // dblClickSeat : function () {
            //     console.log(0);
            // },
            callToPhone: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$root.$emit('telecom', {event: 'CALL_TO_PHONE', phoneNumber: ticket.phoneNumber});
                        return false;
                    }
                })
            },
            copyTicket: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$store.commit('SET_TICKET_SAMPLE', ticket);
                        return false;
                    }
                })
            },
            historyTicket: function () {
                let self = this;
                $.each(this.seat.tickets, function (t, ticket) {
                    if (self.isSelectedTicket(ticket)) {
                        self.$emit('event', {eventName: 'history-ticket', data: ticket.ticketId})
                        return false;
                    }
                })
            },
            openDropdown: function (event) {
                $(this.$el).find('.dropdown-menu').toggle();
            },
            isTicketRelated: function (_ticket) {
                let tickets = this.ticketsSelected;
                let type = this.ticketsSelectedType;
                let related = false;
                if (type == 1 && tickets) {
                    $.each(tickets, function (t, ticket) {
                        if (_ticket.phoneNumber === ticket.phoneNumber) {
                            related = true;
                            return false;
                        }
                    })
                }
                return related;
            },
            selectAllByPhone: function (ticket) {
                if (!ticket) {
                    if ($('.seat-selected.seat-allow-sell').length === $('.seat-allow-sell').length) {
                        $('.seat-allow-sell').click();
                    } else {
                        $('.seat-allow-sell').not('.seat-selected').click();
                    }
                } else {
                    this.$store.dispatch('Ticket07/UN_SELECTED');
                    this.$store.commit('Ticket07/SET_TICKETS_SELECTED', [ticket]);
                }
            }
        }
    }
</script>
<style>
    .ticket-item:hover {
        background: #ddd
    }
</style>
