<template>
    <div class="row">
        <div class="col-12 bg-e" style="padding-top:0;padding-bottom:5px">
            <template v-for="(ticket,t) in tickets">
                <button :class="[ticket.idFake == ticketActive.idFake ? 'btn-primary' : 'btn-outline-primary','btn btn-sm position-relative top5']"
                        @click="ticketActive = ticket;autoFill=false">
                    {{ticket.seat.seatId}}
                    <span class="close-ticket" v-on:click.stop="removeTicket(ticket)"><i
                            class="fas fa-times"></i></span>
                </button>&nbsp;
            </template>
        </div>
        <div class="col-12 col-md-7 top10">
            <div class="row bottom20">
                <div class="col">
                    <multiselect @select="changeStartPoint" select-label="" class="multiple-sm" :allow-empty="false"
                                 deselect-label="" :options="route.listPoint" label="name"
                                 :placeholder="$t('filter.select-route')" v-model="ticketActive.startPoint"
                                 track-by="id"></multiselect>
                </div>
                <div class="col-auto">
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div class="col">
                    <multiselect @select="changeEndPoint" select-label="" class="multiple-sm" :allow-empty="false"
                                 deselect-label="" :options="route.listPoint" label="name"
                                 :placeholder="$t('filter.select-route')" v-model="ticketActive.endPoint"
                                 track-by="id"></multiselect>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('to-pick-up')}}</label>
                <div class="col-10">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <select @change="changePointUpType()" class="form-control form-control-sm"
                                    v-model="ticketActive.pointUp.pointType">
                                <option :value="0">{{$t('at-dock')}}</option>
                                <option :value="1"
                                        v-if="route.listPoint[indexPointInRoute[ticketActive.startPoint.id].index].allowPickingAndDroppingAtHome===null||route.listPoint[indexPointInRoute[ticketActive.startPoint.id].index].allowPickingAndDroppingAtHome==undefined||route.listPoint[indexPointInRoute[ticketActive.startPoint.id].index].allowPickingAndDroppingAtHome===true">
                                    {{$t('at-home')}}
                                </option>
                                <option :value="2">{{$t('along-way')}}</option>
                                <option :value="3"
                                        v-if="route.listPoint[indexPointInRoute[ticketActive.startPoint.id].index].listTransshipmentPoint&&route.listPoint[indexPointInRoute[ticketActive.startPoint.id].index].listTransshipmentPoint.length>0">
                                    {{$t('transshipment')}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <div v-if="ticketActive.pointUp.pointType==0" class="top5"> &nbsp; &nbsp;{{ticketActive.startPoint.name}}</div>
                            <div v-show="ticketActive.pointUp.pointType==2||ticketActive.pointUp.pointType==1">
                                <input type="text" class="form-control form-control-sm" id="pickUpAutoComplete"
                                       v-model="ticketActive.pointUp.address" @input="changePointUpAddress">
                            </div>
                            <div v-if="ticketActive.pointUp.pointType==3&&route.listPoint[indexPointInRoute[ticketActive.startPoint.id].index].listTransshipmentPoint">
                                <multiselect @input="changePointUpTransshipment()"
                                             :options="route.listPoint[indexPointInRoute[ticketActive.startPoint.id].index].listTransshipmentPoint"
                                             v-model="ticketActive.transshipmentInPoint" label="name" track-by="id"
                                             class="multiple-sm" :placeholder="$t('choose-point')"></multiselect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('leave')}}</label>
                <div class="col-10">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <select @change="changePointDownType()" class="form-control form-control-sm"
                                    v-model="ticketActive.pointDown.pointType">
                                <option :value="0">{{$t('at-dock')}}</option>
                                <option :value="1"
                                        v-if="route.listPoint[indexPointInRoute[endPoint.id].index].allowPickingAndDroppingAtHome===null||route.listPoint[indexPointInRoute[endPoint.id].index].allowPickingAndDroppingAtHome==undefined||route.listPoint[indexPointInRoute[endPoint.id].index].allowPickingAndDroppingAtHome===true">
                                    {{$t('at-home')}}
                                </option>
                                <option :value="2">{{$t('along-way')}}</option>
                                <option :value="3"
                                        v-if="route.listPoint[indexPointInRoute[endPoint.id].index].listTransshipmentPoint&&route.listPoint[indexPointInRoute[endPoint.id].index].listTransshipmentPoint.length>0">
                                    {{$t('transshipment')}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <div v-if="ticketActive.pointDown.pointType==0" class="top5"> &nbsp;
                                &nbsp;{{endPoint.name}}
                            </div>
                            <div v-show="ticketActive.pointDown.pointType==1||ticketActive.pointDown.pointType==2">
                                <input type="text" class="form-control form-control-sm" id="dropOffAutoComplete"
                                       v-model="ticketActive.pointDown.address" @input="changePointDownAddress">
                            </div>
                            <div v-if="ticketActive.pointDown.pointType==3&&route.listPoint[indexPointInRoute[endPoint.id].index].listTransshipmentPoint">
                                <multiselect @input="changePointDownTransshipment()"
                                             :options="route.listPoint[indexPointInRoute[endPoint.id].index].listTransshipmentPoint"
                                             label="name" class="multiple-sm"
                                             v-model="ticketActive.transshipmentOffPoint" track-by="id"
                                             :placeholder="$t('choose-point')"></multiselect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('phone-number')}}</label>
                <div class="col-10 input-group">
                    <span class="font-weight-bold w-100" style="color: #dc8934" v-if="existPhoneNumberInTrip"> &nbsp; Có {{existPhoneNumberInTrip}} vé đã đặt bằng SDT này trong chuyến.</span>
                    <span class="font-weight-bold w-100" style="color: #dc8934"
                          v-if="!existPhoneNumberInTrip&&ticketInDay"> &nbsp; Đã vé đã đặt bằng SDT này trong ngày.</span>
                    <input type="text" class="form-control form-control-sm" pattern="[0-9]{10}"
                           :value="ticketActive.phoneNumber" id="ticketPhoneNumber"
                           @input="updateField($event,'phoneNumber')">
                    <input type="text" :value="ticketActive.email" @input="updateField($event,'email')"
                           class="form-control form-control-sm" placeholder="email">
                </div>

            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('fullname')}}</label>
                <div class="col-10 input-group">
                    <input type="text" class="form-control form-control-sm" :value="ticketActive.fullName"
                           @input="updateField($event,'fullName')" :placeholder="$t('fullname')">
                    <input type="text" :value="ticketActive.birthday" @input="updateField($event,'birthday')"
                           class="form-control form-control-sm" :placeholder="[$t('birthday')+ '(dd-mm-yyyy)']">
                </div>
            </div>
            <div class="form-group row no-gutters" v-show="!userInfo.isAgency">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('menu.agency')}}</label>
                <div class="col-10">
                    <select-agency inputClass="multiple-sm" :value="ticketActive.agency" @input="updatePolicyTicket"
                                   :allowClear="true"></select-agency>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('link-code')}}</label>
                <div class="col-10">
                    <input type="text" class="form-control form-control-sm" :value="ticketActive.foreignKey"
                           @input="updateField($event,'foreignKey')">
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">{{$t('note')}}</label>
                <div class="col-10">
                    <textarea rows="3" class="form-control form-control-sm" :value="ticketActive.note"
                              @input="updateField($event,'note')"></textarea>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">&nbsp;</label>
                <div class="col-10">
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="isChild"
                                       v-model="ticketActive.isChild" @change="changeIsChild();">
                                <label class="form-check-label font-weight-normal"
                                       for="isChild">{{$t('child-chair')}}</label>
                                <UploadImage v-model="ticketActive.image" :iconSize="32"></UploadImage>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="sendSMS"
                                       v-model="ticketActive.sendSMS" @change="changeSendSMS()">
                                <label class="form-check-label font-weight-normal"
                                       for="sendSMS">{{$t('send-message')}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label-sm padding-right-10 font-weight-normal">&nbsp;</label>
                <div class="col-10">
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="printTicketSell"
                                       v-model="printTicketAfterCreate">
                                <label class="form-check-label font-weight-normal" for="printTicketSell">
                                    {{$t('print-ticket')}} </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="printTicketTempSell"
                                       v-model="printTicketTempAfterCreate">
                                <label class="form-check-label font-weight-normal" for="printTicketTempSell">
                                    {{$t('print-temp-ticket')}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row no-gutters" v-show="isAgency()">
                <label class="col-2 col-form-label-sm padding-right-10"></label>
                <div class="col-10">
                    {{$t('the-default-placeholder-time-is')}} <b>{{ userInfo.timeBookHolder }}</b> {{$t('minute')}}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 border-left">
            <div class="form-group row no-gutters top10">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('price-ticket')}}</label>
                <div class="col-5 text-right">{{ ticketActive.priceAfterAdult|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('discount-agency')}}</label>
                <div class="col-5 text-right">- {{ ticketActive.priceCommission|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('promotion')}}</label>
                <div class="col-5 text-right">- {{ ticketActive.pricePromotion|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('money-transshipment')}}</label>
                <div class="col-5 text-right">+ {{
                    ticketActive.priceTransshipmentUp+ticketActive.priceTransshipmentDown|number }}
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('policy')}}</label>
                <div class="col-5 text-right">{{ ticketActive.priceAddition|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('total-money')}}</label>
                <div class="col-5 text-right">{{ ticketActive.totalPrice|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('real-revenue')}}</label>
                <div class="col-5 input-money">
                    <input-number class="form-control form-control-sm text-right"
                                  :readonly="!userInfo.isEditTicketPrice||$root.isAgency()"
                                  :value="ticketActive.agencyPrice" @input="changeAgencyPrice"></input-number>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('received')}}</label>
                <div class="input-money col-5">
                    <input-number class="form-control form-control-sm text-right" :value="ticketActive.paidMoney"
                                  @input="changePaidMoney"></input-number>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-7 padding-right-10 font-weight-normal">{{$t('remain')}}</label>
                <div class="col-5 text-right">{{ ticketActive.agencyPrice-ticketActive.paidMoney|number }}</div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-6 padding-right-10 font-weight-normal">{{$t('filter.payment-type')}}</label>
                <div class="col-6 text-right">
                    <select class="form-control form-control-sm" :value="ticketActive.paymentType"
                            @input="updateField($event,'paymentType')">
                        <template v-for="(type,t) in $root.paymentTypes">
                            <option :value="t">{{type}}</option>
                        </template>
                        <template v-for="(merchant,mt) in merchants">
                            <option :value="mt" v-if="merchant.length>0">{{mt}}</option>
                        </template>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 border-top" style="padding-top: 5px" v-if="!$root.isAgency()">
            <div class="row">
                <div class="col">
                    <div class="form-group row no-gutters" v-if="userInfo.isEditTicketPrice">
                        <label class="col-auto padding-right-10 font-weight-normal text-right col-form-label-sm font-weight-bold"
                               style="font-size: 15px">{{$t('real-price-for-everything')}}</label>
                        <div class="col text-right">
                            <input-number :value="agencyPriceShare" @input="shareAgencyPrice"
                                          class="form-control form-control-sm"></input-number>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row no-gutters">
                        <label class="col-auto padding-right-10 font-weight-normal text-right col-form-label-sm font-weight-bold"
                               style="font-size: 15px">{{$t('deposit-for-everything')}}</label>
                        <div class="col text-right">
                            <input-number :value="paidMoneyShare" @input="sharePaidMoney"
                                          class="form-control form-control-sm"></input-number>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 font-weight-bold text-right bg-e">
            <div class="float-left top5 form-check">
                <input type="checkbox" class="form-check-input" id="autoFillSell" v-model="autoFill">
                <label class="form-check-label font-weight-normal"
                       for="autoFillSell">{{$t('auto-fill-for-all-seats')}} </label>
            </div>
            <span class="text-uppercase">{{$t('total-seat')}}</span> : <span class="size20">{{ tickets.length }}</span>
            ,
            <span class="text-uppercase">{{$t('total-money')}}</span> : <span class="size20">{{ totalPrice.totalPrice|number }}</span>
            , <span class="text-uppercase">{{$t('real-revenue')}}</span> : <span class="size20 text-anvui">{{ totalPrice.agencyPrice|number }}</span>
            , <span class="text-uppercase">{{$t('received')}}</span> : <span class="size20 text-info">{{ totalPrice.paidMoney|number }}</span>
            ,
            <span class="text-uppercase">{{$t('must-receive')}}</span> : <span class="size20 text-danger">{{(totalPrice.agencyPrice-totalPrice.paidMoney)|number }}</span>
        </div>
    </div>
</template>
<script>
    import {calculatePriceTicket} from '../../../class/ticket';
    import UploadImage from '../../Template/UploadImage.vue';
    import {mapGetters, mapState} from 'vuex';

    export default {
        components: {UploadImage},
        data: function () {
            return {
                autoFill: true,// khi refresh thì mặc định khi nhập form đầu sẽ cập nhật cho các form sau,sau khi chuyển qua các tabs thì bỏ auto
                tickets: [],
                showDetail: false,
                ticketActive: {},
                totalPrice: {
                    totalPrice: 0,
                    agencyPrice: 0,
                    paidMoney: 0,
                },
                printTicketAfterCreate: false,
                printTicketTempAfterCreate: false,
                paidMoneyShare: 0,
                agencyPriceShare: 0,
                ticketInDay: null
            }
        },
        created: function () {
            this.refresh();
        },
        mounted: function () {
            this.autoCompletePhoneNumber();
            this.autoCompletePlace();
        },
        computed: {
            ...mapState('Ticket07', {
                date: state => state.date,
                // route : state => state.route,
                routes: state => state.routes,
                startPoint: state => state.startPoint,
                endPoint: state => state.endPoint,
                trip: state => state.trip,
                // indexPointInRoute : state => state.indexPointInRoute,
                ticketsSelected: state => state.ticketsSelected,
                ticketsSelectedType: state => state.ticketsSelectedType,
            }),
            ...mapState({
                config_data: state => state.config_data,
                ticketSample: state => state.ticketSample,
                merchants: state => state.merchants,
            }),
            ...mapGetters('Ticket07', [
                'mapRoutes'
            ]),
            indexPointInRoute: function () {
                let mapRoutes = this.mapRoutes;
                let trip = this.trip;
                return mapRoutes[trip.route.id].mapPoints;
            },
            route: function () {
                return this.routes[this.mapRoutes[this.trip.route.id].index];
            },
            existPhoneNumberInTrip: function () {
                let f_phoneNumber = this.ticketActive.phoneNumber;
                let f_ticketsInfo = this.trip.ticketsInSeatMap || [];
                let f_ticketsNotSeat = this.trip.ticketsNotSeat || [];
                let numberTicket = 0;
                $.each(f_ticketsInfo, function (t, ticket) {
                    if (ticket.phoneNumber && ticket.phoneNumber === f_phoneNumber) {
                        numberTicket++;
                    }
                });
                $.each(f_ticketsNotSeat, function (t, ticket) {
                    if (ticket.phoneNumber && ticket.phoneNumber === f_phoneNumber) {
                        numberTicket++;
                    }
                });
                return numberTicket;
            },

        },
        methods: {
            refresh: function () {
                let self = this;
                self.ticketInDay = null;
                self.printTicketAfterCreate = false;
                self.printTicketTempAfterCreate = false;
                self.paidMoneyShare = 0;
                self.agencyPriceShare = 0;
                let tickets = [];
                let seatPrice = self.route.listPoint[self.indexPointInRoute[self.startPoint.id].index].listPrice[self.indexPointInRoute[self.endPoint.id].index];
                let childrenTicketRatio = self.route.childrenTicketRatio || 1;
                let pointTypeUp = func.getHistory('pointTypeUp') || 0;// kiểu điểm dừng lần trước nhập
                let pointTypeDown = func.getHistory('pointTypeDown') || 0;

                $.each(self.ticketsSelected, function (t, tk) {
                    let ticket = {};
                    ticket.idFake = func.makeId();
                    ticket.seatId = tk.seat.seatId;
                    ticket.floor = tk.seat.floor;
                    ticket.row = tk.seat.row;
                    ticket.column = tk.seat.column;
                    ticket.extraPrice = tk.seat.extraPrice;
                    ticket.seatStatus = tk.seat.seatStatus;
                    ticket.seatType = tk.seat.seatType;
                    ticket.seat = tk.seat;
                    ticket.ticketCode = self.ticketSample && self.trip.tripId === self.ticketSample.tripId ? self.ticketSample.ticketCode : null;
                    ticket.childrenTicketRatio = childrenTicketRatio;
                    ticket.phoneNumber = self.ticketSample && self.ticketSample.phoneNumber ? self.ticketSample.phoneNumber : '';
                    ticket.email = self.ticketSample && self.ticketSample.email ? self.ticketSample.email : '';
                    ticket.fullName = self.ticketSample && self.ticketSample.fullName ? self.ticketSample.fullName : '';
                    ticket.birthday = self.ticketSample && self.ticketSample.birthday ? self.ticketSample.birthday : '';
                    ticket.note = self.ticketSample && self.ticketSample.note ? self.ticketSample.note : '';
                    ticket.foreignKey = self.ticketSample && self.ticketSample.foreignKey ? self.ticketSample.foreignKey : '';
                    ticket.image = self.ticketSample && self.ticketSample.image ? self.ticketSample.image : '';
                    ticket.agency = null;
                    ticket.isChild = false;
                    ticket.sendSMS = false;
                    ticket.paymentType = self.config_data.paymentTypeDefault;

                    ticket.startPoint = _.cloneDeep(self.startPoint);
                    ticket.transshipmentInPoint = null;
                    ticket.pointUp = {
                        pointType: pointTypeUp,
                        name: self.startPoint.name,
                        id: self.startPoint.id,
                        latitude: self.startPoint.latitude,
                        longitude: self.startPoint.longitude,
                        address: '',
                    };
                    ticket.endPoint = _.cloneDeep(self.endPoint);
                    ticket.transshipmentOffPoint = null;
                    ticket.pointDown = {
                        pointType: pointTypeDown,
                        name: self.endPoint.name,
                        id: self.endPoint.id,
                        latitude: self.endPoint.latitude,
                        longitude: self.endPoint.longitude,
                        address: '',
                    };
                    if (self.ticketSample && self.ticketSample.ticketId) {
                        if (self.ticketSample.pointUp.transshipmentId && self.route.listPoint[self.indexPointInRoute[self.startPoint.id].index].listTransshipmentPoint) {
                            $.each(self.route.listPoint[self.indexPointInRoute[self.startPoint.id].index].listTransshipmentPoint, function (p, point) {
                                if (self.ticketSample.pointUp.transshipmentId == point.id) {
                                    ticket.transshipmentInPoint = _.cloneDeep(point);
                                }
                            })
                        }
                        if (self.ticketSample.pointDown.transshipmentId && self.route.listPoint[self.indexPointInRoute[self.endPoint.id].index].listTransshipmentPoint) {
                            $.each(self.route.listPoint[self.indexPointInRoute[self.endPoint.id].index].listTransshipmentPoint, function (p, point) {
                                if (self.ticketSample.pointDown.transshipmentId == point.id) {
                                    ticket.transshipmentOffPoint = _.cloneDeep(point);
                                }
                            })
                        }

                        ticket.pointUp = {
                            pointType: self.ticketSample.pointUp.pointType,
                            name: self.startPoint.name,
                            address: (self.startPoint.id === self.ticketSample.pointUp.id ? self.ticketSample.pointUp.address : (self.startPoint.id === self.ticketSample.pointDown.id ? self.ticketSample.pointDown.address : self.startPoint.address)),
                            id: self.startPoint.id,
                            latitude: self.startPoint.latitude,
                            longitude: self.startPoint.longitude,
                            transshipmentId: (self.ticketSample.pointUp.transshipmentId || null),
                        };
                        ticket.pointDown = {
                            pointType: self.ticketSample.pointDown.pointType,
                            name: self.endPoint.name,
                            address: (self.endPoint.id === self.ticketSample.pointDown.id ? self.ticketSample.pointDown.address : (self.endPoint.id === self.ticketSample.pointUp.id ? self.ticketSample.pointUp.address : self.endPoint.address)),
                            id: self.endPoint.id,
                            latitude: self.endPoint.latitude,
                            longitude: self.endPoint.longitude,
                            transshipmentId: (self.ticketSample.pointDown.transshipmentId || null),
                        };
                    }

                    ticket.policy = {
                        commission: null,
                        listPromotion: null,
                        addition: null,
                    };
                    let additionApplyForCustomer = null;
                    let additionApplyForAgency = null;
                    if (self.trip.additions) {
                        $.each(self.trip.additions, function (k, addition) {
                            $.each(addition.listUserType, function (t, type) {
                                if (type == 2) {
                                    additionApplyForCustomer = addition;
                                }
                                if (type == 4) {
                                    additionApplyForAgency = addition;
                                }
                            })
                        });
                    }
                    if (additionApplyForCustomer) {
                        ticket.policy.addition = additionApplyForCustomer;
                    }

                    if (self.isAgency() || self.ticketSample && self.ticketSample.agency) {
                        let commission = null;
                        if (self.$root.isAgency()) {
                            ticket.agency = self.$root.agencyInfo();
                        } else {
                            ticket.agency = {
                                id: self.ticketSample.agency.id,
                                fullName: self.ticketSample.agency.fullName,
                                level: (self.ticketSample.agency.level || 1),
                            }
                        }

                        if (self.trip.commissions) {// cập nhật commission đại lý
                            $.each(self.trip.commissions, function (c, com) {
                                if (com.level === ticket.agency.level) {
                                    commission = com;
                                    return false;
                                }
                            });
                        }
                        ticket.policy.commission = commission;
                        ticket.policy.addition = additionApplyForAgency;
                    } else {
                        ticket.agency = null;
                    }
                    ticket.originPrice = seatPrice;

                    let ticketAfterCalculatePrice = calculatePriceTicket(ticket);
                    ticket = _.cloneDeep(ticketAfterCalculatePrice);

                    ticket.agencyPrice = _.cloneDeep(ticket.totalPrice);
                    ticket.paidMoney = 0;
                    self.agencyPriceShare += _.cloneDeep(ticket.agencyPrice);
                    tickets.push(ticket);
                });
                this.tickets = tickets;
                this.ticketActive = tickets[0] || {};
                this.autoFill = true;
                this.updatePrice();
            },
            changeStartPoint: function (newPoint) {
                let self = this;
                let oldPoint = this.ticketActive.startPoint;
                let indexStartPoint = -1;
                let indexEndPoint = -1;
                let price = -1;
                let allowChange = true;

                $.each(self.route.listPoint, function (p, point) {
                    if (point.id === newPoint.id) {
                        indexStartPoint = p;
                    }
                    if (point.id === self.ticketActive.endPoint.id) {
                        indexEndPoint = p;
                    }
                });
                // check xem có phù hợp giá tiền không . giá phải lớn hơn -1
                if (indexStartPoint >= 0 && indexEndPoint >= 0) {
                    // kiểm tra xem có vé trong khoảng chưa
                    allowChange = self.checkTicketInSeat(indexStartPoint, indexEndPoint);
                    // lấy ra giá tiền
                    price = self.route.listPoint[indexStartPoint].listPrice[indexEndPoint];
                    if (price < 0) {
                        allowChange = false;
                    }
                } else {
                    allowChange = false;
                }
                // kiểm tra đoạn này trong danh sách ghế đã có người đặt chưa;

                if (!allowChange) {
                    setTimeout(function () {
                        self.ticketActive.startPoint = oldPoint;
                    }, 200);
                    notify(self.$t('notify.this-route-is-not-sold-or-has-ticket'), 'error');
                    return false;
                } else {
                    self.ticketActive.originPrice = _.cloneDeep(price);
                    if (self.route.listPoint[self.indexPointInRoute[indexStartPoint].index].listTransshipmentPoint && self.route.listPoint[self.indexPointInRoute[indexStartPoint].index].listTransshipmentPoint.length <= 0 && self.ticketActive.pointUp.pointType == 3) {
                        self.ticketActive.pointUp.pointType = 0;
                    }
                    // cập nhật lại trung chuyển
                    self.ticketActive.transshipmentInPoint = null;
                    if (self.ticketActive.pointUp.transshipmentId) {
                        $.each(self.route.listPoint[self.indexPointInRoute[indexStartPoint].index].listTransshipmentPoint, function (it, tsmip) {
                            if (tsmip.id === self.ticketActive.pointUp.transshipmentId) {
                                self.ticketActive.transshipmentInPoint = _.cloneDeep(tsmip);
                            }
                        })
                    }
                    self.updatePrice();
                }
            },
            changeEndPoint: function (newPoint) {
                let self = this;
                let oldPoint = this.ticketActive.endPoint;
                let indexStartPoint = -1;
                let indexEndPoint = -1;
                let price = -1;
                let allowChange = true;

                $.each(self.route.listPoint, function (p, point) {
                    if (point.id === self.ticketActive.startPoint.id) {
                        indexStartPoint = p;
                    }
                    if (point.id === newPoint.id) {
                        indexEndPoint = p;
                    }
                });
                // check xem có phù hợp giá tiền không . giá phải lớn hơn -1
                if (indexStartPoint >= 0 && indexEndPoint >= 0) {
                    // kiểm tra xem có vé trong khoảng chưa
                    allowChange = self.checkTicketInSeat(indexStartPoint, indexEndPoint);
                    // lấy ra giá tiền
                    price = self.route.listPoint[indexStartPoint].listPrice[indexEndPoint];
                    if (price < 0) {
                        allowChange = false;
                    }
                } else {
                    allowChange = false;
                }
                // kiểm tra đoạn này trong danh sách ghế đã có người đặt chưa;

                if (!allowChange) {
                    setTimeout(function () {
                        self.ticketActive.endPoint = oldPoint;
                    }, 200);
                    notify(self.$t('notify.this-route-is-not-sold-or-has-ticket'), 'error');
                    return false;
                } else {
                    // cập nhật lại tiền
                    self.ticketActive.originPrice = _.cloneDeep(price);
                    if (self.route.listPoint[self.indexPointInRoute[indexEndPoint].index].listTransshipmentPoint && self.route.listPoint[self.indexPointInRoute[indexEndPoint].index].listTransshipmentPoint <= 0 && self.ticketActive.pointDown.pointType == 3) {
                        self.ticketActive.pointDown.pointType = 0;
                    }
                    // cập nhật lại trung chuyển
                    self.ticketActive.transshipmentOffPoint = null;
                    if (self.ticketActive.pointDown.transshipmentId) {
                        $.each(self.route.listPoint[self.indexPointInRoute[indexEndPoint].index].listTransshipmentPoint, function (it, tsmip) {
                            if (tsmip.id === self.ticketActive.pointDown.transshipmentId) {
                                self.ticketActive.transshipmentOffPoint = _.cloneDeep(tsmip);
                            }
                        })
                    }
                    self.updatePrice();
                }
            },
            checkTicketInSeat: function (_indexStartPoint, _indexEndPoint) {
                let self = this;
                let allowChange = true;
                // kiểm tra từ điểm đầu đến điểm cuối ghế này có ai đặt chưa
                let seat = self.ticketActive.seat;
                let seatSlt = null;
                if ((seat.seatType == 3 || seat.seatType == 4)) {
                    try {
                        seatSlt = self.trip.seatMapFake[seat.floor - 1][seat.row - 1][seat.column - 1];
                    } catch (e) {
                        console.warn('updateTicket', e);
                        allowChange = false;
                    }
                }
                let hasTicket = false;
                if (seatSlt) {
                    $.each(seatSlt.tickets, function (t, tk) {
                        if (tk.ticketId !== self.ticketActive.ticketId &&
                            ((self.indexPointInRoute[tk.pointUp.id].index > _indexStartPoint &&
                                self.indexPointInRoute[tk.pointUp.id].index < _indexEndPoint) ||
                                (self.indexPointInRoute[tk.pointDown.id].index > _indexStartPoint &&
                                    self.indexPointInRoute[tk.pointDown.id].index < _indexEndPoint))
                        ) {
                            hasTicket = true;
                            return false;
                        }
                    });
                    if (hasTicket) {
                        allowChange = false;
                    }
                }

                return allowChange;
            },
            updatePrice: function () {
                let self = this;
                let ticketAfterCalculatePrice = calculatePriceTicket(self.ticketActive);

                self.ticketActive.priceSeatAndExtra = _.cloneDeep(ticketAfterCalculatePrice.priceSeatAndExtra);
                self.ticketActive.priceAfterAdult = _.cloneDeep(ticketAfterCalculatePrice.priceAfterAdult);

                self.ticketActive.priceCommission = _.cloneDeep(ticketAfterCalculatePrice.priceCommission);

                self.ticketActive.pricePromotion = _.cloneDeep(ticketAfterCalculatePrice.pricePromotion);

                self.ticketActive.priceTransshipmentUp = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentUp);
                self.ticketActive.priceTransshipmentDown = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentDown);

                self.ticketActive.priceAddition = _.cloneDeep(ticketAfterCalculatePrice.priceAddition);

                self.ticketActive.totalPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);

                self.ticketActive.agencyPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);
                self.updatePriceTotal();
            },
            updatePriceTotal: function () {
                let self = this;
                // cập nhật tổng tiền của tất cả
                let total = {
                    totalPrice: 0,
                    agencyPrice: 0,
                    paidMoney: 0,
                };
                $.each(self.tickets, function (t, tk) {
                    total.totalPrice -= -tk.totalPrice;
                    total.agencyPrice -= -tk.agencyPrice;
                    total.paidMoney -= -tk.paidMoney;
                });
                self.totalPrice = _.cloneDeep(total);
                self.agencyPriceShare = _.cloneDeep(total.agencyPrice);
                self.paidMoneyShare = _.cloneDeep(total.paidMoney);
            },
            autoCompletePhoneNumber: function () {
                let self = this;
                $('#ticketPhoneNumber').autocomplete({
                    source: function (request, response) {
                        sendJson({
                            url: urlDBD(API.searchByPhoneNumber),
                            data: {
                                page: 0,
                                count: 5,
                                phoneNumber: request.term,
                                routeId: self.route.routeId
                            },
                            success: function (data) {
                                response(data.results.customer);
                            }
                        });
                    },
                    delay: 300,
                    cache: false,
                    select: function (event, ui) {
                        if (self.autoFill) {
                            $.each(self.tickets, function (t, ticket) {
                                ticket.phoneNumber = _.cloneDeep(ui.item.companyCustomer.phoneNumber);
                                ticket.email = _.cloneDeep(ui.item.companyCustomer.email || '');
                                ticket.fullName = _.cloneDeep(ui.item.companyCustomer.fullName);
                                ticket.birthday = _.cloneDeep(ui.item.tickets && ui.item.tickets.length > 0 ? ui.item.tickets[0].birthday : '');
                            });
                        } else {
                            self.ticketActive.phoneNumber = _.cloneDeep(ui.item.companyCustomer.phoneNumber);
                            self.ticketActive.email = _.cloneDeep(ui.item.companyCustomer.email || '');
                            self.ticketActive.fullName = _.cloneDeep(ui.item.companyCustomer.fullName);
                            self.ticketActive.birthday = _.cloneDeep(ui.item.tickets && ui.item.tickets.length > 0 ? ui.item.tickets[0] : '');
                        }
                        if (ui.item.tickets && ui.item.tickets.length > 0) {
                            if (ui.item.tickets[0].pointUp.transshipmentId && self.indexPointInRoute[self.ticketActive.startPoint.id] && self.route.listPoint[self.indexPointInRoute[self.ticketActive.startPoint.id].index].listTransshipmentPoint) {
                                $.each(self.route.listPoint[self.indexPointInRoute[self.ticketActive.startPoint.id].index].listTransshipmentPoint, function (p, point) {
                                    if (ui.item.tickets[0].pointUp.transshipmentId == point.id) {
                                        self.ticketActive.transshipmentInPoint = _.cloneDeep(point);
                                    }
                                })
                            }
                            if (ui.item.tickets[0].pointDown.transshipmentId && self.indexPointInRoute[self.endPoint.id] && self.route.listPoint[self.indexPointInRoute[self.endPoint.id].index].listTransshipmentPoint) {
                                $.each(self.route.listPoint[self.indexPointInRoute[self.endPoint.id].index].listTransshipmentPoint, function (p, point) {
                                    if (ui.item.tickets[0].pointDown.transshipmentId == point.id) {
                                        self.ticketActive.transshipmentOffPoint = _.cloneDeep(point);
                                    }
                                })
                            }
                            self.ticketActive.pointUp.transshipmentId = (ui.item.tickets[0].pointUp.transshipmentId || null);
                            self.ticketActive.pointUp.pointType = (ui.item.tickets[0].pointUp.pointType);
                            // self.ticketActive.pointUp.name = (ui.item.tickets[0].pointUp.name);

                            self.ticketActive.pointDown.transshipmentId = (ui.item.tickets[0].pointDown.transshipmentId || null);
                            self.ticketActive.pointDown.pointType = (ui.item.tickets[0].pointDown.pointType);
                            // self.ticketActive.pointDown.name = (ui.item.tickets[0].pointDown.name);

                            self.changePointUpType();
                            self.changePointDownType();
                            self.changePointUpTransshipment();
                            self.changePointDownTransshipment();

                            if (self.autoFill) {
                                $.each(self.tickets, function (t, ticket) {
                                    ticket.pointUp.latitude = (ui.item.tickets[0].pointUp.latitude);
                                    ticket.pointUp.longitude = (ui.item.tickets[0].pointUp.longitude);
                                    ticket.pointUp.address = (ui.item.tickets[0].pointUp.id === self.ticketActive.startPoint.id ? ui.item.tickets[0].pointUp.address : (ui.item.tickets[0].pointDown.id === self.ticketActive.startPoint.id ? ui.item.tickets[0].pointDown.address : self.endPoint.address));
                                    ticket.pointDown.latitude = (ui.item.tickets[0].pointDown.latitude);
                                    ticket.pointDown.longitude = (ui.item.tickets[0].pointDown.longitude);
                                    ticket.pointDown.address = (ui.item.tickets[0].pointDown.id === self.endPoint.id ? ui.item.tickets[0].pointDown.address : (ui.item.tickets[0].pointUp.id === self.endPoint.id ? ui.item.tickets[0].pointUp.address : self.endPoint.address));
                                });
                            } else {
                                self.ticketActive.pointUp.latitude = (ui.item.tickets[0].pointUp.latitude);
                                self.ticketActive.pointUp.longitude = (ui.item.tickets[0].pointUp.longitude);
                                self.ticketActive.pointUp.address = (ui.item.tickets[0].pointUp.id === self.ticketActive.startPoint.id ? ui.item.tickets[0].pointUp.address : (ui.item.tickets[0].pointDown.id === self.ticketActive.startPoint.id ? ui.item.tickets[0].pointDown.address : self.endPoint.address));
                                self.ticketActive.pointDown.latitude = (ui.item.tickets[0].pointDown.latitude);
                                self.ticketActive.pointDown.longitude = (ui.item.tickets[0].pointDown.longitude);
                                self.ticketActive.pointDown.address = (ui.item.tickets[0].pointDown.id === self.endPoint.id ? ui.item.tickets[0].pointDown.address : (ui.item.tickets[0].pointUp.id === self.endPoint.id ? ui.item.tickets[0].pointUp.address : self.endPoint.address));
                            }
                        }
                        return false;
                    }
                }).focus(function () {
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<div class='border-bottom " + (item.companyCustomer.distrust ? 'bg-e' : '') + "'><strong>" + item.companyCustomer.phoneNumber + "</strong> - " + item.companyCustomer.fullName + " , " + self.$t('booked') + " : <span class='text-success'>" + item.companyCustomer.numberOfTickets + "</span> , " + self.$t('canceled') + " <span class='text-danger'>" + item.companyCustomer.numberCancelTicket + "</span></div>")
                        .appendTo(ul);
                };
            },
            autoCompletePlace: function () {
                let self = this;
                let pickUpInput = document.getElementById('pickUpAutoComplete');
                $(pickUpInput).autocomplete({
                    source: function (request, response) {
                        if (self.ticketActive.phoneNumber) {
                            sendJson({
                                url: urlDBD(API.searchByPhoneNumber),
                                data: {
                                    page: 0,
                                    count: 5,
                                    phoneNumber: self.ticketActive.phoneNumber,
                                    address: request.term
                                },
                                success: function (data) {
                                    response(data.results.customer && data.results.customer.length > 0 ? data.results.customer[0].tickets : null);
                                }
                            });
                        } else {
                            response([]);
                        }
                    },
                    delay: 300,
                    minLength: 0,
                    cache: false,
                    select: function (event, ui) {
                        if (self.autoFill) {
                            $.each(self.tickets, function (t, ticket) {
                                ticket.pointUp.address = _.cloneDeep(ui.item ? (ui.item.pointUp.address || ui.item.pointUp.name) : '&nbsp;');
                            });
                        } else {
                            self.ticketActive.pointUp.address = _.cloneDeep(ui.item ? (ui.item.pointUp.address || ui.item.pointUp.name) : '&nbsp;');
                        }
                        $(pickUpInput).blur();
                        return false;
                    }
                }).focus(function () {
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<div class='border-bottom'>" + (item ? (item.pointUp.address || item.pointUp.name) : '&nbsp;') + "</div>")
                        .appendTo(ul);
                };
                // $(pickUpInput).on('keypress',function(){
                //     self.ticketActive.pointUp.latitude = self.startPoint.latitude;
                //     self.ticketActive.pointUp.longitude = self.startPoint.longitude;
                // });
                // let autocompletePick = new google.maps.places.Autocomplete(pickUpInput);
                // autocompletePick.setComponentRestrictions(
                //     {'country': ['vn']});
                // autocompletePick.addListener('place_changed', function () {
                //     let placePick = autocompletePick.getPlace();
                //     if (!placePick.place_id) {
                //         return;
                //     }
                //     let latPick = placePick.geometry.location.lat(),
                //         lngPick = placePick.geometry.location.lng();
                //     if(self.autoFill){
                //         $.each(self.tickets,function(t,ticket){
                //             ticket.pointUp.address = placePick.formatted_address;
                //             ticket.pointUp.latitude = latPick;
                //             ticket.pointUp.longitude = lngPick;
                //         });
                //     }else{
                //         self.ticketActive.pointUp.address = placePick.formatted_address;
                //         self.ticketActive.pointUp.latitude = latPick;
                //         self.ticketActive.pointUp.longitude = lngPick;
                //     }
                //
                // });
                let dropOffInput = document.getElementById('dropOffAutoComplete');
                $(dropOffInput).autocomplete({
                    source: function (request, response) {
                        if (self.ticketActive.phoneNumber) {
                            sendJson({
                                url: urlDBD(API.searchByPhoneNumber),
                                data: {
                                    page: 0,
                                    count: 5,
                                    phoneNumber: self.ticketActive.phoneNumber,
                                    address: request.term
                                },
                                success: function (data) {
                                    response(data.results.customer && data.results.customer.length > 0 ? data.results.customer[0].tickets : null);
                                }
                            });
                        } else {
                            response([]);
                        }
                    },
                    delay: 300,
                    minLength: 0,
                    cache: false,
                    select: function (event, ui) {
                        if (self.autoFill) {
                            $.each(self.tickets, function (t, ticket) {
                                ticket.pointDown.address = _.cloneDeep(ui.item ? (ui.item.pointDown.address || ui.item.pointDown.name) : '&nbsp;');
                            });
                        } else {
                            self.ticketActive.pointDown.address = _.cloneDeep(ui.item ? (ui.item.pointDown.address || ui.item.pointDown.name) : '&nbsp;');
                        }
                        $(dropOffInput).blur();
                        return false;
                    }
                }).focus(function () {
                    $(this).data("ui-autocomplete").search($(this).val());
                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<div class='border-bottom'>" + (item ? (item.pointDown.address || item.pointDown.name) : '&nbsp;') + "</div>")
                        .appendTo(ul);
                };
                // let autocompleteDropOff = new google.maps.places.Autocomplete(dropOffInput);
                // $(dropOffInput).on('keypress',function(){
                //     self.ticketActive.pointDown.latitude = self.endPoint.latitude;
                //     self.ticketActive.pointDown.longitude = self.endPoint.longitude;
                // });
                // autocompleteDropOff.setComponentRestrictions(
                //     {'country': ['vn']});
                // autocompleteDropOff.addListener('place_changed', function () {
                //     let placeDropOff = autocompleteDropOff.getPlace();
                //     if (!placeDropOff.place_id) {
                //         return;
                //     }
                //     let latDropOff = placeDropOff.geometry.location.lat(),
                //         lngDropOff = placeDropOff.geometry.location.lng();
                //     if(self.autoFill){
                //         $.each(self.tickets,function(t,ticket){
                //             ticket.pointDown.address = placeDropOff.formatted_address;
                //             ticket.pointDown.latitude = latDropOff;
                //             ticket.pointDown.longitude = lngDropOff;
                //         });
                //     }else{
                //         self.ticketActive.pointDown.address = placeDropOff.formatted_address;
                //         self.ticketActive.pointDown.latitude = latDropOff;
                //         self.ticketActive.pointDown.longitude = lngDropOff;
                //     }
                // });
            },
            updatePolicyTicket: function (_agency) {
                let self = this;
                let levelInfo = null;
                let policy = {
                    listPromotion: _.cloneDeep(self.ticketActive.policy.listPromotion),
                    addition: null,
                    commission: null,
                };

                let additionApplyForCustomer = null;
                let additionApplyForAgency = null;
                if (self.trip.additions) {
                    $.each(self.trip.additions, function (k, addition) {
                        $.each(addition.listUserType, function (t, type) {
                            if (type == 2) {
                                additionApplyForCustomer = addition;
                            }
                            if (type == 4) {
                                additionApplyForAgency = addition;
                            }
                        })
                    });
                }

                if (_agency) {//nếu tồn tại đại lý.
                    if (_agency.listAgency) {
                        $.each(_agency.listAgency, function (a, lsa) {
                            if (lsa.companyId === self.route.companyId) {
                                levelInfo = lsa;
                                return false;
                            }
                        })
                    }
                    if (levelInfo && self.trip.commissions) {// cập nhật commission đại lý
                        $.each(self.trip.commissions, function (c, com) {
                            if (com.level === levelInfo.level) {
                                policy.commission = com;
                                return false;
                            }
                        });
                    }

                    if (additionApplyForAgency) {
                        policy.addition = _.cloneDeep(additionApplyForAgency);
                    }
                } else {//nếu đại lý == null
                    //  commission thì bằng null
                    policy.commission = null;
                    //thay đổi addition ,
                    if (additionApplyForCustomer) {
                        policy.addition = _.cloneDeep(additionApplyForCustomer);
                    }
                }

                if (this.autoFill) {
                    $.each(self.tickets, function (t, tk) {
                        tk.agency = _agency;
                        tk.policy.addition = policy.addition;
                        tk.policy.commission = policy.commission;
                    });
                    self.updatePriceAll();
                } else {
                    self.ticketActive.agency = _agency;
                    self.ticketActive.policy = policy;
                    self.updatePrice();
                }
            },
            updatePriceAll: function () {
                let self = this;
                let total = {
                    totalPrice: 0,
                    agencyPrice: 0,
                    paidMoney: 0,
                };
                let children = self.route.childrenTicketRatio || 1;
                $.each(self.tickets, function (t, tk) {
                    let ticketAfterCalculatePrice = calculatePriceTicket(tk);

                    tk.priceSeatAndExtra = _.cloneDeep(ticketAfterCalculatePrice.priceSeatAndExtra);
                    tk.priceAfterAdult = _.cloneDeep(ticketAfterCalculatePrice.priceAfterAdult);

                    tk.priceCommission = _.cloneDeep(ticketAfterCalculatePrice.priceCommission);

                    tk.pricePromotion = _.cloneDeep(ticketAfterCalculatePrice.pricePromotion);

                    tk.priceTransshipmentUp = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentUp);
                    tk.priceTransshipmentDown = _.cloneDeep(ticketAfterCalculatePrice.priceTransshipmentDown);

                    tk.priceAddition = _.cloneDeep(ticketAfterCalculatePrice.priceAddition);

                    tk.totalPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);

                    tk.agencyPrice = _.cloneDeep(ticketAfterCalculatePrice.totalPrice);

                    total.totalPrice -= -tk.totalPrice;
                    total.agencyPrice -= -tk.agencyPrice;
                    total.paidMoney -= -tk.paidMoney;
                });
                self.totalPrice = _.cloneDeep(total);
                // self.updatePriceTotal();
            },
            getPoint: function (_pointInfo, _pointRoute, _transshipmentPoint) {
                let pointReturn = {};
                switch (_pointInfo.pointType) {
                    case 0 :
                        pointReturn = {
                            pointType: 0,
                            name: _pointRoute.name,
                            id: _pointRoute.id,
                            latitude: _pointRoute.latitude,
                            longitude: _pointRoute.longitude,
                            address: _pointRoute.address,
                            pointNameAcronym: _pointRoute.pointNameAcronym,
                        };
                        break;
                    case 3 :
                        if (_transshipmentPoint) {
                            pointReturn = {
                                pointType: 3,
                                name: _transshipmentPoint.name,
                                id: _pointInfo.id,
                                latitude: _transshipmentPoint.latitude,
                                longitude: _transshipmentPoint.longitude,
                                address: _transshipmentPoint.address,
                                transshipmentId: _transshipmentPoint.id,
                                transshipmentPrice: (_transshipmentPoint.transshipmentPrice || 0),
                                pointNameAcronym: _pointRoute.pointNameAcronym,
                            };
                        } else {
                            pointReturn = {
                                pointType: 3,
                                name: _pointRoute.name,
                                id: _pointRoute.id,
                                latitude: _pointRoute.latitude,
                                longitude: _pointRoute.longitude,
                                address: _pointRoute.address,
                                pointNameAcronym: _pointRoute.pointNameAcronym,
                            };
                        }
                        break;
                    default :
                        pointReturn = {
                            pointType: _pointInfo.pointType,
                            name: _pointInfo.name,
                            id: _pointInfo.id,
                            latitude: _pointInfo.latitude,
                            longitude: _pointInfo.longitude,
                            address: _pointInfo.address,
                            pointNameAcronym: _pointRoute.pointNameAcronym,
                        };
                        break;
                }
                return pointReturn;
            },
            doSellTicket: function (option, sellNotSeat) {
                // check quyền
                let self = this;
                let data = {
                    tripId: self.trip.tripId,
                    platform: 1,
                }
                func.setHistory({
                    pointTypeUp: self.ticketActive.pointUp.pointType,
                    pointTypeDown: self.ticketActive.pointDown.pointType
                })
                let tks = [];// tickets
                let VNPAY = [];
                let VNPAY_QR = [];
                $.each(self.tickets, function (t, ticket) {
                    let tk = {
                        seatId: ticket.seatId,
                        isAdult: !ticket.isChild,
                        fullName: ticket.fullName,
                        birthday: ticket.birthday,
                        phoneNumber: ticket.phoneNumber,
                        email: ticket.email,
                        image: ticket.image,
                        note: ticket.note,
                        sendSMS: ticket.sendSMS,
                        paymentType: parseInt(ticket.paymentType),
                        foreignKey: ticket.foreignKey,
                        agencyPrice: ticket.agencyPrice,
                        paidMoney: ticket.paidMoney,
                        pointUp: self.getPoint(ticket.pointUp, self.ticketActive.startPoint, ticket.transshipmentInPoint),
                        pointDown: self.getPoint(ticket.pointDown, self.endPoint, ticket.transshipmentOffPoint),
                    }
                    if (typeof ticket.paymentType === 'string' && ticket.paymentType.length > 1) {
                        tk.paymentType = 1;
                    } else {
                        tk.paymentType = parseInt(ticket.paymentType);
                    }
                    if (ticket.paymentType == 'VNPAY_QR') {
                        VNPAY_QR.push(t);
                    }
                    if (ticket.paymentType == 'VNPAY') {
                        VNPAY.push(t);
                    }
                    if (ticket.ticketCode) {
                        tk.ticketCode = ticket.ticketCode;
                    }
                    if (ticket.agency) {
                        tk.agency = {
                            id: ticket.agency.id
                        };
                    }
                    if (option && option == "pay") {
                        if (self.$root.isAgency()) {
                            tk.timeBookHolder = userInfo.timeBookHolder;
                        } else {
                            if (!(ticket.paymentType == 'VNPAY_QR' || ticket.paymentType == 'VNPAY')) {
                                tk.paidMoney = ticket.agencyPrice;
                            }
                        }
                    }
                    if (sellNotSeat) {
                        tk.seatType = 0;
                    }
                    tks.push(tk);
                });
                data.informationsBySeats = tks;
                self.load('sellTicket');
                sendJson({
                    url: urlDBD(API.ticketBook),
                    data: data,
                    success: function (res) {
                        res['print'] = self.printTicketAfterCreate;
                        res['printTemp'] = self.printTicketTempAfterCreate;
                        self.$emit('event', {eventName: 'sell-ticket-success', data: res});
                        self.unload('sellTicket');
                        self.$store.dispatch('Ticket07/UN_LOCK_SEAT');
                        self.$store.dispatch('Ticket07/UN_SELECTED');
                        if (self.ticketSample && !self.ticketSample.calling) {
                            self.$store.commit('SET_TICKET_SAMPLE', null);
                        }
                        if (self.$root.isAgency()) {
                            self.$store.dispatch('SET_AGENCY_DEBT_LIMIT');
                        }
                        if (option && option == 'pay') {
                            let tickets = res.results.listTicket;
                            let idsVNPAY = [];
                            let idsVNPAY_QR = [];
                            $.each(tickets, function (t, tk) {
                                if (VNPAY.includes(t)) {
                                    idsVNPAY.push(tk.ticketId);
                                }
                                if (VNPAY_QR.includes(t)) {
                                    idsVNPAY_QR.push(tk.ticketId);
                                }
                            });
                            if (idsVNPAY_QR.length > 0) {
                                self.$root.$emit('payEvent', {type: 'VNPAY_QR', ids: idsVNPAY_QR});
                            }
                        }
                    },
                    functionIfError: function (err) {
                        self.$emit('event', {eventName: 'sell-ticket-error', data: err});
                        self.unload('sellTicket');
                        if (err.results.error.message.includes('Have seat booked')) {
                            if (confirm("Rất tiếc, có khách đã đặt vào ghế vừa chọn. Bạn có muốn chuyển vé xuống danh sách chờ xếp chỗ không?")) {
                                self.doSellTicket(option, true);
                            }
                        }
                        return false;
                    }
                })
            },
            changeAgencyPrice: function (value) {
                let self = this;
                self.ticketActive.agencyPrice = value;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.agencyPrice = value;
                    });
                }
                self.updatePriceTotal();
            },
            changePaidMoney: function (value) {
                let self = this;
                self.ticketActive.paidMoney = value;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.paidMoney = value;
                    });
                }
                self.updatePriceTotal();
            },
            updateField: function (event, field) {
                let self = this;
                let value = event.target.value;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket[field] = _.cloneDeep(value);
                    });
                } else {
                    self.ticketActive[field] = _.cloneDeep(value);
                }
            },
            changePointUpAddress: function (event) {
                let self = this;
                let value = event.target.value;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.pointUp.address = _.cloneDeep(value);
                        ticket.pointUp.latitude = _.cloneDeep(self.ticketActive.latitude);
                        ticket.pointUp.longitude = _.cloneDeep(self.ticketActive.longitude);
                    });
                } else {
                    self.ticketActive.pointUp.address = _.cloneDeep(value);
                }
            },
            changePointDownAddress: function (event) {
                let self = this;
                let value = event.target.value;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.pointDown.address = _.cloneDeep(value);
                        ticket.pointDown.latitude = _.cloneDeep(self.ticketActive.latitude);
                        ticket.pointDown.longitude = _.cloneDeep(self.ticketActive.longitude);
                    });
                } else {
                    self.ticketActive.pointDown.address = _.cloneDeep(value);
                }
            },
            changeIsChild: function () {
                let self = this;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.isChild = _.cloneDeep(self.ticketActive.isChild);
                    });
                    self.updatePriceAll();
                } else {
                    self.updatePrice();
                }
                self.updatePriceTotal();
            },
            changeSendSMS: function () {
                let self = this;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.sendSMS = _.cloneDeep(self.ticketActive.sendSMS);
                    });
                }
            },
            changePointUpType: function () {
                let self = this;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.pointUp.pointType = _.cloneDeep(self.ticketActive.pointUp.pointType);
                    });
                    self.updatePriceAll();
                } else {
                    self.updatePrice();
                }
            },
            changePointUpTransshipment: function () {
                let self = this;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.transshipmentInPoint = _.cloneDeep(self.ticketActive.transshipmentInPoint);
                    });
                    self.updatePriceAll();
                } else {
                    self.updatePrice();
                }
            },
            changePointDownType: function () {
                let self = this;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.pointDown.pointType = _.cloneDeep(self.ticketActive.pointDown.pointType);
                    });
                    self.updatePriceAll();
                } else {
                    self.updatePrice();
                }
            },
            changePointDownTransshipment: function () {
                let self = this;
                if (self.autoFill) {
                    $.each(self.tickets, function (t, ticket) {
                        ticket.transshipmentOffPoint = _.cloneDeep(self.ticketActive.transshipmentOffPoint);
                    });
                    self.updatePriceAll();
                } else {
                    self.updatePrice();
                }
            },
            sharePaidMoney: function (value) {
                let self = this;
                let numberTicket = self.tickets.length;
                let valueVnd = Math.floor(value / numberTicket / 1000) * 1000;
                let total = 0;
                $.each(self.tickets, function (t, ticket) {
                    if (t == numberTicket - 1) {
                        ticket.paidMoney = (value - total);
                    } else {
                        ticket.paidMoney = valueVnd;
                        total += valueVnd;
                    }
                });
                this.paidMoneyShare = value;
                this.updatePriceTotal();
            },
            shareAgencyPrice: function (value) {
                let self = this;
                let numberTicket = self.tickets.length;
                let valueVnd = Math.floor(value / numberTicket / 1000) * 1000;
                let total = 0;
                $.each(self.tickets, function (t, ticket) {
                    if (t == numberTicket - 1) {
                        ticket.agencyPrice = (value - total);
                    } else {
                        ticket.agencyPrice = valueVnd;
                        total += valueVnd;
                    }
                });
                this.agencyPriceShare = _.cloneDeep(value);
                this.updatePriceTotal();
            },
            removeTicket: function (ticket) {
                let self = this;
                let tks = $.grep(self.tickets, function (tk, t) {
                    return tk.idFake !== ticket.idFake;
                });
                if (tks.length > 0) {
                    if (ticket.idFake === self.ticketActive.idFake) {
                        self.ticketActive = _.first(tks);
                    }
                    self.tickets = tks;
                } else {
                    self.$emit('event', {eventName: 'close-modal-sell'});
                    self.$store.dispatch('Ticket07/UN_LOCK_SEAT');
                }
                self.updatePriceTotal();
            },
            checkTicketInDay: _.debounce(function (phoneNumber) {
                let self = this;
                if (!self.existPhoneNumberInTrip && phoneNumber && phoneNumber.length > 8 && phoneNumber.length < 16) {
                    sendParam({
                        url: urlDBD(API.ticketCheckInDay),
                        type: 'get',
                        data: {
                            phoneNumber: phoneNumber,
                            date: func.dateStr(self.date)
                        },
                        success: function (res) {
                            self.ticketInDay = res.results.data ? res.results.data : null;
                        },
                        error: function (err) {
                            console.warn(err);
                        }
                    })
                }
            }, 300)
        },
        watch: {
            'ticketActive.phoneNumber': function (newVal, oldVal) {
                this.checkTicketInDay(newVal);
            }
        }
    }
</script>