<template>
    <div class="rangleSlider-wrap" :class="{active}">
        <div class="rangleSlider__label" style="margin-bottom: 0;z-index: 2">
            <span class="label-range" style="margin-bottom: 0"><i
                    class="far fa-clock"></i> {{currentValueFormat}}</span>

        </div>

        <div class="rangleSlider">
            <el-slider v-model="valueClone" @change="change" :disabled="disable" :format-tooltip="formatTooltip"
                       :min="min" :max="max"></el-slider>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                default: 0,
            },
            min: {
                default: 0,
            },
            max: {
                default: 24,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            range: {
                type: Boolean,
                default: false,
            },
            active: {
                type: Boolean,
                default: false,
            },
            disable: {
                type: Boolean,
                default: false,
            }
        },
        data() {
            let self = this;
            return {
                valueClone: _.cloneDeep(self.value)
            };
        },
        computed: {
            currentValueFormat: function () {
                if (this.value >= 24) return "23 : 59";
                if (this.value < 10) return "0" + this.value + ' : 00';
                return this.value + ' : 00';
            }
        },
        mounted() {
            let self = this;
            document.querySelector('.el-slider__button').addEventListener('click', () => {
                if (self.value === self.valueClone) {
                    self.$emit('active', !self.active);
                }
            })
        },
        methods: {
            formatTooltip(val) {
                if (val == 24) return "23:59";

                if (val < 10) return "0" + val + ":00";
                return val + ":00";
            },
            change() {
                if (!this.active) {
                    this.$emit('active', !this.active);
                }
                this.$emit('change', this.valueClone);
            }
        },
        watch: {
            value: function (newVal) {
                this.valueClone = newVal;
            }
        }
    };
</script>

<style lang="scss">
    .rangleSlider-wrap {

        .rangleSlider__label span {
            color: #c3c3c3;
        }

        &.active {
            .el-slider {

                &__button {
                    border-color: #409EFFc3;
                    background-color: #409EFFc3;
                }

                &__runway {
                    background-color: #409EFFc3;
                }

                &__bar {
                    background-color: #409EFFc3;
                }

            }

            .rangleSlider__label span {
                color: #333;
            }
        }

        .el-slider {

            &__runway {
                background: #c3c3c3;
                border-radius: 4px;
                height: 4px;
                margin: 0px !important;
            }

            &__button {
                border-color: #c3c3c3;
            }

            &__bar {
                height: 4px;
                background-color: #c3c3c3;
            }
        }
    }

    .rangleSlider__label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .rangleSlider-wrap {
        display: flex;
        align-content: center;
        flex-direction: column;
        margin-left: 15px;
    }

    .rangleSlider-wrap .rangleSlider {
        width: auto;
    }


    .el-slider__button-wrapper {
        height: 32px;
        width: 32px;
        z-index: 1;
        top: -14px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: transparent;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: normal;
    }

    .rangleSlider-wrap .label-range i {
        margin-right: 5px;
    }

    .rangleSlider-wrap .label-range {
        display: flex;
        align-items: center;
        border-radius: 4px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.192px;
        color: #000000;
        margin-bottom: 6px;
    }

    @media only screen and (max-width: 1143px) {
        .rangleSlider-wrap {
            margin-top: 15px;
            margin-left: 50px;
        }
    }
</style>
