<template>
    <div class="w-100">
        <div class="text-center" style="line-height: 50px" v-if="historySeat.length<1">
            {{$t('no-data-available')}}.
        </div>
        <table class="w-100 table-sm table-striped top20" v-else>
            <thead>
            <tr>
                <th>{{$t('time')}}</th>
                <th>{{$t('implementer')}} - (Phòng vé)</th>
                <th>{{$t('action')}}</th>
                <th>{{$t('information')}}</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="(log,l) in historySeat">
                <tr :key="log.createdDate">
                    <td>{{ log.createdDate|customDate('#hhhh#:#mm# #DD#-#MM#-#YYYY#',true) }}</td>
                    <td>{{ log.createdUserName}} {{ log.creator&&log.creator.room ? ('- '+log.creator.room.name):''}}</td>
                    <td>{{getActionName(log.logType)}}</td>
                    <td>
                        <template v-for="(logDetail,ld) in log.logs">
                            - <span v-html="getLogInfo(logDetail)"></span><br>
                        </template>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        data: function () {
            let self = this;
            return {
                historySeat: [],
                loading: false,
                logs: {
                    fullName: function (log) {
                        return self.$t('fullname') + ": <b>" + log.value + '</b>';
                    },
                    phoneNumber: function (log) {
                        return self.$t('phone-number') + ": <b>" + log.value + '</b>';
                    },
                    seatIds: function (log) {
                        return self.$t('seat') + ": <b>" + log.value + '</b>';
                    },
                    pointUp: function (log) {
                        return self.$t('point-up') + ": <b>" + (log.value ? (log.value.pointType == 2 || log.value.pointType == 1 ? log.value.address : log.value.name) : '') + '</b>';
                    },
                    pointDown: function (log) {
                        return self.$t('point-down') + ": <b>" + (log.value ? (log.value.pointType == 2 || log.value.pointType == 1 ? log.value.address : log.value.name) : '') + '</b>';
                    },
                    paymentTicketPrice: function (log) {
                        return self.$t('seat-price') + ": <b>" + self.$options.filters.number(log.value) + '</b>';
                    },
                    routeInfo: function (log) {
                        return self.$t('menu.route') + ": <b>" + (log.value ? (log.value.name || '') : '') + '</b>';
                    },
                    agencyPrice: function (log) {
                        return self.$t('real-revenue') + ": <b>" + self.$options.filters.number(log.value) + '</b>';
                    },
                    paidMoney: function (log) {
                        return self.$t('received') + ": <b>" + self.$options.filters.number(log.value);
                    },
                    ticketStatus: function (log) {
                        return self.$t('filter.ticket-status') + ": <b>" + localData.ticketStatus[(log.value || 0)] + '</b>';
                    },
                    getInTime: function (log) {
                        return self.$t('departure-time') + ": <b>" + self.$options.filters.customDate(log.value, '#hhhh#:#mm# #DD#-#MM#-#YYYY#', true) + '</b>';
                    },
                    note: function (log) {
                        return self.$t('note') + ": <b>" + (log.value || '') + '</b>';
                    },
                    isChecked: function (log) {
                        return "<b>" + log.value ? self.$t('ticket-checked') : self.$t('ticket-uncheck') + '</b>';
                    },
                    numberPlate: function (log) {
                        return self.$t('number-plate') + ": <b>" + (log.value || '') + '</b>';
                    },
                    cashOnTheTrip: function (log) {
                        return 'Tiền lái xe thu' + ": <b>" + self.$options.filters.number(log.value || 0) + '</b>';
                    },
                    callStatus: function (log) {
                        return 'Trạng thái cuộc gọi' + ": <b>" + self.$root.callStatus[log.value].name + '</b>';
                    },
                    agency: function (log) {
                        return self.$t('menu.agency') + ": <b>" + (log.value && log.value.fullName ? log.value.fullName : '') + '</b>';
                    },
                    paymentType: function (log) {
                        let result = ''
                        if(self.$root.paymentTypes[log.value]){
                            result = self.$t('filter.payment-type') + ": <b>" + self.$root.paymentTypes[log.value] + '</b>';
                        }
                        return result;
                    },
                    cancelFee: function (log) {
                        return self.$t('cancel-fee') + ": <b>" + self.$options.filters.number(log.value || 0) + '</b>';
                    },
                    room: function (log) {
                        return self.$t('room') + ": <b>" + (log.value ? (log.value.name || '') : '') + '</b>';
                    },
                    foreignKey: function (log) {
                        return self.$t('foreignKey') + ": <b>" + (log.value ? log.value : '') + '</b>';
                    },
                }
            }
        },
        methods: {
            getRoomName: function (log) {
                let room = log.find(element => element.field === 'room');
                return room && room.value ? ` - ${room.value.name}` : '';
            },
            getSeatHistory: function (tripId, seatId) {
                let self = this;
                self.historySeat = [];
                self.load('getSeatHistory');
                sendJson({
                    url: urlDBD(API.ticketHistorySeat),
                    data: {
                        tripId: tripId,
                        seatId: seatId,
                    },
                    success: function (data) {
                        self.historySeat = data.results.logs;
                        self.unload('getSeatHistory');
                    },
                    functionIfError: function (err) {
                        self.unload('getSeatHistory');
                    }
                })
            },
            getTicketHistory: function (ticketId) {
                let self = this;
                self.historySeat = [];
                self.load('getTicketHistory');
                sendJson({
                    url: urlDBD(API.ticketHistory),
                    data: {
                        ticketId: ticketId
                    },
                    success: function (data) {
                        self.historySeat = data.results.logs;
                        self.unload('getTicketHistory');
                    },
                    functionIfError: function (err) {
                        self.unload('getTicketHistory');
                    }
                })
            },
            getActionName: function (type) {
                console.log(type)
                let act = this.$t('update-information');
                switch (type) {
                    case 1 :
                        act = this.$t('create-ticket');
                        break;
                    case 2 :
                        act = this.$t('update-information').toUpperCase();
                        break;
                    case 3 :
                        act = this.$t('add-seat');
                        break;
                    case 4 :
                        act = this.$t('cancel-seat');
                        break;

                    case 5 :
                        act = this.$t('tranfer-seat');
                        break;
                    case 6 :
                        act = this.$t('revert');
                        break;
                    case 7 :
                        act = this.$t('tranfer-seat');
                        break;
                    case 8 :
                        act = this.$t('transfer-transshipment');
                        break;
                    case 9:
                        act = this.$t('print-ticket');
                        break;
                    case 11:
                        act = this.$t('ticket-inprocess');
                        break;
                    default :
                        act = this.$t('create-ticket');
                }
                return act;
            },
            getLogInfo: function (log) {
                let self = this;
                if (self.logs[log.field]) {
                    return self.logs[log.field](log);
                } else {
                    if (typeof log.value === "object") {
                        return log.field
                    } else {
                        return log.field + " : " + log.value;
                    }
                }
            }
        }
    }
</script>
