<template>
    <div class="col-4 col-md-3 col-lg-2">
        <div :class="['tripOption','position-relative',trip._printedTickets?'bg-printed':'bg-e',trip && tripX && trip.tripId == tripX.tripId ? 'active' : '']"
             @click="$store.dispatch('Ticket07/SET_TRIP',trip.tripId)">
            <div class="row no-gutters">
                <div class="col-auto time">
                    {{(config_data.showStartTimeReality?trip.startTimeReality:(trip.startTimeReality+routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend))|customDate('#hhhh#:#mm#',true)}}
                </div>
                <div class="col text-right">
                    <span class="numberPlate" v-if="trip.vehicle">{{ trip.vehicle.numberPlate }}</span>
                    <span class="bt-print" v-if="trip._printedTickets"></span>

                    <el-tooltip class="item" effect="dark" content="Ghế ngồi" placement="top"
                                v-if="trip.vehicle.vehicleType === 1">
                        <span class="vehicle-type vehicle-1"></span>
                    </el-tooltip>

                    <el-tooltip class="item" effect="dark" content="Giường nằm" placement="top"
                                v-if="trip.vehicle.vehicleType === 0">
                        <span class="vehicle-type vehicle-0"></span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="Ghế ngồi limousine" placement="top"
                                v-if="trip.vehicle.vehicleType === 2">
                        <span class="vehicle-type vehicle-2"></span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="Giường nằm limousine" placement="top"
                                v-if="trip.vehicle.vehicleType === 3">
                        <span class="vehicle-type vehicle-3"></span>
                    </el-tooltip>

                    <el-tooltip class="item" effect="dark" content="Phòng VIP (cabin)" placement="top"
                                v-if="trip.vehicle.vehicleType === 4">
                        <span class="vehicle-type vehicle-4"></span>
                    </el-tooltip>
                </div>
            </div>
            <div class="row no-gutters bg-white" style="line-height: 12px;padding:2px 2px 0 5px;min-height: 27px">
                <div class="w-100 driver" v-if="trip.drivers&&trip.drivers.length>0" :title="$t('filter.driver')">
                    <template v-for="driver in trip.drivers">
                        <span :title="driver.phoneNumber">{{driver.fullName}}</span>,
                    </template>
                </div>
                <div class="w-100 assistant text-right" v-if="trip.assistants&&trip.assistants.length>0" title="Phụ xe">
                    <template v-for="assistant in trip.assistants">
                        <span style="font-size:12px" :title="assistant.phoneNumber">{{assistant.fullName}}</span>,
                    </template>
                </div>
            </div>
            <div class="q-progress-bar">
                <div class="probar"
                     :style="{'width':Math.ceil((trip.totalSeat-trip.totalEmptySeat)*100/trip.totalSeat)+'%','background':trip.totalEmptySeat==0?'red':'#4caf50'}"></div>
                <div class="textbar" v-if="!companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">{{$t('empty')}} : {{ trip.totalEmptySeat }}</div>
                <div class="textbar" v-if="companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">Đã bán : {{ trip.totalSeat-trip.totalEmptySeat }}</div>
            </div>
            <img v-if="trip.tripStatus==2" src="/public/images/daxuatben.png" class="position-absolute"
                 style="top:30%;right:0;max-width: 30%;max-height: 100%" alt="">
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';

    export default {
        props: ['trip'],
        computed: {
            ...mapState('Ticket07', {
                tripX: state => state.trip,
                startPoint: state => state.startPoint,
                routes: state => state.routes,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ...mapGetters('Ticket07', [
                'mapRoutes'
            ]),
            ...mapState({
                config_data: state => state.config_data,
            })
        }
    }
</script>
