<template>
  <div style="position: relative">
    <div @click="$emit('click')"
        class="trip--lg trip"
        :class="{
        'active': tripX !== null && tripX && tripX.tripId == trip.tripId,
        'full': trip.totalEmptySeat == 0,
        'empty': trip.totalEmptySeat == trip.totalSeat,
        'printed': printed,
        'opened': trip.tripStatus == 2
        }"
        :style="{background: trip.color ? `${trip.color}` : 'white'}"
    >
      <img v-if="tripX !== null && tripX && tripX.tripId == trip.tripId" src="/public/images/checkTrip.png" class="position-absolute"
           style="top: 28%;right: 45px;width: 35%;max-height: 100%;" alt="">
      <div class="trip__head">
        <h3
          class="trip__time"
        >{{(showTimeMode?trip.startTimeReality:(trip.startTimeReality+routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend))|customDate('#hhhh#:#mm#',true)}}</h3>
        <p class="trip__seat" v-if="!companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate" >
          <span class="empty">{{ trip.totalEmptySeat ? trip.totalEmptySeat : 0 }}</span>
          <i>/</i>
          <span class="total">{{ trip.totalSeat ? trip.totalSeat : 0 }}</span>
        </p>
        <p class="trip__seat" v-if="companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">
          <span class="empty">{{ trip.totalSeat && trip.totalEmptySeat != null && trip.totalEmptySeat != "undefined"? trip.totalSeat - trip.totalEmptySeat : 0 }}</span>
          <i> / </i>
          <span class="total">{{ trip.totalSeat ? trip.totalSeat : 0 }}</span>
        </p>
      </div>
      <div class="trip__route" v-if="showTripCodeMode">
        <p>{{ trip.code || trip.route.nameShort }}</p>
      </div>
      <div class="trip__route" v-if="!trip.code && !trip.route.nameShort ">
        <p><br></p>
      </div>
      <div class="trip__driver" v-if="!showTripCodeMode">
        <!-- <div class="trip__driver--item" :class="[trip.tripType===4?'text-danger':'']">
          <span>T:</span>
          <p v-if="trip.drivers && trip.drivers.length > 0">
            <i v-for="(driver,index) in trip.drivers" :key="index">
              {{ driver.fullName }}
              <br />
            </i>
          </p>
          <p v-else>Chờ cập nhật</p>
        </div>
        <div class="trip__driver--item" v-if="!companyConfig.CONFIG.DISPLAY_TRIP_CODE.value">
          <span>P:</span>
          <p v-if="trip.assistants && trip.assistants.length > 0">
            <i v-for="(assistant,index) in trip.assistants" :key="index">
              {{ assistant.fullName }}
              <br />
            </i>
          </p>
          <p v-else>Chờ cập nhật</p>
        </div> -->
        <span class="code">{{trip.code ? trip.code : ''}}</span>
        <!--<span class="total-seat">{{trip.totalGoods ? trip.totalGoods : 0}}</span>-->
      </div>
      <div class="trip__vehicle">
        <!-- <el-tooltip class="item" effect="dark" content="Ghế ngồi" placement="top"
                        v-if="trip.vehicle.vehicleType === 1">
                <span class="icon vehicle-type vehicle-1"></span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Giường nằm" placement="top"
                        v-if="trip.vehicle.vehicleType === 0">
                <span class="icon vehicle-type vehicle-0"></span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Ghế ngồi limousine" placement="top"
                        v-if="trip.vehicle.vehicleType === 2">
                <span class="icon vehicle-type vehicle-2"></span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Giường nằm limousine" placement="top"
                        v-if="trip.vehicle.vehicleType === 3">
                <span class="icon vehicle-type vehicle-3"></span>
            </el-tooltip>

            <el-tooltip class="item" effect="dark" content="Phòng VIP (cabin)" placement="top"
                        v-if="trip.vehicle.vehicleType === 4">
                <span class="icon vehicle-type vehicle-4"></span>
        </el-tooltip>-->

        <!-- <span class="icon vehicle-type vehicle-4"></span> -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M5.13331 3.94998L7.99998 1.08331C8.58331 0.49998 9.41665 0.49998 9.99998 1.08331L12.8666 3.94998L8.99998 7.82498L5.13331 3.94998ZM14.05 5.13331L10.175 8.99998L14.05 12.8666L16.9166 9.99998C17.4166 9.41665 17.4166 8.58331 16.9166 7.99998L14.05 5.13331ZM3.94998 12.8666L7.82498 8.99998L3.94998 5.13331L1.08331 7.99998C0.49998 8.58331 0.49998 9.41665 1.08331 9.99998L3.94998 12.8666ZM8.99998 10.175L5.13331 14.05L7.99998 16.9166C8.58331 17.5 9.41665 17.5 9.99998 16.9166L12.8666 14.05L8.99998 10.175Z"
            fill="#232731"
          />
        </svg>
        <span
            class="number_plate"
            :title="trip.payed?'Đã thanh toán hết':'Chưa thanh toán hết'"
            :style="{color : trip.payed?'#011a38':'#F39B13'}"
        >
            {{ trip.vehicle.numberPlate|cutString(12) }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  props: ["trip"],
  data() {
    return {
      printed: false,
    };
  },
  computed: {
    ...mapState("Ticket07", {
      tripX: (state) => state.trip,
      startPoint: (state) => state.startPoint,
      routes: (state) => state.routes,
      showRouteName: (state) => state.showRouteInTripItem,
    }),
    ...mapState({
      companyConfig: (state) => state.CompanyConfig.companyConfig,
    }),
    ...mapGetters("Ticket07", ["mapRoutes"]),
    ...mapState({
      config_data: (state) => state.config_data,
      companyConfig: (state) => state.CompanyConfig.companyConfig,
    }),
    showTimeMode: function () {
      if (this.companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.value) {
        return this.companyConfig.CONFIG.DISPLAY_TIME_AT_FIRST_POINT.value;
      }
      return this.config_data.showStartTimeReality;
    },
    showTripCodeMode: function () {
      if (this.companyConfig.CONFIG.SYNC_CONFIG_SELL_FORM.value) {
        return this.companyConfig.CONFIG.DISPLAY_TRIP_CODE.value;
      }
      return this.showRouteName;
    },
  },
  watch: {
    trip: {
      handler: function (trip) {
        if (trip._printedTickets) {
          this.printed = true;
        } else {
          this.printed = false;
        }
      },
      deep: true,
    },
  },
};
</script>
