<template>
    <!-- <div> -->
        <div class="grid-container item trip--small trip"
            @click="$emit('click')"
            :class="{'active': tripX&&tripX.tripId === trip.tripId,
                'full': trip.totalEmptySeat == 0,
                'printed': printed,
                'empty': trip.totalEmptySeat == trip.totalSeat,
                'opened': trip.tripStatus == 2 }"
            :style="{background: trip.color ? `${trip.color}` : 'inherite'}"
        >
            <span class="trip--time time">
                {{(config_data.showStartTimeReality?trip.startTimeReality:(trip.startTimeReality+routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend))|customDate('#hhhh#:#mm#',true)}}
            </span>
            <div class="trip--seat seatInfo">
                <span class="seat--empty">
                    {{
                        !companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate
                            ? trip.totalEmptySeat
                            : (trip.totalSeat - trip.totalEmptySeat)
                    }}
                </span>
                <i class="xoet">/</i>
                <span class="seat--total">{{trip.totalSeat}}</span>
            </div>
            <div class="trip--seat seatInfo" v-if="tripX !== null && tripX && tripX.tripId == trip.tripId">
                <img v-if="tripX !== null && tripX && tripX.tripId == trip.tripId" src="/public/images/checkTrip.png" class="position-absolute"
                     style="top: 2%;right: 42px;width: 25%;height: 80%;" alt="">
            </div>
        </div>
        <!-- <div class="trip--small trip"
            @click="$emit('click')"
            :class="{'active': tripX&&tripX.tripId === trip.tripId,
                'full': trip.totalEmptySeat == 0,
                'printed': printed,
                'empty': trip.totalEmptySeat == trip.totalSeat,
                'opened': trip.tripStatus == 2 }">
            <h3 class="trip--time">
                {{(config_data.showStartTimeReality?trip.startTimeReality:(trip.startTimeReality+routes[mapRoutes[trip.route.id].index].listPoint[mapRoutes[trip.route.id].mapPoints[startPoint.id].index].timeIntend))|customDate('#hhhh#:#mm#',true)}}
            </h3>
            <div class="trip--seat" v-if="!companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">
                <span class="seat--empty">{{trip.totalEmptySeat}}</span><i>/</i><span
                    class="seat--total">{{trip.totalSeat}}</span>
            </div>
            <div class="trip--seat" v-if="companyConfig.CONFIG.SHOWNUMBERSOLDSEAT.valueUpdate">
                <span class="seat--empty">{{trip.totalSeat - trip.totalEmptySeat}}</span><i>/</i><span
                    class="seat--total">{{trip.totalSeat}}</span>
            </div>
        </div> -->
    <!-- </div> -->
    
</template>

<script>
    import {mapGetters, mapState} from 'vuex';

    export default {
        props: ['trip'],
        data() {
            return {
                printed: false
            }
        },
        computed: {
            ...mapState('Ticket07', {
                tripX: state => state.trip,
                startPoint: state => state.startPoint,
                routes: state => state.routes,
            }),
            ...mapState({
                companyConfig: state => state.CompanyConfig.companyConfig,
            }),
            ...mapGetters('Ticket07', [
                'mapRoutes'
            ]),
            ...mapState({
                config_data: state => state.config_data,
            })
        },
        mounted() {
        },
        watch: {
            trip: {
                handler: function(trip) {
                    if(trip._printedTickets) {
                        this.printed = true
                    } else {
                        this.printed = false
                    }
                },
                deep: true
            }
        }
    }
</script>
<style lang="scss" scoped>
.grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item {
    border: 1px solid #646D84;
    .time {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.466667px;
        color: #084388;
        padding: 6px 3px;
    }
    .seatInfo {
        display: flex;
        line-height: 1.3;
        .xoet {
            margin: 0px 4px 0px 0px;
        }
    }
}
</style>