<template>
    <div class="row">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto">
                    {{$t('promotion-code')}}
                </div>
                <div class="col text-right">
                    <button class="btn btn-success btn-sm" @click="openModalAdd()"  v-if="$root.roles.PERMISSION_CREATE">
                        <i class="fa fa-plus"></i> {{$t('button.creat-code')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-sm table-striped table-respon">
                <tbody>
                    <tr>
                        <th>{{$t('promotion-code')}}</th>
                        <th>{{$t('discount-level')}}</th>
                        <th>{{$t('intended-for')}}</th>
                        <th>{{$t('start-date')}}</th>
                        <th>{{$t('end-date')}}</th>
                        <th>{{$t('note')}}</th>
                        <th class="text-center">{{$t('status')}}</th>
                        <th class="text-right">{{$t('action')}}</th>
                    </tr>
                    <tr v-if="promotions.length<=0">
                        <td colspan="7">{{$t('no-data-available')}}</td>
                    </tr>
                    <template v-for="(promotion,p) in promotions" v-if="promotion.isAtive">
                        <tr>
                            <td class="font-weight-bold">**********</td><!--{{promotion.promotionCode}}-->
                            <td><template v-if="promotion.price>=0">{{ promotion.price|number }} VND</template><template v-else>{{promotion.percent*100}} %</template></td>
                            <td>{{getPromotionType(promotion.promotionType)}}</td>
                            <td>{{promotion.startDate|strToDate}}</td>
                            <td>{{promotion.endDate|strToDate}}</td>
                            <td>{{promotion.note}}</td>
                            <td class="text-center"><template v-if="promotion.isAtive"><i class="fa fa-check text-success"></i></template><template v-else><i class="fa fa-times text-danger"></i></template></td>
                            <td class="text-right">
                                <button class="btn btn-primary btn-sm" @click="openModalUpdate(promotion)"><i class="fa fa-edit"></i> Sửa</button>
                                <button class="btn btn-danger btn-sm" @click="deletePromotion(promotion.promotionId)"  v-if="$root.roles.PROMOTION_DELETE"><i class="fa fa-trash"></i> {{$t('button.delete')}}</button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalAddPromotion" tabindex="-1" role="dialog" aria-labelledby="modalAddPromotion" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"> {{$t('create-promotion-code')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <add-promotion ref="AddPromotionComponent" @event="AddPromotionEvent"></add-promotion>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddPromotionComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdatePromotion" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePromotion" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"> {{$t('update-promotion-code')}} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <update-promotion ref="UpdatePromotionComponent" :row="row" @event="UpdatePromotionEvent"></update-promotion>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdatePromotionComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddPromotion from './AddPromotion.vue';
    import UpdatePromotion from './UpdatePromotion.vue';
    export default {
        components : {AddPromotion,UpdatePromotion},
        data : function () {
            return {
                row: '',
                promotions : [],
            }
        },
        mounted : function(){
            this.getPromotions();
        },
        methods : {
            getPromotions : function () {
                let self = this;
                self.load('getPromotions');
                sendJson({
                    url : urlDBD(API.promotionList),
                    data : {
                        page : 0,
                        count :30,
                    },
                    success : function (data) {
                        self.promotions = data.results.result;
                        self.unload('getPromotions');
                    },
                    functionIfError : function (err) {
                        self.unload('getPromotions');
                    }
                })
            },
            openModalAdd : function () {
                this.$refs.AddPromotionComponent.refresh();
                $(this.$el).find('#modalAddPromotion').modal('show');
            },
            AddPromotionEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getPromotions();
                        $(this.$el).find('#modalAddPromotion').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            openModalUpdate : function (promotion) {
                let self = this;
                setTimeout(function () {
                    self.$refs.UpdatePromotionComponent.refresh(promotion);
                }, 200);

                promotion.startDate = promotion.startDate.toString()
                promotion.endDate = promotion.endDate.toString()
                this.row = _.cloneDeep(promotion);
                $(this.$el).find('#modalUpdatePromotion').modal('show');
            },
            UpdatePromotionEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getPromotions();
                        $(this.$el).find('#modalUpdatePromotion').modal('hide');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            getPromotionType : function(type){
                let str = "Chưa xác định";
                switch (type){
                    case 1 :
                        str = "Tất cả khách hàng";
                        break;
                    case 2 :
                        str = "Khách hàng mới";
                        break;
                    case 3 :
                        str = "Khách hàng thân thiết";
                        break;
                    case 4 :
                        str = "Đại lý";
                        break;
                    default : break;
                }
                return str;
            },
            deletePromotion :function (id) {
                let self = this;
                if(!confirm(this.$t('confirm-delete'))){
                    return false;
                }
                self.load('deletePromotion');
                sendJson({
                    url : urlDBD(API.promotionDelete),
                    data : {
                        promotionId : id
                    },
                    success : function (data) {
                        self.getPromotions();
                        self.unload('deletePromotion');
                    },
                    functionIfError : function (err) {
                        self.unload('deletePromotion');
                    }
                })
            }
        }
    }
</script>
