<template>
    <div class="w-100">
        <div class="row">
            <div class="col-12 form-group">
                <label class="font-weight-normal">* Mã khuyến mãi</label>
                <input type="text" class="form-control" placeholder="Mã khuyến mãi" v-model="row.promotionCode" pattern="^[A-Za-z0-9_.]+$">
            </div>
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col">
                        <label class="w-100 font-weight-normal">* Giá trị</label>
                        <div class="row no-gutters">
                            <div class="col">
                                <input-number v-model="row.price" class="form-control" placeholder="Giá trị"></input-number>
                                <!--<input type="text" v-model="promotionValue" class="form-control" placeholder="Giá trị" pattern="^[0-9]+$">-->
                            </div>
                            <div class="col-auto">
                                <select v-model="promotionMode" class="form-control">
                                    <option value="1">VND</option>
                                    <option value="2">%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="font-weight-normal">Số lần sử dụng</label>
                        <input type="text" class="form-control" v-model="row.number" placeholder="Bỏ trống là không giới hạn số lần" pattern="^[0-9]+$">
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col">
                        <label class="font-weight-normal">Ngày bắt đầu</label>
                        <!--<datepicker v-model="row.startDate"></datepicker>-->
                        <el-date-picker
                                class="w-100"
                                v-model="row.startDate"
                                type="date"
                                format="dd-MM-yyyy"
                                value-format="yyyyMMdd"
                                placeholder="Chọn ngày">
                        </el-date-picker>
                    </div>
                    <div class="col">
                        <label class="font-weight-normal">Ngày kết</label>
                        <!--<datepicker v-model="row.endDate"></datepicker>-->
                        <el-date-picker
                                class="w-100"
                                v-model="row.endDate"
                                type="date"
                                format="dd-MM-yyyy"
                                value-format="yyyyMMdd"
                                placeholder="Chọn ngày">
                        </el-date-picker>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col">
                        <label class="font-weight-normal">Dành cho</label>
                        <select v-model="row.promotionType" class="form-control">
                            <option value="1">Tất cả</option>
                            <option value="2">Khách hàng mới</option>
                            <option value="3">Khách hàng thân thiết</option>
                            <option value="4">Đại lý</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="font-weight-normal">Tiền mua tối thiểu</label>
                        <input-number class="form-control" v-model="row.minPriceApply"></input-number>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <label class="font-weight-normal">Thứ áp dụng</label>
                <div class="row">
                    <template v-for="(day,index) in days">
                        <div class="col">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" :value="index" :id="'day-'+index" v-model="row.daysOfWeekApplied">
                                <label class="form-check-label font-weight-normal" :for="'day-'+index">{{ day}} </label>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-12 form-group">
                <label class="font-weight-normal">Tuyến áp dụng</label>
                <select-route v-model="routes" :multiple="true" allowClear="true"></select-route>
            </div>
            <div class="col-12 form-group">
                <label class="font-weight-normal">Xe áp dụng</label>
                <select-vehicle v-model="vehicles" :multiple="true" allowClear="true"></select-vehicle>
            </div>
            <div class="col-12 form-group">
                <label class="font-weight-normal">Mô tả</label>
                <textarea rows="3" class="form-control" v-model="row.note"></textarea>
            </div>
        </div>
    </div>
</template>
<script>
    import SelectRoute from '../../Route/SelectRoute.vue';
    import SelectVehicle from '../../Vehicle/SelectVehicle.vue';
    export default {
        components : {SelectRoute,SelectVehicle},
        props : ['promotion', 'row'],
        data : function () {
            return {
                days : {
                    1 : 'T2',
                    2 : 'T3',
                    3 : 'T4',
                    4 : 'T5',
                    5 : 'T6',
                    6 : 'T7',
                    7 : 'CN',
                },
                daysOfWeekApplied : [1,2,3,4,5,6,7],
                routes : null,
                vehicles : null,
                startDate : 1592362231121,
                endDate : 1592362235000,
                promotionCode : '',
                promotionValue : '',
                promotionMode : 1,
                promotionType : 1,// for user,agency
                minPriceApply : 0,
                number : '',
                note : '',
            }
        },
        methods : {
            refresh : function (promotion) {
                let self = this;
                console.log(promotion)
                self.routes = promotion.route;
                self.vehicles = promotion.vehicles;
                self.startDate = new Date().customFormat('#DD#-#MM#-#YYYY#');
                self.endDate = '';
                self.promotionCode = '';
                self.promotionValue = '';
                self.promotionMode = promotion.price >= 0 ?1:2;
                self.row.price = promotion.price >= 0 ? promotion.price : promotion.percent*100
                self.row.number = promotion.number >= 0 ? promotion.number : 'Không giới hạn'
                self.promotionType = 1;
                self.minPriceApply = 0;
                self.number = '';
                self.note = '';
            },
            save : function () {
                let self = this;
                let param = {
                    promotionId : self.row.promotionId,
                    promotionCode : self.row.promotionCode,
                    note : self.row.note,
                    number : self.row.number == 'Không giới hạn' ? -1 : self.row.number,
                    promotionType : self.row.promotionType,
                    minPriceApply : self.row.minPriceApply,
                    daysOfWeekApplied : self.row.daysOfWeekApplied,
                }
                if(self.row.startDate){
                    // param.startDate = func.dateToMS(self.row.startDate);
                    let a = self.row.startDate.toString().split('')
                    a.splice(4, 0, "-")
                    a.splice(7, 0, "-")
                    let b = a.join('')
                    let date = b
                    date = date.split('-')
                    let ms = date[0] + '/' + date[1] + '/' + date[2];
                    let d = new Date(ms).getTime();
                    param.startDate = d
                }
                if(self.row.endDate){
                    param.endDate = func.dateToMS(self.row.endDate);
                    let a2 = self.row.endDate.toString().split('')
                    a2.splice(4, 0, "-")
                    a2.splice(7, 0, "-")
                    let b2 = a2.join('')
                    let date2 = b2
                    date2 = date2.split('-')
                    let ms2 = date2[0] + '/' + date2[1] + '/' + date2[2];
                    let d2 = new Date(ms2).getTime();
                    param.endDate = d2
                }
                if(!self.row.number){
                    data.number=-1;
                }
                if(self.promotionMode==1){
                    param.price = self.row.promotionValue;
                }else{
                    param.percent = self.row.promotionValue/100;
                }
                let subjects = {};
                let vehicleIds = {};
                $.each(self.vehicles,function (v,vehicle) {
                    vehicleIds[vehicle.vehicleId] = {};
                })
                $.each(self.routes,function (s,route) {
                    subjects[route.routeId] = vehicleIds
                });
                param.subjects = subjects;
                self.load('createPromotion');
                sendJson({
                    url : urlDBD(API.promotionUpdate),
                    data: param,
                    success : function (data) {
                        self.$emit('event',{eventName : 'saveSuccess',data : data});
                        self.unload('createPromotion');
                    },
                    functionIfError : function (err) {
                        self.unload('createPromotion');
                        self.$emit('event',{eventName : 'saveError',data : err});
                    }
                })
            }
        }
    }
</script>