<template>
    <div class="w-100">
        <div class="row">
            <div class="col-12 form-group">
                <label class="font-weight-normal"> {{$t('name')}} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" :placeholder="$t('name')" v-model="name">
            </div>
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col">
                        <label class="w-100 font-weight-normal"> {{$t('type-customer')}} <span class="text-danger">*</span></label>
                        <div class="row no-gutters">
                            <div class="col-auto w-100">
                                <select v-model="type" class="form-control">
                                    <option value="1">{{$t('by-revenue')}}</option>
                                    <option value="2">{{$t('by-ticket-number-booking')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <label class="font-weight-normal">{{$t('value')}} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" :placeholder="$t('value')" v-model="value" pattern="^[0-9_.]+$">
            </div>
            <div class="col-12 form-group">
                <label class="font-weight-normal"> {{$t('levels')}} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" :placeholder="$t('levels')" v-model="level" pattern="^[0-9_.]+$">
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data : function () {
            return {
               name : '',
               type : 1,
               value : '',
               level : '',
            }
        },
        methods : {
            refresh : function () {
                this.name = null;
                this.value = null;
                this.level = null;
            },
            save : function () {
                let self = this;
                let param = {
                    customerTypeName : self.name,
                    conditionAchieveType : self.type,
                    conditionAchieveValue : self.value,
                    index : self.level,
                }
                self.load('createCustomerType');
                sendJson({
                    url : urlDBD(API.customerTypeCreate),
                    data: param,
                    success : function (data) {
                        self.$emit('event',{eventName : 'saveSuccess',data : data});
                        self.unload('createCustomerType');
                    },
                    functionIfError : function (err) {
                        self.unload('createCustomerType');
                        self.$emit('event',{eventName : 'saveError',data : err});
                    }
                })
            }
        }
    }
</script>