<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col-auto text-uppercase">
                    {{$t('list-type-customer')}}
                </div>
                <div class="col text-right">
                    <button class="btn btn-success btn-sm" v-if="$root.roles.CUSTOMER_GET_LIST" @click="openModalAdd()"><i class="fa fa-plus-circle"></i> {{$t('create-type-customer')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 top10">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>{{$t('No-')}}</th>
                        <th>{{$t('name')}}</th>
                        <th>{{$t('menu.customer-type')}}</th>
                        <th class="text-center">{{$t('value')}}</th>
                        <th class="text-center">{{$t('levels')}}</th>
                        <th class="text-right">{{$t('option')}}</th>
                    </tr>
                </thead>
                <tbody v-if="types">
                    <tr v-if="types.length<1">
                        <td colspan="7" class="text-center">{{$t('no-data-available')}}</td>
                    </tr>
                    <template v-for="(type,index) in types">
                        <tr>
                            <td class="text-center">{{ index+1 + page*count }}</td>
                            <td>{{ type.customerTypeName }}</td>
                            <td>
                                <span v-if="type.conditionAchieveType == 1">{{$t('by-revenue')}}</span>
                                <span v-else-if="type.conditionAchieveType == 2">{{$t('by-ticket-number-booking')}}</span>
                                <span v-else></span>
                            </td>
                            <td class="text-center">{{ type.conditionAchieveValue|number }}</td>
                            <td class="text-center">{{ type.index }}</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary" @click="openModalUpdateType(type)" :title="$t('button.edit')"><i class="fa fa-edit"></i></button>&nbsp;
                                <button class="btn btn-sm btn-danger" @click="deleteType(type.id)" :title="$t('button.delete')"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalAdd" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('create-type-customer')}} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <add-type ref="AddTypeComponent" @event="AddTypeEvent"></add-type>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddTypeComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdate" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('update-type-customer')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <update-type ref="UpdateTypeComponent" @event="UpdateTypeEvent"></update-type>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateTypeComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddType from './AddType.vue';
    import UpdateType from './UpdateType.vue';

    export default {
        components: {AddType, UpdateType},
        data : function () {
            return {
                types: [],
                page : 0,
                count : func.countSearch(),
            }
        },
        mounted : function(){
            this.getType();
        },
        methods : {
            getType : function () {
                let self = this;
                self.load('getTypes');
                sendJson({
                    url : urlDBD(API.customerTypeList),
                    data : {
                        page : 0,
                        count :30,
                    },
                    success : function (data) {
                        self.types = data.results.listCustomerType;
                        self.unload('getTypes');
                    },
                    functionIfError : function (err) {
                        self.unload('getTypes');
                    }
                })
            },
            openModalAdd: function(){
                this.$refs.AddTypeComponent.refresh();
                $(this.$el).find('#modalAdd').modal('show');
            },
            openModalUpdateType: function(type){
                this.$refs.UpdateTypeComponent.refresh(type);
                $(this.$el).find('#modalUpdate').modal('show');
            },
            AddTypeEvent: function(event){
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getType();
                        $(this.$el).find('#modalAdd').modal('hide');
                        notify(id('notify.add-new-success'),'success');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            UpdateTypeEvent : function (event) {
                let self = this;
                switch (event.eventName) {
                    case 'saveSuccess' :
                        self.getType();
                        $(self.$el).find('#modalUpdate').modal('hide');
                        notify(this.$t('notify.update-success'),'success');
                        break;
                    case 'saveError' :
                        break;
                    default :
                        break;
                }
            },
            deleteType : function (id) {
                let self = this;
                if(!confirm(this.$t('confirm-delete-type-customer'))){
                    return false
                }
                self.load('deleteType');
                sendJson({
                    url : urlDBD(API.customerTypeDelete),
                    data : {
                        id : id
                    },
                    success : function (data) {
                        notify(self.$t('notify.delete-success'),'success');
                        self.getType();
                        self.unload('deleteType');
                    },
                    functionIfError : function (err) {
                        self.unload('deleteType');

                    }
                })
            }
        }
    }
</script>