<template>
    <span>{{minute<10?'0'+minute:minute}}:{{ second<10?'0'+second:second }}</span>
</template>
<script>
    export default {
        props : ['time'],
        data : function () {
            return {
                miliseconds : 0,
                minute: 0,
                second :0,
            }
        },
        mounted : function () {
            let self = this;
            this.miliseconds = this.time;
            let itv = setInterval(function(){
                if(self.miliseconds>999){
                    self.miliseconds -= 1000;
                    self.minute = Math.floor(self.miliseconds/60000);
                    self.second = Math.floor((self.miliseconds%60000)/1000);
                }else{
                    self.miliseconds -= 0;
                    self.minute = 0;
                    self.second = 0;
                }
                if(self.miliseconds<1000){
                    clearInterval(itv);
                    setTimeout(function () {
                        self.$emit('end');
                    },2000);

                }
            },1000);
        },
        methods : {
            reset : function () {
                let self = this;
                self.miliseconds = self.time;
            }
        },
        watch: {
            time : function (newVal) {
                this.reset();
            }
        }
    }
</script>