<template>
    <el-popover placement="top" width="100%" v-model="visible" @show="show">
        <el-input placeholder="Nhập số" class="w-100 q-focus" :value="value" @input="emit"></el-input>
        <input type="text" :class="inputClass" readonly slot="reference" :value="value|number">
    </el-popover>
</template>
<script>
    export default {
        props : ['value','inputClass'],
        data : function () {
            return {
                visible : false
            }
        },
        methods : {
            show : function () {
                setTimeout(function () {
                    $('body').find('.q-focus input').focus();
                },200);
            },
            emit : function (event) {
                let number = 0;
                if(event){
                    number = func.strToNumber(event);
                }
                this.$emit('input',number);
            }
        }
    }
</script>