<template>
    <input type="text" class="text-right" :value="value|number" @input="change($event)" pattern="^[0-9_.,]+$">
</template>
<script>
    export default {
        props : ['value'],
        methods : {
            change : function (event) {
                let value = event.target.value;
                let number = 0;
                if(value){
                    number = func.strToNumber(value);
                }else{
                    number=0;
                }
                this.$emit('input',parseFloat(number));
            },
        },
    }
</script>