<template>
    <div :class="{ 'input__mention--small': size == 'small', 'input__mention--medium': size == 'medium', 'input__mention--mini': size == 'mini' }">
        <vue-tribute v-if="type == 'input'" :options="options">
            <input
                type="text"
                :size="size"
                @input="handleInput"
                :placeholder="placeholder"
                @tribute-no-match="noMatchFound"
                ref="editor"/>
        </vue-tribute>
        <vue-tribute v-if="type == 'textarea'" :options="options">
            <textarea 
                :size="size"
                @input="handleInput"
                :placeholder="placeholder"
                @tribute-no-match="noMatchFound"
                ref="editor">
            </textarea>
        </vue-tribute>    
        <div class="menu-container"></div>
    </div>
</template>

<script>
import VueTribute from 'vue-tribute'

export default {
  components: {
    VueTribute
  },
  props: {
    value: {
        default: '',
        type: String
    },
    size: {
        type: String
    },
    placeholder: {
        default: '',
        type: String
    },
    type: {
        default: 'input',
        value: String
    },
    mentions: {
        default: function() {
            return []
        },
        value: Array
    },
    trigger: {
        default: "$",
        value: String
    }
  },
  data() {
      return {
        options: {
            trigger: this.trigger,
            values: this.mentions,
            positionMenu: true,
            menuContainer: document.querySelector(".menu-container")
        }
      }
  },
  mounted() {
    this.$refs.editor.value = this.value
    this.options.menuContainer = this.$refs.menuContainer;
  },
  methods: {
    noMatchFound() {
        console.log("No matches found!");
    },
    handleInput(e) {
        this.$emit('input', e.target.value)
    }
  },
  watch: {
      value: function(value) {
          this.$refs.editor.value = value
      }
  }

}
</script>

<style scoped>
input {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
textarea {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
textarea:focus,
input:focus {
    border-color: #409EFF;
    outline: 0;
}
.input__mention--medium input {
    height: 36px;
    line-height: 36px;
}

.input__mention--small input {
    height: 32px;
    line-height: 32px;
}

.input__mention--mini input {
    height: 28px;
    line-height: 28px;
}
</style>