<template>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="chon-ngon-ngu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{lang|uppercase}}</a>
        <ul class="dropdown-menu" aria-labelledby="chon-ngon-ngu">
            <template v-for="(l,key) in langs">
                <li role="presentation"><button class="dropdown-item" :class="[lang==key?'active':'']" @click="callSetLangActions(key)">{{l}}</button></li>
            </template>
        </ul>
    </li>
</template>

<script>
    export default {
        data: () => ({
            langs : {
                vi : 'Vietnamese',
                en : 'English',
            },
            lang : (func.getConfigWeb('lang')||'vi'),
        }),
        methods: {
            callSetLangActions (value) {
                this.lang = value;
                func.setConfigWeb({lang:value});
                this.$store.dispatch('setLang', value);
                return false;
            },
        }
    }
</script>