<template>
    <div class="dropdown-q">
        <div :class="['cursor-pointer','dropdown-q-label',labelClass,size]">
            <div class="row position-relative el-open-close no-gutters" @click="open?closeBox():openBox()">
                <div class="col" v-if="value">
                    <template v-if="multiple">
                        <template v-for="val in value">
                            <span class="selected-q-option">{{ val&&label&&val[label]?val[label] : '' }} <i
                                    class="fa fa-eye" v-show="view" @click.stop="$emit('view',val)"></i> <i
                                    class="fa fa-times" @click.stop="remove(val)"></i></span>
                        </template>
                    </template>
                    <template v-else>{{label&&value[label]?value[label] : ''}}</template>
                </div>
                <div class="col" v-if="!value"><span style="color:#000;opacity: 0.5">{{placeholder||'lựa chọn'}}</span></div>
                <div style="position: absolute;right:-20px">
                    <i class="fa fa-caret-down"></i>&nbsp;
                    <i class="fa fa-times text-danger" v-show="value&&allowEmpty" @click.stop="$emit('input',null)"></i>
                </div>
            </div>
        </div>
        <div class="dropdown-q-content" v-show="open">
            <div class="w-100 position-relative">
                <input style="min-width: 175px" type="text" class="form-control dropdown-q-input-search" placeholder="Search..." @click.stop v-model="keyword">
                <div class="position-absolute" v-if="loading" style="top:5px;right:10px"><div class="q-select-loader"></div></div>
            </div>
            <p v-show="options&&options.length<=0&&!loading" href="#">Không có lựa chọn nào.</p>
            <div class="dropdown-q-item">
                <template v-for="option in options">
                    <p v-show="(option&&option[label]?option[label]:'').normalize().removeUnicode().indexOf(keyword.normalize().removeUnicode())!=-1" :class="[isSelected(option)?'selected':'']" @click="isSelected(option)?remove(option):push(option)">{{option&&option[label]?option[label]:''}}</p>
                </template>
                <div class="w-100 text-center font-weight-bold" v-if="loading">loading...</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props : {
            labelClass : {
                type : String,
                default : '',
            },
            inputClass : {
                type : String,
                default : '',
            },
            placeholder : {
                type : String,
                default : '',
            },
            trackBy : {
                type : String,
                default : 'id'
            },
            label : {
                type : String,
                default : '',
            },
            multiple : {
                type : Boolean,
                default : false,
            },
            loadMore : {
                type : Boolean,
                default : false,
            },
            allowEmpty : {
                type : Boolean,
                default : false,
            },
            loading : {
                type : Boolean,
                default : false,
            },
            delaySearch : {
                type : Number,
                default : 300,
            },
            options : {
                type : [Object,Array],
                default : function () {
                    return []
                }
            },
            value : {
                type : [Object,Array],
                default : function () {
                    return null;
                }
            },
            view: {
                type: Boolean,
                default: false,
            },
            size : {
                type : String,
                default : '',
            },
        },
        data : function () {
            return {
                keyword : '',
                open : false
            }
        },
        mounted : function () {
            let self = this;
            $(document).on('click',function () {
                self.closeBox();
            })
            $(this.$el).find('.dropdown-q-item').scroll(function() {
                let el = $(this).get(0);
                if(el.scrollTop + el.clientHeight >= el.scrollHeight) {
                    // do the lazy loading here
                    if(self.loadMore){
                        self.$emit('scroll-load',self.keyword);
                    }
                }
            });
        },
        methods : {
            openBox : function () {
                let self = this;
                setTimeout(function () {
                    self.open =true;
                    self.$emit('open');
                    setTimeout(function () {
                        $(self.$el).find('input').focus();
                    },100);
                },100);
            },
            closeBox : function () {
                this.open = false;
                this.keyword = '';
            },
            isSelected : function (item) {
                let self = this;
                let result = false;
                if(self.value){
                    if(self.multiple){
                        let index = _.findIndex(self.value,function (v) {
                            return v[self.trackBy] === item[self.trackBy]
                        });
                        result = index === -1? false:true;
                    }else if(self.value[self.trackBy] === item[self.trackBy]){
                        result = true;
                    }
                }
                return result;
            },
            push : function (item) {
                let result = item;
                if(this.multiple){
                    result = _.cloneDeep(this.value?this.value:[]);
                    result.push(item);
                }
                this.$emit('input',result);
            },
            remove : function (item) {
                let self = this;
                let result = null;
                if(this.multiple){
                    let vls = _.remove(self.value,function (v) {
                        return v[self.trackBy] !== item[self.trackBy]
                    });
                    result = vls.length<=0?null:vls;
                }
                this.$emit('input',result);
            },
            search : _.debounce(function () {
                if(this.open){
                    this.$emit('search',this.keyword);
                }
            },300),
        },
        watch : {
            keyword : function () {
                this.search();
            }
        }
    }
</script>
<style>
    .dropdown-q-label {
        background: #fff;
        border: 1px solid #DCDFE6;
        border-radius: 0.25rem;
        padding: 4px 24px 4px 4px;
        font-size: 0.9rem;
        line-height: 2.1;
    }
    .dropdown-q-label.mini {
        font-size: 0.7875rem;
        line-height: 1.4;
    }
    .dropdown-q-label-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.7875rem;
        line-height: 1.2;
        border-radius: 0.2rem ;
    }
    .dropdown-q-input-search {
        border : none;
    }
    .dropdown-q-input-search:hover,.dropdown-q-input-search:focus{
        box-shadow : none;
    }
    .dropdown-q {
        position: relative;
        display: inline-block;
    }
    .dropdown-q-item{
        width:100%;
        max-height : 50vh;
        overflow: auto;
    }
    .dropdown-q-content {
        min-width:100%;
        position: absolute;
        background-color: #f6f6f6;
        border: 1px solid #ddd;
        z-index: 1;
        font-weight: 500;
    }

    .dropdown-q-content p {
        cursor: pointer;
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
    }

    .dropdown-q-content p.selected {
        background: #41b883;
        color: #fff;
        font-weight: bold;
    }
    .dropdown-q-item p.selected:hover {background-color: #ff6a6a;}
    .dropdown-q-item p:not(.selected):hover {background-color: #ddd;}
    .selected-q-option {
        white-space: nowrap;
        background: #41b883;
        margin-right:5px;
        color : #fff;
        padding:2px 5px;
        border-radius: 6px;
    }
    .selected-q-option i:hover {
        color : #ff6a6a;
    }

    .q-select-loader {
        display: inline-block;
        border: 3px solid #f3f3f3;
        border-radius: 50%;
        border-top: 3px solid #3498db;
        width: 20px;
        height: 20px;
        -webkit-animation: spinLoader 2s linear infinite; /* Safari */
        animation: spinLoader 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spinLoader {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spinLoader {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>