<template>
    <div style="border: 1px solid #ddd">
        <div class="tags" style="border-bottom: 1px solid #ddd;padding: 8px;background: #eee">
            <template v-for="(tag , t) in tags">
                <el-button size="mini" @click="addTag(t)">{{tag.label}}</el-button>&nbsp;
            </template>
        </div>
        <div class="content" contenteditable="true" style="padding: 8px">

        </div>
    </div>
</template>
<script>
    export default {
        // props : ['tags'],
        data : function () {
            return {
                tags : [
                    {label : 'SDT',value : '${phoneNumber}',name : 'phoneNumber'},
                    {label : 'Họ tên',value : '${fullName}',name : 'fullName'},
                    {label : 'Mã vé',value : '${ticketCode}',name : 'ticketCode'},
                ]
            }
        },
        mounted : function () {
            $(document).on('click', '.remove-tag', function () {
                $(this).parent().parent().remove();
            });
        },
        methods : {
            pasteHtmlAtCaret: function(html){
                var sel, range;
                if (window.getSelection) {
                    sel = window.getSelection();
                    if (sel.getRangeAt && sel.rangeCount) {
                        range = sel.getRangeAt(0);
                        range.deleteContents();
                        var el = document.createElement("div");
                        el.innerHTML = html;
                        var frag = document.createDocumentFragment(), node, lastNode;
                        while ( (node = el.firstChild) ) {
                            lastNode = frag.appendChild(node);
                        }
                        range.insertNode(frag);
                        if (lastNode) {
                            range = range.cloneRange();
                            range.setStartAfter(lastNode);
                            range.collapse(true);
                            sel.removeAllRanges();
                            sel.addRange(range);
                        }
                    }
                } else if (document.selection && document.selection.type != "Control") {
                    document.selection.createRange().pasteHTML(html);
                }
            },
            addTag : function(index){
                let tag = this.tags[index];
                let htmlTag = '<div class="tag-repo ' + tag.name + '">' + tag.label + '<span class="fa fa-times text-danger remove-tag"></span></div>&nbsp;';
                $(this.$el).find('.content').focus();
                this.pasteHtmlAtCaret(htmlTag);
            },
        }
    }
</script>
<style>
    .tag-repo {
        display: inline-block;
    }
</style>