<template>
    <div class="row" style="margin-bottom: 70px">
        <div class="col-12 title">
            <div class="row no-gutters">
                <div class="col">
                    {{$t('list-phone-number')}}
                </div>
                <div class="col-auto">
<!--                    <button class="btn btn-success btn-sm" @click="createTelecomCompany()"><i class="fa fa-plus-circle"></i> Tạo nhà cung cấp</button>-->
                    <button class="btn btn-success btn-sm" @click="openModalAddTelecomNumber()" v-if="$root.isAdmin()"><i class="fa fa-plus-circle"></i> {{$t('add-phone-number')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8 col-md-3 form-group">
                    <label class="font-weight-normal">{{$t('telephone-number')}}</label>
                    <input type="text" class="form-control" v-model="telecomNumber">
                </div>
                <div class="col-4 col-md-3">
                    <label class="font-weight-normal">&nbsp;</label>
                    <button class="btn btn-primary btn-block text-uppercase" @click="getTelecomNumbers()">{{$t('search-telephone-number')}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 top10" v-if="telecomNumbers">
            <table class="table table-sm table-striped table-respon">
                <thead>
                <tr>
                    <th width="50" class="text-center">{{$t('No-')}}</th>
                    <th>{{$t('telephone-number')}}</th>
                    <th>{{$t('configuration-string')}}</th>
                    <th class="text-right">{{$t('option')}}</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(telecom,t) in telecomNumbers">
                    <tr>
                        <td class="text-center">{{t+1 + page*count}}</td>
                        <td>{{telecom.number}}</td>
                        <td style="width:60%; word-break: break-all;">{{telecom.telecomConfig}}</td>
                        <td class="text-right">
                            <button class="btn btn-sm btn-info" :title="$t('update-telephone-number')" @click="openModalUpdateTelecomNumber(telecom)" v-if="$root.isAdmin()" data-toogle="tooltip"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-sm btn-danger" :title="$t('delete-telephone-number')" data-toogle="tooltip" @click="deleteTelecomNumber(telecom.id)" v-if="$root.isAdmin()"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-outline-dark" :disabled="page<=0" @click="getTelecomNumbers('minus')"><< {{$t('page')}} {{page>0?page:1}}</button>
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-outline-dark" @click="getTelecomNumbers('plus')">{{$t('page')}} {{page+2}} >></button>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalAddTelecomNumber" tabindex="-1" role="dialog" aria-labelledby="modalAddTelecomNumber" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('add-phone-number')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <add-telecom-number :telecomCompanys="telecomCompanys" ref="AddTelecomNumberCompany" @event="eventAddTelecomNumber"></add-telecom-number>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.AddTelecomNumberCompany.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalUpdateTelecomNumber" tabindex="-1" role="dialog" aria-labelledby="modalUpdateTelecomNumber" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">{{$t('edit-telephone-number')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:0.5rem">
                        <update-telecom-number :telecomCompanys="telecomCompanys" ref="UpdateTelecomNumberComponent" @event="eventUpdateTelecomNumber"></update-telecom-number>
                    </div>
                    <div class="modal-footer bg-anvui" style="padding:0.5rem 1rem">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="$refs.UpdateTelecomNumberComponent.save()"><i class="fa fa-save"></i> {{$t('button.save')}}</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal"><i class="fa fa-close"></i> {{$t('button.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AddTelecomNumber from './AddTelecomNumber';
    import UpdateTelecomNumber from './UpdateTelecomNumber';

    export default {
        components : {AddTelecomNumber,UpdateTelecomNumber},
        data : function () {
            return {
                telecomNumber : '',
                telecomNumbers : null,
                page : 0,
                count : func.countSearch(),
                telecomCompanys : [],
            }
        },
        mounted: function(){
            this.getTelecomNumbers();
            this.getTelecomCompanys();
        },
        methods : {
            getTelecomNumbers : function (typePage) {
                let self = this;
                if(typePage){
                    switch (typePage) {
                        case 'plus' :
                            self.page++;
                            break;
                        case 'minus' :
                            if(self.page>0){
                                self.page--;
                            }
                            break;
                        default :
                            break;
                    }
                }else{
                    self.page=0;
                }
                self.load('getTelecomNumbers');
                let dataReq = {
                    page : self.page,
                    count : self.count,
                    telecomNumber : self.telecomNumber,
                };
                sendJson({
                    url : urlDBD(API.telecomList),
                    data : dataReq,
                    success : function (data) {
                        self.telecomNumbers = data.results.result;
                        self.unload('getTelecomNumbers');
                    },
                    functionIfError : function (data) {
                        self.unload('getTelecomNumbers');
                    }
                });
            },
            getTelecomCompanys : function(){
                let self = this;
                self.load('getTelecomCompanys');
                sendJson({
                    url : urlDBD(API.telecomCompanyList),
                    success : function (data) {
                        self.telecomCompanys = data.results.result;
                        self.unload('getTelecomCompanys');
                    },
                    functionIfError : function (res) {
                        self.unload('getTelecomCompanys');
                    }
                })
            },
            openModalAddTelecomNumber : function () {
                $(this.$el).find('#modalAddTelecomNumber').modal('show');
            },
            openModalUpdateTelecomNumber : function (telecomNumber) {
                this.$refs.UpdateTelecomNumberComponent.refresh(telecomNumber);
                $(this.$el).find('#modalUpdateTelecomNumber').modal('show');
            },
            lockUser : function(id){
                let self = this;
                self.load('lockUser');
                sendJson({
                    url : urlDBD(API.userLock),
                    data : {
                        userId : id
                    },
                    success : function(res){
                        notify(self.$t('notify.execute-success'),'success');
                        self.unload('lockUser');
                        self.getTelecomNumbers('refresh');
                    },
                    functionIfError : function(err){
                        self.unload('lockUser');
                    }
                })
            },
            deleteTelecomNumber : function(id){
                let self = this;
                if(!confirm(self.$t('notify.confirm-delete-telecom-number'))){
                    return false;
                }
                self.load('deleteTelecomNumber');
                sendJson({
                    url : urlDBD(API.telecomDelete),
                    data : {
                        id : id
                    },
                    success : function(res){
                        notify(self.$t('notify.delete-success'),'success');
                        self.unload('deleteTelecomNumber');
                        self.getTelecomNumbers('refresh');
                    },
                    functionIfError : function(err){
                        self.unload('deleteTelecomNumber');
                    }
                })
            },
            eventAddTelecomNumber : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalAddTelecomNumber').modal('hide');
                        self.getTelecomNumbers('refresh');
                        break;
                    default :
                        break;
                }
            },
            eventUpdateTelecomNumber : function (data) {
                let self = this;
                switch (data.eventName) {
                    case 'saveSuccess' :
                        $(this.$el).find('#modalUpdateTelecomNumber').modal('hide');
                        self.getTelecomNumbers('refresh');
                        break;
                    default :
                        break;
                }
            },
            createTelecomCompany : function () {
                sendJson({
                    url : urlDBD(API.telecomCompanyCreate),
                    data : {
                        telecomApiUrl: "dial.voip24h.vn",
                        telecomCompanyName: "Voip24h",
                        telecomType: 1
                    }
                })
            }
        }
    }
</script>