<template>
    <div class="q-telecom" :class="{'open':open}" v-if="listPhone&&listPhone.length>0">
        <div class="q-telecom-header bg-anvui size20">
            <div class="row">
                <div class="col-auto">
                    <select v-model="phoneSelected">
                        <option :value="null">{{$t('select-telephone')}}</option>
                        <template v-for="(p,k) in listPhone">
                            <option :value="p">{{ p.number }}</option>
                        </template>
                    </select>
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-outline-primary" @click="open=!open"><i class="fa" :class="[open?'fa-chevron-down':'fa-chevron-up']"></i></button>
                </div>
            </div>
        </div>
        <div class="q-telecom-body">
            <div class="w-100" v-show="tabActive=='call'">
                <div class="infoTeleCom">
                    <h4 class="text-center bg-e padding5" v-show="phoneNumber">{{ phoneNumber }}</h4>
                    <div v-if="!customerInfo" v-show="status!='EMPTY'">
                        {{$t('guest')}}
                    </div>
                    <div v-else>
                        <template v-if="customerInfo.tickets&&customerInfo.tickets[0]">
                            <div class="col-md-12 text-center" style="text-transform: uppercase;font-size: 16px;">
                                <strong v-if="customerInfo.tickets[0]">{{ phoneNumber == customerInfo.tickets[0].ordererPhoneNumber ? (customerInfo.tickets[0].orderer||customerInfo.tickets[0].fullName) : customerInfo.tickets[0].fullName }}</strong>
                            </div>
                            <div>{{ customerInfo.tickets[0].routeInfo?customerInfo.tickets[0].routeInfo.name:'' }} / <strong>{{ customerInfo.tickets[0].getInTimePlan|customDate('#DD#-#MM#-#YYYY# #hhhh#:#mm#',true) }}</strong></div>
                            <div>
                                {{ customerInfo.tickets[0].pointUp.name }} - {{ customerInfo.tickets[0].pointDown.name }}
                            </div>
                            <div>{{$t('booked')}} : <strong class="text-success"> {{ customerInfo.companyCustomer.numberOfTickets }}</strong> , {{$t('canceled')}} : <strong class="text-danger">{{ customerInfo.companyCustomer.numberCancelTicket }}</strong></div>
                            <div>
                                {{$t('seat')}} : {{ customerInfo.tickets[0].seat?customerInfo.tickets[0].seat.seatId:'' }}
                                &nbsp;<span class="fa fa-external-link-alt" @click="goToTicket(customerInfo.tickets[0])"></span>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="actionTelecom" style="padding:10px">
                    <div class="row">
                        <div class="col" v-show="status==='RINGING_IN'">
                            <button class="btn btn-block btn-success" @click="sendTelecomCompany('ANSWER')"><i class="fa fa-phone"></i> {{$t('reply')}}</button>
                        </div>
                        <div class="col" v-show="status==='RINGING_IN'">
                            <button class="btn btn-block btn-danger" @click="sendTelecomCompany('REJECT')"><i class="fa fa-phone"></i> {{$t('refuse')}}</button>
                        </div>
                        <div class="col" v-show="status==='LISTENING_IN'">
                            <button class="btn btn-block btn-danger" @click="sendTelecomCompany('END_ANSWER')"><i class="fa fa-phone"></i> {{$t('finish')}}</button>
                        </div>
                        <div class="col" v-show="status==='EMPTY'||status==='RINGING_OUT'||status==='LISTENING_OUT'">
                            <input type="text" class="form-control" :placeholder="$t('enter-phone-number')" v-model="phoneNumber">
                            <button class="btn btn-block btn-success top10" v-show="status==='EMPTY'" @click="sendTelecomCompany('CALL')"><i class="fa fa-phone"></i> {{$t('call')}}</button>
                            <button class="btn btn-block btn-danger top10" v-show="status==='LISTENING_OUT'||status==='RINGING_OUT'" @click="sendTelecomCompany('END_CALL')"><i class="fa fa-phone"></i> {{$t('finish')}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100" v-show="tabActive=='history'" v-if="phoneSelected!==null">
                <mitex :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC07g1pvaUTVFRuO'"></mitex>
                <cloud-phone :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC0HO1tll9Fd54Wm'"></cloud-phone>
                <care :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC07P1ponfPZSceO'"></care>
                <vcc :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC06z1peVXFpIAXd'"></vcc>
                <tri-anh :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC06I2JslMujIwm'"></tri-anh>
                <vht :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC0Ba1rTHl4jrl9p'"></vht>
                <south :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC0CZ1rrQOqPawHA'"></south>
                <ntt :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC06I2JslovcpeG'" :status="status"></ntt>
                <voice-cloud :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC0Dj1sK195jctd6'" :status="status"></voice-cloud>
                <voip24h :phoneSelected="phoneSelected" v-if="phoneSelected.telecomCompanyId=='TC0Gf1tTxhLCO9PI'" :status="status"></voip24h>
            </div>
        </div>
        <div class="q-telecom-footer" style="line-height: 35px;">
            <div class="row no-gutters">
                <div class="col border text-center" :class="[tabActive=='call'?'bg-anvui text-white':'']" @click="tabActive='call'">
                    <i class="fa fa-phone"></i> {{$t('called')}}
                </div>
                <div class="col border text-center" :class="[tabActive=='history'?'bg-anvui text-white':'']" @click="tabActive='history'">
                    <i class="fa fa-book"></i> {{$t('diary')}}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Mitex from './TelCompany/Mitex.vue';
    import Care from './TelCompany/Care.vue';
    import Vcc from './TelCompany/Vcc.vue';
    import TriAnh from './TelCompany/TriAnh.vue';
    import Vht from './TelCompany/Vht.vue';
    import South from './TelCompany/South.vue';
    import Ntt from './TelCompany/Ntt.vue';
    import VoiceCloud from './TelCompany/VoiceCloud.vue';
    import Voip24h from './TelCompany/Voip24h.vue';
    import CloudPhone from './TelCompany/CloudPhone.vue';

    import {mapState} from 'vuex'
    // import CloudPhone from "./TelCompany/CloudPhone";
    //    trạng thái : status
// free : "EMPTY",
// đang ring cuojc gọi đến : "RINGING_IN",
// đang ghe gọi đến : "LISTENING_IN",
// đang ring cuojc gọi đi : "RINGING_OUT",
// đang gnhe gọi đi : "LISTENING_OUT"
    export default {
        components : {Voip24h, Mitex,Care,TriAnh,Vht,Vcc,South,Ntt,VoiceCloud,CloudPhone},
        data : function () {
            return {
                tabActive: 'call',
                connect : null,
                listPhone : [],
                phoneSelected : null,
                status : "EMPTY",
                open : false,
                customerInfo : null,
                phoneNumber : '',// số điện thoại gọi ra hoặc gọi vào
            }
        },
        created : function () {
            let self = this;
            this.getListPhone();
            this.$root.$on('telecom',function (data) {
                console.log(data);
                self.tabActive='call';
                switch (data.event){
                    case 'RINGING_IN' :
                        if(self.status ==='LISTENING_IN'||self.status ==='LISTENING_OUT'||self.status!='EMPTY'){
                            break;
                        }
                        self.status = 'RINGING_IN';
                        self.getCustomerByPhone(data.phoneNumber);
                        self.phoneNumber = data.phoneNumber;
                        self.open= true;
                        break;
                    case 'LISTENING_IN' :
                        self.status = 'LISTENING_IN';
                        if(data.phoneNumber && self.phoneSelected && self.phoneSelected.telecomCompanyId=='TC0CZ1rrQOqPawHA'){//south
                            self.phoneNumber = data.phoneNumber;
                            self.getCustomerByPhone(data.phoneNumber);
                        }
//                        self.phoneNumber = data.phoneNumber;
                        break;
                    case 'RINGING_OUT' :
                        self.status = 'RINGING_OUT';
                        self.phoneNumber = data.phoneNumber;
                        self.getCustomerByPhone(data.phoneNumber);
                        self.open= true;
                        break;
                    case 'LISTENING_OUT' :
//                        self.phoneNumber = data.phoneNumber;
                        self.status = 'LISTENING_OUT';
                        break;
                    case 'CALL_TO_PHONE' :
                        if(self.phoneSelected){
                            self.tabActive='call';
                            self.open=true;
                            self.phoneNumber = data.phoneNumber;
                            self.sendTelecomCompany('CALL');
                        }
                        break;
                    default :
                        self.customerInfo= null;
                        self.$root.ticketSample = null;
                        self.$store.commit('SET_TICKET_SAMPLE',null);
                        self.status = 'EMPTY';
                        // self.open= false;
                        break;
                }
            });
        },
        computed: {
            ...mapState({
                sellForm: state => state.sellForm,
            }),
        },
        methods : {
            getListPhone : function () {
                let self = this;
                // self.load("getListPhone");
                sendJson({
                    url : urlDBD(API.telecomList),
                    data : {
                        page :0,
                        count : func.count50(),
                    },
                    success : function (res) {
                        self.setListPhone(res.results.result);
                        self.unload("getListPhone");
                    },
                    functionIfError : function (err) {
                        self.unload("getListPhone");
                    }
                })
            },
            setListPhone : function (listPhone) {
                let self = this;
                let lp = [];
                $.each(listPhone,function (k,v) {
                    try {
                        v.telecomConfig = JSON.parse(v.telecomConfig);
                        lp.push(v);
                        if(v.number === localStorage.getItem('telecomNumber')){
                            self.phoneSelected = v;
                        }
                    }catch (e) {
                        console.log("chuỗi cấu hình "+v.number +" không đúng định dạng : "+ v.telecomConfig);
                    }
                });
                this.listPhone=lp;
            },
            getCustomerByPhone : function (phoneNumber) {
                let self = this;
                self.$root.ticketSample = {
                    phoneNumber : phoneNumber,
                };
                self.$store.commit('SET_TICKET_SAMPLE',{
                    phoneNumber : phoneNumber,
                    calling : true
                });
                sendJson({
                    url : urlDBD(API.searchByPhoneNumber),
                    data : {
                        page : 0,
                        count : 5,
                        phoneNumber : phoneNumber
                    },
                    success : function (data) {
                        console.log(data);
                        try {
                            self.customerInfo=data.results.customer[0];
                            if(data.results.customer[0].tickets[0]){
                                self.$root.ticketSample = data.results.customer[0].tickets[0];
                                let tk = data.results.customer[0].tickets[0];
                                tk.calling = true;
                                self.$store.commit('SET_TICKET_SAMPLE',tk);
                            }else{
                                let tk = {
                                    phoneNumber : data.results.customer[0].companyCustomer.phoneNumber,
                                    fullName : data.results.customer[0].companyCustomer.fullName,
                                    calling : true
                                };

                                self.$root.ticketSample = tk;
                                self.$store.commit('SET_TICKET_SAMPLE',tk);
                            }
                        }catch(e){
                            console.warn(e);
                            self.customerInfo= null;
                            self.$root.ticketSample = {
                                phoneNumber : phoneNumber,
                            };
                            self.$store.commit('SET_TICKET_SAMPLE',{
                                phoneNumber : phoneNumber,
                                calling :true
                            });
                        }

                    },
                });
            },
            sendTelecomCompany :function (event) {
                let self = this;
                if(self.phoneSelected===null){
                    notify(self.$t('notify.plz-select-telecom-number'),'warning');
                }
                switch(event){
                    case 'ANSWER' :
                        self.status = 'LISTENING_IN';
                        break;
                    case 'REJECT' :
                        self.status = 'EMPTY';
                        // notify(self.$t('notify.function-developping'));
                        break;
                    case 'END_ANSWER' :
                        self.$root.ticketSample = null;
                        self.$store.commit('SET_TICKET_SAMPLE',null);
                        self.status = 'EMPTY';
                        break;
                    case 'CALL' :
                        self.status = 'RINGING_OUT';
                        self.getCustomerByPhone(self.phoneNumber);
                        break;
                    case 'END_CALL' :
                        self.phoneNumber = '';
                        self.$root.ticketSample = null;
                        self.$store.commit('SET_TICKET_SAMPLE',null);
                        self.customerInfo = null;
                        self.status = 'EMPTY';
                        break;
                    default :
                        console.log(data);
                        break;
                }
                this.$root.$emit('telecomCompany',{
                    event : event,
                    phoneNumber : self.phoneNumber,
                });
            },
            goToTicket :function (ticket) {
                let data = {
                    tripId : ticket.tripId,
                    routeId : ticket.routeInfo.id,
                    startPointId : ticket.pointUp.id,
                    endPointId : ticket.pointDown.id,
                    ticketId : ticket.ticketId,
                    ticketStatus : ticket.ticketStatus,
                    floor : ticket.seat.floor,
                }
                data.date = this.$options.filters.customDate(ticket.getInTimePlan,'#DD#-#MM#-#YYYY#',true);
                func.setHistory(data);
                this.$store.commit(this.sellForm + '/SET_TICKET_SCROLL', ticket);
                if (this.$route.name === this.sellForm) {
                    this.$store.dispatch(this.sellForm + '/INIT');
                }else{
                    this.$router.push({name: this.sellForm});
                }
            }
        },
        watch : {
            phoneSelected : function (data) {
                let param = {
                    id : this.phoneSelected.id,
                    userId : window.userInfo.userInfo.id
                }
                sendJson({
                    type: 'POST',
                    url : 'https://ticket-dot-dobody-anvui.appspot.com/branch_telecom/update',
                    data: param,
                    success: function (data) {
                    },
                    error: function () {
                    }
                })
                if(data===null){
                    this.$root.$emit('telecomCompany',{
                        event : 'LOGOUT',
                        phoneSelected : this.phoneSelected,
                    });
                    localStorage.setItem('telecomNumber','');
                }else {
                    this.$root.$emit('telecomCompany',{
                        event : 'LOGIN',
                        phoneSelected : this.phoneSelected,
                    });
                    localStorage.setItem('telecomNumber',data.number);
                }
            }
        }
    }
</script>
