<template>
    <div class="row">
        <div class="col-12 form-group">
            <label class="font-weight-normal">{{$t('supplier')}}</label>
            <select class="form-control" v-model="telecomCompanyId">
                <template v-for="(tc,index) in telecomCompanys">
                    <option :value="tc.telecomCompanyId">{{tc.telecomCompanyName}}</option>
                </template>
            </select>
        </div>
        <div class="col-12 form-group">
            <label class="font-weight-normal">{{$t('telephone-number')}}</label>
            <input type="text" v-model="number" class="form-control">
        </div>
        <div class="col-12 form-group">
            <label class="font-weight-normal">{{$t('configuration-string')}}</label>
            <textarea class="form-control" rows="3" v-model="telecomConfig"></textarea>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['telecomCompanys'],
        data(){
            return {
                telecomCompanyId : null,
                number : '',
                telecomConfig : '',
                id : '',
            }
        },
        methods : {
            refresh : function(telecom){
                let self = this;
                self.id=telecom.id;
                self.telecomCompanyId=telecom.telecomCompanyId;
                self.number=telecom.number;
                self.telecomConfig=telecom.telecomConfig;
            },
            save : function () {
                let self = this;
                if(!self.id){
                    notify(self.$t('notify.not-exist-phone-number'),'error');
                    return false;
                }
                if(!self.telecomCompanyId){
                    notify(self.$t('notify.plz-select-supplier'),'error');
                    return false;
                }
                if(!self.number){
                    notify(self.$t('notify.plz-select-telephone-number'),'error');
                    return false;
                }
                if(!self.telecomConfig){
                    notify(self.$t('notify.plz-enter-config-string'),'error');
                    return false;
                }
                self.load('createTelecomNumber')
                sendJson({
                    url : urlDBD(API.telecomUpdate),
                    data : {
                        id : self.id,
                        number : self.number,
                        telecomConfig : self.telecomConfig,
                        telecomCompanyId : self.telecomCompanyId,
                    },
                    success : function (data) {
                        notify(self.$t('notify.execute-success'));
                        self.unload('createTelecomNumber');
                        self.$emit('event',{eventName : 'saveSuccess',data : data});
                    },
                    functionIfError : function (res) {
                        self.unload('createTelecomNumber');
                        self.$emit('event',{eventName : 'saveError',data : res});
                    }
                })
            }
        }
    }
</script>